{
  "swagger": "2.0",
  "info": {
    "title": "Legislation Browse",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. The Legislation Browse API allow access to the statutes and regulations",
    "x-mashery-id": "540"
  },
  "schemes": [
    "http"
  ],
  "host": "api.canlii.org",
  "basePath": "/v1/legislationBrowse",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.canlii.org/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "legislationBrowse"
    }
  ],
  "paths": {
    "/{language}/": {
      "get": {
        "operationId": "GetDatabasesListlegislationBrowse",
        "summary": "List all the databases supported by the API",
        "tags": [
          "legislationBrowse"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "Language selection.",
            "in": "path",
            "required": true,
            "enum": [
              "en",
              "fr"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language}/{databaseid}/": {
      "get": {
        "operationId": "GetLegislationListlegislationBrowse",
        "summary": "List all the legislation within a database",
        "tags": [
          "legislationBrowse"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "Language selection.",
            "in": "path",
            "required": true,
            "enum": [
              "en",
              "fr"
            ]
          },
          {
            "name": "databaseid",
            "type": "string",
            "description": "Unique identifier of a database as provided in the database list.",
            "in": "path",
            "required": true,
            "default": "car"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language}/{databaseid}/{legislationid}/": {
      "get": {
        "operationId": "GetLegislationMetadatalegislationBrowse",
        "summary": "Get the metadata for a given legislation",
        "tags": [
          "legislationBrowse"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "Language selection.",
            "in": "path",
            "required": true,
            "enum": [
              "en",
              "fr"
            ]
          },
          {
            "name": "databaseid",
            "type": "string",
            "description": "Unique identifier of a database as provided in the database list.",
            "in": "path",
            "required": true,
            "default": "car"
          },
          {
            "name": "legislationid",
            "type": "string",
            "description": "Unique identifier of a legislation as provided in the legislation list.",
            "in": "path",
            "required": true,
            "default": "si-2005-87"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}