{
  "swagger": "2.0",
  "info": {
    "title": "Taxonomy",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.edgar-online.com/iodocs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Provides taxonomy information",
    "x-mashery-id": "6903"
  },
  "schemes": [
    "http"
  ],
  "host": "api.edgar-online.com",
  "basePath": "/taxonomy",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.edgar-online.com/iodocs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Taxonomy Calls"
    }
  ],
  "paths": {
    "/{taxonomyid}/label": {
      "get": {
        "operationId": "GetLabelLinkbaseTaxonomyCalls",
        "summary": "Get Label Linkbase",
        "tags": [
          "Taxonomy Calls"
        ],
        "parameters": [
          {
            "name": "taxonomyid",
            "type": "integer",
            "description": "Specify an integer to return the label linkbase file of the Core Financials taxonomy or of the correct Full Financials taxonomy. The correct Full Financials taxonomy to apply depends upon the company whose filing information is sought. Example: 18 = Commercial and Industrial (CI) label linkbase which applies to companies classified under the CI industry - for example, Microsoft.",
            "in": "path",
            "required": true,
            "enum": [
              "18"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON.",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{taxonomyid}/presentation": {
      "get": {
        "operationId": "GetPresentationLinkbaseTaxonomyCalls",
        "summary": "Get Presentation Linkbase",
        "tags": [
          "Taxonomy Calls"
        ],
        "parameters": [
          {
            "name": "taxonomyid",
            "type": "integer",
            "description": "Specify an integer to return the presentation linkbase file of the Core Financials taxonomy or of the correct Full Financials taxonomy. The correct Full Financials taxonomy to apply depends upon the company whose filing information is sought. Example: 18 = Commercial and Industrial (CI) presentation linkbase which applies to companies classified under the CI industry - for example, Microsoft.",
            "in": "path",
            "required": true,
            "enum": [
              "18"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON.",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{taxonomyid}/calculation": {
      "get": {
        "operationId": "GetCalculationLinkbaseTaxonomyCalls",
        "summary": "Get Calculation Linkbase",
        "tags": [
          "Taxonomy Calls"
        ],
        "parameters": [
          {
            "name": "taxonomyid",
            "type": "integer",
            "description": "Specify an integer to return the calculation linkbase file of the Core Financials taxonomy or of the correct Full Financials taxonomy. The correct Full Financials taxonomy to apply depends upon the company whose filing information is sought. Example: 18 = Commercial and Industrial (CI) calculation linkbase which applies to companies classified under the CI industry - for example, Microsoft.",
            "in": "path",
            "required": true,
            "enum": [
              "18"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON.",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{taxonomyid}/attribute": {
      "get": {
        "operationId": "GetFieldAttributesTaxonomyCalls",
        "summary": "Get Field Attributes for Taxonomy Data Context",
        "tags": [
          "Taxonomy Calls"
        ],
        "parameters": [
          {
            "name": "taxonomyid",
            "type": "integer",
            "description": "Specify an integer to return the attribute linkbase file of the Core Financials taxonomy or of the correct Full Financials taxonomy. The correct Full Financials taxonomy to apply depends upon the company whose filing information is sought. Example: 18 = Commercial and Industrial (CI) attribute linkbase which applies to companies classified under the CI industry - for example, Microsoft.",
            "in": "path",
            "required": true,
            "enum": [
              "18"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON.",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}