{
  "swagger": "2.0",
  "info": {
    "title": "NCAAMB Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NCAAMB API",
    "x-mashery-id": "1093"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NCAAMB"
    }
  ],
  "paths": {
    "/ncaamb-t3/games/{season_id}/{ncaamb_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNCAAMB",
        "summary": "Get full season schedules for NCAA Mens Basketball...",
        "description": "Get full season schedules for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "ncaamb_season",
            "type": "string",
            "description": "The part of the season, (REG, PST, CT)",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "CT"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleNCAAMB",
        "summary": "Get single day schedules for NCAA Mens Basketball....",
        "description": "Get single day schedules for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "11",
              "12",
              "01",
              "02",
              "03"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/tournaments/{season_id}/{ncaamb_season}/schedule{format}": {
      "get": {
        "operationId": "TournamentListNCAAMB",
        "summary": "Get tournament schedules for NCAA Mens Basketball....",
        "description": "Get tournament schedules for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "ncaamb_season",
            "type": "string",
            "description": "The part of the season, (REG, PST, CT)",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "CT"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleNCAAMB",
        "summary": "Get tournament schedules for NCAA Mens Basketball....",
        "description": "Get tournament schedules for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a given tournament, found in the tournament list feed",
            "in": "path",
            "required": true,
            "default": "608152a4-cccc-4569-83ac-27062580099e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/tournaments/{tournament_id}/summary{format}": {
      "get": {
        "operationId": "TournamentSummary(SeededTournamentsOnly)NCAAMB",
        "summary": "Get tournament summaries for NCAA Mens Basketball ...",
        "description": "Get tournament summaries for NCAA Mens Basketball seeded tournaments.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a given seeded tournament, found in the tournament list feed",
            "in": "path",
            "required": true,
            "default": "608152a4-cccc-4569-83ac-27062580099e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNCAAMB",
        "summary": "Get boxscore data for NCAA Mens Basketball games.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "bb7ec179-6b55-447d-acb0-94176673253c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/polls/{type_id}/{season_id}/rankings{format}": {
      "get": {
        "operationId": "Rankings(CurrentWeek)NCAAMB",
        "summary": "Get current weeks poll rankings for NCAA Mens Bask...",
        "description": "Get current weeks poll rankings for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "type_id",
            "type": "string",
            "description": "The AP or US poll",
            "in": "path",
            "required": true,
            "enum": [
              "AP",
              "US"
            ]
          },
          {
            "name": "season_id",
            "type": "number",
            "description": "The year for the start of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/polls/{type_id}/{season_id}/{ncaamb_week}/rankings{format}": {
      "get": {
        "operationId": "Rankings(ByWeek)NCAAMB",
        "summary": "Get specific weeks poll rankings for NCAA Mens Bas...",
        "description": "Get specific weeks poll rankings for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "type_id",
            "type": "string",
            "description": "The AP or US poll",
            "in": "path",
            "required": true,
            "enum": [
              "AP",
              "US"
            ]
          },
          {
            "name": "season_id",
            "type": "number",
            "description": "The year for the start of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "ncaamb_week",
            "type": "string",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "W2",
              "W3",
              "W4",
              "W5",
              "W6",
              "W7",
              "W8",
              "W9",
              "W10",
              "W11",
              "W12",
              "W13",
              "W14",
              "W15",
              "W16",
              "W17",
              "W18",
              "W19",
              "W20",
              "PST",
              "PSTF"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/polls/rpi/{season_id}/rankings{format}": {
      "get": {
        "operationId": "RPIRankings(Daily)NCAAMB",
        "summary": "Get current RPI poll rankings for NCAA Mens Basket...",
        "description": "Get current RPI poll rankings for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year for the start of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/seasontd/{season_id}/{ncaamb_season}/standings{format}": {
      "get": {
        "operationId": "StandingsNCAAMB",
        "summary": "Get standings information for NCAA Mens Basketball...",
        "description": "Get standings information for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "ncaamb_season",
            "type": "string",
            "description": "The part of the season, Post-season (PST)",
            "in": "path",
            "required": true,
            "enum": [
              "REG"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNCAAMB",
        "summary": "Get the league hierarchy information for NCAA Mens...",
        "description": "Get the league hierarchy information for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile(Rosters)NCAAMB",
        "summary": "Get team rosters for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the league hierarchy feed",
            "in": "path",
            "required": true,
            "default": "c10544de-e3bd-4776-ba2e-83df8c017fd1"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileNCAAMB",
        "summary": "Get player profiles for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of a given player, found in the Rosters feed",
            "in": "path",
            "required": true,
            "default": "737a1703-71aa-445c-957e-64a77d1ebefe"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/games/{game_id}/summary{format}": {
      "get": {
        "operationId": "GameSummaryNCAAMB",
        "summary": "Obtain game summaries for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "bb7ec179-6b55-447d-acb0-94176673253c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "Play-By-PlayNCAAMB",
        "summary": "Get play-by-play detail for NCAA Mens Basketball g...",
        "description": "Get play-by-play detail for NCAA Mens Basketball games.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "bb7ec179-6b55-447d-acb0-94176673253c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/seasontd/{season_id}/{ncaamb_season}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatistics(SeasontoDate)NCAAMB",
        "summary": "Get statistics information for NCAA Mens Basketbal...",
        "description": "Get statistics information for NCAA Mens Basketball.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "ncaamb_season",
            "type": "string",
            "description": "The part of the season, (REG, PST, CT)",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "CT"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "b795ddbc-baab-4499-8803-52e8608520ab"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/seasontd/{season_id}/{ncaamb_season}/{league_id}/leaders{format}": {
      "get": {
        "operationId": "LeagueLeadersNCAAMB",
        "summary": "Get league leaders information for the NCAAMB.",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "ncaamb_season",
            "type": "string",
            "description": "The part of the season (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "league_id",
            "type": "string",
            "description": "League ID found in the hierarchy feed.",
            "in": "path",
            "required": true,
            "default": "a30fe8ff-82d2-4521-bc8d-e08e6a9dbb52"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamb-t3/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNCAAMB",
        "summary": "information on any changes made to teams, players,...",
        "description": "information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "NCAAMB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}