{
  "swagger": "2.0",
  "info": {
    "title": "Basketball - CBK",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "The API calls below can be used to test the Input and Output of our API endpoints.  You'll need an API key and an assigned secret to access the live data and so if you haven't contacted us yet, now is the time!  Our sales staff would be happy to set you up with trial access so you can begin to evaluate the product. CBK - College Basketball",
    "x-mashery-id": "1593"
  },
  "schemes": [
    "http"
  ],
  "host": "api.stats.com",
  "basePath": "/",
  "externalDocs": {
    "description": "After you've been given an API key and secret, enter it below and \"Get\" the method you'd like to try out.  Fill in the parameters with what you'd like to try, or use the built in defaults, and click \"Try It!\" to execute the call.  The JSON or XML response will be populated in the Response Body, the Response Body will provide you with any relevant codes, and the Request Header URI will show you how the call would be made within your application. Please note:Also, endpoints almost always require a final \"/\".  You will receive \"596 Service Not Found\" when it is missing.  An exception to this is for optional methods, such as eventId or teamId.",
    "url": "http://developer.stats.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "CBK - Teams"
    },
    {
      "name": "CBK - Schedules, scores, box scores, play-by-play, shot charts"
    },
    {
      "name": "CBK - Standings"
    },
    {
      "name": "CBK - Participants"
    },
    {
      "name": "CBK - Polls"
    },
    {
      "name": "CBK - Statistics"
    },
    {
      "name": "CBK - Leaders"
    },
    {
      "name": "CBK - Coaches"
    },
    {
      "name": "CBK - Odds"
    },
    {
      "name": "CBK - Stories, Headlines, Images"
    },
    {
      "name": "CBK - Bullets"
    },
    {
      "name": "CBK - Win Probability"
    },
    {
      "name": "CBK - Matchup Gaming"
    },
    {
      "name": "CBK - Decodes"
    },
    {
      "name": "CBK - Optical"
    }
  ],
  "paths": {
    "/stats/basketball/cbk/teams/{teamId}": {
      "get": {
        "operationId": "CBK-TeamsCBK-Teams",
        "summary": "",
        "tags": [
          "CBK - Teams"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "A teamId returns information for that team only.  If entered, then the conferenceId is ignored.",
            "in": "path",
            "required": true
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "A conferenceId returns teams in the selected conference.",
            "in": "query",
            "required": false
          },
          {
            "name": "collegeSubDivisionId",
            "type": "string",
            "description": "Entering a collegeSubDivisionId will return only the teams in that division",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "other"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get team lists for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/events/{eventId}": {
      "get": {
        "operationId": "CBK-IfpermissionedforalleventinformationCBK-Schedules,scores,boxscores,play-by-play,shotcharts",
        "summary": "Access to this events endpoint will provide you wi...",
        "description": "Access to this events endpoint will provide you with the highest level of game data including live scores, box scores, play-by-play, and shot charts.  The box, pbp, & shotChart parameters are only available when a single game is selected.\n Simple schedules are also available via the events endpoint.",
        "tags": [
          "CBK - Schedules, scores, box scores, play-by-play, shot charts"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box, pbp, and shotCharts parameters.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "box",
            "type": "boolean",
            "description": "Returns the box score for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'box=true'.\n  Default - box score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "pbp",
            "type": "boolean",
            "description": "Returns the play-by-play for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'pbp=true'.\n  Default - pbp data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "shotCharts",
            "type": "boolean",
            "description": "Returns the shot charts for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'shotCharts=true'.\n  Default - shot chart data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "A conferenceId returns teams in the selected conference.",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, all games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "top25PollId",
            "type": "integer",
            "description": "If used, will return only games involving top 25 teams for the selected pollId. Only applicable for a single day's games, and therefore must be used in conjunction with the &date paramenter, or the default (current day) call.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "3"
            ]
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "tournamentId",
            "type": "integer",
            "description": "Schedule will be returned for games for this tournament.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n For languageId = 2 only (Spanish), PBP text will also be translated.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/events/teams/{teamId}": {
      "get": {
        "operationId": "CBK-Ifpermissionedforalleventinformation-foroneteamonlyCBK-Schedules,scores,boxscores,play-by-play,shotcharts",
        "summary": "Access to this events endpoint will provide you wi...",
        "description": "Access to this events endpoint will provide you with the highest level of game data including live scores, box scores, play-by-play, and shot charts. However box scores, play-by-play, and shot charts are available for a single game only, and so cannot be accessed here when all events for a single team are returned. This endpoint should be used for team schedules & scores only.",
        "tags": [
          "CBK - Schedules, scores, box scores, play-by-play, shot charts"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide a teamId when you want information for just that team. 'box', 'pbp', and 'shotCharts' parameters are not allowed because you are requesting schedule information for a team, not an individual event.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "top25PollId",
            "type": "integer",
            "description": "If used, will return only games involving top 25 teams for the selected pollId. Only applicable for a single day's games, and therefore must be used in conjunction with the &date paramenter, or the default (current day) call.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "3"
            ]
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "tournamentId",
            "type": "integer",
            "description": "Schedule will be returned for games for this tournament.\n  Default - Regular Season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/box/{eventId}": {
      "get": {
        "operationId": "CBK-Ifpermissionedforjustschedules,scoresandboxscoresCBK-Schedules,scores,boxscores,play-by-play,shotcharts",
        "summary": "The box/ resource provides scores/schedules and bo...",
        "description": "The box/ resource provides scores/schedules and box score information for CBK events.  (Play-by-play & Shot Charts are not available in the box endpoint.)",
        "tags": [
          "CBK - Schedules, scores, box scores, play-by-play, shot charts"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box request.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "A conferenceId returns teams in the selected conference.",
            "in": "query",
            "required": false
          },
          {
            "name": "box",
            "type": "boolean",
            "description": "Returns the box score for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'box=true'.\n  Default - box score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, all games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "top25PollId",
            "type": "integer",
            "description": "If used, will return only games involving top 25 teams for the selected pollId. Only applicable for a single day's games, and therefore must be used in conjunction with the &date paramenter, or the default (current day) call.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "3"
            ]
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "tournamentId",
            "type": "integer",
            "description": "Schedule will be returned for games for this tournament.\n  Default - Regular Season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/box/teams/{teamId}": {
      "get": {
        "operationId": "CBK-Ifpermissionedforjustschedules,scoresandboxscores-foroneteamonlyCBK-Schedules,scores,boxscores,play-by-play,shotcharts",
        "summary": "The box/ resource provides scores/schedules and bo...",
        "description": "The box/ resource provides scores/schedules and box score information for CBK events. However, box scores are available for a single game only, and so cannot be acessed here when all events for a single team are returned. This endpoint should be used for team schedules & scores only.",
        "tags": [
          "CBK - Schedules, scores, box scores, play-by-play, shot charts"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide a teamId when you want information for just team team. The 'box' parameter is not allowed because you are requesting schedule information for a team, not an individual event.\n  Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "top25PollId",
            "type": "integer",
            "description": "If used, will return only games involving top 25 teams for the selected pollId. Only applicable for a single day's games, and therefore must be used in conjunction with the &date paramenter, or the default (current day) call.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "3"
            ]
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "tournamentId",
            "type": "integer",
            "description": "Schedule will be returned for games for this tournament.\n  Default - Regular Season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/scores/{eventId}": {
      "get": {
        "operationId": "CBK-IfpermissionedforjustschedulesandscoresCBK-Schedules,scores,boxscores,play-by-play,shotcharts",
        "summary": "The scores/ resource provides score and schedule i...",
        "description": "The scores/ resource provides score and schedule information for CBK events.  (Box scores, Play-by-play, and Shot Charts are not available in the scores endpoint.)",
        "tags": [
          "CBK - Schedules, scores, box scores, play-by-play, shot charts"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, all games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "top25PollId",
            "type": "integer",
            "description": "If used, will return only games involving top 25 teams for the selected pollId. Only applicable for a single day's games, and therefore must be used in conjunction with the &date paramenter, or the default (current day) call.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "3"
            ]
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "tournamentId",
            "type": "integer",
            "description": "Schedule will be returned for games for this tournament.\n  Default - Regular Season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/scores/teams/{teamId}": {
      "get": {
        "operationId": "CBK-Ifpermissionedforjustschedulesandscores-foroneteamonlyCBK-Schedules,scores,boxscores,play-by-play,shotcharts",
        "summary": "The scores/ resource provides score and schedule i...",
        "description": "The scores/ resource provides score and schedule information for CBK events.  (Box scores, Play-by-play, and Shot Charts are not available in the scores endpoint.)",
        "tags": [
          "CBK - Schedules, scores, box scores, play-by-play, shot charts"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide a teamId when you want information for just that team.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "top25PollId",
            "type": "integer",
            "description": "If used, will return only games involving top 25 teams for the selected pollId. Only applicable for a single day's games, and therefore must be used in conjunction with the &date paramenter, or the default (current day) call.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "3"
            ]
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "tournamentId",
            "type": "integer",
            "description": "Schedule will be returned for games for this tournament.\n  Default - Regular Season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/standings/": {
      "get": {
        "operationId": "CBK-StandingsCBK-Standings",
        "summary": "The standings endpoint will provide the league sta...",
        "description": "The standings endpoint will provide the league standings, including all team data relevant to standings.",
        "tags": [
          "CBK - Standings"
        ],
        "parameters": [
          {
            "name": "expanded",
            "type": "boolean",
            "description": "Expanded includes additional data points for each team.\n Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "A conferenceId returns teams in the selected conference.",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get standings for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/standings/teams/{teamId}": {
      "get": {
        "operationId": "CBK-StandingsforasingleteamCBK-Standings",
        "summary": "The standings endpoint will provide the league sta...",
        "description": "The standings endpoint will provide the league standings, including all team data relevant to standings.",
        "tags": [
          "CBK - Standings"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return information for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "expanded",
            "type": "boolean",
            "description": "Expanded includes additional data points for each team.\n Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get standings for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/participants/": {
      "get": {
        "operationId": "CBK-PlayersCBK-Participants",
        "summary": "The participants endpoint provides biographical in...",
        "description": "The participants endpoint provides biographical information for players and can be used to return information on a single player, a single teams roster, all teams rosters within the league, or all free agents.",
        "tags": [
          "CBK - Participants"
        ],
        "parameters": [
          {
            "name": "sinceYearLast",
            "type": "integer",
            "description": "Anyone who last played since the requested year.  Enter year as YYYY.\n  Default - If no year selected, will return current rosters.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/participants/teams/{teamId}": {
      "get": {
        "operationId": "CBK-HistoricalRostersCBK-Participants",
        "summary": "Historical rosters provide biographical informatio...",
        "description": "Historical rosters provide biographical information for players that played for a team in a single specified season.",
        "tags": [
          "CBK - Participants"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return roster for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "Enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.",
            "in": "query",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/participants/{playerId}": {
      "get": {
        "operationId": "CBK-SingleplayerCBK-Participants",
        "summary": "The participants endpoint provides biographical in...",
        "description": "The participants endpoint provides biographical information for players and can be used to return information on a single player, a single teams roster, all teams rosters within the league, or all free agents.",
        "tags": [
          "CBK - Participants"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/polls/": {
      "get": {
        "operationId": "CBK-PollsCBK-Polls",
        "summary": "College Basketball polls",
        "tags": [
          "CBK - Polls"
        ],
        "parameters": [
          {
            "name": "pollId",
            "type": "integer",
            "description": "The decodes resource provides a list of available codes.\n Default - Associated Press",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get polls for a different season, enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "pollDate",
            "type": "string",
            "description": "Returns the most recent poll less than or equal to the date entered.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - the most recent poll",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/polls/teams/{teamId}": {
      "get": {
        "operationId": "CBK-PollinfoforoneteamCBK-Polls",
        "summary": "College Basketball polls",
        "tags": [
          "CBK - Polls"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return information for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "pollId",
            "type": "integer",
            "description": "The decodes resource provides a list of available codes.\n Default - Associated Press",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To polls for a different season, enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/stats/players/{playerId}": {
      "get": {
        "operationId": "CBK-Playerstats-CareerCBK-Statistics",
        "summary": "CBK - Season stats for a single player",
        "tags": [
          "CBK - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "enc",
            "type": "boolean",
            "description": "The 'encyclopedia returns full career and season-by-season totals.\n Notes:\n  The encyclopedia is valid for a single player only.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "careerOnly",
            "type": "boolean",
            "description": "For a single player's career stats, only to be used in conjunction with 'enc=true'",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & player names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/stats/players/{playerId}/events/{eventId}": {
      "get": {
        "operationId": "CBK-PlayersinglegamestatsCBK-Statistics",
        "summary": "CBK - Season stats for a single player",
        "tags": [
          "CBK - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "Statistics for a single game.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & player names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/stats/players/{playerId}/events/": {
      "get": {
        "operationId": "CBK-Playergame-by-gamestatsCBK-Statistics",
        "summary": "CBK - A player's stats, game-by-game.",
        "tags": [
          "CBK - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "Player ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & player names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/stats/players/{playerId}/": {
      "get": {
        "operationId": "CBK-PlayersplitsCBK-Statistics",
        "summary": "CBK - Player splits (breakdowns).",
        "tags": [
          "CBK - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "splitId",
            "type": "string",
            "description": "Enter the stat split to be returned. (The decodes resource provides a list of available codes.)\n  1. If omitted, only official total stats (splitId = -1) will be returned. \n  2. If 'all', all the splits are returned.\n  3. Otherwise, the entered split is returned.\n  Default - Official totals (splitId = -1)",
            "in": "query",
            "required": true,
            "default": "-1"
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & player names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/stats/teams/{teamId}/": {
      "get": {
        "operationId": "CBK-TeamsplitsCBK-Statistics",
        "summary": "CBK - Team splits (breakdowns).",
        "tags": [
          "CBK - Statistics"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "splitId",
            "type": "string",
            "description": "Enter the stat split to be returned. (The decodes resource provides a list of available codes.)\n  1. If omitted, only official total stats (splitId = -1) will be returned. \n  2. If 'all', all the splits are returned.\n  3. Otherwise, the entered split is returned.\n  Default - Official totals (splitId = -1)",
            "in": "query",
            "required": true,
            "default": "-1"
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/stats/teams/{teamId}/events/{eventId}": {
      "get": {
        "operationId": "CBK-TeamsinglegamestatsCBK-Statistics",
        "summary": "CBK - A team's stats, game-by-game.",
        "tags": [
          "CBK - Statistics"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "Statistics for a single game.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/stats/teams/{teamId}/events/": {
      "get": {
        "operationId": "CBK-Teamgame-by-gameCBK-Statistics",
        "summary": "CBK - A team's stats, game-by-game.",
        "tags": [
          "CBK - Statistics"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/leaders/": {
      "get": {
        "operationId": "CBK-LeadersCBK-Leaders",
        "summary": "CBK - Leaders",
        "tags": [
          "CBK - Leaders"
        ],
        "parameters": [
          {
            "name": "leaderCategoryId",
            "type": "integer",
            "description": "Only one category per query.  The decodes resource provides a list of available codes. \n  Default - Blank (returns Minutes).",
            "in": "query",
            "required": false
          },
          {
            "name": "topCount",
            "type": "integer",
            "description": "This is the number of leaders to be returned.\n  You can return all leaders with the word 'all' instead of a number.\n  Default - Top 10 (plus ties), utilizing ranked players only if nonQualifiers is false/null; else will utilize ordered players.",
            "in": "query",
            "required": false
          },
          {
            "name": "nonQualifiers",
            "type": "boolean",
            "description": "Should non-qualifiers be returned?\n  Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "sortType",
            "type": "string",
            "description": "To return 'worst' players (trailers) rather than 'best' players (leaders) in a category, select sortType = worst. Traliers are not available for every leaderCategoryId.\n  Default - If the sortType parameter is not used, leaders will be returned.",
            "in": "query",
            "required": false,
            "enum": [
              "worst"
            ]
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "A conferenceId returns teams in the selected conference.",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Leaders among games in the specified eventType only.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get data for players on one team only, enter the teamId.\n  Default - all players",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/teamLeaders/": {
      "get": {
        "operationId": "CBK-TeamLeadersCBK-Leaders",
        "summary": "CBK - Team Leaders",
        "tags": [
          "CBK - Leaders"
        ],
        "parameters": [
          {
            "name": "leaderCategoryId",
            "type": "integer",
            "description": "Only one category per query.  The decodes resource provides a list of available codes. \n  Default - Blank (returns Points per Game).",
            "in": "query",
            "required": false
          },
          {
            "name": "topCount",
            "type": "integer",
            "description": "This is the number of leaders to be returned.\n  You can return all leaders with the word 'all' instead of a number.\n  Default - Top 10 (plus ties).",
            "in": "query",
            "required": false
          },
          {
            "name": "sortType",
            "type": "string",
            "description": "To return 'worst' teams (trailers) rather than 'best' teams (leaders) in a category, select sortType = worst. Traliers are not available for every leaderCategoryId.\n  Default - If the sortType parameter is not used, leaders will be returned.",
            "in": "query",
            "required": false,
            "enum": [
              "worst"
            ]
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "A conferenceId returns teams in the selected conference.",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Leaders among games in the specified eventType only.\n  Default - All games (reg/post combined)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/dailyLeaders/": {
      "get": {
        "operationId": "CBK-DailyLeadersCBK-Leaders",
        "summary": "CBK - Daily Leaders",
        "tags": [
          "CBK - Leaders"
        ],
        "parameters": [
          {
            "name": "leaderCategoryId",
            "type": "integer",
            "description": "Only one category per query.\n  Default - Blank (returns points).",
            "in": "query",
            "required": false,
            "enum": [
              "3",
              "6",
              "15",
              "18",
              "21",
              "27",
              "33",
              "39"
            ]
          },
          {
            "name": "date",
            "type": "string",
            "description": "Leaders in games played on specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "topCount",
            "type": "integer",
            "description": "This is the number of leaders to be returned.\n  You can return all leaders with the word 'all' instead of a number.\n  Default - Top 10 (plus ties), utilizing ranked players only if nonQualifiers is false/null; else will utilize ordered players.",
            "in": "query",
            "required": false
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "Leaders among specified conference only. See conferences decode endpoint.\n  Default - all conferences",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Leaders among games in the specified eventType only. See eventTypes decode endpoint.\n  Default - Regular Season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventRoundId",
            "type": "integer",
            "description": "Leaders among games in the specified eventRound only. See eventRounds decode endpoint.\n  Default - all rounds combined",
            "in": "query",
            "required": false
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get data for players on one team only, enter the teamId.\n  Default - all players",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/coaches/": {
      "get": {
        "operationId": "CBK-CoachesCBK-Coaches",
        "summary": "CBK - Coaches",
        "tags": [
          "CBK - Coaches"
        ],
        "parameters": [
          {
            "name": "coachId",
            "type": "integer",
            "description": "To get results for single coach, enter coach ID.\n  Default - If no ID is entered, all current CBK coaches will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/coaches/teams/{teamId}": {
      "get": {
        "operationId": "CBK-CoachesforasingleteamCBK-Coaches",
        "summary": "CBK - Coaches for a single team",
        "tags": [
          "CBK - Coaches"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Enter team ID to return information active coaches for one team. Example: 1547 - Northwestern. See /teams endpoint for list of all team IDs",
            "in": "path",
            "required": true
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/odds/": {
      "get": {
        "operationId": "CBK-OddsCBK-Odds",
        "summary": "CBK - Odds",
        "tags": [
          "CBK - Odds"
        ],
        "parameters": [
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, all games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "integer",
            "description": "For team names/nicknames/abbreviations only. Select ID to change language of team names. Not all languages available for every name/nickname/abbreviation.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/odds/{eventId}": {
      "get": {
        "operationId": "CBK-OddsforonegameonlyCBK-Odds",
        "summary": "CBK - Odds",
        "tags": [
          "CBK - Odds"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.\n   Default - the current day's games.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "integer",
            "description": "For team names/nicknames/abbreviations only. Select ID to change language of team names. Not all languages available for every name/nickname/abbreviation.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/basketball/cbk/odds/teams/{teamId}": {
      "get": {
        "operationId": "CBK-OddsforoneteamonlyCBK-Odds",
        "summary": "CBK - Odds",
        "tags": [
          "CBK - Odds"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return information for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like CBK 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "integer",
            "description": "For team names/nicknames/abbreviations only. Select ID to change language of team names. Not all languages available for every name/nickname/abbreviation.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/basketball/cbk/stories/headlines/": {
      "get": {
        "operationId": "CBK-HeadlinesCBK-Stories,Headlines,Images",
        "summary": "List of headlines.",
        "tags": [
          "CBK - Stories, Headlines, Images"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/basketball/cbk/articles/headlines/": {
      "get": {
        "operationId": "CBK-HeadlinesArticlesCBK-Stories,Headlines,Images",
        "summary": "List of headlines.",
        "tags": [
          "CBK - Stories, Headlines, Images"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/basketball/cbk/stories/recent/": {
      "get": {
        "operationId": "CBK-RecentstoriesCBK-Stories,Headlines,Images",
        "summary": "Recent stories for the selected league.",
        "tags": [
          "CBK - Stories, Headlines, Images"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/basketball/cbk/articles/recent/": {
      "get": {
        "operationId": "CBK-RecentArticlesCBK-Stories,Headlines,Images",
        "summary": "Recent articles for the selected league.",
        "tags": [
          "CBK - Stories, Headlines, Images"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/basketball/cbk/stories/recent/teams/{teamId}/": {
      "get": {
        "operationId": "CBK-RecentstoriesbyteamCBK-Stories,Headlines,Images",
        "summary": "Recent stories for the selected league/team.",
        "tags": [
          "CBK - Stories, Headlines, Images"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "ID of the team in the selected league.",
            "in": "path",
            "required": true
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/basketball/cbk/articles/recent/teams/{teamId}/": {
      "get": {
        "operationId": "CBK-RecentArticlesbyteamCBK-Stories,Headlines,Images",
        "summary": "Recent articles for the selected league/team.",
        "tags": [
          "CBK - Stories, Headlines, Images"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "ID of the team in the selected league.",
            "in": "path",
            "required": true
          },
          {
            "name": "accept",
            "type": "string",
[...]
