{
  "swagger": "2.0",
  "info": {
    "title": "Multimodal Travelplanner Worldwide",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.monotch.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "5855"
  },
  "schemes": [
    "http"
  ],
  "host": "api.monotch.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.monotch.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Multimodal Travelplanner Worldwide"
    }
  ],
  "paths": {
    "/Autocomplete": {
      "get": {
        "operationId": "AutocompleteMultimodalTravelplannerWorldwide",
        "summary": "",
        "tags": [
          "Multimodal Travelplanner Worldwide"
        ],
        "parameters": [
          {
            "name": "type",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Text to autocomplete.",
            "in": "query",
            "required": true,
            "default": "Amsterda"
          },
          {
            "name": "countryCode",
            "type": "string",
            "description": "ISO 3166-1 two letter country code.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageCode",
            "type": "string",
            "description": "ISO 639-1 two letter language code.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Geocode": {
      "get": {
        "operationId": "GeocodeMultimodalTravelplannerWorldwide",
        "summary": "",
        "tags": [
          "Multimodal Travelplanner Worldwide"
        ],
        "parameters": [
          {
            "name": "type",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Query to geocode.",
            "in": "query",
            "required": true,
            "default": "Amsterdam"
          },
          {
            "name": "countryCode",
            "type": "string",
            "description": "ISO 3166-1 two letter country code.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageCode",
            "type": "string",
            "description": "ISO 639-1 two letter language code.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Search": {
      "get": {
        "operationId": "SearchMultimodalTravelplannerWorldwide",
        "summary": "",
        "tags": [
          "Multimodal Travelplanner Worldwide"
        ],
        "parameters": [
          {
            "name": "type",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "oName",
            "type": "string",
            "description": "Origin display name.",
            "in": "query",
            "required": false
          },
          {
            "name": "dName",
            "type": "string",
            "description": "Destination display name.",
            "in": "query",
            "required": false
          },
          {
            "name": "oPos",
            "type": "string",
            "description": "Origin latitude, longitude pair in WGS84 format (eg: \"51.5324,-0.12729\").",
            "in": "query",
            "required": false
          },
          {
            "name": "dPos",
            "type": "string",
            "description": "Destination latitude, longitude pair in WGS84 format (eg: \"51.5324,-0.12729\").",
            "in": "query",
            "required": false
          },
          {
            "name": "oKind",
            "type": "string",
            "description": "Origin kind.",
            "in": "query",
            "required": false
          },
          {
            "name": "dKind",
            "type": "string",
            "description": "Destination kind.",
            "in": "query",
            "required": false
          },
          {
            "name": "currencyCode",
            "type": "string",
            "description": "Currency code (ISO 4217).",
            "in": "query",
            "required": false
          },
          {
            "name": "languageCode",
            "type": "string",
            "description": "Language code (ISO 639-1).",
            "in": "query",
            "required": false
          },
          {
            "name": "data",
            "type": "string",
            "description": "Caller supplied data string.",
            "in": "query",
            "required": false
          },
          {
            "name": "noAir",
            "type": "boolean",
            "description": "Exclude air segments.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noAirLeg",
            "type": "boolean",
            "description": "Exclude air legs (outbound and return).",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noRail",
            "type": "boolean",
            "description": "Exclude train, tram and subway segments.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noBus",
            "type": "boolean",
            "description": "Exclude bus segments.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noFerry",
            "type": "boolean",
            "description": "Exclude ferry segments.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noCar",
            "type": "boolean",
            "description": "Exclude drive and taxi segments.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noBikeshare",
            "type": "boolean",
            "description": "Exclude bike share segments.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noRideshare",
            "type": "boolean",
            "description": "Exclude ride share segments.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noTowncar",
            "type": "boolean",
            "description": "Exclude towncar segments (eg: Uber).",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noCommuter",
            "type": "boolean",
            "description": "Exclude commuter segments (eg: local buses).",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noSpecial",
            "type": "boolean",
            "description": "Exclude special segments (eg: steam trains).",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noMinorStart",
            "type": "boolean",
            "description": "Exclude minor start segments (eg: train to airport).",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noMinorEnd",
            "type": "boolean",
            "description": "Exclude minor end segments (eg: train from airport).",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noPath",
            "type": "boolean",
            "description": "Exclude paths.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noPrice",
            "type": "boolean",
            "description": "Exclude indicative prices.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "noStop",
            "type": "boolean",
            "description": "Exclude intermediate stops.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}