{
  "swagger": "2.0",
  "info": {
    "title": "Magnus Content API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "471"
  },
  "schemes": [
    "http"
  ],
  "host": "api.hearst.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.hearst.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Article Search"
    },
    {
      "name": "Ad Category Search"
    },
    {
      "name": "Article Category Search"
    },
    {
      "name": "Article Image Search"
    },
    {
      "name": "Article Section Search"
    },
    {
      "name": "Article Type Search"
    },
    {
      "name": "Author Search"
    },
    {
      "name": "Source Search"
    },
    {
      "name": "Template Search"
    }
  ],
  "paths": {
    "/Article/search": {
      "get": {
        "operationId": "SearchbyargsArticleSearch",
        "summary": "Returns article data by various criteria",
        "tags": [
          "Article Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "shape",
            "type": "string",
            "description": "Describes the shape of the dataset returned.  Values can be \"full\" or \"brief\".  Default is \"brief\".",
            "in": "query",
            "required": false,
            "enum": [
              "brief",
              "full"
            ]
          },
          {
            "name": "pages",
            "type": "string",
            "description": "Shape of included article pages.  Only valid value is \"full\".",
            "in": "query",
            "required": false
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the article to retrieve the data for.  This will limit the result set to 1.",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "title",
            "type": "string",
            "description": "Will return articles where the passed word or phrase is in any part of the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "url_name",
            "type": "string",
            "description": "The URL of the article on the web.  It's essentially everything to the right of the rightmost slash",
            "in": "query",
            "required": false
          },
          {
            "name": "keywords",
            "type": "string",
            "description": "Lookup based on editorially assigned keywords tagged to the content.",
            "in": "query",
            "required": false
          },
          {
            "name": "article_section_id",
            "type": "integer",
            "description": "The internal ID of the section on the site to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "article_category_id",
            "type": "integer",
            "description": "The internal ID of the category to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "ad_category_id",
            "type": "integer",
            "description": "The internal ID of the ad category to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "article_type_id",
            "type": "integer",
            "description": "The internal ID of the content type to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "print_issue_date",
            "type": "string",
            "description": "The year and month of the associated print issue in the form YYYY-MM.",
            "in": "query",
            "required": false
          },
          {
            "name": "publish_date_begin",
            "type": "string",
            "description": "The publish date from which no content published earlier will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.  Allowable values are from 1 to 5,000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.  Please specify the field name, sort order.",
            "in": "query",
            "required": false,
            "default": "publish_date,desc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/AdCategory/search": {
      "get": {
        "operationId": "SearchbyargsAdCategorySearch",
        "summary": "Returns Ad Category data",
        "tags": [
          "Ad Category Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the ad category to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "parent_id",
            "type": "integer",
            "description": "The internal ID of the parent ad category to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "article_id",
            "type": "integer",
            "description": "The internal ID of the article in Magnus to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "organization_id",
            "type": "integer",
            "description": "The internal ID of the organization of ad categories to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "The name of the ad category.",
            "in": "query",
            "required": false
          },
          {
            "name": "prefix",
            "type": "string",
            "description": "The one word abbreviation for the ad category.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ArticleCategory/search": {
      "get": {
        "operationId": "SearchbyargsArticleCategorySearch",
        "summary": "Returns article category data",
        "tags": [
          "Article Category Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the article category to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "parent_id",
            "type": "integer",
            "description": "The internal ID of the parent article category to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "article_id",
            "type": "integer",
            "description": "The internal ID of the article in Magnus to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "organization_id",
            "type": "integer",
            "description": "The internal ID of the organization of ad categories to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "The name of the article category.",
            "in": "query",
            "required": false
          },
          {
            "name": "prefix",
            "type": "string",
            "description": "The one word abbreviation for the article category.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ArticleImage/search": {
      "get": {
        "operationId": "SearchbyargsArticleImageSearch",
        "summary": "Returns image data",
        "tags": [
          "Article Image Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "shape",
            "type": "string",
            "description": "Describes the shape of the dataset returned.",
            "in": "query",
            "required": false,
            "default": "brief"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the image to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "caption",
            "type": "string",
            "description": "The caption associated with the image.",
            "in": "query",
            "required": false
          },
          {
            "name": "description",
            "type": "string",
            "description": "The description of the image.",
            "in": "query",
            "required": false
          },
          {
            "name": "keywords",
            "type": "string",
            "description": "The keywords associated with the image.",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "The name of the image.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ArticleSection/search": {
      "get": {
        "operationId": "SearchbyargsArticleSectionSearch",
        "summary": "Returns website section data",
        "tags": [
          "Article Section Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the section to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "parent_id",
            "type": "integer",
            "description": "The internal ID of the parent section of the section to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "description",
            "type": "string",
            "description": "The description of the section.",
            "in": "query",
            "required": false
          },
          {
            "name": "full_name",
            "type": "string",
            "description": "The full name of the section.",
            "in": "query",
            "required": false
          },
          {
            "name": "full_path",
            "type": "string",
            "description": "The complete URL path of the section.",
            "in": "query",
            "required": false
          },
          {
            "name": "keywords",
            "type": "string",
            "description": "The keywords associated with the section.",
            "in": "query",
            "required": false
          },
          {
            "name": "prefix",
            "type": "string",
            "description": "The one word abbreviation for the section.",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "The name of the section.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ArticleType/search": {
      "get": {
        "operationId": "SearchbyargsArticleTypeSearch",
        "summary": "Returns content type data",
        "tags": [
          "Article Type Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the content type to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "dtd",
            "type": "string",
            "description": "The XML DTD that describes the structure of the content type.",
            "in": "query",
            "required": false
          },
          {
            "name": "organization_id",
            "type": "integer",
            "description": "The internal ID of the organization of websites to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "The name of the content type.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Author/search": {
      "get": {
        "operationId": "SearchbyargsAuthorSearch",
        "summary": "Returns author data",
        "tags": [
          "Author Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the author to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "email",
            "type": "string",
            "description": "The email address of the author.",
            "in": "query",
            "required": false
          },
          {
            "name": "organization_id",
            "type": "integer",
            "description": "The internal ID of the organization of websites to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "first_name",
            "type": "string",
            "description": "The first name of the author.",
            "in": "query",
            "required": false
          },
          {
            "name": "last_name",
            "type": "string",
            "description": "The last name of the author.",
            "in": "query",
            "required": false
          },
          {
            "name": "nick_name",
            "type": "string",
            "description": "The nickname of the author.",
            "in": "query",
            "required": false
          },
          {
            "name": "title",
            "type": "string",
            "description": "The title of the author.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "last_name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Source/search": {
      "get": {
        "operationId": "SearchbyargsSourceSearch",
        "summary": "Returns content source data",
        "tags": [
          "Source Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the content source to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "description",
            "type": "string",
            "description": "The description of the content source.",
            "in": "query",
            "required": false
          },
          {
            "name": "organization_id",
            "type": "integer",
            "description": "The internal ID of the organization of websites to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "The name of the content source.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Template/search": {
      "get": {
        "operationId": "SearchbyargsTemplateSearch",
        "summary": "Returns display template data",
        "tags": [
          "Template Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "integer",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "id",
            "type": "integer",
            "description": "The internal ID of the template to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "file_name",
            "type": "string",
            "description": "The file name of the template",
            "in": "query",
            "required": false
          },
          {
            "name": "site_id",
            "type": "integer",
            "description": "The internal ID of the website to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "The name of the template.",
            "in": "query",
            "required": false
          },
          {
            "name": "is_top_level",
            "type": "integer",
            "description": "Toggles whether to return top level templates only.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "integer",
            "description": "Whether or not to return a total number of records in the response or not. Values are 1 or 0.",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}