{
  "swagger": "2.0",
  "info": {
    "title": "Authenticate",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.vitalware.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Registered users can test the VitalWare API services using our interactive documentation. ",
    "x-mashery-id": "3853"
  },
  "schemes": [
    "http"
  ],
  "host": "api.vitalware.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Please Note:\nInteractive Documentation examples and API key(s) will be automatically populated for the services you have access to. \nIf you get an \"Unauthorized\" message, try selecting a different API key from the list.\nContact Us if you have any questions or to request access to additional services.\n",
    "url": "https://developer.vitalware.com/io-docs/member/register"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Authentication"
    },
    {
      "name": "Authentication 1.0 (Deprecated)"
    }
  ],
  "paths": {
    "/{environment}/ws/v2/Auth": {
      "post": {
        "operationId": "AuthenticateAuthentication",
        "summary": "Authentication to return a vwToken required for th...",
        "description": "Authentication to return a vwToken required for the calls in this documentation. See Getting Started &gt; Authentication documentation for more information.",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "environment",
            "type": "string",
            "description": "VitalWare environment. See the Request URI below for the full URI when it renders.",
            "in": "path",
            "required": true,
            "enum": [
              " ",
              "rc/",
              "build/"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Desired return format",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "vw-version",
            "type": "integer",
            "description": "API Version. Leave blank to use the most current version. We HIGHLY RECOMMENDED always passing the API Version for production applications.",
            "in": "header",
            "required": false
          },
          {
            "name": "username",
            "type": "string",
            "description": "VitalWare Username",
            "in": "query",
            "required": true
          },
          {
            "name": "password",
            "type": "string",
            "description": "VitalWare Password",
            "in": "query",
            "required": true
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{environment}/ws/v1/Auth/{format}": {
      "post": {
        "operationId": "PostAuthentication1.0(Deprecated)",
        "summary": "This method is depreciated, please use the method ...",
        "description": "This method is depreciated, please use the method above instead. See Getting Started &gt; Authentication documentation for more information.",
        "tags": [
          "Authentication 1.0 (Deprecated)"
        ],
        "parameters": [
          {
            "name": "environment",
            "type": "string",
            "description": "VitalWare environment. See the Request URI below for the full URI when it renders.",
            "in": "path",
            "required": true,
            "enum": [
              " ",
              "rc/",
              "build/"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Desired return format",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "GetAuthentication1.0(Deprecated)",
        "summary": "",
        "tags": [
          "Authentication 1.0 (Deprecated)"
        ],
        "parameters": [
          {
            "name": "environment",
            "type": "string",
            "description": "VitalWare environment. See the Request URI below for the full URI when it renders.",
            "in": "path",
            "required": true,
            "enum": [
              " ",
              "rc/",
              "build/"
            ]
          },
          {
            "name": "username",
            "type": "string",
            "description": "VitalWare Username",
            "in": "query",
            "required": true
          },
          {
            "name": "password",
            "type": "string",
            "description": "VitalWare Password",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}