{
	"swagger": "2.0",
	"info": {
		"version": "1.0",
		"title": "APIMATIC API Transformer",
		"description": "Transform API Descriptions from/to various formats",
		"x-logo": {
			"url": "https://apitransformer.com/img/transformer.png",
			"backgroundColor": "#18bbee"
		},
		"termsOfService": "https://apitransformer.com/",
		"contact": {
			"name": "API Transformer",
			"email": "transform@apimatic.io",
			"url": "https://apitransformer.com/"
		},
		"license": {
			"name": "MIT",
			"url": "https://opensource.org/licenses/MIT"
		}
	},
	"externalDocs": {
		"description": "API Transformer Website",
		"url": "https://apitransformer.com/"
	},
	"host": "apitransformer.com",
	"basePath": "/api",
	"securityDefinitions": {},
	"schemes": [
		"https"
	],
	"consumes": [
		"application/x-www-form-urlencoded",
		"text/plain",
		"multipart/form-data"
	],
	"produces": [
		"application/json",
		"application/x-yaml"
	],
	"paths": {
		"/transform": {
			"post": {
				"description": "Transform API Descriptions from/to various formats e.g., Swagger, API Blueprint, RAML, WADL, Google Discovery, I/O Docs.\n\nINPUTS\nAPI Blueprint\nSwagger 1.0 - 1.2\nSwagger 2.0 JSON\nSwagger 2.0 YAML\nWADL - W3C 2009\nGoogle Discovery\nRAML 0.8\nI/O Docs - Mashery\nHAR 1.2\nPostman Collection\nAPIMATIC Format\n\nOUTPUTS\nAPI Blueprint\nSwagger 1.2\nSwagger 2.0 JSON\nSwagger 2.0 YAML\nWADL - W3C 2009\nRAML 0.8\nAPIMATIC Format",
				"summary": "Transform API Descriptions from/to various formats",
				"operationId": "Convert_API",
				"parameters": [
					{
						"name": "output",
						"in": "query",
						"required": true,
						"type": "string",
						"enum": [
							"swagger12",
							"swagger20json",
							"swagger20yaml",
							"apiblueprint",
							"wadl",
							"raml08",
							"apimatic"
						]
					},
					{
						"name": "url",
						"in": "formData",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The converted API specification",
						"schema": {
							"type": "object"
						}
					}
				},
				"security": []
			}
		}
	}
}