{
	"swagger": "2.0",
	"info": {
		"version": "1.0",
		"title": "APIMATIC API Transformer",
		"description": "Transform API Descriptions from/to various formats",
		"x-logo": {
			"url": "https://apitransformer.com/img/transformer.png",
			"backgroundColor": "#18bbee"
		},
		"termsOfService": "https://apitransformer.com/",
		"contact": {
			"name": "API Transformer",
			"email": "transform@apimatic.io",
			"url": "https://apitransformer.com/"
		},
		"license": {
			"name": "MIT",
			"url": "https://opensource.org/licenses/MIT"
		}
	},
	"externalDocs": {
		"description": "API Transformer Website",
		"url": "https://apitransformer.com/"
	},
	"host": "apitransformer.com",
	"basePath": "/api",
	"securityDefinitions": {},
	"schemes": [
		"https"
	],
	"consumes": [
		"application/x-www-form-urlencoded",
		"text/plain",
		"multipart/form-data"
	],
	"produces": [
		"application/json",
		"application/x-yaml"
	],
	"paths": {
		"/transform": {
			"post": {
				"description": "Transform API Descriptions from/to various formats e.g., Swagger, API Blueprint, RAML, WADL, Google Discovery, I/O Docs.\n\n### INPUTS\n* API Blueprint\n* Swagger 1.0 - 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* Google Discovery\n* RAML 0.8\n* I/O Docs - Mashery\n* HAR 1.2\n* Postman Collection\n* APIMATIC Format\n\n### OUTPUTS\n* API Blueprint\n* Swagger 1.2\n* Swagger 2.0 JSON\n* Swagger 2.0 YAML\n* WADL - W3C 2009\n* RAML 0.8\n* APIMATIC Format",
				"summary": "Transform API Descriptions from/to various formats",
				"operationId": "ConvertAPI",
				"parameters": [
					{
						"name": "output",
						"in": "query",
						"required": true,
						"type": "string",
						"enum": [
							"swagger12",
							"swagger20json",
							"swagger20yaml",
							"apiblueprint",
							"wadl",
							"raml08",
							"apimatic"
						]
					},
					{
						"name": "url",
						"in": "formData",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The converted API specification",
						"schema": {
							"type": "object"
						}
					}
				},
				"security": []
			}
		}
	}
}
