{
  "swagger": "2.0",
  "info": {
    "title": "LE Open Data API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "A great place to start playing with the APIs. ",
    "x-mashery-id": "5085"
  },
  "schemes": [
    "http"
  ],
  "host": "api.airfranceklm.com",
  "basePath": "/opendata/flightoffers",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.airfranceklm.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Flight Offers"
    }
  ],
  "paths": {
    "/available-offers": {
      "get": {
        "operationId": "CreateAvailableOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "d",
            "type": "string",
            "description": "Base64 encoded, zipped JSON request body. Except for dateInterval.",
            "in": "query",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          },
          {
            "name": "minimumAccuracy",
            "type": "string",
            "description": "Specifies the minimum requested accuracy. Will override the default minimum accuracy. Low minimum accuracy will enforce TripPlanner GetDayData to be used instead of FareFlexPricerUpsell",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "AvailableOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AvailableOffers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/reference-data": {
      "get": {
        "operationId": "ReferenceDataFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "country",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "station",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "host",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/lowest-fare-offers": {
      "post": {
        "operationId": "LowestFareOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "expand-suggested-flights",
            "type": "string",
            "description": "When true details of suggested flight are in the response. When false (or not supplied) details are not in the response.",
            "in": "query",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/LowestFareOffers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "CreateLowestFareOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "d",
            "type": "string",
            "description": "Base64 encoded, zipped JSON request body. Except for dateInterval.",
            "in": "query",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          },
          {
            "name": "dateInterval",
            "type": "string",
            "description": "Date interval to be used for the connection of interest.  Format: YYYY-MM-DD/YYYY-MM-DD NB Currently only support for one dateInterval, so for RETURN offers only.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flight-products/{id}/tax-breakdown": {
      "get": {
        "operationId": "FP/TaxBreakdownFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flight-products/{id}/upsell-offers": {
      "get": {
        "operationId": "FP/UpsellOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/upsell-offers": {
      "post": {
        "operationId": "UpsellOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpsellOffers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flight-products/{id}/ticket-conditions": {
      "get": {
        "operationId": "FP/TicketConditionsFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ticket-conditions/{tripIdentifier}": {
      "get": {
        "operationId": "TicketConditions(trip)FlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "discountCode",
            "type": "string",
            "description": "Internet discount code",
            "in": "query",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "ticketedDate",
            "type": "string",
            "description": "Date of ticketing when requesting conditions for reservation.",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          },
          {
            "name": "tripIdentifier",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ticket-conditions": {
      "get": {
        "operationId": "TicketConditions(shop)FlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "reservationId",
            "type": "string",
            "description": "Id of the conversation state where the selected Flight Product is stored in.",
            "in": "query",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flight-products/{id}/related-products": {
      "get": {
        "operationId": "FP/RelatedProductsFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "cities": {
      "type": "object",
      "properties": {}
    },
    "countries": {
      "type": "object",
      "properties": {}
    },
    "ShoppingCarts": {
      "type": "object",
      "properties": {}
    },
    "ReferenceData": {
      "type": "object",
      "properties": {}
    },
    "FPRelatedProducts": {
      "type": "object",
      "properties": {}
    },
    "FPTaxBreakdown": {
      "type": "object",
      "properties": {}
    },
    "TicketConditionstrip": {
      "description": "Internet discount code",
      "type": "object",
      "properties": {}
    },
    "TicketConditionsshop": {
      "type": "object",
      "properties": {}
    },
    "FPUpsellOffers": {
      "type": "object",
      "properties": {}
    },
    "UpsellOffers": {
      "type": "object",
      "properties": {
        "cabinClass": {
          "type": "string",
          "enum": [
            "ECONOMY",
            "BUSINESS"
          ]
        },
        "passengerCount": {
          "description": "Describes the number of passengers. Total number of passengers must be 1-9.",
          "type": "object",
          "properties": {
            "YOUNG_ADULT": {
              "description": "Number of young adults. 12-15 years.",
              "type": "integer"
            },
            "INFANT": {
              "description": "Number of infants. Under 2 years.",
              "type": "integer"
            },
            "CHILD": {
              "description": "Number of children. 2-11 years.",
              "type": "integer"
            },
            "ADULT": {
              "description": "Number of adults. 16 years and older.",
              "type": "integer"
            }
          }
        },
        "requestedConnections": {
          "maxItems": 6,
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "segments": {
                "type": "array",
                "items": {
                  "description": "Segment is a single flight from its origin to its destination with possibly stops in between.",
                  "type": "object",
                  "properties": {
                    "farebase": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "origin": {
                      "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "IATA location code",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "destination": {
                      "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "IATA location code",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "departureDateTime": {
                      "format": "date-time",
                      "description": "The date and time of the departure of the segment in local time of the origin.",
                      "type": "string"
                    },
                    "marketingFlight": {
                      "description": "Marketing representation of the flight.",
                      "type": "object",
                      "properties": {
                        "number": {
                          "description": "Max of four digits, when less than 3 then prefix with zeroes up till 3 digits. For example: 006, 022, 1001.",
                          "type": "string"
                        },
                        "carrier": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "description": "IATA airline code",
                              "type": "string"
                            }
                          },
                          "required": [
                            "code"
                          ]
                        }
                      },
                      "required": [
                        "carrier"
                      ]
                    }
                  },
                  "required": [
                    "origin",
                    "destination",
                    "departureDateTime",
                    "marketingFlight"
                  ]
                }
              }
            }
          }
        }
      },
      "required": [
        "cabinClass",
        "passengerCount",
        "requestedConnections"
      ]
    },
    "FPTicketConditions": {
      "type": "object",
      "properties": {}
    },
    "FO_LowestFareOffers": {
      "type": "object",
      "properties": {}
    },
    "LowestFareOffers": {
      "description": "Lowest-fare-offers request the lowest available fare offers.  HTTP method is POST and request parameters are specified in the message body. Context parameters are specified in the HTTP header.",
      "type": "object",
      "properties": {
        "cabinClass": {
          "description": "Code for cabin class. ",
          "type": "string",
          "enum": [
            "ECONOMY",
            "BUSINESS"
          ]
        },
        "discountCode": {
          "description": "code for IDC discount.",
          "type": "string"
        },
        "passengerCount": {
          "description": "Describes the number of passengers.  Total number of passengers of type ADULT &amp; CHILD must be between 1 and maximumNumberOfSeats. Number of INFANTS must be &lt;= number of ADULTS.",
          "type": "object",
          "properties": {
            "YOUNG_ADULT": {
              "description": "Number of young adults. 12-15 years. ",
              "type": "integer"
            },
            "INFANT": {
              "description": "Number of infants. Under 2 years.",
              "type": "integer"
            },
            "CHILD": {
              "description": "Number of children. 2-11 years.",
              "type": "integer"
            },
            "ADULT": {
              "description": "Number of adults. 16 years and older.",
              "type": "integer"
            }
          }
        },
        "currency": {
          "description": "Indicates the currency to be used for prices in response.  Three letter currency code according to ISO 4217. This can be used to override the POS default setting.",
          "type": "string"
        },
        "includeCarriers": {
          "description": "List of marketing carriers to include in the request.",
          "type": "string"
        },
        "minimumAccuracy": {
          "description": "Threshold for accuracy. Overrides default threshold. When accuracy is below supplied threshold, backend will switch to more accurate source.  NB Currently TripPlanner GetBudgetSearch is fast, less accurate source and TripPlanner GetData is more accurate source.",
          "type": "integer"
        },
        "type": {
          "description": "Indicates the type of request being fired. See LowestFareType.",
          "type": "string",
          "enum": [
            "OVERALL",
            "MONTH",
            "DAY"
          ]
        },
        "requestedConnections": {
          "maxItems": 6,
          "type": "array",
          "items": {
            "description": "Specification of a connection as part of request. Connection is specified by EITHER origin and destination (any flight) OR ordered list of segments (selected flight).",
            "type": "object",
            "properties": {
              "maxDaysOfStay": {
                "description": "Maximum days of stay at the destination of the Connection.",
                "type": "integer"
              },
              "minDaysOfStay": {
                "description": "Minimum days of stay at the destination of the Connection.",
                "type": "integer"
              },
              "origin": {
                "description": "StationView is helper object. StationView is specified by EITHER City OR Airport.",
                "type": "object",
                "properties": {
                  "city": {
                    "description": "City is an IATA defined location where an Airport is located.",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  },
                  "airport": {
                    "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  }
                }
              },
              "destination": {
                "description": "StationView is helper object. StationView is specified by EITHER City OR Airport.",
                "type": "object",
                "properties": {
                  "city": {
                    "description": "City is an IATA defined location where an Airport is located.",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  },
                  "airport": {
                    "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  }
                }
              },
              "dateInterval": {
                "description": "String representing a date interval according to RFC3339, period-explicit. Format is: 'YYYY-MM[-DD]/YYYY-MM[-DD]'.  Date interval describes the range of dates that should be used to find lowest fares/flights for the Connection",
                "type": "string"
              },
              "segments": {
                "type": "array",
                "items": {
                  "description": "Segment is a single flight from its origin to its destination with possibly stops in between.",
                  "type": "object",
                  "properties": {
                    "farebase": {
                      "description": "A <b>fare basis code</b> or <b>FBC</b> specifies the rules of an airline's fare. Fare codes starts with a single letter, called a booking code, representing the type of ticket and fare, followed by optional letters and digits, representing a specific set of fare rules, for instance how many days in advance the ticket needs to be booked, corporate discounts, or other special promotional elements (<a href='http://en.wikipedia.org/wiki/Fare_basis_code'><font color='#0000ff'><u>http://en.wikipedia.org/wiki/Fare_basis_code</u></font></a>)",
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Farebase code for the segment.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "origin": {
                      "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "IATA location code.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "destination": {
                      "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "IATA location code.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "departureDateTime": {
                      "format": "date-time",
                      "description": "DateTime of departure of the segment flight. It is specified as local time at origin of the segment.",
                      "type": "string"
                    },
                    "marketingFlight": {
                      "description": "Marketing representation of the flight.",
                      "type": "object",
                      "properties": {
                        "number": {
                          "description": "Flight number. Max of four digits, when less than 3 then prefix with zeroes up till 3 digits. For example: 006, 022, 1001.",
                          "type": "string"
                        },
                        "carrier": {
                          "description": "Carrier that is connected to the flight. Can be different for MarketingFlight and OperatingFlight.",
                          "type": "object",
                          "properties": {
                            "code": {
                              "description": "IATA airline code.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "code"
                          ]
                        }
                      },
                      "required": [
                        "number",
                        "carrier"
                      ]
                    }
                  },
                  "required": [
                    "farebase",
                    "origin",
                    "destination",
                    "departureDateTime",
                    "marketingFlight"
                  ]
                }
              }
            }
          }
        },
        "shortest": {
          "description": "Indicates whether shortest route should be found",
          "type": "boolean"
        }
      },
      "required": [
        "cabinClass",
        "passengerCount",
        "type",
        "requestedConnections"
      ]
    },
    "FO_AvailableOffers": {
      "type": "object",
      "properties": {}
    },
    "AvailableOffers": {
      "description": "Available-offers request the lowest available flight offers.  HTTP method is POST and request parameters are specified in the message body. Request contains number of passengers per type, cabin class, currency (optional) and a list of connections.",
      "type": "object",
      "properties": {
        "cabinClass": {
          "description": "Code for cabin class. Either ECONOMY or BUSINESS for now.",
          "type": "string",
          "enum": [
            "ECONOMY",
            "BUSINESS"
          ]
        },
        "discountCode": {
          "description": "Internet discount code",
          "type": "string"
        },
        "passengerCount": {
          "description": "Describes the number of passengers. Total number of passengers must be 1-9.",
          "type": "object",
          "properties": {
            "YOUNG_ADULT": {
              "description": "Number of young adults. 12-15 years.",
              "type": "integer"
            },
            "INFANT": {
              "description": "Number of infants. Under 2 years.",
              "type": "integer"
            },
            "CHILD": {
              "description": "Number of children. 2-11 years.",
              "type": "integer"
            },
            "ADULT": {
              "description": "Number of adults. 16 years and older.",
              "type": "integer"
            }
          }
        },
        "currency": {
          "description": "Indicates the currency to be used for prices in response.  Three letter currency code according to ISO 4217. If not specified the default currency is taken from POS.",
          "type": "string"
        },
        "includeCarriers": {
          "description": "List of marketing carriers to include in the request.",
          "type": "string"
        },
        "minimumAccuracy": {
          "description": "Minimum accuracy requested as percentage.",
          "type": "integer"
        },
        "requestedConnections": {
          "maxItems": 6,
          "type": "array",
          "items": {
            "description": "Specification of a connection as part of request. Connection is specified by EITHER origin and destination (any flight) OR ordered list of segments (selected flight).",
            "type": "object",
            "properties": {
              "origin": {
                "description": "StationView is helper object. StationView is specified by EITHER City OR Airport.",
                "type": "object",
                "properties": {
                  "city": {
                    "description": "City is an IATA defined location where an Airport is located.",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  },
                  "airport": {
                    "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  }
                }
              },
              "destination": {
                "description": "StationView is helper object. StationView is specified by EITHER City OR Airport.",
                "type": "object",
                "properties": {
                  "city": {
                    "description": "City is an IATA defined location where an Airport is located.",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  },
                  "airport": {
                    "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                    "type": "object",
                    "properties": {
                      "code": {
                        "description": "IATA location code",
                        "type": "string"
                      }
                    },
                    "required": [
                      "code"
                    ]
                  }
                }
              },
              "departureDate": {
                "description": "String representing the departure date requested for the Connection",
                "type": "string"
              },
              "segments": {
                "type": "array",
                "items": {
                  "description": "Segment is a direct flight from its origin to its destination.",
                  "type": "object",
                  "properties": {
                    "farebase": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "Farebase code for the segment.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "origin": {
                      "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "IATA location code",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "destination": {
                      "description": "Airport is an IATA defined location. Airport can actually be a location of type: 1 - Off-Line Point 2 - Metropolitan Area 3 - Airport 4 - Bus Station 5 - Railway Station 6 - Heliport 7 - Ferry Port ",
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "IATA location code",
                          "type": "string"
                        }
                      },
                      "required": [
                        "code"
                      ]
                    },
                    "departureDateTime": {
                      "format": "date-time",
                      "description": "DateTime of departure of the segment flight. It is specified as local time at origin of the segment.",
                      "type": "string"
                    },
                    "marketingFlight": {
                      "description": "Marketing representation of the flight.",
                      "type": "object",
                      "properties": {
                        "number": {
                          "description": "Max of four digits, when less than 3 then prefix with zeroes up till 3 digits. For example: 006, 022, 1001.",
                          "type": "string"
                        },
                        "carrier": {
                          "description": "Carrier that is connected to the flight. Can be different for MarketingFlight and OperatingFlight.",
                          "type": "object",
                          "properties": {
                            "code": {
                              "description": "IATA airline code",
                              "type": "string"
                            }
                          },
                          "required": [
                            "code"
                          ]
                        }
                      },
                      "required": [
                        "number",
                        "carrier"
                      ]
                    }
                  },
                  "required": [
                    "farebase",
                    "origin",
                    "destination",
                    "departureDateTime",
                    "marketingFlight"
                  ]
                }
              }
            }
          }
        },
        "shortest": {
          "description": "Indicates whether shortest route should be found",
          "type": "boolean"
        }
      },
      "required": [
        "cabinClass"
      ]
    }
  }
}
