{
  "swagger": "2.0",
  "info": {
    "title": "Golf v2 Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Golf API",
    "x-mashery-id": "4668"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Golf"
    }
  ],
  "paths": {
    "/golf-t2/schedule/{golf_tour}/{year}/tournaments/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleGolf",
        "summary": "Obtain the schedules for a given tour.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/profiles/{golf_tour}/{year}/players/profiles{format}": {
      "get": {
        "operationId": "PlayerProfilesGolf",
        "summary": "Obtain the profiles for a given year.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/summary/{golf_tour}/{year}/tournaments/{tournament_id}/summary{format}": {
      "get": {
        "operationId": "TournamentSummaryGolf",
        "summary": "Obtain summary information for a given tournament....",
        "description": "Obtain summary information for a given tournament.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The id of the tournament (found in schdule feed)",
            "in": "path",
            "required": true,
            "default": "b95ab96b-9a0b-4309-880a-ad063cb163ea"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/leaderboard/{golf_tour}/{year}/tournaments/{tournament_id}/leaderboard{format}": {
      "get": {
        "operationId": "TournamentLeaderboardGolf",
        "summary": "Obtain the leaderboard for a given tournament.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The id of the tournament (found in schedule feed)",
            "in": "path",
            "required": true,
            "default": "b95ab96b-9a0b-4309-880a-ad063cb163ea"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/hole_stats/{golf_tour}/{year}/tournaments/{tournament_id}/hole-statistics{format}": {
      "get": {
        "operationId": "TournamentHoleStatisticsGolf",
        "summary": "Obtain the hole statistics for a given tournament....",
        "description": "Obtain the hole statistics for a given tournament.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The id of the tournament (found in schdule feed)",
            "in": "path",
            "required": true,
            "default": "b95ab96b-9a0b-4309-880a-ad063cb163ea"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/teetimes/{golf_tour}/{year}/tournaments/{tournament_id}/rounds/{round_number}/teetimes{format}": {
      "get": {
        "operationId": "TeeTimesPerRoundGolf",
        "summary": "Obtain the tee times for a given round.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The id of the tournament (found in schdule feed)",
            "in": "path",
            "required": true,
            "default": "b95ab96b-9a0b-4309-880a-ad063cb163ea"
          },
          {
            "name": "round_number",
            "type": "number",
            "description": "The number of the round",
            "in": "path",
            "required": true,
            "enum": [
              "1",
              "2",
              "3",
              "4"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/scorecards/{golf_tour}/{year}/tournaments/{tournament_id}/rounds/{round_number}/scores{format}": {
      "get": {
        "operationId": "ScorecardsPerRoundGolf",
        "summary": "Obtain the scores for a given round.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The id of the tournament (found in schedule feed)",
            "in": "path",
            "required": true,
            "default": "b95ab96b-9a0b-4309-880a-ad063cb163ea"
          },
          {
            "name": "round_number",
            "type": "number",
            "description": "The number of the round",
            "in": "path",
            "required": true,
            "enum": [
              "1",
              "2",
              "3",
              "4"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/seasontd/{golf_tour}/{year}/players/statistics{format}": {
      "get": {
        "operationId": "PlayerStatisticsGolf",
        "summary": "Obtain statistics for each golfer.",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/golf-t2/changelog/{golf_tour}/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogGolf",
        "summary": "Provides all changes related to player, tournament...",
        "description": "Provides all changes related to player, tournaments, schedules, and statistics",
        "tags": [
          "Golf"
        ],
        "parameters": [
          {
            "name": "golf_tour",
            "type": "string",
            "description": "select the golf tour (pga, euro)",
            "in": "path",
            "required": true,
            "enum": [
              "pga",
              "euro"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the tour season (2012 currently empty)",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The month of the tour season",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day of the month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}