{
  "swagger": "2.0",
  "info": {
    "title": "NCAAWB Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NCAAWB API",
    "x-mashery-id": "2411"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NCAAWB"
    }
  ],
  "paths": {
    "/ncaawb-t3/games/{season_id}/{ncaawb_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNCAAWB",
        "summary": "â date, time, location, and other event details ...",
        "description": "â date, time, location, and other event details for every match-up taking place in the full league season",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "ncaawb_season",
            "type": "string",
            "description": "The part of the season, (REG, PST, CT)",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "CT"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleNCAAWB",
        "summary": "Get single day schedules for NCAA womens Basketbal...",
        "description": "Get single day schedules for NCAA womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/tournaments/{season_id}/{ncaawb_season}/schedule{format}": {
      "get": {
        "operationId": "TournamentListNCAAWB",
        "summary": "Get tournament schedules for NCAA Womens Basketbal...",
        "description": "Get tournament schedules for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "ncaawb_season",
            "type": "string",
            "description": "The part of the season, (REG, PST, CT)",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "CT"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleNCAAWB",
        "summary": "Get tournament schedules for NCAA Womens Basketbal...",
        "description": "Get tournament schedules for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a given tournament, found in the tournament list feed",
            "in": "path",
            "required": true,
            "default": "b8df74af-41f0-4599-80a5-57d79b853251"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/tournaments/{tournament_id}/summary{format}": {
      "get": {
        "operationId": "TournamentSummary(SeededTournamentsOnly)NCAAWB",
        "summary": "Get tournament summaries for NCAA Womens Basketbal...",
        "description": "Get tournament summaries for NCAA Womens Basketball seeded tournaments.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a given seeded tournament, found in the tournament list feed",
            "in": "path",
            "required": true,
            "default": "b8df74af-41f0-4599-80a5-57d79b853251"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNCAAWB",
        "summary": "Get boxscore data for NCAA Womens Basketball games...",
        "description": "Get boxscore data for NCAA Womens Basketball games.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "28f4bc32-f1a6-439d-b17a-b2be7896f0f5"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/polls/{type_id}/{season_id}/rankings{format}": {
      "get": {
        "operationId": "Rankings(CurrentWeek)NCAAWB",
        "summary": "Get current weeks poll rankings for NCAA Womens Ba...",
        "description": "Get current weeks poll rankings for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "type_id",
            "type": "string",
            "description": "The AP or US poll",
            "in": "path",
            "required": true,
            "enum": [
              "AP",
              "US"
            ]
          },
          {
            "name": "season_id",
            "type": "number",
            "description": "The year for the start of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/polls/{type_id}/{season_id}/{ncaawb_week}/rankings{format}": {
      "get": {
        "operationId": "Rankings(ByWeek)NCAAWB",
        "summary": "Get specific weeks poll rankings for NCAA Womens B...",
        "description": "Get specific weeks poll rankings for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "type_id",
            "type": "string",
            "description": "The AP or US poll",
            "in": "path",
            "required": true,
            "enum": [
              "AP",
              "US"
            ]
          },
          {
            "name": "season_id",
            "type": "number",
            "description": "The year for the start of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "ncaawb_week",
            "type": "string",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "W2",
              "W3",
              "W4",
              "W5",
              "W6",
              "W7",
              "W8",
              "W9",
              "W10",
              "W11",
              "W12",
              "W13",
              "W14",
              "W15",
              "W16",
              "W17",
              "W18",
              "W19",
              "W20",
              "PST",
              "PSTF"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/polls/rpi/{season_id}/rankings{format}": {
      "get": {
        "operationId": "RPIRankings(Daily)NCAAWB",
        "summary": "Get current RPI poll rankings for NCAA Womens Bask...",
        "description": "Get current RPI poll rankings for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year for the start of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/seasontd/{season_id}/{ncaawb_season}/standings{format}": {
      "get": {
        "operationId": "StandingsNCAAWB",
        "summary": "Get standings information for NCAA Womens Basketba...",
        "description": "Get standings information for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "ncaawb_season",
            "type": "string",
            "description": "The part of the season, Post-season (PST)",
            "in": "path",
            "required": true,
            "enum": [
              "REG"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNCAAWB",
        "summary": "Get the league hierarchy information for NCAA Wome...",
        "description": "Get the league hierarchy information for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile(Rosters)NCAAWB",
        "summary": "Get team rosters for NCAA Womens Basketball.",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the league hierarchy feed",
            "in": "path",
            "required": true,
            "default": "6e0c5edc-4a6d-416b-9e10-7cccf13e971f"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaawb-t3/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNCAAWB",
        "summary": "information on any changes made to teams, players,...",
        "description": "information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "NCAAWB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}