{
  "swagger": "2.0",
  "info": {
    "title": "Email API (Closed)",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Sends an email via the CCE enterprise service bus",
    "x-mashery-id": "459"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/v1/email",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Send Email Method"
    }
  ],
  "paths": {
    "/send": {
      "post": {
        "operationId": "sendSendEmailMethod",
        "summary": "Sends email",
        "tags": [
          "Send Email Method"
        ],
        "parameters": [
          {
            "name": "fromAddress",
            "type": "string",
            "description": "From address",
            "in": "query",
            "required": true,
            "default": "apisupport@cokecce.com"
          },
          {
            "name": "toAddress",
            "type": "string",
            "description": "To address(es) separated by commas",
            "in": "query",
            "required": true,
            "default": "carlkennedy@cokecce.com"
          },
          {
            "name": "ccAddress",
            "type": "string",
            "description": "CC address(es) separated by commas",
            "in": "query",
            "required": false
          },
          {
            "name": "bccAddress",
            "type": "string",
            "description": "BCC address(es) separated by commas",
            "in": "query",
            "required": false
          },
          {
            "name": "subject",
            "type": "string",
            "description": "Subject",
            "in": "query",
            "required": true
          },
          {
            "name": "body",
            "type": "string",
            "description": "Body",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}