{
  "swagger": "2.0",
  "info": {
    "title": "Supplier API (Closed)",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.cokecce.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. API for supplier information",
    "x-mashery-id": "461"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/supplier",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "getDetails"
    }
  ],
  "paths": {
    "/details": {
      "get": {
        "operationId": "detailsgetDetails",
        "summary": "Returns supplier information",
        "tags": [
          "getDetails"
        ],
        "parameters": [
          {
            "name": "supplier",
            "type": "string",
            "description": "Supplier information",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/openItems": {
      "get": {
        "operationId": "openItemsgetDetails",
        "summary": "Returns supplier open items",
        "tags": [
          "getDetails"
        ],
        "parameters": [
          {
            "name": "supplier",
            "type": "string",
            "description": "Supplier information",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/closedItems": {
      "get": {
        "operationId": "closedItemsgetDetails",
        "summary": "Returns supplier closed items",
        "tags": [
          "getDetails"
        ],
        "parameters": [
          {
            "name": "supplier",
            "type": "string",
            "description": "Supplier information",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}