{
  "swagger": "2.0",
  "info": {
    "title": "Customer API DEV (Closed)",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. API for customer information",
    "x-mashery-id": "1074"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/v1/customer",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Customer"
    }
  ],
  "paths": {
    "/details": {
      "get": {
        "operationId": "detailsCustomer",
        "summary": "Returns customer information",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer",
            "type": "string",
            "description": "Customer number",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/orderHistory": {
      "get": {
        "operationId": "orderHistoryCustomer",
        "summary": "Order history",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer",
            "type": "string",
            "description": "Customer number",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/orderDetails": {
      "get": {
        "operationId": "orderDetailsCustomer",
        "summary": "Order details",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer",
            "type": "string",
            "description": "Customer number",
            "in": "query",
            "required": true
          },
          {
            "name": "orderNumber",
            "type": "string",
            "description": "Order number",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/deliveryHistory": {
      "get": {
        "operationId": "deliveryHistoryCustomer",
        "summary": "Deliveries list",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer",
            "type": "string",
            "description": "Customer number",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/serviceTicket/history": {
      "get": {
        "operationId": "serviceTicketsListCustomer",
        "summary": "Service Ticket List",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer",
            "type": "string",
            "description": "Customer number",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/routeDetails": {
      "get": {
        "operationId": "routeDetailsCustomer",
        "summary": "Route Details",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer",
            "type": "string",
            "description": "Customer number",
            "in": "query",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "description": "Route date",
            "in": "query",
            "required": true,
            "default": "20130115"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/{order}": {
      "get": {
        "operationId": "GetOrdersCustomer",
        "summary": "Get Order or List of Orders",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "order",
            "type": "string",
            "description": "Order number",
            "in": "path",
            "required": true
          },
          {
            "name": "customer",
            "type": "string",
            "description": "Customer Number",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateOrdersCustomer",
        "summary": "Create or Update Order",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "order",
            "type": "string",
            "description": "Order number",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/pricing/": {
      "post": {
        "operationId": "GetPricingCustomer",
        "summary": "Get Corrected Pricing",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/order/cancel/{order}": {
      "post": {
        "operationId": "CancelOrdersCustomer",
        "summary": "Cancel an Order",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "order",
            "type": "string",
            "description": "Order number",
            "in": "path",
            "required": true
          },
          {
            "name": "email",
            "type": "string",
            "description": "Email",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}