{
  "swagger": "2.0",
  "info": {
    "title": "Athletics",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "The API calls below can be used to test the Input and Output of our API endpoints.  You'll need an API key and an assigned secret to access the live data and so if you haven't contacted us yet, now is the time!  Our sales staff would be happy to set you up with trial access so you can begin to evaluate the product. Athletics",
    "x-mashery-id": "3868"
  },
  "schemes": [
    "http"
  ],
  "host": "api.stats.com",
  "basePath": "/",
  "externalDocs": {
    "description": "After you've been given an API key and secret, enter it below and \"Get\" the method you'd like to try out.  Fill in the parameters with what you'd like to try, or use the built in defaults, and click \"Try It!\" to execute the call.  The JSON or XML response will be populated in the Response Body, the Response Body will provide you with any relevant codes, and the Request Header URI will show you how the call would be made within your application. Please note:Also, endpoints almost always require a final \"/\".  You will receive \"596 Service Not Found\" when it is missing.  An exception to this is for optional methods, such as eventId or teamId.",
    "url": "http://developer.stats.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Athletics - Leagues"
    },
    {
      "name": "Athletics - Teams"
    },
    {
      "name": "Athletics - Schedules and results"
    },
    {
      "name": "Athletics - Participants"
    },
    {
      "name": "Athletics - Decodes"
    }
  ],
  "paths": {
    "/stats/athletics/leagues/": {
      "get": {
        "operationId": "Athletics-LeaguesAthletics-Leagues",
        "summary": "The athletics leagues endpoint serves as a decode ...",
        "description": "The athletics leagues endpoint serves as a decode for the available leagues names, abbreviations, and URI paths.",
        "tags": [
          "Athletics - Leagues"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/athletics/{leaguePath}/teams/{teamId}/": {
      "get": {
        "operationId": "Athletics-TeamsAthletics-Teams",
        "summary": "Team information.",
        "tags": [
          "Athletics - Teams"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "rotm",
              "agp",
              "vdhm",
              "asiad",
              "acm",
              "athl",
              "aus swim",
              "abmgp",
              "abgp",
              "algp",
              "baabm",
              "rbm",
              "dkfm",
              "lbcm",
              "bim",
              "mvd",
              "bihm",
              "bgmr",
              "bgnr",
              "bgsr",
              "cdlm",
              "ci",
              "galag",
              "dkb",
              "dng",
              "dub",
              "edp",
              "bisl",
              "fim",
              "gdc",
              "cmh",
              "herc",
              "hphm",
              "iaaf",
              "waf",
              "wccc",
              "whmc",
              "wic",
              "wjc",
              "wrwc",
              "wyc",
              "cc",
              "ing",
              "iie",
              "lbmm",
              "mip",
              "mpsd",
              "nagm",
              "alia",
              "pc",
              "rak",
              "rrphm",
              "rohm",
              "rm",
              "sggp",
              "qasgp",
              "sim",
              "shgm",
              "sea",
              "scmm",
              "scs",
              "sxgames",
              "amsm",
              "sw10k",
              "tm",
              "tur",
              "vc",
              "vlm",
              "vpm",
              "wz",
              "wxgames",
              "wca",
              "wb10k",
              "xim",
              "yjihm"
            ]
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "A teamId returns information for that team only.  If entered, then the conferenceId is ignored.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get team lists for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/athletics/{leaguePath}/events/{eventId}/": {
      "get": {
        "operationId": "Athletics-SchedulesandresultsAthletics-Schedulesandresults",
        "summary": "Schedules and results",
        "tags": [
          "Athletics - Schedules and results"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "rotm",
              "agp",
              "vdhm",
              "asiad",
              "acm",
              "athl",
              "aus swim",
              "abmgp",
              "abgp",
              "algp",
              "baabm",
              "rbm",
              "dkfm",
              "lbcm",
              "bim",
              "mvd",
              "bihm",
              "bgmr",
              "bgnr",
              "bgsr",
              "cdlm",
              "ci",
              "galag",
              "dkb",
              "dng",
              "dub",
              "edp",
              "bisl",
              "fim",
              "gdc",
              "cmh",
              "herc",
              "hphm",
              "iaaf",
              "waf",
              "wccc",
              "whmc",
              "wic",
              "wjc",
              "wrwc",
              "wyc",
              "cc",
              "ing",
              "iie",
              "lbmm",
              "mip",
              "mpsd",
              "nagm",
              "alia",
              "pc",
              "rak",
              "rrphm",
              "rohm",
              "rm",
              "sggp",
              "qasgp",
              "sim",
              "shgm",
              "sea",
              "scmm",
              "scs",
              "sxgames",
              "amsm",
              "sw10k",
              "tm",
              "tur",
              "vc",
              "vlm",
              "vpm",
              "wz",
              "wxgames",
              "wca",
              "wb10k",
              "xim",
              "yjihm"
            ]
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box request.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get events for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/athletics/{leaguePath}/participants/": {
      "get": {
        "operationId": "Athletics-ParticipantsAthletics-Participants",
        "summary": "The participants endpoint provides biographical in...",
        "description": "The participants endpoint provides biographical information for riders and can be used to return information on a single player, a single teams roster, or all teams rosters within the league.",
        "tags": [
          "Athletics - Participants"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "rotm",
              "agp",
              "vdhm",
              "asiad",
              "acm",
              "athl",
              "aus swim",
              "abmgp",
              "abgp",
              "algp",
              "baabm",
              "rbm",
              "dkfm",
              "lbcm",
              "bim",
              "mvd",
              "bihm",
              "bgmr",
              "bgnr",
              "bgsr",
              "cdlm",
              "ci",
              "galag",
              "dkb",
              "dng",
              "dub",
              "edp",
              "bisl",
              "fim",
              "gdc",
              "cmh",
              "herc",
              "hphm",
              "iaaf",
              "waf",
              "wccc",
              "whmc",
              "wic",
              "wjc",
              "wrwc",
              "wyc",
              "cc",
              "ing",
              "iie",
              "lbmm",
              "mip",
              "mpsd",
              "nagm",
              "alia",
              "pc",
              "rak",
              "rrphm",
              "rohm",
              "rm",
              "sggp",
              "qasgp",
              "sim",
              "shgm",
              "sea",
              "scmm",
              "scs",
              "sxgames",
              "amsm",
              "sw10k",
              "tm",
              "tur",
              "vc",
              "vlm",
              "vpm",
              "wz",
              "wxgames",
              "wca",
              "wb10k",
              "xim",
              "yjihm"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & player names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/athletics/{leaguePath}/participants/teams/{teamId}/": {
      "get": {
        "operationId": "Athletics-AllparticipantsonasingleteamAthletics-Participants",
        "summary": "Including a team ID will limit rosters returned to...",
        "description": "Including a team ID will limit rosters returned to the selected team only.",
        "tags": [
          "Athletics - Participants"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "rotm",
              "agp",
              "vdhm",
              "asiad",
              "acm",
              "athl",
              "aus swim",
              "abmgp",
              "abgp",
              "algp",
              "baabm",
              "rbm",
              "dkfm",
              "lbcm",
              "bim",
              "mvd",
              "bihm",
              "bgmr",
              "bgnr",
              "bgsr",
              "cdlm",
              "ci",
              "galag",
              "dkb",
              "dng",
              "dub",
              "edp",
              "bisl",
              "fim",
              "gdc",
              "cmh",
              "herc",
              "hphm",
              "iaaf",
              "waf",
              "wccc",
              "whmc",
              "wic",
              "wjc",
              "wrwc",
              "wyc",
              "cc",
              "ing",
              "iie",
              "lbmm",
              "mip",
              "mpsd",
              "nagm",
              "alia",
              "pc",
              "rak",
              "rrphm",
              "rohm",
              "rm",
              "sggp",
              "qasgp",
              "sim",
              "shgm",
              "sea",
              "scmm",
              "scs",
              "sxgames",
              "amsm",
              "sw10k",
              "tm",
              "tur",
              "vc",
              "vlm",
              "vpm",
              "wz",
              "wxgames",
              "wca",
              "wb10k",
              "xim",
              "yjihm"
            ]
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return roster for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & player names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/athletics/{leaguePath}/participants/{playerId}/": {
      "get": {
        "operationId": "Athletics-SingleathleteAthletics-Participants",
        "summary": "Including a player ID will limit data returned to ...",
        "description": "Including a player ID will limit data returned to the selected athlete only.",
        "tags": [
          "Athletics - Participants"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "rotm",
              "agp",
              "vdhm",
              "asiad",
              "acm",
              "athl",
              "aus swim",
              "abmgp",
              "abgp",
              "algp",
              "baabm",
              "rbm",
              "dkfm",
              "lbcm",
              "bim",
              "mvd",
              "bihm",
              "bgmr",
              "bgnr",
              "bgsr",
              "cdlm",
              "ci",
              "galag",
              "dkb",
              "dng",
              "dub",
              "edp",
              "bisl",
              "fim",
              "gdc",
              "cmh",
              "herc",
              "hphm",
              "iaaf",
              "waf",
              "wccc",
              "whmc",
              "wic",
              "wjc",
              "wrwc",
              "wyc",
              "cc",
              "ing",
              "iie",
              "lbmm",
              "mip",
              "mpsd",
              "nagm",
              "alia",
              "pc",
              "rak",
              "rrphm",
              "rohm",
              "rm",
              "sggp",
              "qasgp",
              "sim",
              "shgm",
              "sea",
              "scmm",
              "scs",
              "sxgames",
              "amsm",
              "sw10k",
              "tm",
              "tur",
              "vc",
              "vlm",
              "vpm",
              "wz",
              "wxgames",
              "wca",
              "wb10k",
              "xim",
              "yjihm"
            ]
          },
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific athlete, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & player names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/athletics/{leaguePath}/{decodeType}": {
      "get": {
        "operationId": "Athletics-DecodesAthletics-Decodes",
        "summary": "Athletics - Decodes",
        "tags": [
          "Athletics - Decodes"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "rotm",
              "agp",
              "vdhm",
              "asiad",
              "acm",
              "athl",
              "aus swim",
              "abmgp",
              "abgp",
              "algp",
              "baabm",
              "rbm",
              "dkfm",
              "lbcm",
              "bim",
              "mvd",
              "bihm",
              "bgmr",
              "bgnr",
              "bgsr",
              "cdlm",
              "ci",
              "galag",
              "dkb",
              "dng",
              "dub",
              "edp",
              "bisl",
              "fim",
              "gdc",
              "cmh",
              "herc",
              "hphm",
              "iaaf",
              "waf",
              "wccc",
              "whmc",
              "wic",
              "wjc",
              "wrwc",
              "wyc",
              "cc",
              "ing",
              "iie",
              "lbmm",
              "mip",
              "mpsd",
              "nagm",
              "alia",
              "pc",
              "rak",
              "rrphm",
              "rohm",
              "rm",
              "sggp",
              "qasgp",
              "sim",
              "shgm",
              "sea",
              "scmm",
              "scs",
              "sxgames",
              "amsm",
              "sw10k",
              "tm",
              "tur",
              "vc",
              "vlm",
              "vpm",
              "wz",
              "wxgames",
              "wca",
              "wb10k",
              "xim",
              "yjihm"
            ]
          },
          {
            "name": "decodeType",
            "type": "integer",
            "description": "The data type to be decoded.",
            "in": "path",
            "required": true,
            "enum": [
              "competitionId",
              "eventStatuses",
              "resultTypes",
              "seasonStructure"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "For seasonStructure only. To get structure for a single season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "allSeasons",
            "type": "boolean",
            "description": "For seasonStructure only. To get complete history of league, select allSeasons=TRUE. Only those permissioned for all historic data will be able to utilize the 'allSeasons' option.\n  Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}