{
  "swagger": "2.0",
  "x-hasEquivalentPaths": true,
  "info": {
    "title": "British Airways Hotel and More Offers",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.ba.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Provide hotel and more offers information.",
    "x-mashery-id": "1684"
  },
  "schemes": [
    "http"
  ],
  "host": "api.ba.com",
  "basePath": "/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.ba.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Hotels"
    },
    {
      "name": "Hotel Packages"
    },
    {
      "name": "Cars"
    },
    {
      "name": "Car Packages"
    }
  ],
  "paths": {
    "/hotels;countryCode={countryCode;cityCode=}{cityCode;checkInDate=}{checkInDate;checkOutDate=}{checkOutDate;format=}{format}": {
      "get": {
        "operationId": "Searchforhotelsbyspecifyingcountry,city,check-inandcheck-outdatesHotels",
        "summary": "Method to retrieve information about the hotel usi...",
        "description": "Method to retrieve information about the hotel using below params",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "type": "string",
            "description": "An ISO 2 character country code",
            "in": "query",
            "required": true
          },
          {
            "name": "cityCode",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "checkInDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "checkOutDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "countryCode;cityCode=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cityCode;checkInDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkInDate;checkOutDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkOutDate;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotels;countryCode={countryCode;cityCode=}{cityCode;checkInDate=}{checkInDate;numberOfNights=}{numberOfNights;format=}{format}": {
      "get": {
        "operationId": "Searchforhotelsbyspecifyingcountry,city,check-indateandnumberofnightsHotels",
        "summary": "Method to retrieve information about the hotel usi...",
        "description": "Method to retrieve information about the hotel using below params",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "type": "string",
            "description": "An 2 character country code",
            "in": "query",
            "required": true
          },
          {
            "name": "cityCode",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "checkInDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "numberOfNights",
            "type": "string",
            "description": "Number of nights in single digit",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "countryCode;cityCode=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cityCode;checkInDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkInDate;numberOfNights=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "numberOfNights;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotels;countryCode={countryCode;cityCode=}{cityCode;checkInDate=}{checkInDate;checkOutDate=}{checkOutDate;starRating=}{starRating;format=}{format}": {
      "get": {
        "operationId": "Searchforhotelsbyspecifyingcountry,city,check-indateandhotelstarratingHotels",
        "summary": "Method to retrieve information about the hotel usi...",
        "description": "Method to retrieve information about the hotel using below params",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "type": "string",
            "description": "An 2 character country code",
            "in": "query",
            "required": true
          },
          {
            "name": "cityCode",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "checkInDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "checkOutDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "starRating",
            "type": "string",
            "description": "Star rating for the hotel in single digit",
            "in": "query",
            "required": true,
            "default": "5"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "countryCode;cityCode=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cityCode;checkInDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkInDate;checkOutDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkOutDate;starRating=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "starRating;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotels;countryCode={countryCode;cityCode=}{cityCode;checkInDate=}{checkInDate;numberOfNights=}{numberOfNights;isAirportHotel=}{isAirportHotel;format=}{format}": {
      "get": {
        "operationId": "Searchforhotelsbyspecifyingcountry,city,check-indateandairporthotelHotels",
        "summary": "Method to retrieve information about the hotel usi...",
        "description": "Method to retrieve information about the hotel using below params",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "type": "string",
            "description": "An 2 character country code",
            "in": "query",
            "required": true
          },
          {
            "name": "cityCode",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "checkInDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "numberOfNights",
            "type": "string",
            "description": "Number of nights in single digit",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "isAirportHotel",
            "type": "string",
            "description": "Flag to indicate is the Airport hotel or not (Y/N)",
            "in": "query",
            "required": true,
            "enum": [
              "Y",
              "N"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "countryCode;cityCode=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cityCode;checkInDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkInDate;numberOfNights=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "numberOfNights;isAirportHotel=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "isAirportHotel;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotels;countryCode={countryCode;cityCode=}{cityCode;checkInDate=}{checkInDate;checkOutDate=}{checkOutDate;isAirportHotel=}{isAirportHotel;format=}{format}": {
      "get": {
        "operationId": "Searchforhotelsbyspecifyingcountry,city,check-in,check-outdates,starratingandairporthotelHotels",
        "summary": "Method to retrieve information about the hotel usi...",
        "description": "Method to retrieve information about the hotel using below params",
        "tags": [
          "Hotels"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "type": "string",
            "description": "An 2 character country code",
            "in": "query",
            "required": true
          },
          {
            "name": "cityCode",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "checkInDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "checkOutDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "isAirportHotel",
            "type": "string",
            "description": "Flag to indicate is the Airport hotel or not (Y/N)",
            "in": "query",
            "required": true,
            "enum": [
              "Y",
              "N"
            ]
          },
          {
            "name": "starRating",
            "type": "string",
            "description": "Star rating for the hotel in single digit",
            "in": "query",
            "required": true,
            "default": "5"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "countryCode;cityCode=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cityCode;checkInDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkInDate;checkOutDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkOutDate;isAirportHotel=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "isAirportHotel;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotelPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;format=}{format}": {
      "get": {
        "operationId": "Searchforflight&hotelpackagesbyspecifyingorigin,destination,andflightdeparturedateHotelPackages",
        "summary": "Method to retrieve information about the hotel pac...",
        "description": "Method to retrieve information about the hotel packages using below params",
        "tags": [
          "Hotel Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotelPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;checkInDate=}{checkInDate;format=}{format}": {
      "get": {
        "operationId": "Searchforflight&hotelpackagesbyspecifyingorigin,destination,flightdepartureandhotelcheck-indateHotelPackages",
        "summary": "Method to retrieve information about the hotel pac...",
        "description": "Method to retrieve information about the hotel packages using parameters below",
        "tags": [
          "Hotel Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "checkInDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;checkInDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkInDate;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotelPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;checkInDate=}{checkInDate;returnDate=}{returnDate;format=}{format}": {
      "get": {
        "operationId": "Searchforflight&hotelpackagesbyspecifyingorigin,destination,hotelcheck-in,check-out,flightdepartureandreturndatesandhotelstarratingHotelPackages",
        "summary": "Method to retrieve information about flight and ho...",
        "description": "Method to retrieve information about flight and hotel packages using parameters below",
        "tags": [
          "Hotel Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "checkInDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "duration",
            "type": "string",
            "description": "Duration detail",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "stars",
            "type": "string",
            "description": "Star detail",
            "in": "query",
            "required": true,
            "default": "5.0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;checkInDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "checkInDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "returnDate;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotelPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;duration=}{duration;format=}{format}": {
      "get": {
        "operationId": "Searchforflight&hotelpackagesbyspecifyingorigin,destination,departuredateanddurationHotelPackages",
        "summary": "Method to retrieve information about the hotel pac...",
        "description": "Method to retrieve information about the hotel packages using parameters below",
        "tags": [
          "Hotel Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "duration",
            "type": "string",
            "description": "Duration detail",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;duration=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "duration;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hotelPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;stars=}{stars;format=}{format}": {
      "get": {
        "operationId": "Searchforflight&hotelpackagesbyspecifyingorigin,destination,flightdeparturedateandhotelstarsHotelPackages",
        "summary": "Method to retrieve information about the hotel pac...",
        "description": "Method to retrieve information about the hotel packages using parameters below",
        "tags": [
          "Hotel Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "stars",
            "type": "string",
            "description": "Star detail",
            "in": "query",
            "required": true,
            "default": "5.0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;stars=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "stars;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cars;destination={destination;pickUpDate=}{pickUpDate;dropOffDate=}{dropOffDate;format=}{format}": {
      "get": {
        "operationId": "Searchforhirecarsbyspecifyingdestination,pick-upanddrop-offdatesCars",
        "summary": "Method to search for hire cars by specifying desti...",
        "description": "Method to search for hire cars by specifying destination and pick-up and drop-off dates",
        "tags": [
          "Cars"
        ],
        "parameters": [
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "dropOffDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "destination;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;dropOffDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dropOffDate;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cars;destination={destination;pickUpDate=}{pickUpDate;duration=}{duration;format=}{format}": {
      "get": {
        "operationId": "Searchforhirecarsbyspecifyingdestination,pick-updateanddurationCars",
        "summary": "Method to search for hire cars by specifying desti...",
        "description": "Method to search for hire cars by specifying destination and pick-up date and duration",
        "tags": [
          "Cars"
        ],
        "parameters": [
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "duration",
            "type": "string",
            "description": "Number of days car is required",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "destination;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;duration=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "duration;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cars;destination={destination;pickUpDate=}{pickUpDate;dropOffDate=}{dropOffDate;type=}{type;format=}{format}": {
      "get": {
        "operationId": "Searchforhirecarsbyspecifyingdestination,pick-up,drop-offdatesandtransmissiontypeCars",
        "summary": "Method to search for hire cars by specifying desti...",
        "description": "Method to search for hire cars by specifying destination, pick-up, drop-off dates dates and transmission type",
        "tags": [
          "Cars"
        ],
        "parameters": [
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "dropOffDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "type",
            "type": "string",
            "description": "Type of car required Automatic / Manual",
            "in": "query",
            "required": true,
            "enum": [
              "Automatic",
              "Manual"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "destination;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;dropOffDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dropOffDate;type=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "type;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cars;destination={destination;pickUpDate=}{pickUpDate;duration=}{duration;groupIdentifier}{groupIdentifier;format=}{format}": {
      "get": {
        "operationId": "Searchforhirecarsbyspecifyingdestination,pick-update,durationandcargroupCars",
        "summary": "Method to retrieve information about the cars by s...",
        "description": "Method to retrieve information about the cars by specifying destination, pick-up date, duration and car group",
        "tags": [
          "Cars"
        ],
        "parameters": [
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "duration",
            "type": "string",
            "description": "Number of days car is required",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "groupIdenitifer",
            "type": "string",
            "description": "GroupIdentifer of the car",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "destination;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;duration=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "duration;groupIdentifier",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "groupIdentifier;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cars;destination={destination;pickUpDate=}{pickUpDate;duration=}{duration;type=}{type;groupIdentifier}{groupIdentifier;format=}{format}": {
      "get": {
        "operationId": "Searchforhirecarsbyspecifyingdestination,pick-update,duration,transmissiontypeandcargroupCars",
        "summary": "Method to retrieve information about the cars by s...",
        "description": "Method to retrieve information about the cars by specifying destination, pick-up date, duration, transmission type and car group",
        "tags": [
          "Cars"
        ],
        "parameters": [
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "duration",
            "type": "string",
            "description": "Number of days car is required",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "type",
            "type": "string",
            "description": "Type of car required Automatic / Manual",
            "in": "query",
            "required": true,
            "enum": [
              "Automatic",
              "Manual"
            ]
          },
          {
            "name": "groupIdenitifer",
            "type": "string",
            "description": "GroupIdentifer of the car",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "destination;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;duration=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "duration;type=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "type;groupIdentifier",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "groupIdentifier;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate}": {
      "get": {
        "operationId": "Searchforflight&hirecarpackagesbyspecifyingorigin,destinationanddeparturedateCarPackages",
        "summary": "Method to search flight & hire car packages by spe...",
        "description": "Method to search flight & hire car packages by specifying origin, destination and departure date",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;returnDate=}{returnDate}": {
      "get": {
        "operationId": "Searchflight&hirecarpackagesbyspecifyingorigin,destination,flightdepartureandreturndatesCarPackages",
        "summary": "Method to retrieve information about the car packa...",
        "description": "Method to retrieve information about the car packages by specifying origin, destination, flight departure and return dates",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;returnDate=}{returnDate;pickUpDate=}{pickUpDate}": {
      "get": {
        "operationId": "Searchflight&hirecarpackagesbyspecifyingorigin,destination,flightdeparture,carpick-upandreturndateCarPackages",
        "summary": "Method to search flight & hire car packages by spe...",
        "description": "Method to search flight & hire car packages by specifying origin, destination, flight departure, car pick-up and return dates",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "returnDate;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;returnDate=}{returnDate;pickUpDate=}{pickUpDate;dropOffDate=}{dropOffDate}": {
      "get": {
        "operationId": "Searchflight&hirecarpackagesbyspecifyingorigin,destination,flightdepartureandreturndates,carpick-upanddrop-offdatesCarPackages",
        "summary": "Method to retrieve information about the car packa...",
        "description": "Method to retrieve information about the car packages by specifying origin, destination, flight departure and return dates, car pick-up and drop-off dates",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "dropOffDate",
            "type": "string",
            "description": "A date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "returnDate;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;dropOffDate=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;returnDate=}{returnDate;pickUpDate=}{pickUpDate;dropOffDate=}{dropOffDate;cabinCodeOutbound=}{cabinCodeOutbound;cabinCodeInbound=}{cabinCodeInbound}": {
      "get": {
        "operationId": "Searchflgiht&hirecarpackagesbyspecifyingorigin,destination,flightdepartureandreturn,carpick-up,drop-offdatesandcabinCarPackages",
        "summary": "Method to retrieve information about the car packa...",
        "description": "Method to retrieve information about the car packages by specifying origin, destination, flight departure and return, car pick-up, drop-off dates and cabin",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A departure date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A return date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A pick-up date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "dropOffDate",
            "type": "string",
            "description": "A drop-off date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeOutbound",
            "type": "string",
            "description": "CabinCode for the outbound journey",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeInbound",
            "type": "string",
            "description": "CabinCode for the inbound journey",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "returnDate;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;dropOffDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dropOffDate;cabinCodeOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinCodeOutbound;cabinCodeInbound=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;returnDate=}{returnDate;pickUpDate=}{pickUpDate;dropOffDate=}{dropOffDate;cabinCodeOutbound=}{cabinCodeOutbound;cabinCodeInbound=}{cabinCodeInbound;type=}{type}": {
      "get": {
        "operationId": "Searchflight&hirecarpackagesbyspecifyingorigin,destination,flightcabin,departure&returndates,carpick-up,drop-offandtransmissiontypeCarPackages",
        "summary": "Method to retrieve information about the car packa...",
        "description": "Method to retrieve information about the car packages by specifying origin, destination, flight cabin, departure & return dates, car pick-up, drop-off dates and transmission type",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A departure date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A return date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A pick-up date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "dropOffDate",
            "type": "string",
            "description": "A drop-off date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeOutbound",
            "type": "string",
            "description": "CabinCode for the outbound journey",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeInbound",
            "type": "string",
            "description": "CabinCode for the inbound journey",
            "in": "query",
            "required": true
          },
          {
            "name": "type",
            "type": "string",
            "description": "Type of car required Automatic / Manual",
            "in": "path",
            "required": true,
            "enum": [
              "Automatic",
              "Manual"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "returnDate;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;dropOffDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dropOffDate;cabinCodeOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinCodeOutbound;cabinCodeInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinCodeInbound;type=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;returnDate=}{returnDate;pickUpDate=}{pickUpDate;dropOffDate=}{dropOffDate;cabinCodeOutbound=}{cabinCodeOutbound;cabinCodeInbound=}{cabinCodeInbound;groupIdentifier=}{groupIdentifier}": {
      "get": {
        "operationId": "Searchflight&hirecarpackagesbyspecifyingorigin,destination,flightcabin,departure&returndates,carpick-up,drop-offandgroupCarPackages",
        "summary": "Method to retrieve information about the car packa...",
        "description": "Method to retrieve information about the car packages by specifying origin, destination, flight cabin, departure & return dates, car pick-up, drop-off dates and group",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A departure date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A return date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A pick-up date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "dropOffDate",
            "type": "string",
            "description": "A drop-off date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeOutbound",
            "type": "string",
            "description": "CabinCode for the outbound journey",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeInbound",
            "type": "string",
            "description": "CabinCode for the inbound journey",
            "in": "query",
            "required": true
          },
          {
            "name": "groupIdentifier",
            "type": "string",
            "description": "GroupIdentifier for the car",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "returnDate;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;dropOffDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dropOffDate;cabinCodeOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinCodeOutbound;cabinCodeInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinCodeInbound;groupIdentifier=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/carPackages;origin={origin;destination=}{destination;departureDate=}{departureDate;returnDate=}{returnDate;pickUpDate=}{pickUpDate;dropOffDate=}{dropOffDate;cabinCodeOutbound=}{cabinCodeOutbound;cabinCodeInbound=}{cabinCodeInbound;groupIdentifier=}{groupIdentifier;type=}{type}": {
      "get": {
        "operationId": "Searchcarpackagesbyspecifyingorigin,destination,flightdeparture&return,carpick-up,drop-offdates,groupandtransmissiontypeCarPackages",
        "summary": "Method to retrieve information about the car packa...",
        "description": "Method to retrieve information about the car packages by specifying origin, destination, flight cabin, departure & return, car pick-up, drop-off dates, group and transmission type",
        "tags": [
          "Car Packages"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "An IATA 3 character airport or city code",
            "in": "query",
            "required": true
          },
          {
            "name": "departureDate",
            "type": "string",
            "description": "A departure date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "returnDate",
            "type": "string",
            "description": "A return date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "pickUpDate",
            "type": "string",
            "description": "A pick-up date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "dropOffDate",
            "type": "string",
            "description": "A drop-off date in the format YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeOutbound",
            "type": "string",
            "description": "CabinCode for the outbound journey",
            "in": "query",
            "required": true
          },
          {
            "name": "cabinCodeInbound",
            "type": "string",
            "description": "CabinCode for the inbound journey",
            "in": "query",
            "required": true
          },
          {
            "name": "type",
            "type": "string",
            "description": "Type of car required Automatic / Manual",
            "in": "path",
            "required": true,
            "enum": [
              "Automatic",
              "Manual"
            ]
          },
          {
            "name": "groupIdentifier",
            "type": "string",
            "description": "GroupIdentifier for the car",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "query",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "origin;destination=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "destination;departureDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDate;returnDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "returnDate;pickUpDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "pickUpDate;dropOffDate=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "dropOffDate;cabinCodeOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinCodeOutbound;cabinCodeInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinCodeInbound;groupIdentifier=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "groupIdentifier;type=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}
