{
  "swagger": "2.0",
  "info": {
    "title": "Public API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.compassion.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our interactive APIs. The Compassion International API allows you to gather information on countries, etc.",
    "x-mashery-id": "235"
  },
  "schemes": [
    "http"
  ],
  "host": "api.compassion.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.compassion.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Public API"
    }
  ],
  "paths": {
    "/us/1/constituent/information": {
      "get": {
        "operationId": "PublicConstituentInformationPublicAPI",
        "summary": "Returns Constituent Details",
        "tags": [
          "Public API"
        ],
        "parameters": [
          {
            "name": "ConstituentId",
            "type": "integer",
            "description": "Constituent Id is assigned by Compassion International to any person or organization which has made a commitment to provide resources, (e.g., money, time or influence) for the purpose of supporting Compassion's ministry.",
            "in": "query",
            "required": true
          },
          {
            "name": "EmailAddress",
            "type": "string",
            "description": "Constituentâs preferred email address on file at Compassion International. Service client should pass in URL encoded value if the email address contains some special characters. Maximum length is 60.",
            "in": "query",
            "required": true
          },
          {
            "name": "ClientReferenceId",
            "type": "string",
            "description": "Uniquely represents the transaction in the client's system. Maximum length is 100.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/us/1/country/image": {
      "get": {
        "operationId": "PublicCountryImagePublicAPI",
        "summary": "Returns country image",
        "tags": [
          "Public API"
        ],
        "parameters": [
          {
            "name": "LegacyCompassionCountryCode",
            "type": "string",
            "description": "Two-character legacy country code that is used to identify field offices within Compassion International.",
            "in": "query",
            "required": true
          },
          {
            "name": "Height",
            "type": "integer",
            "description": "Height of image in pixels",
            "in": "query",
            "required": false,
            "default": 400
          },
          {
            "name": "Width",
            "type": "integer",
            "description": "Width of image in pixels",
            "in": "query",
            "required": false,
            "default": 300
          },
          {
            "name": "CountryImageType",
            "type": "string",
            "description": "Valid value is MAP",
            "in": "query",
            "required": false,
            "default": "MAP"
          },
          {
            "name": "DPI",
            "type": "integer",
            "description": "Image dots per inch",
            "in": "query",
            "required": false,
            "default": 72
          },
          {
            "name": "Quality",
            "type": "integer",
            "description": "Quality of image. A higher number is higher quality",
            "in": "query",
            "required": false,
            "default": 100
          },
          {
            "name": "ImageFormat",
            "type": "string",
            "description": "Valid values are jpeg, bmp, or gif",
            "in": "query",
            "required": false,
            "default": "jpeg"
          },
          {
            "name": "ClientReferenceId",
            "type": "string",
            "description": "Uniquely represents the transaction in the client's system. Maximum length is 100.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/us/1/country/information": {
      "get": {
        "operationId": "PublicCountryInformationPublicAPI",
        "summary": "Returns country information",
        "tags": [
          "Public API"
        ],
        "parameters": [
          {
            "name": "ISOCountryCode",
            "type": "string",
            "description": "Two-character legacy country code that is used to identify field offices within Compassion International.",
            "in": "query",
            "required": true
          },
          {
            "name": "ClientReferenceId",
            "type": "string",
            "description": "Uniquely represents the transaction in the client's system. Maximum length is 100.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/us/1/sponsor/programimplementor": {
      "get": {
        "operationId": "PublicProgramImplementorPublicAPI",
        "summary": "Returns Program Implementor Details",
        "tags": [
          "Public API"
        ],
        "parameters": [
          {
            "name": "SponsorId",
            "type": "integer",
            "description": "Assigned by Compassion International to any person or organization which has made a commitment to provide resources, (e.g., money, time or influence) for the purpose of supporting Compassion's ministry.",
            "in": "query",
            "required": true
          },
          {
            "name": "EmailAddress",
            "type": "string",
            "description": "Sponsor's preferred email address on file at Compassion International. Service client should pass in URL encoded value if the email address contains some special characters.",
            "in": "query",
            "required": true
          },
          {
            "name": "ImplementorKeyLegacy",
            "type": "string",
            "description": "Key identifying a CDSP or CSP Implementor.",
            "in": "query",
            "required": true
          },
          {
            "name": "ProgramImplementorType",
            "type": "string",
            "description": "Implementor or a CSP Implementor. If not specified, or if the word All is used, the search will include both program implementor types. Valid values are CDSP, CSP, or All",
            "in": "query",
            "required": false
          },
          {
            "name": "ClientReferenceId",
            "type": "string",
            "description": "Uniquely represents the transaction in the client's system. Maximum length is 100.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/us/1/sponsor/child/countrymap": {
      "get": {
        "operationId": "PublicSponsorChildCountryMapPublicAPI",
        "summary": "Returns Sponsor Child Country Map Details",
        "tags": [
          "Public API"
        ],
        "parameters": [
          {
            "name": "SponsorId",
            "type": "integer",
            "description": "Assigned by Compassion International to any person or organization which has made a commitment to provide resources, (e.g., money, time or influence) for the purpose of supporting Compassion's ministry.",
            "in": "query",
            "required": true
          },
          {
            "name": "EmailAddress",
            "type": "string",
            "description": "Sponsor's preferred email address on file at Compassion International. Service client should pass in URL encoded value if the email address contains some special characters.  Maximum length is 60.",
            "in": "query",
            "required": true
          },
          {
            "name": "ClientReferenceId",
            "type": "string",
            "description": "Uniquely represents the transaction in the client's system. Maximum length is 100.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/us/1/sponsor/child/image": {
      "get": {
        "operationId": "PublicSponsorChildImagePublicAPI",
        "summary": "Returns Sponsor Child Image Details",
        "tags": [
          "Public API"
        ],
        "parameters": [
          {
            "name": "SponsorId",
            "type": "integer",
            "description": "Assigned by Compassion International to an individual or group when a child in the Child Development Sponsorship Program or a student in the Leadership Program is sponsored through them.",
            "in": "query",
            "required": true
          },
          {
            "name": "EmailAddress",
            "type": "string",
            "description": "Sponsor's preferred email address on file at Compassion International. Service client should pass in URL encoded value if the email address contains some special characters. Maximum length is 60.",
            "in": "query",
            "required": true
          },
          {
            "name": "Height",
            "type": "integer",
            "description": "Height of image in pixels.",
            "in": "query",
            "required": false,
            "default": 600
          },
          {
            "name": "Width",
            "type": "integer",
            "description": "Width of image in pixels.",
            "in": "query",
            "required": false,
            "default": 400
          },
          {
            "name": "ImageType",
            "type": "string",
            "description": "Image Type",
            "in": "query",
            "required": false,
            "default": "Headshot"
          },
          {
            "name": "DPI",
            "type": "integer",
            "description": "Image dots per inch",
            "in": "query",
            "required": false,
            "default": 72
          },
          {
            "name": "Quality",
            "type": "integer",
            "description": "Image quality (a lower number is poorer quality).",
            "in": "query",
            "required": false,
            "default": 100
          },
          {
            "name": "ImageFormat",
            "type": "string",
            "description": "Valid values are jpeg, bmp or gif.",
            "in": "query",
            "required": false,
            "default": "jpeg"
          },
          {
            "name": "ClientReferenceId",
            "type": "string",
            "description": "Uniquely represents the transaction in the client's system. Maximum length is 100.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/us/1/sponsor/child/information": {
      "get": {
        "operationId": "PublicSponsorChildInformationPublicAPI",
        "summary": "Returns Sponsor Child information Details",
        "tags": [
          "Public API"
        ],
        "parameters": [
          {
            "name": "SponsorId",
            "type": "integer",
            "description": "Assigned by Compassion International to an individual or group when a child in the Child Development Sponsorship Program or a student in the Leadership Program is sponsored through them.",
            "in": "query",
            "required": true
          },
          {
            "name": "EmailAddress",
            "type": "string",
            "description": "Sponsor's preferred email address on file at Compassion International. Service client should pass in URL encoded value if the email address contains some special characters. Maximum length is 60.",
            "in": "query",
            "required": true
          },
          {
            "name": "ClientReferenceId",
            "type": "string",
            "description": "Uniquely represents the transaction in the client's system. Maximum length is 100.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}