{
  "swagger": "2.0",
  "info": {
    "title": "TED API",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.ted.com/io-docs.html",
        "format": "io_docs"
      }
    ],
    "description": "The TED API provides an easy to use RESTful interface with lightweight JSON responses to TEDTalks library and its associated data. This I/O doc help you navigate through the API offering and try out the request / response with the key you have. A resource is an entity that can be requested as a collection or one at a time. At the top-most level, you can obtain these sets of resources. Click on individual resource to see detailed documentation.",
    "x-mashery-id": "137"
  },
  "schemes": [
    "http"
  ],
  "host": "api.ted.com",
  "basePath": "/v1",
  "externalDocs": {
    "description": "Don't have a key? You can also view our written documentation.",
    "url": "http://developer.ted.com/io-docs.html/API_Docs.html"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Events"
    },
    {
      "name": "Languages"
    },
    {
      "name": "Ratings"
    },
    {
      "name": "Rating Words"
    },
    {
      "name": "Speakers"
    },
    {
      "name": "Talks"
    },
    {
      "name": "Playlists"
    }
  ],
  "paths": {
    "/events.json": {
      "get": {
        "operationId": "ListEvents",
        "summary": "Available TED events.",
        "tags": [
          "Events"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/events/{id}.json": {
      "get": {
        "operationId": "QueryEvents",
        "summary": "Available TED events.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique identifier for this resource.",
            "in": "path",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/languages.json": {
      "get": {
        "operationId": "ListLanguages",
        "summary": "Available TED languages.",
        "tags": [
          "Languages"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/languages/{language_code}.json": {
      "get": {
        "operationId": "QueryLanguages",
        "summary": "Available TED languages.",
        "tags": [
          "Languages"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "Unique identifier for this resource.",
            "in": "path",
            "required": true,
            "default": "af"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ratings.json": {
      "get": {
        "operationId": "ListRatings",
        "summary": "Available TED ratings.",
        "tags": [
          "Ratings"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ratings/{id}.json": {
      "get": {
        "operationId": "QueryRatings",
        "summary": "Available TED ratings.",
        "tags": [
          "Ratings"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique identifier for this resource.",
            "in": "path",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rating_words.json": {
      "get": {
        "operationId": "ListRatingWords",
        "summary": "Available TED ratings.",
        "tags": [
          "Rating Words"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rating_words/{id}.json": {
      "get": {
        "operationId": "QueryRatingWords",
        "summary": "Available TED rating_words.",
        "tags": [
          "Rating Words"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique identifier for this resource.",
            "in": "path",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/speakers.json": {
      "get": {
        "operationId": "ListSpeakers",
        "summary": "Available TED speakers.",
        "tags": [
          "Speakers"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/speakers/{id}.json": {
      "get": {
        "operationId": "QuerySpeakers",
        "summary": "Available TED speakers.",
        "tags": [
          "Speakers"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique identifier for this resource.",
            "in": "path",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/talks.json": {
      "get": {
        "operationId": "ListTalks",
        "summary": "Available TED talks.",
        "tags": [
          "Talks"
        ],
        "parameters": [
          {
            "name": "external",
            "type": "boolean",
            "description": "Indicates whether or not talks with external media should be included or not (youtube, vimeo).",
            "in": "query",
            "required": false
          },
          {
            "name": "podcasts",
            "type": "boolean",
            "description": "Include only those talks with podcasts.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "filter on talk name (use * for wildcard).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/talks/{id}.json": {
      "get": {
        "operationId": "QueryTalks",
        "summary": "Available TED talks.",
        "tags": [
          "Talks"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique identifier for this resource.",
            "in": "path",
            "required": true,
            "default": "1"
          },
          {
            "name": "external",
            "type": "boolean",
            "description": "Indicates whether or not talks with external media should be included or not (youtube, vimeo).",
            "in": "query",
            "required": false
          },
          {
            "name": "podcasts",
            "type": "boolean",
            "description": "Include only those talks with podcasts.",
            "in": "query",
            "required": false
          },
          {
            "name": "name",
            "type": "string",
            "description": "Include only those talks with a name like this (use * for wildcard).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/talks/{id}/subtitled_downloads.json": {
      "get": {
        "operationId": "SubtitledDownloadsTalks",
        "summary": "Available TED talks.",
        "tags": [
          "Talks"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique identifier for the parent resource.",
            "in": "path",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/playlists.json": {
      "get": {
        "operationId": "ListPlaylists",
        "summary": "Available Playlists.",
        "tags": [
          "Playlists"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/playlists/{id}.json": {
      "get": {
        "operationId": "QueryPlaylists",
        "summary": "Get a playlist by id.",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique identifier for this resource.",
            "in": "path",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/playlists/{id}/talks.json": {
      "get": {
        "operationId": "TalkListPlaylists",
        "summary": "Talks included in playlist.",
        "tags": [
          "Playlists"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "Unique id for the playlist.",
            "in": "path",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}