{
  "swagger": "2.0",
  "info": {
    "title": "Soccer EU Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Soccer - European API",
    "x-mashery-id": "1789"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Soccer - Europe"
    }
  ],
  "paths": {
    "/soccer-t2/eu/matches/schedule.xml": {
      "get": {
        "operationId": "ScheduleSoccer-Europe",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/matches/{year}/{month}/{day}/schedule.xml": {
      "get": {
        "operationId": "DailyScheduleSoccer-Europe",
        "summary": "Provides scheduled match information, including ca...",
        "description": "Provides scheduled match information, including category, tournament, and league information, for all matches played on a given day",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/matches/{match_id}/summary.xml": {
      "get": {
        "operationId": "MatchSummarySoccer-Europe",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team and player statistics, lineups, and play by play",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "d26d8564-2dd2-4f60-9d70-244814a32e12"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/matches/{year}/{month}/{day}/summary.xml": {
      "get": {
        "operationId": "DailySummarySoccer-Europe",
        "summary": "provides match information and scoring, including ...",
        "description": "provides match information and scoring, including team and player statistics, for all matches played on a given day",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/matches/{year}/{month}/{day}/boxscore.xml": {
      "get": {
        "operationId": "DailyBoxscoreSoccer-Europe",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics, for all matches played on a given day",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/matches/{match_id}/boxscore.xml": {
      "get": {
        "operationId": "MatchBoxscoreSoccer-Europe",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of the match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "d26d8564-2dd2-4f60-9d70-244814a32e12"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/teams/hierarchy.xml": {
      "get": {
        "operationId": "TeamHierarchySoccer-Europe",
        "summary": "Get the team information for Soccer Leagues in Eur...",
        "description": "Get the team information for Soccer Leagues in Europe",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/teams/{team_id}/profile.xml": {
      "get": {
        "operationId": "TeamProfileSoccer-Europe",
        "summary": "Team information and statistics, including player ...",
        "description": "Team information and statistics, including player roster information",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Team Hierarchy",
            "in": "path",
            "required": true,
            "default": "04e7324b-7946-4863-891a-606e64eafdf0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/players/{player_id}/profile.xml": {
      "get": {
        "operationId": "PlayerProfileSoccer-Europe",
        "summary": "Provides team and player information including a p...",
        "description": "Provides team and player information including a player’s statistics for each category, tournament, or league team",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "default": "0752c695-2e25-4c63-a7bd-edc960a37932"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/players/leader.xml": {
      "get": {
        "operationId": "PlayerRankingsSoccer-Europe",
        "summary": "Provides player rankings for goals, assists, point...",
        "description": "Provides player rankings for goals, assists, points, cards, and own goals",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/eu/teams/standing.xml": {
      "get": {
        "operationId": "StandingsSoccer-Europe",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Soccer - Europe"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}