{
  "swagger": "2.0",
  "info": {
    "title": "SMS API (Closed)",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Sends an SMS",
    "x-mashery-id": "460"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/v1/sms",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Send SMS Method"
    }
  ],
  "paths": {
    "/send": {
      "post": {
        "operationId": "sendSendSMSMethod",
        "summary": "Sends SMS",
        "tags": [
          "Send SMS Method"
        ],
        "parameters": [
          {
            "name": "to",
            "type": "string",
            "description": "Send SMS to",
            "in": "query",
            "required": true,
            "default": "+18885551212"
          },
          {
            "name": "body",
            "type": "string",
            "description": "Message to send",
            "in": "query",
            "required": true,
            "default": "SMS message goes here"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}