{
  "swagger": "2.0",
  "info": {
    "title": "Car Charging Stations Netherlands",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.monotch.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "5758"
  },
  "schemes": [
    "http"
  ],
  "host": "api.monotch.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.monotch.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Car Charging Stations Netherlands"
    }
  ],
  "paths": {
    "/poi": {
      "get": {
        "operationId": "poiCarChargingStationsNetherlands",
        "summary": "",
        "tags": [
          "Car Charging Stations Netherlands"
        ],
        "parameters": [
          {
            "name": "output",
            "type": "string",
            "description": "Output format. JSON format is recommended as highest fidelity.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml",
              "kml"
            ]
          },
          {
            "name": "maxresults",
            "type": "integer",
            "description": "Limit on max number of results returned.",
            "in": "query",
            "required": false,
            "default": 100
          },
          {
            "name": "countrycode",
            "type": "string",
            "description": "ISO country code.",
            "in": "query",
            "required": false
          },
          {
            "name": "latitude",
            "type": "string",
            "description": "Latitude reference for distance calculation.",
            "in": "query",
            "required": false
          },
          {
            "name": "longitude",
            "type": "string",
            "description": "Longitude reference for distance calculation.",
            "in": "query",
            "required": false
          },
          {
            "name": "distance",
            "type": "integer",
            "description": "Return results based on specified distance from specified latitude/longitude.",
            "in": "query",
            "required": false
          },
          {
            "name": "distanceunit",
            "type": "string",
            "description": "Distance unit (Miles or KM).",
            "in": "query",
            "required": false,
            "enum": [
              "KM",
              "Miles"
            ]
          },
          {
            "name": "operatorid",
            "type": "string",
            "description": "Exact match on a given EVSE operator id (comma separated list).",
            "in": "query",
            "required": false
          },
          {
            "name": "connectiontypeid",
            "type": "string",
            "description": "Exact match on a given connection type id (comma separated list).",
            "in": "query",
            "required": false
          },
          {
            "name": "countryid",
            "type": "string",
            "description": "Exact match on a given country id (comma separated list).",
            "in": "query",
            "required": false
          },
          {
            "name": "levelid",
            "type": "string",
            "description": "Exact match on a given charging level (1-3) id (comma separated list).",
            "in": "query",
            "required": false
          },
          {
            "name": "minpowerkw",
            "type": "string",
            "description": "Minimum output power in kW (this information is not known for many locations).",
            "in": "query",
            "required": false
          },
          {
            "name": "usagetypeid",
            "type": "string",
            "description": "Exact match on a given usage type id (comma separated list).",
            "in": "query",
            "required": false
          },
          {
            "name": "statustypeid",
            "type": "string",
            "description": "Exact match on a given status type id (comma separated list).",
            "in": "query",
            "required": false
          },
          {
            "name": "dataproviderid",
            "type": "string",
            "description": "Exact match on a given data provider id id (comma separated list).",
            "in": "query",
            "required": false
          },
          {
            "name": "modifiedsince",
            "type": "string",
            "description": "POIs modified since the given date (UTC) e.g. 2016-09-15T09:30.",
            "in": "query",
            "required": false
          },
          {
            "name": "opendata",
            "type": "boolean",
            "description": "Set to true to include only Open Data licensed content, false to return only non-open licensed data.",
            "in": "query",
            "required": false
          },
          {
            "name": "includecomments",
            "type": "boolean",
            "description": "Set to true to also include user comments and media items (photos) per charging location.",
            "in": "query",
            "required": false
          },
          {
            "name": "verbose",
            "type": "boolean",
            "description": "Set to false to get a smaller result set with null items removed.",
            "in": "query",
            "required": false
          },
          {
            "name": "compact",
            "type": "boolean",
            "description": "Set to true to remove reference data objects from output (just returns IDs for common reference data such as DataProvider etc).",
            "in": "query",
            "required": false
          },
          {
            "name": "camelcase",
            "type": "boolean",
            "description": "Set to true to get a property names in camelCase format.",
            "in": "query",
            "required": false
          },
          {
            "name": "callback",
            "type": "string",
            "description": "Specify the name of the JSONP callback (if required), JSON response type only.",
            "in": "query",
            "required": false
          },
          {
            "name": "chargepointid",
            "type": "string",
            "description": "Exact match on a given POI id (comma separated list).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/referenceData": {
      "get": {
        "operationId": "referencedataCarChargingStationsNetherlands",
        "summary": "",
        "tags": [
          "Car Charging Stations Netherlands"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}