{
  "swagger": "2.0",
  "info": {
    "title": "Mobile Ordering API **QA** (Closed)",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. API for mobile ordering",
    "x-mashery-id": "292"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/mobileOrdering/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Mobile Ordering"
    }
  ],
  "paths": {
    "/inventory/{employee}": {
      "get": {
        "operationId": "inventoryMobileOrdering",
        "summary": "Returns inventory for employee ID",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "employee",
            "type": "string",
            "description": "Employee ID",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/materialMaster/{employee}": {
      "get": {
        "operationId": "materialMasterMobileOrdering",
        "summary": "Returns material master for employee ID",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "employee",
            "type": "string",
            "description": "Employee ID",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/orderHistory/{employee}": {
      "get": {
        "operationId": "orderHistoryMobileOrdering",
        "summary": "Returns order history for employee ID",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "employee",
            "type": "string",
            "description": "Employee ID",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/promo/{employee}": {
      "get": {
        "operationId": "promoMobileOrdering",
        "summary": "Returns promo materials for employee ID",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "employee",
            "type": "string",
            "description": "Employee ID",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/roundingRules/{employee}": {
      "get": {
        "operationId": "roundingRulesMobileOrdering",
        "summary": "Returns rounding rules for employee ID",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "employee",
            "type": "string",
            "description": "Employee ID",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/visitList/{employee}": {
      "get": {
        "operationId": "visitListMobileOrdering",
        "summary": "Returns visit list for employee ID",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "employee",
            "type": "string",
            "description": "Employee ID",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/projectedInventory/{customer}": {
      "get": {
        "operationId": "projectedInventoryMobileOrdering",
        "summary": "Projected inventory",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "customer",
            "type": "string",
            "description": "Customer number",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/submitOrder": {
      "post": {
        "operationId": "submitOrderMobileOrdering",
        "summary": "Creates or updates an order in SAP",
        "tags": [
          "Mobile Ordering"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          },
          {
            "name": "deliveryDate",
            "type": "string",
            "description": "Delivery date",
            "in": "query",
            "required": true
          },
          {
            "name": "distributionChannel",
            "type": "string",
            "description": "Distribution channel",
            "in": "query",
            "required": true
          },
          {
            "name": "division",
            "type": "string",
            "description": "Division",
            "in": "query",
            "required": true
          },
          {
            "name": "employeeID",
            "type": "string",
            "description": "Employee ID",
            "in": "query",
            "required": true
          },
          {
            "name": "orderType",
            "type": "string",
            "description": "Order type",
            "in": "query",
            "required": true
          },
          {
            "name": "outletNumber",
            "type": "string",
            "description": "Outlet number",
            "in": "query",
            "required": true
          },
          {
            "name": "purchaseOrderNumber",
            "type": "string",
            "description": "Purchase order number",
            "in": "query",
            "required": false
          },
          {
            "name": "sapOrderNumber",
            "type": "string",
            "description": "SAP order number",
            "in": "query",
            "required": false
          },
          {
            "name": "salesOrganization",
            "type": "string",
            "description": "Sales organization",
            "in": "query",
            "required": true
          },
          {
            "name": "dispatcherNote",
            "type": "string",
            "description": "Dispatcher note",
            "in": "query",
            "required": true
          },
          {
            "name": "driverNote",
            "type": "string",
            "description": "Driver note",
            "in": "query",
            "required": true
          },
          {
            "name": "Materials",
            "description": "Materials",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}