{
  "swagger": "2.0",
  "info": {
    "title": "All Sports (Shared Resources)",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.stats.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "The API calls below can be used to test the Input and Output of our API endpoints.  You'll need an API key and an assigned secret to access the live data and so if you haven't contacted us yet, now is the time!  Our sales staff would be happy to set you up with trial access so you can begin to evaluate the product. Resources shared across sports and leagues.",
    "x-mashery-id": "1516"
  },
  "schemes": [
    "http"
  ],
  "host": "api.stats.com",
  "basePath": "/",
  "externalDocs": {
    "description": "After you've been given an API key and secret, enter it below and \"Get\" the method you'd like to try out.  Fill in the parameters with what you'd like to try, or use the built in defaults, and click \"Try It!\" to execute the call.  The JSON or XML response will be populated in the Response Body, the Response Body will provide you with any relevant codes, and the Request Header URI will show you how the call would be made within your application. Please note:Also, endpoints almost always require a final \"/\".  You will receive \"596 Service Not Found\" when it is missing.  An exception to this is for optional methods, such as eventId or teamId.",
    "url": "http://developer.stats.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Shared Resources"
    }
  ],
  "paths": {
    "/editorial/stories/headlines/list/": {
      "get": {
        "operationId": "AllHeadlinesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/articles/headlines/list/": {
      "get": {
        "operationId": "AllHeadlinesArticlesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/top/stories/headlines": {
      "get": {
        "operationId": "AllHeadlines-TopSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/top/articles/headlines": {
      "get": {
        "operationId": "AllHeadlines-TopArticlesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/stories/list/": {
      "get": {
        "operationId": "AllStories-RecentSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/editorial/articles/list/": {
      "get": {
        "operationId": "AllStories-RecentArticlesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player names, team names, and venues. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/countries/": {
      "get": {
        "operationId": "CountriesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/currencies/": {
      "get": {
        "operationId": "CurrenciesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/{sportName}/{leagueAbbrev}/eventDataConfirmed/": {
      "get": {
        "operationId": "EventDataConfirmedSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "sportName",
            "type": "string",
            "description": "Sport Name - enter sport name in all lower case. See /stats/sports/ endpoint for full list. For example: baseball, football, soccer, etc.",
            "in": "path",
            "required": true
          },
          {
            "name": "leagueAbbrev",
            "type": "string",
            "description": "League URI path - Enter league URI path in all lower case. See /stats/[sport]/leagues endpoint for full list. For example: mlb, nfl, epl, etc.",
            "in": "path",
            "required": true
          },
          {
            "name": "confirmedSince",
            "type": "string",
            "description": "How far back to check for confirmed data. The time zone is UTC.\n  This can be a full date, like 2014-05-01. Or it can be a full date and time, like 2014-05-01T09:00:00. Those are the only two formatting options.\n  Default - last 24 hours",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/{sportName}/{leagueAbbrev}/dateDataUpdated/": {
      "get": {
        "operationId": "DateDataUpdatedSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "sportName",
            "type": "string",
            "description": "Sport Name - enter sport name in all lower case. See /stats/sports/ endpoint for full list. For example: baseball, football, soccer, etc.",
            "in": "path",
            "required": true
          },
          {
            "name": "leagueAbbrev",
            "type": "string",
            "description": "League URI path - Enter league URI path in all lower case. See /stats/[sport]/leagues endpoint for full list. For example: mlb, nfl, epl, etc.",
            "in": "path",
            "required": true
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/languages/": {
      "get": {
        "operationId": "LanguagesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/networkTypes/": {
      "get": {
        "operationId": "NetworkTypesSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/nameDisplays/": {
      "get": {
        "operationId": "NameDisplaysSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/{sportName}/{leagueAbbrev}/seasonStructure/": {
      "get": {
        "operationId": "SeasonStructureSharedResources",
        "summary": "",
        "tags": [
          "Shared Resources"
        ],
        "parameters": [
          {
            "name": "sportName",
            "type": "string",
            "description": "Sport Name - enter sport name in all lower case. See /stats/sports/ endpoint for full list. For example: baseball, football, soccer, etc.",
            "in": "path",
            "required": true
          },
          {
            "name": "leagueAbbrev",
            "type": "string",
            "description": "League URI path - Enter league URI path in all lower case. See /stats/[sport]/leagues endpoint for full list. For example: mlb, nfl, epl, etc.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "string",
            "description": "Season.\n  Default - current season if allSeasons parameter is not utilized",
            "in": "query",
            "required": false
          },
          {
            "name": "allSeasons",
            "type": "boolean",
            "description": "When true, returns all seasons. When false, or not utilized, defers to season parameter.",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}