{
  "swagger": "2.0",
  "info": {
    "version": "2015-06-23",
    "x-release": "v4",
    "title": "AWS Device Farm",
    "description": "AWS Device Farm is a service that enables mobile app developers to test Android, iOS, and Fire OS apps on physical phones, tablets, and other devices in the cloud.",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/devicefarm/"
  },
  "host": "devicefarm.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UpdateProject",
        "description": "Modifies the specified project name, given the project ARN and a new name.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateProjectResult"
            }
          },
          "400": {
            "description": "ArgumentException",
            "schema": {
              "$ref": "#/definitions/ArgumentException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "403": {
            "description": "ServiceAccountException",
            "schema": {
              "$ref": "#/definitions/ServiceAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProjectRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AWSAccountNumber": {
      "type": "string",
      "minLength": 2,
      "maxLength": 16
    },
    "AccountSettings": {
      "type": "object",
      "properties": {
        "awsAccountNumber": {
          "$ref": "#/definitions/AWSAccountNumber",
          "description": "The AWS account number specified in the <code>AccountSettings</code> container."
        },
        "unmeteredDevices": {
          "$ref": "#/definitions/PurchasedDevicesMap",
          "description": "Returns the unmetered devices you have purchased or want to purchase."
        },
        "unmeteredRemoteAccessDevices": {
          "$ref": "#/definitions/PurchasedDevicesMap",
          "description": "Returns the unmetered remote access devices you have purchased or want to purchase."
        }
      },
      "description": "A container for account-level settings within AWS Device Farm."
    },
    "AmazonResourceName": {
      "type": "string",
      "minLength": 32
    },
    "AmazonResourceNames": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AmazonResourceName"
      }
    },
    "ArgumentException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "Any additional information about the exception."
        }
      },
      "description": "An invalid argument was specified."
    },
    "Artifact": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The artifact's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The artifact's name."
        },
        "type": {
          "$ref": "#/definitions/ArtifactType",
          "description": "<p>The artifact's type.</p> <p>Allowed values include the following:</p> <ul> <li><p>UNKNOWN: An unknown type.</p></li> <li><p>SCREENSHOT: The screenshot type.</p></li> <li><p>DEVICE_LOG: The device log type.</p></li> <li><p>MESSAGE_LOG: The message log type.</p></li> <li><p>RESULT_LOG: The result log type.</p></li> <li><p>SERVICE_LOG: The service log type.</p></li> <li><p>WEBKIT_LOG: The web kit log type.</p></li> <li><p>INSTRUMENTATION_OUTPUT: The instrumentation type.</p></li> <li><p>EXERCISER_MONKEY_OUTPUT: For Android, the artifact (log) generated by an Android fuzz test.</p></li> <li><p>CALABASH_JSON_OUTPUT: The Calabash JSON output type.</p></li> <li><p>CALABASH_PRETTY_OUTPUT: The Calabash pretty output type.</p></li> <li><p>CALABASH_STANDARD_OUTPUT: The Calabash standard output type.</p></li> <li><p>CALABASH_JAVA_XML_OUTPUT: The Calabash Java XML output type.</p></li> <li><p>AUTOMATION_OUTPUT: The automation output type.</p></li> <li><p>APPIUM_SERVER_OUTPUT: The Appium server output type.</p></li> <li><p>APPIUM_JAVA_OUTPUT: The Appium Java output type.</p></li> <li><p>APPIUM_JAVA_XML_OUTPUT: The Appium Java XML output type.</p></li> <li><p>APPIUM_PYTHON_OUTPUT: The Appium Python output type.</p></li> <li><p>APPIUM_PYTHON_XML_OUTPUT: The Appium Python XML output type.</p></li> <li><p>EXPLORER_EVENT_LOG: The Explorer event log output type.</p></li> <li><p>EXPLORER_SUMMARY_LOG: The Explorer summary log output type.</p></li> <li><p>APPLICATION_CRASH_REPORT: The application crash report output type.</p></li> <li><p>XCTEST_LOG: The XCode test output type.</p></li> </ul>"
        },
        "extension": {
          "$ref": "#/definitions/String",
          "description": "The artifact's file extension."
        },
        "url": {
          "$ref": "#/definitions/URL",
          "description": "The pre-signed Amazon S3 URL that can be used with a corresponding GET request to download the artifact's file."
        }
      },
      "description": "Represents the output of a test. Examples of artifacts include logs and screenshots."
    },
    "ArtifactCategory": {
      "type": "string",
      "enum": [
        "SCREENSHOT",
        "FILE",
        "LOG"
      ]
    },
    "ArtifactType": {
      "type": "string",
      "enum": [
        "UNKNOWN",
        "SCREENSHOT",
        "DEVICE_LOG",
        "MESSAGE_LOG",
        "VIDEO_LOG",
        "RESULT_LOG",
        "SERVICE_LOG",
        "WEBKIT_LOG",
        "INSTRUMENTATION_OUTPUT",
        "EXERCISER_MONKEY_OUTPUT",
        "CALABASH_JSON_OUTPUT",
        "CALABASH_PRETTY_OUTPUT",
        "CALABASH_STANDARD_OUTPUT",
        "CALABASH_JAVA_XML_OUTPUT",
        "AUTOMATION_OUTPUT",
        "APPIUM_SERVER_OUTPUT",
        "APPIUM_JAVA_OUTPUT",
        "APPIUM_JAVA_XML_OUTPUT",
        "APPIUM_PYTHON_OUTPUT",
        "APPIUM_PYTHON_XML_OUTPUT",
        "EXPLORER_EVENT_LOG",
        "EXPLORER_SUMMARY_LOG",
        "APPLICATION_CRASH_REPORT",
        "XCTEST_LOG",
        "VIDEO"
      ]
    },
    "Artifacts": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Artifact"
      }
    },
    "BillingMethod": {
      "type": "string",
      "enum": [
        "METERED",
        "UNMETERED"
      ]
    },
    "Boolean": {
      "type": "boolean"
    },
    "CPU": {
      "type": "object",
      "properties": {
        "frequency": {
          "$ref": "#/definitions/String",
          "description": "The CPU's frequency."
        },
        "architecture": {
          "$ref": "#/definitions/String",
          "description": "The CPU's architecture, for example x86 or ARM."
        },
        "clock": {
          "$ref": "#/definitions/Double",
          "description": "The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000."
        }
      },
      "description": "<p>Represents the amount of CPU that an app is using on a physical device.</p> <p>Note that this does not represent system-wide CPU usage.</p>"
    },
    "ContentType": {
      "type": "string",
      "minLength": 0,
      "maxLength": 64
    },
    "Counters": {
      "type": "object",
      "properties": {
        "total": {
          "$ref": "#/definitions/Integer",
          "description": "The total number of entities."
        },
        "passed": {
          "$ref": "#/definitions/Integer",
          "description": "The number of passed entities."
        },
        "failed": {
          "$ref": "#/definitions/Integer",
          "description": "The number of failed entities."
        },
        "warned": {
          "$ref": "#/definitions/Integer",
          "description": "The number of warned entities."
        },
        "errored": {
          "$ref": "#/definitions/Integer",
          "description": "The number of errored entities."
        },
        "stopped": {
          "$ref": "#/definitions/Integer",
          "description": "The number of stopped entities."
        },
        "skipped": {
          "$ref": "#/definitions/Integer",
          "description": "The number of skipped entities."
        }
      },
      "description": "Represents entity counters."
    },
    "CreateDevicePoolRequest": {
      "type": "object",
      "required": [
        "projectArn",
        "name",
        "rules"
      ],
      "properties": {
        "projectArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the project for the device pool."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The device pool's name."
        },
        "description": {
          "$ref": "#/definitions/Message",
          "description": "The device pool's description."
        },
        "rules": {
          "$ref": "#/definitions/Rules",
          "description": "The device pool's rules."
        }
      },
      "description": "Represents a request to the create device pool operation."
    },
    "CreateDevicePoolResult": {
      "type": "object",
      "properties": {
        "devicePool": {
          "$ref": "#/definitions/DevicePool",
          "description": "The newly created device pool."
        }
      },
      "description": "Represents the result of a create device pool request."
    },
    "CreateProjectRequest": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The project's name."
        }
      },
      "description": "Represents a request to the create project operation."
    },
    "CreateProjectResult": {
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/Project",
          "description": "The newly created project."
        }
      },
      "description": "Represents the result of a create project request."
    },
    "CreateRemoteAccessSessionConfiguration": {
      "type": "object",
      "properties": {
        "billingMethod": {
          "$ref": "#/definitions/BillingMethod",
          "description": "Returns the billing method for purposes of configuring a remote access session."
        }
      },
      "description": "Creates the configuration settings for a remote access session, including the device model and type."
    },
    "CreateRemoteAccessSessionRequest": {
      "type": "object",
      "required": [
        "projectArn",
        "deviceArn"
      ],
      "properties": {
        "projectArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the project for which you want to create a remote access session."
        },
        "deviceArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the device for which you want to create a remote access session."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The name of the remote access session that you wish to create."
        },
        "configuration": {
          "$ref": "#/definitions/CreateRemoteAccessSessionConfiguration",
          "description": "The configuration information for the remote access session request."
        }
      },
      "description": "Creates and submits a request to start a remote access session."
    },
    "CreateRemoteAccessSessionResult": {
      "type": "object",
      "properties": {
        "remoteAccessSession": {
          "$ref": "#/definitions/RemoteAccessSession",
          "description": "A container that describes the remote access session when the request to create a remote access session is sent."
        }
      },
      "description": "Represents the server response from a request to create a remote access session."
    },
    "CreateUploadRequest": {
      "type": "object",
      "required": [
        "projectArn",
        "name",
        "type"
      ],
      "properties": {
        "projectArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the project for the upload."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The upload's file name. The name should not contain the '/' character."
        },
        "type": {
          "$ref": "#/definitions/UploadType",
          "description": "<p>The upload's upload type.</p> <p>Must be one of the following values:</p> <ul> <li><p>ANDROID_APP: An Android upload.</p></li> <li><p>IOS_APP: An iOS upload.</p></li> <li><p>WEB_APP: A web appliction upload.</p></li> <li><p>EXTERNAL_DATA: An external data upload.</p></li> <li><p>APPIUM_JAVA_JUNIT_TEST_PACKAGE: An Appium Java JUnit test package upload.</p></li> <li><p>APPIUM_JAVA_TESTNG_TEST_PACKAGE: An Appium Java TestNG test package upload.</p></li> <li><p>APPIUM_PYTHON_TEST_PACKAGE: An Appium Python test package upload.</p></li> <li><p>APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE: An Appium Java JUnit test package upload.</p></li> <li><p>APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE: An Appium Java TestNG test package upload.</p></li> <li><p>APPIUM_WEB_PYTHON_TEST_PACKAGE: An Appium Python test package upload.</p></li> <li><p>CALABASH_TEST_PACKAGE: A Calabash test package upload.</p></li> <li><p>INSTRUMENTATION_TEST_PACKAGE: An instrumentation upload.</p></li> <li><p>UIAUTOMATION_TEST_PACKAGE: A uiautomation test package upload.</p></li> <li><p>UIAUTOMATOR_TEST_PACKAGE: A uiautomator test package upload.</p></li> <li><p>XCTEST_TEST_PACKAGE: An XCode test package upload.</p></li> <li><p>XCTEST_UI_TEST_PACKAGE: An XCode UI test package upload.</p></li> </ul> <p><b>Note</b> If you call <code>CreateUpload</code> with <code>WEB_APP</code> specified, AWS Device Farm throws an <code>ArgumentException</code> error.</p>"
        },
        "contentType": {
          "$ref": "#/definitions/ContentType",
          "description": "The upload's content type (for example, \"application/octet-stream\")."
        }
      },
      "description": "Represents a request to the create upload operation."
    },
    "CreateUploadResult": {
      "type": "object",
      "properties": {
        "upload": {
          "$ref": "#/definitions/Upload",
          "description": "The newly created upload."
        }
      },
      "description": "Represents the result of a create upload request."
    },
    "CurrencyCode": {
      "type": "string",
      "enum": [
        "USD"
      ]
    },
    "DateTime": {
      "type": "string",
      "format": "date-time"
    },
    "DeleteDevicePoolRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "Represents the Amazon Resource Name (ARN) of the Device Farm device pool you wish to delete."
        }
      },
      "description": "Represents a request to the delete device pool operation."
    },
    "DeleteDevicePoolResult": {
      "type": "object",
      "properties": {},
      "description": "Represents the result of a delete device pool request."
    },
    "DeleteProjectRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "Represents the Amazon Resource Name (ARN) of the Device Farm project you wish to delete."
        }
      },
      "description": "Represents a request to the delete project operation."
    },
    "DeleteProjectResult": {
      "type": "object",
      "properties": {},
      "description": "Represents the result of a delete project request."
    },
    "DeleteRemoteAccessSessionRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the sesssion for which you want to delete remote access."
        }
      },
      "description": "Represents the request to delete the specified remote access session."
    },
    "DeleteRemoteAccessSessionResult": {
      "type": "object",
      "properties": {},
      "description": "The response from the server when a request is made to delete the remote access session."
    },
    "DeleteRunRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) for the run you wish to delete."
        }
      },
      "description": "Represents a request to the delete run operation."
    },
    "DeleteRunResult": {
      "type": "object",
      "properties": {},
      "description": "Represents the result of a delete run request."
    },
    "DeleteUploadRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "Represents the Amazon Resource Name (ARN) of the Device Farm upload you wish to delete."
        }
      },
      "description": "Represents a request to the delete upload operation."
    },
    "DeleteUploadResult": {
      "type": "object",
      "properties": {},
      "description": "Represents the result of a delete upload request."
    },
    "Device": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The device's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The device's display name."
        },
        "manufacturer": {
          "$ref": "#/definitions/String",
          "description": "The device's manufacturer name."
        },
        "model": {
          "$ref": "#/definitions/String",
          "description": "The device's model name."
        },
        "formFactor": {
          "$ref": "#/definitions/DeviceFormFactor",
          "description": "<p>The device's form factor.</p> <p>Allowed values include:</p> <ul> <li><p>PHONE: The phone form factor.</p></li> <li><p>TABLET: The tablet form factor.</p></li> </ul>"
        },
        "platform": {
          "$ref": "#/definitions/DevicePlatform",
          "description": "<p>The device's platform.</p> <p>Allowed values include:</p> <ul> <li><p>ANDROID: The Android platform.</p></li> <li><p>IOS: The iOS platform.</p></li> </ul>"
        },
        "os": {
          "$ref": "#/definitions/String",
          "description": "The device's operating system type."
        },
        "cpu": {
          "$ref": "#/definitions/CPU",
          "description": "Information about the device's CPU."
        },
        "resolution": {
          "$ref": "#/definitions/Resolution"
        },
        "heapSize": {
          "$ref": "#/definitions/Long",
          "description": "The device's heap size, expressed in bytes."
        },
        "memory": {
          "$ref": "#/definitions/Long",
          "description": "The device's total memory size, expressed in bytes."
        },
        "image": {
          "$ref": "#/definitions/String",
          "description": "The device's image name."
        },
        "carrier": {
          "$ref": "#/definitions/String",
          "description": "The device's carrier."
        },
        "radio": {
          "$ref": "#/definitions/String",
          "description": "The device's radio."
        },
        "remoteAccessEnabled": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether remote access has been enabled for the specified device."
        },
        "fleetType": {
          "$ref": "#/definitions/String",
          "description": "The type of fleet to which this device belongs. Possible values for fleet type are PRIVATE and PUBLIC."
        },
        "fleetName": {
          "$ref": "#/definitions/String",
          "description": "The name of the fleet to which this device belongs."
        }
      },
      "description": "Represents a device type that an app is tested against."
    },
    "DeviceAttribute": {
      "type": "string",
      "enum": [
        "ARN",
        "PLATFORM",
        "FORM_FACTOR",
        "MANUFACTURER",
        "REMOTE_ACCESS_ENABLED"
      ]
    },
    "DeviceFormFactor": {
      "type": "string",
      "enum": [
        "PHONE",
        "TABLET"
      ]
    },
    "DeviceMinutes": {
      "type": "object",
      "properties": {
        "total": {
          "$ref": "#/definitions/Double",
          "description": "When specified, represents the total minutes used by the resource to run tests."
        },
        "metered": {
          "$ref": "#/definitions/Double",
          "description": "When specified, represents only the sum of metered minutes used by the resource to run tests."
        },
        "unmetered": {
          "$ref": "#/definitions/Double",
          "description": "When specified, represents only the sum of unmetered minutes used by the resource to run tests."
        }
      },
      "description": "Represents the total (metered or unmetered) minutes used by the resource to run tests. Contains the sum of minutes consumed by all children."
    },
    "DevicePlatform": {
      "type": "string",
      "enum": [
        "ANDROID",
        "IOS"
      ]
    },
    "DevicePool": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The device pool's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The device pool's name."
        },
        "description": {
          "$ref": "#/definitions/Message",
          "description": "The device pool's description."
        },
        "type": {
          "$ref": "#/definitions/DevicePoolType",
          "description": "<p>The device pool's type.</p> <p>Allowed values include:</p> <ul> <li><p>CURATED: A device pool that is created and managed by AWS Device Farm.</p></li> <li><p>PRIVATE: A device pool that is created and managed by the device pool developer.</p></li> </ul>"
        },
        "rules": {
          "$ref": "#/definitions/Rules",
          "description": "Information about the device pool's rules."
        }
      },
      "description": "Represents a collection of device types."
    },
    "DevicePoolCompatibilityResult": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "#/definitions/Device"
        },
        "compatible": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the result was compatible with the device pool."
        },
        "incompatibilityMessages": {
          "$ref": "#/definitions/IncompatibilityMessages",
          "description": "Information about the compatibility."
        }
      },
      "description": "Represents a device pool compatibility result."
    },
    "DevicePoolCompatibilityResults": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DevicePoolCompatibilityResult"
      }
    },
    "DevicePoolType": {
      "type": "string",
      "enum": [
        "CURATED",
        "PRIVATE"
      ]
    },
    "DevicePools": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DevicePool"
      }
    },
    "Devices": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Device"
      }
    },
    "Double": {
      "type": "number",
      "format": "double"
    },
    "ExecutionResult": {
      "type": "string",
      "enum": [
        "PENDING",
        "PASSED",
        "WARNED",
        "FAILED",
        "SKIPPED",
        "ERRORED",
        "STOPPED"
      ]
    },
    "ExecutionStatus": {
      "type": "string",
      "enum": [
        "PENDING",
        "PENDING_CONCURRENCY",
        "PENDING_DEVICE",
        "PROCESSING",
        "SCHEDULING",
        "PREPARING",
        "RUNNING",
        "COMPLETED",
        "STOPPING"
      ]
    },
    "Filter": {
      "type": "string",
      "minLength": 0,
      "maxLength": 8192
    },
    "GetAccountSettingsRequest": {
      "type": "object",
      "properties": {},
      "description": "Represents the request sent to retrieve the account settings."
    },
    "GetAccountSettingsResult": {
      "type": "object",
      "properties": {
        "accountSettings": {
          "$ref": "#/definitions/AccountSettings"
        }
      },
      "description": "Represents the account settings return values from the <code>GetAccountSettings</code> request."
    },
    "GetDevicePoolCompatibilityRequest": {
      "type": "object",
      "required": [
        "devicePoolArn"
      ],
      "properties": {
        "devicePoolArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The device pool's ARN."
        },
        "appArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the app that is associated with the specified device pool."
        },
        "testType": {
          "$ref": "#/definitions/TestType",
          "description": "<p>The test type for the specified device pool.</p> <p>Allowed values include the following:</p> <ul> <li><p>BUILTIN_FUZZ: The built-in fuzz type.</p></li> <li><p>BUILTIN_EXPLORER: For Android, an app explorer that will traverse an Android app, interacting with it and capturing screenshots at the same time.</p></li> <li><p>APPIUM_JAVA_JUNIT: The Appium Java JUnit type.</p></li> <li><p>APPIUM_JAVA_TESTNG: The Appium Java TestNG type.</p></li> <li><p>APPIUM_PYTHON: The Appium Python type.</p></li> <li><p>APPIUM_WEB_JAVA_JUNIT: The Appium Java JUnit type for Web apps.</p></li> <li><p>APPIUM_WEB_JAVA_TESTNG: The Appium Java TestNG type for Web apps.</p></li> <li><p>APPIUM_WEB_PYTHON: The Appium Python type for Web apps.</p></li> <li><p>CALABASH: The Calabash type.</p></li> <li><p>INSTRUMENTATION: The Instrumentation type.</p></li> <li><p>UIAUTOMATION: The uiautomation type.</p></li> <li><p>UIAUTOMATOR: The uiautomator type.</p></li> <li><p>XCTEST: The XCode test type.</p></li> <li><p>XCTEST_UI: The XCode UI test type.</p></li> </ul>"
        }
      },
      "description": "Represents a request to the get device pool compatibility operation."
    },
    "GetDevicePoolCompatibilityResult": {
      "type": "object",
      "properties": {
        "compatibleDevices": {
          "$ref": "#/definitions/DevicePoolCompatibilityResults",
          "description": "Information about compatible devices."
        },
        "incompatibleDevices": {
          "$ref": "#/definitions/DevicePoolCompatibilityResults",
          "description": "Information about incompatible devices."
        }
      },
      "description": "Represents the result of describe device pool compatibility request."
    },
    "GetDevicePoolRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The device pool's ARN."
        }
      },
      "description": "Represents a request to the get device pool operation."
    },
    "GetDevicePoolResult": {
      "type": "object",
      "properties": {
        "devicePool": {
          "$ref": "#/definitions/DevicePool"
        }
      },
      "description": "Represents the result of a get device pool request."
    },
    "GetDeviceRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The device type's ARN."
        }
      },
      "description": "Represents a request to the get device request."
    },
    "GetDeviceResult": {
      "type": "object",
      "properties": {
        "device": {
          "$ref": "#/definitions/Device"
        }
      },
      "description": "Represents the result of a get device request."
    },
    "GetJobRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The job's ARN."
        }
      },
      "description": "Represents a request to the get job operation."
    },
    "GetJobResult": {
      "type": "object",
      "properties": {
        "job": {
          "$ref": "#/definitions/Job"
        }
      },
      "description": "Represents the result of a get job request."
    },
    "GetOfferingStatusRequest": {
      "type": "object",
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the request to retrieve the offering status for the specified customer or account."
    },
    "GetOfferingStatusResult": {
      "type": "object",
      "properties": {
        "current": {
          "$ref": "#/definitions/OfferingStatusMap",
          "description": "When specified, gets the offering status for the current period."
        },
        "nextPeriod": {
          "$ref": "#/definitions/OfferingStatusMap",
          "description": "When specified, gets the offering status for the next period."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Returns the status result for a device offering."
    },
    "GetProjectRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The project's ARN."
        }
      },
      "description": "Represents a request to the get project operation."
    },
    "GetProjectResult": {
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/Project"
        }
      },
      "description": "Represents the result of a get project request."
    },
    "GetRemoteAccessSessionRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the remote access session about which you want to get session information."
        }
      },
      "description": "Represents the request to get information about the specified remote access session."
    },
    "GetRemoteAccessSessionResult": {
      "type": "object",
      "properties": {
        "remoteAccessSession": {
          "$ref": "#/definitions/RemoteAccessSession",
          "description": "A container that lists detailed information about the remote access session."
        }
      },
      "description": "Represents the response from the server that lists detailed information about the remote access session."
    },
    "GetRunRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The run's ARN."
        }
      },
      "description": "Represents a request to the get run operation."
    },
    "GetRunResult": {
      "type": "object",
      "properties": {
        "run": {
          "$ref": "#/definitions/Run"
        }
      },
      "description": "Represents the result of a get run request."
    },
    "GetSuiteRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The suite's ARN."
        }
      },
      "description": "Represents a request to the get suite operation."
    },
    "GetSuiteResult": {
      "type": "object",
      "properties": {
        "suite": {
          "$ref": "#/definitions/Suite"
        }
      },
      "description": "Represents the result of a get suite request."
    },
    "GetTestRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The test's ARN."
        }
      },
      "description": "Represents a request to the get test operation."
    },
    "GetTestResult": {
      "type": "object",
      "properties": {
        "test": {
          "$ref": "#/definitions/Test"
        }
      },
      "description": "Represents the result of a get test request."
    },
    "GetUploadRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The upload's ARN."
        }
      },
      "description": "Represents a request to the get upload operation."
    },
    "GetUploadResult": {
      "type": "object",
      "properties": {
        "upload": {
          "$ref": "#/definitions/Upload"
        }
      },
      "description": "Represents the result of a get upload request."
    },
    "IdempotencyException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "Any additional information about the exception."
        }
      },
      "description": "An entity with the same name already exists."
    },
    "IncompatibilityMessage": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the incompatibility."
        },
        "type": {
          "$ref": "#/definitions/DeviceAttribute",
          "description": "<p>The type of incompatibility.</p> <p>Allowed values include:</p> <ul> <li><p>ARN: The ARN.</p></li> <li><p>FORM_FACTOR: The form factor (for example, phone or tablet).</p></li> <li><p>MANUFACTURER: The manufacturer.</p></li> <li><p>PLATFORM: The platform (for example, Android or iOS).</p></li> </ul>"
        }
      },
      "description": "Represents information about incompatibility."
    },
    "IncompatibilityMessages": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/IncompatibilityMessage"
      }
    },
    "InstallToRemoteAccessSessionRequest": {
      "type": "object",
      "required": [
        "remoteAccessSessionArn",
        "appArn"
      ],
      "properties": {
        "remoteAccessSessionArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the remote access session about which you are requesting information."
        },
        "appArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the app about which you are requesting information."
        }
      },
      "description": "Represents the request to install an Android application (in .apk format) or an iOS application (in .ipa format) as part of a remote access session."
    },
    "InstallToRemoteAccessSessionResult": {
      "type": "object",
      "properties": {
        "appUpload": {
          "$ref": "#/definitions/Upload"
        }
      },
      "description": "Represents the response from the server after AWS Device Farm makes a request to install to a remote access session."
    },
    "Integer": {
      "type": "integer"
    },
    "Job": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The job's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The job's name."
        },
        "type": {
          "$ref": "#/definitions/TestType",
          "description": "<p>The job's type.</p> <p>Allowed values include the following:</p> <ul> <li><p>BUILTIN_FUZZ: The built-in fuzz type.</p></li> <li><p>BUILTIN_EXPLORER: For Android, an app explorer that will traverse an Android app, interacting with it and capturing screenshots at the same time.</p></li> <li><p>APPIUM_JAVA_JUNIT: The Appium Java JUnit type.</p></li> <li><p>APPIUM_JAVA_TESTNG: The Appium Java TestNG type.</p></li> <li><p>APPIUM_PYTHON: The Appium Python type.</p></li> <li><p>APPIUM_WEB_JAVA_JUNIT: The Appium Java JUnit type for Web apps.</p></li> <li><p>APPIUM_WEB_JAVA_TESTNG: The Appium Java TestNG type for Web apps.</p></li> <li><p>APPIUM_WEB_PYTHON: The Appium Python type for Web apps.</p></li> <li><p>CALABASH: The Calabash type.</p></li> <li><p>INSTRUMENTATION: The Instrumentation type.</p></li> <li><p>UIAUTOMATION: The uiautomation type.</p></li> <li><p>UIAUTOMATOR: The uiautomator type.</p></li> <li><p>XCTEST: The XCode test type.</p></li> <li><p>XCTEST_UI: The XCode UI test type.</p></li> </ul>"
        },
        "created": {
          "$ref": "#/definitions/DateTime",
          "description": "When the job was created."
        },
        "status": {
          "$ref": "#/definitions/ExecutionStatus",
          "description": "<p>The job's status.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending status.</p></li> <li><p>PENDING_CONCURRENCY: A pending concurrency status.</p></li> <li><p>PENDING_DEVICE: A pending device status.</p></li> <li><p>PROCESSING: A processing status.</p></li> <li><p>SCHEDULING: A scheduling status.</p></li> <li><p>PREPARING: A preparing status.</p></li> <li><p>RUNNING: A running status.</p></li> <li><p>COMPLETED: A completed status.</p></li> <li><p>STOPPING: A stopping status.</p></li> </ul>"
        },
        "result": {
          "$ref": "#/definitions/ExecutionResult",
          "description": "<p>The job's result.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending condition.</p></li> <li><p>PASSED: A passing condition.</p></li> <li><p>WARNED: A warning condition.</p></li> <li><p>FAILED: A failed condition.</p></li> <li><p>SKIPPED: A skipped condition.</p></li> <li><p>ERRORED: An error condition.</p></li> <li><p>STOPPED: A stopped condition.</p></li> </ul>"
        },
        "started": {
          "$ref": "#/definitions/DateTime",
          "description": "The job's start time."
        },
        "stopped": {
          "$ref": "#/definitions/DateTime",
          "description": "The job's stop time."
        },
        "counters": {
          "$ref": "#/definitions/Counters",
          "description": "The job's result counters."
        },
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the job's result."
        },
        "device": {
          "$ref": "#/definitions/Device"
        },
        "deviceMinutes": {
          "$ref": "#/definitions/DeviceMinutes",
          "description": "Represents the total (metered or unmetered) minutes used by the job."
        }
      },
      "description": "Represents a device."
    },
    "Jobs": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Job"
      }
    },
    "LimitExceededException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "Any additional information about the exception."
        }
      },
      "description": "A limit was exceeded."
    },
    "ListArtifactsRequest": {
      "type": "object",
      "required": [
        "arn",
        "type"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Run, Job, Suite, or Test ARN."
        },
        "type": {
          "$ref": "#/definitions/ArtifactCategory",
          "description": "<p>The artifacts' type.</p> <p>Allowed values include:</p> <ul> <li>FILE: The artifacts are files.</li> <li>LOG: The artifacts are logs.</li> <li>SCREENSHOT: The artifacts are screenshots.</li> </ul>"
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list artifacts operation."
    },
    "ListArtifactsResult": {
      "type": "object",
      "properties": {
        "artifacts": {
          "$ref": "#/definitions/Artifacts",
          "description": "Information about the artifacts."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list artifacts operation."
    },
    "ListDevicePoolsRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The project ARN."
        },
        "type": {
          "$ref": "#/definitions/DevicePoolType",
          "description": "<p>The device pools' type.</p> <p>Allowed values include:</p> <ul> <li><p>CURATED: A device pool that is created and managed by AWS Device Farm.</p></li> <li><p>PRIVATE: A device pool that is created and managed by the device pool developer.</p></li> </ul>"
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list device pools request."
    },
    "ListDevicePoolsResult": {
      "type": "object",
      "properties": {
        "devicePools": {
          "$ref": "#/definitions/DevicePools",
          "description": "Information about the device pools."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list device pools request."
    },
    "ListDevicesRequest": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The device types' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list devices request."
    },
    "ListDevicesResult": {
      "type": "object",
      "properties": {
        "devices": {
          "$ref": "#/definitions/Devices",
          "description": "Information about the devices."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list devices operation."
    },
    "ListJobsRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The jobs' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list jobs operation."
    },
    "ListJobsResult": {
      "type": "object",
      "properties": {
        "jobs": {
          "$ref": "#/definitions/Jobs",
          "description": "Information about the jobs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list jobs request."
    },
    "ListOfferingTransactionsRequest": {
      "type": "object",
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the request to list the offering transaction history."
    },
    "ListOfferingTransactionsResult": {
      "type": "object",
      "properties": {
        "offeringTransactions": {
          "$ref": "#/definitions/OfferingTransactions",
          "description": "The audit log of subscriptions you have purchased and modified through AWS Device Farm."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Returns the transaction log of the specified offerings."
    },
    "ListOfferingsRequest": {
      "type": "object",
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the request to list all offerings."
    },
    "ListOfferingsResult": {
      "type": "object",
      "properties": {
        "offerings": {
          "$ref": "#/definitions/Offerings",
          "description": "A value representing the list offering results."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the return values of the list of offerings."
    },
    "ListProjectsRequest": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The projects' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list projects operation."
    },
    "ListProjectsResult": {
      "type": "object",
      "properties": {
        "projects": {
          "$ref": "#/definitions/Projects",
          "description": "Information about the projects."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list projects request."
    },
    "ListRemoteAccessSessionsRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the remote access session about which you are requesting information."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the request to return information about the remote access session."
    },
    "ListRemoteAccessSessionsResult": {
      "type": "object",
      "properties": {
        "remoteAccessSessions": {
          "$ref": "#/definitions/RemoteAccessSessions",
          "description": "A container representing the metadata from the service about each remote access session you are requesting."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents the response from the server after AWS Device Farm makes a request to return information about the remote access session."
    },
    "ListRunsRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The runs' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list runs operation."
    },
    "ListRunsResult": {
      "type": "object",
      "properties": {
        "runs": {
          "$ref": "#/definitions/Runs",
          "description": "Information about the runs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list runs request."
    },
    "ListSamplesRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The samples' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list samples operation."
    },
    "ListSamplesResult": {
      "type": "object",
      "properties": {
        "samples": {
          "$ref": "#/definitions/Samples",
          "description": "Information about the samples."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list samples request."
    },
    "ListSuitesRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The suites' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list suites operation."
    },
    "ListSuitesResult": {
      "type": "object",
      "properties": {
        "suites": {
          "$ref": "#/definitions/Suites",
          "description": "Information about the suites."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list suites request."
    },
    "ListTestsRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The tests' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list tests operation."
    },
    "ListTestsResult": {
      "type": "object",
      "properties": {
        "tests": {
          "$ref": "#/definitions/Tests",
          "description": "Information about the tests."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list tests request."
    },
    "ListUniqueProblemsRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The unique problems' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list unique problems operation."
    },
    "ListUniqueProblemsResult": {
      "type": "object",
      "properties": {
        "uniqueProblems": {
          "$ref": "#/definitions/UniqueProblemsByExecutionResultMap",
          "description": "<p>Information about the unique problems.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending condition.</p></li> <li><p>PASSED: A passing condition.</p></li> <li><p>WARNED: A warning condition.</p></li> <li><p>FAILED: A failed condition.</p></li> <li><p>SKIPPED: A skipped condition.</p></li> <li><p>ERRORED: An error condition.</p></li> <li><p>STOPPED: A stopped condition.</p></li> </ul>"
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list unique problems request."
    },
    "ListUploadsRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The uploads' ARNs."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list."
        }
      },
      "description": "Represents a request to the list uploads operation."
    },
    "ListUploadsResult": {
      "type": "object",
      "properties": {
        "uploads": {
          "$ref": "#/definitions/Uploads",
          "description": "Information about the uploads."
        },
        "nextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If the number of items that are returned is significantly large, this is an identifier that is also returned, which can be used in a subsequent call to this operation to return the next set of items in the list."
        }
      },
      "description": "Represents the result of a list uploads request."
    },
    "Location": {
      "type": "object",
      "required": [
        "latitude",
        "longitude"
      ],
      "properties": {
        "latitude": {
          "$ref": "#/definitions/Double",
          "description": "The latitude."
        },
        "longitude": {
          "$ref": "#/definitions/Double",
          "description": "The longitude."
        }
      },
      "description": "<p>Represents a latitude and longitude pair, expressed in geographic coordinate system degrees (for example 47.6204, -122.3491).</p> <p>Elevation is currently not supported.</p>"
    },
    "Long": {
      "type": "integer"
    },
    "Message": {
      "type": "string",
      "minLength": 0,
      "maxLength": 16384
    },
    "Metadata": {
      "type": "string",
      "minLength": 0,
      "maxLength": 8192
    },
    "MonetaryAmount": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/Double",
          "description": "The numerical amount of an offering or transaction."
        },
        "currencyCode": {
          "$ref": "#/definitions/CurrencyCode",
          "description": "The currency code of a monetary amount. For example, <code>USD</code> means \"U.S. dollars.\""
        }
      },
      "description": "A number representing the monetary amount for an offering or transaction."
    },
    "Name": {
      "type": "string",
      "minLength": 0,
      "maxLength": 256
    },
    "NotEligibleException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "The HTTP response code of a Not Eligible exception."
        }
      },
      "description": "Exception gets thrown when a user is not eligible to perform the specified transaction."
    },
    "NotFoundException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "Any additional information about the exception."
        }
      },
      "description": "The specified entity was not found."
    },
    "Offering": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/OfferingIdentifier",
          "description": "The ID that corresponds to a device offering."
        },
        "description": {
          "$ref": "#/definitions/Message",
          "description": "A string describing the offering."
        },
        "type": {
          "$ref": "#/definitions/OfferingType",
          "description": "The type of offering (e.g., \"RECURRING\") for a device."
        },
        "platform": {
          "$ref": "#/definitions/DevicePlatform",
          "description": "The platform of the device (e.g., ANDROID or IOS)."
        },
        "recurringCharges": {
          "$ref": "#/definitions/RecurringCharges",
          "description": "Specifies whether there are recurring charges for the offering."
        }
      },
      "description": "Represents the metadata of a device offering."
    },
    "OfferingIdentifier": {
      "type": "string",
      "minLength": 32
    },
    "OfferingStatus": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/OfferingTransactionType",
          "description": "The type specified for the offering status."
        },
        "offering": {
          "$ref": "#/definitions/Offering",
          "description": "Represents the metadata of an offering status."
        },
        "quantity": {
          "$ref": "#/definitions/Integer",
          "description": "The number of available devices in the offering."
        },
        "effectiveOn": {
          "$ref": "#/definitions/DateTime",
          "description": "The date on which the offering is effective."
        }
      },
      "description": "The status of the offering."
    },
    "OfferingStatusMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/OfferingIdentifier"
          },
          "value": {
            "$ref": "#/definitions/OfferingStatus"
          }
        }
      }
    },
    "OfferingTransaction": {
      "type": "object",
      "properties": {
        "offeringStatus": {
          "$ref": "#/definitions/OfferingStatus",
          "description": "The status of an offering transaction."
        },
        "transactionId": {
          "$ref": "#/definitions/TransactionIdentifier",
          "description": "The transaction ID of the offering transaction."
        },
        "createdOn": {
          "$ref": "#/definitions/DateTime",
          "description": "The date on which an offering transaction was created."
        },
        "cost": {
          "$ref": "#/definitions/MonetaryAmount",
          "description": "The cost of an offering transaction."
        }
      },
      "description": "Represents the metadata of an offering transaction."
    },
    "OfferingTransactionType": {
      "type": "string",
      "enum": [
        "PURCHASE",
        "RENEW",
        "SYSTEM"
      ]
    },
    "OfferingTransactions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/OfferingTransaction"
      }
    },
    "OfferingType": {
      "type": "string",
      "enum": [
        "RECURRING"
      ]
    },
    "Offerings": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Offering"
      }
    },
    "PaginationToken": {
      "type": "string",
      "minLength": 4,
      "maxLength": 1024
    },
    "Problem": {
      "type": "object",
      "properties": {
        "run": {
          "$ref": "#/definitions/ProblemDetail",
          "description": "Information about the associated run."
        },
        "job": {
          "$ref": "#/definitions/ProblemDetail",
          "description": "Information about the associated job."
        },
        "suite": {
          "$ref": "#/definitions/ProblemDetail",
          "description": "Information about the associated suite."
        },
        "test": {
          "$ref": "#/definitions/ProblemDetail",
          "description": "Information about the associated test."
        },
        "device": {
          "$ref": "#/definitions/Device",
          "description": "Information about the associated device."
        },
        "result": {
          "$ref": "#/definitions/ExecutionResult",
          "description": "<p>The problem's result.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending condition.</p></li> <li><p>PASSED: A passing condition.</p></li> <li><p>WARNED: A warning condition.</p></li> <li><p>FAILED: A failed condition.</p></li> <li><p>SKIPPED: A skipped condition.</p></li> <li><p>ERRORED: An error condition.</p></li> <li><p>STOPPED: A stopped condition.</p></li> </ul>"
        },
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the problem's result."
        }
      },
      "description": "Represents a specific warning or failure."
    },
    "ProblemDetail": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The problem detail's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The problem detail's name."
        }
      },
      "description": "Information about a problem detail."
    },
    "Problems": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Problem"
      }
    },
    "Project": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The project's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The project's name."
        },
        "created": {
          "$ref": "#/definitions/DateTime",
          "description": "When the project was created."
        }
      },
      "description": "Represents an operating-system neutral workspace for running and managing tests."
    },
    "Projects": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Project"
      }
    },
    "PurchaseOfferingRequest": {
      "type": "object",
      "properties": {
        "offeringId": {
          "$ref": "#/definitions/OfferingIdentifier",
          "description": "The ID of the offering."
        },
        "quantity": {
          "$ref": "#/definitions/Integer",
          "description": "The number of device slots you wish to purchase in an offering request."
        }
      },
      "description": "Represents a request for a purchase offering."
    },
    "PurchaseOfferingResult": {
      "type": "object",
      "properties": {
        "offeringTransaction": {
          "$ref": "#/definitions/OfferingTransaction",
          "description": "Represents the offering transaction for the purchase result."
        }
      },
      "description": "The result of the purchase offering (e.g., success or failure)."
    },
    "PurchasedDevicesMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/DevicePlatform"
          },
          "value": {
            "$ref": "#/definitions/Integer"
          }
        }
      }
    },
    "Radios": {
      "type": "object",
      "properties": {
        "wifi": {
          "$ref": "#/definitions/Boolean",
          "description": "True if Wi-Fi is enabled at the beginning of the test; otherwise, false."
        },
        "bluetooth": {
          "$ref": "#/definitions/Boolean",
          "description": "True if Bluetooth is enabled at the beginning of the test; otherwise, false."
        },
        "nfc": {
          "$ref": "#/definitions/Boolean",
          "description": "True if NFC is enabled at the beginning of the test; otherwise, false."
        },
        "gps": {
          "$ref": "#/definitions/Boolean",
          "description": "True if GPS is enabled at the beginning of the test; otherwise, false."
        }
      },
      "description": "Represents the set of radios and their states on a device. Examples of radios include Wi-Fi, GPS, Bluetooth, and NFC."
    },
    "RecurringCharge": {
      "type": "object",
      "properties": {
        "cost": {
          "$ref": "#/definitions/MonetaryAmount",
          "description": "The cost of the recurring charge."
        },
        "frequency": {
          "$ref": "#/definitions/RecurringChargeFrequency",
          "description": "The frequency in which charges will recur."
        }
      },
      "description": "Specifies whether charges for devices will be recurring."
    },
    "RecurringChargeFrequency": {
      "type": "string",
      "enum": [
        "MONTHLY"
      ]
    },
    "RecurringCharges": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RecurringCharge"
      }
    },
    "RemoteAccessSession": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the remote access session."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The name of the remote access session."
        },
        "created": {
          "$ref": "#/definitions/DateTime",
          "description": "The date and time the remote access session was created."
        },
        "status": {
          "$ref": "#/definitions/ExecutionStatus",
          "description": "<p>The status of the remote access session. Can be any of the following:</p> <ul> <li><p>PENDING: A pending status.</p></li> <li><p>PENDING_CONCURRENCY: A pending concurrency status.</p></li> <li><p>PENDING_DEVICE: A pending device status.</p></li> <li><p>PROCESSING: A processing status.</p></li> <li><p>SCHEDULING: A scheduling status.</p></li> <li><p>PREPARING: A preparing status.</p></li> <li><p>RUNNING: A running status.</p></li> <li><p>COMPLETED: A completed status.</p></li> <li><p>STOPPING: A stopping status.</p></li> </ul>"
        },
        "result": {
          "$ref": "#/definitions/ExecutionResult",
          "description": "<p>The result of the remote access session. Can be any of the following:</p> <ul> <li><p>PENDING: A pending condition.</p></li> <li><p>PASSED: A passing condition.</p></li> <li><p>WARNED: A warning condition.</p></li> <li><p>FAILED: A failed condition.</p></li> <li><p>SKIPPED: A skipped condition.</p></li> <li><p>ERRORED: An error condition.</p></li> <li><p>STOPPED: A stopped condition.</p></li> </ul>"
        },
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the remote access session."
        },
        "started": {
          "$ref": "#/definitions/DateTime",
          "description": "The date and time the remote access session was started."
        },
        "stopped": {
          "$ref": "#/definitions/DateTime",
          "description": "The date and time the remote access session was stopped."
        },
        "device": {
          "$ref": "#/definitions/Device"
        },
        "billingMethod": {
          "$ref": "#/definitions/BillingMethod",
          "description": "The billing method of the remote access session. Possible values include <code>METERED</code> or <code>UNMETERED</code>. For more information about metered devices, see <a href=\"http://docs.aws.amazon.com/devicefarm/latest/developerguide/welcome.html#welcome-terminology\">AWS Device Farm terminology</a>.\""
        },
        "deviceMinutes": {
          "$ref": "#/definitions/DeviceMinutes"
        },
        "endpoint": {
          "$ref": "#/definitions/String",
          "description": "The endpoint for the remote access sesssion."
        }
      },
      "description": "Represents information about the remote access session."
    },
    "RemoteAccessSessions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RemoteAccessSession"
      }
    },
    "RenewOfferingRequest": {
      "type": "object",
      "properties": {
        "offeringId": {
          "$ref": "#/definitions/OfferingIdentifier",
          "description": "The ID of a request to renew an offering."
        },
        "quantity": {
          "$ref": "#/definitions/Integer",
          "description": "The quantity requested in an offering renewal."
        }
      },
      "description": "A request representing an offering renewal."
    },
    "RenewOfferingResult": {
      "type": "object",
      "properties": {
        "offeringTransaction": {
          "$ref": "#/definitions/OfferingTransaction",
          "description": "Represents the status of the offering transaction for the renewal."
        }
      },
      "description": "The result of a renewal offering."
    },
    "Resolution": {
      "type": "object",
      "properties": {
        "width": {
          "$ref": "#/definitions/Integer",
          "description": "The screen resolution's width, expressed in pixels."
        },
        "height": {
          "$ref": "#/definitions/Integer",
          "description": "The screen resolution's height, expressed in pixels."
        }
      },
      "description": "Represents the screen resolution of a device in height and width, expressed in pixels."
    },
    "Rule": {
      "type": "object",
      "properties": {
        "attribute": {
          "$ref": "#/definitions/DeviceAttribute",
          "description": "<p>The rule's stringified attribute. For example, specify the value as <code>\"\\\"abc\\\"\"</code>.</p> <p>Allowed values include:</p> <ul> <li><p>ARN: The ARN.</p></li> <li><p>FORM_FACTOR: The form factor (for example, phone or tablet).</p></li> <li><p>MANUFACTURER: The manufacturer.</p></li> <li><p>PLATFORM: The platform (for example, Android or iOS).</p></li> </ul>"
        },
        "operator": {
          "$ref": "#/definitions/RuleOperator",
          "description": "<p>The rule's operator.</p> <ul> <li><p>EQUALS: The equals operator.</p></li> <li><p>GREATER_THAN: The greater-than operator.</p></li> <li><p>IN: The in operator.</p></li> <li><p>LESS_THAN: The less-than operator.</p></li> <li><p>NOT_IN: The not-in operator.</p></li> </ul>"
        },
        "value": {
          "$ref": "#/definitions/String",
          "description": "The rule's value."
        }
      },
      "description": "Represents a condition for a device pool."
    },
    "RuleOperator": {
      "type": "string",
      "enum": [
        "EQUALS",
        "LESS_THAN",
        "GREATER_THAN",
        "IN",
        "NOT_IN"
      ]
    },
    "Rules": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Rule"
      }
    },
    "Run": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The run's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The run's name."
        },
        "type": {
          "$ref": "#/definitions/TestType",
          "description": "<p>The run's type.</p> <p>Must be one of the following values:</p> <ul> <li><p>BUILTIN_FUZZ: The built-in fuzz type.</p></li> <li><p>BUILTIN_EXPLORER: For Android, an app explorer that will traverse an Android app, interacting with it and capturing screenshots at the same time.</p></li> <li><p>APPIUM_JAVA_JUNIT: The Appium Java JUnit type.</p></li> <li><p>APPIUM_JAVA_TESTNG: The Appium Java TestNG type.</p></li> <li><p>APPIUM_PYTHON: The Appium Python type.</p></li> <li><p>APPIUM_WEB_JAVA_JUNIT: The Appium Java JUnit type for Web apps.</p></li> <li><p>APPIUM_WEB_JAVA_TESTNG: The Appium Java TestNG type for Web apps.</p></li> <li><p>APPIUM_WEB_PYTHON: The Appium Python type for Web apps.</p></li> <li><p>CALABASH: The Calabash type.</p></li> <li><p>INSTRUMENTATION: The Instrumentation type.</p></li> <li><p>UIAUTOMATION: The uiautomation type.</p></li> <li><p>UIAUTOMATOR: The uiautomator type.</p></li> <li><p>XCTEST: The XCode test type.</p></li> <li><p>XCTEST_UI: The XCode UI test type.</p></li> </ul>"
        },
        "platform": {
          "$ref": "#/definitions/DevicePlatform",
          "description": "<p>The run's platform.</p> <p>Allowed values include:</p> <ul> <li><p>ANDROID: The Android platform.</p></li> <li><p>IOS: The iOS platform.</p></li> </ul>"
        },
        "created": {
          "$ref": "#/definitions/DateTime",
          "description": "When the run was created."
        },
        "status": {
          "$ref": "#/definitions/ExecutionStatus",
          "description": "<p>The run's status.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending status.</p></li> <li><p>PENDING_CONCURRENCY: A pending concurrency status.</p></li> <li><p>PENDING_DEVICE: A pending device status.</p></li> <li><p>PROCESSING: A processing status.</p></li> <li><p>SCHEDULING: A scheduling status.</p></li> <li><p>PREPARING: A preparing status.</p></li> <li><p>RUNNING: A running status.</p></li> <li><p>COMPLETED: A completed status.</p></li> <li><p>STOPPING: A stopping status.</p></li> </ul>"
        },
        "result": {
          "$ref": "#/definitions/ExecutionResult",
          "description": "<p>The run's result.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending condition.</p></li> <li><p>PASSED: A passing condition.</p></li> <li><p>WARNED: A warning condition.</p></li> <li><p>FAILED: A failed condition.</p></li> <li><p>SKIPPED: A skipped condition.</p></li> <li><p>ERRORED: An error condition.</p></li> <li><p>STOPPED: A stopped condition.</p></li> </ul>"
        },
        "started": {
          "$ref": "#/definitions/DateTime",
          "description": "The run's start time."
        },
        "stopped": {
          "$ref": "#/definitions/DateTime",
          "description": "The run's stop time."
        },
        "counters": {
          "$ref": "#/definitions/Counters",
          "description": "The run's result counters."
        },
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the run's result."
        },
        "totalJobs": {
          "$ref": "#/definitions/Integer",
          "description": "The total number of jobs for the run."
        },
        "completedJobs": {
          "$ref": "#/definitions/Integer",
          "description": "The total number of completed jobs."
        },
        "billingMethod": {
          "$ref": "#/definitions/BillingMethod",
          "description": "Specifies the billing method for a test run: <code>metered</code> or <code>unmetered</code>. If the parameter is not specified, the default value is <code>unmetered</code>."
        },
        "deviceMinutes": {
          "$ref": "#/definitions/DeviceMinutes",
          "description": "Represents the total (metered or unmetered) minutes used by the test run."
        }
      },
      "description": "Represents an app on a set of devices with a specific test and configuration."
    },
    "Runs": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Run"
      }
    },
    "Sample": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The sample's ARN."
        },
        "type": {
          "$ref": "#/definitions/SampleType",
          "description": "<p>The sample's type.</p> <p>Must be one of the following values:</p> <ul> <li><p>CPU: A CPU sample type. This is expressed as the app processing CPU time (including child processes) as reported by process, as a percentage.</p></li> <li><p>MEMORY: A memory usage sample type. This is expressed as the total proportional set size of an app process, in kilobytes.</p></li> <li><p>NATIVE_AVG_DRAWTIME</p></li> <li><p>NATIVE_FPS</p></li> <li><p>NATIVE_FRAMES</p></li> <li><p>NATIVE_MAX_DRAWTIME</p></li> <li><p>NATIVE_MIN_DRAWTIME</p></li> <li><p>OPENGL_AVG_DRAWTIME</p></li> <li><p>OPENGL_FPS</p></li> <li><p>OPENGL_FRAMES</p></li> <li><p>OPENGL_MAX_DRAWTIME</p></li> <li><p>OPENGL_MIN_DRAWTIME</p></li> <li><p>RX</p></li> <li><p>RX_RATE: The total number of bytes per second (TCP and UDP) that are sent, by app process.</p></li> <li><p>THREADS: A threads sample type. This is expressed as the total number of threads per app process.</p></li> <li><p>TX</p></li> <li><p>TX_RATE: The total number of bytes per second (TCP and UDP) that are received, by app process.</p></li> </ul>"
        },
        "url": {
          "$ref": "#/definitions/URL",
          "description": "The pre-signed Amazon S3 URL that can be used with a corresponding GET request to download the sample's file."
        }
      },
      "description": "Represents a sample of performance data."
    },
    "SampleType": {
      "type": "string",
      "enum": [
        "CPU",
        "MEMORY",
        "THREADS",
        "RX_RATE",
        "TX_RATE",
        "RX",
        "TX",
        "NATIVE_FRAMES",
        "NATIVE_FPS",
        "NATIVE_MIN_DRAWTIME",
        "NATIVE_AVG_DRAWTIME",
        "NATIVE_MAX_DRAWTIME",
        "OPENGL_FRAMES",
        "OPENGL_FPS",
        "OPENGL_MIN_DRAWTIME",
        "OPENGL_AVG_DRAWTIME",
        "OPENGL_MAX_DRAWTIME"
      ]
    },
    "Samples": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Sample"
      }
    },
    "ScheduleRunConfiguration": {
      "type": "object",
      "properties": {
        "extraDataPackageArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the extra data for the run. The extra data is a .zip file that AWS Device Farm will extract to external data for Android or the app's sandbox for iOS."
        },
        "networkProfileArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "Reserved for internal use."
        },
        "locale": {
          "$ref": "#/definitions/String",
          "description": "Information about the locale that is used for the run."
        },
        "location": {
          "$ref": "#/definitions/Location",
          "description": "Information about the location that is used for the run."
        },
        "radios": {
          "$ref": "#/definitions/Radios",
          "description": "Information about the radio states for the run."
        },
        "auxiliaryApps": {
          "$ref": "#/definitions/AmazonResourceNames",
          "description": "A list of auxiliary apps for the run."
        },
        "billingMethod": {
          "$ref": "#/definitions/BillingMethod",
          "description": "Specifies the billing method for a test run: <code>metered</code> or <code>unmetered</code>. If the parameter is not specified, the default value is <code>unmetered</code>."
        }
      },
      "description": "Represents the settings for a run. Includes things like location, radio states, auxiliary apps, and network profiles."
    },
    "ScheduleRunRequest": {
      "type": "object",
      "required": [
        "projectArn",
        "devicePoolArn",
        "test"
      ],
      "properties": {
        "projectArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the project for the run to be scheduled."
        },
        "appArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the app to schedule a run."
        },
        "devicePoolArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the device pool for the run to be scheduled."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The name for the run to be scheduled."
        },
        "test": {
          "$ref": "#/definitions/ScheduleRunTest",
          "description": "Information about the test for the run to be scheduled."
        },
        "configuration": {
          "$ref": "#/definitions/ScheduleRunConfiguration",
          "description": "Information about the settings for the run to be scheduled."
        }
      },
      "description": "Represents a request to the schedule run operation."
    },
    "ScheduleRunResult": {
      "type": "object",
      "properties": {
        "run": {
          "$ref": "#/definitions/Run",
          "description": "Information about the scheduled run."
        }
      },
      "description": "Represents the result of a schedule run request."
    },
    "ScheduleRunTest": {
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "$ref": "#/definitions/TestType",
          "description": "<p>The test's type.</p> <p>Must be one of the following values:</p> <ul> <li><p>BUILTIN_FUZZ: The built-in fuzz type.</p></li> <li><p>BUILTIN_EXPLORER: For Android, an app explorer that will traverse an Android app, interacting with it and capturing screenshots at the same time.</p></li> <li><p>APPIUM_JAVA_JUNIT: The Appium Java JUnit type.</p></li> <li><p>APPIUM_JAVA_TESTNG: The Appium Java TestNG type.</p></li> <li><p>APPIUM_PYTHON: The Appium Python type.</p></li> <li><p>APPIUM_WEB_JAVA_JUNIT: The Appium Java JUnit type for Web apps.</p></li> <li><p>APPIUM_WEB_JAVA_TESTNG: The Appium Java TestNG type for Web apps.</p></li> <li><p>APPIUM_WEB_PYTHON: The Appium Python type for Web apps.</p></li> <li><p>CALABASH: The Calabash type.</p></li> <li><p>INSTRUMENTATION: The Instrumentation type.</p></li> <li><p>UIAUTOMATION: The uiautomation type.</p></li> <li><p>UIAUTOMATOR: The uiautomator type.</p></li> <li><p>XCTEST: The XCode test type.</p></li> <li><p>XCTEST_UI: The XCode UI test type.</p></li> </ul>"
        },
        "testPackageArn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The ARN of the uploaded test that will be run."
        },
        "filter": {
          "$ref": "#/definitions/Filter",
          "description": "The test's filter."
        },
        "parameters": {
          "$ref": "#/definitions/TestParameters",
          "description": "The test's parameters, such as test framework parameters and fixture settings."
        }
      },
      "description": "Represents additional test settings."
    },
    "ServiceAccountException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "Any additional information about the exception."
        }
      },
      "description": "There was a problem with the service account."
    },
    "StopRemoteAccessSessionRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the remote access session you wish to stop."
        }
      },
      "description": "Represents the request to stop the remote access session."
    },
    "StopRemoteAccessSessionResult": {
      "type": "object",
      "properties": {
        "remoteAccessSession": {
          "$ref": "#/definitions/RemoteAccessSession",
          "description": "A container representing the metadata from the service about the remote access session you are stopping."
        }
      },
      "description": "Represents the response from the server that describes the remote access session when AWS Device Farm stops the session."
    },
    "StopRunRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "Represents the Amazon Resource Name (ARN) of the Device Farm run you wish to stop."
        }
      },
      "description": "Represents the request to stop a specific run."
    },
    "StopRunResult": {
      "type": "object",
      "properties": {
        "run": {
          "$ref": "#/definitions/Run"
        }
      },
      "description": "Represents the results of your stop run attempt."
    },
    "String": {
      "type": "string"
    },
    "Suite": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The suite's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The suite's name."
        },
        "type": {
          "$ref": "#/definitions/TestType",
          "description": "<p>The suite's type.</p> <p>Must be one of the following values:</p> <ul> <li><p>BUILTIN_FUZZ: The built-in fuzz type.</p></li> <li><p>BUILTIN_EXPLORER: For Android, an app explorer that will traverse an Android app, interacting with it and capturing screenshots at the same time.</p></li> <li><p>APPIUM_JAVA_JUNIT: The Appium Java JUnit type.</p></li> <li><p>APPIUM_JAVA_TESTNG: The Appium Java TestNG type.</p></li> <li><p>APPIUM_PYTHON: The Appium Python type.</p></li> <li><p>APPIUM_WEB_JAVA_JUNIT: The Appium Java JUnit type for Web apps.</p></li> <li><p>APPIUM_WEB_JAVA_TESTNG: The Appium Java TestNG type for Web apps.</p></li> <li><p>APPIUM_WEB_PYTHON: The Appium Python type for Web apps.</p></li> <li><p>CALABASH: The Calabash type.</p></li> <li><p>INSTRUMENTATION: The Instrumentation type.</p></li> <li><p>UIAUTOMATION: The uiautomation type.</p></li> <li><p>UIAUTOMATOR: The uiautomator type.</p></li> <li><p>XCTEST: The XCode test type.</p></li> <li><p>XCTEST_UI: The XCode UI test type.</p></li> </ul>"
        },
        "created": {
          "$ref": "#/definitions/DateTime",
          "description": "When the suite was created."
        },
        "status": {
          "$ref": "#/definitions/ExecutionStatus",
          "description": "<p>The suite's status.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending status.</p></li> <li><p>PENDING_CONCURRENCY: A pending concurrency status.</p></li> <li><p>PENDING_DEVICE: A pending device status.</p></li> <li><p>PROCESSING: A processing status.</p></li> <li><p>SCHEDULING: A scheduling status.</p></li> <li><p>PREPARING: A preparing status.</p></li> <li><p>RUNNING: A running status.</p></li> <li><p>COMPLETED: A completed status.</p></li> <li><p>STOPPING: A stopping status.</p></li> </ul>"
        },
        "result": {
          "$ref": "#/definitions/ExecutionResult",
          "description": "<p>The suite's result.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending condition.</p></li> <li><p>PASSED: A passing condition.</p></li> <li><p>WARNED: A warning condition.</p></li> <li><p>FAILED: A failed condition.</p></li> <li><p>SKIPPED: A skipped condition.</p></li> <li><p>ERRORED: An error condition.</p></li> <li><p>STOPPED: A stopped condition.</p></li> </ul>"
        },
        "started": {
          "$ref": "#/definitions/DateTime",
          "description": "The suite's start time."
        },
        "stopped": {
          "$ref": "#/definitions/DateTime",
          "description": "The suite's stop time."
        },
        "counters": {
          "$ref": "#/definitions/Counters",
          "description": "The suite's result counters."
        },
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the suite's result."
        },
        "deviceMinutes": {
          "$ref": "#/definitions/DeviceMinutes",
          "description": "Represents the total (metered or unmetered) minutes used by the test suite."
        }
      },
      "description": "Represents a collection of one or more tests."
    },
    "Suites": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Suite"
      }
    },
    "Test": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The test's ARN."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "The test's name."
        },
        "type": {
          "$ref": "#/definitions/TestType",
          "description": "<p>The test's type.</p> <p>Must be one of the following values:</p> <ul> <li><p>BUILTIN_FUZZ: The built-in fuzz type.</p></li> <li><p>BUILTIN_EXPLORER: For Android, an app explorer that will traverse an Android app, interacting with it and capturing screenshots at the same time.</p></li> <li><p>APPIUM_JAVA_JUNIT: The Appium Java JUnit type.</p></li> <li><p>APPIUM_JAVA_TESTNG: The Appium Java TestNG type.</p></li> <li><p>APPIUM_PYTHON: The Appium Python type.</p></li> <li><p>APPIUM_WEB_JAVA_JUNIT: The Appium Java JUnit type for Web apps.</p></li> <li><p>APPIUM_WEB_JAVA_TESTNG: The Appium Java TestNG type for Web apps.</p></li> <li><p>APPIUM_WEB_PYTHON: The Appium Python type for Web apps.</p></li> <li><p>CALABASH: The Calabash type.</p></li> <li><p>INSTRUMENTATION: The Instrumentation type.</p></li> <li><p>UIAUTOMATION: The uiautomation type.</p></li> <li><p>UIAUTOMATOR: The uiautomator type.</p></li> <li><p>XCTEST: The XCode test type.</p></li> <li><p>XCTEST_UI: The XCode UI test type.</p></li> </ul>"
        },
        "created": {
          "$ref": "#/definitions/DateTime",
          "description": "When the test was created."
        },
        "status": {
          "$ref": "#/definitions/ExecutionStatus",
          "description": "<p>The test's status.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending status.</p></li> <li><p>PENDING_CONCURRENCY: A pending concurrency status.</p></li> <li><p>PENDING_DEVICE: A pending device status.</p></li> <li><p>PROCESSING: A processing status.</p></li> <li><p>SCHEDULING: A scheduling status.</p></li> <li><p>PREPARING: A preparing status.</p></li> <li><p>RUNNING: A running status.</p></li> <li><p>COMPLETED: A completed status.</p></li> <li><p>STOPPING: A stopping status.</p></li> </ul>"
        },
        "result": {
          "$ref": "#/definitions/ExecutionResult",
          "description": "<p>The test's result.</p> <p>Allowed values include:</p> <ul> <li><p>PENDING: A pending condition.</p></li> <li><p>PASSED: A passing condition.</p></li> <li><p>WARNED: A warning condition.</p></li> <li><p>FAILED: A failed condition.</p></li> <li><p>SKIPPED: A skipped condition.</p></li> <li><p>ERRORED: An error condition.</p></li> <li><p>STOPPED: A stopped condition.</p></li> </ul>"
        },
        "started": {
          "$ref": "#/definitions/DateTime",
          "description": "The test's start time."
        },
        "stopped": {
          "$ref": "#/definitions/DateTime",
          "description": "The test's stop time."
        },
        "counters": {
          "$ref": "#/definitions/Counters",
          "description": "The test's result counters."
        },
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the test's result."
        },
        "deviceMinutes": {
          "$ref": "#/definitions/DeviceMinutes",
          "description": "Represents the total (metered or unmetered) minutes used by the test."
        }
      },
      "description": "Represents a condition that is evaluated."
    },
    "TestParameters": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      }
    },
    "TestType": {
      "type": "string",
      "enum": [
        "BUILTIN_FUZZ",
        "BUILTIN_EXPLORER",
        "APPIUM_JAVA_JUNIT",
        "APPIUM_JAVA_TESTNG",
        "APPIUM_PYTHON",
        "APPIUM_WEB_JAVA_JUNIT",
        "APPIUM_WEB_JAVA_TESTNG",
        "APPIUM_WEB_PYTHON",
        "CALABASH",
        "INSTRUMENTATION",
        "UIAUTOMATION",
        "UIAUTOMATOR",
        "XCTEST",
        "XCTEST_UI"
      ]
    },
    "Tests": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Test"
      }
    },
    "TransactionIdentifier": {
      "type": "string",
      "minLength": 32
    },
    "URL": {
      "type": "string",
      "minLength": 0,
      "maxLength": 2048
    },
    "UniqueProblem": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/Message",
          "description": "A message about the unique problems' result."
        },
        "problems": {
          "$ref": "#/definitions/Problems",
          "description": "Information about the problems."
        }
      },
      "description": "A collection of one or more problems, grouped by their result."
    },
    "UniqueProblems": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/UniqueProblem"
      }
    },
    "UniqueProblemsByExecutionResultMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/ExecutionResult"
          },
          "value": {
            "$ref": "#/definitions/UniqueProblems"
          }
        }
      }
    },
    "UpdateDevicePoolRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resourc Name (ARN) of the Device Farm device pool you wish to update."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "A string representing the name of the device pool you wish to update."
        },
        "description": {
          "$ref": "#/definitions/Message",
          "description": "A description of the device pool you wish to update."
        },
        "rules": {
          "$ref": "#/definitions/Rules",
          "description": "Represents the rules you wish to modify for the device pool. Updating rules is optional; however, if you choose to update rules for your request, the update will replace the existing rules."
        }
      },
      "description": "Represents a request to the update device pool operation."
    },
    "UpdateDevicePoolResult": {
      "type": "object",
      "properties": {
        "devicePool": {
          "$ref": "#/definitions/DevicePool"
        }
      },
      "description": "Represents the result of an update device pool request."
    },
    "UpdateProjectRequest": {
      "type": "object",
      "required": [
        "arn"
      ],
      "properties": {
        "arn": {
          "$ref": "#/definitions/AmazonResourceName",
          "description": "The Amazon Resource Name (ARN) of the project whose name you wish to update."
        },
        "name": {
          "$ref": "#/definitions/Name",
          "description": "A string representing the new name of the project that you are updating."
        }
      },
      "description": "Represents a request to the update project operation."
    },
    "UpdateProjectResult": {
[...]
