{
    "swagger": "2.0",
    "info": {
        "title": "Bing API",
        "description": "",
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": ""
    },
    "host": "api.search.live.net",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{format}.aspx?sources=web%26query={query}": {
            "get": {
                "description": "Searches for web content",
                "operationId": "Get_web_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "web",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=image%26query={query}": {
            "get": {
                "description": "Searches for images on the web",
                "operationId": "Get_image_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "image",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=news%26query={query}": {
            "get": {
                "description": "Searches news stories",
                "operationId": "Get_news_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "news",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=instantanswer%26query={query}": {
            "get": {
                "description": "Searches Encarta online",
                "operationId": "Get_instantanswer_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "instantanswer",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=spell%26query={query}": {
            "get": {
                "description": "Searches Encarta dictionary for spelling suggestions",
                "operationId": "Get_spell_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "spell",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=phonebook%26query={query}": {
            "get": {
                "description": "Searches phonebook entries",
                "operationId": "Get_phonebook_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "phonebook",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=relatedsearch%26query={query}": {
            "get": {
                "description": "Returns the query strings most similar to yours",
                "operationId": "Get_relatedsearch_search1_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "relatedsearch",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=ad%26query={query}": {
            "get": {
                "description": "Returns advertisements to incorporate with results",
                "operationId": "Get_ad_search_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "ad",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{format}.aspx?sources=web+image%26query={query}": {
            "get": {
                "description": "To request results from multiple SourceTypes, separate the SourceType names with a plus (+)\n                    sign",
                "operationId": "Get_relatedsearch_search2_",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "sushi",
                        "x-is-map": false
                    },
                    {
                        "name": "sources",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "web+images",
                        "x-is-map": false
                    },
                    {
                        "name": "format",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string",
                        "default": "json",
                        "x-is-map": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {}
}