{
  "swagger": "2.0",
  "info": {
    "title": "Enhanced PRH API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Book data from Penguin Random House",
    "x-mashery-id": "2951"
  },
  "schemes": [
    "http"
  ],
  "host": "api.penguinrandomhouse.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.penguinrandomhouse.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "author"
    },
    {
      "name": "category"
    },
    {
      "name": "catSet"
    },
    {
      "name": "consumerImprint"
    },
    {
      "name": "division"
    },
    {
      "name": "domain"
    },
    {
      "name": "event"
    },
    {
      "name": "format"
    },
    {
      "name": "imprint"
    },
    {
      "name": "property"
    },
    {
      "name": "role"
    },
    {
      "name": "search"
    },
    {
      "name": "series"
    },
    {
      "name": "subseries"
    },
    {
      "name": "titles"
    },
    {
      "name": "works"
    }
  ],
  "paths": {
    "/domains/{domain}/authors": {
      "get": {
        "operationId": "listAuthorsdomain",
        "summary": "return a list of authors in a domain",
        "tags": [
          "domain"
        ],
        "parameters": [
          {
            "name": "domain",
            "type": "string",
            "description": "restrict by web domain",
            "in": "path",
            "required": true,
            "default": "PRH.US"
          },
          {
            "name": "zoom",
            "type": "string",
            "description": "one or more link rels to be embedded in the response",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressLinks",
            "type": "boolean",
            "description": "don't populate the \"_links\" elements",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressRecordCount",
            "type": "boolean",
            "description": "don't populate the top-level \"recordCount\" element; this can be a big time savings for certain queries that are listing unusual populations",
            "in": "query",
            "required": false
          },
          {
            "name": "preferLanguage",
            "type": "string",
            "description": "you may specify a single language code (e.g. 'E', 'SP') to have the first sort criteria be a boolean match against a TITLE or WORK record's language; this supersedes and is independent of the specified sort",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "(default=0) the index of the first row to be returned. Zero-based so 'start=10' indicates to start with the eleventh record.",
            "in": "query",
            "required": false
          },
          {
            "name": "rows",
            "type": "integer",
            "description": "(default=10) the number of rows to be returned. Set to zero to return all available rows.",
            "in": "query",
            "required": false
          },
          {
            "name": "workId",
            "type": "integer",
            "description": "restrict results based on one or more work IDs (see /works)",
            "in": "query",
            "required": false
          },
          {
            "name": "isbn",
            "type": "integer",
            "description": "restrict results based on one or more ISBNs (see /titles)",
            "in": "query",
            "required": false
          },
          {
            "name": "authorId",
            "type": "integer",
            "description": "restrict results based on one or more author IDs (see /authors)",
            "in": "query",
            "required": false
          },
          {
            "name": "divisionCode",
            "type": "string",
            "description": "restrict results based on one or more division codes (see /divisions)",
            "in": "query",
            "required": false
          },
          {
            "name": "imprintCode",
            "type": "string",
            "description": "restrict results based on one or more imprint codes (see /imprints)",
            "in": "query",
            "required": false
          },
          {
            "name": "seriesCode",
            "type": "string",
            "description": "restrict results based on one or more series codes (see /series)",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "restrict results based on one or more format codes (see /formats)",
            "in": "query",
            "required": false
          },
          {
            "name": "formatFamily",
            "type": "string",
            "description": "restrict results based on one or more format family labels (one of Paperback, Hardcover, Ebook, Board Book, Boxed Set, Audio, App, or Merchandise)",
            "in": "query",
            "required": false
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "restrict results based on one or more event IDs (see /events)",
            "in": "query",
            "required": false
          },
          {
            "name": "catId",
            "type": "integer",
            "description": "restrict results based on one or more category IDs (see /categories)",
            "in": "query",
            "required": false
          },
          {
            "name": "catUri",
            "type": "string",
            "description": "restrict results based on one or more category alternate identifiers",
            "in": "query",
            "required": false
          },
          {
            "name": "catSetId",
            "type": "string",
            "description": "restrict category listings (either primary or secondary) to one or more category groups",
            "in": "query",
            "required": false
          },
          {
            "name": "titleWebLinkAttr",
            "type": "integer",
            "description": "results must contain a title weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "authorWebLinkAttr",
            "type": "integer",
            "description": "results must contain an author weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "contribRoleCode",
            "type": "string",
            "description": "restrict by one or more contributor role codes (e.g. 'A', '4')",
            "in": "query",
            "required": false
          },
          {
            "name": "consumerImprint",
            "type": "string",
            "description": "restrict results based on one or more consumer imprint values (e.g. 'BlueRiderPress','Penguin Audio')",
            "in": "query",
            "required": false
          },
          {
            "name": "language",
            "type": "string",
            "description": "restrict results based on one or more language values (e.g. 'E', 'SP')",
            "in": "query",
            "required": false
          },
          {
            "name": "catSeq",
            "type": "integer",
            "description": "restrict results based on the sequencing of the categories assigned to title records",
            "in": "query",
            "required": false
          },
          {
            "name": "productLine",
            "type": "string",
            "description": "restrict results based on one or more title product line values",
            "in": "query",
            "required": false
          },
          {
            "name": "productType",
            "type": "string",
            "description": "restrict results based on one or more title product type values",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRange",
            "type": "string",
            "description": "restrict results based on one or more title age range values (e.g. '0005', '0408')",
            "in": "query",
            "required": false
          },
          {
            "name": "salesRestriction",
            "type": "string",
            "description": "restrict results based on one or more sales restriction codes (e.g. '00', '01')",
            "in": "query",
            "required": false
          },
          {
            "name": "saleStatus",
            "type": "string",
            "description": "restrict results based on one or more sale status codes (e.g. 'IP','OS')",
            "in": "query",
            "required": false
          },
          {
            "name": "subFormat",
            "type": "string",
            "description": "restrict results based on one or more subformat codes (e.g. '001','BE')",
            "in": "query",
            "required": false
          },
          {
            "name": "subSeries",
            "type": "string",
            "description": "restrict results based on one or more subseries values (e.g. 'The Rift')",
            "in": "query",
            "required": false
          },
          {
            "name": "propertyName",
            "type": "string",
            "description": "restrict results based on one or more propertyname values (e.g. 'Sesame Street')",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreIsbn",
            "type": "integer",
            "description": "omit one or more ISBNs or records linked to those titles",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreWork",
            "type": "integer",
            "description": "omit one or more work IDs or records linked to those works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreAuthor",
            "type": "integer",
            "description": "omit one or more author IDs or records linked to those authors",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatFamily",
            "type": "string",
            "description": "omit records linked to one or more format families",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatCode",
            "type": "string",
            "description": "omit records linked to one or more format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreCatUri",
            "type": "string",
            "description": "omit records linked to one or more category URIs -- currently only works with /categories, /titles and /works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSeries",
            "type": "string",
            "description": "omit records linked to one or more series codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreContribRole",
            "type": "string",
            "description": "omit records linked to one or more contrib role codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSubFormat",
            "type": "string",
            "description": "omit records linked to one or more sub format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductLine",
            "type": "string",
            "description": "omit records linked to one or more product line codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductType",
            "type": "string",
            "description": "omit records linked to one or more product type codes",
            "in": "query",
            "required": false
          },
          {
            "name": "showAwards",
            "type": "boolean",
            "description": "results must have an awards record",
            "in": "query",
            "required": false
          },
          {
            "name": "showBestsellers",
            "type": "boolean",
            "description": "results must have an bestsellers record",
            "in": "query",
            "required": false
          },
          {
            "name": "showNewReleases",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 180 days ago",
            "in": "query",
            "required": false
          },
          {
            "name": "showComingSoon",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 90 days from now",
            "in": "query",
            "required": false
          },
          {
            "name": "showPublishedBooks",
            "type": "boolean",
            "description": "results must have an on-sale date of today or earlier",
            "in": "query",
            "required": false
          },
          {
            "name": "showCovers",
            "type": "boolean",
            "description": "titles must have a cover image",
            "in": "query",
            "required": false
          },
          {
            "name": "showReadingGuides",
            "type": "boolean",
            "description": "results must have reading guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showTeachersGuides",
            "type": "boolean",
            "description": "results must have teachers guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showBoxBundles",
            "type": "boolean",
            "description": "restrict results to include or exclude titles that have the 'Boxed Set' format family or are identified by their short title as E-book bundles",
            "in": "query",
            "required": false
          },
          {
            "name": "showNoTitleBlock",
            "type": "boolean",
            "description": "restrict results to only include titles that have a NULL 'titleBlock' element",
            "in": "query",
            "required": false
          },
          {
            "name": "showMovieTieIn",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'MOVIE_TIE_IN' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "showExportOnly",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'EXPORT' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "hasSeriesNumber",
            "type": "boolean",
            "description": "restrict results to titles that have their series number field populated",
            "in": "query",
            "required": false
          },
          {
            "name": "minInPrint",
            "type": "integer",
            "description": "works must have a LTD in-print across all titles greater than the specified number",
            "in": "query",
            "required": false
          },
          {
            "name": "minPrintScore",
            "type": "integer",
            "description": "same as 'minInPrint' except that the LTD in-print value is adjusted according to business rules (e.g. MM titles are not counted)",
            "in": "query",
            "required": false
          },
          {
            "name": "awardMaxSeq",
            "type": "integer",
            "description": "restrict results to award winners where the award sequence is less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMin",
            "type": "integer",
            "description": "restrict results to titles with an age range greater than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMax",
            "type": "integer",
            "description": "restrict results to titles with an age range less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "category",
            "type": "string",
            "description": "restrict results by one or more category facets (a concatenation of the CAT_SET_ID dash the CAT_URI e.g. 'CN-/fiction')",
            "in": "query",
            "required": false
          },
          {
            "name": "onTour",
            "type": "boolean",
            "description": "only return authors that have a confirmed event in the next 180 days",
            "in": "query",
            "required": false
          },
          {
            "name": "eventDateFrom",
            "type": "string",
            "format": "date",
            "description": "only return authors that have a confirmed event on or after this date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "eventDateTo",
            "type": "string",
            "format": "date",
            "description": "only return authors that have a confirmed event on or before this date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "eventMinPrintScore",
            "type": "integer",
            "description": "only return authors that have a confirmed event with a title that has a print score greater than this number; print score is a weighted total in print for all ISBNs in a work",
            "in": "query",
            "required": false
          },
          {
            "name": "hideAuthorsWithNoPhoto",
            "type": "boolean",
            "description": "only return authors that have a photo on file according to the table AC_IMAGE_VW",
            "in": "query",
            "required": false
          },
          {
            "name": "authorLastInitial",
            "type": "string",
            "description": "restrict results by one or more last initial facets",
            "in": "query",
            "required": false
          },
          {
            "name": "showBio",
            "type": "boolean",
            "description": "only return authors that have bio content",
            "in": "query",
            "required": false
          },
          {
            "name": "sort",
            "type": "string",
            "description": "(default 'id') one of 'id', 'authorLast' or 'random'",
            "in": "query",
            "required": false
          },
          {
            "name": "dir",
            "type": "string",
            "description": "(default 'asc') either 'asc' or 'desc'",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}/authors/{authorId}": {
      "get": {
        "operationId": "getAuthorauthor",
        "summary": "return details about an author",
        "tags": [
          "author"
        ],
        "parameters": [
          {
            "name": "domain",
            "type": "string",
            "description": "restrict by web domain",
            "in": "path",
            "required": true,
            "default": "PRH.US"
          },
          {
            "name": "zoom",
            "type": "string",
            "description": "one or more link rels to be embedded in the response",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressLinks",
            "type": "boolean",
            "description": "don't populate the \"_links\" elements",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressRecordCount",
            "type": "boolean",
            "description": "don't populate the top-level \"recordCount\" element; this can be a big time savings for certain queries that are listing unusual populations",
            "in": "query",
            "required": false
          },
          {
            "name": "preferLanguage",
            "type": "string",
            "description": "you may specify a single language code (e.g. 'E', 'SP') to have the first sort criteria be a boolean match against a TITLE or WORK record's language; this supersedes and is independent of the specified sort",
            "in": "query",
            "required": false
          },
          {
            "name": "authorId",
            "type": "integer",
            "description": "restrict by author ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}/authors/{authorId}/content": {
      "get": {
        "operationId": "getAuthorContentauthor",
        "summary": "return text about an author",
        "tags": [
          "author"
        ],
        "parameters": [
          {
            "name": "domain",
            "type": "string",
            "description": "restrict by web domain",
            "in": "path",
            "required": true,
            "default": "PRH.US"
          },
          {
            "name": "zoom",
            "type": "string",
            "description": "one or more link rels to be embedded in the response",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressLinks",
            "type": "boolean",
            "description": "don't populate the \"_links\" elements",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressRecordCount",
            "type": "boolean",
            "description": "don't populate the top-level \"recordCount\" element; this can be a big time savings for certain queries that are listing unusual populations",
            "in": "query",
            "required": false
          },
          {
            "name": "preferLanguage",
            "type": "string",
            "description": "you may specify a single language code (e.g. 'E', 'SP') to have the first sort criteria be a boolean match against a TITLE or WORK record's language; this supersedes and is independent of the specified sort",
            "in": "query",
            "required": false
          },
          {
            "name": "authorId",
            "type": "integer",
            "description": "restrict by author ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}/authors/{authorId}/events": {
      "get": {
        "operationId": "listAuthorEventsauthor",
        "summary": "return an author's events",
        "tags": [
          "author"
        ],
        "parameters": [
          {
            "name": "domain",
            "type": "string",
            "description": "restrict by web domain",
            "in": "path",
            "required": true,
            "default": "PRH.US"
          },
          {
            "name": "zoom",
            "type": "string",
            "description": "one or more link rels to be embedded in the response",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressLinks",
            "type": "boolean",
            "description": "don't populate the \"_links\" elements",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressRecordCount",
            "type": "boolean",
            "description": "don't populate the top-level \"recordCount\" element; this can be a big time savings for certain queries that are listing unusual populations",
            "in": "query",
            "required": false
          },
          {
            "name": "preferLanguage",
            "type": "string",
            "description": "you may specify a single language code (e.g. 'E', 'SP') to have the first sort criteria be a boolean match against a TITLE or WORK record's language; this supersedes and is independent of the specified sort",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "(default=0) the index of the first row to be returned. Zero-based so 'start=10' indicates to start with the eleventh record.",
            "in": "query",
            "required": false
          },
          {
            "name": "rows",
            "type": "integer",
            "description": "(default=10) the number of rows to be returned. Set to zero to return all available rows.",
            "in": "query",
            "required": false
          },
          {
            "name": "workId",
            "type": "integer",
            "description": "restrict results based on one or more work IDs (see /works)",
            "in": "query",
            "required": false
          },
          {
            "name": "isbn",
            "type": "integer",
            "description": "restrict results based on one or more ISBNs (see /titles)",
            "in": "query",
            "required": false
          },
          {
            "name": "divisionCode",
            "type": "string",
            "description": "restrict results based on one or more division codes (see /divisions)",
            "in": "query",
            "required": false
          },
          {
            "name": "imprintCode",
            "type": "string",
            "description": "restrict results based on one or more imprint codes (see /imprints)",
            "in": "query",
            "required": false
          },
          {
            "name": "seriesCode",
            "type": "string",
            "description": "restrict results based on one or more series codes (see /series)",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "restrict results based on one or more format codes (see /formats)",
            "in": "query",
            "required": false
          },
          {
            "name": "formatFamily",
            "type": "string",
            "description": "restrict results based on one or more format family labels (one of Paperback, Hardcover, Ebook, Board Book, Boxed Set, Audio, App, or Merchandise)",
            "in": "query",
            "required": false
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "restrict results based on one or more event IDs (see /events)",
            "in": "query",
            "required": false
          },
          {
            "name": "catId",
            "type": "integer",
            "description": "restrict results based on one or more category IDs (see /categories)",
            "in": "query",
            "required": false
          },
          {
            "name": "catUri",
            "type": "string",
            "description": "restrict results based on one or more category alternate identifiers",
            "in": "query",
            "required": false
          },
          {
            "name": "catSetId",
            "type": "string",
            "description": "restrict category listings (either primary or secondary) to one or more category groups",
            "in": "query",
            "required": false
          },
          {
            "name": "titleWebLinkAttr",
            "type": "integer",
            "description": "results must contain a title weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "authorWebLinkAttr",
            "type": "integer",
            "description": "results must contain an author weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "contribRoleCode",
            "type": "string",
            "description": "restrict by one or more contributor role codes (e.g. 'A', '4')",
            "in": "query",
            "required": false
          },
          {
            "name": "consumerImprint",
            "type": "string",
            "description": "restrict results based on one or more consumer imprint values (e.g. 'BlueRiderPress','Penguin Audio')",
            "in": "query",
            "required": false
          },
          {
            "name": "language",
            "type": "string",
            "description": "restrict results based on one or more language values (e.g. 'E', 'SP')",
            "in": "query",
            "required": false
          },
          {
            "name": "catSeq",
            "type": "integer",
            "description": "restrict results based on the sequencing of the categories assigned to title records",
            "in": "query",
            "required": false
          },
          {
            "name": "productLine",
            "type": "string",
            "description": "restrict results based on one or more title product line values",
            "in": "query",
            "required": false
          },
          {
            "name": "productType",
            "type": "string",
            "description": "restrict results based on one or more title product type values",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRange",
            "type": "string",
            "description": "restrict results based on one or more title age range values (e.g. '0005', '0408')",
            "in": "query",
            "required": false
          },
          {
            "name": "salesRestriction",
            "type": "string",
            "description": "restrict results based on one or more sales restriction codes (e.g. '00', '01')",
            "in": "query",
            "required": false
          },
          {
            "name": "saleStatus",
            "type": "string",
            "description": "restrict results based on one or more sale status codes (e.g. 'IP','OS')",
            "in": "query",
            "required": false
          },
          {
            "name": "subFormat",
            "type": "string",
            "description": "restrict results based on one or more subformat codes (e.g. '001','BE')",
            "in": "query",
            "required": false
          },
          {
            "name": "subSeries",
            "type": "string",
            "description": "restrict results based on one or more subseries values (e.g. 'The Rift')",
            "in": "query",
            "required": false
          },
          {
            "name": "propertyName",
            "type": "string",
            "description": "restrict results based on one or more propertyname values (e.g. 'Sesame Street')",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreIsbn",
            "type": "integer",
            "description": "omit one or more ISBNs or records linked to those titles",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreWork",
            "type": "integer",
            "description": "omit one or more work IDs or records linked to those works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreAuthor",
            "type": "integer",
            "description": "omit one or more author IDs or records linked to those authors",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatFamily",
            "type": "string",
            "description": "omit records linked to one or more format families",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatCode",
            "type": "string",
            "description": "omit records linked to one or more format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreCatUri",
            "type": "string",
            "description": "omit records linked to one or more category URIs -- currently only works with /categories, /titles and /works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSeries",
            "type": "string",
            "description": "omit records linked to one or more series codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreContribRole",
            "type": "string",
            "description": "omit records linked to one or more contrib role codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSubFormat",
            "type": "string",
            "description": "omit records linked to one or more sub format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductLine",
            "type": "string",
            "description": "omit records linked to one or more product line codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductType",
            "type": "string",
            "description": "omit records linked to one or more product type codes",
            "in": "query",
            "required": false
          },
          {
            "name": "showAwards",
            "type": "boolean",
            "description": "results must have an awards record",
            "in": "query",
            "required": false
          },
          {
            "name": "showBestsellers",
            "type": "boolean",
            "description": "results must have an bestsellers record",
            "in": "query",
            "required": false
          },
          {
            "name": "showNewReleases",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 180 days ago",
            "in": "query",
            "required": false
          },
          {
            "name": "showComingSoon",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 90 days from now",
            "in": "query",
            "required": false
          },
          {
            "name": "showPublishedBooks",
            "type": "boolean",
            "description": "results must have an on-sale date of today or earlier",
            "in": "query",
            "required": false
          },
          {
            "name": "showCovers",
            "type": "boolean",
            "description": "titles must have a cover image",
            "in": "query",
            "required": false
          },
          {
            "name": "showReadingGuides",
            "type": "boolean",
            "description": "results must have reading guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showTeachersGuides",
            "type": "boolean",
            "description": "results must have teachers guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showBoxBundles",
            "type": "boolean",
            "description": "restrict results to include or exclude titles that have the 'Boxed Set' format family or are identified by their short title as E-book bundles",
            "in": "query",
            "required": false
          },
          {
            "name": "showNoTitleBlock",
            "type": "boolean",
            "description": "restrict results to only include titles that have a NULL 'titleBlock' element",
            "in": "query",
            "required": false
          },
          {
            "name": "showMovieTieIn",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'MOVIE_TIE_IN' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "showExportOnly",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'EXPORT' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "hasSeriesNumber",
            "type": "boolean",
            "description": "restrict results to titles that have their series number field populated",
            "in": "query",
            "required": false
          },
          {
            "name": "minInPrint",
            "type": "integer",
            "description": "works must have a LTD in-print across all titles greater than the specified number",
            "in": "query",
            "required": false
          },
          {
            "name": "minPrintScore",
            "type": "integer",
            "description": "same as 'minInPrint' except that the LTD in-print value is adjusted according to business rules (e.g. MM titles are not counted)",
            "in": "query",
            "required": false
          },
          {
            "name": "awardMaxSeq",
            "type": "integer",
            "description": "restrict results to award winners where the award sequence is less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMin",
            "type": "integer",
            "description": "restrict results to titles with an age range greater than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMax",
            "type": "integer",
            "description": "restrict results to titles with an age range less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "state",
            "type": "string",
            "description": "restrict by state",
            "in": "query",
            "required": false
          },
          {
            "name": "zip",
            "type": "string",
            "description": "restrict by zip code",
            "in": "query",
            "required": false
          },
          {
            "name": "status",
            "type": "string",
            "description": "restrict by one or more event status",
            "in": "query",
            "required": false
          },
          {
            "name": "eventDateFrom",
            "type": "string",
            "format": "date",
            "description": "return events on or after the supplied date",
            "in": "query",
            "required": false
          },
          {
            "name": "eventDateTo",
            "type": "string",
            "format": "date",
            "description": "return events on or before the supplied date",
            "in": "query",
            "required": false
          },
          {
            "name": "sort",
            "type": "string",
            "description": "(default 'id') one of 'id', 'eventdate', 'name', 'title', 'onsale'",
            "in": "query",
            "required": false
          },
          {
            "name": "dir",
            "type": "string",
            "description": "(default 'asc') either 'asc' or 'desc'",
            "in": "query",
            "required": false
          },
          {
            "name": "authorId",
            "type": "integer",
            "description": "restrict by author ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}/authors/{authorId}/roles": {
      "get": {
        "operationId": "listAuthorRolesauthor",
        "summary": "return an author's roles",
        "tags": [
          "author"
        ],
        "parameters": [
          {
            "name": "domain",
            "type": "string",
            "description": "restrict by web domain",
            "in": "path",
            "required": true,
            "default": "PRH.US"
          },
          {
            "name": "zoom",
            "type": "string",
            "description": "one or more link rels to be embedded in the response",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressLinks",
            "type": "boolean",
            "description": "don't populate the \"_links\" elements",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressRecordCount",
            "type": "boolean",
            "description": "don't populate the top-level \"recordCount\" element; this can be a big time savings for certain queries that are listing unusual populations",
            "in": "query",
            "required": false
          },
          {
            "name": "preferLanguage",
            "type": "string",
            "description": "you may specify a single language code (e.g. 'E', 'SP') to have the first sort criteria be a boolean match against a TITLE or WORK record's language; this supersedes and is independent of the specified sort",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "(default=0) the index of the first row to be returned. Zero-based so 'start=10' indicates to start with the eleventh record.",
            "in": "query",
            "required": false
          },
          {
            "name": "rows",
            "type": "integer",
            "description": "(default=10) the number of rows to be returned. Set to zero to return all available rows.",
            "in": "query",
            "required": false
          },
          {
            "name": "workId",
            "type": "integer",
            "description": "restrict results based on one or more work IDs (see /works)",
            "in": "query",
            "required": false
          },
          {
            "name": "isbn",
            "type": "integer",
            "description": "restrict results based on one or more ISBNs (see /titles)",
            "in": "query",
            "required": false
          },
          {
            "name": "divisionCode",
            "type": "string",
            "description": "restrict results based on one or more division codes (see /divisions)",
            "in": "query",
            "required": false
          },
          {
            "name": "imprintCode",
            "type": "string",
            "description": "restrict results based on one or more imprint codes (see /imprints)",
            "in": "query",
            "required": false
          },
          {
            "name": "seriesCode",
            "type": "string",
            "description": "restrict results based on one or more series codes (see /series)",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "restrict results based on one or more format codes (see /formats)",
            "in": "query",
            "required": false
          },
          {
            "name": "formatFamily",
            "type": "string",
            "description": "restrict results based on one or more format family labels (one of Paperback, Hardcover, Ebook, Board Book, Boxed Set, Audio, App, or Merchandise)",
            "in": "query",
            "required": false
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "restrict results based on one or more event IDs (see /events)",
            "in": "query",
            "required": false
          },
          {
            "name": "catId",
            "type": "integer",
            "description": "restrict results based on one or more category IDs (see /categories)",
            "in": "query",
            "required": false
          },
          {
            "name": "catUri",
            "type": "string",
            "description": "restrict results based on one or more category alternate identifiers",
            "in": "query",
            "required": false
          },
          {
            "name": "catSetId",
            "type": "string",
            "description": "restrict category listings (either primary or secondary) to one or more category groups",
            "in": "query",
            "required": false
          },
          {
            "name": "titleWebLinkAttr",
            "type": "integer",
            "description": "results must contain a title weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "authorWebLinkAttr",
            "type": "integer",
            "description": "results must contain an author weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "contribRoleCode",
            "type": "string",
            "description": "restrict by one or more contributor role codes (e.g. 'A', '4')",
            "in": "query",
            "required": false
          },
          {
            "name": "consumerImprint",
            "type": "string",
            "description": "restrict results based on one or more consumer imprint values (e.g. 'BlueRiderPress','Penguin Audio')",
            "in": "query",
            "required": false
          },
          {
            "name": "language",
            "type": "string",
            "description": "restrict results based on one or more language values (e.g. 'E', 'SP')",
            "in": "query",
            "required": false
          },
          {
            "name": "catSeq",
            "type": "integer",
            "description": "restrict results based on the sequencing of the categories assigned to title records",
            "in": "query",
            "required": false
          },
          {
            "name": "productLine",
            "type": "string",
            "description": "restrict results based on one or more title product line values",
            "in": "query",
            "required": false
          },
          {
            "name": "productType",
            "type": "string",
            "description": "restrict results based on one or more title product type values",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRange",
            "type": "string",
            "description": "restrict results based on one or more title age range values (e.g. '0005', '0408')",
            "in": "query",
            "required": false
          },
          {
            "name": "salesRestriction",
            "type": "string",
            "description": "restrict results based on one or more sales restriction codes (e.g. '00', '01')",
            "in": "query",
            "required": false
          },
          {
            "name": "saleStatus",
            "type": "string",
            "description": "restrict results based on one or more sale status codes (e.g. 'IP','OS')",
            "in": "query",
            "required": false
          },
          {
            "name": "subFormat",
            "type": "string",
            "description": "restrict results based on one or more subformat codes (e.g. '001','BE')",
            "in": "query",
            "required": false
          },
          {
            "name": "subSeries",
            "type": "string",
            "description": "restrict results based on one or more subseries values (e.g. 'The Rift')",
            "in": "query",
            "required": false
          },
          {
            "name": "propertyName",
            "type": "string",
            "description": "restrict results based on one or more propertyname values (e.g. 'Sesame Street')",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreIsbn",
            "type": "integer",
            "description": "omit one or more ISBNs or records linked to those titles",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreWork",
            "type": "integer",
            "description": "omit one or more work IDs or records linked to those works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreAuthor",
            "type": "integer",
            "description": "omit one or more author IDs or records linked to those authors",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatFamily",
            "type": "string",
            "description": "omit records linked to one or more format families",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatCode",
            "type": "string",
            "description": "omit records linked to one or more format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreCatUri",
            "type": "string",
            "description": "omit records linked to one or more category URIs -- currently only works with /categories, /titles and /works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSeries",
            "type": "string",
            "description": "omit records linked to one or more series codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreContribRole",
            "type": "string",
            "description": "omit records linked to one or more contrib role codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSubFormat",
            "type": "string",
            "description": "omit records linked to one or more sub format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductLine",
            "type": "string",
            "description": "omit records linked to one or more product line codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductType",
            "type": "string",
            "description": "omit records linked to one or more product type codes",
            "in": "query",
            "required": false
          },
          {
            "name": "showAwards",
            "type": "boolean",
            "description": "results must have an awards record",
            "in": "query",
            "required": false
          },
          {
            "name": "showBestsellers",
            "type": "boolean",
            "description": "results must have an bestsellers record",
            "in": "query",
            "required": false
          },
          {
            "name": "showNewReleases",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 180 days ago",
            "in": "query",
            "required": false
          },
          {
            "name": "showComingSoon",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 90 days from now",
            "in": "query",
            "required": false
          },
          {
            "name": "showPublishedBooks",
            "type": "boolean",
            "description": "results must have an on-sale date of today or earlier",
            "in": "query",
            "required": false
          },
          {
            "name": "showCovers",
            "type": "boolean",
            "description": "titles must have a cover image",
            "in": "query",
            "required": false
          },
          {
            "name": "showReadingGuides",
            "type": "boolean",
            "description": "results must have reading guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showTeachersGuides",
            "type": "boolean",
            "description": "results must have teachers guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showBoxBundles",
            "type": "boolean",
            "description": "restrict results to include or exclude titles that have the 'Boxed Set' format family or are identified by their short title as E-book bundles",
            "in": "query",
            "required": false
          },
          {
            "name": "showNoTitleBlock",
            "type": "boolean",
            "description": "restrict results to only include titles that have a NULL 'titleBlock' element",
            "in": "query",
            "required": false
          },
          {
            "name": "showMovieTieIn",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'MOVIE_TIE_IN' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "showExportOnly",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'EXPORT' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "hasSeriesNumber",
            "type": "boolean",
            "description": "restrict results to titles that have their series number field populated",
            "in": "query",
            "required": false
          },
          {
            "name": "minInPrint",
            "type": "integer",
            "description": "works must have a LTD in-print across all titles greater than the specified number",
            "in": "query",
            "required": false
          },
          {
            "name": "minPrintScore",
            "type": "integer",
            "description": "same as 'minInPrint' except that the LTD in-print value is adjusted according to business rules (e.g. MM titles are not counted)",
            "in": "query",
            "required": false
          },
          {
            "name": "awardMaxSeq",
            "type": "integer",
            "description": "restrict results to award winners where the award sequence is less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMin",
            "type": "integer",
            "description": "restrict results to titles with an age range greater than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMax",
            "type": "integer",
            "description": "restrict results to titles with an age range less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "authorId",
            "type": "integer",
            "description": "restrict by author ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}/authors/{authorId}/series": {
      "get": {
        "operationId": "listAuthorSeriesauthor",
        "summary": "return an author's series",
        "tags": [
          "author"
        ],
        "parameters": [
          {
            "name": "domain",
            "type": "string",
            "description": "restrict by web domain",
            "in": "path",
            "required": true,
            "default": "PRH.US"
          },
          {
            "name": "zoom",
            "type": "string",
            "description": "one or more link rels to be embedded in the response",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressLinks",
            "type": "boolean",
            "description": "don't populate the \"_links\" elements",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressRecordCount",
            "type": "boolean",
            "description": "don't populate the top-level \"recordCount\" element; this can be a big time savings for certain queries that are listing unusual populations",
            "in": "query",
            "required": false
          },
          {
            "name": "preferLanguage",
            "type": "string",
            "description": "you may specify a single language code (e.g. 'E', 'SP') to have the first sort criteria be a boolean match against a TITLE or WORK record's language; this supersedes and is independent of the specified sort",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "(default=0) the index of the first row to be returned. Zero-based so 'start=10' indicates to start with the eleventh record.",
            "in": "query",
            "required": false
          },
          {
            "name": "rows",
            "type": "integer",
            "description": "(default=10) the number of rows to be returned. Set to zero to return all available rows.",
            "in": "query",
            "required": false
          },
          {
            "name": "workId",
            "type": "integer",
            "description": "restrict results based on one or more work IDs (see /works)",
            "in": "query",
            "required": false
          },
          {
            "name": "isbn",
            "type": "integer",
            "description": "restrict results based on one or more ISBNs (see /titles)",
            "in": "query",
            "required": false
          },
          {
            "name": "divisionCode",
            "type": "string",
            "description": "restrict results based on one or more division codes (see /divisions)",
            "in": "query",
            "required": false
          },
          {
            "name": "imprintCode",
            "type": "string",
            "description": "restrict results based on one or more imprint codes (see /imprints)",
            "in": "query",
            "required": false
          },
          {
            "name": "seriesCode",
            "type": "string",
            "description": "restrict results based on one or more series codes (see /series)",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "restrict results based on one or more format codes (see /formats)",
            "in": "query",
            "required": false
          },
          {
            "name": "formatFamily",
            "type": "string",
            "description": "restrict results based on one or more format family labels (one of Paperback, Hardcover, Ebook, Board Book, Boxed Set, Audio, App, or Merchandise)",
            "in": "query",
            "required": false
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "restrict results based on one or more event IDs (see /events)",
            "in": "query",
            "required": false
          },
          {
            "name": "catId",
            "type": "integer",
            "description": "restrict results based on one or more category IDs (see /categories)",
            "in": "query",
            "required": false
          },
          {
            "name": "catUri",
            "type": "string",
            "description": "restrict results based on one or more category alternate identifiers",
            "in": "query",
            "required": false
          },
          {
            "name": "catSetId",
            "type": "string",
            "description": "restrict category listings (either primary or secondary) to one or more category groups",
            "in": "query",
            "required": false
          },
          {
            "name": "titleWebLinkAttr",
            "type": "integer",
            "description": "results must contain a title weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "authorWebLinkAttr",
            "type": "integer",
            "description": "results must contain an author weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "contribRoleCode",
            "type": "string",
            "description": "restrict by one or more contributor role codes (e.g. 'A', '4')",
            "in": "query",
            "required": false
          },
          {
            "name": "consumerImprint",
            "type": "string",
            "description": "restrict results based on one or more consumer imprint values (e.g. 'BlueRiderPress','Penguin Audio')",
            "in": "query",
            "required": false
          },
          {
            "name": "language",
            "type": "string",
            "description": "restrict results based on one or more language values (e.g. 'E', 'SP')",
            "in": "query",
            "required": false
          },
          {
            "name": "catSeq",
            "type": "integer",
            "description": "restrict results based on the sequencing of the categories assigned to title records",
            "in": "query",
            "required": false
          },
          {
            "name": "productLine",
            "type": "string",
            "description": "restrict results based on one or more title product line values",
            "in": "query",
            "required": false
          },
          {
            "name": "productType",
            "type": "string",
            "description": "restrict results based on one or more title product type values",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRange",
            "type": "string",
            "description": "restrict results based on one or more title age range values (e.g. '0005', '0408')",
            "in": "query",
            "required": false
          },
          {
            "name": "salesRestriction",
            "type": "string",
            "description": "restrict results based on one or more sales restriction codes (e.g. '00', '01')",
            "in": "query",
            "required": false
          },
          {
            "name": "saleStatus",
            "type": "string",
            "description": "restrict results based on one or more sale status codes (e.g. 'IP','OS')",
            "in": "query",
            "required": false
          },
          {
            "name": "subFormat",
            "type": "string",
            "description": "restrict results based on one or more subformat codes (e.g. '001','BE')",
            "in": "query",
            "required": false
          },
          {
            "name": "subSeries",
            "type": "string",
            "description": "restrict results based on one or more subseries values (e.g. 'The Rift')",
            "in": "query",
            "required": false
          },
          {
            "name": "propertyName",
            "type": "string",
            "description": "restrict results based on one or more propertyname values (e.g. 'Sesame Street')",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreIsbn",
            "type": "integer",
            "description": "omit one or more ISBNs or records linked to those titles",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreWork",
            "type": "integer",
            "description": "omit one or more work IDs or records linked to those works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreAuthor",
            "type": "integer",
            "description": "omit one or more author IDs or records linked to those authors",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatFamily",
            "type": "string",
            "description": "omit records linked to one or more format families",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatCode",
            "type": "string",
            "description": "omit records linked to one or more format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreCatUri",
            "type": "string",
            "description": "omit records linked to one or more category URIs -- currently only works with /categories, /titles and /works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSeries",
            "type": "string",
            "description": "omit records linked to one or more series codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreContribRole",
            "type": "string",
            "description": "omit records linked to one or more contrib role codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSubFormat",
            "type": "string",
            "description": "omit records linked to one or more sub format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductLine",
            "type": "string",
            "description": "omit records linked to one or more product line codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductType",
            "type": "string",
            "description": "omit records linked to one or more product type codes",
            "in": "query",
            "required": false
          },
          {
            "name": "showAwards",
            "type": "boolean",
            "description": "results must have an awards record",
            "in": "query",
            "required": false
          },
          {
            "name": "showBestsellers",
            "type": "boolean",
            "description": "results must have an bestsellers record",
            "in": "query",
            "required": false
          },
          {
            "name": "showNewReleases",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 180 days ago",
            "in": "query",
            "required": false
          },
          {
            "name": "showComingSoon",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 90 days from now",
            "in": "query",
            "required": false
          },
          {
            "name": "showPublishedBooks",
            "type": "boolean",
            "description": "results must have an on-sale date of today or earlier",
            "in": "query",
            "required": false
          },
          {
            "name": "showCovers",
            "type": "boolean",
            "description": "titles must have a cover image",
            "in": "query",
            "required": false
          },
          {
            "name": "showReadingGuides",
            "type": "boolean",
            "description": "results must have reading guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showTeachersGuides",
            "type": "boolean",
            "description": "results must have teachers guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showBoxBundles",
            "type": "boolean",
            "description": "restrict results to include or exclude titles that have the 'Boxed Set' format family or are identified by their short title as E-book bundles",
            "in": "query",
            "required": false
          },
          {
            "name": "showNoTitleBlock",
            "type": "boolean",
            "description": "restrict results to only include titles that have a NULL 'titleBlock' element",
            "in": "query",
            "required": false
          },
          {
            "name": "showMovieTieIn",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'MOVIE_TIE_IN' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "showExportOnly",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'EXPORT' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "hasSeriesNumber",
            "type": "boolean",
            "description": "restrict results to titles that have their series number field populated",
            "in": "query",
            "required": false
          },
          {
            "name": "minInPrint",
            "type": "integer",
            "description": "works must have a LTD in-print across all titles greater than the specified number",
            "in": "query",
            "required": false
          },
          {
            "name": "minPrintScore",
            "type": "integer",
            "description": "same as 'minInPrint' except that the LTD in-print value is adjusted according to business rules (e.g. MM titles are not counted)",
            "in": "query",
            "required": false
          },
          {
            "name": "awardMaxSeq",
            "type": "integer",
            "description": "restrict results to award winners where the award sequence is less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMin",
            "type": "integer",
            "description": "restrict results to titles with an age range greater than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMax",
            "type": "integer",
            "description": "restrict results to titles with an age range less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "series.countMin",
            "type": "integer",
            "description": "restrict series to just those with a minimum number of works; for numbered series this only considers books that have been given series numbers; only considers ISBNs that have a cover image available",
            "in": "query",
            "required": false
          },
          {
            "name": "series.countMax",
            "type": "integer",
            "description": "restrict series to just those with a maximum number of works; for numbered series this only considers books that have been given series numbers; only considers ISBNs that have a cover image available",
            "in": "query",
            "required": false
          },
          {
            "name": "series.numbered",
            "type": "boolean",
            "description": "return numbered series (true) or unnumbered series (false)",
            "in": "query",
            "required": false
          },
          {
            "name": "series.kids",
            "type": "boolean",
            "description": "return series that have books with a Children or Young Adult consumer category (true) or don't (false)",
            "in": "query",
            "required": false
          },
          {
            "name": "series.authorId",
            "type": "string",
            "description": "restrict series matching on the one or two primary authors that we've associated with the series; differs from 'authorId' which would test all the contributors attached to all the ISBN records that have the series code",
            "in": "query",
            "required": false
          },
          {
            "name": "series.catUri",
            "type": "string",
            "description": "restrict series matching on the one or two primary categories that we've associated with the series; differs from 'catUri' which would test all the categories attached to all the ISBNS records that have the series code",
            "in": "query",
            "required": false
          },
          {
            "name": "series.minPrintScore",
            "type": "integer",
            "description": "restrict series to those where the most recent work's print score is at least a certain threshold",
            "in": "query",
            "required": false
          },
          {
            "name": "series.ebookOriginal",
            "type": "boolean",
            "description": "restrict series to those all the ISBN records with that series code have ORIGINAL_ISBN='ORIGINAL' and FORMAT_CODE='EL'",
            "in": "query",
            "required": false
          },
          {
            "name": "sort",
            "type": "string",
            "description": "(default 'id') one of 'id', 'name', 'seriesDate', 'random'",
            "in": "query",
            "required": false
          },
          {
            "name": "dir",
            "type": "string",
            "description": "(default 'asc') either 'asc' or 'desc'",
            "in": "query",
            "required": false
          },
          {
            "name": "authorId",
            "type": "integer",
            "description": "restrict by author ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/domains/{domain}/authors/{authorId}/titles": {
      "get": {
        "operationId": "listAuthorTitlesauthor",
        "summary": "return an author's titles",
        "tags": [
          "author"
        ],
        "parameters": [
          {
            "name": "domain",
            "type": "string",
            "description": "restrict by web domain",
            "in": "path",
            "required": true,
            "default": "PRH.US"
          },
          {
            "name": "zoom",
            "type": "string",
            "description": "one or more link rels to be embedded in the response",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressLinks",
            "type": "boolean",
            "description": "don't populate the \"_links\" elements",
            "in": "query",
            "required": false
          },
          {
            "name": "suppressRecordCount",
            "type": "boolean",
            "description": "don't populate the top-level \"recordCount\" element; this can be a big time savings for certain queries that are listing unusual populations",
            "in": "query",
            "required": false
          },
          {
            "name": "preferLanguage",
            "type": "string",
            "description": "you may specify a single language code (e.g. 'E', 'SP') to have the first sort criteria be a boolean match against a TITLE or WORK record's language; this supersedes and is independent of the specified sort",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "(default=0) the index of the first row to be returned. Zero-based so 'start=10' indicates to start with the eleventh record.",
            "in": "query",
            "required": false
          },
          {
            "name": "rows",
            "type": "integer",
            "description": "(default=10) the number of rows to be returned. Set to zero to return all available rows.",
            "in": "query",
            "required": false
          },
          {
            "name": "workId",
            "type": "integer",
            "description": "restrict results based on one or more work IDs (see /works)",
            "in": "query",
            "required": false
          },
          {
            "name": "isbn",
            "type": "integer",
            "description": "restrict results based on one or more ISBNs (see /titles)",
            "in": "query",
            "required": false
          },
          {
            "name": "divisionCode",
            "type": "string",
            "description": "restrict results based on one or more division codes (see /divisions)",
            "in": "query",
            "required": false
          },
          {
            "name": "imprintCode",
            "type": "string",
            "description": "restrict results based on one or more imprint codes (see /imprints)",
            "in": "query",
            "required": false
          },
          {
            "name": "seriesCode",
            "type": "string",
            "description": "restrict results based on one or more series codes (see /series)",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "restrict results based on one or more format codes (see /formats)",
            "in": "query",
            "required": false
          },
          {
            "name": "formatFamily",
            "type": "string",
            "description": "restrict results based on one or more format family labels (one of Paperback, Hardcover, Ebook, Board Book, Boxed Set, Audio, App, or Merchandise)",
            "in": "query",
            "required": false
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "restrict results based on one or more event IDs (see /events)",
            "in": "query",
            "required": false
          },
          {
            "name": "catId",
            "type": "integer",
            "description": "restrict results based on one or more category IDs (see /categories)",
            "in": "query",
            "required": false
          },
          {
            "name": "catUri",
            "type": "string",
            "description": "restrict results based on one or more category alternate identifiers",
            "in": "query",
            "required": false
          },
          {
            "name": "catSetId",
            "type": "string",
            "description": "restrict category listings (either primary or secondary) to one or more category groups",
            "in": "query",
            "required": false
          },
          {
            "name": "titleWebLinkAttr",
            "type": "integer",
            "description": "results must contain a title weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "authorWebLinkAttr",
            "type": "integer",
            "description": "results must contain an author weblink entry with one of the specified attrs",
            "in": "query",
            "required": false
          },
          {
            "name": "contribRoleCode",
            "type": "string",
            "description": "restrict by one or more contributor role codes (e.g. 'A', '4')",
            "in": "query",
            "required": false
          },
          {
            "name": "consumerImprint",
            "type": "string",
            "description": "restrict results based on one or more consumer imprint values (e.g. 'BlueRiderPress','Penguin Audio')",
            "in": "query",
            "required": false
          },
          {
            "name": "language",
            "type": "string",
            "description": "restrict results based on one or more language values (e.g. 'E', 'SP')",
            "in": "query",
            "required": false
          },
          {
            "name": "catSeq",
            "type": "integer",
            "description": "restrict results based on the sequencing of the categories assigned to title records",
            "in": "query",
            "required": false
          },
          {
            "name": "productLine",
            "type": "string",
            "description": "restrict results based on one or more title product line values",
            "in": "query",
            "required": false
          },
          {
            "name": "productType",
            "type": "string",
            "description": "restrict results based on one or more title product type values",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRange",
            "type": "string",
            "description": "restrict results based on one or more title age range values (e.g. '0005', '0408')",
            "in": "query",
            "required": false
          },
          {
            "name": "salesRestriction",
            "type": "string",
            "description": "restrict results based on one or more sales restriction codes (e.g. '00', '01')",
            "in": "query",
            "required": false
          },
          {
            "name": "saleStatus",
            "type": "string",
            "description": "restrict results based on one or more sale status codes (e.g. 'IP','OS')",
            "in": "query",
            "required": false
          },
          {
            "name": "subFormat",
            "type": "string",
            "description": "restrict results based on one or more subformat codes (e.g. '001','BE')",
            "in": "query",
            "required": false
          },
          {
            "name": "subSeries",
            "type": "string",
            "description": "restrict results based on one or more subseries values (e.g. 'The Rift')",
            "in": "query",
            "required": false
          },
          {
            "name": "propertyName",
            "type": "string",
            "description": "restrict results based on one or more propertyname values (e.g. 'Sesame Street')",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreIsbn",
            "type": "integer",
            "description": "omit one or more ISBNs or records linked to those titles",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreWork",
            "type": "integer",
            "description": "omit one or more work IDs or records linked to those works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreAuthor",
            "type": "integer",
            "description": "omit one or more author IDs or records linked to those authors",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatFamily",
            "type": "string",
            "description": "omit records linked to one or more format families",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreFormatCode",
            "type": "string",
            "description": "omit records linked to one or more format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreCatUri",
            "type": "string",
            "description": "omit records linked to one or more category URIs -- currently only works with /categories, /titles and /works",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSeries",
            "type": "string",
            "description": "omit records linked to one or more series codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreContribRole",
            "type": "string",
            "description": "omit records linked to one or more contrib role codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreSubFormat",
            "type": "string",
            "description": "omit records linked to one or more sub format codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductLine",
            "type": "string",
            "description": "omit records linked to one or more product line codes",
            "in": "query",
            "required": false
          },
          {
            "name": "ignoreProductType",
            "type": "string",
            "description": "omit records linked to one or more product type codes",
            "in": "query",
            "required": false
          },
          {
            "name": "showAwards",
            "type": "boolean",
            "description": "results must have an awards record",
            "in": "query",
            "required": false
          },
          {
            "name": "showBestsellers",
            "type": "boolean",
            "description": "results must have an bestsellers record",
            "in": "query",
            "required": false
          },
          {
            "name": "showNewReleases",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 180 days ago",
            "in": "query",
            "required": false
          },
          {
            "name": "showComingSoon",
            "type": "boolean",
            "description": "results must have an on-sale date between today and 90 days from now",
            "in": "query",
            "required": false
          },
          {
            "name": "showPublishedBooks",
            "type": "boolean",
            "description": "results must have an on-sale date of today or earlier",
            "in": "query",
            "required": false
          },
          {
            "name": "showCovers",
            "type": "boolean",
            "description": "titles must have a cover image",
            "in": "query",
            "required": false
          },
          {
            "name": "showReadingGuides",
            "type": "boolean",
            "description": "results must have reading guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showTeachersGuides",
            "type": "boolean",
            "description": "results must have teachers guide content",
            "in": "query",
            "required": false
          },
          {
            "name": "showBoxBundles",
            "type": "boolean",
            "description": "restrict results to include or exclude titles that have the 'Boxed Set' format family or are identified by their short title as E-book bundles",
            "in": "query",
            "required": false
          },
          {
            "name": "showNoTitleBlock",
            "type": "boolean",
            "description": "restrict results to only include titles that have a NULL 'titleBlock' element",
            "in": "query",
            "required": false
          },
          {
            "name": "showMovieTieIn",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'MOVIE_TIE_IN' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "showExportOnly",
            "type": "boolean",
            "description": "restrict results based on the presence of the 'flag' value 'EXPORT' on the Title record",
            "in": "query",
            "required": false
          },
          {
            "name": "hasSeriesNumber",
            "type": "boolean",
            "description": "restrict results to titles that have their series number field populated",
            "in": "query",
            "required": false
          },
          {
            "name": "minInPrint",
            "type": "integer",
            "description": "works must have a LTD in-print across all titles greater than the specified number",
            "in": "query",
            "required": false
          },
          {
            "name": "minPrintScore",
            "type": "integer",
            "description": "same as 'minInPrint' except that the LTD in-print value is adjusted according to business rules (e.g. MM titles are not counted)",
            "in": "query",
            "required": false
          },
          {
            "name": "awardMaxSeq",
            "type": "integer",
            "description": "restrict results to award winners where the award sequence is less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMin",
            "type": "integer",
            "description": "restrict results to titles with an age range greater than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "ageRangeMax",
            "type": "integer",
            "description": "restrict results to titles with an age range less than or equal to the specified value",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "onSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to titles with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleFrom",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or after the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "workOnSaleTo",
            "type": "string",
            "format": "date",
            "description": "restrict results to works with on-sale dates on or before the supplied date (MM/dd/yyyy)",
            "in": "query",
            "required": false
          },
          {
            "name": "sortPriceTypeCode",
            "type": "string",
            "description": "either 'USD' or 'CAD'; only needed if sort=price",
            "in": "query",
            "required": false
          },
          {
            "name": "sort",
            "type": "string",
            "description": "(default 'id') one of 'id', 'onsale', 'title', 'authorLast', 'award', 'printScore', 'seriesNumber', 'price', 'frontlistiest', 'random'. Note that if 'price' is specified, then you must also specify 'sortPriceTypeCode' with either 'USD' or 'CAD'",
            "in": "query",
            "required": false
          },
          {
            "name": "dir",
[...]
