{
  "swagger": "2.0",
  "info": {
    "title": "Soccer AF Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Soccer - Africa API",
    "x-mashery-id": "4860"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Soccer - Africa"
    }
  ],
  "paths": {
    "/soccer-t2/af/matches/schedule.xml": {
      "get": {
        "operationId": "ScheduleSoccer-Africa",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/matches/{year}/{month}/{day}/schedule.xml": {
      "get": {
        "operationId": "DailyScheduleSoccer-Africa",
        "summary": "Provides scheduled match information, including ca...",
        "description": "Provides scheduled match information, including category, tournament, and league information, for all matches played on a given day",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/matches/{match_id}/summary.xml": {
      "get": {
        "operationId": "MatchSummarySoccer-Africa",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team and player statistics, lineups, and play by play",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "dfc68750-f3dd-4a06-8f09-7282d59d5655"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/matches/{year}/{month}/{day}/summary.xml": {
      "get": {
        "operationId": "DailySummarySoccer-Africa",
        "summary": "provides match information and scoring, including ...",
        "description": "provides match information and scoring, including team and player statistics, for all matches played on a given day",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/matches/{year}/{month}/{day}/boxscore.xml": {
      "get": {
        "operationId": "DailyBoxscoreSoccer-Africa",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics, for all matches played on a given day",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/matches/{match_id}/boxscore.xml": {
      "get": {
        "operationId": "MatchBoxscoreSoccer-Africa",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of the match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "dfc68750-f3dd-4a06-8f09-7282d59d5655"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/teams/hierarchy.xml": {
      "get": {
        "operationId": "TeamHierarchySoccer-Africa",
        "summary": "Get the team information for Soccer Leagues in Afr...",
        "description": "Get the team information for Soccer Leagues in Africa.",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/teams/{team_id}/profile.xml": {
      "get": {
        "operationId": "TeamProfileSoccer-Africa",
        "summary": "Team information and statistics, including player ...",
        "description": "Team information and statistics, including player roster information",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Team Hierarchy",
            "in": "path",
            "required": true,
            "default": "9fe2410e-fa8c-4466-9926-ce8a71bf8020"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/players/{player_id}/profile.xml": {
      "get": {
        "operationId": "PlayerProfileSoccer-Africa",
        "summary": "Provides team and player information including a p...",
        "description": "Provides team and player information including a player’s statistics for each category, tournament, or league team",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "default": "d9edc320-1ae4-4fc4-af6c-d600c7c1a9cb"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/players/leader.xml": {
      "get": {
        "operationId": "PlayerRankingsSoccer-Africa",
        "summary": "Provides player rankings for goals, assists, point...",
        "description": "Provides player rankings for goals, assists, points, cards, and own goals",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/af/teams/standing.xml": {
      "get": {
        "operationId": "StandingsSoccer-Africa",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Soccer - Africa"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}