{
  "swagger": "2.0",
  "info": {
    "title": "Equipment API (Closed)",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.cokecce.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. API for equipment information",
    "x-mashery-id": "1287"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/equipment/customer",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Customer Methods"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "customerbyequipmentnumberCustomerMethods",
        "summary": "Returns customer number, searching by equipment nu...",
        "description": "Returns customer number, searching by equipment number",
        "tags": [
          "Customer Methods"
        ],
        "parameters": [
          {
            "name": "equipment",
            "type": "string",
            "description": "Equipment",
            "in": "query",
            "required": true,
            "default": "12345"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}