{
  "swagger": "2.0",
  "info": {
    "title": "NBA Official Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NBA Official API",
    "x-mashery-id": "1092"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NBA Official API"
    }
  ],
  "paths": {
    "/nba/trial/v4/en/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNBAOfficialAPI",
        "summary": "Provides information on any changes made to teams,...",
        "description": "Provides information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleNBAOfficialAPI",
        "summary": "Provides the schedule for a given day",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/league/{year}/{month}/{day}/transfers{format}": {
      "get": {
        "operationId": "DailyTransfersNBAOfficialAPI",
        "summary": "Provides information on player transfers for a giv...",
        "description": "Provides information on player transfers for a given day",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/league/free_agents{format}": {
      "get": {
        "operationId": "FreeAgentsNBAOfficialAPI",
        "summary": "Get boxscore data for NBA Games",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNBAOfficialAPI",
        "summary": "Provide top-level team scores by quarter",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "114844aa-3c31-4ac7-9afa-0a4f2ae65e0c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/games/{game_id}/summary{format}": {
      "get": {
        "operationId": "GameSummaryNBAOfficialAPI",
        "summary": "Provides top-level boxscore information, along wit...",
        "description": "Provides top-level boxscore information, along with detailed game stats at the team and player levels",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "114844aa-3c31-4ac7-9afa-0a4f2ae65e0c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/league/injuries{format}": {
      "get": {
        "operationId": "InjuriesNBAOfficialAPI",
        "summary": "Provides active player injuries for all teams with...",
        "description": "Provides active player injuries for all teams within the league",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNBAOfficialAPI",
        "summary": "League, conference, division, and team identificat...",
        "description": "League, conference, division, and team identification",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/seasons/{season_year}/{season_type}/leaders{format}": {
      "get": {
        "operationId": "LeagueLeadersNBAOfficialAPI",
        "summary": "Provides the league leaders",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "season_year",
            "type": "number",
            "description": "The NBA Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "season_type",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "PlayByPlayNBAOfficialAPI",
        "summary": "Provides information on every team possession and ...",
        "description": "Provides information on every team possession and game event.",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "114844aa-3c31-4ac7-9afa-0a4f2ae65e0c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileNBAOfficialAPI",
        "summary": "Provides detailed player information",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The given ID of a player",
            "in": "path",
            "required": true,
            "default": "ab532a66-9314-4d57-ade7-bb54a70c65ad"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/seasons/{season_year}/{season_type}/rankings{format}": {
      "get": {
        "operationId": "RankingsNBAOfficialAPI",
        "summary": "Provides conference and division rank for each tea...",
        "description": "Provides conference and division rank for each team",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "season_year",
            "type": "number",
            "description": "The NBA Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "season_type",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/games/{season_year}/{season_type}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNBAOfficialAPI",
        "summary": "Get the schedule for a given NBA Season",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "season_year",
            "type": "number",
            "description": "The NBA Season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "season_type",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "PRE"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/seasons/{season_year}/{season_type}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatistics(SeasontoDate)NBAOfficialAPI",
        "summary": "Provides detailed team and player statistics for t...",
        "description": "Provides detailed team and player statistics for the defined season",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "season_year",
            "type": "number",
            "description": "The NBA Season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "season_type",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NBA team",
            "in": "path",
            "required": true,
            "default": "583eca2f-fb46-11e1-82cb-f4ce4684ea4c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/series/{season_year}/{season_type}/schedule{format}": {
      "get": {
        "operationId": "SeriesScheduleNBAOfficialAPI",
        "summary": "Provides playoff participant and scheduling inform...",
        "description": "Provides playoff participant and scheduling information",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "season_year",
            "type": "number",
            "description": "The NBA Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "season_type",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/series/{series_id}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeriesStatisticsNBAOfficialAPI",
        "summary": "Provides detailed team and player statistics for t...",
        "description": "Provides detailed team and player statistics for the defined series",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "series_id",
            "type": "string",
            "description": "Playoff series ID",
            "in": "path",
            "required": true,
            "default": "a0ce3990-36a1-4ef3-939b-10d4feab0386"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "Participating NBA team ID",
            "in": "path",
            "required": true,
            "default": "583ec825-fb46-11e1-82cb-f4ce4684ea4c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/seasons/{season_year}/{season_type}/standings{format}": {
      "get": {
        "operationId": "StandingsNBAOfficialAPI",
        "summary": "Get the standings for the NBA",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "season_year",
            "type": "number",
            "description": "The NBA Season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "season_type",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/trial/v4/en/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile(Rosters)NBAOfficialAPI",
        "summary": "Provides detailed team information including leagu...",
        "description": "Provides detailed team information including league affiliation information and player roster information.",
        "tags": [
          "NBA Official API"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NBA team",
            "in": "path",
            "required": true,
            "default": "583ec825-fb46-11e1-82cb-f4ce4684ea4c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}