{
  "swagger": "2.0",
  "info": {
    "title": "eSports CSGO Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's CSGO API",
    "x-mashery-id": "4575"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Counter-strike: Global Offensive Version 1"
    }
  ],
  "paths": {
    "/{sport-t1}/{language_code}/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides the match scoring for all matches played ...",
        "description": "Provides the match scoring for all matches played on a given day",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides the schedule for all matches played on a ...",
        "description": "Provides the schedule for all matches played on a given day",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id_1}/versus/{team_id_2}/matches{format}": {
      "get": {
        "operationId": "Head-2-HeadCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides team vs team match data",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id_1",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:220602"
          },
          {
            "name": "team_id_2",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:220620"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/matches/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "MatchProbabilitiesCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides pre-match probabilities for a given match...",
        "description": "Provides pre-match probabilities for a given match",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "A given match - only provides pre match probabilities",
            "in": "path",
            "required": true,
            "default": "sr:match:9737327"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/matches/{match_id}/summary{format}": {
      "get": {
        "operationId": "MatchSummaryCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides match summary data for a given match",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "A given match",
            "in": "path",
            "required": true,
            "default": "sr:match:9737327"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/matches/{match_id}/timeline{format}": {
      "get": {
        "operationId": "MatchTimelineCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides match summary data for a given match",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "A given match",
            "in": "path",
            "required": true,
            "default": "sr:match:9737327"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides the Player profile information for a give...",
        "description": "Provides the Player profile information for a given player",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "player_id",
            "type": "string",
            "description": "A given player",
            "in": "path",
            "required": true,
            "default": "sr:player:917768"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfileCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides the profile information for a given team",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:220602"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id}/results{format}": {
      "get": {
        "operationId": "TeamResultsCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides the results for a given team",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:220602"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id}/schedule{format}": {
      "get": {
        "operationId": "TeamScheduleCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides the schedule for a given team",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our CSGO eSports API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:220602"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides information for CSGO tournaments",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our CSGO API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our CSGO API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a CSGO Tournament, found in the Tournaments endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2390"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides information for CSGO tournaments",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our CSGO API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our CSGO API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a CSGO Tournament, found in the Tournaments endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2390"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides information for CSGO tournaments",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our CSGO API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our CSGO API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a CSGO Tournament, found in the Tournaments endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2390"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments{format}": {
      "get": {
        "operationId": "TournamentsCounter-strike:GlobalOffensiveVersion1",
        "summary": "Provides information for CSGO tournaments",
        "tags": [
          "Counter-strike: Global Offensive Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our CSGO API",
            "in": "query",
            "required": true,
            "default": "csgo"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our CSGO API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "default": ".xml"
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}