{
  "swagger": "2.0",
  "info": {
    "title": "Partners S5A API v3",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Test APIs for S5A affiliates",
    "x-mashery-id": "1993"
  },
  "schemes": [
    "http"
  ],
  "host": "api.saks.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.saks.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Products-v3"
    },
    {
      "name": "Inventory-v3"
    },
    {
      "name": "Content-v3"
    },
    {
      "name": "Exchange Rates-v3"
    },
    {
      "name": "Prices-v3"
    },
    {
      "name": "Checkout-v3"
    },
    {
      "name": "Checkout-submit-order-v3"
    },
    {
      "name": "Orders-v3"
    },
    {
      "name": "Orders-ref-num-v3"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "exampleMethodOrders-ref-num-v3",
        "summary": "",
        "tags": [
          "Orders-ref-num-v3"
        ],
        "parameters": [
          {
            "name": "exampleParameter",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/checkout/validations/order": {
      "post": {
        "operationId": "validate-orderCheckout-v3",
        "summary": "Validate Order Endpoint",
        "tags": [
          "Checkout-v3"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type header",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "api_key",
            "type": "string",
            "description": "Api key header",
            "in": "header",
            "required": true,
            "default": "2zwagak9dxpf3tdfcqp3s9fb"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}