{
  "swagger": "2.0",
  "info": {
    "title": "Football View Model API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.press.net/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Football View Model API",
    "x-mashery-id": "1727"
  },
  "schemes": [
    "http"
  ],
  "host": "api.press.net",
  "basePath": "/football",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.press.net/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Competition"
    },
    {
      "name": "Match"
    },
    {
      "name": "Team"
    },
    {
      "name": "Player"
    }
  ],
  "paths": {
    "/competition": {
      "get": {
        "operationId": "ListCompetitionsCompetition",
        "summary": "List of Competitions",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/vidi-printer": {
      "get": {
        "operationId": "ListCompetitionsVidi-PrinterCompetition",
        "summary": "Competitions Vidi-Printer",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Count of vidiprinter objects",
            "in": "query",
            "required": false,
            "default": 20
          },
          {
            "name": "compId",
            "type": "integer",
            "description": "Competition ID",
            "in": "query",
            "required": false,
            "default": 100
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}": {
      "get": {
        "operationId": "DetailCompetitionCompetition",
        "summary": "Detail Competition",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}/teams": {
      "get": {
        "operationId": "ListCompetitionTeamsCompetition",
        "summary": "List Competition Teams",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}/vidi-printer": {
      "get": {
        "operationId": "ListCompetitionVidi-PrinterCompetition",
        "summary": "List Competition Vidi-Printer",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Count of vidiprinter objects",
            "in": "query",
            "required": false,
            "default": 20
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}/match-dates": {
      "get": {
        "operationId": "ListCompetitionMatchDatesCompetition",
        "summary": "List Competition Match Dates",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}/match-day": {
      "get": {
        "operationId": "ListCompetitionMatchDayCompetition",
        "summary": "List Competition Match Day",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          },
          {
            "name": "date",
            "type": "string",
            "format": "date",
            "description": "Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}/fixtures": {
      "get": {
        "operationId": "ListCompetitionFixturesCompetition",
        "summary": "List Competition Fixtures",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}/results": {
      "get": {
        "operationId": "ListCompetitionResultsCompetition",
        "summary": "List Competition Results",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competition/{competitionID}/league-table": {
      "get": {
        "operationId": "DetailCompetitionLeagueTableCompetition",
        "summary": "Detail Competition League Table",
        "tags": [
          "Competition"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "path",
            "required": true,
            "default": 100
          },
          {
            "name": "date",
            "type": "string",
            "format": "date",
            "description": "Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}": {
      "get": {
        "operationId": "DetailMatchMatch",
        "summary": "Detail Match",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "integer",
            "description": "Match ID",
            "in": "path",
            "required": true,
            "default": 3563260
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}/commentary": {
      "get": {
        "operationId": "DetailMatchCommentaryMatch",
        "summary": "Detail Match",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "integer",
            "description": "Match ID",
            "in": "path",
            "required": true,
            "default": 3563260
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}/line-ups": {
      "get": {
        "operationId": "DetailMatchLineupsMatch",
        "summary": "Detail Match Lineups",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "integer",
            "description": "Match ID",
            "in": "path",
            "required": true,
            "default": 3563260
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}/statistics": {
      "get": {
        "operationId": "DetailMatchStatisticsMatch",
        "summary": "Detail Match Statistics",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "integer",
            "description": "Match ID",
            "in": "path",
            "required": true,
            "default": 3563260
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}/preview": {
      "get": {
        "operationId": "DetailMatchPreviewMatch",
        "summary": "Detail Match Preview",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "integer",
            "description": "Match ID",
            "in": "path",
            "required": true,
            "default": 3563260
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}/report": {
      "get": {
        "operationId": "DetailMatchReportMatch",
        "summary": "Detail Match Report",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "integer",
            "description": "Match ID",
            "in": "path",
            "required": true,
            "default": 3563260
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}": {
      "get": {
        "operationId": "DetailTeamTeam",
        "summary": "Detail Team",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}/badge": {
      "get": {
        "operationId": "ImageTeamBadgeTeam",
        "summary": "Image Team Badge",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          },
          {
            "name": "height",
            "type": "integer",
            "description": "Size of badge",
            "in": "query",
            "required": false,
            "default": 30
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}/shirt": {
      "get": {
        "operationId": "ImageTeamShirtTeam",
        "summary": "Image Team Shirt",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          },
          {
            "name": "height",
            "type": "integer",
            "description": "Size of shirt",
            "in": "query",
            "required": false,
            "default": 30
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}/squad": {
      "get": {
        "operationId": "DetailTeamSquadTeam",
        "summary": "Detail Team Squad",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "query",
            "required": false,
            "default": 100
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}/fixtures": {
      "get": {
        "operationId": "ListTeamFixturesTeam",
        "summary": "List Team Fixtures",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}/results": {
      "get": {
        "operationId": "ListTeamResultsTeam",
        "summary": "List Team Results",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}/match-day": {
      "get": {
        "operationId": "ListTeamMatchDayTeam",
        "summary": "List Team Match Day",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}/statistics": {
      "get": {
        "operationId": "ListTeamStatisticsTeam",
        "summary": "List Team Statistics",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": 12
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "query",
            "required": false,
            "default": 100
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/player/{playerID}": {
      "get": {
        "operationId": "DetailPlayerPlayer",
        "summary": "Detail Player",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "playerID",
            "type": "integer",
            "description": "Player ID",
            "in": "path",
            "required": true,
            "default": 224503
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/player/{playerID}/image": {
      "get": {
        "operationId": "ImagePlayerPlayer",
        "summary": "Detail Player",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "playerID",
            "type": "integer",
            "description": "Player ID",
            "in": "path",
            "required": true,
            "default": 224503
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/player/{playerID}/statistics": {
      "get": {
        "operationId": "ListPlayerStatisticsPlayer",
        "summary": "List Player Statistics",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "playerID",
            "type": "integer",
            "description": "Player ID",
            "in": "path",
            "required": true,
            "default": 224503
          },
          {
            "name": "teamID",
            "type": "integer",
            "description": "Team ID",
            "in": "query",
            "required": true,
            "default": 12
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start Date",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End Date",
            "in": "query",
            "required": false
          },
          {
            "name": "competitionID",
            "type": "integer",
            "description": "Competition ID",
            "in": "query",
            "required": false,
            "default": 100
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}