{
  "swagger": "2.0",
  "info": {
    "title": "Price Digest V1",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "2622"
  },
  "schemes": [
    "http"
  ],
  "host": "api.penton.com",
  "basePath": "/pricedigests/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://api.penton.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "PriceDigest_V1HttpGet HTTP"
    }
  ],
  "paths": {
    "/LookUp_YearMakeModel": {
      "get": {
        "operationId": "LookUp_YearMakeModelPriceDigest_V1HttpGetHTTP",
        "summary": "Year Make Model Vehicle Lookups",
        "tags": [
          "PriceDigest_V1HttpGet HTTP"
        ],
        "parameters": [
          {
            "name": "key",
            "type": "string",
            "description": "key",
            "in": "query",
            "required": true
          },
          {
            "name": "returnType",
            "type": "string",
            "description": "returnType",
            "in": "query",
            "required": true
          },
          {
            "name": "product",
            "type": "string",
            "description": "product",
            "in": "query",
            "required": true
          },
          {
            "name": "year",
            "type": "string",
            "description": "year",
            "in": "query",
            "required": true
          },
          {
            "name": "make",
            "type": "string",
            "description": "make",
            "in": "query",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "model",
            "in": "query",
            "required": true
          },
          {
            "name": "mileage",
            "type": "string",
            "description": "mileage",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/LookUp_YearMakeModelMileage": {
      "get": {
        "operationId": "LookUp_YearMakeModelMileagePriceDigest_V1HttpGetHTTP",
        "summary": "Year Make Model Vehicle Lookups With Mileage",
        "tags": [
          "PriceDigest_V1HttpGet HTTP"
        ],
        "parameters": [
          {
            "name": "key",
            "type": "string",
            "description": "key",
            "in": "query",
            "required": true
          },
          {
            "name": "returnType",
            "type": "string",
            "description": "returnType",
            "in": "query",
            "required": true
          },
          {
            "name": "product",
            "type": "string",
            "description": "product",
            "in": "query",
            "required": true
          },
          {
            "name": "year",
            "type": "string",
            "description": "year",
            "in": "query",
            "required": true
          },
          {
            "name": "make",
            "type": "string",
            "description": "make",
            "in": "query",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "model",
            "in": "query",
            "required": true
          },
          {
            "name": "mileage",
            "type": "string",
            "description": "mileage",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/LookUp_VIN": {
      "get": {
        "operationId": "LookUp_VINPriceDigest_V1HttpGetHTTP",
        "summary": "VIN Vehicle Lookup",
        "tags": [
          "PriceDigest_V1HttpGet HTTP"
        ],
        "parameters": [
          {
            "name": "key",
            "type": "string",
            "description": "key",
            "in": "query",
            "required": true
          },
          {
            "name": "vin",
            "type": "string",
            "description": "vin",
            "in": "query",
            "required": true
          },
          {
            "name": "mileage",
            "type": "string",
            "description": "mileage",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/LookUp_VIN_with_Mileage": {
      "get": {
        "operationId": "LookUp_VIN_with_MileagePriceDigest_V1HttpGetHTTP",
        "summary": "VIN Vehicle Lookup with Mileage",
        "tags": [
          "PriceDigest_V1HttpGet HTTP"
        ],
        "parameters": [
          {
            "name": "key",
            "type": "string",
            "description": "key",
            "in": "query",
            "required": true
          },
          {
            "name": "vin",
            "type": "string",
            "description": "vin",
            "in": "query",
            "required": true
          },
          {
            "name": "mileage",
            "type": "string",
            "description": "mileage",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/LookUp_TruckBody": {
      "get": {
        "operationId": "LookUp_TruckBodyPriceDigest_V1HttpGetHTTP",
        "summary": "Truck Body lookup. Add this value to a truck's val...",
        "description": "Truck Body lookup. Add this value to a truck's value to get the vehicle's total value.",
        "tags": [
          "PriceDigest_V1HttpGet HTTP"
        ],
        "parameters": [
          {
            "name": "key",
            "type": "string",
            "description": "key",
            "in": "query",
            "required": true
          },
          {
            "name": "year",
            "type": "string",
            "description": "year",
            "in": "query",
            "required": true
          },
          {
            "name": "truckCategory",
            "type": "string",
            "description": "truckCategory",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "BV_Service_BV_ServiceSoap_LookUp_YearMakeModel": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_YearMakeModel": {
              "title": "LookUp_YearMakeModel",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "returnType": {
                  "title": "returnType",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "product": {
                  "title": "product",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "year": {
                  "title": "year",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "make": {
                  "title": "make",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "model": {
                  "title": "model",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap_LookUp_YearMakeModelMileage": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_YearMakeModelMileage": {
              "title": "LookUp_YearMakeModelMileage",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "returnType": {
                  "title": "returnType",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "product": {
                  "title": "product",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "year": {
                  "title": "year",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "make": {
                  "title": "make",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "model": {
                  "title": "model",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap_LookUp_VIN": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_VIN": {
              "title": "LookUp_VIN",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "vin": {
                  "title": "vin",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap_LookUp_VIN_with_Mileage": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_VIN_with_Mileage": {
              "title": "LookUp_VIN_with_Mileage",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "vin": {
                  "title": "vin",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap_LookUp_TruckBody": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_TruckBody": {
              "title": "LookUp_TruckBody",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "year": {
                  "title": "year",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "truckCategory": {
                  "title": "truckCategory",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap12_LookUp_YearMakeModel": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_YearMakeModel": {
              "title": "LookUp_YearMakeModel",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "returnType": {
                  "title": "returnType",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "product": {
                  "title": "product",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "year": {
                  "title": "year",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "make": {
                  "title": "make",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "model": {
                  "title": "model",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://www.w3.org/2003/05/soap-envelope",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap12_LookUp_YearMakeModelMileage": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_YearMakeModelMileage": {
              "title": "LookUp_YearMakeModelMileage",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "returnType": {
                  "title": "returnType",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "product": {
                  "title": "product",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "year": {
                  "title": "year",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "make": {
                  "title": "make",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "model": {
                  "title": "model",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://www.w3.org/2003/05/soap-envelope",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap12_LookUp_VIN": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_VIN": {
              "title": "LookUp_VIN",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "vin": {
                  "title": "vin",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://www.w3.org/2003/05/soap-envelope",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap12_LookUp_VIN_with_Mileage": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_VIN_with_Mileage": {
              "title": "LookUp_VIN_with_Mileage",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "vin": {
                  "title": "vin",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "mileage": {
                  "title": "mileage",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://www.w3.org/2003/05/soap-envelope",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    },
    "BV_Service_BV_ServiceSoap12_LookUp_TruckBody": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "LookUp_TruckBody": {
              "title": "LookUp_TruckBody",
              "type": "object",
              "properties": {
                "key": {
                  "title": "key",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "year": {
                  "title": "year",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "truckCategory": {
                  "title": "truckCategory",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://www.w3.org/2003/05/soap-envelope",
          "n": "http://basicvalues.pentondata.com/"
        }
      }
    }
  }
}