{
  "swagger": "2.0",
  "info": {
    "title": "v1 - ParameterSet",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.edgar-online.com/iodocs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Provides a parameter Set functionality to search  create, delete, or update",
    "x-mashery-id": "1941"
  },
  "schemes": [
    "http"
  ],
  "host": "api.edgar-online.com",
  "basePath": "/v1/parametersets",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.edgar-online.com/iodocs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Parameter Sets Calls"
    }
  ],
  "paths": {
    "/{name}": {
      "get": {
        "operationId": "GetParameterSetParameterSetsCalls",
        "summary": "Get saved ParameterSet",
        "tags": [
          "Parameter Sets Calls"
        ],
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "Name of the saved ParameterSet that you want to retrieve.",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON.",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateParameterSetParameterSetsCalls",
        "summary": "Create ParameterSet",
        "tags": [
          "Parameter Sets Calls"
        ],
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "Name of the  ParameterSet to be created.",
            "in": "path",
            "required": true
          },
          {
            "name": "entityids",
            "type": "string",
            "description": "Entity ID",
            "in": "query",
            "required": true
          },
          {
            "name": "resource",
            "type": "string",
            "description": "Resource Type",
            "in": "query",
            "required": true,
            "default": "corefinancials"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateParameterSetParameterSetsCalls",
        "summary": "Update ParameterSet",
        "tags": [
          "Parameter Sets Calls"
        ],
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "Name of the  ParameterSet that needs to be updated",
            "in": "path",
            "required": true
          },
          {
            "name": "entityids",
            "type": "string",
            "description": "Provide a new value to update the existing one.",
            "in": "query",
            "required": true
          },
          {
            "name": "resource",
            "type": "string",
            "description": "Resource Type",
            "in": "query",
            "required": true,
            "default": "corefinancials"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteParameterSetParameterSetsCalls",
        "summary": "Delete Parameterset",
        "tags": [
          "Parameter Sets Calls"
        ],
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "Name of the ParameterSet that needs to be deleted.",
            "in": "path",
            "required": true
          },
          {
            "name": "resource",
            "type": "string",
            "description": "Resource Type",
            "in": "query",
            "required": true,
            "default": "corefinancials"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/name": {}
  },
  "definitions": {}
}