{
  "swagger": "2.0",
  "info": {
    "version": "2012-08-10",
    "x-release": "v4",
    "title": "Amazon DynamoDB Streams",
    "description": "<fullname>Amazon DynamoDB</fullname> <p>Amazon DynamoDB Streams provides API actions for accessing streams and processing stream records. To learn more about application development with Streams, see <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.html\">Capturing Table Activity with DynamoDB Streams</a> in the Amazon DynamoDB Developer Guide.</p> <p>The following are short descriptions of each low-level DynamoDB Streams action:</p> <ul> <li> <p> <i>DescribeStream</i> - Returns detailed information about a particular stream.</p> </li> <li> <p> <i>GetRecords</i> - Retrieves the stream records from within a shard.</p> </li> <li> <p> <i>GetShardIterator</i> - Returns information on how to retrieve the streams record from a shard with a given shard ID.</p> </li> <li> <p> <i>ListStreams</i> - Returns a list of all the streams associated with the current AWS account and endpoint.</p> </li> </ul>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/streams.dynamodb/"
  },
  "host": "streams.dynamodb.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "ListStreams",
        "description": "<p>Returns an array of stream ARNs associated with the current account and endpoint. If the <code>TableName</code> parameter is present, then <i>ListStreams</i> will return only the streams ARNs for that table.</p> <note> <p>You can call <i>ListStreams</i> at a maximum rate of 5 times per second.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListStreamsOutput"
            }
          },
          "400": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "401": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListStreamsInput"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AttributeMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/AttributeName"
          },
          "value": {
            "$ref": "#/definitions/AttributeValue"
          }
        }
      }
    },
    "AttributeName": {
      "type": "string",
      "maxLength": 65535
    },
    "AttributeValue": {
      "type": "object",
      "properties": {
        "S": {
          "$ref": "#/definitions/StringAttributeValue",
          "description": "A String data type."
        },
        "N": {
          "$ref": "#/definitions/NumberAttributeValue",
          "description": "A Number data type."
        },
        "B": {
          "$ref": "#/definitions/BinaryAttributeValue",
          "description": "A Binary data type."
        },
        "SS": {
          "$ref": "#/definitions/StringSetAttributeValue",
          "description": "A String Set data type."
        },
        "NS": {
          "$ref": "#/definitions/NumberSetAttributeValue",
          "description": "A Number Set data type."
        },
        "BS": {
          "$ref": "#/definitions/BinarySetAttributeValue",
          "description": "A Binary Set data type."
        },
        "M": {
          "$ref": "#/definitions/MapAttributeValue",
          "description": "A Map data type."
        },
        "L": {
          "$ref": "#/definitions/ListAttributeValue",
          "description": "A List data type."
        },
        "NULL": {
          "$ref": "#/definitions/NullAttributeValue",
          "description": "A Null data type."
        },
        "BOOL": {
          "$ref": "#/definitions/BooleanAttributeValue",
          "description": "A Boolean data type."
        }
      },
      "description": "<p>Represents the data for an attribute. You can set one, and only one, of the elements.</p> <p>Each attribute in an item is a name-value pair. An attribute can be single-valued or multi-valued set. For example, a book item can have title and authors attributes. Each book has one title but can have many authors. The multi-valued attribute is a set; duplicate values are not allowed.</p>"
    },
    "BinaryAttributeValue": {
      "type": "string"
    },
    "BinarySetAttributeValue": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BinaryAttributeValue"
      }
    },
    "BooleanAttributeValue": {
      "type": "boolean"
    },
    "Date": {
      "type": "string",
      "format": "date-time"
    },
    "DescribeStreamInput": {
      "type": "object",
      "required": [
        "StreamArn"
      ],
      "properties": {
        "StreamArn": {
          "$ref": "#/definitions/StreamArn",
          "description": "The Amazon Resource Name (ARN) for the stream."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntegerObject",
          "description": "The maximum number of shard objects to return. The upper limit is 100."
        },
        "ExclusiveStartShardId": {
          "$ref": "#/definitions/ShardId",
          "description": "The shard ID of the first item that this operation will evaluate. Use the value that was returned for <code>LastEvaluatedShardId</code> in the previous operation. "
        }
      },
      "description": "Represents the input of a <i>DescribeStream</i> operation."
    },
    "DescribeStreamOutput": {
      "type": "object",
      "properties": {
        "StreamDescription": {
          "$ref": "#/definitions/StreamDescription",
          "description": "A complete description of the stream, including its creation date and time, the DynamoDB table associated with the stream, the shard IDs within the stream, and the beginning and ending sequence numbers of stream records within the shards."
        }
      },
      "description": "Represents the output of a <i>DescribeStream</i> operation."
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ExpiredIteratorException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "The provided iterator exceeds the maximum age allowed."
        }
      },
      "description": "The shard iterator has expired and can no longer be used to retrieve stream records. A shard iterator expires 15 minutes after it is retrieved using the <i>GetShardIterator</i> action."
    },
    "GetRecordsInput": {
      "type": "object",
      "required": [
        "ShardIterator"
      ],
      "properties": {
        "ShardIterator": {
          "$ref": "#/definitions/ShardIterator",
          "description": "A shard iterator that was retrieved from a previous GetShardIterator operation. This iterator can be used to access the stream records in this shard."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntegerObject",
          "description": "The maximum number of records to return from the shard. The upper limit is 1000."
        }
      },
      "description": "Represents the input of a <i>GetRecords</i> operation."
    },
    "GetRecordsOutput": {
      "type": "object",
      "properties": {
        "Records": {
          "$ref": "#/definitions/RecordList",
          "description": "The stream records from the shard, which were retrieved using the shard iterator."
        },
        "NextShardIterator": {
          "$ref": "#/definitions/ShardIterator",
          "description": "The next position in the shard from which to start sequentially reading stream records. If set to <code>null</code>, the shard has been closed and the requested iterator will not return any more data."
        }
      },
      "description": "Represents the output of a <i>GetRecords</i> operation."
    },
    "GetShardIteratorInput": {
      "type": "object",
      "required": [
        "StreamArn",
        "ShardId",
        "ShardIteratorType"
      ],
      "properties": {
        "StreamArn": {
          "$ref": "#/definitions/StreamArn",
          "description": "The Amazon Resource Name (ARN) for the stream."
        },
        "ShardId": {
          "$ref": "#/definitions/ShardId",
          "description": "The identifier of the shard. The iterator will be returned for this shard ID."
        },
        "ShardIteratorType": {
          "$ref": "#/definitions/ShardIteratorType",
          "description": "<p>Determines how the shard iterator is used to start reading stream records from the shard:</p> <ul> <li> <p> <code>AT_SEQUENCE_NUMBER</code> - Start reading exactly from the position denoted by a specific sequence number.</p> </li> <li> <p> <code>AFTER_SEQUENCE_NUMBER</code> - Start reading right after the position denoted by a specific sequence number.</p> </li> <li> <p> <code>TRIM_HORIZON</code> - Start reading at the last (untrimmed) stream record, which is the oldest record in the shard. In DynamoDB Streams, there is a 24 hour limit on data retention. Stream records whose age exceeds this limit are subject to removal (trimming) from the stream.</p> </li> <li> <p> <code>LATEST</code> - Start reading just after the most recent stream record in the shard, so that you always read the most recent data in the shard.</p> </li> </ul>"
        },
        "SequenceNumber": {
          "$ref": "#/definitions/SequenceNumber",
          "description": "The sequence number of a stream record in the shard from which to start reading."
        }
      },
      "description": "Represents the input of a <i>GetShardIterator</i> operation."
    },
    "GetShardIteratorOutput": {
      "type": "object",
      "properties": {
        "ShardIterator": {
          "$ref": "#/definitions/ShardIterator",
          "description": "The position in the shard from which to start reading stream records sequentially. A shard iterator specifies this position using the sequence number of a stream record in a shard."
        }
      },
      "description": "Represents the output of a <i>GetShardIterator</i> operation."
    },
    "InternalServerError": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "The server encountered an internal error trying to fulfill the request."
        }
      },
      "description": "An error occurred on the server side."
    },
    "KeySchema": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/KeySchemaElement"
      },
      "minItems": 1,
      "maxItems": 2
    },
    "KeySchemaAttributeName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 255
    },
    "KeySchemaElement": {
      "type": "object",
      "required": [
        "AttributeName",
        "KeyType"
      ],
      "properties": {
        "AttributeName": {
          "$ref": "#/definitions/KeySchemaAttributeName",
          "description": "The name of a key attribute."
        },
        "KeyType": {
          "$ref": "#/definitions/KeyType",
          "description": "The attribute data, consisting of the data type and the attribute value itself."
        }
      },
      "description": "<p>Represents <i>a single element</i> of a key schema. A key schema specifies the attributes that make up the primary key of a table, or the key attributes of an index.</p> <p>A <i>KeySchemaElement</i> represents exactly one attribute of the primary key. For example, a simple primary key (partition key) would be represented by one <i>KeySchemaElement</i>. A composite primary key (partition key and sort key) would require one <i>KeySchemaElement</i> for the partition key, and another <i>KeySchemaElement</i> for the sort key.</p> <note> <p>The partition key of an item is also known as its <i>hash attribute</i>. The term \"hash attribute\" derives from DynamoDB's usage of an internal hash function to evenly distribute data items across partitions, based on their partition key values.</p> <p>The sort key of an item is also known as its <i>range attribute</i>. The term \"range attribute\" derives from the way DynamoDB stores items with the same partition key physically close together, in sorted order by the sort key value.</p> </note>"
    },
    "KeyType": {
      "type": "string",
      "enum": [
        "HASH",
        "RANGE"
      ]
    },
    "LimitExceededException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "Too many operations for a given subscriber."
        }
      },
      "description": "Your request rate is too high. The AWS SDKs for DynamoDB automatically retry requests that receive this exception. Your request is eventually successful, unless your retry queue is too large to finish. Reduce the frequency of requests and use exponential backoff. For more information, go to <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ErrorHandling.html#APIRetries\">Error Retries and Exponential Backoff</a> in the <i>Amazon DynamoDB Developer Guide</i>."
    },
    "ListAttributeValue": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AttributeValue"
      }
    },
    "ListStreamsInput": {
      "type": "object",
      "properties": {
        "TableName": {
          "$ref": "#/definitions/TableName",
          "description": "If this parameter is provided, then only the streams associated with this table name are returned."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntegerObject",
          "description": "The maximum number of streams to return. The upper limit is 100."
        },
        "ExclusiveStartStreamArn": {
          "$ref": "#/definitions/StreamArn",
          "description": "The ARN (Amazon Resource Name) of the first item that this operation will evaluate. Use the value that was returned for <code>LastEvaluatedStreamArn</code> in the previous operation. "
        }
      },
      "description": "Represents the input of a <i>ListStreams</i> operation."
    },
    "ListStreamsOutput": {
      "type": "object",
      "properties": {
        "Streams": {
          "$ref": "#/definitions/StreamList",
          "description": "A list of stream descriptors associated with the current account and endpoint."
        },
        "LastEvaluatedStreamArn": {
          "$ref": "#/definitions/StreamArn",
          "description": "<p>The stream ARN of the item where the operation stopped, inclusive of the previous result set. Use this value to start a new operation, excluding this value in the new request.</p> <p>If <code>LastEvaluatedStreamArn</code> is empty, then the \"last page\" of results has been processed and there is no more data to be retrieved.</p> <p>If <code>LastEvaluatedStreamArn</code> is not empty, it does not necessarily mean that there is more data in the result set. The only way to know when you have reached the end of the result set is when <code>LastEvaluatedStreamArn</code> is empty.</p>"
        }
      },
      "description": "Represents the output of a <i>ListStreams</i> operation."
    },
    "MapAttributeValue": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/AttributeName"
          },
          "value": {
            "$ref": "#/definitions/AttributeValue"
          }
        }
      }
    },
    "NullAttributeValue": {
      "type": "boolean"
    },
    "NumberAttributeValue": {
      "type": "string"
    },
    "NumberSetAttributeValue": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/NumberAttributeValue"
      }
    },
    "OperationType": {
      "type": "string",
      "enum": [
        "INSERT",
        "MODIFY",
        "REMOVE"
      ]
    },
    "PositiveIntegerObject": {
      "type": "integer",
      "minimum": 1
    },
    "PositiveLongObject": {
      "type": "integer",
      "minimum": 1
    },
    "Record": {
      "type": "object",
      "properties": {
        "eventID": {
          "$ref": "#/definitions/String",
          "description": "A globally unique identifier for the event that was recorded in this stream record."
        },
        "eventName": {
          "$ref": "#/definitions/OperationType",
          "description": "<p>The type of data modification that was performed on the DynamoDB table:</p> <ul> <li> <p> <code>INSERT</code> - a new item was added to the table.</p> </li> <li> <p> <code>MODIFY</code> - one or more of an existing item's attributes were modified.</p> </li> <li> <p> <code>REMOVE</code> - the item was deleted from the table</p> </li> </ul>"
        },
        "eventVersion": {
          "$ref": "#/definitions/String",
          "description": "<p>The version number of the stream record format. This number is updated whenever the structure of <i>Record</i> is modified.</p> <p>Client applications must not assume that <i>eventVersion</i> will remain at a particular value, as this number is subject to change at any time. In general, <i>eventVersion</i> will only increase as the low-level DynamoDB Streams API evolves.</p>"
        },
        "eventSource": {
          "$ref": "#/definitions/String",
          "description": "The AWS service from which the stream record originated. For DynamoDB Streams, this is <i>aws:dynamodb</i>."
        },
        "awsRegion": {
          "$ref": "#/definitions/String",
          "description": "The region in which the <i>GetRecords</i> request was received."
        },
        "dynamodb": {
          "$ref": "#/definitions/StreamRecord",
          "description": "The main body of the stream record, containing all of the DynamoDB-specific fields."
        }
      },
      "description": "A description of a unique event within a stream."
    },
    "RecordList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Record"
      }
    },
    "ResourceNotFoundException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "The resource which is being requested does not exist."
        }
      },
      "description": "The operation tried to access a nonexistent stream."
    },
    "SequenceNumber": {
      "type": "string",
      "minLength": 21,
      "maxLength": 40
    },
    "SequenceNumberRange": {
      "type": "object",
      "properties": {
        "StartingSequenceNumber": {
          "$ref": "#/definitions/SequenceNumber",
          "description": "The first sequence number."
        },
        "EndingSequenceNumber": {
          "$ref": "#/definitions/SequenceNumber",
          "description": "The last sequence number."
        }
      },
      "description": "The beginning and ending sequence numbers for the stream records contained within a shard."
    },
    "Shard": {
      "type": "object",
      "properties": {
        "ShardId": {
          "$ref": "#/definitions/ShardId",
          "description": "The system-generated identifier for this shard."
        },
        "SequenceNumberRange": {
          "$ref": "#/definitions/SequenceNumberRange",
          "description": "The range of possible sequence numbers for the shard."
        },
        "ParentShardId": {
          "$ref": "#/definitions/ShardId",
          "description": "The shard ID of the current shard's parent."
        }
      },
      "description": "A uniquely identified group of stream records within a stream."
    },
    "ShardDescriptionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Shard"
      }
    },
    "ShardId": {
      "type": "string",
      "minLength": 28,
      "maxLength": 65
    },
    "ShardIterator": {
      "type": "string",
      "minLength": 1,
      "maxLength": 2048
    },
    "ShardIteratorType": {
      "type": "string",
      "enum": [
        "TRIM_HORIZON",
        "LATEST",
        "AT_SEQUENCE_NUMBER",
        "AFTER_SEQUENCE_NUMBER"
      ]
    },
    "Stream": {
      "type": "object",
      "properties": {
        "StreamArn": {
          "$ref": "#/definitions/StreamArn",
          "description": "The Amazon Resource Name (ARN) for the stream."
        },
        "TableName": {
          "$ref": "#/definitions/TableName",
          "description": "The DynamoDB table with which the stream is associated."
        },
        "StreamLabel": {
          "$ref": "#/definitions/String",
          "description": "<p>A timestamp, in ISO 8601 format, for this stream.</p> <p>Note that <i>LatestStreamLabel</i> is not a unique identifier for the stream, because it is possible that a stream from another table might have the same timestamp. However, the combination of the following three elements is guaranteed to be unique:</p> <ul> <li> <p>the AWS customer ID.</p> </li> <li> <p>the table name</p> </li> <li> <p>the <i>StreamLabel</i> </p> </li> </ul>"
        }
      },
      "description": "Represents all of the data describing a particular stream."
    },
    "StreamArn": {
      "type": "string",
      "minLength": 37,
      "maxLength": 1024
    },
    "StreamDescription": {
      "type": "object",
      "properties": {
        "StreamArn": {
          "$ref": "#/definitions/StreamArn",
          "description": "The Amazon Resource Name (ARN) for the stream."
        },
        "StreamLabel": {
          "$ref": "#/definitions/String",
          "description": "<p>A timestamp, in ISO 8601 format, for this stream.</p> <p>Note that <i>LatestStreamLabel</i> is not a unique identifier for the stream, because it is possible that a stream from another table might have the same timestamp. However, the combination of the following three elements is guaranteed to be unique:</p> <ul> <li> <p>the AWS customer ID.</p> </li> <li> <p>the table name</p> </li> <li> <p>the <i>StreamLabel</i> </p> </li> </ul>"
        },
        "StreamStatus": {
          "$ref": "#/definitions/StreamStatus",
          "description": "<p>Indicates the current status of the stream:</p> <ul> <li> <p> <code>ENABLING</code> - Streams is currently being enabled on the DynamoDB table.</p> </li> <li> <p> <code>ENABLED</code> - the stream is enabled.</p> </li> <li> <p> <code>DISABLING</code> - Streams is currently being disabled on the DynamoDB table.</p> </li> <li> <p> <code>DISABLED</code> - the stream is disabled.</p> </li> </ul>"
        },
        "StreamViewType": {
          "$ref": "#/definitions/StreamViewType",
          "description": "<p>Indicates the format of the records within this stream:</p> <ul> <li> <p> <code>KEYS_ONLY</code> - only the key attributes of items that were modified in the DynamoDB table.</p> </li> <li> <p> <code>NEW_IMAGE</code> - entire items from the table, as they appeared after they were modified.</p> </li> <li> <p> <code>OLD_IMAGE</code> - entire items from the table, as they appeared before they were modified.</p> </li> <li> <p> <code>NEW_AND_OLD_IMAGES</code> - both the new and the old images of the items from the table.</p> </li> </ul>"
        },
        "CreationRequestDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the request to create this stream was issued."
        },
        "TableName": {
          "$ref": "#/definitions/TableName",
          "description": "The DynamoDB table with which the stream is associated."
        },
        "KeySchema": {
          "$ref": "#/definitions/KeySchema",
          "description": "The key attribute(s) of the stream's DynamoDB table."
        },
        "Shards": {
          "$ref": "#/definitions/ShardDescriptionList",
          "description": "The shards that comprise the stream."
        },
        "LastEvaluatedShardId": {
          "$ref": "#/definitions/ShardId",
          "description": "<p>The shard ID of the item where the operation stopped, inclusive of the previous result set. Use this value to start a new operation, excluding this value in the new request.</p> <p>If <code>LastEvaluatedShardId</code> is empty, then the \"last page\" of results has been processed and there is currently no more data to be retrieved.</p> <p>If <code>LastEvaluatedShardId</code> is not empty, it does not necessarily mean that there is more data in the result set. The only way to know when you have reached the end of the result set is when <code>LastEvaluatedShardId</code> is empty.</p>"
        }
      },
      "description": "Represents all of the data describing a particular stream."
    },
    "StreamList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Stream"
      }
    },
    "StreamRecord": {
      "type": "object",
      "properties": {
        "ApproximateCreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The approximate date and time when the stream record was created, in <a href=\"http://www.epochconverter.com/\">UNIX epoch time</a> format."
        },
        "Keys": {
          "$ref": "#/definitions/AttributeMap",
          "description": "The primary key attribute(s) for the DynamoDB item that was modified."
        },
        "NewImage": {
          "$ref": "#/definitions/AttributeMap",
          "description": "The item in the DynamoDB table as it appeared after it was modified."
        },
        "OldImage": {
          "$ref": "#/definitions/AttributeMap",
          "description": "The item in the DynamoDB table as it appeared before it was modified."
        },
        "SequenceNumber": {
          "$ref": "#/definitions/SequenceNumber",
          "description": "The sequence number of the stream record."
        },
        "SizeBytes": {
          "$ref": "#/definitions/PositiveLongObject",
          "description": "The size of the stream record, in bytes."
        },
        "StreamViewType": {
          "$ref": "#/definitions/StreamViewType",
          "description": "<p>The type of data from the modified DynamoDB item that was captured in this stream record:</p> <ul> <li> <p> <code>KEYS_ONLY</code> - only the key attributes of the modified item.</p> </li> <li> <p> <code>NEW_IMAGE</code> - the entire item, as it appeared after it was modified.</p> </li> <li> <p> <code>OLD_IMAGE</code> - the entire item, as it appeared before it was modified.</p> </li> <li> <p> <code>NEW_AND_OLD_IMAGES</code> - both the new and the old item images of the item.</p> </li> </ul>"
        }
      },
      "description": "A description of a single data modification that was performed on an item in a DynamoDB table."
    },
    "StreamStatus": {
      "type": "string",
      "enum": [
        "ENABLING",
        "ENABLED",
        "DISABLING",
        "DISABLED"
      ]
    },
    "StreamViewType": {
      "type": "string",
      "enum": [
        "NEW_IMAGE",
        "OLD_IMAGE",
        "NEW_AND_OLD_IMAGES",
        "KEYS_ONLY"
      ]
    },
    "String": {
      "type": "string"
    },
    "StringAttributeValue": {
      "type": "string"
    },
    "StringSetAttributeValue": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StringAttributeValue"
      }
    },
    "TableName": {
      "type": "string",
      "pattern": "[a-zA-Z0-9_.-]+",
      "minLength": 3,
      "maxLength": 255
    },
    "TrimmedDataAccessException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "\"The data you are trying to access has been trimmed."
        }
      },
      "description": "<p>The operation attempted to read past the oldest stream record in a shard.</p> <p>In DynamoDB Streams, there is a 24 hour limit on data retention. Stream records whose age exceeds this limit are subject to removal (trimming) from the stream. You might receive a TrimmedDataAccessException if:</p> <ul> <li><p>You request a shard iterator with a sequence number older than the trim point (24 hours).</p> </li> <li><p>You obtain a shard iterator, but before you use the iterator in a <i>GetRecords</i> request, a stream record in the shard exceeds the 24 hour period and is trimmed. This causes the iterator to access a record that no longer exists.</p> </li> </ul>"
    }
  }
}