{
  "swagger": "2.0",
  "info": {
    "title": "Test Package with Parking data",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Example",
    "x-mashery-id": "5402"
  },
  "schemes": [
    "http"
  ],
  "host": "api.monotch.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.monotch.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Parking - Assen V1"
    },
    {
      "name": "Parking - South V1"
    },
    {
      "name": "Parking - Facilities V1"
    }
  ],
  "paths": {
    "/assen/parkingdata/v1/": {
      "get": {
        "operationId": "parkingassenv1Parking-AssenV1",
        "summary": "Retrieve parking information for Assen",
        "tags": [
          "Parking - Assen V1"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/south/parkingdata/v1/": {
      "get": {
        "operationId": "parkingsouthv1Parking-SouthV1",
        "summary": "Retrieve parking information for the South",
        "tags": [
          "Parking - South V1"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/parkingdata/facility/{location}/static/": {
      "get": {
        "operationId": "parkingdatafacilitystaticParking-FacilitiesV1",
        "summary": "Retrieve static facilities information for a given...",
        "description": "Retrieve static facilities information for a given location",
        "tags": [
          "Parking - Facilities V1"
        ],
        "parameters": [
          {
            "name": "location",
            "type": "string",
            "description": "Location code for a parking facility",
            "in": "path",
            "required": true,
            "default": "CIT"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/parkingdata/facility/{location}/dynamic/": {
      "get": {
        "operationId": "parkingdatafacilitydynamicParking-FacilitiesV1",
        "summary": "Retrieve dynamic facilities information for a give...",
        "description": "Retrieve dynamic facilities information for a given location",
        "tags": [
          "Parking - Facilities V1"
        ],
        "parameters": [
          {
            "name": "location",
            "type": "string",
            "description": "Location code for a parking facility",
            "in": "path",
            "required": true,
            "default": "CIT"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}