{
  "swagger": "2.0",
  "info": {
    "title": "Football - NFL",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "The API calls below can be used to test the Input and Output of our API endpoints.  You'll need an API key and an assigned secret to access the live data and so if you haven't contacted us yet, now is the time!  Our sales staff would be happy to set you up with trial access so you can begin to evaluate the product. NFL - National Football League",
    "x-mashery-id": "1438"
  },
  "schemes": [
    "http"
  ],
  "host": "api.stats.com",
  "basePath": "/",
  "externalDocs": {
    "description": "After you've been given an API key and secret, enter it below and \"Get\" the method you'd like to try out.  Fill in the parameters with what you'd like to try, or use the built in defaults, and click \"Try It!\" to execute the call.  The JSON or XML response will be populated in the Response Body, the Response Body will provide you with any relevant codes, and the Request Header URI will show you how the call would be made within your application. Please note:Also, endpoints almost always require a final \"/\".  You will receive \"596 Service Not Found\" when it is missing.  An exception to this is for optional methods, such as eventId or teamId.",
    "url": "http://developer.stats.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NFL - Teams"
    },
    {
      "name": "NFL - Schedules, scores, box scores, play-by-play, drive charts"
    },
    {
      "name": "NFL - Bye Weeks"
    },
    {
      "name": "NFL - Standings"
    },
    {
      "name": "NFL - Participants"
    },
    {
      "name": "NFL - Statistics"
    },
    {
      "name": "NFL - Transactions"
    },
    {
      "name": "NFL - Injuries"
    },
    {
      "name": "NFL - Injury Details"
    },
    {
      "name": "NFL - Practice Reports"
    },
    {
      "name": "NFL - Player News"
    },
    {
      "name": "NFL - Leaders"
    },
    {
      "name": "NFL - Depth Charts"
    },
    {
      "name": "NFL - Draft"
    },
    {
      "name": "NFL - Coaches"
    },
    {
      "name": "NFL - Salaries"
    },
    {
      "name": "NFL - Odds"
    },
    {
      "name": "NFL - Stories, Headlines, Images"
    },
    {
      "name": "NFL - Bullets"
    },
    {
      "name": "NFL - Decodes"
    },
    {
      "name": "NFL - Fantasy Projections"
    },
    {
      "name": "NFL - Matchup Gaming"
    },
    {
      "name": "NFL - Weather"
    }
  ],
  "paths": {
    "/stats/football/nfl/teams/{teamId}": {
      "get": {
        "operationId": "NFL-TeamsNFL-Teams",
        "summary": "The teams endpoint will be your source for team na...",
        "description": "The teams endpoint will be your source for team names, locations, abbreviations, and IDs.  You can get information about a single team by including the teamId.  If you do not include a teamId, you will get all the teams for the league.",
        "tags": [
          "NFL - Teams"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return information for one team.\n Default - Blank (returns all teams).",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get team lists for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/events/{eventId}": {
      "get": {
        "operationId": "NFL-IfpermissionedforalleventinformationNFL-Schedules,scores,boxscores,play-by-play,drivecharts",
        "summary": "Access to this events endpoint will provide you wi...",
        "description": "Access to this events endpoint will provide you with the highest level of game data including live scores, box scores, play-by-plays, and drive charts. The box, pbp, & driveCharts parameters are only available when a single game is selected.\n  Simple schedules are also available via the events endpoint.",
        "tags": [
          "NFL - Schedules, scores, box scores, play-by-play, drive charts"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box, pbp (play-by-play) and driveCharts parameters.\n Default - Basic score & schedule data for the data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "box",
            "type": "boolean",
            "description": "Returns the box score for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'box=true'.\n  Default - box score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "pbp",
            "type": "boolean",
            "description": "Returns the play-by-play for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'pbp=true'.\n  Default - pbp data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "driveCharts",
            "type": "boolean",
            "description": "Returns the drive charts for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'driveCharts=true'.\n  Default - drive chart data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n This parameter is ignored in an eventId is used.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - All the games for the current week.",
            "in": "query",
            "required": false
          },
          {
            "name": "week",
            "type": "integer",
            "description": "To get all the games for the selected week.\n Default - The current week.",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All event types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player, team, and venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/events/teams/{teamId}": {
      "get": {
        "operationId": "NFL-Ifpermissionedforalleventinformation-foroneteamonlyNFL-Schedules,scores,boxscores,play-by-play,drivecharts",
        "summary": "Access to this events endpoint will provide you wi...",
        "description": "Access to this events endpoint will provide you with the highest level of game data including live scores, box scores, play-by-plays, and drive charts. However box scores, play-by-play, and drive charts are available for a single game only, and so cannot be accessed here when all events for a single team are returned. This endpoint should be used for team schedules & scores only.",
        "tags": [
          "NFL - Schedules, scores, box scores, play-by-play, drive charts"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide a teamId when you want information for just that team.  'box', 'pbp', & 'driveCharts' parameters are not allowed because you are requesting schedule information for a team, not an individual event.",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific date isn't requested, games from the current week will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All event types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player, team, and venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/box/{eventId}": {
      "get": {
        "operationId": "NFL-Ifpermissionedforjustschedules,scoresandboxscoresNFL-Schedules,scores,boxscores,play-by-play,drivecharts",
        "summary": "The box/ resource provides scores/schedules and bo...",
        "description": "The box/ resource provides scores/schedules and box score information for NFL events. (Play-by-play and Drive Charts are not available in the box endpoint.)",
        "tags": [
          "NFL - Schedules, scores, box scores, play-by-play, drive charts"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box request.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "box",
            "type": "boolean",
            "description": "Returns the box score for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'box=true'.\n  Default - box score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific date isn't requested, games from the current week will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "week",
            "type": "integer",
            "description": "To get all the games for the selected week.\n Default - the current week",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All event types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player, team, and venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/box/teams/{teamId}": {
      "get": {
        "operationId": "NFL-Ifpermissionedforjustschedules,scoresandboxscores-foroneteamonlyNFL-Schedules,scores,boxscores,play-by-play,drivecharts",
        "summary": "The box/ resource provides scores/schedules and bo...",
        "description": "The box/ resource provides scores/schedules and box score information for NFL events. However, box scores are available for a single game only, and so cannot be accessed here when all events for a single team are returned. This endpoint should be used for team schedules & scores only.",
        "tags": [
          "NFL - Schedules, scores, box scores, play-by-play, drive charts"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide a teamId when you want information for just that team.\n The 'box' parameter is not allowed because you are requesting schedule information for a team, not an individual event.\n Default - basic score data will be returned using date or season, if entered, else the current week's events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "OPTIONAL - If entered, the events for that date will be returned. If not entered, the default is to return the events for the current week.  Format: YYYYMMDD or YYYY-MM-DD.",
            "in": "query",
            "required": false
          },
          {
            "name": "week",
            "type": "integer",
            "description": "To get all the games for the selected week.\n Default - the current week",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All event types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player, team, and venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/scores/{eventId}": {
      "get": {
        "operationId": "NFL-IfpermissionedforjustschedulesandscoresNFL-Schedules,scores,boxscores,play-by-play,drivecharts",
        "summary": "The scores/ resource provides score and schedule i...",
        "description": "The scores/ resource provides score and schedule information for NFL events. (Boxscores, Play-by-play, and Shot Charts are not available in the scores endpoint.)",
        "tags": [
          "NFL - Schedules, scores, box scores, play-by-play, drive charts"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.\n Default - basic score data will be returned using date or season, if entered, else the current week's events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all games from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific date isn't requested, all games from the current week will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "week",
            "type": "integer",
            "description": "To get all the games for the selected week.\n Default - the current week",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All event types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player, team, and venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/scores/teams/{teamId}": {
      "get": {
        "operationId": "NFL-Ifpermissionedforjustschedulesandscores-foroneteamonlyNFL-Schedules,scores,boxscores,play-by-play,drivecharts",
        "summary": "The scores/ resource provides score and schedule i...",
        "description": "The scores/ resource provides score and schedule information for NFL events.",
        "tags": [
          "NFL - Schedules, scores, box scores, play-by-play, drive charts"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide a teamId when you want information for just that team.\n Default - basic score data will be returned using date or season, if entered, else the current week's events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "OPTIONAL - If entered, the events for that date will be returned. If not entered, the default is to return the events for the current week.  Format: YYYYMMDD or YYYY-MM-DD.",
            "in": "query",
            "required": false
          },
          {
            "name": "week",
            "type": "integer",
            "description": "To get all the games for the selected week.\n Default - the current week",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get scores for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Schedule will be returned for games included in the specified eventType.\n  Default - All event types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player, team, and venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/byeWeeks/": {
      "get": {
        "operationId": "NFL-ByeweeksNFL-ByeWeeks",
        "summary": "Bye weeks for the NFL can be for the full season (...",
        "description": "Bye weeks for the NFL can be for the full season (default) or a specific week.",
        "tags": [
          "NFL - Bye Weeks"
        ],
        "parameters": [
          {
            "name": "week",
            "type": "integer",
            "description": "Enter the week number if you want a specific week.\n  Default - full season",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "Enter the season if you want something other than the current season. \n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/byeWeeks/teams/{teamId}": {
      "get": {
        "operationId": "NFL-ByeweeksforateamNFL-ByeWeeks",
        "summary": "Returns the bye weeks for a single team.",
        "tags": [
          "NFL - Bye Weeks"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return information for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "Enter the season if you want something other than the current season. \n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/standings/": {
      "get": {
        "operationId": "NFL-StandingsNFL-Standings",
        "summary": "The standings endpoint will provide the league sta...",
        "description": "The standings endpoint will provide the league standings, including all team data relevant to standings.",
        "tags": [
          "NFL - Standings"
        ],
        "parameters": [
          {
            "name": "expanded",
            "type": "boolean",
            "description": "Expanded includes additional data points for each team.\n Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "conference",
            "type": "boolean",
            "description": "Conference returns teams ranked by conference instead of division.\n Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "wildCard",
            "type": "boolean",
            "description": "Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get standings for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/standings/teams/{teamId}": {
      "get": {
        "operationId": "NFL-StandingsforasingleteamNFL-Standings",
        "summary": "The standings endpoint will provide the league sta...",
        "description": "The standings endpoint will provide the league standings, including all team data relevant to standings.",
        "tags": [
          "NFL - Standings"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return information for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "expanded",
            "type": "boolean",
            "description": "Expanded includes additional data points for each team.\n Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "conference",
            "type": "boolean",
            "description": "Conference returns teams ranked by conference instead of division.\n Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "wildCard",
            "type": "boolean",
            "description": "Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get standings for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/participants/": {
      "get": {
        "operationId": "NFL-AllplayerssinceseasonYYYYNFL-Participants",
        "summary": "This will return anyone who has played since the b...",
        "description": "This will return anyone who has played since the beginning of the entered year (season).",
        "tags": [
          "NFL - Participants"
        ],
        "parameters": [
          {
            "name": "sinceYearLast",
            "type": "integer",
            "description": "Anyone who last played since the requested year.  Enter year as YYYY.",
            "in": "query",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/participants/teams/{teamId}": {
      "get": {
        "operationId": "NFL-HistoricalRostersNFL-Participants",
        "summary": "Historical rosters provide biographical informatio...",
        "description": "Historical rosters provide biographical information for players that played for a team in a single specified season.",
        "tags": [
          "NFL - Participants"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return roster for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "Enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.",
            "in": "query",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/participants/{playerId}": {
      "get": {
        "operationId": "NFL-SingleplayerNFL-Participants",
        "summary": "The participants endpoint provides biographical in...",
        "description": "The participants endpoint provides biographical information for players and can be used to return information on a single player, a single teams roster, all teams rosters within the league, or all free agents.",
        "tags": [
          "NFL - Participants"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/allStarParticipants/": {
      "get": {
        "operationId": "NFL-All-star(ProBowl)playersNFL-Participants",
        "summary": "This will return anyone who has played in the Pro ...",
        "description": "This will return anyone who has played in the Pro Bowl.",
        "tags": [
          "NFL - Participants"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "integer",
            "description": "Enter year as YYYY.\n  Default - The current season.",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/referees/": {
      "get": {
        "operationId": "NFL-RefereesNFL-Participants",
        "summary": "The referees endpoint provides biographical inform...",
        "description": "The referees endpoint provides biographical information for referees. Default call returns all active refs.",
        "tags": [
          "NFL - Participants"
        ],
        "parameters": [
          {
            "name": "sinceYearLast",
            "type": "integer",
            "description": "Returns all referees who participated since the requested year.  Enter year as YYYY.\n If no year selected, all active referees will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of referee & country names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/referees/{refereeId}": {
      "get": {
        "operationId": "NFL-SinglerefereeNFL-Participants",
        "summary": "The referees endpoint provides biographical inform...",
        "description": "The referees endpoint provides biographical information on a single referee.",
        "tags": [
          "NFL - Participants"
        ],
        "parameters": [
          {
            "name": "refereeId",
            "type": "integer",
            "description": "To get information on a specific referee, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of referee & country names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/players/{playerId}": {
      "get": {
        "operationId": "NFL-Playerstats-CareerNFL-Statistics",
        "summary": "NFL - Season stats for a single player",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "Player Id.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - Regular Season",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "enc",
            "type": "boolean",
            "description": "The encyclopedia returns full career and season-by-season totals.\n Notes:\n  The encyclopedia is valid for a single player only.  If playerId is omitted, 'enc=true' will be ignored.\n  If 'enc=true', the seasonId will be ignored if included.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "careerOnly",
            "type": "boolean",
            "description": "For a single player's career stats, only to be used in conjunction with 'enc=true'",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/players/{playerId}/events/{eventId}": {
      "get": {
        "operationId": "NFL-PlayersinglegamestatsNFL-Statistics",
        "summary": "NFL - Season stats for a single player",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "Player Id.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "Statistics for a single game.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/players/{playerId}/events/": {
      "get": {
        "operationId": "NFL-Playergame-by-gamestatsNFL-Statistics",
        "summary": "NFL - A player's stats for one game.",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "Statistics for a single game.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - Regular Season",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/players/{playerId}/teams/{teamId}": {
      "get": {
        "operationId": "NFL-Playerstatswhileononeteam.NFL-Statistics",
        "summary": "This is used when a player is on more than one tea...",
        "description": "This is used when a player is on more than one team in a season and you want only the stats for that team.",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get statistics for the player above on one team only, enter team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - Regular Season",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/players/{playerId}/": {
      "get": {
        "operationId": "NFL-PlayersplitsNFL-Statistics",
        "summary": "NFL - Player splits (breakdowns).",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "Player Id.",
            "in": "path",
            "required": true
          },
          {
            "name": "splitId",
            "type": "string",
            "description": "Enter the stat split to be returned.\n * If 'all' is used, then all the splits are returned.\n * If not used, only the official totals will be returned (default = -1).\n * Otherwise, the entered split is returned.\n -- A full list of the available splitId codes can be found using the decodes resource.",
            "in": "query",
            "required": true,
            "default": "-1"
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - Regular Season",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/teams/{teamId}/": {
      "get": {
        "operationId": "NFL-TeamsplitsNFL-Statistics",
        "summary": "NFL - Team splits (breakdowns).",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get statistics for one team, enter the team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "splitId",
            "type": "string",
            "description": "Enter the stat split to be returned.\n * If 'all' is used, then all the splits are returned.\n * If not used, only the official totals will be returned (default = -1).\n * Otherwise, the entered split is returned.\n -- A full list of the available splitId codes can be found using the decodes resource.",
            "in": "query",
            "required": true,
            "default": "-1"
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - Regular Season",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/teams/{teamId}/events/{eventId}": {
      "get": {
        "operationId": "NFL-TeamsinglegamestatsNFL-Statistics",
        "summary": "NFL - Team's individual game logs.",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get statistics for one team, enter the team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "To get statistics for one game, enter the event ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/teams/{teamId}/events/": {
      "get": {
        "operationId": "NFL-Teamgame-by-gamestatsNFL-Statistics",
        "summary": "NFL - Team's individual game logs.",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get statistics for one team, enter the team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Statistics for games in the specified eventType only.\n  Default - Regular Season",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/stats/referees/{refereeId}/": {
      "get": {
        "operationId": "NFL-RefereeStatsNFL-Statistics",
        "summary": "NFL - Player splits (breakdowns).",
        "tags": [
          "NFL - Statistics"
        ],
        "parameters": [
          {
            "name": "refereeId",
            "type": "integer",
            "description": "Referee Id.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "enc",
            "type": "boolean",
            "description": "The encyclopedia returns full career and season-by-season totals.\n  The encyclopedia is valid for a single referee only.  If refereeId is omitted, 'enc=true' will be ignored.\n  If 'enc=true', the seasonId will be ignored if included.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/transactions/": {
      "get": {
        "operationId": "NFL-TransactionsNFL-Transactions",
        "summary": "NFL - Get all transactions",
        "tags": [
          "NFL - Transactions"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/transactions/players/{playerId}": {
      "get": {
        "operationId": "NFL-TransactionsbyplayerNFL-Transactions",
        "summary": "NFL - Player transactions",
        "tags": [
          "NFL - Transactions"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/transactions/players/{playerId}/teams/{teamId}/": {
      "get": {
        "operationId": "NFL-TransactionsbyplayeronaspecificteamNFL-Transactions",
        "summary": "NFL - Player transactions",
        "tags": [
          "NFL - Transactions"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get information for the above player on only one team, enter the appropriate team ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/transactions/teams/{teamId}": {
      "get": {
        "operationId": "NFL-TransactionsbyteamNFL-Transactions",
        "summary": "NFL - Team transactions",
        "tags": [
          "NFL - Transactions"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return information for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/injuries/": {
      "get": {
        "operationId": "NFL-InjuriesNFL-Injuries",
        "summary": "NFL - Get all Injuries",
        "tags": [
          "NFL - Injuries"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "healed",
            "type": "boolean",
            "description": "Include injuries that have healed (ended)?\n  Default - false:",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/football/nfl/injuries/players/{playerId}": {
      "get": {
        "operationId": "NFL-InjuriesbyplayerNFL-Injuries",
        "summary": "NFL - Player Injuries",
        "tags": [
          "NFL - Injuries"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n Note: Seasons that span years like NFL 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "description": "If used, startDate and endDate must both be entered.  All items between the two dates (inclusive) will be returned.\n  Format: YYYYMMDD or YYYY-MM-DD.\n  Default - If not used, the last 7 days items will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "healed",
            "type": "boolean",
            "description": "Include injuries that have healed (ended)?\n  Default - false:",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
[...]
