{
  "swagger": "2.0",
  "info": {
    "title": "Bag Services",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.macys.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test Macy's API using our easy to use Interactive Console! You can also view more detailed  written documentation. (Note: You must attain approval for an API key for one of the services in the drop-down menu below before being able to use the Macy's API Console.) Bag Services",
    "x-mashery-id": "2836"
  },
  "schemes": [
    "http"
  ],
  "host": "api.macys.com",
  "basePath": "/order/v1",
  "externalDocs": {
    "description": "Please contact us if you are having trouble getting access to keys: Click Here",
    "url": "http://developer.macys.com/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Shopping Bag Services"
    }
  ],
  "paths": {
    "/bags": {
      "get": {
        "operationId": "RetrieveBagShoppingBagServices",
        "summary": "This service allows to retrieve bag. Please click ...",
        "description": "This service allows to retrieve bag. Please click here for the additional documentation.",
        "tags": [
          "Shopping Bag Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "userId",
            "type": "integer",
            "description": "This will be returned once you retrieve bag using the bagId. If bagId,userGuid, or bagGuid is not provided userId must be provided. (Optional) Ex. 7788802192",
            "in": "query",
            "required": false
          },
          {
            "name": "userGuid",
            "type": "string",
            "description": "This will be returned once you retrieve bag using the bagId. If bagId, userId, or bagGuid is not provided userGuid must be provided. (Optional) Ex. d0b93f0e-7b0d-4775-8fa7-d47a15951558",
            "in": "query",
            "required": false
          },
          {
            "name": "bagId",
            "type": "integer",
            "description": "Bag ID is displayed on the website Shopping Bag page. If userId, userGuid, or bagGuid is not provided bagId must be provided.(Optional) Ex. 222115407",
            "in": "query",
            "required": false,
            "default": 222115407
          },
          {
            "name": "bagGuid",
            "type": "string",
            "description": "This will be returned once you retrieve bag using the bagId. If bagId, userGuid, or userId is not provided bagGuid must be provided. (Optional) Ex. cdfb23bc-8afe-4210-aaf2-69b55f1540da",
            "in": "query",
            "required": false
          },
          {
            "name": "promocode",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple codes can passed by separating them by commas. Ex. MEMMOB or MEMMOB, SAVE",
            "in": "query",
            "required": false
          },
          {
            "name": "bagOptions",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple attributes can passed by separating them by commas. Ex. INCLUDE_SAVED_BAG or INCLUDE_PRODUCTINFO",
            "in": "query",
            "required": false
          },
          {
            "name": "storeLocNumber",
            "type": "string",
            "description": "The location number of the store you would like to see product availability for. Ex. 73",
            "in": "query",
            "required": false
          },
          {
            "name": "cardType",
            "type": "string",
            "description": "Certain promotions or offers are returned depending on the Credit Card type that will be used.  Click on the documentation link above for more details on the acceptable values Ex. Y",
            "in": "query",
            "required": false
          },
          {
            "name": "registryId",
            "type": "integer",
            "description": "This is used if you are adding an item to your bag that belongs to a registry. Registry options will be provided if this ID is provided. Ex. 2055190",
            "in": "query",
            "required": false
          },
          {
            "name": "channelType",
            "type": "string",
            "description": "This is the channel of the application calling the service. Currently Mobile is the only valid channel. Ex. Mobile",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "AddtoBagShoppingBagServices",
        "summary": "This service allows to add items to shopping bag. ...",
        "description": "This service allows to add items to shopping bag. Please click here for the additional documentation.",
        "tags": [
          "Shopping Bag Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload body as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "userId",
            "type": "integer",
            "description": "This will be returned once you retrieve bag using the bagId. If userId or userGuid is not provided a guest bag and guest user is created. (Optional) Ex. 7788802192",
            "in": "query",
            "required": false,
            "default": 7788802192
          },
          {
            "name": "userGuid",
            "type": "string",
            "description": "If userId or userGuid is not provided a guest bag and guest user is created. (Optional) Ex. d0b93f0e-7b0d-4775-8fa7-d47a15951558",
            "in": "query",
            "required": false
          },
          {
            "name": "promocode",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple codes can passed by separating them by commas. Ex. MEMMOB or MEMMOB, SAVE",
            "in": "query",
            "required": false
          },
          {
            "name": "bagOptions",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple attributes can passed by separating them by commas. Ex. INCLUDE_SAVED_BAG or INCLUDE_PRODUCTINFO",
            "in": "query",
            "required": false
          },
          {
            "name": "storeLocNumber",
            "type": "string",
            "description": "The location number of the store you would like to see product availability for. Ex. 73",
            "in": "query",
            "required": false
          },
          {
            "name": "cardType",
            "type": "string",
            "description": "Certain promotions or offers are returned depending on the Credit Card type that will be used.  Click on the documentation link above for more details on the acceptable values Ex. Y",
            "in": "query",
            "required": false
          },
          {
            "name": "registryId",
            "type": "integer",
            "description": "This is used if you are adding an item to your bag that belongs to a registry. Registry options will be provided if this ID is provided. Ex. 2055190",
            "in": "query",
            "required": false
          },
          {
            "name": "scanStoreLocationNumber",
            "type": "integer",
            "description": "The location number of the store your scaning from.  (Typically used with an application that can scan bar codes) This parameter is used to see if the user qualifies for any store promotions or discounts. Ex. 73",
            "in": "query",
            "required": false
          },
          {
            "name": "channelType",
            "type": "string",
            "description": "This is the channel of the application calling the service. Currently Mobile is the only valid channel. Ex. Mobile",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/bags/{bagGuid}/items": {
      "patch": {
        "operationId": "UpdateBagShoppingBagServices",
        "summary": "This service enables users update quantity of item...",
        "description": "This service enables users update quantity of items that is already added to a shopping bag. It enables users edit multiple items with each request. Please click here for the additional documentation.",
        "tags": [
          "Shopping Bag Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload body as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "bagGuid",
            "type": "string",
            "description": "Bag Guid.  This Bag Guid can be found when creating a guest bag or adding and item to your bag. (Required) Ex. cdfb23bc-8afe-4210-aaf2-69b55f1540da",
            "in": "path",
            "required": true
          },
          {
            "name": "promocode",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple codes can passed by separating them by commas. Ex. MEMMOB or MEMMOB, SAVE",
            "in": "query",
            "required": false
          },
          {
            "name": "bagOptions",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple attributes can passed by separating them by commas. Ex. INCLUDE_SAVED_BAG or INCLUDE_PRODUCTINFO",
            "in": "query",
            "required": false
          },
          {
            "name": "storeLocNumber",
            "type": "string",
            "description": "The location number of the store you would like to see product availability for. Ex. 73",
            "in": "query",
            "required": false
          },
          {
            "name": "cardType",
            "type": "string",
            "description": "Certain promotions or offers are returned depending on the Credit Card type that will be used.  Click on the documentation link above for more details on the acceptable values Ex. Y",
            "in": "query",
            "required": false
          },
          {
            "name": "registryId",
            "type": "integer",
            "description": "This is used if you are adding an item to your bag that belongs to a registry. Registry options will be provided if this ID is provided. Ex. 2055190",
            "in": "query",
            "required": false
          },
          {
            "name": "scanStoreLocationNumber",
            "type": "integer",
            "description": "The location number of the store your scaning from.  (Typically used with an application that can scan bar codes) This parameter is used to see if the user qualifies for any store promotions or discounts. Ex. 73",
            "in": "query",
            "required": false
          },
          {
            "name": "channelType",
            "type": "string",
            "description": "This is the channel of the application calling the service. Currently Mobile is the only valid channel. Ex. Mobile",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/bags/{bagGuid}/items/{sequenceNumber}": {
      "delete": {
        "operationId": "DeleteItemfromBagShoppingBagServices",
        "summary": "This service allows you to delete an item from the...",
        "description": "This service allows you to delete an item from the shopping bag. Please click here for the additional documentation.",
        "tags": [
          "Shopping Bag Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload body as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "bagGuid",
            "type": "integer",
            "description": "Bag Guid.  This Bag Guid can be found when creating a guest bag or adding and item to your bag. (Required) Ex. cdfb23bc-8afe-4210-aaf2-69b55f1540da",
            "in": "path",
            "required": true
          },
          {
            "name": "sequenceNumber",
            "type": "integer",
            "description": "This is the Item Sequence Number.  This is required to delete the correct item (Required) Ex. 21",
            "in": "path",
            "required": true,
            "default": 21
          },
          {
            "name": "promocode",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple codes can passed by separating them by commas. Ex. MEMMOB or MEMMOB, SAVE",
            "in": "query",
            "required": false
          },
          {
            "name": "bagOptions",
            "type": "string",
            "description": "A list of promocodes to be added.  Multiple attributes can passed by separating them by commas. Ex. INCLUDE_SAVED_BAG or INCLUDE_PRODUCTINFO",
            "in": "query",
            "required": false
          },
          {
            "name": "storeLocNumber",
            "type": "string",
            "description": "The location number of the store you would like to see product availability for. Ex. 73",
            "in": "query",
            "required": false
          },
          {
            "name": "cardType",
            "type": "string",
            "description": "Certain promotions or offers are returned depending on the Credit Card type that will be used.  Click on the documentation link above for more details on the acceptable values Ex. Y",
            "in": "query",
            "required": false
          },
          {
            "name": "registryId",
            "type": "integer",
            "description": "This is used if you are adding an item to your bag that belongs to a registry. Registry options will be provided if this ID is provided. Ex. 2055190",
            "in": "query",
            "required": false
          },
          {
            "name": "gwpIndicator",
            "type": "boolean",
            "description": "Indicator that defines whether or not the item is a GWP (Gift with Purchase) or not. Ex. True",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "channelType",
            "type": "string",
            "description": "This is the channel of the application calling the service. Currently Mobile is the only valid channel. Ex. Mobile",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}