{
  "swagger": "2.0",
  "info": {
    "title": "Find Locations",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. You can also view our written documentation here: http://developer.touchtunes.com/docs ",
    "x-mashery-id": "1045"
  },
  "schemes": [
    "http"
  ],
  "host": "api.touchtunes.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.touchtunes.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Locations"
    }
  ],
  "paths": {
    "/locations": {
      "get": {
        "operationId": "LocationsLocations",
        "summary": "Find Locations",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "latitude",
            "type": "string",
            "description": "latitude of location",
            "in": "query",
            "required": true,
            "default": "45.509000"
          },
          {
            "name": "longitude",
            "type": "string",
            "description": "longitude of location",
            "in": "query",
            "required": true,
            "default": "-73.66122"
          },
          {
            "name": "user_latitude",
            "type": "string",
            "description": "latitude of user",
            "in": "query",
            "required": true,
            "default": "45.509270"
          },
          {
            "name": "user_longitude",
            "type": "string",
            "description": "longitude of user",
            "in": "query",
            "required": true,
            "default": "-73.669121"
          },
          {
            "name": "user_horizontal_accuracy",
            "type": "string",
            "description": "n/a",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "radius",
            "type": "string",
            "description": "proximity",
            "in": "query",
            "required": true,
            "default": "2555"
          },
          {
            "name": "limit",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true,
            "default": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}