{
  "swagger": "2.0",
  "info": {
    "title": "Tennis Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Tennis API",
    "x-mashery-id": "4010"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Tennis"
    }
  ],
  "paths": {
    "/tennis-t1/competitor/{competitor_id}/summary.xml": {
      "get": {
        "operationId": "CompetitorProfileTennis",
        "summary": "Get competitor profile information, including worl...",
        "description": "Get competitor profile information, including world ranking, as well as match information and results for all matches played during the current season.",
        "tags": [
          "Tennis"
        ],
        "parameters": [
          {
            "name": "competitor_id",
            "type": "string",
            "description": "The ID of a given competitor",
            "in": "path",
            "required": true,
            "default": "c9ae2ced-cfe7-40db-8cd9-e1f2810f4445"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tennis-t1/{season}/{league_id}/schedule.xml": {
      "get": {
        "operationId": "LeagueScheduleTennis",
        "summary": "Get tournament information, including location, st...",
        "description": "Get tournament information, including location, start and end dates, and field size, for all tournaments within a given league.",
        "tags": [
          "Tennis"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "league_id",
            "type": "string",
            "description": "The league ID",
            "in": "path",
            "required": true,
            "default": "d847c9f6-9cda-4ed5-9fad-c66679525f94"
          },
          {
            "name": "season",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tennis-t1/{year}/schedule.xml": {
      "get": {
        "operationId": "ScheduleTennis",
        "summary": "Get tournament information, including location, st...",
        "description": "Get tournament information, including location, start and end dates, and field size.",
        "tags": [
          "Tennis"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tennis-t1/tournament/{tournament_id}/competitors.xml": {
      "get": {
        "operationId": "TournamentCompetitorsTennis",
        "summary": "Get tournament information, including location, st...",
        "description": "Get tournament information, including location, start and end dates, and field size as well as a list of all competitors who will be competing in the tournament.",
        "tags": [
          "Tennis"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of the Tournament",
            "in": "path",
            "required": true,
            "default": "0abbaeaf-d0bc-4aed-b15a-c929070eb60f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tennis-t1/tournament/{tournament_id}/summary.xml": {
      "get": {
        "operationId": "TournamentSummaryTennis",
        "summary": "Get tournament information, including location, st...",
        "description": "Get tournament information, including location, start and end dates, and field size as well as the results of each match.",
        "tags": [
          "Tennis"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of the Tournament",
            "in": "path",
            "required": true,
            "default": "0abbaeaf-d0bc-4aed-b15a-c929070eb60f"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}