{
  "swagger": "2.0",
  "info": {
    "title": "NCAAMH Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NCAAMH API",
    "x-mashery-id": "3715"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NCAAMH"
    }
  ],
  "paths": {
    "/ncaamh-t3/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNCAAMH",
        "summary": "information on any changes made to teams, players,...",
        "description": "information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleNCAAMH",
        "summary": "Get single day schedules for NCAA Mens Hockey.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "10",
              "11",
              "12",
              "01",
              "02",
              "03",
              "04"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNCAAMH",
        "summary": "Get boxscore data for NCAA Mens Hockey games.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "136240c4-f8c6-4976-ac2d-1128f3f830f6"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNCAAMH",
        "summary": "Get the league hierarchy information for NCAA Mens...",
        "description": "Get the league hierarchy information for NCAA Mens Hockey.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/polls/{type_id}/{season_id}/rankings{format}": {
      "get": {
        "operationId": "RankingsNCAAMH",
        "summary": "Get current weeks poll rankings for NCAA Mens Hock...",
        "description": "Get current weeks poll rankings for NCAA Mens Hockey.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "type_id",
            "type": "string",
            "description": "The USCHO or USA poll",
            "in": "path",
            "required": true,
            "enum": [
              "USCHO",
              "USA"
            ]
          },
          {
            "name": "season_id",
            "type": "number",
            "description": "The year for the start of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2014"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/games/{season_id}/{ncaamh_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNCAAMH",
        "summary": "– date, time, location, and other event details fo...",
        "description": "– date, time, location, and other event details for every match-up taking place in the full league season",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2014"
            ]
          },
          {
            "name": "ncaamh_season",
            "type": "string",
            "description": "The part of the season, (REG, PST, CT)",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "CT"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/seasontd/{season_id}/{ncaamh_season}/standings{format}": {
      "get": {
        "operationId": "StandingsNCAAMH",
        "summary": "Get standings information for NCAA Mens Hockey.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2015"
            ]
          },
          {
            "name": "ncaamh_season",
            "type": "string",
            "description": "The part of the season, Regular Season (REG)",
            "in": "path",
            "required": true,
            "enum": [
              "REG"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile(Rosters)NCAAMH",
        "summary": "Get team rosters for NCAA Mens Hockey.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the league hierarchy feed",
            "in": "path",
            "required": true,
            "default": "bfe11448-71a4-4757-8586-d6dec6bc271b"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/tournaments/{season_id}/{ncaamh_season}/schedule{format}": {
      "get": {
        "operationId": "TournamentListNCAAMH",
        "summary": "Get tournament schedules for NCAA Mens Hockey.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2015"
            ]
          },
          {
            "name": "ncaamh_season",
            "type": "string",
            "description": "The part of the season, (REG, PST, CT)",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "CT"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleNCAAMH",
        "summary": "Get tournament schedules for NCAA Mens Hockey.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a given tournament, found in the tournament list feed",
            "in": "path",
            "required": true,
            "default": "96195c1b-b92d-4848-b5ae-290e83256ca0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaamh-t3/tournaments/{tournament_id}/summary{format}": {
      "get": {
        "operationId": "TournamentSummary(SeededTournamentsOnly)NCAAMH",
        "summary": "Get tournament summaries for NCAA Mens Hockey seed...",
        "description": "Get tournament summaries for NCAA Mens Hockey seeded tournaments.",
        "tags": [
          "NCAAMH"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a given seeded tournament, found in the tournament list feed",
            "in": "path",
            "required": true,
            "default": "96195c1b-b92d-4848-b5ae-290e83256ca0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}