{
  "swagger": "2.0",
  "info": {
    "version": "2011-06-15",
    "x-release": "v4",
    "title": "AWS Security Token Service",
    "description": "<fullname>AWS Security Token Service</fullname> <p>The AWS Security Token Service (STS) is a web service that enables you to request temporary, limited-privilege credentials for AWS Identity and Access Management (IAM) users or for users that you authenticate (federated users). This guide provides descriptions of the STS API. For more detailed information about using this service, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary Security Credentials</a>. </p> <note> <p> As an alternative to using the API, you can use one of the AWS SDKs, which consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to STS. For example, the SDKs take care of cryptographically signing requests, managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services page</a>. </p> </note> <p>For information about setting up signatures and authorization through the API, go to <a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing AWS API Requests</a> in the <i>AWS General Reference</i>. For general information about the Query API, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making Query Requests</a> in <i>Using IAM</i>. For information about using security tokens with other AWS products, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-services-that-work-with-iam.html\">AWS Services That Work with IAM</a> in the <i>IAM User Guide</i>. </p> <p>If you're new to AWS and need additional technical information about a specific AWS product, you can find the product's technical documentation at <a href=\"http://aws.amazon.com/documentation/\">http://aws.amazon.com/documentation/</a>. </p> <p> <b>Endpoints</b> </p> <p>The AWS Security Token Service (STS) has a default endpoint of https://sts.amazonaws.com that maps to the US East (N. Virginia) region. Additional regions are available and are activated by default. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating AWS STS in an AWS Region</a> in the <i>IAM User Guide</i>.</p> <p>For information about STS endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sts_region\">Regions and Endpoints</a> in the <i>AWS General Reference</i>.</p> <p> <b>Recording API requests</b> </p> <p>STS supports AWS CloudTrail, which is a service that records AWS calls for your AWS account and delivers log files to an Amazon S3 bucket. By using information collected by CloudTrail, you can determine what requests were successfully made to STS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html\">AWS CloudTrail User Guide</a>.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/sts/"
  },
  "host": "sts.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "GetSessionToken",
        "description": "<p>Returns a set of temporary credentials for an AWS account or IAM user. The credentials consist of an access key ID, a secret access key, and a security token. Typically, you use <code>GetSessionToken</code> if you want to use MFA to protect programmatic calls to specific AWS APIs like Amazon EC2 <code>StopInstances</code>. MFA-enabled IAM users would need to call <code>GetSessionToken</code> and submit an MFA code that is associated with their MFA device. Using the temporary security credentials that are returned from the call, IAM users can then make programmatic calls to APIs that require MFA authentication. If you do not supply a correct MFA code, then the API returns an access denied error. For a comparison of <code>GetSessionToken</code> with the other APIs that produce temporary credentials, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html\">Requesting Temporary Security Credentials</a> and <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#stsapi_comparison\">Comparing the AWS STS APIs</a> in the <i>IAM User Guide</i>.</p> <p>The <code>GetSessionToken</code> action must be called by using the long-term AWS security credentials of the AWS account or an IAM user. Credentials that are created by IAM users are valid for the duration that you specify, from 900 seconds (15 minutes) up to a maximum of 129600 seconds (36 hours), with a default of 43200 seconds (12 hours); credentials that are created by using account credentials can range from 900 seconds (15 minutes) up to a maximum of 3600 seconds (1 hour), with a default of 1 hour. </p> <p>The temporary security credentials created by <code>GetSessionToken</code> can be used to make API calls to any AWS service with the following exceptions:</p> <ul> <li> <p>You cannot call any IAM APIs unless MFA authentication information is included in the request.</p> </li> <li> <p>You cannot call any STS API <i>except</i> <code>AssumeRole</code>.</p> </li> </ul> <note> <p>We recommend that you do not call <code>GetSessionToken</code> with root account credentials. Instead, follow our <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/best-practices.html#create-iam-users\">best practices</a> by creating one or more IAM users, giving them the necessary permissions, and using IAM users for everyday interaction with AWS. </p> </note> <p>The permissions associated with the temporary security credentials returned by <code>GetSessionToken</code> are based on the permissions associated with account or IAM user whose credentials are used to call the action. If <code>GetSessionToken</code> is called using root account credentials, the temporary credentials have root account permissions. Similarly, if <code>GetSessionToken</code> is called using the credentials of an IAM user, the temporary credentials have the same permissions as the IAM user. </p> <p>For more information about using <code>GetSessionToken</code> to create temporary credentials, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_request.html#api_getsessiontoken\">Temporary Credentials for Users in Untrusted Environments</a> in the <i>IAM User Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSessionTokenResponse"
            }
          },
          "400": {
            "description": "RegionDisabledException",
            "schema": {
              "$ref": "#/definitions/RegionDisabledException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSessionTokenRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AssumeRoleRequest": {
      "type": "object",
      "required": [
        "RoleArn",
        "RoleSessionName"
      ],
      "properties": {
        "RoleArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the role to assume."
        },
        "RoleSessionName": {
          "$ref": "#/definitions/roleSessionNameType",
          "description": "<p>An identifier for the assumed role session.</p> <p>Use the role session name to uniquely identify a session when the same role is assumed by different principals or for different reasons. In cross-account scenarios, the role session name is visible to, and can be logged by the account that owns the role. The role session name is also used in the ARN of the assumed role principal. This means that subsequent cross-account API requests using the temporary security credentials will expose the role session name to the external account in their CloudTrail logs.</p> <p>The format for this parameter, as described by its regex pattern, is a string of characters consisting of upper- and lower-case alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@-</p>"
        },
        "Policy": {
          "$ref": "#/definitions/sessionPolicyDocumentType",
          "description": "<p>An IAM policy in JSON format.</p> <p>This parameter is optional. If you pass a policy, the temporary security credentials that are returned by the operation have the permissions that are allowed by both (the intersection of) the access policy of the role that is being assumed, <i>and</i> the policy that you pass. This gives you a way to further restrict the permissions for the resulting temporary security credentials. You cannot use the passed policy to grant permissions that are in excess of those allowed by the access policy of the role that is being assumed. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html\">Permissions for AssumeRole, AssumeRoleWithSAML, and AssumeRoleWithWebIdentity</a> in the <i>IAM User Guide</i>.</p> <p>The format for this parameter, as described by its regex pattern, is a string of characters up to 2048 characters in length. The characters can be any ASCII character from the space character to the end of the valid character list (\\u0020-\\u00FF). It can also include the tab (\\u0009), linefeed (\\u000A), and carriage return (\\u000D) characters.</p> <note> <p>The policy plain text must be 2048 bytes or shorter. However, an internal conversion compresses it into a packed binary format with a separate limit. The PackedPolicySize response element indicates by percentage how close to the upper size limit the policy is, with 100% equaling the maximum allowed size.</p> </note>"
        },
        "DurationSeconds": {
          "$ref": "#/definitions/roleDurationSecondsType",
          "description": "<p>The duration, in seconds, of the role session. The value can range from 900 seconds (15 minutes) to 3600 seconds (1 hour). By default, the value is set to 3600 seconds.</p> <note> <p>This is separate from the duration of a console session that you might request using the returned credentials. The request to the federation endpoint for a console sign-in token takes a <code>SessionDuration</code> parameter that specifies the maximum length of the console session, separately from the <code>DurationSeconds</code> parameter on this API. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\">Creating a URL that Enables Federated Users to Access the AWS Management Console</a> in the <i>IAM User Guide</i>.</p> </note>"
        },
        "ExternalId": {
          "$ref": "#/definitions/externalIdType",
          "description": "<p>A unique identifier that is used by third parties when assuming roles in their customers' accounts. For each role that the third party can assume, they should instruct their customers to ensure the role's trust policy checks for the external ID that the third party generated. Each time the third party assumes the role, they should pass the customer's external ID. The external ID is useful in order to help third parties bind a role to the customer who created it. For more information about the external ID, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-user_externalid.html\">How to Use an External ID When Granting Access to Your AWS Resources to a Third Party</a> in the <i>IAM User Guide</i>.</p> <p>The format for this parameter, as described by its regex pattern, is a string of characters consisting of upper- and lower-case alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@:\\/-</p>"
        },
        "SerialNumber": {
          "$ref": "#/definitions/serialNumberType",
          "description": "<p>The identification number of the MFA device that is associated with the user who is making the <code>AssumeRole</code> call. Specify this value if the trust policy of the role being assumed includes a condition that requires MFA authentication. The value is either the serial number for a hardware device (such as <code>GAHT12345678</code>) or an Amazon Resource Name (ARN) for a virtual device (such as <code>arn:aws:iam::123456789012:mfa/user</code>).</p> <p>The format for this parameter, as described by its regex pattern, is a string of characters consisting of upper- and lower-case alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@-</p>"
        },
        "TokenCode": {
          "$ref": "#/definitions/tokenCodeType",
          "description": "<p>The value provided by the MFA device, if the trust policy of the role being assumed requires MFA (that is, if the policy includes a condition that tests for MFA). If the role being assumed requires MFA and if the <code>TokenCode</code> value is missing or expired, the <code>AssumeRole</code> call returns an \"access denied\" error.</p> <p>The format for this parameter, as described by its regex pattern, is a sequence of six numeric digits.</p>"
        }
      }
    },
    "AssumeRoleResponse": {
      "type": "object",
      "properties": {
        "Credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "<p>The temporary security credentials, which include an access key ID, a secret access key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security token that STS APIs return is not fixed. We strongly recommend that you make no assumptions about the maximum size. As of this writing, the typical size is less than 4096 bytes, but that can vary. Also, future updates to AWS might require larger sizes.</p>"
        },
        "AssumedRoleUser": {
          "$ref": "#/definitions/AssumedRoleUser",
          "description": "The Amazon Resource Name (ARN) and the assumed role ID, which are identifiers that you can use to refer to the resulting temporary security credentials. For example, you can reference these credentials as a principal in a resource-based policy by using the ARN or assumed role ID. The ARN and ID include the <code>RoleSessionName</code> that you specified when you called <code>AssumeRole</code>. "
        },
        "PackedPolicySize": {
          "$ref": "#/definitions/nonNegativeIntegerType",
          "description": "A percentage value that indicates the size of the policy in packed form. The service rejects any policy with a packed size greater than 100 percent, which means the policy exceeded the allowed space."
        }
      },
      "description": "Contains the response to a successful <a>AssumeRole</a> request, including temporary AWS credentials that can be used to make AWS requests. "
    },
    "AssumeRoleWithSAMLRequest": {
      "type": "object",
      "required": [
        "RoleArn",
        "PrincipalArn",
        "SAMLAssertion"
      ],
      "properties": {
        "RoleArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the role that the caller is assuming."
        },
        "PrincipalArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the SAML provider in IAM that describes the IdP."
        },
        "SAMLAssertion": {
          "$ref": "#/definitions/SAMLAssertionType",
          "description": "<p>The base-64 encoded SAML authentication response provided by the IdP.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/create-role-saml-IdP-tasks.html\">Configuring a Relying Party and Adding Claims</a> in the <i>Using IAM</i> guide. </p>"
        },
        "Policy": {
          "$ref": "#/definitions/sessionPolicyDocumentType",
          "description": "<p>An IAM policy in JSON format.</p> <p>The policy parameter is optional. If you pass a policy, the temporary security credentials that are returned by the operation have the permissions that are allowed by both the access policy of the role that is being assumed, <i> <b>and</b> </i> the policy that you pass. This gives you a way to further restrict the permissions for the resulting temporary security credentials. You cannot use the passed policy to grant permissions that are in excess of those allowed by the access policy of the role that is being assumed. For more information, <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html\">Permissions for AssumeRole, AssumeRoleWithSAML, and AssumeRoleWithWebIdentity</a> in the <i>IAM User Guide</i>. </p> <p>The format for this parameter, as described by its regex pattern, is a string of characters up to 2048 characters in length. The characters can be any ASCII character from the space character to the end of the valid character list (\\u0020-\\u00FF). It can also include the tab (\\u0009), linefeed (\\u000A), and carriage return (\\u000D) characters.</p> <note> <p>The policy plain text must be 2048 bytes or shorter. However, an internal conversion compresses it into a packed binary format with a separate limit. The PackedPolicySize response element indicates by percentage how close to the upper size limit the policy is, with 100% equaling the maximum allowed size.</p> </note>"
        },
        "DurationSeconds": {
          "$ref": "#/definitions/roleDurationSecondsType",
          "description": "<p>The duration, in seconds, of the role session. The value can range from 900 seconds (15 minutes) to 3600 seconds (1 hour). By default, the value is set to 3600 seconds. An expiration can also be specified in the SAML authentication response's <code>SessionNotOnOrAfter</code> value. The actual expiration time is whichever value is shorter. </p> <note> <p>This is separate from the duration of a console session that you might request using the returned credentials. The request to the federation endpoint for a console sign-in token takes a <code>SessionDuration</code> parameter that specifies the maximum length of the console session, separately from the <code>DurationSeconds</code> parameter on this API. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-saml.html\">Enabling SAML 2.0 Federated Users to Access the AWS Management Console</a> in the <i>IAM User Guide</i>.</p> </note>"
        }
      }
    },
    "AssumeRoleWithSAMLResponse": {
      "type": "object",
      "properties": {
        "Credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "<p>The temporary security credentials, which include an access key ID, a secret access key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security token that STS APIs return is not fixed. We strongly recommend that you make no assumptions about the maximum size. As of this writing, the typical size is less than 4096 bytes, but that can vary. Also, future updates to AWS might require larger sizes.</p>"
        },
        "AssumedRoleUser": {
          "$ref": "#/definitions/AssumedRoleUser",
          "description": "The identifiers for the temporary security credentials that the operation returns."
        },
        "PackedPolicySize": {
          "$ref": "#/definitions/nonNegativeIntegerType",
          "description": "A percentage value that indicates the size of the policy in packed form. The service rejects any policy with a packed size greater than 100 percent, which means the policy exceeded the allowed space."
        },
        "Subject": {
          "$ref": "#/definitions/Subject",
          "description": "The value of the <code>NameID</code> element in the <code>Subject</code> element of the SAML assertion."
        },
        "SubjectType": {
          "$ref": "#/definitions/SubjectType",
          "description": "<p> The format of the name ID, as defined by the <code>Format</code> attribute in the <code>NameID</code> element of the SAML assertion. Typical examples of the format are <code>transient</code> or <code>persistent</code>. </p> <p> If the format includes the prefix <code>urn:oasis:names:tc:SAML:2.0:nameid-format</code>, that prefix is removed. For example, <code>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</code> is returned as <code>transient</code>. If the format includes any other prefix, the format is returned with no modifications.</p>"
        },
        "Issuer": {
          "$ref": "#/definitions/Issuer",
          "description": "The value of the <code>Issuer</code> element of the SAML assertion."
        },
        "Audience": {
          "$ref": "#/definitions/Audience",
          "description": " The value of the <code>Recipient</code> attribute of the <code>SubjectConfirmationData</code> element of the SAML assertion. "
        },
        "NameQualifier": {
          "$ref": "#/definitions/NameQualifier",
          "description": "<p>A hash value based on the concatenation of the <code>Issuer</code> response value, the AWS account ID, and the friendly name (the last part of the ARN) of the SAML provider in IAM. The combination of <code>NameQualifier</code> and <code>Subject</code> can be used to uniquely identify a federated user. </p> <p>The following pseudocode shows how the hash value is calculated:</p> <p> <code>BASE64 ( SHA1 ( \"https://example.com/saml\" + \"123456789012\" + \"/MySAMLIdP\" ) )</code> </p>"
        }
      },
      "description": "Contains the response to a successful <a>AssumeRoleWithSAML</a> request, including temporary AWS credentials that can be used to make AWS requests. "
    },
    "AssumeRoleWithWebIdentityRequest": {
      "type": "object",
      "required": [
        "RoleArn",
        "RoleSessionName",
        "WebIdentityToken"
      ],
      "properties": {
        "RoleArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the role that the caller is assuming."
        },
        "RoleSessionName": {
          "$ref": "#/definitions/roleSessionNameType",
          "description": "<p>An identifier for the assumed role session. Typically, you pass the name or identifier that is associated with the user who is using your application. That way, the temporary security credentials that your application will use are associated with that user. This session name is included as part of the ARN and assumed role ID in the <code>AssumedRoleUser</code> response element.</p> <p>The format for this parameter, as described by its regex pattern, is a string of characters consisting of upper- and lower-case alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@-</p>"
        },
        "WebIdentityToken": {
          "$ref": "#/definitions/clientTokenType",
          "description": "The OAuth 2.0 access token or OpenID Connect ID token that is provided by the identity provider. Your application must get this token by authenticating the user who is using your application with a web identity provider before the application makes an <code>AssumeRoleWithWebIdentity</code> call. "
        },
        "ProviderId": {
          "$ref": "#/definitions/urlType",
          "description": "<p>The fully qualified host component of the domain name of the identity provider.</p> <p>Specify this value only for OAuth 2.0 access tokens. Currently <code>www.amazon.com</code> and <code>graph.facebook.com</code> are the only supported identity providers for OAuth 2.0 access tokens. Do not include URL schemes and port numbers.</p> <p>Do not specify this value for OpenID Connect ID tokens.</p>"
        },
        "Policy": {
          "$ref": "#/definitions/sessionPolicyDocumentType",
          "description": "<p>An IAM policy in JSON format.</p> <p>The policy parameter is optional. If you pass a policy, the temporary security credentials that are returned by the operation have the permissions that are allowed by both the access policy of the role that is being assumed, <i> <b>and</b> </i> the policy that you pass. This gives you a way to further restrict the permissions for the resulting temporary security credentials. You cannot use the passed policy to grant permissions that are in excess of those allowed by the access policy of the role that is being assumed. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_assumerole.html\">Permissions for AssumeRoleWithWebIdentity</a> in the <i>IAM User Guide</i>. </p> <p>The format for this parameter, as described by its regex pattern, is a string of characters up to 2048 characters in length. The characters can be any ASCII character from the space character to the end of the valid character list (\\u0020-\\u00FF). It can also include the tab (\\u0009), linefeed (\\u000A), and carriage return (\\u000D) characters.</p> <note> <p>The policy plain text must be 2048 bytes or shorter. However, an internal conversion compresses it into a packed binary format with a separate limit. The PackedPolicySize response element indicates by percentage how close to the upper size limit the policy is, with 100% equaling the maximum allowed size.</p> </note>"
        },
        "DurationSeconds": {
          "$ref": "#/definitions/roleDurationSecondsType",
          "description": "<p>The duration, in seconds, of the role session. The value can range from 900 seconds (15 minutes) to 3600 seconds (1 hour). By default, the value is set to 3600 seconds.</p> <note> <p>This is separate from the duration of a console session that you might request using the returned credentials. The request to the federation endpoint for a console sign-in token takes a <code>SessionDuration</code> parameter that specifies the maximum length of the console session, separately from the <code>DurationSeconds</code> parameter on this API. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-custom-url.html\">Creating a URL that Enables Federated Users to Access the AWS Management Console</a> in the <i>IAM User Guide</i>.</p> </note>"
        }
      }
    },
    "AssumeRoleWithWebIdentityResponse": {
      "type": "object",
      "properties": {
        "Credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "<p>The temporary security credentials, which include an access key ID, a secret access key, and a security token.</p> <p> <b>Note:</b> The size of the security token that STS APIs return is not fixed. We strongly recommend that you make no assumptions about the maximum size. As of this writing, the typical size is less than 4096 bytes, but that can vary. Also, future updates to AWS might require larger sizes.</p>"
        },
        "SubjectFromWebIdentityToken": {
          "$ref": "#/definitions/webIdentitySubjectType",
          "description": "The unique user identifier that is returned by the identity provider. This identifier is associated with the <code>WebIdentityToken</code> that was submitted with the <code>AssumeRoleWithWebIdentity</code> call. The identifier is typically unique to the user and the application that acquired the <code>WebIdentityToken</code> (pairwise identifier). For OpenID Connect ID tokens, this field contains the value returned by the identity provider as the token's <code>sub</code> (Subject) claim. "
        },
        "AssumedRoleUser": {
          "$ref": "#/definitions/AssumedRoleUser",
          "description": "The Amazon Resource Name (ARN) and the assumed role ID, which are identifiers that you can use to refer to the resulting temporary security credentials. For example, you can reference these credentials as a principal in a resource-based policy by using the ARN or assumed role ID. The ARN and ID include the <code>RoleSessionName</code> that you specified when you called <code>AssumeRole</code>. "
        },
        "PackedPolicySize": {
          "$ref": "#/definitions/nonNegativeIntegerType",
          "description": "A percentage value that indicates the size of the policy in packed form. The service rejects any policy with a packed size greater than 100 percent, which means the policy exceeded the allowed space."
        },
        "Provider": {
          "$ref": "#/definitions/Issuer",
          "description": " The issuing authority of the web identity token presented. For OpenID Connect ID Tokens this contains the value of the <code>iss</code> field. For OAuth 2.0 access tokens, this contains the value of the <code>ProviderId</code> parameter that was passed in the <code>AssumeRoleWithWebIdentity</code> request."
        },
        "Audience": {
          "$ref": "#/definitions/Audience",
          "description": "The intended audience (also known as client ID) of the web identity token. This is traditionally the client identifier issued to the application that requested the web identity token."
        }
      },
      "description": "Contains the response to a successful <a>AssumeRoleWithWebIdentity</a> request, including temporary AWS credentials that can be used to make AWS requests. "
    },
    "AssumedRoleUser": {
      "type": "object",
      "required": [
        "AssumedRoleId",
        "Arn"
      ],
      "properties": {
        "AssumedRoleId": {
          "$ref": "#/definitions/assumedRoleIdType",
          "description": "A unique identifier that contains the role ID and the role session name of the role that is being assumed. The role ID is generated by AWS when the role is created."
        },
        "Arn": {
          "$ref": "#/definitions/arnType",
          "description": "The ARN of the temporary security credentials that are returned from the <a>AssumeRole</a> action. For more information about ARNs and how to use them in policies, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html\">IAM Identifiers</a> in <i>Using IAM</i>. "
        }
      },
      "description": "The identifiers for the temporary security credentials that the operation returns."
    },
    "Audience": {
      "type": "string"
    },
    "Credentials": {
      "type": "object",
      "required": [
        "AccessKeyId",
        "SecretAccessKey",
        "SessionToken",
        "Expiration"
      ],
      "properties": {
        "AccessKeyId": {
          "$ref": "#/definitions/accessKeyIdType",
          "description": "The access key ID that identifies the temporary security credentials."
        },
        "SecretAccessKey": {
          "$ref": "#/definitions/accessKeySecretType",
          "description": "The secret access key that can be used to sign requests."
        },
        "SessionToken": {
          "$ref": "#/definitions/tokenType",
          "description": "The token that users must pass to the service API to use the temporary credentials."
        },
        "Expiration": {
          "$ref": "#/definitions/dateType",
          "description": "The date on which the current credentials expire."
        }
      },
      "description": "AWS credentials for API authentication."
    },
    "DecodeAuthorizationMessageRequest": {
      "type": "object",
      "required": [
        "EncodedMessage"
      ],
      "properties": {
        "EncodedMessage": {
          "$ref": "#/definitions/encodedMessageType",
          "description": "The encoded message that was returned with the response."
        }
      }
    },
    "DecodeAuthorizationMessageResponse": {
      "type": "object",
      "properties": {
        "DecodedMessage": {
          "$ref": "#/definitions/decodedMessageType",
          "description": "An XML document that contains the decoded message."
        }
      },
      "description": "A document that contains additional information about the authorization status of a request from an encoded message that is returned in response to an AWS request."
    },
    "ExpiredTokenException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/expiredIdentityTokenMessage"
        }
      },
      "description": "The web identity token that was passed is expired or is not valid. Get a new identity token from the identity provider and then retry the request."
    },
    "FederatedUser": {
      "type": "object",
      "required": [
        "FederatedUserId",
        "Arn"
      ],
      "properties": {
        "FederatedUserId": {
          "$ref": "#/definitions/federatedIdType",
          "description": "The string that identifies the federated user associated with the credentials, similar to the unique ID of an IAM user."
        },
        "Arn": {
          "$ref": "#/definitions/arnType",
          "description": "The ARN that specifies the federated user that is associated with the credentials. For more information about ARNs and how to use them in policies, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html\">IAM Identifiers</a> in <i>Using IAM</i>. "
        }
      },
      "description": "Identifiers for the federated user that is associated with the credentials."
    },
    "GetCallerIdentityRequest": {
      "type": "object",
      "properties": {}
    },
    "GetCallerIdentityResponse": {
      "type": "object",
      "properties": {
        "UserId": {
          "$ref": "#/definitions/userIdType",
          "description": "The unique identifier of the calling entity. The exact value depends on the type of entity making the call. The values returned are those listed in the <b>aws:userid</b> column in the <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_variables.html#principaltable\">Principal table</a> found on the <b>Policy Variables</b> reference page in the <i>IAM User Guide</i>."
        },
        "Account": {
          "$ref": "#/definitions/accountType",
          "description": "The AWS account ID number of the account that owns or contains the calling entity."
        },
        "Arn": {
          "$ref": "#/definitions/arnType",
          "description": "The AWS ARN associated with the calling entity."
        }
      },
      "description": "Contains the response to a successful <a>GetCallerIdentity</a> request, including information about the entity making the request."
    },
    "GetFederationTokenRequest": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name of the federated user. The name is used as an identifier for the temporary security credentials (such as <code>Bob</code>). For example, you can reference the federated user name in a resource-based policy, such as in an Amazon S3 bucket policy.</p> <p>The format for this parameter, as described by its regex pattern, is a string of characters consisting of upper- and lower-case alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@-</p>"
        },
        "Policy": {
          "$ref": "#/definitions/sessionPolicyDocumentType",
          "description": "<p>An IAM policy in JSON format that is passed with the <code>GetFederationToken</code> call and evaluated along with the policy or policies that are attached to the IAM user whose credentials are used to call <code>GetFederationToken</code>. The passed policy is used to scope down the permissions that are available to the IAM user, by allowing only a subset of the permissions that are granted to the IAM user. The passed policy cannot grant more permissions than those granted to the IAM user. The final permissions for the federated user are the most restrictive set based on the intersection of the passed policy and the IAM user policy.</p> <p>If you do not pass a policy, the resulting temporary security credentials have no effective permissions. The only exception is when the temporary security credentials are used to access a resource that has a resource-based policy that specifically allows the federated user to access the resource.</p> <p>The format for this parameter, as described by its regex pattern, is a string of characters up to 2048 characters in length. The characters can be any ASCII character from the space character to the end of the valid character list (\\u0020-\\u00FF). It can also include the tab (\\u0009), linefeed (\\u000A), and carriage return (\\u000D) characters.</p> <note> <p>The policy plain text must be 2048 bytes or shorter. However, an internal conversion compresses it into a packed binary format with a separate limit. The PackedPolicySize response element indicates by percentage how close to the upper size limit the policy is, with 100% equaling the maximum allowed size.</p> </note> <p>For more information about how permissions work, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_control-access_getfederationtoken.html\">Permissions for GetFederationToken</a>.</p>"
        },
        "DurationSeconds": {
          "$ref": "#/definitions/durationSecondsType",
          "description": "The duration, in seconds, that the session should last. Acceptable durations for federation sessions range from 900 seconds (15 minutes) to 129600 seconds (36 hours), with 43200 seconds (12 hours) as the default. Sessions obtained using AWS account (root) credentials are restricted to a maximum of 3600 seconds (one hour). If the specified duration is longer than one hour, the session obtained by using AWS account (root) credentials defaults to one hour."
        }
      }
    },
    "GetFederationTokenResponse": {
      "type": "object",
      "properties": {
        "Credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "<p>The temporary security credentials, which include an access key ID, a secret access key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security token that STS APIs return is not fixed. We strongly recommend that you make no assumptions about the maximum size. As of this writing, the typical size is less than 4096 bytes, but that can vary. Also, future updates to AWS might require larger sizes.</p>"
        },
        "FederatedUser": {
          "$ref": "#/definitions/FederatedUser",
          "description": "Identifiers for the federated user associated with the credentials (such as <code>arn:aws:sts::123456789012:federated-user/Bob</code> or <code>123456789012:Bob</code>). You can use the federated user's ARN in your resource-based policies, such as an Amazon S3 bucket policy. "
        },
        "PackedPolicySize": {
          "$ref": "#/definitions/nonNegativeIntegerType",
          "description": "A percentage value indicating the size of the policy in packed form. The service rejects policies for which the packed size is greater than 100 percent of the allowed value."
        }
      },
      "description": "Contains the response to a successful <a>GetFederationToken</a> request, including temporary AWS credentials that can be used to make AWS requests. "
    },
    "GetSessionTokenRequest": {
      "type": "object",
      "properties": {
        "DurationSeconds": {
          "$ref": "#/definitions/durationSecondsType",
          "description": "The duration, in seconds, that the credentials should remain valid. Acceptable durations for IAM user sessions range from 900 seconds (15 minutes) to 129600 seconds (36 hours), with 43200 seconds (12 hours) as the default. Sessions for AWS account owners are restricted to a maximum of 3600 seconds (one hour). If the duration is longer than one hour, the session for AWS account owners defaults to one hour."
        },
        "SerialNumber": {
          "$ref": "#/definitions/serialNumberType",
          "description": "<p>The identification number of the MFA device that is associated with the IAM user who is making the <code>GetSessionToken</code> call. Specify this value if the IAM user has a policy that requires MFA authentication. The value is either the serial number for a hardware device (such as <code>GAHT12345678</code>) or an Amazon Resource Name (ARN) for a virtual device (such as <code>arn:aws:iam::123456789012:mfa/user</code>). You can find the device for an IAM user by going to the AWS Management Console and viewing the user's security credentials. </p> <p>The format for this parameter, as described by its regex pattern, is a string of characters consisting of upper- and lower-case alphanumeric characters with no spaces. You can also include underscores or any of the following characters: =,.@-</p>"
        },
        "TokenCode": {
          "$ref": "#/definitions/tokenCodeType",
          "description": "<p>The value provided by the MFA device, if MFA is required. If any policy requires the IAM user to submit an MFA code, specify this value. If MFA authentication is required, and the user does not provide a code when requesting a set of temporary security credentials, the user will receive an \"access denied\" response when requesting resources that require MFA authentication.</p> <p>The format for this parameter, as described by its regex pattern, is a sequence of six numeric digits.</p>"
        }
      }
    },
    "GetSessionTokenResponse": {
      "type": "object",
      "properties": {
        "Credentials": {
          "$ref": "#/definitions/Credentials",
          "description": "<p>The temporary security credentials, which include an access key ID, a secret access key, and a security (or session) token.</p> <p> <b>Note:</b> The size of the security token that STS APIs return is not fixed. We strongly recommend that you make no assumptions about the maximum size. As of this writing, the typical size is less than 4096 bytes, but that can vary. Also, future updates to AWS might require larger sizes.</p>"
        }
      },
      "description": "Contains the response to a successful <a>GetSessionToken</a> request, including temporary AWS credentials that can be used to make AWS requests. "
    },
    "IDPCommunicationErrorException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/idpCommunicationErrorMessage"
        }
      },
      "description": "The request could not be fulfilled because the non-AWS identity provider (IDP) that was asked to verify the incoming identity token could not be reached. This is often a transient error caused by network conditions. Retry the request a limited number of times so that you don't exceed the request rate. If the error persists, the non-AWS identity provider might be down or not responding."
    },
    "IDPRejectedClaimException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/idpRejectedClaimMessage"
        }
      },
      "description": "<p>The identity provider (IdP) reported that authentication failed. This might be because the claim is invalid.</p> <p>If this error is returned for the <code>AssumeRoleWithWebIdentity</code> operation, it can also mean that the claim has expired or has been explicitly revoked. </p>"
    },
    "InvalidAuthorizationMessageException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/invalidAuthorizationMessage"
        }
      },
      "description": "The error returned if the message passed to <code>DecodeAuthorizationMessage</code> was invalid. This can happen if the token contains invalid characters, such as linebreaks. "
    },
    "InvalidIdentityTokenException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/invalidIdentityTokenMessage"
        }
      },
      "description": "The web identity token that was passed could not be validated by AWS. Get a new identity token from the identity provider and then retry the request."
    },
    "Issuer": {
      "type": "string"
    },
    "MalformedPolicyDocumentException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/malformedPolicyDocumentMessage"
        }
      },
      "description": "The request was rejected because the policy document was malformed. The error message describes the specific error."
    },
    "NameQualifier": {
      "type": "string"
    },
    "PackedPolicyTooLargeException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/packedPolicyTooLargeMessage"
        }
      },
      "description": "The request was rejected because the policy document was too large. The error message describes how big the policy document is, in packed form, as a percentage of what the API allows."
    },
    "RegionDisabledException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/regionDisabledMessage"
        }
      },
      "description": "STS is not activated in the requested region for the account that is being asked to generate credentials. The account administrator must use the IAM console to activate STS in that region. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating AWS STS in an AWS Region</a> in the <i>IAM User Guide</i>."
    },
    "SAMLAssertionType": {
      "type": "string",
      "minLength": 4,
      "maxLength": 50000
    },
    "Subject": {
      "type": "string"
    },
    "SubjectType": {
      "type": "string"
    },
    "accessKeyIdType": {
      "type": "string",
      "pattern": "[\\w]*",
      "minLength": 16,
      "maxLength": 32
    },
    "accessKeySecretType": {
      "type": "string"
    },
    "accountType": {
      "type": "string"
    },
    "arnType": {
      "type": "string",
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]+",
      "minLength": 20,
      "maxLength": 2048
    },
    "assumedRoleIdType": {
      "type": "string",
      "pattern": "[\\w+=,.@:-]*",
      "minLength": 2,
      "maxLength": 96
    },
    "clientTokenType": {
      "type": "string",
      "minLength": 4,
      "maxLength": 2048
    },
    "dateType": {
      "type": "string",
      "format": "date-time"
    },
    "decodedMessageType": {
      "type": "string"
    },
    "durationSecondsType": {
      "type": "integer",
      "minimum": 900,
      "maximum": 129600
    },
    "encodedMessageType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 10240
    },
    "expiredIdentityTokenMessage": {
      "type": "string"
    },
    "externalIdType": {
      "type": "string",
      "pattern": "[\\w+=,.@:\\/-]*",
      "minLength": 2,
      "maxLength": 1224
    },
    "federatedIdType": {
      "type": "string",
      "pattern": "[\\w+=,.@\\:-]*",
      "minLength": 2,
      "maxLength": 96
    },
    "idpCommunicationErrorMessage": {
      "type": "string"
    },
    "idpRejectedClaimMessage": {
      "type": "string"
    },
    "invalidAuthorizationMessage": {
      "type": "string"
    },
    "invalidIdentityTokenMessage": {
      "type": "string"
    },
    "malformedPolicyDocumentMessage": {
      "type": "string"
    },
    "nonNegativeIntegerType": {
      "type": "integer",
      "minimum": 0
    },
    "packedPolicyTooLargeMessage": {
      "type": "string"
    },
    "regionDisabledMessage": {
      "type": "string"
    },
    "roleDurationSecondsType": {
      "type": "integer",
      "minimum": 900,
      "maximum": 3600
    },
    "roleSessionNameType": {
      "type": "string",
      "pattern": "[\\w+=,.@-]*",
      "minLength": 2,
      "maxLength": 64
    },
    "serialNumberType": {
      "type": "string",
      "pattern": "[\\w+=/:,.@-]*",
      "minLength": 9,
      "maxLength": 256
    },
    "sessionPolicyDocumentType": {
      "type": "string",
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "minLength": 1,
      "maxLength": 2048
    },
    "tokenCodeType": {
      "type": "string",
      "pattern": "[\\d]*",
      "minLength": 6,
      "maxLength": 6
    },
    "tokenType": {
      "type": "string"
    },
    "urlType": {
      "type": "string",
      "minLength": 4,
      "maxLength": 2048
    },
    "userIdType": {
      "type": "string"
    },
    "userNameType": {
      "type": "string",
      "pattern": "[\\w+=,.@-]*",
      "minLength": 2,
      "maxLength": 32
    },
    "webIdentitySubjectType": {
      "type": "string",
      "minLength": 6,
      "maxLength": 255
    }
  }
}