{
  "swagger": "2.0",
  "info": {
    "title": "Case Citator Tease",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.canlii.org/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. The caseCitatorTease endpoint allow to see the links (e.g citations between a case and other cases and legislations)",
    "x-mashery-id": "703"
  },
  "schemes": [
    "http"
  ],
  "host": "api.canlii.org",
  "basePath": "/v1/caseCitatorTease",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.canlii.org/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "caseCitatorTease"
    }
  ],
  "paths": {
    "/{language}/{databaseId}/{caseId}/citingCases": {
      "get": {
        "operationId": "GetCitingCasescaseCitatorTease",
        "summary": "Get a maximim of 5 cases citing the selected case",
        "tags": [
          "caseCitatorTease"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "Language selection.",
            "in": "path",
            "required": true,
            "enum": [
              "en",
              "fr"
            ]
          },
          {
            "name": "databaseId",
            "type": "string",
            "description": "Unique identifier of a database as provided in the database list.",
            "in": "path",
            "required": true,
            "default": "csc-scc"
          },
          {
            "name": "caseId",
            "type": "string",
            "description": "Unique identifier of a case as provided in the case list.",
            "in": "path",
            "required": true,
            "default": "2008scc9"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language}/{databaseId}/{caseId}/citedCases": {
      "get": {
        "operationId": "GetCitedCasescaseCitatorTease",
        "summary": "Get a maximim of 5 cases cited by the selected cas...",
        "description": "Get a maximim of 5 cases cited by the selected case",
        "tags": [
          "caseCitatorTease"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "Language selection.",
            "in": "path",
            "required": true,
            "enum": [
              "en",
              "fr"
            ]
          },
          {
            "name": "databaseId",
            "type": "string",
            "description": "Unique identifier of a database as provided in the database list.",
            "in": "path",
            "required": true,
            "default": "csc-scc"
          },
          {
            "name": "caseId",
            "type": "string",
            "description": "Unique identifier of a case as provided in the case list.",
            "in": "path",
            "required": true,
            "default": "2008scc9"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language}/{databaseId}/{caseId}/citedLegislations": {
      "get": {
        "operationId": "GetCitedLegislationscaseCitatorTease",
        "summary": "Get a maximim of 5 legislations cite by the select...",
        "description": "Get a maximim of 5 legislations cite by the selected case",
        "tags": [
          "caseCitatorTease"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "Language selection.",
            "in": "path",
            "required": true,
            "enum": [
              "en",
              "fr"
            ]
          },
          {
            "name": "databaseId",
            "type": "string",
            "description": "Unique identifier of a database as provided in the database list.",
            "in": "path",
            "required": true,
            "default": "csc-scc"
          },
          {
            "name": "caseId",
            "type": "string",
            "description": "Unique identifier of a case as provided in the case list.",
            "in": "path",
            "required": true,
            "default": "2008scc9"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}