{
  "swagger": "2.0",
  "info": {
    "title": "Motorsport Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Motorsport API",
    "x-mashery-id": "6865"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/motorsport-t1/en",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Motorsport"
    }
  ],
  "paths": {
    "/competitors/{competitor_id}/profile{format}": {
      "get": {
        "operationId": "CompetitorProfileMotorsport",
        "summary": "Provides information for a given competitor",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "competitor_id",
            "type": "string",
            "description": "The ID of the team, found in Tournament Info endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:66632"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competitors/{competitor_id}/results{format}": {
      "get": {
        "operationId": "CompetitorResultsMotorsport",
        "summary": "Provides past match results for a given competitor...",
        "description": "Provides past match results for a given competitor",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "competitor_id",
            "type": "string",
            "description": "The ID of the team, found in Tournament Info endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:66632"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competitors/{competitor_id}/schedule{format}": {
      "get": {
        "operationId": "CompetitorScheduleMotorsport",
        "summary": "Provides the schedule for a given competitor",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "competitor_id",
            "type": "string",
            "description": "The ID of the team, found in Tournament Info endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:66632"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsMotorsport",
        "summary": "Provides the match scoring for all matches played ...",
        "description": "Provides the match scoring for all matches played on a given day",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleMotorsport",
        "summary": "Provides the schedule for all matches played on a ...",
        "description": "Provides the schedule for all matches played on a given day",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/competitors/{competitor_id1}/versus/{competitor_id2}/matches{format}": {
      "get": {
        "operationId": "HeadtoHeadMotorsport",
        "summary": "Provides team versus team data",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "competitor_id1",
            "type": "string",
            "description": "The ID of the team, found in Tournament Info endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:66632"
          },
          {
            "name": "competitor_id2",
            "type": "string",
            "description": "The ID of the team, found in Tournament Info endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:66628"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/live/schedule{format}": {
      "get": {
        "operationId": "LiveScheduleMotorsport",
        "summary": "Provides a list of matches in progress",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/seasons{format}": {
      "get": {
        "operationId": "SeasonsMotorsport",
        "summary": "Provides the seasons for a given Tournament",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Tournament ID found in the Tournament List API",
            "in": "path",
            "required": true,
            "default": "sr:tournament:293"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/sport_events/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "SportEventProbabilitiesMotorsport",
        "summary": "Provides probabilities for a given match; prematch...",
        "description": "Provides probabilities for a given match; prematch only",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "A given event ID",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/sport_events/{match_id}/timeline{format}": {
      "get": {
        "operationId": "SportEventTimelineMotorsport",
        "summary": "Provides detailed information for a given match",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "Event ID found in the Tournament Schedule endpoint",
            "in": "path",
            "required": true,
            "default": "sr:match:9251633"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoMotorsport",
        "summary": "Provides a list of Competitors from a given Tourna...",
        "description": "Provides a list of Competitors from a given Tournament",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Tournament ID found in the Tournament List API",
            "in": "path",
            "required": true,
            "default": "sr:tournament:1034"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments{format}": {
      "get": {
        "operationId": "TournamentListMotorsport",
        "summary": "Provides a list of all tournaments",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/live_standings{format}": {
      "get": {
        "operationId": "TournamentLiveStandingsMotorsport",
        "summary": "Provides the live standings for a given Tournament...",
        "description": "Provides the live standings for a given Tournament",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Tournament ID found in the Tournament List API",
            "in": "path",
            "required": true,
            "default": "sr:tournament:1034"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsMotorsport",
        "summary": "Provides the results for a given tournament",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Tournament ID found in the Tournament List API",
            "in": "path",
            "required": true,
            "default": "sr:tournament:1034"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleMotorsport",
        "summary": "Provides the schedule for a given Tournament",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Tournament ID found in the Tournament List API",
            "in": "path",
            "required": true,
            "default": "sr:tournament:1034"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/standings{format}": {
      "get": {
        "operationId": "TournamentStandingsMotorsport",
        "summary": "Provides the standings for a given Tournament",
        "tags": [
          "Motorsport"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Tournament ID found in the Tournament List API",
            "in": "path",
            "required": true,
            "default": "sr:tournament:1034"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}