{
  "swagger": "2.0",
  "info": {
    "version": "2014-11-06",
    "x-release": "v4",
    "title": "Amazon Simple Systems Management Service",
    "description": "<p>Amazon EC2 Simple Systems Manager (SSM) enables you to remotely manage the configuration of your Amazon EC2 instances, virtual machines (VMs), or servers in your on-premises environment or in an environment provided by other cloud providers using scripts, commands, or the Amazon EC2 console. SSM includes an on-demand solution called <i>Amazon EC2 Run Command</i> and a lightweight instance configuration solution called <i>SSM Config</i>. </p> <p>This references is intended to be used with the EC2 Run Command User Guide for <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/execute-remote-commands.html\">Linux</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/execute-remote-commands.html\">Windows</a>.</p> <note> <p>You must register your on-premises servers and VMs through an activation process before you can configure them using Run Command. Registered servers and VMs are called <i>managed instances</i>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/managed-instances.html\">Setting Up Run Command On Managed Instances (On-Premises Servers and VMs) on Linux</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/managed-instances.html\">Setting Up Run Command On Managed Instances (On-Premises Servers and VMs) on Windows</a>.</p> </note> <p> <b>Run Command</b> </p> <p>Run Command provides an on-demand experience for executing commands. You can use pre-defined SSM documents to perform the actions listed later in this section, or you can create your own documents. With these documents, you can remotely configure your instances by sending commands using the <b>Commands</b> page in the <a href=\"http://console.aws.amazon.com/ec2/\">Amazon EC2 console</a>, <a href=\"http://docs.aws.amazon.com/powershell/latest/reference/items/Amazon_Simple_Systems_Management_cmdlets.html\">AWS Tools for Windows PowerShell</a>, the <a href=\"http://docs.aws.amazon.com/cli/latest/reference/ssm/index.html\">AWS CLI</a>, or AWS SDKs.</p> <p>Run Command reports the status of the command execution for each instance targeted by a command. You can also audit the command execution to understand who executed commands, when, and what changes were made. By switching between different SSM documents, you can quickly configure your instances with different types of commands. To get started with Run Command, verify that your environment meets the prerequisites for remotely running commands on EC2 instances (<a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/remote-commands-prereq.html\">Linux</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/remote-commands-prereq.html\">Windows</a>). </p> <p/> <p> <b>SSM Config</b> </p> <p>SSM Config is a lightweight instance configuration solution. SSM Config is currently only available for Windows instances. With SSM Config, you can specify a setup configuration for your instances. SSM Config is similar to EC2 User Data, which is another way of running one-time scripts or applying settings during instance launch. SSM Config is an extension of this capability. Using SSM documents, you can specify which actions the system should perform on your instances, including which applications to install, which AWS Directory Service directory to join, which Microsoft PowerShell modules to install, etc. If an instance is missing one or more of these configurations, the system makes those changes. By default, the system checks every five minutes to see if there is a new configuration to apply as defined in a new SSM document. If so, the system updates the instances accordingly. In this way, you can remotely maintain a consistent configuration baseline on your instances. SSM Config is available using the AWS CLI or the AWS Tools for Windows PowerShell. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ec2-configuration-manage.html\">Managing Windows Instance Configuration</a>.</p> <p>SSM Config and Run Command include the following pre-defined documents.</p> <p> <b>Linux</b> </p> <ul> <li> <p> <b>AWS-RunShellScript</b> to run shell scripts</p> </li> <li> <p> <b>AWS-UpdateSSMAgent</b> to update the Amazon SSM agent</p> </li> </ul> <p/> <p> <b>Windows</b> </p> <ul> <li> <p> <b>AWS-JoinDirectoryServiceDomain</b> to join an AWS Directory</p> </li> <li> <p> <b>AWS-RunPowerShellScript</b> to run PowerShell commands or scripts</p> </li> <li> <p> <b>AWS-UpdateEC2Config</b> to update the EC2Config service</p> </li> <li> <p> <b>AWS-ConfigureWindowsUpdate</b> to configure Windows Update settings</p> </li> <li> <p> <b>AWS-InstallApplication</b> to install, repair, or uninstall software using an MSI package</p> </li> <li> <p> <b>AWS-InstallPowerShellModule</b> to install PowerShell modules </p> </li> <li> <p> <b>AWS-ConfigureCloudWatch</b> to configure Amazon CloudWatch Logs to monitor applications and systems</p> </li> <li> <p> <b>AWS-ListWindowsInventory</b> to collect information about an EC2 instance running in Windows.</p> </li> <li> <p> <b>AWS-FindWindowsUpdates</b> to scan an instance and determines which updates are missing.</p> </li> <li> <p> <b>AWS-InstallMissingWindowsUpdates</b> to install missing updates on your EC2 instance.</p> </li> <li> <p> <b>AWS-InstallSpecificWindowsUpdates</b> to install one or more specific updates.</p> </li> </ul> <important> <p>The commands or scripts specified in SSM documents run with administrative privilege on your instances because the Amazon SSM agent runs as root on Linux and the EC2Config service runs in the Local System account on Windows. If a user has permission to execute any of the pre-defined SSM documents (any document that begins with AWS-*) then that user also has administrator access to the instance. Delegate access to Run Command and SSM Config judiciously. This becomes extremely important if you create your own SSM documents. Amazon Web Services does not provide guidance about how to create secure SSM documents. You create SSM documents and delegate access to Run Command at your own risk. As a security best practice, we recommend that you assign access to \"AWS-*\" documents, especially the AWS-RunShellScript document on Linux and the AWS-RunPowerShellScript document on Windows, to trusted administrators only. You can create SSM documents for specific tasks and delegate access to non-administrators.</p> </important> <p>For information about creating and sharing SSM documents, see the following topics in the SSM User Guide: </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/create-ssm-doc.html\">Creating SSM Documents</a> and <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ssm-sharing.html\">Sharing SSM Documents</a> (Linux)</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/create-ssm-doc.html\">Creating SSM Documents</a> and <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/ssm-sharing.html\">Sharing SSM Documents</a> (Windows)</p> </li> </ul>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/ssm/"
  },
  "host": "ssm.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "AddTagsToResource",
        "description": "<p>Adds or overwrites one or more tags for the specified resource. Tags are metadata that you assign to your managed instances. Tags enable you to categorize your managed instances in different ways, for example, by purpose, owner, or environment. Each tag consists of a key and an optional value, both of which you define. For example, you could define a set of tags for your account's managed instances that helps you track each instance's owner and stack level. For example: Key=Owner and Value=DbAdmin, SysAdmin, or Dev. Or Key=Stack and Value=Production, Pre-Production, or Test. Each resource can have a maximum of 10 tags. </p> <p> We recommend that you devise a set of tag keys that meets your needs for each resource type. Using a consistent set of tag keys makes it easier for you to manage your resources. You can search and filter the resources based on the tags you add. Tags don't have any semantic meaning to Amazon EC2 and are interpreted strictly as a string of characters. </p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging Your Amazon EC2 Resources</a> in the Amazon EC2 User Guide. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceResult"
            }
          },
          "480": {
            "description": "InvalidResourceType",
            "schema": {
              "$ref": "#/definitions/InvalidResourceType"
            }
          },
          "481": {
            "description": "InvalidResourceId",
            "schema": {
              "$ref": "#/definitions/InvalidResourceId"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CancelCommand": {
      "post": {
        "operationId": "CancelCommand",
        "description": "Attempts to cancel the command specified by the Command ID. There is no guarantee that the command will be terminated and the underlying process stopped.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CancelCommandResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidCommandId",
            "schema": {
              "$ref": "#/definitions/InvalidCommandId"
            }
          },
          "482": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "483": {
            "description": "DuplicateInstanceId",
            "schema": {
              "$ref": "#/definitions/DuplicateInstanceId"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelCommandRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateActivation": {
      "post": {
        "operationId": "CreateActivation",
        "description": "Registers your on-premises server or virtual machine with Amazon EC2 so that you can manage these resources using Run Command. An on-premises server or virtual machine that has been registered with EC2 is called a managed instance. For more information about activations, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/managed-instances.html\">Setting Up Managed Instances (Linux)</a> or <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/managed-instances.html\">Setting Up Managed Instances (Windows)</a> in the Amazon EC2 User Guide. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateActivationResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActivationRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateAssociation": {
      "post": {
        "operationId": "CreateAssociation",
        "description": "<p>Associates the specified SSM document with the specified instance.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance (SSM agent for Linux and EC2Config service for Windows) processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAssociationResult"
            }
          },
          "480": {
            "description": "AssociationAlreadyExists",
            "schema": {
              "$ref": "#/definitions/AssociationAlreadyExists"
            }
          },
          "481": {
            "description": "AssociationLimitExceeded",
            "schema": {
              "$ref": "#/definitions/AssociationLimitExceeded"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "484": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "485": {
            "description": "UnsupportedPlatformType",
            "schema": {
              "$ref": "#/definitions/UnsupportedPlatformType"
            }
          },
          "486": {
            "description": "InvalidParameters",
            "schema": {
              "$ref": "#/definitions/InvalidParameters"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAssociationRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateAssociationBatch": {
      "post": {
        "operationId": "CreateAssociationBatch",
        "description": "<p>Associates the specified SSM document with the specified instances.</p> <p>When you associate an SSM document with an instance, the configuration agent on the instance (SSM agent for Linux and EC2Config service for Windows) processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system throws the AssociationAlreadyExists exception.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateAssociationBatchResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "482": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "483": {
            "description": "InvalidParameters",
            "schema": {
              "$ref": "#/definitions/InvalidParameters"
            }
          },
          "484": {
            "description": "DuplicateInstanceId",
            "schema": {
              "$ref": "#/definitions/DuplicateInstanceId"
            }
          },
          "485": {
            "description": "AssociationLimitExceeded",
            "schema": {
              "$ref": "#/definitions/AssociationLimitExceeded"
            }
          },
          "486": {
            "description": "UnsupportedPlatformType",
            "schema": {
              "$ref": "#/definitions/UnsupportedPlatformType"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAssociationBatchRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateDocument": {
      "post": {
        "operationId": "CreateDocument",
        "description": "<p>Creates an SSM document.</p> <p>After you create an SSM document, you can use CreateAssociation to associate it with one or more running instances.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDocumentResult"
            }
          },
          "480": {
            "description": "DocumentAlreadyExists",
            "schema": {
              "$ref": "#/definitions/DocumentAlreadyExists"
            }
          },
          "481": {
            "description": "MaxDocumentSizeExceeded",
            "schema": {
              "$ref": "#/definitions/MaxDocumentSizeExceeded"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "483": {
            "description": "InvalidDocumentContent",
            "schema": {
              "$ref": "#/definitions/InvalidDocumentContent"
            }
          },
          "484": {
            "description": "DocumentLimitExceeded",
            "schema": {
              "$ref": "#/definitions/DocumentLimitExceeded"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDocumentRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteActivation": {
      "post": {
        "operationId": "DeleteActivation",
        "description": "Deletes an activation. You are not required to delete an activation. If you delete an activation, you can no longer use it to register additional managed instances. Deleting an activation does not de-register managed instances. You must manually de-register managed instances.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteActivationResult"
            }
          },
          "480": {
            "description": "InvalidActivationId",
            "schema": {
              "$ref": "#/definitions/InvalidActivationId"
            }
          },
          "481": {
            "description": "InvalidActivation",
            "schema": {
              "$ref": "#/definitions/InvalidActivation"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteActivationRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteAssociation": {
      "post": {
        "operationId": "DeleteAssociation",
        "description": "<p>Disassociates the specified SSM document from the specified instance.</p> <p>When you disassociate an SSM document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a document, you must create a new document with the desired configuration and associate it with the instance.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteAssociationResult"
            }
          },
          "480": {
            "description": "AssociationDoesNotExist",
            "schema": {
              "$ref": "#/definitions/AssociationDoesNotExist"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "482": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "483": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "484": {
            "description": "TooManyUpdates",
            "schema": {
              "$ref": "#/definitions/TooManyUpdates"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAssociationRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteDocument": {
      "post": {
        "operationId": "DeleteDocument",
        "description": "<p>Deletes the SSM document and all instance associations to the document.</p> <p>Before you delete the SSM document, we recommend that you use DeleteAssociation to disassociate all instances that are associated with the document.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDocumentResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "482": {
            "description": "InvalidDocumentOperation",
            "schema": {
              "$ref": "#/definitions/InvalidDocumentOperation"
            }
          },
          "483": {
            "description": "AssociatedInstances",
            "schema": {
              "$ref": "#/definitions/AssociatedInstances"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDocumentRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeregisterManagedInstance": {
      "post": {
        "operationId": "DeregisterManagedInstance",
        "description": "Removes the server or virtual machine from the list of registered servers. You can reregister the instance again at any time. If you don’t plan to use Run Command on the server, we suggest uninstalling the SSM agent first.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeregisterManagedInstanceResult"
            }
          },
          "480": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeregisterManagedInstanceRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeActivations": {
      "post": {
        "operationId": "DescribeActivations",
        "description": "Details about the activation, including: the date and time the activation was created, the expiration date, the IAM role assigned to the instances in the activation, and the number of instances activated by this registration.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeActivationsResult"
            }
          },
          "480": {
            "description": "InvalidFilter",
            "schema": {
              "$ref": "#/definitions/InvalidFilter"
            }
          },
          "481": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeActivationsRequest"
            }
          },
          {
            "name": "MaxResults",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeAssociation": {
      "post": {
        "operationId": "DescribeAssociation",
        "description": "Describes the associations for the specified SSM document or instance.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeAssociationResult"
            }
          },
          "480": {
            "description": "AssociationDoesNotExist",
            "schema": {
              "$ref": "#/definitions/AssociationDoesNotExist"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "482": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "483": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeAssociationRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDocument": {
      "post": {
        "operationId": "DescribeDocument",
        "description": "Describes the specified SSM document.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDocumentResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDocumentRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDocumentPermission": {
      "post": {
        "operationId": "DescribeDocumentPermission",
        "description": "Describes the permissions for an SSM document. If you created the document, you are the owner. If a document is shared, it can either be shared privately (by specifying a user’s AWS account ID) or publicly (<i>All</i>). ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDocumentPermissionResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "482": {
            "description": "InvalidPermissionType",
            "schema": {
              "$ref": "#/definitions/InvalidPermissionType"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDocumentPermissionRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeInstanceInformation": {
      "post": {
        "operationId": "DescribeInstanceInformation",
        "description": "Describes one or more of your instances. You can use this to get information about instances like the operating system platform, the SSM agent version (Linux), status etc. If you specify one or more instance IDs, it returns information for those instances. If you do not specify instance IDs, it returns information for all your instances. If you specify an instance ID that is not valid or an instance that you do not own, you receive an error. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeInstanceInformationResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "482": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          },
          "483": {
            "description": "InvalidInstanceInformationFilterValue",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceInformationFilterValue"
            }
          },
          "484": {
            "description": "InvalidFilterKey",
            "schema": {
              "$ref": "#/definitions/InvalidFilterKey"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeInstanceInformationRequest"
            }
          },
          {
            "name": "MaxResults",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetDocument": {
      "post": {
        "operationId": "GetDocument",
        "description": "Gets the contents of the specified SSM document.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDocumentResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDocumentRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListAssociations": {
      "post": {
        "operationId": "ListAssociations",
        "description": "Lists the associations for the specified SSM document or instance.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAssociationsResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAssociationsRequest"
            }
          },
          {
            "name": "MaxResults",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListCommandInvocations": {
      "post": {
        "operationId": "ListCommandInvocations",
        "description": "An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user executes SendCommand against three instances, then a command invocation is created for each requested instance ID. ListCommandInvocations provide status about command execution.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCommandInvocationsResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidCommandId",
            "schema": {
              "$ref": "#/definitions/InvalidCommandId"
            }
          },
          "482": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "483": {
            "description": "InvalidFilterKey",
            "schema": {
              "$ref": "#/definitions/InvalidFilterKey"
            }
          },
          "484": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCommandInvocationsRequest"
            }
          },
          {
            "name": "MaxResults",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListCommands": {
      "post": {
        "operationId": "ListCommands",
        "description": "Lists the commands requested by users of the AWS account.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListCommandsResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidCommandId",
            "schema": {
              "$ref": "#/definitions/InvalidCommandId"
            }
          },
          "482": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "483": {
            "description": "InvalidFilterKey",
            "schema": {
              "$ref": "#/definitions/InvalidFilterKey"
            }
          },
          "484": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListCommandsRequest"
            }
          },
          {
            "name": "MaxResults",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListDocuments": {
      "post": {
        "operationId": "ListDocuments",
        "description": "Describes one or more of your SSM documents.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDocumentsResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidNextToken",
            "schema": {
              "$ref": "#/definitions/InvalidNextToken"
            }
          },
          "482": {
            "description": "InvalidFilterKey",
            "schema": {
              "$ref": "#/definitions/InvalidFilterKey"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDocumentsRequest"
            }
          },
          {
            "name": "MaxResults",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListTagsForResource": {
      "post": {
        "operationId": "ListTagsForResource",
        "description": "Returns a list of the tags assigned to the specified resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResult"
            }
          },
          "480": {
            "description": "InvalidResourceType",
            "schema": {
              "$ref": "#/definitions/InvalidResourceType"
            }
          },
          "481": {
            "description": "InvalidResourceId",
            "schema": {
              "$ref": "#/definitions/InvalidResourceId"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyDocumentPermission": {
      "post": {
        "operationId": "ModifyDocumentPermission",
        "description": "Share a document publicly or privately. If you share a document privately, you must specify the AWS user account IDs for those people who can use the document. If you share a document publicly, you must specify <i>All</i> as the account ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyDocumentPermissionResponse"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "482": {
            "description": "InvalidPermissionType",
            "schema": {
              "$ref": "#/definitions/InvalidPermissionType"
            }
          },
          "483": {
            "description": "DocumentPermissionLimit",
            "schema": {
              "$ref": "#/definitions/DocumentPermissionLimit"
            }
          },
          "484": {
            "description": "DocumentLimitExceeded",
            "schema": {
              "$ref": "#/definitions/DocumentLimitExceeded"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyDocumentPermissionRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#RemoveTagsFromResource": {
      "post": {
        "operationId": "RemoveTagsFromResource",
        "description": "Removes all tags from the specified resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromResourceResult"
            }
          },
          "480": {
            "description": "InvalidResourceType",
            "schema": {
              "$ref": "#/definitions/InvalidResourceType"
            }
          },
          "481": {
            "description": "InvalidResourceId",
            "schema": {
              "$ref": "#/definitions/InvalidResourceId"
            }
          },
          "482": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromResourceRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#SendCommand": {
      "post": {
        "operationId": "SendCommand",
        "description": "Executes commands on one or more remote instances.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendCommandResult"
            }
          },
          "480": {
            "description": "DuplicateInstanceId",
            "schema": {
              "$ref": "#/definitions/DuplicateInstanceId"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "482": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "483": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "484": {
            "description": "InvalidOutputFolder",
            "schema": {
              "$ref": "#/definitions/InvalidOutputFolder"
            }
          },
          "485": {
            "description": "InvalidParameters",
            "schema": {
              "$ref": "#/definitions/InvalidParameters"
            }
          },
          "486": {
            "description": "UnsupportedPlatformType",
            "schema": {
              "$ref": "#/definitions/UnsupportedPlatformType"
            }
          },
          "487": {
            "description": "MaxDocumentSizeExceeded",
            "schema": {
              "$ref": "#/definitions/MaxDocumentSizeExceeded"
            }
          },
          "488": {
            "description": "InvalidRole",
            "schema": {
              "$ref": "#/definitions/InvalidRole"
            }
          },
          "489": {
            "description": "InvalidNotificationConfig",
            "schema": {
              "$ref": "#/definitions/InvalidNotificationConfig"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendCommandRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#UpdateAssociationStatus": {
      "post": {
        "operationId": "UpdateAssociationStatus",
        "description": "Updates the status of the SSM document associated with the specified instance.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateAssociationStatusResult"
            }
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "481": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "482": {
            "description": "InvalidDocument",
            "schema": {
              "$ref": "#/definitions/InvalidDocument"
            }
          },
          "483": {
            "description": "AssociationDoesNotExist",
            "schema": {
              "$ref": "#/definitions/AssociationDoesNotExist"
            }
          },
          "484": {
            "description": "StatusUnchanged",
            "schema": {
              "$ref": "#/definitions/StatusUnchanged"
            }
          },
          "485": {
            "description": "TooManyUpdates",
            "schema": {
              "$ref": "#/definitions/TooManyUpdates"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAssociationStatusRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#UpdateManagedInstanceRole": {
      "post": {
        "operationId": "UpdateManagedInstanceRole",
        "description": "Assigns or changes an Amazon Identity and Access Management (IAM) role to the managed instance.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateManagedInstanceRoleResult"
            }
          },
          "480": {
            "description": "InvalidInstanceId",
            "schema": {
              "$ref": "#/definitions/InvalidInstanceId"
            }
          },
          "481": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateManagedInstanceRoleRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    }
  },
  "definitions": {
    "AccountId": {
      "type": "string",
      "x-pattern": "(?i)all|[0-9]{12}"
    },
    "AccountIdList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccountId"
      },
      "maxItems": 20
    },
    "Activation": {
      "type": "object",
      "properties": {
        "ActivationId": {
          "$ref": "#/definitions/ActivationId",
          "description": "The ID created by SSM when you submitted the activation."
        },
        "Description": {
          "$ref": "#/definitions/ActivationDescription",
          "description": "A user defined description of the activation."
        },
        "DefaultInstanceName": {
          "$ref": "#/definitions/DefaultInstanceName",
          "description": "A name for the managed instance when it is created."
        },
        "IamRole": {
          "$ref": "#/definitions/IamRole",
          "description": "The Amazon Identity and Access Management (IAM) role to assign to the managed instance."
        },
        "RegistrationLimit": {
          "$ref": "#/definitions/RegistrationLimit",
          "description": "The maximum number of managed instances that can be registered using this activation."
        },
        "RegistrationsCount": {
          "$ref": "#/definitions/RegistrationsCount",
          "description": "The number of managed instances already registered with this activation."
        },
        "ExpirationDate": {
          "$ref": "#/definitions/ExpirationDate",
          "description": "The date when this activation can no longer be used to register managed instances."
        },
        "Expired": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether or not the activation is expired."
        },
        "CreatedDate": {
          "$ref": "#/definitions/CreatedDate",
          "description": "The date the activation was created."
        }
      },
      "description": "An activation registers one or more on-premises servers or virtual machines (VMs) with AWS so that you can configure those servers or VMs using Run Command. A server or VM that has been registered with AWS is called a managed instance."
    },
    "ActivationCode": {
      "type": "string",
      "minLength": 20,
      "maxLength": 250
    },
    "ActivationDescription": {
      "type": "string",
      "minLength": 0,
      "maxLength": 256
    },
    "ActivationId": {
      "type": "string",
      "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
    },
    "ActivationList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Activation"
      }
    },
    "AddTagsToResourceRequest": {
      "type": "object",
      "required": [
        "ResourceType",
        "ResourceId",
        "Tags"
      ],
      "properties": {
        "ResourceType": {
          "$ref": "#/definitions/ResourceTypeForTagging",
          "description": "Specifies the type of resource you are tagging."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The resource ID you want to tag."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": " One or more tags. The value parameter is required, but if you don't want the tag to have a value, specify the parameter with no value, and we set the value to an empty string. "
        }
      }
    },
    "AddTagsToResourceResult": {
      "type": "object",
      "properties": {}
    },
    "AssociatedInstances": {
      "type": "object",
      "properties": {},
      "description": "You must disassociate an SSM document from all instances before you can delete it."
    },
    "Association": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the SSM document."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The ID of the instance."
        }
      },
      "description": "Describes an association of an SSM document and an instance."
    },
    "AssociationAlreadyExists": {
      "type": "object",
      "properties": {},
      "description": "The specified association already exists."
    },
    "AssociationDescription": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the SSM document."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The ID of the instance."
        },
        "Date": {
          "$ref": "#/definitions/DateTime",
          "description": "The date when the association was made."
        },
        "Status": {
          "$ref": "#/definitions/AssociationStatus",
          "description": "The association status."
        },
        "Parameters": {
          "$ref": "#/definitions/Parameters",
          "description": "A description of the parameters for a document. "
        }
      },
      "description": "Describes the parameters for a document."
    },
    "AssociationDescriptionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AssociationDescription"
      }
    },
    "AssociationDoesNotExist": {
      "type": "object",
      "properties": {},
      "description": "The specified association does not exist."
    },
    "AssociationFilter": {
      "type": "object",
      "required": [
        "key",
        "value"
      ],
      "properties": {
        "key": {
          "$ref": "#/definitions/AssociationFilterKey",
          "description": "The name of the filter."
        },
        "value": {
          "$ref": "#/definitions/AssociationFilterValue",
          "description": "The filter value."
        }
      },
      "description": "Describes a filter."
    },
    "AssociationFilterKey": {
      "type": "string",
      "enum": [
        "InstanceId",
        "Name"
      ]
    },
    "AssociationFilterList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AssociationFilter"
      },
      "minItems": 1
    },
    "AssociationFilterValue": {
      "type": "string",
      "minLength": 1
    },
    "AssociationLimitExceeded": {
      "type": "object",
      "properties": {},
      "description": "You can have at most 2,000 active associations."
    },
    "AssociationList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Association"
      }
    },
    "AssociationStatus": {
      "type": "object",
      "required": [
        "Date",
        "Name",
        "Message"
      ],
      "properties": {
        "Date": {
          "$ref": "#/definitions/DateTime",
          "description": "The date when the status changed."
        },
        "Name": {
          "$ref": "#/definitions/AssociationStatusName",
          "description": "The status."
        },
        "Message": {
          "$ref": "#/definitions/StatusMessage",
          "description": "The reason for the status."
        },
        "AdditionalInfo": {
          "$ref": "#/definitions/StatusAdditionalInfo",
          "description": "A user-defined string."
        }
      },
      "description": "Describes an association status."
    },
    "AssociationStatusName": {
      "type": "string",
      "enum": [
        "Pending",
        "Success",
        "Failed"
      ]
    },
    "BatchErrorMessage": {
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelCommandRequest": {
      "type": "object",
      "required": [
        "CommandId"
      ],
      "properties": {
        "CommandId": {
          "$ref": "#/definitions/CommandId",
          "description": "The ID of the command you want to cancel."
        },
        "InstanceIds": {
          "$ref": "#/definitions/InstanceIdList",
          "description": "(Optional) A list of instance IDs on which you want to cancel the command. If not provided, the command is canceled on every instance on which it was requested."
        }
      },
      "description": "<p/>"
    },
    "CancelCommandResult": {
      "type": "object",
      "properties": {},
      "description": "Whether or not the command was successfully canceled. There is no guarantee that a request can be canceled."
    },
    "Command": {
      "type": "object",
      "properties": {
        "CommandId": {
          "$ref": "#/definitions/CommandId",
          "description": "A unique identifier for this command."
        },
        "DocumentName": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the SSM document requested for execution."
        },
        "Comment": {
          "$ref": "#/definitions/Comment",
          "description": "User-specified information about the command, such as a brief description of what the command should do."
        },
        "ExpiresAfter": {
          "$ref": "#/definitions/DateTime",
          "description": "If this time is reached and the command has not already started executing, it will not execute. Calculated based on the ExpiresAfter user input provided as part of the SendCommand API."
        },
        "Parameters": {
          "$ref": "#/definitions/Parameters",
          "description": "The parameter values to be inserted in the SSM document when executing the command."
        },
        "InstanceIds": {
          "$ref": "#/definitions/InstanceIdList",
          "description": "The instance IDs against which this command was requested."
        },
        "RequestedDateTime": {
          "$ref": "#/definitions/DateTime",
          "description": "The date and time the command was requested."
        },
        "Status": {
          "$ref": "#/definitions/CommandStatus",
          "description": "The status of the command."
        },
        "OutputS3BucketName": {
          "$ref": "#/definitions/S3BucketName",
          "description": "The S3 bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        },
        "OutputS3KeyPrefix": {
          "$ref": "#/definitions/S3KeyPrefix",
          "description": "The S3 directory path inside the bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        },
        "ServiceRole": {
          "$ref": "#/definitions/ServiceRole",
          "description": "The IAM service role that SSM uses to act on your behalf when sending notifications about command status changes. "
        },
        "NotificationConfig": {
          "$ref": "#/definitions/NotificationConfig",
          "description": "Configurations for sending notifications about command status changes. "
        }
      },
      "description": "Describes a command request."
    },
    "CommandFilter": {
      "type": "object",
      "required": [
        "key",
        "value"
      ],
      "properties": {
        "key": {
          "$ref": "#/definitions/CommandFilterKey",
          "description": "The name of the filter. For example, requested date and time."
        },
        "value": {
          "$ref": "#/definitions/CommandFilterValue",
          "description": "The filter value. For example: June 30, 2015."
        }
      },
      "description": "Describes a command filter."
    },
    "CommandFilterKey": {
      "type": "string",
      "enum": [
        "InvokedAfter",
        "InvokedBefore",
        "Status"
      ]
    },
    "CommandFilterList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CommandFilter"
      },
      "minItems": 1,
      "maxItems": 3
    },
    "CommandFilterValue": {
      "type": "string",
      "minLength": 1
    },
    "CommandId": {
      "type": "string",
      "minLength": 36,
      "maxLength": 36
    },
    "CommandInvocation": {
      "type": "object",
      "properties": {
        "CommandId": {
          "$ref": "#/definitions/CommandId",
          "description": "The command against which this invocation was requested."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The instance ID in which this invocation was requested."
        },
        "Comment": {
          "$ref": "#/definitions/Comment",
          "description": "User-specified information about the command, such as a brief description of what the command should do."
        },
        "DocumentName": {
          "$ref": "#/definitions/DocumentName",
          "description": "The document name that was requested for execution."
        },
        "RequestedDateTime": {
          "$ref": "#/definitions/DateTime",
          "description": "The time and date the request was sent to this instance."
        },
        "Status": {
          "$ref": "#/definitions/CommandInvocationStatus",
          "description": "Whether or not the invocation succeeded, failed, or is pending."
        },
        "TraceOutput": {
          "$ref": "#/definitions/InvocationTraceOutput",
          "description": " Gets the trace output sent by the agent. "
        },
        "CommandPlugins": {
          "$ref": "#/definitions/CommandPluginList"
        },
        "ServiceRole": {
          "$ref": "#/definitions/ServiceRole",
          "description": "The IAM service role that SSM uses to act on your behalf when sending notifications about command status changes on a per instance basis."
        },
        "NotificationConfig": {
          "$ref": "#/definitions/NotificationConfig",
          "description": "Configurations for sending notifications about command status changes on a per instance basis."
        }
      },
      "description": "An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user executes SendCommand against three instances, then a command invocation is created for each requested instance ID. A command invocation returns status and detail information about a command you executed. "
    },
    "CommandInvocationList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CommandInvocation"
      }
    },
    "CommandInvocationStatus": {
      "type": "string",
      "enum": [
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Command"
      }
    },
    "CommandMaxResults": {
      "type": "integer",
      "minimum": 1,
      "maximum": 50
    },
    "CommandPlugin": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/CommandPluginName",
          "description": "The name of the plugin. Must be one of the following: aws:updateAgent, aws:domainjoin, aws:applications, aws:runPowerShellScript, aws:psmodule, aws:cloudWatch, aws:runShellScript, or aws:updateSSMAgent. "
        },
        "Status": {
          "$ref": "#/definitions/CommandPluginStatus",
          "description": "The status of this plugin. You can execute a document with multiple plugins."
        },
        "ResponseCode": {
          "$ref": "#/definitions/ResponseCode",
          "description": "A numeric response code generated after executing the plugin. "
        },
        "ResponseStartDateTime": {
          "$ref": "#/definitions/DateTime",
          "description": "The time the plugin started executing. "
        },
        "ResponseFinishDateTime": {
          "$ref": "#/definitions/DateTime",
          "description": "The time the plugin stopped executing. Could stop prematurely if, for example, a cancel command was sent. "
        },
        "Output": {
          "$ref": "#/definitions/CommandPluginOutput",
          "description": "Output of the plugin execution."
        },
        "OutputS3BucketName": {
          "$ref": "#/definitions/S3BucketName",
          "description": "The S3 bucket where the responses to the command executions should be stored. This was requested when issuing the command."
        },
        "OutputS3KeyPrefix": {
          "$ref": "#/definitions/S3KeyPrefix",
          "description": "The S3 directory path inside the bucket where the responses to the command executions should be stored. This was requested when issuing the command. "
        }
      },
      "description": "Describes plugin details."
    },
    "CommandPluginList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CommandPlugin"
      }
    },
    "CommandPluginName": {
      "type": "string",
      "minLength": 4
    },
    "CommandPluginOutput": {
      "type": "string",
      "maxLength": 2500
    },
    "CommandPluginStatus": {
      "type": "string",
      "enum": [
        "Pending",
        "InProgress",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "CommandStatus": {
      "type": "string",
      "enum": [
        "Pending",
        "InProgress",
        "Cancelling",
        "Success",
        "TimedOut",
        "Cancelled",
        "Failed"
      ]
    },
    "Comment": {
      "type": "string",
      "maxLength": 100
    },
    "ComputerName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 255
    },
    "CreateActivationRequest": {
      "type": "object",
      "required": [
        "IamRole"
      ],
      "properties": {
        "Description": {
          "$ref": "#/definitions/ActivationDescription",
          "description": "A user-defined description of the resource that you want to register with Amazon EC2. "
        },
        "DefaultInstanceName": {
          "$ref": "#/definitions/DefaultInstanceName",
          "description": "The name of the registered, managed instance as it will appear in the Amazon EC2 console or when you use the AWS command line tools to list EC2 resources."
        },
        "IamRole": {
          "$ref": "#/definitions/IamRole",
          "description": "The Amazon Identity and Access Management (IAM) role that you want to assign to the managed instance. "
        },
        "RegistrationLimit": {
          "$ref": "#/definitions/RegistrationLimit",
          "description": "Specify the maximum number of managed instances you want to register. The default value is 1 instance."
        },
        "ExpirationDate": {
          "$ref": "#/definitions/ExpirationDate",
          "description": "The date by which this activation request should expire. The default value is 24 hours."
        }
      }
    },
    "CreateActivationResult": {
      "type": "object",
      "properties": {
        "ActivationId": {
          "$ref": "#/definitions/ActivationId",
          "description": "The ID number generated by the system when it processed the activation. The activation ID functions like a user name."
        },
        "ActivationCode": {
          "$ref": "#/definitions/ActivationCode",
          "description": "The code the system generates when it processes the activation. The activation code functions like a password to validate the activation ID. "
        }
      }
    },
    "CreateAssociationBatchRequest": {
      "type": "object",
      "required": [
        "Entries"
      ],
      "properties": {
        "Entries": {
          "$ref": "#/definitions/CreateAssociationBatchRequestEntries",
          "description": "One or more associations."
        }
      }
    },
    "CreateAssociationBatchRequestEntries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CreateAssociationBatchRequestEntry"
      }
    },
    "CreateAssociationBatchRequestEntry": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": " The name of the configuration document. "
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": " The ID of the instance. "
        },
        "Parameters": {
          "$ref": "#/definitions/Parameters",
          "description": "A description of the parameters for a document. "
        }
      },
      "description": " Describes the association of an SSM document and an instance. "
    },
    "CreateAssociationBatchResult": {
      "type": "object",
      "properties": {
        "Successful": {
          "$ref": "#/definitions/AssociationDescriptionList",
          "description": "Information about the associations that succeeded."
        },
        "Failed": {
          "$ref": "#/definitions/FailedCreateAssociationList",
          "description": "Information about the associations that failed."
        }
      }
    },
    "CreateAssociationRequest": {
      "type": "object",
      "required": [
        "Name",
        "InstanceId"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the SSM document."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The instance ID."
        },
        "Parameters": {
          "$ref": "#/definitions/Parameters",
          "description": "The parameters for the documents runtime configuration. "
        }
      }
    },
    "CreateAssociationResult": {
      "type": "object",
      "properties": {
        "AssociationDescription": {
          "$ref": "#/definitions/AssociationDescription",
          "description": "Information about the association."
        }
      }
    },
    "CreateDocumentRequest": {
      "type": "object",
      "required": [
        "Content",
        "Name"
      ],
      "properties": {
        "Content": {
          "$ref": "#/definitions/DocumentContent",
          "description": "A valid JSON string."
        },
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "A name for the SSM document."
        }
      }
    },
    "CreateDocumentResult": {
      "type": "object",
      "properties": {
        "DocumentDescription": {
          "$ref": "#/definitions/DocumentDescription",
          "description": "Information about the SSM document."
        }
      }
    },
    "CreatedDate": {
      "type": "string",
      "format": "date-time"
    },
    "DateTime": {
      "type": "string",
      "format": "date-time"
    },
    "DefaultInstanceName": {
      "type": "string",
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "minLength": 0,
      "maxLength": 256
    },
    "DeleteActivationRequest": {
      "type": "object",
      "required": [
        "ActivationId"
      ],
      "properties": {
        "ActivationId": {
          "$ref": "#/definitions/ActivationId",
          "description": "The ID of the activation that you want to delete."
        }
      }
    },
    "DeleteActivationResult": {
      "type": "object",
      "properties": {}
    },
    "DeleteAssociationRequest": {
      "type": "object",
      "required": [
        "Name",
        "InstanceId"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the SSM document."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The ID of the instance."
        }
      }
    },
    "DeleteAssociationResult": {
      "type": "object",
      "properties": {}
    },
    "DeleteDocumentRequest": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the SSM document."
        }
      }
    },
    "DeleteDocumentResult": {
      "type": "object",
      "properties": {}
    },
    "DeregisterManagedInstanceRequest": {
      "type": "object",
      "required": [
        "InstanceId"
      ],
      "properties": {
        "InstanceId": {
          "$ref": "#/definitions/ManagedInstanceId",
          "description": "The ID assigned to the managed instance when you registered it using the activation process. "
        }
      }
    },
    "DeregisterManagedInstanceResult": {
      "type": "object",
      "properties": {}
    },
    "DescribeActivationsFilter": {
      "type": "object",
      "properties": {
        "FilterKey": {
          "$ref": "#/definitions/DescribeActivationsFilterKeys",
          "description": "The name of the filter."
        },
        "FilterValues": {
          "$ref": "#/definitions/StringList",
          "description": "The filter values."
        }
      },
      "description": "Filter for the DescribeActivation API."
    },
    "DescribeActivationsFilterKeys": {
      "type": "string",
      "enum": [
        "ActivationIds",
        "DefaultInstanceName",
        "IamRole"
      ]
    },
    "DescribeActivationsFilterList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DescribeActivationsFilter"
      }
    },
    "DescribeActivationsRequest": {
      "type": "object",
      "properties": {
        "Filters": {
          "$ref": "#/definitions/DescribeActivationsFilterList",
          "description": "A filter to view information about your activations."
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "A token to start the list. Use this token to get the next set of results. "
        }
      }
    },
    "DescribeActivationsResult": {
      "type": "object",
      "properties": {
        "ActivationList": {
          "$ref": "#/definitions/ActivationList",
          "description": "A list of activations for your AWS account."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": " The token for the next set of items to return. Use this token to get the next set of results. "
        }
      }
    },
    "DescribeAssociationRequest": {
      "type": "object",
      "required": [
        "Name",
        "InstanceId"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the SSM document."
        },
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The instance ID."
        }
      }
    },
    "DescribeAssociationResult": {
      "type": "object",
      "properties": {
        "AssociationDescription": {
          "$ref": "#/definitions/AssociationDescription",
          "description": "Information about the association."
        }
      }
    },
    "DescribeDocumentPermissionRequest": {
      "type": "object",
      "required": [
        "Name",
        "PermissionType"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentName",
          "description": "The name of the document for which you are the owner."
        },
        "PermissionType": {
          "$ref": "#/definitions/DocumentPermissionType",
          "description": "The permission type for the document. The permission type can be <i>Share</i>."
        }
      }
    },
    "DescribeDocumentPermissionResponse": {
      "type": "object",
      "properties": {
        "AccountIds": {
          "$ref": "#/definitions/AccountIdList",
          "description": "The account IDs that have permission to use this document. The ID can be either an AWS account or <i>All</i>."
        }
      }
    },
    "DescribeDocumentRequest": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/DocumentARN",
          "description": "The name of the SSM document."
        }
      }
    },
    "DescribeDocumentResult": {
      "type": "object",
      "properties": {
        "Document": {
          "$ref": "#/definitions/DocumentDescription",
          "description": "Information about the SSM document."
        }
      }
    },
    "DescribeInstanceInformationRequest": {
      "type": "object",
      "properties": {
        "InstanceInformationFilterList": {
          "$ref": "#/definitions/InstanceInformationFilterList",
          "description": "One or more filters. Use a filter to return a more specific list of instances."
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResultsEC2Compatible",
          "description": "The maximum number of items to return for this call. The call also returns a token that you can specify in a subsequent call to get the next set of results. "
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token for the next set of items to return. (You received this token from a previous call.)"
        }
      }
    },
    "DescribeInstanceInformationResult": {
      "type": "object",
      "properties": {
        "InstanceInformationList": {
          "$ref": "#/definitions/InstanceInformationList",
          "description": "The instance information list."
        },
        "NextToken": {
          "$ref": "#/definitions/NextToken",
          "description": "The token to use when requesting the next set of items. If there are no additional items to return, the string is empty. "
        }
      }
    },
    "DescriptionInDocument": {
      "type": "string"
    },
    "DocumentARN": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9_\\-.:/]{3,128}$"
    },
    "DocumentAlreadyExists": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The specified SSM document already exists."
    },
    "DocumentContent": {
      "type": "string",
      "minLength": 1
    },
    "DocumentDescription": {
      "type": "object",
      "properties": {
        "Sha1": {
          "$ref": "#/definitions/DocumentSha1",
          "description": "The SHA1 hash of the document, which you can use for verification purposes."
        },
        "Hash": {
          "$ref": "#/definitions/DocumentHash",
          "description": "<p>The Sha256 or Sha1 hash created by the system when the document was created. </p> <note> <p>Sha1 hashes have been deprecated.</p> </note>"
        },
        "HashType": {
          "$ref": "#/definitions/DocumentHashType",
          "description": "<p>Sha256 or Sha1.</p> <note> <p>Sha1 hashes have been deprecated.</p> </note>"
        },
        "Name": {
          "$ref": "#/definitions/DocumentARN",
          "description": "The name of the SSM document."
        },
        "Owner": {
          "$ref": "#/definitions/DocumentOwner",
          "description": "The AWS user account of the person who created the document."
        },
        "CreatedDate": {
          "$ref": "#/definitions/DateTime",
          "description": " The date when the SSM document was created. "
        },
        "Status": {
          "$ref": "#/definitions/DocumentStatus",
          "description": "The status of the SSM document."
        },
        "Description": {
[...]
