{
  "swagger": "2.0",
  "info": {
    "title": "UtilityScore",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "3849"
  },
  "schemes": [
    "http"
  ],
  "host": "api.myutilityscore.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.myutilityscore.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "API v1"
    }
  ],
  "paths": {
    "/getutilityscore": {
      "post": {
        "operationId": "GetUtilityScoreAPIv1",
        "summary": "Get Utility Score",
        "tags": [
          "API v1"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/getutilityscore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "getutilityscore": {
      "title": "utilityscoredata",
      "type": "object",
      "properties": {
        "has_property_data": {
          "type": "boolean",
          "default": true
        },
        "home_type": {
          "type": "string",
          "default": "SF"
        },
        "city": {
          "type": "string",
          "default": "San Francisco, CA"
        },
        "post_code": {
          "type": "string",
          "default": "91342"
        },
        "area_unit": {
          "type": "string",
          "default": "foot"
        },
        "year_built": {
          "type": "string",
          "default": "1948"
        },
        "home_area": {
          "type": "string",
          "default": "1600"
        },
        "lot_area": {
          "type": "string",
          "default": "3200"
        },
        "has_air_conditioning": {
          "type": "boolean",
          "default": true
        },
        "space_heating_fuel": {
          "type": "string",
          "default": "Gas"
        },
        "water_heating_fuel": {
          "type": "string",
          "default": "Gas"
        },
        "air_conditioning_type": {
          "type": "string",
          "default": "Central"
        },
        "has_pool": {
          "type": "boolean",
          "default": false
        },
        "has_spa": {
          "type": "boolean",
          "default": false
        },
        "num_occupants": {
          "type": "string",
          "default": "3"
        },
        "daytimocc": {
          "type": "boolean",
          "default": false
        },
        "thermostat_unit": {
          "type": "string",
          "default": "F"
        },
        "winter_thermostat_setting": {
          "type": "string",
          "default": "64"
        },
        "summer_thermostat_setting": {
          "type": "string",
          "default": "74"
        },
        "has_solar": {
          "type": "boolean",
          "default": false
        },
        "solar_capacity": {
          "type": "string",
          "default": "4.5"
        },
        "has_electricity": {
          "type": "boolean",
          "default": true
        },
        "has_naturalgas": {
          "type": "boolean",
          "default": true
        },
        "has_water": {
          "type": "boolean",
          "default": true
        },
        "has_sewer": {
          "type": "boolean",
          "default": true
        }
      },
      "required": [
        "has_property_data",
        "home_type",
        "city",
        "post_code",
        "area_unit",
        "year_built",
        "home_area",
        "lot_area",
        "has_air_conditioning",
        "space_heating_fuel",
        "water_heating_fuel",
        "air_conditioning_type",
        "has_pool",
        "has_spa",
        "num_occupants",
        "daytimocc",
        "thermostat_unit",
        "winter_thermostat_setting",
        "summer_thermostat_setting",
        "has_solar",
        "solar_capacity",
        "has_electricity",
        "has_naturalgas",
        "has_water",
        "has_sewer"
      ]
    }
  }
}