{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-30",
    "x-release": "v4",
    "title": "Amazon Import/Export Snowball",
    "description": "This is a test of the welcome page front matter.",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/snowball/"
  },
  "host": "snowball.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UpdateJob",
        "description": "While a job's <code>JobState</code> value is <code>New</code>, you can update some of the information associated with a job. Once the job changes to a different job state, usually within 60 minutes of the job being created, this action is no longer available.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateJobResult"
            }
          },
          "400": {
            "description": "InvalidResourceException",
            "schema": {
              "$ref": "#/definitions/InvalidResourceException"
            }
          },
          "401": {
            "description": "InvalidJobStateException",
            "schema": {
              "$ref": "#/definitions/InvalidJobStateException"
            }
          },
          "402": {
            "description": "KMSRequestFailedException",
            "schema": {
              "$ref": "#/definitions/KMSRequestFailedException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateJobRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "properties": {
        "AddressId": {
          "$ref": "#/definitions/AddressId",
          "description": "The unique ID for an address."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of a person to receive a Snowball at an address."
        },
        "Company": {
          "$ref": "#/definitions/String",
          "description": "The name of the company to receive a Snowball at an address."
        },
        "Street1": {
          "$ref": "#/definitions/String",
          "description": "The first line in a street address that a Snowball is to be delivered to."
        },
        "Street2": {
          "$ref": "#/definitions/String",
          "description": "The second line in a street address that a Snowball is to be delivered to."
        },
        "Street3": {
          "$ref": "#/definitions/String",
          "description": "The third line in a street address that a Snowball is to be delivered to."
        },
        "City": {
          "$ref": "#/definitions/String",
          "description": "The city in an address that a Snowball is to be delivered to."
        },
        "StateOrProvince": {
          "$ref": "#/definitions/String",
          "description": "The state or province in an address that a Snowball is to be delivered to."
        },
        "PrefectureOrDistrict": {
          "$ref": "#/definitions/String",
          "description": "The prefecture or district in an address that a Snowball is to be delivered to."
        },
        "Landmark": {
          "$ref": "#/definitions/String",
          "description": "A landmark listed in an address that a Snowball is to be delivered to."
        },
        "Country": {
          "$ref": "#/definitions/String",
          "description": "The country in an address that a Snowball is to be delivered to."
        },
        "PostalCode": {
          "$ref": "#/definitions/String",
          "description": "The postal code in an address that a Snowball is to be delivered to."
        },
        "PhoneNumber": {
          "$ref": "#/definitions/String",
          "description": "The phone number associated with an address that a Snowball is to be delivered to."
        }
      },
      "description": "The address that you want the Snowball or Snowballs associated with a specific job to be shipped to. Addresses are validated at the time of creation. The address you provide must be located within the serviceable area of your region. Although no individual elements of the <code>Address</code> are required, if the address is invalid or unsupported, then an exception is thrown."
    },
    "AddressId": {
      "type": "string",
      "pattern": "ADID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "minLength": 40,
      "maxLength": 40
    },
    "AddressList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Address"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelJobRequest": {
      "type": "object",
      "required": [
        "JobId"
      ],
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The 39 character job ID for the job that you want to cancel, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        }
      }
    },
    "CancelJobResult": {
      "type": "object",
      "properties": {}
    },
    "CreateAddressRequest": {
      "type": "object",
      "required": [
        "Address"
      ],
      "properties": {
        "Address": {
          "$ref": "#/definitions/Address",
          "description": "The address that you want the Snowball shipped to."
        }
      }
    },
    "CreateAddressResult": {
      "type": "object",
      "properties": {
        "AddressId": {
          "$ref": "#/definitions/String",
          "description": "The automatically generated ID for a specific address. You'll use this ID when you create a job to specify which address you want the Snowball for that job shipped to."
        }
      }
    },
    "CreateJobRequest": {
      "type": "object",
      "required": [
        "JobType",
        "Resources",
        "AddressId",
        "RoleARN",
        "ShippingOption"
      ],
      "properties": {
        "JobType": {
          "$ref": "#/definitions/JobType",
          "description": "Defines the type of job that you're creating. "
        },
        "Resources": {
          "$ref": "#/definitions/JobResource",
          "description": "<p>Defines the Amazon S3 buckets associated with this job.</p> <p>With <code>IMPORT</code> jobs, you specify the bucket or buckets that your transferred data will be imported into.</p> <p>With <code>EXPORT</code> jobs, you specify the bucket or buckets that your transferred data will be exported from. Optionally, you can also specify a <code>KeyRange</code> value. If you choose to export a range, you define the length of the range by providing either an inclusive <code>BeginMarker</code> value, an inclusive <code>EndMarker</code> value, or both. Ranges are UTF-8 binary sorted.</p>"
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "Defines an optional description of this specific job, for example <code>Important Photos 2016-08-11</code>."
        },
        "AddressId": {
          "$ref": "#/definitions/AddressId",
          "description": "The ID for the address that you want the Snowball shipped to."
        },
        "KmsKeyARN": {
          "$ref": "#/definitions/KmsKeyARN",
          "description": "The <code>KmsKeyARN</code> that you want to associate with this job. <code>KmsKeyARN</code>s are created using the <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_CreateKey.html\">CreateKey</a> AWS Key Management Service (KMS) API action."
        },
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The <code>RoleARN</code> that you want to associate with this job. <code>RoleArn</code>s are created using the <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> AWS Identity and Access Management (IAM) API action."
        },
        "SnowballCapacityPreference": {
          "$ref": "#/definitions/SnowballCapacity",
          "description": "If your job is being created in one of the US regions, you have the option of specifying what size Snowball you'd like for this job. In all other regions, Snowballs come with 80 TB in storage capacity."
        },
        "ShippingOption": {
          "$ref": "#/definitions/ShippingOption",
          "description": "<p>The shipping speed for this job. Note that this speed does not dictate how soon you'll get the Snowball, rather it represents how quickly the Snowball moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snowballs are delivered in one to seven days.</p> </li> <li> <p>In the US, you have access to one-day shipping and two-day shipping.</p> </li> </ul>"
        },
        "Notification": {
          "$ref": "#/definitions/Notification",
          "description": "Defines the Amazon Simple Notification Service (Amazon SNS) notification settings for this job."
        }
      }
    },
    "CreateJobResult": {
      "type": "object",
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        }
      }
    },
    "DataTransfer": {
      "type": "object",
      "properties": {
        "BytesTransferred": {
          "$ref": "#/definitions/Long",
          "description": "The number of bytes transferred between a Snowball and Amazon S3."
        },
        "ObjectsTransferred": {
          "$ref": "#/definitions/Long",
          "description": "The number of objects transferred between a Snowball and Amazon S3."
        },
        "TotalBytes": {
          "$ref": "#/definitions/Long",
          "description": "The total bytes of data for a transfer between a Snowball and Amazon S3. This value is set to 0 (zero) until all the keys that will be transferred have been listed."
        },
        "TotalObjects": {
          "$ref": "#/definitions/Long",
          "description": "The total number of objects for a transfer between a Snowball and Amazon S3. This value is set to 0 (zero) until all the keys that will be transferred have been listed."
        }
      },
      "description": "Defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs."
    },
    "DescribeAddressRequest": {
      "type": "object",
      "required": [
        "AddressId"
      ],
      "properties": {
        "AddressId": {
          "$ref": "#/definitions/AddressId",
          "description": "The automatically generated ID for a specific address."
        }
      }
    },
    "DescribeAddressResult": {
      "type": "object",
      "properties": {
        "Address": {
          "$ref": "#/definitions/Address",
          "description": "The address that you want the Snowball or Snowballs associated with a specific job to be shipped to."
        }
      }
    },
    "DescribeAddressesRequest": {
      "type": "object",
      "properties": {
        "MaxResults": {
          "$ref": "#/definitions/ListLimit",
          "description": "The number of <code>ADDRESS</code> objects to return."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "HTTP requests are stateless. To identify what object comes \"next\" in the list of <code>ADDRESS</code> objects, you have the option of specifying a value for <code>NextToken</code> as the starting point for your list of returned addresses."
        }
      }
    },
    "DescribeAddressesResult": {
      "type": "object",
      "properties": {
        "Addresses": {
          "$ref": "#/definitions/AddressList",
          "description": "The Snowball shipping addresses that were created for this account."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "HTTP requests are stateless. If you use the automatically generated <code>NextToken</code> value in your next <code>DescribeAddresses</code> call, your list of returned addresses will start from this point in the array."
        }
      }
    },
    "DescribeJobRequest": {
      "type": "object",
      "required": [
        "JobId"
      ],
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        }
      }
    },
    "DescribeJobResult": {
      "type": "object",
      "properties": {
        "JobMetadata": {
          "$ref": "#/definitions/JobMetadata",
          "description": "Information about a specific job, including shipping information, job status, and other important metadata. "
        },
        "SubJobMetadata": {
          "$ref": "#/definitions/JobMetadataList",
          "description": "Information about a specific job part (in the case of an export job), including shipping information, job status, and other important metadata. "
        }
      }
    },
    "GetJobManifestRequest": {
      "type": "object",
      "required": [
        "JobId"
      ],
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The ID for a job that you want to get the manifest file for, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        }
      }
    },
    "GetJobManifestResult": {
      "type": "object",
      "properties": {
        "ManifestURI": {
          "$ref": "#/definitions/String",
          "description": "The Amazon S3 presigned URL for the manifest file associated with the specified <code>JobId</code> value."
        }
      }
    },
    "GetJobUnlockCodeRequest": {
      "type": "object",
      "required": [
        "JobId"
      ],
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The ID for the job that you want to get the <code>UnlockCode</code> value for, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        }
      }
    },
    "GetJobUnlockCodeResult": {
      "type": "object",
      "properties": {
        "UnlockCode": {
          "$ref": "#/definitions/String",
          "description": "The <code>UnlockCode</code> value for the specified job. The <code>UnlockCode</code> value can be accessed for up to 90 days after the job has been created."
        }
      }
    },
    "GetSnowballUsageRequest": {
      "type": "object",
      "properties": {}
    },
    "GetSnowballUsageResult": {
      "type": "object",
      "properties": {
        "SnowballLimit": {
          "$ref": "#/definitions/Integer",
          "description": "The service limit for number of Snowballs this account can have at once. The default service limit is 1 (one)."
        },
        "SnowballsInUse": {
          "$ref": "#/definitions/Integer",
          "description": "The number of Snowballs that this account is currently using."
        }
      }
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidAddressException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The address provided was invalid. Check the address with your region's carrier, and try again."
    },
    "InvalidJobStateException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The action can't be performed because the job's current state doesn't allow that action to be performed."
    },
    "InvalidResourceException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The specified resource can't be found. Check the information you provided in your last request, and try again."
    },
    "JobId": {
      "type": "string",
      "pattern": "(M|J)ID[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "minLength": 39,
      "maxLength": 39
    },
    "JobListEntry": {
      "type": "object",
      "properties": {
        "JobId": {
          "$ref": "#/definitions/String",
          "description": "The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        },
        "JobState": {
          "$ref": "#/definitions/JobState",
          "description": "The current state of this job."
        },
        "IsMaster": {
          "$ref": "#/definitions/Boolean",
          "description": "A value that indicates that this job is a master job. A master job represents a successful request to create an export job. Master jobs aren't associated with any Snowballs. Instead, each master job will have at least one job part, and each job part is associated with a Snowball. It might take some time before the job parts associated with a particular master job are listed, because they are created after the master job is created."
        }
      },
      "description": "Each <code>JobListEntry</code> object contains a job's state, a job's ID, and a value that indicates whether the job is a job part, in the case of an export job."
    },
    "JobListEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/JobListEntry"
      }
    },
    "JobLogs": {
      "type": "object",
      "properties": {
        "JobCompletionReportURI": {
          "$ref": "#/definitions/String",
          "description": "A link to an Amazon S3 presigned URL where the job completion report is located."
        },
        "JobSuccessLogURI": {
          "$ref": "#/definitions/String",
          "description": "A link to an Amazon S3 presigned URL where the job success log is located."
        },
        "JobFailureLogURI": {
          "$ref": "#/definitions/String",
          "description": "A link to an Amazon S3 presigned URL where the job failure log is located."
        }
      },
      "description": "<p>Contains job logs. Whenever Snowball is used to import data into or export data out of Amazon S3, you'll have the option of downloading a PDF job report. Job logs are returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type. The job logs can be accessed for up to 60 minutes after this request has been made. To access any of the job logs after 60 minutes have passed, you'll have to make another call to the <code>DescribeJob</code> action.</p> <p>For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you.</p> <p>The job report provides you insight into the state of your Amazon S3 data transfer. The report includes details about your job or job part for your records.</p> <p>For deeper visibility into the status of your transferred objects, you can look at the two associated logs: a success log and a failure log. The logs are saved in comma-separated value (CSV) format, and the name of each log includes the ID of the job or job part that the log describes.</p>"
    },
    "JobMetadata": {
      "type": "object",
      "properties": {
        "JobId": {
          "$ref": "#/definitions/String",
          "description": "The automatically generated ID for a job, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        },
        "JobState": {
          "$ref": "#/definitions/JobState",
          "description": "The current state of the jobs."
        },
        "JobType": {
          "$ref": "#/definitions/JobType",
          "description": "The type of job."
        },
        "CreationDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The creation date for this job."
        },
        "Resources": {
          "$ref": "#/definitions/JobResource",
          "description": "An array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "The description of the job, provided at job creation."
        },
        "KmsKeyARN": {
          "$ref": "#/definitions/KmsKeyARN",
          "description": "The Amazon Resource Name (ARN) for the AWS Key Management Service (AWS KMS) key associated with this job. This ARN was created using the <code>CreateKey</code> API action in AWS KMS."
        },
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The role ARN associated with this job. This ARN was created using the <code>CreateRole</code> API action in AWS Identity and Access Management (IAM)."
        },
        "AddressId": {
          "$ref": "#/definitions/AddressId",
          "description": "The ID for the address that you want the Snowball shipped to."
        },
        "ShippingDetails": {
          "$ref": "#/definitions/ShippingDetails",
          "description": "A job's shipping information, including inbound and outbound tracking numbers and shipping speed options."
        },
        "SnowballCapacityPreference": {
          "$ref": "#/definitions/SnowballCapacity",
          "description": "The Snowball capacity preference for this job, specified at job creation. In US regions, you can choose between 50 TB and 80 TB Snowballs. All other regions use 80 TB capacity Snowballs."
        },
        "Notification": {
          "$ref": "#/definitions/Notification",
          "description": "The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type."
        },
        "DataTransferProgress": {
          "$ref": "#/definitions/DataTransfer",
          "description": "A value that defines the real-time status of a Snowball's data transfer while the appliance is at AWS. Note that this data is only available while a job has a <code>JobState</code> value of <code>InProgress</code>, for both import and export jobs."
        },
        "JobLogInfo": {
          "$ref": "#/definitions/JobLogs",
          "description": "Links to Amazon S3 presigned URLs for the job report and logs. For import jobs, the PDF job report becomes available at the end of the import process. For export jobs, your job report typically becomes available while the Snowball for your job part is being delivered to you."
        }
      },
      "description": "Contains information about a specific job including shipping information, job status, and other important metadata. This information is returned as a part of the response syntax of the <code>DescribeJob</code> action."
    },
    "JobMetadataList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/JobMetadata"
      }
    },
    "JobResource": {
      "type": "object",
      "properties": {
        "S3Resources": {
          "$ref": "#/definitions/S3ResourceList",
          "description": "An array of <code>S3Resource</code> objects."
        }
      },
      "description": "Contains an array of <code>S3Resource</code> objects. Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into."
    },
    "JobState": {
      "type": "string",
      "enum": [
        "New",
        "PreparingAppliance",
        "PreparingShipment",
        "InTransitToCustomer",
        "WithCustomer",
        "InTransitToAWS",
        "WithAWS",
        "InProgress",
        "Complete",
        "Cancelled",
        "Listing",
        "Pending"
      ]
    },
    "JobStateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/JobState"
      }
    },
    "JobType": {
      "type": "string",
      "enum": [
        "IMPORT",
        "EXPORT"
      ]
    },
    "KMSRequestFailedException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The provided AWS Key Management Service key lacks the permissions to perform the specified <a>CreateJob</a> or <a>UpdateJob</a> action."
    },
    "KeyRange": {
      "type": "object",
      "properties": {
        "BeginMarker": {
          "$ref": "#/definitions/String",
          "description": "The key that starts an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted."
        },
        "EndMarker": {
          "$ref": "#/definitions/String",
          "description": "The key that ends an optional key range for an export job. Ranges are inclusive and UTF-8 binary sorted."
        }
      },
      "description": "Contains a key range. For export jobs, a <code>S3Resource</code> object can have an optional <code>KeyRange</code> value. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted."
    },
    "KmsKeyARN": {
      "type": "string",
      "pattern": "arn:(aws|aws-us-gov):kms:.*:[0-9]{12}:key/.*",
      "maxLength": 255
    },
    "ListJobsRequest": {
      "type": "object",
      "properties": {
        "MaxResults": {
          "$ref": "#/definitions/ListLimit",
          "description": "The number of <code>JobListEntry</code> objects to return."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "HTTP requests are stateless. To identify what object comes \"next\" in the list of <code>JobListEntry</code> objects, you have the option of specifying <code>NextToken</code> as the starting point for your returned list."
        }
      }
    },
    "ListJobsResult": {
      "type": "object",
      "properties": {
        "JobListEntries": {
          "$ref": "#/definitions/JobListEntryList",
          "description": "Each <code>JobListEntry</code> object contains a job's state, a job's ID, and a value that indicates whether the job is a job part, in the case of export jobs. "
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "HTTP requests are stateless. If you use this automatically generated <code>NextToken</code> value in your next <code>ListJobs</code> call, your returned <code>JobListEntry</code> objects will start from this point in the array."
        }
      }
    },
    "ListLimit": {
      "type": "integer",
      "minimum": 0,
      "maximum": 100
    },
    "Long": {
      "type": "integer"
    },
    "Notification": {
      "type": "object",
      "properties": {
        "SnsTopicARN": {
          "$ref": "#/definitions/SnsTopicARN",
          "description": "<p>The new SNS <code>TopicArn</code> that you want to associate with this job. You can create Amazon Resource Names (ARNs) for topics by using the <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_CreateTopic.html\">CreateTopic</a> Amazon SNS API action.</p> <p>Note that you can subscribe email addresses to an Amazon SNS topic through the AWS Management Console, or by using the <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_Subscribe.html\">Subscribe</a> AWS Simple Notification Service (SNS) API action.</p>"
        },
        "JobStatesToNotify": {
          "$ref": "#/definitions/JobStateList",
          "description": "The list of job states that will trigger a notification for this job."
        },
        "NotifyAll": {
          "$ref": "#/definitions/Boolean",
          "description": "Any change in job state will trigger a notification for this job."
        }
      },
      "description": "<p>The Amazon Simple Notification Service (Amazon SNS) notification settings associated with a specific job. The <code>Notification</code> object is returned as a part of the response syntax of the <code>DescribeJob</code> action in the <code>JobMetadata</code> data type.</p> <p>When the notification settings are defined during job creation, you can choose to notify based on a specific set of job states using the <code>JobStatesToNotify</code> array of strings, or you can specify that you want to have Amazon SNS notifications sent out for all job states with <code>NotifyAll</code> set to true.</p>"
    },
    "ResourceARN": {
      "type": "string",
      "pattern": "arn:(aws|aws-us-gov):s3:::.*",
      "maxLength": 255
    },
    "RoleARN": {
      "type": "string",
      "pattern": "arn:(aws|aws-us-gov):iam::[0-9]{12}:role/.*",
      "maxLength": 255
    },
    "S3Resource": {
      "type": "object",
      "properties": {
        "BucketArn": {
          "$ref": "#/definitions/ResourceARN",
          "description": "The Amazon Resource Name (ARN) of an Amazon S3 bucket."
        },
        "KeyRange": {
          "$ref": "#/definitions/KeyRange",
          "description": "For export jobs, you can provide an optional <code>KeyRange</code> within a specific Amazon S3 bucket. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted."
        }
      },
      "description": "Each <code>S3Resource</code> object represents an Amazon S3 bucket that your transferred data will be exported from or imported into. For export jobs, this object can have an optional <code>KeyRange</code> value. The length of the range is defined at job creation, and has either an inclusive <code>BeginMarker</code>, an inclusive <code>EndMarker</code>, or both. Ranges are UTF-8 binary sorted."
    },
    "S3ResourceList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/S3Resource"
      }
    },
    "Shipment": {
      "type": "object",
      "properties": {
        "Status": {
          "$ref": "#/definitions/String",
          "description": "Status information for a shipment. Valid statuses include <code>NEW</code>, <code>IN_TRANSIT</code>, and <code>DELIVERED</code>."
        },
        "TrackingNumber": {
          "$ref": "#/definitions/String",
          "description": "<p>The tracking number for this job. Using this tracking number with your region's carrier's website, you can track a Snowball as the carrier transports it.</p> <p>For India, the carrier is Amazon Logistics. For all other regions, UPS is the carrier.</p>"
        }
      },
      "description": "The <code>Status</code> and <code>TrackingNumber</code> information for an inbound or outbound shipment."
    },
    "ShippingDetails": {
      "type": "object",
      "properties": {
        "ShippingOption": {
          "$ref": "#/definitions/ShippingOption",
          "description": "<p>The shipping speed for a particular job. Note that this speed does not dictate how soon you'll get the Snowball from the job's creation date. This speed represents how quickly it moves to its destination while in transit. Regional shipping speeds are as follows:</p> <ul> <li> <p>In Australia, you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day.</p> </li> <li> <p>In the European Union (EU), you have access to express shipping. Typically, Snowballs shipped express are delivered in about a day. In addition, most countries in the EU have access to standard shipping, which typically takes less than a week, one way.</p> </li> <li> <p>In India, Snowballs are delivered in one to seven days.</p> </li> <li> <p>In the United States of America (US), you have access to one-day shipping and two-day shipping.</p> </li> </ul>"
        },
        "InboundShipment": {
          "$ref": "#/definitions/Shipment",
          "description": "The <code>Status</code> and <code>TrackingNumber</code> values for a Snowball being delivered to the address that you specified for a particular job."
        },
        "OutboundShipment": {
          "$ref": "#/definitions/Shipment",
          "description": "The <code>Status</code> and <code>TrackingNumber</code> values for a Snowball being returned to AWS for a particular job."
        }
      },
      "description": "A job's shipping information, including inbound and outbound tracking numbers and shipping speed options."
    },
    "ShippingOption": {
      "type": "string",
      "enum": [
        "SECOND_DAY",
        "NEXT_DAY",
        "EXPRESS",
        "STANDARD"
      ]
    },
    "SnowballCapacity": {
      "type": "string",
      "enum": [
        "T50",
        "T80",
        "NoPreference"
      ]
    },
    "SnsTopicARN": {
      "type": "string",
      "pattern": "arn:(aws|aws-us-gov):sns:.*:[0-9]{12}:.*",
      "maxLength": 255
    },
    "String": {
      "type": "string",
      "minLength": 1,
      "maxLength": 255
    },
    "Timestamp": {
      "type": "string",
      "format": "date-time"
    },
    "UnsupportedAddressException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The address is either outside the serviceable area for your region, or an error occurred. Check the address with your region's carrier and try again. If the issue persists, contact AWS Support."
    },
    "UpdateJobRequest": {
      "type": "object",
      "required": [
        "JobId"
      ],
      "properties": {
        "JobId": {
          "$ref": "#/definitions/JobId",
          "description": "The job ID of the job that you want to update, for example <code>JID123e4567-e89b-12d3-a456-426655440000</code>."
        },
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The new role Amazon Resource Name (ARN) that you want to associate with this job. To create a role ARN, use the <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateRole.html\">CreateRole</a> AWS Identity and Access Management (IAM) API action."
        },
        "Notification": {
          "$ref": "#/definitions/Notification",
          "description": "The new or updated <a>Notification</a> object."
        },
        "Resources": {
          "$ref": "#/definitions/JobResource",
          "description": "The updated <a>S3Resource</a> object (for a single Amazon S3 bucket or key range), or the updated <a>JobResource</a> object (for multiple buckets or key ranges). "
        },
        "AddressId": {
          "$ref": "#/definitions/AddressId",
          "description": "The ID of the updated <a>Address</a> object."
        },
        "ShippingOption": {
          "$ref": "#/definitions/ShippingOption",
          "description": "The updated shipping option value of this job's <a>ShippingDetails</a> object."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "The updated description of this job's <a>JobMetadata</a> object."
        },
        "SnowballCapacityPreference": {
          "$ref": "#/definitions/SnowballCapacity",
          "description": "The updated <code>SnowballCapacityPreference</code> of this job's <a>JobMetadata</a> object. Note that the 50 TB Snowballs are only available in the US regions."
        }
      }
    },
    "UpdateJobResult": {
      "type": "object",
      "properties": {}
    }
  }
}