{
  "swagger": "2.0",
  "info": {
    "title": "Prod - Content",
    "version": "2",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. This Api is used to get videos, store and events used on iPhone and iPad apps.",
    "x-mashery-id": "195"
  },
  "schemes": [
    "http"
  ],
  "host": "api.saks.com",
  "basePath": "/v2/content",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.saks.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Video Search Method"
    },
    {
      "name": "Store and Events Search Method"
    }
  ],
  "paths": {
    "/videos": {
      "get": {
        "operationId": "GetVideoPageVideoSearchMethod",
        "summary": "make a request to our video page",
        "tags": [
          "Video Search Method"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "GetStoreandEventsPageStoreandEventsSearchMethod",
        "summary": "make a request to our store and events page",
        "tags": [
          "Store and Events Search Method"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}