{
  "swagger": "2.0",
  "info": {
    "title": "Rugby Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Rugby API",
    "x-mashery-id": "3957"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Rugby"
    }
  ],
  "paths": {
    "/rugby-t1/matches/{year}/{month}/{day}/boxscore.xml": {
      "get": {
        "operationId": "DailyBoxscoreRugby",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics, for all matches played on a given day",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/matches/{year}/{month}/{day}/schedule.xml": {
      "get": {
        "operationId": "DailyScheduleRugby",
        "summary": "Provides scheduled match information, including ca...",
        "description": "Provides scheduled match information, including category, tournament, and league information, for all matches played on a given day",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/matches/{year}/{month}/{day}/summary.xml": {
      "get": {
        "operationId": "DailySummaryRugby",
        "summary": "provides match information and scoring, including ...",
        "description": "provides match information and scoring, including team and player statistics, for all matches played on a given day",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/teams/{year}/hierarchy.xml": {
      "get": {
        "operationId": "LeagueHierarchyRugby",
        "summary": "",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/matches/{match_id}/boxscore.xml": {
      "get": {
        "operationId": "MatchBoxscoreRugby",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of the match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "d384f41a-3af7-4374-895e-4581fb619880"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/matches/{match_id}/summary.xml": {
      "get": {
        "operationId": "MatchSummaryRugby",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team and player statistics, lineups, and play by play",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "d384f41a-3af7-4374-895e-4581fb619880"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/{year}/schedule.xml": {
      "get": {
        "operationId": "ScheduleRugby",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The season (year)",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/teams/{year}/standings.xml": {
      "get": {
        "operationId": "StandingsRugby",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2015"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rugby-t1/teams/{team_id}/profile.xml": {
      "get": {
        "operationId": "TeamProfileRugby",
        "summary": "Team information and statistics, including player ...",
        "description": "Team information and statistics, including player roster information",
        "tags": [
          "Rugby"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Team Hierarchy",
            "in": "path",
            "required": true,
            "default": "0735d7a5-8055-48c7-b6af-9299a7cbeafc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}