{
  "swagger": "2.0",
  "info": {
    "title": "Media API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "The API Console (aka I/O Docs) is an interactive tool that enables you to interact with the Edmunds API without writing a single line of code!  Discover, learn, test and debug live API calls within seconds.  For more details on authentication, method references and special requirements, please see the API Documentation section. You must be signed in before using this tool. If you already have an account, you can sign in, otherwise, please register now. The Media API provides access to inventories photo content.",
    "x-mashery-id": "3061"
  },
  "schemes": [
    "http"
  ],
  "host": "api.edmunds.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.edmunds.com/api-documentation/overview/"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Photos"
    }
  ],
  "paths": {
    "/v1/api/vehiclephoto/service/findphotosbystyleid": {
      "get": {
        "operationId": "GetPhotosbyVehicleStyleID(Legacy)Photos",
        "summary": "Get vehicle photos by Edmunds vehicle style ID",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "styleId",
            "type": "string",
            "description": "Edmunds vehicle style ID",
            "in": "query",
            "required": true,
            "default": "200477465"
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format (json only)",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/media/v2/styles/{styleId}/photos": {
      "get": {
        "operationId": "GetPhotosbyStyleIDPhotos",
        "summary": "Get vehicle photos by Edmunds vehicle style ID",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "styleId",
            "type": "string",
            "description": "Edmunds vehicle style ID",
            "in": "path",
            "required": true,
            "default": "200703383"
          },
          {
            "name": "category",
            "type": "string",
            "description": "Photos category",
            "in": "query",
            "required": false,
            "enum": [
              "interior",
              "exterior"
            ]
          },
          {
            "name": "width",
            "type": "string",
            "description": "Photos width",
            "in": "query",
            "required": false,
            "enum": [
              "87",
              "98",
              "131",
              "150",
              "175",
              "185",
              "196",
              "276",
              "300",
              "396",
              "400",
              "423",
              "500",
              "600",
              "717",
              "815",
              "1280",
              "1600"
            ]
          },
          {
            "name": "height",
            "type": "string",
            "description": "Photos height",
            "in": "query",
            "required": false,
            "enum": [
              "55",
              "65",
              "87",
              "100",
              "110",
              "123",
              "131",
              "184",
              "200",
              "264",
              "267",
              "282",
              "315",
              "400",
              "478",
              "544",
              "854",
              "1067"
            ]
          },
          {
            "name": "shottype",
            "type": "string",
            "description": "Photos shot type abbreviation",
            "in": "query",
            "required": false,
            "enum": [
              "FQ",
              "RQ",
              "I",
              "RI",
              "S",
              "CARGO",
              "E",
              "W",
              "D",
              "CC",
              "F",
              "R",
              "DETAIL",
              "B",
              "O",
              "PROFILE"
            ]
          },
          {
            "name": "pagenum",
            "type": "integer",
            "description": "The page number of results",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "pagesize",
            "type": "integer",
            "description": "The page size of results (i.e. how many results per page to show)",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/media/v2/{makeNiceName}/{modelNiceName}/photos": {
      "get": {
        "operationId": "GetPhotosbyVehicleMakeandModelPhotos",
        "summary": "Get photos by vehicle make and model niceNames",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "makeNiceName",
            "type": "string",
            "description": "Vehicle make niceName",
            "in": "path",
            "required": true,
            "default": "audi"
          },
          {
            "name": "modelNiceName",
            "type": "string",
            "description": "Vehicle model niceName",
            "in": "path",
            "required": true,
            "default": "a3"
          },
          {
            "name": "category",
            "type": "string",
            "description": "Photos category",
            "in": "query",
            "required": false,
            "enum": [
              "interior",
              "exterior"
            ]
          },
          {
            "name": "width",
            "type": "string",
            "description": "Photos width",
            "in": "query",
            "required": false,
            "enum": [
              "87",
              "98",
              "131",
              "150",
              "175",
              "185",
              "196",
              "276",
              "300",
              "396",
              "400",
              "423",
              "500",
              "600",
              "717",
              "815",
              "1280",
              "1600"
            ]
          },
          {
            "name": "height",
            "type": "string",
            "description": "Photos height",
            "in": "query",
            "required": false,
            "enum": [
              "55",
              "65",
              "87",
              "100",
              "110",
              "123",
              "131",
              "184",
              "200",
              "264",
              "267",
              "282",
              "315",
              "400",
              "478",
              "544",
              "854",
              "1067"
            ]
          },
          {
            "name": "shottype",
            "type": "string",
            "description": "Photos shot type abbreviation",
            "in": "query",
            "required": false,
            "enum": [
              "FQ",
              "RQ",
              "I",
              "RI",
              "S",
              "CARGO",
              "E",
              "W",
              "D",
              "CC",
              "F",
              "R",
              "DETAIL",
              "B",
              "O",
              "PROFILE"
            ]
          },
          {
            "name": "pagenum",
            "type": "integer",
            "description": "The page number of results",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "pagesize",
            "type": "integer",
            "description": "The page size of results (i.e. how many results per page to show)",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/media/v2/{makeNiceName}/{modelNiceName}/{year}/photos": {
      "get": {
        "operationId": "GetPhotosbyVehicleMake,ModelandYearPhotos",
        "summary": "Get photos by vehicle make and model niceNames and...",
        "description": "Get photos by vehicle make and model niceNames and year",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "makeNiceName",
            "type": "string",
            "description": "Vehicle make niceName",
            "in": "path",
            "required": true,
            "default": "audi"
          },
          {
            "name": "modelNiceName",
            "type": "string",
            "description": "Vehicle model niceName",
            "in": "path",
            "required": true,
            "default": "a3"
          },
          {
            "name": "year",
            "type": "integer",
            "description": "Vehicle four-digit year",
            "in": "path",
            "required": true,
            "default": "2015"
          },
          {
            "name": "category",
            "type": "string",
            "description": "Photos category",
            "in": "query",
            "required": false,
            "enum": [
              "interior",
              "exterior"
            ]
          },
          {
            "name": "width",
            "type": "string",
            "description": "Photos width",
            "in": "query",
            "required": false,
            "enum": [
              "87",
              "98",
              "131",
              "150",
              "175",
              "185",
              "196",
              "276",
              "300",
              "396",
              "400",
              "423",
              "500",
              "600",
              "717",
              "815",
              "1280",
              "1600"
            ]
          },
          {
            "name": "height",
            "type": "string",
            "description": "Photos height",
            "in": "query",
            "required": false,
            "enum": [
              "55",
              "65",
              "87",
              "100",
              "110",
              "123",
              "131",
              "184",
              "200",
              "264",
              "267",
              "282",
              "315",
              "400",
              "478",
              "544",
              "854",
              "1067"
            ]
          },
          {
            "name": "shottype",
            "type": "string",
            "description": "Photos shot type abbreviation",
            "in": "query",
            "required": false,
            "enum": [
              "FQ",
              "RQ",
              "I",
              "RI",
              "S",
              "CARGO",
              "E",
              "W",
              "D",
              "CC",
              "F",
              "R",
              "DETAIL",
              "B",
              "O",
              "PROFILE"
            ]
          },
          {
            "name": "pagenum",
            "type": "integer",
            "description": "The page number of results",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "pagesize",
            "type": "integer",
            "description": "The page size of results (i.e. how many results per page to show)",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/media/v2/photoset": {
      "get": {
        "operationId": "GetPhotosbytagsPhotos",
        "summary": "Get photos by tags",
        "tags": [
          "Photos"
        ],
        "parameters": [
          {
            "name": "tag",
            "type": "string",
            "description": "Photos tags",
            "in": "query",
            "required": true,
            "default": "audi"
          },
          {
            "name": "category",
            "type": "string",
            "description": "Photos category",
            "in": "query",
            "required": false,
            "enum": [
              "interior",
              "exterior"
            ]
          },
          {
            "name": "width",
            "type": "string",
            "description": "Photos width",
            "in": "query",
            "required": false,
            "enum": [
              "87",
              "98",
              "131",
              "150",
              "175",
              "185",
              "196",
              "276",
              "300",
              "396",
              "400",
              "423",
              "500",
              "600",
              "717",
              "815",
              "1280",
              "1600"
            ]
          },
          {
            "name": "height",
            "type": "string",
            "description": "Photos height",
            "in": "query",
            "required": false,
            "enum": [
              "55",
              "65",
              "87",
              "100",
              "110",
              "123",
              "131",
              "184",
              "200",
              "264",
              "267",
              "282",
              "315",
              "400",
              "478",
              "544",
              "854",
              "1067"
            ]
          },
          {
            "name": "shottype",
            "type": "string",
            "description": "Photos shot type abbreviation",
            "in": "query",
            "required": false,
            "enum": [
              "FQ",
              "RQ",
              "I",
              "RI",
              "S",
              "CARGO",
              "E",
              "W",
              "D",
              "CC",
              "F",
              "R",
              "DETAIL",
              "B",
              "O",
              "PROFILE"
            ]
          },
          {
            "name": "pagenum",
            "type": "integer",
            "description": "The page number of results",
            "in": "query",
            "required": false,
            "default": "1"
          },
          {
            "name": "pagesize",
            "type": "integer",
            "description": "The page size of results (i.e. how many results per page to show)",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}