{
  "swagger": "2.0",
  "info": {
    "title": "Ad-DEV Management",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. DexMedia Distribution API",
    "x-mashery-id": "1844"
  },
  "schemes": [
    "http"
  ],
  "host": "api.dexmedia.com",
  "basePath": "/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.dexmedia.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Reporting"
    }
  ],
  "paths": {
    "/geographies?targetgeo={value}&type={geoType}": {
      "get": {
        "operationId": "GeographySearchReporting",
        "summary": "Geography Search",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "targetgeo",
            "type": "string",
            "description": "Postal Code/ALL/METRO/STATE/NATIONAL",
            "in": "query",
            "required": true,
            "default": "75216"
          },
          {
            "name": "type",
            "type": "string",
            "description": "Geo Type : Sample Values local/nonlocal",
            "in": "query",
            "required": true,
            "default": "local"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "value",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "geoType",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/categories?keyword={keyword}": {
      "get": {
        "operationId": "CategorySearchReporting",
        "summary": "Category Search",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "keyword",
            "type": "string",
            "description": "keyword",
            "in": "query",
            "required": true,
            "default": "plumber"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "keyword",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/catkeys?category={categoryname}": {
      "get": {
        "operationId": "CatKeySearchReporting",
        "summary": "CatKey Search",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "category",
            "type": "string",
            "description": "category",
            "in": "query",
            "required": true,
            "default": "Licensed Plumbing Contractors"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "categoryname",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/trackingline?companyid={companyid}": {
      "get": {
        "operationId": "TrackingLineDetailsReporting",
        "summary": "TrackingLine Details",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143587"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts?summary={true|false}&companyid={companyid}": {
      "get": {
        "operationId": "AccountsReporting",
        "summary": "Accounts",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "summary",
            "type": "string",
            "description": "List of Accounts",
            "in": "query",
            "required": true,
            "default": "false"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "true|false",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/accountid?companyid={companyid}": {
      "get": {
        "operationId": "AccountDetailsReporting",
        "summary": "Account Details",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "accountid",
            "type": "string",
            "description": "Account Id",
            "in": "query",
            "required": true,
            "default": "902640"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/accountid?": {
      "put": {
        "operationId": "UpdateAccountReporting",
        "summary": "Update Account",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "accountid",
            "type": "string",
            "description": "accountid",
            "in": "query",
            "required": true,
            "default": "902640"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/accountid/budget?": {
      "put": {
        "operationId": "UpdateAccountBudgetReporting",
        "summary": "Update Account Budget",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "accountid",
            "type": "string",
            "description": "accountid",
            "in": "query",
            "required": true,
            "default": "997816"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/accountid/status?": {
      "put": {
        "operationId": "UpdateAccountStatusReporting",
        "summary": "Update Account Status",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "accountid",
            "type": "string",
            "description": "Account Id",
            "in": "query",
            "required": true,
            "default": "902400"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts?": {
      "post": {
        "operationId": "AddAccountReporting",
        "summary": "Add Account",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/accountid/campaigns?companyid={companyid}": {
      "get": {
        "operationId": "AccountCampaignsReporting",
        "summary": "Account Campaigns",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "accountid",
            "type": "string",
            "description": "accountid",
            "in": "query",
            "required": true,
            "default": "902400"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateCampaignReporting",
        "summary": "Create Campaign",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "accountid",
            "type": "string",
            "description": "accountid",
            "in": "query",
            "required": true,
            "default": "902700"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid?companyid={companyid}": {
      "get": {
        "operationId": "CampaignDetailsReporting",
        "summary": "Campaign Details",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143584"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateCampaignReporting",
        "summary": "Update Campaign",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143584"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/ad?companyid={companyid}": {
      "get": {
        "operationId": "CampaignAdDetailsReporting",
        "summary": "Campaign Ad Details",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143584"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateCampaignAdReporting",
        "summary": "Update Campaign Ad",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/status?companyid={companyid}": {
      "get": {
        "operationId": "GetCampaignStatusReporting",
        "summary": "Get Campaign Status",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143584"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateCampaignStatusReporting",
        "summary": "Update Campaign Status",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/bid?companyid={companyid}": {
      "get": {
        "operationId": "GetCampaignBidAmountReporting",
        "summary": "Get Campaign Bid Amount",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143584"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateCampaignBidReporting",
        "summary": "Update Campaign Bid",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/categories?companyid={companyid}": {
      "get": {
        "operationId": "GetCampaignCategoriesReporting",
        "summary": "Get Campaign Categories",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "AddCampaignCategoriesReporting",
        "summary": "Add Campaign Categories",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateCampaignCategoriesReporting",
        "summary": "Update Campaign Categories",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/categories/categoryid?companyid={companyid}": {
      "delete": {
        "operationId": "DeleteCampaignCategoriesReporting",
        "summary": "Delete Campaign Categories",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "categoryid",
            "type": "string",
            "description": "categoryid",
            "in": "query",
            "required": true,
            "default": "518482"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/geographies?companyid={companyid}": {
      "get": {
        "operationId": "GetCampaignGeographiesReporting",
        "summary": "Get Campaign Geographies",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143584"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "AddCampaignGeographiesReporting",
        "summary": "Add Campaign Geographies",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateCampaignGeographiesReporting",
        "summary": "Update Campaign Geographies",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/geographies/geoid?companyid={companyid}": {
      "delete": {
        "operationId": "DeleteCampaignGeographiesReporting",
        "summary": "Delete Campaign Geographies",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "geoid",
            "type": "string",
            "description": "geoid",
            "in": "query",
            "required": true,
            "default": "1044"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/categories/categoryid/catkeys?companyid={companyid}": {
      "get": {
        "operationId": "GetCampaignCatKeysReporting",
        "summary": "Get Campaign CatKeys",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "categoryid",
            "type": "string",
            "description": "categoryid",
            "in": "query",
            "required": true,
            "default": "493751"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "AddCampaignCatKeysReporting",
        "summary": "Add Campaign CatKeys",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "categoryid",
            "type": "string",
            "description": "categoryid",
            "in": "query",
            "required": true,
            "default": "493751"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdateCampaignCatKeysReporting",
        "summary": "Update Campaign CatKeys",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "categoryid",
            "type": "string",
            "description": "categoryid",
            "in": "query",
            "required": true,
            "default": "493751"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/campaigns/campaignid/categories/categoryid/catkeys/catkeyid?companyid={companyid}": {
      "delete": {
        "operationId": "DeleteCampaignCatKeysReporting",
        "summary": "Delete Campaign CatKeys",
        "tags": [
          "Reporting"
        ],
        "parameters": [
          {
            "name": "campaignid",
            "type": "string",
            "description": "campaignid",
            "in": "query",
            "required": true,
            "default": "100143560"
          },
          {
            "name": "categoryid",
            "type": "string",
            "description": "categoryid",
            "in": "query",
            "required": true,
            "default": "523268"
          },
          {
            "name": "catkeyid",
            "type": "string",
            "description": "catkeyid",
            "in": "query",
            "required": true,
            "default": "512427"
          },
          {
            "name": "companyid",
            "type": "string",
            "description": "companyid",
            "in": "query",
            "required": true,
            "default": "4146393"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "companyid",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}