{
  "swagger": "2.0",
  "info": {
    "title": "Olympics Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Olympics API",
    "x-mashery-id": "4884"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Olympics"
    }
  ],
  "paths": {
    "/oly-testing2/event/{event_id}/entrylist.xml": {
      "get": {
        "operationId": "EntrylistOlympics",
        "summary": "Provides sport, disciplie, event, and athletes com...",
        "description": "Provides sport, disciplie, event, and athletes competing in the events",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "event_id",
            "type": "string",
            "description": "The ID of an event",
            "in": "path",
            "required": true,
            "default": "ddcdebd8-37a1-4528-825e-ea30b74e1369"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/event/{event_id}/results.xml": {
      "get": {
        "operationId": "EventResultsOlympics",
        "summary": "Provides sport, discipline, event, and live result...",
        "description": "Provides sport, discipline, event, and live results of the events",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "event_id",
            "type": "string",
            "description": "The ID of an event",
            "in": "path",
            "required": true,
            "default": "ddcdebd8-37a1-4528-825e-ea30b74e1369"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/event/{event_id}/medals.xml": {
      "get": {
        "operationId": "Medals-byEventOlympics",
        "summary": "Provides sport, discipline, event, and medals earn...",
        "description": "Provides sport, discipline, event, and medals earned by athletes and teams",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "event_id",
            "type": "string",
            "description": "The ID of an event",
            "in": "path",
            "required": true,
            "default": "ddcdebd8-37a1-4528-825e-ea30b74e1369"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/organization/2016/{org_id}/medals.xml": {
      "get": {
        "operationId": "Medals-byOrganizationOlympics",
        "summary": "Provides sport, discipline, event, and medals earn...",
        "description": "Provides sport, discipline, event, and medals earned by organizations",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "org_id",
            "type": "string",
            "description": "The ID or alias of an organization",
            "in": "path",
            "required": true,
            "default": "USA"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/{year}/medals.xml": {
      "get": {
        "operationId": "MedalsOverallOlympics",
        "summary": "Provides medals achieved for all organizations bro...",
        "description": "Provides medals achieved for all organizations broken down by medal type and total medals",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/organization/list.xml": {
      "get": {
        "operationId": "OrganizationListOlympics",
        "summary": "Provides a list of organizations",
        "tags": [
          "Olympics"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/organization/2016/{org_id}/profile.xml": {
      "get": {
        "operationId": "OrganizationProfileOlympics",
        "summary": "Provides organization information including athlet...",
        "description": "Provides organization information including athletes",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "org_id",
            "type": "string",
            "description": "The ID or alias of an organization",
            "in": "path",
            "required": true,
            "default": "7b16cbb1-e432-4a1e-8184-d7798b3b6c1d"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/{year}/records.xml": {
      "get": {
        "operationId": "RecordsOlympics",
        "summary": "Provides athletes or teams who hold records and re...",
        "description": "Provides athletes or teams who hold records and records held",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/oly-testing2/{year}/schedule.xml": {
      "get": {
        "operationId": "ScheduleOlympics",
        "summary": "Provides athletes or teams who hold records and re...",
        "description": "Provides athletes or teams who hold records and records held",
        "tags": [
          "Olympics"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}