{
  "swagger": "2.0",
  "info": {
    "title": "EquipmentWatch API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://api.penton.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "4214"
  },
  "schemes": [
    "http"
  ],
  "host": "api.penton.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://api.penton.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Taxonomy"
    },
    {
      "name": "Specs"
    },
    {
      "name": "Values"
    },
    {
      "name": "Retail Rental"
    },
    {
      "name": "Market Data"
    },
    {
      "name": "Verification"
    },
    {
      "name": "Costs"
    },
    {
      "name": "User"
    }
  ],
  "paths": {
    "/taxonomy/models": {
      "get": {
        "operationId": "GETModelsTaxonomy",
        "summary": "Get models",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer name (e.g., \"Komatsu\")",
            "in": "query",
            "required": false
          },
          {
            "name": "manufacturer_id",
            "type": "string",
            "description": "Manufacturer id",
            "in": "query",
            "required": false
          },
          {
            "name": "category",
            "type": "string",
            "description": "Category name (e.g., \"Crawler Tractors\")",
            "in": "query",
            "required": false
          },
          {
            "name": "category_id",
            "type": "string",
            "description": "Category id",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Subtype name (e.g., \"Standard Crawler Dozers\")",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype_id",
            "type": "string",
            "description": "Subtype id",
            "in": "query",
            "required": false
          },
          {
            "name": "size_class_id",
            "type": "string",
            "description": "Size class id",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          },
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code. Use following notation to search by muliple product codes: \"CG,VG,SNG,RR,M&S,AG\"",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 1000). If limit is not specified, 1000 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/taxonomy/manufacturers": {
      "get": {
        "operationId": "GETManufacturersTaxonomy",
        "summary": "Get manufacturers",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "category",
            "type": "string",
            "description": "Category name (e.g., \"Crawler Tractors\")",
            "in": "query",
            "required": false
          },
          {
            "name": "category_id",
            "type": "string",
            "description": "Category id",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Subtype name (e.g., \"Standard Crawler Dozers\")",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype_id",
            "type": "string",
            "description": "Subtype id",
            "in": "query",
            "required": false
          },
          {
            "name": "size_class_id",
            "type": "string",
            "description": "Size class id",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          },
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code. Use following notation to search by multiple product codes: \"CG,VG,SNG,RR,M&S,AG\"",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 50). If limit is not specified, 50 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/taxonomy/categories": {
      "get": {
        "operationId": "GETCategoriesTaxonomy",
        "summary": "Get categories",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code. Use following notation to search by multiple product codes: \"CG,VG,SNG,RR,M&S,AG\"",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/taxonomy/subtypes": {
      "get": {
        "operationId": "GETSubtypesTaxonomy",
        "summary": "Get subtypes",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "category",
            "type": "string",
            "description": "Category name (e.g., \"Crawler Tractors\")",
            "in": "query",
            "required": false
          },
          {
            "name": "category_id",
            "type": "string",
            "description": "Category id",
            "in": "query",
            "required": false
          },
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code. Use following notation to search by multiple product codes: \"CG,VG,SNG,RR,M&S,AG\"",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 1000). If limit is not specified, 1000 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/taxonomy/sizes": {
      "get": {
        "operationId": "GETSizesTaxonomy",
        "summary": "Get sizes",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "category",
            "type": "string",
            "description": "Category name (e.g., \"Crawler Tractors\")",
            "in": "query",
            "required": false
          },
          {
            "name": "category_id",
            "type": "string",
            "description": "Category id",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Subtype name (e.g., \"Standard Crawler Dozers\")",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype_id",
            "type": "string",
            "description": "Subtype id",
            "in": "query",
            "required": false
          },
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code. Use following notation to search by multiple product codes: \"CG,VG,SNG,RR,M&S,AG\"",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 25). If limit is not specified, 25 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/taxonomy/configurations": {
      "get": {
        "operationId": "GETConfigurationsTaxonomy",
        "summary": "Get configurations",
        "tags": [
          "Taxonomy"
        ],
        "parameters": [
          {
            "name": "model_rdb_id",
            "type": "string",
            "description": "Model rdb id",
            "in": "query",
            "required": false
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model name (e.g., \"140H\")",
            "in": "query",
            "required": false
          },
          {
            "name": "category_id",
            "type": "string",
            "description": "Category id",
            "in": "query",
            "required": false
          },
          {
            "name": "category",
            "type": "string",
            "description": "Category name (e.g., \"Crawler Tractors\")",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype_id",
            "type": "string",
            "description": "Subtype id",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Subtype name (e.g., \"Standard Crawler Dozers\")",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          },
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code. Use following notation to search by muliple product codes: \"CG,VG,SNG,RR,M&S,AG\"",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 1000). If limit is not specified, 1000 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/specs/display/{manufacturer}/{model}": {
      "get": {
        "operationId": "GETDisplaySpecs,FriendlySpecs",
        "summary": "GET Display Specs, Friendly",
        "tags": [
          "Specs"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/specs/display/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETDisplaySpecsbyModelIDSpecs",
        "summary": "GET Display Specs by Model ID",
        "tags": [
          "Specs"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/specs/rich/{manufacturer}/{model}": {
      "get": {
        "operationId": "GETSpecs,FriendlySpecs",
        "summary": "GET Rich Specs, Friendly",
        "tags": [
          "Specs"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/specs/rich/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETSpecsbyModelIDSpecs",
        "summary": "GET Rich Specs by Model ID",
        "tags": [
          "Specs"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/values/value/{manufacturer}/{model}": {
      "get": {
        "operationId": "GETValues,FriendlyValues",
        "summary": "Get values for a specified model",
        "tags": [
          "Values"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "path",
            "required": true
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model Year",
            "in": "query",
            "required": false
          },
          {
            "name": "revision_date",
            "type": "string",
            "description": "Revision Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "condition",
            "type": "string",
            "description": "Condition",
            "in": "query",
            "required": false,
            "enum": [
              "Excellent",
              "Very Good",
              "Good",
              "Fair",
              "Poor"
            ]
          },
          {
            "name": "meterreads",
            "type": "string",
            "description": "Uses for adjusted calculations based off hours (off-highway) or miles and kilometers (on-highway)",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/values/value/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETValuesbyModelIDValues",
        "summary": "Get values for a specified model",
        "tags": [
          "Values"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model Year",
            "in": "query",
            "required": false
          },
          {
            "name": "revision_date",
            "type": "string",
            "description": "Revision Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "condition",
            "type": "string",
            "description": "Condition",
            "in": "query",
            "required": false,
            "enum": [
              "Excellent",
              "Very Good",
              "Good",
              "Fair",
              "Poor"
            ]
          },
          {
            "name": "meterreads",
            "type": "string",
            "description": "Uses for adjusted calculations based off hours (off-highway) or miles and kilometers (on-highway)",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/values/optionsandextras/{modelId}": {
      "get": {
        "operationId": "GETOptionsandExtrasValues",
        "summary": "Get options and extras for a specified model Id",
        "tags": [
          "Values"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/values/ranges/{modelId}": {
      "get": {
        "operationId": "GETRangeValuesValues",
        "summary": "Get range values by model id",
        "tags": [
          "Values"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          },
          {
            "name": "condition",
            "type": "string",
            "description": "Model condition",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/values/trends/{modelId}": {
      "get": {
        "operationId": "GETValueTrendingValues",
        "summary": "Get value trending by model id",
        "tags": [
          "Values"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          },
          {
            "name": "condition",
            "type": "string",
            "description": "Model condition",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "meterreads",
            "type": "string",
            "description": "Uses for adjusted calculations based off hours (off-highway) or miles and kilometers (on-highway)",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/retailrental/rates/{manufacturer}/{model}": {
      "get": {
        "operationId": "GETRentalRates,FriendlyRetailRental",
        "summary": "Get retail rental rates",
        "tags": [
          "Retail Rental"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\"",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "revision_date",
            "type": "string",
            "description": "Revision Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/retailrental/rates/{modelId}": {
      "get": {
        "operationId": "GETRentalRatesbyModelIDRetailRental",
        "summary": "Get retail rental rates",
        "tags": [
          "Retail Rental"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "revision_date",
            "type": "string",
            "description": "Revision Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/retailrental/rates/size_class/{sizeClassRdbId}": {
      "get": {
        "operationId": "GETRentalRatesbySizeClassIDRetailRental",
        "summary": "Get retail rental rates",
        "tags": [
          "Retail Rental"
        ],
        "parameters": [
          {
            "name": "sizeClassRdbId",
            "type": "string",
            "description": "Size Class Id",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "revision_date",
            "type": "string",
            "description": "Revision Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/retailrental/houses": {
      "get": {
        "operationId": "GETRentalHousesRetailRental",
        "summary": "Get retail rental houses",
        "tags": [
          "Retail Rental"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/retailrental/houserates/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETRentalHouseRatesbyModelIDRetailRental",
        "summary": "Get retail rental house rates by model id",
        "tags": [
          "Retail Rental"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "house_id",
            "type": "string",
            "description": "House ID",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/retailrental/houserates/size_class_id/{sizeClassId}": {
      "get": {
        "operationId": "GETRentalHouseRatesbySizeClassIDRetailRental",
        "summary": "Get retail rental house rates by size class id",
        "tags": [
          "Retail Rental"
        ],
        "parameters": [
          {
            "name": "sizeClassId",
            "type": "string",
            "description": "Size Class Id",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "house_id",
            "type": "string",
            "description": "House ID",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/auction": {
      "get": {
        "operationId": "GETMarketDataAuctionMarketData",
        "summary": "Get market data auction by model and manufacturer ...",
        "description": "Get market data auction by model and manufacturer name",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "model",
            "type": "string",
            "description": "Model name",
            "in": "query",
            "required": false
          },
          {
            "name": "model_rdb_id",
            "type": "string",
            "description": "Model rdb id",
            "in": "query",
            "required": false
          },
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer name",
            "in": "query",
            "required": false
          },
          {
            "name": "manufacturer_id",
            "type": "string",
            "description": "Manufacturer ID",
            "in": "query",
            "required": false
          },
          {
            "name": "from_date",
            "type": "string",
            "description": "From Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "to_date",
            "type": "string",
            "description": "From Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model Year",
            "in": "query",
            "required": false
          },
          {
            "name": "category",
            "type": "string",
            "description": "Category name (e.g., \"Crawler Tractors\")",
            "in": "query",
            "required": false
          },
          {
            "name": "category_id",
            "type": "string",
            "description": "Category ID",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Subtype name (e.g., \"Standard Crawler Dozers\")",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype_id",
            "type": "string",
            "description": "Subtype ID",
            "in": "query",
            "required": false
          },
          {
            "name": "size_name",
            "type": "string",
            "description": "Size class name",
            "in": "query",
            "required": false
          },
          {
            "name": "size_id",
            "type": "string",
            "description": "Size ID",
            "in": "query",
            "required": false
          },
          {
            "name": "price_low",
            "type": "string",
            "description": "Lower bound of price range",
            "in": "query",
            "required": false
          },
          {
            "name": "price_high",
            "type": "string",
            "description": "Higher bound of price range",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "participant_id",
            "type": "string",
            "description": "Participant ID",
            "in": "query",
            "required": false
          },
          {
            "name": "serial_number",
            "type": "string",
            "description": "Serial Number",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 1000). If limit is not specified, 1000 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/resale": {
      "get": {
        "operationId": "GETMarketDataResaleMarketData",
        "summary": "Get market data resale by model and manufacturer n...",
        "description": "Get market data resale by model and manufacturer name",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "query",
            "required": false
          },
          {
            "name": "model_rdb_id",
            "type": "string",
            "description": "Model rdb id",
            "in": "query",
            "required": false
          },
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer name (e.g., \"Caterpillar\")",
            "in": "query",
            "required": false
          },
          {
            "name": "manufacturer_id",
            "type": "string",
            "description": "Manufacturer ID",
            "in": "query",
            "required": false
          },
          {
            "name": "from_date",
            "type": "string",
            "description": "From Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "to_date",
            "type": "string",
            "description": "From Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model Year",
            "in": "query",
            "required": false
          },
          {
            "name": "category",
            "type": "string",
            "description": "Category name (e.g., \"Crawler Tractors\")",
            "in": "query",
            "required": false
          },
          {
            "name": "category_id",
            "type": "string",
            "description": "Category ID",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Subtype name (e.g., \"Standard Crawler Dozers\")",
            "in": "query",
            "required": false
          },
          {
            "name": "subtype_id",
            "type": "string",
            "description": "Subtype ID",
            "in": "query",
            "required": false
          },
          {
            "name": "size_name",
            "type": "string",
            "description": "Size class name",
            "in": "query",
            "required": false
          },
          {
            "name": "size_id",
            "type": "string",
            "description": "Size ID",
            "in": "query",
            "required": false
          },
          {
            "name": "price_low",
            "type": "string",
            "description": "Lower bound of price range",
            "in": "query",
            "required": false
          },
          {
            "name": "price_high",
            "type": "string",
            "description": "Higher bound of price range",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "participant_id",
            "type": "string",
            "description": "Participant ID",
            "in": "query",
            "required": false
          },
          {
            "name": "serial_number",
            "type": "string",
            "description": "Serial Number",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 1000). If limit is not specified, 1000 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/popularity/{manufacturer}/{model}": {
      "get": {
        "operationId": "GETMarketDataPopularity,FriendlyMarketData",
        "summary": "Get market data popularity by model and manufactur...",
        "description": "Get market data popularity by model and manufacturer name",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/popularity/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETMarketDataPopularityMarketData",
        "summary": "Get market data popularity by Model ID",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/utilization/{manufacturer}/{model}": {
      "get": {
        "operationId": "GETMarketDataUtilization,FriendlyMarketData",
        "summary": "Get market data utilization by model and manufactu...",
        "description": "Get market data utilization by model and manufacturer name",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "path",
            "required": true
          },
          {
            "name": "meterreads",
            "type": "string",
            "description": "Uses for adjusted calculations based off hours (off-highway) or miles and kilometers (on-highway)",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/utilization/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETMarketDataUtilizationMarketData",
        "summary": "Get market data utilization by model id",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          },
          {
            "name": "meterreads",
            "type": "string",
            "description": "Uses for adjusted calculations based off hours (off-highway) or miles and kilometers (on-highway)",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/serialnumber/{serialNumber}": {
      "get": {
        "operationId": "GETMarketDatabySerialNumberMarketData",
        "summary": "Get market data by serial number",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "serialNumber",
            "type": "string",
            "description": "Serial Number",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/participants": {
      "get": {
        "operationId": "GETMarketDataParticipantsMarketData",
        "summary": "Get market data participants",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "sale_type",
            "type": "string",
            "description": "Sale Type",
            "in": "query",
            "required": false,
            "enum": [
              "Auction",
              "Resale"
            ]
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 1000). If limit is not specified, 1000 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/participants/count": {
      "get": {
        "operationId": "GETMarketDataParticipantsCountMarketData",
        "summary": "Get count of market data participants",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "sale_type",
            "type": "string",
            "description": "Sale Type",
            "in": "query",
            "required": false,
            "enum": [
              "Auction",
              "Resale"
            ]
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 1000). If limit is not specified, 1000 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/volume/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETMarketDataVolumeTrendingbyModelIDMarketData",
        "summary": "Get market data volume trending by Model ID",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Year",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/volume/sub_type_id/{subtypeId}": {
      "get": {
        "operationId": "GETMarketDataVolumeTrendingbySubtypeIDMarketData",
        "summary": "Get market data volume trending by Subtype ID",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "subtypeId",
            "type": "string",
            "description": "Subtype Id",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Year",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 25). If limit is not specified, 25 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/marketdata/volume/size_class_id/{sizeClassId}": {
      "get": {
        "operationId": "GETMarketDataVolumeTrendingbySizeClassIDMarketData",
        "summary": "Get market data volume trending by Size Class ID",
        "tags": [
          "Market Data"
        ],
        "parameters": [
          {
            "name": "sizeClassId",
            "type": "string",
            "description": "Size Class Id",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Year",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/verification/YoM/{serialNumber}": {
      "get": {
        "operationId": "GETYearVerificationVerification",
        "summary": "Get serial number verification status",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "serialNumber",
            "type": "string",
            "description": "Serial Number",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "query",
            "required": false
          },
          {
            "name": "model_rdb_id",
            "type": "string",
            "description": "Model rdb id",
            "in": "query",
            "required": false
          },
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "query",
            "required": false
          },
          {
            "name": "manufacturer_id",
            "type": "string",
            "description": "Manufacturer ID",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/verification/notes/{manufacturer}": {
      "get": {
        "operationId": "GETSerialNumberManufacturerNotes,FriendlyVerification",
        "summary": "Get manufacturer notes by Manufacturer name",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/verification/notes/manufacturer_id/{manufacturerId}": {
      "get": {
        "operationId": "GETSerialNumberManufacturerNotesbyManufacturerIDVerification",
        "summary": "Get manufacturer notes by Manufacturer name",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "manufacturerId",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/verification/notes/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETSerialNumberManufacturerNotesbyModelIDVerification",
        "summary": "Get manufacturer notes by Model name",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/verification/location/{manufacturerName}": {
      "get": {
        "operationId": "GETSerialNumberLocation,FriendlyVerification",
        "summary": "Get Serial Number Location by Manufacturer name",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "manufacturerName",
            "type": "string",
            "description": "Manufacturer Name (e.g., \"Caterpillar\")",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model Name (e.g., \"140H\")",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/verification/location/manufacturer_id/{manufacturerId}": {
      "get": {
        "operationId": "GETSerialNumberLocationbyManufacturerIDVerification",
        "summary": "Get Serial Number Location by Manufacturer ID",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "manufacturerId",
            "type": "string",
            "description": "Manufacturer Id",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model name (e.g., \"140H\")",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/verification/location/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETSerialNumberLocationbyModelIDVerification",
        "summary": "Get Serial Number Location by Model ID",
        "tags": [
          "Verification"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model Id",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model name",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/costs/recovery/{manufacturer}/{model}": {
      "get": {
        "operationId": "GETCostRecoveryRate,FriendlyCosts",
        "summary": "Get Cost Recovery Rates by Model Name and Manufact...",
        "description": "Get Cost Recovery Rates by Model Name and Manufacturer Name",
        "tags": [
          "Costs"
        ],
        "parameters": [
          {
            "name": "manufacturer",
            "type": "string",
            "description": "Manufacturer name",
            "in": "path",
            "required": true
          },
          {
            "name": "model",
            "type": "string",
            "description": "Model name",
            "in": "path",
            "required": true
          },
          {
            "name": "configuration_sequence",
            "type": "string",
            "description": "Configuration sequence",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          },
          {
            "name": "time_standard",
            "type": "string",
            "description": "Time standard",
            "in": "query",
            "required": false,
            "enum": [
              "Monthly",
              "Weekly",
              "Daily",
              "Hourly"
            ]
          },
          {
            "name": "revision_date",
            "type": "string",
            "description": "Revision Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "city",
            "type": "string",
            "description": "City",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/costs/recovery/model_rdb_id/{modelId}": {
      "get": {
        "operationId": "GETCostRecoveryRatebyModelIDCosts",
        "summary": "Get Cost Recovery Rates by Model ID",
        "tags": [
          "Costs"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          },
          {
            "name": "configuration_sequence",
            "type": "string",
            "description": "Configuration sequence",
            "in": "query",
            "required": false
          },
          {
            "name": "year",
            "type": "string",
            "description": "Model year",
            "in": "query",
            "required": false
          },
          {
            "name": "time_standard",
            "type": "string",
            "description": "Time standard",
            "in": "query",
            "required": false,
            "enum": [
              "Monthly",
              "Weekly",
              "Daily",
              "Hourly"
            ]
          },
          {
            "name": "revision_date",
            "type": "string",
            "description": "Revision Date. Enter in format YYYY-MM-DD",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Available values are \"United States\" and \"Canada\"",
            "in": "query",
            "required": false
          },
          {
            "name": "subdivision",
            "type": "string",
            "description": "E.g., \"New York\" or \"Quebec\"",
            "in": "query",
            "required": false
          },
          {
            "name": "city",
            "type": "string",
            "description": "City",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/costs/internal/ownership/{modelId}": {
      "get": {
        "operationId": "GETInternalChargeRateOwnershipCosts",
        "summary": "GET Internal Charge Rate Ownership",
        "tags": [
          "Costs"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          },
          {
            "name": "configuration_sequence",
            "type": "string",
            "description": "Configuration sequence",
            "in": "query",
            "required": false
          },
          {
            "name": "original_price",
            "type": "string",
            "description": "Original price",
            "in": "query",
            "required": false
          },
          {
            "name": "sales_tax",
            "type": "string",
            "description": "Sales tax",
            "in": "query",
            "required": false
          },
          {
            "name": "economic_life_hours",
            "type": "string",
            "description": "Economic Life Hours",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_use_hours",
            "type": "string",
            "description": "Annual Use Hours",
            "in": "query",
            "required": false
          },
          {
            "name": "discount",
            "type": "string",
            "description": "Discount",
            "in": "query",
            "required": false
          },
          {
            "name": "salvage_value",
            "type": "string",
            "description": "Salvage Value",
            "in": "query",
            "required": false
          },
          {
            "name": "resale_value",
            "type": "string",
            "description": "Resale Value",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_overhead",
            "type": "string",
            "description": "Annual Overhead",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_overhaul_parts",
            "type": "string",
            "description": "Annual Overhaul Parts",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_overhaul_labor",
            "type": "string",
            "description": "Annual Overhaul Labor",
            "in": "query",
            "required": false
          },
          {
            "name": "mechanics_wage",
            "type": "string",
            "description": "Mechanics Wage",
            "in": "query",
            "required": false
          },
          {
            "name": "freight",
            "type": "string",
            "description": "Freight",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/costs/internal/operating/{modelId}": {
      "get": {
        "operationId": "GETInternalChargeRateOperatingCosts",
        "summary": "GET Internal Charge Rate Operating",
        "tags": [
          "Costs"
        ],
        "parameters": [
          {
            "name": "modelId",
            "type": "string",
            "description": "Model ID",
            "in": "path",
            "required": true
          },
          {
            "name": "configuration_sequence",
            "type": "string",
            "description": "Configuration sequence",
            "in": "query",
            "required": false
          },
          {
            "name": "fuel",
            "type": "string",
            "description": "Fuel",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_use_hours",
            "type": "string",
            "description": "Annual Use Hours",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_field_labor_hours",
            "type": "string",
            "description": "Annual field labor hours",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_field_repair_parts",
            "type": "string",
            "description": "Annual field repair parts",
            "in": "query",
            "required": false
          },
          {
            "name": "annual_misc_supply_parts",
            "type": "string",
            "description": "Annual misc supply parts",
            "in": "query",
            "required": false
          },
          {
            "name": "gec",
            "type": "string",
            "description": "Annual ground engaging component",
            "in": "query",
            "required": false
          },
          {
            "name": "primary_engine_consumption",
            "type": "string",
            "description": "Primary Engine Fuel/Electrical Consumption",
            "in": "query",
            "required": false
          },
          {
            "name": "hourly_lube_costs",
            "type": "string",
            "description": "Hourly Lube Costs",
            "in": "query",
            "required": false
          },
          {
            "name": "mechanics_wage",
            "type": "string",
            "description": "Mechanics Wage",
            "in": "query",
            "required": false
          },
          {
            "name": "cost_of_new_set_tires",
            "type": "string",
            "description": "Cost of new set of tire",
            "in": "query",
            "required": false
          },
          {
            "name": "tire_life_hours",
            "type": "string",
            "description": "Tire life hours",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user/savedmodels/{advantageUserId}": {
      "get": {
        "operationId": "GETAllSavedModelsUser",
        "summary": "Get All Saved Models by Advantage User ID",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "advantageUserId",
            "type": "string",
            "description": "Advanatge User Id",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 25). If limit is not specified, 25 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user/groupmodels/{advantageUserId}/{groupId}": {
      "get": {
        "operationId": "GETGroupModelsUser",
        "summary": "Get Group Models by Advantage User ID and Group ID...",
        "description": "Get Group Models by Advantage User ID and Group ID",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "advantageUserId",
            "type": "string",
            "description": "Advanatge User Id",
            "in": "path",
            "required": true
          },
          {
            "name": "groupId",
            "type": "string",
            "description": "Group Id",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 25). If limit is not specified, 25 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user/groups/{advantageUserId}": {
      "get": {
        "operationId": "GETGroupsUser",
        "summary": "Get Groups by Advantage User ID",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "advantageUserId",
            "type": "string",
            "description": "Advanatge User Id",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Parameter is used to limit the number of results returned in the responce (max 25). If limit is not specified, 25 items will be returned in the result by default.",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used to skip some number of items before beginning to return results. If offset is not specified, 0 items will be skipped in the result by default",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user/savedmodels": {
      "post": {
        "operationId": "POSTAllSavedModelsUser",
        "summary": "Saved Models",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "Content-type",
            "type": "string",
            "description": "Leave default value for this field",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user/groupmodels": {
      "post": {
        "operationId": "POSTGroupModelsUser",
        "summary": "Group Models",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "Content-type",
            "type": "string",
            "description": "Leave default value for this field",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}