{
  "swagger": "2.0",
  "info": {
    "title": "NASCAR Official Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NASCAR Official v3 API",
    "x-mashery-id": "2936"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NASCAR Official"
    }
  ],
  "paths": {
    "/nascar-ot3/{nascar_series}/{year}/drivers/list{format}": {
      "get": {
        "operationId": "DriversNASCAROfficial",
        "summary": "Obtain driver information for NASCAR.  NOTE:  The ...",
        "description": "Obtain driver information for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the racing season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/tracks/list{format}": {
      "get": {
        "operationId": "TracksNASCAROfficial",
        "summary": "Obtain track information for NASCAR.  NOTE:  The 2...",
        "description": "Obtain track information for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/{year}/races/schedule{format}": {
      "get": {
        "operationId": "ScheduleNASCAROfficial",
        "summary": "Obtain schedule for NASCAR.  NOTE:  The 2012 sampl...",
        "description": "Obtain schedule for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the racing season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/races/{race_id}/entry_list{format}": {
      "get": {
        "operationId": "EntryListNASCAROfficial",
        "summary": "Obtain entry list information for NASCAR.  NOTE:  ...",
        "description": "Obtain entry list information for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "UID for a race, get from schedule feed",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/races/{race_id}/practices{format}": {
      "get": {
        "operationId": "PracticeLeaderboardNASCAROfficial",
        "summary": "Obtain practice leaderboard information for NASCAR...",
        "description": "Obtain practice leaderboard information for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "UID for a race, get from schedule feed",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/races/{race_id}/qualifying{format}": {
      "get": {
        "operationId": "QualifyingLeaderboardNASCAROfficial",
        "summary": "Obtain qualifying leaderboard information for NASC...",
        "description": "Obtain qualifying leaderboard information for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "UID for a race, get from schedule feed",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/races/{race_id}/starting_grid{format}": {
      "get": {
        "operationId": "StartingGridNASCAROfficial",
        "summary": "Obtain starting grid information for NASCAR.  NOTE...",
        "description": "Obtain starting grid information for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "UID for a race, get from schedule feed",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/races/{race_id}/results{format}": {
      "get": {
        "operationId": "RaceLeaderboardNASCAROfficial",
        "summary": "Obtain race leaderboard information for NASCAR.  N...",
        "description": "Obtain race leaderboard information for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "UID for a race, get from schedule feed",
            "in": "path",
            "required": true,
            "default": "cf82b04d-cc9c-4621-aa9b-cbc6ee269de7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/{year}/standings/{standings_type}{format}": {
      "get": {
        "operationId": "Driver,Rookie,Owner,andManufacturerStandingsNASCAROfficial",
        "summary": "Obtain standings for drivers, rookies, owners, and...",
        "description": "Obtain standings for drivers, rookies, owners, and manufacturers.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the racing season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "standings_type",
            "type": "string",
            "description": "Season year",
            "in": "path",
            "required": true,
            "enum": [
              "drivers",
              "rookies",
              "owners",
              "manufacturers"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{nascar_series}/drivers/{year}/drivers{format}": {
      "get": {
        "operationId": "DriverStatisticsNASCAROfficial",
        "summary": "Obtain driver statistics for NASCAR.  NOTE:  The 2...",
        "description": "Obtain driver statistics for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  mc = Monster Energy Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "mc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the racing season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-ot3/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNASCAROfficial",
        "summary": "information on any changes made to race informatio...",
        "description": "information on any changes made to race information, race results, driver information, track information, or standings",
        "tags": [
          "NASCAR Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The month of the season",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day of the month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}