{
  "swagger": "2.0",
  "info": {
    "title": "Soccer Asia Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Soccer - Asia API",
    "x-mashery-id": "3517"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Soccer - Asia"
    }
  ],
  "paths": {
    "/soccer-t2/as/matches/schedule.xml": {
      "get": {
        "operationId": "ScheduleSoccer-Asia",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/matches/{year}/{month}/{day}/schedule.xml": {
      "get": {
        "operationId": "DailyScheduleSoccer-Asia",
        "summary": "Provides scheduled match information, including ca...",
        "description": "Provides scheduled match information, including category, tournament, and league information, for all matches played on a given day",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/matches/{match_id}/summary.xml": {
      "get": {
        "operationId": "MatchSummarySoccer-Asia",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team and player statistics, lineups, and play by play",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "017ebe3a-60dc-4a32-808b-61f498d63be0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/matches/{year}/{month}/{day}/summary.xml": {
      "get": {
        "operationId": "DailySummarySoccer-Asia",
        "summary": "provides match information and scoring, including ...",
        "description": "provides match information and scoring, including team and player statistics, for all matches played on a given day",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/matches/{year}/{month}/{day}/boxscore.xml": {
      "get": {
        "operationId": "DailyBoxscoreSoccer-Asia",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics, for all matches played on a given day",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/matches/{match_id}/boxscore.xml": {
      "get": {
        "operationId": "MatchBoxscoreSoccer-Asia",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of the match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "017ebe3a-60dc-4a32-808b-61f498d63be0"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/teams/hierarchy.xml": {
      "get": {
        "operationId": "TeamHierarchySoccer-Asia",
        "summary": "Get the team information for Soccer Leagues in Asi...",
        "description": "Get the team information for Soccer Leagues in Asia",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/teams/{team_id}/profile.xml": {
      "get": {
        "operationId": "TeamProfileSoccer-Asia",
        "summary": "Team information and statistics, including player ...",
        "description": "Team information and statistics, including player roster information",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Team Hierarchy",
            "in": "path",
            "required": true,
            "default": "c30c4fcf-205c-443c-a9af-6940725ac268"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/players/{player_id}/profile.xml": {
      "get": {
        "operationId": "PlayerProfileSoccer-Asia",
        "summary": "Provides team and player information including a p...",
        "description": "Provides team and player information including a playerâs statistics for each category, tournament, or league team",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "default": "9d470841-3ef7-45cb-8f16-c1544ee10fe5"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/soccer-t2/as/teams/standing.xml": {
      "get": {
        "operationId": "StandingsSoccer-Asia",
        "summary": "Provides scheduled match information for all categ...",
        "description": "Provides scheduled match information for all categories, tournaments, and leagues",
        "tags": [
          "Soccer - Asia"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}