{
  "swagger": "2.0",
  "info": {
    "title": "eSports LoL Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's LoL API",
    "x-mashery-id": "5721"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "League of Legends Version 1"
    }
  ],
  "paths": {
    "/{sport-t1}/{language_code}/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsLeagueofLegendsVersion1",
        "summary": "Provides the match scoring for all matches played ...",
        "description": "Provides the match scoring for all matches played on a given day",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleLeagueofLegendsVersion1",
        "summary": "Provides the schedule for all matches played on a ...",
        "description": "Provides the schedule for all matches played on a given day",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id_1}/versus/{team_id_2}/matches{format}": {
      "get": {
        "operationId": "Head-2-HeadLeagueofLegendsVersion1",
        "summary": "Provides team vs team match data",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id_1",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:240582"
          },
          {
            "name": "team_id_2",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:240564"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/matches/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "MatchProbabilitiesLeagueofLegendsVersion1",
        "summary": "Provides pre-match probabilities for a given match...",
        "description": "Provides pre-match probabilities for a given match",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "A given match - only provides pre match probabilities",
            "in": "path",
            "required": true,
            "default": "sr:match:9477497"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/matches/{match_id}/summary{format}": {
      "get": {
        "operationId": "MatchSummaryLeagueofLegendsVersion1",
        "summary": "Provides match summary data for a given match",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "A given match",
            "in": "path",
            "required": true,
            "default": "sr:match:11753058"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileLeagueofLegendsVersion1",
        "summary": "Provides the Player profile information for a give...",
        "description": "Provides the Player profile information for a given player",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "player_id",
            "type": "string",
            "description": "A given player",
            "in": "path",
            "required": true,
            "default": "sr:player:949022"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfileLeagueofLegendsVersion1",
        "summary": "Provides the profile information for a given team",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:240582"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id}/results{format}": {
      "get": {
        "operationId": "TeamResultsLeagueofLegendsVersion1",
        "summary": "Provides the results for a given team",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:240582"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/teams/{team_id}/schedule{format}": {
      "get": {
        "operationId": "TeamScheduleLeagueofLegendsVersion1",
        "summary": "Provides the schedule for a given team",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The Identifier for our lol eSports API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language identifier",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:240582"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoLeagueofLegendsVersion1",
        "summary": "Provides information for lol tournaments",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our lol API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our lol API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a lol Tournament, found in the Tournaments endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2450"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsLeagueofLegendsVersion1",
        "summary": "Provides information for lol tournaments",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our lol API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our lol API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a lol Tournament, found in the Tournaments endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2450"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleLeagueofLegendsVersion1",
        "summary": "Provides information for lol tournaments",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our lol API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our lol API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a lol Tournament, found in the Tournaments endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2450"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{sport-t1}/{language_code}/tournaments{format}": {
      "get": {
        "operationId": "TournamentsLeagueofLegendsVersion1",
        "summary": "Provides information for lol tournaments",
        "tags": [
          "League of Legends Version 1"
        ],
        "parameters": [
          {
            "name": "sport",
            "type": "string",
            "description": "The identifier for our lol API",
            "in": "query",
            "required": true,
            "default": "lol"
          },
          {
            "name": "language_code",
            "type": "string",
            "description": "The language Group for our lol API",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "sport-t1",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}