{
  "swagger": "2.0",
  "info": {
    "title": "LE Aircraft-Maintanence API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.airfranceklm.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "A great place to start playing with the APIs. LE Aircraft-Maintanence API",
    "x-mashery-id": "6774"
  },
  "schemes": [
    "http"
  ],
  "host": "api.airfranceklm.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.airfranceklm.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "/",
      "tokenUrl": "/",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Aircraft Maintanence"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "UserdetailsAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks": {
      "get": {
        "operationId": "TasksAssignedtomeAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "Indicates whether the tasks assigned to me have to be retrieved",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}": {
      "get": {
        "operationId": "TaskAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/manual/{aircraftType}/{manual}/document/{name}": {
      "get": {
        "operationId": "ManualAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "aircraftType",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "manual",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "name",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ /tasks/{taskKey}/labourrows/{labourKey}/start": {
      "post": {
        "operationId": "LabourRowAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "labourKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ /workpackages": {
      "get": {
        "operationId": "WorkpackagesAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/labourrows/{labourKey}/job-stop-reasons": {
      "get": {
        "operationId": "JobstopreasonsAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "labourKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/labourrows/{labourKey}/job-stop": {
      "post": {
        "operationId": "JobstopAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Indicates the response type expected.",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Indicates the host that is to be used to create the response. e.g. 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/jobstop"
            }
          },
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "labourKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/labourrows/{labourKey}/job-stop-sign-off": {
      "post": {
        "operationId": "JobstopsignoffAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "Password",
            "type": "string",
            "description": "password",
            "in": "header",
            "required": true
          },
          {
            "name": "data",
            "type": "string",
            "description": "encoded page data",
            "in": "query",
            "required": true
          },
          {
            "name": "session",
            "type": "string",
            "description": "encoded session data",
            "in": "query",
            "required": true
          },
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "labourKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/labourrows/{labourKey}/job-stop-cancel": {
      "post": {
        "operationId": "JobstopcancelAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "data",
            "type": "string",
            "description": "encoded page data",
            "in": "query",
            "required": true
          },
          {
            "name": "session",
            "type": "string",
            "description": "encoded session data",
            "in": "query",
            "required": true
          },
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "labourKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/labourrows/{labourKey}/finish-sign-off": {
      "post": {
        "operationId": "FinishandsignoffAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "data",
            "type": "string",
            "description": "encoded page data",
            "in": "query",
            "required": true
          },
          {
            "name": "session",
            "type": "string",
            "description": "encoded session data",
            "in": "query",
            "required": true
          },
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "labourKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/labourrows/{labourKey}/finish-cancel": {
      "post": {
        "operationId": "FinishcancelAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "data",
            "type": "string",
            "description": "encoded page data",
            "in": "query",
            "required": true
          },
          {
            "name": "session",
            "type": "string",
            "description": "encoded session data",
            "in": "query",
            "required": true
          },
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "labourKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/manual/{aircraftType}/{manual}/document/{name}/search": {
      "get": {
        "operationId": "ManualsAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "aircraftType",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "manual",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "name",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/add-technical-reference": {
      "post": {
        "operationId": "AddtechnicalreferencetoataskAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "name",
            "in": "query",
            "required": true
          },
          {
            "name": "manual",
            "type": "string",
            "description": "manual",
            "in": "query",
            "required": true
          },
          {
            "name": "aicraftType",
            "type": "string",
            "description": "aircraft type",
            "in": "query",
            "required": true
          },
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/aircrafts/{registrationCode}/faults": {
      "post": {
        "operationId": "CreateFaultAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "name",
            "type": "string",
            "description": "name",
            "in": "query",
            "required": true
          },
          {
            "name": "description",
            "type": "string",
            "description": "manual",
            "in": "query",
            "required": true
          },
          {
            "name": "ata",
            "type": "string",
            "description": "aircraft type",
            "in": "query",
            "required": true
          },
          {
            "name": "correctiveAction",
            "type": "string",
            "description": "name",
            "in": "query",
            "required": true
          },
          {
            "name": "foundBy",
            "type": "string",
            "description": "manual",
            "in": "query",
            "required": true
          },
          {
            "name": "foundOnDateTime",
            "type": "string",
            "description": "aircraft type",
            "in": "query",
            "required": true
          },
          {
            "name": "foundDuringFlight",
            "type": "string",
            "description": "name",
            "in": "query",
            "required": true
          },
          {
            "name": "logbookReference",
            "type": "string",
            "description": "manual",
            "in": "query",
            "required": true
          },
          {
            "name": "repairLocation",
            "type": "string",
            "description": "aircraft type",
            "in": "query",
            "required": true
          },
          {
            "name": "source",
            "type": "string",
            "description": "aircraft type",
            "in": "query",
            "required": true
          },
          {
            "name": "registrationCode",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/workpackages/{workpackageKey}/tasks": {
      "get": {
        "operationId": "TasksforaworkpackageAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "workpackageKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tasks/{taskKey}/faults": {
      "get": {
        "operationId": "FaultsforataskAircraftMaintanence",
        "summary": "",
        "tags": [
          "Aircraft Maintanence"
        ],
        "parameters": [
          {
            "name": "taskKey",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "jobstop": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "Indicates the job stop reason.",
          "type": "string"
        },
        "keepTaskAppointed": {
          "description": "Indicates whether task keeps appointed.",
          "type": "boolean"
        },
        "startDateTime": {
          "description": "Indicates the start date time of the job.",
          "type": "string"
        },
        "jobCardSteps": {
          "description": "A list with jobcardsteps.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "order": {
                "description": "The order of a job card step.",
                "type": "integer"
              },
              "status": {
                "description": "The status of a job card step",
                "type": "string"
              }
            }
          }
        },
        "partRequirements": {
          "description": "A list with part requirements.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "description": "The part key.",
                "type": "integer"
              },
              "certificate": {
                "description": "Number for certificate.",
                "type": "string"
              },
              "partReplacement": {
                "type": "array",
                "items": {
                  "description": "Containing a removed and installed part.",
                  "type": "object",
                  "properties": {
                    "removedPart": {
                      "description": "A removed part object.",
                      "type": "object",
                      "properties": {
                        "partKey": {
                          "description": "The part key of the removed part.",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantitity of the removed part.",
                          "type": "string"
                        },
                        "partNo": {
                          "description": "The part number of the removed part.",
                          "type": "string"
                        },
                        "serialNo": {
                          "description": "The serial number of the removed part.",
                          "type": "string"
                        },
                        "reason": {
                          "description": "The reason for removal.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "partKey",
                        "quantity",
                        "partNo",
                        "serialNo",
                        "reason"
                      ]
                    },
                    "installedPart": {
                      "description": "A installed part object.",
                      "type": "object",
                      "properties": {
                        "partKey": {
                          "description": "The part key of the installed part.",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity of the installed part.",
                          "type": "string"
                        },
                        "partNo": {
                          "description": "The part number of the installed part.",
                          "type": "string"
                        },
                        "serialNo": {
                          "description": "The serial number of the installed part.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "partKey",
                        "quantity",
                        "partNo",
                        "serialNo"
                      ]
                    }
                  },
                  "required": [
                    "removedPart",
                    "installedPart"
                  ]
                }
              }
            }
          },
          "required": [
            "properties"
          ]
        },
        "finish": {
          "type": "object",
          "properties": {
            "startDateTime": {
              "description": "Indicates the start date time of the job.",
              "type": "string"
            },
            "partRequirements": {
              "description": "A list with part requirements.",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "description": "The part key.",
                    "type": "integer"
                  },
                  "certificate": {
                    "description": "Number for certificate.",
                    "type": "string"
                  },
                  "partReplacement": {
                    "type": "array",
                    "items": {
                      "description": "Containing a removed and installed part.",
                      "type": "object",
                      "properties": {
                        "removedPart": {
                          "description": "A removed part object.",
                          "type": "object",
                          "properties": {
                            "partKey": {
                              "description": "The part key of the removed part.",
                              "type": "string"
                            },
                            "quantity": {
                              "description": "The quantitity of the removed part.",
                              "type": "string"
                            },
                            "partNo": {
                              "description": "The part number of the removed part.",
                              "type": "string"
                            },
                            "serialNo": {
                              "description": "The serial number of the removed part.",
                              "type": "string"
                            },
                            "reason": {
                              "description": "The reason for removal.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "partKey",
                            "quantity",
                            "partNo",
                            "serialNo",
                            "reason"
                          ]
                        },
                        "installedPart": {
                          "description": "A installed part object.",
                          "type": "object",
                          "properties": {
                            "partKey": {
                              "description": "The part key of the installed part.",
                              "type": "string"
                            },
                            "quantity": {
                              "description": "The quantity of the installed part.",
                              "type": "string"
                            },
                            "partNo": {
                              "description": "The part number of the installed part.",
                              "type": "string"
                            },
                            "serialNo": {
                              "description": "The serial number of the installed part.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "partKey",
                            "quantity",
                            "partNo",
                            "serialNo"
                          ]
                        }
                      },
                      "required": [
                        "removedPart",
                        "installedPart"
                      ]
                    }
                  }
                }
              },
              "required": [
                "properties"
              ]
            }
          },
          "required": [
            "startDateTime"
          ]
        }
      },
      "required": [
        "reason",
        "keepTaskAppointed",
        "startDateTime",
        "jobCardSteps"
      ]
    }
  }
}