{
  "swagger": "2.0",
  "info": {
    "title": "NBA Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NBA API",
    "x-mashery-id": "1092"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NBA"
    }
  ],
  "paths": {
    "/nba-t3/games/{season_id}/{nba_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNBA",
        "summary": "Get full season schedules for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The calendar year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "nba_season",
            "type": "string",
            "description": "The part of the season, (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleNBA",
        "summary": "Get single day schedules for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/series/{season_id}/{nba_season}/schedule{format}": {
      "get": {
        "operationId": "SeriesSchedulesNBA",
        "summary": "Get post season series information for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015"
            ]
          },
          {
            "name": "nba_season",
            "type": "string",
            "description": "The part of the season, Post-season (PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNBA",
        "summary": "Get boxscore data for NBA games.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "ba0b79f0-1bae-42fd-a8e7-8bd359b079cd"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/seasontd/{season_id}/{nba_season}/standings{format}": {
      "get": {
        "operationId": "StandingsNBA",
        "summary": "Get standings information for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015"
            ]
          },
          {
            "name": "nba_season",
            "type": "string",
            "description": "The part of the season, Post-season (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/seasontd/{season_id}/{nba_season}/rankings{format}": {
      "get": {
        "operationId": "RankingsNBA",
        "summary": "Get rankings information for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015"
            ]
          },
          {
            "name": "nba_season",
            "type": "string",
            "description": "The part of the season (REG)",
            "in": "path",
            "required": true,
            "enum": [
              "REG"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNBA",
        "summary": "Get the league hierarchy information for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile(Rosters)NBA",
        "summary": "Get team rosters for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the league hierarchy feed",
            "in": "path",
            "required": true,
            "default": "583ecd4f-fb46-11e1-82cb-f4ce4684ea4c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileNBA",
        "summary": "Get player profiles for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of a given player, found in the Rosters feed",
            "in": "path",
            "required": true,
            "default": "82e44ba0-efd4-41de-b998-056d2865cebf"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/league/injuries{format}": {
      "get": {
        "operationId": "InjuriesNBA",
        "summary": "Get injury feeds for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/games/{game_id}/summary{format}": {
      "get": {
        "operationId": "GameSummaryNBA",
        "summary": "Obtain game summaries for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "ba0b79f0-1bae-42fd-a8e7-8bd359b079cd"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "Play-By-PlayNBA",
        "summary": "Get play-by-play detail for NBA games.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "ba0b79f0-1bae-42fd-a8e7-8bd359b079cd"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/seasontd/{season_id}/{nba_season}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatisticsNBA",
        "summary": "Get seasonal statistics information for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015"
            ]
          },
          {
            "name": "nba_season",
            "type": "string",
            "description": "The part of the season (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "583ecd4f-fb46-11e1-82cb-f4ce4684ea4c"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/seasontd/{season_id}/{nba_season}/leaders{format}": {
      "get": {
        "operationId": "LeagueLeadersNBA",
        "summary": "Get league leaders information for the NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015"
            ]
          },
          {
            "name": "nba_season",
            "type": "string",
            "description": "The part of the season (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNBA",
        "summary": "information on any changes made to teams, players,...",
        "description": "information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba-t3/league/{year}/{month}/{day}/transfers{format}": {
      "get": {
        "operationId": "DailyTransfersNBA",
        "summary": "information for all transfers added or edited duri...",
        "description": "information for all transfers added or edited during the league defined day",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}