{
  "swagger": "2.0",
  "info": {
    "title": "Aviation Fleet API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://api.penton.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "10227"
  },
  "schemes": [
    "http"
  ],
  "host": "api.penton.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://api.penton.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Aircraft Seating History - Latest Data - Commercial"
    },
    {
      "name": "Aircraft Seating History - Latest Data - Business"
    },
    {
      "name": "Aircraft Seating History - Latest Data - Military"
    },
    {
      "name": "Aircraft Seating History - Latest Data - Jets"
    },
    {
      "name": "Aircraft Seating History - Latest Data - Prop"
    },
    {
      "name": "Aircraft Seating History - Latest Data - Helicopter"
    },
    {
      "name": "Aircraft Seating History - Historical - Business"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "SeatingHistoryHistoricalDataBusinessAircraftSeatingHistory-Historical-Business",
        "summary": "",
        "tags": [
          "Aircraft Seating History - Historical - Business"
        ],
        "parameters": [
          {
            "name": "exampleParameter",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}