{
  "swagger": "2.0",
  "info": {
    "title": "Football API v2",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.press.net/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Football API",
    "x-mashery-id": "1864"
  },
  "schemes": [
    "http"
  ],
  "host": "api.press.net",
  "basePath": "/football",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.press.net/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Action"
    },
    {
      "name": "Tournament"
    },
    {
      "name": "Match"
    },
    {
      "name": "Schedule"
    },
    {
      "name": "Statistic"
    },
    {
      "name": "Team"
    },
    {
      "name": "Player"
    }
  ],
  "paths": {
    "/action/catalogue": {
      "get": {
        "operationId": "CatalogueAction",
        "summary": "Catalogue of available Actions",
        "tags": [
          "Action"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/action": {
      "get": {
        "operationId": "ListActionAction",
        "summary": "List of Actions",
        "tags": [
          "Action"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "actionType",
            "type": "string",
            "description": "Action Type",
            "in": "query",
            "required": false
          },
          {
            "name": "tournamentId",
            "type": "string",
            "description": "Tournament Id",
            "in": "query",
            "required": false
          },
          {
            "name": "matchId",
            "type": "string",
            "description": "Match ID",
            "in": "query",
            "required": false
          },
          {
            "name": "teamId",
            "type": "string",
            "description": "Team Id",
            "in": "query",
            "required": false
          },
          {
            "name": "secondaryTeamId",
            "type": "string",
            "description": "Secondary Team Id",
            "in": "query",
            "required": false
          },
          {
            "name": "playerId",
            "type": "string",
            "description": "Player Id",
            "in": "query",
            "required": false
          },
          {
            "name": "secondaryPlayerId",
            "type": "string",
            "description": "Secondary Player Id",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start date of actions",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End date of actions",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournament": {
      "get": {
        "operationId": "ListTournamentsTournament",
        "summary": "List of Tournaments",
        "tags": [
          "Tournament"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournament/tournamentId/match-dates": {
      "get": {
        "operationId": "MatchDatesTournament",
        "summary": "List of Tournament Match Dates",
        "tags": [
          "Tournament"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "tournamentId",
            "type": "string",
            "description": "Tournament Id",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}": {
      "get": {
        "operationId": "DetailMatchMatch",
        "summary": "Detail Match",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "string",
            "description": "Match ID",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/match/{matchID}/action": {
      "get": {
        "operationId": "ListMatchActionsMatch",
        "summary": "List Match Actions",
        "tags": [
          "Match"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "matchID",
            "type": "string",
            "description": "Match ID",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedule": {
      "get": {
        "operationId": "ListScheduleSchedule",
        "summary": "List Scheduled Matches",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "tournamentId",
            "type": "string",
            "description": "Tournament ID",
            "in": "query",
            "required": false
          },
          {
            "name": "teamId",
            "type": "string",
            "description": "Team ID",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "format": "date",
            "description": "Single Match Date",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start date of a range",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End date of a range",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/statistic": {
      "get": {
        "operationId": "ListStatisticsStatistic",
        "summary": "List of Statistics",
        "tags": [
          "Statistic"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "tournamentId",
            "type": "string",
            "description": "Tournament Id",
            "in": "query",
            "required": false
          },
          {
            "name": "matchId",
            "type": "string",
            "description": "Match ID",
            "in": "query",
            "required": false
          },
          {
            "name": "teamId",
            "type": "string",
            "description": "Team ID",
            "in": "query",
            "required": false
          },
          {
            "name": "playerId",
            "type": "string",
            "description": "Player ID",
            "in": "query",
            "required": false
          },
          {
            "name": "actionType",
            "type": "string",
            "description": "Type of action",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start date of actions",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End date of actions",
            "in": "query",
            "required": false
          },
          {
            "name": "group",
            "type": "string",
            "description": "How to group the results",
            "in": "query",
            "required": false
          },
          {
            "name": "breakdown",
            "type": "string",
            "description": "How to breakdown the results",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team": {
      "get": {
        "operationId": "ListTeamsTeam",
        "summary": "List Teams",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "tournamentId",
            "type": "string",
            "description": "Tournament ID",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start date of a range",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End date of a range",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/team/{teamID}": {
      "get": {
        "operationId": "DetailTeamTeam",
        "summary": "Detail Team",
        "tags": [
          "Team"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamID",
            "type": "string",
            "description": "Team ID",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/player": {
      "get": {
        "operationId": "ListPlayersPlayer",
        "summary": "List Players",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "teamId",
            "type": "string",
            "description": "Team Id",
            "in": "query",
            "required": false
          },
          {
            "name": "startDate",
            "type": "string",
            "format": "date",
            "description": "Start date of a range",
            "in": "query",
            "required": false
          },
          {
            "name": "endDate",
            "type": "string",
            "format": "date",
            "description": "End date of a range",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/player/{playerId}": {
      "get": {
        "operationId": "DetailPlayerPlayer",
        "summary": "Detail Player",
        "tags": [
          "Player"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "playerId",
            "type": "string",
            "description": "Player Id",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}