{
  "swagger": "2.0",
  "info": {
    "title": "Cycling",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "The API calls below can be used to test the Input and Output of our API endpoints.  You'll need an API key and an assigned secret to access the live data and so if you haven't contacted us yet, now is the time!  Our sales staff would be happy to set you up with trial access so you can begin to evaluate the product. Cycling",
    "x-mashery-id": "2117"
  },
  "schemes": [
    "http"
  ],
  "host": "api.stats.com",
  "basePath": "/",
  "externalDocs": {
    "description": "After you've been given an API key and secret, enter it below and \"Get\" the method you'd like to try out.  Fill in the parameters with what you'd like to try, or use the built in defaults, and click \"Try It!\" to execute the call.  The JSON or XML response will be populated in the Response Body, the Response Body will provide you with any relevant codes, and the Request Header URI will show you how the call would be made within your application. Please note:Also, endpoints almost always require a final \"/\".  You will receive \"596 Service Not Found\" when it is missing.  An exception to this is for optional methods, such as eventId or teamId.",
    "url": "http://developer.stats.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Cycling - Leagues"
    },
    {
      "name": "Cycling - Teams"
    },
    {
      "name": "Cycling - Schedules and results"
    },
    {
      "name": "Cycling - Standings"
    },
    {
      "name": "Cycling - Participants"
    },
    {
      "name": "Cycling - Decodes"
    }
  ],
  "paths": {
    "/stats/cycling/leagues/": {
      "get": {
        "operationId": "Cycling-LeaguesCycling-Leagues",
        "summary": "The cycling leagues endpoint serves as a decode fo...",
        "description": "The cycling leagues endpoint serves as a decode for the available leagues names, abbreviations, and URI paths.",
        "tags": [
          "Cycling - Leagues"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/cycling/{leaguePath}/teams/{teamId}/": {
      "get": {
        "operationId": "Cycling-TeamsCycling-Teams",
        "summary": "Team information.",
        "tags": [
          "Cycling - Teams"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "tdf"
            ]
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "A teamId returns information for that team only.  If entered, then the conferenceId is ignored.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get team lists for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/cycling/{leaguePath}/events/{eventId}/": {
      "get": {
        "operationId": "Cycling-SchedulesandresultsCycling-Schedulesandresults",
        "summary": "Schedules and results",
        "tags": [
          "Cycling - Schedules and results"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "tdf"
            ]
          },
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box request.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "results",
            "type": "boolean",
            "description": "Stage results are included only when requested and will be returned for all events in the results.\n  Default - false, stage results will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all events from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, all games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get events for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "standingsTypeId",
            "type": "integer",
            "description": "Will return all events from a specific standings type.\n Default - No standings type restrictions",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/cycling/{leaguePath}/standings/": {
      "get": {
        "operationId": "Cycling-StandingsCycling-Standings",
        "summary": "The standings endpoint will provide the league sta...",
        "description": "The standings endpoint will provide the league standings, including all team data relevant to standings.",
        "tags": [
          "Cycling - Standings"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "tdf"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get standings for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "standingsTypeId",
            "type": "integer",
            "description": "Will return all events from a specific standings type.\n Default - No standings type restrictions",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/cycling/{leaguePath}/participants/": {
      "get": {
        "operationId": "Cycling-ParticipantsCycling-Participants",
        "summary": "The participants endpoint provides biographical in...",
        "description": "The participants endpoint provides biographical information for riders and can be used to return information on a single player, a single teams roster, or all teams rosters within the league.",
        "tags": [
          "Cycling - Participants"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "tdf"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "Anyone who played during the requested year.  Enter year as YYYY.\n  Default - current rosters",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/cycling/{leaguePath}/participants/teams/{teamId}/": {
      "get": {
        "operationId": "Cycling-AllparticipantsonasingleteamCycling-Participants",
        "summary": "Including a team ID will limit rosters returned to...",
        "description": "Including a team ID will limit rosters returned to the selected team only.",
        "tags": [
          "Cycling - Participants"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "tdf"
            ]
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return roster for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/cycling/{leaguePath}/participants/{playerId}/": {
      "get": {
        "operationId": "Cycling-SingleriderCycling-Participants",
        "summary": "Including a player ID will limit data returned to ...",
        "description": "Including a player ID will limit data returned to the selected player only.",
        "tags": [
          "Cycling - Participants"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "tdf"
            ]
          },
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/cycling/{leaguePath}/{decodeType}": {
      "get": {
        "operationId": "Cycling-DecodesCycling-Decodes",
        "summary": "Cycling - Decodes",
        "tags": [
          "Cycling - Decodes"
        ],
        "parameters": [
          {
            "name": "leaguePath",
            "type": "string",
            "description": "Enter league uriPath - full list available in the cycling/leagues endpoint",
            "in": "path",
            "required": true,
            "enum": [
              "tdf"
            ]
          },
          {
            "name": "decodeType",
            "type": "integer",
            "description": "The data type to be decoded.",
            "in": "path",
            "required": true,
            "enum": [
              "coverageLevels",
              "eventStatuses",
              "hills",
              "standingsSprints",
              "standingsTypes",
              "seasonStructure",
              "withdrawalTypes"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}