{
  "swagger": "2.0",
  "info": {
    "title": "British Airways IFE",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.ba.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "1703"
  },
  "schemes": [
    "http"
  ],
  "host": "api.ba.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.ba.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Entertainment service"
    }
  ],
  "paths": {
    "/ife?pagename=xml": {
      "get": {
        "operationId": "Returnstheentertainmentdetailsforaparticulardateinthenext2monthsEntertainmentservice",
        "summary": "",
        "tags": [
          "Entertainment service"
        ],
        "parameters": [
          {
            "name": "pagename",
            "type": "string",
            "description": "PageName",
            "in": "query",
            "required": false,
            "enum": [
              "xml"
            ]
          },
          {
            "name": "when",
            "type": "string",
            "description": "Flight date. = > today and <= next month",
            "in": "query",
            "required": false
          },
          {
            "name": "class",
            "type": "string",
            "description": "cabin of travel",
            "in": "query",
            "required": false,
            "enum": [
              "all",
              "first",
              "clubworld",
              "clubworldlondon",
              "worldtravellerplus",
              "worldtraveller"
            ]
          },
          {
            "name": "from",
            "type": "string",
            "description": "Origin",
            "in": "query",
            "required": false
          },
          {
            "name": "to",
            "type": "string",
            "description": "Destination",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}