{
  "swagger": "2.0",
  "info": {
    "version": "2014-11-13",
    "x-release": "v4",
    "title": "Amazon EC2 Container Service",
    "description": "<p>Amazon EC2 Container Service (Amazon ECS) is a highly scalable, fast, container management service that makes it easy to run, stop, and manage Docker containers on a cluster of EC2 instances. Amazon ECS lets you launch and stop container-enabled applications with simple API calls, allows you to get the state of your cluster from a centralized service, and gives you access to many familiar Amazon EC2 features like security groups, Amazon EBS volumes, and IAM roles.</p> <p>You can use Amazon ECS to schedule the placement of containers across your cluster based on your resource needs, isolation policies, and availability requirements. Amazon EC2 Container Service eliminates the need for you to operate your own cluster management and configuration management systems or worry about scaling your management infrastructure.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/ecs/"
  },
  "host": "ecs.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UpdateService",
        "description": "<p>Modifies the desired count, deployment configuration, or task definition used in a service.</p> <p>You can add to or subtract from the number of instantiations of a task definition in a service by specifying the cluster that the service is running in and a new <code>desiredCount</code> parameter.</p> <p>You can use <a>UpdateService</a> to modify your task definition and deploy a new version of your service.</p> <p>You can also update the deployment configuration of a service. When a deployment is triggered by updating the task definition of a service, the service scheduler uses the deployment configuration parameters, <code>minimumHealthyPercent</code> and <code>maximumPercent</code>, to determine the deployment strategy.</p> <p>If the <code>minimumHealthyPercent</code> is below 100%, the scheduler can ignore the <code>desiredCount</code> temporarily during a deployment. For example, if your service has a <code>desiredCount</code> of four tasks, a <code>minimumHealthyPercent</code> of 50% allows the scheduler to stop two existing tasks before starting two new tasks. Tasks for services that <i>do not</i> use a load balancer are considered healthy if they are in the <code>RUNNING</code> state; tasks for services that <i>do</i> use a load balancer are considered healthy if they are in the <code>RUNNING</code> state and the container instance it is hosted on is reported as healthy by the load balancer.</p> <p>The <code>maximumPercent</code> parameter represents an upper limit on the number of running tasks during a deployment, which enables you to define the deployment batch size. For example, if your service has a <code>desiredCount</code> of four tasks, a <code>maximumPercent</code> value of 200% starts four new tasks before stopping the four older tasks (provided that the cluster resources required to do this are available).</p> <p>When <a>UpdateService</a> stops a task during a deployment, the equivalent of <code>docker stop</code> is issued to the containers running in the task. This results in a <code>SIGTERM</code> and a 30-second timeout, after which <code>SIGKILL</code> is sent and the containers are forcibly stopped. If the container handles the <code>SIGTERM</code> gracefully and exits within 30 seconds from receiving it, no <code>SIGKILL</code> is sent.</p> <p>When the service scheduler launches new tasks, it attempts to balance them across the Availability Zones in your cluster with the following logic:</p> <ul> <li> <p>Determine which of the container instances in your cluster can support your service's task definition (for example, they have the required CPU, memory, ports, and container instance attributes).</p> </li> <li> <p>Sort the valid container instances by the fewest number of running tasks for this service in the same Availability Zone as the instance. For example, if zone A has one running service task and zones B and C each have zero, valid container instances in either zone B or C are considered optimal for placement.</p> </li> <li> <p>Place the new service task on a valid container instance in an optimal Availability Zone (based on the previous steps), favoring container instances with the fewest number of running tasks for this service.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateServiceResponse"
            }
          },
          "400": {
            "description": "ServerException",
            "schema": {
              "$ref": "#/definitions/ServerException"
            }
          },
          "401": {
            "description": "ClientException",
            "schema": {
              "$ref": "#/definitions/ClientException"
            }
          },
          "402": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "403": {
            "description": "ClusterNotFoundException",
            "schema": {
              "$ref": "#/definitions/ClusterNotFoundException"
            }
          },
          "404": {
            "description": "ServiceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ServiceNotFoundException"
            }
          },
          "405": {
            "description": "ServiceNotActiveException",
            "schema": {
              "$ref": "#/definitions/ServiceNotActiveException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateServiceRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AgentUpdateStatus": {
      "type": "string",
      "enum": [
        "PENDING",
        "STAGING",
        "STAGED",
        "UPDATING",
        "UPDATED",
        "FAILED"
      ]
    },
    "Attribute": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "$ref": "#/definitions/String",
          "description": "The name of the container instance attribute."
        },
        "value": {
          "$ref": "#/definitions/String",
          "description": "The value of the container instance attribute (at this time, the value here is <code>Null</code>, but this could change in future revisions for expandability)."
        }
      },
      "description": "The attributes applicable to a container instance when it is registered."
    },
    "Attributes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Attribute"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoxedBoolean": {
      "type": "boolean"
    },
    "BoxedInteger": {
      "type": "integer"
    },
    "ClientException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permission to use the action or resource, or specifying an identifier that is not valid."
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "clusterArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) that identifies the cluster. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the cluster, the AWS account ID of the cluster owner, the <code>cluster</code> namespace, and then the cluster name. For example, <code>arn:aws:ecs:<i>region</i>:<i>012345678910</i>:cluster/<i>test</i> </code>.."
        },
        "clusterName": {
          "$ref": "#/definitions/String",
          "description": "A user-generated string that you use to identify your cluster."
        },
        "status": {
          "$ref": "#/definitions/String",
          "description": "The status of the cluster. The valid values are <code>ACTIVE</code> or <code>INACTIVE</code>. <code>ACTIVE</code> indicates that you can register container instances with the cluster and the associated instances can accept tasks."
        },
        "registeredContainerInstancesCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of container instances registered into the cluster."
        },
        "runningTasksCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of tasks in the cluster that are in the <code>RUNNING</code> state."
        },
        "pendingTasksCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of tasks in the cluster that are in the <code>PENDING</code> state."
        },
        "activeServicesCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of services that are running on the cluster in an <code>ACTIVE</code> state. You can view these services with <a>ListServices</a>."
        }
      },
      "description": "A regional grouping of one or more container instances on which you can run task requests. Each account receives a default cluster the first time you use the Amazon ECS service, but you may also create other clusters. Clusters may contain more than one instance type simultaneously."
    },
    "ClusterContainsContainerInstancesException": {
      "type": "object",
      "properties": {},
      "description": "You cannot delete a cluster that has registered container instances. You must first deregister the container instances before you can delete the cluster. For more information, see <a>DeregisterContainerInstance</a>."
    },
    "ClusterContainsServicesException": {
      "type": "object",
      "properties": {},
      "description": "You cannot delete a cluster that contains services. You must first update the service to reduce its desired task count to 0 and then delete the service. For more information, see <a>UpdateService</a> and <a>DeleteService</a>."
    },
    "ClusterNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified cluster could not be found. You can view your available clusters with <a>ListClusters</a>. Amazon ECS clusters are region-specific."
    },
    "Clusters": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Cluster"
      }
    },
    "Container": {
      "type": "object",
      "properties": {
        "containerArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the container."
        },
        "taskArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the task."
        },
        "name": {
          "$ref": "#/definitions/String",
          "description": "The name of the container."
        },
        "lastStatus": {
          "$ref": "#/definitions/String",
          "description": "The last known status of the container."
        },
        "exitCode": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The exit code returned from the container."
        },
        "reason": {
          "$ref": "#/definitions/String",
          "description": "A short (255 max characters) human-readable string to provide additional detail about a running or stopped container."
        },
        "networkBindings": {
          "$ref": "#/definitions/NetworkBindings",
          "description": "The network bindings associated with the container."
        }
      },
      "description": "A Docker container that is part of a task."
    },
    "ContainerDefinition": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/String",
          "description": "The name of a container. If you are linking multiple containers together in a task definition, the <code>name</code> of one container can be entered in the <code>links</code> of another container to connect the containers. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to <code>name</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. "
        },
        "image": {
          "$ref": "#/definitions/String",
          "description": "<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <ul> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>"
        },
        "cpu": {
          "$ref": "#/definitions/Integer",
          "description": "<p>The number of <code>cpu</code> units reserved for the container. A container instance has 1,024 <code>cpu</code> units for every CPU core. This parameter specifies the minimum amount of CPU to reserve for a container, and containers share unallocated CPU units with other containers on the instance with the same ratio as their allocated amount. This parameter maps to <code>CpuShares</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <note> <p>You can determine the number of CPU units that are available per EC2 instance type by multiplying the vCPUs listed for that instance type on the <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon EC2 Instances</a> detail page by 1,024.</p> </note> <p>For example, if you run a single-container task on a single-core instance type with 512 CPU units specified for that container, and that is the only task running on the container instance, that container could use the full 1,024 CPU unit share at any given time. However, if you launched another copy of the same task on that container instance, each task would be guaranteed a minimum of 512 CPU units when needed, and each container could float to higher CPU usage if the other container was not using it, but if both tasks were 100% active all of the time, they would be limited to 512 CPU units.</p> <p>The Docker daemon on the container instance uses the CPU value to calculate the relative CPU share ratios for running containers. For more information, see <a href=\"https://docs.docker.com/reference/run/#cpu-share-constraint\">CPU share constraint</a> in the Docker documentation. The minimum valid CPU share value that the Linux kernel allows is 2; however, the CPU parameter is not required, and you can use CPU values below 2 in your container definitions. For CPU values below 2 (including null), the behavior varies based on your Amazon ECS container agent version:</p> <ul> <li> <p> <b>Agent versions less than or equal to 1.1.0:</b> Null and zero CPU values are passed to Docker as 0, which Docker then converts to 1,024 CPU shares. CPU values of 1 are passed to Docker as 1, which the Linux kernel converts to 2 CPU shares.</p> </li> <li> <p> <b>Agent versions greater than or equal to 1.2.0:</b> Null, zero, and CPU values of 1 are passed to Docker as 2.</p> </li> </ul>"
        },
        "memory": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "<p>The hard limit (in MiB) of memory to present to the container. If your container attempts to exceed the memory specified here, the container is killed. This parameter maps to <code>Memory</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--memory</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <p>You must specify a non-zero integer for one or both of <code>memory</code> or <code>memoryReservation</code> in container definitions. If you specify both, <code>memory</code> must be greater than <code>memoryReservation</code>. If you specify <code>memoryReservation</code>, then that value is subtracted from the available memory resources for the container instance on which the container is placed; otherwise, the value of <code>memory</code> is used.</p> <p>The Docker daemon reserves a minimum of 4 MiB of memory for a container, so you should not specify fewer than 4 MiB of memory for your containers. </p>"
        },
        "memoryReservation": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "<p>The soft limit (in MiB) of memory to reserve for the container. When system memory is under heavy contention, Docker attempts to keep the container memory to this soft limit; however, your container can consume more memory when it needs to, up to either the hard limit specified with the <code>memory</code> parameter (if applicable), or all of the available memory on the container instance, whichever comes first. This parameter maps to <code>MemoryReservation</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--memory-reservation</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <p>You must specify a non-zero integer for one or both of <code>memory</code> or <code>memoryReservation</code> in container definitions. If you specify both, <code>memory</code> must be greater than <code>memoryReservation</code>. If you specify <code>memoryReservation</code>, then that value is subtracted from the available memory resources for the container instance on which the container is placed; otherwise, the value of <code>memory</code> is used.</p> <p>For example, if your container normally uses 128 MiB of memory, but occasionally bursts to 256 MiB of memory for short periods of time, you can set a <code>memoryReservation</code> of 128 MiB, and a <code>memory</code> hard limit of 300 MiB. This configuration would allow the container to only reserve 128 MiB of memory from the remaining resources on the container instance, but also allow the container to consume more memory resources when needed.</p>"
        },
        "links": {
          "$ref": "#/definitions/StringList",
          "description": "<p>The <code>link</code> parameter allows containers to communicate with each other without the need for port mappings, using the <code>name</code> parameter and optionally, an <code>alias</code> for the link. This construct is analogous to <code>name:alias</code> in Docker links. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed for each <code>name</code> and <code>alias</code>. For more information on linking Docker containers, see <a href=\"https://docs.docker.com/userguide/dockerlinks/\">https://docs.docker.com/userguide/dockerlinks/</a>. This parameter maps to <code>Links</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--link</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <important> <p>Containers that are collocated on a single container instance may be able to communicate with each other without requiring links or host port mappings. Network isolation is achieved on the container instance using security groups and VPC settings.</p> </important>"
        },
        "portMappings": {
          "$ref": "#/definitions/PortMappingList",
          "description": "<p>The list of port mappings for the container. Port mappings allow containers to access ports on the host container instance to send or receive traffic. This parameter maps to <code>PortBindings</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--publish</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. If the network mode of a task definition is set to <code>none</code>, then you cannot specify port mappings. If the network mode of a task definition is set to <code>host</code>, then host ports must either be undefined or they must match the container port in the port mapping.</p> <note> <p>After a task reaches the <code>RUNNING</code> status, manual and automatic host and container port assignments are visible in the <b>Network Bindings</b> section of a container description of a selected task in the Amazon ECS console, or the <code>networkBindings</code> section <a>DescribeTasks</a> responses.</p> </note>"
        },
        "essential": {
          "$ref": "#/definitions/BoxedBoolean",
          "description": "<p>If the <code>essential</code> parameter of a container is marked as <code>true</code>, and that container fails or stops for any reason, all other containers that are part of the task are stopped. If the <code>essential</code> parameter of a container is marked as <code>false</code>, then its failure does not affect the rest of the containers in a task. If this parameter is omitted, a container is assumed to be essential.</p> <p>All tasks must have at least one essential container. If you have an application that is composed of multiple containers, you should group containers that are used for a common purpose into components, and separate the different components into multiple task definitions. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/application_architecture.html\">Application Architecture</a> in the <i>Amazon EC2 Container Service Developer Guide</i>.</p>"
        },
        "entryPoint": {
          "$ref": "#/definitions/StringList",
          "description": "<important> <p>Early versions of the Amazon ECS container agent do not properly handle <code>entryPoint</code> parameters. If you have problems using <code>entryPoint</code>, update your container agent or enter your commands and arguments as <code>command</code> array items instead.</p> </important> <p>The entry point that is passed to the container. This parameter maps to <code>Entrypoint</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--entrypoint</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. For more information, see <a href=\"https://docs.docker.com/reference/builder/#entrypoint\">https://docs.docker.com/reference/builder/#entrypoint</a>.</p>"
        },
        "command": {
          "$ref": "#/definitions/StringList",
          "description": "The command that is passed to the container. This parameter maps to <code>Cmd</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. For more information, see <a href=\"https://docs.docker.com/reference/builder/#cmd\">https://docs.docker.com/reference/builder/#cmd</a>."
        },
        "environment": {
          "$ref": "#/definitions/EnvironmentVariables",
          "description": "<p>The environment variables to pass to a container. This parameter maps to <code>Env</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <important> <p>We do not recommend using plain text environment variables for sensitive information, such as credential data.</p> </important>"
        },
        "mountPoints": {
          "$ref": "#/definitions/MountPointList",
          "description": "The mount points for data volumes in your container. This parameter maps to <code>Volumes</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "volumesFrom": {
          "$ref": "#/definitions/VolumeFromList",
          "description": "Data volumes to mount from another container. This parameter maps to <code>VolumesFrom</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--volumes-from</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "hostname": {
          "$ref": "#/definitions/String",
          "description": "The hostname to use for your container. This parameter maps to <code>Hostname</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--hostname</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "user": {
          "$ref": "#/definitions/String",
          "description": "The user name to use inside the container. This parameter maps to <code>User</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--user</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "workingDirectory": {
          "$ref": "#/definitions/String",
          "description": "The working directory in which to run commands inside the container. This parameter maps to <code>WorkingDir</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--workdir</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "disableNetworking": {
          "$ref": "#/definitions/BoxedBoolean",
          "description": "When this parameter is true, networking is disabled within the container. This parameter maps to <code>NetworkDisabled</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a>."
        },
        "privileged": {
          "$ref": "#/definitions/BoxedBoolean",
          "description": "When this parameter is true, the container is given elevated privileges on the host container instance (similar to the <code>root</code> user). This parameter maps to <code>Privileged</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--privileged</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "readonlyRootFilesystem": {
          "$ref": "#/definitions/BoxedBoolean",
          "description": "When this parameter is true, the container is given read-only access to its root file system. This parameter maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--read-only</code> option to <code>docker run</code>."
        },
        "dnsServers": {
          "$ref": "#/definitions/StringList",
          "description": "A list of DNS servers that are presented to the container. This parameter maps to <code>Dns</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--dns</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "dnsSearchDomains": {
          "$ref": "#/definitions/StringList",
          "description": "A list of DNS search domains that are presented to the container. This parameter maps to <code>DnsSearch</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--dns-search</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "extraHosts": {
          "$ref": "#/definitions/HostEntryList",
          "description": "A list of hostnames and IP address mappings to append to the <code>/etc/hosts</code> file on the container. This parameter maps to <code>ExtraHosts</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--add-host</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>."
        },
        "dockerSecurityOptions": {
          "$ref": "#/definitions/StringList",
          "description": "<p>A list of strings to provide custom labels for SELinux and AppArmor multi-level security systems. This parameter maps to <code>SecurityOpt</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--security-opt</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>.</p> <note> <p>The Amazon ECS container agent running on a container instance must register with the <code>ECS_SELINUX_CAPABLE=true</code> or <code>ECS_APPARMOR_CAPABLE=true</code> environment variables before containers placed on that instance can use these security options. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container Agent Configuration</a> in the <i>Amazon EC2 Container Service Developer Guide</i>.</p> </note>"
        },
        "dockerLabels": {
          "$ref": "#/definitions/DockerLabelsMap",
          "description": "A key/value map of labels to add to the container. This parameter maps to <code>Labels</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--label</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log into your container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code> "
        },
        "ulimits": {
          "$ref": "#/definitions/UlimitList",
          "description": "A list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. Valid naming values are displayed in the <a>Ulimit</a> data type. This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log into your container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code> "
        },
        "logConfiguration": {
          "$ref": "#/definitions/LogConfiguration",
          "description": "<p>The log configuration specification for the container. This parameter maps to <code>LogConfig</code> in the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/reference/api/docker_remote_api_v1.23/\">Docker Remote API</a> and the <code>--log-driver</code> option to <a href=\"https://docs.docker.com/reference/commandline/run/\">docker run</a>. By default, containers use the same logging driver that the Docker daemon uses; however the container may use a different logging driver than the Docker daemon by specifying a log driver with this parameter in the container definition. To use a different logging driver for a container, the log system must be configured properly on the container instance (or on a different log server for remote logging options). For more information on the options for different supported log drivers, see <a href=\"https://docs.docker.com/engine/admin/logging/overview/\">Configure logging drivers</a> in the Docker documentation.</p> <note> <p>Amazon ECS currently supports a subset of the logging drivers available to the Docker daemon (shown in the <a>LogConfiguration</a> data type). Currently unsupported log drivers may be available in future releases of the Amazon ECS container agent.</p> </note> <p>This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log into your container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code> </p> <note> <p>The Amazon ECS container agent running on a container instance must register the logging drivers available on that instance with the <code>ECS_AVAILABLE_LOGGING_DRIVERS</code> environment variable before containers placed on that instance can use these log configuration options. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container Agent Configuration</a> in the <i>Amazon EC2 Container Service Developer Guide</i>.</p> </note>"
        }
      },
      "description": "Container definitions are used in task definitions to describe the different containers that are launched as part of a task."
    },
    "ContainerDefinitions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ContainerDefinition"
      }
    },
    "ContainerInstance": {
      "type": "object",
      "properties": {
        "containerInstanceArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the container instance. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the container instance, the AWS account ID of the container instance owner, the <code>container-instance</code> namespace, and then the container instance ID. For example, <code>arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_ID</i> </code>."
        },
        "ec2InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The EC2 instance ID of the container instance."
        },
        "versionInfo": {
          "$ref": "#/definitions/VersionInfo",
          "description": "The version information for the Amazon ECS container agent and Docker daemon running on the container instance."
        },
        "remainingResources": {
          "$ref": "#/definitions/Resources",
          "description": "The remaining resources of the container instance that are available for new tasks."
        },
        "registeredResources": {
          "$ref": "#/definitions/Resources",
          "description": "The registered resources on the container instance that are in use by current tasks."
        },
        "status": {
          "$ref": "#/definitions/String",
          "description": "The status of the container instance. The valid values are <code>ACTIVE</code> or <code>INACTIVE</code>. <code>ACTIVE</code> indicates that the container instance can accept tasks."
        },
        "agentConnected": {
          "$ref": "#/definitions/Boolean",
          "description": "This parameter returns <code>true</code> if the agent is actually connected to Amazon ECS. Registered instances with an agent that may be unhealthy or stopped return <code>false</code>, and instances without a connected agent cannot accept placement requests."
        },
        "runningTasksCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of tasks on the container instance that are in the <code>RUNNING</code> status."
        },
        "pendingTasksCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of tasks on the container instance that are in the <code>PENDING</code> status."
        },
        "agentUpdateStatus": {
          "$ref": "#/definitions/AgentUpdateStatus",
          "description": "The status of the most recent agent update. If an update has never been requested, this value is <code>NULL</code>."
        },
        "attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "The attributes set for the container instance by the Amazon ECS container agent at instance registration."
        }
      },
      "description": "An EC2 instance that is running the Amazon ECS agent and has been registered with a cluster."
    },
    "ContainerInstances": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ContainerInstance"
      }
    },
    "ContainerOverride": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/String",
          "description": "The name of the container that receives the override."
        },
        "command": {
          "$ref": "#/definitions/StringList",
          "description": "The command to send to the container that overrides the default command from the Docker image or the task definition."
        },
        "environment": {
          "$ref": "#/definitions/EnvironmentVariables",
          "description": "The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can override the existing environment variables from the Docker image or the task definition."
        }
      },
      "description": "The overrides that should be sent to a container."
    },
    "ContainerOverrides": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ContainerOverride"
      }
    },
    "Containers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Container"
      }
    },
    "CreateClusterRequest": {
      "type": "object",
      "properties": {
        "clusterName": {
          "$ref": "#/definitions/String",
          "description": "The name of your cluster. If you do not specify a name for your cluster, you create a cluster named <code>default</code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed."
        }
      }
    },
    "CreateClusterResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/Cluster",
          "description": "The full description of your new cluster."
        }
      }
    },
    "CreateServiceRequest": {
      "type": "object",
      "required": [
        "serviceName",
        "taskDefinition",
        "desiredCount"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster on which to run your service. If you do not specify a cluster, the default cluster is assumed."
        },
        "serviceName": {
          "$ref": "#/definitions/String",
          "description": "The name of your service. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. Service names must be unique within a cluster, but you can have similarly named services in multiple clusters within a region or across multiple regions."
        },
        "taskDefinition": {
          "$ref": "#/definitions/String",
          "description": "The <code>family</code> and <code>revision</code> (<code>family:revision</code>) or full Amazon Resource Name (ARN) of the task definition to run in your service. If a <code>revision</code> is not specified, the latest <code>ACTIVE</code> revision is used."
        },
        "loadBalancers": {
          "$ref": "#/definitions/LoadBalancers",
          "description": "<p>A load balancer object representing the load balancer to use with your service. Currently, you are limited to one load balancer per service. After you create a service, the load balancer name, container name, and container port specified in the service definition are immutable.</p> <p>For Elastic Load Balancing Classic load balancers, this object must contain the load balancer name, the container name (as it appears in a container definition), and the container port to access from the load balancer. When a task from this service is placed on a container instance, the container instance is registered with the load balancer specified here.</p> <p>For Elastic Load Balancing Application load balancers, this object must contain the load balancer target group ARN, the container name (as it appears in a container definition), and the container port to access from the load balancer. When a task from this service is placed on a container instance, the container instance and port combination is registered as a target in the target group specified here.</p>"
        },
        "desiredCount": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The number of instantiations of the specified task definition to place and keep running on your cluster."
        },
        "clientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure the idempotency of the request. Up to 32 ASCII characters are allowed."
        },
        "role": {
          "$ref": "#/definitions/String",
          "description": "<p>The name or full Amazon Resource Name (ARN) of the IAM role that allows Amazon ECS to make calls to your load balancer on your behalf. This parameter is required if you are using a load balancer with your service. If you specify the <code>role</code> parameter, you must also specify a load balancer object with the <code>loadBalancers</code> parameter.</p> <p>If your specified role has a path other than <code>/</code>, then you must either specify the full role ARN (this is recommended) or prefix the role name with the path. For example, if a role with the name <code>bar</code> has a path of <code>/foo/</code> then you would specify <code>/foo/bar</code> as the role name. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-friendly-names\">Friendly Names and Paths</a> in the <i>IAM User Guide</i>.</p>"
        },
        "deploymentConfiguration": {
          "$ref": "#/definitions/DeploymentConfiguration",
          "description": "Optional deployment parameters that control how many tasks run during the deployment and the ordering of stopping and starting tasks."
        }
      }
    },
    "CreateServiceResponse": {
      "type": "object",
      "properties": {
        "service": {
          "$ref": "#/definitions/Service",
          "description": "The full description of your service following the create call."
        }
      }
    },
    "DeleteClusterRequest": {
      "type": "object",
      "required": [
        "cluster"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster to delete."
        }
      }
    },
    "DeleteClusterResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/Cluster",
          "description": "The full description of the deleted cluster."
        }
      }
    },
    "DeleteServiceRequest": {
      "type": "object",
      "required": [
        "service"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The name of the cluster that hosts the service to delete. If you do not specify a cluster, the default cluster is assumed."
        },
        "service": {
          "$ref": "#/definitions/String",
          "description": "The name of the service to delete."
        }
      }
    },
    "DeleteServiceResponse": {
      "type": "object",
      "properties": {
        "service": {
          "$ref": "#/definitions/Service",
          "description": "The full description of the deleted service."
        }
      }
    },
    "Deployment": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/String",
          "description": "The ID of the deployment."
        },
        "status": {
          "$ref": "#/definitions/String",
          "description": "The status of the deployment. Valid values are <code>PRIMARY</code> (for the most recent deployment), <code>ACTIVE</code> (for previous deployments that still have tasks running, but are being replaced with the <code>PRIMARY</code> deployment), and <code>INACTIVE</code> (for deployments that have been completely replaced)."
        },
        "taskDefinition": {
          "$ref": "#/definitions/String",
          "description": "The most recent task definition that was specified for the service to use."
        },
        "desiredCount": {
          "$ref": "#/definitions/Integer",
          "description": "The most recent desired count of tasks that was specified for the service to deploy or maintain."
        },
        "pendingCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of tasks in the deployment that are in the <code>PENDING</code> status."
        },
        "runningCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of tasks in the deployment that are in the <code>RUNNING</code> status."
        },
        "createdAt": {
          "$ref": "#/definitions/Timestamp",
          "description": "The Unix timestamp for when the service was created."
        },
        "updatedAt": {
          "$ref": "#/definitions/Timestamp",
          "description": "The Unix timestamp for when the service was last updated."
        }
      },
      "description": "The details of an Amazon ECS service deployment."
    },
    "DeploymentConfiguration": {
      "type": "object",
      "properties": {
        "maximumPercent": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The upper limit (as a percentage of the service's <code>desiredCount</code>) of the number of running tasks that can be running in a service during a deployment. The maximum number of tasks during a deployment is the <code>desiredCount</code> multiplied by the <code>maximumPercent</code>/100, rounded down to the nearest integer value."
        },
        "minimumHealthyPercent": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The lower limit (as a percentage of the service's <code>desiredCount</code>) of the number of running tasks that must remain running and healthy in a service during a deployment. The minimum healthy tasks during a deployment is the <code>desiredCount</code> multiplied by the <code>minimumHealthyPercent</code>/100, rounded up to the nearest integer value."
        }
      },
      "description": "Optional deployment parameters that control how many tasks run during the deployment and the ordering of stopping and starting tasks."
    },
    "Deployments": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Deployment"
      }
    },
    "DeregisterContainerInstanceRequest": {
      "type": "object",
      "required": [
        "containerInstance"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster that hosts the container instance to deregister. If you do not specify a cluster, the default cluster is assumed."
        },
        "containerInstance": {
          "$ref": "#/definitions/String",
          "description": "The container instance ID or full Amazon Resource Name (ARN) of the container instance to deregister. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the container instance, the AWS account ID of the container instance owner, the <code>container-instance</code> namespace, and then the container instance ID. For example, <code>arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_ID</i> </code>."
        },
        "force": {
          "$ref": "#/definitions/BoxedBoolean",
          "description": "Forces the deregistration of the container instance. If you have tasks running on the container instance when you deregister it with the <code>force</code> option, these tasks remain running and they continue to pass Elastic Load Balancing load balancer health checks until you terminate the instance or the tasks stop through some other means, but they are orphaned (no longer monitored or accounted for by Amazon ECS). If an orphaned task on your container instance is part of an Amazon ECS service, then the service scheduler starts another copy of that task, on a different container instance if possible."
        }
      }
    },
    "DeregisterContainerInstanceResponse": {
      "type": "object",
      "properties": {
        "containerInstance": {
          "$ref": "#/definitions/ContainerInstance"
        }
      }
    },
    "DeregisterTaskDefinitionRequest": {
      "type": "object",
      "required": [
        "taskDefinition"
      ],
      "properties": {
        "taskDefinition": {
          "$ref": "#/definitions/String",
          "description": "The <code>family</code> and <code>revision</code> (<code>family:revision</code>) or full Amazon Resource Name (ARN) of the task definition to deregister. You must specify a <code>revision</code>."
        }
      }
    },
    "DeregisterTaskDefinitionResponse": {
      "type": "object",
      "properties": {
        "taskDefinition": {
          "$ref": "#/definitions/TaskDefinition",
          "description": "The full description of the deregistered task."
        }
      }
    },
    "DescribeClustersRequest": {
      "type": "object",
      "properties": {
        "clusters": {
          "$ref": "#/definitions/StringList",
          "description": "A space-separated list of up to 100 cluster names or full cluster Amazon Resource Name (ARN) entries. If you do not specify a cluster, the default cluster is assumed."
        }
      }
    },
    "DescribeClustersResponse": {
      "type": "object",
      "properties": {
        "clusters": {
          "$ref": "#/definitions/Clusters",
          "description": "The list of clusters."
        },
        "failures": {
          "$ref": "#/definitions/Failures",
          "description": "Any failures associated with the call."
        }
      }
    },
    "DescribeContainerInstancesRequest": {
      "type": "object",
      "required": [
        "containerInstances"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster that hosts the container instances to describe. If you do not specify a cluster, the default cluster is assumed."
        },
        "containerInstances": {
          "$ref": "#/definitions/StringList",
          "description": "A space-separated list of container instance IDs or full Amazon Resource Name (ARN) entries."
        }
      }
    },
    "DescribeContainerInstancesResponse": {
      "type": "object",
      "properties": {
        "containerInstances": {
          "$ref": "#/definitions/ContainerInstances",
          "description": "The list of container instances."
        },
        "failures": {
          "$ref": "#/definitions/Failures",
          "description": "Any failures associated with the call."
        }
      }
    },
    "DescribeServicesRequest": {
      "type": "object",
      "required": [
        "services"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The name of the cluster that hosts the service to describe. If you do not specify a cluster, the default cluster is assumed."
        },
        "services": {
          "$ref": "#/definitions/StringList",
          "description": "A list of services to describe."
        }
      }
    },
    "DescribeServicesResponse": {
      "type": "object",
      "properties": {
        "services": {
          "$ref": "#/definitions/Services",
          "description": "The list of services described."
        },
        "failures": {
          "$ref": "#/definitions/Failures",
          "description": "Any failures associated with the call."
        }
      }
    },
    "DescribeTaskDefinitionRequest": {
      "type": "object",
      "required": [
        "taskDefinition"
      ],
      "properties": {
        "taskDefinition": {
          "$ref": "#/definitions/String",
          "description": "The <code>family</code> for the latest <code>ACTIVE</code> revision, <code>family</code> and <code>revision</code> (<code>family:revision</code>) for a specific revision in the family, or full Amazon Resource Name (ARN) of the task definition to describe."
        }
      }
    },
    "DescribeTaskDefinitionResponse": {
      "type": "object",
      "properties": {
        "taskDefinition": {
          "$ref": "#/definitions/TaskDefinition",
          "description": "The full task definition description."
        }
      }
    },
    "DescribeTasksRequest": {
      "type": "object",
      "required": [
        "tasks"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster that hosts the task to describe. If you do not specify a cluster, the default cluster is assumed."
        },
        "tasks": {
          "$ref": "#/definitions/StringList",
          "description": "A space-separated list of task IDs or full Amazon Resource Name (ARN) entries."
        }
      }
    },
    "DescribeTasksResponse": {
      "type": "object",
      "properties": {
        "tasks": {
          "$ref": "#/definitions/Tasks",
          "description": "The list of tasks."
        },
        "failures": {
          "$ref": "#/definitions/Failures",
          "description": "Any failures associated with the call."
        }
      }
    },
    "DesiredStatus": {
      "type": "string",
      "enum": [
        "RUNNING",
        "PENDING",
        "STOPPED"
      ]
    },
    "DiscoverPollEndpointRequest": {
      "type": "object",
      "properties": {
        "containerInstance": {
          "$ref": "#/definitions/String",
          "description": "The container instance ID or full Amazon Resource Name (ARN) of the container instance. The ARN contains the <code>arn:aws:ecs</code> namespace, followed by the region of the container instance, the AWS account ID of the container instance owner, the <code>container-instance</code> namespace, and then the container instance ID. For example, <code>arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_ID</i> </code>."
        },
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The cluster that the container instance belongs to."
        }
      }
    },
    "DiscoverPollEndpointResponse": {
      "type": "object",
      "properties": {
        "endpoint": {
          "$ref": "#/definitions/String",
          "description": "The endpoint for the Amazon ECS agent to poll."
        },
        "telemetryEndpoint": {
          "$ref": "#/definitions/String",
          "description": "The telemetry endpoint for the Amazon ECS agent."
        }
      }
    },
    "DockerLabelsMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      }
    },
    "Double": {
      "type": "number",
      "format": "double"
    },
    "EnvironmentVariables": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/KeyValuePair"
      }
    },
    "Failure": {
      "type": "object",
      "properties": {
        "arn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the failed resource."
        },
        "reason": {
          "$ref": "#/definitions/String",
          "description": "The reason for the failure."
        }
      },
      "description": "A failed resource."
    },
    "Failures": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Failure"
      }
    },
    "HostEntry": {
      "type": "object",
      "required": [
        "hostname",
        "ipAddress"
      ],
      "properties": {
        "hostname": {
          "$ref": "#/definitions/String",
          "description": "The hostname to use in the <code>/etc/hosts</code> entry."
        },
        "ipAddress": {
          "$ref": "#/definitions/String",
          "description": "The IP address to use in the <code>/etc/hosts</code> entry."
        }
      },
      "description": "Hostnames and IP address entries that are added to the <code>/etc/hosts</code> file of a container via the <code>extraHosts</code> parameter of its <a>ContainerDefinition</a>. "
    },
    "HostEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/HostEntry"
      }
    },
    "HostVolumeProperties": {
      "type": "object",
      "properties": {
        "sourcePath": {
          "$ref": "#/definitions/String",
          "description": "The path on the host container instance that is presented to the container. If this parameter is empty, then the Docker daemon has assigned a host path for you. If the <code>host</code> parameter contains a <code>sourcePath</code> file location, then the data volume persists at the specified location on the host container instance until you delete it manually. If the <code>sourcePath</code> value does not exist on the host container instance, the Docker daemon creates it. If the location does exist, the contents of the source path folder are exported."
        }
      },
      "description": "Details on a container instance host volume."
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidParameterException": {
      "type": "object",
      "properties": {},
      "description": "The specified parameter is invalid. Review the available parameters for the API request."
    },
    "KeyValuePair": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/String",
          "description": "The name of the key value pair. For environment variables, this is the name of the environment variable."
        },
        "value": {
          "$ref": "#/definitions/String",
          "description": "The value of the key value pair. For environment variables, this is the value of the environment variable."
        }
      },
      "description": "A key and value pair object."
    },
    "ListClustersRequest": {
      "type": "object",
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListClusters</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The maximum number of cluster results returned by <code>ListClusters</code> in paginated output. When this parameter is used, <code>ListClusters</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListClusters</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListClusters</code> returns up to 100 results and a <code>nextToken</code> value if applicable."
        }
      }
    },
    "ListClustersResponse": {
      "type": "object",
      "properties": {
        "clusterArns": {
          "$ref": "#/definitions/StringList",
          "description": "The list of full Amazon Resource Name (ARN) entries for each cluster associated with your account."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "The <code>nextToken</code> value to include in a future <code>ListClusters</code> request. When the results of a <code>ListClusters</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "ListContainerInstancesRequest": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster that hosts the container instances to list. If you do not specify a cluster, the default cluster is assumed.."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListContainerInstances</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The maximum number of container instance results returned by <code>ListContainerInstances</code> in paginated output. When this parameter is used, <code>ListContainerInstances</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListContainerInstances</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListContainerInstances</code> returns up to 100 results and a <code>nextToken</code> value if applicable."
        }
      }
    },
    "ListContainerInstancesResponse": {
      "type": "object",
      "properties": {
        "containerInstanceArns": {
          "$ref": "#/definitions/StringList",
          "description": "The list of container instances with full Amazon Resource Name (ARN) entries for each container instance associated with the specified cluster."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "The <code>nextToken</code> value to include in a future <code>ListContainerInstances</code> request. When the results of a <code>ListContainerInstances</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "ListServicesRequest": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster that hosts the services to list. If you do not specify a cluster, the default cluster is assumed.."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListServices</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The maximum number of container instance results returned by <code>ListServices</code> in paginated output. When this parameter is used, <code>ListServices</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListServices</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 10. If this parameter is not used, then <code>ListServices</code> returns up to 10 results and a <code>nextToken</code> value if applicable."
        }
      }
    },
    "ListServicesResponse": {
      "type": "object",
      "properties": {
        "serviceArns": {
          "$ref": "#/definitions/StringList",
          "description": "The list of full Amazon Resource Name (ARN) entries for each service associated with the specified cluster."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "The <code>nextToken</code> value to include in a future <code>ListServices</code> request. When the results of a <code>ListServices</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "ListTaskDefinitionFamiliesRequest": {
      "type": "object",
      "properties": {
        "familyPrefix": {
          "$ref": "#/definitions/String",
          "description": "The <code>familyPrefix</code> is a string that is used to filter the results of <code>ListTaskDefinitionFamilies</code>. If you specify a <code>familyPrefix</code>, only task definition family names that begin with the <code>familyPrefix</code> string are returned."
        },
        "status": {
          "$ref": "#/definitions/TaskDefinitionFamilyStatus",
          "description": "The task definition family status with which to filter the <code>ListTaskDefinitionFamilies</code> results. By default, both <code>ACTIVE</code> and <code>INACTIVE</code> task definition families are listed. If this parameter is set to <code>ACTIVE</code>, only task definition families that have an <code>ACTIVE</code> task definition revision are returned. If this parameter is set to <code>INACTIVE</code>, only task definition families that do not have any <code>ACTIVE</code> task definition revisions are returned. If you paginate the resulting output, be sure to keep the <code>status</code> value constant in each subsequent request."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListTaskDefinitionFamilies</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The maximum number of task definition family results returned by <code>ListTaskDefinitionFamilies</code> in paginated output. When this parameter is used, <code>ListTaskDefinitions</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListTaskDefinitionFamilies</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListTaskDefinitionFamilies</code> returns up to 100 results and a <code>nextToken</code> value if applicable."
        }
      }
    },
    "ListTaskDefinitionFamiliesResponse": {
      "type": "object",
      "properties": {
        "families": {
          "$ref": "#/definitions/StringList",
          "description": "The list of task definition family names that match the <code>ListTaskDefinitionFamilies</code> request."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "The <code>nextToken</code> value to include in a future <code>ListTaskDefinitionFamilies</code> request. When the results of a <code>ListTaskDefinitionFamilies</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "ListTaskDefinitionsRequest": {
      "type": "object",
      "properties": {
        "familyPrefix": {
          "$ref": "#/definitions/String",
          "description": "The full family name with which to filter the <code>ListTaskDefinitions</code> results. Specifying a <code>familyPrefix</code> limits the listed task definitions to task definition revisions that belong to that family."
        },
        "status": {
          "$ref": "#/definitions/TaskDefinitionStatus",
          "description": "The task definition status with which to filter the <code>ListTaskDefinitions</code> results. By default, only <code>ACTIVE</code> task definitions are listed. By setting this parameter to <code>INACTIVE</code>, you can view task definitions that are <code>INACTIVE</code> as long as an active task or service still references them. If you paginate the resulting output, be sure to keep the <code>status</code> value constant in each subsequent request."
        },
        "sort": {
          "$ref": "#/definitions/SortOrder",
          "description": "The order in which to sort the results. Valid values are <code>ASC</code> and <code>DESC</code>. By default (<code>ASC</code>), task definitions are listed lexicographically by family name and in ascending numerical order by revision so that the newest task definitions in a family are listed last. Setting this parameter to <code>DESC</code> reverses the sort order on family name and revision so that the newest task definitions in a family are listed first."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListTaskDefinitions</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The maximum number of task definition results returned by <code>ListTaskDefinitions</code> in paginated output. When this parameter is used, <code>ListTaskDefinitions</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListTaskDefinitions</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListTaskDefinitions</code> returns up to 100 results and a <code>nextToken</code> value if applicable."
        }
      }
    },
    "ListTaskDefinitionsResponse": {
      "type": "object",
      "properties": {
        "taskDefinitionArns": {
          "$ref": "#/definitions/StringList",
          "description": "The list of task definition Amazon Resource Name (ARN) entries for the <code>ListTaskDefinitions</code> request."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "The <code>nextToken</code> value to include in a future <code>ListTaskDefinitions</code> request. When the results of a <code>ListTaskDefinitions</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "ListTasksRequest": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster that hosts the tasks to list. If you do not specify a cluster, the default cluster is assumed.."
        },
        "containerInstance": {
          "$ref": "#/definitions/String",
          "description": "The container instance ID or full Amazon Resource Name (ARN) of the container instance with which to filter the <code>ListTasks</code> results. Specifying a <code>containerInstance</code> limits the results to tasks that belong to that container instance."
        },
        "family": {
          "$ref": "#/definitions/String",
          "description": "The name of the family with which to filter the <code>ListTasks</code> results. Specifying a <code>family</code> limits the results to tasks that belong to that family."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListTasks</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The maximum number of task results returned by <code>ListTasks</code> in paginated output. When this parameter is used, <code>ListTasks</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListTasks</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListTasks</code> returns up to 100 results and a <code>nextToken</code> value if applicable."
        },
        "startedBy": {
          "$ref": "#/definitions/String",
          "description": "The <code>startedBy</code> value with which to filter the task results. Specifying a <code>startedBy</code> value limits the results to tasks that were started with that value."
        },
        "serviceName": {
          "$ref": "#/definitions/String",
          "description": "The name of the service with which to filter the <code>ListTasks</code> results. Specifying a <code>serviceName</code> limits the results to tasks that belong to that service."
        },
        "desiredStatus": {
          "$ref": "#/definitions/DesiredStatus",
          "description": "<p>The task desired status with which to filter the <code>ListTasks</code> results. Specifying a <code>desiredStatus</code> of <code>STOPPED</code> limits the results to tasks that ECS has set the desired status to <code>STOPPED</code>, which can be useful for debugging tasks that are not starting properly or have died or finished. The default status filter is <code>RUNNING</code>, which shows tasks that ECS has set the desired status to <code>RUNNING</code>.</p> <note> <p>Although you can filter results based on a desired status of <code>PENDING</code>, this will not return any results because ECS never sets the desired status of a task to that value (only a task's <code>lastStatus</code> may have a value of <code>PENDING</code>).</p> </note>"
        }
      }
    },
    "ListTasksResponse": {
      "type": "object",
      "properties": {
        "taskArns": {
          "$ref": "#/definitions/StringList",
          "description": "The list of task Amazon Resource Name (ARN) entries for the <code>ListTasks</code> request."
        },
        "nextToken": {
          "$ref": "#/definitions/String",
          "description": "The <code>nextToken</code> value to include in a future <code>ListTasks</code> request. When the results of a <code>ListTasks</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "LoadBalancer": {
      "type": "object",
      "properties": {
        "targetGroupArn": {
          "$ref": "#/definitions/String",
          "description": "The full Amazon Resource Name (ARN) of the Elastic Load Balancing target group associated with a service."
        },
        "loadBalancerName": {
          "$ref": "#/definitions/String",
          "description": "The name of the load balancer."
        },
        "containerName": {
          "$ref": "#/definitions/String",
          "description": "The name of the container (as it appears in a container definition) to associate with the load balancer."
        },
        "containerPort": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The port on the container to associate with the load balancer. This port must correspond to a <code>containerPort</code> in the service's task definition. Your container instances must allow ingress traffic on the <code>hostPort</code> of the port mapping."
        }
      },
      "description": "Details on a load balancer that is used with a service."
    },
    "LoadBalancers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LoadBalancer"
      }
    },
    "LogConfiguration": {
      "type": "object",
      "required": [
        "logDriver"
      ],
      "properties": {
        "logDriver": {
          "$ref": "#/definitions/LogDriver",
          "description": "<p>The log driver to use for the container. The valid values listed for this parameter are log drivers that the Amazon ECS container agent can communicate with by default. </p> <note> <p>If you have a custom driver that is not listed above that you would like to work with the Amazon ECS container agent, you can fork the Amazon ECS container agent project that is <a href=\"https://github.com/aws/amazon-ecs-agent\">available on GitHub</a> and customize it to work with that driver. We encourage you to submit pull requests for changes that you would like to have included. However, Amazon Web Services does not currently provide support for running modified copies of this software.</p> </note> <p>This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log into your container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code> </p>"
        },
        "options": {
          "$ref": "#/definitions/LogConfigurationOptionsMap",
          "description": "The configuration options to send to the log driver. This parameter requires version 1.19 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log into your container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code> "
        }
      },
      "description": "Log configuration options to send to a custom log driver for the container."
    },
    "LogConfigurationOptionsMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      }
    },
    "LogDriver": {
      "type": "string",
      "enum": [
        "json-file",
        "syslog",
        "journald",
        "gelf",
        "fluentd",
        "awslogs",
        "splunk"
      ]
    },
    "Long": {
      "type": "integer"
    },
    "MissingVersionException": {
      "type": "object",
      "properties": {},
      "description": "Amazon ECS is unable to determine the current version of the Amazon ECS container agent on the container instance and does not have enough information to proceed with an update. This could be because the agent running on the container instance is an older or custom version that does not use our version information."
    },
    "MountPoint": {
      "type": "object",
      "properties": {
        "sourceVolume": {
          "$ref": "#/definitions/String",
          "description": "The name of the volume to mount."
        },
        "containerPath": {
          "$ref": "#/definitions/String",
          "description": "The path on the container to mount the host volume at."
        },
        "readOnly": {
          "$ref": "#/definitions/BoxedBoolean",
          "description": "If this value is <code>true</code>, the container has read-only access to the volume. If this value is <code>false</code>, then the container can write to the volume. The default value is <code>false</code>."
        }
      },
      "description": "Details on a volume mount point that is used in a container definition."
    },
    "MountPointList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/MountPoint"
      }
    },
    "NetworkBinding": {
      "type": "object",
      "properties": {
        "bindIP": {
          "$ref": "#/definitions/String",
          "description": "The IP address that the container is bound to on the container instance."
        },
        "containerPort": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The port number on the container that is be used with the network binding."
        },
        "hostPort": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The port number on the host that is used with the network binding."
        },
        "protocol": {
          "$ref": "#/definitions/TransportProtocol",
          "description": "The protocol used for the network binding."
        }
      },
      "description": "Details on the network bindings between a container and its host container instance. After a task reaches the <code>RUNNING</code> status, manual and automatic host and container port assignments are visible in the <code>networkBindings</code> section of <a>DescribeTasks</a> API responses."
    },
    "NetworkBindings": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/NetworkBinding"
      }
    },
    "NetworkMode": {
      "type": "string",
      "enum": [
        "bridge",
        "host",
        "none"
      ]
    },
    "NoUpdateAvailableException": {
      "type": "object",
      "properties": {},
      "description": "There is no update available for this Amazon ECS container agent. This could be because the agent is already running the latest version, or it is so old that there is no update path to the current version."
    },
    "PortMapping": {
      "type": "object",
      "properties": {
        "containerPort": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "The port number on the container that is bound to the user-specified or automatically assigned host port. If you specify a container port and not a host port, your container automatically receives a host port in the ephemeral port range (for more information, see <code>hostPort</code>). Port mappings that are automatically assigned in this way do not count toward the 100 reserved ports limit of a container instance."
        },
        "hostPort": {
          "$ref": "#/definitions/BoxedInteger",
          "description": "<p>The port number on the container instance to reserve for your container. You can specify a non-reserved host port for your container port mapping, or you can omit the <code>hostPort</code> (or set it to <code>0</code>) while specifying a <code>containerPort</code> and your container automatically receives a port in the ephemeral port range for your container instance operating system and Docker version.</p> <p>The default ephemeral port range is 49153 to 65535, and this range is used for Docker versions prior to 1.6.0. For Docker version 1.6.0 and later, the Docker daemon tries to read the ephemeral port range from <code>/proc/sys/net/ipv4/ip_local_port_range</code>; if this kernel parameter is unavailable, the default ephemeral port range is used. You should not attempt to specify a host port in the ephemeral port range, because these are reserved for automatic assignment. In general, ports below 32768 are outside of the ephemeral port range.</p> <p>The default reserved ports are 22 for SSH, the Docker ports 2375 and 2376, and the Amazon ECS container agent port 51678. Any host port that was previously specified in a running task is also reserved while the task is running (after a task stops, the host port is released).The current reserved ports are displayed in the <code>remainingResources</code> of <a>DescribeContainerInstances</a> output, and a container instance may have up to 100 reserved ports at a time, including the default reserved ports (automatically assigned ports do not count toward the 100 reserved ports limit).</p>"
        },
        "protocol": {
          "$ref": "#/definitions/TransportProtocol",
          "description": "The protocol used for the port mapping. Valid values are <code>tcp</code> and <code>udp</code>. The default is <code>tcp</code>."
        }
      },
      "description": "Port mappings allow containers to access ports on the host container instance to send or receive traffic. Port mappings are specified as part of the container definition. After a task reaches the <code>RUNNING</code> status, manual and automatic host and container port assignments are visible in the <code>networkBindings</code> section of <a>DescribeTasks</a> API responses."
    },
    "PortMappingList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PortMapping"
      }
    },
    "RegisterContainerInstanceRequest": {
      "type": "object",
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster with which to register your container instance. If you do not specify a cluster, the default cluster is assumed.."
        },
        "instanceIdentityDocument": {
          "$ref": "#/definitions/String",
          "description": "The instance identity document for the EC2 instance to register. This document can be found by running the following command from the instance: <code>curl http://169.254.169.254/latest/dynamic/instance-identity/document/</code> "
        },
        "instanceIdentityDocumentSignature": {
          "$ref": "#/definitions/String",
          "description": "The instance identity document signature for the EC2 instance to register. This signature can be found by running the following command from the instance: <code>curl http://169.254.169.254/latest/dynamic/instance-identity/signature/</code> "
        },
        "totalResources": {
          "$ref": "#/definitions/Resources",
          "description": "The resources available on the instance."
        },
        "versionInfo": {
          "$ref": "#/definitions/VersionInfo",
          "description": "The version information for the Amazon ECS container agent and Docker daemon running on the container instance."
        },
        "containerInstanceArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the container instance (if it was previously registered)."
        },
        "attributes": {
          "$ref": "#/definitions/Attributes",
          "description": "The container instance attributes that this container instance supports."
        }
      }
    },
    "RegisterContainerInstanceResponse": {
      "type": "object",
      "properties": {
        "containerInstance": {
          "$ref": "#/definitions/ContainerInstance"
        }
      }
    },
    "RegisterTaskDefinitionRequest": {
      "type": "object",
      "required": [
        "family",
        "containerDefinitions"
      ],
      "properties": {
        "family": {
          "$ref": "#/definitions/String",
          "description": "You must specify a <code>family</code> for a task definition, which allows you to track multiple versions of the same task definition. The <code>family</code> is used as a name for your task definition. Up to 255 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed."
        },
        "taskRoleArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the IAM role that containers in this task can assume. All containers in this task are granted the permissions that are specified in this role."
        },
        "networkMode": {
          "$ref": "#/definitions/NetworkMode",
          "description": "<p>The Docker networking mode to use for the containers in the task. The valid values are <code>none</code>, <code>bridge</code>, and <code>host</code>. </p> <p>The default Docker network mode is <code>bridge</code>. If the network mode is set to <code>none</code>, you cannot specify port mappings in your container definitions, and the task's containers do not have external connectivity. The <code>host</code> network mode offers the highest networking performance for containers because they use the host network stack instead of the virtualized network stack provided by the <code>bridge</code> mode; however, exposed container ports are mapped directly to the corresponding host port, so you cannot take advantage of dynamic host port mappings or run multiple instantiations of the same task on a single container instance if port mappings are used.</p> <p>For more information, see <a href=\"https://docs.docker.com/engine/reference/run/#network-settings\">Network settings</a> in the <i>Docker run reference</i>.</p>"
        },
        "containerDefinitions": {
          "$ref": "#/definitions/ContainerDefinitions",
          "description": "A list of container definitions in JSON format that describe the different containers that make up your task."
        },
        "volumes": {
          "$ref": "#/definitions/VolumeList",
          "description": "A list of volume definitions in JSON format that containers in your task may use."
        }
      }
    },
    "RegisterTaskDefinitionResponse": {
      "type": "object",
      "properties": {
        "taskDefinition": {
          "$ref": "#/definitions/TaskDefinition",
          "description": "The full description of the registered task definition."
        }
      }
    },
    "RequiresAttributes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Attribute"
      }
    },
    "Resource": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/String",
          "description": "The name of the resource, such as <code>CPU</code>, <code>MEMORY</code>, <code>PORTS</code>, or a user-defined resource."
        },
        "type": {
          "$ref": "#/definitions/String",
          "description": "The type of the resource, such as <code>INTEGER</code>, <code>DOUBLE</code>, <code>LONG</code>, or <code>STRINGSET</code>."
        },
        "doubleValue": {
          "$ref": "#/definitions/Double",
          "description": "When the <code>doubleValue</code> type is set, the value of the resource must be a double precision floating-point type."
        },
        "longValue": {
          "$ref": "#/definitions/Long",
          "description": "When the <code>longValue</code> type is set, the value of the resource must be an extended precision floating-point type."
        },
        "integerValue": {
          "$ref": "#/definitions/Integer",
          "description": "When the <code>integerValue</code> type is set, the value of the resource must be an integer."
        },
        "stringSetValue": {
          "$ref": "#/definitions/StringList",
          "description": "When the <code>stringSetValue</code> type is set, the value of the resource must be a string type."
        }
      },
      "description": "Describes the resources available for a container instance."
    },
    "Resources": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Resource"
      }
    },
    "RunTaskRequest": {
      "type": "object",
      "required": [
        "taskDefinition"
      ],
      "properties": {
        "cluster": {
          "$ref": "#/definitions/String",
          "description": "The short name or full Amazon Resource Name (ARN) of the cluster on which to run your task. If you do not specify a cluster, the default cluster is assumed.."
        },
        "taskDefinition": {
          "$ref": "#/definitions/String",
          "description": "The <code>family</code> and <code>revision</code> (<code>family:revision</code>) or full Amazon Resource Name (ARN) of the task definition to run. If a <code>revision</code> is not specified, the latest <code>ACTIVE</code> revision is used."
        },
        "overrides": {
[...]
