{
  "swagger": "2.0",
  "info": {
    "version": "2015-08-04",
    "x-release": "v4",
    "title": "Amazon Kinesis Firehose",
    "description": "<fullname>Amazon Kinesis Firehose API Reference</fullname> <p>Amazon Kinesis Firehose is a fully-managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), and Amazon Redshift.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/firehose/"
  },
  "host": "firehose.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "format": "date-time",
      "required": true
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UpdateDestination",
        "description": "<p>Updates the specified destination of the specified delivery stream. Note: Switching between Elasticsearch and other services is not supported. For Elasticsearch destination, you can only update an existing Elasticsearch destination with this operation.</p> <p>This operation can be used to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a given destination (for example, to change the bucket name of the Amazon S3 destination). The update may not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are normally effective within a few minutes.</p> <p>If the destination type is the same, Firehose merges the configuration parameters specified in the <a>UpdateDestination</a> request with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the update request, then the existing configuration parameters are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified then the existing <a>EncryptionConfiguration</a> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Firehose uses the <b>CurrentDeliveryStreamVersionId</b> to avoid race conditions and conflicting merges. This is a required field in every request and the service only updates the configuration if the existing configuration matches the <b>VersionId</b>. After the update is applied successfully, the <b>VersionId</b> is updated, which can be retrieved with the <a>DescribeDeliveryStream</a> operation. The new <b>VersionId</b> should be uses to set <b>CurrentDeliveryStreamVersionId</b> in the next <a>UpdateDestination</a> operation.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateDestinationOutput"
            }
          },
          "480": {
            "description": "InvalidArgumentException",
            "schema": {
              "$ref": "#/definitions/InvalidArgumentException"
            }
          },
          "481": {
            "description": "ResourceInUseException",
            "schema": {
              "$ref": "#/definitions/ResourceInUseException"
            }
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "483": {
            "description": "ConcurrentModificationException",
            "schema": {
              "$ref": "#/definitions/ConcurrentModificationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDestinationInput"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        }
      ]
    }
  },
  "definitions": {
    "AWSKMSKeyARN": {
      "type": "string",
      "pattern": "arn:.*",
      "minLength": 1,
      "maxLength": 512
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BucketARN": {
      "type": "string",
      "pattern": "arn:.*",
      "minLength": 1,
      "maxLength": 2048
    },
    "BufferingHints": {
      "type": "object",
      "properties": {
        "SizeInMBs": {
          "$ref": "#/definitions/SizeInMBs",
          "description": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting SizeInMBs to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec set SizeInMBs to be 10 MB or higher.</p>"
        },
        "IntervalInSeconds": {
          "$ref": "#/definitions/IntervalInSeconds",
          "description": "Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300."
        }
      },
      "description": "Describes hints for the buffering to perform before delivering data to the destination. Please note that these options are treated as hints, and therefore Firehose may choose to use different values when it is optimal."
    },
    "CloudWatchLoggingOptions": {
      "type": "object",
      "properties": {
        "Enabled": {
          "$ref": "#/definitions/BooleanObject",
          "description": "Enables or disables CloudWatch logging."
        },
        "LogGroupName": {
          "$ref": "#/definitions/LogGroupName",
          "description": "The CloudWatch group name for logging. This value is required if Enabled is true."
        },
        "LogStreamName": {
          "$ref": "#/definitions/LogStreamName",
          "description": "The CloudWatch log stream name for logging. This value is required if Enabled is true."
        }
      },
      "description": "Describes CloudWatch logging options for your delivery stream."
    },
    "ClusterJDBCURL": {
      "type": "string",
      "minLength": 1,
      "x-pattern": "jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.amazonaws\\.com:\\d{1,5}/[a-zA-Z0-9_$]+"
    },
    "CompressionFormat": {
      "type": "string",
      "enum": [
        "UNCOMPRESSED",
        "GZIP",
        "ZIP",
        "Snappy"
      ]
    },
    "ConcurrentModificationException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A message that provides information about the error."
        }
      },
      "description": "Another modification has already happened. Fetch <b>VersionId</b> again and use it to update the destination."
    },
    "CopyCommand": {
      "type": "object",
      "required": [
        "DataTableName"
      ],
      "properties": {
        "DataTableName": {
          "$ref": "#/definitions/DataTableName",
          "description": "The name of the target table. The table must already exist in the database."
        },
        "DataTableColumns": {
          "$ref": "#/definitions/DataTableColumns",
          "description": "A comma-separated list of column names."
        },
        "CopyOptions": {
          "$ref": "#/definitions/CopyOptions",
          "description": "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows.</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>"
        }
      },
      "description": "Describes a <code>COPY</code> command for Amazon Redshift."
    },
    "CopyOptions": {
      "type": "string"
    },
    "CreateDeliveryStreamInput": {
      "type": "object",
      "required": [
        "DeliveryStreamName"
      ],
      "properties": {
        "DeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream."
        },
        "S3DestinationConfiguration": {
          "$ref": "#/definitions/S3DestinationConfiguration",
          "description": "The destination in Amazon S3. This value must be specified if <b>ElasticsearchDestinationConfiguration</b> or <b>RedshiftDestinationConfiguration</b> is specified (see restrictions listed above)."
        },
        "RedshiftDestinationConfiguration": {
          "$ref": "#/definitions/RedshiftDestinationConfiguration",
          "description": "The destination in Amazon Redshift. This value cannot be specified if Amazon S3 or Amazon Elasticsearch is the desired destination (see restrictions listed above)."
        },
        "ElasticsearchDestinationConfiguration": {
          "$ref": "#/definitions/ElasticsearchDestinationConfiguration",
          "description": "The destination in Amazon ES. This value cannot be specified if Amazon S3 or Amazon Redshift is the desired destination (see restrictions listed above)."
        }
      },
      "description": "Contains the parameters for <a>CreateDeliveryStream</a>."
    },
    "CreateDeliveryStreamOutput": {
      "type": "object",
      "properties": {
        "DeliveryStreamARN": {
          "$ref": "#/definitions/DeliveryStreamARN",
          "description": "The ARN of the delivery stream."
        }
      },
      "description": "Contains the output of <a>CreateDeliveryStream</a>."
    },
    "Data": {
      "type": "string",
      "minLength": 0,
      "maxLength": 1024000
    },
    "DataTableColumns": {
      "type": "string"
    },
    "DataTableName": {
      "type": "string",
      "minLength": 1
    },
    "DeleteDeliveryStreamInput": {
      "type": "object",
      "required": [
        "DeliveryStreamName"
      ],
      "properties": {
        "DeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream."
        }
      },
      "description": "Contains the parameters for <a>DeleteDeliveryStream</a>."
    },
    "DeleteDeliveryStreamOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of <a>DeleteDeliveryStream</a>."
    },
    "DeliveryStreamARN": {
      "type": "string"
    },
    "DeliveryStreamDescription": {
      "type": "object",
      "required": [
        "DeliveryStreamName",
        "DeliveryStreamARN",
        "DeliveryStreamStatus",
        "VersionId",
        "Destinations",
        "HasMoreDestinations"
      ],
      "properties": {
        "DeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream."
        },
        "DeliveryStreamARN": {
          "$ref": "#/definitions/DeliveryStreamARN",
          "description": "The Amazon Resource Name (ARN) of the delivery stream."
        },
        "DeliveryStreamStatus": {
          "$ref": "#/definitions/DeliveryStreamStatus",
          "description": "The status of the delivery stream."
        },
        "VersionId": {
          "$ref": "#/definitions/DeliveryStreamVersionId",
          "description": "Used when calling the <a>UpdateDestination</a> operation. Each time the destination is updated for the delivery stream, the VersionId is changed, and the current VersionId is required when updating the destination. This is so that the service knows it is applying the changes to the correct version of the delivery stream."
        },
        "CreateTimestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time that the delivery stream was created."
        },
        "LastUpdateTimestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time that the delivery stream was last updated."
        },
        "Destinations": {
          "$ref": "#/definitions/DestinationDescriptionList",
          "description": "The destinations."
        },
        "HasMoreDestinations": {
          "$ref": "#/definitions/BooleanObject",
          "description": "Indicates whether there are more destinations available to list."
        }
      },
      "description": "Contains information about a delivery stream."
    },
    "DeliveryStreamName": {
      "type": "string",
      "pattern": "[a-zA-Z0-9_.-]+",
      "minLength": 1,
      "maxLength": 64
    },
    "DeliveryStreamNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DeliveryStreamName"
      }
    },
    "DeliveryStreamStatus": {
      "type": "string",
      "enum": [
        "CREATING",
        "DELETING",
        "ACTIVE"
      ]
    },
    "DeliveryStreamVersionId": {
      "type": "string",
      "pattern": "[0-9]+",
      "minLength": 1,
      "maxLength": 50
    },
    "DescribeDeliveryStreamInput": {
      "type": "object",
      "required": [
        "DeliveryStreamName"
      ],
      "properties": {
        "DeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream."
        },
        "Limit": {
          "$ref": "#/definitions/DescribeDeliveryStreamInputLimit",
          "description": "The limit on the number of destinations to return. Currently, you can have one destination per delivery stream."
        },
        "ExclusiveStartDestinationId": {
          "$ref": "#/definitions/DestinationId",
          "description": "Specifies the destination ID to start returning the destination information. Currently Firehose supports one destination per delivery stream."
        }
      },
      "description": "Contains the parameters for <a>DescribeDeliveryStream</a>."
    },
    "DescribeDeliveryStreamInputLimit": {
      "type": "integer",
      "minimum": 1,
      "maximum": 10000
    },
    "DescribeDeliveryStreamOutput": {
      "type": "object",
      "required": [
        "DeliveryStreamDescription"
      ],
      "properties": {
        "DeliveryStreamDescription": {
          "$ref": "#/definitions/DeliveryStreamDescription",
          "description": "Information about the delivery stream."
        }
      },
      "description": "Contains the output of <a>DescribeDeliveryStream</a>."
    },
    "DestinationDescription": {
      "type": "object",
      "required": [
        "DestinationId"
      ],
      "properties": {
        "DestinationId": {
          "$ref": "#/definitions/DestinationId",
          "description": "The ID of the destination."
        },
        "S3DestinationDescription": {
          "$ref": "#/definitions/S3DestinationDescription",
          "description": "The Amazon S3 destination."
        },
        "RedshiftDestinationDescription": {
          "$ref": "#/definitions/RedshiftDestinationDescription",
          "description": "The destination in Amazon Redshift."
        },
        "ElasticsearchDestinationDescription": {
          "$ref": "#/definitions/ElasticsearchDestinationDescription",
          "description": "The destination in Amazon ES."
        }
      },
      "description": "Describes the destination for a delivery stream."
    },
    "DestinationDescriptionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DestinationDescription"
      }
    },
    "DestinationId": {
      "type": "string",
      "minLength": 1,
      "maxLength": 100
    },
    "ElasticsearchBufferingHints": {
      "type": "object",
      "properties": {
        "IntervalInSeconds": {
          "$ref": "#/definitions/ElasticsearchBufferingIntervalInSeconds",
          "description": "Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes)."
        },
        "SizeInMBs": {
          "$ref": "#/definitions/ElasticsearchBufferingSizeInMBs",
          "description": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting <b>SizeInMBs</b> to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, set <b>SizeInMBs</b> to be 10 MB or higher.</p>"
        }
      },
      "description": "Describes the buffering to perform before delivering data to the Amazon ES destination."
    },
    "ElasticsearchBufferingIntervalInSeconds": {
      "type": "integer",
      "minimum": 60,
      "maximum": 900
    },
    "ElasticsearchBufferingSizeInMBs": {
      "type": "integer",
      "minimum": 1,
      "maximum": 100
    },
    "ElasticsearchDestinationConfiguration": {
      "type": "object",
      "required": [
        "RoleARN",
        "DomainARN",
        "IndexName",
        "TypeName",
        "S3Configuration"
      ],
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the IAM role to be assumed by Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a>."
        },
        "DomainARN": {
          "$ref": "#/definitions/ElasticsearchDomainARN",
          "description": "The ARN of the Amazon ES domain. The IAM role must have permission for <code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code> , and <code>DescribeElasticsearchDomainConfig</code> after assuming <b>RoleARN</b>."
        },
        "IndexName": {
          "$ref": "#/definitions/ElasticsearchIndexName",
          "description": "The Elasticsearch index name."
        },
        "TypeName": {
          "$ref": "#/definitions/ElasticsearchTypeName",
          "description": "The Elasticsearch type name."
        },
        "IndexRotationPeriod": {
          "$ref": "#/definitions/ElasticsearchIndexRotationPeriod",
          "description": "The Elasticsearch index rotation period. Index rotation appends a timestamp to the IndexName to facilitate expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for Amazon Elasticsearch Service Destination</a>. Default value is <code>OneDay</code>."
        },
        "BufferingHints": {
          "$ref": "#/definitions/ElasticsearchBufferingHints",
          "description": "Buffering options. If no value is specified, <b>ElasticsearchBufferingHints</b> object default values are used. "
        },
        "RetryOptions": {
          "$ref": "#/definitions/ElasticsearchRetryOptions",
          "description": "Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon ES. Default value is 300 (5 minutes)."
        },
        "S3BackupMode": {
          "$ref": "#/definitions/ElasticsearchS3BackupMode",
          "description": "Defines how documents should be delivered to Amazon S3. When set to FailedDocumentsOnly, Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with elasticsearch-failed/ appended to the key prefix. When set to AllDocuments, Firehose delivers all incoming records to Amazon S3, and also writes failed documents with elasticsearch-failed/ appended to the prefix. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup\">Amazon S3 Backup for Amazon Elasticsearch Service Destination</a>. Default value is FailedDocumentsOnly."
        },
        "S3Configuration": {
          "$ref": "#/definitions/S3DestinationConfiguration"
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes the configuration of a destination in Amazon ES."
    },
    "ElasticsearchDestinationDescription": {
      "type": "object",
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the AWS credentials."
        },
        "DomainARN": {
          "$ref": "#/definitions/ElasticsearchDomainARN",
          "description": "The ARN of the Amazon ES domain."
        },
        "IndexName": {
          "$ref": "#/definitions/ElasticsearchIndexName",
          "description": "The Elasticsearch index name."
        },
        "TypeName": {
          "$ref": "#/definitions/ElasticsearchTypeName",
          "description": "The Elasticsearch type name."
        },
        "IndexRotationPeriod": {
          "$ref": "#/definitions/ElasticsearchIndexRotationPeriod",
          "description": "The Elasticsearch index rotation period"
        },
        "BufferingHints": {
          "$ref": "#/definitions/ElasticsearchBufferingHints",
          "description": "Buffering options."
        },
        "RetryOptions": {
          "$ref": "#/definitions/ElasticsearchRetryOptions",
          "description": "Elasticsearch retry options."
        },
        "S3BackupMode": {
          "$ref": "#/definitions/ElasticsearchS3BackupMode",
          "description": "Amazon S3 backup mode."
        },
        "S3DestinationDescription": {
          "$ref": "#/definitions/S3DestinationDescription"
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "CloudWatch logging options."
        }
      },
      "description": "The destination description in Amazon ES."
    },
    "ElasticsearchDestinationUpdate": {
      "type": "object",
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the IAM role to be assumed by Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon S3 Bucket Access</a>."
        },
        "DomainARN": {
          "$ref": "#/definitions/ElasticsearchDomainARN",
          "description": "The ARN of the Amazon ES domain. The IAM role must have permission for DescribeElasticsearchDomain, DescribeElasticsearchDomains , and DescribeElasticsearchDomainConfig after assuming <b>RoleARN</b>."
        },
        "IndexName": {
          "$ref": "#/definitions/ElasticsearchIndexName",
          "description": "The Elasticsearch index name."
        },
        "TypeName": {
          "$ref": "#/definitions/ElasticsearchTypeName",
          "description": "The Elasticsearch type name."
        },
        "IndexRotationPeriod": {
          "$ref": "#/definitions/ElasticsearchIndexRotationPeriod",
          "description": "The Elasticsearch index rotation period. Index rotation appends a timestamp to the IndexName to facilitate the expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for Amazon Elasticsearch Service Destination</a>. Default value is <code>OneDay</code>."
        },
        "BufferingHints": {
          "$ref": "#/definitions/ElasticsearchBufferingHints",
          "description": "Buffering options. If no value is specified, <b>ElasticsearchBufferingHints</b> object default values are used. "
        },
        "RetryOptions": {
          "$ref": "#/definitions/ElasticsearchRetryOptions",
          "description": "Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon ES. Default value is 300 (5 minutes)."
        },
        "S3Update": {
          "$ref": "#/definitions/S3DestinationUpdate"
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes an update for a destination in Amazon ES."
    },
    "ElasticsearchDomainARN": {
      "type": "string",
      "pattern": "arn:.*",
      "minLength": 1,
      "maxLength": 512
    },
    "ElasticsearchIndexName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
    },
    "ElasticsearchIndexRotationPeriod": {
      "type": "string",
      "enum": [
        "NoRotation",
        "OneHour",
        "OneDay",
        "OneWeek",
        "OneMonth"
      ]
    },
    "ElasticsearchRetryDurationInSeconds": {
      "type": "integer",
      "minimum": 0,
      "maximum": 7200
    },
    "ElasticsearchRetryOptions": {
      "type": "object",
      "properties": {
        "DurationInSeconds": {
          "$ref": "#/definitions/ElasticsearchRetryDurationInSeconds",
          "description": "After an initial failure to deliver to Amazon ES, the total amount of time during which Firehose re-attempts delivery (including the first attempt). After this time has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results in no retries."
        }
      },
      "description": "Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon ES."
    },
    "ElasticsearchS3BackupMode": {
      "type": "string",
      "enum": [
        "FailedDocumentsOnly",
        "AllDocuments"
      ]
    },
    "ElasticsearchTypeName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 100
    },
    "EncryptionConfiguration": {
      "type": "object",
      "properties": {
        "NoEncryptionConfig": {
          "$ref": "#/definitions/NoEncryptionConfig",
          "description": "Specifically override existing encryption information to ensure no encryption is used."
        },
        "KMSEncryptionConfig": {
          "$ref": "#/definitions/KMSEncryptionConfig",
          "description": "The encryption key."
        }
      },
      "description": "Describes the encryption for a destination in Amazon S3."
    },
    "ErrorCode": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "IntervalInSeconds": {
      "type": "integer",
      "minimum": 60,
      "maximum": 900
    },
    "InvalidArgumentException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A message that provides information about the error."
        }
      },
      "description": "The specified input parameter has an value that is not valid."
    },
    "KMSEncryptionConfig": {
      "type": "object",
      "required": [
        "AWSKMSKeyARN"
      ],
      "properties": {
        "AWSKMSKeyARN": {
          "$ref": "#/definitions/AWSKMSKeyARN",
          "description": "The ARN of the encryption key. Must belong to the same region as the destination Amazon S3 bucket."
        }
      },
      "description": "Describes an encryption key for a destination in Amazon S3."
    },
    "LimitExceededException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A message that provides information about the error."
        }
      },
      "description": "You have already reached the limit for a requested resource."
    },
    "ListDeliveryStreamsInput": {
      "type": "object",
      "properties": {
        "Limit": {
          "$ref": "#/definitions/ListDeliveryStreamsInputLimit",
          "description": "The maximum number of delivery streams to list."
        },
        "ExclusiveStartDeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream to start the list with."
        }
      },
      "description": "Contains the parameters for <a>ListDeliveryStreams</a>."
    },
    "ListDeliveryStreamsInputLimit": {
      "type": "integer",
      "minimum": 1,
      "maximum": 10000
    },
    "ListDeliveryStreamsOutput": {
      "type": "object",
      "required": [
        "DeliveryStreamNames",
        "HasMoreDeliveryStreams"
      ],
      "properties": {
        "DeliveryStreamNames": {
          "$ref": "#/definitions/DeliveryStreamNameList",
          "description": "The names of the delivery streams."
        },
        "HasMoreDeliveryStreams": {
          "$ref": "#/definitions/BooleanObject",
          "description": "Indicates whether there are more delivery streams available to list."
        }
      },
      "description": "Contains the output of <a>ListDeliveryStreams</a>."
    },
    "LogGroupName": {
      "type": "string"
    },
    "LogStreamName": {
      "type": "string"
    },
    "NoEncryptionConfig": {
      "type": "string",
      "enum": [
        "NoEncryption"
      ]
    },
    "NonNegativeIntegerObject": {
      "type": "integer",
      "minimum": 0
    },
    "Password": {
      "type": "string",
      "minLength": 6,
      "format": "password"
    },
    "Prefix": {
      "type": "string"
    },
    "PutRecordBatchInput": {
      "type": "object",
      "required": [
        "DeliveryStreamName",
        "Records"
      ],
      "properties": {
        "DeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream."
        },
        "Records": {
          "$ref": "#/definitions/PutRecordBatchRequestEntryList",
          "description": "One or more records."
        }
      },
      "description": "Contains the parameters for <a>PutRecordBatch</a>."
    },
    "PutRecordBatchOutput": {
      "type": "object",
      "required": [
        "FailedPutCount",
        "RequestResponses"
      ],
      "properties": {
        "FailedPutCount": {
          "$ref": "#/definitions/NonNegativeIntegerObject",
          "description": "The number of unsuccessfully written records."
        },
        "RequestResponses": {
          "$ref": "#/definitions/PutRecordBatchResponseEntryList",
          "description": "The results for the individual records. The index of each element matches the same index in which records were sent."
        }
      },
      "description": "Contains the output of <a>PutRecordBatch</a>."
    },
    "PutRecordBatchRequestEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Record"
      },
      "minItems": 1,
      "maxItems": 500
    },
    "PutRecordBatchResponseEntry": {
      "type": "object",
      "properties": {
        "RecordId": {
          "$ref": "#/definitions/PutResponseRecordId",
          "description": "The ID of the record."
        },
        "ErrorCode": {
          "$ref": "#/definitions/ErrorCode",
          "description": "The error code for an individual record result."
        },
        "ErrorMessage": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "The error message for an individual record result."
        }
      },
      "description": "Contains the result for an individual record from a <a>PutRecordBatch</a> request. If the record is successfully added to your delivery stream, it receives a record ID. If the record fails to be added to your delivery stream, the result includes an error code and an error message."
    },
    "PutRecordBatchResponseEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PutRecordBatchResponseEntry"
      },
      "minItems": 1,
      "maxItems": 500
    },
    "PutRecordInput": {
      "type": "object",
      "required": [
        "DeliveryStreamName",
        "Record"
      ],
      "properties": {
        "DeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream."
        },
        "Record": {
          "$ref": "#/definitions/Record",
          "description": "The record."
        }
      },
      "description": "Contains the parameters for <a>PutRecord</a>."
    },
    "PutRecordOutput": {
      "type": "object",
      "required": [
        "RecordId"
      ],
      "properties": {
        "RecordId": {
          "$ref": "#/definitions/PutResponseRecordId",
          "description": "The ID of the record."
        }
      },
      "description": "Contains the output of <a>PutRecord</a>."
    },
    "PutResponseRecordId": {
      "type": "string",
      "minLength": 1
    },
    "Record": {
      "type": "object",
      "required": [
        "Data"
      ],
      "properties": {
        "Data": {
          "$ref": "#/definitions/Data",
          "description": "The data blob, which is base64-encoded when the blob is serialized. The maximum size of the data blob, before base64-encoding, is 1,000 KB."
        }
      },
      "description": "The unit of data in a delivery stream."
    },
    "RedshiftDestinationConfiguration": {
      "type": "object",
      "required": [
        "RoleARN",
        "ClusterJDBCURL",
        "CopyCommand",
        "Username",
        "Password",
        "S3Configuration"
      ],
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the AWS credentials."
        },
        "ClusterJDBCURL": {
          "$ref": "#/definitions/ClusterJDBCURL",
          "description": "The database connection string."
        },
        "CopyCommand": {
          "$ref": "#/definitions/CopyCommand",
          "description": "The <code>COPY</code> command."
        },
        "Username": {
          "$ref": "#/definitions/Username",
          "description": "The name of the user."
        },
        "Password": {
          "$ref": "#/definitions/Password",
          "description": "The user password."
        },
        "RetryOptions": {
          "$ref": "#/definitions/RedshiftRetryOptions",
          "description": "Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes)."
        },
        "S3Configuration": {
          "$ref": "#/definitions/S3DestinationConfiguration",
          "description": "<p>The S3 configuration for the intermediate location from which Amazon Redshift obtains data. Restrictions are described in the topic for <a>CreateDeliveryStream</a>.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p>"
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes the configuration of a destination in Amazon Redshift."
    },
    "RedshiftDestinationDescription": {
      "type": "object",
      "required": [
        "RoleARN",
        "ClusterJDBCURL",
        "CopyCommand",
        "Username",
        "S3DestinationDescription"
      ],
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the AWS credentials."
        },
        "ClusterJDBCURL": {
          "$ref": "#/definitions/ClusterJDBCURL",
          "description": "The database connection string."
        },
        "CopyCommand": {
          "$ref": "#/definitions/CopyCommand",
          "description": "The <code>COPY</code> command."
        },
        "Username": {
          "$ref": "#/definitions/Username",
          "description": "The name of the user."
        },
        "RetryOptions": {
          "$ref": "#/definitions/RedshiftRetryOptions",
          "description": "Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes)."
        },
        "S3DestinationDescription": {
          "$ref": "#/definitions/S3DestinationDescription",
          "description": "The Amazon S3 destination."
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes a destination in Amazon Redshift."
    },
    "RedshiftDestinationUpdate": {
      "type": "object",
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the AWS credentials."
        },
        "ClusterJDBCURL": {
          "$ref": "#/definitions/ClusterJDBCURL",
          "description": "The database connection string."
        },
        "CopyCommand": {
          "$ref": "#/definitions/CopyCommand",
          "description": "The <code>COPY</code> command."
        },
        "Username": {
          "$ref": "#/definitions/Username",
          "description": "The name of the user."
        },
        "Password": {
          "$ref": "#/definitions/Password",
          "description": "The user password."
        },
        "RetryOptions": {
          "$ref": "#/definitions/RedshiftRetryOptions",
          "description": "Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift. Default value is 3600 (60 minutes)."
        },
        "S3Update": {
          "$ref": "#/definitions/S3DestinationUpdate",
          "description": "<p>The Amazon S3 destination.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <b>RedshiftDestinationUpdate.S3Update</b> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p>"
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes an update for a destination in Amazon Redshift."
    },
    "RedshiftRetryDurationInSeconds": {
      "type": "integer",
      "minimum": 0,
      "maximum": 7200
    },
    "RedshiftRetryOptions": {
      "type": "object",
      "properties": {
        "DurationInSeconds": {
          "$ref": "#/definitions/RedshiftRetryDurationInSeconds",
          "description": "The length of time during which Firehose retries delivery after a failure, starting from the initial request and including the first attempt. The default value is 3600 seconds (60 minutes). Firehose does not retry if the value of <code>DurationInSeconds</code> is 0 (zero) or if the first delivery attempt takes longer than the current value."
        }
      },
      "description": "Configures retry behavior in the event that Firehose is unable to deliver documents to Amazon Redshift."
    },
    "ResourceInUseException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A message that provides information about the error."
        }
      },
      "description": "The resource is already in use and not available for this operation."
    },
    "ResourceNotFoundException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A message that provides information about the error."
        }
      },
      "description": "The specified resource could not be found."
    },
    "RoleARN": {
      "type": "string",
      "pattern": "arn:.*",
      "minLength": 1,
      "maxLength": 512
    },
    "S3DestinationConfiguration": {
      "type": "object",
      "required": [
        "RoleARN",
        "BucketARN"
      ],
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the AWS credentials."
        },
        "BucketARN": {
          "$ref": "#/definitions/BucketARN",
          "description": "The ARN of the S3 bucket."
        },
        "Prefix": {
          "$ref": "#/definitions/Prefix",
          "description": "The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon S3 Object Name Format</a> in the <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/\">Amazon Kinesis Firehose Developer Guide</a>."
        },
        "BufferingHints": {
          "$ref": "#/definitions/BufferingHints",
          "description": "The buffering option. If no value is specified, <b>BufferingHints</b> object default values are used."
        },
        "CompressionFormat": {
          "$ref": "#/definitions/CompressionFormat",
          "description": "<p>The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified for Amazon Redshift destinations because they are not supported by the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket.</p>"
        },
        "EncryptionConfiguration": {
          "$ref": "#/definitions/EncryptionConfiguration",
          "description": "The encryption configuration. If no value is specified, the default is no encryption."
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes the configuration of a destination in Amazon S3."
    },
    "S3DestinationDescription": {
      "type": "object",
      "required": [
        "RoleARN",
        "BucketARN",
        "BufferingHints",
        "CompressionFormat",
        "EncryptionConfiguration"
      ],
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the AWS credentials."
        },
        "BucketARN": {
          "$ref": "#/definitions/BucketARN",
          "description": "The ARN of the S3 bucket."
        },
        "Prefix": {
          "$ref": "#/definitions/Prefix",
          "description": "The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon S3 Object Name Format</a> in the <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/\">Amazon Kinesis Firehose Developer Guide</a>."
        },
        "BufferingHints": {
          "$ref": "#/definitions/BufferingHints",
          "description": "The buffering option. If no value is specified, <b>BufferingHints</b> object default values are used."
        },
        "CompressionFormat": {
          "$ref": "#/definitions/CompressionFormat",
          "description": "The compression format. If no value is specified, the default is <code>NOCOMPRESSION</code>."
        },
        "EncryptionConfiguration": {
          "$ref": "#/definitions/EncryptionConfiguration",
          "description": "The encryption configuration. If no value is specified, the default is no encryption."
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes a destination in Amazon S3."
    },
    "S3DestinationUpdate": {
      "type": "object",
      "properties": {
        "RoleARN": {
          "$ref": "#/definitions/RoleARN",
          "description": "The ARN of the AWS credentials."
        },
        "BucketARN": {
          "$ref": "#/definitions/BucketARN",
          "description": "The ARN of the S3 bucket."
        },
        "Prefix": {
          "$ref": "#/definitions/Prefix",
          "description": "The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files. You can specify an extra prefix to be added in front of the time format prefix. Note that if the prefix ends with a slash, it appears as a folder in the S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon S3 Object Name Format</a> in the <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/\">Amazon Kinesis Firehose Developer Guide</a>."
        },
        "BufferingHints": {
          "$ref": "#/definitions/BufferingHints",
          "description": "The buffering option. If no value is specified, <b>BufferingHints</b> object default values are used."
        },
        "CompressionFormat": {
          "$ref": "#/definitions/CompressionFormat",
          "description": "<p>The compression format. If no value is specified, the default is <code>NOCOMPRESSION</code>.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified for Amazon Redshift destinations because they are not supported by the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket.</p>"
        },
        "EncryptionConfiguration": {
          "$ref": "#/definitions/EncryptionConfiguration",
          "description": "The encryption configuration. If no value is specified, the default is no encryption."
        },
        "CloudWatchLoggingOptions": {
          "$ref": "#/definitions/CloudWatchLoggingOptions",
          "description": "Describes CloudWatch logging options for your delivery stream."
        }
      },
      "description": "Describes an update for a destination in Amazon S3."
    },
    "ServiceUnavailableException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A message that provides information about the error."
        }
      },
      "description": "The service is unavailable, back off and retry the operation. If you continue to see the exception, throughput limits for the delivery stream may have been exceeded. For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Firehose Limits</a>."
    },
    "SizeInMBs": {
      "type": "integer",
      "minimum": 1,
      "maximum": 128
    },
    "Timestamp": {
      "type": "string",
      "format": "date-time"
    },
    "UpdateDestinationInput": {
      "type": "object",
      "required": [
        "DeliveryStreamName",
        "CurrentDeliveryStreamVersionId",
        "DestinationId"
      ],
      "properties": {
        "DeliveryStreamName": {
          "$ref": "#/definitions/DeliveryStreamName",
          "description": "The name of the delivery stream."
        },
        "CurrentDeliveryStreamVersionId": {
          "$ref": "#/definitions/DeliveryStreamVersionId",
          "description": "Obtain this value from the <b>VersionId</b> result of the <a>DeliveryStreamDescription</a> operation. This value is required, and helps the service to perform conditional operations. For example, if there is a interleaving update and this value is null, then the update destination fails. After the update is successful, the <b>VersionId</b> value is updated. The service then performs a merge of the old configuration with the new configuration."
        },
        "DestinationId": {
          "$ref": "#/definitions/DestinationId",
          "description": "The ID of the destination."
        },
        "S3DestinationUpdate": {
          "$ref": "#/definitions/S3DestinationUpdate",
          "description": "Describes an update for a destination in Amazon S3."
        },
        "RedshiftDestinationUpdate": {
          "$ref": "#/definitions/RedshiftDestinationUpdate",
          "description": "Describes an update for a destination in Amazon Redshift."
        },
        "ElasticsearchDestinationUpdate": {
          "$ref": "#/definitions/ElasticsearchDestinationUpdate",
          "description": "Describes an update for a destination in Amazon ES."
        }
      },
      "description": "Contains the parameters for <a>UpdateDestination</a>."
    },
    "UpdateDestinationOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of <a>UpdateDestination</a>."
    },
    "Username": {
      "type": "string",
      "minLength": 1,
      "format": "password"
    }
  }
}