{
  "swagger": "2.0",
  "x-hasEquivalentPaths": true,
  "info": {
    "title": "London Theatre Direct REST API SANDBOX",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://iodocs.londontheatredirect.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "3964"
  },
  "schemes": [
    "http"
  ],
  "host": "iodocs.londontheatredirect.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://iodocs.londontheatredirect.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Ticketing Data API"
    },
    {
      "name": "Booking API"
    },
    {
      "name": "System API"
    }
  ],
  "paths": {
    "/Venues": {
      "get": {
        "operationId": "VenuesTicketingDataAPI",
        "summary": "Returns all Venues",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Venues/{id}": {
      "get": {
        "operationId": "Venues/{id}TicketingDataAPI",
        "summary": "Returns venue detail",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "VenueId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Venues/{id}/Events": {
      "get": {
        "operationId": "Venues/{id}/EventsTicketingDataAPI",
        "summary": "Returns all LIVE events for provided venue",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "VenueId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events": {
      "get": {
        "operationId": "Events?type={type}TicketingDataAPI",
        "summary": "Returns all LIVE events of provided type",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "type",
            "type": "string",
            "description": "TypeId",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events/{id}": {
      "get": {
        "operationId": "Events/{id}TicketingDataAPI",
        "summary": "Returns Event detail",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "EventId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events/{id}/Reviews": {
      "get": {
        "operationId": "Events/{id}/ReviewsTicketingDataAPI",
        "summary": "Returns event reviews",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "EventId",
            "in": "path",
            "required": true
          },
          {
            "name": "order",
            "type": "integer",
            "description": "ReviewsOrder",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Reviews count",
            "in": "query",
            "required": false
          },
          {
            "name": "from",
            "type": "integer",
            "description": "Reviews skiped",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events/{id}/PreliminaryBookingInfo": {
      "get": {
        "operationId": "Events/{id}/PreliminaryBookingInfo?dateFrom={dateFrom}&dateTo={dateTo}&nbOfTickets={nbOfTickets}&consecutiveSeatsOnly={consecutiveSeatsOnly}TicketingDataAPI",
        "summary": "Returns a preliminary booking information of all p...",
        "description": "Returns a preliminary booking information of all performances for a specified event.",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "EventId",
            "in": "path",
            "required": true
          },
          {
            "name": "dateFrom",
            "type": "string",
            "format": "date",
            "description": "Date from [YYYY-MM-DD]",
            "in": "query",
            "required": true
          },
          {
            "name": "dateTo",
            "type": "string",
            "format": "date",
            "description": "Date to [YYYY-MM-DD]",
            "in": "query",
            "required": true
          },
          {
            "name": "nbOfTickets",
            "type": "integer",
            "description": "Number of tickets",
            "in": "query",
            "required": true
          },
          {
            "name": "consecutiveSeatsOnly",
            "type": "boolean",
            "description": "Consecutive seats only",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events/{id}/AvailableTickets": {
      "get": {
        "operationId": "Events/{id}/AvailableTickets?dateFrom={dateFrom}&dateTo={dateTo}&nbOfTickets={nbOfTickets}TicketingDataAPI",
        "summary": "Returns available tickets for provided event filte...",
        "description": "Returns available tickets for provided event filtered by aditionnal parameters",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "EventId",
            "in": "path",
            "required": true
          },
          {
            "name": "dateFrom",
            "type": "string",
            "format": "date",
            "description": "Date from [YYYY-MM-DD]",
            "in": "query",
            "required": true
          },
          {
            "name": "dateTo",
            "type": "string",
            "format": "date",
            "description": "Date to [YYYY-MM-DD]",
            "in": "query",
            "required": true
          },
          {
            "name": "nbOfTickets",
            "type": "integer",
            "description": "Number of tickets",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events/{eventids}/AvailableTickets": {
      "get": {
        "operationId": "Events/{eventids}/AvailableTickets?dateFrom={dateFrom}&dateTo={dateTo}&nbOfTickets={nbOfTickets}&consecutiveSeatsOnly={consecutiveSeatsOnly}TicketingDataAPI",
        "summary": "Returns available tickets for provided event filte...",
        "description": "Returns available tickets for provided event filtered by aditionnal parameters",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "eventids",
            "type": "string",
            "description": "EventIds [1,2,4,5]",
            "in": "path",
            "required": true
          },
          {
            "name": "dateFrom",
            "type": "string",
            "format": "date",
            "description": "Date from [YYYY-MM-DD]",
            "in": "query",
            "required": true
          },
          {
            "name": "dateTo",
            "type": "string",
            "format": "date",
            "description": "Date to [YYYY-MM-DD]",
            "in": "query",
            "required": true
          },
          {
            "name": "nbOfTickets",
            "type": "integer",
            "description": "Number of tickets",
            "in": "query",
            "required": true
          },
          {
            "name": "consecutiveSeatsOnly",
            "type": "boolean",
            "description": "Consecutive seats only",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events/{id}/Performances": {
      "get": {
        "operationId": "Events/{id}/Performances?dateFrom={dateFrom}&dateTo={dateTo}TicketingDataAPI",
        "summary": "Returns performances for provided events within se...",
        "description": "Returns performances for provided events within selected date range",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "EventId",
            "in": "path",
            "required": true
          },
          {
            "name": "dateFrom",
            "type": "string",
            "format": "date",
            "description": "Date from [YYYY-MM-DD]",
            "in": "query",
            "required": true
          },
          {
            "name": "dateTo",
            "type": "string",
            "format": "date",
            "description": "Date to [YYYY-MM-DD]",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Events/{eventIds}/Performances": {
      "get": {
        "operationId": "Events/{eventIds}/PerformancesTicketingDataAPI",
        "summary": "Returns all performances for provided events",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "eventIds",
            "type": "string",
            "description": "EventIds [1,2,4]",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Performances/{id}": {
      "get": {
        "operationId": "Performances/{id}TicketingDataAPI",
        "summary": "Returns performance detail",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "PerformanceId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Performances/{id}/AvailableTickets": {
      "get": {
        "operationId": "Performances/{id}/AvailableTickets?requiredTicketsCount={requiredTicketsCount}TicketingDataAPI",
        "summary": "Returns available tickets for provided performance...",
        "description": "Returns available tickets for provided performance",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "PerformanceId",
            "in": "path",
            "required": true
          },
          {
            "name": "requiredTicketsCount",
            "type": "integer",
            "description": "Number of required tickets",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Performances/{id}/FullAvailability": {
      "get": {
        "operationId": "Performances/{id}/FullAvailabilityTicketingDataAPI",
        "summary": "Returns performance full availability",
        "tags": [
          "Ticketing Data API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "PerformanceId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets": {
      "post": {
        "operationId": "BasketsBookingAPI",
        "summary": "Creates new basket",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets/{id}": {
      "get": {
        "operationId": "Baskets/{id}BookingAPI",
        "summary": "Returns contents of provided BasketId",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets/{id}/Tickets": {
      "post": {
        "operationId": "Baskets/{id}/TicketsBookingAPI",
        "summary": "Adds provided tickets into basket",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/TicketIds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DELETEBaskets/{id}/TicketsBookingAPI",
        "summary": "Releases all tickets from basket",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets/{id}/BasketItem/{basketItemId}": {
      "delete": {
        "operationId": "DELETEBaskets/{id}/BasketItem/{basketItemId}BookingAPI",
        "summary": "Releases the basket item from basket",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          },
          {
            "name": "basketItemId",
            "type": "integer",
            "description": "BasketItemId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/TicketPlanPrice": {
      "get": {
        "operationId": "TicketPlanPriceBookingAPI",
        "summary": "Returns price of TicketPlan refund protection",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/TicketAvailability/{id}": {
      "get": {
        "operationId": "TicketAvailability/{id}BookingAPI",
        "summary": "Checks current availability of provided tickets",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "integer",
            "description": "TicketId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets/{id}/SubmitOrder": {
      "post": {
        "operationId": "Baskets/{id}/SubmitOrderBookingAPI",
        "summary": "Submits basket content",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SubmitOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets/{id}/SubmittedBasketSummary": {
      "get": {
        "operationId": "Baskets/{id}/SubmittedBasketSummaryBookingAPI",
        "summary": "Returns contents for provided BasketId only when b...",
        "description": "Returns contents for provided BasketId only when basket was already submitted",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets/{id}/AvailableDeliveries": {
      "get": {
        "operationId": "Baskets/{id}/AvailableDeliveriesBookingAPI",
        "summary": "Returns available deliveries for the current baske...",
        "description": "Returns available deliveries for the current basket",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Baskets/{id}/PrintAtHomeTickets": {
      "get": {
        "operationId": "Baskets/{id}/PrintAtHomeTicketsBookingAPI",
        "summary": "Returns available Print-At-Home tickets for the cu...",
        "description": "Returns available Print-At-Home tickets for the current basket",
        "tags": [
          "Booking API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "id",
            "type": "string",
            "description": "BasketId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/System/EventTypes": {
      "get": {
        "operationId": "EventTypesSystemAPI",
        "summary": "Returns all event types",
        "tags": [
          "System API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/System/DeliveryTypes": {
      "get": {
        "operationId": "DeliveryTypesSystemAPI",
        "summary": "Returns all delivery types available for this api ...",
        "description": "Returns all delivery types available for this api key",
        "tags": [
          "System API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/System/Countries": {
      "get": {
        "operationId": "CountriesSystemAPI",
        "summary": "Returns all countries",
        "tags": [
          "System API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/System/USStates": {
      "get": {
        "operationId": "USStatesSystemAPI",
        "summary": "Returns all US states",
        "tags": [
          "System API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/System/HeartBeat": {
      "get": {
        "operationId": "HeartBeatSystemAPI",
        "summary": "Returns true if the web services are available",
        "tags": [
          "System API"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "TicketIds": {
      "properties": {
        "Tickets": {
          "type": "array",
          "items": {
            "title": "TicketId",
            "default": "",
            "type": "string",
            "description": "Tickets array"
          }
        }
      },
      "required": [
        "items"
      ]
    },
    "SubmitOrder": {
      "properties": {
        "Name": {
          "title": "Name",
          "default": "",
          "type": "string",
          "description": "Customer's name"
        },
        "LastName": {
          "title": "LastName",
          "default": "",
          "type": "string",
          "description": "Customer's last name"
        },
        "Email": {
          "title": "Email",
          "default": "",
          "type": "string",
          "description": "Customer's email"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "default": "",
          "type": "string",
          "description": "AddressLine 1"
        },
        "AddressLine 2": {
          "title": "AddressLine2",
          "default": "",
          "type": "string",
          "description": "AddressLine 2"
        },
        "CompanyName": {
          "title": "CompanyName",
          "default": "",
          "type": "string",
          "description": "Company name"
        },
        "City": {
          "title": "City",
          "default": "",
          "type": "string",
          "description": "City"
        },
        "Country": {
          "title": "Country",
          "default": "",
          "type": "string",
          "description": "Country id"
        },
        "Zip": {
          "title": "Zip",
          "default": "",
          "type": "string",
          "description": "Zip"
        },
        "Phone": {
          "title": "Phone",
          "default": "",
          "type": "string",
          "description": "Phone"
        },
        "Mobile": {
          "title": "Mobile",
          "default": "",
          "type": "string",
          "description": "Mobile"
        },
        "StateCode": {
          "title": "StateCode",
          "default": "",
          "type": "string",
          "description": "State code"
        },
        "DeliveryType": {
          "title": "DeliveryType",
          "default": "",
          "type": "string",
          "description": "BoxOfficeCollection 1, DeliveryUK 2, DeliveryInternational 3"
        },
        "RequireTicketPlan": {
          "title": "RequireTicketPlan",
          "default": false,
          "type": "boolean",
          "description": "Require ticket plan"
        },
        "SuccessReturnUrl": {
          "title": "SuccessReturnUrl",
          "default": "",
          "type": "string",
          "description": "Success return url"
        },
        "FailureReturnUrl": {
          "title": "FailureReturnUrl",
          "default": "",
          "type": "string",
          "description": "Failure return url"
        },
        "SendConfirmationEmail": {
          "title": "SendConfirmationEmail",
          "default": false,
          "type": "boolean",
          "description": "Send confirmation email"
        },
        "TransactionReference": {
          "title": "TransactionReference",
          "default": "",
          "type": "string",
          "description": "Transaction reference"
        },
        "PaymentGateLanguage": {
          "title": "PaymentGateLanguage",
          "default": "",
          "type": "string",
          "description": "Payment gate language id"
        }
      },
      "required": [
        "Name",
        "LastName",
        "Email",
        "AddressLine1",
        "City",
        "Country",
        "Zip",
        "Phone",
        "DeliveryType",
        "RequireTicketPlan",
        "SuccessReturnUrl",
        "FailureReturnUrl",
        "SendConfirmationEmail",
        "PaymentGateLanguage"
      ]
    }
  }
}
