{
  "swagger": "2.0",
  "info": {
    "title": "NASCAR Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NASCAR v3 API",
    "x-mashery-id": "2867"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NASCAR"
    }
  ],
  "paths": {
    "/nascar-t3/{nascar_series}/{year}/races/schedule{format}": {
      "get": {
        "operationId": "ScheduleNASCAR",
        "summary": "Obtain schedule for NASCAR.  NOTE:  The 2012 sampl...",
        "description": "Obtain schedule for NASCAR.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  sc = Sprint Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "sc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the racing season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/{nascar_series}/races/{race_id}/results{format}": {
      "get": {
        "operationId": "RaceLeaderboardNASCAR",
        "summary": "Obtain leaderboard for a race. Use schedule feed t...",
        "description": "Obtain leaderboard for a race. Use schedule feed to get a race ID.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  sc = Sprint Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "sc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "UID for the race",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/{nascar_series}/races/{race_id}/qualifying{format}": {
      "get": {
        "operationId": "QualifyingLeaderboardNASCAR",
        "summary": "Obtain qualifying leaderboard for a race.  NOTE:  ...",
        "description": "Obtain qualifying leaderboard for a race.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  sc = Sprint Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "sc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "UID for a race, get from schedule feed",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/{nascar_series}/{year}/standings/{standings_type}{format}": {
      "get": {
        "operationId": "Driver,Rookie,Owner,andManufacturerStandingsNASCAR",
        "summary": "Obtain standings for drivers, rookies, owners, and...",
        "description": "Obtain standings for drivers, rookies, owners, and manufacturers.   NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  sc = Sprint Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "sc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the racing season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "standings_type",
            "type": "string",
            "description": "Season year",
            "in": "path",
            "required": true,
            "enum": [
              "drivers",
              "rookies",
              "owners",
              "manufacturers"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/{nascar_series}/{year}/drivers/list{format}": {
      "get": {
        "operationId": "DriversNASCAR",
        "summary": "Obtain drivers for a given series.",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  sc = Sprint Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "sc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the racing season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/{nascar_series}/races/{race_id}/entry_list{format}": {
      "get": {
        "operationId": "EntryListNASCAR",
        "summary": "Obtain entry list for a given race.  NOTE:  The 20...",
        "description": "Obtain entry list for a given race.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  sc = Sprint Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "sc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "id for the race",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/{nascar_series}/races/{race_id}/starting_grid{format}": {
      "get": {
        "operationId": "StartingGridNASCAR",
        "summary": "Obtain starting grid for a given race.  NOTE:  The...",
        "description": "Obtain starting grid for a given race.  NOTE:  The 2012 sample data is an abbreviated season",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "nascar_series",
            "type": "string",
            "description": "Nascar Series:  sc = Sprint Cup, xf = Xfinity, cw = Camping World",
            "in": "path",
            "required": true,
            "enum": [
              "sc",
              "xf",
              "cw"
            ]
          },
          {
            "name": "race_id",
            "type": "string",
            "description": "id for the race",
            "in": "path",
            "required": true,
            "default": "87f618bf-2ee5-4e6e-b558-7bbc0337e5c7"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/tracks/list{format}": {
      "get": {
        "operationId": "TracksNASCAR",
        "summary": "Obtain NASCAR Track Details",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nascar-t3/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNASCAR",
        "summary": "information on any changes made to race informatio...",
        "description": "information on any changes made to race information, race results, driver information, track information, or standings",
        "tags": [
          "NASCAR"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The month of the season",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day of the month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}