{
  "swagger": "2.0",
  "info": {
    "title": "Partner API v2",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": " All calls require you to log in or provide an API key.",
    "x-mashery-id": "164"
  },
  "schemes": [
    "http"
  ],
  "host": "api.klout.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.klout.com/io-docs"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Identity Methods"
    },
    {
      "name": "User Methods"
    }
  ],
  "paths": {
    "/identity.json/tw/{twitter_id}": {
      "get": {
        "operationId": "Identity(twitter_id)IdentityMethods",
        "summary": "This method allows you to retrieve a KloutID for n...",
        "description": "This method allows you to retrieve a KloutID for numeric twitter_id",
        "tags": [
          "Identity Methods"
        ],
        "parameters": [
          {
            "name": "twitter_id",
            "type": "string",
            "description": "A twitter ID (e.g. 26565946)",
            "in": "path",
            "required": true,
            "default": "26565946"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity.json/gp/{google_plus_id}": {
      "get": {
        "operationId": "Identity(Google+)IdentityMethods",
        "summary": "This method allows you to retrieve a KloutID for n...",
        "description": "This method allows you to retrieve a KloutID for numeric google_plus_id",
        "tags": [
          "Identity Methods"
        ],
        "parameters": [
          {
            "name": "google_plus_id",
            "type": "string",
            "description": "A Google+ ID (e.g. 112620727907435773834)",
            "in": "path",
            "required": true,
            "default": "112620727907435773834"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity.json/ig/{instagram_id}": {
      "get": {
        "operationId": "Identity(Instagram)IdentityMethods",
        "summary": "This method allows you to retrieve a KloutID for n...",
        "description": "This method allows you to retrieve a KloutID for numeric Instagram_id",
        "tags": [
          "Identity Methods"
        ],
        "parameters": [
          {
            "name": "instagram_id",
            "type": "string",
            "description": "An Instagram ID (e.g. 816029)",
            "in": "path",
            "required": true,
            "default": "816029"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity.json/twitter": {
      "get": {
        "operationId": "Identity(twitter_screen_name)IdentityMethods",
        "summary": "This method allows you to retrieve a KloutID for a...",
        "description": "This method allows you to retrieve a KloutID for a twitter screen_name",
        "tags": [
          "Identity Methods"
        ],
        "parameters": [
          {
            "name": "screenName",
            "type": "string",
            "description": "A twitter screen name (e.g. jtimberlake)",
            "in": "query",
            "required": true,
            "default": "jtimberlake"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/identity.json/klout/{klout_id}/tw": {
      "get": {
        "operationId": "Identity(kloutId)IdentityMethods",
        "summary": "This method allows you to retrieve a TwitterId for...",
        "description": "This method allows you to retrieve a TwitterId for a numeric KloutId",
        "tags": [
          "Identity Methods"
        ],
        "parameters": [
          {
            "name": "klout_id",
            "type": "string",
            "description": "A KloutId (like 635263)",
            "in": "path",
            "required": true,
            "default": "635263"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user.json/{kloutId}": {
      "get": {
        "operationId": "ShowUserUserMethods",
        "summary": "This method allows you to retrieve a user.",
        "tags": [
          "User Methods"
        ],
        "parameters": [
          {
            "name": "kloutId",
            "type": "string",
            "description": "A kloutId (like 635263)",
            "in": "path",
            "required": true,
            "default": "635263"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user.json/{kloutId}/score": {
      "get": {
        "operationId": "ScoreUserMethods",
        "summary": "This method allows you to retrieve a user's Klout ...",
        "description": "This method allows you to retrieve a user's Klout Score and deltas.",
        "tags": [
          "User Methods"
        ],
        "parameters": [
          {
            "name": "kloutId",
            "type": "string",
            "description": "A kloutId (like 635263)",
            "in": "path",
            "required": true,
            "default": "635263"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user.json/{kloutId}/topics": {
      "get": {
        "operationId": "TopicsUserMethods",
        "summary": "This method allows you to retrieve a user's topics...",
        "description": "This method allows you to retrieve a user's topics.",
        "tags": [
          "User Methods"
        ],
        "parameters": [
          {
            "name": "kloutId",
            "type": "string",
            "description": "A kloutId (like 635263)",
            "in": "path",
            "required": true,
            "default": "635263"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/user.json/{kloutId}/influence": {
      "get": {
        "operationId": "InfluenceUserMethods",
        "summary": "This method allows you to retrieve a user's influe...",
        "description": "This method allows you to retrieve a user's influencers and influencees.",
        "tags": [
          "User Methods"
        ],
        "parameters": [
          {
            "name": "kloutId",
            "type": "string",
            "description": "A kloutId (like 635263)",
            "in": "path",
            "required": true,
            "default": "635263"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}