{
  "swagger": "2.0",
  "info": {
    "version": "2014-05-15",
    "x-release": "v4",
    "title": "Amazon Route 53 Domains",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/route53domains/"
  },
  "host": "route53domains.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "format": "date-time",
      "required": true
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "ViewBilling",
        "description": "This operation returns all the domain-related billing records for the current AWS account for a specified period",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ViewBillingResponse"
            }
          },
          "480": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ViewBillingRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        }
      ]
    }
  },
  "definitions": {
    "AddressLine": {
      "type": "string",
      "maxLength": 255
    },
    "BillingRecord": {
      "type": "object",
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p>"
        },
        "Operation": {
          "$ref": "#/definitions/OperationType",
          "description": "<p>The operation that you were charged for.</p> <p>Type: String</p> <p>Valid values: <ul> <li><code>REGISTER_DOMAIN</code></li> <li><code>TRANSFER_IN_DOMAIN</code></li> <li><code>RENEW_DOMAIN</code></li> <li><code>CHANGE_DOMAIN_OWNER</code></li> </ul> </p>"
        },
        "InvoiceId": {
          "$ref": "#/definitions/InvoiceId",
          "description": "<p>The ID of the invoice that is associated with the billing record.</p> <p>Type: String</p>"
        },
        "BillDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "<p>The date that the operation was billed, in Unix format.</p> <p>Type: Double</p>"
        },
        "Price": {
          "$ref": "#/definitions/Price",
          "description": "<p>The price that you were charged for the operation, in US dollars.</p> <p>Type: Double</p> <p>Example value: 12.0</p>"
        }
      }
    },
    "BillingRecords": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BillingRecord"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "CheckDomainAvailabilityRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "IdnLangCode": {
          "$ref": "#/definitions/LangCode",
          "description": "Reserved for future use."
        }
      },
      "description": "The CheckDomainAvailability request contains the following elements."
    },
    "CheckDomainAvailabilityResponse": {
      "type": "object",
      "required": [
        "Availability"
      ],
      "properties": {
        "Availability": {
          "$ref": "#/definitions/DomainAvailability",
          "description": "<p>Whether the domain name is available for registering.</p> <note> <p>You can only register domains designated as <code>AVAILABLE</code>.</p> </note> <p>Type: String</p> <p>Valid values:</p> <ul> <li><code>AVAILABLE</code> – The domain name is available.</li> <li><code>AVAILABLE_RESERVED</code> – The domain name is reserved under specific conditions.</li> <li><code>AVAILABLE_PREORDER</code> – The domain name is available and can be preordered.</li> <li><code>UNAVAILABLE</code> – The domain name is not available.</li> <li><code>UNAVAILABLE_PREMIUM</code> – The domain name is not available.</li> <li><code>UNAVAILABLE_RESTRICTED</code> – The domain name is forbidden.</li> <li><code>RESERVED</code> – The domain name has been reserved for another person or organization.</li> <li><code>DONT_KNOW</code> – The TLD registry didn't reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</li> </ul>"
        }
      },
      "description": "The CheckDomainAvailability response includes the following elements."
    },
    "City": {
      "type": "string",
      "maxLength": 255
    },
    "ContactDetail": {
      "type": "object",
      "properties": {
        "FirstName": {
          "$ref": "#/definitions/ContactName",
          "description": "<p>First name of contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code> </p> <p>Required: Yes</p>"
        },
        "LastName": {
          "$ref": "#/definitions/ContactName",
          "description": "<p>Last name of contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "ContactType": {
          "$ref": "#/definitions/ContactType",
          "description": "<p>Indicates whether the contact is a person, company, association, or public organization. If you choose an option other than <code>PERSON</code>, you must enter an organization name, and you can&apos;t enable privacy protection for the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Valid values: <code>PERSON</code> | <code>COMPANY</code> | <code>ASSOCIATION</code> | <code>PUBLIC_BODY</code></p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code> </p> <p>Required: Yes</p>"
        },
        "OrganizationName": {
          "$ref": "#/definitions/ContactName",
          "description": "<p>Name of the organization for contact types other than <code>PERSON</code>.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters. Contact type must not be <code>PERSON</code>.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "AddressLine1": {
          "$ref": "#/definitions/AddressLine",
          "description": "<p>First line of the contact&apos;s address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "AddressLine2": {
          "$ref": "#/definitions/AddressLine",
          "description": "<p>Second line of contact&apos;s address, if any.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "City": {
          "$ref": "#/definitions/City",
          "description": "<p>The city of the contact&apos;s address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "State": {
          "$ref": "#/definitions/State",
          "description": "<p>The state or province of the contact&apos;s city.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "CountryCode": {
          "$ref": "#/definitions/CountryCode",
          "description": "<p>Code for the country of the contact&apos;s address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "ZipCode": {
          "$ref": "#/definitions/ZipCode",
          "description": "<p>The zip or postal code of the contact&apos;s address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "PhoneNumber": {
          "$ref": "#/definitions/ContactNumber",
          "description": "<p>The phone number of the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code>]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "Email": {
          "$ref": "#/definitions/Email",
          "description": "<p>Email address of the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 254 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code> </p> <p>Required: Yes</p>"
        },
        "Fax": {
          "$ref": "#/definitions/ContactNumber",
          "description": "<p>Fax number of the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "ExtraParams": {
          "$ref": "#/definitions/ExtraParamList",
          "description": "<p>A list of name-value pairs for parameters required by certain top-level domains.</p> <p>Type: Complex</p> <p>Default: None</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Children: <code>Name</code>, <code>Value</code></p> <p>Required: No</p>"
        }
      },
      "description": "ContactDetail includes the following elements."
    },
    "ContactName": {
      "type": "string",
      "maxLength": 255
    },
    "ContactNumber": {
      "type": "string",
      "maxLength": 30
    },
    "ContactType": {
      "type": "string",
      "enum": [
        "PERSON",
        "COMPANY",
        "ASSOCIATION",
        "PUBLIC_BODY",
        "RESELLER"
      ]
    },
    "CountryCode": {
      "type": "string",
      "enum": [
        "AD",
        "AE",
        "AF",
        "AG",
        "AI",
        "AL",
        "AM",
        "AN",
        "AO",
        "AQ",
        "AR",
        "AS",
        "AT",
        "AU",
        "AW",
        "AZ",
        "BA",
        "BB",
        "BD",
        "BE",
        "BF",
        "BG",
        "BH",
        "BI",
        "BJ",
        "BL",
        "BM",
        "BN",
        "BO",
        "BR",
        "BS",
        "BT",
        "BW",
        "BY",
        "BZ",
        "CA",
        "CC",
        "CD",
        "CF",
        "CG",
        "CH",
        "CI",
        "CK",
        "CL",
        "CM",
        "CN",
        "CO",
        "CR",
        "CU",
        "CV",
        "CX",
        "CY",
        "CZ",
        "DE",
        "DJ",
        "DK",
        "DM",
        "DO",
        "DZ",
        "EC",
        "EE",
        "EG",
        "ER",
        "ES",
        "ET",
        "FI",
        "FJ",
        "FK",
        "FM",
        "FO",
        "FR",
        "GA",
        "GB",
        "GD",
        "GE",
        "GH",
        "GI",
        "GL",
        "GM",
        "GN",
        "GQ",
        "GR",
        "GT",
        "GU",
        "GW",
        "GY",
        "HK",
        "HN",
        "HR",
        "HT",
        "HU",
        "ID",
        "IE",
        "IL",
        "IM",
        "IN",
        "IQ",
        "IR",
        "IS",
        "IT",
        "JM",
        "JO",
        "JP",
        "KE",
        "KG",
        "KH",
        "KI",
        "KM",
        "KN",
        "KP",
        "KR",
        "KW",
        "KY",
        "KZ",
        "LA",
        "LB",
        "LC",
        "LI",
        "LK",
        "LR",
        "LS",
        "LT",
        "LU",
        "LV",
        "LY",
        "MA",
        "MC",
        "MD",
        "ME",
        "MF",
        "MG",
        "MH",
        "MK",
        "ML",
        "MM",
        "MN",
        "MO",
        "MP",
        "MR",
        "MS",
        "MT",
        "MU",
        "MV",
        "MW",
        "MX",
        "MY",
        "MZ",
        "NA",
        "NC",
        "NE",
        "NG",
        "NI",
        "NL",
        "NO",
        "NP",
        "NR",
        "NU",
        "NZ",
        "OM",
        "PA",
        "PE",
        "PF",
        "PG",
        "PH",
        "PK",
        "PL",
        "PM",
        "PN",
        "PR",
        "PT",
        "PW",
        "PY",
        "QA",
        "RO",
        "RS",
        "RU",
        "RW",
        "SA",
        "SB",
        "SC",
        "SD",
        "SE",
        "SG",
        "SH",
        "SI",
        "SK",
        "SL",
        "SM",
        "SN",
        "SO",
        "SR",
        "ST",
        "SV",
        "SY",
        "SZ",
        "TC",
        "TD",
        "TG",
        "TH",
        "TJ",
        "TK",
        "TL",
        "TM",
        "TN",
        "TO",
        "TR",
        "TT",
        "TV",
        "TW",
        "TZ",
        "UA",
        "UG",
        "US",
        "UY",
        "UZ",
        "VA",
        "VC",
        "VE",
        "VG",
        "VI",
        "VN",
        "VU",
        "WF",
        "WS",
        "YE",
        "YT",
        "ZA",
        "ZM",
        "ZW"
      ]
    },
    "CurrentExpiryYear": {
      "type": "integer"
    },
    "DNSSec": {
      "type": "string"
    },
    "DeleteTagsForDomainRequest": {
      "type": "object",
      "required": [
        "DomainName",
        "TagsToDelete"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The domain for which you want to delete one or more tags.</p> <p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Hyphens are allowed only when they&apos;re surrounded by letters, numbers, or other hyphens. You can&apos;t specify a hyphen at the beginning or end of a label. To specify an Internationalized Domain Name, you must convert the name to Punycode.</p> <p>Required: Yes</p>"
        },
        "TagsToDelete": {
          "$ref": "#/definitions/TagKeyList",
          "description": "<p>A list of tag keys to delete.</p> <p>Type: A list that contains the keys of the tags that you want to delete.</p> <p>Default: None</p> <p>Required: No</p>'>"
        }
      },
      "description": "The DeleteTagsForDomainRequest includes the following elements."
    },
    "DeleteTagsForDomainResponse": {
      "type": "object",
      "properties": {}
    },
    "DisableDomainAutoRenewRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName"
        }
      }
    },
    "DisableDomainAutoRenewResponse": {
      "type": "object",
      "properties": {}
    },
    "DisableDomainTransferLockRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "description": "The DisableDomainTransferLock request includes the following element."
    },
    "DisableDomainTransferLockResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "description": "The DisableDomainTransferLock response includes the following element."
    },
    "DomainAuthCode": {
      "type": "string",
      "maxLength": 1024,
      "format": "password"
    },
    "DomainAvailability": {
      "type": "string",
      "enum": [
        "AVAILABLE",
        "AVAILABLE_RESERVED",
        "AVAILABLE_PREORDER",
        "UNAVAILABLE",
        "UNAVAILABLE_PREMIUM",
        "UNAVAILABLE_RESTRICTED",
        "RESERVED",
        "DONT_KNOW"
      ]
    },
    "DomainLimitExceeded": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The number of domains has exceeded the allowed threshold for the account."
    },
    "DomainName": {
      "type": "string",
      "pattern": "[a-zA-Z0-9_\\-.]*",
      "maxLength": 255
    },
    "DomainStatus": {
      "type": "string"
    },
    "DomainStatusList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DomainStatus"
      }
    },
    "DomainSuggestion": {
      "type": "object",
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName"
        },
        "Availability": {
          "$ref": "#/definitions/String"
        }
      }
    },
    "DomainSuggestionsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DomainSuggestion"
      }
    },
    "DomainSummary": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p>"
        },
        "AutoRenew": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Indicates whether the domain is automatically renewed upon expiration.</p> <p>Type: Boolean</p> <p>Valid values: <code>True</code> | <code>False</code></p>"
        },
        "TransferLock": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Indicates whether a domain is locked from unauthorized transfer to another party.</p> <p>Type: Boolean</p> <p>Valid values: <code>True</code> | <code>False</code></p>"
        },
        "Expiry": {
          "$ref": "#/definitions/Timestamp",
          "description": "<p>Expiration date of the domain in Coordinated Universal Time (UTC).</p> <p>Type: Long</p>"
        }
      }
    },
    "DomainSummaryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DomainSummary"
      }
    },
    "DuplicateRequest": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The request is already in progress for the domain."
    },
    "DurationInYears": {
      "type": "integer",
      "minimum": 1,
      "maximum": 10
    },
    "Email": {
      "type": "string",
      "maxLength": 254
    },
    "EnableDomainAutoRenewRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName"
        }
      }
    },
    "EnableDomainAutoRenewResponse": {
      "type": "object",
      "properties": {}
    },
    "EnableDomainTransferLockRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "description": "The EnableDomainTransferLock request includes the following element."
    },
    "EnableDomainTransferLockResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "description": "The EnableDomainTransferLock response includes the following elements."
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ExtraParam": {
      "type": "object",
      "required": [
        "Name",
        "Value"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ExtraParamName",
          "description": "<p>Name of the additional parameter required by the top-level domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Valid values: <code>DUNS_NUMBER</code> | <code>BRAND_NUMBER</code> | <code>BIRTH_DEPARTMENT</code> | <code>BIRTH_DATE_IN_YYYY_MM_DD</code> | <code>BIRTH_COUNTRY</code> | <code>BIRTH_CITY</code> | <code>DOCUMENT_NUMBER</code> | <code>AU_ID_NUMBER</code> | <code>AU_ID_TYPE</code> | <code>CA_LEGAL_TYPE</code> | <code>CA_BUSINESS_ENTITY_TYPE</code> |<code>ES_IDENTIFICATION</code> | <code>ES_IDENTIFICATION_TYPE</code> | <code>ES_LEGAL_FORM</code> | <code>FI_BUSINESS_NUMBER</code> | <code>FI_ID_NUMBER</code> | <code>IT_PIN</code> | <code>RU_PASSPORT_DATA</code> | <code>SE_ID_NUMBER</code> | <code>SG_ID_NUMBER</code> | <code>VAT_NUMBER</code></p> <p>Parent: <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "Value": {
          "$ref": "#/definitions/ExtraParamValue",
          "description": "<p>Values corresponding to the additional parameter names required by some top-level domains.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 2048 characters.</p> <p>Parent: <code>ExtraParams</code></p> <p>Required: Yes</p>"
        }
      },
      "description": "ExtraParam includes the following elements."
    },
    "ExtraParamList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ExtraParam"
      }
    },
    "ExtraParamName": {
      "type": "string",
      "enum": [
        "DUNS_NUMBER",
        "BRAND_NUMBER",
        "BIRTH_DEPARTMENT",
        "BIRTH_DATE_IN_YYYY_MM_DD",
        "BIRTH_COUNTRY",
        "BIRTH_CITY",
        "DOCUMENT_NUMBER",
        "AU_ID_NUMBER",
        "AU_ID_TYPE",
        "CA_LEGAL_TYPE",
        "CA_BUSINESS_ENTITY_TYPE",
        "ES_IDENTIFICATION",
        "ES_IDENTIFICATION_TYPE",
        "ES_LEGAL_FORM",
        "FI_BUSINESS_NUMBER",
        "FI_ID_NUMBER",
        "IT_PIN",
        "RU_PASSPORT_DATA",
        "SE_ID_NUMBER",
        "SG_ID_NUMBER",
        "VAT_NUMBER"
      ]
    },
    "ExtraParamValue": {
      "type": "string",
      "maxLength": 2048
    },
    "FIAuthKey": {
      "type": "string"
    },
    "GetContactReachabilityStatusRequest": {
      "type": "object",
      "properties": {
        "domainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of the domain for which you want to know whether the registrant contact has confirmed that the email address is valid.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: Yes</p>"
        }
      }
    },
    "GetContactReachabilityStatusResponse": {
      "type": "object",
      "properties": {
        "domainName": {
          "$ref": "#/definitions/DomainName",
          "description": "The domain name for which you requested the reachability status."
        },
        "status": {
          "$ref": "#/definitions/ReachabilityStatus",
          "description": "<p>Whether the registrant contact has responded. <code>PENDING</code> indicates that we sent the confirmation email and haven't received a response yet, <code>DONE</code> indicates that we sent the email and got confirmation from the registrant contact, and <code>EXPIRED</code> indicates that the time limit expired before the registrant contact responded. </p> <p>Type: String</p> <p>Valid values: <code>PENDING</code>, <code>DONE</code>, <code>EXPIRED</code></p>"
        }
      }
    },
    "GetDomainDetailRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "description": "The GetDomainDetail request includes the following element."
    },
    "GetDomainDetailResponse": {
      "type": "object",
      "required": [
        "DomainName",
        "Nameservers",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p>"
        },
        "Nameservers": {
          "$ref": "#/definitions/NameserverList",
          "description": "<p>The name of the domain.</p> <p>Type: String</p>"
        },
        "AutoRenew": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Specifies whether the domain registration is set to renew automatically.</p> <p>Type: Boolean</p>"
        },
        "AdminContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides details about the domain administrative contact. </p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p>"
        },
        "RegistrantContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides details about the domain registrant. </p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p>"
        },
        "TechContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides details about the domain technical contact.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p>"
        },
        "AdminPrivacy": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Specifies whether contact information for the admin contact is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p>"
        },
        "RegistrantPrivacy": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Specifies whether contact information for the registrant contact is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p>"
        },
        "TechPrivacy": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Specifies whether contact information for the tech contact is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p>"
        },
        "RegistrarName": {
          "$ref": "#/definitions/RegistrarName",
          "description": "<p>Name of the registrar of the domain as identified in the registry. Amazon Route 53 domains are registered by registrar Gandi. The value is <code>\"GANDI SAS\"</code>. </p> <p>Type: String</p>"
        },
        "WhoIsServer": {
          "$ref": "#/definitions/RegistrarWhoIsServer",
          "description": "<p>The fully qualified name of the WHOIS server that can answer the WHOIS query for the domain.</p> <p>Type: String</p>"
        },
        "RegistrarUrl": {
          "$ref": "#/definitions/RegistrarUrl",
          "description": "<p>Web address of the registrar.</p> <p>Type: String</p>"
        },
        "AbuseContactEmail": {
          "$ref": "#/definitions/Email",
          "description": "<p>Email address to contact to report incorrect contact information for a domain, to report that the domain is being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse. </p> <p>Type: String</p>"
        },
        "AbuseContactPhone": {
          "$ref": "#/definitions/ContactNumber",
          "description": "<p>Phone number for reporting abuse. </p> <p>Type: String</p>"
        },
        "RegistryDomainId": {
          "$ref": "#/definitions/RegistryDomainId",
          "description": "Reserved for future use."
        },
        "CreationDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date when the domain was created as found in the response to a WHOIS query. The date format is Unix time."
        },
        "UpdatedDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The last updated date of the domain as found in the response to a WHOIS query. The date format is Unix time."
        },
        "ExpirationDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date when the registration for the domain is set to expire. The date format is Unix time."
        },
        "Reseller": {
          "$ref": "#/definitions/Reseller",
          "description": "<p>Reseller of the domain. Domains registered or transferred using Amazon Route 53 domains will have <code>\"Amazon\"</code> as the reseller. </p> <p>Type: String</p>"
        },
        "DnsSec": {
          "$ref": "#/definitions/DNSSec",
          "description": "Reserved for future use."
        },
        "StatusList": {
          "$ref": "#/definitions/DomainStatusList",
          "description": "<p>An array of domain name status codes, also known as Extensible Provisioning Protocol (EPP) status codes.</p> <p>ICANN, the organization that maintains a central database of domain names, has developed a set of domain name status codes that tell you the status of a variety of operations on a domain name, for example, registering a domain name, transferring a domain name to another registrar, renewing the registration for a domain name, and so on. All registrars use this same set of status codes.</p> <p>For a current list of domain name status codes and an explanation of what each code means, go to the <a href=\"https://www.icann.org/\">ICANN website</a> and search for <code>epp status codes</code>. (Search on the ICANN website; web searches sometimes return an old version of the document.)</p> <p>Type: Array of String</p>"
        }
      },
      "description": "The GetDomainDetail response includes the following elements."
    },
    "GetDomainSuggestionsRequest": {
      "type": "object",
      "required": [
        "DomainName",
        "SuggestionCount",
        "OnlyAvailable"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName"
        },
        "SuggestionCount": {
          "$ref": "#/definitions/Integer"
        },
        "OnlyAvailable": {
          "$ref": "#/definitions/Boolean"
        }
      }
    },
    "GetDomainSuggestionsResponse": {
      "type": "object",
      "properties": {
        "SuggestionsList": {
          "$ref": "#/definitions/DomainSuggestionsList"
        }
      }
    },
    "GetOperationDetailRequest": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>The identifier for the operation for which you want to get the status. Amazon Route 53 returned the identifier in the response to the original request.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: Yes</p>"
        }
      },
      "description": "The GetOperationDetail request includes the following element."
    },
    "GetOperationDetailResponse": {
      "type": "object",
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>The identifier for the operation.</p> <p>Type: String</p>"
        },
        "Status": {
          "$ref": "#/definitions/OperationStatus",
          "description": "<p>The current status of the requested operation in the system.</p> <p>Type: String</p>"
        },
        "Message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "<p>Detailed information on the status including possible errors.</p> <p>Type: String</p>"
        },
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p>"
        },
        "Type": {
          "$ref": "#/definitions/OperationType",
          "description": "<p>The type of operation that was requested.</p> <p>Type: String</p>"
        },
        "SubmittedDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date when the request was submitted."
        }
      },
      "description": "The GetOperationDetail response includes the following elements."
    },
    "GlueIp": {
      "type": "string",
      "maxLength": 45
    },
    "GlueIpList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GlueIp"
      }
    },
    "HostName": {
      "type": "string",
      "pattern": "[a-zA-Z0-9_\\-.]*",
      "maxLength": 255
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidInput": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account."
    },
    "InvoiceId": {
      "type": "string"
    },
    "LangCode": {
      "type": "string",
      "maxLength": 3
    },
    "ListDomainsRequest": {
      "type": "object",
      "properties": {
        "Marker": {
          "$ref": "#/definitions/PageMarker",
          "description": "<p>For an initial request for a list of domains, omit this element. If the number of domains that are associated with the current AWS account is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional domains. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The marker must match the value specified in the previous request. </p> <p>Required: No</p>"
        },
        "MaxItems": {
          "$ref": "#/definitions/PageMaxItems",
          "description": "<p>Number of domains to be returned.</p> <p>Type: Integer</p> <p>Default: 20</p> <p>Constraints: A numeral between 1 and 100.</p> <p>Required: No</p>"
        }
      },
      "description": "The ListDomains request includes the following elements."
    },
    "ListDomainsResponse": {
      "type": "object",
      "required": [
        "Domains"
      ],
      "properties": {
        "Domains": {
          "$ref": "#/definitions/DomainSummaryList",
          "description": "<p>A summary of domains.</p> <p>Type: Complex type containing a list of domain summaries.</p> <p>Children: <code>AutoRenew</code>, <code>DomainName</code>, <code>Expiry</code>, <code>TransferLock</code></p>"
        },
        "NextPageMarker": {
          "$ref": "#/definitions/PageMarker",
          "description": "<p>If there are more domains than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p> <p>Type: String</p> <p>Parent: <code>Operations</code></p>"
        }
      },
      "description": "The ListDomains response includes the following elements."
    },
    "ListOperationsRequest": {
      "type": "object",
      "properties": {
        "Marker": {
          "$ref": "#/definitions/PageMarker",
          "description": "<p>For an initial request for a list of operations, omit this element. If the number of operations that are not yet complete is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional operations. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: No</p>"
        },
        "MaxItems": {
          "$ref": "#/definitions/PageMaxItems",
          "description": "<p>Number of domains to be returned.</p> <p>Type: Integer</p> <p>Default: 20</p> <p>Constraints: A value between 1 and 100.</p> <p>Required: No</p>"
        }
      },
      "description": "The ListOperations request includes the following elements."
    },
    "ListOperationsResponse": {
      "type": "object",
      "required": [
        "Operations"
      ],
      "properties": {
        "Operations": {
          "$ref": "#/definitions/OperationSummaryList",
          "description": "<p>Lists summaries of the operations.</p> <p>Type: Complex type containing a list of operation summaries</p> <p>Children: <code>OperationId</code>, <code>Status</code>, <code>SubmittedDate</code>, <code>Type</code></p>"
        },
        "NextPageMarker": {
          "$ref": "#/definitions/PageMarker",
          "description": "<p>If there are more operations than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p> <p>Type: String</p> <p>Parent: <code>Operations</code></p>"
        }
      },
      "description": "The ListOperations response includes the following elements."
    },
    "ListTagsForDomainRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "The domain for which you want to get a list of tags."
        }
      },
      "description": "The ListTagsForDomainRequest includes the following elements."
    },
    "ListTagsForDomainResponse": {
      "type": "object",
      "required": [
        "TagList"
      ],
      "properties": {
        "TagList": {
          "$ref": "#/definitions/TagList",
          "description": "<p>A list of the tags that are associated with the specified domain.</p> <p>Type: A complex type containing a list of tags</p> <p>Each tag includes the following elements.</p> <ul> <li><p>Key</p> <p>The key (name) of a tag.</p> <p>Type: String</p> </li> <li><p>Value</p> <p>The value of a tag.</p> <p>Type: String</p> </li> </ul>"
        }
      },
      "description": "The ListTagsForDomain response includes the following elements."
    },
    "Nameserver": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/HostName",
          "description": "<p>The fully qualified host name of the name server.</p> <p>Type: String</p> <p>Constraint: Maximum 255 characterss</p> <p>Parent: <code>Nameservers</code></p>"
        },
        "GlueIps": {
          "$ref": "#/definitions/GlueIpList",
          "description": "<p>Glue IP address of a name server entry. Glue IP addresses are required only when the name of the name server is a subdomain of the domain. For example, if your domain is example.com and the name server for the domain is ns.example.com, you need to specify the IP address for ns.example.com.</p> <p>Type: List of IP addresses.</p> <p>Constraints: The list can contain only one IPv4 and one IPv6 address.</p> <p>Parent: <code>Nameservers</code></p>"
        }
      },
      "description": "Nameserver includes the following elements."
    },
    "NameserverList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Nameserver"
      }
    },
    "OperationId": {
      "type": "string",
      "maxLength": 255
    },
    "OperationLimitExceeded": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The number of operations or jobs running exceeded the allowed threshold for the account."
    },
    "OperationStatus": {
      "type": "string",
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "ERROR",
        "SUCCESSFUL",
        "FAILED"
      ]
    },
    "OperationSummary": {
      "type": "object",
      "required": [
        "OperationId",
        "Status",
        "Type",
        "SubmittedDate"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier returned to track the requested action.</p> <p>Type: String</p>"
        },
        "Status": {
          "$ref": "#/definitions/OperationStatus",
          "description": "<p>The current status of the requested operation in the system.</p> <p>Type: String</p>"
        },
        "Type": {
          "$ref": "#/definitions/OperationType",
          "description": "<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>"
        },
        "SubmittedDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date when the request was submitted."
        }
      },
      "description": "OperationSummary includes the following elements."
    },
    "OperationSummaryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/OperationSummary"
      }
    },
    "OperationType": {
      "type": "string",
      "enum": [
        "REGISTER_DOMAIN",
        "DELETE_DOMAIN",
        "TRANSFER_IN_DOMAIN",
        "UPDATE_DOMAIN_CONTACT",
        "UPDATE_NAMESERVER",
        "CHANGE_PRIVACY_PROTECTION",
        "DOMAIN_LOCK"
      ]
    },
    "PageMarker": {
      "type": "string",
      "maxLength": 4096
    },
    "PageMaxItems": {
      "type": "integer",
      "maximum": 100
    },
    "Price": {
      "type": "number",
      "format": "double"
    },
    "ReachabilityStatus": {
      "type": "string",
      "enum": [
        "PENDING",
        "DONE",
        "EXPIRED"
      ]
    },
    "RegisterDomainRequest": {
      "type": "object",
      "required": [
        "DomainName",
        "DurationInYears",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "IdnLangCode": {
          "$ref": "#/definitions/LangCode",
          "description": "Reserved for future use."
        },
        "DurationInYears": {
          "$ref": "#/definitions/DurationInYears",
          "description": "<p>The number of years the domain will be registered. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain.</p> <p>Type: Integer</p> <p>Default: 1</p> <p>Valid values: Integer from 1 to 10</p> <p>Required: Yes</p>"
        },
        "AutoRenew": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Indicates whether the domain will be automatically renewed (<code>true</code>) or not (<code>false</code>). Autorenewal only takes effect after the account is charged.</p> <p>Type: Boolean</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Default: <code>true</code></p> <p>Required: No</p>"
        },
        "AdminContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "RegistrantContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "TechContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "PrivacyProtectAdminContact": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectRegistrantContact": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectTechContact": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        }
      },
      "description": "The RegisterDomain request includes the following elements."
    },
    "RegisterDomainResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "description": "The RegisterDomain response includes the following element."
    },
    "RegistrarName": {
      "type": "string"
    },
    "RegistrarUrl": {
      "type": "string"
    },
    "RegistrarWhoIsServer": {
      "type": "string"
    },
    "RegistryDomainId": {
      "type": "string"
    },
    "RenewDomainRequest": {
      "type": "object",
      "required": [
        "DomainName",
        "CurrentExpiryYear"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName"
        },
        "DurationInYears": {
          "$ref": "#/definitions/DurationInYears",
          "description": "<p>The number of years that you want to renew the domain for. The maximum number of years depends on the top-level domain. For the range of valid values for your domain, see <a href=\"http://docs.aws.amazon.com/console/route53/domain-tld-list\">Domains that You Can Register with Amazon Route 53</a> in the Amazon Route 53 documentation.</p> <p>Type: Integer</p> <p>Default: 1</p> <p>Valid values: Integer from 1 to 10</p> <p>Required: No</p>"
        },
        "CurrentExpiryYear": {
          "$ref": "#/definitions/CurrentExpiryYear",
          "description": "<p>The year when the registration for the domain is set to expire. This value must match the current expiration date for the domain.</p> <p>Type: Integer</p> <p>Default: None</p> <p>Valid values: Integer</p> <p>Required: Yes</p>"
        }
      },
      "description": "A <code>RenewDomain</code> request includes the number of years that you want to renew for and the current expiration year."
    },
    "RenewDomainResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId"
        }
      }
    },
    "Reseller": {
      "type": "string"
    },
    "ResendContactReachabilityEmailRequest": {
      "type": "object",
      "properties": {
        "domainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of the domain for which you want Amazon Route 53 to resend a confirmation email to the registrant contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: Yes</p>"
        }
      }
    },
    "ResendContactReachabilityEmailResponse": {
      "type": "object",
      "properties": {
        "domainName": {
          "$ref": "#/definitions/DomainName",
          "description": "The domain name for which you requested a confirmation email."
        },
        "emailAddress": {
          "$ref": "#/definitions/Email",
          "description": "The email address for the registrant contact at the time that we sent the verification email."
        },
        "isAlreadyVerified": {
          "$ref": "#/definitions/Boolean",
          "description": "True if the email address for the registrant contact has already been verified, and false otherwise. If the email address has already been verified, we don't send another confirmation email."
        }
      }
    },
    "RetrieveDomainAuthCodeRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "description": "The RetrieveDomainAuthCode request includes the following element."
    },
    "RetrieveDomainAuthCodeResponse": {
      "type": "object",
      "required": [
        "AuthCode"
      ],
      "properties": {
        "AuthCode": {
          "$ref": "#/definitions/DomainAuthCode",
          "description": "<p>The authorization code for the domain.</p> <p>Type: String</p>"
        }
      },
      "description": "The RetrieveDomainAuthCode response includes the following element."
    },
    "State": {
      "type": "string",
      "maxLength": 255
    },
    "String": {
      "type": "string"
    },
    "TLDRulesViolation": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The top-level domain does not support this operation."
    },
    "Tag": {
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "<p>The key (name) of a tag.</p> <p>Type: String</p> <p>Default: None</p> <p>Valid values: A-Z, a-z, 0-9, space, \".:/=+\\-@\"</p> <p>Constraints: Each key can be 1-128 characters long.</p> <p>Required: Yes</p>"
        },
        "Value": {
          "$ref": "#/definitions/TagValue",
          "description": "<p>The value of a tag.</p> <p>Type: String</p> <p>Default: None</p> <p>Valid values: A-Z, a-z, 0-9, space, \".:/=+\\-@\"</p> <p>Constraints: Each value can be 0-256 characters long.</p> <p>Required: Yes</p>"
        }
      },
      "description": "Each tag includes the following elements."
    },
    "TagKey": {
      "type": "string"
    },
    "TagKeyList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagKey"
      }
    },
    "TagList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Tag"
      }
    },
    "TagValue": {
      "type": "string"
    },
    "Timestamp": {
      "type": "string",
      "format": "date-time"
    },
    "TransferDomainRequest": {
      "type": "object",
      "required": [
        "DomainName",
        "DurationInYears",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "IdnLangCode": {
          "$ref": "#/definitions/LangCode",
          "description": "Reserved for future use."
        },
        "DurationInYears": {
          "$ref": "#/definitions/DurationInYears",
          "description": "<p>The number of years the domain will be registered. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain.</p> <p>Type: Integer</p> <p>Default: 1</p> <p>Valid values: Integer from 1 to 10</p> <p>Required: Yes</p>"
        },
        "Nameservers": {
          "$ref": "#/definitions/NameserverList",
          "description": "<p>Contains details for the host and glue IP addresses.</p> <p>Type: Complex</p> <p>Children: <code>GlueIps</code>, <code>Name</code></p> <p>Required: No</p>"
        },
        "AuthCode": {
          "$ref": "#/definitions/DomainAuthCode",
          "description": "<p>The authorization code for the domain. You get this value from the current registrar.</p> <p>Type: String</p> <p>Required: Yes</p>"
        },
        "AutoRenew": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Indicates whether the domain will be automatically renewed (true) or not (false). Autorenewal only takes effect after the account is charged.</p> <p>Type: Boolean</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Default: true</p> <p>Required: No</p>"
        },
        "AdminContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "RegistrantContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "TechContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "PrivacyProtectAdminContact": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectRegistrantContact": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectTechContact": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        }
      },
      "description": "The TransferDomain request includes the following elements."
    },
    "TransferDomainResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "description": "The TranserDomain response includes the following element."
    },
    "UnsupportedTLD": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "Amazon Route 53 does not support this top-level domain."
    },
    "UpdateDomainContactPrivacyRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "AdminPrivacy": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: None</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "RegistrantPrivacy": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: None</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "TechPrivacy": {
          "$ref": "#/definitions/Boolean",
          "description": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: None</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        }
      },
      "description": "The UpdateDomainContactPrivacy request includes the following elements."
    },
    "UpdateDomainContactPrivacyResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "description": "The UpdateDomainContactPrivacy response includes the following element."
    },
    "UpdateDomainContactRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "AdminContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "RegistrantContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "TechContact": {
          "$ref": "#/definitions/ContactDetail",
          "description": "<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        }
      },
      "description": "The UpdateDomainContact request includes the following elements."
    },
    "UpdateDomainContactResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "description": "The UpdateDomainContact response includes the following element."
    },
    "UpdateDomainNameserversRequest": {
      "type": "object",
      "required": [
        "DomainName",
        "Nameservers"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "FIAuthKey": {
          "$ref": "#/definitions/FIAuthKey",
          "description": "The authorization key for .fi domains"
        },
        "Nameservers": {
          "$ref": "#/definitions/NameserverList",
          "description": "<p>A list of new name servers for the domain.</p> <p>Type: Complex</p> <p>Children: <code>Name</code>, <code>GlueIps</code></p> <p>Required: Yes</p>"
        }
      },
      "description": "The UpdateDomainNameserver request includes the following elements."
    },
    "UpdateDomainNameserversResponse": {
      "type": "object",
      "required": [
        "OperationId"
      ],
      "properties": {
        "OperationId": {
          "$ref": "#/definitions/OperationId",
          "description": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "description": "The UpdateDomainNameservers response includes the following element."
    },
    "UpdateTagsForDomainRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "<p>The domain for which you want to add or update tags.</p> <p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Hyphens are allowed only when they&apos;re surrounded by letters, numbers, or other hyphens. You can&apos;t specify a hyphen at the beginning or end of a label. To specify an Internationalized Domain Name, you must convert the name to Punycode.</p> <p>Required: Yes</p>"
        },
        "TagsToUpdate": {
          "$ref": "#/definitions/TagList",
          "description": "<p>A list of the tag keys and values that you want to add or update. If you specify a key that already exists, the corresponding value will be replaced.</p> <p>Type: A complex type containing a list of tags</p> <p>Default: None</p> <p>Required: No</p>'> <p>Each tag includes the following elements:</p> <ul> <li><p>Key</p> <p>The key (name) of a tag.</p> <p>Type: String</p> <p>Default: None</p> <p>Valid values: Unicode characters including alphanumeric, space, and \".:/=+\\-@\"</p> <p>Constraints: Each key can be 1-128 characters long.</p> <p>Required: Yes</p> </li> <li><p>Value</p> <p>The value of a tag.</p> <p>Type: String</p> <p>Default: None</p> <p>Valid values: Unicode characters including alphanumeric, space, and \".:/=+\\-@\"</p> <p>Constraints: Each value can be 0-256 characters long.</p> <p>Required: Yes</p> </li> </ul>"
        }
      },
      "description": "The UpdateTagsForDomainRequest includes the following elements."
    },
    "UpdateTagsForDomainResponse": {
      "type": "object",
      "properties": {}
    },
    "ViewBillingRequest": {
      "type": "object",
      "properties": {
        "Start": {
          "$ref": "#/definitions/Timestamp",
          "description": "<p>The beginning date and time for the time period for which you want a list of billing records. Specify the date in Unix time format.</p> <p>Type: Double</p> <p>Default: None</p> <p>Required: Yes</p>"
        },
        "End": {
          "$ref": "#/definitions/Timestamp",
          "description": "<p>The end date and time for the time period for which you want a list of billing records. Specify the date in Unix time format.</p> <p>Type: Double</p> <p>Default: None</p> <p>Required: Yes</p>"
        },
        "Marker": {
          "$ref": "#/definitions/PageMarker",
          "description": "<p>For an initial request for a list of billing records, omit this element. If the number of billing records that are associated with the current AWS account during the specified period is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional billing records. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element. </p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The marker must match the value of <code>NextPageMarker</code> that was returned in the previous response.</p> <p>Required: No</p>"
        },
        "MaxItems": {
          "$ref": "#/definitions/PageMaxItems",
          "description": "<p>The number of billing records to be returned.</p> <p>Type: Integer</p> <p>Default: 20</p> <p>Constraints: A value between 1 and 100.</p> <p>Required: No</p>"
        }
      },
      "description": "The ViewBilling request includes the following elements."
    },
    "ViewBillingResponse": {
      "type": "object",
      "properties": {
        "NextPageMarker": {
          "$ref": "#/definitions/PageMarker",
          "description": "<p>If there are more billing records than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p> <p>Type: String</p> <p>Parent: <code>BillingRecords</code></p>"
        },
        "BillingRecords": {
          "$ref": "#/definitions/BillingRecords",
          "description": "<p>A summary of billing records.</p> <p>Type: Complex type containing a list of billing record summaries.</p> <p>Children: <code>DomainName</code>, <code>Operation</code>, <code>InvoiceId</code>, <code>BillDate</code> and <code>Price</code></p>"
        }
      },
      "description": "The ViewBilling response includes the following elements."
    },
    "ZipCode": {
      "type": "string",
      "maxLength": 255
    }
  }
}