{
  "swagger": "2.0",
  "info": {
    "title": "Active.com Asset Details API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. This API provides the extended details of an asset returned from the Search API.",
    "x-mashery-id": "151"
  },
  "schemes": [
    "http"
  ],
  "host": "api.active.com",
  "basePath": "/resource/assetservice/asset",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.active.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Asset Details"
    }
  ],
  "paths": {
    "/{assetId}": {
      "get": {
        "operationId": "GetAssetAssetDetails",
        "summary": "Get asset details in XML format",
        "tags": [
          "Asset Details"
        ],
        "parameters": [
          {
            "name": "assetId",
            "type": "string",
            "description": "Asset ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}