{
  "swagger": "2.0",
  "info": {
    "title": "IDM Requests (Partner) **",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. API for IDM Request Information",
    "x-mashery-id": "1730"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/idm",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Outlet Request"
    }
  ],
  "paths": {
    "/employeeId/": {
      "get": {
        "operationId": "GetEmployeeDetailsRequestOutletRequest",
        "summary": "Returns system details of the user",
        "tags": [
          "Outlet Request"
        ],
        "parameters": [
          {
            "name": "eid",
            "type": "string",
            "description": "EID of the user",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "JSONP callback name (e.g. myFunctionName)",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/description/": {
      "get": {
        "operationId": "GetRoleDescriptionOutletRequest",
        "summary": "Returns description of a role",
        "tags": [
          "Outlet Request"
        ],
        "parameters": [
          {
            "name": "role",
            "type": "string",
            "description": "role",
            "in": "query",
            "required": false
          },
          {
            "name": "system",
            "type": "string",
            "description": "system",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "JSONP callback name (e.g. myFunctionName)",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/role/": {
      "get": {
        "operationId": "GetRoleofT-CodeOutletRequest",
        "summary": "Returns T-Code of a role",
        "tags": [
          "Outlet Request"
        ],
        "parameters": [
          {
            "name": "tcode",
            "type": "string",
            "description": "T-Code",
            "in": "query",
            "required": false
          },
          {
            "name": "system",
            "type": "string",
            "description": "system",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "JSONP callback name (e.g. myFunctionName)",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "SearchAllTextsOutletRequest",
        "summary": "Searches all fields for given Text",
        "tags": [
          "Outlet Request"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "Text for search",
            "in": "query",
            "required": false
          },
          {
            "name": "system",
            "type": "string",
            "description": "system",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "JSONP callback name (e.g. myFunctionName)",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}