{
  "swagger": "2.0",
  "info": {
    "title": "Infusionsoft API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. You can also view our written documentation, helper libraries and code samples. The Infusionsoft API enables third-party applications to communicate with Infusionsoft and process, update, and destroy data for a wide variety of uses. You can do things like manage contacts, place orders, send messages, and most other things available for use in the Infusionsoft software. The Infusionsoft API uses XML implemented as either encoded XML-RPC or plain XML over HTTP as its communication method for both sending and receiving requests.",
    "x-mashery-id": "1493"
  },
  "schemes": [
    "http"
  ],
  "host": "keys.api.infusionsoft.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://keys.developer.infusionsoft.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "",
      "tokenUrl": "",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "APIAffiliateService"
    },
    {
      "name": "AffiliateProgramService"
    },
    {
      "name": "ContactService"
    },
    {
      "name": "DataService"
    },
    {
      "name": "DiscountService"
    },
    {
      "name": "APIEmailService"
    },
    {
      "name": "FileService"
    },
    {
      "name": "FunnelService"
    },
    {
      "name": "InvoiceService"
    },
    {
      "name": "OrderService"
    },
    {
      "name": "ProductService"
    },
    {
      "name": "SearchService"
    },
    {
      "name": "ShippingService"
    },
    {
      "name": "WebFormService"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "getHTMLWebFormService",
        "summary": "This retrieves the HTML for the given web form",
        "tags": [
          "WebFormService"
        ],
        "parameters": [
          {
            "name": "apiKey",
            "type": "string",
            "description": "Your Infusionsoft API key",
            "in": "query",
            "required": true
          },
          {
            "name": "webFormId",
            "type": "integer",
            "description": "The Id to your web form",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}