{
  "swagger": "2.0",
  "info": {
    "title": "backstage ssl",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "If you have been assigned an API Key, you can test Fandango's API services here. You can also view written documentation for information on methods available via the Fandango API and definitions of the output associated with each. ",
    "x-mashery-id": "4879"
  },
  "schemes": [
    "http"
  ],
  "host": "api.fandango.com",
  "basePath": "/",
  "externalDocs": {
    "description": "For details about the response elements, please see the specific API section page below:\nTheater Methods\nMovie Methods \nShowtime Methods\nEditorial Methods\nCity Search Method\n",
    "url": "https://developer.fandango.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "backstage ssl"
    }
  ],
  "paths": {
    "/reviews/reviews": {
      "get": {
        "operationId": "ReviewListbackstagessl",
        "summary": "Reviews List",
        "tags": [
          "backstage ssl"
        ],
        "parameters": [
          {
            "name": "ids",
            "type": "string",
            "description": "Movie Ids",
            "in": "query",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/movieclips/mobile/main": {
      "get": {
        "operationId": "MobileMainbackstagessl",
        "summary": "Mobile Main - used by movie clips mobile apps",
        "tags": [
          "backstage ssl"
        ],
        "parameters": [
          {
            "name": "ids",
            "type": "string",
            "description": "Movie Ids",
            "in": "query",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/reviews/reviews/185792": {
      "get": {
        "operationId": "Reviewbackstagessl",
        "summary": "Reviews",
        "tags": [
          "backstage ssl"
        ],
        "parameters": [
          {
            "name": "ids",
            "type": "string",
            "description": "Movie Ids",
            "in": "query",
            "required": true,
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}