{
  "swagger": "2.0",
  "info": {
    "title": "Searchlight API v3.0",
    "version": "3",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developers.conductor.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Interact with the RESTful Searchlight API.\nDiscover, test and debug live calls within our documentation.  All responses are JSON. ",
    "x-mashery-id": "2645"
  },
  "schemes": [
    "http"
  ],
  "host": "api.conductor.com",
  "basePath": "/v3",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developers.conductor.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Searchlight API v3.0 End Points"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "AccountListSearchlightAPIv3.0EndPoints",
        "summary": "Lists the accounts available to the authenticated ...",
        "description": "Lists the accounts available to the authenticated user.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{accountId}/web-properties": {
      "get": {
        "operationId": "WebPropertyListSearchlightAPIv3.0EndPoints",
        "summary": "Lists the web properties within the account that a...",
        "description": "Lists the web properties within the account that are available to the authenticated user, along with their configured comparison domains.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "string",
            "description": "the account id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{accountId}/categories": {
      "get": {
        "operationId": "CategoryListSearchlightAPIv3.0EndPoints",
        "summary": "Lists the categories configured for a particular a...",
        "description": "Lists the categories configured for a particular account.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "string",
            "description": "the account id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{accountId}/web-properties/{webPropertyId}/tracked-searches": {
      "get": {
        "operationId": "TrackedSearchListSearchlightAPIv3.0EndPoints",
        "summary": "Lists the tracked searches configured for a partic...",
        "description": "Lists the tracked searches configured for a particular web property.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "string",
            "description": "the account id",
            "in": "path",
            "required": true
          },
          {
            "name": "webPropertyId",
            "type": "string",
            "description": "the web property id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{accountId}/web-properties/{webPropertyId}/rank-sources/{rankSourceId}/tp/{timePeriodId}/serp-items": {
      "get": {
        "operationId": "ClientWebPropertyRankReportSearchlightAPIv3.0EndPoints",
        "summary": "Provides a report of search items of interest seen...",
        "description": "Provides a report of search items of interest seen for all tracked searches within a client web property",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "string",
            "description": "the account id",
            "in": "path",
            "required": true
          },
          {
            "name": "webPropertyId",
            "type": "string",
            "description": "the web property id",
            "in": "path",
            "required": true
          },
          {
            "name": "rankSourceId",
            "type": "string",
            "description": "the rank source id",
            "in": "path",
            "required": true
          },
          {
            "name": "timePeriodId",
            "type": "string",
            "description": "the time period id",
            "in": "path",
            "required": true,
            "default": "CURRENT"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{accountId}/web-properties/{webPropertyId}/rank-sources/{rankSourceId}/tp/{timePeriodId}/search-volumes": {
      "get": {
        "operationId": "ClientWebPropertySearchVol.ReportSearchlightAPIv3.0EndPoints",
        "summary": "Provides a report of search volumes for all tracke...",
        "description": "Provides a report of search volumes for all tracked searches within a client web property",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "string",
            "description": "the account id",
            "in": "path",
            "required": true
          },
          {
            "name": "webPropertyId",
            "type": "string",
            "description": "the web property id",
            "in": "path",
            "required": true
          },
          {
            "name": "rankSourceId",
            "type": "string",
            "description": "the rank source id",
            "in": "path",
            "required": true
          },
          {
            "name": "timePeriodId",
            "type": "string",
            "description": "the time period id",
            "in": "path",
            "required": true,
            "default": "CURRENT"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/rank-sources": {
      "get": {
        "operationId": "RankSourceListSearchlightAPIv3.0EndPoints",
        "summary": "Lists all rank sources, with descriptive informati...",
        "description": "Lists all rank sources, with descriptive information as needed to interpret the Web Properties and Tracked Searches results.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "operationId": "LocationListSearchlightAPIv3.0EndPoints",
        "summary": "Lists all locations with descriptive information a...",
        "description": "Lists all locations with descriptive information as needed to interpret the Tracked Searches results.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/devices": {
      "get": {
        "operationId": "DeviceListSearchlightAPIv3.0EndPoints",
        "summary": "Lists all devices with descriptive information as ...",
        "description": "Lists all devices with descriptive information as needed to interpret the Tracked Searches results.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/recos/onDemand": {
      "post": {
        "operationId": "OnDemandRecommendationsSearchlightAPIv3.0EndPoints",
        "summary": "Provides recommendations for inputted HTML.  Note:...",
        "description": "Provides recommendations for inputted HTML.  Note: we've limited to 1k characters in the IO-Docs.",
        "tags": [
          "Searchlight API v3.0 End Points"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}