{
  "swagger": "2.0",
  "info": {
    "version": "2012-06-01",
    "x-release": "v4",
    "title": "Amazon Glacier",
    "description": "<p>Amazon Glacier is a storage solution for \"cold data.\"</p> <p>Amazon Glacier is an extremely low-cost storage service that provides secure, durable, and easy-to-use storage for data backup and archival. With Amazon Glacier, customers can store their data cost effectively for months, years, or decades. Amazon Glacier also enables customers to offload the administrative burdens of operating and scaling storage to AWS, so they don't have to worry about capacity planning, hardware provisioning, data replication, hardware failure and recovery, or time-consuming hardware migrations.</p> <p>Amazon Glacier is a great storage choice when low storage cost is paramount, your data is rarely retrieved, and retrieval latency of several hours is acceptable. If your application requires fast or frequent access to your data, consider using Amazon S3. For more information, go to <a href=\"http://aws.amazon.com/s3/\">Amazon Simple Storage Service (Amazon S3)</a>.</p> <p>You can store any kind of data in any format. There is no maximum limit on the total amount of data you can store in Amazon Glacier. </p> <p>If you are a first-time user of Amazon Glacier, we recommend that you begin by reading the following sections in the <i>Amazon Glacier Developer Guide</i>:</p> <ul> <li><p><a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/introduction.html\">What is Amazon Glacier</a> - This section of the Developer Guide describes the underlying data model, the operations it supports, and the AWS SDKs that you can use to interact with the service.</p></li> <li><p><a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/amazon-glacier-getting-started.html\">Getting Started with Amazon Glacier</a> - The Getting Started section walks you through the process of creating a vault, uploading archives, creating jobs to download archives, retrieving the job output, and deleting archives.</p></li> </ul>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/glacier/"
  },
  "host": "glacier.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}": {
      "put": {
        "operationId": "UploadMultipartPart",
        "description": "<p>This operation uploads a part of an archive. You can upload archive parts in any order. You can also upload them in parallel. You can upload up to 10,000 parts for a multipart upload.</p> <p>Amazon Glacier rejects your upload part request if any of the following conditions is true:</p> <ul> <li> <p><b>SHA256 tree hash does not match</b>To ensure that part data is not corrupted in transmission, you compute a SHA256 tree hash of the part and include it in your request. Upon receiving the part data, Amazon Glacier also computes a SHA256 tree hash. If these hash values don't match, the operation fails. For information about computing a SHA256 tree hash, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/checksum-calculations.html\">Computing Checksums</a>.</p> </li> <li> <p><b>Part size does not match</b>The size of each part except the last must match the size specified in the corresponding <a>InitiateMultipartUpload</a> request. The size of the last part must be the same size as, or smaller than, the specified size.</p> <note><p>If you upload a part whose size is smaller than the part size you specified in your initiate multipart upload request and that part is not the last part, then the upload part request will succeed. However, the subsequent Complete Multipart Upload request will fail.</p></note> </li> <li> <b>Range does not align</b>The byte range value in the request does not align with the part size specified in the corresponding initiate request. For example, if you specify a part size of 4194304 bytes (4 MB), then 0 to 4194303 bytes (4 MB - 1) and 4194304 (4 MB) to 8388607 (8 MB - 1) are valid part ranges. However, if you set a range value of 2 MB to 6 MB, the range does not align with the part size and the upload will fail. </li> </ul> <p>This operation is idempotent. If you upload the same part multiple times, the data included in the most recent request overwrites the previously uploaded data.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/uploading-archive-mpu.html\">Uploading Large Archives in Parts (Multipart Upload)</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-upload-part.html\">Upload Part </a> in the <i>Amazon Glacier Developer Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadMultipartPartOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "408": {
            "description": "RequestTimeoutException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/RequestTimeoutException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadMultipartPartInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "uploadId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/lock-policy": {
      "post": {
        "operationId": "InitiateVaultLock",
        "description": "<p>This operation initiates the vault locking process by doing the following: <ul> <li> <p>Installing a vault lock policy on the specified vault.</p> </li> <li> <p>Setting the lock state of vault lock to <code>InProgress</code>.</p> </li> <li> <p>Returning a lock ID, which is used to complete the vault locking process. </p> </li> </ul> </p> <p>You can set one vault lock policy for each vault and this policy can be up to 20 KB in size. For more information about vault lock policies, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock-policy.html\">Amazon Glacier Access Control with Vault Lock Policies</a>. </p> <p>You must complete the vault locking process within 24 hours after the vault lock enters the <code>InProgress</code> state. After the 24 hour window ends, the lock ID expires, the vault automatically exits the <code>InProgress</code> state, and the vault lock policy is removed from the vault. You call <a>CompleteVaultLock</a> to complete the vault locking process by setting the state of the vault lock to <code>Locked</code>. </p> <p>After a vault lock is in the <code>Locked</code> state, you cannot initiate a new vault lock for the vault.</p> <p>You can abort the vault locking process by calling <a>AbortVaultLock</a>. You can get the state of the vault lock by calling <a>GetVaultLock</a>. For more information about the vault locking process, <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock.html\">Amazon Glacier Vault Lock</a>.</p> <p>If this operation is called when the vault lock is in the <code>InProgress</code> state, the operation returns an <code>AccessDeniedException</code> error. When the vault lock is in the <code>InProgress</code> state you must call <a>AbortVaultLock</a> before you can initiate a new vault lock policy. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InitiateVaultLockOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiateVaultLockInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/tags?operation=add": {
      "post": {
        "operationId": "AddTagsToVault",
        "description": "This operation adds the specified tags to a vault. Each tag is composed of a key and a value. Each vault can have up to 10 tags. If your request would cause the tag limit for the vault to be exceeded, the operation throws the <code>LimitExceededException</code> error. If a tag already exists on the vault under a specified key, the existing key value will be overwritten. For more information about tags, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/tagging.html\">Tagging Amazon Glacier Resources</a>. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "LimitExceededException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToVaultInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/lock-policy/{lockId}": {
      "post": {
        "operationId": "CompleteVaultLock",
        "description": "<p>This operation completes the vault locking process by transitioning the vault lock from the <code>InProgress</code> state to the <code>Locked</code> state, which causes the vault lock policy to become unchangeable. A vault lock is put into the <code>InProgress</code> state by calling <a>InitiateVaultLock</a>. You can obtain the state of the vault lock by calling <a>GetVaultLock</a>. For more information about the vault locking process, <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock.html\">Amazon Glacier Vault Lock</a>. </p> <p>This operation is idempotent. This request is always successful if the vault lock is in the <code>Locked</code> state and the provided lock ID matches the lock ID originally used to lock the vault.</p> <p>If an invalid lock ID is passed in the request when the vault lock is in the <code>Locked</code> state, the operation returns an <code>AccessDeniedException</code> error. If an invalid lock ID is passed in the request when the vault lock is in the <code>InProgress</code> state, the operation throws an <code>InvalidParameter</code> error.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompleteVaultLockInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "lockId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}": {
      "get": {
        "operationId": "DescribeVault",
        "description": "<p>This operation returns information about a vault, including the vault's Amazon Resource Name (ARN), the date the vault was created, the number of archives it contains, and the total size of all the archives in the vault. The number of archives and their total size are as of the last inventory generation. This means that if you add or remove an archive from a vault, and then immediately use Describe Vault, the change in contents will not be immediately reflected. If you want to retrieve the latest inventory of the vault, use <a>InitiateJob</a>. Amazon Glacier generates vault inventories approximately daily. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-inventory.html\">Downloading a Vault Inventory in Amazon Glacier</a>. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/retrieving-vault-info.html\">Retrieving Vault Metadata in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-get.html\">Describe Vault </a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeVaultOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeVaultInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/archives/{archiveId}": {
      "delete": {
        "operationId": "DeleteArchive",
        "description": "<p>This operation deletes an archive from a vault. Subsequent requests to initiate a retrieval of this archive will fail. Archive retrievals that are in progress for this archive ID may or may not succeed according to the following scenarios:</p> <ul> <li>If the archive retrieval job is actively preparing the data for download when Amazon Glacier receives the delete archive request, the archival retrieval operation might fail. </li> <li>If the archive retrieval job has successfully prepared the archive for download when Amazon Glacier receives the delete archive request, you will be able to download the output. </li> </ul> <p>This operation is idempotent. Attempting to delete an already-deleted archive does not result in an error. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/deleting-an-archive.html\">Deleting an Archive in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-delete.html\">Delete Archive</a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteArchiveInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "archiveId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/access-policy": {
      "put": {
        "operationId": "SetVaultAccessPolicy",
        "description": "This operation configures an access policy for a vault and will overwrite an existing policy. To configure a vault access policy, send a PUT request to the <code>access-policy</code> subresource of the vault. An access policy is specific to a vault and is also called a vault subresource. You can set one access policy per vault and the policy can be up to 20 KB in size. For more information about vault access policies, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-access-policy.html\">Amazon Glacier Access Control with Vault Access Policies</a>. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetVaultAccessPolicyInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/notification-configuration": {
      "put": {
        "operationId": "SetVaultNotifications",
        "description": "<p>This operation configures notifications that will be sent when specific events happen to a vault. By default, you don't get any notifications. </p> <p>To configure vault notifications, send a PUT request to the <code class=\"code\">notification-configuration</code> subresource of the vault. The request should include a JSON document that provides an Amazon SNS topic and specific events for which you want Amazon Glacier to send notifications to the topic.</p> <p>Amazon SNS topics must grant permission to the vault to be allowed to publish notifications to the topic. You can configure a vault to publish a notification for the following vault events:</p> <ul> <li> <b>ArchiveRetrievalCompleted</b> This event occurs when a job that was initiated for an archive retrieval is completed (<a>InitiateJob</a>). The status of the completed job can be \"Succeeded\" or \"Failed\". The notification sent to the SNS topic is the same output as returned from <a>DescribeJob</a>. </li> <li> <b>InventoryRetrievalCompleted</b> This event occurs when a job that was initiated for an inventory retrieval is completed (<a>InitiateJob</a>). The status of the completed job can be \"Succeeded\" or \"Failed\". The notification sent to the SNS topic is the same output as returned from <a>DescribeJob</a>. </li> </ul> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault Notifications in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-notifications-put.html\">Set Vault Notification Configuration </a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetVaultNotificationsInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/jobs/{jobId}": {
      "get": {
        "operationId": "DescribeJob",
        "description": "<p>This operation returns information about a job you previously initiated, including the job initiation date, the user who initiated the job, the job status code/message and the Amazon SNS topic to notify after Amazon Glacier completes the job. For more information about initiating a job, see <a>InitiateJob</a>. </p> <note><p>This operation enables you to check the status of your job. However, it is strongly recommended that you set up an Amazon SNS topic and specify it in your initiate job request so that Amazon Glacier can notify the topic after it completes the job. </p></note> <p>A job ID will not expire for at least 24 hours after Amazon Glacier completes the job. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-describe-job-get.html\">Working with Archives in Amazon Glacier</a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GlacierJobDescription"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeJobInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/policies/data-retrieval": {
      "put": {
        "operationId": "SetDataRetrievalPolicy",
        "description": "<p>This operation sets and then enacts a data retrieval policy in the region specified in the PUT request. You can set one policy per region for an AWS account. The policy is enacted within a few minutes of a successful PUT operation. </p> <p>The set policy operation does not affect retrieval jobs that were in progress before the policy was enacted. For more information about data retrieval policies, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/data-retrieval-policy.html\">Amazon Glacier Data Retrieval Policies</a>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetDataRetrievalPolicyInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/jobs/{jobId}/output": {
      "get": {
        "operationId": "GetJobOutput",
        "description": "<p>This operation downloads the output of the job you initiated using <a>InitiateJob</a>. Depending on the job type you specified when you initiated the job, the output will be either the content of an archive or a vault inventory.</p> <p>A job ID will not expire for at least 24 hours after Amazon Glacier completes the job. That is, you can download the job output within the 24 hours period after Amazon Glacier completes the job.</p> <p>If the job output is large, then you can use the <code>Range</code> request header to retrieve a portion of the output. This allows you to download the entire output in smaller chunks of bytes. For example, suppose you have 1 GB of job output you want to download and you decide to download 128 MB chunks of data at a time, which is a total of eight Get Job Output requests. You use the following process to download the job output:</p> <ol> <li> <p>Download a 128 MB chunk of output by specifying the appropriate byte range using the <code>Range</code> header.</p> </li> <li> <p>Along with the data, the response includes a SHA256 tree hash of the payload. You compute the checksum of the payload on the client and compare it with the checksum you received in the response to ensure you received all the expected data.</p> </li> <li> <p>Repeat steps 1 and 2 for all the eight 128 MB chunks of output data, each time specifying the appropriate byte range.</p> </li> <li> <p>After downloading all the parts of the job output, you have a list of eight checksum values. Compute the tree hash of these values to find the checksum of the entire output. Using the <a>DescribeJob</a> API, obtain job information of the job that provided you the output. The response includes the checksum of the entire archive stored in Amazon Glacier. You compare this value with the checksum you computed to ensure you have downloaded the entire archive content with no errors.</p> </li> </ol> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-inventory.html\">Downloading a Vault Inventory</a>, <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/downloading-an-archive.html\">Downloading an Archive</a>, and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-job-output-get.html\">Get Job Output </a> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetJobOutputOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetJobOutputInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/jobs": {
      "get": {
        "operationId": "ListJobs",
        "description": "<p>This operation lists jobs for a vault, including jobs that are in-progress and jobs that have recently finished. </p> <note><p>Amazon Glacier retains recently completed jobs for a period before deleting them; however, it eventually removes completed jobs. The output of completed jobs can be retrieved. Retaining completed jobs for a period of time after they have completed enables you to get a job output in the event you miss the job completion notification or your first attempt to download it fails. For example, suppose you start an archive retrieval job to download an archive. After the job completes, you start to download the archive but encounter a network error. In this scenario, you can retry and download the archive while the job exists. </p></note> <p>To retrieve an archive or retrieve a vault inventory from Amazon Glacier, you first initiate a job, and after the job completes, you download the data. For an archive retrieval, the output is the archive data, and for an inventory retrieval, it is the inventory list. The List Job operation returns a list of these jobs sorted by job initiation time.</p> <p>This List Jobs operation supports pagination. By default, this operation returns up to 1,000 jobs in the response. You should always check the response for a <code>marker</code> at which to continue the list; if there are no more items the <code>marker</code> is <code>null</code>. To return a list of jobs that begins at a specific job, set the <code>marker</code> request parameter to the value you obtained from a previous List Jobs request. You can also limit the number of jobs returned in the response by specifying the <code>limit</code> parameter in the request.</p> <p>Additionally, you can filter the jobs list returned by specifying an optional <code>statuscode</code> (InProgress, Succeeded, or Failed) and <code>completed</code> (true, false) parameter. The <code>statuscode</code> allows you to specify that only jobs that match a specified status are returned. The <code>completed</code> parameter allows you to specify that only jobs in a specific completion state are returned.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-jobs-get.html\">List Jobs </a> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListJobsOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListJobsInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/multipart-uploads": {
      "get": {
        "operationId": "ListMultipartUploads",
        "description": "<p>This operation lists in-progress multipart uploads for the specified vault. An in-progress multipart upload is a multipart upload that has been initiated by an <a>InitiateMultipartUpload</a> request, but has not yet been completed or aborted. The list returned in the List Multipart Upload response has no guaranteed order. </p> <p>The List Multipart Uploads operation supports pagination. By default, this operation returns up to 1,000 multipart uploads in the response. You should always check the response for a <code>marker</code> at which to continue the list; if there are no more items the <code>marker</code> is <code>null</code>. To return a list of multipart uploads that begins at a specific upload, set the <code>marker</code> request parameter to the value you obtained from a previous List Multipart Upload request. You can also limit the number of uploads returned in the response by specifying the <code>limit</code> parameter in the request.</p> <p>Note the difference between this operation and listing parts (<a>ListParts</a>). The List Multipart Uploads operation lists all multipart uploads for a vault and does not require a multipart upload ID. The List Parts operation requires a multipart upload ID since parts are associated with a single upload.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-list-uploads.html\">List Multipart Uploads </a> in the <i>Amazon Glacier Developer Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListMultipartUploadsOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListMultipartUploadsInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/tags": {
      "get": {
        "operationId": "ListTagsForVault",
        "description": "This operation lists all the tags attached to a vault. The operation returns an empty map if there are no tags. For more information about tags, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/tagging.html\">Tagging Amazon Glacier Resources</a>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForVaultOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForVaultInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults": {
      "get": {
        "operationId": "ListVaults",
        "description": "<p>This operation lists all vaults owned by the calling user's account. The list returned in the response is ASCII-sorted by vault name. </p> <p>By default, this operation returns up to 1,000 items. If there are more vaults to list, the response <code class=\"code\">marker</code> field contains the vault Amazon Resource Name (ARN) at which to continue the list with a new List Vaults request; otherwise, the <code class=\"code\">marker</code> field is <code class=\"code\">null</code>. To return a list of vaults that begins at a specific vault, set the <code class=\"code\">marker</code> request parameter to the vault ARN you obtained from a previous List Vaults request. You can also limit the number of vaults returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/retrieving-vault-info.html\">Retrieving Vault Metadata in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vaults-get.html\">List Vaults </a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListVaultsOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListVaultsInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/tags?operation=remove": {
      "post": {
        "operationId": "RemoveTagsFromVault",
        "description": "This operation removes one or more tags from the set of tags attached to a vault. For more information about tags, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/tagging.html\">Tagging Amazon Glacier Resources</a>. This operation is idempotent. The operation will be successful, even if there are no tags attached to the vault. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromVaultInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{accountId}/vaults/{vaultName}/archives": {
      "post": {
        "operationId": "UploadArchive",
        "description": "<p>This operation adds an archive to a vault. This is a synchronous operation, and for a successful upload, your data is durably persisted. Amazon Glacier returns the archive ID in the <code class=\"code\">x-amz-archive-id</code> header of the response. </p> <p>You must use the archive ID to access your data in Amazon Glacier. After you upload an archive, you should save the archive ID returned so that you can retrieve or delete the archive later. Besides saving the archive ID, you can also index it and give it a friendly name to allow for better searching. You can also use the optional archive description field to specify how the archive is referred to in an external index of archives, such as you might create in Amazon DynamoDB. You can also get the vault inventory to obtain a list of archive IDs in a vault. For more information, see <a>InitiateJob</a>. </p> <p>You must provide a SHA256 tree hash of the data you are uploading. For information about computing a SHA256 tree hash, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/checksum-calculations.html\">Computing Checksums</a>. </p> <p>You can optionally specify an archive description of up to 1,024 printable ASCII characters. You can get the archive description when you either retrieve the archive or get the vault inventory. For more information, see <a>InitiateJob</a>. Amazon Glacier does not interpret the description in any way. An archive description does not need to be unique. You cannot use the description to retrieve or sort the archive list. </p> <p>Archives are immutable. After you upload an archive, you cannot edit the archive or its description. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/uploading-an-archive.html\">Uploading an Archive in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload Archive</a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ArchiveCreationOutput"
            }
          },
          "400": {
            "description": "MissingParameterValueException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/MissingParameterValueException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "408": {
            "description": "RequestTimeoutException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/RequestTimeoutException"
            }
          },
          "500": {
            "description": "ServiceUnavailableException",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadArchiveInput"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "vaultName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-sha256-tree-hash",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Range",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Accept-Ranges",
            "in": "header",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-archive-description",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-job-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-part-size",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-multipart-upload-id",
            "in": "header",
            "type": "string"
          },
          {
            "name": "x-amz-lock-id",
            "in": "header",
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "AbortMultipartUploadInput": {
      "type": "object",
      "properties": {},
      "description": "<p>Provides options to abort a multipart upload identified by the upload ID. </p> <p>For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-abort-upload.html\">Abort Multipart Upload</a>. For conceptual information, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a>.</p>"
    },
    "AbortVaultLockInput": {
      "type": "object",
      "properties": {},
      "description": "The input values for <code>AbortVaultLock</code>."
    },
    "ActionCode": {
      "type": "string",
      "enum": [
        "ArchiveRetrieval",
        "InventoryRetrieval"
      ]
    },
    "AddTagsToVaultInput": {
      "type": "object",
      "properties": {
        "Tags": {
          "$ref": "#/definitions/TagMap",
          "description": "The tags to add to the vault. Each tag is composed of a key and a value. The value can be an empty string."
        }
      },
      "description": "The input values for <code>AddTagsToVault</code>."
    },
    "ArchiveCreationOutput": {
      "type": "object",
      "properties": {},
      "description": "<p>Contains the Amazon Glacier response to your request.</p> <p>For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload Archive</a>. For conceptual information, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a>.</p>"
    },
    "CompleteMultipartUploadInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options to complete a multipart upload operation. This informs Amazon Glacier that all the archive parts have been uploaded and Amazon Glacier can now assemble the archive from the uploaded parts. After assembling and saving the archive to the vault, Amazon Glacier returns the URI path of the newly created archive resource."
    },
    "CompleteVaultLockInput": {
      "type": "object",
      "properties": {},
      "description": "The input values for <code>CompleteVaultLock</code>."
    },
    "CreateVaultInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options to create a vault."
    },
    "CreateVaultOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the Amazon Glacier response to your request."
    },
    "DataRetrievalPolicy": {
      "type": "object",
      "properties": {
        "Rules": {
          "$ref": "#/definitions/DataRetrievalRulesList",
          "description": "The policy rule. Although this is a list type, currently there must be only one rule, which contains a Strategy field and optionally a BytesPerHour field."
        }
      },
      "description": "Data retrieval policy."
    },
    "DataRetrievalRule": {
      "type": "object",
      "properties": {
        "Strategy": {
          "$ref": "#/definitions/string",
          "description": "<p>The type of data retrieval policy to set.</p> <p>Valid values: BytesPerHour|FreeTier|None</p>"
        },
        "BytesPerHour": {
          "$ref": "#/definitions/NullableLong",
          "description": "<p>The maximum number of bytes that can be retrieved in an hour.</p> <p>This field is required only if the value of the Strategy field is <code>BytesPerHour</code>. Your PUT operation will be rejected if the Strategy field is not set to <code>BytesPerHour</code> and you set this field.</p>"
        }
      },
      "description": "Data retrieval policy rule."
    },
    "DataRetrievalRulesList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DataRetrievalRule"
      }
    },
    "DateTime": {
      "type": "string"
    },
    "DeleteArchiveInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for deleting an archive from an Amazon Glacier vault."
    },
    "DeleteVaultAccessPolicyInput": {
      "type": "object",
      "properties": {},
      "description": "DeleteVaultAccessPolicy input."
    },
    "DeleteVaultInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for deleting a vault from Amazon Glacier."
    },
    "DeleteVaultNotificationsInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for deleting a vault notification configuration from an Amazon Glacier vault."
    },
    "DescribeJobInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for retrieving a job description."
    },
    "DescribeVaultInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for retrieving metadata for a specific vault in Amazon Glacier."
    },
    "DescribeVaultOutput": {
      "type": "object",
      "properties": {
        "VaultARN": {
          "$ref": "#/definitions/string",
          "description": "The Amazon Resource Name (ARN) of the vault."
        },
        "VaultName": {
          "$ref": "#/definitions/string",
          "description": "The name of the vault."
        },
        "CreationDate": {
          "$ref": "#/definitions/string",
          "description": "The UTC date when the vault was created. A string representation of ISO 8601 date format, for example, \"2012-03-20T17:03:43.221Z\"."
        },
        "LastInventoryDate": {
          "$ref": "#/definitions/string",
          "description": "The UTC date when Amazon Glacier completed the last vault inventory. A string representation of ISO 8601 date format, for example, \"2012-03-20T17:03:43.221Z\"."
        },
        "NumberOfArchives": {
          "$ref": "#/definitions/long",
          "description": "The number of archives in the vault as of the last inventory date. This field will return <code>null</code> if an inventory has not yet run on the vault, for example, if you just created the vault."
        },
        "SizeInBytes": {
          "$ref": "#/definitions/long",
          "description": "Total size, in bytes, of the archives in the vault as of the last inventory date. This field will return null if an inventory has not yet run on the vault, for example, if you just created the vault."
        }
      },
      "description": "Contains the Amazon Glacier response to your request."
    },
    "GetDataRetrievalPolicyInput": {
      "type": "object",
      "properties": {},
      "description": "Input for GetDataRetrievalPolicy."
    },
    "GetDataRetrievalPolicyOutput": {
      "type": "object",
      "properties": {
        "Policy": {
          "$ref": "#/definitions/DataRetrievalPolicy",
          "description": "Contains the returned data retrieval policy in JSON format."
        }
      },
      "description": "Contains the Amazon Glacier response to the <code>GetDataRetrievalPolicy</code> request."
    },
    "GetJobOutputInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for downloading output of an Amazon Glacier job."
    },
    "GetJobOutputOutput": {
      "type": "object",
      "properties": {
        "body": {
          "$ref": "#/definitions/Stream",
          "description": "The job data, either archive data or inventory data."
        }
      },
      "description": "Contains the Amazon Glacier response to your request."
    },
    "GetVaultAccessPolicyInput": {
      "type": "object",
      "properties": {},
      "description": "Input for GetVaultAccessPolicy."
    },
    "GetVaultAccessPolicyOutput": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/VaultAccessPolicy",
          "description": "Contains the returned vault access policy as a JSON string."
        }
      },
      "description": "Output for GetVaultAccessPolicy."
    },
    "GetVaultLockInput": {
      "type": "object",
      "properties": {},
      "description": "The input values for <code>GetVaultLock</code>."
    },
    "GetVaultLockOutput": {
      "type": "object",
      "properties": {
        "Policy": {
          "$ref": "#/definitions/string",
          "description": "The vault lock policy as a JSON string, which uses \"\\\" as an escape character."
        },
        "State": {
          "$ref": "#/definitions/string",
          "description": "The state of the vault lock. <code>InProgress</code> or <code>Locked</code>."
        },
        "ExpirationDate": {
          "$ref": "#/definitions/string",
          "description": "The UTC date and time at which the lock ID expires. This value can be <code>null</code> if the vault lock is in a <code>Locked</code> state."
        },
        "CreationDate": {
          "$ref": "#/definitions/string",
          "description": "The UTC date and time at which the vault lock was put into the <code>InProgress</code> state."
        }
      },
      "description": "Contains the Amazon Glacier response to your request."
    },
    "GetVaultNotificationsInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for retrieving the notification configuration set on an Amazon Glacier vault."
    },
    "GetVaultNotificationsOutput": {
      "type": "object",
      "properties": {
        "vaultNotificationConfig": {
          "$ref": "#/definitions/VaultNotificationConfig",
          "description": "Returns the notification configuration set on the vault."
        }
      },
      "description": "Contains the Amazon Glacier response to your request."
    },
    "GlacierJobDescription": {
      "type": "object",
      "properties": {
        "JobId": {
          "$ref": "#/definitions/string",
          "description": "An opaque string that identifies an Amazon Glacier job."
        },
        "JobDescription": {
          "$ref": "#/definitions/string",
          "description": "The job description you provided when you initiated the job."
        },
        "Action": {
          "$ref": "#/definitions/ActionCode",
          "description": "The job type. It is either ArchiveRetrieval or InventoryRetrieval."
        },
        "ArchiveId": {
          "$ref": "#/definitions/string",
          "description": "For an ArchiveRetrieval job, this is the archive ID requested for download. Otherwise, this field is null."
        },
        "VaultARN": {
          "$ref": "#/definitions/string",
          "description": "The Amazon Resource Name (ARN) of the vault from which the archive retrieval was requested."
        },
        "CreationDate": {
          "$ref": "#/definitions/string",
          "description": "The UTC date when the job was created. A string representation of ISO 8601 date format, for example, \"2012-03-20T17:03:43.221Z\"."
        },
        "Completed": {
          "$ref": "#/definitions/boolean",
          "description": "The job status. When a job is completed, you get the job's output."
        },
        "StatusCode": {
          "$ref": "#/definitions/StatusCode",
          "description": "The status code can be InProgress, Succeeded, or Failed, and indicates the status of the job."
        },
        "StatusMessage": {
          "$ref": "#/definitions/string",
          "description": "A friendly message that describes the job status."
        },
        "ArchiveSizeInBytes": {
          "$ref": "#/definitions/Size",
          "description": "For an ArchiveRetrieval job, this is the size in bytes of the archive being requested for download. For the InventoryRetrieval job, the value is null."
        },
        "InventorySizeInBytes": {
          "$ref": "#/definitions/Size",
          "description": "For an InventoryRetrieval job, this is the size in bytes of the inventory requested for download. For the ArchiveRetrieval job, the value is null."
        },
        "SNSTopic": {
          "$ref": "#/definitions/string",
          "description": "An Amazon Simple Notification Service (Amazon SNS) topic that receives notification."
        },
        "CompletionDate": {
          "$ref": "#/definitions/string",
          "description": "The UTC time that the archive retrieval request completed. While the job is in progress, the value will be null."
        },
        "SHA256TreeHash": {
          "$ref": "#/definitions/string",
          "description": "<p>For an ArchiveRetrieval job, it is the checksum of the archive. Otherwise, the value is null.</p> <p> The SHA256 tree hash value for the requested range of an archive. If the Initiate a Job request for an archive specified a tree-hash aligned range, then this field returns a value. </p> <p> For the specific case when the whole archive is retrieved, this value is the same as the ArchiveSHA256TreeHash value. </p> <p> This field is null in the following situations: <ul> <li><p>Archive retrieval jobs that specify a range that is not tree-hash aligned.</p></li> </ul> <ul> <li><p>Archival jobs that specify a range that is equal to the whole archive and the job status is InProgress.</p></li> </ul> <ul> <li><p>Inventory jobs.</p></li> </ul> </p>"
        },
        "ArchiveSHA256TreeHash": {
          "$ref": "#/definitions/string",
          "description": "The SHA256 tree hash of the entire archive for an archive retrieval. For inventory retrieval jobs, this field is null. "
        },
        "RetrievalByteRange": {
          "$ref": "#/definitions/string",
          "description": "The retrieved byte range for archive retrieval jobs in the form \"<i>StartByteValue</i>-<i>EndByteValue</i>\" If no range was specified in the archive retrieval, then the whole archive is retrieved and <i>StartByteValue</i> equals 0 and <i>EndByteValue</i> equals the size of the archive minus 1. For inventory retrieval jobs this field is null. "
        },
        "InventoryRetrievalParameters": {
          "$ref": "#/definitions/InventoryRetrievalJobDescription",
          "description": "Parameters used for range inventory retrieval."
        }
      },
      "description": "Describes an Amazon Glacier job."
    },
    "InitiateJobInput": {
      "type": "object",
      "properties": {
        "jobParameters": {
          "$ref": "#/definitions/JobParameters",
          "description": "Provides options for specifying job information."
        }
      },
      "description": "Provides options for initiating an Amazon Glacier job."
    },
    "InitiateJobOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the Amazon Glacier response to your request."
    },
    "InitiateMultipartUploadInput": {
      "type": "object",
      "properties": {},
      "description": "Provides options for initiating a multipart upload to an Amazon Glacier vault."
    },
    "InitiateMultipartUploadOutput": {
      "type": "object",
      "properties": {},
      "description": "The Amazon Glacier response to your request."
    },
    "InitiateVaultLockInput": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "#/definitions/VaultLockPolicy",
          "description": "The vault lock policy as a JSON string, which uses \"\\\" as an escape character."
        }
      },
      "description": "The input values for <code>InitiateVaultLock</code>."
    },
    "InitiateVaultLockOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the Amazon Glacier response to your request."
    },
    "InvalidParameterValueException": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/string",
          "description": "Client"
        },
        "code": {
          "$ref": "#/definitions/string",
          "description": "400 Bad Request"
        },
        "message": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "Returned if a parameter of the request is incorrectly specified. "
    },
    "InventoryRetrievalJobDescription": {
      "type": "object",
      "properties": {
        "Format": {
          "$ref": "#/definitions/string",
          "description": "The output format for the vault inventory list, which is set by the <b>InitiateJob</b> request when initiating a job to retrieve a vault inventory. Valid values are \"CSV\" and \"JSON\"."
        },
        "StartDate": {
          "$ref": "#/definitions/DateTime",
          "description": "The start of the date range in UTC for vault inventory retrieval that includes archives created on or after this date. A string representation of ISO 8601 date format, for example, 2013-03-20T17:03:43Z."
        },
        "EndDate": {
          "$ref": "#/definitions/DateTime",
          "description": "The end of the date range in UTC for vault inventory retrieval that includes archives created before this date. A string representation of ISO 8601 date format, for example, 2013-03-20T17:03:43Z."
        },
        "Limit": {
          "$ref": "#/definitions/string",
[...]
