{
  "swagger": "2.0",
  "info": {
    "title": "v2 - Metadata",
    "version": "2",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Provides list of data resources, fields, parameters, fieldgroups",
    "x-mashery-id": "3758"
  },
  "schemes": [
    "http"
  ],
  "host": "api.edgar-online.com",
  "basePath": "/v2/metadata/resources",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.edgar-online.com/iodocs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Metadata Calls"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "GettinglistofresourcesMetadataCalls",
        "summary": "Getting list of resources",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{resourcename}": {
      "get": {
        "operationId": "GettingresourceinformationMetadataCalls",
        "summary": "Getting resource information",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "resourcename",
            "type": "string",
            "description": "The name of resource",
            "in": "path",
            "required": true,
            "enum": [
              "corefinancials-qtr",
              "corefinancials-ytd",
              "corefinancials-ttm",
              "corefinancials-ann",
              "companies",
              "insider-filers",
              "insider-issues",
              "insider-summary",
              "insider-transactions",
              "ownership-issues",
              "ownership-owners",
              "ownership-currentissueholders",
              "ownership-currentownerholdings"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{resourcename}/fields": {
      "get": {
        "operationId": "GettinglistoffieldsMetadataCalls",
        "summary": "Getting list of fields",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "resourcename",
            "type": "string",
            "description": "The name of resource",
            "in": "path",
            "required": true,
            "enum": [
              "corefinancials-qtr",
              "corefinancials-ytd",
              "corefinancials-ttm",
              "corefinancials-ann",
              "companies",
              "insider-filers",
              "insider-issues",
              "insider-summary",
              "insider-transactions",
              "ownership-issues",
              "ownership-owners",
              "ownership-currentissueholders",
              "ownership-currentownerholdings"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{resourcename}/fields/{fieldname}": {
      "get": {
        "operationId": "GettingfieldinformationMetadataCalls",
        "summary": "Getting field information",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "resourcename",
            "type": "string",
            "description": "The name of resource",
            "in": "path",
            "required": true,
            "enum": [
              "corefinancials-qtr",
              "corefinancials-ytd",
              "corefinancials-ttm",
              "corefinancials-ann",
              "companies",
              "insider-filers",
              "insider-issues",
              "insider-summary",
              "insider-transactions",
              "ownership-issues",
              "ownership-owners",
              "ownership-currentissueholders",
              "ownership-currentownerholdings"
            ]
          },
          {
            "name": "fieldname",
            "type": "string",
            "description": "The name of field",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{resourcename}/fieldgroups": {
      "get": {
        "operationId": "GettinglistoffieldgroupsMetadataCalls",
        "summary": "Getting list of field groups",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "resourcename",
            "type": "string",
            "description": "The name of resource",
            "in": "path",
            "required": true,
            "enum": [
              "corefinancials-qtr",
              "corefinancials-ytd",
              "corefinancials-ttm",
              "corefinancials-ann",
              "companies",
              "insider-filers",
              "insider-issues",
              "insider-summary",
              "insider-transactions",
              "ownership-issues",
              "ownership-owners",
              "ownership-currentissueholders",
              "ownership-currentownerholdings"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{resourcename}/fieldgroups/{fieldgroupname}": {
      "get": {
        "operationId": "GettingfieldgroupinformationMetadataCalls",
        "summary": "Getting field group information",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "resourcename",
            "type": "string",
            "description": "The name of resource",
            "in": "path",
            "required": true,
            "enum": [
              "corefinancials-qtr",
              "corefinancials-ytd",
              "corefinancials-ttm",
              "corefinancials-ann",
              "companies",
              "insider-filers",
              "insider-issues",
              "insider-summary",
              "insider-transactions",
              "ownership-issues",
              "ownership-owners",
              "ownership-currentissueholders",
              "ownership-currentownerholdings"
            ]
          },
          {
            "name": "fieldgroupname",
            "type": "string",
            "description": "The name of field group",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{resourcename}/parameters": {
      "get": {
        "operationId": "GettinglistofparametersMetadataCalls",
        "summary": "Getting list of parameters",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "resourcename",
            "type": "string",
            "description": "The name of resource",
            "in": "path",
            "required": true,
            "enum": [
              "corefinancials-qtr",
              "corefinancials-ytd",
              "corefinancials-ttm",
              "corefinancials-ann",
              "companies",
              "insider-filers",
              "insider-issues",
              "insider-summary",
              "insider-transactions",
              "ownership-issues",
              "ownership-owners",
              "ownership-currentissueholders",
              "ownership-currentownerholdings"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{resourcename}/parameters/{parametername}": {
      "get": {
        "operationId": "GettingparameterinformationMetadataCalls",
        "summary": "Getting parameter information",
        "tags": [
          "Metadata Calls"
        ],
        "parameters": [
          {
            "name": "resourcename",
            "type": "string",
            "description": "The name of resource",
            "in": "path",
            "required": true,
            "enum": [
              "corefinancials-qtr",
              "corefinancials-ytd",
              "corefinancials-ttm",
              "corefinancials-ann",
              "companies",
              "insider-filers",
              "insider-issues",
              "insider-summary",
              "insider-transactions",
              "ownership-issues",
              "ownership-owners",
              "ownership-currentissueholders",
              "ownership-currentownerholdings"
            ]
          },
          {
            "name": "parametername",
            "type": "string",
            "description": "The name of parameter",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}