{
  "swagger": "2.0",
  "info": {
    "title": "Cricket Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Cricket API",
    "x-mashery-id": "3103"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Cricket"
    }
  ],
  "paths": {
    "/cricket-t1/matches/schedule.xml": {
      "get": {
        "operationId": "ScheduleCricket",
        "summary": "provides scheduled match information for all serie...",
        "description": "provides scheduled match information for all series we cover",
        "tags": [
          "Cricket"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cricket-t1/matches/{year}/{month}/{day}/schedule.xml": {
      "get": {
        "operationId": "DailyScheduleCricket",
        "summary": "provides scheduled match information, including se...",
        "description": "provides scheduled match information, including series information, for all matches played on a given day",
        "tags": [
          "Cricket"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cricket-t1/matches/{year}/{month}/{day}/summary.xml": {
      "get": {
        "operationId": "DailySummaryCricket",
        "summary": "provides match information and scoring, including ...",
        "description": "provides match information and scoring, including player statistics, for all matches played on a given day",
        "tags": [
          "Cricket"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cricket-t1/matches/{match_id}/summary.xml": {
      "get": {
        "operationId": "MatchSummaryCricket",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team and player statistics, lineups, and play by play",
        "tags": [
          "Cricket"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "a695ebac-b5d3-405e-9524-8afe46e778de"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cricket-t1/series/{series_id}/statistics.xml": {
      "get": {
        "operationId": "SeriesSummaryCricket",
        "summary": "provides series level statistics for each player a...",
        "description": "provides series level statistics for each player and match type",
        "tags": [
          "Cricket"
        ],
        "parameters": [
          {
            "name": "series_id",
            "type": "string",
            "description": "The ID of a given series, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "51e7fe32-9c22-4529-b545-1fb7bb8f944b"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cricket-t1/players/{player_id}/profile.xml": {
      "get": {
        "operationId": "PlayerProfileCricket",
        "summary": "provides player profile information",
        "tags": [
          "Cricket"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "default": "0f5aab08-51e6-4d61-a26f-d9ca0c2d29b6"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cricket-t1/teams/hierarchy.xml": {
      "get": {
        "operationId": "TeamHierarchyCricket",
        "summary": "series and team identification and association inf...",
        "description": "series and team identification and association information for each series covered",
        "tags": [
          "Cricket"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cricket-t1/teams/{team_id}/profile.xml": {
      "get": {
        "operationId": "TeamProfileCricket",
        "summary": "provides team profile information, including curre...",
        "description": "provides team profile information, including current team roster",
        "tags": [
          "Cricket"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Team Hierarchy",
            "in": "path",
            "required": true,
            "default": "c6504611-8333-45ad-84e3-1d8abafeae8c"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}