{
  "swagger": "2.0",
  "info": {
    "title": "Cricket v2 Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Cricket API",
    "x-mashery-id": "12531"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/cricket-t2/en",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Cricket v2"
    }
  ],
  "paths": {
    "/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsCricketv2",
        "summary": "Provides match results for all games played on a g...",
        "description": "Provides match results for all games played on a given day",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleCricketv2",
        "summary": "Provides the schedule for a given day",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/lineups{format}": {
      "get": {
        "operationId": "MatchLineupsCricketv2",
        "summary": "Provides match lineups and substitutions",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:11837442"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "MatchProbabilitiesCricketv2",
        "summary": "Provides pre-match probabilities",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/summary{format}": {
      "get": {
        "operationId": "MatchSummaryCricketv2",
        "summary": "Provides basic match information and scoring",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:11837442"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/timeline{format}": {
      "get": {
        "operationId": "MatchTimelineCricketv2",
        "summary": "Provides an events timeline for a match",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:11837442"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/timeline/delta{format}": {
      "get": {
        "operationId": "MatchTimelineDeltaCricketv2",
        "summary": "Will display the last 5 minutes of a live timeline...",
        "description": "Will display the last 5 minutes of a live timeline element",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:11837442"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileCricketv2",
        "summary": "Provides player information",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player",
            "in": "path",
            "required": true,
            "default": "sr:player:646278"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfileCricketv2",
        "summary": "Provides information and stats for a team",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Competitor ID",
            "in": "path",
            "required": true,
            "default": "sr:competitor:142690"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/results{format}": {
      "get": {
        "operationId": "TeamResultsCricketv2",
        "summary": "The results of the last played matches for a team",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Competitor ID",
            "in": "path",
            "required": true,
            "default": "sr:competitor:142690"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/schedule{format}": {
      "get": {
        "operationId": "TeamScheduleCricketv2",
        "summary": "Provides a list of scheduled matches for a given t...",
        "description": "Provides a list of scheduled matches for a given team",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Competitor ID",
            "in": "path",
            "required": true,
            "default": "sr:competitor:107203"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{competitor_id_1}/versus/{competitor_id_2}/matches{format}": {
      "get": {
        "operationId": "TeamVersusTeamCricketv2",
        "summary": "Compares past results and upcoming games given two...",
        "description": "Compares past results and upcoming games given two team IDs",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "competitor_id_1",
            "type": "string",
            "description": "The ID of the team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:142690"
          },
          {
            "name": "competitor_id_2",
            "type": "string",
            "description": "The ID of the team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:107203"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tours{format}": {
      "get": {
        "operationId": "TourListCricketv2",
        "summary": "Provides a the tour list",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tours/{tour_id}/schedule{format}": {
      "get": {
        "operationId": "TourScheduleCricketv2",
        "summary": "Provides a the tour schedule",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "tour_id",
            "type": "string",
            "description": "The Given Tour ID, found in the Tour List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tour:15544"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoCricketv2",
        "summary": "Provides information pertaining to a given tournam...",
        "description": "Provides information pertaining to a given tournament/league",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:15103"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/leaders{format}": {
      "get": {
        "operationId": "TournamentLeadersCricketv2",
        "summary": "Provides a list of seasons with respective IDs",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2472"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments{format}": {
      "get": {
        "operationId": "TournamentListCricketv2",
        "summary": "Provides a list of all tournaments",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsCricketv2",
        "summary": "Provides a list of results for a given tournament/...",
        "description": "Provides a list of results for a given tournament/league",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:15103"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleCricketv2",
        "summary": "Provides a list of scheduled matches for a given t...",
        "description": "Provides a list of scheduled matches for a given tournament/league",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:15103"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/seasons{format}": {
      "get": {
        "operationId": "TournamentSeasonsCricketv2",
        "summary": "Provides a list of seasons with respective IDs",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:15163"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/standings{format}": {
      "get": {
        "operationId": "TournamentStandingsCricketv2",
        "summary": "Provides the standings for a team and tournament",
        "tags": [
          "Cricket v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2472"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}