{
  "swagger": "2.0",
  "info": {
    "title": "Shopping Cart Service",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.shopatron.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. You can use the Add to Cart APIs to include Add to Cart buttons on your web pages, provide a Quick Cart view, and display a shopping cart. The shopping cart page can be a standard Shopatron cart, a stylized version of a Shopatron cart, or a cart that you design to coordinate with your website.",
    "x-mashery-id": "613"
  },
  "schemes": [
    "http"
  ],
  "host": "api.shopatron.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.shopatron.com/io-docs"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Cart"
    }
  ],
  "paths": {
    "/{id}/cartItems.jsonp": {
      "get": {
        "operationId": "AddToCartCart",
        "summary": "Get all products in the Acme Apparel Catalog.",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "The id of the cart.",
            "in": "path",
            "required": true,
            "default": "be4a5bcf5f25624e55fde6eef01cd054"
          },
          {
            "name": "method",
            "type": "string",
            "description": "add description here",
            "in": "query",
            "required": true,
            "default": "post"
          },
          {
            "name": "headers[Accept]",
            "type": "string",
            "description": "add description here",
            "in": "query",
            "required": true,
            "default": "*/*"
          },
          {
            "name": "headers[Content-Type]",
            "type": "string",
            "description": "add description here",
            "in": "query",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "post",
            "type": "string",
            "description": "adddescriptionhere",
            "in": "query",
            "required": true,
            "default": "all that json"
          },
          {
            "name": "callback",
            "type": "string",
            "description": "adddescriptionhere",
            "in": "query",
            "required": true,
            "default": "jQuery17205919218380004168_1363646905086"
          },
          {
            "name": "_",
            "type": "string",
            "description": "adddescriptionhere",
            "in": "query",
            "required": true,
            "default": "1363651047746"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}