{
  "swagger": "2.0",
  "info": {
    "title": "DATG - VP - Watch Partner APIs",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "2296"
  },
  "schemes": [
    "http"
  ],
  "host": "api.abc.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.abc.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Schedule - Wildcard (v1)"
    },
    {
      "name": "Videos - Wildcard (v1)"
    },
    {
      "name": "Config - WildCard (v1)"
    },
    {
      "name": "Enitlement - Playmanifest (v1)"
    },
    {
      "name": "Utils - Geolocation (v1)"
    },
    {
      "name": "Channel - Wildcard (v1)"
    },
    {
      "name": "Shows - Wildcard (v1)"
    },
    {
      "name": "Videos - Wildcard - Filtered (v1)"
    },
    {
      "name": "MRSS - Wildcard (v1)"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "exampleMethodMRSS-Wildcard(v1)",
        "summary": "",
        "tags": [
          "MRSS - Wildcard (v1)"
        ],
        "parameters": [
          {
            "name": "exampleParameter",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}