{
  "swagger": "2.0",
  "info": {
    "title": "WNBA Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's WNBA API",
    "x-mashery-id": "3228"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "WNBA"
    }
  ],
  "paths": {
    "/wnba-t3/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogWNBA",
        "summary": "information on any changes made to teams, players,...",
        "description": "information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleWNBA",
        "summary": "Get single day schedules for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/league/{year}/{month}/{day}/transfers{format}": {
      "get": {
        "operationId": "DailyTransfersWNBA",
        "summary": "information for all transfers added or edited duri...",
        "description": "information for all transfers added or edited during the league defined day",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreWNBA",
        "summary": "Get boxscore data for WNBA games.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "fcc2aa2c-26a3-4e18-af1a-d14d1682dd94"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/games/{game_id}/summary{format}": {
      "get": {
        "operationId": "GameSummaryWNBA",
        "summary": "Obtain game summaries for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "fcc2aa2c-26a3-4e18-af1a-d14d1682dd94"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/league/injuries{format}": {
      "get": {
        "operationId": "InjuriesWNBA",
        "summary": "Get injury feeds for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyWNBA",
        "summary": "Get the league hierarchy information for the WNBA....",
        "description": "Get the league hierarchy information for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/seasontd/{season_id}/{wnba_season}/leaders{format}": {
      "get": {
        "operationId": "LeagueLeadersWNBA",
        "summary": "Get the league leaders for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "wnba_season",
            "type": "string",
            "description": "The part of the season (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "REG"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "Play-By-PlayWNBA",
        "summary": "Get play-by-play detail for WNBA games.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "fcc2aa2c-26a3-4e18-af1a-d14d1682dd94"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileWNBA",
        "summary": "Get player profiles for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of a given player, found in the Rosters feed",
            "in": "path",
            "required": true,
            "default": "3f53a238-b4df-4861-b260-73fc309d6e94"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/seasontd/{season_id}/{wnba_season}/rankings{format}": {
      "get": {
        "operationId": "RankingsWNBA",
        "summary": "Get rankings information for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "wnba_season",
            "type": "string",
            "description": "The part of the season (REG)",
            "in": "path",
            "required": true,
            "enum": [
              "REG"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/games/{season_id}/{wnba_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleWNBA",
        "summary": "Get full season schedules for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The calendar year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "wnba_season",
            "type": "string",
            "description": "The part of the season, (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/seasontd/{season_id}/{wnba_season}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatisticsWNBA",
        "summary": "Get seasonal statistics information for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "wnba_season",
            "type": "string",
            "description": "The part of the season (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the schedule feed",
            "in": "path",
            "required": true,
            "default": "6f017f37-be96-4bdc-b6d3-0a0429c72e89"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/series/{season_id}/{wnba_season}/schedule{format}": {
      "get": {
        "operationId": "SeriesSchedulesWNBA",
        "summary": "Get post season series information for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season (year season starts in)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "wnba_season",
            "type": "string",
            "description": "The part of the season, Post-season (PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/seasontd/{season_id}/{wnba_season}/standings{format}": {
      "get": {
        "operationId": "StandingsWNBA",
        "summary": "Get standings information for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "wnba_season",
            "type": "string",
            "description": "The part of the season, Post-season (PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wnba-t3/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile(Rosters)WNBA",
        "summary": "Get team rosters for the WNBA.",
        "tags": [
          "WNBA"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of a given team, found in the league hierarchy feed",
            "in": "path",
            "required": true,
            "default": "6f017f37-be96-4bdc-b6d3-0a0429c72e89"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}