{
  "swagger": "2.0",
  "info": {
    "version": "2013-06-30",
    "x-release": "v4",
    "title": "AWS Storage Gateway",
    "description": "<fullname>AWS Storage Gateway Service</fullname> <p>AWS Storage Gateway is the service that connects an on-premises software appliance with cloud-based storage to provide seamless and secure integration between an organization's on-premises IT environment and AWS's storage infrastructure. The service enables you to securely upload data to the AWS cloud for cost effective backup and rapid disaster recovery.</p> <p>Use the following links to get started using the <i>AWS Storage Gateway Service API Reference</i>:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayHTTPRequestsHeaders.html\">AWS Storage Gateway Required Request Headers</a>: Describes the required headers that you must send with every POST request to AWS Storage Gateway.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewaySigningRequests.html\">Signing Requests</a>: AWS Storage Gateway requires that you authenticate every request you send; this topic describes how sign such a request.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/APIErrorResponses.html\">Error Responses</a>: Provides reference information about AWS Storage Gateway errors.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPIOperations.html\">Operations in AWS Storage Gateway</a>: Contains detailed descriptions of all AWS Storage Gateway operations, their request parameters, response elements, possible errors, and examples of requests and responses.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/index.html?rande.html\">AWS Storage Gateway Regions and Endpoints</a>: Provides a list of each of the s and endpoints available for use with AWS Storage Gateway.</p> </li> </ul> <note> <p>AWS Storage Gateway resource IDs are in uppercase. When you use these resource IDs with the Amazon EC2 API, EC2 expects resource IDs in lowercase. You must change your resource ID to lowercase to use it with the EC2 API. For example, in Storage Gateway the ID for a volume might be <code>vol-1122AABB</code>. When you use this ID with the EC2 API, you must change it to <code>vol-1122aabb</code>. Otherwise, the EC2 API might not behave as expected.</p> </note> <important> <p>IDs for Storage Gateway volumes and Amazon EBS snapshots created from gateway volumes are changing to a longer format. Starting in December 2016, all new volumes and snapshots will be created with a 17-character string. Starting in April 2016, you will be able to use these longer IDs so you can test your systems with the new format. For more information, see <a href=\"https://aws.amazon.com/ec2/faqs/#longer-ids\">Longer EC2 and EBS Resource IDs</a>.</p> <p> For example, a volume ARN with the longer volume ID format will look like this:</p> <p> <code>arn:aws:storagegateway:us-west-2:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABBCCDDEEFFG</code>.</p> <p>A snapshot ID with the longer ID format will look like this: <code>snap-78e226633445566ee</code>.</p> <p>For more information, see <a href=\"https://forums.aws.amazon.com/ann.jspa?annID=3557\">Announcement: Heads-up – Longer AWS Storage Gateway volume and snapshot IDs coming in 2016</a>.</p> </important>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/storagegateway/"
  },
  "host": "storagegateway.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UpdateVTLDeviceType",
        "description": "Updates the type of medium changer in a gateway-VTL. When you activate a gateway-VTL, you select a medium changer type for the gateway-VTL. This operation enables you to select a different type of medium changer after a gateway-VTL is activated.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateVTLDeviceTypeOutput"
            }
          },
          "400": {
            "description": "InvalidGatewayRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidGatewayRequestException"
            }
          },
          "401": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateVTLDeviceTypeInput"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "ActivateGatewayInput": {
      "type": "object",
      "required": [
        "ActivationKey",
        "GatewayName",
        "GatewayTimezone",
        "GatewayRegion"
      ],
      "properties": {
        "ActivationKey": {
          "$ref": "#/definitions/ActivationKey",
          "description": "Your gateway activation key. You can obtain the activation key by sending an HTTP GET request with redirects enabled to the gateway IP address (port 80). The redirect URL returned in the response provides you the activation key for your gateway in the query string parameter <code>activationKey</code>. It may also include other activation-related parameters, however, these are merely defaults -- the arguments you pass to the <code>ActivateGateway</code> API call determine the actual configuration of your gateway."
        },
        "GatewayName": {
          "$ref": "#/definitions/GatewayName",
          "description": "The name you configured for your gateway."
        },
        "GatewayTimezone": {
          "$ref": "#/definitions/GatewayTimezone",
          "description": "A value that indicates the time zone you want to set for the gateway. The time zone is used, for example, for scheduling snapshots and your gateway's maintenance schedule."
        },
        "GatewayRegion": {
          "$ref": "#/definitions/RegionId",
          "description": "<p>A value that indicates the region where you want to store the snapshot backups. The gateway region specified must be the same region as the region in your <code>Host</code> header in the request. For more information about available regions and endpoints for AWS Storage Gateway, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">Regions and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p> <p> Valid Values: \"us-east-1\", \"us-west-1\", \"us-west-2\", \"eu-west-1\", \"eu-central-1\", \"ap-northeast-1\", \"ap-northeast-2\", \"ap-southeast-1\", \"ap-southeast-2\", \"sa-east-1\"</p>"
        },
        "GatewayType": {
          "$ref": "#/definitions/GatewayType",
          "description": "A value that defines the type of gateway to activate. The type specified is critical to all later functions of the gateway and cannot be changed after activation. The default value is <code>STORED</code>. "
        },
        "TapeDriveType": {
          "$ref": "#/definitions/TapeDriveType",
          "description": "<p>The value that indicates the type of tape drive to use for gateway-VTL. This field is optional.</p> <p> Valid Values: \"IBM-ULT3580-TD5\" </p>"
        },
        "MediumChangerType": {
          "$ref": "#/definitions/MediumChangerType",
          "description": "<p>The value that indicates the type of medium changer to use for gateway-VTL. This field is optional.</p> <p> Valid Values: \"STK-L700\", \"AWS-Gateway-VTL\"</p>"
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>ActivateGatewayInput$ActivationKey</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayName</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayRegion</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayTimezone</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$TapeDriveType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$MediumChangerType</a> </p> </li> </ul>"
    },
    "ActivateGatewayOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of information such as your account, gateway name, and region. This ARN is used to reference the gateway in other API operations as well as resource-based authorization.</p> <note><p>For gateways activated prior to September 02, 2015 the gateway ARN contains the gateway name rather than the gateway id. Changing the name of the gateway has no effect on the gateway ARN.</p> </note>"
    },
    "ActivationKey": {
      "type": "string",
      "minLength": 1,
      "maxLength": 50
    },
    "AddCacheInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "DiskIds"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "DiskIds": {
          "$ref": "#/definitions/DiskIds"
        }
      }
    },
    "AddCacheOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "AddTagsToResourceInput": {
      "type": "object",
      "required": [
        "ResourceARN",
        "Tags"
      ],
      "properties": {
        "ResourceARN": {
          "$ref": "#/definitions/ResourceARN",
          "description": "The Amazon Resource Name (ARN) of the resource you want to add tags to."
        },
        "Tags": {
          "$ref": "#/definitions/Tags",
          "description": "<p>The key-value pair that represents the tag you want to add to the resource. The value can be an empty string.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @.</p> </note>"
        }
      },
      "description": "AddTagsToResourceInput"
    },
    "AddTagsToResourceOutput": {
      "type": "object",
      "properties": {
        "ResourceARN": {
          "$ref": "#/definitions/ResourceARN",
          "description": "The Amazon Resource Name (ARN) of the resource you want to add tags to."
        }
      },
      "description": "AddTagsToResourceOutput"
    },
    "AddUploadBufferInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "DiskIds"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "DiskIds": {
          "$ref": "#/definitions/DiskIds"
        }
      }
    },
    "AddUploadBufferOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "AddWorkingStorageInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "DiskIds"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "DiskIds": {
          "$ref": "#/definitions/DiskIds",
          "description": "An array of strings that identify disks that are to be configured as working storage. Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API."
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>AddWorkingStorageInput$DiskIds</a> </p> </li> </ul>"
    },
    "AddWorkingStorageOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway for which working storage was configured."
    },
    "BandwidthDownloadRateLimit": {
      "type": "integer",
      "minimum": 102400
    },
    "BandwidthType": {
      "type": "string",
      "minLength": 3,
      "maxLength": 25
    },
    "BandwidthUploadRateLimit": {
      "type": "integer",
      "minimum": 51200
    },
    "CachediSCSIVolume": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        },
        "VolumeId": {
          "$ref": "#/definitions/VolumeId"
        },
        "VolumeType": {
          "$ref": "#/definitions/VolumeType"
        },
        "VolumeStatus": {
          "$ref": "#/definitions/VolumeStatus"
        },
        "VolumeSizeInBytes": {
          "$ref": "#/definitions/long"
        },
        "VolumeProgress": {
          "$ref": "#/definitions/DoubleObject"
        },
        "SourceSnapshotId": {
          "$ref": "#/definitions/SnapshotId"
        },
        "VolumeiSCSIAttributes": {
          "$ref": "#/definitions/VolumeiSCSIAttributes"
        }
      }
    },
    "CachediSCSIVolumes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CachediSCSIVolume"
      }
    },
    "CancelArchivalInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "TapeARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape you want to cancel archiving for."
        }
      },
      "description": "CancelArchivalInput"
    },
    "CancelArchivalOutput": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape for which archiving was canceled."
        }
      },
      "description": "CancelArchivalOutput"
    },
    "CancelRetrievalInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "TapeARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape you want to cancel retrieval for."
        }
      },
      "description": "CancelRetrievalInput"
    },
    "CancelRetrievalOutput": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape for which retrieval was canceled."
        }
      },
      "description": "CancelRetrievalOutput"
    },
    "ChapCredentials": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ChapInfo"
      }
    },
    "ChapInfo": {
      "type": "object",
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "<p>The Amazon Resource Name (ARN) of the volume.</p> <p> Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
        },
        "SecretToAuthenticateInitiator": {
          "$ref": "#/definitions/ChapSecret",
          "description": "The secret key that the initiator (for example, the Windows client) must provide to participate in mutual CHAP with the target."
        },
        "InitiatorName": {
          "$ref": "#/definitions/IqnName",
          "description": "The iSCSI initiator that connects to the target."
        },
        "SecretToAuthenticateTarget": {
          "$ref": "#/definitions/ChapSecret",
          "description": "The secret key that the target must provide to participate in mutual CHAP with the initiator (e.g. Windows client)."
        }
      },
      "description": "Describes Challenge-Handshake Authentication Protocol (CHAP) information that supports authentication between your gateway and iSCSI initiators."
    },
    "ChapSecret": {
      "type": "string",
      "minLength": 1,
      "maxLength": 100
    },
    "ClientToken": {
      "type": "string",
      "minLength": 5,
      "maxLength": 100
    },
    "CreateCachediSCSIVolumeInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "VolumeSizeInBytes",
        "TargetName",
        "NetworkInterfaceId",
        "ClientToken"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "VolumeSizeInBytes": {
          "$ref": "#/definitions/long"
        },
        "SnapshotId": {
          "$ref": "#/definitions/SnapshotId"
        },
        "TargetName": {
          "$ref": "#/definitions/TargetName"
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/NetworkInterfaceId"
        },
        "ClientToken": {
          "$ref": "#/definitions/ClientToken"
        }
      }
    },
    "CreateCachediSCSIVolumeOutput": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        },
        "TargetARN": {
          "$ref": "#/definitions/TargetARN"
        }
      }
    },
    "CreateSnapshotFromVolumeRecoveryPointInput": {
      "type": "object",
      "required": [
        "VolumeARN",
        "SnapshotDescription"
      ],
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        },
        "SnapshotDescription": {
          "$ref": "#/definitions/SnapshotDescription"
        }
      }
    },
    "CreateSnapshotFromVolumeRecoveryPointOutput": {
      "type": "object",
      "properties": {
        "SnapshotId": {
          "$ref": "#/definitions/SnapshotId"
        },
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        },
        "VolumeRecoveryPointTime": {
          "$ref": "#/definitions/string"
        }
      }
    },
    "CreateSnapshotInput": {
      "type": "object",
      "required": [
        "VolumeARN",
        "SnapshotDescription"
      ],
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to return a list of gateway volumes."
        },
        "SnapshotDescription": {
          "$ref": "#/definitions/SnapshotDescription",
          "description": "Textual description of the snapshot that appears in the Amazon EC2 console, Elastic Block Store snapshots panel in the <b>Description</b> field, and in the AWS Storage Gateway snapshot <b>Details</b> pane, <b>Description</b> field"
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateSnapshotInput$SnapshotDescription</a> </p> </li> <li> <p> <a>CreateSnapshotInput$VolumeARN</a> </p> </li> </ul>"
    },
    "CreateSnapshotOutput": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the volume of which the snapshot was taken."
        },
        "SnapshotId": {
          "$ref": "#/definitions/SnapshotId",
          "description": "The snapshot ID that is used to refer to the snapshot in future operations such as describing snapshots (Amazon Elastic Compute Cloud API <code>DescribeSnapshots</code>) or creating a volume from a snapshot (<a>CreateStorediSCSIVolume</a>)."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "CreateStorediSCSIVolumeInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "DiskId",
        "PreserveExistingData",
        "TargetName",
        "NetworkInterfaceId"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "DiskId": {
          "$ref": "#/definitions/DiskId",
          "description": "The unique identifier for the gateway local disk that is configured as a stored volume. Use <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/API_ListLocalDisks.html\">ListLocalDisks</a> to list disk IDs for a gateway."
        },
        "SnapshotId": {
          "$ref": "#/definitions/SnapshotId",
          "description": "The snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new stored volume. Specify this field if you want to create the iSCSI storage volume from a snapshot otherwise do not include this field. To list snapshots for your account use <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>."
        },
        "PreserveExistingData": {
          "$ref": "#/definitions/boolean",
          "description": "<p>Specify this field as true if you want to preserve the data on the local disk. Otherwise, specifying this field as false creates an empty volume.</p> <p> Valid Values: true, false</p>"
        },
        "TargetName": {
          "$ref": "#/definitions/TargetName",
          "description": "The name of the iSCSI target used by initiators to connect to the target and as a suffix for the target ARN. For example, specifying <code>TargetName</code> as <i>myvolume</i> results in the target ARN of arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume. The target name must be unique across all volumes of a gateway."
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/NetworkInterfaceId",
          "description": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4 addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of the network interfaces available on a gateway.</p> <p> Valid Values: A valid IP address.</p>"
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>CreateStorediSCSIVolumeInput$DiskId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$SnapshotId</a> </p> </li> <li> <p> <a>CreateStorediSCSIVolumeInput$TargetName</a> </p> </li> </ul>"
    },
    "CreateStorediSCSIVolumeOutput": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the configured volume."
        },
        "VolumeSizeInBytes": {
          "$ref": "#/definitions/long",
          "description": "The size of the volume in bytes."
        },
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "he Amazon Resource Name (ARN) of the volume target that includes the iSCSI name that initiators can use to connect to the target."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "CreateTapeWithBarcodeInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "TapeSizeInBytes",
        "TapeBarcode"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN",
          "description": "The unique Amazon Resource Name (ARN) that represents the gateway to associate the virtual tape with. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region."
        },
        "TapeSizeInBytes": {
          "$ref": "#/definitions/TapeSize",
          "description": "<p>The size, in bytes, of the virtual tape that you want to create.</p> <note><p>The size must be aligned by gigabyte (1024*1024*1024 byte).</p> </note>"
        },
        "TapeBarcode": {
          "$ref": "#/definitions/TapeBarcode",
          "description": "The barcode that you want to assign to the tape."
        }
      },
      "description": "CreateTapeWithBarcodeInput"
    },
    "CreateTapeWithBarcodeOutput": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "A unique Amazon Resource Name (ARN) that represents the virtual tape that was created."
        }
      },
      "description": "CreateTapeOutput"
    },
    "CreateTapesInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "TapeSizeInBytes",
        "ClientToken",
        "NumTapesToCreate",
        "TapeBarcodePrefix"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN",
          "description": "The unique Amazon Resource Name (ARN) that represents the gateway to associate the virtual tapes with. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region."
        },
        "TapeSizeInBytes": {
          "$ref": "#/definitions/TapeSize",
          "description": "<p>The size, in bytes, of the virtual tapes that you want to create.</p> <note><p>The size must be aligned by gigabyte (1024*1024*1024 byte).</p> </note>"
        },
        "ClientToken": {
          "$ref": "#/definitions/ClientToken",
          "description": "<p>A unique identifier that you use to retry a request. If you retry a request, use the same <code>ClientToken</code> you specified in the initial request.</p> <note><p>Using the same <code>ClientToken</code> prevents creating the tape multiple times.</p> </note>"
        },
        "NumTapesToCreate": {
          "$ref": "#/definitions/NumTapesToCreate",
          "description": "The number of virtual tapes that you want to create."
        },
        "TapeBarcodePrefix": {
          "$ref": "#/definitions/TapeBarcodePrefix",
          "description": "<p>A prefix that you append to the barcode of the virtual tape you are creating. This prefix makes the barcode unique.</p> <note><p>The prefix must be 1 to 4 characters in length and must be one of the uppercase letters from A to Z.</p> </note>"
        }
      },
      "description": "CreateTapesInput"
    },
    "CreateTapesOutput": {
      "type": "object",
      "properties": {
        "TapeARNs": {
          "$ref": "#/definitions/TapeARNs",
          "description": "A list of unique Amazon Resource Names (ARNs) that represents the virtual tapes that were created."
        }
      },
      "description": "CreateTapeOutput"
    },
    "DayOfWeek": {
      "type": "integer",
      "minimum": 0,
      "maximum": 6
    },
    "DeleteBandwidthRateLimitInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "BandwidthType"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "BandwidthType": {
          "$ref": "#/definitions/BandwidthType"
        }
      }
    },
    "DeleteBandwidthRateLimitOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway whose bandwidth rate information was deleted."
    },
    "DeleteChapCredentialsInput": {
      "type": "object",
      "required": [
        "TargetARN",
        "InitiatorName"
      ],
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return to retrieve the TargetARN for specified VolumeARN."
        },
        "InitiatorName": {
          "$ref": "#/definitions/IqnName",
          "description": "The iSCSI initiator that connects to the target."
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>DeleteChapCredentialsInput$InitiatorName</a> </p> </li> <li> <p> <a>DeleteChapCredentialsInput$TargetARN</a> </p> </li> </ul>"
    },
    "DeleteChapCredentialsOutput": {
      "type": "object",
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "The Amazon Resource Name (ARN) of the target."
        },
        "InitiatorName": {
          "$ref": "#/definitions/IqnName",
          "description": "The iSCSI initiator that connects to the target."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "DeleteGatewayInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the id of the gateway to delete."
    },
    "DeleteGatewayOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the id of the deleted gateway."
    },
    "DeleteSnapshotScheduleInput": {
      "type": "object",
      "required": [
        "VolumeARN"
      ],
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        }
      }
    },
    "DeleteSnapshotScheduleOutput": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        }
      }
    },
    "DeleteTapeArchiveInput": {
      "type": "object",
      "required": [
        "TapeARN"
      ],
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape to delete from the virtual tape shelf (VTS)."
        }
      },
      "description": "DeleteTapeArchiveInput"
    },
    "DeleteTapeArchiveOutput": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape that was deleted from the virtual tape shelf (VTS)."
        }
      },
      "description": "DeleteTapeArchiveOutput"
    },
    "DeleteTapeInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "TapeARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN",
          "description": "The unique Amazon Resource Name (ARN) of the gateway that the virtual tape to delete is associated with. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region."
        },
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape to delete."
        }
      },
      "description": "DeleteTapeInput"
    },
    "DeleteTapeOutput": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the deleted virtual tape."
        }
      },
      "description": "DeleteTapeOutput"
    },
    "DeleteVolumeInput": {
      "type": "object",
      "required": [
        "VolumeARN"
      ],
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to return a list of gateway volumes."
        }
      },
      "description": "A JSON object containing the <a>DeleteVolumeInput$VolumeARN</a> to delete."
    },
    "DeleteVolumeOutput": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the storage volume that was deleted. It is the same ARN you provided in the request."
        }
      },
      "description": "A JSON object containing the of the storage volume that was deleted"
    },
    "DescribeBandwidthRateLimitInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway."
    },
    "DescribeBandwidthRateLimitOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "AverageUploadRateLimitInBitsPerSec": {
          "$ref": "#/definitions/BandwidthUploadRateLimit",
          "description": "The average upload bandwidth rate limit in bits per second. This field does not appear in the response if the upload rate limit is not set."
        },
        "AverageDownloadRateLimitInBitsPerSec": {
          "$ref": "#/definitions/BandwidthDownloadRateLimit",
          "description": "The average download bandwidth rate limit in bits per second. This field does not appear in the response if the download rate limit is not set."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "DescribeCacheInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "DescribeCacheOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "DiskIds": {
          "$ref": "#/definitions/DiskIds"
        },
        "CacheAllocatedInBytes": {
          "$ref": "#/definitions/long"
        },
        "CacheUsedPercentage": {
          "$ref": "#/definitions/double"
        },
        "CacheDirtyPercentage": {
          "$ref": "#/definitions/double"
        },
        "CacheHitPercentage": {
          "$ref": "#/definitions/double"
        },
        "CacheMissPercentage": {
          "$ref": "#/definitions/double"
        }
      }
    },
    "DescribeCachediSCSIVolumesInput": {
      "type": "object",
      "required": [
        "VolumeARNs"
      ],
      "properties": {
        "VolumeARNs": {
          "$ref": "#/definitions/VolumeARNs"
        }
      }
    },
    "DescribeCachediSCSIVolumesOutput": {
      "type": "object",
      "properties": {
        "CachediSCSIVolumes": {
          "$ref": "#/definitions/CachediSCSIVolumes",
          "description": "An array of objects where each object contains metadata about one cached volume."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "DescribeChapCredentialsInput": {
      "type": "object",
      "required": [
        "TargetARN"
      ],
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return to retrieve the TargetARN for specified VolumeARN."
        }
      },
      "description": "A JSON object containing the Amazon Resource Name (ARN) of the iSCSI volume target."
    },
    "DescribeChapCredentialsOutput": {
      "type": "object",
      "properties": {
        "ChapCredentials": {
          "$ref": "#/definitions/ChapCredentials",
          "description": "<p>An array of <a>ChapInfo</a> objects that represent CHAP credentials. Each object in the array contains CHAP credential information for one target-initiator pair. If no CHAP credentials are set, an empty array is returned. CHAP credential information is provided in a JSON object with the following fields:</p> <ul> <li> <p> <b>InitiatorName</b>: The iSCSI initiator that connects to the target.</p> </li> <li> <p> <b>SecretToAuthenticateInitiator</b>: The secret key that the initiator (for example, the Windows client) must provide to participate in mutual CHAP with the target.</p> </li> <li> <p> <b>SecretToAuthenticateTarget</b>: The secret key that the target must provide to participate in mutual CHAP with the initiator (e.g. Windows client).</p> </li> <li> <p> <b>TargetARN</b>: The Amazon Resource Name (ARN) of the storage volume.</p> </li> </ul>"
        }
      },
      "description": "A JSON object containing a ."
    },
    "DescribeGatewayInformationInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the id of the gateway."
    },
    "DescribeGatewayInformationOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "GatewayId": {
          "$ref": "#/definitions/GatewayId",
          "description": "The unique identifier assigned to your gateway during activation. This ID becomes part of the gateway Amazon Resource Name (ARN), which you use as input for other operations."
        },
        "GatewayName": {
          "$ref": "#/definitions/string",
          "description": "The name you configured for your gateway."
        },
        "GatewayTimezone": {
          "$ref": "#/definitions/GatewayTimezone",
          "description": "A value that indicates the time zone configured for the gateway."
        },
        "GatewayState": {
          "$ref": "#/definitions/GatewayState",
          "description": "A value that indicates the operating state of the gateway."
        },
        "GatewayNetworkInterfaces": {
          "$ref": "#/definitions/GatewayNetworkInterfaces",
          "description": "A <a>NetworkInterface</a> array that contains descriptions of the gateway network interfaces."
        },
        "GatewayType": {
          "$ref": "#/definitions/GatewayType",
          "description": "The type of the gateway."
        },
        "NextUpdateAvailabilityDate": {
          "$ref": "#/definitions/NextUpdateAvailabilityDate",
          "description": "The date on which an update to the gateway is available. This date is in the time zone of the gateway. If the gateway is not available for an update this field is not returned in the response."
        },
        "LastSoftwareUpdate": {
          "$ref": "#/definitions/LastSoftwareUpdate",
          "description": "The date on which the last software update was applied to the gateway. If the gateway has never been updated, this field does not return a value in the response."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "DescribeMaintenanceStartTimeInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway."
    },
    "DescribeMaintenanceStartTimeOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "HourOfDay": {
          "$ref": "#/definitions/HourOfDay"
        },
        "MinuteOfHour": {
          "$ref": "#/definitions/MinuteOfHour"
        },
        "DayOfWeek": {
          "$ref": "#/definitions/DayOfWeek"
        },
        "Timezone": {
          "$ref": "#/definitions/GatewayTimezone"
        }
      }
    },
    "DescribeSnapshotScheduleInput": {
      "type": "object",
      "required": [
        "VolumeARN"
      ],
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to return a list of gateway volumes."
        }
      },
      "description": "A JSON object containing the <a>DescribeSnapshotScheduleInput$VolumeARN</a> of the volume."
    },
    "DescribeSnapshotScheduleOutput": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        },
        "StartAt": {
          "$ref": "#/definitions/HourOfDay"
        },
        "RecurrenceInHours": {
          "$ref": "#/definitions/RecurrenceInHours"
        },
        "Description": {
          "$ref": "#/definitions/Description"
        },
        "Timezone": {
          "$ref": "#/definitions/GatewayTimezone"
        }
      }
    },
    "DescribeStorediSCSIVolumesInput": {
      "type": "object",
      "required": [
        "VolumeARNs"
      ],
      "properties": {
        "VolumeARNs": {
          "$ref": "#/definitions/VolumeARNs",
          "description": "An array of strings where each string represents the Amazon Resource Name (ARN) of a stored volume. All of the specified stored volumes must from the same gateway. Use <a>ListVolumes</a> to get volume ARNs for a gateway."
        }
      },
      "description": "A JSON object containing a list of <a>DescribeStorediSCSIVolumesInput$VolumeARNs</a>."
    },
    "DescribeStorediSCSIVolumesOutput": {
      "type": "object",
      "properties": {
        "StorediSCSIVolumes": {
          "$ref": "#/definitions/StorediSCSIVolumes"
        }
      }
    },
    "DescribeTapeArchivesInput": {
      "type": "object",
      "properties": {
        "TapeARNs": {
          "$ref": "#/definitions/TapeARNs",
          "description": "Specifies one or more unique Amazon Resource Names (ARNs) that represent the virtual tapes you want to describe."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which to begin describing virtual tapes."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "Specifies that the number of virtual tapes descried be limited to the specified number."
        }
      },
      "description": "DescribeTapeArchivesInput"
    },
    "DescribeTapeArchivesOutput": {
      "type": "object",
      "properties": {
        "TapeArchives": {
          "$ref": "#/definitions/TapeArchives",
          "description": "An array of virtual tape objects in the virtual tape shelf (VTS). The description includes of the Amazon Resource Name(ARN) of the virtual tapes. The information returned includes the Amazon Resource Names (ARNs) of the tapes, size of the tapes, status of the tapes, progress of the description and tape barcode."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which the virtual tapes that were fetched for description ended. Use this marker in your next request to fetch the next set of virtual tapes in the virtual tape shelf (VTS). If there are no more virtual tapes to describe, this field does not appear in the response."
        }
      },
      "description": "DescribeTapeArchivesOutput"
    },
    "DescribeTapeRecoveryPointsInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which to begin describing the virtual tape recovery points."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "Specifies that the number of virtual tape recovery points that are described be limited to the specified number."
        }
      },
      "description": "DescribeTapeRecoveryPointsInput"
    },
    "DescribeTapeRecoveryPointsOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "TapeRecoveryPointInfos": {
          "$ref": "#/definitions/TapeRecoveryPointInfos",
          "description": "An array of TapeRecoveryPointInfos that are available for the specified gateway."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "<p>An opaque string that indicates the position at which the virtual tape recovery points that were listed for description ended.</p> <p>Use this marker in your next request to list the next set of virtual tape recovery points in the list. If there are no more recovery points to describe, this field does not appear in the response.</p>"
        }
      },
      "description": "DescribeTapeRecoveryPointsOutput"
    },
    "DescribeTapesInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "TapeARNs": {
          "$ref": "#/definitions/TapeARNs",
          "description": "Specifies one or more unique Amazon Resource Names (ARNs) that represent the virtual tapes you want to describe. If this parameter is not specified, AWS Storage Gateway returns a description of all virtual tapes associated with the specified gateway."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "<p>A marker value, obtained in a previous call to <code>DescribeTapes</code>. This marker indicates which page of results to retrieve. </p> <p>If not specified, the first page of results is retrieved.</p>"
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "<p>Specifies that the number of virtual tapes described be limited to the specified number.</p> <note><p>Amazon Web Services may impose its own limit, if this field is not set.</p> </note>"
        }
      },
      "description": "DescribeTapesInput"
    },
    "DescribeTapesOutput": {
      "type": "object",
      "properties": {
        "Tapes": {
          "$ref": "#/definitions/Tapes",
          "description": "An array of virtual tape descriptions."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "<p>An opaque string which can be used as part of a subsequent DescribeTapes call to retrieve the next page of results.</p> <p>If a response does not contain a marker, then there are no more results to be retrieved.</p>"
        }
      },
      "description": "DescribeTapesOutput"
    },
    "DescribeUploadBufferInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "DescribeUploadBufferOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "DiskIds": {
          "$ref": "#/definitions/DiskIds"
        },
        "UploadBufferUsedInBytes": {
          "$ref": "#/definitions/long"
        },
        "UploadBufferAllocatedInBytes": {
          "$ref": "#/definitions/long"
        }
      }
    },
    "DescribeVTLDevicesInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "VTLDeviceARNs": {
          "$ref": "#/definitions/VTLDeviceARNs",
          "description": "<p>An array of strings, where each string represents the Amazon Resource Name (ARN) of a VTL device.</p> <note><p>All of the specified VTL devices must be from the same gateway. If no VTL devices are specified, the result will contain all devices on the specified gateway.</p> </note>"
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which to begin describing the VTL devices."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "Specifies that the number of VTL devices described be limited to the specified number."
        }
      },
      "description": "DescribeVTLDevicesInput"
    },
    "DescribeVTLDevicesOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "VTLDevices": {
          "$ref": "#/definitions/VTLDevices",
          "description": "An array of VTL device objects composed of the Amazon Resource Name(ARN) of the VTL devices."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which the VTL devices that were fetched for description ended. Use the marker in your next request to fetch the next set of VTL devices in the list. If there are no more VTL devices to describe, this field does not appear in the response."
        }
      },
      "description": "DescribeVTLDevicesOutput"
    },
    "DescribeWorkingStorageInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway."
    },
    "DescribeWorkingStorageOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "DiskIds": {
          "$ref": "#/definitions/DiskIds",
          "description": "An array of the gateway's local disk IDs that are configured as working storage. Each local disk ID is specified as a string (minimum length of 1 and maximum length of 300). If no local disks are configured as working storage, then the DiskIds array is empty."
        },
        "WorkingStorageUsedInBytes": {
          "$ref": "#/definitions/long",
          "description": "The total working storage in bytes in use by the gateway. If no working storage is configured for the gateway, this field returns 0."
        },
        "WorkingStorageAllocatedInBytes": {
          "$ref": "#/definitions/long",
          "description": "The total working storage in bytes allocated for the gateway. If no working storage is configured for the gateway, this field returns 0."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "Description": {
      "type": "string",
      "minLength": 1,
      "maxLength": 255
    },
    "DeviceType": {
      "type": "string",
      "minLength": 2,
      "maxLength": 50
    },
    "DeviceiSCSIAttributes": {
      "type": "object",
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "Specifies the unique Amazon Resource Name(ARN) that encodes the iSCSI qualified name(iqn) of a tape drive or media changer target."
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/NetworkInterfaceId",
          "description": "The network interface identifier of the VTL device."
        },
        "NetworkInterfacePort": {
          "$ref": "#/definitions/integer",
          "description": "The port used to communicate with iSCSI VTL device targets."
        },
        "ChapEnabled": {
          "$ref": "#/definitions/boolean",
          "description": "Indicates whether mutual CHAP is enabled for the iSCSI target."
        }
      },
      "description": "Lists iSCSI information about a VTL device."
    },
    "DisableGatewayInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "DisableGatewayInput"
    },
    "DisableGatewayOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN",
          "description": "The unique Amazon Resource Name of the disabled gateway."
        }
      },
      "description": "DisableGatewayOutput"
    },
    "Disk": {
      "type": "object",
      "properties": {
        "DiskId": {
          "$ref": "#/definitions/DiskId"
        },
        "DiskPath": {
          "$ref": "#/definitions/string"
        },
        "DiskNode": {
          "$ref": "#/definitions/string"
        },
        "DiskStatus": {
          "$ref": "#/definitions/string"
        },
        "DiskSizeInBytes": {
          "$ref": "#/definitions/long"
        },
        "DiskAllocationType": {
          "$ref": "#/definitions/DiskAllocationType"
        },
        "DiskAllocationResource": {
          "$ref": "#/definitions/string"
        }
      }
    },
    "DiskAllocationType": {
      "type": "string",
      "minLength": 3,
      "maxLength": 100
    },
    "DiskId": {
      "type": "string",
      "minLength": 1,
      "maxLength": 300
    },
    "DiskIds": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DiskId"
      }
    },
    "Disks": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Disk"
      }
    },
    "DoubleObject": {
      "type": "number",
      "format": "double"
    },
    "ErrorCode": {
      "type": "string",
      "enum": [
        "ActivationKeyExpired",
        "ActivationKeyInvalid",
        "ActivationKeyNotFound",
        "GatewayInternalError",
        "GatewayNotConnected",
        "GatewayNotFound",
        "GatewayProxyNetworkConnectionBusy",
        "AuthenticationFailure",
        "BandwidthThrottleScheduleNotFound",
        "Blocked",
        "CannotExportSnapshot",
        "ChapCredentialNotFound",
        "DiskAlreadyAllocated",
        "DiskDoesNotExist",
        "DiskSizeGreaterThanVolumeMaxSize",
        "DiskSizeLessThanVolumeSize",
        "DiskSizeNotGigAligned",
        "DuplicateCertificateInfo",
        "DuplicateSchedule",
        "EndpointNotFound",
        "IAMNotSupported",
        "InitiatorInvalid",
        "InitiatorNotFound",
        "InternalError",
        "InvalidGateway",
        "InvalidEndpoint",
        "InvalidParameters",
        "InvalidSchedule",
        "LocalStorageLimitExceeded",
        "LunAlreadyAllocated ",
        "LunInvalid",
        "MaximumContentLengthExceeded",
        "MaximumTapeCartridgeCountExceeded",
        "MaximumVolumeCountExceeded",
        "NetworkConfigurationChanged",
        "NoDisksAvailable",
        "NotImplemented",
        "NotSupported",
        "OperationAborted",
        "OutdatedGateway",
        "ParametersNotImplemented",
        "RegionInvalid",
        "RequestTimeout",
        "ServiceUnavailable",
        "SnapshotDeleted",
        "SnapshotIdInvalid",
        "SnapshotInProgress",
        "SnapshotNotFound",
        "SnapshotScheduleNotFound",
        "StagingAreaFull",
        "StorageFailure",
        "TapeCartridgeNotFound",
        "TargetAlreadyExists",
        "TargetInvalid",
        "TargetNotFound",
        "UnauthorizedOperation",
        "VolumeAlreadyExists",
        "VolumeIdInvalid",
        "VolumeInUse",
        "VolumeNotFound",
        "VolumeNotReady"
      ]
    },
    "GatewayARN": {
      "type": "string",
      "description": "The Amazon Resource Name (ARN) of the gateway. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region.",
      "minLength": 50,
      "maxLength": 500
    },
    "GatewayId": {
      "type": "string",
      "minLength": 12,
      "maxLength": 30
    },
    "GatewayInfo": {
      "type": "object",
      "properties": {
        "GatewayId": {
          "$ref": "#/definitions/GatewayId",
          "description": "The unique identifier assigned to your gateway during activation. This ID becomes part of the gateway Amazon Resource Name (ARN), which you use as input for other operations."
        },
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN",
          "description": "The Amazon Resource Name (ARN) of the gateway. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region."
        },
        "GatewayType": {
          "$ref": "#/definitions/GatewayType",
          "description": "The type of the gateway."
        },
        "GatewayOperationalState": {
          "$ref": "#/definitions/GatewayOperationalState",
          "description": "<p>The state of the gateway.</p> <p>Valid Values: DISABLED or ACTIVE</p>"
        },
        "GatewayName": {
          "$ref": "#/definitions/string",
          "description": "The name of the gateway."
        }
      },
      "description": "Describes a gateway object."
    },
    "GatewayName": {
      "type": "string",
      "pattern": "^[ -\\.0-\\[\\]-~]*[!-\\.0-\\[\\]-~][ -\\.0-\\[\\]-~]*$",
      "description": "The name you configured for your gateway.",
      "minLength": 2,
      "maxLength": 255
    },
    "GatewayNetworkInterfaces": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/NetworkInterface"
      }
    },
    "GatewayOperationalState": {
      "type": "string",
      "minLength": 2,
      "maxLength": 25
    },
    "GatewayState": {
      "type": "string",
      "minLength": 2,
      "maxLength": 25
    },
    "GatewayTimezone": {
      "type": "string",
      "minLength": 3,
      "maxLength": 10
    },
    "GatewayType": {
      "type": "string",
      "minLength": 2,
      "maxLength": 20
    },
    "Gateways": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GatewayInfo"
      }
    },
    "HourOfDay": {
      "type": "integer",
      "minimum": 0,
      "maximum": 23
    },
    "Initiator": {
      "type": "string",
      "minLength": 1,
      "maxLength": 50
    },
    "Initiators": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Initiator"
      }
    },
    "InternalServerError": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string",
          "description": "A human-readable message describing the error that occurred."
        },
        "error": {
          "$ref": "#/definitions/StorageGatewayError",
          "description": "A <a>StorageGatewayError</a> that provides more information about the cause of the error."
        }
      },
      "description": "An internal server error has occurred during the request. For more information, see the error and message fields."
    },
    "InvalidGatewayRequestException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string",
          "description": "A human-readable message describing the error that occurred."
        },
        "error": {
          "$ref": "#/definitions/StorageGatewayError",
          "description": "A <a>StorageGatewayError</a> that provides more detail about the cause of the error."
        }
      },
      "description": "An exception occurred because an invalid gateway request was issued to the service. For more information, see the error and message fields."
    },
    "IqnName": {
      "type": "string",
      "pattern": "[0-9a-z:.-]+",
      "minLength": 1,
      "maxLength": 255
    },
    "LastSoftwareUpdate": {
      "type": "string",
      "minLength": 1,
      "maxLength": 25
    },
    "ListGatewaysInput": {
      "type": "object",
      "properties": {
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which to begin the returned list of gateways."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "Specifies that the list of gateways returned be limited to the specified number of items."
        }
      },
      "description": "<p>A JSON object containing zero or more of the following fields:</p> <ul> <li> <p> <a>ListGatewaysInput$Limit</a> </p> </li> <li> <p> <a>ListGatewaysInput$Marker</a> </p> </li> </ul>"
    },
    "ListGatewaysOutput": {
      "type": "object",
      "properties": {
        "Gateways": {
          "$ref": "#/definitions/Gateways"
        },
        "Marker": {
          "$ref": "#/definitions/Marker"
        }
      }
    },
    "ListLocalDisksInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway."
    },
    "ListLocalDisksOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "Disks": {
          "$ref": "#/definitions/Disks"
        }
      }
    },
    "ListTagsForResourceInput": {
      "type": "object",
      "required": [
        "ResourceARN"
      ],
      "properties": {
        "ResourceARN": {
          "$ref": "#/definitions/ResourceARN",
          "description": "The Amazon Resource Name (ARN) of the resource for which you want to list tags."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which to begin returning the list of tags."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "Specifies that the list of tags returned be limited to the specified number of items."
        }
      },
      "description": "ListTagsForResourceInput"
    },
    "ListTagsForResourceOutput": {
      "type": "object",
      "properties": {
        "ResourceARN": {
          "$ref": "#/definitions/ResourceARN",
          "description": "he Amazon Resource Name (ARN) of the resource for which you want to list tags."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "An opaque string that indicates the position at which to stop returning the list of tags."
        },
        "Tags": {
          "$ref": "#/definitions/Tags",
          "description": "An array that contains the tags for the specified resource."
        }
      },
      "description": "ListTagsForResourceOutput"
    },
    "ListTapesInput": {
      "type": "object",
      "properties": {
        "TapeARNs": {
          "$ref": "#/definitions/TapeARNs"
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "A string that indicates the position at which to begin the returned list of tapes."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "An optional number limit for the tapes in the list returned by this call."
        }
      },
      "description": "<p>A JSON object that contains one or more of the following fields:</p> <ul> <li> <p> <a>ListTapesInput$Limit</a> </p> </li> <li> <p> <a>ListTapesInput$Marker</a> </p> </li> <li> <p> <a>ListTapesInput$TapeARNs</a> </p> </li> </ul>"
    },
    "ListTapesOutput": {
      "type": "object",
      "properties": {
        "TapeInfos": {
          "$ref": "#/definitions/TapeInfos"
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "A string that indicates the position at which to begin returning the next list of tapes. Use the marker in your next request to continue pagination of tapes. If there are no more tapes to list, this element does not appear in the response body."
        }
      },
      "description": "<p>A JSON object containing the following fields:</p> <ul> <li> <p> <a>ListTapesOutput$Marker</a> </p> </li> <li> <p> <a>ListTapesOutput$VolumeInfos</a> </p> </li> </ul>"
    },
    "ListVolumeInitiatorsInput": {
      "type": "object",
      "required": [
        "VolumeARN"
      ],
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to return a list of gateway volumes for the gateway."
        }
      },
      "description": "ListVolumeInitiatorsInput"
    },
    "ListVolumeInitiatorsOutput": {
      "type": "object",
      "properties": {
        "Initiators": {
          "$ref": "#/definitions/Initiators",
          "description": "The host names and port numbers of all iSCSI initiators that are connected to the gateway."
        }
      },
      "description": "ListVolumeInitiatorsOutput"
    },
    "ListVolumeRecoveryPointsInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "ListVolumeRecoveryPointsOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "VolumeRecoveryPointInfos": {
          "$ref": "#/definitions/VolumeRecoveryPointInfos"
        }
      }
    },
    "ListVolumesInput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "A string that indicates the position at which to begin the returned list of volumes. Obtain the marker from the response of a previous List iSCSI Volumes request."
        },
        "Limit": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "Specifies that the list of volumes returned be limited to the specified number of items."
        }
      },
      "description": "<p>A JSON object that contains one or more of the following fields:</p> <ul> <li> <p> <a>ListVolumesInput$Limit</a> </p> </li> <li> <p> <a>ListVolumesInput$Marker</a> </p> </li> </ul>"
    },
    "ListVolumesOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "Marker": {
          "$ref": "#/definitions/Marker"
        },
        "VolumeInfos": {
          "$ref": "#/definitions/VolumeInfos"
        }
      }
    },
    "LocalConsolePassword": {
      "type": "string",
      "pattern": "^[ -~]+$",
      "minLength": 6,
      "maxLength": 512,
      "format": "password"
    },
    "Marker": {
      "type": "string",
      "minLength": 1,
      "maxLength": 1000
    },
    "MediumChangerType": {
      "type": "string",
      "minLength": 2,
      "maxLength": 50
    },
    "MinuteOfHour": {
      "type": "integer",
      "minimum": 0,
      "maximum": 59
    },
    "NetworkInterface": {
      "type": "object",
      "properties": {
        "Ipv4Address": {
          "$ref": "#/definitions/string",
          "description": "The Internet Protocol version 4 (IPv4) address of the interface."
        },
        "MacAddress": {
          "$ref": "#/definitions/string",
          "description": "<p>The Media Access Control (MAC) address of the interface.</p> <note><p>This is currently unsupported and will not be returned in output.</p> </note>"
        },
        "Ipv6Address": {
          "$ref": "#/definitions/string",
          "description": "The Internet Protocol version 6 (IPv6) address of the interface. <i>Currently not supported</i>."
        }
      },
      "description": "Describes a gateway's network interface."
    },
    "NetworkInterfaceId": {
      "type": "string",
      "pattern": "\\A(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)(\\.(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)){3}\\z"
    },
    "NextUpdateAvailabilityDate": {
      "type": "string",
      "minLength": 1,
      "maxLength": 25
    },
    "NumTapesToCreate": {
      "type": "integer",
      "minimum": 1,
      "maximum": 10
    },
    "PositiveIntObject": {
      "type": "integer",
      "minimum": 1
    },
    "RecurrenceInHours": {
      "type": "integer",
      "minimum": 1,
      "maximum": 24
    },
    "RegionId": {
      "type": "string",
      "minLength": 1,
      "maxLength": 25
    },
    "RemoveTagsFromResourceInput": {
      "type": "object",
      "required": [
        "ResourceARN",
        "TagKeys"
      ],
      "properties": {
        "ResourceARN": {
          "$ref": "#/definitions/ResourceARN",
          "description": "The Amazon Resource Name (ARN) of the resource you want to remove the tags from."
        },
        "TagKeys": {
          "$ref": "#/definitions/TagKeys",
          "description": "The keys of the tags you want to remove from the specified resource. A tag is composed of a key/value pair."
        }
      },
      "description": "RemoveTagsFromResourceInput"
    },
    "RemoveTagsFromResourceOutput": {
      "type": "object",
      "properties": {
        "ResourceARN": {
          "$ref": "#/definitions/ResourceARN",
          "description": "The Amazon Resource Name (ARN) of the resource that the tags were removed from."
        }
      },
      "description": "RemoveTagsFromResourceOutput"
    },
    "ResetCacheInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "ResetCacheOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "ResourceARN": {
      "type": "string",
      "minLength": 50,
      "maxLength": 500
    },
    "RetrieveTapeArchiveInput": {
      "type": "object",
      "required": [
        "TapeARN",
        "GatewayARN"
      ],
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape you want to retrieve from the virtual tape shelf (VTS)."
        },
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN",
          "description": "<p>The Amazon Resource Name (ARN) of the gateway you want to retrieve the virtual tape to. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region.</p> <p>You retrieve archived virtual tapes to only one gateway and the gateway must be a gateway-VTL.</p>"
        }
      },
      "description": "RetrieveTapeArchiveInput"
    },
    "RetrieveTapeArchiveOutput": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the retrieved virtual tape."
        }
      },
      "description": "RetrieveTapeArchiveOutput"
    },
    "RetrieveTapeRecoveryPointInput": {
      "type": "object",
      "required": [
        "TapeARN",
        "GatewayARN"
      ],
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape for which you want to retrieve the recovery point."
        },
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "RetrieveTapeRecoveryPointInput"
    },
    "RetrieveTapeRecoveryPointOutput": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape for which the recovery point was retrieved."
        }
      },
      "description": "RetrieveTapeRecoveryPointOutput"
    },
    "SetLocalConsolePasswordInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "LocalConsolePassword"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "LocalConsolePassword": {
          "$ref": "#/definitions/LocalConsolePassword",
          "description": "The password you want to set for your VM local console."
        }
      },
      "description": "SetLocalConsolePasswordInput"
    },
    "SetLocalConsolePasswordOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      }
    },
    "ShutdownGatewayInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway to shut down."
    },
    "ShutdownGatewayOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway that was shut down."
    },
    "SnapshotDescription": {
      "type": "string",
      "minLength": 1,
      "maxLength": 255
    },
    "SnapshotId": {
      "type": "string",
      "pattern": "\\Asnap-([0-9A-Fa-f]{8}|[0-9A-Fa-f]{17})\\z"
    },
    "StartGatewayInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway to start."
    },
    "StartGatewayOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway that was restarted."
    },
    "StorageGatewayError": {
      "type": "object",
      "properties": {
        "errorCode": {
          "$ref": "#/definitions/ErrorCode",
          "description": "Additional information about the error."
        },
        "errorDetails": {
          "$ref": "#/definitions/errorDetails",
          "description": "Human-readable text that provides detail about the error that occurred."
        }
      },
      "description": "Provides additional information about an error that was returned by the service as an or. See the <code>errorCode</code> and <code>errorDetails</code> members for more information about the error."
    },
    "StorediSCSIVolume": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        },
        "VolumeId": {
          "$ref": "#/definitions/VolumeId"
        },
        "VolumeType": {
          "$ref": "#/definitions/VolumeType"
        },
        "VolumeStatus": {
          "$ref": "#/definitions/VolumeStatus"
        },
        "VolumeSizeInBytes": {
          "$ref": "#/definitions/long"
        },
        "VolumeProgress": {
          "$ref": "#/definitions/DoubleObject"
        },
        "VolumeDiskId": {
          "$ref": "#/definitions/DiskId"
        },
        "SourceSnapshotId": {
          "$ref": "#/definitions/SnapshotId"
        },
        "PreservedExistingData": {
          "$ref": "#/definitions/boolean"
        },
        "VolumeiSCSIAttributes": {
          "$ref": "#/definitions/VolumeiSCSIAttributes"
        }
      }
    },
    "StorediSCSIVolumes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StorediSCSIVolume"
      }
    },
    "Tag": {
      "type": "object",
      "required": [
        "Key",
        "Value"
      ],
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey"
        },
        "Value": {
          "$ref": "#/definitions/TagValue"
        }
      }
    },
    "TagKey": {
      "type": "string",
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "minLength": 1,
      "maxLength": 128
    },
    "TagKeys": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagKey"
      }
    },
    "TagValue": {
      "type": "string",
      "maxLength": 256
    },
    "Tags": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Tag"
      }
    },
    "Tape": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape."
        },
        "TapeBarcode": {
          "$ref": "#/definitions/TapeBarcode",
          "description": "The barcode that identifies a specific virtual tape."
        },
        "TapeSizeInBytes": {
          "$ref": "#/definitions/TapeSize",
          "description": "The size, in bytes, of the virtual tape."
        },
        "TapeStatus": {
          "$ref": "#/definitions/TapeStatus",
          "description": "The current state of the virtual tape."
        },
        "VTLDevice": {
          "$ref": "#/definitions/VTLDeviceARN",
          "description": "The virtual tape library (VTL) device that the virtual tape is associated with."
        },
        "Progress": {
          "$ref": "#/definitions/DoubleObject",
          "description": "<p>For archiving virtual tapes, indicates how much data remains to be uploaded before archiving is complete.</p> <p>Range: 0 (not started) to 100 (complete).</p>"
        }
      },
      "description": "Describes a virtual tape object."
    },
    "TapeARN": {
      "type": "string",
      "minLength": 50,
      "maxLength": 500
    },
    "TapeARNs": {
      "type": "array",
      "description": "The Amazon Resource Name (ARN) of each of the tapes you want to list. If you don't specify a tape ARN, the response lists all tapes in both your VTL and VTS.",
      "items": {
        "$ref": "#/definitions/TapeARN"
      }
    },
    "TapeArchive": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of an archived virtual tape."
        },
        "TapeBarcode": {
          "$ref": "#/definitions/TapeBarcode",
          "description": "The barcode that identifies the archived virtual tape."
        },
        "TapeSizeInBytes": {
          "$ref": "#/definitions/TapeSize",
          "description": "The size, in bytes, of the archived virtual tape."
        },
        "CompletionTime": {
          "$ref": "#/definitions/Time",
          "description": "<p>The time that the archiving of the virtual tape was completed.</p> <p>The string format of the completion time is in the ISO8601 extended YYYY-MM-DD'T'HH:MM:SS'Z' format.</p>"
        },
        "RetrievedTo": {
          "$ref": "#/definitions/GatewayARN",
          "description": "<p>The Amazon Resource Name (ARN) of the gateway-VTL that the virtual tape is being retrieved to.</p> <p>The virtual tape is retrieved from the virtual tape shelf (VTS).</p>"
        },
        "TapeStatus": {
          "$ref": "#/definitions/TapeArchiveStatus",
          "description": "The current state of the archived virtual tape."
        }
      },
      "description": "Represents a virtual tape that is archived in the virtual tape shelf (VTS)."
    },
    "TapeArchiveStatus": {
      "type": "string"
    },
    "TapeArchives": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TapeArchive"
      }
    },
    "TapeBarcode": {
      "type": "string",
      "pattern": "^[A-Z0-9]*$",
      "minLength": 7,
      "maxLength": 16
    },
    "TapeBarcodePrefix": {
      "type": "string",
      "pattern": "^[A-Z]*$",
      "minLength": 1,
      "maxLength": 4
    },
    "TapeDriveType": {
      "type": "string",
      "minLength": 2,
      "maxLength": 50
    },
    "TapeInfo": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of a virtual tape."
        },
        "TapeBarcode": {
          "$ref": "#/definitions/TapeBarcode",
          "description": "The barcode that identifies a specific virtual tape."
        },
        "TapeSizeInBytes": {
          "$ref": "#/definitions/TapeSize",
          "description": "The size, in bytes, of a virtual tape."
        },
        "TapeStatus": {
          "$ref": "#/definitions/TapeStatus",
          "description": "The status of the tape."
        },
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN",
          "description": "The Amazon Resource Name (ARN) of the gateway. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region."
        }
      },
      "description": "Describes a virtual tape."
    },
    "TapeInfos": {
      "type": "array",
      "description": "An array of <a>TapeInfo</a> objects, where each object describes an a single tape. If there not tapes in the tape library or VTS, then the <code>TapeInfos</code> is an empty array.",
      "items": {
        "$ref": "#/definitions/TapeInfo"
      }
    },
    "TapeRecoveryPointInfo": {
      "type": "object",
      "properties": {
        "TapeARN": {
          "$ref": "#/definitions/TapeARN",
          "description": "The Amazon Resource Name (ARN) of the virtual tape."
        },
        "TapeRecoveryPointTime": {
          "$ref": "#/definitions/Time",
          "description": "<p>The time when the point-in-time view of the virtual tape was replicated for later recovery.</p> <p>The string format of the tape recovery point time is in the ISO8601 extended YYYY-MM-DD'T'HH:MM:SS'Z' format.</p>"
        },
        "TapeSizeInBytes": {
          "$ref": "#/definitions/TapeSize",
          "description": "The size, in bytes, of the virtual tapes to recover."
        },
        "TapeStatus": {
          "$ref": "#/definitions/TapeRecoveryPointStatus"
        }
      },
      "description": "Describes a recovery point."
    },
    "TapeRecoveryPointInfos": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TapeRecoveryPointInfo"
      }
    },
    "TapeRecoveryPointStatus": {
      "type": "string"
    },
    "TapeSize": {
      "type": "integer"
    },
    "TapeStatus": {
      "type": "string"
    },
    "Tapes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Tape"
      }
    },
    "TargetARN": {
      "type": "string",
      "minLength": 50,
      "maxLength": 800
    },
    "TargetName": {
      "type": "string",
      "pattern": "^[-\\.;a-z0-9]+$",
      "minLength": 1,
      "maxLength": 200
    },
    "Time": {
      "type": "string",
      "format": "date-time"
    },
    "UpdateBandwidthRateLimitInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "AverageUploadRateLimitInBitsPerSec": {
          "$ref": "#/definitions/BandwidthUploadRateLimit",
          "description": "The average upload bandwidth rate limit in bits per second."
        },
        "AverageDownloadRateLimitInBitsPerSec": {
          "$ref": "#/definitions/BandwidthDownloadRateLimit",
          "description": "The average download bandwidth rate limit in bits per second."
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>UpdateBandwidthRateLimitInput$AverageDownloadRateLimitInBitsPerSec</a> </p> </li> <li> <p> <a>UpdateBandwidthRateLimitInput$AverageUploadRateLimitInBitsPerSec</a> </p> </li> </ul>"
    },
    "UpdateBandwidthRateLimitOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway whose throttle information was updated."
    },
    "UpdateChapCredentialsInput": {
      "type": "object",
      "required": [
        "TargetARN",
        "SecretToAuthenticateInitiator",
        "InitiatorName"
      ],
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return the TargetARN for specified VolumeARN."
        },
        "SecretToAuthenticateInitiator": {
          "$ref": "#/definitions/ChapSecret",
          "description": "<p>The secret key that the initiator (for example, the Windows client) must provide to participate in mutual CHAP with the target.</p> <note><p>The secret key must be between 12 and 16 bytes when encoded in UTF-8.</p> </note>"
        },
        "InitiatorName": {
          "$ref": "#/definitions/IqnName",
          "description": "The iSCSI initiator that connects to the target."
        },
        "SecretToAuthenticateTarget": {
          "$ref": "#/definitions/ChapSecret",
          "description": "<p>The secret key that the target must provide to participate in mutual CHAP with the initiator (e.g. Windows client).</p> <p>Byte constraints: Minimum bytes of 12. Maximum bytes of 16.</p> <note><p>The secret key must be between 12 and 16 bytes when encoded in UTF-8.</p> </note>"
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>UpdateChapCredentialsInput$InitiatorName</a> </p> </li> <li> <p> <a>UpdateChapCredentialsInput$SecretToAuthenticateInitiator</a> </p> </li> <li> <p> <a>UpdateChapCredentialsInput$SecretToAuthenticateTarget</a> </p> </li> <li> <p> <a>UpdateChapCredentialsInput$TargetARN</a> </p> </li> </ul>"
    },
    "UpdateChapCredentialsOutput": {
      "type": "object",
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "The Amazon Resource Name (ARN) of the target. This is the same target specified in the request."
        },
        "InitiatorName": {
          "$ref": "#/definitions/IqnName",
          "description": "The iSCSI initiator that connects to the target. This is the same initiator name specified in the request."
        }
      },
      "description": "A JSON object containing the following fields:"
    },
    "UpdateGatewayInformationInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "GatewayName": {
          "$ref": "#/definitions/GatewayName"
        },
        "GatewayTimezone": {
          "$ref": "#/definitions/GatewayTimezone"
        }
      }
    },
    "UpdateGatewayInformationOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "GatewayName": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "A JSON object containing the ARN of the gateway that was updated."
    },
    "UpdateGatewaySoftwareNowInput": {
      "type": "object",
      "required": [
        "GatewayARN"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway to update."
    },
    "UpdateGatewaySoftwareNowOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway that was updated."
    },
    "UpdateMaintenanceStartTimeInput": {
      "type": "object",
      "required": [
        "GatewayARN",
        "HourOfDay",
        "MinuteOfHour",
        "DayOfWeek"
      ],
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "HourOfDay": {
          "$ref": "#/definitions/HourOfDay",
          "description": "The hour component of the maintenance start time represented as <i>hh</i>, where <i>hh</i> is the hour (00 to 23). The hour of the day is in the time zone of the gateway."
        },
        "MinuteOfHour": {
          "$ref": "#/definitions/MinuteOfHour",
          "description": "The minute component of the maintenance start time represented as <i>mm</i>, where <i>mm</i> is the minute (00 to 59). The minute of the hour is in the time zone of the gateway."
        },
        "DayOfWeek": {
          "$ref": "#/definitions/DayOfWeek",
          "description": "The maintenance start time day of the week."
        }
      },
      "description": "<p>A JSON object containing the following fields:</p> <ul> <li> <p> <a>UpdateMaintenanceStartTimeInput$DayOfWeek</a> </p> </li> <li> <p> <a>UpdateMaintenanceStartTimeInput$HourOfDay</a> </p> </li> <li> <p> <a>UpdateMaintenanceStartTimeInput$MinuteOfHour</a> </p> </li> </ul>"
    },
    "UpdateMaintenanceStartTimeOutput": {
      "type": "object",
      "properties": {
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        }
      },
      "description": "A JSON object containing the of the gateway whose maintenance start time is updated."
    },
    "UpdateSnapshotScheduleInput": {
      "type": "object",
      "required": [
        "VolumeARN",
        "StartAt",
        "RecurrenceInHours"
      ],
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "The Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to return a list of gateway volumes."
        },
        "StartAt": {
          "$ref": "#/definitions/HourOfDay",
          "description": "The hour of the day at which the snapshot schedule begins represented as <i>hh</i>, where <i>hh</i> is the hour (0 to 23). The hour of the day is in the time zone of the gateway."
        },
        "RecurrenceInHours": {
          "$ref": "#/definitions/RecurrenceInHours",
          "description": "Frequency of snapshots. Specify the number of hours between snapshots."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "Optional description of the snapshot that overwrites the existing description."
        }
      },
      "description": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>UpdateSnapshotScheduleInput$Description</a> </p> </li> <li> <p> <a>UpdateSnapshotScheduleInput$RecurrenceInHours</a> </p> </li> <li> <p> <a>UpdateSnapshotScheduleInput$StartAt</a> </p> </li> <li> <p> <a>UpdateSnapshotScheduleInput$VolumeARN</a> </p> </li> </ul>"
    },
    "UpdateSnapshotScheduleOutput": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "<p/>"
        }
      },
      "description": "A JSON object containing the of the updated storage volume."
    },
    "UpdateVTLDeviceTypeInput": {
      "type": "object",
      "required": [
        "VTLDeviceARN",
        "DeviceType"
      ],
      "properties": {
        "VTLDeviceARN": {
          "$ref": "#/definitions/VTLDeviceARN",
          "description": "The Amazon Resource Name (ARN) of the medium changer you want to select."
        },
        "DeviceType": {
          "$ref": "#/definitions/DeviceType",
          "description": "<p>The type of medium changer you want to select.</p> <p> Valid Values: \"STK-L700\", \"AWS-Gateway-VTL\"</p>"
        }
      }
    },
    "UpdateVTLDeviceTypeOutput": {
      "type": "object",
      "properties": {
        "VTLDeviceARN": {
          "$ref": "#/definitions/VTLDeviceARN",
          "description": "The Amazon Resource Name (ARN) of the medium changer you have selected."
        }
      },
      "description": "UpdateVTLDeviceTypeOutput"
    },
    "VTLDevice": {
      "type": "object",
      "properties": {
        "VTLDeviceARN": {
          "$ref": "#/definitions/VTLDeviceARN",
          "description": "Specifies the unique Amazon Resource Name (ARN) of the device (tape drive or media changer)."
        },
        "VTLDeviceType": {
          "$ref": "#/definitions/VTLDeviceType"
        },
        "VTLDeviceVendor": {
          "$ref": "#/definitions/VTLDeviceVendor"
        },
        "VTLDeviceProductIdentifier": {
          "$ref": "#/definitions/VTLDeviceProductIdentifier"
        },
        "DeviceiSCSIAttributes": {
          "$ref": "#/definitions/DeviceiSCSIAttributes",
          "description": "A list of iSCSI information about a VTL device."
        }
      },
      "description": "Represents a device object associated with a gateway-VTL."
    },
    "VTLDeviceARN": {
      "type": "string",
      "minLength": 50,
      "maxLength": 500
    },
    "VTLDeviceARNs": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/VTLDeviceARN"
      }
    },
    "VTLDeviceProductIdentifier": {
      "type": "string"
    },
    "VTLDeviceType": {
      "type": "string"
    },
    "VTLDeviceVendor": {
      "type": "string"
    },
    "VTLDevices": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/VTLDevice"
      }
    },
    "VolumeARN": {
      "type": "string",
      "minLength": 50,
      "maxLength": 500
    },
    "VolumeARNs": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/VolumeARN"
      }
    },
    "VolumeId": {
      "type": "string",
      "minLength": 12,
      "maxLength": 30
    },
    "VolumeInfo": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN",
          "description": "<p>The Amazon Resource Name (ARN) for the storage volume. For example, the following is a valid ARN:</p> <p> <code>arn:aws:storagegateway:us-east-1:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABB</code> </p> <p> Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
        },
        "VolumeId": {
          "$ref": "#/definitions/VolumeId",
          "description": "<p>The unique identifier assigned to the volume. This ID becomes part of the volume Amazon Resource Name (ARN), which you use as input for other operations.</p> <p> Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
        },
        "GatewayARN": {
          "$ref": "#/definitions/GatewayARN"
        },
        "GatewayId": {
          "$ref": "#/definitions/GatewayId",
          "description": "<p>The unique identifier assigned to your gateway during activation. This ID becomes part of the gateway Amazon Resource Name (ARN), which you use as input for other operations.</p> <p> Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
        },
        "VolumeType": {
          "$ref": "#/definitions/VolumeType"
        },
        "VolumeSizeInBytes": {
          "$ref": "#/definitions/long",
          "description": "<p>The size, in bytes, of the volume.</p> <p>Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
        }
      },
      "description": "Describes a storage volume object."
    },
    "VolumeInfos": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/VolumeInfo"
      }
    },
    "VolumeRecoveryPointInfo": {
      "type": "object",
      "properties": {
        "VolumeARN": {
          "$ref": "#/definitions/VolumeARN"
        },
        "VolumeSizeInBytes": {
          "$ref": "#/definitions/long"
        },
        "VolumeUsageInBytes": {
          "$ref": "#/definitions/long"
        },
        "VolumeRecoveryPointTime": {
          "$ref": "#/definitions/string"
        }
      }
    },
    "VolumeRecoveryPointInfos": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/VolumeRecoveryPointInfo"
      }
    },
    "VolumeStatus": {
      "type": "string",
      "minLength": 3,
      "maxLength": 50
    },
    "VolumeType": {
      "type": "string",
      "minLength": 3,
      "maxLength": 100
    },
    "VolumeiSCSIAttributes": {
      "type": "object",
      "properties": {
        "TargetARN": {
          "$ref": "#/definitions/TargetARN",
          "description": "The Amazon Resource Name (ARN) of the volume target."
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/NetworkInterfaceId",
          "description": "The network interface identifier."
        },
        "NetworkInterfacePort": {
          "$ref": "#/definitions/integer",
          "description": "The port used to communicate with iSCSI targets."
        },
        "LunNumber": {
          "$ref": "#/definitions/PositiveIntObject",
          "description": "The logical disk number."
        },
        "ChapEnabled": {
          "$ref": "#/definitions/boolean",
          "description": "Indicates whether mutual CHAP is enabled for the iSCSI target."
        }
      },
      "description": "Lists iSCSI information about a volume."
    },
    "boolean": {
      "type": "boolean"
    },
    "double": {
      "type": "number",
      "format": "double"
    },
    "errorDetails": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/string"
          },
          "value": {
            "$ref": "#/definitions/string"
          }
        }
      }
    },
    "integer": {
      "type": "integer"
    },
    "long": {
      "type": "integer"
    },
    "string": {
      "type": "string"
    }
  }
}