{
  "swagger": "2.0",
  "info": {
    "title": "British Airways Flight Offer Basic ",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Returns the lowest price on the specified route across either a month or 12 month period.",
    "x-mashery-id": "2949"
  },
  "schemes": [
    "http"
  ],
  "host": "api.ba.com",
  "basePath": "/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.ba.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Flight Offer Basic"
    }
  ],
  "paths": {
    "/flightOfferBasic;departureCity={departureCity;arrivalCity=}{arrivalCity;cabin=}{cabin;journeyType=}{journeyType;range=}{range}{format}": {
      "get": {
        "operationId": "RetrievelowestpriceFlightOfferBasic",
        "summary": "Submit a query and the list of fields required",
        "tags": [
          "Flight Offer Basic "
        ],
        "parameters": [
          {
            "name": "departureCity",
            "type": "string",
            "description": "An IATA 3 character city code",
            "in": "query",
            "required": true,
            "default": "LON"
          },
          {
            "name": "arrivalCity",
            "type": "string",
            "description": "An IATA 3 character city code",
            "in": "query",
            "required": true,
            "default": "NYC"
          },
          {
            "name": "cabin",
            "type": "string",
            "description": "Requested cabin",
            "in": "query",
            "required": true,
            "enum": [
              "economy",
              "premiumEconomy",
              "business",
              "first"
            ]
          },
          {
            "name": "journeyType",
            "type": "string",
            "description": "Journey type",
            "in": "query",
            "required": true,
            "enum": [
              "roundTrip",
              "oneWay"
            ]
          },
          {
            "name": "range",
            "type": "string",
            "description": "Range",
            "in": "path",
            "required": true,
            "enum": [
              "monthLow",
              "yearLow"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "departureCity;arrivalCity=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "arrivalCity;cabin=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabin;journeyType=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "journeyType;range=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}