{
  "swagger": "2.0",
  "info": {
    "title": "LE CargoTracking API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.airfranceklm.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "A great place to start playing with the APIs. API Cargo Tracking",
    "x-mashery-id": "6827"
  },
  "schemes": [
    "http"
  ],
  "host": "api.airfranceklm.com",
  "basePath": "/awb",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.airfranceklm.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "/",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "awb"
    }
  ],
  "paths": {
    "/{awbNumber}": {
      "get": {
        "operationId": "getShipmentStatusByAWBUsingGETawb",
        "summary": "Get the shipment status by an AWB",
        "tags": [
          "awb"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the request payload",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type of the response payload",
            "in": "header",
            "required": false,
            "enum": [
              "application/hal+json"
            ]
          },
          {
            "name": "awbNumber",
            "type": "string",
            "description": "awbNumber",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/hal+json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}