{
  "swagger": "2.0",
  "info": {
    "title": "Lacrosse",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "The API calls below can be used to test the Input and Output of our API endpoints.  You'll need an API key and an assigned secret to access the live data and so if you haven't contacted us yet, now is the time!  Our sales staff would be happy to set you up with trial access so you can begin to evaluate the product. Lacrosse",
    "x-mashery-id": "2162"
  },
  "schemes": [
    "http"
  ],
  "host": "api.stats.com",
  "basePath": "/",
  "externalDocs": {
    "description": "After you've been given an API key and secret, enter it below and \"Get\" the method you'd like to try out.  Fill in the parameters with what you'd like to try, or use the built in defaults, and click \"Try It!\" to execute the call.  The JSON or XML response will be populated in the Response Body, the Response Body will provide you with any relevant codes, and the Request Header URI will show you how the call would be made within your application. Please note:Also, endpoints almost always require a final \"/\".  You will receive \"596 Service Not Found\" when it is missing.  An exception to this is for optional methods, such as eventId or teamId.",
    "url": "http://developer.stats.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Lacrosse - Teams"
    },
    {
      "name": "Lacrosse - Schedules, scores, and box scores"
    },
    {
      "name": "Lacrosse - Standings"
    },
    {
      "name": "Lacrosse - Participants"
    },
    {
      "name": "Lacrosse - Statistics"
    },
    {
      "name": "Lacrosse - Leaders"
    },
    {
      "name": "Lacrosse - Decodes"
    }
  ],
  "paths": {
    "/stats/lacrosse/nll/teams/{teamId}/": {
      "get": {
        "operationId": "Lacrosse-TeamsLacrosse-Teams",
        "summary": "Team information.",
        "tags": [
          "Lacrosse - Teams"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "A teamId returns information for that team only.  If entered, then the conferenceId is ignored.",
            "in": "path",
            "required": true
          },
          {
            "name": "conferenceId",
            "type": "integer",
            "description": "Returns information for given conference only.",
            "in": "query",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get team lists for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of team & venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/box/{eventId}/": {
      "get": {
        "operationId": "Lacrosse-Schedules,scores,andboxscores-Ifpermissionedforthe/boxendpointLacrosse-Schedules,scores,andboxscores",
        "summary": "Schedules, scores, and box scores",
        "tags": [
          "Lacrosse - Schedules, scores, and box scores"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box request.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "box",
            "type": "boolean",
            "description": "Returns the box score for a specific in-progress or concluded event.  An eventId must also be entered in conjunction with 'box=true'.\n  Default - box score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all events from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, all games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get events for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventType.\n  Default - All game types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "eventRoundId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventRound. Must be used in conjunction with eventTypeId = 2 (Postseason).\n  Default - All event rounds",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of country names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/scores/{eventId}/": {
      "get": {
        "operationId": "Lacrosse-Schedulesandscores-Ifpermissionedforthe/scoresendpointLacrosse-Schedules,scores,andboxscores",
        "summary": "Schedules and scores",
        "tags": [
          "Lacrosse - Schedules, scores, and box scores"
        ],
        "parameters": [
          {
            "name": "eventId",
            "type": "integer",
            "description": "Provide a specific eventID when you want information on a single game.  Must be populated to use the box request.\n Default - basic score data will be returned using date or season, if entered, else the current days events will be returned",
            "in": "path",
            "required": true
          },
          {
            "name": "linescore",
            "type": "boolean",
            "description": "Linescores are only returned when requested and will be returned for all events in the results.\n  Default - false, line score data will not be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "Will return all events from a specific date.\n Format: YYYYMMDD or YYYY-MM-DD.\n  Default - if a specific game isn't requested, all games from the current date will be returned",
            "in": "query",
            "required": false
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get events for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventType.\n  Default - All game types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "eventRoundId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventRound. Must be used in conjunction with eventTypeId = 2 (Postseason).\n  Default - All event rounds",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/standings/": {
      "get": {
        "operationId": "Lacrosse-StandingsLacrosse-Standings",
        "summary": "The standings endpoint will provide the league sta...",
        "description": "The standings endpoint will provide the league standings, including all team data relevant to standings.",
        "tags": [
          "Lacrosse - Standings"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "integer",
            "description": "To get standings for a different season, enter the year as YYYY.\n Note: Seasons that span years like NBA 2013-2014 would be entered as 2013.\n Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "expanded",
            "type": "boolean",
            "description": "Expanded includes additional data points for each team.\n Default - false",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/participants/": {
      "get": {
        "operationId": "Lacrosse-ParticipantsLacrosse-Participants",
        "summary": "The participants endpoint provides biographical in...",
        "description": "The participants endpoint provides biographical information for riders and can be used to return information on a single player, a single teams roster, or all teams rosters within the league.",
        "tags": [
          "Lacrosse - Participants"
        ],
        "parameters": [
          {
            "name": "sinceYearLast",
            "type": "integer",
            "description": "Anyone who last played since the requested year.  Enter year as YYYY.\n  Default - current rosters",
            "in": "query",
            "required": false
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/participants/teams/{teamId}/": {
      "get": {
        "operationId": "Lacrosse-AllparticipantsonasingleteamLacrosse-Participants",
        "summary": "Including a team ID will limit rosters returned to...",
        "description": "Including a team ID will limit rosters returned to the selected team only.",
        "tags": [
          "Lacrosse - Participants"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to return roster for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/participants/{playerId}/": {
      "get": {
        "operationId": "Lacrosse-SingleplayerLacrosse-Participants",
        "summary": "Including a player ID will limit data returned to ...",
        "description": "Including a player ID will limit data returned to the selected player only.",
        "tags": [
          "Lacrosse - Participants"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "Select ID to change language of player & team names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/stats/players/{playerId}": {
      "get": {
        "operationId": "Lacrosse-Playerstats-Year-to-dateLacrosse-Statistics",
        "summary": "Lacrosse - Season stats for a single player",
        "tags": [
          "Lacrosse - Statistics"
        ],
        "parameters": [
          {
            "name": "playerId",
            "type": "integer",
            "description": "To get information on a specific player, enter their ID.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventType.\n  Default - All game types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "eventRoundId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventRound. Must be used in conjunction with eventTypeId = 2 (Postseason).\n  Default - All event rounds",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/stats/teams/{teamId}/": {
      "get": {
        "operationId": "Lacrosse-TeamstatsLacrosse-Statistics",
        "summary": "Lacrosse - Team stats",
        "tags": [
          "Lacrosse - Statistics"
        ],
        "parameters": [
          {
            "name": "teamId",
            "type": "integer",
            "description": "Provide team ID to statistics for one team.",
            "in": "path",
            "required": true
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventType.\n  Default - All game types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "eventRoundId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventRound. Must be used in conjunction with eventTypeId = 2 (Postseason).\n  Default - All event rounds",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/stats/lacrosse/nll/leaders/": {
      "get": {
        "operationId": "Lacrosse-LeadersLacrosse-Leaders",
        "summary": "Lacrosse - Leaders",
        "tags": [
          "Lacrosse - Leaders"
        ],
        "parameters": [
          {
            "name": "leaderCategoryId",
            "type": "integer",
            "description": "Only one category per query.  The decodes resource provides a list of available codes. \n  Default - Blank (returns goals).",
            "in": "query",
            "required": false
          },
          {
            "name": "topCount",
            "type": "integer",
            "description": "This is the number of leaders to be returned.\n  You can return all leaders with the word 'all' instead of a number.\n  Default - Top 10 (plus ties), utilizing ranked players only if nonQualifiers is false/null; else will utilize ordered players.",
            "in": "query",
            "required": false
          },
          {
            "name": "eventTypeId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventType.\n  Default - All game types",
            "in": "query",
            "required": false,
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "eventRoundId",
            "type": "integer",
            "description": "Events will be returned for games included in the specified eventRound. Must be used in conjunction with eventTypeId = 2 (Postseason).\n  Default - All event rounds",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2",
              "3"
            ]
          },
          {
            "name": "season",
            "type": "integer",
            "description": "To get data for a different season, enter the year as YYYY.\n  Default - the current season",
            "in": "query",
            "required": false
          },
          {
            "name": "teamId",
            "type": "integer",
            "description": "To get data for players on one team only, enter the teamId.\n  Default - all players",
            "in": "query",
            "required": false
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/decode/lacrosse/nll/{decodeType}": {
      "get": {
        "operationId": "Lacrosse-DecodesLacrosse-Decodes",
        "summary": "Lacrosse - Decodes",
        "tags": [
          "Lacrosse - Decodes"
        ],
        "parameters": [
          {
            "name": "decodeType",
            "type": "integer",
            "description": "The data type to be decoded.",
            "in": "path",
            "required": true,
            "enum": [
              "coverageLevels",
              "divisions",
              "eventRounds",
              "eventStatuses",
              "eventTypes",
              "penaltyTypes",
              "seasonStructure",
              "venues"
            ]
          },
          {
            "name": "languageId",
            "type": "string",
            "description": "For venues only. Select ID to change language of venue names. Not all languages available for every name.\n  Default - English is returned when no ID is selected.",
            "in": "query",
            "required": false,
            "enum": [
              "-1",
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "accept",
            "type": "string",
            "description": "Preferred response type.\n  Default - json",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}