{
  "swagger": "2.0",
  "info": {
    "title": "U.S. Embassies - v2.0",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.hthworldwide.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. You can also view our API overviews. ",
    "x-mashery-id": "2432"
  },
  "schemes": [
    "http"
  ],
  "host": "api.hthworldwide.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.hthworldwide.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Embassies"
    }
  ],
  "paths": {
    "/embassies/{embassy_id}/": {
      "get": {
        "operationId": "GetEmbassyEmbassies",
        "summary": "Retrieves an embassy by a given ID",
        "tags": [
          "Embassies"
        ],
        "parameters": [
          {
            "name": "embassy_id",
            "type": "number",
            "description": "The required embassy ID",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/embassies/destination/{destination_id}/": {
      "get": {
        "operationId": "GetEmbassyDetailByDestinationEmbassies",
        "summary": "Retrieves embassy detail by a given destination",
        "tags": [
          "Embassies"
        ],
        "parameters": [
          {
            "name": "destination_id",
            "type": "number",
            "description": "The required ID for the destination",
            "in": "path",
            "required": true
          },
          {
            "name": "target_country",
            "type": "string",
            "description": "The name, ID, or ISO code for the target country",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/embassies/{city_id}/{country_id}/": {
      "get": {
        "operationId": "GetEmbassyDetailByCityEmbassies",
        "summary": "Retrieves embassy detail for a given country, city...",
        "description": "Retrieves embassy detail for a given country, city, and state/province",
        "tags": [
          "Embassies"
        ],
        "parameters": [
          {
            "name": "city_id",
            "type": "string",
            "description": "The required name or ID for the city",
            "in": "path",
            "required": true
          },
          {
            "name": "country_id",
            "type": "string",
            "description": "The required name, ID, or ISO code for the country",
            "in": "path",
            "required": true
          },
          {
            "name": "state_province",
            "type": "string",
            "description": "The name, ID, or abbreviation for the state/province",
            "in": "query",
            "required": false
          },
          {
            "name": "target_country",
            "type": "string",
            "description": "The name, ID, or ISO code for the target country",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/embassies/area/": {
      "get": {
        "operationId": "GetEmbassyDetailByAreaEmbassies",
        "summary": "Retrieves embassy detail for a given country, city...",
        "description": "Retrieves embassy detail for a given country, city, and state/province",
        "tags": [
          "Embassies"
        ],
        "parameters": [
          {
            "name": "city",
            "type": "string",
            "description": "The required name or ID for the city",
            "in": "query",
            "required": true
          },
          {
            "name": "state_province",
            "type": "string",
            "description": "The name, ID, or abbreviation for the state/province",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "The required name, ID, or ISO code for the country",
            "in": "query",
            "required": true
          },
          {
            "name": "target_country",
            "type": "string",
            "description": "The name, ID, or ISO code for the target country",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/embassies/search/geolocation/": {
      "get": {
        "operationId": "GetEmbassiesByGeolocationEmbassies",
        "summary": "Retrieves embassies with a radius for a given lati...",
        "description": "Retrieves embassies with a radius for a given latitude and longitude",
        "tags": [
          "Embassies"
        ],
        "parameters": [
          {
            "name": "distance",
            "type": "number",
            "description": "The distance in either miles or kilometers",
            "in": "query",
            "required": true
          },
          {
            "name": "distance_type",
            "type": "string",
            "description": "Type of distance measure (miles (m) or kilometers (k))",
            "in": "query",
            "required": true,
            "default": "m"
          },
          {
            "name": "latitude",
            "type": "number",
            "description": "The required latitude",
            "in": "query",
            "required": true
          },
          {
            "name": "longitude",
            "type": "number",
            "description": "The required longitude",
            "in": "query",
            "required": true
          },
          {
            "name": "page",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "page_size",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}