{
  "swagger": "2.0",
  "info": {
    "title": "NFL Official Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NFL Official API",
    "x-mashery-id": "3552"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NFL Official"
    }
  ],
  "paths": {
    "/nfl-ot1/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNFLOfficial",
        "summary": "Obtain changes made to previously closed events, t...",
        "description": "Obtain changes made to previously closed events, team rosters, or player profiles for a given day.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The season (year)",
            "in": "path",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The month (format: MM)",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The day (format: DD)",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNFLOfficial",
        "summary": "Obtain the scoring information for each team, incl...",
        "description": "Obtain the scoring information for each team, including drive and play information for all scoring events.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of the event, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "c8dc876a-099e-4e95-93dc-0eb143c6954f"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/games/{game_id}/roster{format}": {
      "get": {
        "operationId": "GameRosterNFLOfficial",
        "summary": "Obtain the roster information for each teams, as w...",
        "description": "Obtain the roster information for each teams, as well as player profile data.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of the event, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "c8dc876a-099e-4e95-93dc-0eb143c6954f"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/games/{game_id}/statistics{format}": {
      "get": {
        "operationId": "GameStatisticsNFLOfficial",
        "summary": "Obtain team and player level game statistics for e...",
        "description": "Obtain team and player level game statistics for each team.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of the event, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "c8dc876a-099e-4e95-93dc-0eb143c6954f"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNFLOfficial",
        "summary": "Obtain the complete league hierarchy.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "Play-By-PlayNFLOfficial",
        "summary": "Obtain complete play-by-play narrative.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of the event, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "c8dc876a-099e-4e95-93dc-0eb143c6954f"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileNFLOfficial",
        "summary": "Obtain complete player biographical information.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "Player ID",
            "in": "path",
            "required": true,
            "default": "9634e162-5ff5-4372-b72b-ee1b0cb73a0d"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/games/{year}/{nfl_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNFLOfficial",
        "summary": "Obtain complete schedule information.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2000",
              "2001",
              "2002",
              "2003",
              "2004",
              "2005",
              "2006",
              "2007",
              "2008",
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/seasontd/{year}/{nfl_season}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatisticsNFLOfficial",
        "summary": "Obtain complete team and player seasonal statistic...",
        "description": "Obtain complete team and player seasonal statistics.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2000",
              "2001",
              "2002",
              "2003",
              "2004",
              "2005",
              "2006",
              "2007",
              "2008",
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": "33405046-04ee-4058-a950-d606f8c30852"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/seasontd/{year}/standings{format}": {
      "get": {
        "operationId": "StandingsNFLOfficial",
        "summary": "Obtain standings information for each team.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2000",
              "2001",
              "2002",
              "2003",
              "2004",
              "2005",
              "2006",
              "2007",
              "2008",
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfileNFLOfficial",
        "summary": "Obtain franchise team information.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Team ID",
            "in": "path",
            "required": true,
            "default": "33405046-04ee-4058-a950-d606f8c30852"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/games/{year}/{nfl_season}/{nfl_season_week}/schedule{format}": {
      "get": {
        "operationId": "WeeklyScheduleNFLOfficial",
        "summary": "Obtain schedules for the NFL for a given week. Pre...",
        "description": "Obtain schedules for the NFL for a given week. Pre-Season (PRE) valid weeks 1-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2000",
              "2001",
              "2002",
              "2003",
              "2004",
              "2005",
              "2006",
              "2007",
              "2008",
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/seasontd/{year}/{nfl_season}/{nfl_season_week}/injuries{format}": {
      "get": {
        "operationId": "WeeklyInjuriesNFLOfficial",
        "summary": "Obtain injuries for the NFL for a given week. Pre-...",
        "description": "Obtain injuries for the NFL for a given week. Pre-Season (PRE) valid weeks 1-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ot1/seasontd/{year}/{nfl_season}/{nfl_season_week}/depth_charts{format}": {
      "get": {
        "operationId": "WeeklyDepthChartsNFLOfficial",
        "summary": "Obtain depth charts for the NFL for a given week. ...",
        "description": "Obtain depth charts for the NFL for a given week. Pre-Season (PRE) valid weeks 1-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4.",
        "tags": [
          "NFL Official"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2000",
              "2001",
              "2002",
              "2003",
              "2004",
              "2005",
              "2006",
              "2007",
              "2008",
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}