{
  "swagger": "2.0",
  "info": {
    "version": "2015-07-09",
    "x-release": "v4",
    "title": "Amazon API Gateway",
    "description": "<fullname>Amazon API Gateway</fullname> <p>Amazon API Gateway helps developers deliver robust, secure, and scalable mobile and web application back ends. Amazon API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/apigateway/"
  },
  "host": "apigateway.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/apikeys": {
      "post": {
        "operationId": "CreateApiKey",
        "description": "<p>Create an <a>ApiKey</a> resource. </p> <div class=\"seeAlso\"><a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/create-api-key.html\">AWS CLI</a></div>",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "405": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateApiKeyRequest"
            }
          }
        ]
      },
      "get": {
        "operationId": "GetApiKeys",
        "description": "Gets information about the current <a>ApiKeys</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiKeys"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApiKeysRequest"
            }
          }
        ]
      }
    },
    "/restapis/{restapi_id}/authorizers": {
      "post": {
        "operationId": "CreateAuthorizer",
        "description": "<p>Adds a new <a>Authorizer</a> resource to an existing <a>RestApi</a> resource.</p> <div class=\"seeAlso\"><a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/create-authorizer.html\">AWS CLI</a></div>",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Authorizer"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAuthorizerRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetAuthorizers",
        "description": "<p>Describe an existing <a>Authorizers</a> resource.</p> <div class=\"seeAlso\"><a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/get-authorizers.html\">AWS CLI</a></div>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Authorizers"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAuthorizersRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/domainnames/{domain_name}/basepathmappings": {
      "post": {
        "operationId": "CreateBasePathMapping",
        "description": "Creates a new <a>BasePathMapping</a> resource.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BasePathMapping"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBasePathMappingRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetBasePathMappings",
        "description": "Represents a collection of <a>BasePathMapping</a> resources.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BasePathMappings"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBasePathMappingsRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/deployments": {
      "post": {
        "operationId": "CreateDeployment",
        "description": "Creates a <a>Deployment</a> resource, which makes a specified <a>RestApi</a> callable over the internet.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "404": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "406": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDeploymentRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetDeployments",
        "description": "Gets information about a <a>Deployments</a> collection.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Deployments"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeploymentsRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/domainnames": {
      "post": {
        "operationId": "CreateDomainName",
        "description": "Creates a new domain name.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DomainName"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "402": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDomainNameRequest"
            }
          }
        ]
      },
      "get": {
        "operationId": "GetDomainNames",
        "description": "Represents a collection of <a>DomainName</a> resources.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DomainNames"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDomainNamesRequest"
            }
          }
        ]
      }
    },
    "/restapis/{restapi_id}/models": {
      "post": {
        "operationId": "CreateModel",
        "description": "Adds a new <a>Model</a> resource to an existing <a>RestApi</a> resource.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "404": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateModelRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetModels",
        "description": "Describes existing <a>Models</a> defined for a <a>RestApi</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Models"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetModelsRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/resources/{parent_id}": {
      "post": {
        "operationId": "CreateResource",
        "description": "Creates a <a>Resource</a> resource.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "403": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateResourceRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "parent_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis": {
      "post": {
        "operationId": "CreateRestApi",
        "description": "Creates a new <a>RestApi</a> resource.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RestApi"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRestApiRequest"
            }
          }
        ]
      },
      "get": {
        "operationId": "GetRestApis",
        "description": "Lists the <a>RestApis</a> resources for your collection.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RestApis"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRestApisRequest"
            }
          }
        ]
      }
    },
    "/restapis/{restapi_id}/stages": {
      "post": {
        "operationId": "CreateStage",
        "description": "Creates a new <a>Stage</a> resource that references a pre-existing <a>Deployment</a> for the API. ",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Stage"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "404": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateStageRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetStages",
        "description": "Gets information about one or more <a>Stage</a> resources.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Stages"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetStagesRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/usageplans": {
      "post": {
        "operationId": "CreateUsagePlan",
        "description": "Creates a usage plan with the throttle and quota limits, as well as the associated API stages, specified in the payload. ",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UsagePlan"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUsagePlanRequest"
            }
          }
        ]
      },
      "get": {
        "operationId": "GetUsagePlans",
        "description": "Gets all the usage plans of the caller's account.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UsagePlans"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUsagePlansRequest"
            }
          }
        ]
      }
    },
    "/usageplans/{usageplanId}/keys": {
      "post": {
        "operationId": "CreateUsagePlanKey",
        "description": "Creates a usage plan key for adding an existing API key to a usage plan.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UsagePlanKey"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "402": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "403": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUsagePlanKeyRequest"
            }
          },
          {
            "name": "usageplanId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetUsagePlanKeys",
        "description": "Gets all the usage plan keys representing the API keys added to a specified usage plan.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UsagePlanKeys"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUsagePlanKeysRequest"
            }
          },
          {
            "name": "usageplanId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/apikeys/{api_Key}": {
      "delete": {
        "operationId": "DeleteApiKey",
        "description": "Deletes the <a>ApiKey</a> resource.",
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteApiKeyRequest"
            }
          },
          {
            "name": "api_Key",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetApiKey",
        "description": "Gets information about the current <a>ApiKey</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetApiKeyRequest"
            }
          },
          {
            "name": "api_Key",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateApiKey",
        "description": "Changes information about an <a>ApiKey</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "404": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateApiKeyRequest"
            }
          },
          {
            "name": "api_Key",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/authorizers/{authorizer_id}": {
      "delete": {
        "operationId": "DeleteAuthorizer",
        "description": "<p>Deletes an existing <a>Authorizer</a> resource.</p> <div class=\"seeAlso\"><a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/delete-authorizer.html\">AWS CLI</a></div>",
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "404": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAuthorizerRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "authorizer_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetAuthorizer",
        "description": "<p>Describe an existing <a>Authorizer</a> resource.</p> <div class=\"seeAlso\"><a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/get-authorizer.html\">AWS CLI</a></div>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Authorizer"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAuthorizerRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "authorizer_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "post": {
        "operationId": "TestInvokeAuthorizer",
        "description": "<p>Simulate the execution of an <a>Authorizer</a> in your <a>RestApi</a> with headers, parameters, and an incoming request body.</p> <div class=\"seeAlso\"> <a href=\"http://docs.aws.amazon.com/apigateway/latest/developerguide/use-custom-authorizer.html\">Enable custom authorizers</a> </div>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TestInvokeAuthorizerResponse"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestInvokeAuthorizerRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "authorizer_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateAuthorizer",
        "description": "<p>Updates an existing <a>Authorizer</a> resource.</p> <div class=\"seeAlso\"><a href=\"http://docs.aws.amazon.com/cli/latest/reference/apigateway/update-authorizer.html\">AWS CLI</a></div>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Authorizer"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAuthorizerRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "authorizer_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/domainnames/{domain_name}/basepathmappings/{base_path}": {
      "delete": {
        "operationId": "DeleteBasePathMapping",
        "description": "Deletes the <a>BasePathMapping</a> resource.",
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteBasePathMappingRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "base_path",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetBasePathMapping",
        "description": "Describe a <a>BasePathMapping</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BasePathMapping"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetBasePathMappingRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "base_path",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateBasePathMapping",
        "description": "Changes information about the <a>BasePathMapping</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BasePathMapping"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "403": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBasePathMappingRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "base_path",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/clientcertificates/{clientcertificate_id}": {
      "delete": {
        "operationId": "DeleteClientCertificate",
        "description": "Deletes the <a>ClientCertificate</a> resource.",
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteClientCertificateRequest"
            }
          },
          {
            "name": "clientcertificate_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetClientCertificate",
        "description": "Gets information about the current <a>ClientCertificate</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClientCertificate"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetClientCertificateRequest"
            }
          },
          {
            "name": "clientcertificate_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateClientCertificate",
        "description": "Changes information about an <a>ClientCertificate</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClientCertificate"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateClientCertificateRequest"
            }
          },
          {
            "name": "clientcertificate_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/deployments/{deployment_id}": {
      "delete": {
        "operationId": "DeleteDeployment",
        "description": "Deletes a <a>Deployment</a> resource. Deleting a deployment will only succeed if there are no <a>Stage</a> resources associated with it.",
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDeploymentRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "deployment_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetDeployment",
        "description": "Gets information about a <a>Deployment</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDeploymentRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "deployment_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateDeployment",
        "description": "Changes information about a <a>Deployment</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "404": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDeploymentRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "deployment_id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/domainnames/{domain_name}": {
      "delete": {
        "operationId": "DeleteDomainName",
        "description": "Deletes the <a>DomainName</a> resource.",
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDomainNameRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetDomainName",
        "description": "Represents a domain name that is contained in a simpler, more intuitive URL that can be called.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DomainName"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "ServiceUnavailableException",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDomainNameRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateDomainName",
        "description": "Changes information about the <a>DomainName</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DomainName"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDomainNameRequest"
            }
          },
          {
            "name": "domain_name",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration": {
      "delete": {
        "operationId": "DeleteIntegration",
        "description": "Represents a delete integration.",
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteIntegrationRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetIntegration",
        "description": "Represents a get integration.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Integration"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetIntegrationRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "PutIntegration",
        "description": "Represents a put integration.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Integration"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "402": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "403": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutIntegrationRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateIntegration",
        "description": "Represents an update integration.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Integration"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "404": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateIntegrationRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}": {
      "delete": {
        "operationId": "DeleteIntegrationResponse",
        "description": "Represents a delete integration response.",
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "404": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteIntegrationResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetIntegrationResponse",
        "description": "Represents a get integration response.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IntegrationResponse"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetIntegrationResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "PutIntegrationResponse",
        "description": "Represents a put integration.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IntegrationResponse"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "403": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "405": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutIntegrationResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateIntegrationResponse",
        "description": "Represents an update integration response.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IntegrationResponse"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "403": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateIntegrationResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}": {
      "delete": {
        "operationId": "DeleteMethod",
        "description": "Deletes an existing <a>Method</a> resource.",
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteMethodRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetMethod",
        "description": "Describe an existing <a>Method</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Method"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMethodRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "PutMethod",
        "description": "Add a method to an existing <a>Resource</a> resource.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Method"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "404": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutMethodRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "post": {
        "operationId": "TestInvokeMethod",
        "description": "Simulate the execution of a <a>Method</a> in your <a>RestApi</a> with headers, parameters, and an incoming request body.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TestInvokeMethodResponse"
            }
          },
          "400": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "401": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "402": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestInvokeMethodRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateMethod",
        "description": "Updates an existing <a>Method</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Method"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMethodRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}": {
      "delete": {
        "operationId": "DeleteMethodResponse",
        "description": "Deletes an existing <a>MethodResponse</a> resource.",
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "404": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteMethodResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetMethodResponse",
        "description": "Describes a <a>MethodResponse</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MethodResponse"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMethodResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "PutMethodResponse",
        "description": "Adds a <a>MethodResponse</a> to an existing <a>Method</a> resource.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MethodResponse"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "403": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutMethodResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateMethodResponse",
        "description": "Updates an existing <a>MethodResponse</a> resource.",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MethodResponse"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "403": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMethodResponseRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "resource_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "http_method",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "status_code",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/restapis/{restapi_id}/models/{model_name}": {
      "delete": {
        "operationId": "DeleteModel",
        "description": "Deletes a model.",
        "responses": {
          "202": {
            "description": "Success"
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "404": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteModelRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "model_name",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetModel",
        "description": "Describes an existing model defined for a <a>RestApi</a> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetModelRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "model_name",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "patch": {
        "operationId": "UpdateModel",
        "description": "Changes information about a model.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Model"
            }
          },
          "400": {
            "description": "UnauthorizedException",
            "schema": {
              "$ref": "#/definitions/UnauthorizedException"
            }
          },
          "401": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "402": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "403": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateModelRequest"
            }
          },
          {
            "name": "restapi_id",
            "in": "path",
            "type": "string",
[...]
