{
  "swagger": "2.0",
  "info": {
    "title": "Gracenote Sports - Scores and Statistics",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our Gracenote API services using API Explorer. Simply enter the parameters and click “Try It”. You must have a valid API key for this to work (if you do not already have one, Get Started to read more about plans and request a key). ",
    "x-mashery-id": "3554"
  },
  "schemes": [
    "http"
  ],
  "host": "api.tmsapi.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.tmsapi.com/Getting_Started"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "MLB"
    },
    {
      "name": "NFL"
    },
    {
      "name": "NCAA Football"
    },
    {
      "name": "NCAA FCS"
    },
    {
      "name": "NCAA Basketball"
    },
    {
      "name": "Women's NCAA Basketball"
    },
    {
      "name": "NBA"
    },
    {
      "name": "NHL"
    },
    {
      "name": "Premier League"
    },
    {
      "name": "Major League Soccer (MLS)"
    },
    {
      "name": "Bundesliga"
    },
    {
      "name": "Venue Images"
    }
  ],
  "paths": {
    "/mlb/livescores": {
      "get": {
        "operationId": "MLBLivescoresMLB",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mlb/standings": {
      "get": {
        "operationId": "MLBStandingsMLB",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mlb/results": {
      "get": {
        "operationId": "MLBResultsMLB",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mlb/players": {
      "get": {
        "operationId": "MLBPlayersMLB",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mlb/players-images": {
      "get": {
        "operationId": "MLBPlayersImagesMLB",
        "summary": "Player with images feeds contain player listings w...",
        "description": "Player with images feeds contain player listings with related head shot images.",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mlb/boxscores": {
      "get": {
        "operationId": "MLBBoxscoresMLB",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mlb/leaders": {
      "get": {
        "operationId": "MLBLeadersMLB",
        "summary": "",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mlb/playbyplay": {
      "get": {
        "operationId": "MLBPlaybyplayMLB",
        "summary": "This feed includes play-by-play data for pre-seaso...",
        "description": "This feed includes play-by-play data for pre-season, regular season, playoff and all-star games for MLB.",
        "tags": [
          "MLB"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/livescores": {
      "get": {
        "operationId": "NFLLivescoresNFL",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/standings": {
      "get": {
        "operationId": "NFLStandingsNFL",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/results": {
      "get": {
        "operationId": "NFLResultsNFL",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/players": {
      "get": {
        "operationId": "NFLPlayersNFL",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/players-images": {
      "get": {
        "operationId": "NFLPlayersImagesNFL",
        "summary": "Player with images feeds contain player listings w...",
        "description": "Player with images feeds contain player listings with related head shot images.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/boxscores": {
      "get": {
        "operationId": "NFLBoxscoresNFL",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/leaders": {
      "get": {
        "operationId": "NFLLeadersNFL",
        "summary": "",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl/playbyplay": {
      "get": {
        "operationId": "NFLPlaybyplayNFL",
        "summary": "This feed includes play-by-play data for pre-seaso...",
        "description": "This feed includes play-by-play data for pre-season, regular season, playoff and all-star games for NFL.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/livescores": {
      "get": {
        "operationId": "NCAAFootballLivescoresNCAAFootball",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "NCAA Football"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/standings": {
      "get": {
        "operationId": "NCAAFootballStandingsNCAAFootball",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "NCAA Football"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/results": {
      "get": {
        "operationId": "NCAAFootballResultsNCAAFootball",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "NCAA Football"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/players": {
      "get": {
        "operationId": "NCAAFootballPlayersNCAAFootball",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "NCAA Football"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/boxscores": {
      "get": {
        "operationId": "NCAAFootballBoxscoresNCAAFootball",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "NCAA Football"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/leaders": {
      "get": {
        "operationId": "NCAAFootballLeadersNCAAFootball",
        "summary": "",
        "tags": [
          "NCAA Football"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/fcs_standings": {
      "get": {
        "operationId": "NCAAFCSStandingsNCAAFCS",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "NCAA FCS"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/fcs_results": {
      "get": {
        "operationId": "NCAAFCSResultsNCAAFCS",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "NCAA FCS"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncf/fcs_boxscores": {
      "get": {
        "operationId": "NCAAFCSBoxscoresNCAAFCS",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "NCAA FCS"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaabb/livescores": {
      "get": {
        "operationId": "NCAABasketballLivescoresNCAABasketball",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaabb/standings": {
      "get": {
        "operationId": "NCAABasketballStandingsNCAABasketball",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaabb/results": {
      "get": {
        "operationId": "NCAABasketballResultsNCAABasketball",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaabb/players": {
      "get": {
        "operationId": "NCAABasketballPlayersNCAABasketball",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ncaabb/boxscores": {
      "get": {
        "operationId": "NCAABasketballBoxscoresNCAABasketball",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wncaabb/livescores": {
      "get": {
        "operationId": "Women'sNCAABasketballLivescoresWomen'sNCAABasketball",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "Women's NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wncaabb/standings": {
      "get": {
        "operationId": "Women'sNCAABasketballStandingsWomen'sNCAABasketball",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "Women's NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/wncaabb/results": {
      "get": {
        "operationId": "Women'sNCAABasketballResultsWomen'sNCAABasketball",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "Women's NCAA Basketball"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/livescores": {
      "get": {
        "operationId": "NBALivescoresNBA",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/standings": {
      "get": {
        "operationId": "NBAStandingsNBA",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/results": {
      "get": {
        "operationId": "NBAResultsNBA",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/players": {
      "get": {
        "operationId": "NBAPlayersNBA",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/players-images": {
      "get": {
        "operationId": "NBAPlayersImagesNBA",
        "summary": "Player with images feeds contain player listings w...",
        "description": "Player with images feeds contain player listings with related head shot images.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/boxscores": {
      "get": {
        "operationId": "NBABoxscoresNBA",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nba/playbyplay": {
      "get": {
        "operationId": "NBAPlaybyplayNBA",
        "summary": "This feed includes play-by-play data for pre-seaso...",
        "description": "This feed includes play-by-play data for pre-season, regular season, playoff and all-star games for NBA.",
        "tags": [
          "NBA"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/livescores": {
      "get": {
        "operationId": "NHLLivescoresNHL",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "NHL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/standings": {
      "get": {
        "operationId": "NHLStandingsNHL",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "NHL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/results": {
      "get": {
        "operationId": "NHLResultsNHL",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "NHL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/players": {
      "get": {
        "operationId": "NHLPlayersNHL",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "NHL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/NHL/players-images": {
      "get": {
        "operationId": "NHLPlayersImagesNHL",
        "summary": "Player with images feeds contain player listings w...",
        "description": "Player with images feeds contain player listings with related head shot images.",
        "tags": [
          "NHL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/boxscores": {
      "get": {
        "operationId": "NHLBoxscoresNHL",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "NHL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/playbyplay": {
      "get": {
        "operationId": "NHLPlaybyplayNHL",
        "summary": "This feed includes play-by-play data for pre-seaso...",
        "description": "This feed includes play-by-play data for pre-season, regular season, playoff and all-star games for NHL.",
        "tags": [
          "NHL"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/premier_league/livescores": {
      "get": {
        "operationId": "PremierLeagueLivescoresPremierLeague",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "Premier League"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/premier_league/standings": {
      "get": {
        "operationId": "PremierLeagueStandingsPremierLeague",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "Premier League"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/premier_league/results": {
      "get": {
        "operationId": "PremierLeagueResultsPremierLeague",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "Premier League"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/premier_league/players": {
      "get": {
        "operationId": "PremierLeaguePlayersPremierLeague",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "Premier League"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/premier_league/boxscores": {
      "get": {
        "operationId": "PremierLeagueBoxscoresPremierLeague",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "Premier League"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mls/livescores": {
      "get": {
        "operationId": "MLSLivescoresMajorLeagueSoccer(MLS)",
        "summary": "Live scores feeds contain the state of the live co...",
        "description": "Live scores feeds contain the state of the live competition. The time between data entry and the updated XML feed should be very small, so customers have access to updates almost immediately. Live scores feeds are arranged so that there is one file per competition. This competition file will then be updated every time there are changes. The file always contains the complete, up-to-date state of the competition. Old competition files remain on the server for two days before being automatically removed.",
        "tags": [
          "Major League Soccer (MLS)"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mls/standings": {
      "get": {
        "operationId": "MLSStandingsMajorLeagueSoccer(MLS)",
        "summary": "Standings feed include up to date standings for al...",
        "description": "Standings feed include up to date standings for all of the teams in a league. That stat groups include statistics relative to how the team fairs in the overall, home/away, conference, division, and post-season.",
        "tags": [
          "Major League Soccer (MLS)"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mls/results": {
      "get": {
        "operationId": "MLSResultsMajorLeagueSoccer(MLS)",
        "summary": "The results feeds are similar to the schedule feed...",
        "description": "The results feeds are similar to the schedule feeds, but contain only completed competitions. For team sports, the final score of the competition is included. For Golf tournaments, the winning entry is included. For NASCAR races, the pole and winning drivers are included.",
        "tags": [
          "Major League Soccer (MLS)"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mls/players": {
      "get": {
        "operationId": "MLSPlayersMajorLeagueSoccer(MLS)",
        "summary": "Player feeds contain player listings by team, seas...",
        "description": "Player feeds contain player listings by team, season and league. Players have full detail and season information. For NASCAR, this information is provided under the label 'driver feeds'.",
        "tags": [
          "Major League Soccer (MLS)"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
          {
            "name": "order",
            "type": "string",
            "description": "Time sorted order of entries in the feed. asc or desc (default is desc).",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/mls/boxscores": {
      "get": {
        "operationId": "MLSBoxscoresMajorLeagueSoccer(MLS)",
        "summary": "Boxscore feeds contain both the current in-progres...",
        "description": "Boxscore feeds contain both the current in-progress game results as well as the complete post-competition results. There is one boxscore file per competition which is created shortly after the official information becomes available.",
        "tags": [
          "Major League Soccer (MLS)"
        ],
        "parameters": [
          {
            "name": "newerThan",
            "type": "string",
            "description": "Newer-than timestamp. Determines the point in time where the entries in the feed start. The newerThan parameter must conform to the following pattern: yyyy-MM-dd'T'HH:mm:ss.ffff or yyyy-MM-dd'T'HH:mm:ss.ffffzzz. For example: 2015-07-24T14:31:41.1384 or 2015-07-24T14:31:41.1384-3:00",
            "in": "query",
            "required": false
          },
          {
            "name": "maxCount",
            "type": "string",
            "description": "Maximum number of entries to return. Default is 5000.",
            "in": "query",
            "required": false,
            "default": "10"
          },
[...]
