{
  "swagger": "2.0",
  "info": {
    "version": "2014-06-05",
    "title": "Amazon Mobile Analytics",
    "description": "Amazon Mobile Analytics is a service for collecting, visualizing, and understanding app usage data at scale.",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/mobileanalytics/"
  },
  "host": "mobileanalytics.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2014-06-05/events": {
      "post": {
        "operationId": "PutEvents",
        "description": "The PutEvents operation records one or more events. You can have up to 1,500 unique custom events per app, any combination of up to 40 attributes and metrics per custom event, and any number of attribute or metric values.",
        "responses": {
          "202": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "An exception object returned when a request fails.",
            "x-aws-exception": true,
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutEventsInput"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "BadRequestException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String",
          "description": "A text description associated with the BadRequestException object."
        }
      },
      "description": "An exception object returned when a request fails."
    },
    "Double": {
      "type": "number",
      "format": "double"
    },
    "Event": {
      "type": "object",
      "required": [
        "eventType",
        "timestamp"
      ],
      "properties": {
        "eventType": {
          "$ref": "#/definitions/String50Chars",
          "description": "A name signifying an event that occurred in your app. This is used for grouping and aggregating like events together for reporting purposes."
        },
        "timestamp": {
          "$ref": "#/definitions/ISO8601Timestamp",
          "description": "The time the event occurred in ISO 8601 standard date time format. For example, 2014-06-30T19:07:47.885Z"
        },
        "session": {
          "$ref": "#/definitions/Session",
          "description": "The session the event occured within. "
        },
        "version": {
          "$ref": "#/definitions/String10Chars",
          "description": "The version of the event."
        },
        "attributes": {
          "$ref": "#/definitions/MapOfStringToString",
          "description": "A collection of key-value pairs that give additional context to the event. The key-value pairs are specified by the developer.</p> <p>This collection can be empty or the attribute object can be omitted."
        },
        "metrics": {
          "$ref": "#/definitions/MapOfStringToNumber",
          "description": "A collection of key-value pairs that gives additional, measurable context to the event. The key-value pairs are specified by the developer.</p> <p>This collection can be empty or the attribute object can be omitted."
        }
      },
      "description": "A JSON object representing a batch of unique event occurrences in your app."
    },
    "EventListDefinition": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Event"
      }
    },
    "ISO8601Timestamp": {
      "type": "string"
    },
    "Long": {
      "type": "number"
    },
    "MapOfStringToNumber": {
      "type": "array",
      "minItems": 0,
      "maxItems": 50,
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String50Chars"
          },
          "value": {
            "$ref": "#/definitions/Double"
          }
        }
      }
    },
    "MapOfStringToString": {
      "type": "array",
      "minItems": 0,
      "maxItems": 50,
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String50Chars"
          },
          "value": {
            "$ref": "#/definitions/String0to1000Chars"
          }
        }
      }
    },
    "PutEventsInput": {
      "type": "object",
      "required": [
        "events",
        "clientContext"
      ],
      "properties": {
        "events": {
          "$ref": "#/definitions/EventListDefinition",
          "description": "An array of Event JSON objects"
        },
        "clientContext": {
          "$ref": "#/definitions/String",
          "description": "The client context including the client ID, app title, app version and package name."
        },
        "clientContextEncoding": {
          "$ref": "#/definitions/String",
          "description": "The encoding used for the client context."
        }
      },
      "description": "A container for the data needed for a PutEvent operation"
    },
    "Session": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/String50Chars",
          "description": "A unique identifier for the session"
        },
        "duration": {
          "$ref": "#/definitions/Long",
          "description": "The duration of the session."
        },
        "startTimestamp": {
          "$ref": "#/definitions/ISO8601Timestamp",
          "description": "The time the event started in ISO 8601 standard date time format. For example, 2014-06-30T19:07:47.885Z"
        },
        "stopTimestamp": {
          "$ref": "#/definitions/ISO8601Timestamp",
          "description": "The time the event terminated in ISO 8601 standard date time format. For example, 2014-06-30T19:07:47.885Z"
        }
      },
      "description": "Describes the session. Session information is required on ALL events."
    },
    "String": {
      "type": "string"
    },
    "String0to1000Chars": {
      "type": "string",
      "minLength": 0,
      "maxLength": 1000
    },
    "String10Chars": {
      "type": "string",
      "minLength": 1,
      "maxLength": 10
    },
    "String50Chars": {
      "type": "string",
      "minLength": 1,
      "maxLength": 50
    }
  }
}
