{
  "swagger": "2.0",
  "info": {
    "title": "Pre-Qualification API",
    "version": "2",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.kabbage.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Pre-qualify users for small business loans provided by Kabbage.",
    "x-mashery-id": "2062"
  },
  "schemes": [
    "http"
  ],
  "host": "api.kabbage.com",
  "basePath": "/sandbox/v2",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.kabbage.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Pre-Qualification"
    }
  ],
  "paths": {
    "/prequalify": {
      "post": {
        "operationId": "Pre-QualifyPre-Qualification",
        "summary": "Pre-Qualify users for small business loans provide...",
        "description": "Pre-Qualify users for small business loans provided by Kabbage",
        "tags": [
          "Pre-Qualification"
        ],
        "parameters": [
          {
            "name": "firstName",
            "type": "string",
            "description": "First name of primary business owner.",
            "in": "query",
            "required": true,
            "default": "Test"
          },
          {
            "name": "lastName",
            "type": "string",
            "description": "Last name of primary business owner.",
            "in": "query",
            "required": true,
            "default": "Test"
          },
          {
            "name": "emailAddress",
            "type": "string",
            "description": "Email address of primary business owner.",
            "in": "query",
            "required": true,
            "default": "test@etailercredit.com"
          },
          {
            "name": "businessName",
            "type": "string",
            "description": "Name of business (company).",
            "in": "query",
            "required": true,
            "default": "TestCorp"
          },
          {
            "name": "phoneNumber",
            "type": "integer",
            "description": "Phone number of primary business owner.",
            "in": "query",
            "required": true,
            "default": 8005551234
          },
          {
            "name": "yearStarted",
            "type": "integer",
            "description": "Year of business establishment.",
            "in": "query",
            "required": true,
            "default": 2003
          },
          {
            "name": "estimatedFICO",
            "type": "integer",
            "description": "Estimated FICO score of primary business owner.",
            "in": "query",
            "required": true,
            "default": 601
          },
          {
            "name": "estimatedAnnualRevenue",
            "type": "integer",
            "description": "Estimated gross annual revenue.",
            "in": "query",
            "required": true,
            "default": 99000
          },
          {
            "name": "grossPercentageFromCards",
            "type": "integer",
            "description": "Percentage of annual revenue obtained from credit card transactions.",
            "in": "query",
            "required": true,
            "default": 89
          },
          {
            "name": "typeOfBusiness",
            "type": "string",
            "description": "Type of business (category).",
            "in": "query",
            "required": false,
            "enum": [
              "Accounting",
              "Advertising",
              "Amusement",
              "AutoRepair",
              "BusinessServices",
              "Catering",
              "ChildCare",
              "ComputerServices",
              "ConsumerGoodsRetailStore",
              "ConsumerGoodsOnlineStore",
              "ConsumerGoodsOnlineAndOffline",
              "Construction",
              "Dentists",
              "DryCleaning",
              "Equipment",
              "FoodService",
              "Grocery",
              "Health",
              "HomeRepair",
              "Hotels",
              "Insurance",
              "Janitorial",
              "Landscape",
              "Optometrists",
              "Physicians",
              "Restaurants",
              "Salons",
              "Taxis",
              "Trucking",
              "Veterinarians"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}