{
  "swagger": "2.0",
  "info": {
    "title": "GraydonCompanyData_v1_3",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Graydon Company Data Webservice. Provides access to millions of companies across many countries.",
    "x-mashery-id": "1907"
  },
  "schemes": [
    "http"
  ],
  "host": "api.graydon-global.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.graydon-global.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "GraydonCompanyData_v1_3 GraydonCompanyData_Binding_v1_3 SOAP v1.1"
    }
  ],
  "paths": {
    "/SOAPPort_v1_3": {
      "post": {
        "operationId": "getDemoCompaniesGraydonCompanyData_v1_3GraydonCompanyData_Binding_v1_3SOAPv1.1",
        "summary": "Get the demonstration companies available for a si...",
        "description": "Get the demonstration companies available for a single or all countries. Provide the 'Country' parameter when a single country is desired.\nThe response contains a single or multiple 'Company' elements which icontains the relevant details for the demonstration company.",
        "tags": [
          "GraydonCompanyData_v1_3 GraydonCompanyData_Binding_v1_3 SOAP v1.1"
        ],
        "parameters": [
          {
            "name": "SOAPAction",
            "type": "string",
            "description": "The soap action",
            "in": "header",
            "required": false,
            "enum": [
              "\"http://graydon.co.uk/CompanyData_web_service/getDemoCompanies\""
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "The content type",
            "in": "header",
            "required": false,
            "enum": [
              "text/xml"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getDemoCompanies"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyMatchMethods": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyMatchMethods_Parameters": {
              "title": "GetCompanyMatchMethods_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "m"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "m"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "m"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "m",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "m"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "m",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Country": {
                  "title": "Country",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://v1_2.ws.graydon.co.uk/GraydonDataService/types",
          "m": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyMatchesByAll": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyMatchesByAll_Parameters": {
              "title": "GetCompanyMatchesByAll_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "m"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "m"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "m"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "m",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "m"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "m",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "CompanyMatches_Parameters": {
                  "title": "CompanyMatches_Parameters",
                  "type": "object",
                  "properties": {
                    "Country": {
                      "title": "Country",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "m"
                      }
                    },
                    "ClientReference": {
                      "title": "ClientReference",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "m"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "m",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Arguments": {
                  "title": "Arguments",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://v1_1.ws.graydon.co.uk/GraydonDataService/types",
          "m": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyMatchesByIdentifier": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyMatchesByIdentifier_Parameters": {
              "title": "GetCompanyMatchesByIdentifier_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "CompanyMatches_Parameters": {
                  "title": "CompanyMatches_Parameters",
                  "type": "object",
                  "properties": {
                    "Country": {
                      "title": "Country",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "ClientReference": {
                      "title": "ClientReference",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Identifier": {
                  "title": "Identifier",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyMatchesByName": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyMatchesByName_Parameters": {
              "title": "GetCompanyMatchesByName_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "CompanyMatches_Parameters": {
                  "title": "CompanyMatches_Parameters",
                  "type": "object",
                  "properties": {
                    "Country": {
                      "title": "Country",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "ClientReference": {
                      "title": "ClientReference",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Name": {
                  "title": "Name",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "City": {
                  "title": "City",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "PostCode": {
                  "title": "PostCode",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyMatchesByKeyword": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyMatchesByKeyword_Parameters": {
              "title": "GetCompanyMatchesByKeyword_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "CompanyMatches_Parameters": {
                  "title": "CompanyMatches_Parameters",
                  "type": "object",
                  "properties": {
                    "Country": {
                      "title": "Country",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "ClientReference": {
                      "title": "ClientReference",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Keyword": {
                  "title": "Keyword",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "City": {
                  "title": "City",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "PostCode": {
                  "title": "PostCode",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyProducts": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyProducts_Parameters": {
              "title": "GetCompanyProducts_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "CompanyMatchIdentifier": {
                  "title": "CompanyMatchIdentifier",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyReport": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyReport_Parameters": {
              "title": "GetCompanyReport_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "LanguageCode": {
                  "title": "LanguageCode",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "OrderReference": {
                  "title": "OrderReference",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "MimeType": {
                  "title": "MimeType",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_placeOrder": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "PlaceOrder_Parameters": {
              "title": "PlaceOrder_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "PartnerData": {
                  "title": "PartnerData",
                  "type": "object",
                  "properties": {
                    "PartnerElement": {
                      "title": "PartnerElement",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Type": {
                            "title": "Type",
                            "type": "object",
                            "properties": {
                              "__VALUE__": {
                                "title": "Value",
                                "type": "string"
                              }
                            },
                            "x-annotations": {
                              "namespace": "n"
                            }
                          },
                          "Format": {
                            "title": "Format",
                            "type": "object",
                            "properties": {
                              "__VALUE__": {
                                "title": "Value",
                                "type": "string"
                              }
                            },
                            "x-annotations": {
                              "namespace": "n"
                            }
                          },
                          "Value": {
                            "title": "Value",
                            "type": "object",
                            "properties": {
                              "__VALUE__": {
                                "title": "Value",
                                "type": "string"
                              }
                            },
                            "x-annotations": {
                              "namespace": "n"
                            }
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "OrderCreatorEmail": {
                  "title": "OrderCreatorEmail",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "CompanyProductIdentifier": {
                  "title": "CompanyProductIdentifier",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "Order": {
                  "title": "Order",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "LanguageCode": {
                        "title": "LanguageCode",
                        "type": "object",
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "Name": {
                        "title": "Name",
                        "type": "object",
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "ServiceSpeed": {
                        "title": "ServiceSpeed",
                        "type": "object",
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "Country": {
                        "title": "Country",
                        "type": "object",
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "Address": {
                        "title": "Address",
                        "type": "object",
                        "properties": {
                          "EntireAddress": {
                            "title": "EntireAddress",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          },
                          "Building": {
                            "title": "Building",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          },
                          "Street": {
                            "title": "Street",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          },
                          "Town": {
                            "title": "Town",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          },
                          "City": {
                            "title": "City",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          },
                          "County": {
                            "title": "County",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          },
                          "PostCode": {
                            "title": "PostCode",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          },
                          "Country": {
                            "title": "Country",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "maxItems": 1,
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "description": "Optional",
                            "x-annotations": {
                              "namespace": "n",
                              "optional": true
                            }
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "CompanyIdentifier": {
                        "title": "CompanyIdentifier",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "Identifier": {
                              "title": "Identifier",
                              "type": "object",
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "Type": {
                              "title": "Type",
                              "type": "object",
                              "properties": {
                                "__VALUE__": {
                                  "title": "Value",
                                  "type": "string"
                                }
                              },
                              "x-annotations": {
                                "namespace": "n"
                              }
                            },
                            "Description": {
                              "title": "Description",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "maxItems": 1,
                                "properties": {
                                  "__VALUE__": {
                                    "title": "Value",
                                    "type": "string"
                                  }
                                },
                                "x-annotations": {
                                  "namespace": "n"
                                }
                              },
                              "description": "Optional",
                              "x-annotations": {
                                "namespace": "n",
                                "optional": true
                              }
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "CreditOpinion": {
                        "title": "CreditOpinion",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "CreditOpinionCurrency": {
                        "title": "CreditOpinionCurrency",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "CreditOpinionPeriod": {
                        "title": "CreditOpinionPeriod",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "ClientReference": {
                        "title": "ClientReference",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "AttentionOf": {
                        "title": "AttentionOf",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "Bankers": {
                        "title": "Bankers",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "SpecialRemarks": {
                        "title": "SpecialRemarks",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      },
                      "Telephone": {
                        "title": "Telephone",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "maxItems": 1,
                          "properties": {
                            "__VALUE__": {
                              "title": "Value",
                              "type": "string"
                            }
                          },
                          "x-annotations": {
                            "namespace": "n"
                          }
                        },
                        "description": "Optional",
                        "x-annotations": {
                          "namespace": "n",
                          "optional": true
                        }
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCountryAvailability": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCountryAvailability_Parameters": {
              "title": "GetCountryAvailability_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Country": {
                  "title": "Country",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyMatchesByPostCode": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyMatchesByPostCode_Parameters": {
              "title": "GetCompanyMatchesByPostCode_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "CompanyMatches_Parameters": {
                  "title": "CompanyMatches_Parameters",
                  "type": "object",
                  "properties": {
                    "Country": {
                      "title": "Country",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "ClientReference": {
                      "title": "ClientReference",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "PostCode": {
                  "title": "PostCode",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_ping": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "Ping_Parameters": {
              "title": "Ping_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "PingMethod": {
                  "title": "PingMethod",
                  "type": "object",
                  "properties": {
                    "__VALUE__": {
                      "title": "Value",
                      "type": "string"
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getCompanyMatchIdentifiers": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetCompanyMatchIdentifiers_Parameters": {
              "title": "GetCompanyMatchIdentifiers_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Country": {
                  "title": "Country",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_checkOrders": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "CheckOrders_Parameters": {
              "title": "CheckOrders_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "OrderReference": {
                  "title": "OrderReference",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "ClientReference": {
                  "title": "ClientReference",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "OrderState": {
                  "title": "OrderState",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                },
                "DateFrom": {
                  "title": "DateFrom",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
                "namespace": "n"
              }
            }
          },
          "x-annotations": {
            "namespace": "s"
          }
        }
      },
      "x-annotations": {
        "namespace": "s",
        "namespaceUris": {
          "s": "http://schemas.xmlsoap.org/soap/envelope/",
          "n": "http://ws.graydon.co.uk/GraydonDataService/types"
        }
      }
    },
    "GraydonCompanyData_v1_3_GraydonCompanyData_Binding_v1_3_getDemoCompanies": {
      "type": "object",
      "title": "Envelope",
      "properties": {
        "Body": {
          "type": "object",
          "title": "Body",
          "properties": {
            "GetDemoCompanies_Parameters": {
              "title": "GetDemoCompanies_Parameters",
              "type": "object",
              "properties": {
                "Authentication_Parameters": {
                  "title": "Authentication_Parameters",
                  "type": "object",
                  "properties": {
                    "PartnerUserId": {
                      "title": "PartnerUserId",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerPassword": {
                      "title": "PartnerPassword",
                      "type": "object",
                      "properties": {
                        "__VALUE__": {
                          "title": "Value",
                          "type": "string"
                        }
                      },
                      "x-annotations": {
                        "namespace": "n"
                      }
                    },
                    "PartnerClientId": {
                      "title": "PartnerClientId",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    },
                    "SessionID": {
                      "title": "SessionID",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "maxItems": 1,
                        "properties": {
                          "__VALUE__": {
                            "title": "Value",
                            "type": "string"
                          }
                        },
                        "x-annotations": {
                          "namespace": "n"
                        }
                      },
                      "description": "Optional",
                      "x-annotations": {
                        "namespace": "n",
                        "optional": true
                      }
                    }
                  },
                  "x-annotations": {
                    "namespace": "n"
                  }
                },
                "Country": {
                  "title": "Country",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "maxItems": 1,
                    "properties": {
                      "__VALUE__": {
                        "title": "Value",
                        "type": "string"
                      }
                    },
                    "x-annotations": {
                      "namespace": "n"
                    }
                  },
                  "description": "Optional",
                  "x-annotations": {
                    "namespace": "n",
                    "optional": true
                  }
                }
              },
              "x-annotations": {
[...]
