{
  "swagger": "2.0",
  "info": {
    "title": "Prod - Product Inventory",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. This Api is used to get inventory from a particular product passing the product code or UPC code.",
    "x-mashery-id": "194"
  },
  "schemes": [
    "http"
  ],
  "host": "api.saks.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.saks.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Inventory by Product Code Search Method"
    },
    {
      "name": "Inventory by UPC Code Search Method"
    }
  ],
  "paths": {
    "/v2/inventory/product/{product_code}": {
      "get": {
        "operationId": "GetInventorybyProductCodePageInventorybyProductCodeSearchMethod",
        "summary": "make a request by product code to our product inve...",
        "description": "make a request by product code to our product inventory page",
        "tags": [
          "Inventory by Product Code Search Method"
        ],
        "parameters": [
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code starting with 04",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v2/inventory/variant/{upc_code}": {
      "get": {
        "operationId": "GetInventorybyUPCcodePageInventorybyUPCCodeSearchMethod",
        "summary": "make a request by UPC code to our product inventor...",
        "description": "make a request by UPC code to our product inventory page",
        "tags": [
          "Inventory by UPC Code Search Method"
        ],
        "parameters": [
          {
            "name": "upc_code",
            "type": "string",
            "description": "UPC code from a particular product from our product catalog",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}