{
  "swagger": "2.0",
  "info": {
    "version": "2015-02-02",
    "x-release": "v4",
    "title": "Amazon ElastiCache",
    "description": "<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers gain all of the benefits of a high-performance, in-memory cache with far less of the administrative burden of launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/elasticache/"
  },
  "host": "elasticache.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "AddTagsToResource",
        "description": "<p>The <i>AddTagsToResource</i> action adds up to 10 cost allocation tags to the named resource. A <i>cost allocation tag</i> is a key-value pair where the key and value are case-sensitive. Cost allocation tags can be used to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagListMessage"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "TagQuotaPerResourceExceeded",
            "schema": {
              "$ref": "#/definitions/TagQuotaPerResourceExceeded"
            }
          },
          "483": {
            "description": "InvalidARNFault",
            "schema": {
              "$ref": "#/definitions/InvalidARNFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#AuthorizeCacheSecurityGroupIngress": {
      "post": {
        "operationId": "AuthorizeCacheSecurityGroupIngress",
        "description": "<p>The <i>AuthorizeCacheSecurityGroupIngress</i> action allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeCacheSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidCacheSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthorizeCacheSecurityGroupIngressMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CopySnapshot": {
      "post": {
        "operationId": "CopySnapshot",
        "description": "<p>The <i>CopySnapshot</i> action makes a copy of an existing snapshot.</p> <important> <p>Users or groups that have permissions to use the <i>CopySnapshot</i> API can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <i>CopySnapshot</i> API. For more information about using IAM to control the use of ElastiCache APIs, see <a href=\"http://docs.aws.amazon.com/ElastiCache/latest/Snapshots.Exporting.html\">Exporting Snapshots</a> and <a href=\"http://docs.aws.amazon.com/ElastiCache/latest/IAM.html\">Authentication &amp; Access Control</a>.</p> </important> <p class=\"title\"> <b>Erorr Message:</b> </p> <ul> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopySnapshotResult"
            }
          },
          "480": {
            "description": "SnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/SnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          },
          "483": {
            "description": "InvalidSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidSnapshotStateFault"
            }
          },
          "484": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "485": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopySnapshotMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateCacheCluster": {
      "post": {
        "operationId": "CreateCacheCluster",
        "description": "The <i>CreateCacheCluster</i> action creates a cache cluster. All nodes in the cache cluster run the same protocol-compliant cache engine software, either Memcached or Redis.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheClusterResult"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "CacheClusterAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterAlreadyExistsFault"
            }
          },
          "483": {
            "description": "InsufficientCacheClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientCacheClusterCapacityFault"
            }
          },
          "484": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "485": {
            "description": "CacheSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupNotFoundFault"
            }
          },
          "486": {
            "description": "ClusterQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaForCustomerExceededFault"
            }
          },
          "487": {
            "description": "NodeQuotaForClusterExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForClusterExceededFault"
            }
          },
          "488": {
            "description": "NodeQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForCustomerExceededFault"
            }
          },
          "489": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "490": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "491": {
            "description": "TagQuotaPerResourceExceeded",
            "schema": {
              "$ref": "#/definitions/TagQuotaPerResourceExceeded"
            }
          },
          "492": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "493": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCacheClusterMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateCacheParameterGroup": {
      "post": {
        "operationId": "CreateCacheParameterGroup",
        "description": "The <i>CreateCacheParameterGroup</i> action creates a new cache parameter group. A cache parameter group is a collection of parameters that you apply to all of the nodes in a cache cluster.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheParameterGroupResult"
            }
          },
          "480": {
            "description": "CacheParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupQuotaExceededFault"
            }
          },
          "481": {
            "description": "CacheParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupAlreadyExistsFault"
            }
          },
          "482": {
            "description": "InvalidCacheParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheParameterGroupStateFault"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCacheParameterGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateCacheSecurityGroup": {
      "post": {
        "operationId": "CreateCacheSecurityGroup",
        "description": "<p>The <i>CreateCacheSecurityGroup</i> action creates a new cache security group. Use a cache security group to control access to one or more cache clusters.</p> <p>Cache security groups are only used when you are creating a cache cluster outside of an Amazon Virtual Private Cloud (VPC). If you are creating a cache cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html\">CreateCacheSubnetGroup</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheSecurityGroupResult"
            }
          },
          "480": {
            "description": "CacheSecurityGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "CacheSecurityGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCacheSecurityGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateCacheSubnetGroup": {
      "post": {
        "operationId": "CreateCacheSubnetGroup",
        "description": "<p>The <i>CreateCacheSubnetGroup</i> action creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (VPC).</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCacheSubnetGroupResult"
            }
          },
          "480": {
            "description": "CacheSubnetGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "CacheSubnetGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "CacheSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetQuotaExceededFault"
            }
          },
          "483": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCacheSubnetGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateReplicationGroup": {
      "post": {
        "operationId": "CreateReplicationGroup",
        "description": "<p>The <i>CreateReplicationGroup</i> action creates a replication group. A replication group is a collection of cache clusters, where one of the cache clusters is a read/write primary and the others are read-only replicas. Writes to the primary are automatically propagated to the replicas.</p> <p>When you create a replication group, you must specify an existing cache cluster that is in the primary role. When the replication group has been successfully created, you can add one or more read replica replicas to it, up to a total of five read replicas.</p> <note> <p>This action is valid only for Redis.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateReplicationGroupResult"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidCacheClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheClusterStateFault"
            }
          },
          "482": {
            "description": "ReplicationGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupAlreadyExistsFault"
            }
          },
          "483": {
            "description": "InsufficientCacheClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientCacheClusterCapacityFault"
            }
          },
          "484": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "485": {
            "description": "CacheSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupNotFoundFault"
            }
          },
          "486": {
            "description": "ClusterQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/ClusterQuotaForCustomerExceededFault"
            }
          },
          "487": {
            "description": "NodeQuotaForClusterExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForClusterExceededFault"
            }
          },
          "488": {
            "description": "NodeQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForCustomerExceededFault"
            }
          },
          "489": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "490": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "491": {
            "description": "TagQuotaPerResourceExceeded",
            "schema": {
              "$ref": "#/definitions/TagQuotaPerResourceExceeded"
            }
          },
          "492": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "493": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReplicationGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateSnapshot": {
      "post": {
        "operationId": "CreateSnapshot",
        "description": "The <i>CreateSnapshot</i> action creates a copy of an entire cache cluster at a specific moment in time.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSnapshotResult"
            }
          },
          "480": {
            "description": "SnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/SnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidCacheClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheClusterStateFault"
            }
          },
          "483": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          },
          "484": {
            "description": "SnapshotFeatureNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/SnapshotFeatureNotSupportedFault"
            }
          },
          "485": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "486": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSnapshotMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteCacheCluster": {
      "post": {
        "operationId": "DeleteCacheCluster",
        "description": "<p>The <i>DeleteCacheCluster</i> action deletes a previously provisioned cache cluster. <i>DeleteCacheCluster</i> deletes all associated cache nodes, node endpoints and the cache cluster itself. When you receive a successful response from this action, Amazon ElastiCache immediately begins deleting the cache cluster; you cannot cancel or revert this action.</p> <p>This API cannot be used to delete a cache cluster that is the last read replica of a replication group that has Multi-AZ mode enabled.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteCacheClusterResult"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidCacheClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheClusterStateFault"
            }
          },
          "482": {
            "description": "SnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/SnapshotAlreadyExistsFault"
            }
          },
          "483": {
            "description": "SnapshotFeatureNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/SnapshotFeatureNotSupportedFault"
            }
          },
          "484": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          },
          "485": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "486": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCacheClusterMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteCacheParameterGroup": {
      "post": {
        "operationId": "DeleteCacheParameterGroup",
        "description": "The <i>DeleteCacheParameterGroup</i> action deletes the specified cache parameter group. You cannot delete a cache parameter group if it is associated with any cache clusters.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidCacheParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheParameterGroupStateFault"
            }
          },
          "481": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCacheParameterGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteCacheSecurityGroup": {
      "post": {
        "operationId": "DeleteCacheSecurityGroup",
        "description": "<p>The <i>DeleteCacheSecurityGroup</i> action deletes a cache security group.</p> <note> <p>You cannot delete a cache security group if it is associated with any cache clusters.</p> </note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidCacheSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheSecurityGroupStateFault"
            }
          },
          "481": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCacheSecurityGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteCacheSubnetGroup": {
      "post": {
        "operationId": "DeleteCacheSubnetGroup",
        "description": "<p>The <i>DeleteCacheSubnetGroup</i> action deletes a cache subnet group.</p> <note> <p>You cannot delete a cache subnet group if it is associated with any cache clusters.</p> </note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "CacheSubnetGroupInUse",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupInUse"
            }
          },
          "481": {
            "description": "CacheSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteCacheSubnetGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteReplicationGroup": {
      "post": {
        "operationId": "DeleteReplicationGroup",
        "description": "<p>The <i>DeleteReplicationGroup</i> action deletes an existing replication group. By default, this action deletes the entire replication group, including the primary cluster and all of the read replicas. You can optionally delete only the read replicas, while retaining the primary cluster.</p> <p>When you receive a successful response from this action, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteReplicationGroupResult"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "SnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/SnapshotAlreadyExistsFault"
            }
          },
          "483": {
            "description": "SnapshotFeatureNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/SnapshotFeatureNotSupportedFault"
            }
          },
          "484": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          },
          "485": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "486": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteReplicationGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteSnapshot": {
      "post": {
        "operationId": "DeleteSnapshot",
        "description": "The <i>DeleteSnapshot</i> action deletes an existing snapshot. When you receive a successful response from this action, ElastiCache immediately begins deleting the snapshot; you cannot cancel or revert this action.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSnapshotResult"
            }
          },
          "480": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidSnapshotStateFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSnapshotMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeCacheClusters": {
      "post": {
        "operationId": "DescribeCacheClusters",
        "description": "<p>The <i>DescribeCacheClusters</i> action returns information about all provisioned cache clusters if no cache cluster identifier is specified, or about a specific cache cluster if a cache cluster identifier is supplied.</p> <p>By default, abbreviated information about the cache clusters(s) will be returned. You can use the optional <i>ShowDetails</i> flag to retrieve detailed information about the cache nodes associated with the cache clusters. These details include the DNS address and port for the cache node endpoint.</p> <p>If the cluster is in the CREATING state, only cluster level information will be displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the DELETING state, only cluster level information will be displayed.</p> <p>If cache nodes are currently being added to the cache cluster, node endpoint information and creation time for the additional nodes will not be displayed until they are completely provisioned. When the cache cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If cache nodes are currently being removed from the cache cluster, no endpoint information for the removed nodes is displayed.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CacheClusterMessage"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCacheClustersMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ],
        "x-waiters": [
          {
            "acceptors": [
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "available",
                "matcher": "pathAll",
                "state": "success"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "deleted",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "deleting",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "incompatible-network",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "restore-failed",
                "matcher": "pathAny",
                "state": "failure"
              }
            ],
            "delay": 15,
            "description": "Wait until ElastiCache cluster is available.",
            "maxAttempts": 40,
            "operation": "DescribeCacheClusters"
          },
          {
            "acceptors": [
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "deleted",
                "matcher": "pathAll",
                "state": "success"
              },
              {
                "expected": "CacheClusterNotFound",
                "matcher": "error",
                "state": "success"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "available",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "creating",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "incompatible-network",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "modifying",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "restore-failed",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "argument": "CacheClusters[].CacheClusterStatus",
                "expected": "snapshotting",
                "matcher": "pathAny",
                "state": "failure"
              }
            ],
            "delay": 15,
            "description": "Wait until ElastiCache cluster is deleted.",
            "maxAttempts": 40,
            "operation": "DescribeCacheClusters"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeCacheEngineVersions": {
      "post": {
        "operationId": "DescribeCacheEngineVersions",
        "description": "The <i>DescribeCacheEngineVersions</i> action returns a list of the available cache engines and their versions.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CacheEngineVersionMessage"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCacheEngineVersionsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeCacheParameterGroups": {
      "post": {
        "operationId": "DescribeCacheParameterGroups",
        "description": "The <i>DescribeCacheParameterGroups</i> action returns a list of cache parameter group descriptions. If a cache parameter group name is specified, the list will contain only the descriptions for that group.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupsMessage"
            }
          },
          "480": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCacheParameterGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeCacheParameters": {
      "post": {
        "operationId": "DescribeCacheParameters",
        "description": "The <i>DescribeCacheParameters</i> action returns the detailed parameter list for a particular cache parameter group.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupDetails"
            }
          },
          "480": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCacheParametersMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeCacheSecurityGroups": {
      "post": {
        "operationId": "DescribeCacheSecurityGroups",
        "description": "The <i>DescribeCacheSecurityGroups</i> action returns a list of cache security group descriptions. If a cache security group name is specified, the list will contain only the description of that group.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupMessage"
            }
          },
          "480": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCacheSecurityGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeCacheSubnetGroups": {
      "post": {
        "operationId": "DescribeCacheSubnetGroups",
        "description": "The <i>DescribeCacheSubnetGroups</i> action returns a list of cache subnet group descriptions. If a subnet group name is specified, the list will contain only the description of that group.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupMessage"
            }
          },
          "480": {
            "description": "CacheSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeCacheSubnetGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeEngineDefaultParameters": {
      "post": {
        "operationId": "DescribeEngineDefaultParameters",
        "description": "The <i>DescribeEngineDefaultParameters</i> action returns the default engine and system parameter information for the specified cache engine.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeEngineDefaultParametersResult"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEngineDefaultParametersMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeEvents": {
      "post": {
        "operationId": "DescribeEvents",
        "description": "<p>The <i>DescribeEvents</i> action returns events related to cache clusters, cache security groups, and cache parameter groups. You can obtain events specific to a particular cache cluster, cache security group, or cache parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventsMessage"
            }
          },
          "480": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "481": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEventsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeReplicationGroups": {
      "post": {
        "operationId": "DescribeReplicationGroups",
        "description": "The <i>DescribeReplicationGroups</i> action returns information about a particular replication group. If no identifier is specified, <i>DescribeReplicationGroups</i> returns information about all replication groups.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupMessage"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReplicationGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ],
        "x-waiters": [
          {
            "acceptors": [
              {
                "argument": "ReplicationGroups[].Status",
                "expected": "available",
                "matcher": "pathAll",
                "state": "success"
              },
              {
                "argument": "ReplicationGroups[].Status",
                "expected": "deleted",
                "matcher": "pathAny",
                "state": "failure"
              }
            ],
            "delay": 15,
            "description": "Wait until ElastiCache replication group is available.",
            "maxAttempts": 40,
            "operation": "DescribeReplicationGroups"
          },
          {
            "acceptors": [
              {
                "argument": "ReplicationGroups[].Status",
                "expected": "deleted",
                "matcher": "pathAll",
                "state": "success"
              },
              {
                "argument": "ReplicationGroups[].Status",
                "expected": "available",
                "matcher": "pathAny",
                "state": "failure"
              },
              {
                "expected": "ReplicationGroupNotFoundFault",
                "matcher": "error",
                "state": "success"
              }
            ],
            "delay": 15,
            "description": "Wait until ElastiCache replication group is deleted.",
            "maxAttempts": 40,
            "operation": "DescribeReplicationGroups"
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeReservedCacheNodes": {
      "post": {
        "operationId": "DescribeReservedCacheNodes",
        "description": "The <i>DescribeReservedCacheNodes</i> action returns information about reserved cache nodes for this account, or about a specified reserved cache node.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReservedCacheNodeMessage"
            }
          },
          "480": {
            "description": "ReservedCacheNodeNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedCacheNodeNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedCacheNodesMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeReservedCacheNodesOfferings": {
      "post": {
        "operationId": "DescribeReservedCacheNodesOfferings",
        "description": "The <i>DescribeReservedCacheNodesOfferings</i> action lists available reserved cache node offerings.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReservedCacheNodesOfferingMessage"
            }
          },
          "480": {
            "description": "ReservedCacheNodesOfferingNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedCacheNodesOfferingNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedCacheNodesOfferingsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeSnapshots": {
      "post": {
        "operationId": "DescribeSnapshots",
        "description": "The <i>DescribeSnapshots</i> action returns information about cache cluster snapshots. By default, <i>DescribeSnapshots</i> lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cache cluster.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeSnapshotsListMessage"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeSnapshotsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListAllowedNodeTypeModifications": {
      "post": {
        "operationId": "ListAllowedNodeTypeModifications",
        "description": "<p>The <code>ListAllowedNodeTypeModifications</code> action lists all available node types that you can scale your Redis cluster's or replication group's current node type up to.</p> <p>When you use the <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code> APIs to scale up your cluster or replication group, the value of the <i>CacheNodeType</i> parameter must be one of the node types returned by this action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AllowedNodeTypeModificationsMessage"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAllowedNodeTypeModificationsMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListTagsForResource": {
      "post": {
        "operationId": "ListTagsForResource",
        "description": "<p>The <i>ListTagsForResource</i> action lists all cost allocation tags currently on the named resource. A <i>cost allocation tag</i> is a key-value pair where the key is case-sensitive and the value is optional. Cost allocation tags can be used to categorize and track your AWS costs.</p> <p>You can have a maximum of 10 cost allocation tags on an ElastiCache resource. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/BestPractices.html\">Using Cost Allocation Tags in Amazon ElastiCache</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagListMessage"
            }
          },
          "480": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "481": {
            "description": "SnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidARNFault",
            "schema": {
              "$ref": "#/definitions/InvalidARNFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyCacheCluster": {
      "post": {
        "operationId": "ModifyCacheCluster",
        "description": "The <i>ModifyCacheCluster</i> action modifies the settings for a cache cluster. You can use this action to change one or more cluster configuration parameters by specifying the parameters and the new values.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyCacheClusterResult"
            }
          },
          "480": {
            "description": "InvalidCacheClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheClusterStateFault"
            }
          },
          "481": {
            "description": "InvalidCacheSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "InsufficientCacheClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientCacheClusterCapacityFault"
            }
          },
          "483": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "484": {
            "description": "NodeQuotaForClusterExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForClusterExceededFault"
            }
          },
          "485": {
            "description": "NodeQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForCustomerExceededFault"
            }
          },
          "486": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "487": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "488": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "489": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "490": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyCacheClusterMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyCacheParameterGroup": {
      "post": {
        "operationId": "ModifyCacheParameterGroup",
        "description": "The <i>ModifyCacheParameterGroup</i> action modifies the parameters of a cache parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNameMessage"
            }
          },
          "480": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidCacheParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheParameterGroupStateFault"
            }
          },
          "482": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "483": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyCacheParameterGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyCacheSubnetGroup": {
      "post": {
        "operationId": "ModifyCacheSubnetGroup",
        "description": "The <i>ModifyCacheSubnetGroup</i> action modifies an existing cache subnet group.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyCacheSubnetGroupResult"
            }
          },
          "480": {
            "description": "CacheSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetGroupNotFoundFault"
            }
          },
          "481": {
            "description": "CacheSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/CacheSubnetQuotaExceededFault"
            }
          },
          "482": {
            "description": "SubnetInUse",
            "schema": {
              "$ref": "#/definitions/SubnetInUse"
            }
          },
          "483": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyCacheSubnetGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyReplicationGroup": {
      "post": {
        "operationId": "ModifyReplicationGroup",
        "description": "The <i>ModifyReplicationGroup</i> action modifies the settings for a replication group.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyReplicationGroupResult"
            }
          },
          "480": {
            "description": "ReplicationGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReplicationGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidReplicationGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidReplicationGroupStateFault"
            }
          },
          "482": {
            "description": "InvalidCacheClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheClusterStateFault"
            }
          },
          "483": {
            "description": "InvalidCacheSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheSecurityGroupStateFault"
            }
          },
          "484": {
            "description": "InsufficientCacheClusterCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientCacheClusterCapacityFault"
            }
          },
          "485": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          },
          "486": {
            "description": "NodeQuotaForClusterExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForClusterExceededFault"
            }
          },
          "487": {
            "description": "NodeQuotaForCustomerExceededFault",
            "schema": {
              "$ref": "#/definitions/NodeQuotaForCustomerExceededFault"
            }
          },
          "488": {
            "description": "CacheSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheSecurityGroupNotFoundFault"
            }
          },
          "489": {
            "description": "CacheParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheParameterGroupNotFoundFault"
            }
          },
          "490": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "491": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "492": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyReplicationGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#PurchaseReservedCacheNodesOffering": {
      "post": {
        "operationId": "PurchaseReservedCacheNodesOffering",
        "description": "The <i>PurchaseReservedCacheNodesOffering</i> action allows you to purchase a reserved cache node offering.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PurchaseReservedCacheNodesOfferingResult"
            }
          },
          "480": {
            "description": "ReservedCacheNodesOfferingNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedCacheNodesOfferingNotFoundFault"
            }
          },
          "481": {
            "description": "ReservedCacheNodeAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/ReservedCacheNodeAlreadyExistsFault"
            }
          },
          "482": {
            "description": "ReservedCacheNodeQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/ReservedCacheNodeQuotaExceededFault"
            }
          },
          "483": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "484": {
            "description": "InvalidParameterCombinationException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterCombinationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseReservedCacheNodesOfferingMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#RebootCacheCluster": {
      "post": {
        "operationId": "RebootCacheCluster",
        "description": "<p>The <i>RebootCacheCluster</i> action reboots some, or all, of the cache nodes within a provisioned cache cluster. This API will apply any modified cache parameter groups to the cache cluster. The reboot action takes place as soon as possible, and results in a momentary outage to the cache cluster. During the reboot, the cache cluster status is set to REBOOTING.</p> <p>The reboot causes the contents of the cache (for each cache node being rebooted) to be lost.</p> <p>When the reboot is complete, a cache cluster event is created.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RebootCacheClusterResult"
            }
          },
          "480": {
            "description": "InvalidCacheClusterStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidCacheClusterStateFault"
            }
          },
          "481": {
            "description": "CacheClusterNotFoundFault",
            "schema": {
              "$ref": "#/definitions/CacheClusterNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RebootCacheClusterMessage"
[...]
