{
  "swagger": "2.0",
  "info": {
    "version": "2013-04-01",
    "x-release": "v4",
    "title": "Amazon Route 53",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/route53/"
  },
  "host": "route53.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "text/xml"
  ],
  "produces": [
    "text/xml"
  ],
  "paths": {
    "/2013-04-01/hostedzone/{Id}/associatevpc": {
      "post": {
        "operationId": "AssociateVPCWithHostedZone",
        "description": "<p>Associates an Amazon VPC with a private hosted zone. </p> <important> <p>The VPC and the hosted zone must already exist, and you must have created a private hosted zone. You cannot convert a public hosted zone into a private hosted zone.</p> </important> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 API version</i>/hostedzone/<i>hosted zone ID</i>/associatevpc</code> resource. The request body must include an XML document with a <code>AssociateVPCWithHostedZoneRequest</code> element. The response returns the <code>AssociateVPCWithHostedZoneResponse</code> element.</p> <note> <p>If you used different accounts to create the hosted zone and to create the Amazon VPCs that you want to associate with the hosted zone, we need to update account permissions for you. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/hosted-zone-private-associate-vpcs-different-accounts.html\">Associating Amazon VPCs and Private Hosted Zones That You Create with Different AWS Accounts</a> in the Amazon Route 53 Developer Guide.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssociateVPCWithHostedZoneResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidVPCId",
            "schema": {
              "$ref": "#/definitions/InvalidVPCId"
            }
          },
          "402": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "403": {
            "description": "PublicZoneVPCAssociation",
            "schema": {
              "$ref": "#/definitions/PublicZoneVPCAssociation"
            }
          },
          "404": {
            "description": "ConflictingDomainExists",
            "schema": {
              "$ref": "#/definitions/ConflictingDomainExists"
            }
          },
          "405": {
            "description": "LimitsExceeded",
            "schema": {
              "$ref": "#/definitions/LimitsExceeded"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociateVPCWithHostedZoneRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzone/{Id}/rrset/": {
      "post": {
        "operationId": "ChangeResourceRecordSets",
        "description": "<p>Create, change, update, or delete authoritative DNS information on all Amazon Route 53 servers. Send a <code>POST</code> request to: </p> <p> <code>/2013-04-01/hostedzone/<i>Amazon Route 53 hosted Zone ID</i>/rrset</code> resource. </p> <p>The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element. The request body contains a list of change items, known as a change batch. Change batches are considered transactional changes. When using the Amazon Route 53 API to change resource record sets, Amazon Route 53 either makes all or none of the changes in a change batch request. This ensures that Amazon Route 53 never partially implements the intended changes to the resource record sets in a hosted zone. </p> <p>For example, a change batch request that deletes the <code>CNAME</code>record for www.example.com and creates an alias resource record set for www.example.com. Amazon Route 53 deletes the first resource record set and creates the second resource record set in a single operation. If either the <code>DELETE</code> or the <code>CREATE</code> action fails, then both changes (plus any other changes in the batch) fail, and the original <code>CNAME</code> record continues to exist.</p> <important> <p>Due to the nature of transactional changes, you cannot delete the same resource record set more than once in a single change batch. If you attempt to delete the same change batch more than once, Amazon Route 53 returns an <code>InvalidChangeBatch</code> error.</p> </important> <note> <p>To create resource record sets for complex routing configurations, use either the traffic flow visual editor in the Amazon Route 53 console or the API actions for traffic policies and traffic policy instances. Save the configuration as a traffic policy, then associate the traffic policy with one or more domain names (such as example.com) or subdomain names (such as www.example.com), in the same hosted zone or in multiple hosted zones. You can roll back the updates if the new configuration isn't performing as expected. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/traffic-flow.html\">Using Traffic Flow to Route DNS Traffic</a> in the Amazon Route 53 API Reference or <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/actions-on-polices\">Actions on Traffic Policies and Traffic Policy Instances</a> in this guide.</p> </note> <p>Use <code>ChangeResourceRecordsSetsRequest</code> to perform the following actions:</p> <ul> <li> <p> <code>CREATE</code>:Creates a resource record set that has the specified values.</p> </li> <li> <p> <code>DELETE</code>: Deletes an existing resource record set that has the specified values for <code>Name</code>, <code>Type</code>, <code>Set Identifier</code> (for code latency, weighted, geolocation, and failover resource record sets), and <code>TTL</code> (except alias resource record sets, for which the TTL is determined by the AWS resource you're routing queries to).</p> </li> <li> <p> <code>UPSERT</code>: If a resource record set does not already exist, AWS creates it. If a resource set does exist, Amazon Route 53 updates it with the values in the request. Amazon Route 53 can update an existing resource record set only when all of the following values match: <code>Name</code>, <code>Type</code>, and <code>Set Identifier</code> (for weighted, latency, geolocation, and failover resource record sets).</p> </li> </ul> <p>In response to a <code>ChangeResourceRecordSets</code> request, the DNS data is changed on all Amazon Route 53 DNS servers. Initially, the status of a change is <code>PENDING</code>, meaning the change has not yet propagated to all the authoritative Amazon Route 53 DNS servers. When the change is propagated to all hosts, the change returns a status of <code>INSYNC</code>.</p> <p>After sending a change request, confirm your change has propagated to all Amazon Route 53 DNS servers. Changes generally propagate to all Amazon Route 53 name servers in a few minutes. In rare circumstances, propagation can take up to 30 minutes. For more information, see <a>GetChange</a>.</p> <p>Note the following limitations on a <code>ChangeResourceRecordSets</code> request:</p> <ul> <li> <p> A request cannot contain more than 100 Change elements.</p> </li> <li> <p> A request cannot contain more than 1000 ResourceRecord elements.</p> </li> <li> <p>The sum of the number of characters (including spaces) in all <code>Value</code> elements in a request cannot exceed 32,000 characters.</p> </li> <li> <note> <p>If the value of the Action element in a ChangeResourceRecordSets request is <code>UPSERT</code> and the resource record set already exists, Amazon Route 53 automatically performs a <code>DELETE</code> request and a <code>CREATE</code> request. When Amazon Route 53 calculates the number of characters in the Value elements of a change batch request, it adds the number of characters in the Value element of the resource record set being deleted and the number of characters in the Value element of the resource record set being created.</p> </note> </li> <li> <p>The same resource cannot be deleted more than once in a single batch.</p> </li> </ul> <note> <p>If the value of the Action element in a ChangeResourceRecordSets request is <code>UPSERT</code> and the resource record set already exists, Amazon Route 53 automatically performs a <code>DELETE</code> request and a <code>CREATE</code> request. When Amazon Route 53 calculates the number of characters in the Value elements of a change batch request, it adds the number of characters in the Value element of the resource record set being deleted and the number of characters in the Value element of the resource record set being created.</p> </note> <p>For more information on transactional changes, see <a>ChangeResourceRecordSets</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChangeResourceRecordSetsResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "NoSuchHealthCheck",
            "schema": {
              "$ref": "#/definitions/NoSuchHealthCheck"
            }
          },
          "402": {
            "description": "InvalidChangeBatch",
            "schema": {
              "$ref": "#/definitions/InvalidChangeBatch"
            }
          },
          "403": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "404": {
            "description": "PriorRequestNotComplete",
            "schema": {
              "$ref": "#/definitions/PriorRequestNotComplete"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeResourceRecordSetsRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/tags/{ResourceType}/{ResourceId}": {
      "get": {
        "operationId": "ListTagsForResource",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchHealthCheck",
            "schema": {
              "$ref": "#/definitions/NoSuchHealthCheck"
            }
          },
          "402": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "403": {
            "description": "PriorRequestNotComplete",
            "schema": {
              "$ref": "#/definitions/PriorRequestNotComplete"
            }
          },
          "404": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceRequest"
            }
          },
          {
            "name": "ResourceType",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "ResourceId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/healthcheck": {
      "get": {
        "operationId": "ListHealthChecks",
        "description": "<p>Retrieve a list of your health checks. Send a <code>GET</code> request to the <code>/2013-04-01/healthcheck</code> resource. The response to this request includes a <code>HealthChecks</code> element with zero or more <code>HealthCheck</code> child elements. By default, the list of health checks is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the health check that the list begins with.</p> <p>For information about listing health checks using the Amazon Route 53 console, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover.html\">Amazon Route 53 Health Checks and DNS Failover</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListHealthChecksResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "IncompatibleVersion",
            "schema": {
              "$ref": "#/definitions/IncompatibleVersion"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListHealthChecksRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzone": {
      "get": {
        "operationId": "ListHostedZones",
        "description": "<p>To retrieve a list of your public and private hosted zones, send a <code>GET</code> request to the <code>/2013-04-01/hostedzone</code> resource. The response to this request includes a <code>HostedZones</code> child element for each hosted zone created by the current AWS account.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of hosted zones, you can use the <code>maxitems</code> parameter to list them in groups of up to 100. The response includes four values that help navigate from one group of <code>maxitems</code> hosted zones to the next:</p> <ul> <li> <p> <code>MaxItems</code>is the value specified for the <code>maxitems</code> parameter in the request that produced the current response.</p> </li> <li> <p>If the value of <code>IsTruncated</code> in the response is true, there are more hosted zones associated with the current AWS account. </p> </li> <li> <p> <code>NextMarker</code>is the hosted zone ID of the next hosted zone that is associated with the current AWS account. If you want to list more hosted zones, make another call to <code>ListHostedZones</code>, and specify the value of the <code>NextMarker</code> element in the marker parameter. </p> <p>If <code>IsTruncated</code> is false, the <code>NextMarker</code> element is omitted from the response.</p> </li> <li> <p>If you're making the second or subsequent call to <code>ListHostedZones</code>, the <code>Marker</code> element matches the value that you specified in the <code>marker</code> parameter in the previous request.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListHostedZonesResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchDelegationSet",
            "schema": {
              "$ref": "#/definitions/NoSuchDelegationSet"
            }
          },
          "402": {
            "description": "DelegationSetNotReusable",
            "schema": {
              "$ref": "#/definitions/DelegationSetNotReusable"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListHostedZonesRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/delegationset": {
      "get": {
        "operationId": "ListReusableDelegationSets",
        "description": "<p>To retrieve a list of your reusable delegation sets, send a <code>GET</code> request to the <code>/2013-04-01/delegationset</code> resource. The response to this request includes a <code>DelegationSets</code> element with zero, one, or multiple <code>DelegationSet</code> child elements. By default, the list of delegation sets is displayed on a single page. You can control the length of the page that is displayed by using the <code>MaxItems</code> parameter. You can use the <code>Marker</code> parameter to control the delegation set that the list begins with. </p> <note> <p> Amazon Route 53 returns a maximum of 100 items. If you set MaxItems to a value greater than 100, Amazon Route 53 returns only the first 100.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListReusableDelegationSetsResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReusableDelegationSetsRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicy": {
      "post": {
        "operationId": "CreateTrafficPolicy",
        "description": "<p>Creates a traffic policy, which you use to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com).</p> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicy</code> resource. The request body must include a document with a <code>CreateTrafficPolicyRequest</code> element. The response includes the <code>CreateTrafficPolicyResponse</code> element, which contains information about the new traffic policy.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTrafficPolicyResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "TooManyTrafficPolicies",
            "schema": {
              "$ref": "#/definitions/TooManyTrafficPolicies"
            }
          },
          "402": {
            "description": "TrafficPolicyAlreadyExists",
            "schema": {
              "$ref": "#/definitions/TrafficPolicyAlreadyExists"
            }
          },
          "403": {
            "description": "InvalidTrafficPolicyDocument",
            "schema": {
              "$ref": "#/definitions/InvalidTrafficPolicyDocument"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTrafficPolicyRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicyinstance": {
      "post": {
        "operationId": "CreateTrafficPolicyInstance",
        "description": "<p>Creates resource record sets in a specified hosted zone based on the settings in a specified traffic policy version. In addition, <code>CreateTrafficPolicyInstance</code> associates the resource record sets with a specified domain name (such as example.com) or subdomain name (such as www.example.com). Amazon Route 53 responds to DNS queries for the domain or subdomain name by using the resource record sets that <code>CreateTrafficPolicyInstance</code> created.</p> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicyinstance</code> resource. The request body must include a document with a <code>CreateTrafficPolicyRequest</code> element. The response returns the <code>CreateTrafficPolicyInstanceResponse</code> element, which contains information about the traffic policy instance.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTrafficPolicyInstanceResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "402": {
            "description": "TooManyTrafficPolicyInstances",
            "schema": {
              "$ref": "#/definitions/TooManyTrafficPolicyInstances"
            }
          },
          "403": {
            "description": "NoSuchTrafficPolicy",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicy"
            }
          },
          "404": {
            "description": "TrafficPolicyInstanceAlreadyExists",
            "schema": {
              "$ref": "#/definitions/TrafficPolicyInstanceAlreadyExists"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTrafficPolicyInstanceRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicy/{Id}": {
      "post": {
        "operationId": "CreateTrafficPolicyVersion",
        "description": "<p>Creates a new version of an existing traffic policy. When you create a new version of a traffic policy, you specify the ID of the traffic policy that you want to update and a JSON-formatted document that describes the new version. You use traffic policies to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com). You can create a maximum of 1000 versions of a traffic policy. If you reach the limit and need to create another version, you'll need to start a new traffic policy.</p> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 version</i>/trafficpolicy/</code> resource. The request body includes a document with a <code>CreateTrafficPolicyVersionRequest</code> element. The response returns the <code>CreateTrafficPolicyVersionResponse</code> element, which contains information about the new version of the traffic policy.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateTrafficPolicyVersionResponse"
            }
          },
          "400": {
            "description": "NoSuchTrafficPolicy",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicy"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "402": {
            "description": "ConcurrentModification",
            "schema": {
              "$ref": "#/definitions/ConcurrentModification"
            }
          },
          "403": {
            "description": "InvalidTrafficPolicyDocument",
            "schema": {
              "$ref": "#/definitions/InvalidTrafficPolicyDocument"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTrafficPolicyVersionRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/healthcheck/{HealthCheckId}": {
      "post": {
        "operationId": "UpdateHealthCheck",
        "description": "<p>Updates an existing health check.</p> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 API version</i>/healthcheck/<i>health check ID</i> </code> resource. The request body must include an XML document with an <code>UpdateHealthCheckRequest</code> element. For more information about updating health checks, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/health-checks-creating-deleting.html\">Creating, Updating, and Deleting Health Checks</a> in the Amazon Route 53 Developer Guide.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateHealthCheckResponse"
            }
          },
          "400": {
            "description": "NoSuchHealthCheck",
            "schema": {
              "$ref": "#/definitions/NoSuchHealthCheck"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "402": {
            "description": "HealthCheckVersionMismatch",
            "schema": {
              "$ref": "#/definitions/HealthCheckVersionMismatch"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateHealthCheckRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "HealthCheckId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzone/{Id}": {
      "post": {
        "operationId": "UpdateHostedZoneComment",
        "description": "Updates the hosted zone comment. Send a <code>POST</code> request to the <code>/2013-04-01/hostedzone/<i>hosted zone ID</i> </code> resource. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateHostedZoneCommentResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateHostedZoneCommentRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/delegationset/{Id}": {
      "get": {
        "operationId": "GetReusableDelegationSet",
        "description": "Retrieves the reusable delegation set. Send a <code>GET</code> request to the <code>/2013-04-01/delegationset/<i>delegation set ID</i> </code> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetReusableDelegationSetResponse"
            }
          },
          "400": {
            "description": "NoSuchDelegationSet",
            "schema": {
              "$ref": "#/definitions/NoSuchDelegationSet"
            }
          },
          "401": {
            "description": "DelegationSetNotReusable",
            "schema": {
              "$ref": "#/definitions/DelegationSetNotReusable"
            }
          },
          "402": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReusableDelegationSetRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicy/{Id}/{Version}": {
      "post": {
        "operationId": "UpdateTrafficPolicyComment",
        "description": "<p>Updates the comment for a specified traffic policy version.</p> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicy/</code> resource.</p> <p>The request body must include a document with an <code>UpdateTrafficPolicyCommentRequest</code> element.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateTrafficPolicyCommentResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchTrafficPolicy",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicy"
            }
          },
          "402": {
            "description": "ConcurrentModification",
            "schema": {
              "$ref": "#/definitions/ConcurrentModification"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTrafficPolicyCommentRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "Version",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicyinstance/{Id}": {
      "post": {
        "operationId": "UpdateTrafficPolicyInstance",
        "description": "<p>Updates the resource record sets in a specified hosted zone that were created based on the settings in a specified traffic policy version.</p> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicyinstance/<i>traffic policy ID</i> </code> resource. The request body must include a document with an <code>UpdateTrafficPolicyInstanceRequest</code> element.</p> <p>When you update a traffic policy instance, Amazon Route 53 continues to respond to DNS queries for the root resource record set name (such as example.com) while it replaces one group of resource record sets with another. Amazon Route 53 performs the following operations:</p> <ol> <li> <p>Amazon Route 53 creates a new group of resource record sets based on the specified traffic policy. This is true regardless of how substantial the differences are between the existing resource record sets and the new resource record sets. </p> </li> <li> <p>When all of the new resource record sets have been created, Amazon Route 53 starts to respond to DNS queries for the root resource record set name (such as example.com) by using the new resource record sets.</p> </li> <li> <p>Amazon Route 53 deletes the old group of resource record sets that are associated with the root resource record set name.</p> </li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateTrafficPolicyInstanceResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchTrafficPolicy",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicy"
            }
          },
          "402": {
            "description": "NoSuchTrafficPolicyInstance",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicyInstance"
            }
          },
          "403": {
            "description": "PriorRequestNotComplete",
            "schema": {
              "$ref": "#/definitions/PriorRequestNotComplete"
            }
          },
          "404": {
            "description": "ConflictingTypes",
            "schema": {
              "$ref": "#/definitions/ConflictingTypes"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTrafficPolicyInstanceRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzone/{Id}/disassociatevpc": {
      "post": {
        "operationId": "DisassociateVPCFromHostedZone",
        "description": "<p>Disassociates a VPC from a Amazon Route 53 private hosted zone. </p> <p>Send a <code>POST</code> request to the <code>/<i>Amazon Route 53 API version</i>/hostedzone/<i>hosted zone ID</i>/disassociatevpc</code> resource. The request body must include an XML document with a <code>DisassociateVPCFromHostedZoneRequest</code> element. The response returns the <code>DisassociateVPCFromHostedZoneResponse</code> element.</p> <important> <p>You can only disassociate a VPC from a private hosted zone when two or more VPCs are associated with that hosted zone. You cannot convert a private hosted zone into a public hosted zone.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DisassociateVPCFromHostedZoneResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidVPCId",
            "schema": {
              "$ref": "#/definitions/InvalidVPCId"
            }
          },
          "402": {
            "description": "VPCAssociationNotFound",
            "schema": {
              "$ref": "#/definitions/VPCAssociationNotFound"
            }
          },
          "403": {
            "description": "LastVPCAssociation",
            "schema": {
              "$ref": "#/definitions/LastVPCAssociation"
            }
          },
          "404": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DisassociateVPCFromHostedZoneRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/change/{Id}": {
      "get": {
        "operationId": "GetChange",
        "description": "<p>Returns the current status of a change batch request. The status is one of the following values:</p> <ul> <li> <p> <code>PENDING</code> indicates that the changes in this request have not replicated to all Amazon Route 53 DNS servers. This is the initial status of all change batch requests.</p> </li> <li> <p> <code>INSYNC</code> indicates that the changes have replicated to all Amazon Route 53 DNS servers. </p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetChangeResponse"
            }
          },
          "400": {
            "description": "NoSuchChange",
            "schema": {
              "$ref": "#/definitions/NoSuchChange"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetChangeRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/changedetails/{Id}": {
      "get": {
        "operationId": "GetChangeDetails",
        "description": "Returns the status and changes of a change batch request.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetChangeDetailsResponse"
            }
          },
          "400": {
            "description": "NoSuchChange",
            "schema": {
              "$ref": "#/definitions/NoSuchChange"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetChangeDetailsRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/checkeripranges": {
      "get": {
        "operationId": "GetCheckerIpRanges",
        "description": "Retrieves a list of the IP ranges used by Amazon Route 53 health checkers to check the health of your resources. Send a <code>GET</code> request to the <code>/<i>Amazon Route 53 API version</i>/checkeripranges</code> resource. Use these IP addresses to configure router and firewall rules to allow health checkers to check the health of your resources.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCheckerIpRangesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCheckerIpRangesRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/geolocation": {
      "get": {
        "operationId": "GetGeoLocation",
        "description": "Retrieves a single geo location. Send a <code>GET</code> request to the <code>/2013-04-01/geolocation</code> resource with one of these options: continentcode | countrycode | countrycode and subdivisioncode.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetGeoLocationResponse"
            }
          },
          "400": {
            "description": "NoSuchGeoLocation",
            "schema": {
              "$ref": "#/definitions/NoSuchGeoLocation"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetGeoLocationRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/healthcheckcount": {
      "get": {
        "operationId": "GetHealthCheckCount",
        "description": "To retrieve a count of all your health checks, send a <code>GET</code> request to the <code>/2013-04-01/healthcheckcount</code> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetHealthCheckCountResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetHealthCheckCountRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/healthcheck/{HealthCheckId}/lastfailurereason": {
      "get": {
        "operationId": "GetHealthCheckLastFailureReason",
        "description": "If you want to learn why a health check is currently failing or why it failed most recently (if at all), you can get the failure reason for the most recent failure. Send a <code>GET</code> request to the <code>/<i>Amazon Route 53 API version</i>/healthcheck/<i>health check ID</i>/lastfailurereason</code> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetHealthCheckLastFailureReasonResponse"
            }
          },
          "400": {
            "description": "NoSuchHealthCheck",
            "schema": {
              "$ref": "#/definitions/NoSuchHealthCheck"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetHealthCheckLastFailureReasonRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "HealthCheckId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/healthcheck/{HealthCheckId}/status": {
      "get": {
        "operationId": "GetHealthCheckStatus",
        "description": "Gets status of a specified health check. Send a <code>GET</code> request to the <code>/2013-04-01/healthcheck/<i>health check ID</i>/status</code> resource. You can use this call to get a health check's current status. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetHealthCheckStatusResponse"
            }
          },
          "400": {
            "description": "NoSuchHealthCheck",
            "schema": {
              "$ref": "#/definitions/NoSuchHealthCheck"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetHealthCheckStatusRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          },
          {
            "name": "HealthCheckId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzonecount": {
      "get": {
        "operationId": "GetHostedZoneCount",
        "description": "Retrieves a count of all your hosted zones. Send a <code>GET</code> request to the <code>/2013-04-01/hostedzonecount</code> resource.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetHostedZoneCountResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetHostedZoneCountRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicyinstancecount": {
      "get": {
        "operationId": "GetTrafficPolicyInstanceCount",
        "description": "<p>Gets the number of traffic policy instances that are associated with the current AWS account.</p> <p>To get the number of traffic policy instances, send a <code>GET</code> request to the <code>/2013-04-01/trafficpolicyinstancecount</code> resource.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTrafficPolicyInstanceCountResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetTrafficPolicyInstanceCountRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzone/{Id}/changes": {
      "get": {
        "operationId": "ListChangeBatchesByHostedZone",
        "description": "Gets the list of ChangeBatches in a given time period for a given hosted zone.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListChangeBatchesByHostedZoneResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListChangeBatchesByHostedZoneRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzone/{Id}/rrsChanges": {
      "get": {
        "operationId": "ListChangeBatchesByRRSet",
        "description": "Gets the list of ChangeBatches in a given time period for a given hosted zone and RRSet.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListChangeBatchesByRRSetResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListChangeBatchesByRRSetRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/geolocations": {
      "get": {
        "operationId": "ListGeoLocations",
        "description": "<p>Retrieves a list of supported geo locations. Send a <code>GET</code> request to the <code>/2013-04-01/geolocations</code> resource. The response to this request includes a <code>GeoLocationDetailsList</code> element for each location that Amazon Route 53 supports.</p> <p>Countries are listed first, and continents are listed last. If Amazon Route 53 supports subdivisions for a country (for example, states or provinces), the subdivisions for that country are listed in alphabetical order immediately after the corresponding country. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListGeoLocationsResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListGeoLocationsRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzonesbyname": {
      "get": {
        "operationId": "ListHostedZonesByName",
        "description": "<p>Retrieves a list of your hosted zones in lexicographic order. Send a <code>GET</code> request to the <code>/2013-04-01/hostedzonesbyname</code> resource. The response includes a <code>HostedZones</code> child element for each hosted zone created by the current AWS account. </p> <p> <code>ListHostedZonesByName</code> sorts hosted zones by name with the labels reversed. For example:</p> <ul> <li> <p> <code>com.example.www.</code> </p> </li> </ul> <p>Note the trailing dot, which can change the sort order in some circumstances.</p> <p>If the domain name includes escape characters or Punycode, <code>ListHostedZonesByName</code> alphabetizes the domain name using the escaped or Punycoded value, which is the format that Amazon Route 53 saves in its database. For example, to create a hosted zone for example.com, specify ex\\344mple.com for the domain name. <code>ListHostedZonesByName</code> alphabetizes it as:</p> <ul> <li> <p> <code>com.ex\\344mple.</code> </p> </li> </ul> <p>The labels are reversed and alphabetized using the escaped value. For more information about valid domain name formats, including internationalized domain names, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the Amazon Route 53 Developer Guide.</p> <p>Amazon Route 53 returns up to 100 items in each response. If you have a lot of hosted zones, use the <code>MaxItems</code> parameter to list them in groups of up to 100. The response includes values that help navigate from one group of <code>MaxItems</code> hosted zones to the next:</p> <ul> <li> <p>The <code>DNSName</code> and <code>HostedZoneId</code> elements in the response contain the values, if any, specified for the <code>dnsname</code> and <code>hostedzoneid</code> parameters in the request that produced the current response.</p> </li> <li> <p>The <code>MaxItems</code> element in the response contains the value, if any, that you specified for the <code>maxitems</code> parameter in the request that produced the current response.</p> </li> <li> <p>If the value of <code>IsTruncated</code> in the response is true, there are more hosted zones associated with the current AWS account. </p> <p>If <code>IsTruncated</code> is false, this response includes the last hosted zone that is associated with the current account. The <code>NextDNSName</code> element and <code>NextHostedZoneId</code> elements are omitted from the response.</p> </li> <li> <p>The <code>NextDNSName</code> and <code>NextHostedZoneId</code> elements in the response contain the domain name and the hosted zone ID of the next hosted zone that is associated with the current AWS account. If you want to list more hosted zones, make another call to <code>ListHostedZonesByName</code>, and specify the value of <code>NextDNSName</code> and <code>NextHostedZoneId</code> in the <code>dnsname</code> and <code>hostedzoneid</code> parameters, respectively.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListHostedZonesByNameResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "InvalidDomainName",
            "schema": {
              "$ref": "#/definitions/InvalidDomainName"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListHostedZonesByNameRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/hostedzone/{Id}/rrset": {
      "get": {
        "operationId": "ListResourceRecordSets",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListResourceRecordSetsResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListResourceRecordSetsRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/tags/{ResourceType}": {
      "post": {
        "operationId": "ListTagsForResources",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsForResourcesResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchHealthCheck",
            "schema": {
              "$ref": "#/definitions/NoSuchHealthCheck"
            }
          },
          "402": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "403": {
            "description": "PriorRequestNotComplete",
            "schema": {
              "$ref": "#/definitions/PriorRequestNotComplete"
            }
          },
          "404": {
            "description": "ThrottlingException",
            "schema": {
              "$ref": "#/definitions/ThrottlingException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourcesRequest"
            }
          },
          {
            "name": "ResourceType",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicies": {
      "get": {
        "operationId": "ListTrafficPolicies",
        "description": "<p>Gets information about the latest version for every traffic policy that is associated with the current AWS account. Send a <code>GET</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicy</code> resource.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policies, you can use the <code>maxitems</code> parameter to list them in groups of up to 100.</p> <p>The response includes three values that help you navigate from one group of <code>maxitems</code> traffic policies to the next:</p> <ul> <li> <p> <b>IsTruncated</b> </p> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policies associated with the current AWS account.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy that is associated with the current account.</p> </li> <li> <p> <b>TrafficPolicyIdMarker</b> </p> <p>If <code>IsTruncated</code> is <code>true</code>, <code>TrafficPolicyIdMarker</code> is the ID of the first traffic policy in the next group of <code>MaxItems</code> traffic policies. If you want to list more traffic policies, make another call to <code>ListTrafficPolicies</code>, and specify the value of the <code>TrafficPolicyIdMarker</code> element from the response in the <code>TrafficPolicyIdMarker</code> request parameter.</p> <p>If <code>IsTruncated</code> is <code>false</code>, the <code>TrafficPolicyIdMarker</code> element is omitted from the response.</p> </li> <li> <p> <b>MaxItems</b> </p> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTrafficPoliciesResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTrafficPoliciesRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicyinstances": {
      "get": {
        "operationId": "ListTrafficPolicyInstances",
        "description": "<p>Gets information about the traffic policy instances that you created by using the current AWS account.</p> <note> <p>After you submit an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Send a <code>GET</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicyinstance</code> resource.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p> <p>The response includes five values that help you navigate from one group of <code>MaxItems</code> traffic policy instances to the next:</p> <ul> <li> <p> <b>IsTruncated</b> </p> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policy instances associated with the current AWS account.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy instance that is associated with the current account.</p> </li> <li> <p> <b>MaxItems</b> </p> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </li> <li> <p> <b>HostedZoneIdMarker</b>, <b>TrafficPolicyInstanceNameMarker</b>, and <b>TrafficPolicyInstanceTypeMarker</b> </p> <p>If <code>IsTruncated</code> is <code>true</code>, these three values in the response represent the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances. To list more traffic policy instances, make another call to <code>ListTrafficPolicyInstances</code>, and specify these values in the corresponding request parameters.</p> <p>If <code>IsTruncated</code> is <code>false</code>, all three elements are omitted from the response.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyInstancesResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchTrafficPolicyInstance",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicyInstance"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyInstancesRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicyinstances/hostedzone": {
      "get": {
        "operationId": "ListTrafficPolicyInstancesByHostedZone",
        "description": "<p>Gets information about the traffic policy instances that you created in a specified hosted zone.</p> <note> <p>After you submit an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Send a <code>GET</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicyinstance</code> resource and include the ID of the hosted zone.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p> <p>The response includes four values that help you navigate from one group of <code>MaxItems</code> traffic policy instances to the next:</p> <ul> <li> <p> <b>IsTruncated</b> </p> <p>If the value of <code/>IsTruncated in the response is <code>true</code>, there are more traffic policy instances associated with the current AWS account.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy instance that is associated with the current account.</p> </li> <li> <p> <b>MaxItems</b> </p> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </li> <li> <p> <b>TrafficPolicyInstanceNameMarker</b> and <b>TrafficPolicyInstanceTypeMarker</b> </p> <p>If <code>IsTruncated</code> is <code>true</code>, these two values in the response represent the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances. To list more traffic policy instances, make another call to <code>ListTrafficPolicyInstancesByHostedZone</code>, and specify these values in the corresponding request parameters.</p> <p>If <code>IsTruncated</code> is <code>false</code>, all three elements are omitted from the response.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyInstancesByHostedZoneResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchTrafficPolicyInstance",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicyInstance"
            }
          },
          "402": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyInstancesByHostedZoneRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicyinstances/trafficpolicy": {
      "get": {
        "operationId": "ListTrafficPolicyInstancesByPolicy",
        "description": "<p>Gets information about the traffic policy instances that you created by using a specify traffic policy version.</p> <note> <p>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Send a <code>GET</code> request to the <code>/<i>Route 53 API version</i>/trafficpolicyinstance</code> resource and include the ID and version of the traffic policy.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p> <p>The response includes five values that help you navigate from one group of <code>MaxItems</code> traffic policy instances to the next:</p> <ul> <li> <p> <b>IsTruncated</b> </p> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policy instances associated with the specified traffic policy.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy instance that is associated with the specified traffic policy.</p> </li> <li> <p> <b>MaxItems</b> </p> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </li> <li> <p> <b>HostedZoneIdMarker</b>, <b>TrafficPolicyInstanceNameMarker</b>, and <b>TrafficPolicyInstanceTypeMarker</b> </p> <p>If <code>IsTruncated</code> is <code>true</code>, these values in the response represent the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances. To list more traffic policy instances, make another call to <code>ListTrafficPolicyInstancesByPolicy</code>, and specify these values in the corresponding request parameters.</p> <p>If <code>IsTruncated</code> is <code>false</code>, all three elements are omitted from the response.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyInstancesByPolicyResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchTrafficPolicyInstance",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicyInstance"
            }
          },
          "402": {
            "description": "NoSuchTrafficPolicy",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicy"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyInstancesByPolicyRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/trafficpolicies/{Id}/versions": {
      "get": {
        "operationId": "ListTrafficPolicyVersions",
        "description": "<p>Gets information about all of the versions for a specified traffic policy.</p> <p>Send a <code>GET</code> request to the <code>/<i>Amazon Route 53 API version</i>/trafficpolicy</code> resource and specify the ID of the traffic policy for which you want to list versions.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policies, you can use the <code>maxitems</code> parameter to list them in groups of up to 100.</p> <p>The response includes three values that help you navigate from one group of <code>maxitems</code>maxitems traffic policies to the next:</p> <ul> <li> <p> <b>IsTruncated</b> </p> <p>If the value of <code>IsTruncated</code> in the response is <code>true</code>, there are more traffic policy versions associated with the specified traffic policy.</p> <p>If <code>IsTruncated</code> is <code>false</code>, this response includes the last traffic policy version that is associated with the specified traffic policy.</p> </li> <li> <p> <b>TrafficPolicyVersionMarker</b> </p> <p>The ID of the next traffic policy version that is associated with the current AWS account. If you want to list more traffic policies, make another call to <code>ListTrafficPolicyVersions</code>, and specify the value of the <code>TrafficPolicyVersionMarker</code> element in the <code>TrafficPolicyVersionMarker</code> request parameter.</p> <p>If <code>IsTruncated</code> is <code>false</code>, Amazon Route 53 omits the <code>TrafficPolicyVersionMarker</code> element from the response.</p> </li> <li> <p> <b>MaxItems</b> </p> <p>The value that you specified for the <code>MaxItems</code> parameter in the request that produced the current response.</p> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyVersionsResponse"
            }
          },
          "400": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "401": {
            "description": "NoSuchTrafficPolicy",
            "schema": {
              "$ref": "#/definitions/NoSuchTrafficPolicy"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTrafficPolicyVersionsRequest"
            }
          },
          {
            "name": "Id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2013-04-01/testdnsanswer": {
      "get": {
        "operationId": "TestDNSAnswer",
        "description": "",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TestDNSAnswerResponse"
            }
          },
          "400": {
            "description": "NoSuchHostedZone",
            "schema": {
              "$ref": "#/definitions/NoSuchHostedZone"
            }
          },
          "401": {
            "description": "InvalidInput",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestDNSAnswerRequest"
            }
          },
          {
            "name": "Location",
            "in": "header",
            "type": "string",
            "required": true
          }
        ]
      }
    }
  },
  "definitions": {
    "AWSAccountID": {
      "type": "string"
    },
    "AlarmIdentifier": {
      "type": "object",
      "required": [
        "Region",
        "Name"
      ],
      "properties": {
        "Region": {
          "$ref": "#/definitions/CloudWatchRegion",
          "description": "<p>A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy.</p> <p>For the current list of CloudWatch regions, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cw_region\">Amazon CloudWatch</a> in <i>AWS Regions and Endpoints</i> in the <i>Amazon Web Services General Reference</i>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/AlarmName",
          "description": "The name of the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy."
        }
      },
      "description": "A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy."
    },
    "AlarmName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 256
    },
    "AliasHealthEnabled": {
      "type": "boolean"
    },
    "AliasTarget": {
      "type": "object",
      "required": [
        "HostedZoneId",
        "DNSName",
        "EvaluateTargetHealth"
      ],
      "properties": {
        "HostedZoneId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p> <i>Alias resource records sets only</i>: The value used depends on where the queries are routed:</p> <dl> <dt>A CloudFront distribution</dt> <dd> <p>Specify <code>Z2FDTNDATAQYW2</code>.</p> <note> <p>Alias resource record sets for CloudFront cannot be created in a private zone.</p> </note> </dd> <dt>Elastic Beanstalk environment</dt> <dd> <p>Specify the hosted zone ID for the region in which you created the environment. The environment must have a regionalized subdomain. For a list of regions and the corresponding hosted zone IDs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\"> AWS Elastic Beanstalk</a> in the <i>Regions and Endpoints</i> chapter of the AWSk General Reference.</p> </dd> <dt>ELB load balancer</dt> <dd> <p>Specify the value of the hosted zone ID for the load balancer. Use the following methods to get the hosted zone ID:</p> <ul> <li> <p>AWS Management Console: Go to the Amazon EC2; page, click Load Balancers in the navigation pane, select the load balancer, and get the value of the Hosted Zone ID field on the Description tab. Use the same process to get the DNS Name. See <a>HostedZone$Name</a>.</p> </li> <li> <p>Elastic Load Balancing API: Use <code>DescribeLoadBalancers</code> to get the value of <code>CanonicalHostedZoneNameID</code>. Use the same process to get the <code>CanonicalHostedZoneName</code>. See <a>HostedZone$Name</a>.</p> </li> <li> <p>AWS CLI: Use <code> <a href=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</a> </code> to get the value of <code>CanonicalHostedZoneNameID</code>. Use the same process to get the <code>CanonicalHostedZoneName</code>. See <a>HostedZone$Name</a>.</p> </li> </ul> </dd> <dt>An Amazon S3 bucket configured as a static website</dt> <dd> <p>Specify the hosted zone ID for the Amazon S3 website endpoint in which you created the bucket. For more information about valid values, see the table <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\"> Amazon S3 (S3) Website Endpoints</a> in the <i>Amazon Web Services General Reference</i>.</p> </dd> <dt>Another Amazon Route 53 resource record set in your hosted zone</dt> <dd> <p>Specify the hosted zone ID of your hosted zone. (An alias resource record set cannot reference a resource record set in a different hosted zone.)</p> </dd> </dl>"
        },
        "DNSName": {
          "$ref": "#/definitions/DNSName",
          "description": "<p> <i>Alias resource record sets only:</i> The value that you specify depends on where you want to route queries:</p> <ul> <li> <p> <b>A CloudFront distribution:</b> Specify the domain name that CloudFront assigned when you created your distribution.</p> <p>Your CloudFront distribution must include an alternate domain name that matches the name of the resource record set. For example, if the name of the resource record set is <i>acme.example.com</i>, your CloudFront distribution must include <i>acme.example.com</i> as one of the alternate domain names. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html\">Using Alternate Domain Names (CNAMEs)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> </li> <li> <p> <b>Elastic Beanstalk environment</b>: Specify the <code>CNAME</code> attribute for the environment. (The environment must have a regionalized domain name.) You can use the following methods to get the value of the CNAME attribute:</p> <ul> <li> <p> <i>AWS Managment Console</i>: For information about how to get the value by using the console, see <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customdomains.html\">Using Custom Domains with Elastic Beanstalk</a> in the <i>AWS Elastic Beanstalk Developer Guide</i>.</p> </li> <li> <p> <i>Elastic Load Balancing API</i>: Use the <code>DescribeEnvironments</code> action to get the value of the <code>CNAME</code> attribute. For more information, see <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/API_DescribeEnvironments.html\">DescribeEnvironments</a> in the <i>AWS Elastic Beanstalk API Reference</i>.</p> </li> <li> <p> <i>AWS CLI</i>: Use the describe-environments command to get the value of the <code>CNAME</code> attribute. For more information, see <a href=\"http://docs.aws.amazon.com/cli/latest/reference/elasticbeanstalk/describe-environments.html\">describe-environments</a> in the <i>AWS Command Line Interface Reference</i>.</p> </li> </ul> </li> <li> <p> <b>An ELB load balancer:</b> Specify the DNS name associated with the load balancer. Get the DNS name by using the AWS Management Console, the ELB API, or the AWS CLI. Use the same method to get values for <code>HostedZoneId</code> and <code>DNSName</code>. If you get one value from the console and the other value from the API or the CLI, creating the resource record set will fail.</p> <ul> <li> <p> <i>AWS Management Console</i>: Go to the Amazon EC2 page, click Load Balancers in the navigation pane, choose the load balancer, choose the Description tab, and get the value of the DNS Name field that begins with dualstack. Use the same process to get the Hosted Zone ID. See <a>HostedZone$Id</a>.</p> </li> <li> <p> <i>Elastic Load Balancing API</i>: Use <code> <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> </code> to get the value of <code>CanonicalHostedZoneName</code>. Use the same process to get the <code>CanonicalHostedZoneNameId</code>. See <a>HostedZone$Id</a>.</p> </li> <li> <p> <i>AWS CLI</i>: Use <code> <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DescribeLoadBalancers.html\">describe-load-balancers</a> </code> to get the value of <code>CanonicalHostedZoneName</code>. Use the same process to get the <code>CanonicalHostedZoneNameId</code>. See HostedZoneId.</p> </li> </ul> </li> <li> <p> <b>An Amazon S3 bucket that is configured as a static website:</b> Specify the domain name of the Amazon S3 website endpoint in which you created the bucket; for example, <code>s3-website-us-east-1.amazonaws.com</code>. For more information about valid values, see the table <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon Simple Storage Service (S3) Website Endpoints</a> in the <i>Amazon Web Services General Reference</i>. For more information about using Amazon S3 buckets for websites, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html\">Hosting a Static Website on Amazon S3</a> in the <i>Amazon Simple Storage Service Developer Guide.</i> </p> </li> <li> <p> <b>Another Amazon Route 53 resource record set</b>: Specify the value of the <code>Name</code> element for a resource record set in the current hosted zone.</p> </li> </ul>"
        },
        "EvaluateTargetHealth": {
          "$ref": "#/definitions/AliasHealthEnabled",
          "description": "<p> <i>Applies only to alias, weighted alias, latency alias, and failover alias record sets:</i> If you set the value of <code>EvaluateTargetHealth</code> to <code>true</code> for the resource record set or sets in an alias, weighted alias, latency alias, or failover alias resource record set, and if you specify a value for <code> <a>HealthCheck$Id</a> </code> for every resource record set that is referenced by these alias resource record sets, the alias resource record sets inherit the health of the referenced resource record sets.</p> <p>In this configuration, when Amazon Route 53 receives a DNS query for an alias resource record set:</p> <ul> <li> <p>Amazon Route 53 looks at the resource record sets that are referenced by the alias resource record sets to determine which health checks they're using.</p> </li> <li> <p>Amazon Route 53 checks the current status of each health check. (Amazon Route 53 periodically checks the health of the endpoint that is specified in a health check; it doesn't perform the health check when the DNS query arrives.)</p> </li> <li> <p>Based on the status of the health checks, Amazon Route 53 determines which resource record sets are healthy. Unhealthy resource record sets are immediately removed from consideration. In addition, if all of the resource record sets that are referenced by an alias resource record set are unhealthy, that alias resource record set also is immediately removed from consideration.</p> </li> <li> <p>Based on the configuration of the alias resource record sets (weighted alias or latency alias, for example) and the configuration of the resource record sets that they reference, Amazon Route 53 chooses a resource record set from the healthy resource record sets, and responds to the query.</p> </li> </ul> <p>Note the following:</p> <ul> <li> <p>You cannot set <code>EvaluateTargetHealth</code> to <code>true</code> when the alias target is a CloudFront distribution.</p> </li> <li> <p>If the AWS resource that you specify in <code>AliasTarget</code> is a resource record set or a group of resource record sets (for example, a group of weighted resource record sets), but it is not another alias resource record set, we recommend that you associate a health check with all of the resource record sets in the alias target.For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html#dns-failover-complex-configs-hc-omitting\">What Happens When You Omit Health Checks?</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </li> <li> <p>If you specify an Elastic Beanstalk environment in <code>HostedZoneId</code> and <code>DNSName</code>, and if the environment contains an ELB load balancer, Elastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. (An environment automatically contains an ELB load balancer if it includes more than one Amazon EC2 instance.) If you set <code>EvaluateTargetHealth</code> to <code>true</code> and either no Amazon EC2 instances are healthy or the load balancer itself is unhealthy, Amazon Route 53 routes queries to other available resources that are healthy, if any.</p> <p>If the environment contains a single Amazon EC2 instance, there are no special requirements.</p> </li> <li> <p>If you specify an ELB load balancer in <code> <a>AliasTarget</a> </code>, Elastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. If no Amazon EC2 instances are healthy or if the load balancer itself is unhealthy, and if <code>EvaluateTargetHealth</code> is true for the corresponding alias resource record set, Amazon Route 53 routes queries to other resources. When you create a load balancer, you configure settings for Elastic Load Balancing health checks; they're not Amazon Route 53 health checks, but they perform a similar function. Do not create Amazon Route 53 health checks for the Amazon EC2 instances that you register with an ELB load balancer.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html\">How Health Checks Work in More Complex Amazon Route 53 Configurations</a> in the <i>Amazon Route 53 Developers Guide</i>.</p> </li> <li> <p>We recommend that you set <code>EvaluateTargetHealth</code> to true only when you have enough idle capacity to handle the failure of one or more endpoints.</p> </li> </ul> <p>For more information and examples, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover.html\">Amazon Route 53 Health Checks and DNS Failover</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
        }
      },
      "description": "<p> <i>Alias resource record sets only:</i> Information about the CloudFront distribution, Elastic Beanstalk environment, ELB load balancer, Amazon S3 bucket, or Amazon Route 53 resource record set to which you are redirecting queries. The Elastic Beanstalk environment must have a regionalized subdomain.</p> <p>When creating resource record sets for a private hosted zone, note the following:</p> <ul> <li> <p>Resource record sets cannot be created for CloudFront distributions in a private hosted zone.</p> </li> <li> <p>Creating geolocation alias resource record sets or latency alias resource record sets in a private hosted zone is unsupported.</p> </li> <li> <p>For information about creating failover resource record sets in a private hosted zone, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html\">Configuring Failover in a Private Hosted Zone</a>.</p> </li> </ul>"
    },
    "AssociateVPCComment": {
      "type": "string"
    },
    "AssociateVPCWithHostedZoneRequest": {
      "type": "object",
      "required": [
        "VPC"
      ],
      "properties": {
        "VPC": {
          "$ref": "#/definitions/VPC",
          "description": "A complex type containing information about the Amazon VPC that you're associating with the specified hosted zone."
        },
        "Comment": {
          "$ref": "#/definitions/AssociateVPCComment",
          "description": " <i>Optional:</i> A comment about the association request."
        }
      },
      "description": "A complex type that contains information about the VPC and the hosted zone that you want to associate."
    },
    "AssociateVPCWithHostedZoneResponse": {
      "type": "object",
      "required": [
        "ChangeInfo"
      ],
      "properties": {
        "ChangeInfo": {
          "$ref": "#/definitions/ChangeInfo",
          "description": "A complex type that describes the changes made to your hosted zone."
        }
      },
      "description": "A complex type that contains the response information for the hosted zone."
    },
    "Change": {
      "type": "object",
      "required": [
        "Action",
        "ResourceRecordSet"
      ],
      "properties": {
        "Action": {
          "$ref": "#/definitions/ChangeAction",
          "description": "<p>The action to perform:</p> <ul> <li> <p> <code>CREATE</code>: Creates a resource record set that has the specified values.</p> </li> <li> <p> <code>DELETE</code>: Deletes a existing resource record set that has the specified values for <code>Name</code>, <code>Type</code>, <code>SetIdentifier</code> (for latency, weighted, geolocation, and failover resource record sets), and <code>TTL</code> (except alias resource record sets, for which the TTL is determined by the AWS resource that you're routing DNS queries to).</p> <important> <p>To delete the resource record set that is associated with a traffic policy instance, use <code> <a>DeleteTrafficPolicyInstance</a> </code>. Amazon Route 53will delete the resource record set automatically. If you delete the resource record set by using <code>ChangeResourceRecordSets</code>, Amazon Route 53 doesn't automatically delete the traffic policy instance, and you'll continue to be charged for it even though it's no longer in use. </p> </important> </li> <li> <p> <code>UPSERT</code>: If a resource record set does not already exist, Amazon Route 53 creates it. If a resource record set does exist, Amazon Route 53 updates it with the values in the request. Amazon Route 53 can update an existing resource record set only when all of the following values match: <code>Name</code>, <code>Type</code>, and <code>SetIdentifier</code> (for weighted, latency, geolocation, and failover resource record sets).</p> </li> </ul>"
        },
        "ResourceRecordSet": {
          "$ref": "#/definitions/ResourceRecordSet",
          "description": "Information about the resource record set to create or delete."
        }
      },
      "description": "The information for each resource record set that you want to change."
    },
    "ChangeAction": {
      "type": "string",
      "enum": [
        "CREATE",
        "DELETE",
        "UPSERT"
      ]
    },
    "ChangeBatch": {
      "type": "object",
      "required": [
        "Changes"
      ],
      "properties": {
        "Comment": {
          "$ref": "#/definitions/ResourceDescription",
          "description": " <i>Optional:</i> Any comments you want to include about a change batch request."
        },
        "Changes": {
          "$ref": "#/definitions/Changes",
          "description": "Information about the changes to make to the record sets."
        }
      },
      "description": "The information for a change request."
    },
    "ChangeBatchRecord": {
      "type": "object",
      "required": [
        "Id",
        "Status"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/ResourceId",
          "description": "The ID of the request. Use this ID to track when the change has completed across all Amazon Route 53 DNS servers."
        },
        "SubmittedAt": {
          "$ref": "#/definitions/TimeStamp",
          "description": "The date and time the change was submitted, in the format <code>YYYY-MM-DDThh:mm:ssZ</code>, as specified in the ISO 8601 standard (for example, 2009-11-19T19:37:58Z). The <code>Z</code> after the time indicates that the time is listed in Coordinated Universal Time (UTC)."
        },
        "Status": {
          "$ref": "#/definitions/ChangeStatus",
          "description": "<p>The current state of the request. <code>PENDING</code> indicates that this request has not yet been applied to all Amazon Route 53 DNS servers.</p> <p>Valid Values: <code>PENDING</code> | <code>INSYNC</code> </p>"
        },
        "Comment": {
          "$ref": "#/definitions/ResourceDescription",
          "description": "<p>A complex type that describes change information about changes made to your hosted zone.</p> <p>This element contains an ID that you use when performing a <a>GetChange</a> action to get detailed information about the change.</p>"
        },
        "Submitter": {
          "$ref": "#/definitions/AWSAccountID",
          "description": "The AWS account ID attached to the changes. "
        },
        "Changes": {
          "$ref": "#/definitions/Changes",
          "description": "A list of changes made in the ChangeBatch."
        }
      },
      "description": "A complex type that lists the changes and information for a ChangeBatch."
    },
    "ChangeBatchRecords": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ChangeBatchRecord"
      },
      "minItems": 1
    },
    "ChangeInfo": {
      "type": "object",
      "required": [
        "Id",
        "Status",
        "SubmittedAt"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/ResourceId",
          "description": "The ID of the request."
        },
        "Status": {
          "$ref": "#/definitions/ChangeStatus",
          "description": "The current state of the request. <code>PENDING</code> indicates that this request has not yet been applied to all Amazon Route 53 DNS servers."
        },
        "SubmittedAt": {
          "$ref": "#/definitions/TimeStamp",
          "description": "The date and time the change request was submitted, in Coordinated Universal Time (UTC) format: <code>YYYY-MM-DDThh:mm:ssZ</code>. For more information, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a>."
        },
        "Comment": {
          "$ref": "#/definitions/ResourceDescription",
          "description": "<p>A complex type that describes change information about changes made to your hosted zone.</p> <p>This element contains an ID that you use when performing a <a>GetChange</a> action to get detailed information about the change.</p>"
        }
      },
      "description": "A complex type that describes change information about changes made to your hosted zone."
    },
    "ChangeResourceRecordSetsRequest": {
      "type": "object",
      "required": [
        "ChangeBatch"
      ],
      "properties": {
        "ChangeBatch": {
          "$ref": "#/definitions/ChangeBatch",
          "description": "A complex type that contains an optional comment and the <code>Changes</code> element."
        }
      },
[...]
