{
  "swagger": "2.0",
  "info": {
    "title": "Promotion & Coupon Services",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test Macy's API using our easy to use Interactive Console! You can also view more detailed  written documentation. (Note: You must attain approval for an API key for one of the services in the drop-down menu below before being able to use the Macy's API Console.) Promotion & Coupon Services",
    "x-mashery-id": "386"
  },
  "schemes": [
    "http"
  ],
  "host": "api.macys.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Please contact us if you are having trouble getting access to keys: Click Here",
    "url": "http://developer.macys.com/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Promotions and Coupon Services"
    }
  ],
  "paths": {
    "/v2/promotions": {
      "get": {
        "operationId": "PromotionsPromotionsandCouponServices",
        "summary": "This service allows to retrieve promotions. Please...",
        "description": "This service allows to retrieve promotions. Please click here for the additional documentation.",
        "tags": [
          "Promotions and Coupon Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "promoid",
            "type": "string",
            "description": "Promotional ID (Optional) Ex. 402902",
            "in": "query",
            "required": false
          },
          {
            "name": "global",
            "type": "string",
            "description": "Specifies if the promotion global or not (Optional) Ex. Y",
            "in": "query",
            "required": false,
            "enum": [
              "N",
              "Y"
            ]
          },
          {
            "name": "sourcecode",
            "type": "string",
            "description": "sourcecode (Optional) Ex. D",
            "in": "query",
            "required": false
          },
          {
            "name": "type",
            "type": "string",
            "description": "Promotion Type (Optional) Ex. Bundled GWP",
            "in": "query",
            "required": false
          },
          {
            "name": "promo_code",
            "type": "string",
            "description": "Promotion Code (Optional) Ex. 402903",
            "in": "query",
            "required": false
          },
          {
            "name": "callback",
            "type": "string",
            "description": "If sent, the format is JSONP (JSON with Padding) with the callback returned with the JSON response. You can put anything in the callback parameter and whatever you send is returned. (Optional) Ex. magicofmacysapi",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v3/promotions": {
      "get": {
        "operationId": "PromotionsandCouponsPromotionsandCouponServices",
        "summary": "This service allows to retrieve promotions, coupon...",
        "description": "This service allows to retrieve promotions, coupons, or both using one call. Please click here for the additional documentation.",
        "tags": [
          "Promotions and Coupon Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "show",
            "type": "string",
            "description": "Specifies if you would like to return promotions, coupons, or promotions AND coupons (Required) Ex. promotions,coupons",
            "in": "query",
            "required": false,
            "enum": [
              "promotions",
              "coupons",
              "promotions,coupons"
            ]
          },
          {
            "name": "promoid",
            "type": "string",
            "description": "Promotional ID (Optional) Ex. 402902",
            "in": "query",
            "required": false
          },
          {
            "name": "global",
            "type": "string",
            "description": "Specifies if the promotion global or not (Optional) Ex. Y",
            "in": "query",
            "required": false,
            "enum": [
              "N",
              "Y"
            ]
          },
          {
            "name": "promotionsourcecode",
            "type": "string",
            "description": "Promotion Sourcecode (Optional) Ex. D",
            "in": "query",
            "required": false
          },
          {
            "name": "promotype",
            "type": "string",
            "description": "Promotion Type (Optional) Ex. Bundled GWP",
            "in": "query",
            "required": false
          },
          {
            "name": "promocode",
            "type": "string",
            "description": "Promotion Code (Optional) Ex. VETDAY",
            "in": "query",
            "required": false
          },
          {
            "name": "channel",
            "type": "string",
            "description": "Channel for Promotion or Coupon (Optional) Ex. MOBILE",
            "in": "query",
            "required": false
          },
          {
            "name": "coupontype",
            "type": "string",
            "description": "Coupon Type (Optional) Ex. Other",
            "in": "query",
            "required": false
          },
          {
            "name": "couponnumber",
            "type": "string",
            "description": "Coupon filter Number(Optional) Ex. 00030492100318133415",
            "in": "query",
            "required": false
          },
          {
            "name": "callback",
            "type": "string",
            "description": "If sent, the format is JSONP (JSON with Padding) with the callback returned with the JSON response. You can put anything in the callback parameter and whatever you send is returned. (Optional) Ex. magicofmacysapi",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v3/promotions/sorted": {
      "get": {
        "operationId": "PromotionsSortedPromotionsandCouponServices",
        "summary": "The Promotions Sorted API call allows the users to...",
        "description": "The Promotions Sorted API call allows the users to get Deals and Promotion data set grouped and sorted by FOB to match data rendered on website. Please click here for the additional documentation.",
        "tags": [
          "Promotions and Coupon Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "channel",
            "type": "string",
            "description": "Channel for the Promotion (Optional) Ex. SITE",
            "in": "query",
            "required": false,
            "enum": [
              "SITE",
              "MOBILE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v3/promotions/share": {
      "post": {
        "operationId": "PromotionsSharePromotionsandCouponServices",
        "summary": "The Promotions Share API allows users to use a POS...",
        "description": "The Promotions Share API allows users to use a POST call to send automated emails to recipient(s) about MACY's Promotions or Coupons. Please click here for the additional documentation.",
        "tags": [
          "Promotions and Coupon Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload body as JSON or XML",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v2/promotions/coupons": {
      "get": {
        "operationId": "CouponsPromotionsandCouponServices",
        "summary": "This service allows to retrieve coupons. Please cl...",
        "description": "This service allows to retrieve coupons. Please click here for the additional documentation.",
        "tags": [
          "Promotions and Coupon Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "If sent, the format is JSONP (JSON with Padding) with the callback returned with the JSON response. You can put anything in the callback parameter and whatever you send is returned. (Optional) Ex. magicofmacysapi",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}