{
  "swagger": "2.0",
  "info": {
    "title": "LH Public API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.lufthansa.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Playground (aka I/O Docs). ",
    "x-mashery-id": "3166"
  },
  "schemes": [
    "http"
  ],
  "host": "api.lufthansa.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.lufthansa.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "/",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Reference Data"
    },
    {
      "name": "Offers"
    },
    {
      "name": "Operations"
    },
    {
      "name": "Cargo"
    }
  ],
  "paths": {
    "/references/countries/{countryCode}": {
      "get": {
        "operationId": "CountriesReferenceData",
        "summary": "List all countries or one specific country. It is ...",
        "description": "List all countries or one specific country. It is possible to request the response in a specific language.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "type": "string",
            "description": "2-letter ISO 3166-1 country code",
            "in": "path",
            "required": true,
            "default": "DK"
          },
          {
            "name": "lang",
            "type": "string",
            "description": "2 letter ISO 3166-1 language code",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false,
            "default": "20"
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/references/cities/{cityCode}": {
      "get": {
        "operationId": "CitiesReferenceData",
        "summary": "List all cities or one specific city. It is possib...",
        "description": "List all cities or one specific city. It is possible to request the response in a specific language.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "cityCode",
            "type": "string",
            "description": "3-letter IATA city code",
            "in": "path",
            "required": true,
            "default": "BER"
          },
          {
            "name": "lang",
            "type": "string",
            "description": "2 letter ISO 3166-1 language code",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false,
            "default": "20"
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/references/airports/{airportCode}": {
      "get": {
        "operationId": "AirportsReferenceData",
        "summary": "List all airports or one specific airport. All air...",
        "description": "List all airports or one specific airport. All airports response is very large. It is possible to request the response in a specific language.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "airportCode",
            "type": "string",
            "description": "3-letter IATA airport code",
            "in": "path",
            "required": true,
            "default": "TXL"
          },
          {
            "name": "lang",
            "type": "string",
            "description": "2-letter ISO 3166-1 language code",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false,
            "default": "20"
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "LHoperated",
            "type": "boolean",
            "description": "Restrict the results to locations with flights operated by LH (false=0, true=1)",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/references/airports/nearest/{latitude},{longitude}": {
      "get": {
        "operationId": "NearestAirportsReferenceData",
        "summary": "List the 5 closest airports to the given latitude ...",
        "description": "List the 5 closest airports to the given latitude and longitude, irrespective of the radius of the reference point.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "latitude",
            "type": "number",
            "description": "Latitude in decimal format to at most 3 decimal places",
            "in": "path",
            "required": true,
            "default": 51.5
          },
          {
            "name": "longitude",
            "type": "number",
            "description": "Longitude in decimal format to at most 3 decimal places",
            "in": "path",
            "required": true,
            "default": -0.142
          },
          {
            "name": "lang",
            "type": "string",
            "description": "2 letter ISO 3166-1 language code",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/references/airlines/{airlineCode}": {
      "get": {
        "operationId": "AirlinesReferenceData",
        "summary": "List all airlines or one specific airline.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "airlineCode",
            "type": "string",
            "description": "2-character IATA airline/carrier code",
            "in": "path",
            "required": true,
            "default": "LH"
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false,
            "default": "20"
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/references/aircraft/{aircraftCode}": {
      "get": {
        "operationId": "AircraftReferenceData",
        "summary": "List all aircraft types or one specific aircraft t...",
        "description": "List all aircraft types or one specific aircraft type.",
        "tags": [
          "Reference Data"
        ],
        "parameters": [
          {
            "name": "aircraftCode",
            "type": "string",
            "description": "3-character IATA aircraft code",
            "in": "path",
            "required": true,
            "default": "33P"
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false,
            "default": "20"
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/offers/seatmaps/{flightNumber}/{origin}/{destination}/{date}/{cabinClass}": {
      "get": {
        "operationId": "SeatMapsOffers",
        "summary": "Cabin layout and seat characteristics.",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "name": "flightNumber",
            "type": "string",
            "description": "Flight number including carrier code and any suffix (e.g. 'LH2037')",
            "in": "path",
            "required": true
          },
          {
            "name": "origin",
            "type": "string",
            "description": "Departure airport. 3-letter IATA airport code (e.g. 'TXL')",
            "in": "path",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "Destination airport. 3-letter IATA airport code (e.g. 'MUC')",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "format": "date",
            "description": "Departure date (YYYY-MM-DD)",
            "in": "path",
            "required": true
          },
          {
            "name": "cabinClass",
            "type": "string",
            "description": "Cabin class: 'M', 'E', 'C', 'F'. Some flights have fewer classes",
            "in": "path",
            "required": true,
            "enum": [
              "M",
              "E",
              "C",
              "F"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/offers/lounges/{location}": {
      "get": {
        "operationId": "LoungesOffers",
        "summary": "Lounge information",
        "tags": [
          "Offers"
        ],
        "parameters": [
          {
            "name": "location",
            "type": "string",
            "description": "3-leter IATA airport or city code (e.g. 'ZRH')",
            "in": "path",
            "required": true,
            "default": "ZRH"
          },
          {
            "name": "cabinClass",
            "type": "string",
            "description": "Cabin class: 'M', 'E', 'C', 'F'",
            "in": "query",
            "required": false,
            "enum": [
              "M",
              "E",
              "C",
              "F"
            ]
          },
          {
            "name": "tierCode",
            "type": "string",
            "description": "Frequent flyer level ('FTL', 'SGC', 'SEN', 'HON')",
            "in": "query",
            "required": false,
            "enum": [
              "FTL",
              "SGC",
              "SEN",
              "HON"
            ]
          },
          {
            "name": "lang",
            "type": "string",
            "description": "Language code.",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/operations/flightstatus/{flightNumber}/{date}": {
      "get": {
        "operationId": "FlightStatusOperations",
        "summary": "Status of a particular flight (boarding, delayed, ...",
        "description": "Status of a particular flight (boarding, delayed, etc.).",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "name": "flightNumber",
            "type": "string",
            "description": "Flight number including carrier code and any suffix (e.g. 'LH400')",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "format": "date",
            "description": "The departure date (YYYY-MM-DD) in the local time of the departure airport",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/operations/flightstatus/route/{origin}/{destination}/{date}": {
      "get": {
        "operationId": "FlightStatusbyRouteOperations",
        "summary": "Status of flights between a given origin and desti...",
        "description": "Status of flights between a given origin and destination on a given date.",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "3-letter IATA airport (e.g. 'FRA')",
            "in": "path",
            "required": true
          },
          {
            "name": "destination",
            "type": "string",
            "description": "3-letter IATA airport code (e.g. 'JFK')",
            "in": "path",
            "required": true
          },
          {
            "name": "date",
            "type": "string",
            "description": "Departure date (YYYY-MM-DD) in local time of departure airport",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/operations/flightstatus/arrivals/{airportCode}/{fromDateTime}": {
      "get": {
        "operationId": "FlightStatusatArrivalAirportOperations",
        "summary": "Status of all arrivals at a given airport up to 4 ...",
        "description": "Status of all arrivals at a given airport up to 4 hours from the provided date time.",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "name": "airportCode",
            "type": "string",
            "description": "3-letter IATA aiport code (e.g. 'ZRH')",
            "in": "path",
            "required": true
          },
          {
            "name": "fromDateTime",
            "type": "string",
            "description": "Start of time range in local time of arrival airport (YYYY-MM-DDTHH:mm)",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/operations/flightstatus/departures/{airportCode}/{fromDateTime}": {
      "get": {
        "operationId": "FlightStatusatDepartureAirportOperations",
        "summary": "Status of all departures from a given airport up t...",
        "description": "Status of all departures from a given airport up to 4 hours from the provided date time.",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "name": "airportCode",
            "type": "string",
            "description": "Departure airport. 3-letter IATA airport code (e.g. 'HAM')",
            "in": "path",
            "required": true
          },
          {
            "name": "fromDateTime",
            "type": "string",
            "description": "Start of time range in local time of departure airport (YYYY-MM-DDTHH:mm)",
            "in": "path",
            "required": true
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/operations/schedules/{origin}/{destination}/{fromDateTime}": {
      "get": {
        "operationId": "FlightSchedulesOperations",
        "summary": "Scheduled flights between given airports on a give...",
        "description": "Scheduled flights between given airports on a given date.",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "Departure airport. 3-letter IATA airport code (e.g. 'ZRH')",
            "in": "path",
            "required": true,
            "default": "ZRH"
          },
          {
            "name": "destination",
            "type": "string",
            "description": "Destination airport. 3-letter IATA airport code (e.g. 'FRA')",
            "in": "path",
            "required": true,
            "default": "FRA"
          },
          {
            "name": "fromDateTime",
            "type": "string",
            "description": "Local departure date and optionally departure time (YYYY-MM-DD or YYYY-MM-DDTHH:mm). When not provided, time is assumed to be 00:01",
            "in": "path",
            "required": true
          },
          {
            "name": "directFlights",
            "type": "boolean",
            "description": "Show only direct flights (false=0, true=1). Default is false",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Number of records returned per request. Defaults to 20, maximum is 100 (if a value bigger than 100 is given, 100 will be taken)",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Number of records skipped. Defaults to 0",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cargo/shipmentTracking/{aWBPrefix}-{aWBNumber}": {
      "get": {
        "operationId": "ShipmentTrackingCargo",
        "summary": "With this tracking service you can easily retrieve...",
        "description": "With this tracking service you can easily retrieve your shipment or flight status information.",
        "tags": [
          "Cargo"
        ],
        "parameters": [
          {
            "name": "aWBPrefix",
            "type": "string",
            "description": "aWBPrefix : Represents the airline that is the owner of this AWB, i.e. \"020\" = Lufthansa Cargo, format : [0-9]{3} e.g. 020",
            "in": "path",
            "required": true,
            "default": "020"
          },
          {
            "name": "aWBNumber",
            "type": "string",
            "description": "aWBNumber : The Air Waybill Number , format : [0-9]{8} e.g. 08002050",
            "in": "path",
            "required": true,
            "default": "08002050"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cargo/getRoute/{origin}-{destination}/{fromDate}/{productCode}": {
      "get": {
        "operationId": "RetrieveallflightsCargo",
        "summary": "Retrieve a list of all possible flights (both dire...",
        "description": "Retrieve a list of all possible flights (both direct and connecting) between two airports on a given date. Routes are available for today and up to days in the future.",
        "tags": [
          "Cargo"
        ],
        "parameters": [
          {
            "name": "origin",
            "type": "string",
            "description": "Departure Airport : 3-letter IATA airport code, e.g. FRA.",
            "in": "path",
            "required": true,
            "default": "FRA"
          },
          {
            "name": "destination",
            "type": "string",
            "description": "Arrival airport : 3-letter IATA airport code, e.g. HKG.",
            "in": "path",
            "required": true,
            "default": "HKG"
          },
          {
            "name": "fromDate",
            "type": "string",
            "description": "Departure date in the local time of the departure airport. Based on LAT (Latest Acceptance Time). format : yyyy-MM-dd eg : 2017-07-15",
            "in": "path",
            "required": true,
            "default": "2017-07-15"
          },
          {
            "name": "productCode",
            "type": "string",
            "description": "Product code for requested service and specials : 3-letter eg: YNZ",
            "in": "path",
            "required": true,
            "enum": [
              "FAN",
              "FCO",
              "FCP",
              "FDG",
              "FTF",
              "FUN",
              "FWN",
              "YCO",
              "YCP",
              "YDG",
              "YNB",
              "YNZ",
              "YTF",
              "YUN",
              "ZXB",
              "ZXF",
              "ZXR"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "http header: application/json or application/xml",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}