{
  "swagger": "2.0",
  "info": {
    "version": "2015-03-31",
    "x-release": "v4",
    "title": "AWS Lambda",
    "description": "<fullname>AWS Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional information. For the service overview, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is AWS Lambda</a>, and for information about how the service works, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <i>AWS Lambda Developer Guide</i>.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/lambda/"
  },
  "host": "lambda.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/2015-03-31/functions/{FunctionName}/policy": {
      "post": {
        "operationId": "AddPermission",
        "description": "<p>Adds a permission to the resource policy associated with the specified AWS Lambda function. You use resource policies to grant permissions to event sources that use <i>push</i> model. In a <i>push</i> model, event sources (such as Amazon S3 and custom applications) invoke your Lambda function. Each permission you add to the resource policy allows an event source, permission to invoke the Lambda function. </p> <p>For information about the push model, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a>. </p> <p>If you are using versioning, the permissions you add are specific to the Lambda function version or alias you specify in the <code>AddPermission</code> request via the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:AddPermission</code> action.</p>",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddPermissionResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "403": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "404": {
            "description": "PolicyLengthExceededException",
            "schema": {
              "$ref": "#/definitions/PolicyLengthExceededException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddPermissionRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      },
      "get": {
        "operationId": "GetPolicy",
        "description": "<p>Returns the resource policy associated with the specified Lambda function.</p> <p> If you are using the versioning feature, you can get the resource policy associated with the specific Lambda function version or alias by specifying the version or alias name using the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>For information about adding permissions, see <a>AddPermission</a>.</p> <p>You need permission for the <code>lambda:GetPolicy action.</code> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPolicyResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPolicyRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}/aliases": {
      "post": {
        "operationId": "CreateAlias",
        "description": "<p>Creates an alias that points to the specified Lambda function version. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>Alias names are unique for a given function. This requires permission for the lambda:CreateAlias action.</p>",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AliasConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "403": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAliasRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      },
      "get": {
        "operationId": "ListAliases",
        "description": "<p>Returns list of aliases created for a Lambda function. For each alias, the response includes information such as the alias ARN, description, alias name, and the function version to which it points. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:ListAliases action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListAliasesResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListAliasesRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2015-03-31/event-source-mappings/": {
      "post": {
        "operationId": "CreateEventSourceMapping",
        "description": "<p>Identifies a stream as an event source for a Lambda function. It can be either an Amazon Kinesis stream or an Amazon DynamoDB stream. AWS Lambda invokes the specified function when records are posted to the stream.</p> <p>This association between a stream source and a Lambda function is called the event source mapping.</p> <important><p>This event source mapping is relevant only in the AWS Lambda pull model, where AWS Lambda invokes the function. For more information, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <i>AWS Lambda Developer Guide</i>.</p> </important> <p>You provide mapping information (for example, which stream to read from and which Lambda function to invoke) in the request body.</p> <p>Each event source, such as an Amazon Kinesis or a DynamoDB stream, can be associated with multiple AWS Lambda function. A given Lambda function can be associated with multiple AWS event sources.</p> <p>If you are using versioning, you can specify a specific function version or an alias via the function name parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:CreateEventSourceMapping</code> action.</p>",
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "402": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEventSourceMappingRequest"
            }
          }
        ]
      },
      "get": {
        "operationId": "ListEventSourceMappings",
        "description": "<p>Returns a list of event source mappings you created using the <code>CreateEventSourceMapping</code> (see <a>CreateEventSourceMapping</a>). </p> <p>For each mapping, the API returns configuration information. You can optionally specify filters to retrieve specific event source mappings.</p> <p>If you are using the versioning feature, you can get list of event source mappings for a specific Lambda function version or an alias as described in the <code>FunctionName</code> parameter. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:ListEventSourceMappings</code> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListEventSourceMappingsResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListEventSourceMappingsRequest"
            }
          }
        ]
      }
    },
    "/2015-03-31/functions": {
      "post": {
        "operationId": "CreateFunction",
        "description": "<p>Creates a new Lambda function. The function metadata is created from the request parameters, and the code for the function is provided by a .zip file in the request body. If the function name already exists, the operation will fail. Note that the function name is case-sensitive.</p> <p> If you are using versioning, you can also publish a version of the Lambda function you are creating using the <code>Publish</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:CreateFunction</code> action.</p>",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "402": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "403": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          },
          "404": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "405": {
            "description": "CodeStorageExceededException",
            "schema": {
              "$ref": "#/definitions/CodeStorageExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFunctionRequest"
            }
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}/aliases/{Name}": {
      "delete": {
        "operationId": "DeleteAlias",
        "description": "<p>Deletes the specified Lambda function alias. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:DeleteAlias action.</p>",
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteAliasRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Name",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      },
      "get": {
        "operationId": "GetAlias",
        "description": "<p>Returns the specified alias information such as the alias ARN, description, and function version it is pointing to. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the <code>lambda:GetAlias</code> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AliasConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAliasRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Name",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      },
      "put": {
        "operationId": "UpdateAlias",
        "description": "<p>Using this API you can update the function version to which the alias points and the alias description. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/aliases-intro.html\">Introduction to AWS Lambda Aliases</a>.</p> <p>This requires permission for the lambda:UpdateAlias action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AliasConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAliasRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Name",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2015-03-31/event-source-mappings/{UUID}": {
      "delete": {
        "operationId": "DeleteEventSourceMapping",
        "description": "<p>Removes an event source mapping. This means AWS Lambda will no longer invoke the function for events in the associated source.</p> <p>This operation requires permission for the <code>lambda:DeleteEventSourceMapping</code> action.</p>",
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteEventSourceMappingRequest"
            }
          },
          {
            "name": "UUID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "get": {
        "operationId": "GetEventSourceMapping",
        "description": "<p>Returns configuration information for the specified event source mapping (see <a>CreateEventSourceMapping</a>).</p> <p>This operation requires permission for the <code>lambda:GetEventSourceMapping</code> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetEventSourceMappingRequest"
            }
          },
          {
            "name": "UUID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "put": {
        "operationId": "UpdateEventSourceMapping",
        "description": "<p>You can update an event source mapping. This is useful if you want to change the parameters of the existing mapping without losing your position in the stream. You can change which function will receive the stream records, but to change the stream itself, you must create a new mapping.</p> <p>If you are using the versioning feature, you can update the event source mapping to map to a specific Lambda function version or alias as described in the <code>FunctionName</code> parameter. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>If you disable the event source mapping, AWS Lambda stops polling. If you enable again, it will resume polling from the time it had stopped polling, so you don't lose processing of any records. However, if you delete event source mapping and create it again, it will reset.</p> <p>This operation requires permission for the <code>lambda:UpdateEventSourceMapping</code> action.</p>",
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSourceMappingConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "404": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateEventSourceMappingRequest"
            }
          },
          {
            "name": "UUID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}": {
      "delete": {
        "operationId": "DeleteFunction",
        "description": "<p>Deletes the specified Lambda function code and configuration.</p> <p>If you are using the versioning feature and you don't specify a function version in your <code>DeleteFunction</code> request, AWS Lambda will delete the function, including all its versions, and any aliases pointing to the function versions. To delete a specific function version, you must provide the function version via the <code>Qualifier</code> parameter. For information about function versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>When you delete a function the associated resource policy is also deleted. You will need to delete the event source mappings explicitly.</p> <p>This operation requires permission for the <code>lambda:DeleteFunction</code> action.</p>",
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "404": {
            "description": "ResourceConflictException",
            "schema": {
              "$ref": "#/definitions/ResourceConflictException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteFunctionRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      },
      "get": {
        "operationId": "GetFunction",
        "description": "<p>Returns the configuration information of the Lambda function and a presigned URL link to the .zip file you uploaded with <a>CreateFunction</a> so you can download the .zip file. Note that the URL is valid for up to 10 minutes. The configuration information is the same information you provided as parameters when uploading the function.</p> <p>Using the optional <code>Qualifier</code> parameter, you can specify a specific function version for which you want this information. If you don't specify this parameter, the API uses unqualified function ARN which return information about the <code>$LATEST</code> version of the Lambda function. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>.</p> <p>This operation requires permission for the <code>lambda:GetFunction</code> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetFunctionResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetFunctionRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}/configuration": {
      "get": {
        "operationId": "GetFunctionConfiguration",
        "description": "<p>Returns the configuration information of the Lambda function. This the same information you provided as parameters when uploading the function by using <a>CreateFunction</a>.</p> <p>If you are using the versioning feature, you can retrieve this information for a specific function version by using the optional <code>Qualifier</code> parameter and specifying the function version or alias that points to it. If you don't provide it, the API returns information about the $LATEST version of the function. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>.</p> <p>This operation requires permission for the <code>lambda:GetFunctionConfiguration</code> operation.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "403": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetFunctionConfigurationRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      },
      "put": {
        "operationId": "UpdateFunctionConfiguration",
        "description": "<p>Updates the configuration parameters for the specified Lambda function by using the values provided in the request. You provide only the parameters you want to change. This operation must only be used on an existing Lambda function and cannot be used to update the function's code.</p> <p>If you are using the versioning feature, note this API will always update the $LATEST version of your Lambda function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:UpdateFunctionConfiguration</code> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFunctionConfigurationRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}/invocations": {
      "post": {
        "operationId": "Invoke",
        "description": "<p>Invokes a specific Lambda function.</p> <p>If you are using the versioning feature, you can invoke the specific function version by providing function version or alias name that is pointing to the function version using the <code>Qualifier</code> parameter in the request. If you don't provide the <code>Qualifier</code> parameter, the <code>$LATEST</code> version of the Lambda function is invoked. Invocations occur at least once in response to an event and functions must be idempotent to handle this. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvocationResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidRequestContentException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestContentException"
            }
          },
          "403": {
            "description": "RequestTooLargeException",
            "schema": {
              "$ref": "#/definitions/RequestTooLargeException"
            }
          },
          "404": {
            "description": "UnsupportedMediaTypeException",
            "schema": {
              "$ref": "#/definitions/UnsupportedMediaTypeException"
            }
          },
          "405": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "406": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "407": {
            "description": "EC2UnexpectedException",
            "schema": {
              "$ref": "#/definitions/EC2UnexpectedException"
            }
          },
          "408": {
            "description": "SubnetIPAddressLimitReachedException",
            "schema": {
              "$ref": "#/definitions/SubnetIPAddressLimitReachedException"
            }
          },
          "409": {
            "description": "ENILimitReachedException",
            "schema": {
              "$ref": "#/definitions/ENILimitReachedException"
            }
          },
          "410": {
            "description": "EC2ThrottledException",
            "schema": {
              "$ref": "#/definitions/EC2ThrottledException"
            }
          },
          "411": {
            "description": "EC2AccessDeniedException",
            "schema": {
              "$ref": "#/definitions/EC2AccessDeniedException"
            }
          },
          "412": {
            "description": "InvalidSubnetIDException",
            "schema": {
              "$ref": "#/definitions/InvalidSubnetIDException"
            }
          },
          "413": {
            "description": "InvalidSecurityGroupIDException",
            "schema": {
              "$ref": "#/definitions/InvalidSecurityGroupIDException"
            }
          },
          "414": {
            "description": "InvalidZipFileException",
            "schema": {
              "$ref": "#/definitions/InvalidZipFileException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvocationRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2014-11-13/functions/{FunctionName}/invoke-async/": {
      "post": {
        "operationId": "InvokeAsync",
        "description": "<important><p>This API is deprecated. We recommend you use <code>Invoke</code> API (see <a>Invoke</a>).</p> </important> <p>Submits an invocation request to AWS Lambda. Upon receiving the request, Lambda executes the specified function asynchronously. To see the logs generated by the Lambda function execution, see the CloudWatch Logs console.</p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvokeAsyncResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidRequestContentException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestContentException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvokeAsyncRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2015-03-31/functions/": {
      "get": {
        "operationId": "ListFunctions",
        "description": "<p>Returns a list of your Lambda functions. For each function, the response includes the function configuration information. You must use <a>GetFunction</a> to retrieve the code for your function.</p> <p>This operation requires permission for the <code>lambda:ListFunctions</code> action.</p> <p>If you are using versioning feature, the response returns list of $LATEST versions of your functions. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFunctionsResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListFunctionsRequest"
            }
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}/versions": {
      "get": {
        "operationId": "ListVersionsByFunction",
        "description": "List all versions of a function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListVersionsByFunctionResponse"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListVersionsByFunctionRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      },
      "post": {
        "operationId": "PublishVersion",
        "description": "Publishes a version of your function from the current snapshot of $LATEST. That is, AWS Lambda takes a snapshot of the function code and configuration information from $LATEST and publishes a new version. The code and configuration cannot be modified after publication. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. ",
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "404": {
            "description": "CodeStorageExceededException",
            "schema": {
              "$ref": "#/definitions/CodeStorageExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublishVersionRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}/policy/{StatementId}": {
      "delete": {
        "operationId": "RemovePermission",
        "description": "<p>You can remove individual permissions from an resource policy associated with a Lambda function by providing a statement ID that you provided when you added the permission.</p> <p>If you are using versioning, the permissions you remove are specific to the Lambda function version or alias you specify in the <code>AddPermission</code> request via the <code>Qualifier</code> parameter. For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>Note that removal of a permission will cause an active event source to lose permission to the function.</p> <p>You need permission for the <code>lambda:RemovePermission</code> action.</p>",
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemovePermissionRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          },
          {
            "name": "StatementId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2015-03-31/functions/{FunctionName}/code": {
      "put": {
        "operationId": "UpdateFunctionCode",
        "description": "<p>Updates the code for the specified Lambda function. This operation must only be used on an existing Lambda function and cannot be used to update the function configuration.</p> <p>If you are using the versioning feature, note this API will always update the $LATEST version of your Lambda function. For information about the versioning feature, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a>. </p> <p>This operation requires permission for the <code>lambda:UpdateFunctionCode</code> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FunctionConfiguration"
            }
          },
          "400": {
            "description": "ServiceException",
            "schema": {
              "$ref": "#/definitions/ServiceException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "InvalidParameterValueException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterValueException"
            }
          },
          "403": {
            "description": "TooManyRequestsException",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsException"
            }
          },
          "404": {
            "description": "CodeStorageExceededException",
            "schema": {
              "$ref": "#/definitions/CodeStorageExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFunctionCodeRequest"
            }
          },
          {
            "name": "FunctionName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "FunctionName",
            "in": "query",
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "string",
      "pattern": "(lambda:[*]|lambda:[a-zA-Z]+|[*])"
    },
    "AddPermissionRequest": {
      "type": "object",
      "required": [
        "StatementId",
        "Action",
        "Principal"
      ],
      "properties": {
        "StatementId": {
          "$ref": "#/definitions/StatementId",
          "description": "A unique statement identifier."
        },
        "Action": {
          "$ref": "#/definitions/Action",
          "description": "The AWS Lambda action you want to allow in this statement. Each Lambda action is a string starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>. You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda actions. "
        },
        "Principal": {
          "$ref": "#/definitions/Principal",
          "description": "The principal who is getting this permission. It can be Amazon S3 service Principal (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an AWS account ID if you are granting cross-account permission, or any valid AWS service principal such as <code>sns.amazonaws.com</code>. For example, you might want to allow a custom application in another AWS account to push events to AWS Lambda by invoking your function. "
        },
        "SourceArn": {
          "$ref": "#/definitions/Arn",
          "description": "<p>This is optional; however, when granting Amazon S3 permission to invoke your function, you should specify this field with the Amazon Resource Name (ARN) as its value. This ensures that only events generated from the specified source can invoke the function.</p> <important><p>If you add a permission for the Amazon S3 principal without providing the source ARN, any AWS account that creates a mapping to your function ARN can send events to invoke your Lambda function from Amazon S3.</p> </important>"
        },
        "SourceAccount": {
          "$ref": "#/definitions/SourceOwner",
          "description": "This parameter is used for S3 and SES only. The AWS account ID (without a hyphen) of the source owner. For example, if the <code>SourceArn</code> identifies a bucket, then this is the bucket owner's account ID. You can use this additional condition to ensure the bucket you specify is owned by a specific account (it is possible the bucket owner deleted the bucket and some other AWS account created the bucket). You can also use this condition to specify all sources (that is, you don't specify the <code>SourceArn</code>) owned by a specific account. "
        },
        "EventSourceToken": {
          "$ref": "#/definitions/EventSourceToken",
          "description": "A unique token that must be supplied by the principal invoking the function. This is currently only used for Alexa Smart Home functions."
        }
      },
      "description": "<p/>"
    },
    "AddPermissionResponse": {
      "type": "object",
      "properties": {
        "Statement": {
          "$ref": "#/definitions/String",
          "description": "The permission statement you specified in the request. The response returns the same as a string using a backslash (\"\\\") as an escape character in the JSON."
        }
      },
      "description": "<p/>"
    },
    "Alias": {
      "type": "string",
      "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)",
      "minLength": 1,
      "maxLength": 128
    },
    "AliasConfiguration": {
      "type": "object",
      "properties": {
        "AliasArn": {
          "$ref": "#/definitions/FunctionArn",
          "description": "Lambda function ARN that is qualified using the alias name as the suffix. For example, if you create an alias called <code>BETA</code> that points to a helloworld function version, the ARN is <code>arn:aws:lambda:aws-regions:acct-id:function:helloworld:BETA</code>."
        },
        "Name": {
          "$ref": "#/definitions/Alias",
          "description": "Alias name."
        },
        "FunctionVersion": {
          "$ref": "#/definitions/Version",
          "description": "Function version to which the alias points."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "Alias description."
        }
      },
      "description": "Provides configuration information about a Lambda function version alias."
    },
    "AliasList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AliasConfiguration"
      }
    },
    "Arn": {
      "type": "string",
      "pattern": "arn:aws:([a-zA-Z0-9\\-])+:([a-z]{2}-[a-z]+-\\d{1})?:(\\d{12})?:(.*)"
    },
    "BatchSize": {
      "type": "integer",
      "minimum": 1,
      "maximum": 10000
    },
    "Blob": {
      "type": "string"
    },
    "BlobStream": {
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CodeStorageExceededException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String",
          "description": "<p/>"
        },
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "You have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a> "
    },
    "CreateAliasRequest": {
      "type": "object",
      "required": [
        "Name",
        "FunctionVersion"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/Alias",
          "description": "Name for the alias you are creating."
        },
        "FunctionVersion": {
          "$ref": "#/definitions/Version",
          "description": "Lambda function version for which you are creating the alias."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "Description of the alias."
        }
      }
    },
    "CreateEventSourceMappingRequest": {
      "type": "object",
      "required": [
        "EventSourceArn",
        "FunctionName",
        "StartingPosition"
      ],
      "properties": {
        "EventSourceArn": {
          "$ref": "#/definitions/Arn",
          "description": "The Amazon Resource Name (ARN) of the Amazon Kinesis or the Amazon DynamoDB stream that is the event source. Any record added to this stream could cause AWS Lambda to invoke your Lambda function, it depends on the <code>BatchSize</code>. AWS Lambda POSTs the Amazon Kinesis event, containing records, to your Lambda function as JSON."
        },
        "FunctionName": {
          "$ref": "#/definitions/FunctionName",
          "description": "<p>The Lambda function to invoke when AWS Lambda detects an event on the stream.</p> <p> You can specify the function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). </p> <p> If you are using versioning, you can also provide a qualified function ARN (ARN that is qualified with function version or alias name as suffix). For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a> </p> <p>AWS Lambda also allows you to specify only the function name with the account ID qualifier (for example, <code>account-id:Thumbnail</code>). </p> <p>Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length.</p>"
        },
        "Enabled": {
          "$ref": "#/definitions/Enabled",
          "description": "Indicates whether AWS Lambda should begin polling the event source. By default, <code>Enabled</code> is true. "
        },
        "BatchSize": {
          "$ref": "#/definitions/BatchSize",
          "description": "The largest number of records that AWS Lambda will retrieve from your event source at the time of invoking your function. Your function receives an event with all the retrieved records. The default is 100 records."
        },
        "StartingPosition": {
          "$ref": "#/definitions/EventSourcePosition",
          "description": "The position in the stream where AWS Lambda should start reading. For more information, go to <a href=\"http://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html#Kinesis-GetShardIterator-request-ShardIteratorType\">ShardIteratorType</a> in the <i>Amazon Kinesis API Reference</i>. "
        }
      },
      "description": "<p/>"
    },
    "CreateFunctionRequest": {
      "type": "object",
      "required": [
        "FunctionName",
        "Runtime",
        "Role",
        "Handler",
        "Code"
      ],
      "properties": {
        "FunctionName": {
          "$ref": "#/definitions/FunctionName",
          "description": "The name you want to assign to the function you are uploading. The function names appear in the console and are returned in the <a>ListFunctions</a> API. Function names are used to specify functions to other AWS Lambda APIs, such as <a>Invoke</a>. "
        },
        "Runtime": {
          "$ref": "#/definitions/Runtime",
          "description": "<p>The runtime environment for the Lambda function you are uploading.</p> <p>To use the Node.js runtime v4.3, set the value to \"nodejs4.3\". To use earlier runtime (v0.10.42), set the value to \"nodejs\".</p>"
        },
        "Role": {
          "$ref": "#/definitions/RoleArn",
          "description": "The Amazon Resource Name (ARN) of the IAM role that Lambda assumes when it executes your function to access any other Amazon Web Services (AWS) resources. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a>. "
        },
        "Handler": {
          "$ref": "#/definitions/Handler",
          "description": "The function within your code that Lambda calls to begin execution. For Node.js, it is the <i>module-name</i>.<i>export</i> value in your function. For Java, it can be <code>package.class-name::handler</code> or <code>package.class-name</code>. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/java-programming-model-handler-types.html\">Lambda Function Handler (Java)</a>. "
        },
        "Code": {
          "$ref": "#/definitions/FunctionCode",
          "description": "The code for the Lambda function."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "A short, user-defined function description. Lambda does not use this value. Assign a meaningful description as you see fit."
        },
        "Timeout": {
          "$ref": "#/definitions/Timeout",
          "description": "The function execution time at which Lambda should terminate the function. Because the execution time has cost implications, we recommend you set this value based on your expected execution time. The default is 3 seconds."
        },
        "MemorySize": {
          "$ref": "#/definitions/MemorySize",
          "description": "The amount of memory, in MB, your Lambda function is given. Lambda uses this memory size to infer the amount of CPU and memory allocated to your function. Your function use-case determines your CPU and memory requirements. For example, a database operation might need less memory compared to an image processing function. The default value is 128 MB. The value must be a multiple of 64 MB."
        },
        "Publish": {
          "$ref": "#/definitions/Boolean",
          "description": "This boolean parameter can be used to request AWS Lambda to create the Lambda function and publish a version as an atomic operation."
        },
        "VpcConfig": {
          "$ref": "#/definitions/VpcConfig",
          "description": "If your Lambda function accesses resources in a VPC, you provide this parameter identifying the list of security group IDs and subnet IDs. These must belong to the same VPC. You must provide at least one security group and one subnet ID."
        }
      },
      "description": "<p/>"
    },
    "Date": {
      "type": "string",
      "format": "date-time"
    },
    "DeleteAliasRequest": {
      "type": "object",
      "properties": {}
    },
    "DeleteEventSourceMappingRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "DeleteFunctionRequest": {
      "type": "object",
      "properties": {}
    },
    "Description": {
      "type": "string",
      "minLength": 0,
      "maxLength": 256
    },
    "EC2AccessDeniedException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "<p/>"
    },
    "EC2ThrottledException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "AWS Lambda was throttled by Amazon EC2 during Lambda function initialization using the execution role provided for the Lambda function."
    },
    "EC2UnexpectedException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        },
        "EC2ErrorCode": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "AWS Lambda received an unexpected EC2 client exception while setting up for the Lambda function."
    },
    "ENILimitReachedException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "AWS Lambda was not able to create an Elastic Network Interface (ENI) in the VPC, specified as part of Lambda function configuration, because the limit for network interfaces has been reached."
    },
    "Enabled": {
      "type": "boolean"
    },
    "EventSourceMappingConfiguration": {
      "type": "object",
      "properties": {
        "UUID": {
          "$ref": "#/definitions/String",
          "description": "The AWS Lambda assigned opaque identifier for the mapping."
        },
        "BatchSize": {
          "$ref": "#/definitions/BatchSize",
          "description": "The largest number of records that AWS Lambda will retrieve from your event source at the time of invoking your function. Your function receives an event with all the retrieved records."
        },
        "EventSourceArn": {
          "$ref": "#/definitions/Arn",
          "description": "The Amazon Resource Name (ARN) of the Amazon Kinesis stream that is the source of events."
        },
        "FunctionArn": {
          "$ref": "#/definitions/FunctionArn",
          "description": "The Lambda function to invoke when AWS Lambda detects an event on the stream."
        },
        "LastModified": {
          "$ref": "#/definitions/Date",
          "description": "The UTC time string indicating the last time the event mapping was updated."
        },
        "LastProcessingResult": {
          "$ref": "#/definitions/String",
          "description": "The result of the last AWS Lambda invocation of your Lambda function."
        },
        "State": {
          "$ref": "#/definitions/String",
          "description": "The state of the event source mapping. It can be <code>Creating</code>, <code>Enabled</code>, <code>Disabled</code>, <code>Enabling</code>, <code>Disabling</code>, <code>Updating</code>, or <code>Deleting</code>."
        },
        "StateTransitionReason": {
          "$ref": "#/definitions/String",
          "description": "The reason the event source mapping is in its current state. It is either user-requested or an AWS Lambda-initiated state transition."
        }
      },
      "description": "Describes mapping between an Amazon Kinesis stream and a Lambda function."
    },
    "EventSourceMappingsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/EventSourceMappingConfiguration"
      }
    },
    "EventSourcePosition": {
      "type": "string",
      "enum": [
        "TRIM_HORIZON",
        "LATEST"
      ]
    },
    "EventSourceToken": {
      "type": "string",
      "pattern": "[a-zA-Z0-9._\\-]+",
      "minLength": 0,
      "maxLength": 256
    },
    "FunctionArn": {
      "type": "string",
      "pattern": "arn:aws:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "FunctionCode": {
      "type": "object",
      "properties": {
        "ZipFile": {
          "$ref": "#/definitions/Blob",
          "description": "The contents of your zip file containing your deployment package. If you are using the web API directly, the contents of the zip file must be base64-encoded. If you are using the AWS SDKs or the AWS CLI, the SDKs or CLI will do the encoding for you. For more information about creating a .zip file, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role.html\">Execution Permissions</a> in the <i>AWS Lambda Developer Guide</i>. "
        },
        "S3Bucket": {
          "$ref": "#/definitions/S3Bucket",
          "description": "Amazon S3 bucket name where the .zip file containing your deployment package is stored. This bucket must reside in the same AWS region where you are creating the Lambda function."
        },
        "S3Key": {
          "$ref": "#/definitions/S3Key",
          "description": "The Amazon S3 object (the deployment package) key name you want to upload."
        },
        "S3ObjectVersion": {
          "$ref": "#/definitions/S3ObjectVersion",
          "description": "The Amazon S3 object (the deployment package) version you want to upload."
        }
      },
      "description": "The code for the Lambda function."
    },
    "FunctionCodeLocation": {
      "type": "object",
      "properties": {
        "RepositoryType": {
          "$ref": "#/definitions/String",
          "description": "The repository from which you can download the function."
        },
        "Location": {
          "$ref": "#/definitions/String",
          "description": "The presigned URL you can use to download the function's .zip file that you previously uploaded. The URL is valid for up to 10 minutes."
        }
      },
      "description": "The object for the Lambda function location."
    },
    "FunctionConfiguration": {
      "type": "object",
      "properties": {
        "FunctionName": {
          "$ref": "#/definitions/FunctionName",
          "description": "The name of the function."
        },
        "FunctionArn": {
          "$ref": "#/definitions/FunctionArn",
          "description": "The Amazon Resource Name (ARN) assigned to the function."
        },
        "Runtime": {
          "$ref": "#/definitions/Runtime",
          "description": "<p>The runtime environment for the Lambda function.</p> <p>To use the Node.js runtime v4.3, set the value to \"nodejs4.3\". To use earlier runtime (v0.10.42), set the value to \"nodejs\".</p>"
        },
        "Role": {
          "$ref": "#/definitions/RoleArn",
          "description": "The Amazon Resource Name (ARN) of the IAM role that Lambda assumes when it executes your function to access any other Amazon Web Services (AWS) resources."
        },
        "Handler": {
          "$ref": "#/definitions/Handler",
          "description": "The function Lambda calls to begin executing your function."
        },
        "CodeSize": {
          "$ref": "#/definitions/Long",
          "description": "The size, in bytes, of the function .zip file you uploaded."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "The user-provided description."
        },
        "Timeout": {
          "$ref": "#/definitions/Timeout",
          "description": "The function execution time at which Lambda should terminate the function. Because the execution time has cost implications, we recommend you set this value based on your expected execution time. The default is 3 seconds."
        },
        "MemorySize": {
          "$ref": "#/definitions/MemorySize",
          "description": "The memory size, in MB, you configured for the function. Must be a multiple of 64 MB."
        },
        "LastModified": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time stamp of the last time you updated the function."
        },
        "CodeSha256": {
          "$ref": "#/definitions/String",
          "description": "It is the SHA256 hash of your function deployment package."
        },
        "Version": {
          "$ref": "#/definitions/Version",
          "description": "The version of the Lambda function."
        },
        "VpcConfig": {
          "$ref": "#/definitions/VpcConfigResponse",
          "description": "VPC configuration associated with your Lambda function."
        }
      },
      "description": "A complex type that describes function metadata."
    },
    "FunctionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/FunctionConfiguration"
      }
    },
    "FunctionName": {
      "type": "string",
      "pattern": "(arn:aws:lambda:)?([a-z]{2}-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
      "minLength": 1,
      "maxLength": 140
    },
    "GetAliasRequest": {
      "type": "object",
      "properties": {}
    },
    "GetEventSourceMappingRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "GetFunctionConfigurationRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "GetFunctionRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "GetFunctionResponse": {
      "type": "object",
      "properties": {
        "Configuration": {
          "$ref": "#/definitions/FunctionConfiguration"
        },
        "Code": {
          "$ref": "#/definitions/FunctionCodeLocation"
        }
      },
      "description": "This response contains the object for the Lambda function location (see ."
    },
    "GetPolicyRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "GetPolicyResponse": {
      "type": "object",
      "properties": {
        "Policy": {
          "$ref": "#/definitions/String",
          "description": "The resource policy associated with the specified function. The response returns the same as a string using a backslash (\"\\\") as an escape character in the JSON."
        }
      },
      "description": "<p/>"
    },
    "Handler": {
      "type": "string",
      "pattern": "[^\\s]+",
      "maxLength": 128
    },
    "HttpStatus": {
      "type": "integer"
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidParameterValueException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String",
          "description": "<p/>"
        },
        "message": {
          "$ref": "#/definitions/String",
          "description": "<p/>"
        }
      },
      "description": "One of the parameters in the request is invalid. For example, if you provided an IAM role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code> API, that AWS Lambda is unable to assume you will get this exception. "
    },
    "InvalidRequestContentException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String",
          "description": "<p/>"
        },
        "message": {
          "$ref": "#/definitions/String",
          "description": "<p/>"
        }
      },
      "description": "The request body could not be parsed as JSON."
    },
    "InvalidSecurityGroupIDException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The Security Group ID provided in the Lambda function VPC configuration is invalid."
    },
    "InvalidSubnetIDException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The Subnet ID provided in the Lambda function VPC configuration is invalid."
    },
    "InvalidZipFileException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "AWS Lambda could not unzip the function zip file."
    },
    "InvocationRequest": {
      "type": "object",
      "properties": {
        "Payload": {
          "$ref": "#/definitions/Blob",
          "description": "JSON that you want to provide to your Lambda function as input."
        }
      },
      "description": "<p/>"
    },
    "InvocationResponse": {
      "type": "object",
      "properties": {
        "Payload": {
          "$ref": "#/definitions/Blob",
          "description": "<p> It is the JSON representation of the object returned by the Lambda function. In This is present only if the invocation type is <code>RequestResponse</code>. </p> <p>In the event of a function error this field contains a message describing the error. For the <code>Handled</code> errors the Lambda function will report this message. For <code>Unhandled</code> errors AWS Lambda reports the message. </p>"
        }
      },
      "description": "Upon success, returns an empty response. Otherwise, throws an exception."
    },
    "InvocationType": {
      "type": "string",
      "enum": [
        "Event",
        "RequestResponse",
        "DryRun"
      ]
    },
    "InvokeAsyncRequest": {
      "type": "object",
      "required": [
        "InvokeArgs"
      ],
      "properties": {
        "InvokeArgs": {
          "$ref": "#/definitions/BlobStream",
          "description": "JSON that you want to provide to your Lambda function as input."
        }
      },
      "description": "<p/>"
    },
    "InvokeAsyncResponse": {
      "type": "object",
      "properties": {},
      "description": "Upon success, it returns empty response. Otherwise, throws an exception."
    },
    "ListAliasesRequest": {
      "type": "object",
      "properties": {}
    },
    "ListAliasesResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/String",
          "description": "A string, present if there are more aliases."
        },
        "Aliases": {
          "$ref": "#/definitions/AliasList",
          "description": "A list of aliases."
        }
      }
    },
    "ListEventSourceMappingsRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "ListEventSourceMappingsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/String",
          "description": "A string, present if there are more event source mappings."
        },
        "EventSourceMappings": {
          "$ref": "#/definitions/EventSourceMappingsList",
          "description": "An array of <code>EventSourceMappingConfiguration</code> objects."
        }
      },
      "description": "Contains a list of event sources (see )"
    },
    "ListFunctionsRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "ListFunctionsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/String",
          "description": "A string, present if there are more functions."
        },
        "Functions": {
          "$ref": "#/definitions/FunctionList",
          "description": "A list of Lambda functions."
        }
      },
      "description": "Contains a list of AWS Lambda function configurations (see <a>FunctionConfiguration</a>."
    },
    "ListVersionsByFunctionRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "ListVersionsByFunctionResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/String",
          "description": "A string, present if there are more function versions."
        },
        "Versions": {
          "$ref": "#/definitions/FunctionList",
          "description": "A list of Lambda function versions."
        }
      },
      "description": "<p/>"
    },
    "LogType": {
      "type": "string",
      "enum": [
        "None",
        "Tail"
      ]
    },
    "Long": {
      "type": "integer"
    },
    "MaxListItems": {
      "type": "integer",
      "minimum": 1,
      "maximum": 10000
    },
    "MemorySize": {
      "type": "integer",
      "minimum": 128,
      "maximum": 1536
    },
    "PolicyLengthExceededException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "Lambda function access policy is limited to 20 KB."
    },
    "Principal": {
      "type": "string",
      "pattern": ".*"
    },
    "PublishVersionRequest": {
      "type": "object",
      "properties": {
        "CodeSha256": {
          "$ref": "#/definitions/String",
          "description": "The SHA256 hash of the deployment package you want to publish. This provides validation on the code you are publishing. If you provide this parameter value must match the SHA256 of the $LATEST version for the publication to succeed."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "The description for the version you are publishing. If not provided, AWS Lambda copies the description from the $LATEST version."
        }
      },
      "description": "<p/>"
    },
    "Qualifier": {
      "type": "string",
      "pattern": "(|[a-zA-Z0-9$_-]+)",
      "minLength": 1,
      "maxLength": 128
    },
    "RemovePermissionRequest": {
      "type": "object",
      "properties": {},
      "description": "<p/>"
    },
    "RequestTooLargeException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The request payload exceeded the <code>Invoke</code> request body JSON input limit. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a>. "
    },
    "ResourceConflictException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String",
          "description": "<p/>"
        },
        "message": {
          "$ref": "#/definitions/String",
          "description": "<p/>"
        }
      },
      "description": "The resource already exists."
    },
    "ResourceNotFoundException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The resource (for example, a Lambda function or access policy statement) specified in the request does not exist."
    },
    "RoleArn": {
      "type": "string",
      "pattern": "arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "Runtime": {
      "type": "string",
      "enum": [
        "nodejs",
        "nodejs4.3",
        "java8",
        "python2.7"
      ]
    },
    "S3Bucket": {
      "type": "string",
      "minLength": 3,
      "maxLength": 63,
      "x-pattern": "^[0-9A-Za-z\\.\\-_]*(?<!\\.)$"
    },
    "S3Key": {
      "type": "string",
      "minLength": 1,
      "maxLength": 1024
    },
    "S3ObjectVersion": {
      "type": "string",
      "minLength": 1,
      "maxLength": 1024
    },
    "SecurityGroupId": {
      "type": "string"
    },
    "SecurityGroupIds": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SecurityGroupId"
      },
      "maxItems": 5
    },
    "ServiceException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The AWS Lambda service encountered an internal error."
    },
    "SourceOwner": {
      "type": "string",
      "pattern": "\\d{12}"
    },
    "StatementId": {
      "type": "string",
      "pattern": "([a-zA-Z0-9-_]+)",
      "minLength": 1,
      "maxLength": 100
    },
    "String": {
      "type": "string"
    },
    "SubnetIPAddressLimitReachedException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "Message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "AWS Lambda was not able to set up VPC access for the Lambda function because one or more configured subnets has no available IP addresses."
    },
    "SubnetId": {
      "type": "string"
    },
    "SubnetIds": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SubnetId"
      },
      "maxItems": 16
    },
    "ThrottleReason": {
      "type": "string",
      "enum": [
        "ConcurrentInvocationLimitExceeded",
        "FunctionInvocationRateLimitExceeded",
        "CallerRateLimitExceeded"
      ]
    },
    "Timeout": {
      "type": "integer",
      "minimum": 1
    },
    "Timestamp": {
      "type": "string"
    },
    "TooManyRequestsException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "message": {
          "$ref": "#/definitions/String"
        },
        "Reason": {
          "$ref": "#/definitions/ThrottleReason"
        }
      },
      "description": "<p/>"
    },
    "UnsupportedMediaTypeException": {
      "type": "object",
      "properties": {
        "Type": {
          "$ref": "#/definitions/String"
        },
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "The content type of the <code>Invoke</code> request body is not JSON."
    },
    "UpdateAliasRequest": {
      "type": "object",
      "properties": {
        "FunctionVersion": {
          "$ref": "#/definitions/Version",
          "description": "Using this parameter you can change the Lambda function version to which the alias points."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "You can change the description of the alias using this parameter."
        }
      }
    },
    "UpdateEventSourceMappingRequest": {
      "type": "object",
      "properties": {
        "FunctionName": {
          "$ref": "#/definitions/FunctionName",
          "description": "<p>The Lambda function to which you want the stream records sent.</p> <p> You can specify a function name (for example, <code>Thumbnail</code>) or you can specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>). AWS Lambda also allows you to specify a partial ARN (for example, <code>account-id:Thumbnail</code>). </p> <p>If you are using versioning, you can also provide a qualified function ARN (ARN that is qualified with function version or alias name as suffix). For more information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS Lambda Function Versioning and Aliases</a> </p> <p>Note that the length constraint applies only to the ARN. If you specify only the function name, it is limited to 64 character in length.</p>"
        },
        "Enabled": {
          "$ref": "#/definitions/Enabled",
          "description": "Specifies whether AWS Lambda should actively poll the stream or not. If disabled, AWS Lambda will not poll the stream."
        },
        "BatchSize": {
          "$ref": "#/definitions/BatchSize",
          "description": "The maximum number of stream records that can be sent to your Lambda function for a single invocation."
        }
      },
      "description": "<p/>"
    },
    "UpdateFunctionCodeRequest": {
      "type": "object",
      "properties": {
        "ZipFile": {
          "$ref": "#/definitions/Blob",
          "description": "The contents of your zip file containing your deployment package. If you are using the web API directly, the contents of the zip file must be base64-encoded. If you are using the AWS SDKs or the AWS CLI, the SDKs or CLI will do the encoding for you. For more information about creating a .zip file, go to <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role.html\">Execution Permissions</a> in the <i>AWS Lambda Developer Guide</i>. "
        },
        "S3Bucket": {
          "$ref": "#/definitions/S3Bucket",
          "description": "Amazon S3 bucket name where the .zip file containing your deployment package is stored. This bucket must reside in the same AWS region where you are creating the Lambda function."
        },
        "S3Key": {
          "$ref": "#/definitions/S3Key",
          "description": "The Amazon S3 object (the deployment package) key name you want to upload."
        },
        "S3ObjectVersion": {
          "$ref": "#/definitions/S3ObjectVersion",
          "description": "The Amazon S3 object (the deployment package) version you want to upload."
        },
        "Publish": {
          "$ref": "#/definitions/Boolean",
          "description": "This boolean parameter can be used to request AWS Lambda to update the Lambda function and publish a version as an atomic operation."
        }
      },
      "description": "<p/>"
    },
    "UpdateFunctionConfigurationRequest": {
      "type": "object",
      "properties": {
        "Role": {
          "$ref": "#/definitions/RoleArn",
          "description": "The Amazon Resource Name (ARN) of the IAM role that Lambda will assume when it executes your function."
        },
        "Handler": {
          "$ref": "#/definitions/Handler",
          "description": "The function that Lambda calls to begin executing your function. For Node.js, it is the <code>module-name.export</code> value in your function. "
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "A short user-defined function description. AWS Lambda does not use this value. Assign a meaningful description as you see fit."
        },
        "Timeout": {
          "$ref": "#/definitions/Timeout",
          "description": "The function execution time at which AWS Lambda should terminate the function. Because the execution time has cost implications, we recommend you set this value based on your expected execution time. The default is 3 seconds."
        },
        "MemorySize": {
          "$ref": "#/definitions/MemorySize",
          "description": "The amount of memory, in MB, your Lambda function is given. AWS Lambda uses this memory size to infer the amount of CPU allocated to your function. Your function use-case determines your CPU and memory requirements. For example, a database operation might need less memory compared to an image processing function. The default value is 128 MB. The value must be a multiple of 64 MB."
        },
        "VpcConfig": {
          "$ref": "#/definitions/VpcConfig"
        },
        "Runtime": {
          "$ref": "#/definitions/Runtime",
          "description": "<p>The runtime environment for the Lambda function.</p> <p>To use the Node.js runtime v4.3, set the value to \"nodejs4.3\". To use earlier runtime (v0.10.42), set the value to \"nodejs\".</p>"
        }
      },
      "description": "<p/>"
    },
    "Version": {
      "type": "string",
      "pattern": "(\\$LATEST|[0-9]+)",
      "minLength": 1,
      "maxLength": 1024
    },
    "VpcConfig": {
      "type": "object",
      "properties": {
        "SubnetIds": {
          "$ref": "#/definitions/SubnetIds",
          "description": "A list of one or more subnet IDs in your VPC."
        },
        "SecurityGroupIds": {
          "$ref": "#/definitions/SecurityGroupIds",
          "description": "A list of one or more security groups IDs in your VPC."
        }
      },
      "description": "If your Lambda function accesses resources in a VPC, you provide this parameter identifying the list of security group IDs and subnet IDs. These must belong to the same VPC. You must provide at least one security group and one subnet ID."
    },
    "VpcConfigResponse": {
      "type": "object",
      "properties": {
        "SubnetIds": {
          "$ref": "#/definitions/SubnetIds",
          "description": "A list of subnet IDs associated with the Lambda function."
        },
        "SecurityGroupIds": {
          "$ref": "#/definitions/SecurityGroupIds",
          "description": "A list of security group IDs associated with the Lambda function."
        },
        "VpcId": {
          "$ref": "#/definitions/VpcId",
          "description": "The VPC ID associated with you Lambda function."
        }
      },
      "description": "VPC configuration associated with your Lambda function."
    },
    "VpcId": {
      "type": "string"
    }
  }
}