{
  "swagger": "2.0",
  "info": {
    "title": "Music Search",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. You can also view our written documentation here: http://developer.touchtunes.com/docs ",
    "x-mashery-id": "1629"
  },
  "schemes": [
    "http"
  ],
  "host": "api.touchtunes.com",
  "basePath": "/music",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.touchtunes.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Music Catalog"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "KeywordSearchMusicCatalog",
        "summary": "Keyword Search our Metadata",
        "tags": [
          "Music Catalog"
        ],
        "parameters": [
          {
            "name": "query",
            "type": "string",
            "description": "enter keyword here",
            "in": "query",
            "required": true,
            "default": "Smashing Pumpkins"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/song": {
      "get": {
        "operationId": "SongIDSearchMusicCatalog",
        "summary": "Keyword Search our Metadata",
        "tags": [
          "Music Catalog"
        ],
        "parameters": [
          {
            "name": "song_id",
            "type": "string",
            "description": "enter song ID here",
            "in": "query",
            "required": true,
            "default": "92684602"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/popular/all": {
      "get": {
        "operationId": "AllPopularSongCategoriesMusicCatalog",
        "summary": "Provides a list of popular song categories",
        "tags": [
          "Music Catalog"
        ],
        "parameters": [
          {
            "name": "limit",
            "type": "string",
            "description": "enter a number of categories",
            "in": "query",
            "required": true,
            "default": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/popular/{CategoryID}": {
      "get": {
        "operationId": "PopularSongsbyCategoryIDMusicCatalog",
        "summary": "With the category ID, retrieve a list of songs for...",
        "description": "With the category ID, retrieve a list of songs for that category",
        "tags": [
          "Music Catalog"
        ],
        "parameters": [
          {
            "name": "CategoryID",
            "type": "string",
            "description": "Category ID",
            "in": "path",
            "required": true,
            "default": "122"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/recommendations/{SongID}": {
      "get": {
        "operationId": "SongRecommendationsMusicCatalog",
        "summary": "Retrieve song recommendations by songid",
        "tags": [
          "Music Catalog"
        ],
        "parameters": [
          {
            "name": "SongID",
            "type": "string",
            "description": "Song ID",
            "in": "path",
            "required": true,
            "default": "57917901"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}