{
  "swagger": "2.0",
  "info": {
    "title": "Bombyx API",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.press.net/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Bombyx Racing Silks API",
    "x-mashery-id": "2743"
  },
  "schemes": [
    "http"
  ],
  "host": "api.press.net",
  "basePath": "/v1/bombyx/silk",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.press.net/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Silk"
    }
  ],
  "paths": {
    "/{silkId}": {
      "get": {
        "operationId": "ReturnsilkSilk",
        "summary": "Retrieve racing silk for specified id",
        "tags": [
          "Silk"
        ],
        "parameters": [
          {
            "name": "silkId",
            "type": "string",
            "description": "ID of silk",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}