{
  "swagger": "2.0",
  "info": {
    "version": "2016-04-01",
    "x-release": "v4",
    "title": "Amazon Elastic Compute Cloud",
    "description": "<fullname>Amazon Elastic Compute Cloud</fullname> <p>Amazon Elastic Compute Cloud (Amazon EC2) provides resizable computing capacity in the Amazon Web Services (AWS) cloud. Using Amazon EC2 eliminates your need to invest in hardware up front, so you can develop and deploy applications faster.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/ec2/"
  },
  "host": "ec2.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UnmonitorInstances",
        "description": "Disables monitoring for a running instance. For more information about monitoring instances, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-cloudwatch.html\">Monitoring Your Instances and Volumes</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UnmonitorInstancesResult"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnmonitorInstancesRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AcceptVpcPeeringConnectionRequest": {
      "type": "object",
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VpcPeeringConnectionId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC peering connection."
        }
      },
      "description": "Contains the parameters for AcceptVpcPeeringConnection."
    },
    "AcceptVpcPeeringConnectionResult": {
      "type": "object",
      "properties": {
        "VpcPeeringConnection": {
          "$ref": "#/definitions/VpcPeeringConnection",
          "description": "Information about the VPC peering connection."
        }
      },
      "description": "Contains the output of AcceptVpcPeeringConnection."
    },
    "AccountAttribute": {
      "type": "object",
      "properties": {
        "AttributeName": {
          "$ref": "#/definitions/String",
          "description": "The name of the account attribute."
        },
        "AttributeValues": {
          "$ref": "#/definitions/AccountAttributeValueList",
          "description": "One or more values for the account attribute."
        }
      },
      "description": "Describes an account attribute."
    },
    "AccountAttributeList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccountAttribute"
      }
    },
    "AccountAttributeName": {
      "type": "string",
      "enum": [
        "supported-platforms",
        "default-vpc"
      ]
    },
    "AccountAttributeNameStringList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccountAttributeName"
      }
    },
    "AccountAttributeValue": {
      "type": "object",
      "properties": {
        "AttributeValue": {
          "$ref": "#/definitions/String",
          "description": "The value of the attribute."
        }
      },
      "description": "Describes a value of an account attribute."
    },
    "AccountAttributeValueList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccountAttributeValue"
      }
    },
    "ActiveInstance": {
      "type": "object",
      "properties": {
        "InstanceType": {
          "$ref": "#/definitions/String",
          "description": "The instance type."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance."
        },
        "SpotInstanceRequestId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the Spot instance request."
        }
      },
      "description": "Describes a running instance in a Spot fleet."
    },
    "ActiveInstanceSet": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ActiveInstance"
      }
    },
    "ActivityStatus": {
      "type": "string",
      "enum": [
        "error",
        "pending_fulfillment",
        "pending_termination",
        "fulfilled"
      ]
    },
    "Address": {
      "type": "object",
      "properties": {
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance that the address is associated with (if any)."
        },
        "PublicIp": {
          "$ref": "#/definitions/String",
          "description": "The Elastic IP address."
        },
        "AllocationId": {
          "$ref": "#/definitions/String",
          "description": "The ID representing the allocation of the address for use with EC2-VPC."
        },
        "AssociationId": {
          "$ref": "#/definitions/String",
          "description": "The ID representing the association of the address with an instance in a VPC."
        },
        "Domain": {
          "$ref": "#/definitions/DomainType",
          "description": "Indicates whether this Elastic IP address is for use with instances in EC2-Classic (<code>standard</code>) or instances in a VPC (<code>vpc</code>)."
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the network interface."
        },
        "NetworkInterfaceOwnerId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the AWS account that owns the network interface."
        },
        "PrivateIpAddress": {
          "$ref": "#/definitions/String",
          "description": "The private IP address associated with the Elastic IP address."
        }
      },
      "description": "Describes an Elastic IP address."
    },
    "AddressList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Address"
      }
    },
    "Affinity": {
      "type": "string",
      "enum": [
        "default",
        "host"
      ]
    },
    "AllocateAddressRequest": {
      "type": "object",
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "Domain": {
          "$ref": "#/definitions/DomainType",
          "description": "<p>Set to <code>vpc</code> to allocate the address for use with instances in a VPC.</p> <p>Default: The address is for use with instances in EC2-Classic.</p>"
        }
      },
      "description": "Contains the parameters for AllocateAddress."
    },
    "AllocateAddressResult": {
      "type": "object",
      "properties": {
        "PublicIp": {
          "$ref": "#/definitions/String",
          "description": "The Elastic IP address."
        },
        "Domain": {
          "$ref": "#/definitions/DomainType",
          "description": "Indicates whether this Elastic IP address is for use with instances in EC2-Classic (<code>standard</code>) or instances in a VPC (<code>vpc</code>)."
        },
        "AllocationId": {
          "$ref": "#/definitions/String",
          "description": "[EC2-VPC] The ID that AWS assigns to represent the allocation of the Elastic IP address for use with instances in a VPC."
        }
      },
      "description": "Contains the output of AllocateAddress."
    },
    "AllocateHostsRequest": {
      "type": "object",
      "required": [
        "InstanceType",
        "Quantity",
        "AvailabilityZone"
      ],
      "properties": {
        "AutoPlacement": {
          "$ref": "#/definitions/AutoPlacement",
          "description": "<p>This is enabled by default. This property allows instances to be automatically placed onto available Dedicated Hosts, when you are launching instances without specifying a host ID.</p> <p>Default: Enabled</p>"
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure idempotency of the request. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. "
        },
        "InstanceType": {
          "$ref": "#/definitions/String",
          "description": "Specify the instance type that you want your Dedicated Hosts to be configured for. When you specify the instance type, that is the only instance type that you can launch onto that host."
        },
        "Quantity": {
          "$ref": "#/definitions/Integer",
          "description": "The number of Dedicated Hosts you want to allocate to your account with these parameters."
        },
        "AvailabilityZone": {
          "$ref": "#/definitions/String",
          "description": "The Availability Zone for the Dedicated Hosts."
        }
      },
      "description": "Contains the parameters for AllocateHosts."
    },
    "AllocateHostsResult": {
      "type": "object",
      "properties": {
        "HostIds": {
          "$ref": "#/definitions/ResponseHostIdList",
          "description": "The ID of the allocated Dedicated Host. This is used when you want to launch an instance onto a specific host."
        }
      },
      "description": "Contains the output of AllocateHosts."
    },
    "AllocationIdList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "AllocationState": {
      "type": "string",
      "enum": [
        "available",
        "under-assessment",
        "permanent-failure",
        "released",
        "released-permanent-failure"
      ]
    },
    "AllocationStrategy": {
      "type": "string",
      "enum": [
        "lowestPrice",
        "diversified"
      ]
    },
    "ArchitectureValues": {
      "type": "string",
      "enum": [
        "i386",
        "x86_64"
      ]
    },
    "AssignPrivateIpAddressesRequest": {
      "type": "object",
      "required": [
        "NetworkInterfaceId"
      ],
      "properties": {
        "NetworkInterfaceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the network interface."
        },
        "PrivateIpAddresses": {
          "$ref": "#/definitions/PrivateIpAddressStringList",
          "description": "<p>One or more IP addresses to be assigned as a secondary private IP address to the network interface. You can't specify this parameter when also specifying a number of secondary IP addresses.</p> <p>If you don't specify an IP address, Amazon EC2 automatically selects an IP address within the subnet range.</p>"
        },
        "SecondaryPrivateIpAddressCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of secondary IP addresses to assign to the network interface. You can't specify this parameter when also specifying private IP addresses."
        },
        "AllowReassignment": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether to allow an IP address that is already assigned to another network interface or instance to be reassigned to the specified network interface."
        }
      },
      "description": "Contains the parameters for AssignPrivateIpAddresses."
    },
    "AssociateAddressRequest": {
      "type": "object",
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance. This is required for EC2-Classic. For EC2-VPC, you can specify either the instance ID or the network interface ID, but not both. The operation fails if you specify an instance ID unless exactly one network interface is attached."
        },
        "PublicIp": {
          "$ref": "#/definitions/String",
          "description": "The Elastic IP address. This is required for EC2-Classic."
        },
        "AllocationId": {
          "$ref": "#/definitions/String",
          "description": "[EC2-VPC] The allocation ID. This is required for EC2-VPC."
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/String",
          "description": "[EC2-VPC] The ID of the network interface. If the instance has more than one network interface, you must specify a network interface ID."
        },
        "PrivateIpAddress": {
          "$ref": "#/definitions/String",
          "description": "[EC2-VPC] The primary or secondary private IP address to associate with the Elastic IP address. If no private IP address is specified, the Elastic IP address is associated with the primary private IP address."
        },
        "AllowReassociation": {
          "$ref": "#/definitions/Boolean",
          "description": "[EC2-VPC] For a VPC in an EC2-Classic account, specify true to allow an Elastic IP address that is already associated with an instance or network interface to be reassociated with the specified instance or network interface. Otherwise, the operation fails. In a VPC in an EC2-VPC-only account, reassociation is automatic, therefore you can specify false to ensure the operation fails if the Elastic IP address is already associated with another resource."
        }
      },
      "description": "Contains the parameters for AssociateAddress."
    },
    "AssociateAddressResult": {
      "type": "object",
      "properties": {
        "AssociationId": {
          "$ref": "#/definitions/String",
          "description": "[EC2-VPC] The ID that represents the association of the Elastic IP address with an instance."
        }
      },
      "description": "Contains the output of AssociateAddress."
    },
    "AssociateDhcpOptionsRequest": {
      "type": "object",
      "required": [
        "DhcpOptionsId",
        "VpcId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "DhcpOptionsId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the DHCP options set, or <code>default</code> to associate no DHCP options with the VPC."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        }
      },
      "description": "Contains the parameters for AssociateDhcpOptions."
    },
    "AssociateRouteTableRequest": {
      "type": "object",
      "required": [
        "SubnetId",
        "RouteTableId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "SubnetId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the subnet."
        },
        "RouteTableId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the route table."
        }
      },
      "description": "Contains the parameters for AssociateRouteTable."
    },
    "AssociateRouteTableResult": {
      "type": "object",
      "properties": {
        "AssociationId": {
          "$ref": "#/definitions/String",
          "description": "The route table association ID (needed to disassociate the route table)."
        }
      },
      "description": "Contains the output of AssociateRouteTable."
    },
    "AttachClassicLinkVpcRequest": {
      "type": "object",
      "required": [
        "InstanceId",
        "VpcId",
        "Groups"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of an EC2-Classic instance to link to the ClassicLink-enabled VPC."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of a ClassicLink-enabled VPC."
        },
        "Groups": {
          "$ref": "#/definitions/GroupIdStringList",
          "description": "The ID of one or more of the VPC's security groups. You cannot specify security groups from a different VPC."
        }
      },
      "description": "Contains the parameters for AttachClassicLinkVpc."
    },
    "AttachClassicLinkVpcResult": {
      "type": "object",
      "properties": {
        "Return": {
          "$ref": "#/definitions/Boolean",
          "description": "Returns <code>true</code> if the request succeeds; otherwise, it returns an error."
        }
      },
      "description": "Contains the output of AttachClassicLinkVpc."
    },
    "AttachInternetGatewayRequest": {
      "type": "object",
      "required": [
        "InternetGatewayId",
        "VpcId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "InternetGatewayId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the Internet gateway."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        }
      },
      "description": "Contains the parameters for AttachInternetGateway."
    },
    "AttachNetworkInterfaceRequest": {
      "type": "object",
      "required": [
        "NetworkInterfaceId",
        "InstanceId",
        "DeviceIndex"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the network interface."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance."
        },
        "DeviceIndex": {
          "$ref": "#/definitions/Integer",
          "description": "The index of the device for the network interface attachment."
        }
      },
      "description": "Contains the parameters for AttachNetworkInterface."
    },
    "AttachNetworkInterfaceResult": {
      "type": "object",
      "properties": {
        "AttachmentId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the network interface attachment."
        }
      },
      "description": "Contains the output of AttachNetworkInterface."
    },
    "AttachVolumeRequest": {
      "type": "object",
      "required": [
        "VolumeId",
        "InstanceId",
        "Device"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VolumeId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the EBS volume. The volume and instance must be within the same Availability Zone."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance."
        },
        "Device": {
          "$ref": "#/definitions/String",
          "description": "The device name to expose to the instance (for example, <code>/dev/sdh</code> or <code>xvdh</code>)."
        }
      },
      "description": "Contains the parameters for AttachVolume."
    },
    "AttachVpnGatewayRequest": {
      "type": "object",
      "required": [
        "VpnGatewayId",
        "VpcId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VpnGatewayId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the virtual private gateway."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        }
      },
      "description": "Contains the parameters for AttachVpnGateway."
    },
    "AttachVpnGatewayResult": {
      "type": "object",
      "properties": {
        "VpcAttachment": {
          "$ref": "#/definitions/VpcAttachment",
          "description": "Information about the attachment."
        }
      },
      "description": "Contains the output of AttachVpnGateway."
    },
    "AttachmentStatus": {
      "type": "string",
      "enum": [
        "attaching",
        "attached",
        "detaching",
        "detached"
      ]
    },
    "AttributeBooleanValue": {
      "type": "object",
      "properties": {
        "Value": {
          "$ref": "#/definitions/Boolean",
          "description": "The attribute value. The valid values are <code>true</code> or <code>false</code>."
        }
      },
      "description": "Describes a value for a resource attribute that is a Boolean value."
    },
    "AttributeValue": {
      "type": "object",
      "properties": {
        "Value": {
          "$ref": "#/definitions/String",
          "description": "The attribute value. Note that the value is case-sensitive."
        }
      },
      "description": "Describes a value for a resource attribute that is a String."
    },
    "AuthorizeSecurityGroupEgressRequest": {
      "type": "object",
      "required": [
        "GroupId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "GroupId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the security group."
        },
        "SourceSecurityGroupName": {
          "$ref": "#/definitions/String",
          "description": "The name of a destination security group. To authorize outbound access to a destination security group, we recommend that you use a set of IP permissions instead."
        },
        "SourceSecurityGroupOwnerId": {
          "$ref": "#/definitions/String",
          "description": "The AWS account number for a destination security group. To authorize outbound access to a destination security group, we recommend that you use a set of IP permissions instead."
        },
        "IpProtocol": {
          "$ref": "#/definitions/String",
          "description": "The IP protocol name or number. We recommend that you specify the protocol in a set of IP permissions instead."
        },
        "FromPort": {
          "$ref": "#/definitions/Integer",
          "description": "The start of port range for the TCP and UDP protocols, or an ICMP type number. We recommend that you specify the port range in a set of IP permissions instead."
        },
        "ToPort": {
          "$ref": "#/definitions/Integer",
          "description": "The end of port range for the TCP and UDP protocols, or an ICMP type number. We recommend that you specify the port range in a set of IP permissions instead."
        },
        "CidrIp": {
          "$ref": "#/definitions/String",
          "description": "The CIDR IP address range. We recommend that you specify the CIDR range in a set of IP permissions instead."
        },
        "IpPermissions": {
          "$ref": "#/definitions/IpPermissionList",
          "description": "A set of IP permissions. You can't specify a destination security group and a CIDR IP address range."
        }
      },
      "description": "Contains the parameters for AuthorizeSecurityGroupEgress."
    },
    "AuthorizeSecurityGroupIngressRequest": {
      "type": "object",
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "GroupName": {
          "$ref": "#/definitions/String",
          "description": "[EC2-Classic, default VPC] The name of the security group."
        },
        "GroupId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the security group. Required for a nondefault VPC."
        },
        "SourceSecurityGroupName": {
          "$ref": "#/definitions/String",
          "description": "[EC2-Classic, default VPC] The name of the source security group. You can't specify this parameter in combination with the following parameters: the CIDR IP address range, the start of the port range, the IP protocol, and the end of the port range. Creates rules that grant full ICMP, UDP, and TCP access. To create a rule with a specific IP protocol and port range, use a set of IP permissions instead. For EC2-VPC, the source security group must be in the same VPC."
        },
        "SourceSecurityGroupOwnerId": {
          "$ref": "#/definitions/String",
          "description": "[EC2-Classic] The AWS account number for the source security group, if the source security group is in a different account. You can't specify this parameter in combination with the following parameters: the CIDR IP address range, the IP protocol, the start of the port range, and the end of the port range. Creates rules that grant full ICMP, UDP, and TCP access. To create a rule with a specific IP protocol and port range, use a set of IP permissions instead."
        },
        "IpProtocol": {
          "$ref": "#/definitions/String",
          "description": "The IP protocol name (<code>tcp</code>, <code>udp</code>, <code>icmp</code>) or number (see <a href=\"http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>). (VPC only) Use <code>-1</code> to specify all traffic. If you specify <code>-1</code>, traffic on all ports is allowed, regardless of any ports you specify."
        },
        "FromPort": {
          "$ref": "#/definitions/Integer",
          "description": "The start of port range for the TCP and UDP protocols, or an ICMP type number. For the ICMP type number, use <code>-1</code> to specify all ICMP types."
        },
        "ToPort": {
          "$ref": "#/definitions/Integer",
          "description": "The end of port range for the TCP and UDP protocols, or an ICMP code number. For the ICMP code number, use <code>-1</code> to specify all ICMP codes for the ICMP type."
        },
        "CidrIp": {
          "$ref": "#/definitions/String",
          "description": "The CIDR IP address range. You can't specify this parameter when specifying a source security group."
        },
        "IpPermissions": {
          "$ref": "#/definitions/IpPermissionList",
          "description": "A set of IP permissions. Can be used to specify multiple rules in a single command."
        }
      },
      "description": "Contains the parameters for AuthorizeSecurityGroupIngress."
    },
    "AutoPlacement": {
      "type": "string",
      "enum": [
        "on",
        "off"
      ]
    },
    "AvailabilityZone": {
      "type": "object",
      "properties": {
        "ZoneName": {
          "$ref": "#/definitions/String",
          "description": "The name of the Availability Zone."
        },
        "State": {
          "$ref": "#/definitions/AvailabilityZoneState",
          "description": "The state of the Availability Zone."
        },
        "RegionName": {
          "$ref": "#/definitions/String",
          "description": "The name of the region."
        },
        "Messages": {
          "$ref": "#/definitions/AvailabilityZoneMessageList",
          "description": "Any messages about the Availability Zone."
        }
      },
      "description": "Describes an Availability Zone."
    },
    "AvailabilityZoneList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AvailabilityZone"
      }
    },
    "AvailabilityZoneMessage": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The message about the Availability Zone."
        }
      },
      "description": "Describes a message about an Availability Zone."
    },
    "AvailabilityZoneMessageList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AvailabilityZoneMessage"
      }
    },
    "AvailabilityZoneState": {
      "type": "string",
      "enum": [
        "available",
        "information",
        "impaired",
        "unavailable"
      ]
    },
    "AvailableCapacity": {
      "type": "object",
      "properties": {
        "AvailableInstanceCapacity": {
          "$ref": "#/definitions/AvailableInstanceCapacityList",
          "description": "The total number of instances that the Dedicated Host supports."
        },
        "AvailableVCpus": {
          "$ref": "#/definitions/Integer",
          "description": "The number of vCPUs available on the Dedicated Host."
        }
      },
      "description": "The capacity information for instances launched onto the Dedicated Host."
    },
    "AvailableInstanceCapacityList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceCapacity"
      }
    },
    "BatchState": {
      "type": "string",
      "enum": [
        "submitted",
        "active",
        "cancelled",
        "failed",
        "cancelled_running",
        "cancelled_terminating",
        "modifying"
      ]
    },
    "Blob": {
      "type": "string"
    },
    "BlobAttributeValue": {
      "type": "object",
      "properties": {
        "Value": {
          "$ref": "#/definitions/Blob"
        }
      }
    },
    "BlockDeviceMapping": {
      "type": "object",
      "properties": {
        "VirtualName": {
          "$ref": "#/definitions/String",
          "description": "<p>The virtual device name (<code>ephemeral</code>N). Instance store volumes are numbered starting from 0. An instance type with 2 available instance store volumes can specify mappings for <code>ephemeral0</code> and <code>ephemeral1</code>.The number of available instance store volumes depends on the instance type. After you connect to the instance, you must mount the volume.</p> <p>Constraints: For M3 instances, you must specify instance store volumes in the block device mapping for the instance. When you launch an M3 instance, we ignore any instance store volumes specified in the block device mapping for the AMI.</p>"
        },
        "DeviceName": {
          "$ref": "#/definitions/String",
          "description": "The device name exposed to the instance (for example, <code>/dev/sdh</code> or <code>xvdh</code>)."
        },
        "Ebs": {
          "$ref": "#/definitions/EbsBlockDevice",
          "description": "Parameters used to automatically set up EBS volumes when the instance is launched."
        },
        "NoDevice": {
          "$ref": "#/definitions/String",
          "description": "Suppresses the specified device included in the block device mapping of the AMI."
        }
      },
      "description": "Describes a block device mapping."
    },
    "BlockDeviceMappingList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BlockDeviceMapping"
      }
    },
    "BlockDeviceMappingRequestList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BlockDeviceMapping"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "BundleIdStringList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "BundleInstanceRequest": {
      "type": "object",
      "required": [
        "InstanceId",
        "Storage"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "<p>The ID of the instance to bundle.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: Yes</p>"
        },
        "Storage": {
          "$ref": "#/definitions/Storage",
          "description": "The bucket in which to store the AMI. You can specify a bucket that you already own or a new bucket that Amazon EC2 creates on your behalf. If you specify a bucket that belongs to someone else, Amazon EC2 returns an error."
        }
      },
      "description": "Contains the parameters for BundleInstance."
    },
    "BundleInstanceResult": {
      "type": "object",
      "properties": {
        "BundleTask": {
          "$ref": "#/definitions/BundleTask",
          "description": "Information about the bundle task."
        }
      },
      "description": "Contains the output of BundleInstance."
    },
    "BundleTask": {
      "type": "object",
      "properties": {
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance associated with this bundle task."
        },
        "BundleId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the bundle task."
        },
        "State": {
          "$ref": "#/definitions/BundleTaskState",
          "description": "The state of the task."
        },
        "StartTime": {
          "$ref": "#/definitions/DateTime",
          "description": "The time this task started."
        },
        "UpdateTime": {
          "$ref": "#/definitions/DateTime",
          "description": "The time of the most recent update for the task."
        },
        "Storage": {
          "$ref": "#/definitions/Storage",
          "description": "The Amazon S3 storage locations."
        },
        "Progress": {
          "$ref": "#/definitions/String",
          "description": "The level of task completion, as a percent (for example, 20%)."
        },
        "BundleTaskError": {
          "$ref": "#/definitions/BundleTaskError",
          "description": "If the task fails, a description of the error."
        }
      },
      "description": "Describes a bundle task."
    },
    "BundleTaskError": {
      "type": "object",
      "properties": {
        "Code": {
          "$ref": "#/definitions/String",
          "description": "The error code."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The error message."
        }
      },
      "description": "Describes an error for <a>BundleInstance</a>."
    },
    "BundleTaskList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BundleTask"
      }
    },
    "BundleTaskState": {
      "type": "string",
      "enum": [
        "pending",
        "waiting-for-shutdown",
        "bundling",
        "storing",
        "cancelling",
        "complete",
        "failed"
      ]
    },
    "CancelBatchErrorCode": {
      "type": "string",
      "enum": [
        "fleetRequestIdDoesNotExist",
        "fleetRequestIdMalformed",
        "fleetRequestNotInCancellableState",
        "unexpectedError"
      ]
    },
    "CancelBundleTaskRequest": {
      "type": "object",
      "required": [
        "BundleId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "BundleId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the bundle task."
        }
      },
      "description": "Contains the parameters for CancelBundleTask."
    },
    "CancelBundleTaskResult": {
      "type": "object",
      "properties": {
        "BundleTask": {
          "$ref": "#/definitions/BundleTask",
          "description": "Information about the bundle task."
        }
      },
      "description": "Contains the output of CancelBundleTask."
    },
    "CancelConversionRequest": {
      "type": "object",
      "required": [
        "ConversionTaskId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "ConversionTaskId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the conversion task."
        },
        "ReasonMessage": {
          "$ref": "#/definitions/String",
          "description": "The reason for canceling the conversion task."
        }
      },
      "description": "Contains the parameters for CancelConversionTask."
    },
    "CancelExportTaskRequest": {
      "type": "object",
      "required": [
        "ExportTaskId"
      ],
      "properties": {
        "ExportTaskId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the export task. This is the ID returned by <code>CreateInstanceExportTask</code>."
        }
      },
      "description": "Contains the parameters for CancelExportTask."
    },
    "CancelImportTaskRequest": {
      "type": "object",
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "ImportTaskId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the import image or import snapshot task to be canceled."
        },
        "CancelReason": {
          "$ref": "#/definitions/String",
          "description": "The reason for canceling the task."
        }
      },
      "description": "Contains the parameters for CancelImportTask."
    },
    "CancelImportTaskResult": {
      "type": "object",
      "properties": {
        "ImportTaskId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the task being canceled."
        },
        "State": {
          "$ref": "#/definitions/String",
          "description": "The current state of the task being canceled."
        },
        "PreviousState": {
          "$ref": "#/definitions/String",
          "description": "The current state of the task being canceled."
        }
      },
      "description": "Contains the output for CancelImportTask."
    },
    "CancelReservedInstancesListingRequest": {
      "type": "object",
      "required": [
        "ReservedInstancesListingId"
      ],
      "properties": {
        "ReservedInstancesListingId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the Reserved Instance listing."
        }
      },
      "description": "Contains the parameters for CancelReservedInstancesListing."
    },
    "CancelReservedInstancesListingResult": {
      "type": "object",
      "properties": {
        "ReservedInstancesListings": {
          "$ref": "#/definitions/ReservedInstancesListingList",
          "description": "The Reserved Instance listing."
        }
      },
      "description": "Contains the output of CancelReservedInstancesListing."
    },
    "CancelSpotFleetRequestsError": {
      "type": "object",
      "required": [
        "Code",
        "Message"
      ],
      "properties": {
        "Code": {
          "$ref": "#/definitions/CancelBatchErrorCode",
          "description": "The error code."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The description for the error code."
        }
      },
      "description": "Describes a Spot fleet error."
    },
    "CancelSpotFleetRequestsErrorItem": {
      "type": "object",
      "required": [
        "SpotFleetRequestId",
        "Error"
      ],
      "properties": {
        "SpotFleetRequestId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the Spot fleet request."
        },
        "Error": {
          "$ref": "#/definitions/CancelSpotFleetRequestsError",
          "description": "The error."
        }
      },
      "description": "Describes a Spot fleet request that was not successfully canceled."
    },
    "CancelSpotFleetRequestsErrorSet": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CancelSpotFleetRequestsErrorItem"
      }
    },
    "CancelSpotFleetRequestsRequest": {
      "type": "object",
      "required": [
        "SpotFleetRequestIds",
        "TerminateInstances"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "SpotFleetRequestIds": {
          "$ref": "#/definitions/ValueStringList",
          "description": "The IDs of the Spot fleet requests."
        },
        "TerminateInstances": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether to terminate instances for a Spot fleet request if it is canceled successfully."
        }
      },
      "description": "Contains the parameters for CancelSpotFleetRequests."
    },
    "CancelSpotFleetRequestsResponse": {
      "type": "object",
      "properties": {
        "UnsuccessfulFleetRequests": {
          "$ref": "#/definitions/CancelSpotFleetRequestsErrorSet",
          "description": "Information about the Spot fleet requests that are not successfully canceled."
        },
        "SuccessfulFleetRequests": {
          "$ref": "#/definitions/CancelSpotFleetRequestsSuccessSet",
          "description": "Information about the Spot fleet requests that are successfully canceled."
        }
      },
      "description": "Contains the output of CancelSpotFleetRequests."
    },
    "CancelSpotFleetRequestsSuccessItem": {
      "type": "object",
      "required": [
        "SpotFleetRequestId",
        "CurrentSpotFleetRequestState",
        "PreviousSpotFleetRequestState"
      ],
      "properties": {
        "SpotFleetRequestId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the Spot fleet request."
        },
        "CurrentSpotFleetRequestState": {
          "$ref": "#/definitions/BatchState",
          "description": "The current state of the Spot fleet request."
        },
        "PreviousSpotFleetRequestState": {
          "$ref": "#/definitions/BatchState",
          "description": "The previous state of the Spot fleet request."
        }
      },
      "description": "Describes a Spot fleet request that was successfully canceled."
    },
    "CancelSpotFleetRequestsSuccessSet": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CancelSpotFleetRequestsSuccessItem"
      }
    },
    "CancelSpotInstanceRequestState": {
      "type": "string",
      "enum": [
        "active",
        "open",
        "closed",
        "cancelled",
        "completed"
      ]
    },
    "CancelSpotInstanceRequestsRequest": {
      "type": "object",
      "required": [
        "SpotInstanceRequestIds"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "SpotInstanceRequestIds": {
          "$ref": "#/definitions/SpotInstanceRequestIdList",
          "description": "One or more Spot instance request IDs."
        }
      },
      "description": "Contains the parameters for CancelSpotInstanceRequests."
    },
    "CancelSpotInstanceRequestsResult": {
      "type": "object",
      "properties": {
        "CancelledSpotInstanceRequests": {
          "$ref": "#/definitions/CancelledSpotInstanceRequestList",
          "description": "One or more Spot instance requests."
        }
      },
      "description": "Contains the output of CancelSpotInstanceRequests."
    },
    "CancelledSpotInstanceRequest": {
      "type": "object",
      "properties": {
        "SpotInstanceRequestId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the Spot instance request."
        },
        "State": {
          "$ref": "#/definitions/CancelSpotInstanceRequestState",
          "description": "The state of the Spot instance request."
        }
      },
      "description": "Describes a request to cancel a Spot instance."
    },
    "CancelledSpotInstanceRequestList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CancelledSpotInstanceRequest"
      }
    },
    "ClassicLinkDnsSupport": {
      "type": "object",
      "properties": {
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        },
        "ClassicLinkDnsSupported": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether ClassicLink DNS support is enabled for the VPC."
        }
      },
      "description": "Describes the ClassicLink DNS support status of a VPC."
    },
    "ClassicLinkDnsSupportList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ClassicLinkDnsSupport"
      }
    },
    "ClassicLinkInstance": {
      "type": "object",
      "properties": {
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        },
        "Groups": {
          "$ref": "#/definitions/GroupIdentifierList",
          "description": "A list of security groups."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "Any tags assigned to the instance."
        }
      },
      "description": "Describes a linked EC2-Classic instance."
    },
    "ClassicLinkInstanceList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ClassicLinkInstance"
      }
    },
    "ClientData": {
      "type": "object",
      "properties": {
        "UploadStart": {
          "$ref": "#/definitions/DateTime",
          "description": "The time that the disk upload starts."
        },
        "UploadEnd": {
          "$ref": "#/definitions/DateTime",
          "description": "The time that the disk upload ends."
        },
        "UploadSize": {
          "$ref": "#/definitions/Double",
          "description": "The size of the uploaded disk image, in GiB."
        },
        "Comment": {
          "$ref": "#/definitions/String",
          "description": "A user-defined comment about the disk upload."
        }
      },
      "description": "Describes the client-specific data."
    },
    "ConfirmProductInstanceRequest": {
      "type": "object",
      "required": [
        "ProductCode",
        "InstanceId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "ProductCode": {
          "$ref": "#/definitions/String",
          "description": "The product code. This must be a product code that you own."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance."
        }
      },
      "description": "Contains the parameters for ConfirmProductInstance."
    },
    "ConfirmProductInstanceResult": {
      "type": "object",
      "properties": {
        "OwnerId": {
          "$ref": "#/definitions/String",
          "description": "The AWS account ID of the instance owner. This is only present if the product code is attached to the instance."
        },
        "Return": {
          "$ref": "#/definitions/Boolean",
          "description": "The return value of the request. Returns <code>true</code> if the specified product code is owned by the requester and associated with the specified instance."
        }
      },
      "description": "Contains the output of ConfirmProductInstance."
    },
    "ContainerFormat": {
      "type": "string",
      "enum": [
        "ova"
      ]
    },
    "ConversionIdStringList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "ConversionTask": {
      "type": "object",
      "required": [
        "ConversionTaskId",
        "State"
      ],
      "properties": {
        "ConversionTaskId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the conversion task."
        },
        "ExpirationTime": {
          "$ref": "#/definitions/String",
          "description": "The time when the task expires. If the upload isn't complete before the expiration time, we automatically cancel the task."
        },
        "ImportInstance": {
          "$ref": "#/definitions/ImportInstanceTaskDetails",
          "description": "If the task is for importing an instance, this contains information about the import instance task."
        },
        "ImportVolume": {
          "$ref": "#/definitions/ImportVolumeTaskDetails",
          "description": "If the task is for importing a volume, this contains information about the import volume task."
        },
        "State": {
          "$ref": "#/definitions/ConversionTaskState",
          "description": "The state of the conversion task."
        },
        "StatusMessage": {
          "$ref": "#/definitions/String",
          "description": "The status message related to the conversion task."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "Any tags assigned to the task."
        }
      },
      "description": "Describes a conversion task."
    },
    "ConversionTaskState": {
      "type": "string",
      "enum": [
        "active",
        "cancelling",
        "cancelled",
        "completed"
      ]
    },
    "CopyImageRequest": {
      "type": "object",
      "required": [
        "SourceRegion",
        "SourceImageId",
        "Name"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "SourceRegion": {
          "$ref": "#/definitions/String",
          "description": "The name of the region that contains the AMI to copy."
        },
        "SourceImageId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the AMI to copy."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the new AMI in the destination region."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "A description for the new AMI in the destination region."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure idempotency of the request. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>."
        },
        "Encrypted": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the destination snapshots of the copied image should be encrypted. The default CMK for EBS is used unless a non-default AWS Key Management Service (AWS KMS) CMK is specified with <code>KmsKeyId</code>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html\">Amazon EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>."
        },
        "KmsKeyId": {
          "$ref": "#/definitions/String",
          "description": "The full ARN of the AWS Key Management Service (AWS KMS) CMK to use when encrypting the snapshots of an image during a copy operation. This parameter is only required if you want to use a non-default CMK; if this parameter is not specified, the default CMK for EBS is used. The ARN contains the <code>arn:aws:kms</code> namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the <code>key</code> namespace, and then the CMK ID. For example, arn:aws:kms:<i>us-east-1</i>:<i>012345678910</i>:key/<i>abcd1234-a123-456a-a12b-a123b4cd56ef</i>. The specified CMK must exist in the region that the snapshot is being copied to. If a <code>KmsKeyId</code> is specified, the <code>Encrypted</code> flag must also be set."
        }
      },
      "description": "Contains the parameters for CopyImage."
    },
    "CopyImageResult": {
      "type": "object",
      "properties": {
        "ImageId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the new AMI."
        }
      },
      "description": "Contains the output of CopyImage."
    },
    "CopySnapshotRequest": {
      "type": "object",
      "required": [
        "SourceRegion",
        "SourceSnapshotId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "SourceRegion": {
          "$ref": "#/definitions/String",
          "description": "The ID of the region that contains the snapshot to be copied."
        },
        "SourceSnapshotId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the EBS snapshot to copy."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "A description for the EBS snapshot."
        },
        "DestinationRegion": {
          "$ref": "#/definitions/String",
          "description": "<p>The destination region to use in the <code>PresignedUrl</code> parameter of a snapshot copy operation. This parameter is only valid for specifying the destination region in a <code>PresignedUrl</code> parameter, where it is required.</p> <note> <p> <code>CopySnapshot</code> sends the snapshot copy to the regional endpoint that you send the HTTP request to, such as <code>ec2.us-east-1.amazonaws.com</code> (in the AWS CLI, this is specified with the <code>--region</code> parameter or the default region in your AWS configuration file).</p> </note>"
        },
        "PresignedUrl": {
          "$ref": "#/definitions/String",
          "description": "The pre-signed URL that facilitates copying an encrypted snapshot. This parameter is only required when copying an encrypted snapshot with the Amazon EC2 Query API; it is available as an optional parameter in all other cases. The <code>PresignedUrl</code> should use the snapshot source endpoint, the <code>CopySnapshot</code> action, and include the <code>SourceRegion</code>, <code>SourceSnapshotId</code>, and <code>DestinationRegion</code> parameters. The <code>PresignedUrl</code> must be signed using AWS Signature Version 4. Because EBS snapshots are stored in Amazon S3, the signing algorithm for this parameter uses the same logic that is described in <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">Authenticating Requests by Using Query Parameters (AWS Signature Version 4)</a> in the <i>Amazon Simple Storage Service API Reference</i>. An invalid or improperly signed <code>PresignedUrl</code> will cause the copy operation to fail asynchronously, and the snapshot will move to an <code>error</code> state."
        },
        "Encrypted": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the destination snapshot should be encrypted. You can encrypt a copy of an unencrypted snapshot using this flag, but you cannot use it to create an unencrypted copy from an encrypted snapshot. Your default CMK for EBS is used unless a non-default AWS Key Management Service (AWS KMS) CMK is specified with <code>KmsKeyId</code>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html\">Amazon EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>."
        },
        "KmsKeyId": {
          "$ref": "#/definitions/String",
          "description": "The full ARN of the AWS Key Management Service (AWS KMS) CMK to use when creating the snapshot copy. This parameter is only required if you want to use a non-default CMK; if this parameter is not specified, the default CMK for EBS is used. The ARN contains the <code>arn:aws:kms</code> namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the <code>key</code> namespace, and then the CMK ID. For example, arn:aws:kms:<i>us-east-1</i>:<i>012345678910</i>:key/<i>abcd1234-a123-456a-a12b-a123b4cd56ef</i>. The specified CMK must exist in the region that the snapshot is being copied to. If a <code>KmsKeyId</code> is specified, the <code>Encrypted</code> flag must also be set."
        }
      },
      "description": "Contains the parameters for CopySnapshot."
    },
    "CopySnapshotResult": {
      "type": "object",
      "properties": {
        "SnapshotId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the new snapshot."
        }
      },
      "description": "Contains the output of CopySnapshot."
    },
    "CreateCustomerGatewayRequest": {
      "type": "object",
      "required": [
        "Type",
        "PublicIp",
        "BgpAsn"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "Type": {
          "$ref": "#/definitions/GatewayType",
          "description": "The type of VPN connection that this customer gateway supports (<code>ipsec.1</code>)."
        },
        "PublicIp": {
          "$ref": "#/definitions/String",
          "description": "The Internet-routable IP address for the customer gateway's outside interface. The address must be static."
        },
        "BgpAsn": {
          "$ref": "#/definitions/Integer",
          "description": "<p>For devices that support BGP, the customer gateway's BGP ASN.</p> <p>Default: 65000</p>"
        }
      },
      "description": "Contains the parameters for CreateCustomerGateway."
    },
    "CreateCustomerGatewayResult": {
      "type": "object",
      "properties": {
        "CustomerGateway": {
          "$ref": "#/definitions/CustomerGateway",
          "description": "Information about the customer gateway."
        }
      },
      "description": "Contains the output of CreateCustomerGateway."
    },
    "CreateDhcpOptionsRequest": {
      "type": "object",
      "required": [
        "DhcpConfigurations"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "DhcpConfigurations": {
          "$ref": "#/definitions/NewDhcpConfigurationList",
          "description": "A DHCP configuration option."
        }
      },
      "description": "Contains the parameters for CreateDhcpOptions."
    },
    "CreateDhcpOptionsResult": {
      "type": "object",
      "properties": {
        "DhcpOptions": {
          "$ref": "#/definitions/DhcpOptions",
          "description": "A set of DHCP options."
        }
      },
      "description": "Contains the output of CreateDhcpOptions."
    },
    "CreateFlowLogsRequest": {
      "type": "object",
      "required": [
        "ResourceIds",
        "ResourceType",
        "TrafficType",
        "LogGroupName",
        "DeliverLogsPermissionArn"
      ],
      "properties": {
        "ResourceIds": {
          "$ref": "#/definitions/ValueStringList",
          "description": "<p>One or more subnet, network interface, or VPC IDs.</p> <p>Constraints: Maximum of 1000 resources</p>"
        },
        "ResourceType": {
          "$ref": "#/definitions/FlowLogsResourceType",
          "description": "The type of resource on which to create the flow log."
        },
        "TrafficType": {
          "$ref": "#/definitions/TrafficType",
          "description": "The type of traffic to log."
        },
        "LogGroupName": {
          "$ref": "#/definitions/String",
          "description": "The name of the CloudWatch log group."
        },
        "DeliverLogsPermissionArn": {
          "$ref": "#/definitions/String",
          "description": "The ARN for the IAM role that's used to post flow logs to a CloudWatch Logs log group."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure the idempotency of the request. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a>."
        }
      },
      "description": "Contains the parameters for CreateFlowLogs."
    },
    "CreateFlowLogsResult": {
      "type": "object",
      "properties": {
        "FlowLogIds": {
          "$ref": "#/definitions/ValueStringList",
          "description": "The IDs of the flow logs."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure the idempotency of the request."
        },
        "Unsuccessful": {
          "$ref": "#/definitions/UnsuccessfulItemSet",
          "description": "Information about the flow logs that could not be created successfully."
        }
      },
      "description": "Contains the output of CreateFlowLogs."
    },
    "CreateImageRequest": {
      "type": "object",
      "required": [
        "InstanceId",
        "Name"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "<p>A name for the new image.</p> <p>Constraints: 3-128 alphanumeric characters, parentheses (()), square brackets ([]), spaces ( ), periods (.), slashes (/), dashes (-), single quotes ('), at-signs (@), or underscores(_)</p>"
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "A description for the new image."
        },
        "NoReboot": {
          "$ref": "#/definitions/Boolean",
          "description": "By default, Amazon EC2 attempts to shut down and reboot the instance before creating the image. If the 'No Reboot' option is set, Amazon EC2 doesn't shut down the instance before creating the image. When this option is used, file system integrity on the created image can't be guaranteed."
        },
        "BlockDeviceMappings": {
          "$ref": "#/definitions/BlockDeviceMappingRequestList",
          "description": "Information about one or more block device mappings."
        }
      },
      "description": "Contains the parameters for CreateImage."
    },
    "CreateImageResult": {
      "type": "object",
      "properties": {
        "ImageId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the new AMI."
        }
      },
      "description": "Contains the output of CreateImage."
    },
    "CreateInstanceExportTaskRequest": {
      "type": "object",
      "required": [
        "InstanceId"
      ],
      "properties": {
        "Description": {
          "$ref": "#/definitions/String",
          "description": "A description for the conversion task or the resource being exported. The maximum length is 255 bytes."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the instance."
        },
        "TargetEnvironment": {
          "$ref": "#/definitions/ExportEnvironment",
          "description": "The target virtualization environment."
        },
        "ExportToS3Task": {
          "$ref": "#/definitions/ExportToS3TaskSpecification",
          "description": "The format and location for an instance export task."
        }
      },
      "description": "Contains the parameters for CreateInstanceExportTask."
    },
    "CreateInstanceExportTaskResult": {
      "type": "object",
      "properties": {
        "ExportTask": {
          "$ref": "#/definitions/ExportTask",
          "description": "Information about the instance export task."
        }
      },
      "description": "Contains the output for CreateInstanceExportTask."
    },
    "CreateInternetGatewayRequest": {
      "type": "object",
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        }
      },
      "description": "Contains the parameters for CreateInternetGateway."
    },
    "CreateInternetGatewayResult": {
      "type": "object",
      "properties": {
        "InternetGateway": {
          "$ref": "#/definitions/InternetGateway",
          "description": "Information about the Internet gateway."
        }
      },
      "description": "Contains the output of CreateInternetGateway."
    },
    "CreateKeyPairRequest": {
      "type": "object",
      "required": [
        "KeyName"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "KeyName": {
          "$ref": "#/definitions/String",
          "description": "<p>A unique name for the key pair.</p> <p>Constraints: Up to 255 ASCII characters</p>"
        }
      },
      "description": "Contains the parameters for CreateKeyPair."
    },
    "CreateNatGatewayRequest": {
      "type": "object",
      "required": [
        "SubnetId",
        "AllocationId"
      ],
      "properties": {
        "SubnetId": {
          "$ref": "#/definitions/String",
          "description": "The subnet in which to create the NAT gateway."
        },
        "AllocationId": {
          "$ref": "#/definitions/String",
          "description": "The allocation ID of an Elastic IP address to associate with the NAT gateway. If the Elastic IP address is associated with another resource, you must first disassociate it."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "<p>Unique, case-sensitive identifier you provide to ensure the idempotency of the request. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a>.</p> <p>Constraint: Maximum 64 ASCII characters.</p>"
        }
      },
      "description": "Contains the parameters for CreateNatGateway."
    },
    "CreateNatGatewayResult": {
      "type": "object",
      "properties": {
        "NatGateway": {
          "$ref": "#/definitions/NatGateway",
          "description": "Information about the NAT gateway."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier to ensure the idempotency of the request. Only returned if a client token was provided in the request."
        }
      },
      "description": "Contains the output of CreateNatGateway."
    },
    "CreateNetworkAclEntryRequest": {
      "type": "object",
      "required": [
        "NetworkAclId",
        "RuleNumber",
        "Protocol",
        "RuleAction",
        "Egress",
        "CidrBlock"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "NetworkAclId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the network ACL."
        },
        "RuleNumber": {
          "$ref": "#/definitions/Integer",
          "description": "<p>The rule number for the entry (for example, 100). ACL entries are processed in ascending order by rule number.</p> <p>Constraints: Positive integer from 1 to 32766. The range 32767 to 65535 is reserved for internal use.</p>"
        },
        "Protocol": {
          "$ref": "#/definitions/String",
          "description": "The protocol. A value of -1 means all protocols."
        },
        "RuleAction": {
          "$ref": "#/definitions/RuleAction",
          "description": "Indicates whether to allow or deny the traffic that matches the rule."
        },
        "Egress": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether this is an egress rule (rule is applied to traffic leaving the subnet)."
        },
        "CidrBlock": {
          "$ref": "#/definitions/String",
          "description": "The network range to allow or deny, in CIDR notation (for example <code>172.16.0.0/24</code>)."
        },
        "IcmpTypeCode": {
          "$ref": "#/definitions/IcmpTypeCode",
          "description": "ICMP protocol: The ICMP type and code. Required if specifying ICMP for the protocol."
        },
        "PortRange": {
          "$ref": "#/definitions/PortRange",
          "description": "TCP or UDP protocols: The range of ports the rule applies to."
        }
      },
      "description": "Contains the parameters for CreateNetworkAclEntry."
    },
    "CreateNetworkAclRequest": {
      "type": "object",
      "required": [
        "VpcId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        }
      },
      "description": "Contains the parameters for CreateNetworkAcl."
    },
    "CreateNetworkAclResult": {
      "type": "object",
      "properties": {
        "NetworkAcl": {
          "$ref": "#/definitions/NetworkAcl",
          "description": "Information about the network ACL."
        }
      },
      "description": "Contains the output of CreateNetworkAcl."
    },
    "CreateNetworkInterfaceRequest": {
      "type": "object",
      "required": [
        "SubnetId"
      ],
      "properties": {
        "SubnetId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the subnet to associate with the network interface."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "A description for the network interface."
        },
        "PrivateIpAddress": {
          "$ref": "#/definitions/String",
          "description": "The primary private IP address of the network interface. If you don't specify an IP address, Amazon EC2 selects one for you from the subnet range. If you specify an IP address, you cannot indicate any IP addresses specified in <code>privateIpAddresses</code> as primary (only one IP address can be designated as primary)."
        },
        "Groups": {
          "$ref": "#/definitions/SecurityGroupIdStringList",
          "description": "The IDs of one or more security groups."
        },
        "PrivateIpAddresses": {
          "$ref": "#/definitions/PrivateIpAddressSpecificationList",
          "description": "One or more private IP addresses."
        },
        "SecondaryPrivateIpAddressCount": {
          "$ref": "#/definitions/Integer",
          "description": "<p>The number of secondary private IP addresses to assign to a network interface. When you specify a number of secondary IP addresses, Amazon EC2 selects these IP addresses within the subnet range. You can't specify this option and specify more than one private IP address using <code>privateIpAddresses</code>.</p> <p>The number of IP addresses you can assign to a network interface varies by instance type. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-eni.html#AvailableIpPerENI\">Private IP Addresses Per ENI Per Instance Type</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        }
      },
      "description": "Contains the parameters for CreateNetworkInterface."
    },
    "CreateNetworkInterfaceResult": {
      "type": "object",
      "properties": {
        "NetworkInterface": {
          "$ref": "#/definitions/NetworkInterface",
          "description": "Information about the network interface."
        }
      },
      "description": "Contains the output of CreateNetworkInterface."
    },
    "CreatePlacementGroupRequest": {
      "type": "object",
      "required": [
        "GroupName",
        "Strategy"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "GroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>A name for the placement group.</p> <p>Constraints: Up to 255 ASCII characters</p>"
        },
        "Strategy": {
          "$ref": "#/definitions/PlacementStrategy",
          "description": "The placement strategy."
        }
      },
      "description": "Contains the parameters for CreatePlacementGroup."
    },
    "CreateReservedInstancesListingRequest": {
      "type": "object",
      "required": [
        "ReservedInstancesId",
        "InstanceCount",
        "PriceSchedules",
        "ClientToken"
      ],
      "properties": {
        "ReservedInstancesId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the active Reserved Instance."
        },
        "InstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of instances that are a part of a Reserved Instance account to be listed in the Reserved Instance Marketplace. This number should be less than or equal to the instance count associated with the Reserved Instance ID specified in this call."
        },
        "PriceSchedules": {
          "$ref": "#/definitions/PriceScheduleSpecificationList",
          "description": "A list specifying the price of the Reserved Instance for each month remaining in the Reserved Instance term."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure idempotency of your listings. This helps avoid duplicate listings. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring Idempotency</a>."
        }
      },
      "description": "Contains the parameters for CreateReservedInstancesListing."
    },
    "CreateReservedInstancesListingResult": {
      "type": "object",
      "properties": {
        "ReservedInstancesListings": {
          "$ref": "#/definitions/ReservedInstancesListingList",
          "description": "Information about the Reserved Instance listing."
        }
      },
      "description": "Contains the output of CreateReservedInstancesListing."
    },
    "CreateRouteRequest": {
      "type": "object",
      "required": [
        "RouteTableId",
        "DestinationCidrBlock"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "RouteTableId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the route table for the route."
        },
        "DestinationCidrBlock": {
          "$ref": "#/definitions/String",
          "description": "The CIDR address block used for the destination match. Routing decisions are based on the most specific match."
        },
        "GatewayId": {
          "$ref": "#/definitions/String",
          "description": "The ID of an Internet gateway or virtual private gateway attached to your VPC."
        },
        "InstanceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of a NAT instance in your VPC. The operation fails if you specify an instance ID unless exactly one network interface is attached."
        },
        "NetworkInterfaceId": {
          "$ref": "#/definitions/String",
          "description": "The ID of a network interface."
        },
        "VpcPeeringConnectionId": {
          "$ref": "#/definitions/String",
          "description": "The ID of a VPC peering connection."
        },
        "NatGatewayId": {
          "$ref": "#/definitions/String",
          "description": "The ID of a NAT gateway."
        }
      },
      "description": "Contains the parameters for CreateRoute."
    },
    "CreateRouteResult": {
      "type": "object",
      "properties": {
        "Return": {
          "$ref": "#/definitions/Boolean",
          "description": "Returns <code>true</code> if the request succeeds; otherwise, it returns an error."
        }
      },
      "description": "Contains the output of CreateRoute."
    },
    "CreateRouteTableRequest": {
      "type": "object",
      "required": [
        "VpcId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        }
      },
      "description": "Contains the parameters for CreateRouteTable."
    },
    "CreateRouteTableResult": {
      "type": "object",
      "properties": {
        "RouteTable": {
          "$ref": "#/definitions/RouteTable",
          "description": "Information about the route table."
        }
      },
      "description": "Contains the output of CreateRouteTable."
    },
    "CreateSecurityGroupRequest": {
      "type": "object",
      "required": [
        "GroupName",
        "Description"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "GroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the security group.</p> <p>Constraints: Up to 255 characters in length</p> <p>Constraints for EC2-Classic: ASCII characters</p> <p>Constraints for EC2-VPC: a-z, A-Z, 0-9, spaces, and ._-:/()#,@[]+=&amp;;{}!$*</p>"
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "<p>A description for the security group. This is informational only.</p> <p>Constraints: Up to 255 characters in length</p> <p>Constraints for EC2-Classic: ASCII characters</p> <p>Constraints for EC2-VPC: a-z, A-Z, 0-9, spaces, and ._-:/()#,@[]+=&amp;;{}!$*</p>"
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "[EC2-VPC] The ID of the VPC. Required for EC2-VPC."
        }
      },
      "description": "Contains the parameters for CreateSecurityGroup."
    },
    "CreateSecurityGroupResult": {
      "type": "object",
      "properties": {
        "GroupId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the security group."
        }
      },
      "description": "Contains the output of CreateSecurityGroup."
    },
    "CreateSnapshotRequest": {
      "type": "object",
      "required": [
        "VolumeId"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VolumeId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the EBS volume."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "A description for the snapshot."
        }
      },
      "description": "Contains the parameters for CreateSnapshot."
    },
    "CreateSpotDatafeedSubscriptionRequest": {
      "type": "object",
      "required": [
        "Bucket"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "Bucket": {
          "$ref": "#/definitions/String",
          "description": "The Amazon S3 bucket in which to store the Spot instance data feed."
        },
        "Prefix": {
          "$ref": "#/definitions/String",
          "description": "A prefix for the data feed file names."
        }
      },
      "description": "Contains the parameters for CreateSpotDatafeedSubscription."
    },
    "CreateSpotDatafeedSubscriptionResult": {
      "type": "object",
      "properties": {
        "SpotDatafeedSubscription": {
          "$ref": "#/definitions/SpotDatafeedSubscription",
          "description": "The Spot instance data feed subscription."
        }
      },
      "description": "Contains the output of CreateSpotDatafeedSubscription."
    },
    "CreateSubnetRequest": {
      "type": "object",
      "required": [
        "VpcId",
        "CidrBlock"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC."
        },
        "CidrBlock": {
          "$ref": "#/definitions/String",
          "description": "The network range for the subnet, in CIDR notation. For example, <code>10.0.0.0/24</code>."
        },
        "AvailabilityZone": {
          "$ref": "#/definitions/String",
          "description": "<p>The Availability Zone for the subnet.</p> <p>Default: AWS selects one for you. If you create more than one subnet in your VPC, we may not necessarily select a different zone for each subnet.</p>"
        }
      },
      "description": "Contains the parameters for CreateSubnet."
    },
    "CreateSubnetResult": {
      "type": "object",
      "properties": {
        "Subnet": {
          "$ref": "#/definitions/Subnet",
          "description": "Information about the subnet."
        }
      },
      "description": "Contains the output of CreateSubnet."
    },
    "CreateTagsRequest": {
      "type": "object",
      "required": [
        "Resources",
        "Tags"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "Resources": {
          "$ref": "#/definitions/ResourceIdList",
          "description": "The IDs of one or more resources to tag. For example, ami-1a2b3c4d."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "One or more tags. The <code>value</code> parameter is required, but if you don't want the tag to have a value, specify the parameter with no value, and we set the value to an empty string. "
        }
      },
      "description": "Contains the parameters for CreateTags."
    },
    "CreateVolumePermission": {
      "type": "object",
      "properties": {
        "UserId": {
          "$ref": "#/definitions/String",
          "description": "The specific AWS account ID that is to be added or removed from a volume's list of create volume permissions."
        },
        "Group": {
          "$ref": "#/definitions/PermissionGroup",
          "description": "The specific group that is to be added or removed from a volume's list of create volume permissions."
        }
      },
      "description": "Describes the user or group to be added or removed from the permissions for a volume."
    },
    "CreateVolumePermissionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CreateVolumePermission"
      }
    },
    "CreateVolumePermissionModifications": {
      "type": "object",
      "properties": {
        "Add": {
          "$ref": "#/definitions/CreateVolumePermissionList",
          "description": "Adds a specific AWS account ID or group to a volume's list of create volume permissions."
        },
        "Remove": {
          "$ref": "#/definitions/CreateVolumePermissionList",
          "description": "Removes a specific AWS account ID or group from a volume's list of create volume permissions."
        }
      },
      "description": "Describes modifications to the permissions for a volume."
    },
    "CreateVolumeRequest": {
      "type": "object",
      "required": [
        "AvailabilityZone"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "Size": {
          "$ref": "#/definitions/Integer",
          "description": "<p>The size of the volume, in GiBs.</p> <p>Constraints: 1-16384 for <code>gp2</code>, 4-16384 for <code>io1</code>, 500-16384 for <code>st1</code>, 500-16384 for <code>sc1</code>, and 1-1024 for <code>standard</code>. If you specify a snapshot, the volume size must be equal to or larger than the snapshot size.</p> <p>Default: If you're creating the volume from a snapshot and don't specify a volume size, the default is the snapshot size.</p>"
        },
        "SnapshotId": {
          "$ref": "#/definitions/String",
          "description": "The snapshot from which to create the volume."
        },
        "AvailabilityZone": {
          "$ref": "#/definitions/String",
          "description": "The Availability Zone in which to create the volume. Use <a>DescribeAvailabilityZones</a> to list the Availability Zones that are currently available to you."
        },
        "VolumeType": {
          "$ref": "#/definitions/VolumeType",
          "description": "<p>The volume type. This can be <code>gp2</code> for General Purpose SSD, <code>io1</code> for Provisioned IOPS SSD, <code>st1</code> for Throughput Optimized HDD, <code>sc1</code> for Cold HDD, or <code>standard</code> for Magnetic volumes.</p> <p>Default: <code>standard</code> </p>"
        },
        "Iops": {
          "$ref": "#/definitions/Integer",
          "description": "<p>Only valid for Provisioned IOPS SSD volumes. The number of I/O operations per second (IOPS) to provision for the volume, with a maximum ratio of 30 IOPS/GiB.</p> <p>Constraint: Range is 100 to 20000 for Provisioned IOPS SSD volumes </p>"
        },
        "Encrypted": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the volume should be encrypted. Encrypted Amazon EBS volumes may only be attached to instances that support Amazon EBS encryption. Volumes that are created from encrypted snapshots are automatically encrypted. There is no way to create an encrypted volume from an unencrypted snapshot or vice versa. If your AMI uses encrypted volumes, you can only launch it on supported instance types. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSEncryption.html\">Amazon EBS Encryption</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>."
        },
        "KmsKeyId": {
          "$ref": "#/definitions/String",
          "description": "The full ARN of the AWS Key Management Service (AWS KMS) customer master key (CMK) to use when creating the encrypted volume. This parameter is only required if you want to use a non-default CMK; if this parameter is not specified, the default CMK for EBS is used. The ARN contains the <code>arn:aws:kms</code> namespace, followed by the region of the CMK, the AWS account ID of the CMK owner, the <code>key</code> namespace, and then the CMK ID. For example, arn:aws:kms:<i>us-east-1</i>:<i>012345678910</i>:key/<i>abcd1234-a123-456a-a12b-a123b4cd56ef</i>. If a <code>KmsKeyId</code> is specified, the <code>Encrypted</code> flag must also be set."
        }
      },
      "description": "Contains the parameters for CreateVolume."
    },
    "CreateVpcEndpointRequest": {
      "type": "object",
      "required": [
        "VpcId",
        "ServiceName"
      ],
      "properties": {
        "DryRun": {
          "$ref": "#/definitions/Boolean",
          "description": "Checks whether you have the required permissions for the action, without actually making the request, and provides an error response. If you have the required permissions, the error response is <code>DryRunOperation</code>. Otherwise, it is <code>UnauthorizedOperation</code>."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
          "description": "The ID of the VPC in which the endpoint will be used."
        },
        "ServiceName": {
          "$ref": "#/definitions/String",
          "description": "The AWS service name, in the form <code>com.amazonaws.<i>region</i>.<i>service</i> </code>. To get a list of available services, use the <a>DescribeVpcEndpointServices</a> request."
        },
        "PolicyDocument": {
          "$ref": "#/definitions/String",
          "description": "A policy to attach to the endpoint that controls access to the service. The policy must be in valid JSON format. If this parameter is not specified, we attach a default policy that allows full access to the service."
        },
        "RouteTableIds": {
          "$ref": "#/definitions/ValueStringList",
          "description": "One or more route table IDs."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure the idempotency of the request. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">How to Ensure Idempotency</a>."
        }
      },
      "description": "Contains the parameters for CreateVpcEndpoint."
    },
    "CreateVpcEndpointResult": {
      "type": "object",
      "properties": {
        "VpcEndpoint": {
          "$ref": "#/definitions/VpcEndpoint",
          "description": "Information about the endpoint."
        },
        "ClientToken": {
          "$ref": "#/definitions/String",
          "description": "Unique, case-sensitive identifier you provide to ensure the idempotency of the request."
        }
      },
      "description": "Contains the output of CreateVpcEndpoint."
    },
    "CreateVpcPeeringConnectionRequest": {
      "type": "object",
      "properties": {
        "DryRun": {
[...]
