{
  "swagger": "2.0",
  "info": {
    "title": "Searchlight API v2.0",
    "version": "2",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developers.conductor.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Interact with the RESTful Searchlight API.\nDiscover, test and debug live calls within our documentation.  All responses are JSON. This document describes v2.0 of the Conductor Searchlight API.",
    "x-mashery-id": "1246"
  },
  "schemes": [
    "http"
  ],
  "host": "api.conductor.com",
  "basePath": "/v2",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developers.conductor.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Searchlight API v2.0 End Points"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "AccountsListSearchlightAPIv2.0EndPoints",
        "summary": "Returns a list of all accounts available to the au...",
        "description": "Returns a list of all accounts available to the authenticated user.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/domains": {
      "get": {
        "operationId": "DomainsListSearchlightAPIv2.0EndPoints",
        "summary": "List the domains within the account that are avaia...",
        "description": "List the domains within the account that are avaialable to the authenticated user.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/domains/{domain_id}/keywords": {
      "get": {
        "operationId": "KeywordsListSearchlightAPIv2.0EndPoints",
        "summary": "Returns a list of all the active keywords in the s...",
        "description": "Returns a list of all the active keywords in the specified domain.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "domain_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/domains/{domain_id}/rankupdates": {
      "get": {
        "operationId": "RankUpdatesListSearchlightAPIv2.0EndPoints",
        "summary": "Returns the publish periods which can be  used in ...",
        "description": "Returns the publish periods which can be  used in the asof parameter to access historical information.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "domain_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/domains/{domain_id}/rankupdates/latest": {
      "get": {
        "operationId": "LatestRankUpdatesSearchlightAPIv2.0EndPoints",
        "summary": "Returns the latest publish period for a provided a...",
        "description": "Returns the latest publish period for a provided account and domain.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "domain_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/domains/{domain_id}/keywords/{keyword_id}": {
      "get": {
        "operationId": "KeywordDetailsSearchlightAPIv2.0EndPoints",
        "summary": "Returns PLP, Prime, Status, Date Created and URI f...",
        "description": "Returns PLP, Prime, Status, Date Created and URI for a provided keyword.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "domain_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "keyword_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/categories": {
      "get": {
        "operationId": "CategoriesListSearchlightAPIv2.0EndPoints",
        "summary": "Returns a list of all the categories for a given a...",
        "description": "Returns a list of all the categories for a given account.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/engines/{engine_id}": {
      "get": {
        "operationId": "EngineDetailsSearchlightAPIv2.0EndPoints",
        "summary": "Returns name, country, language, url and uri for a...",
        "description": "Returns name, country, language, url and uri for a given engine.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "engine_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/domains/{domain_id}/keywords/ranks": {
      "get": {
        "operationId": "KeywordRanksListSearchlightAPIv2.0EndPoints",
        "summary": "This resource method will return ranking data for ...",
        "description": "This resource method will return ranking data for all keywords under the domain. Depending on the size of the response document the results may be paginated. If the response document is paginated then the value of the complete field in the JSON document will be false and the value of the next field will contain a URI to the next page of the result set. The order of individual keywords in the result set will always be consistent in order to allow for pagination.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "domain_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/accounts/{account_id}/domains/{domain_id}/keywords/{keyword_id}/competitorranks": {
      "get": {
        "operationId": "CompetitorKeywordRanksListSearchlightAPIv2.0EndPoints",
        "summary": "This resource method will return ranking data for ...",
        "description": "This resource method will return ranking data for all keywords under the domain. Depending on the size of the response document the results may be paginated. If the response document is paginated then the value of the complete field in the JSON document will be false and the value of the next field will contain a URI to the next page of the result set. The order of individual keywords in the result set will always be consistent in order to allow for pagination.",
        "tags": [
          "Searchlight API v2.0 End Points"
        ],
        "parameters": [
          {
            "name": "account_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "domain_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "keyword_id",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}