{
  "swagger": "2.0",
  "info": {
    "version": "2009-03-31",
    "x-release": "v4",
    "title": "Amazon Elastic MapReduce",
    "description": "Amazon Elastic MapReduce (Amazon EMR) is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/elasticmapreduce/"
  },
  "host": "elasticmapreduce.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "TerminateJobFlows",
        "description": "<p>TerminateJobFlows shuts a list of job flows down. When a job flow is shut down, any step not yet completed is canceled and the EC2 instances on which the job flow is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the job flow was created.</p> <p>The maximum number of JobFlows allowed is 10. The call to TerminateJobFlows is asynchronous. Depending on the configuration of the job flow, it may take up to 5-20 minutes for the job flow to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TerminateJobFlowsInput"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    }
  },
  "definitions": {
    "ActionOnFailure": {
      "type": "string",
      "enum": [
        "TERMINATE_JOB_FLOW",
        "TERMINATE_CLUSTER",
        "CANCEL_AND_WAIT",
        "CONTINUE"
      ]
    },
    "AddInstanceGroupsInput": {
      "type": "object",
      "required": [
        "InstanceGroups",
        "JobFlowId"
      ],
      "properties": {
        "InstanceGroups": {
          "$ref": "#/definitions/InstanceGroupConfigList",
          "description": "Instance Groups to add."
        },
        "JobFlowId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "Job flow in which to add the instance groups."
        }
      },
      "description": "Input to an AddInstanceGroups call."
    },
    "AddInstanceGroupsOutput": {
      "type": "object",
      "properties": {
        "JobFlowId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The job flow ID in which the instance groups are added."
        },
        "InstanceGroupIds": {
          "$ref": "#/definitions/InstanceGroupIdsList",
          "description": "Instance group IDs of the newly created instance groups."
        }
      },
      "description": "Output from an AddInstanceGroups call."
    },
    "AddJobFlowStepsInput": {
      "type": "object",
      "required": [
        "JobFlowId",
        "Steps"
      ],
      "properties": {
        "JobFlowId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. "
        },
        "Steps": {
          "$ref": "#/definitions/StepConfigList",
          "description": " A list of <a>StepConfig</a> to be executed by the job flow. "
        }
      },
      "description": " The input argument to the <a>AddJobFlowSteps</a> operation. "
    },
    "AddJobFlowStepsOutput": {
      "type": "object",
      "properties": {
        "StepIds": {
          "$ref": "#/definitions/StepIdsList",
          "description": "The identifiers of the list of steps added to the job flow."
        }
      },
      "description": " The output for the <a>AddJobFlowSteps</a> operation. "
    },
    "AddTagsInput": {
      "type": "object",
      "required": [
        "ResourceId",
        "Tags"
      ],
      "properties": {
        "ResourceId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "A list of tags to associate with a cluster and propagate to Amazon EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters."
        }
      },
      "description": "This input identifies a cluster and a list of tags to attach."
    },
    "AddTagsOutput": {
      "type": "object",
      "properties": {},
      "description": "This output indicates the result of adding tags to a resource."
    },
    "Application": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the application."
        },
        "Version": {
          "$ref": "#/definitions/String",
          "description": "The version of the application."
        },
        "Args": {
          "$ref": "#/definitions/StringList",
          "description": "Arguments for Amazon EMR to pass to the application."
        },
        "AdditionalInfo": {
          "$ref": "#/definitions/StringMap",
          "description": "This option is for advanced users only. This is meta information about third-party applications that third-party vendors use for testing purposes."
        }
      },
      "description": "<p>An application is any Amazon or third-party software that you can add to the cluster. This structure contains a list of strings that indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action argument. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-mapr.html\">Launch a Job Flow on the MapR Distribution for Hadoop</a>. Currently supported values are:</p> <ul> <li> <p>\"mapr-m3\" - launch the job flow using MapR M3 Edition.</p> </li> <li> <p>\"mapr-m5\" - launch the job flow using MapR M5 Edition.</p> </li> <li> <p>\"mapr\" with the user arguments specifying \"--edition,m3\" or \"--edition,m5\" - launch the job flow using MapR M3 or M5 Edition, respectively.</p> </li> </ul> <note> <p>In Amazon EMR releases 4.0 and greater, the only accepted parameter is the application name. To pass arguments to applications, you supply a configuration for each application.</p> </note>"
    },
    "ApplicationList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Application"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BootstrapActionConfig": {
      "type": "object",
      "required": [
        "Name",
        "ScriptBootstrapAction"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The name of the bootstrap action."
        },
        "ScriptBootstrapAction": {
          "$ref": "#/definitions/ScriptBootstrapActionConfig",
          "description": "The script run by the bootstrap action."
        }
      },
      "description": "Configuration of a bootstrap action."
    },
    "BootstrapActionConfigList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BootstrapActionConfig"
      }
    },
    "BootstrapActionDetail": {
      "type": "object",
      "properties": {
        "BootstrapActionConfig": {
          "$ref": "#/definitions/BootstrapActionConfig",
          "description": "A description of the bootstrap action."
        }
      },
      "description": "Reports the configuration of a bootstrap action in a job flow."
    },
    "BootstrapActionDetailList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BootstrapActionDetail"
      }
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "Id": {
          "$ref": "#/definitions/ClusterId",
          "description": "The unique identifier for the cluster."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the cluster."
        },
        "Status": {
          "$ref": "#/definitions/ClusterStatus",
          "description": "The current status details about the cluster."
        },
        "Ec2InstanceAttributes": {
          "$ref": "#/definitions/Ec2InstanceAttributes"
        },
        "LogUri": {
          "$ref": "#/definitions/String",
          "description": "The path to the Amazon S3 location where logs for this cluster are stored."
        },
        "RequestedAmiVersion": {
          "$ref": "#/definitions/String",
          "description": "The AMI version requested for this cluster."
        },
        "RunningAmiVersion": {
          "$ref": "#/definitions/String",
          "description": "The AMI version running on this cluster."
        },
        "ReleaseLabel": {
          "$ref": "#/definitions/String",
          "description": "The release label for the Amazon EMR release. For Amazon EMR 3.x and 2.x AMIs, use amiVersion instead instead of ReleaseLabel."
        },
        "AutoTerminate": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the cluster should terminate after completing all steps."
        },
        "TerminationProtected": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether Amazon EMR will lock the cluster to prevent the EC2 instances from being terminated by an API call or user intervention, or in the event of a cluster error."
        },
        "VisibleToAllUsers": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether the job flow is visible to all IAM users of the AWS account associated with the job flow. If this value is set to <code>true</code>, all IAM users of that AWS account can view and manage the job flow if they have the proper policy permissions set. If this value is <code>false</code>, only the IAM user that created the cluster can view and manage it. This value can be changed using the <a>SetVisibleToAllUsers</a> action."
        },
        "Applications": {
          "$ref": "#/definitions/ApplicationList",
          "description": "The applications installed on this cluster."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "A list of tags associated with a cluster."
        },
        "ServiceRole": {
          "$ref": "#/definitions/String",
          "description": "The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf."
        },
        "NormalizedInstanceHours": {
          "$ref": "#/definitions/Integer",
          "description": "An approximation of the cost of the job flow, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate."
        },
        "MasterPublicDnsName": {
          "$ref": "#/definitions/String",
          "description": "The public DNS name of the master EC2 instance."
        },
        "Configurations": {
          "$ref": "#/definitions/ConfigurationList",
          "description": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of Configurations supplied to the EMR cluster.</p>"
        }
      },
      "description": "The detailed description of the cluster."
    },
    "ClusterId": {
      "type": "string"
    },
    "ClusterState": {
      "type": "string",
      "enum": [
        "STARTING",
        "BOOTSTRAPPING",
        "RUNNING",
        "WAITING",
        "TERMINATING",
        "TERMINATED",
        "TERMINATED_WITH_ERRORS"
      ]
    },
    "ClusterStateChangeReason": {
      "type": "object",
      "properties": {
        "Code": {
          "$ref": "#/definitions/ClusterStateChangeReasonCode",
          "description": "The programmatic code for the state change reason."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The descriptive message for the state change reason."
        }
      },
      "description": "The reason that the cluster changed to its current state."
    },
    "ClusterStateChangeReasonCode": {
      "type": "string",
      "enum": [
        "INTERNAL_ERROR",
        "VALIDATION_ERROR",
        "INSTANCE_FAILURE",
        "BOOTSTRAP_FAILURE",
        "USER_REQUEST",
        "STEP_FAILURE",
        "ALL_STEPS_COMPLETED"
      ]
    },
    "ClusterStateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ClusterState"
      }
    },
    "ClusterStatus": {
      "type": "object",
      "properties": {
        "State": {
          "$ref": "#/definitions/ClusterState",
          "description": "The current state of the cluster."
        },
        "StateChangeReason": {
          "$ref": "#/definitions/ClusterStateChangeReason",
          "description": "The reason for the cluster status change."
        },
        "Timeline": {
          "$ref": "#/definitions/ClusterTimeline",
          "description": "A timeline that represents the status of a cluster over the lifetime of the cluster."
        }
      },
      "description": "The detailed status of the cluster."
    },
    "ClusterSummary": {
      "type": "object",
      "properties": {
        "Id": {
          "$ref": "#/definitions/ClusterId",
          "description": "The unique identifier for the cluster."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the cluster."
        },
        "Status": {
          "$ref": "#/definitions/ClusterStatus",
          "description": "The details about the current status of the cluster."
        },
        "NormalizedInstanceHours": {
          "$ref": "#/definitions/Integer",
          "description": "An approximation of the cost of the job flow, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate."
        }
      },
      "description": "The summary description of the cluster."
    },
    "ClusterSummaryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ClusterSummary"
      }
    },
    "ClusterTimeline": {
      "type": "object",
      "properties": {
        "CreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The creation date and time of the cluster."
        },
        "ReadyDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the cluster was ready to execute steps."
        },
        "EndDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the cluster was terminated."
        }
      },
      "description": "Represents the timeline of the cluster's lifecycle."
    },
    "Command": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the command."
        },
        "ScriptPath": {
          "$ref": "#/definitions/String",
          "description": "The Amazon S3 location of the command script."
        },
        "Args": {
          "$ref": "#/definitions/StringList",
          "description": "Arguments for Amazon EMR to pass to the command for execution."
        }
      },
      "description": "An entity describing an executable that runs on a cluster."
    },
    "CommandList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Command"
      }
    },
    "Configuration": {
      "type": "object",
      "properties": {
        "Classification": {
          "$ref": "#/definitions/String",
          "description": "The classification of a configuration. For more information see, <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/API/EmrConfigurations.html\">Amazon EMR Configurations</a>. "
        },
        "Configurations": {
          "$ref": "#/definitions/ConfigurationList",
          "description": "A list of configurations you apply to this configuration object."
        },
        "Properties": {
          "$ref": "#/definitions/StringMap",
          "description": "A set of properties supplied to the Configuration object."
        }
      },
      "description": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>Specifies a hardware and software configuration of the EMR cluster. This includes configurations for applications and software bundled with Amazon EMR. The Configuration object is a JSON object which is defined by a classification and a set of properties. Configurations can be nested, so a configuration may have its own Configuration objects listed.</p>"
    },
    "ConfigurationList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Configuration"
      }
    },
    "Date": {
      "type": "string",
      "format": "date-time"
    },
    "DescribeClusterInput": {
      "type": "object",
      "required": [
        "ClusterId"
      ],
      "properties": {
        "ClusterId": {
          "$ref": "#/definitions/ClusterId",
          "description": "The identifier of the cluster to describe."
        }
      },
      "description": "This input determines which cluster to describe."
    },
    "DescribeClusterOutput": {
      "type": "object",
      "properties": {
        "Cluster": {
          "$ref": "#/definitions/Cluster",
          "description": "This output contains the details for the requested cluster."
        }
      },
      "description": "This output contains the description of the cluster."
    },
    "DescribeJobFlowsInput": {
      "type": "object",
      "properties": {
        "CreatedAfter": {
          "$ref": "#/definitions/Date",
          "description": "Return only job flows created after this date and time."
        },
        "CreatedBefore": {
          "$ref": "#/definitions/Date",
          "description": "Return only job flows created before this date and time."
        },
        "JobFlowIds": {
          "$ref": "#/definitions/XmlStringList",
          "description": "Return only job flows whose job flow ID is contained in this list."
        },
        "JobFlowStates": {
          "$ref": "#/definitions/JobFlowExecutionStateList",
          "description": "Return only job flows whose state is contained in this list."
        }
      },
      "description": " The input for the <a>DescribeJobFlows</a> operation. "
    },
    "DescribeJobFlowsOutput": {
      "type": "object",
      "properties": {
        "JobFlows": {
          "$ref": "#/definitions/JobFlowDetailList",
          "description": "A list of job flows matching the parameters supplied."
        }
      },
      "description": " The output for the <a>DescribeJobFlows</a> operation. "
    },
    "DescribeStepInput": {
      "type": "object",
      "required": [
        "ClusterId",
        "StepId"
      ],
      "properties": {
        "ClusterId": {
          "$ref": "#/definitions/ClusterId",
          "description": "The identifier of the cluster with steps to describe."
        },
        "StepId": {
          "$ref": "#/definitions/StepId",
          "description": "The identifier of the step to describe."
        }
      },
      "description": "This input determines which step to describe."
    },
    "DescribeStepOutput": {
      "type": "object",
      "properties": {
        "Step": {
          "$ref": "#/definitions/Step",
          "description": "The step details for the requested step identifier."
        }
      },
      "description": "This output contains the description of the cluster step."
    },
    "EC2InstanceIdsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceId"
      }
    },
    "EC2InstanceIdsToTerminateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceId"
      }
    },
    "EbsBlockDevice": {
      "type": "object",
      "properties": {
        "VolumeSpecification": {
          "$ref": "#/definitions/VolumeSpecification",
          "description": "EBS volume specifications such as volume type, IOPS, and size(GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster."
        },
        "Device": {
          "$ref": "#/definitions/String",
          "description": "The device name that is exposed to the instance, such as /dev/sdh."
        }
      },
      "description": "Configuration of requested EBS block device associated with the instance group."
    },
    "EbsBlockDeviceConfig": {
      "type": "object",
      "required": [
        "VolumeSpecification"
      ],
      "properties": {
        "VolumeSpecification": {
          "$ref": "#/definitions/VolumeSpecification",
          "description": "EBS volume specifications such as volume type, IOPS, and size(GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster."
        },
        "VolumesPerInstance": {
          "$ref": "#/definitions/Integer",
          "description": "Number of EBS volumes with specific volume configuration, that will be associated with every instance in the instance group"
        }
      },
      "description": "Configuration of requested EBS block device associated with the instance group with count of volumes that will be associated to every instance."
    },
    "EbsBlockDeviceConfigList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/EbsBlockDeviceConfig"
      }
    },
    "EbsBlockDeviceList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/EbsBlockDevice"
      }
    },
    "EbsConfiguration": {
      "type": "object",
      "properties": {
        "EbsBlockDeviceConfigs": {
          "$ref": "#/definitions/EbsBlockDeviceConfigList"
        },
        "EbsOptimized": {
          "$ref": "#/definitions/BooleanObject"
        }
      }
    },
    "EbsVolume": {
      "type": "object",
      "properties": {
        "Device": {
          "$ref": "#/definitions/String",
          "description": "The device name that is exposed to the instance, such as /dev/sdh."
        },
        "VolumeId": {
          "$ref": "#/definitions/String",
          "description": "The volume identifier of the EBS volume."
        }
      },
      "description": "EBS block device that's attached to an EC2 instance."
    },
    "EbsVolumeList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/EbsVolume"
      }
    },
    "Ec2InstanceAttributes": {
      "type": "object",
      "properties": {
        "Ec2KeyName": {
          "$ref": "#/definitions/String",
          "description": "The name of the Amazon EC2 key pair to use when connecting with SSH into the master node as a user named \"hadoop\"."
        },
        "Ec2SubnetId": {
          "$ref": "#/definitions/String",
          "description": "<p>To launch the job flow in Amazon VPC, set this parameter to the identifier of the Amazon VPC subnet where you want the job flow to launch. If you do not specify this value, the job flow is launched in the normal AWS cloud, outside of a VPC.</p> <p>Amazon VPC currently does not support cluster compute quadruple extra large (cc1.4xlarge) instances. Thus, you cannot specify the cc1.4xlarge instance type for nodes of a job flow launched in a VPC.</p>"
        },
        "Ec2AvailabilityZone": {
          "$ref": "#/definitions/String",
          "description": "The Availability Zone in which the cluster will run."
        },
        "IamInstanceProfile": {
          "$ref": "#/definitions/String",
          "description": "The IAM role that was specified when the job flow was launched. The EC2 instances of the job flow assume this role."
        },
        "EmrManagedMasterSecurityGroup": {
          "$ref": "#/definitions/String",
          "description": "The identifier of the Amazon EC2 security group for the master node."
        },
        "EmrManagedSlaveSecurityGroup": {
          "$ref": "#/definitions/String",
          "description": "The identifier of the Amazon EC2 security group for the slave nodes."
        },
        "ServiceAccessSecurityGroup": {
          "$ref": "#/definitions/String",
          "description": "The identifier of the Amazon EC2 security group for the Amazon EMR service to access clusters in VPC private subnets."
        },
        "AdditionalMasterSecurityGroups": {
          "$ref": "#/definitions/StringList",
          "description": "A list of additional Amazon EC2 security group IDs for the master node."
        },
        "AdditionalSlaveSecurityGroups": {
          "$ref": "#/definitions/StringList",
          "description": "A list of additional Amazon EC2 security group IDs for the slave nodes."
        }
      },
      "description": "Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on."
    },
    "ErrorCode": {
      "type": "string",
      "minLength": 1,
      "maxLength": 256
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FailureDetails": {
      "type": "object",
      "properties": {
        "Reason": {
          "$ref": "#/definitions/String",
          "description": "The reason for the step failure. In the case where the service cannot successfully determine the root cause of the failure, it returns \"Unknown Error\" as a reason."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The descriptive message including the error the EMR service has identified as the cause of step failure. This is text from an error log that describes the root cause of the failure."
        },
        "LogFile": {
          "$ref": "#/definitions/String",
          "description": "The path to the log file where the step failure root cause was originally recorded."
        }
      },
      "description": "The details of the step failure. The service attempts to detect the root cause for many common failures."
    },
    "HadoopJarStepConfig": {
      "type": "object",
      "required": [
        "Jar"
      ],
      "properties": {
        "Properties": {
          "$ref": "#/definitions/KeyValueList",
          "description": "A list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function."
        },
        "Jar": {
          "$ref": "#/definitions/XmlString",
          "description": "A path to a JAR file run during the step."
        },
        "MainClass": {
          "$ref": "#/definitions/XmlString",
          "description": "The name of the main class in the specified Java file. If not specified, the JAR file should specify a Main-Class in its manifest file."
        },
        "Args": {
          "$ref": "#/definitions/XmlStringList",
          "description": "A list of command line arguments passed to the JAR file's main function when executed."
        }
      },
      "description": "A job flow step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail."
    },
    "HadoopStepConfig": {
      "type": "object",
      "properties": {
        "Jar": {
          "$ref": "#/definitions/String",
          "description": "The path to the JAR file that runs during the step."
        },
        "Properties": {
          "$ref": "#/definitions/StringMap",
          "description": "The list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function."
        },
        "MainClass": {
          "$ref": "#/definitions/String",
          "description": "The name of the main class in the specified Java file. If not specified, the JAR file should specify a main class in its manifest file."
        },
        "Args": {
          "$ref": "#/definitions/StringList",
          "description": "The list of command line arguments to pass to the JAR file's main function for execution."
        }
      },
      "description": "A cluster step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail."
    },
    "Instance": {
      "type": "object",
      "properties": {
        "Id": {
          "$ref": "#/definitions/InstanceId",
          "description": "The unique identifier for the instance in Amazon EMR."
        },
        "Ec2InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The unique identifier of the instance in Amazon EC2."
        },
        "PublicDnsName": {
          "$ref": "#/definitions/String",
          "description": "The public DNS name of the instance."
        },
        "PublicIpAddress": {
          "$ref": "#/definitions/String",
          "description": "The public IP address of the instance."
        },
        "PrivateDnsName": {
          "$ref": "#/definitions/String",
          "description": "The private DNS name of the instance."
        },
        "PrivateIpAddress": {
          "$ref": "#/definitions/String",
          "description": "The private IP address of the instance."
        },
        "Status": {
          "$ref": "#/definitions/InstanceStatus",
          "description": "The current status of the instance."
        },
        "InstanceGroupId": {
          "$ref": "#/definitions/String",
          "description": "The identifier of the instance group to which this instance belongs."
        },
        "EbsVolumes": {
          "$ref": "#/definitions/EbsVolumeList",
          "description": "The list of EBS volumes that are attached to this instance."
        }
      },
      "description": "Represents an EC2 instance provisioned as part of cluster."
    },
    "InstanceGroup": {
      "type": "object",
      "properties": {
        "Id": {
          "$ref": "#/definitions/InstanceGroupId",
          "description": "The identifier of the instance group."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the instance group."
        },
        "Market": {
          "$ref": "#/definitions/MarketType",
          "description": "The marketplace to provision instances for this group. Valid values are ON_DEMAND or SPOT."
        },
        "InstanceGroupType": {
          "$ref": "#/definitions/InstanceGroupType",
          "description": "The type of the instance group. Valid values are MASTER, CORE or TASK."
        },
        "BidPrice": {
          "$ref": "#/definitions/String",
          "description": "The bid price for each EC2 instance in the instance group when launching nodes as Spot Instances, expressed in USD."
        },
        "InstanceType": {
          "$ref": "#/definitions/InstanceType",
          "description": "The EC2 instance type for all instances in the instance group."
        },
        "RequestedInstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "The target number of instances for the instance group."
        },
        "RunningInstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of instances currently running in this instance group."
        },
        "Status": {
          "$ref": "#/definitions/InstanceGroupStatus",
          "description": "The current status of the instance group."
        },
        "Configurations": {
          "$ref": "#/definitions/ConfigurationList",
          "description": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied for an EMR cluster instance group. You can specify a separate configuration for each instance group (master, core, and task).</p>"
        },
        "EbsBlockDevices": {
          "$ref": "#/definitions/EbsBlockDeviceList",
          "description": "The EBS block devices that are mapped to this instance group."
        },
        "EbsOptimized": {
          "$ref": "#/definitions/BooleanObject",
          "description": "If the instance group is EBS-optimized. An Amazon EBS-optimized instance uses an optimized configuration stack and provides additional, dedicated capacity for Amazon EBS I/O."
        },
        "ShrinkPolicy": {
          "$ref": "#/definitions/ShrinkPolicy",
          "description": "Policy for customizing shrink operations."
        }
      },
      "description": "This entity represents an instance group, which is a group of instances that have common purpose. For example, CORE instance group is used for HDFS."
    },
    "InstanceGroupConfig": {
      "type": "object",
      "required": [
        "InstanceRole",
        "InstanceType",
        "InstanceCount"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "Friendly name given to the instance group."
        },
        "Market": {
          "$ref": "#/definitions/MarketType",
          "description": "Market type of the Amazon EC2 instances used to create a cluster node."
        },
        "InstanceRole": {
          "$ref": "#/definitions/InstanceRoleType",
          "description": "The role of the instance group in the cluster."
        },
        "BidPrice": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "Bid price for each Amazon EC2 instance in the instance group when launching nodes as Spot Instances, expressed in USD."
        },
        "InstanceType": {
          "$ref": "#/definitions/InstanceType",
          "description": "The Amazon EC2 instance type for all instances in the instance group."
        },
        "InstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "Target number of instances for the instance group."
        },
        "Configurations": {
          "$ref": "#/definitions/ConfigurationList",
          "description": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied for an EMR cluster instance group. You can specify a separate configuration for each instance group (master, core, and task).</p>"
        },
        "EbsConfiguration": {
          "$ref": "#/definitions/EbsConfiguration",
          "description": "EBS configurations that will be attached to each Amazon EC2 instance in the instance group."
        }
      },
      "description": "Configuration defining a new instance group."
    },
    "InstanceGroupConfigList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceGroupConfig"
      }
    },
    "InstanceGroupDetail": {
      "type": "object",
      "required": [
        "Market",
        "InstanceRole",
        "InstanceType",
        "InstanceRequestCount",
        "InstanceRunningCount",
        "State",
        "CreationDateTime"
      ],
      "properties": {
        "InstanceGroupId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "Unique identifier for the instance group."
        },
        "Name": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "Friendly name for the instance group."
        },
        "Market": {
          "$ref": "#/definitions/MarketType",
          "description": "Market type of the Amazon EC2 instances used to create a cluster node."
        },
        "InstanceRole": {
          "$ref": "#/definitions/InstanceRoleType",
          "description": "Instance group role in the cluster"
        },
        "BidPrice": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "Bid price for EC2 Instances when launching nodes as Spot Instances, expressed in USD."
        },
        "InstanceType": {
          "$ref": "#/definitions/InstanceType",
          "description": "Amazon EC2 Instance type."
        },
        "InstanceRequestCount": {
          "$ref": "#/definitions/Integer",
          "description": "Target number of instances to run in the instance group."
        },
        "InstanceRunningCount": {
          "$ref": "#/definitions/Integer",
          "description": "Actual count of running instances."
        },
        "State": {
          "$ref": "#/definitions/InstanceGroupState",
          "description": "State of instance group. The following values are deprecated: STARTING, TERMINATED, and FAILED."
        },
        "LastStateChangeReason": {
          "$ref": "#/definitions/XmlString",
          "description": "Details regarding the state of the instance group."
        },
        "CreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date/time the instance group was created."
        },
        "StartDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date/time the instance group was started."
        },
        "ReadyDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date/time the instance group was available to the cluster."
        },
        "EndDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date/time the instance group was terminated."
        }
      },
      "description": "Detailed information about an instance group."
    },
    "InstanceGroupDetailList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceGroupDetail"
      }
    },
    "InstanceGroupId": {
      "type": "string"
    },
    "InstanceGroupIdsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/XmlStringMaxLen256"
      }
    },
    "InstanceGroupList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceGroup"
      }
    },
    "InstanceGroupModifyConfig": {
      "type": "object",
      "required": [
        "InstanceGroupId"
      ],
      "properties": {
        "InstanceGroupId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "Unique ID of the instance group to expand or shrink."
        },
        "InstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "Target size for the instance group."
        },
        "EC2InstanceIdsToTerminate": {
          "$ref": "#/definitions/EC2InstanceIdsToTerminateList",
          "description": "The EC2 InstanceIds to terminate. Once you terminate the instances, the instance group will not return to its original requested size."
        },
        "ShrinkPolicy": {
          "$ref": "#/definitions/ShrinkPolicy",
          "description": "Policy for customizing shrink operations."
        }
      },
      "description": "Modify an instance group size."
    },
    "InstanceGroupModifyConfigList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceGroupModifyConfig"
      }
    },
    "InstanceGroupState": {
      "type": "string",
      "enum": [
        "PROVISIONING",
        "BOOTSTRAPPING",
        "RUNNING",
        "RESIZING",
        "SUSPENDED",
        "TERMINATING",
        "TERMINATED",
        "ARRESTED",
        "SHUTTING_DOWN",
        "ENDED"
      ]
    },
    "InstanceGroupStateChangeReason": {
      "type": "object",
      "properties": {
        "Code": {
          "$ref": "#/definitions/InstanceGroupStateChangeReasonCode",
          "description": "The programmable code for the state change reason."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The status change reason description."
        }
      },
      "description": "The status change reason details for the instance group."
    },
    "InstanceGroupStateChangeReasonCode": {
      "type": "string",
      "enum": [
        "INTERNAL_ERROR",
        "VALIDATION_ERROR",
        "INSTANCE_FAILURE",
        "CLUSTER_TERMINATED"
      ]
    },
    "InstanceGroupStatus": {
      "type": "object",
      "properties": {
        "State": {
          "$ref": "#/definitions/InstanceGroupState",
          "description": "The current state of the instance group."
        },
        "StateChangeReason": {
          "$ref": "#/definitions/InstanceGroupStateChangeReason",
          "description": "The status change reason details for the instance group."
        },
        "Timeline": {
          "$ref": "#/definitions/InstanceGroupTimeline",
          "description": "The timeline of the instance group status over time."
        }
      },
      "description": "The details of the instance group status."
    },
    "InstanceGroupTimeline": {
      "type": "object",
      "properties": {
        "CreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The creation date and time of the instance group."
        },
        "ReadyDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the instance group became ready to perform tasks."
        },
        "EndDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the instance group terminated."
        }
      },
      "description": "The timeline of the instance group lifecycle."
    },
    "InstanceGroupType": {
      "type": "string",
      "enum": [
        "MASTER",
        "CORE",
        "TASK"
      ]
    },
    "InstanceGroupTypeList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceGroupType"
      }
    },
    "InstanceId": {
      "type": "string"
    },
    "InstanceList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Instance"
      }
    },
    "InstanceResizePolicy": {
      "type": "object",
      "properties": {
        "InstancesToTerminate": {
          "$ref": "#/definitions/EC2InstanceIdsList",
          "description": "Specific list of instances to be terminated when shrinking an instance group."
        },
        "InstancesToProtect": {
          "$ref": "#/definitions/EC2InstanceIdsList",
          "description": "Specific list of instances to be protected when shrinking an instance group."
        },
        "InstanceTerminationTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "Decommissioning timeout override for the specific list of instances to be terminated."
        }
      },
      "description": "Custom policy for requesting termination protection or termination of specific instances when shrinking an instance group."
    },
    "InstanceRoleType": {
      "type": "string",
      "enum": [
        "MASTER",
        "CORE",
        "TASK"
      ]
    },
    "InstanceState": {
      "type": "string",
      "enum": [
        "AWAITING_FULFILLMENT",
        "PROVISIONING",
        "BOOTSTRAPPING",
        "RUNNING",
        "TERMINATED"
      ]
    },
    "InstanceStateChangeReason": {
      "type": "object",
      "properties": {
        "Code": {
          "$ref": "#/definitions/InstanceStateChangeReasonCode",
          "description": "The programmable code for the state change reason."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The status change reason description."
        }
      },
      "description": "The details of the status change reason for the instance."
    },
    "InstanceStateChangeReasonCode": {
      "type": "string",
      "enum": [
        "INTERNAL_ERROR",
        "VALIDATION_ERROR",
        "INSTANCE_FAILURE",
        "BOOTSTRAP_FAILURE",
        "CLUSTER_TERMINATED"
      ]
    },
    "InstanceStateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceState"
      }
    },
    "InstanceStatus": {
      "type": "object",
      "properties": {
        "State": {
          "$ref": "#/definitions/InstanceState",
          "description": "The current state of the instance."
        },
        "StateChangeReason": {
          "$ref": "#/definitions/InstanceStateChangeReason",
          "description": "The details of the status change reason for the instance."
        },
        "Timeline": {
          "$ref": "#/definitions/InstanceTimeline",
          "description": "The timeline of the instance status over time."
        }
      },
      "description": "The instance status details."
    },
    "InstanceTimeline": {
      "type": "object",
      "properties": {
        "CreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The creation date and time of the instance."
        },
        "ReadyDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the instance was ready to perform tasks."
        },
        "EndDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the instance was terminated."
        }
      },
      "description": "The timeline of the instance lifecycle."
    },
    "InstanceType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 256,
      "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerError": {
      "type": "object",
      "properties": {},
      "description": "Indicates that an error occurred while processing the request and that the request was not completed."
    },
    "InternalServerException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "The message associated with the exception."
        }
      },
      "description": "This exception occurs when there is an internal failure in the EMR service."
    },
    "InvalidRequestException": {
      "type": "object",
      "properties": {
        "ErrorCode": {
          "$ref": "#/definitions/ErrorCode",
          "description": "The error code associated with the exception."
        },
        "Message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "The message associated with the exception."
        }
      },
      "description": "This exception occurs when there is something wrong with user input."
    },
    "JobFlowDetail": {
      "type": "object",
      "required": [
        "JobFlowId",
        "Name",
        "ExecutionStatusDetail",
        "Instances"
      ],
      "properties": {
        "JobFlowId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The job flow identifier."
        },
        "Name": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The name of the job flow."
        },
        "LogUri": {
          "$ref": "#/definitions/XmlString",
          "description": "The location in Amazon S3 where log files for the job are stored."
        },
        "AmiVersion": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The version of the AMI used to initialize Amazon EC2 instances in the job flow. For a list of AMI versions currently supported by Amazon ElasticMapReduce, go to <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/EnvironmentConfig_AMIVersion.html#ami-versions-supported\">AMI Versions Supported in Elastic MapReduce</a> in the <i>Amazon Elastic MapReduce Developer Guide.</i> "
        },
        "ExecutionStatusDetail": {
          "$ref": "#/definitions/JobFlowExecutionStatusDetail",
          "description": "Describes the execution status of the job flow."
        },
        "Instances": {
          "$ref": "#/definitions/JobFlowInstancesDetail",
          "description": "Describes the Amazon EC2 instances of the job flow."
        },
        "Steps": {
          "$ref": "#/definitions/StepDetailList",
          "description": "A list of steps run by the job flow."
        },
        "BootstrapActions": {
          "$ref": "#/definitions/BootstrapActionDetailList",
          "description": "A list of the bootstrap actions run by the job flow."
        },
        "SupportedProducts": {
          "$ref": "#/definitions/SupportedProductsList",
          "description": "A list of strings set by third party software when the job flow is launched. If you are not using third party software to manage the job flow this value is empty."
        },
        "VisibleToAllUsers": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the job flow is visible to all IAM users of the AWS account associated with the job flow. If this value is set to <code>true</code>, all IAM users of that AWS account can view and (if they have the proper policy permissions set) manage the job flow. If it is set to <code>false</code>, only the IAM user that created the job flow can view and manage it. This value can be changed using the <a>SetVisibleToAllUsers</a> action."
        },
        "JobFlowRole": {
          "$ref": "#/definitions/XmlString",
          "description": "The IAM role that was specified when the job flow was launched. The EC2 instances of the job flow assume this role."
        },
        "ServiceRole": {
          "$ref": "#/definitions/XmlString",
          "description": "The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf."
        }
      },
      "description": "A description of a job flow."
    },
    "JobFlowDetailList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/JobFlowDetail"
      }
    },
    "JobFlowExecutionState": {
      "type": "string",
      "enum": [
        "STARTING",
        "BOOTSTRAPPING",
        "RUNNING",
        "WAITING",
        "SHUTTING_DOWN",
        "TERMINATED",
        "COMPLETED",
        "FAILED"
      ],
      "description": "The type of instance."
    },
    "JobFlowExecutionStateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/JobFlowExecutionState"
      }
    },
    "JobFlowExecutionStatusDetail": {
      "type": "object",
      "required": [
        "State",
        "CreationDateTime"
      ],
      "properties": {
        "State": {
          "$ref": "#/definitions/JobFlowExecutionState",
          "description": "The state of the job flow."
        },
        "CreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The creation date and time of the job flow."
        },
        "StartDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The start date and time of the job flow."
        },
        "ReadyDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the job flow was ready to start running bootstrap actions."
        },
        "EndDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The completion date and time of the job flow."
        },
        "LastStateChangeReason": {
          "$ref": "#/definitions/XmlString",
          "description": "Description of the job flow last changed state."
        }
      },
      "description": "Describes the status of the job flow."
    },
    "JobFlowInstancesConfig": {
      "type": "object",
      "properties": {
        "MasterInstanceType": {
          "$ref": "#/definitions/InstanceType",
          "description": "The EC2 instance type of the master node."
        },
        "SlaveInstanceType": {
          "$ref": "#/definitions/InstanceType",
          "description": "The EC2 instance type of the slave nodes."
        },
        "InstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of Amazon EC2 instances used to execute the job flow."
        },
        "InstanceGroups": {
          "$ref": "#/definitions/InstanceGroupConfigList",
          "description": "Configuration for the job flow's instance groups."
        },
        "Ec2KeyName": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The name of the Amazon EC2 key pair that can be used to ssh to the master node as the user called \"hadoop.\""
        },
        "Placement": {
          "$ref": "#/definitions/PlacementType",
          "description": "The Availability Zone the job flow will run in."
        },
        "KeepJobFlowAliveWhenNoSteps": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the job flow should be kept alive after completing all steps."
        },
        "TerminationProtected": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether to lock the job flow to prevent the Amazon EC2 instances from being terminated by API call, user intervention, or in the event of a job flow error."
        },
        "HadoopVersion": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The Hadoop version for the job flow. Valid inputs are \"0.18\" (deprecated), \"0.20\" (deprecated), \"0.20.205\" (deprecated), \"1.0.3\", \"2.2.0\", or \"2.4.0\". If you do not set this value, the default of 0.18 is used, unless the AmiVersion parameter is set in the RunJobFlow call, in which case the default version of Hadoop for that AMI version is used."
        },
        "Ec2SubnetId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "<p>To launch the job flow in Amazon Virtual Private Cloud (Amazon VPC), set this parameter to the identifier of the Amazon VPC subnet where you want the job flow to launch. If you do not specify this value, the job flow is launched in the normal Amazon Web Services cloud, outside of an Amazon VPC.</p> <p>Amazon VPC currently does not support cluster compute quadruple extra large (cc1.4xlarge) instances. Thus you cannot specify the cc1.4xlarge instance type for nodes of a job flow launched in a Amazon VPC.</p>"
        },
        "EmrManagedMasterSecurityGroup": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The identifier of the Amazon EC2 security group for the master node."
        },
        "EmrManagedSlaveSecurityGroup": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The identifier of the Amazon EC2 security group for the slave nodes."
        },
        "ServiceAccessSecurityGroup": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The identifier of the Amazon EC2 security group for the Amazon EMR service to access clusters in VPC private subnets."
        },
        "AdditionalMasterSecurityGroups": {
          "$ref": "#/definitions/SecurityGroupsList",
          "description": "A list of additional Amazon EC2 security group IDs for the master node."
        },
        "AdditionalSlaveSecurityGroups": {
          "$ref": "#/definitions/SecurityGroupsList",
          "description": "A list of additional Amazon EC2 security group IDs for the slave nodes."
        }
      },
      "description": "A description of the Amazon EC2 instance running the job flow. A valid JobFlowInstancesConfig must contain at least InstanceGroups, which is the recommended configuration. However, a valid alternative is to have MasterInstanceType, SlaveInstanceType, and InstanceCount (all three must be present)."
    },
    "JobFlowInstancesDetail": {
      "type": "object",
      "required": [
        "MasterInstanceType",
        "SlaveInstanceType",
        "InstanceCount"
      ],
      "properties": {
        "MasterInstanceType": {
          "$ref": "#/definitions/InstanceType",
          "description": "The Amazon EC2 master node instance type."
        },
        "MasterPublicDnsName": {
          "$ref": "#/definitions/XmlString",
          "description": "The DNS name of the master node."
        },
        "MasterInstanceId": {
          "$ref": "#/definitions/XmlString",
          "description": "The Amazon EC2 instance identifier of the master node."
        },
        "SlaveInstanceType": {
          "$ref": "#/definitions/InstanceType",
          "description": "The Amazon EC2 slave node instance type."
        },
        "InstanceCount": {
          "$ref": "#/definitions/Integer",
          "description": "The number of Amazon EC2 instances in the cluster. If the value is 1, the same instance serves as both the master and slave node. If the value is greater than 1, one instance is the master node and all others are slave nodes."
        },
        "InstanceGroups": {
          "$ref": "#/definitions/InstanceGroupDetailList",
          "description": "Details about the job flow's instance groups."
        },
        "NormalizedInstanceHours": {
          "$ref": "#/definitions/Integer",
          "description": "An approximation of the cost of the job flow, represented in m1.small/hours. This value is incremented once for every hour an m1.small runs. Larger instances are weighted more, so an Amazon EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate."
        },
        "Ec2KeyName": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The name of an Amazon EC2 key pair that can be used to ssh to the master node of job flow."
        },
        "Ec2SubnetId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "For job flows launched within Amazon Virtual Private Cloud, this value specifies the identifier of the subnet where the job flow was launched."
        },
        "Placement": {
          "$ref": "#/definitions/PlacementType",
          "description": "The Amazon EC2 Availability Zone for the job flow."
        },
        "KeepJobFlowAliveWhenNoSteps": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the job flow should terminate after completing all steps."
        },
        "TerminationProtected": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the Amazon EC2 instances in the cluster are protected from termination by API calls, user intervention, or in the event of a job flow error."
        },
        "HadoopVersion": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The Hadoop version for the job flow."
        }
      },
      "description": "Specify the type of Amazon EC2 instances to run the job flow on."
    },
    "KeyValue": {
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/XmlString",
          "description": "The unique identifier of a key value pair."
        },
        "Value": {
          "$ref": "#/definitions/XmlString",
          "description": "The value part of the identified key."
        }
      },
      "description": "A key value pair."
    },
    "KeyValueList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/KeyValue"
      }
    },
    "ListBootstrapActionsInput": {
      "type": "object",
      "required": [
        "ClusterId"
      ],
      "properties": {
        "ClusterId": {
          "$ref": "#/definitions/ClusterId",
          "description": "The cluster identifier for the bootstrap actions to list ."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve ."
        }
      },
      "description": "This input determines which bootstrap actions to retrieve."
    },
    "ListBootstrapActionsOutput": {
      "type": "object",
      "properties": {
        "BootstrapActions": {
          "$ref": "#/definitions/CommandList",
          "description": "The bootstrap actions associated with the cluster ."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve ."
        }
      },
      "description": "This output contains the boostrap actions detail ."
    },
    "ListClustersInput": {
      "type": "object",
      "properties": {
        "CreatedAfter": {
          "$ref": "#/definitions/Date",
          "description": "The creation date and time beginning value filter for listing clusters ."
        },
        "CreatedBefore": {
          "$ref": "#/definitions/Date",
          "description": "The creation date and time end value filter for listing clusters ."
        },
        "ClusterStates": {
          "$ref": "#/definitions/ClusterStateList",
          "description": "The cluster state filters to apply when listing clusters."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This input determines how the ListClusters action filters the list of clusters that it returns."
    },
    "ListClustersOutput": {
      "type": "object",
      "properties": {
        "Clusters": {
          "$ref": "#/definitions/ClusterSummaryList",
          "description": "The list of clusters for the account based on the given filters."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This contains a ClusterSummaryList with the cluster details; for example, the cluster IDs, names, and status."
    },
    "ListInstanceGroupsInput": {
      "type": "object",
      "required": [
        "ClusterId"
      ],
      "properties": {
        "ClusterId": {
          "$ref": "#/definitions/ClusterId",
          "description": "The identifier of the cluster for which to list the instance groups."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This input determines which instance groups to retrieve."
    },
    "ListInstanceGroupsOutput": {
      "type": "object",
      "properties": {
        "InstanceGroups": {
          "$ref": "#/definitions/InstanceGroupList",
          "description": "The list of instance groups for the cluster and given filters."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This input determines which instance groups to retrieve."
    },
    "ListInstancesInput": {
      "type": "object",
      "required": [
        "ClusterId"
      ],
      "properties": {
        "ClusterId": {
          "$ref": "#/definitions/ClusterId",
          "description": "The identifier of the cluster for which to list the instances."
        },
        "InstanceGroupId": {
          "$ref": "#/definitions/InstanceGroupId",
          "description": "The identifier of the instance group for which to list the instances."
        },
        "InstanceGroupTypes": {
          "$ref": "#/definitions/InstanceGroupTypeList",
          "description": "The type of instance group for which to list the instances."
        },
        "InstanceStates": {
          "$ref": "#/definitions/InstanceStateList",
          "description": "A list of instance states that will filter the instances returned with this request."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This input determines which instances to list."
    },
    "ListInstancesOutput": {
      "type": "object",
      "properties": {
        "Instances": {
          "$ref": "#/definitions/InstanceList",
          "description": "The list of instances for the cluster and given filters."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This output contains the list of instances."
    },
    "ListStepsInput": {
      "type": "object",
      "required": [
        "ClusterId"
      ],
      "properties": {
        "ClusterId": {
          "$ref": "#/definitions/ClusterId",
          "description": "The identifier of the cluster for which to list the steps."
        },
        "StepStates": {
          "$ref": "#/definitions/StepStateList",
          "description": "The filter to limit the step list based on certain states."
        },
        "StepIds": {
          "$ref": "#/definitions/XmlStringList",
          "description": "The filter to limit the step list based on the identifier of the steps."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This input determines which steps to list."
    },
    "ListStepsOutput": {
      "type": "object",
      "properties": {
        "Steps": {
          "$ref": "#/definitions/StepSummaryList",
          "description": "The filtered list of steps for the cluster."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The pagination token that indicates the next set of results to retrieve."
        }
      },
      "description": "This output contains the list of steps returned in reverse order. This means that the last step is the first element in the list."
    },
    "Marker": {
      "type": "string"
    },
    "MarketType": {
      "type": "string",
      "enum": [
        "ON_DEMAND",
        "SPOT"
      ]
    },
    "ModifyInstanceGroupsInput": {
      "type": "object",
      "properties": {
        "InstanceGroups": {
          "$ref": "#/definitions/InstanceGroupModifyConfigList",
          "description": "Instance groups to change."
        }
      },
      "description": "Change the size of some instance groups."
    },
    "NewSupportedProductsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SupportedProductConfig"
      }
    },
    "PlacementType": {
      "type": "object",
      "required": [
        "AvailabilityZone"
      ],
      "properties": {
        "AvailabilityZone": {
          "$ref": "#/definitions/XmlString",
          "description": "The Amazon EC2 Availability Zone for the job flow."
        }
      },
      "description": "The Amazon EC2 location for the job flow."
    },
    "RemoveTagsInput": {
      "type": "object",
      "required": [
        "ResourceId",
        "TagKeys"
      ],
      "properties": {
        "ResourceId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The Amazon EMR resource identifier from which tags will be removed. This value must be a cluster identifier."
        },
        "TagKeys": {
          "$ref": "#/definitions/StringList",
          "description": "A list of tag keys to remove from a resource."
        }
      },
      "description": "This input identifies a cluster and a list of tags to remove."
    },
    "RemoveTagsOutput": {
      "type": "object",
      "properties": {},
      "description": "This output indicates the result of removing tags from a resource."
    },
    "ResourceId": {
      "type": "string"
    },
    "RunJobFlowInput": {
      "type": "object",
      "required": [
        "Name",
        "Instances"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The name of the job flow."
        },
        "LogUri": {
          "$ref": "#/definitions/XmlString",
          "description": "The location in Amazon S3 to write the log files of the job flow. If a value is not provided, logs are not created."
        },
        "AdditionalInfo": {
          "$ref": "#/definitions/XmlString",
          "description": "A JSON string for selecting additional features."
        },
        "AmiVersion": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "<note> <p>For Amazon EMR releases 3.x and 2.x. For Amazon EMR releases 4.x and greater, use ReleaseLabel.</p> </note> <p>The version of the Amazon Machine Image (AMI) to use when launching Amazon EC2 instances in the job flow. The following values are valid:</p> <ul> <li> <p>The version number of the AMI to use, for example, \"2.0.\"</p> </li> </ul> <p>If the AMI supports multiple versions of Hadoop (for example, AMI 1.0 supports both Hadoop 0.18 and 0.20) you can use the <a>JobFlowInstancesConfig</a> <code>HadoopVersion</code> parameter to modify the version of Hadoop from the defaults shown above.</p> <p>For details about the AMI versions currently supported by Amazon Elastic MapReduce, go to <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/EnvironmentConfig_AMIVersion.html#ami-versions-supported\">AMI Versions Supported in Elastic MapReduce</a> in the <i>Amazon Elastic MapReduce Developer's Guide.</i> </p>"
        },
        "ReleaseLabel": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The release label for the Amazon EMR release. For Amazon EMR 3.x and 2.x AMIs, use amiVersion instead instead of ReleaseLabel.</p>"
        },
        "Instances": {
          "$ref": "#/definitions/JobFlowInstancesConfig",
          "description": "A specification of the number and type of Amazon EC2 instances on which to run the job flow."
        },
        "Steps": {
          "$ref": "#/definitions/StepConfigList",
          "description": "A list of steps to be executed by the job flow."
        },
        "BootstrapActions": {
          "$ref": "#/definitions/BootstrapActionConfigList",
          "description": "A list of bootstrap actions that will be run before Hadoop is started on the cluster nodes."
        },
        "SupportedProducts": {
          "$ref": "#/definitions/SupportedProductsList",
          "description": "<note> <p>For Amazon EMR releases 3.x and 2.x. For Amazon EMR releases 4.x and greater, use Applications.</p> </note> <p>A list of strings that indicates third-party software to use with the job flow. For more information, go to <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-supported-products.html\">Use Third Party Applications with Amazon EMR</a>. Currently supported values are:</p> <ul> <li> <p>\"mapr-m3\" - launch the job flow using MapR M3 Edition.</p> </li> <li> <p>\"mapr-m5\" - launch the job flow using MapR M5 Edition.</p> </li> </ul>"
        },
        "NewSupportedProducts": {
          "$ref": "#/definitions/NewSupportedProductsList",
          "description": "<note> <p>For Amazon EMR releases 3.x and 2.x. For Amazon EMR releases 4.x and greater, use Applications.</p> </note> <p>A list of strings that indicates third-party software to use with the job flow that accepts a user argument list. EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action arguments. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-mapr.html\">Launch a Job Flow on the MapR Distribution for Hadoop</a>. Currently supported values are:</p> <ul> <li> <p>\"mapr-m3\" - launch the cluster using MapR M3 Edition.</p> </li> <li> <p>\"mapr-m5\" - launch the cluster using MapR M5 Edition.</p> </li> <li> <p>\"mapr\" with the user arguments specifying \"--edition,m3\" or \"--edition,m5\" - launch the job flow using MapR M3 or M5 Edition respectively.</p> </li> <li> <p>\"mapr-m7\" - launch the cluster using MapR M7 Edition.</p> </li> <li> <p>\"hunk\" - launch the cluster with the Hunk Big Data Analtics Platform.</p> </li> <li> <p>\"hue\"- launch the cluster with Hue installed.</p> </li> <li> <p>\"spark\" - launch the cluster with Apache Spark installed.</p> </li> <li> <p>\"ganglia\" - launch the cluster with the Ganglia Monitoring System installed.</p> </li> </ul>"
        },
        "Applications": {
          "$ref": "#/definitions/ApplicationList",
          "description": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>A list of applications for the cluster. Valid values are: \"Hadoop\", \"Hive\", \"Mahout\", \"Pig\", and \"Spark.\" They are case insensitive.</p>"
        },
        "Configurations": {
          "$ref": "#/definitions/ConfigurationList",
          "description": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied for the EMR cluster you are creating.</p>"
        },
        "VisibleToAllUsers": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the job flow is visible to all IAM users of the AWS account associated with the job flow. If this value is set to <code>true</code>, all IAM users of that AWS account can view and (if they have the proper policy permissions set) manage the job flow. If it is set to <code>false</code>, only the IAM user that created the job flow can view and manage it."
        },
        "JobFlowRole": {
          "$ref": "#/definitions/XmlString",
          "description": "Also called instance profile and EC2 role. An IAM role for an EMR cluster. The EC2 instances of the cluster assume this role. The default role is <code>EMR_EC2_DefaultRole</code>. In order to use the default role, you must have already created it using the CLI or console."
        },
        "ServiceRole": {
          "$ref": "#/definitions/XmlString",
          "description": "The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "A list of tags to associate with a cluster and propagate to Amazon EC2 instances."
        }
      },
      "description": " Input to the <a>RunJobFlow</a> operation. "
    },
    "RunJobFlowOutput": {
      "type": "object",
      "properties": {
        "JobFlowId": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "An unique identifier for the job flow."
        }
      },
      "description": " The result of the <a>RunJobFlow</a> operation. "
    },
    "ScriptBootstrapActionConfig": {
      "type": "object",
      "required": [
        "Path"
      ],
      "properties": {
        "Path": {
          "$ref": "#/definitions/XmlString",
          "description": "Location of the script to run during a bootstrap action. Can be either a location in Amazon S3 or on a local file system."
        },
        "Args": {
          "$ref": "#/definitions/XmlStringList",
          "description": "A list of command line arguments to pass to the bootstrap action script."
        }
      },
      "description": "Configuration of the script to run during a bootstrap action."
    },
    "SecurityGroupsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/XmlStringMaxLen256"
      }
    },
    "SetTerminationProtectionInput": {
      "type": "object",
      "required": [
        "JobFlowIds",
        "TerminationProtected"
      ],
      "properties": {
        "JobFlowIds": {
          "$ref": "#/definitions/XmlStringList",
          "description": " A list of strings that uniquely identify the job flows to protect. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>DescribeJobFlows</a> . "
        },
        "TerminationProtected": {
          "$ref": "#/definitions/Boolean",
          "description": "A Boolean that indicates whether to protect the job flow and prevent the Amazon EC2 instances in the cluster from shutting down due to API calls, user intervention, or job-flow error."
        }
      },
      "description": " The input argument to the <a>TerminationProtection</a> operation. "
    },
    "SetVisibleToAllUsersInput": {
      "type": "object",
      "required": [
        "JobFlowIds",
        "VisibleToAllUsers"
      ],
      "properties": {
        "JobFlowIds": {
          "$ref": "#/definitions/XmlStringList",
          "description": "Identifiers of the job flows to receive the new visibility setting."
        },
        "VisibleToAllUsers": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the specified job flows are visible to all IAM users of the AWS account associated with the job flow. If this value is set to True, all IAM users of that AWS account can view and, if they have the proper IAM policy permissions set, manage the job flows. If it is set to False, only the IAM user that created a job flow can view and manage it."
        }
      },
      "description": "The input to the SetVisibleToAllUsers action."
    },
    "ShrinkPolicy": {
      "type": "object",
      "properties": {
        "DecommissionTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "The desired timeout for decommissioning an instance. Overrides the default YARN decommissioning timeout."
        },
        "InstanceResizePolicy": {
          "$ref": "#/definitions/InstanceResizePolicy",
          "description": "Custom policy for requesting termination protection or termination of specific instances when shrinking an instance group."
        }
      },
      "description": "Policy for customizing shrink operations. Allows configuration of decommissioning timeout and targeted instance shrinking."
    },
    "Step": {
      "type": "object",
      "properties": {
        "Id": {
          "$ref": "#/definitions/StepId",
          "description": "The identifier of the cluster step."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the cluster step."
        },
        "Config": {
          "$ref": "#/definitions/HadoopStepConfig",
          "description": "The Hadoop job configuration of the cluster step."
        },
        "ActionOnFailure": {
          "$ref": "#/definitions/ActionOnFailure",
          "description": "This specifies what action to take when the cluster step fails. Possible values are TERMINATE_CLUSTER, CANCEL_AND_WAIT, and CONTINUE."
        },
        "Status": {
          "$ref": "#/definitions/StepStatus",
          "description": "The current execution status details of the cluster step."
        }
      },
      "description": "This represents a step in a cluster."
    },
    "StepConfig": {
      "type": "object",
      "required": [
        "Name",
        "HadoopJarStep"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The name of the job flow step."
        },
        "ActionOnFailure": {
          "$ref": "#/definitions/ActionOnFailure",
          "description": "The action to take if the job flow step fails."
        },
        "HadoopJarStep": {
          "$ref": "#/definitions/HadoopJarStepConfig",
          "description": "The JAR file used for the job flow step."
        }
      },
      "description": "Specification of a job flow step."
    },
    "StepConfigList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StepConfig"
      }
    },
    "StepDetail": {
      "type": "object",
      "required": [
        "StepConfig",
        "ExecutionStatusDetail"
      ],
      "properties": {
        "StepConfig": {
          "$ref": "#/definitions/StepConfig",
          "description": "The step configuration."
        },
        "ExecutionStatusDetail": {
          "$ref": "#/definitions/StepExecutionStatusDetail",
          "description": "The description of the step status."
        }
      },
      "description": "Combines the execution state and configuration of a step."
    },
    "StepDetailList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StepDetail"
      }
    },
    "StepExecutionState": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "CONTINUE",
        "COMPLETED",
        "CANCELLED",
        "FAILED",
        "INTERRUPTED"
      ]
    },
    "StepExecutionStatusDetail": {
      "type": "object",
      "required": [
        "State",
        "CreationDateTime"
      ],
      "properties": {
        "State": {
          "$ref": "#/definitions/StepExecutionState",
          "description": "The state of the job flow step."
        },
        "CreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The creation date and time of the step."
        },
        "StartDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The start date and time of the step."
        },
        "EndDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The completion date and time of the step."
        },
        "LastStateChangeReason": {
          "$ref": "#/definitions/XmlString",
          "description": "A description of the step's current state."
        }
      },
      "description": "The execution state of a step."
    },
    "StepId": {
      "type": "string"
    },
    "StepIdsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/XmlStringMaxLen256"
      }
    },
    "StepState": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "COMPLETED",
        "CANCELLED",
        "FAILED",
        "INTERRUPTED"
      ]
    },
    "StepStateChangeReason": {
      "type": "object",
      "properties": {
        "Code": {
          "$ref": "#/definitions/StepStateChangeReasonCode",
          "description": "The programmable code for the state change reason. Note: Currently, the service provides no code for the state change."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "The descriptive message for the state change reason."
        }
      },
      "description": "The details of the step state change reason."
    },
    "StepStateChangeReasonCode": {
      "type": "string",
      "enum": [
        "NONE"
      ]
    },
    "StepStateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StepState"
      }
    },
    "StepStatus": {
      "type": "object",
      "properties": {
        "State": {
          "$ref": "#/definitions/StepState",
          "description": "The execution state of the cluster step."
        },
        "StateChangeReason": {
          "$ref": "#/definitions/StepStateChangeReason",
          "description": "The reason for the step execution status change."
        },
        "FailureDetails": {
          "$ref": "#/definitions/FailureDetails",
          "description": "The details for the step failure including reason, message, and log file path where the root cause was identified."
        },
        "Timeline": {
          "$ref": "#/definitions/StepTimeline",
          "description": "The timeline of the cluster step status over time."
        }
      },
      "description": "The execution status details of the cluster step."
    },
    "StepSummary": {
      "type": "object",
      "properties": {
        "Id": {
          "$ref": "#/definitions/StepId",
          "description": "The identifier of the cluster step."
        },
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the cluster step."
        },
        "Config": {
          "$ref": "#/definitions/HadoopStepConfig",
          "description": "The Hadoop job configuration of the cluster step."
        },
        "ActionOnFailure": {
          "$ref": "#/definitions/ActionOnFailure",
          "description": "This specifies what action to take when the cluster step fails. Possible values are TERMINATE_CLUSTER, CANCEL_AND_WAIT, and CONTINUE."
        },
        "Status": {
          "$ref": "#/definitions/StepStatus",
          "description": "The current execution status details of the cluster step."
        }
      },
      "description": "The summary of the cluster step."
    },
    "StepSummaryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StepSummary"
      }
    },
    "StepTimeline": {
      "type": "object",
      "properties": {
        "CreationDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the cluster step was created."
        },
        "StartDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the cluster step execution started."
        },
        "EndDateTime": {
          "$ref": "#/definitions/Date",
          "description": "The date and time when the cluster step execution completed or failed."
        }
      },
      "description": "The timeline of the cluster step lifecycle."
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "StringMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      }
    },
    "SupportedProductConfig": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/XmlStringMaxLen256",
          "description": "The name of the product configuration."
        },
        "Args": {
          "$ref": "#/definitions/XmlStringList",
          "description": "The list of user-supplied arguments."
        }
      },
      "description": "The list of supported product configurations which allow user-supplied arguments. EMR accepts these arguments and forwards them to the corresponding installation script as bootstrap action arguments."
    },
    "SupportedProductsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/XmlStringMaxLen256"
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/String",
          "description": "A user-defined key, which is the minimum required information for a valid tag. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-plan-tags.html\">Tagging Amazon EMR Resources</a>. "
        },
        "Value": {
          "$ref": "#/definitions/String",
          "description": "A user-defined value, which is optional in a tag. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-plan-tags.html\">Tagging Amazon EMR Resources</a>. "
        }
      },
      "description": "A key/value pair containing user-defined metadata that you can associate with an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clu\\ sters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticMapReduce/latest/DeveloperGuide/emr-plan-tags.html\">Tagging Amazon EMR Resources</a>. "
    },
    "TagList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Tag"
      }
    },
    "TerminateJobFlowsInput": {
      "type": "object",
      "required": [
        "JobFlowIds"
      ],
      "properties": {
        "JobFlowIds": {
          "$ref": "#/definitions/XmlStringList",
          "description": "A list of job flows to be shutdown."
        }
      },
      "description": " Input to the <a>TerminateJobFlows</a> operation. "
    },
    "VolumeSpecification": {
      "type": "object",
      "required": [
        "VolumeType",
        "SizeInGB"
      ],
      "properties": {
        "VolumeType": {
          "$ref": "#/definitions/String",
          "description": "The volume type. Volume types supported are gp2, io1, standard."
        },
        "Iops": {
          "$ref": "#/definitions/Integer",
          "description": "The number of I/O operations per second (IOPS) that the volume supports."
        },
        "SizeInGB": {
          "$ref": "#/definitions/Integer",
          "description": "The volume size, in gibibytes (GiB). This can be a number from 1 - 1024. If the volume type is EBS-optimized, the minimum value is 10."
        }
      },
      "description": "EBS volume specifications such as volume type, IOPS, and size(GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster."
    },
    "XmlString": {
      "type": "string",
      "minLength": 0,
      "maxLength": 10280,
      "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "XmlStringList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/XmlString"
      }
    },
    "XmlStringMaxLen256": {
      "type": "string",
      "minLength": 0,
      "maxLength": 256,
      "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    }
  }
}