{
  "swagger": "2.0",
  "info": {
    "title": "NHL Official Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NHL Official API",
    "x-mashery-id": "5688"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NHL Official v5"
    }
  ],
  "paths": {
    "/nhl/trial/v5/en/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNHLOfficialv5",
        "summary": "provides information on any changes made to teams,...",
        "description": "provides information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleNHLOfficialv5",
        "summary": "provides the schedule for a given day",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/league/{year}/{month}/{day}/transfers{format}": {
      "get": {
        "operationId": "DailyTransfersNHLOfficialv5",
        "summary": "provides information on player transfers for a giv...",
        "description": "provides information on player transfers for a given day",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNHLOfficialv5",
        "summary": "Get boxscore data for NHL Games",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/games/{game_id}/faceoffs{format}": {
      "get": {
        "operationId": "GameFaceoffsNHLOfficialv5",
        "summary": "Get faceoff data for an NHL Game",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "GamePlayByPlayNHLOfficialv5",
        "summary": "Get the Play-by-Play data for an NHL Game",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/games/{game_id}/summary{format}": {
      "get": {
        "operationId": "GameSummaryNHLOfficialv5",
        "summary": "Get the Summary data for an NHL Game",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/games/{game_id}/time_on_ice{format}": {
      "get": {
        "operationId": "GameTimeonIceNHLOfficialv5",
        "summary": "Get the time on ice data for an NHL Game",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/league/injuries{format}": {
      "get": {
        "operationId": "InjuriesNHLOfficialv5",
        "summary": "Provides updated injuries for the NHL",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNHLOfficialv5",
        "summary": "Provides list of all NHL teams",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/leaders/goaltending{format}": {
      "get": {
        "operationId": "LeagueLeaders-GoaltendingNHLOfficialv5",
        "summary": "Provides the leaders for Goaltending",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/leaders/offense{format}": {
      "get": {
        "operationId": "LeagueLeaders-SkatersNHLOfficialv5",
        "summary": "Provides the leaders for Defense and Offense skate...",
        "description": "Provides the leaders for Defense and Offense skaters",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{year1}/{nhl_season}/{year2}/{month}/{day}/leaders{format}": {
      "get": {
        "operationId": "LeagueLeaders-DailyNHLOfficialv5",
        "summary": "Provides the leaders for a given day. Please note ...",
        "description": "Provides the leaders for a given day. Please note that this feed will not return data until the regular season begins",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "year1",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "year2",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/leaders{format}": {
      "get": {
        "operationId": "LeagueLeaders-SeasonalNHLOfficialv5",
        "summary": "Provides the seasonal leaders. Please note that th...",
        "description": "Provides the seasonal leaders. Please note that this feed will not return data until the regular season begins",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileNHLOfficialv5",
        "summary": "Player information for the NHL",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The given ID of a player",
            "in": "path",
            "required": true,
            "default": "42b7b605-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/rankings{format}": {
      "get": {
        "operationId": "RankingsNHLOfficialv5",
        "summary": "Get ranking information for the NHL",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/games/{season}/{nhl_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNHLOfficialv5",
        "summary": "Get the schedule for a given NHL Season",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2017",
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "PRE"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/teams/{team_id}/faceoffs{format}": {
      "get": {
        "operationId": "SeasonalFaceoffsNHLOfficialv5",
        "summary": "Get faceoff information on a team level",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatistics-SeasontoDateNHLOfficialv5",
        "summary": "Get statistics on a team level",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/series/{series_id}/teams/{team_id}/faceoffs{format}": {
      "get": {
        "operationId": "SeriesFaceoffsNHLOfficialv5",
        "summary": "Get faceoff information for a playoff series",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "series_id",
            "type": "string",
            "description": "Playoff series ID",
            "in": "path",
            "required": true,
            "default": "6fdf1873-a327-4926-a411-ff55ef95a78a"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/series/{season}/{nhl_season}/schedule{format}": {
      "get": {
        "operationId": "SeriesScheduleNHLOfficialv5",
        "summary": "Get faceoff information for a playoff series",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/series/{series_id}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeriesStatisticsNHLOfficialv5",
        "summary": "Get the statistics for a playoff series",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "series_id",
            "type": "string",
            "description": "Playoff series ID",
            "in": "path",
            "required": true,
            "default": "6fdf1873-a327-4926-a411-ff55ef95a78a"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/standings{format}": {
      "get": {
        "operationId": "StandingsNHLOfficialv5",
        "summary": "Get the standings for the NHL",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{year1}/{nhl_season}/{year2}/{month}/{day}/teams/{team_id}/leaders{format}": {
      "get": {
        "operationId": "TeamLeaders-DailyNHLOfficialv5",
        "summary": "Provides the leaders for a given day. Please note ...",
        "description": "Provides the leaders for a given day. Please note that this feed will not return data until the regular season begins",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "year1",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "PRE"
            ]
          },
          {
            "name": "year2",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/seasons/{season}/{nhl_season}/teams/{team_id}/leaders{format}": {
      "get": {
        "operationId": "TeamLeaders-SeasonalNHLOfficialv5",
        "summary": "Get leaders on a team level. Please note that this...",
        "description": "Get leaders on a team level. Please note that this feed will not return data until the regular season begins",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl/trial/v5/en/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile-RosterNHLOfficialv5",
        "summary": "Get the roster information for a NHL team",
        "tags": [
          "NHL Official v5"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}