{
  "swagger": "2.0",
  "info": {
    "title": "Equipment Request API (Partner) **",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.cokecce.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. API for Equipment Request Information",
    "x-mashery-id": "421"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/equipmentrequest",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Equipment Request"
    }
  ],
  "paths": {
    "/new/": {
      "get": {
        "operationId": "GetNewEquipmentRequestEquipmentRequest",
        "summary": "Returns equipment request object list",
        "tags": [
          "Equipment Request"
        ],
        "parameters": [
          {
            "name": "plant",
            "type": "string",
            "description": "Plant",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/complete/": {
      "get": {
        "operationId": "GetCompleteEquipmentRequestEquipmentRequest",
        "summary": "Returns equipment request object list",
        "tags": [
          "Equipment Request"
        ],
        "parameters": [
          {
            "name": "plant",
            "type": "string",
            "description": "Plant",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{Name}": {
      "post": {
        "operationId": "UpdateEquipmentRequestEquipmentRequest",
        "summary": "Updates single equipment request object",
        "tags": [
          "Equipment Request"
        ],
        "parameters": [
          {
            "name": "Name",
            "type": "string",
            "description": "Name of ER",
            "in": "path",
            "required": true
          },
          {
            "name": "transporterstatus",
            "type": "string",
            "description": "Transport Status",
            "in": "query",
            "required": false,
            "enum": [
              "New_Equipment_Request",
              "Exported",
              "Planned",
              "Incomplete_Group",
              "EC_Planning_Action_Requested",
              "EC_Planning_Action_Completed",
              "Full_Service_Informed",
              "Rejected_by_Transporter",
              "Completed_by_Transporter"
            ]
          },
          {
            "name": "transportercategory",
            "type": "string",
            "description": "Transporter Category",
            "in": "query",
            "required": false
          },
          {
            "name": "transportercategorydescription",
            "type": "string",
            "description": "Transporter Category Description",
            "in": "query",
            "required": false
          },
          {
            "name": "transportercomments",
            "type": "string",
            "description": "Transporter Comments",
            "in": "query",
            "required": false
          },
          {
            "name": "deliverydate",
            "type": "string",
            "description": "Delivery Date (yyyyMMdd)",
            "in": "query",
            "required": false
          },
          {
            "name": "completiondate",
            "type": "string",
            "description": "Completion Date (yyyyMMdd)",
            "in": "query",
            "required": false
          },
          {
            "name": "contactpersonbyinstall",
            "type": "string",
            "description": "Contact Person by install",
            "in": "query",
            "required": false
          },
          {
            "name": "contacttelephone",
            "type": "string",
            "description": "Contact telephone",
            "in": "query",
            "required": false
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}