{
  "swagger": "2.0",
  "info": {
    "version": "2013-09-09",
    "x-release": "v4",
    "title": "Amazon Relational Database Service",
    "description": "<fullname>Amazon Relational Database Service</fullname> <p> Amazon Relational Database Service (Amazon RDS) is a web service that makes it easier to set up, operate, and scale a relational database in the cloud. It provides cost-efficient, resizable capacity for an industry-standard relational database and manages common database administration tasks, freeing up developers to focus on what makes their applications and businesses unique. </p> <p> Amazon RDS gives you access to the capabilities of a MySQL, PostgreSQL, Microsoft SQL Server, or Oracle database server. This means the code, applications, and tools you already use today with your existing databases work with Amazon RDS without modification. Amazon RDS automatically backs up your database and maintains the database software that powers your DB instance. Amazon RDS is flexible: you can scale your database instance's compute resources and storage capacity to meet your application's demand. As with all Amazon Web Services, there are no up-front investments, and you pay only for the resources you use. </p> <p> This is an interface reference for Amazon RDS. It contains documentation for a programming or command line interface you can use to manage Amazon RDS. Note that Amazon RDS is asynchronous, which means that some interfaces may require techniques such as polling or callback functions to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, or during the maintenance window. For a summary of the Amazon RDS interfaces, go to <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html#Welcome.Interfaces\">Available RDS Interfaces</a>. </p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/rds/"
  },
  "host": "rds.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "AddSourceIdentifierToSubscription",
        "description": "Adds a source identifier to an existing RDS event notification subscription.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddSourceIdentifierToSubscriptionResult"
            }
          },
          "480": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          },
          "481": {
            "description": "SourceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SourceNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddSourceIdentifierToSubscriptionMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#AddTagsToResource": {
      "post": {
        "operationId": "AddTagsToResource",
        "description": "<p> Adds metadata tags to an Amazon RDS resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon RDS resources, or used in Condition statement in IAM policy for Amazon RDS.</p> <p>For an overview on tagging Amazon RDS resources, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsToResourceMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#AuthorizeDBSecurityGroupIngress": {
      "post": {
        "operationId": "AuthorizeDBSecurityGroupIngress",
        "description": "<p> Enables ingress to a DBSecurityGroup using one of two forms of authorization. First, EC2 or VPC security groups can be added to the DBSecurityGroup if the application using the database is running on EC2 or VPC instances. Second, IP ranges are available if the application accessing your database is running on the Internet. Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC). </p> <note> You cannot authorize ingress from an EC2 security group in one Region to an Amazon RDS DB instance in another. You cannot authorize ingress from a VPC security group in one VPC to an Amazon RDS DB instance in another. </note> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AuthorizeDBSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidDBSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "AuthorizationAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationAlreadyExistsFault"
            }
          },
          "483": {
            "description": "AuthorizationQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationQuotaExceededFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthorizeDBSecurityGroupIngressMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CopyDBSnapshot": {
      "post": {
        "operationId": "CopyDBSnapshot",
        "description": " Copies the specified DBSnapshot. The source DBSnapshot must be in the \"available\" state. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CopyDBSnapshotResult"
            }
          },
          "480": {
            "description": "DBSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidDBSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSnapshotStateFault"
            }
          },
          "483": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyDBSnapshotMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateDBInstance": {
      "post": {
        "operationId": "CreateDBInstance",
        "description": " Creates a new DB instance. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceResult"
            }
          },
          "480": {
            "description": "DBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InsufficientDBInstanceCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientDBInstanceCapacityFault"
            }
          },
          "482": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "483": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "484": {
            "description": "InstanceQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/InstanceQuotaExceededFault"
            }
          },
          "485": {
            "description": "StorageQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/StorageQuotaExceededFault"
            }
          },
          "486": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          },
          "487": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "488": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "489": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "490": {
            "description": "ProvisionedIopsNotAvailableInAZFault",
            "schema": {
              "$ref": "#/definitions/ProvisionedIopsNotAvailableInAZFault"
            }
          },
          "491": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateDBInstanceReadReplica": {
      "post": {
        "operationId": "CreateDBInstanceReadReplica",
        "description": "<p> Creates a DB instance that acts as a read replica of a source DB instance. </p> <p> All read replica DB instances are created as Single-AZ deployments with backups disabled. All other DB instance attributes (including DB security groups and DB parameter groups) are inherited from the source DB instance, except as specified below. </p> <important> <p> The source DB instance must have backup retention enabled. </p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceReadReplicaResult"
            }
          },
          "480": {
            "description": "DBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InsufficientDBInstanceCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientDBInstanceCapacityFault"
            }
          },
          "482": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "483": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "484": {
            "description": "InstanceQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/InstanceQuotaExceededFault"
            }
          },
          "485": {
            "description": "StorageQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/StorageQuotaExceededFault"
            }
          },
          "486": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "487": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "488": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          },
          "489": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "490": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          },
          "491": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "492": {
            "description": "ProvisionedIopsNotAvailableInAZFault",
            "schema": {
              "$ref": "#/definitions/ProvisionedIopsNotAvailableInAZFault"
            }
          },
          "493": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "494": {
            "description": "DBSubnetGroupNotAllowedFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotAllowedFault"
            }
          },
          "495": {
            "description": "InvalidDBSubnetGroupFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSubnetGroupFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBInstanceReadReplicaMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateDBParameterGroup": {
      "post": {
        "operationId": "CreateDBParameterGroup",
        "description": "<p> Creates a new DB parameter group. </p> <p> A DB parameter group is initially created with the default parameters for the database engine used by the DB instance. To provide custom values for any of the parameters, you must modify the group after creating it using <i>ModifyDBParameterGroup</i>. Once you've created a DB parameter group, you need to associate it with your DB instance using <i>ModifyDBInstance</i>. When you associate a new DB parameter group with a running DB instance, you need to reboot the DB Instance for the new DB parameter group and associated settings to take effect. </p> <important> <p>After you create a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon RDS to fully complete the create action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBParameterGroupResult"
            }
          },
          "480": {
            "description": "DBParameterGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupQuotaExceededFault"
            }
          },
          "481": {
            "description": "DBParameterGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupAlreadyExistsFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBParameterGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateDBSecurityGroup": {
      "post": {
        "operationId": "CreateDBSecurityGroup",
        "description": " Creates a new DB security group. DB security groups control access to a DB instance. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBSecurityGroupResult"
            }
          },
          "480": {
            "description": "DBSecurityGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "DBSecurityGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "DBSecurityGroupNotSupportedFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotSupportedFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBSecurityGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateDBSnapshot": {
      "post": {
        "operationId": "CreateDBSnapshot",
        "description": " Creates a DBSnapshot. The source DBInstance must be in \"available\" state. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBSnapshotResult"
            }
          },
          "480": {
            "description": "DBSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotAlreadyExistsFault"
            }
          },
          "481": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "482": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "483": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBSnapshotMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateDBSubnetGroup": {
      "post": {
        "operationId": "CreateDBSubnetGroup",
        "description": " Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the region. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateDBSubnetGroupResult"
            }
          },
          "480": {
            "description": "DBSubnetGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "DBSubnetGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupQuotaExceededFault"
            }
          },
          "482": {
            "description": "DBSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetQuotaExceededFault"
            }
          },
          "483": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "484": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDBSubnetGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateEventSubscription": {
      "post": {
        "operationId": "CreateEventSubscription",
        "description": "<p>Creates an RDS event notification subscription. This action requires a topic ARN (Amazon Resource Name) created by either the RDS console, the SNS console, or the SNS API. To obtain an ARN with SNS, you must create a topic in Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p> <p>You can specify the type of source (SourceType) you want to be notified of, provide a list of RDS sources (SourceIds) that triggers the events, and provide a list of event categories (EventCategories) for events you want to be notified of. For example, you can specify SourceType = db-instance, SourceIds = mydbinstance1, mydbinstance2 and EventCategories = Availability, Backup.</p> <p>If you specify both the SourceType and SourceIds, such as SourceType = db-instance and SourceIdentifier = myDBInstance1, you will be notified of all the db-instance events for the specified source. If you specify a SourceType but do not specify a SourceIdentifier, you will receive notice of the events for that source type for all your RDS sources. If you do not specify either the SourceType nor the SourceIdentifier, you will be notified of events generated from all RDS sources belonging to your customer account.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateEventSubscriptionResult"
            }
          },
          "480": {
            "description": "EventSubscriptionQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/EventSubscriptionQuotaExceededFault"
            }
          },
          "481": {
            "description": "SubscriptionAlreadyExistFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionAlreadyExistFault"
            }
          },
          "482": {
            "description": "SNSInvalidTopicFault",
            "schema": {
              "$ref": "#/definitions/SNSInvalidTopicFault"
            }
          },
          "483": {
            "description": "SNSNoAuthorizationFault",
            "schema": {
              "$ref": "#/definitions/SNSNoAuthorizationFault"
            }
          },
          "484": {
            "description": "SNSTopicArnNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SNSTopicArnNotFoundFault"
            }
          },
          "485": {
            "description": "SubscriptionCategoryNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionCategoryNotFoundFault"
            }
          },
          "486": {
            "description": "SourceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SourceNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEventSubscriptionMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateOptionGroup": {
      "post": {
        "operationId": "CreateOptionGroup",
        "description": " Creates a new option group. You can create up to 20 option groups. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateOptionGroupResult"
            }
          },
          "480": {
            "description": "OptionGroupAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupAlreadyExistsFault"
            }
          },
          "481": {
            "description": "OptionGroupQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupQuotaExceededFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOptionGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteDBInstance": {
      "post": {
        "operationId": "DeleteDBInstance",
        "description": "<p> The DeleteDBInstance action deletes a previously provisioned DB instance. A successful response from the web service indicates the request was received correctly. When you delete a DB instance, all automated backups for that instance are deleted and cannot be recovered. Manual DB snapshots of the DB instance to be deleted are not deleted. </p> <p> If a final DB snapshot is requested the status of the RDS instance will be \"deleting\" until the DB snapshot is created. The API action <code>DescribeDBInstance</code> is used to monitor the status of this operation. The action cannot be canceled or reverted once submitted. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDBInstanceResult"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "482": {
            "description": "DBSnapshotAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotAlreadyExistsFault"
            }
          },
          "483": {
            "description": "SnapshotQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/SnapshotQuotaExceededFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBInstanceMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteDBParameterGroup": {
      "post": {
        "operationId": "DeleteDBParameterGroup",
        "description": "<p> Deletes a specified DBParameterGroup. The DBParameterGroup cannot be associated with any RDS instances to be deleted. </p> <note> The specified DB parameter group cannot be associated with any DB instances. </note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidDBParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBParameterGroupStateFault"
            }
          },
          "481": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBParameterGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteDBSecurityGroup": {
      "post": {
        "operationId": "DeleteDBSecurityGroup",
        "description": "<p> Deletes a DB security group. </p> <note>The specified DB security group must not be associated with any DB instances.</note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidDBSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSecurityGroupStateFault"
            }
          },
          "481": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBSecurityGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteDBSnapshot": {
      "post": {
        "operationId": "DeleteDBSnapshot",
        "description": "<p> Deletes a DBSnapshot. If the snapshot is being copied, the copy operation is terminated. </p> <note>The DBSnapshot must be in the <code>available</code> state to be deleted.</note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteDBSnapshotResult"
            }
          },
          "480": {
            "description": "InvalidDBSnapshotStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSnapshotStateFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBSnapshotMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteDBSubnetGroup": {
      "post": {
        "operationId": "DeleteDBSubnetGroup",
        "description": "<p> Deletes a DB subnet group. </p> <note>The specified database subnet group must not be associated with any DB instances.</note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidDBSubnetGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSubnetGroupStateFault"
            }
          },
          "481": {
            "description": "InvalidDBSubnetStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSubnetStateFault"
            }
          },
          "482": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteDBSubnetGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteEventSubscription": {
      "post": {
        "operationId": "DeleteEventSubscription",
        "description": "Deletes an RDS event notification subscription.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteEventSubscriptionResult"
            }
          },
          "480": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidEventSubscriptionStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidEventSubscriptionStateFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteEventSubscriptionMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteOptionGroup": {
      "post": {
        "operationId": "DeleteOptionGroup",
        "description": " Deletes an existing option group. ",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidOptionGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidOptionGroupStateFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteOptionGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBEngineVersions": {
      "post": {
        "operationId": "DescribeDBEngineVersions",
        "description": " Returns a list of the available DB engines. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBEngineVersionMessage"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBEngineVersionsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBInstances": {
      "post": {
        "operationId": "DescribeDBInstances",
        "description": " Returns information about provisioned RDS instances. This API supports pagination. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBInstanceMessage"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBInstancesMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ],
        "x-waiters": [
          {
            "delay": 30,
            "operation": "DescribeDBInstances",
            "maxAttempts": 60,
            "acceptors": [
              {
                "expected": "available",
                "matcher": "pathAll",
                "state": "success",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "deleted",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "deleting",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "failed",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "incompatible-restore",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "incompatible-parameters",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "incompatible-parameters",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "incompatible-restore",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              }
            ]
          },
          {
            "delay": 30,
            "operation": "DescribeDBInstances",
            "maxAttempts": 60,
            "acceptors": [
              {
                "expected": "deleted",
                "matcher": "pathAll",
                "state": "success",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "creating",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "modifying",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "rebooting",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              },
              {
                "expected": "resetting-master-credentials",
                "matcher": "pathAny",
                "state": "failure",
                "argument": "DBInstances[].DBInstanceStatus"
              }
            ]
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBLogFiles": {
      "post": {
        "operationId": "DescribeDBLogFiles",
        "description": " Returns a list of DB log files for the DB instance. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeDBLogFilesResponse"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBLogFilesMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBParameterGroups": {
      "post": {
        "operationId": "DescribeDBParameterGroups",
        "description": " Returns a list of <code>DBParameterGroup</code> descriptions. If a <code>DBParameterGroupName</code> is specified, the list will contain only the description of the specified DB parameter group. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupsMessage"
            }
          },
          "480": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBParameterGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBParameters": {
      "post": {
        "operationId": "DescribeDBParameters",
        "description": " Returns the detailed parameter list for a particular DB parameter group. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupDetails"
            }
          },
          "480": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBParametersMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBSecurityGroups": {
      "post": {
        "operationId": "DescribeDBSecurityGroups",
        "description": " Returns a list of <code>DBSecurityGroup</code> descriptions. If a <code>DBSecurityGroupName</code> is specified, the list will contain only the descriptions of the specified DB security group. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupMessage"
            }
          },
          "480": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBSecurityGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBSnapshots": {
      "post": {
        "operationId": "DescribeDBSnapshots",
        "description": " Returns information about DB snapshots. This API supports pagination. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBSnapshotMessage"
            }
          },
          "480": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBSnapshotsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeDBSubnetGroups": {
      "post": {
        "operationId": "DescribeDBSubnetGroups",
        "description": "<p> Returns a list of DBSubnetGroup descriptions. If a DBSubnetGroupName is specified, the list will contain only the descriptions of the specified DBSubnetGroup. </p> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupMessage"
            }
          },
          "480": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeDBSubnetGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeEngineDefaultParameters": {
      "post": {
        "operationId": "DescribeEngineDefaultParameters",
        "description": " Returns the default engine and system parameter information for the specified database engine. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeEngineDefaultParametersResult"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEngineDefaultParametersMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeEventCategories": {
      "post": {
        "operationId": "DescribeEventCategories",
        "description": "Displays a list of categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in the <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Events.html\"> Events</a> topic in the Amazon RDS User Guide.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventCategoriesMessage"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEventCategoriesMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeEventSubscriptions": {
      "post": {
        "operationId": "DescribeEventSubscriptions",
        "description": "<p>Lists all the subscription descriptions for a customer account. The description for a subscription includes SubscriptionName, SNSTopicARN, CustomerID, SourceType, SourceID, CreationTime, and Status. </p> <p>If you specify a SubscriptionName, lists the description for that subscription.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventSubscriptionsMessage"
            }
          },
          "480": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEventSubscriptionsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeEvents": {
      "post": {
        "operationId": "DescribeEvents",
        "description": " Returns events related to DB instances, DB security groups, DB snapshots, and DB parameter groups for the past 14 days. Events specific to a particular DB instance, DB security group, database snapshot, or DB parameter group can be obtained by providing the name as a parameter. By default, the past hour of events are returned. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EventsMessage"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeEventsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeOptionGroupOptions": {
      "post": {
        "operationId": "DescribeOptionGroupOptions",
        "description": " Describes all available options. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OptionGroupOptionsMessage"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeOptionGroupOptionsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeOptionGroups": {
      "post": {
        "operationId": "DescribeOptionGroups",
        "description": " Describes the available option groups. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OptionGroups"
            }
          },
          "480": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeOptionGroupsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeOrderableDBInstanceOptions": {
      "post": {
        "operationId": "DescribeOrderableDBInstanceOptions",
        "description": " Returns a list of orderable DB instance options for the specified engine. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrderableDBInstanceOptionsMessage"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeOrderableDBInstanceOptionsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeReservedDBInstances": {
      "post": {
        "operationId": "DescribeReservedDBInstances",
        "description": " Returns information about reserved DB instances for this account, or about a specified reserved DB instance. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstanceMessage"
            }
          },
          "480": {
            "description": "ReservedDBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstanceNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedDBInstancesMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DescribeReservedDBInstancesOfferings": {
      "post": {
        "operationId": "DescribeReservedDBInstancesOfferings",
        "description": " Lists available reserved DB instance offerings. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstancesOfferingMessage"
            }
          },
          "480": {
            "description": "ReservedDBInstancesOfferingNotFoundFault",
            "schema": {
              "$ref": "#/definitions/ReservedDBInstancesOfferingNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeReservedDBInstancesOfferingsMessage"
            }
          },
          {
            "name": "MaxRecords",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DownloadDBLogFilePortion": {
      "post": {
        "operationId": "DownloadDBLogFilePortion",
        "description": " Downloads all or a portion of the specified log file. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DownloadDBLogFilePortionDetails"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "DBLogFileNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBLogFileNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DownloadDBLogFilePortionMessage"
            }
          },
          {
            "name": "NumberOfLines",
            "type": "string",
            "in": "query",
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "Marker",
            "type": "string",
            "in": "query",
            "description": "Pagination token",
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListTagsForResource": {
      "post": {
        "operationId": "ListTagsForResource",
        "description": "<p> Lists all tags on an Amazon RDS resource.</p> <p>For an overview on tagging an Amazon RDS resource, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagListMessage"
            }
          },
          "480": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "481": {
            "description": "DBSnapshotNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSnapshotNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsForResourceMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyDBInstance": {
      "post": {
        "operationId": "ModifyDBInstance",
        "description": " Modify settings for a DB instance. You can change one or more database configuration parameters by specifying these parameters and the new values in the request. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyDBInstanceResult"
            }
          },
          "480": {
            "description": "InvalidDBInstanceStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBInstanceStateFault"
            }
          },
          "481": {
            "description": "InvalidDBSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSecurityGroupStateFault"
            }
          },
          "482": {
            "description": "DBInstanceAlreadyExistsFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceAlreadyExistsFault"
            }
          },
          "483": {
            "description": "DBInstanceNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBInstanceNotFoundFault"
            }
          },
          "484": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "485": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "486": {
            "description": "InsufficientDBInstanceCapacityFault",
            "schema": {
              "$ref": "#/definitions/InsufficientDBInstanceCapacityFault"
            }
          },
          "487": {
            "description": "StorageQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/StorageQuotaExceededFault"
            }
          },
          "488": {
            "description": "InvalidVPCNetworkStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidVPCNetworkStateFault"
            }
          },
          "489": {
            "description": "ProvisionedIopsNotAvailableInAZFault",
            "schema": {
              "$ref": "#/definitions/ProvisionedIopsNotAvailableInAZFault"
            }
          },
          "490": {
            "description": "OptionGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/OptionGroupNotFoundFault"
            }
          },
          "491": {
            "description": "DBUpgradeDependencyFailureFault",
            "schema": {
              "$ref": "#/definitions/DBUpgradeDependencyFailureFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyDBInstanceMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyDBParameterGroup": {
      "post": {
        "operationId": "ModifyDBParameterGroup",
        "description": "<p> Modifies the parameters of a DB parameter group. To modify more than one parameter, submit a list of the following: <code>ParameterName</code>, <code>ParameterValue</code>, and <code>ApplyMethod</code>. A maximum of 20 parameters can be modified in a single request. </p> <note> <p> The <code>apply-immediate</code> method can be used only for dynamic parameters; the <code>pending-reboot</code> method can be used with MySQL, PostgreSQL, and Oracle DB instances for either dynamic or static parameters. For Microsoft SQL Server DB instances, the <code>pending-reboot</code> method can be used only for static parameters. </p> </note> <important> <p>After you modify a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon RDS to fully complete the modify action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNameMessage"
            }
          },
          "480": {
            "description": "DBParameterGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBParameterGroupNotFoundFault"
            }
          },
          "481": {
            "description": "InvalidDBParameterGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBParameterGroupStateFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyDBParameterGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyDBSubnetGroup": {
      "post": {
        "operationId": "ModifyDBSubnetGroup",
        "description": " Modifies an existing DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the region. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyDBSubnetGroupResult"
            }
          },
          "480": {
            "description": "DBSubnetGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupNotFoundFault"
            }
          },
          "481": {
            "description": "DBSubnetQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/DBSubnetQuotaExceededFault"
            }
          },
          "482": {
            "description": "SubnetAlreadyInUse",
            "schema": {
              "$ref": "#/definitions/SubnetAlreadyInUse"
            }
          },
          "483": {
            "description": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "schema": {
              "$ref": "#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs"
            }
          },
          "484": {
            "description": "InvalidSubnet",
            "schema": {
              "$ref": "#/definitions/InvalidSubnet"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyDBSubnetGroupMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ModifyEventSubscription": {
      "post": {
        "operationId": "ModifyEventSubscription",
        "description": "<p>Modifies an existing RDS event notification subscription. Note that you cannot modify the source identifiers using this call; to change source identifiers for a subscription, use the <a>AddSourceIdentifierToSubscription</a> and <a>RemoveSourceIdentifierFromSubscription</a> calls.</p> <p>You can see a list of the event categories for a given SourceType in the <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Events.html\">Events</a> topic in the Amazon RDS User Guide or by using the <b>DescribeEventCategories</b> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyEventSubscriptionResult"
            }
          },
          "480": {
            "description": "EventSubscriptionQuotaExceededFault",
            "schema": {
              "$ref": "#/definitions/EventSubscriptionQuotaExceededFault"
            }
          },
          "481": {
            "description": "SubscriptionNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotFoundFault"
            }
          },
          "482": {
            "description": "SNSInvalidTopicFault",
            "schema": {
              "$ref": "#/definitions/SNSInvalidTopicFault"
            }
          },
          "483": {
            "description": "SNSNoAuthorizationFault",
            "schema": {
              "$ref": "#/definitions/SNSNoAuthorizationFault"
            }
          },
          "484": {
            "description": "SNSTopicArnNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SNSTopicArnNotFoundFault"
            }
          },
          "485": {
            "description": "SubscriptionCategoryNotFoundFault",
            "schema": {
              "$ref": "#/definitions/SubscriptionCategoryNotFoundFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyEventSubscriptionMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
[...]
