{
  "swagger": "2.0",
  "info": {
    "version": "2010-03-31",
    "x-release": "v4",
    "title": "Amazon Simple Notification Service",
    "description": "<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href=\"http://aws.amazon.com/sns/\">http://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/sns/"
  },
  "host": "sns.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "Unsubscribe",
        "description": "Deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the topic's owner can unsubscribe, and an AWS signature is required. If the <code>Unsubscribe</code> call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the <code>Unsubscribe</code> request was unintended.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "InvalidParameterException",
            "schema": {
              "$ref": "#/definitions/InvalidParameterException"
            }
          },
          "401": {
            "description": "InternalErrorException",
            "schema": {
              "$ref": "#/definitions/InternalErrorException"
            }
          },
          "402": {
            "description": "AuthorizationErrorException",
            "schema": {
              "$ref": "#/definitions/AuthorizationErrorException"
            }
          },
          "403": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnsubscribeInput"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "ActionsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/action"
      }
    },
    "AddPermissionInput": {
      "type": "object",
      "required": [
        "TopicArn",
        "Label",
        "AWSAccountId",
        "ActionName"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic whose access control policy you wish to modify."
        },
        "Label": {
          "$ref": "#/definitions/label",
          "description": "A unique identifier for the new policy statement."
        },
        "AWSAccountId": {
          "$ref": "#/definitions/DelegatesList",
          "description": "The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service."
        },
        "ActionName": {
          "$ref": "#/definitions/ActionsList",
          "description": "<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: any Amazon SNS action name.</p>"
        }
      }
    },
    "AuthorizationErrorException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "Indicates that the user has been denied access to the requested resource."
    },
    "Binary": {
      "type": "string"
    },
    "CheckIfPhoneNumberIsOptedOutInput": {
      "type": "object",
      "required": [
        "phoneNumber"
      ],
      "properties": {
        "phoneNumber": {
          "$ref": "#/definitions/PhoneNumber",
          "description": "The phone number for which you want to check the opt out status."
        }
      },
      "description": "The input for the <code>CheckIfPhoneNumberIsOptedOut</code> action."
    },
    "CheckIfPhoneNumberIsOptedOutResponse": {
      "type": "object",
      "properties": {
        "isOptedOut": {
          "$ref": "#/definitions/boolean",
          "description": "<p>Indicates whether the phone number is opted out:</p> <ul> <li> <p> <code>true</code> – The phone number is opted out, meaning you cannot publish SMS messages to it.</p> </li> <li> <p> <code>false</code> – The phone number is opted in, meaning you can publish SMS messages to it.</p> </li> </ul>"
        }
      },
      "description": "The response from the <code>CheckIfPhoneNumberIsOptedOut</code> action."
    },
    "ConfirmSubscriptionInput": {
      "type": "object",
      "required": [
        "TopicArn",
        "Token"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic for which you wish to confirm a subscription."
        },
        "Token": {
          "$ref": "#/definitions/token",
          "description": "Short-lived token sent to an endpoint during the <code>Subscribe</code> action."
        },
        "AuthenticateOnUnsubscribe": {
          "$ref": "#/definitions/authenticateOnUnsubscribe",
          "description": "Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication. "
        }
      },
      "description": "Input for ConfirmSubscription action."
    },
    "ConfirmSubscriptionResponse": {
      "type": "object",
      "properties": {
        "SubscriptionArn": {
          "$ref": "#/definitions/subscriptionARN",
          "description": "The ARN of the created subscription."
        }
      },
      "description": "Response for ConfirmSubscriptions action."
    },
    "CreateEndpointResponse": {
      "type": "object",
      "properties": {
        "EndpointArn": {
          "$ref": "#/definitions/String",
          "description": "EndpointArn returned from CreateEndpoint action."
        }
      },
      "description": "Response from CreateEndpoint action."
    },
    "CreatePlatformApplicationInput": {
      "type": "object",
      "required": [
        "Name",
        "Platform",
        "Attributes"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/String",
          "description": "Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long."
        },
        "Platform": {
          "$ref": "#/definitions/String",
          "description": "The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Google Cloud Messaging)."
        },
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "For a list of attributes, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetPlatformApplicationAttributes.html\">SetPlatformApplicationAttributes</a> "
        }
      },
      "description": "Input for CreatePlatformApplication action."
    },
    "CreatePlatformApplicationResponse": {
      "type": "object",
      "properties": {
        "PlatformApplicationArn": {
          "$ref": "#/definitions/String",
          "description": "PlatformApplicationArn is returned."
        }
      },
      "description": "Response from CreatePlatformApplication action."
    },
    "CreatePlatformEndpointInput": {
      "type": "object",
      "required": [
        "PlatformApplicationArn",
        "Token"
      ],
      "properties": {
        "PlatformApplicationArn": {
          "$ref": "#/definitions/String",
          "description": "PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint."
        },
        "Token": {
          "$ref": "#/definitions/String",
          "description": "Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM or ADM, the device token equivalent is called the registration ID."
        },
        "CustomUserData": {
          "$ref": "#/definitions/String",
          "description": "Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB."
        },
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "For a list of attributes, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetEndpointAttributes.html\">SetEndpointAttributes</a>."
        }
      },
      "description": "Input for CreatePlatformEndpoint action."
    },
    "CreateTopicInput": {
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/topicName",
          "description": "<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p>"
        }
      },
      "description": "Input for CreateTopic action."
    },
    "CreateTopicResponse": {
      "type": "object",
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The Amazon Resource Name (ARN) assigned to the created topic."
        }
      },
      "description": "Response from CreateTopic action."
    },
    "DelegatesList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/delegate"
      }
    },
    "DeleteEndpointInput": {
      "type": "object",
      "required": [
        "EndpointArn"
      ],
      "properties": {
        "EndpointArn": {
          "$ref": "#/definitions/String",
          "description": "EndpointArn of endpoint to delete."
        }
      },
      "description": "Input for DeleteEndpoint action."
    },
    "DeletePlatformApplicationInput": {
      "type": "object",
      "required": [
        "PlatformApplicationArn"
      ],
      "properties": {
        "PlatformApplicationArn": {
          "$ref": "#/definitions/String",
          "description": "PlatformApplicationArn of platform application object to delete."
        }
      },
      "description": "Input for DeletePlatformApplication action."
    },
    "DeleteTopicInput": {
      "type": "object",
      "required": [
        "TopicArn"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic you want to delete."
        }
      }
    },
    "Endpoint": {
      "type": "object",
      "properties": {
        "EndpointArn": {
          "$ref": "#/definitions/String",
          "description": "EndpointArn for mobile app and device."
        },
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "Attributes for endpoint."
        }
      },
      "description": "Endpoint for mobile app and device."
    },
    "EndpointDisabledException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string",
          "description": "Message for endpoint disabled."
        }
      },
      "description": "Exception error indicating endpoint disabled."
    },
    "GetEndpointAttributesInput": {
      "type": "object",
      "required": [
        "EndpointArn"
      ],
      "properties": {
        "EndpointArn": {
          "$ref": "#/definitions/String",
          "description": "EndpointArn for GetEndpointAttributes input."
        }
      },
      "description": "Input for GetEndpointAttributes action."
    },
    "GetEndpointAttributesResponse": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "<p>Attributes include the following:</p> <ul> <li> <p> <code>CustomUserData</code> -- arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p> </li> <li> <p> <code>Enabled</code> -- flag that enables/disables delivery to the endpoint. Amazon SNS will set this to false when a notification service indicates to Amazon SNS that the endpoint is invalid. Users can set it back to true, typically after updating Token.</p> </li> <li> <p> <code>Token</code> -- device token, also referred to as a registration id, for an app and mobile device. This is returned from the notification service when an app and mobile device are registered with the notification service.</p> </li> </ul>"
        }
      },
      "description": "Response from GetEndpointAttributes of the EndpointArn."
    },
    "GetPlatformApplicationAttributesInput": {
      "type": "object",
      "required": [
        "PlatformApplicationArn"
      ],
      "properties": {
        "PlatformApplicationArn": {
          "$ref": "#/definitions/String",
          "description": "PlatformApplicationArn for GetPlatformApplicationAttributesInput."
        }
      },
      "description": "Input for GetPlatformApplicationAttributes action."
    },
    "GetPlatformApplicationAttributesResponse": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "<p>Attributes include the following:</p> <ul> <li> <p> <code>EventEndpointCreated</code> -- Topic ARN to which EndpointCreated event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointDeleted</code> -- Topic ARN to which EndpointDeleted event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointUpdated</code> -- Topic ARN to which EndpointUpdate event notifications should be sent.</p> </li> <li> <p> <code>EventDeliveryFailure</code> -- Topic ARN to which DeliveryFailure event notifications should be sent upon Direct Publish delivery failure (permanent) to one of the application's endpoints.</p> </li> </ul>"
        }
      },
      "description": "Response for GetPlatformApplicationAttributes action."
    },
    "GetSMSAttributesInput": {
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ListString",
          "description": "<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html\">SetSMSAttributes</a>.</p> <p>If you don't use this parameter, Amazon SNS returns all SMS attributes.</p>"
        }
      },
      "description": "The input for the <code>GetSMSAttributes</code> request."
    },
    "GetSMSAttributesResponse": {
      "type": "object",
      "properties": {
        "attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "The SMS attribute names and their values."
        }
      },
      "description": "The response from the <code>GetSMSAttributes</code> request."
    },
    "GetSubscriptionAttributesInput": {
      "type": "object",
      "required": [
        "SubscriptionArn"
      ],
      "properties": {
        "SubscriptionArn": {
          "$ref": "#/definitions/subscriptionARN",
          "description": "The ARN of the subscription whose properties you want to get."
        }
      },
      "description": "Input for GetSubscriptionAttributes."
    },
    "GetSubscriptionAttributesResponse": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/SubscriptionAttributesMap",
          "description": "<p>A map of the subscription's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>SubscriptionArn</code> -- the subscription's ARN</p> </li> <li> <p> <code>TopicArn</code> -- the topic ARN that the subscription is associated with</p> </li> <li> <p> <code>Owner</code> -- the AWS account ID of the subscription's owner</p> </li> <li> <p> <code>ConfirmationWasAuthenticated</code> -- true if the subscription confirmation request was authenticated</p> </li> <li> <p> <code>DeliveryPolicy</code> -- the JSON serialization of the subscription's delivery policy</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> -- the JSON serialization of the effective delivery policy that takes into account the topic delivery policy and account system defaults</p> </li> </ul>"
        }
      },
      "description": "Response for GetSubscriptionAttributes action."
    },
    "GetTopicAttributesInput": {
      "type": "object",
      "required": [
        "TopicArn"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic whose properties you want to get."
        }
      },
      "description": "Input for GetTopicAttributes action."
    },
    "GetTopicAttributesResponse": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/TopicAttributesMap",
          "description": "<p>A map of the topic's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>TopicArn</code> -- the topic's ARN</p> </li> <li> <p> <code>Owner</code> -- the AWS account ID of the topic's owner</p> </li> <li> <p> <code>Policy</code> -- the JSON serialization of the topic's access control policy</p> </li> <li> <p> <code>DisplayName</code> -- the human-readable name used in the \"From\" field for notifications to email and email-json endpoints</p> </li> <li> <p> <code>SubscriptionsPending</code> -- the number of subscriptions pending confirmation on this topic</p> </li> <li> <p> <code>SubscriptionsConfirmed</code> -- the number of confirmed subscriptions on this topic</p> </li> <li> <p> <code>SubscriptionsDeleted</code> -- the number of deleted subscriptions on this topic</p> </li> <li> <p> <code>DeliveryPolicy</code> -- the JSON serialization of the topic's delivery policy</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> -- the JSON serialization of the effective delivery policy that takes into account system defaults</p> </li> </ul>"
        }
      },
      "description": "Response for GetTopicAttributes action."
    },
    "InternalErrorException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "Indicates an internal service error."
    },
    "InvalidParameterException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "Indicates that a request parameter does not comply with the associated constraints."
    },
    "InvalidParameterValueException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string",
          "description": "The parameter value is invalid."
        }
      },
      "description": "Indicates that a request parameter does not comply with the associated constraints."
    },
    "ListEndpointsByPlatformApplicationInput": {
      "type": "object",
      "required": [
        "PlatformApplicationArn"
      ],
      "properties": {
        "PlatformApplicationArn": {
          "$ref": "#/definitions/String",
          "description": "PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results."
        }
      },
      "description": "Input for ListEndpointsByPlatformApplication action."
    },
    "ListEndpointsByPlatformApplicationResponse": {
      "type": "object",
      "properties": {
        "Endpoints": {
          "$ref": "#/definitions/ListOfEndpoints",
          "description": "Endpoints returned for ListEndpointsByPlatformApplication action."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "NextToken string is returned when calling ListEndpointsByPlatformApplication action if additional records are available after the first page results."
        }
      },
      "description": "Response for ListEndpointsByPlatformApplication action."
    },
    "ListOfEndpoints": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Endpoint"
      }
    },
    "ListOfPlatformApplications": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PlatformApplication"
      }
    },
    "ListPhoneNumbersOptedOutInput": {
      "type": "object",
      "properties": {
        "nextToken": {
          "$ref": "#/definitions/string",
          "description": "A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results."
        }
      },
      "description": "The input for the <code>ListPhoneNumbersOptedOut</code> action."
    },
    "ListPhoneNumbersOptedOutResponse": {
      "type": "object",
      "properties": {
        "phoneNumbers": {
          "$ref": "#/definitions/PhoneNumberList",
          "description": "A list of phone numbers that are opted out of receiving SMS messages. The list is paginated, and each page can contain up to 100 phone numbers."
        },
        "nextToken": {
          "$ref": "#/definitions/string",
          "description": "A <code>NextToken</code> string is returned when you call the <code>ListPhoneNumbersOptedOut</code> action if additional records are available after the first page of results."
        }
      },
      "description": "The response from the <code>ListPhoneNumbersOptedOut</code> action."
    },
    "ListPlatformApplicationsInput": {
      "type": "object",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "NextToken string is used when calling ListPlatformApplications action to retrieve additional records that are available after the first page results."
        }
      },
      "description": "Input for ListPlatformApplications action."
    },
    "ListPlatformApplicationsResponse": {
      "type": "object",
      "properties": {
        "PlatformApplications": {
          "$ref": "#/definitions/ListOfPlatformApplications",
          "description": "Platform applications returned when calling ListPlatformApplications action."
        },
        "NextToken": {
          "$ref": "#/definitions/String",
          "description": "NextToken string is returned when calling ListPlatformApplications action if additional records are available after the first page results."
        }
      },
      "description": "Response for ListPlatformApplications action."
    },
    "ListString": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "ListSubscriptionsByTopicInput": {
      "type": "object",
      "required": [
        "TopicArn"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic for which you wish to find subscriptions."
        },
        "NextToken": {
          "$ref": "#/definitions/nextToken",
          "description": "Token returned by the previous <code>ListSubscriptionsByTopic</code> request."
        }
      },
      "description": "Input for ListSubscriptionsByTopic action."
    },
    "ListSubscriptionsByTopicResponse": {
      "type": "object",
      "properties": {
        "Subscriptions": {
          "$ref": "#/definitions/SubscriptionsList",
          "description": "A list of subscriptions."
        },
        "NextToken": {
          "$ref": "#/definitions/nextToken",
          "description": "Token to pass along to the next <code>ListSubscriptionsByTopic</code> request. This element is returned if there are more subscriptions to retrieve."
        }
      },
      "description": "Response for ListSubscriptionsByTopic action."
    },
    "ListSubscriptionsInput": {
      "type": "object",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/nextToken",
          "description": "Token returned by the previous <code>ListSubscriptions</code> request."
        }
      },
      "description": "Input for ListSubscriptions action."
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "Subscriptions": {
          "$ref": "#/definitions/SubscriptionsList",
          "description": "A list of subscriptions."
        },
        "NextToken": {
          "$ref": "#/definitions/nextToken",
          "description": "Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve."
        }
      },
      "description": "Response for ListSubscriptions action"
    },
    "ListTopicsInput": {
      "type": "object",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/nextToken",
          "description": "Token returned by the previous <code>ListTopics</code> request."
        }
      }
    },
    "ListTopicsResponse": {
      "type": "object",
      "properties": {
        "Topics": {
          "$ref": "#/definitions/TopicsList",
          "description": "A list of topic ARNs."
        },
        "NextToken": {
          "$ref": "#/definitions/nextToken",
          "description": "Token to pass along to the next <code>ListTopics</code> request. This element is returned if there are additional topics to retrieve."
        }
      },
      "description": "Response for ListTopics action."
    },
    "MapStringToString": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      }
    },
    "MessageAttributeMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/MessageAttributeValue"
          }
        }
      }
    },
    "MessageAttributeValue": {
      "type": "object",
      "required": [
        "DataType"
      ],
      "properties": {
        "DataType": {
          "$ref": "#/definitions/String",
          "description": "Amazon SNS supports the following logical data types: String, Number, and Binary. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMessageAttributes.html#SNSMessageAttributes.DataTypes\">Message Attribute Data Types</a>."
        },
        "StringValue": {
          "$ref": "#/definitions/String",
          "description": "Strings are Unicode with UTF8 binary encoding. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters</a>."
        },
        "BinaryValue": {
          "$ref": "#/definitions/Binary",
          "description": "Binary type attributes can store any binary data, for example, compressed data, encrypted data, or images."
        }
      },
      "description": "<p>The user-specified message attribute value. For string data types, the value attribute has the same restrictions on the content as the message body. For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a>.</p> <p>Name, type, and value must not be empty or null. In addition, the message body should not be empty or null. All parts of the message attribute, including name, type, and value, are included in the message size restriction, which is currently 256 KB (262,144 bytes). For more information, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/SNSMessageAttributes.html\">Using Amazon SNS Message Attributes</a>.</p>"
    },
    "NotFoundException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "Indicates that the requested resource does not exist."
    },
    "OptInPhoneNumberInput": {
      "type": "object",
      "required": [
        "phoneNumber"
      ],
      "properties": {
        "phoneNumber": {
          "$ref": "#/definitions/PhoneNumber",
          "description": "The phone number to opt in."
        }
      },
      "description": "Input for the OptInPhoneNumber action."
    },
    "OptInPhoneNumberResponse": {
      "type": "object",
      "properties": {},
      "description": "The response for the OptInPhoneNumber action."
    },
    "PhoneNumber": {
      "type": "string"
    },
    "PhoneNumberList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PhoneNumber"
      }
    },
    "PlatformApplication": {
      "type": "object",
      "properties": {
        "PlatformApplicationArn": {
          "$ref": "#/definitions/String",
          "description": "PlatformApplicationArn for platform application object."
        },
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "Attributes for platform application object."
        }
      },
      "description": "Platform application object."
    },
    "PlatformApplicationDisabledException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string",
          "description": "Message for platform application disabled."
        }
      },
      "description": "Exception error indicating platform application disabled."
    },
    "PublishInput": {
      "type": "object",
      "required": [
        "Message"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "<p>The topic you want to publish to.</p> <p>If you don't specify a value for the <code>TopicArn</code> parameter, you must specify a value for the <code>PhoneNumber</code> or <code>TargetArn</code> parameters.</p>"
        },
        "TargetArn": {
          "$ref": "#/definitions/String",
          "description": "<p>Either TopicArn or EndpointArn, but not both.</p> <p>If you don't specify a value for the <code>TargetArn</code> parameter, you must specify a value for the <code>PhoneNumber</code> or <code>TopicArn</code> parameters.</p>"
        },
        "PhoneNumber": {
          "$ref": "#/definitions/String",
          "description": "<p>The phone number to which you want to deliver an SMS message. Use E.164 format.</p> <p>If you don't specify a value for the <code>PhoneNumber</code> parameter, you must specify a value for the <code>TargetArn</code> or <code>TopicArn</code> parameters.</p>"
        },
        "Message": {
          "$ref": "#/definitions/message",
          "description": "<p>The message you want to send to the topic.</p> <p>If you want to send the same message to all transport protocols, include the text of the message as a String value.</p> <p>If you want to send different messages for each transport protocol, set the value of the <code>MessageStructure</code> parameter to <code>json</code> and use a JSON object for the <code>Message</code> parameter. </p> <p>Constraints: Messages must be UTF-8 encoded strings at most 256 KB in size (262144 bytes, not 262144 characters).</p> <p>JSON-specific constraints:</p> <ul> <li> <p>Keys in the JSON object that correspond to supported transport protocols must have simple JSON string values.</p> </li> <li> <p>The values will be parsed (unescaped) before they are used in outgoing messages.</p> </li> <li> <p>Outbound notifications are JSON encoded (meaning that the characters will be reescaped for sending).</p> </li> <li> <p>Values have a minimum length of 0 (the empty string, \"\", is allowed).</p> </li> <li> <p>Values have a maximum length bounded by the overall message size (so, including multiple protocols may limit message sizes).</p> </li> <li> <p>Non-string values will cause the key to be ignored.</p> </li> <li> <p>Keys that do not correspond to supported transport protocols are ignored.</p> </li> <li> <p>Duplicate keys are not allowed.</p> </li> <li> <p>Failure to parse or validate any key or value in the message will cause the <code>Publish</code> call to return an error (no partial delivery).</p> </li> </ul>"
        },
        "Subject": {
          "$ref": "#/definitions/subject",
          "description": "<p>Optional parameter to be used as the \"Subject\" line when the message is delivered to email endpoints. This field will also be included, if present, in the standard JSON messages delivered to other endpoints.</p> <p>Constraints: Subjects must be ASCII text that begins with a letter, number, or punctuation mark; must not include line breaks or control characters; and must be less than 100 characters long.</p>"
        },
        "MessageStructure": {
          "$ref": "#/definitions/messageStructure",
          "description": "<p>Set <code>MessageStructure</code> to <code>json</code> if you want to send a different message for each protocol. For example, using one publish action, you can send a short message to your SMS subscribers and a longer message to your email subscribers. If you set <code>MessageStructure</code> to <code>json</code>, the value of the <code>Message</code> parameter must: </p> <ul> <li> <p>be a syntactically valid JSON object; and</p> </li> <li> <p>contain at least a top-level JSON key of \"default\" with a value that is a string.</p> </li> </ul> <p>You can define other top-level keys that define the message you want to send to a specific transport protocol (e.g., \"http\").</p> <p>For information about sending different messages for each protocol using the AWS Management Console, go to <a href=\"http://docs.aws.amazon.com/sns/latest/gsg/Publish.html#sns-message-formatting-by-protocol\">Create Different Messages for Each Protocol</a> in the <i>Amazon Simple Notification Service Getting Started Guide</i>. </p> <p>Valid value: <code>json</code> </p>"
        },
        "MessageAttributes": {
          "$ref": "#/definitions/MessageAttributeMap",
          "description": "Message attributes for Publish action."
        }
      },
      "description": "Input for Publish action."
    },
    "PublishResponse": {
      "type": "object",
      "properties": {
        "MessageId": {
          "$ref": "#/definitions/messageId",
          "description": "<p>Unique identifier assigned to the published message.</p> <p>Length Constraint: Maximum 100 characters</p>"
        }
      },
      "description": "Response for Publish action."
    },
    "RemovePermissionInput": {
      "type": "object",
      "required": [
        "TopicArn",
        "Label"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic whose access control policy you wish to modify."
        },
        "Label": {
          "$ref": "#/definitions/label",
          "description": "The unique label of the statement you want to remove."
        }
      },
      "description": "Input for RemovePermission action."
    },
    "SetEndpointAttributesInput": {
      "type": "object",
      "required": [
        "EndpointArn",
        "Attributes"
      ],
      "properties": {
        "EndpointArn": {
          "$ref": "#/definitions/String",
          "description": "EndpointArn used for SetEndpointAttributes action."
        },
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "<p>A map of the endpoint attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>CustomUserData</code> -- arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p> </li> <li> <p> <code>Enabled</code> -- flag that enables/disables delivery to the endpoint. Amazon SNS will set this to false when a notification service indicates to Amazon SNS that the endpoint is invalid. Users can set it back to true, typically after updating Token.</p> </li> <li> <p> <code>Token</code> -- device token, also referred to as a registration id, for an app and mobile device. This is returned from the notification service when an app and mobile device are registered with the notification service.</p> </li> </ul>"
        }
      },
      "description": "Input for SetEndpointAttributes action."
    },
    "SetPlatformApplicationAttributesInput": {
      "type": "object",
      "required": [
        "PlatformApplicationArn",
        "Attributes"
      ],
      "properties": {
        "PlatformApplicationArn": {
          "$ref": "#/definitions/String",
          "description": "PlatformApplicationArn for SetPlatformApplicationAttributes action."
        },
        "Attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "<p>A map of the platform application attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>PlatformCredential</code> -- The credential received from the notification service. For APNS/APNS_SANDBOX, PlatformCredential is private key. For GCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client secret\".</p> </li> <li> <p> <code>PlatformPrincipal</code> -- The principal received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is SSL certificate. For GCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client id\".</p> </li> <li> <p> <code>EventEndpointCreated</code> -- Topic ARN to which EndpointCreated event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointDeleted</code> -- Topic ARN to which EndpointDeleted event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointUpdated</code> -- Topic ARN to which EndpointUpdate event notifications should be sent.</p> </li> <li> <p> <code>EventDeliveryFailure</code> -- Topic ARN to which DeliveryFailure event notifications should be sent upon Direct Publish delivery failure (permanent) to one of the application's endpoints.</p> </li> <li> <p> <code>SuccessFeedbackRoleArn</code> -- IAM role ARN used to give Amazon SNS write access to use CloudWatch Logs on your behalf.</p> </li> <li> <p> <code>FailureFeedbackRoleArn</code> -- IAM role ARN used to give Amazon SNS write access to use CloudWatch Logs on your behalf.</p> </li> <li> <p> <code>SuccessFeedbackSampleRate</code> -- Sample rate percentage (0-100) of successfully delivered messages.</p> </li> </ul>"
        }
      },
      "description": "Input for SetPlatformApplicationAttributes action."
    },
    "SetSMSAttributesInput": {
      "type": "object",
      "required": [
        "attributes"
      ],
      "properties": {
        "attributes": {
          "$ref": "#/definitions/MapStringToString",
          "description": "<p>The default settings for sending SMS messages from your account. You can set values for the following attribute names:</p> <p> <code>MonthlySpendLimit</code> – The maximum amount in USD that you are willing to spend each month to send SMS messages. When Amazon SNS determines that sending an SMS message would incur a cost that exceeds this limit, it stops sending SMS messages within minutes.</p> <important> <p>Amazon SNS stops sending SMS messages within minutes of the limit being crossed. During that interval, if you continue to send SMS messages, you will incur costs that exceed your limit.</p> </important> <p>By default, the spend limit is set to the maximum allowed by Amazon SNS. If you want to exceed the maximum, contact <a href=\"https://aws.amazon.com/premiumsupport/\">AWS Support</a> or your AWS sales representative for a service limit increase.</p> <p> <code>DeliveryStatusIAMRole</code> – The ARN of the IAM role that allows Amazon SNS to write logs about SMS deliveries in CloudWatch Logs. For each SMS message that you send, Amazon SNS writes a log that includes the message price, the success or failure status, the reason for failure (if the message failed), the message dwell time, and other information.</p> <p> <code>DeliveryStatusSuccessSamplingRate</code> – The percentage of successful SMS deliveries for which Amazon SNS will write logs in CloudWatch Logs. The value can be an integer from 0 - 100. For example, to write logs only for failed deliveries, set this value to <code>0</code>. To write logs for 10% of your successful deliveries, set it to <code>10</code>.</p> <p> <code>DefaultSenderID</code> – A string, such as your business brand, that is displayed as the sender on the receiving device. Support for sender IDs varies by country. The sender ID can be 1 - 11 alphanumeric characters, and it must contain at least one letter.</p> <p> <code>DefaultSMSType</code> – The type of SMS message that you will send by default. You can assign the following values:</p> <ul> <li> <p> <code>Promotional</code> – (Default) Noncritical messages, such as marketing messages. Amazon SNS optimizes the message delivery to incur the lowest cost.</p> </li> <li> <p> <code>Transactional</code> – Critical messages that support customer transactions, such as one-time passcodes for multi-factor authentication. Amazon SNS optimizes the message delivery to achieve the highest reliability.</p> </li> </ul> <p> <code>UsageReportS3Bucket</code> – The name of the Amazon S3 bucket to receive daily SMS usage reports from Amazon SNS. Each day, Amazon SNS will deliver a usage report as a CSV file to the bucket. The report includes the following information for each SMS message that was successfully delivered by your account:</p> <ul> <li> <p>Time that the message was published (in UTC)</p> </li> <li> <p>Message ID</p> </li> <li> <p>Destination phone number</p> </li> <li> <p>Message type</p> </li> <li> <p>Delivery status</p> </li> <li> <p>Message price (in USD)</p> </li> <li> <p>Part number (a message is split into multiple parts if it is too long for a single message)</p> </li> <li> <p>Total number of parts</p> </li> </ul> <p>To receive the report, the bucket must have a policy that allows the Amazon SNS service principle to perform the <code>s3:PutObject</code> and <code>s3:GetBucketLocation</code> actions.</p> <p>For an example bucket policy and usage report, see <a href=\"http://docs.aws.amazon.com/sns/latest/dg/sms_stats.html\">Monitoring SMS Activity</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
        }
      },
      "description": "The input for the SetSMSAttributes action."
    },
    "SetSMSAttributesResponse": {
      "type": "object",
      "properties": {},
      "description": "The response for the SetSMSAttributes action."
    },
    "SetSubscriptionAttributesInput": {
      "type": "object",
      "required": [
        "SubscriptionArn",
        "AttributeName"
      ],
      "properties": {
        "SubscriptionArn": {
          "$ref": "#/definitions/subscriptionARN",
          "description": "The ARN of the subscription to modify."
        },
        "AttributeName": {
          "$ref": "#/definitions/attributeName",
          "description": "<p>The name of the attribute you want to set. Only a subset of the subscriptions attributes are mutable.</p> <p>Valid values: <code>DeliveryPolicy</code> | <code>RawMessageDelivery</code> </p>"
        },
        "AttributeValue": {
          "$ref": "#/definitions/attributeValue",
          "description": "The new value for the attribute in JSON format."
        }
      },
      "description": "Input for SetSubscriptionAttributes action."
    },
    "SetTopicAttributesInput": {
      "type": "object",
      "required": [
        "TopicArn",
        "AttributeName"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic to modify."
        },
        "AttributeName": {
          "$ref": "#/definitions/attributeName",
          "description": "<p>The name of the attribute you want to set. Only a subset of the topic's attributes are mutable.</p> <p>Valid values: <code>Policy</code> | <code>DisplayName</code> | <code>DeliveryPolicy</code> </p>"
        },
        "AttributeValue": {
          "$ref": "#/definitions/attributeValue",
          "description": "The new value for the attribute."
        }
      },
      "description": "Input for SetTopicAttributes action."
    },
    "String": {
      "type": "string"
    },
    "SubscribeInput": {
      "type": "object",
      "required": [
        "TopicArn",
        "Protocol"
      ],
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the topic you want to subscribe to."
        },
        "Protocol": {
          "$ref": "#/definitions/protocol",
          "description": "<p>The protocol you want to use. Supported protocols include:</p> <ul> <li> <p> <code>http</code> -- delivery of JSON-encoded message via HTTP POST</p> </li> <li> <p> <code>https</code> -- delivery of JSON-encoded message via HTTPS POST</p> </li> <li> <p> <code>email</code> -- delivery of message via SMTP</p> </li> <li> <p> <code>email-json</code> -- delivery of JSON-encoded message via SMTP</p> </li> <li> <p> <code>sms</code> -- delivery of message via SMS</p> </li> <li> <p> <code>sqs</code> -- delivery of JSON-encoded message to an Amazon SQS queue</p> </li> <li> <p> <code>application</code> -- delivery of JSON-encoded message to an EndpointArn for a mobile app and device.</p> </li> <li> <p> <code>lambda</code> -- delivery of JSON-encoded message to an AWS Lambda function.</p> </li> </ul>"
        },
        "Endpoint": {
          "$ref": "#/definitions/endpoint",
          "description": "<p>The endpoint that you want to receive notifications. Endpoints vary by protocol:</p> <ul> <li> <p>For the <code>http</code> protocol, the endpoint is an URL beginning with \"http://\"</p> </li> <li> <p>For the <code>https</code> protocol, the endpoint is a URL beginning with \"https://\"</p> </li> <li> <p>For the <code>email</code> protocol, the endpoint is an email address</p> </li> <li> <p>For the <code>email-json</code> protocol, the endpoint is an email address</p> </li> <li> <p>For the <code>sms</code> protocol, the endpoint is a phone number of an SMS-enabled device</p> </li> <li> <p>For the <code>sqs</code> protocol, the endpoint is the ARN of an Amazon SQS queue</p> </li> <li> <p>For the <code>application</code> protocol, the endpoint is the EndpointArn of a mobile app and device.</p> </li> <li> <p>For the <code>lambda</code> protocol, the endpoint is the ARN of an AWS Lambda function.</p> </li> </ul>"
        }
      },
      "description": "Input for Subscribe action."
    },
    "SubscribeResponse": {
      "type": "object",
      "properties": {
        "SubscriptionArn": {
          "$ref": "#/definitions/subscriptionARN",
          "description": "The ARN of the subscription, if the service was able to create a subscription immediately (without requiring endpoint owner confirmation)."
        }
      },
      "description": "Response for Subscribe action."
    },
    "Subscription": {
      "type": "object",
      "properties": {
        "SubscriptionArn": {
          "$ref": "#/definitions/subscriptionARN",
          "description": "The subscription's ARN."
        },
        "Owner": {
          "$ref": "#/definitions/account",
          "description": "The subscription's owner."
        },
        "Protocol": {
          "$ref": "#/definitions/protocol",
          "description": "The subscription's protocol."
        },
        "Endpoint": {
          "$ref": "#/definitions/endpoint",
          "description": "The subscription's endpoint (format depends on the protocol)."
        },
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The ARN of the subscription's topic."
        }
      },
      "description": "A wrapper type for the attributes of an Amazon SNS subscription."
    },
    "SubscriptionAttributesMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/attributeName"
          },
          "value": {
            "$ref": "#/definitions/attributeValue"
          }
        }
      }
    },
    "SubscriptionLimitExceededException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "Indicates that the customer already owns the maximum allowed number of subscriptions."
    },
    "SubscriptionsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Subscription"
      }
    },
    "ThrottledException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string",
          "description": "Throttled request."
        }
      },
      "description": "Indicates that the rate at which requests have been submitted for this action exceeds the limit for your account."
    },
    "Topic": {
      "type": "object",
      "properties": {
        "TopicArn": {
          "$ref": "#/definitions/topicARN",
          "description": "The topic's ARN."
        }
      },
      "description": "A wrapper type for the topic's Amazon Resource Name (ARN). To retrieve a topic's attributes, use <code>GetTopicAttributes</code>."
    },
    "TopicAttributesMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/attributeName"
          },
          "value": {
            "$ref": "#/definitions/attributeValue"
          }
        }
      }
    },
    "TopicLimitExceededException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/string"
        }
      },
      "description": "Indicates that the customer already owns the maximum allowed number of topics."
    },
    "TopicsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Topic"
      }
    },
    "UnsubscribeInput": {
      "type": "object",
      "required": [
        "SubscriptionArn"
      ],
      "properties": {
        "SubscriptionArn": {
          "$ref": "#/definitions/subscriptionARN",
          "description": "The ARN of the subscription to be deleted."
        }
      },
      "description": "Input for Unsubscribe action."
    },
    "account": {
      "type": "string"
    },
    "action": {
      "type": "string"
    },
    "attributeName": {
      "type": "string"
    },
    "attributeValue": {
      "type": "string"
    },
    "authenticateOnUnsubscribe": {
      "type": "string"
    },
    "boolean": {
      "type": "boolean"
    },
    "delegate": {
      "type": "string"
    },
    "endpoint": {
      "type": "string"
    },
    "label": {
      "type": "string"
    },
    "message": {
      "type": "string"
    },
    "messageId": {
      "type": "string"
    },
    "messageStructure": {
      "type": "string"
    },
    "nextToken": {
      "type": "string"
    },
    "protocol": {
      "type": "string"
    },
    "string": {
      "type": "string"
    },
    "subject": {
      "type": "string"
    },
    "subscriptionARN": {
      "type": "string"
    },
    "token": {
      "type": "string"
    },
    "topicARN": {
      "type": "string"
    },
    "topicName": {
      "type": "string"
    }
  }
}