{
  "swagger": "2.0",
  "info": {
    "title": "Broker DEV API (Closed)",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. Submits document to Broker",
    "x-mashery-id": "1073"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/v1/broker",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Submit to Broker Method"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "sendSubmittoBrokerMethod",
        "summary": "Submits to Broker",
        "tags": [
          "Submit to Broker Method"
        ],
        "parameters": [
          {
            "name": "sender",
            "type": "string",
            "description": "Sender",
            "in": "query",
            "required": true,
            "default": "wM External ID"
          },
          {
            "name": "receiver",
            "type": "string",
            "description": "Receiver",
            "in": "query",
            "required": true,
            "default": "wM External ID"
          },
          {
            "name": "documentType",
            "type": "string",
            "description": "TN doc type",
            "in": "query",
            "required": true,
            "default": "TN doc type"
          },
          {
            "name": "target",
            "type": "string",
            "description": "Target",
            "in": "query",
            "required": true,
            "default": "TNCLUSTER"
          },
          {
            "name": "transactionID",
            "type": "string",
            "description": "Transaction ID",
            "in": "query",
            "required": true
          },
          {
            "name": "source",
            "type": "string",
            "description": "Source",
            "in": "query",
            "required": true
          },
          {
            "name": "payload",
            "type": "string",
            "description": "Payload",
            "in": "query",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "header",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}