{
  "swagger": "2.0",
  "info": {
    "title": "Global Ice Hockey Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Global Ice Hockey API",
    "x-mashery-id": "6831"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/hockey-t1/ice/en",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Global Ice Hockey"
    }
  ],
  "paths": {
    "/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsGlobalIceHockey",
        "summary": "Provides match information and scoring, for all ma...",
        "description": "Provides match information and scoring, for all matches played on a given day",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2004",
              "2005",
              "2006",
              "2007",
              "2008",
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleGlobalIceHockey",
        "summary": "Provides match information and scoring, for all ma...",
        "description": "Provides match information and scoring, for all matches played on a given day",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2004",
              "2005",
              "2006",
              "2007",
              "2008",
              "2009",
              "2010",
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id_1}/versus/{team_id_2}/matches{format}": {
      "get": {
        "operationId": "HeadtoHeadGlobalIceHockey",
        "summary": "Provides team vs team information, include scores ...",
        "description": "Provides team vs team information, include scores over multiple games",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "team_id_1",
            "type": "string",
            "description": "Given identification for a team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:119596"
          },
          {
            "name": "team_id_2",
            "type": "string",
            "description": "Given identification for a team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:119598"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "MatchProbabilitiesGlobalIceHockey",
        "summary": "Provides the probability for a given match",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:match:10037289"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/summary{format}": {
      "get": {
        "operationId": "MatchSummaryGlobalIceHockey",
        "summary": "Provides the summary for a given match",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:match:10037289"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/timeline{format}": {
      "get": {
        "operationId": "MatchTimelineGlobalIceHockey",
        "summary": "Provides the timeline for a given match",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:match:10037289"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/seasons{format}": {
      "get": {
        "operationId": "SeasonsInformationGlobalIceHockey",
        "summary": "Provides the seasons information for a tournament",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:tournament:268"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfileGlobalIceHockey",
        "summary": "Provides a team profile",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:competitor:6333"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/results{format}": {
      "get": {
        "operationId": "TeamResultsGlobalIceHockey",
        "summary": "Provides the results for a given team",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:competitor:6333"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/schedule{format}": {
      "get": {
        "operationId": "TeamScheduleGlobalIceHockey",
        "summary": "Provides the schedule for a given team",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:competitor:6333"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "TeamStatisticsGlobalIceHockey",
        "summary": "Provides the statistics for a given team",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given ID for a tournament",
            "in": "path",
            "required": true,
            "default": "sr:tournament:844"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "Given identification for a match",
            "in": "path",
            "required": true,
            "default": "sr:competitor:45159"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoGlobalIceHockey",
        "summary": "Provides the information for a given tournament",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given ID for a tournament",
            "in": "path",
            "required": true,
            "default": "sr:tournament:844"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/leaders{format}": {
      "get": {
        "operationId": "TournamentLeadersGlobalIceHockey",
        "summary": "Provides the leaders for a given tournament",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given ID for a tournament",
            "in": "path",
            "required": true,
            "default": "sr:tournament:225"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments{format}": {
      "get": {
        "operationId": "TournamentListGlobalIceHockey",
        "summary": "Provides a list of all tournaments",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/live_standings{format}": {
      "get": {
        "operationId": "TournamentLiveStandingsGlobalIceHockey",
        "summary": "Provides the live standings for a given tournament...",
        "description": "Provides the live standings for a given tournament",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given ID for a tournament",
            "in": "path",
            "required": true,
            "default": "sr:tournament:225"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsGlobalIceHockey",
        "summary": "Provides the results for a given tournament",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given ID for a tournament",
            "in": "path",
            "required": true,
            "default": "sr:tournament:844"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleGlobalIceHockey",
        "summary": "Provides the schedule for a given tournament",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given ID for a tournament",
            "in": "path",
            "required": true,
            "default": "sr:tournament:844"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/standings{format}": {
      "get": {
        "operationId": "TournamentStandingsGlobalIceHockey",
        "summary": "Provides the standings for a given tournament",
        "tags": [
          "Global Ice Hockey"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "Given ID for a tournament",
            "in": "path",
            "required": true,
            "default": "sr:tournament:844"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}