{
  "swagger": "2.0",
  "info": {
    "title": "NFL Classic Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NFL Classic API",
    "x-mashery-id": "5790"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NFL"
    }
  ],
  "paths": {
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/schedule{format}": {
      "get": {
        "operationId": "WeeklyScheduleNFL",
        "summary": "Obtain schedules for the NFL for a given week. Pre...",
        "description": "Obtain schedules for the NFL for a given week. Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/schedule{format}": {
      "get": {
        "operationId": "SeasonScheduleNFL",
        "summary": "Obtain schedules for the NFL for an entire given s...",
        "description": "Obtain schedules for the NFL for an entire given season.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/statistics{format}": {
      "get": {
        "operationId": "GameStatisticsNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/summary{format}": {
      "get": {
        "operationId": "GameSummaryNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/pbp{format}": {
      "get": {
        "operationId": "Play-By-PlayNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/plays/{play_id}{format}": {
      "get": {
        "operationId": "PlaySummaryNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Then, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats. Lastly, go to the Play-by-play feed and choose a PLAY_ID from the links node of the desired play.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "play_id",
            "type": "string",
            "description": "The id for a given play",
            "in": "path",
            "required": true,
            "default": "598c6a69-a903-4a2a-a703-a6c3d407ea61"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/extended-boxscore{format}": {
      "get": {
        "operationId": "ExtendedBoxscoreNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/boxscore{format}": {
      "get": {
        "operationId": "WeeklyBoxscoreNFL",
        "summary": "Obtain schedules for the NFL for a given week. Pre...",
        "description": "Obtain schedules for the NFL for a given week. Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 13
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/roster{format}": {
      "get": {
        "operationId": "GameRosterNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/teams/hierarchy{format}": {
      "get": {
        "operationId": "TeamHierarchyNFL",
        "summary": "Obtain a list of teams for the NFL.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/teams/{team}/roster{format}": {
      "get": {
        "operationId": "TeamRosterNFL",
        "summary": "Obtain a roster for a given NFL team with home ven...",
        "description": "Obtain a roster for a given NFL team with home venue information. Choose a team id from the Team Hierarchy feed.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "team",
            "type": "string",
            "description": "The abbreviation for a team",
            "in": "path",
            "required": true,
            "default": "MIN"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/injuries{format}": {
      "get": {
        "operationId": "InjuriesNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/{away_team}/{home_team}/depthchart{format}": {
      "get": {
        "operationId": "GameDepthChartNFL",
        "summary": "Obtain the schedule for the NFL desired week using...",
        "description": "Obtain the schedule for the NFL desired week using the Schedule API (Weekly or Seasonal). Next, choose Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4. Lastly, enter the HOME and AWAY team for the particular game for which you wish to retrieve the stats.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 1
          },
          {
            "name": "away_team",
            "type": "string",
            "description": "The away team",
            "in": "path",
            "required": true,
            "default": "MIA"
          },
          {
            "name": "home_team",
            "type": "string",
            "description": "The home team",
            "in": "path",
            "required": true,
            "default": "Sea"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/teams/{team}/depthchart{format}": {
      "get": {
        "operationId": "TeamDepthChartNFL",
        "summary": "Obtain Depth Chart for given NFL team. Retrieve a ...",
        "description": "Obtain Depth Chart for given NFL team. Retrieve a list of valid team names from the Team Hierarchy feed.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "team",
            "type": "string",
            "description": "The abbreviation for a team",
            "in": "path",
            "required": true,
            "default": "MIN"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/{year}/{nfl_season}/{nfl_season_week}/leaders{format}": {
      "get": {
        "operationId": "WeeklyLeagueLeadersNFL",
        "summary": "Obtain schedules for the NFL for a given week. Pre...",
        "description": "Obtain schedules for the NFL for a given week. Pre-Season (PRE) valid weeks 0-4, Regular Season (REG) weeks 1-17, Post-Season (PST) weeks 1-4.",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "nfl_season_week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "default": 13
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/teams/{year}/{nfl_season}/standings{format}": {
      "get": {
        "operationId": "StandingsNFL",
        "summary": "Obtain the standings for a given season part. Pre-...",
        "description": "Obtain the standings for a given season part. Pre-Season (PRE), Regular Season (REG), Post-Season (PST).",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/teams/{year}/rankings{format}": {
      "get": {
        "operationId": "RankingsNFL",
        "summary": "Obtain the conference and division rank for each t...",
        "description": "Obtain the conference and division rank for each team, including post season clinching status",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-t1/teams/{team}/{year}/{nfl_season}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatisticsNFL",
        "summary": "Obtain the standings for a given season. Next, ret...",
        "description": "Obtain the standings for a given season. Next, retrieve a list of valid team names from the Team Hierarchy feed. Lastly, choose Pre-Season (PRE), Regular Season (REG) or Post-Season (PST).",
        "tags": [
          "NFL"
        ],
        "parameters": [
          {
            "name": "team",
            "type": "string",
            "description": "The abbreviation for a team",
            "in": "path",
            "required": true,
            "default": "SEA"
          },
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2011",
              "2012",
              "2013",
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}