{
  "swagger": "2.0",
  "info": {
    "title": "Fandango Ticketing",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.fandango.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "If you have been assigned an API Key, you can test Fandango's API services here. You can also view written documentation for information on methods available via the Fandango API and definitions of the output associated with each. The Fandango API allows its partners to access Fandango's theater and customer data.",
    "x-mashery-id": "5585"
  },
  "schemes": [
    "http"
  ],
  "host": "api.fandango.com",
  "basePath": "/",
  "externalDocs": {
    "description": "For details about the response elements, please see the specific API section page below:\nTheater Methods\nMovie Methods \nShowtime Methods\nEditorial Methods\nCity Search Method\n",
    "url": "https://developer.fandango.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Ticketing Methods"
    }
  ],
  "paths": {
    "/theaters/FANDB/movies/85888/showtimes/2016-07-28T10{20}{00}/transactions": {
      "post": {
        "operationId": "PurchaseTicketingMethods",
        "summary": "used to test a purchase call",
        "tags": [
          "Ticketing Methods"
        ],
        "parameters": [
          {
            "name": "email",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "payments",
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "20",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "00",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/theaters/FANDB/movies/161416/showtimes/2016-07-20T11{50}{00}": {
      "get": {
        "operationId": "ShowtimeTicketingMethods",
        "summary": "",
        "tags": [
          "Ticketing Methods"
        ],
        "parameters": [
          {
            "name": "50",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "00",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "UserErrorTicketingMethods",
        "summary": "",
        "tags": [
          "Ticketing Methods"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}