{
  "swagger": "2.0",
  "info": {
    "title": "Health Atlas - v2.0",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "2431"
  },
  "schemes": [
    "http"
  ],
  "host": "api.hthworldwide.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.hthworldwide.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Healthcare Atlas Ratings"
    }
  ],
  "paths": {
    "/hcaratings/countries/": {
      "get": {
        "operationId": "GetCountrieswithHealthcareAtlasRatingsHealthcareAtlasRatings",
        "summary": "Retrieves the list of countries that have Healthca...",
        "description": "Retrieves the list of countries that have Healthcare Atlas ratings available.",
        "tags": [
          "Healthcare Atlas Ratings"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hcaratings/groups/": {
      "get": {
        "operationId": "GetRatingGroupsHealthcareAtlasRatings",
        "summary": "Retrieves all available rating groups",
        "tags": [
          "Healthcare Atlas Ratings"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hcaratings/groups/{group_id}/categories/": {
      "get": {
        "operationId": "GetRatingCategoriesHealthcareAtlasRatings",
        "summary": "Retrieves the rating categories for a given rating...",
        "description": "Retrieves the rating categories for a given rating group",
        "tags": [
          "Healthcare Atlas Ratings"
        ],
        "parameters": [
          {
            "name": "group_id",
            "type": "number",
            "description": "The ID for the rating group",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hcaratings/country/{country_id}/": {
      "get": {
        "operationId": "GetRatingsByCountryHealthcareAtlasRatings",
        "summary": "Retrieves the available ratings for a given countr...",
        "description": "Retrieves the available ratings for a given country",
        "tags": [
          "Healthcare Atlas Ratings"
        ],
        "parameters": [
          {
            "name": "country_id",
            "type": "string",
            "description": "The required name, ID, or ISO code for the country",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/hcaratings/destination/{destination_id}/": {
      "get": {
        "operationId": "GetRatingsByDestinationHealthcareAtlasRatings",
        "summary": "Retrieves the available ratings for a given destin...",
        "description": "Retrieves the available ratings for a given destination",
        "tags": [
          "Healthcare Atlas Ratings"
        ],
        "parameters": [
          {
            "name": "destination_id",
            "type": "number",
            "description": "The required ID for the destination",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}