{
  "swagger": "2.0",
  "info": {
    "title": "FRAM Service Request API (CCE) **",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.cokecce.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. API for FRAM Request Information",
    "x-mashery-id": "546"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Outlet Request"
    }
  ],
  "paths": {
    "/repoutlet/{EID}": {
      "get": {
        "operationId": "GetOutletRequestOutletRequest",
        "summary": "Returns equipment request object list",
        "tags": [
          "Outlet Request"
        ],
        "parameters": [
          {
            "name": "EID",
            "type": "string",
            "description": "EID of the user",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/reptheme/{ID}": {
      "get": {
        "operationId": "GetThemeRequestOutletRequest",
        "summary": "Returns equipment request object list",
        "tags": [
          "Outlet Request"
        ],
        "parameters": [
          {
            "name": "ID",
            "type": "string",
            "description": "ID of the user",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Content type",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}