{
  "swagger": "2.0",
  "info": {
    "version": "2012-11-05",
    "x-release": "v4",
    "title": "Amazon Simple Queue Service",
    "description": "<p>Welcome to the <i>Amazon Simple Queue Service API Reference</i>. This section describes who should read this guide, how the guide is organized, and other resources related to the Amazon Simple Queue Service (Amazon SQS).</p> <p>Amazon SQS offers reliable and scalable hosted queues for storing messages as they travel between computers. By using Amazon SQS, you can move data between distributed components of your applications that perform different tasks without losing messages or requiring each component to be always available.</p> <p>Helpful Links:</p> <ul> <li><p><a href=\"http://queue.amazonaws.com/doc/2012-11-05/QueueService.wsdl\">Current WSDL (2012-11-05)</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/MakingRequestsArticle.html\">Making API Requests</a></p></li> <li><p><a href=\"http://aws.amazon.com/sqs/\">Amazon SQS product page</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html\">Using Amazon SQS Message Attributes</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a></p></li> <li><p><a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sqs_region\">Regions and Endpoints</a></p></li> </ul> <p>We also provide SDKs that enable you to access Amazon SQS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as:</p> <ul> <li><p>Cryptographically signing your service requests</p></li> <li><p>Retrying requests</p></li> <li><p>Handling error responses</p></li> </ul> <p>For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/sqs/"
  },
  "host": "sqs.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "post": {
        "operationId": "SetQueueAttributes",
        "description": "<p>Sets the value of one or more queue attributes. When you change a queue's attributes, the change can take up to 60 seconds for most of the attributes to propagate throughout the SQS system. Changes made to the <code>MessageRetentionPeriod</code> attribute can take up to 15 minutes.</p> <note><p>Going forward, new attributes might be added. If you are writing code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully.</p></note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "InvalidAttributeName",
            "schema": {
              "$ref": "#/definitions/InvalidAttributeName"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetQueueAttributesRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AWSAccountIdList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ActionNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      },
      "xml": {
        "wrapped": false
      }
    },
    "AddPermissionRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Label",
        "AWSAccountIds",
        "Actions"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Label": {
          "$ref": "#/definitions/String",
          "description": "The unique identification of the permission you're setting (e.g., <code>AliceSendMessage</code>). Constraints: Maximum 80 characters; alphanumeric characters, hyphens (-), and underscores (_) are allowed."
        },
        "AWSAccountIds": {
          "$ref": "#/definitions/AWSAccountIdList",
          "description": "The AWS account number of the <a href=\"http://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a> who will be given permission. The principal must have an AWS account, but does not need to be signed up for Amazon SQS. For information about locating the AWS account identification, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AWSCredentials.html\">Your AWS Identifiers</a> in the <i>Amazon SQS Developer Guide</i>."
        },
        "Actions": {
          "$ref": "#/definitions/ActionNameList",
          "description": "<p>The action the client wants to allow for the specified principal. The following are valid values: <code>* | SendMessage | ReceiveMessage | DeleteMessage | ChangeMessageVisibility | GetQueueAttributes | GetQueueUrl</code>. For more information about these actions, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html#PermissionTypes\">Understanding Permissions</a> in the <i>Amazon SQS Developer Guide</i>.</p> <p>Specifying <code>SendMessage</code>, <code>DeleteMessage</code>, or <code>ChangeMessageVisibility</code> for the <code>ActionName.n</code> also grants permissions for the corresponding batch versions of those actions: <code>SendMessageBatch</code>, <code>DeleteMessageBatch</code>, and <code>ChangeMessageVisibilityBatch</code>.</p>"
        }
      },
      "description": "<p/>"
    },
    "AttributeMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/QueueAttributeName"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      },
      "xml": {
        "wrapped": false
      }
    },
    "AttributeNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/QueueAttributeName"
      },
      "xml": {
        "wrapped": false
      }
    },
    "BatchEntryIdsNotDistinct": {
      "type": "object",
      "properties": {},
      "description": "Two or more batch entries have the same <code>Id</code> in the request."
    },
    "BatchRequestTooLong": {
      "type": "object",
      "properties": {},
      "description": "The length of all the messages put together is more than the limit."
    },
    "BatchResultErrorEntry": {
      "type": "object",
      "required": [
        "Id",
        "SenderFault",
        "Code"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "The id of an entry in a batch request."
        },
        "SenderFault": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the error happened due to the sender's fault."
        },
        "Code": {
          "$ref": "#/definitions/String",
          "description": "An error code representing why the action failed on this entry."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "A message explaining why the action failed on this entry."
        }
      },
      "description": "This is used in the responses of batch API to give a detailed description of the result of an action on each entry in the request."
    },
    "BatchResultErrorEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BatchResultErrorEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "Binary": {
      "type": "string"
    },
    "BinaryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Binary"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "ChangeMessageVisibilityBatchRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Entries"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Entries": {
          "$ref": "#/definitions/ChangeMessageVisibilityBatchRequestEntryList",
          "description": "A list of receipt handles of the messages for which the visibility timeout must be changed."
        }
      },
      "description": "<p/>"
    },
    "ChangeMessageVisibilityBatchRequestEntry": {
      "type": "object",
      "required": [
        "Id",
        "ReceiptHandle"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "An identifier for this particular receipt handle. This is used to communicate the result. Note that the <code>Id</code>s of a batch request need to be unique within the request."
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "A receipt handle."
        },
        "VisibilityTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "The new value (in seconds) for the message's visibility timeout."
        }
      },
      "description": "<p>Encloses a receipt handle and an entry id for each message in <a>ChangeMessageVisibilityBatch</a>. </p> <important> <p>All of the following parameters are list parameters that must be prefixed with <code>ChangeMessageVisibilityBatchRequestEntry.n</code>, where <code>n</code> is an integer value starting with 1. For example, a parameter list for this action might look like this:</p> </important> <p><code><![CDATA[&amp;ChangeMessageVisibilityBatchRequestEntry.1.Id=change_visibility_msg_2]]></code></p> <p><code><![CDATA[&amp;ChangeMessageVisibilityBatchRequestEntry.1.ReceiptHandle=<replaceable>Your_Receipt_Handle</replaceable>]]></code></p> <p><code><![CDATA[&amp;ChangeMessageVisibilityBatchRequestEntry.1.VisibilityTimeout=45]]></code></p>"
    },
    "ChangeMessageVisibilityBatchRequestEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ChangeMessageVisibilityBatchRequestEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ChangeMessageVisibilityBatchResult": {
      "type": "object",
      "required": [
        "Successful",
        "Failed"
      ],
      "properties": {
        "Successful": {
          "$ref": "#/definitions/ChangeMessageVisibilityBatchResultEntryList",
          "description": "A list of <a>ChangeMessageVisibilityBatchResultEntry</a> items."
        },
        "Failed": {
          "$ref": "#/definitions/BatchResultErrorEntryList",
          "description": "A list of <a>BatchResultErrorEntry</a> items."
        }
      },
      "description": " For each message in the batch, the response contains a <a>ChangeMessageVisibilityBatchResultEntry</a> tag if the message succeeds or a <a>BatchResultErrorEntry</a> tag if the message fails. "
    },
    "ChangeMessageVisibilityBatchResultEntry": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "Represents a message whose visibility timeout has been changed successfully."
        }
      },
      "description": "Encloses the id of an entry in <a>ChangeMessageVisibilityBatch</a>."
    },
    "ChangeMessageVisibilityBatchResultEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ChangeMessageVisibilityBatchResultEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ChangeMessageVisibilityRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "ReceiptHandle",
        "VisibilityTimeout"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "The receipt handle associated with the message whose visibility timeout should be changed. This parameter is returned by the <a>ReceiveMessage</a> action."
        },
        "VisibilityTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "The new value (in seconds - from 0 to 43200 - maximum 12 hours) for the message's visibility timeout."
        }
      }
    },
    "CreateQueueRequest": {
      "type": "object",
      "required": [
        "QueueName"
      ],
      "properties": {
        "QueueName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name for the queue to be created.</p> <p>Queue names are case-sensitive.</p>"
        },
        "Attributes": {
          "$ref": "#/definitions/AttributeMap",
          "description": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters the <code>CreateQueue</code> action uses:</p> <ul> <li><p><code>DelaySeconds</code> - The time in seconds that the delivery of all messages in the queue will be delayed. An integer from 0 to 900 (15 minutes). The default for this attribute is 0 (zero).</p></li> <li><p><code>MaximumMessageSize</code> - The limit of how many bytes a message can contain before Amazon SQS rejects it. An integer from 1024 bytes (1 KiB) up to 262144 bytes (256 KiB). The default for this attribute is 262144 (256 KiB).</p></li> <li><p><code>MessageRetentionPeriod</code> - The number of seconds Amazon SQS retains a message. Integer representing seconds, from 60 (1 minute) to 1209600 (14 days). The default for this attribute is 345600 (4 days).</p></li> <li><p><code>Policy</code> - The queue's policy. A valid AWS policy. For more information about policy structure, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/PoliciesOverview.html\">Overview of AWS IAM Policies</a> in the <i>Amazon IAM User Guide</i>.</p></li> <li><p><code>ReceiveMessageWaitTimeSeconds</code> - The time for which a <a>ReceiveMessage</a> call will wait for a message to arrive. An integer from 0 to 20 (seconds). The default for this attribute is 0.</p></li> <li><p><code>RedrivePolicy</code> - The parameters for dead letter queue functionality of the source queue. For more information about RedrivePolicy and dead letter queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p></li> <li><p><code>VisibilityTimeout</code> - The visibility timeout for the queue. An integer from 0 to 43200 (12 hours). The default for this attribute is 30. For more information about visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>.</p></li> </ul> <p>Any other valid special request parameters that are specified (such as <code>ApproximateNumberOfMessages</code>, <code>ApproximateNumberOfMessagesDelayed</code>, <code>ApproximateNumberOfMessagesNotVisible</code>, <code>CreatedTimestamp</code>, <code>LastModifiedTimestamp</code>, and <code>QueueArn</code>) will be ignored.</p>"
        }
      },
      "description": "<p/>"
    },
    "CreateQueueResult": {
      "type": "object",
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "The URL for the created Amazon SQS queue."
        }
      },
      "description": "Returns the QueueUrl element of the created queue."
    },
    "DeleteMessageBatchRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Entries"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Entries": {
          "$ref": "#/definitions/DeleteMessageBatchRequestEntryList",
          "description": "A list of receipt handles for the messages to be deleted."
        }
      },
      "description": "<p/>"
    },
    "DeleteMessageBatchRequestEntry": {
      "type": "object",
      "required": [
        "Id",
        "ReceiptHandle"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "An identifier for this particular receipt handle. This is used to communicate the result. Note that the <code>Id</code>s of a batch request need to be unique within the request."
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "A receipt handle."
        }
      },
      "description": "Encloses a receipt handle and an identifier for it."
    },
    "DeleteMessageBatchRequestEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DeleteMessageBatchRequestEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "DeleteMessageBatchResult": {
      "type": "object",
      "required": [
        "Successful",
        "Failed"
      ],
      "properties": {
        "Successful": {
          "$ref": "#/definitions/DeleteMessageBatchResultEntryList",
          "description": "A list of <a>DeleteMessageBatchResultEntry</a> items."
        },
        "Failed": {
          "$ref": "#/definitions/BatchResultErrorEntryList",
          "description": "A list of <a>BatchResultErrorEntry</a> items."
        }
      },
      "description": " For each message in the batch, the response contains a <a>DeleteMessageBatchResultEntry</a> tag if the message is deleted or a <a>BatchResultErrorEntry</a> tag if the message cannot be deleted. "
    },
    "DeleteMessageBatchResultEntry": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "Represents a successfully deleted message."
        }
      },
      "description": "Encloses the id an entry in <a>DeleteMessageBatch</a>."
    },
    "DeleteMessageBatchResultEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DeleteMessageBatchResultEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "DeleteMessageRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "ReceiptHandle"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "The receipt handle associated with the message to delete."
        }
      },
      "description": "<p/>"
    },
    "DeleteQueueRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "EmptyBatchRequest": {
      "type": "object",
      "properties": {},
      "description": "Batch request does not contain an entry."
    },
    "GetQueueAttributesRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "AttributeNames": {
          "$ref": "#/definitions/AttributeNameList",
          "description": "<p>A list of attributes to retrieve information for. The following attributes are supported:</p> <ul> <li><p><code>All</code> - returns all values.</p></li> <li><p><code>ApproximateNumberOfMessages</code> - returns the approximate number of visible messages in a queue. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/ApproximateNumber.html\">Resources Required to Process Messages</a> in the <i>Amazon SQS Developer Guide</i>.</p></li> <li><p><code>ApproximateNumberOfMessagesNotVisible</code> - returns the approximate number of messages that are not timed-out and not deleted. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/ApproximateNumber.html\">Resources Required to Process Messages</a> in the <i>Amazon SQS Developer Guide</i>.</p></li> <li><p><code>VisibilityTimeout</code> - returns the visibility timeout for the queue. For more information about visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>.</p></li> <li><p><code>CreatedTimestamp</code> - returns the time when the queue was created (epoch time in seconds).</p></li> <li><p><code>LastModifiedTimestamp</code> - returns the time when the queue was last changed (epoch time in seconds).</p></li> <li><p><code>Policy</code> - returns the queue's policy.</p></li> <li><p><code>MaximumMessageSize</code> - returns the limit of how many bytes a message can contain before Amazon SQS rejects it.</p></li> <li><p><code>MessageRetentionPeriod</code> - returns the number of seconds Amazon SQS retains a message.</p></li> <li><p><code>QueueArn</code> - returns the queue's Amazon resource name (ARN).</p></li> <li><p><code>ApproximateNumberOfMessagesDelayed</code> - returns the approximate number of messages that are pending to be added to the queue.</p></li> <li><p><code>DelaySeconds</code> - returns the default delay on the queue in seconds.</p></li> <li><p><code>ReceiveMessageWaitTimeSeconds</code> - returns the time for which a ReceiveMessage call will wait for a message to arrive.</p></li> <li><p><code>RedrivePolicy</code> - returns the parameters for dead letter queue functionality of the source queue. For more information about RedrivePolicy and dead letter queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p></li> </ul> <note><p>Going forward, new attributes might be added. If you are writing code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully.</p></note>"
        }
      },
      "description": "<p/>"
    },
    "GetQueueAttributesResult": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/AttributeMap",
          "description": "A map of attributes to the respective values."
        }
      },
      "description": "A list of returned queue attributes."
    },
    "GetQueueUrlRequest": {
      "type": "object",
      "required": [
        "QueueName"
      ],
      "properties": {
        "QueueName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the queue whose URL must be fetched. Maximum 80 characters; alphanumeric characters, hyphens (-), and underscores (_) are allowed.</p> <p>Queue names are case-sensitive.</p>"
        },
        "QueueOwnerAWSAccountId": {
          "$ref": "#/definitions/String",
          "description": "The AWS account ID of the account that created the queue."
        }
      },
      "description": "<p/>"
    },
    "GetQueueUrlResult": {
      "type": "object",
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "The URL for the queue."
        }
      },
      "description": "For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/UnderstandingResponses.html\">Responses</a> in the <i>Amazon SQS Developer Guide</i>."
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidAttributeName": {
      "type": "object",
      "properties": {},
      "description": "The attribute referred to does not exist."
    },
    "InvalidBatchEntryId": {
      "type": "object",
      "properties": {},
      "description": "The <code>Id</code> of a batch entry in a batch request does not abide by the specification."
    },
    "InvalidIdFormat": {
      "type": "object",
      "properties": {},
      "description": "The receipt handle is not valid for the current version."
    },
    "InvalidMessageContents": {
      "type": "object",
      "properties": {},
      "description": "The message contains characters outside the allowed set."
    },
    "ListDeadLetterSourceQueuesRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The queue URL of a dead letter queue.</p> <p>Queue URLs are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "ListDeadLetterSourceQueuesResult": {
      "type": "object",
      "required": [
        "queueUrls"
      ],
      "properties": {
        "queueUrls": {
          "$ref": "#/definitions/QueueUrlList",
          "description": "A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue."
        }
      },
      "description": "A list of your dead letter source queues."
    },
    "ListQueuesRequest": {
      "type": "object",
      "properties": {
        "QueueNamePrefix": {
          "$ref": "#/definitions/String",
          "description": "<p>A string to use for filtering the list results. Only those queues whose name begins with the specified string are returned.</p> <p>Queue names are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "ListQueuesResult": {
      "type": "object",
      "properties": {
        "QueueUrls": {
          "$ref": "#/definitions/QueueUrlList",
          "description": "A list of queue URLs, up to 1000 entries."
        }
      },
      "description": "A list of your queues."
    },
    "Message": {
      "type": "object",
      "properties": {
        "MessageId": {
          "$ref": "#/definitions/String",
          "description": "A unique identifier for the message. Message IDs are considered unique across all AWS accounts for an extended period of time."
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "An identifier associated with the act of receiving the message. A new receipt handle is returned every time you receive a message. When deleting a message, you provide the last received receipt handle to delete the message."
        },
        "MD5OfBody": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message body string."
        },
        "Body": {
          "$ref": "#/definitions/String",
          "description": "The message's contents (not URL-encoded)."
        },
        "Attributes": {
          "$ref": "#/definitions/AttributeMap",
          "description": "<code>SenderId</code>, <code>SentTimestamp</code>, <code>ApproximateReceiveCount</code>, and/or <code>ApproximateFirstReceiveTimestamp</code>. <code>SentTimestamp</code> and <code>ApproximateFirstReceiveTimestamp</code> are each returned as an integer representing the <a href=\"http://en.wikipedia.org/wiki/Unix_time\">epoch time</a> in milliseconds."
        },
        "MD5OfMessageAttributes": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message attribute string. This can be used to verify that Amazon SQS received the message correctly. Amazon SQS first URL decodes the message before creating the MD5 digest. For information about MD5, go to <a href=\"http://www.faqs.org/rfcs/rfc1321.html\">http://www.faqs.org/rfcs/rfc1321.html</a>."
        },
        "MessageAttributes": {
          "$ref": "#/definitions/MessageAttributeMap",
          "description": "Each message attribute consists of a Name, Type, and Value. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html#SQSMessageAttributesNTV\">Message Attribute Items</a>."
        }
      },
      "description": "An Amazon SQS message."
    },
    "MessageAttributeMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/MessageAttributeValue"
          }
        }
      },
      "xml": {
        "wrapped": false
      }
    },
    "MessageAttributeName": {
      "type": "string"
    },
    "MessageAttributeNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/MessageAttributeName"
      },
      "xml": {
        "wrapped": false
      }
    },
    "MessageAttributeValue": {
      "type": "object",
      "required": [
        "DataType"
      ],
      "properties": {
        "StringValue": {
          "$ref": "#/definitions/String",
          "description": "Strings are Unicode with UTF8 binary encoding. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters</a>."
        },
        "BinaryValue": {
          "$ref": "#/definitions/Binary",
          "description": "Binary type attributes can store any binary data, for example, compressed data, encrypted data, or images."
        },
        "StringListValues": {
          "$ref": "#/definitions/StringList",
          "description": "Not implemented. Reserved for future use."
        },
        "BinaryListValues": {
          "$ref": "#/definitions/BinaryList",
          "description": "Not implemented. Reserved for future use."
        },
        "DataType": {
          "$ref": "#/definitions/String",
          "description": "<p>Amazon SQS supports the following logical data types: String, Number, and Binary. For the Number data type, you must use StringValue.</p> <p>You can also append custom labels. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html#SQSMessageAttributes.DataTypes\">Message Attribute Data Types</a>.</p>"
        }
      },
      "description": "<p>The user-specified message attribute value. For string data types, the value attribute has the same restrictions on the content as the message body. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_SendMessage.html\">SendMessage</a>.</p> <p>Name, type, and value must not be empty or null. In addition, the message body should not be empty or null. All parts of the message attribute, including name, type, and value, are included in the message size restriction, which is currently 256 KB (262,144 bytes).</p>",
      "xml": {
        "wrapped": false
      }
    },
    "MessageList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Message"
      },
      "xml": {
        "wrapped": false
      }
    },
    "MessageNotInflight": {
      "type": "object",
      "properties": {},
      "description": "The message referred to is not in flight."
    },
    "OverLimit": {
      "type": "object",
      "properties": {},
      "description": "The action that you requested would violate a limit. For example, ReceiveMessage returns this error if the maximum number of messages inflight has already been reached. <a>AddPermission</a> returns this error if the maximum number of permissions for the queue has already been reached. "
    },
    "PurgeQueueInProgress": {
      "type": "object",
      "properties": {},
      "description": "Indicates that the specified queue previously received a <code>PurgeQueue</code> request within the last 60 seconds, the time it can take to delete the messages in the queue."
    },
    "PurgeQueueRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The queue URL of the queue to delete the messages from when using the <code>PurgeQueue</code> API.</p> <p>Queue URLs are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "QueueAttributeName": {
      "type": "string",
      "enum": [
        "Policy",
        "VisibilityTimeout",
        "MaximumMessageSize",
        "MessageRetentionPeriod",
        "ApproximateNumberOfMessages",
        "ApproximateNumberOfMessagesNotVisible",
        "CreatedTimestamp",
        "LastModifiedTimestamp",
        "QueueArn",
        "ApproximateNumberOfMessagesDelayed",
        "DelaySeconds",
        "ReceiveMessageWaitTimeSeconds",
        "RedrivePolicy"
      ]
    },
    "QueueDeletedRecently": {
      "type": "object",
      "properties": {},
      "description": "You must wait 60 seconds after deleting a queue before you can create another with the same name."
    },
    "QueueDoesNotExist": {
      "type": "object",
      "properties": {},
      "description": "The queue referred to does not exist."
    },
    "QueueNameExists": {
      "type": "object",
      "properties": {},
      "description": "A queue already exists with this name. Amazon SQS returns this error only if the request includes attributes whose values differ from those of the existing queue."
    },
    "QueueUrlList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ReceiptHandleIsInvalid": {
      "type": "object",
      "properties": {},
      "description": "The receipt handle provided is not valid."
    },
    "ReceiveMessageRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "AttributeNames": {
          "$ref": "#/definitions/AttributeNameList",
          "description": "<p>A list of attributes that need to be returned along with each message. These attributes include:</p> <ul> <li><p><code>All</code> - returns all values.</p></li> <li><p><code>ApproximateFirstReceiveTimestamp</code> - returns the time when the message was first received from the queue (epoch time in milliseconds).</p></li> <li><p><code>ApproximateReceiveCount</code> - returns the number of times a message has been received from the queue but not deleted.</p></li> <li><p><code>SenderId</code> - returns the AWS account number (or the IP address, if anonymous access is allowed) of the sender.</p></li> <li><p><code>SentTimestamp</code> - returns the time when the message was sent to the queue (epoch time in milliseconds).</p></li> </ul> <p>Any other valid special request parameters that are specified (such as <code>ApproximateNumberOfMessages</code>, <code>ApproximateNumberOfMessagesDelayed</code>, <code>ApproximateNumberOfMessagesNotVisible</code>, <code>CreatedTimestamp</code>, <code>DelaySeconds</code>, <code>LastModifiedTimestamp</code>, <code>MaximumMessageSize</code>, <code>MessageRetentionPeriod</code>, <code>Policy</code>, <code>QueueArn</code>, <code>ReceiveMessageWaitTimeSeconds</code>, <code>RedrivePolicy</code>, and <code>VisibilityTimeout</code>) will be ignored.</p>"
        },
        "MessageAttributeNames": {
          "$ref": "#/definitions/MessageAttributeNameList",
          "description": "<p>The name of the message attribute, where <i>N</i> is the index. The message attribute name can contain the following characters: A-Z, a-z, 0-9, underscore (_), hyphen (-), and period (.). The name must not start or end with a period, and it should not have successive periods. The name is case sensitive and must be unique among all attribute names for the message. The name can be up to 256 characters long. The name cannot start with \"AWS.\" or \"Amazon.\" (or any variations in casing), because these prefixes are reserved for use by Amazon Web Services.</p> <p>When using <code>ReceiveMessage</code>, you can send a list of attribute names to receive, or you can return all of the attributes by specifying \"All\" or \".*\" in your request. You can also use \"bar.*\" to return all message attributes starting with the \"bar\" prefix.</p>"
        },
        "MaxNumberOfMessages": {
          "$ref": "#/definitions/Integer",
          "description": "<p>The maximum number of messages to return. Amazon SQS never returns more messages than this value but may return fewer. Values can be from 1 to 10. Default is 1.</p> <p>All of the messages are not necessarily returned.</p>"
        },
        "VisibilityTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "The duration (in seconds) that the received messages are hidden from subsequent retrieve requests after being retrieved by a <code>ReceiveMessage</code> request."
        },
        "WaitTimeSeconds": {
          "$ref": "#/definitions/Integer",
          "description": "The duration (in seconds) for which the call will wait for a message to arrive in the queue before returning. If a message is available, the call will return sooner than WaitTimeSeconds."
        }
      },
      "description": "<p/>"
    },
    "ReceiveMessageResult": {
      "type": "object",
      "properties": {
        "Messages": {
          "$ref": "#/definitions/MessageList",
          "description": "A list of messages."
        }
      },
      "description": "A list of received messages."
    },
    "RemovePermissionRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Label"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Label": {
          "$ref": "#/definitions/String",
          "description": "The identification of the permission to remove. This is the label added with the <a>AddPermission</a> action."
        }
      },
      "description": "<p/>"
    },
    "SendMessageBatchRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Entries"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Entries": {
          "$ref": "#/definitions/SendMessageBatchRequestEntryList",
          "description": "A list of <a>SendMessageBatchRequestEntry</a> items."
        }
      },
      "description": "<p/>"
    },
    "SendMessageBatchRequestEntry": {
      "type": "object",
      "required": [
        "Id",
        "MessageBody"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "An identifier for the message in this batch. This is used to communicate the result. Note that the <code>Id</code>s of a batch request need to be unique within the request."
        },
        "MessageBody": {
          "$ref": "#/definitions/String",
          "description": "Body of the message."
        },
        "DelaySeconds": {
          "$ref": "#/definitions/Integer",
          "description": "The number of seconds for which the message has to be delayed."
        },
        "MessageAttributes": {
          "$ref": "#/definitions/MessageAttributeMap",
          "description": "Each message attribute consists of a Name, Type, and Value. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html#SQSMessageAttributesNTV\">Message Attribute Items</a>."
        }
      },
      "description": "Contains the details of a single Amazon SQS message along with a <code>Id</code>. "
    },
    "SendMessageBatchRequestEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SendMessageBatchRequestEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "SendMessageBatchResult": {
      "type": "object",
      "required": [
        "Successful",
        "Failed"
      ],
      "properties": {
        "Successful": {
          "$ref": "#/definitions/SendMessageBatchResultEntryList",
          "description": "A list of <a>SendMessageBatchResultEntry</a> items."
        },
        "Failed": {
          "$ref": "#/definitions/BatchResultErrorEntryList",
          "description": "A list of <a>BatchResultErrorEntry</a> items with the error detail about each message that could not be enqueued."
        }
      },
      "description": "For each message in the batch, the response contains a <a>SendMessageBatchResultEntry</a> tag if the message succeeds or a <a>BatchResultErrorEntry</a> tag if the message fails."
    },
    "SendMessageBatchResultEntry": {
      "type": "object",
      "required": [
        "Id",
        "MessageId",
        "MD5OfMessageBody"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "An identifier for the message in this batch."
        },
        "MessageId": {
          "$ref": "#/definitions/String",
          "description": "An identifier for the message."
        },
        "MD5OfMessageBody": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message body string. This can be used to verify that Amazon SQS received the message correctly. Amazon SQS first URL decodes the message before creating the MD5 digest. For information about MD5, go to <a href=\"http://www.faqs.org/rfcs/rfc1321.html\">http://www.faqs.org/rfcs/rfc1321.html</a>."
        },
        "MD5OfMessageAttributes": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message attribute string. This can be used to verify that Amazon SQS received the message batch correctly. Amazon SQS first URL decodes the message before creating the MD5 digest. For information about MD5, go to <a href=\"http://www.faqs.org/rfcs/rfc1321.html\">http://www.faqs.org/rfcs/rfc1321.html</a>."
        }
      },
      "description": "Encloses a message ID for successfully enqueued message of a <a>SendMessageBatch</a>."
    },
    "SendMessageBatchResultEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SendMessageBatchResultEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "SendMessageRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "MessageBody"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "MessageBody": {
          "$ref": "#/definitions/String",
          "description": "The message to send. String maximum 256 KB in size. For a list of allowed characters, see the preceding important note."
        },
        "DelaySeconds": {
          "$ref": "#/definitions/Integer",
          "description": " The number of seconds (0 to 900 - 15 minutes) to delay a specific message. Messages with a positive <code>DelaySeconds</code> value become available for processing after the delay time is finished. If you don't specify a value, the default value for the queue applies. "
        },
        "MessageAttributes": {
          "$ref": "#/definitions/MessageAttributeMap",
          "description": "Each message attribute consists of a Name, Type, and Value. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html#SQSMessageAttributesNTV\">Message Attribute Items</a>."
        }
      },
      "description": "<p/>"
    },
    "SendMessageResult": {
      "type": "object",
      "properties": {
        "MD5OfMessageBody": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message body string. This can be used to verify that Amazon SQS received the message correctly. Amazon SQS first URL decodes the message before creating the MD5 digest. For information about MD5, go to <a href=\"http://www.faqs.org/rfcs/rfc1321.html\">http://www.faqs.org/rfcs/rfc1321.html</a>."
        },
        "MD5OfMessageAttributes": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message attribute string. This can be used to verify that Amazon SQS received the message correctly. Amazon SQS first URL decodes the message before creating the MD5 digest. For information about MD5, go to <a href=\"http://www.faqs.org/rfcs/rfc1321.html\">http://www.faqs.org/rfcs/rfc1321.html</a>."
        },
        "MessageId": {
          "$ref": "#/definitions/String",
          "description": " An element containing the message ID of the message sent to the queue. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/ImportantIdentifiers.html\">Queue and Message Identifiers</a> in the <i>Amazon SQS Developer Guide</i>. "
        }
      },
      "description": "The MD5OfMessageBody and MessageId elements."
    },
    "SetQueueAttributesRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Attributes"
      ],
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Attributes": {
          "$ref": "#/definitions/AttributeMap",
          "description": "<p>A map of attributes to set.</p> <p>The following lists the names, descriptions, and values of the special request parameters the <code>SetQueueAttributes</code> action uses:</p> <ul> <li><p><code>DelaySeconds</code> - The time in seconds that the delivery of all messages in the queue will be delayed. An integer from 0 to 900 (15 minutes). The default for this attribute is 0 (zero).</p></li> <li><p><code>MaximumMessageSize</code> - The limit of how many bytes a message can contain before Amazon SQS rejects it. An integer from 1024 bytes (1 KiB) up to 262144 bytes (256 KiB). The default for this attribute is 262144 (256 KiB).</p></li> <li><p><code>MessageRetentionPeriod</code> - The number of seconds Amazon SQS retains a message. Integer representing seconds, from 60 (1 minute) to 1209600 (14 days). The default for this attribute is 345600 (4 days).</p></li> <li><p><code>Policy</code> - The queue's policy. A valid AWS policy. For more information about policy structure, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/PoliciesOverview.html\">Overview of AWS IAM Policies</a> in the <i>Amazon IAM User Guide</i>.</p></li> <li><p><code>ReceiveMessageWaitTimeSeconds</code> - The time for which a ReceiveMessage call will wait for a message to arrive. An integer from 0 to 20 (seconds). The default for this attribute is 0.</p></li> <li><p><code>VisibilityTimeout</code> - The visibility timeout for the queue. An integer from 0 to 43200 (12 hours). The default for this attribute is 30. For more information about visibility timeout, see Visibility Timeout in the <i>Amazon SQS Developer Guide</i>.</p></li> <li><p><code>RedrivePolicy</code> - The parameters for dead letter queue functionality of the source queue. For more information about RedrivePolicy and dead letter queues, see Using Amazon SQS Dead Letter Queues in the <i>Amazon SQS Developer Guide</i>.</p></li> </ul> <p>Any other valid special request parameters that are specified (such as <code>ApproximateNumberOfMessages</code>, <code>ApproximateNumberOfMessagesDelayed</code>, <code>ApproximateNumberOfMessagesNotVisible</code>, <code>CreatedTimestamp</code>, <code>LastModifiedTimestamp</code>, and <code>QueueArn</code>) will be ignored.</p>"
        }
      },
      "description": "<p/>"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "TooManyEntriesInBatchRequest": {
      "type": "object",
      "properties": {},
      "description": "Batch request contains more number of entries than permissible."
    },
    "UnsupportedOperation": {
      "type": "object",
      "properties": {},
      "description": "Error code 400. Unsupported operation."
    }
  }
}