{
  "swagger": "2.0",
  "info": {
    "version": "2012-11-05",
    "x-release": "v4",
    "title": "Amazon Simple Queue Service",
    "description": "<p>Welcome to the <i>Amazon Simple Queue Service API Reference</i>. This section describes who should read this guide, how the guide is organized, and other resources related to the Amazon Simple Queue Service (Amazon SQS).</p> <p>Amazon SQS offers reliable and scalable hosted queues for storing messages as they travel between computers. By using Amazon SQS, you can move data between distributed components of your applications that perform different tasks without losing messages or requiring each component to be always available.</p> <p> <b>Topics</b> </p> <ul> <li> <p> </p> </li> <li> <p> </p> </li> <li> <p> <a>CommonParameters</a> </p> </li> <li> <p> <a>CommonErrors</a> </p> </li> </ul> <p> <b>Helpful Links</b> </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/MakingRequestsArticle.html\">Making API Requests</a> </p> </li> <li> <p> <a href=\"http://aws.amazon.com/sqs/\">Amazon SQS product page</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html\">Using Amazon SQS Message Attributes</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sqs_region\">Regions and Endpoints</a> </p> </li> </ul> <p>We also provide SDKs that enable you to access Amazon SQS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as:</p> <ul> <li> <p>Cryptographically signing your service requests</p> </li> <li> <p>Retrying requests</p> </li> <li> <p>Handling error responses</p> </li> </ul> <p>For a list of available SDKs, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/sqs/"
  },
  "host": "sqs.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "AddPermission",
        "description": "<p>Adds a permission to a queue for a specific <a href=\"http://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a>. This allows for sharing access to the queue.</p> <p>When you create a queue, you have full control access rights for the queue. Only you (as owner of the queue) can grant or deny permissions to the queue. For more information about these permissions, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html\">Shared Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p> <note> <p> <code>AddPermission</code> writes an Amazon SQS-generated policy. If you want to write your own policy, use <a>SetQueueAttributes</a> to upload your policy. For more information about writing your own policy, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AccessPolicyLanguage.html\">Using The Access Policy Language</a> in the <i>Amazon SQS Developer Guide</i>.</p> </note> <note> <p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p> <code>&amp;amp;Attribute.1=this</code> </p> <p> <code>&amp;amp;Attribute.2=that</code> </p>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "OverLimit",
            "schema": {
              "$ref": "#/definitions/OverLimit"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddPermissionRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ChangeMessageVisibility": {
      "post": {
        "operationId": "ChangeMessageVisibility",
        "description": "<p>Changes the visibility timeout of a specified message in a queue to a new value. The maximum allowed timeout value you can set the value to is 12 hours. This means you can't extend the timeout of a message in an existing queue to more than a total visibility timeout of 12 hours. (For more information visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>.)</p> <p>For example, let's say you have a message and its default message visibility timeout is 5 minutes. After 3 minutes, you call <code>ChangeMessageVisiblity</code> with a timeout of 10 minutes. At that time, the timeout for the message would be extended by 10 minutes beyond the time of the ChangeMessageVisibility call. This results in a total visibility timeout of 13 minutes. You can continue to call ChangeMessageVisibility to extend the visibility timeout to a maximum of 12 hours. If you try to extend beyond 12 hours, the request will be rejected.</p> <note> <p>There is a 120,000 limit for the number of inflight messages per queue. Messages are inflight after they have been received from the queue by a consuming component, but have not yet been deleted from the queue. If you reach the 120,000 limit, you will receive an OverLimit error message from Amazon SQS. To help avoid reaching the limit, you should delete the messages from the queue after they have been processed. You can also increase the number of queues you use to process the messages.</p> </note> <important> <p>If you attempt to set the <code>VisibilityTimeout</code> to an amount more than the maximum time left, Amazon SQS returns an error. It will not automatically recalculate and increase the timeout to the maximum time remaining.</p> </important> <important> <p>Unlike with a queue, when you change the visibility timeout for a specific message, that timeout value is applied immediately but is not saved in memory for that message. If you don't delete a message after it is received, the visibility timeout for the message the next time it is received reverts to the original timeout value, not the value you set with the <code>ChangeMessageVisibility</code> action.</p> </important>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "MessageNotInflight",
            "schema": {
              "$ref": "#/definitions/MessageNotInflight"
            }
          },
          "481": {
            "description": "ReceiptHandleIsInvalid",
            "schema": {
              "$ref": "#/definitions/ReceiptHandleIsInvalid"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMessageVisibilityRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ChangeMessageVisibilityBatch": {
      "post": {
        "operationId": "ChangeMessageVisibilityBatch",
        "description": "<p>Changes the visibility timeout of multiple messages. This is a batch version of <a>ChangeMessageVisibility</a>. The result of the action on each message is reported individually in the response. You can send up to 10 <a>ChangeMessageVisibility</a> requests with each <code>ChangeMessageVisibilityBatch</code> action.</p> <important> <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of 200.</p> </important> <note> <p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p> <code>&amp;amp;Attribute.1=this</code> </p> <p> <code>&amp;amp;Attribute.2=that</code> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ChangeMessageVisibilityBatchResult"
            }
          },
          "480": {
            "description": "TooManyEntriesInBatchRequest",
            "schema": {
              "$ref": "#/definitions/TooManyEntriesInBatchRequest"
            }
          },
          "481": {
            "description": "EmptyBatchRequest",
            "schema": {
              "$ref": "#/definitions/EmptyBatchRequest"
            }
          },
          "482": {
            "description": "BatchEntryIdsNotDistinct",
            "schema": {
              "$ref": "#/definitions/BatchEntryIdsNotDistinct"
            }
          },
          "483": {
            "description": "InvalidBatchEntryId",
            "schema": {
              "$ref": "#/definitions/InvalidBatchEntryId"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeMessageVisibilityBatchRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateQueue": {
      "post": {
        "operationId": "CreateQueue",
        "description": "<p>Creates a new standard or FIFO queue or returns the URL of an existing queue. You can pass one or more attributes in the request.</p> <ul> <li> <p>If you don't specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue.</p> <note> <p> You can't change the queue type after you create it and you can't convert an existing standard queue into a FIFO queue. You must either create a new FIFO queue for your application or delete your existing standard queue and recreate it as a FIFO queue. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues-moving.html\"> Moving From a Standard Queue to a FIFO Queue</a> in the <i>Amazon SQS Developer Guide</i>. </p> </note> </li> <li> <p>If you don't provide a value for an attribute, the queue is created with the default value for the attribute.</p> </li> <li> <p>If you delete a queue, you must wait at least 60 seconds before creating a queue with the same name.</p> </li> </ul> <p>To successfully create a new queue, you must provide a queue name that adheres to the <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/limits-queues.html\">limits related to queues</a> and is unique within the scope of your queues.</p> <p>To get the queue URL, use the <a>GetQueueUrl</a> action. <a>GetQueueUrl</a> requires only the <code>QueueName</code> parameter.</p> <ul> <li> <p>If you provide the name of an existing queue along with the exact names and values of all the queue's attributes, <code>CreateQueue</code> returns the queue URL for the existing queue.</p> </li> <li> <p>If the queue name, attribute names, or attribute values don't match an existing queue, <code>CreateQueue</code> returns an error.</p> </li> </ul> <p>Some API actions take lists of parameters. Specify these lists using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. The following is an example of a parameter list with two elements:</p> <p> <code>&amp;amp;Attribute.1=this</code> </p> <p> <code>&amp;amp;Attribute.2=that</code> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateQueueResult"
            }
          },
          "480": {
            "description": "QueueDeletedRecently",
            "schema": {
              "$ref": "#/definitions/QueueDeletedRecently"
            }
          },
          "481": {
            "description": "QueueNameExists",
            "schema": {
              "$ref": "#/definitions/QueueNameExists"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateQueueRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteMessage": {
      "post": {
        "operationId": "DeleteMessage",
        "description": "<p> Deletes the specified message from the specified queue. You specify the message by using the message's <code>receipt handle</code> and not the <code>message ID</code> you received when you sent the message. Even if the message is locked by another reader due to the visibility timeout setting, it is still deleted from the queue. If you leave a message in the queue for longer than the queue's configured retention period, Amazon SQS automatically deletes it. </p> <note> <p> The receipt handle is associated with a specific instance of receiving the message. If you receive a message more than once, the receipt handle you get each time you receive the message is different. When you request <code>DeleteMessage</code>, if you don't provide the most recently received receipt handle for the message, the request will still succeed, but the message might not be deleted. </p> </note> <important> <p>It is possible you will receive a message even after you have deleted it. This might happen on rare occasions if one of the servers storing a copy of the message is unavailable when you request to delete the message. The copy remains on the server and might be returned to you again on a subsequent receive request. You should create your system to be idempotent so that receiving a particular message more than once is not a problem.</p> </important>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidIdFormat",
            "schema": {
              "$ref": "#/definitions/InvalidIdFormat"
            }
          },
          "481": {
            "description": "ReceiptHandleIsInvalid",
            "schema": {
              "$ref": "#/definitions/ReceiptHandleIsInvalid"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteMessageRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteMessageBatch": {
      "post": {
        "operationId": "DeleteMessageBatch",
        "description": "<p>Deletes up to ten messages from the specified queue. This is a batch version of <a>DeleteMessage</a>. The result of the delete action on each message is reported individually in the response.</p> <important> <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of 200.</p> </important> <note> <p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p> <code>&amp;amp;Attribute.1=this</code> </p> <p> <code>&amp;amp;Attribute.2=that</code> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteMessageBatchResult"
            }
          },
          "480": {
            "description": "TooManyEntriesInBatchRequest",
            "schema": {
              "$ref": "#/definitions/TooManyEntriesInBatchRequest"
            }
          },
          "481": {
            "description": "EmptyBatchRequest",
            "schema": {
              "$ref": "#/definitions/EmptyBatchRequest"
            }
          },
          "482": {
            "description": "BatchEntryIdsNotDistinct",
            "schema": {
              "$ref": "#/definitions/BatchEntryIdsNotDistinct"
            }
          },
          "483": {
            "description": "InvalidBatchEntryId",
            "schema": {
              "$ref": "#/definitions/InvalidBatchEntryId"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteMessageBatchRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteQueue": {
      "post": {
        "operationId": "DeleteQueue",
        "description": "<p> Deletes the queue specified by the <b>queue URL</b>, regardless of whether the queue is empty. If the specified queue doesn't exist, Amazon SQS returns a successful response. </p> <important> <p> Use <code>DeleteQueue</code> with care; once you delete your queue, any messages in the queue are no longer available. </p> </important> <p> When you delete a queue, the deletion process takes up to 60 seconds. Requests you send involving that queue during the 60 seconds might succeed. For example, a <a>SendMessage</a> request might succeed, but after the 60 seconds, the queue and that message you sent no longer exist. Also, when you delete a queue, you must wait at least 60 seconds before creating a queue with the same name. </p> <p>We reserve the right to delete queues that have had no activity for more than 30 days. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSConcepts.html\">How Amazon SQS Queues Work</a> in the <i>Amazon SQS Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteQueueRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetQueueAttributes": {
      "post": {
        "operationId": "GetQueueAttributes",
        "description": "<p>Gets attributes for the specified queue.</p> <note> <p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> </note> <p> <code>&amp;amp;Attribute.1=this</code> </p> <p> <code>&amp;amp;Attribute.2=that</code> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetQueueAttributesResult"
            }
          },
          "480": {
            "description": "InvalidAttributeName",
            "schema": {
              "$ref": "#/definitions/InvalidAttributeName"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetQueueAttributesRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetQueueUrl": {
      "post": {
        "operationId": "GetQueueUrl",
        "description": "<p>Returns the URL of an existing queue. This action provides a simple way to retrieve the URL of an Amazon SQS queue.</p> <p> To access a queue that belongs to another AWS account, use the <code>QueueOwnerAWSAccountId</code> parameter to specify the account ID of the queue's owner. The queue's owner must grant you permission to access the queue. For more information about shared queue access, see <a>AddPermission</a> or see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html\">Shared Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetQueueUrlResult"
            }
          },
          "480": {
            "description": "QueueDoesNotExist",
            "schema": {
              "$ref": "#/definitions/QueueDoesNotExist"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetQueueUrlRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListDeadLetterSourceQueues": {
      "post": {
        "operationId": "ListDeadLetterSourceQueues",
        "description": "<p>Returns a list of your queues that have the RedrivePolicy queue attribute configured with a dead letter queue.</p> <p>For more information about using dead letter queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDeadLetterSourceQueuesResult"
            }
          },
          "480": {
            "description": "QueueDoesNotExist",
            "schema": {
              "$ref": "#/definitions/QueueDoesNotExist"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListDeadLetterSourceQueuesRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListQueues": {
      "post": {
        "operationId": "ListQueues",
        "description": "Returns a list of your queues. The maximum number of queues that can be returned is 1000. If you specify a value for the optional <code>QueueNamePrefix</code> parameter, only queues with a name beginning with the specified value are returned.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListQueuesResult"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListQueuesRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#PurgeQueue": {
      "post": {
        "operationId": "PurgeQueue",
        "description": "<p>Deletes the messages in a queue specified by the <b>queue URL</b>.</p> <important> <p>When you use the <code>PurgeQueue</code> API, the deleted messages in the queue can't be retrieved.</p> </important> <p>When you purge a queue, the message deletion process takes up to 60 seconds. All messages sent to the queue before calling <code>PurgeQueue</code> will be deleted; messages sent to the queue while it is being purged might be deleted. While the queue is being purged, messages sent to the queue before <code>PurgeQueue</code> was called might be received, but will be deleted within the next minute.</p>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "QueueDoesNotExist",
            "schema": {
              "$ref": "#/definitions/QueueDoesNotExist"
            }
          },
          "481": {
            "description": "PurgeQueueInProgress",
            "schema": {
              "$ref": "#/definitions/PurgeQueueInProgress"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurgeQueueRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ReceiveMessage": {
      "post": {
        "operationId": "ReceiveMessage",
        "description": "<p>Retrieves one or more messages, with a maximum limit of 10 messages, from the specified queue. Long poll support is enabled by using the <code>WaitTimeSeconds</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-long-polling.html\">Amazon SQS Long Poll</a> in the <i>Amazon SQS Developer Guide</i>. </p> <p> Short poll is the default behavior where a weighted random set of machines is sampled on a <code>ReceiveMessage</code> call. This means only the messages on the sampled machines are returned. If the number of messages in the queue is small (less than 1000), it is likely you will get fewer messages than you requested per <code>ReceiveMessage</code> call. If the number of messages in the queue is extremely small, you might not receive any messages in a particular <code>ReceiveMessage</code> response; in which case you should repeat the request. </p> <p>For each message returned, the response includes the following:</p> <ul> <li> <p>Message body</p> </li> <li> <p> MD5 digest of the message body. For information about MD5, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>. </p> </li> <li> <p>Message ID you received when you sent the message to the queue.</p> </li> <li> <p>Receipt handle.</p> </li> <li> <p>Message attributes.</p> </li> <li> <p>MD5 digest of the message attributes.</p> </li> </ul> <p> The receipt handle is the identifier you must provide when deleting the message. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/ImportantIdentifiers.html\">Queue and Message Identifiers</a> in the <i>Amazon SQS Developer Guide</i>. </p> <p> You can provide the <code>VisibilityTimeout</code> parameter in your request, which will be applied to the messages that Amazon SQS returns in the response. If you don't include the parameter, the overall visibility timeout for the queue is used for the returned messages. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>. </p> <p> A message that is not deleted or a message whose visibility is not extended before the visibility timeout expires counts as a failed receive. Depending on the configuration of the queue, the message might be sent to the dead letter queue. </p> <note> <p>Going forward, new attributes might be added. If you are writing code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReceiveMessageResult"
            }
          },
          "480": {
            "description": "OverLimit",
            "schema": {
              "$ref": "#/definitions/OverLimit"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReceiveMessageRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#RemovePermission": {
      "post": {
        "operationId": "RemovePermission",
        "description": "Revokes any permissions in the queue policy that matches the specified <code>Label</code> parameter. Only the owner of the queue can remove permissions.",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemovePermissionRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#SendMessage": {
      "post": {
        "operationId": "SendMessage",
        "description": "<p>Delivers a message to the specified queue.</p> <important> <p>The following list shows the characters (in Unicode) that are allowed in your message, according to the W3C XML specification:</p> <p> <code>#x9</code> | <code>#xA</code> | <code>#xD</code> | [<code>#x20</code> to <code>#xD7FF</code>] | [<code>#xE000</code> to <code>#xFFFD</code>] | [<code>#x10000</code> to <code>#x10FFFF</code>]</p> <p>For more information, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>. If you send any characters that aren't included in this list, your request will be rejected.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendMessageResult"
            }
          },
          "480": {
            "description": "InvalidMessageContents",
            "schema": {
              "$ref": "#/definitions/InvalidMessageContents"
            }
          },
          "481": {
            "description": "UnsupportedOperation",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperation"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMessageRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#SendMessageBatch": {
      "post": {
        "operationId": "SendMessageBatch",
        "description": "<p>Delivers up to ten messages to the specified queue. This is a batch version of <code> <a>SendMessage</a> </code>. For a FIFO queue, multiple messages within a single batch are enqueued in the order they are sent.</p> <p>The result of sending each message is reported individually in the response. Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of 200.</p> <p>The maximum allowed individual message size and the maximum total payload size (the sum of the individual lengths of all of the batched messages) are both 256 KB (262,144 bytes).</p> <important> <p>The following list shows the characters (in Unicode) that are allowed in your message, according to the W3C XML specification:</p> <p> <code>#x9</code> | <code>#xA</code> | <code>#xD</code> | [<code>#x20</code> to <code>#xD7FF</code>] | [<code>#xE000</code> to <code>#xFFFD</code>] | [<code>#x10000</code> to <code>#x10FFFF</code>]</p> <p>For more information, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>. If you send any characters that aren't included in this list, your request will be rejected.</p> </important> <p>If you don't specify the <code>DelaySeconds</code> parameter for an entry, Amazon SQS uses the default for the queue.</p> <note> <p>Some API actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this: </p> </note> <p> <code>&amp;amp;Attribute.1=this</code> </p> <p> <code>&amp;amp;Attribute.2=that</code> </p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendMessageBatchResult"
            }
          },
          "480": {
            "description": "TooManyEntriesInBatchRequest",
            "schema": {
              "$ref": "#/definitions/TooManyEntriesInBatchRequest"
            }
          },
          "481": {
            "description": "EmptyBatchRequest",
            "schema": {
              "$ref": "#/definitions/EmptyBatchRequest"
            }
          },
          "482": {
            "description": "BatchEntryIdsNotDistinct",
            "schema": {
              "$ref": "#/definitions/BatchEntryIdsNotDistinct"
            }
          },
          "483": {
            "description": "BatchRequestTooLong",
            "schema": {
              "$ref": "#/definitions/BatchRequestTooLong"
            }
          },
          "484": {
            "description": "InvalidBatchEntryId",
            "schema": {
              "$ref": "#/definitions/InvalidBatchEntryId"
            }
          },
          "485": {
            "description": "UnsupportedOperation",
            "schema": {
              "$ref": "#/definitions/UnsupportedOperation"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMessageBatchRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#SetQueueAttributes": {
      "post": {
        "operationId": "SetQueueAttributes",
        "description": "<p>Sets the value of one or more queue attributes. When you change a queue's attributes, the change can take up to 60 seconds for most of the attributes to propagate throughout the SQS system. Changes made to the <code>MessageRetentionPeriod</code> attribute can take up to 15 minutes.</p> <note> <p>In the future, new attributes might be added. When you write code that calls this action, we recommend structuring your code so that it can handle new attributes gracefully.</p> </note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "InvalidAttributeName",
            "schema": {
              "$ref": "#/definitions/InvalidAttributeName"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetQueueAttributesRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    }
  },
  "definitions": {
    "AWSAccountIdList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ActionNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      },
      "xml": {
        "wrapped": false
      }
    },
    "AddPermissionRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Label",
        "AWSAccountIds",
        "Actions"
      ],
      "example": {
        "AWSAccountIds": [
          "12345EXAMPLE"
        ],
        "Actions": [
          "SendMessage"
        ],
        "Label": "SendMessagesFromMyQueue",
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Label": {
          "$ref": "#/definitions/String",
          "description": "The unique identification of the permission you're setting (e.g., <code>AliceSendMessage</code>). Constraints: Maximum 80 characters; alphanumeric characters, hyphens (-), and underscores (_) are allowed."
        },
        "AWSAccountIds": {
          "$ref": "#/definitions/AWSAccountIdList",
          "description": "The AWS account number of the <a href=\"http://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P\">principal</a> who will be given permission. The principal must have an AWS account, but does not need to be signed up for Amazon SQS. For information about locating the AWS account identification, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AWSCredentials.html\">Your AWS Identifiers</a> in the <i>Amazon SQS Developer Guide</i>."
        },
        "Actions": {
          "$ref": "#/definitions/ActionNameList",
          "description": "<p>The action the client wants to allow for the specified principal. The following are valid values: <code>* | SendMessage | ReceiveMessage | DeleteMessage | ChangeMessageVisibility | GetQueueAttributes | GetQueueUrl</code>. For more information about these actions, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html#PermissionTypes\">Understanding Permissions</a> in the <i>Amazon SQS Developer Guide</i>.</p> <p>Specifying <code>SendMessage</code>, <code>DeleteMessage</code>, or <code>ChangeMessageVisibility</code> for the <code>ActionName.n</code> also grants permissions for the corresponding batch versions of those actions: <code>SendMessageBatch</code>, <code>DeleteMessageBatch</code>, and <code>ChangeMessageVisibilityBatch</code>.</p>"
        }
      },
      "description": "<p/>"
    },
    "AttributeNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/QueueAttributeName"
      },
      "xml": {
        "wrapped": false
      }
    },
    "BatchEntryIdsNotDistinct": {
      "type": "object",
      "properties": {},
      "description": "Two or more batch entries have the same <code>Id</code> in the request."
    },
    "BatchRequestTooLong": {
      "type": "object",
      "properties": {},
      "description": "The length of all the messages put together is more than the limit."
    },
    "BatchResultErrorEntry": {
      "type": "object",
      "required": [
        "Id",
        "SenderFault",
        "Code"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "The id of an entry in a batch request."
        },
        "SenderFault": {
          "$ref": "#/definitions/Boolean",
          "description": "Whether the error happened due to the sender's fault."
        },
        "Code": {
          "$ref": "#/definitions/String",
          "description": "An error code representing why the action failed on this entry."
        },
        "Message": {
          "$ref": "#/definitions/String",
          "description": "A message explaining why the action failed on this entry."
        }
      },
      "description": "This is used in the responses of batch API to give a detailed description of the result of an action on each entry in the request."
    },
    "BatchResultErrorEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BatchResultErrorEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "Binary": {
      "type": "string"
    },
    "BinaryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Binary"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "ChangeMessageVisibilityBatchRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Entries"
      ],
      "example": {
        "Entries": [
          {
            "Id": "FirstMessage",
            "ReceiptHandle": "AQEBhz2q...Jf3kaw==",
            "VisibilityTimeout": 36000
          },
          {
            "Id": "SecondMessage",
            "ReceiptHandle": "AQEBkTUH...HifSnw==",
            "VisibilityTimeout": 36000
          }
        ],
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Entries": {
          "$ref": "#/definitions/ChangeMessageVisibilityBatchRequestEntryList",
          "description": "A list of receipt handles of the messages for which the visibility timeout must be changed."
        }
      },
      "description": "<p/>"
    },
    "ChangeMessageVisibilityBatchRequestEntry": {
      "type": "object",
      "required": [
        "Id",
        "ReceiptHandle"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "An identifier for this particular receipt handle. This is used to communicate the result. Note that the <code>Id</code>s of a batch request need to be unique within the request."
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "A receipt handle."
        },
        "VisibilityTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "The new value (in seconds) for the message's visibility timeout."
        }
      },
      "description": "<p>Encloses a receipt handle and an entry id for each message in <a>ChangeMessageVisibilityBatch</a>. </p> <important> <p>All of the following parameters are list parameters that must be prefixed with <code>ChangeMessageVisibilityBatchRequestEntry.n</code>, where <code>n</code> is an integer value starting with 1. For example, a parameter list for this action might look like this:</p> </important> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.Id=change_visibility_msg_2</code> </p> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.ReceiptHandle=&lt;replaceable&gt;Your_Receipt_Handle&lt;/replaceable&gt;</code> </p> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.VisibilityTimeout=45</code> </p>"
    },
    "ChangeMessageVisibilityBatchRequestEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ChangeMessageVisibilityBatchRequestEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ChangeMessageVisibilityBatchResult": {
      "type": "object",
      "required": [
        "Successful",
        "Failed"
      ],
      "example": {
        "Failed": [],
        "Successful": []
      },
      "properties": {
        "Successful": {
          "$ref": "#/definitions/ChangeMessageVisibilityBatchResultEntryList",
          "description": "A list of <a>ChangeMessageVisibilityBatchResultEntry</a> items."
        },
        "Failed": {
          "$ref": "#/definitions/BatchResultErrorEntryList",
          "description": "A list of <a>BatchResultErrorEntry</a> items."
        }
      },
      "description": " For each message in the batch, the response contains a <a>ChangeMessageVisibilityBatchResultEntry</a> tag if the message succeeds or a <a>BatchResultErrorEntry</a> tag if the message fails. "
    },
    "ChangeMessageVisibilityBatchResultEntry": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "Represents a message whose visibility timeout has been changed successfully."
        }
      },
      "description": "Encloses the id of an entry in <a>ChangeMessageVisibilityBatch</a>."
    },
    "ChangeMessageVisibilityBatchResultEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ChangeMessageVisibilityBatchResultEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ChangeMessageVisibilityRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "ReceiptHandle",
        "VisibilityTimeout"
      ],
      "example": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue",
        "ReceiptHandle": "AQEBTpyI...t6HyQg==",
        "VisibilityTimeout": 36000
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "The receipt handle associated with the message whose visibility timeout should be changed. This parameter is returned by the <a>ReceiveMessage</a> action."
        },
        "VisibilityTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "The new value (in seconds - from 0 to 43200 - maximum 12 hours) for the message's visibility timeout."
        }
      }
    },
    "CreateQueueRequest": {
      "type": "object",
      "required": [
        "QueueName"
      ],
      "example": {
        "Attributes": {
          "MessageRetentionPeriod": "259200",
          "RedrivePolicy": "{\"deadLetterTargetArn\":\"arn:aws:sqs:us-east-1:80398EXAMPLE:MyDeadLetterQueue\",\"maxReceiveCount\":\"1000\"}"
        },
        "QueueName": "MyQueue"
      },
      "properties": {
        "QueueName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the new queue. The following limits apply to this name:</p> <ul> <li> <p>A queue name can have up to 80 characters.</p> </li> <li> <p>The following are accepted: alphanumeric chatacters, hyphens (<code>-</code>), and underscores (<code>_</code>).</p> </li> <li> <p>A FIFO queue name must end with the <code>.fifo</code> suffix.</p> </li> </ul> <p>Queue names are case-sensitive.</p>"
        },
        "Attributes": {
          "$ref": "#/definitions/QueueAttributeMap",
          "description": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters that the <code>CreateQueue</code> action uses:</p> <ul> <li> <p> <code>DelaySeconds</code> - The number of seconds for which the delivery of all messages in the queue is delayed. An integer from 0 to 900 (15 minutes). The default is 0 (zero). </p> </li> <li> <p> <code>MaximumMessageSize</code> - The limit of how many bytes a message can contain before Amazon SQS rejects it. An integer from 1,024 bytes (1 KiB) up to 262,144 bytes (256 KiB). The default is 262,144 (256 KiB). </p> </li> <li> <p> <code>MessageRetentionPeriod</code> - The number of seconds for which Amazon SQS retains a message. An integer representing seconds, from 60 (1 minute) to 120,9600 (14 days). The default is 345,600 (4 days). </p> </li> <li> <p> <code>Policy</code> - The queue's policy. A valid AWS policy. For more information about policy structure, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/PoliciesOverview.html\">Overview of AWS IAM Policies</a> in the <i>Amazon IAM User Guide</i>. </p> </li> <li> <p> <code>ReceiveMessageWaitTimeSeconds</code> - The number of seconds for which a <a>ReceiveMessage</a> action will wait for a message to arrive. An integer from 0 to 20 (seconds). The default is 0. </p> </li> <li> <p> <code>RedrivePolicy</code> - The parameters for the dead letter queue functionality of the source queue. For more information about the redrive policy and dead letter queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p> <note> <p>The dead letter queue of a FIFO queue must also be a FIFO queue. Similarly, the dead letter queue of a standard queue must also be a standard queue.</p> </note> </li> <li> <p> <code>VisibilityTimeout</code> - The visibility timeout for the queue. An integer from 0 to 43200 (12 hours). The default is 30. For more information about the visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>.</p> </li> </ul> <p>The following attributes apply only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO (first-in-first-out) queues</a>:</p> <ul> <li> <p> <code>FifoQueue</code> - Designates a queue as FIFO. You can provide this attribute only during queue creation; you can't change it for an existing queue. When you set this attribute, you must provide a <code>MessageGroupId</code> explicitly.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-understanding-logic\">FIFO Queue Logic</a> in the <i>Amazon SQS Developer Guide</i>.</p> </li> <li> <p> <code>ContentBasedDeduplication</code> - Enables content-based deduplication. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">Exactly-Once Processing</a> in the <i>Amazon SQS Developer Guide</i>. </p> <ul> <li> <p>Every message must have a unique <code>MessageDeduplicationId</code>,</p> <ul> <li> <p>You may provide a <code>MessageDeduplicationId</code> explicitly.</p> </li> <li> <p>If you aren't able to provide a <code>MessageDeduplicationId</code> and you enable <code>ContentBasedDeduplication</code> for your queue, Amazon SQS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message). </p> </li> <li> <p>If you don't provide a <code>MessageDeduplicationId</code> and the queue doesn't have <code>ContentBasedDeduplication</code> set, the action fails with an error.</p> </li> <li> <p>If the queue has <code>ContentBasedDeduplication</code> set, your <code>MessageDeduplicationId</code> overrides the generated one.</p> </li> </ul> </li> <li> <p>When <code>ContentBasedDeduplication</code> is in effect, messages with identical content sent within the deduplication interval are treated as duplicates and only one copy of the message is delivered.</p> </li> <li> <p>You can also use <code>ContentBasedDeduplication</code> for messages with identical content to be treated as duplicates.</p> </li> <li> <p>If you send one message with <code>ContentBasedDeduplication</code> enabled and then another message with a <code>MessageDeduplicationId</code> that is the same as the one generated for the first <code>MessageDeduplicationId</code>, the two messages are treated as duplicates and only one copy of the message is delivered. </p> </li> </ul> </li> </ul> <p>Any other valid special request parameters that are specified (such as <code>ApproximateNumberOfMessages</code>, <code>ApproximateNumberOfMessagesDelayed</code>, <code>ApproximateNumberOfMessagesNotVisible</code>, <code>CreatedTimestamp</code>, <code>LastModifiedTimestamp</code>, and <code>QueueArn</code>) will be ignored.</p>"
        }
      },
      "description": "<p/>"
    },
    "CreateQueueResult": {
      "type": "object",
      "example": {
        "QueueUrl": "https://queue.amazonaws.com/80398EXAMPLE/MyQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "The URL for the created Amazon SQS queue."
        }
      },
      "description": "Returns the QueueUrl element of the created queue."
    },
    "DeleteMessageBatchRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Entries"
      ],
      "example": {
        "Entries": [
          {
            "Id": "FirstMessage",
            "ReceiptHandle": "AQEB1mgl...Z4GuLw=="
          },
          {
            "Id": "SecondMessage",
            "ReceiptHandle": "AQEBLsYM...VQubAA=="
          }
        ],
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Entries": {
          "$ref": "#/definitions/DeleteMessageBatchRequestEntryList",
          "description": "A list of receipt handles for the messages to be deleted."
        }
      },
      "description": "<p/>"
    },
    "DeleteMessageBatchRequestEntry": {
      "type": "object",
      "required": [
        "Id",
        "ReceiptHandle"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "An identifier for this particular receipt handle. This is used to communicate the result. Note that the <code>Id</code>s of a batch request need to be unique within the request."
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "A receipt handle."
        }
      },
      "description": "Encloses a receipt handle and an identifier for it."
    },
    "DeleteMessageBatchRequestEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DeleteMessageBatchRequestEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "DeleteMessageBatchResult": {
      "type": "object",
      "required": [
        "Successful",
        "Failed"
      ],
      "example": {
        "Failed": [],
        "Successful": [
          {
            "Id": "FirstMessage"
          },
          {
            "Id": "SecondMessage"
          }
        ]
      },
      "properties": {
        "Successful": {
          "$ref": "#/definitions/DeleteMessageBatchResultEntryList",
          "description": "A list of <a>DeleteMessageBatchResultEntry</a> items."
        },
        "Failed": {
          "$ref": "#/definitions/BatchResultErrorEntryList",
          "description": "A list of <a>BatchResultErrorEntry</a> items."
        }
      },
      "description": " For each message in the batch, the response contains a <a>DeleteMessageBatchResultEntry</a> tag if the message is deleted or a <a>BatchResultErrorEntry</a> tag if the message can't be deleted. "
    },
    "DeleteMessageBatchResultEntry": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "Represents a successfully deleted message."
        }
      },
      "description": "Encloses the id an entry in <a>DeleteMessageBatch</a>."
    },
    "DeleteMessageBatchResultEntryList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DeleteMessageBatchResultEntry"
      },
      "xml": {
        "wrapped": false
      }
    },
    "DeleteMessageRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "ReceiptHandle"
      ],
      "example": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue",
        "ReceiptHandle": "AQEBRXTo...q2doVA=="
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "The receipt handle associated with the message to delete."
        }
      },
      "description": "<p/>"
    },
    "DeleteQueueRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "example": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyNewerQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "EmptyBatchRequest": {
      "type": "object",
      "properties": {},
      "description": "Batch request doesn't contain an entry."
    },
    "GetQueueAttributesRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "example": {
        "AttributeNames": [
          "MaximumMessageSize VisibilityTimeout"
        ],
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyNewQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "AttributeNames": {
          "$ref": "#/definitions/AttributeNameList",
          "description": "<p>A list of attributes for which to retrieve information.</p> <note> <p>Going forward, new attributes might be added. If you are writing code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully.</p> </note> <p>The following attributes are supported:</p> <ul> <li> <p> <code>All</code> - Returns all values. </p> </li> <li> <p> <code>ApproximateNumberOfMessages</code> - Returns the approximate number of visible messages in a queue. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/ApproximateNumber.html\">Resources Required to Process Messages</a> in the <i>Amazon SQS Developer Guide</i>. </p> </li> <li> <p> <code>ApproximateNumberOfMessagesDelayed</code> - Returns the approximate number of messages that are waiting to be added to the queue. </p> </li> <li> <p> <code>ApproximateNumberOfMessagesNotVisible</code> - Returns the approximate number of messages that have not timed-out and are not deleted. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/ApproximateNumber.html\">Resources Required to Process Messages</a> in the <i>Amazon SQS Developer Guide</i>. </p> </li> <li> <p> <code>CreatedTimestamp</code> - Returns the time when the queue was created in seconds (epoch time).</p> </li> <li> <p> <code>DelaySeconds</code> - Returns the default delay on the queue in seconds.</p> </li> <li> <p> <code>LastModifiedTimestamp</code> - Returns the time when the queue was last changed in seconds (epoch time).</p> </li> <li> <p> <code>MaximumMessageSize</code> - Returns the limit of how many bytes a message can contain before Amazon SQS rejects it.</p> </li> <li> <p> <code>MessageRetentionPeriod</code> - Returns the number of seconds for which Amazon SQS retains a message.</p> </li> <li> <p> <code>Policy</code> - Returns the policy of the queue.</p> </li> <li> <p> <code>QueueArn</code> - Returns the Amazon resource name (ARN) of the queue.</p> </li> <li> <p> <code>ReceiveMessageWaitTimeSeconds</code> - Returns the number of seconds for which ReceiveMessage call will wait for a message to arrive. </p> </li> <li> <p> <code>RedrivePolicy</code> - Returns the parameters for dead letter queue functionality of the source queue. For more information about the redrive policy and dead letter queues, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSDeadLetterQueue.html\">Using Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p> </li> <li> <p> <code>VisibilityTimeout</code> - Returns the visibility timeout for the queue. For more information about the visibility timeout, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>. </p> </li> </ul> <p>The following attributes apply only to <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html\">FIFO (first-in-first-out) queues</a>:</p> <ul> <li> <p> <code>FifoQueue</code> - Returns whether the queue is FIFO. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-understanding-logic\">FIFO Queue Logic</a> in the <i>Amazon SQS Developer Guide</i>.</p> </li> <li> <p> <code>ContentBasedDeduplication</code> - Returns whether content-based deduplication is enabled for the queue. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing\">Exactly-Once Processing</a> in the <i>Amazon SQS Developer Guide</i>. </p> </li> </ul>"
        }
      },
      "description": "<p/>"
    },
    "GetQueueAttributesResult": {
      "type": "object",
      "example": {
        "Attributes": {
          "MaximumMessageSize": "262144",
          "VisibilityTimeout": "30"
        }
      },
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/QueueAttributeMap",
          "description": "A map of attributes to the respective values."
        }
      },
      "description": "A list of returned queue attributes."
    },
    "GetQueueUrlRequest": {
      "type": "object",
      "required": [
        "QueueName"
      ],
      "example": {
        "QueueName": "MyQueue",
        "QueueOwnerAWSAccountId": "123456789101"
      },
      "properties": {
        "QueueName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the queue whose URL must be fetched. Maximum 80 characters; alphanumeric characters, hyphens (-), and underscores (_) are allowed.</p> <p>Queue names are case-sensitive.</p>"
        },
        "QueueOwnerAWSAccountId": {
          "$ref": "#/definitions/String",
          "description": "The AWS account ID of the account that created the queue."
        }
      },
      "description": "<p/>"
    },
    "GetQueueUrlResult": {
      "type": "object",
      "example": {
        "QueueUrl": "https://queue.amazonaws.com/123456789101/MyQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "The URL for the queue."
        }
      },
      "description": "For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/UnderstandingResponses.html\">Responses</a> in the <i>Amazon SQS Developer Guide</i>."
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidAttributeName": {
      "type": "object",
      "properties": {},
      "description": "The attribute referred to doesn't exist."
    },
    "InvalidBatchEntryId": {
      "type": "object",
      "properties": {},
      "description": "The <code>Id</code> of a batch entry in a batch request doesn't abide by the specification."
    },
    "InvalidIdFormat": {
      "type": "object",
      "properties": {},
      "description": "The receipt handle is not valid for the current version."
    },
    "InvalidMessageContents": {
      "type": "object",
      "properties": {},
      "description": "The message contains characters outside the allowed set."
    },
    "ListDeadLetterSourceQueuesRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "example": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyDeadLetterQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The queue URL of a dead letter queue.</p> <p>Queue URLs are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "ListDeadLetterSourceQueuesResult": {
      "type": "object",
      "required": [
        "queueUrls"
      ],
      "example": {
        "queueUrls": [
          "https://queue.amazonaws.com/80398EXAMPLE/MyQueue",
          "https://queue.amazonaws.com/80398EXAMPLE/MyOtherQueue"
        ]
      },
      "properties": {
        "queueUrls": {
          "$ref": "#/definitions/QueueUrlList",
          "description": "A list of source queue URLs that have the RedrivePolicy queue attribute configured with a dead letter queue."
        }
      },
      "description": "A list of your dead letter source queues."
    },
    "ListQueuesRequest": {
      "type": "object",
      "example": {
        "QueueNamePrefix": "My"
      },
      "properties": {
        "QueueNamePrefix": {
          "$ref": "#/definitions/String",
          "description": "<p>A string to use for filtering the list results. Only those queues whose name begins with the specified string are returned.</p> <p>Queue names are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "ListQueuesResult": {
      "type": "object",
      "example": {
        "QueueUrls": [
          "https://queue.amazonaws.com/80398EXAMPLE/MyDeadLetterQueue",
          "https://queue.amazonaws.com/80398EXAMPLE/MyQueue",
          "https://queue.amazonaws.com/80398EXAMPLE/MyOtherQueue"
        ]
      },
      "properties": {
        "QueueUrls": {
          "$ref": "#/definitions/QueueUrlList",
          "description": "A list of queue URLs, up to 1000 entries."
        }
      },
      "description": "A list of your queues."
    },
    "Message": {
      "type": "object",
      "properties": {
        "MessageId": {
          "$ref": "#/definitions/String",
          "description": "A unique identifier for the message. Message IDs are considered unique across all AWS accounts for an extended period of time."
        },
        "ReceiptHandle": {
          "$ref": "#/definitions/String",
          "description": "An identifier associated with the act of receiving the message. A new receipt handle is returned every time you receive a message. When deleting a message, you provide the last received receipt handle to delete the message."
        },
        "MD5OfBody": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message body string."
        },
        "Body": {
          "$ref": "#/definitions/String",
          "description": "The message's contents (not URL-encoded)."
        },
        "Attributes": {
          "$ref": "#/definitions/MessageSystemAttributeMap",
          "description": " <code>SenderId</code>, <code>SentTimestamp</code>, <code>ApproximateReceiveCount</code>, and/or <code>ApproximateFirstReceiveTimestamp</code>. <code>SentTimestamp</code> and <code>ApproximateFirstReceiveTimestamp</code> are each returned as an integer representing the <a href=\"http://en.wikipedia.org/wiki/Unix_time\">epoch time</a> in milliseconds."
        },
        "MD5OfMessageAttributes": {
          "$ref": "#/definitions/String",
          "description": "An MD5 digest of the non-URL-encoded message attribute string. This can be used to verify that Amazon SQS received the message correctly. Amazon SQS first URL decodes the message before creating the MD5 digest. For information about MD5, see <a href=\"https://www.ietf.org/rfc/rfc1321.txt\">RFC1321</a>."
        },
        "MessageAttributes": {
          "$ref": "#/definitions/MessageBodyAttributeMap",
          "description": "Each message attribute consists of a Name, Type, and Value. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html#SQSMessageAttributesNTV\">Message Attribute Items</a> in the <i>Amazon SQS Developer Guide</i>."
        }
      },
      "description": "An Amazon SQS message."
    },
    "MessageAttributeName": {
      "type": "string"
    },
    "MessageAttributeNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/MessageAttributeName"
      },
      "xml": {
        "wrapped": false
      }
    },
    "MessageAttributeValue": {
      "type": "object",
      "required": [
        "DataType"
      ],
      "properties": {
        "StringValue": {
          "$ref": "#/definitions/String",
          "description": "Strings are Unicode with UTF8 binary encoding. For a list of code values, see <a href=\"http://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">ASCII Printable Characters</a>."
        },
        "BinaryValue": {
          "$ref": "#/definitions/Binary",
          "description": "Binary type attributes can store any binary data, for example, compressed data, encrypted data, or images."
        },
        "StringListValues": {
          "$ref": "#/definitions/StringList",
          "description": "Not implemented. Reserved for future use."
        },
        "BinaryListValues": {
          "$ref": "#/definitions/BinaryList",
          "description": "Not implemented. Reserved for future use."
        },
        "DataType": {
          "$ref": "#/definitions/String",
          "description": "<p>Amazon SQS supports the following logical data types: String, Number, and Binary. For the Number data type, you must use StringValue.</p> <p>You can also append custom labels. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/SQSMessageAttributes.html#SQSMessageAttributes.DataTypes\">Message Attribute Data Types</a> in the <i>Amazon SQS Developer Guide</i>.</p>"
        }
      },
      "description": "<p>The user-specified message attribute value. For string data types, the value attribute has the same restrictions on the content as the message body. For more information, see <a>SendMessage</a>.</p> <p>Name, type, and value must not be empty or null. In addition, the message body should not be empty or null. All parts of the message attribute, including name, type, and value, are included in the message size restriction, which is currently 256 KB (262,144 bytes).</p>",
      "xml": {
        "wrapped": false
      }
    },
    "MessageBodyAttributeMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/MessageAttributeValue"
          }
        }
      },
      "xml": {
        "wrapped": false
      }
    },
    "MessageList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Message"
      },
      "xml": {
        "wrapped": false
      }
    },
    "MessageNotInflight": {
      "type": "object",
      "properties": {},
      "description": "The message referred to is not in flight."
    },
    "MessageSystemAttributeMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/MessageSystemAttributeName"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      },
      "xml": {
        "wrapped": false
      }
    },
    "MessageSystemAttributeName": {
      "type": "string",
      "enum": [
        "SenderId",
        "SentTimestamp",
        "ApproximateReceiveCount",
        "ApproximateFirstReceiveTimestamp",
        "SequenceNumber",
        "MessageDeduplicationId",
        "MessageGroupId"
      ]
    },
    "OverLimit": {
      "type": "object",
      "properties": {},
      "description": "The action that you requested would violate a limit. For example, ReceiveMessage returns this error if the maximum number of messages inflight has already been reached. <a>AddPermission</a> returns this error if the maximum number of permissions for the queue has already been reached. "
    },
    "PurgeQueueInProgress": {
      "type": "object",
      "properties": {},
      "description": "Indicates that the specified queue previously received a <code>PurgeQueue</code> request within the last 60 seconds, the time it can take to delete the messages in the queue."
    },
    "PurgeQueueRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "example": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyNewQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The queue URL of the queue to delete the messages from when using the <code>PurgeQueue</code> API.</p> <p>Queue URLs are case-sensitive.</p>"
        }
      },
      "description": "<p/>"
    },
    "QueueAttributeMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/QueueAttributeName"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      },
      "xml": {
        "wrapped": false
      }
    },
    "QueueAttributeName": {
      "type": "string",
      "enum": [
        "All",
        "Policy",
        "VisibilityTimeout",
        "MaximumMessageSize",
        "MessageRetentionPeriod",
        "ApproximateNumberOfMessages",
        "ApproximateNumberOfMessagesNotVisible",
        "CreatedTimestamp",
        "LastModifiedTimestamp",
        "QueueArn",
        "ApproximateNumberOfMessagesDelayed",
        "DelaySeconds",
        "ReceiveMessageWaitTimeSeconds",
        "RedrivePolicy",
        "FifoQueue",
        "ContentBasedDeduplication"
      ]
    },
    "QueueDeletedRecently": {
      "type": "object",
      "properties": {},
      "description": "You must wait 60 seconds after deleting a queue before you can create another with the same name."
    },
    "QueueDoesNotExist": {
      "type": "object",
      "properties": {},
      "description": "The queue referred to doesn't exist."
    },
    "QueueNameExists": {
      "type": "object",
      "properties": {},
      "description": "A queue already exists with this name. Amazon SQS returns this error only if the request includes attributes whose values differ from those of the existing queue."
    },
    "QueueUrlList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      },
      "xml": {
        "wrapped": false
      }
    },
    "ReceiptHandleIsInvalid": {
      "type": "object",
      "properties": {},
      "description": "The receipt handle provided is not valid."
    },
    "ReceiveMessageRequest": {
      "type": "object",
      "required": [
        "QueueUrl"
      ],
      "example": {
        "AttributeNames": [
          "SenderId SentTimestamp"
        ],
        "MaxNumberOfMessages": 123,
        "MessageAttributeNames": [
          "PostalCode"
        ],
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue",
        "VisibilityTimeout": 123,
        "WaitTimeSeconds": 123
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "AttributeNames": {
          "$ref": "#/definitions/AttributeNameList",
          "description": "<p>A list of attributes that need to be returned along with each message. These attributes include:</p> <ul> <li> <p> <code>All</code> - Returns all values.</p> </li> <li> <p> <code>ApproximateFirstReceiveTimestamp</code> - Returns the time the message was first received from the queue (epoch time in milliseconds).</p> </li> <li> <p> <code>ApproximateReceiveCount</code> - Returns the number of times a message has been received from the queue but not deleted.</p> </li> <li> <p> <code>SenderId</code> </p> <ul> <li> <p>For an IAM user, returns the IAM user ID, for example <code>ABCDEFGHI1JKLMNOPQ23R</code>.</p> </li> <li> <p>For an IAM role, returns the IAM role ID, for example <code>ABCDE1F2GH3I4JK5LMNOP:i-a123b456</code>.</p> </li> </ul> </li> <li> <p> <code>SentTimestamp</code> - Returns the time the message was sent to the queue (epoch time in milliseconds).</p> </li> <li> <p> <code>MessageDeduplicationId</code> - Returns the value provided by the sender that calls the <code> <a>SendMessage</a> </code> action.</p> </li> <li> <p> <code>MessageGroupId</code> - Returns the value provided by the sender that calls the <code> <a>SendMessage</a> </code> action. Messages with the same <code>MessageGroupId</code> are returned in sequence.</p> </li> <li> <p> <code>SequenceNumber</code> - Returns the value provided by Amazon SQS.</p> </li> </ul> <p>Any other valid special request parameters (such as the following) that are specified are ignored:</p> <ul> <li> <p> <code>ApproximateNumberOfMessages</code> </p> </li> <li> <p> <code>ApproximateNumberOfMessagesDelayed</code> </p> </li> <li> <p> <code>ApproximateNumberOfMessagesNotVisible</code> </p> </li> <li> <p> <code>CreatedTimestamp</code> </p> </li> <li> <p> <code>ContentBasedDeduplication</code> </p> </li> <li> <p> <code>DelaySeconds</code> </p> </li> <li> <p> <code>LastModifiedTimestamp</code> </p> </li> <li> <p> <code>MaximumMessageSize</code> </p> </li> <li> <p> <code>MessageRetentionPeriod</code> </p> </li> <li> <p> <code>Policy</code> </p> </li> <li> <p> <code>QueueArn</code>, </p> </li> <li> <p> <code>ReceiveMessageWaitTimeSeconds</code> </p> </li> <li> <p> <code>RedrivePolicy</code> </p> </li> <li> <p> <code>FifoQueue</code> </p> </li> <li> <p> <code>VisibilityTimeout</code> </p> </li> </ul>"
        },
        "MessageAttributeNames": {
          "$ref": "#/definitions/MessageAttributeNameList",
          "description": "<p>The name of the message attribute, where <i>N</i> is the index. The message attribute name can contain the following characters: A-Z, a-z, 0-9, underscore (_), hyphen (-), and period (.). The name must not start or end with a period, and it should not have successive periods. The name is case sensitive and must be unique among all attribute names for the message. The name can be up to 256 characters long. The name can't start with \"AWS.\" or \"Amazon.\" (or any variations in casing), because these prefixes are reserved for use by Amazon Web Services.</p> <p>When using <code>ReceiveMessage</code>, you can send a list of attribute names to receive, or you can return all of the attributes by specifying \"All\" or \".*\" in your request. You can also use \"bar.*\" to return all message attributes starting with the \"bar\" prefix.</p>"
        },
        "MaxNumberOfMessages": {
          "$ref": "#/definitions/Integer",
          "description": "<p>The maximum number of messages to return. Amazon SQS never returns more messages than this value but might return fewer. Values can be from 1 to 10. Default is 1.</p> <p>All of the messages are not necessarily returned.</p>"
        },
        "VisibilityTimeout": {
          "$ref": "#/definitions/Integer",
          "description": "The duration (in seconds) that the received messages are hidden from subsequent retrieve requests after being retrieved by a <code>ReceiveMessage</code> request."
        },
        "WaitTimeSeconds": {
          "$ref": "#/definitions/Integer",
          "description": "The duration (in seconds) for which the call will wait for a message to arrive in the queue before returning. If a message is available, the call will return sooner than WaitTimeSeconds."
        },
        "ReceiveRequestAttemptId": {
          "$ref": "#/definitions/String",
          "description": "<p>This parameter applies only to FIFO (first-in-first-out) queues.</p> <p>The token used for deduplication of <code>ReceiveMessage</code> calls. If a networking issue occurs after a <code>ReceiveMessage</code> action, and instead of a response you receive a generic error, you can retry the same action with an identical <code>ReceiveRequestAttemptId</code> to retrieve the same set of messages, even if their visibility timeout has not yet expired.</p> <ul> <li> <p>You can use <code>ReceiveRequestAttemptId</code> only for 5 minutes after a <code>ReceiveMessage</code> action.</p> </li> <li> <p>When you set <code>FifoQueue</code>, a caller of the <code>ReceiveMessage</code> action can provide a <code>ReceiveRequestAttemptId</code> explicitly.</p> </li> <li> <p>If a caller of the <code>ReceiveMessage</code> action doesn't provide a <code>ReceiveRequestAttemptId</code>, Amazon SQS generates a <code>ReceiveRequestAttemptId</code>.</p> </li> <li> <p>You can retry the <code>ReceiveMessage</code> action with the same <code>ReceiveRequestAttemptId</code> if none of the messages have been modified (deleted or had their visibility changes).</p> </li> <li> <p>During a visibility timeout, subsequent calls with the same <code>ReceiveRequestAttemptId</code> return the same messages and receipt handles. If a retry occurs within the deduplication interval, it resets the visibility timeout. For more information, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AboutVT.html\">Visibility Timeout</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p> <important> <p>If a caller of the <code>ReceiveMessage</code> action is still processing messages when the visibility timeout expires and messages become visible, another worker reading from the same queue can receive the same messages and therefore process duplicates. Also, if a reader whose message processing time is longer than the visibility timeout tries to delete the processed messages, the action fails with an error.</p> <p>To mitigate this effect, ensure that your application observes a safe threshold before the visibility timeout expires and extend the visibility timeout as necessary.</p> </important> </li> <li> <p>While messages with a particular <code>MessageGroupId</code> are invisible, no more messages belonging to the same <code>MessageGroupId</code> are returned until the visibility timeout expires. You can still receive messages with another <code>MessageGroupId</code> as long as it is also visible.</p> </li> <li> <p>If a caller of <code>ReceiveMessage</code> can't track the <code>ReceiveRequestAttemptId</code>, no retries will work until the original visibility timeout expires. As a result, delays might occur but the messages in the queue will remain in a strict order.</p> </li> </ul> <p>The length of <code>ReceiveRequestAttemptId</code> is 128 characters. <code>ReceiveRequestAttemptId</code> can contain alphanumeric characters (<code>a-z</code>, <code>A-Z</code>, <code>0-9</code>) and punctuation (<code>!\"#$%&amp;'()*+,-./:;&lt;=&gt;?@[\\]^_`{|}~</code>).</p> <p>For best practices of using <code>ReceiveRequestAttemptId</code>, see <a href=\"http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queue-recommendations.html#using-receiverequestattemptid-request-parameter\">Using the ReceiveRequestAttemptId Request Parameter</a> in the <i>Amazon Simple Queue Service Developer Guide</i>.</p>"
        }
      },
      "description": "<p/>"
    },
    "ReceiveMessageResult": {
      "type": "object",
      "example": {
        "Messages": [
          {
            "Attributes": {
              "SenderId": "AIDAIAZKMSNQ7TEXAMPLE",
              "SentTimestamp": "1442428276921"
            },
            "Body": "My first message.",
            "MD5OfBody": "1000f835...a35411fa",
            "MD5OfMessageAttributes": "b8e89563...e088e74f",
            "MessageAttributes": {
              "PostalCode": {
                "DataType": "String",
                "StringValue": "ABC123"
              }
            },
            "MessageId": "d6790f8d-d575-4f01-bc51-40122EXAMPLE",
            "ReceiptHandle": "AQEB6nR4...HzlvZQ=="
          }
        ]
      },
      "properties": {
        "Messages": {
          "$ref": "#/definitions/MessageList",
          "description": "A list of messages."
        }
      },
      "description": "A list of received messages."
    },
    "RemovePermissionRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Label"
      ],
      "example": {
        "Label": "SendMessagesFromMyQueue",
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Label": {
          "$ref": "#/definitions/String",
          "description": "The identification of the permission to remove. This is the label added with the <a>AddPermission</a> action."
        }
      },
      "description": "<p/>"
    },
    "SendMessageBatchRequest": {
      "type": "object",
      "required": [
        "QueueUrl",
        "Entries"
      ],
      "example": {
        "Entries": [
          {
            "DelaySeconds": 10,
            "Id": "FuelReport-0001-2015-09-16T140731Z",
            "MessageAttributes": {
              "City": {
                "DataType": "String",
                "StringValue": "Any City"
              },
              "PostalCode": {
                "DataType": "String",
                "StringValue": "99065"
              },
              "PricePerGallon": {
                "DataType": "Number",
                "StringValue": "1.99"
              },
              "Region": {
                "DataType": "String",
                "StringValue": "WA"
              },
              "SellerName": {
                "DataType": "String",
                "StringValue": "Example Store"
              }
            },
            "MessageBody": "Fuel report for account 0001 on 2015-09-16 at 02:07:31 PM."
          },
          {
            "DelaySeconds": 10,
            "Id": "FuelReport-0002-2015-09-16T140930Z",
            "MessageAttributes": {
              "City": {
                "DataType": "String",
                "StringValue": "North Town"
              },
              "PostalCode": {
                "DataType": "String",
                "StringValue": "99123"
              },
              "PricePerGallon": {
                "DataType": "Number",
                "StringValue": "1.87"
              },
              "Region": {
                "DataType": "String",
                "StringValue": "WA"
              },
              "SellerName": {
                "DataType": "String",
                "StringValue": "Example Fuels"
              }
            },
            "MessageBody": "Fuel report for account 0002 on 2015-09-16 at 02:09:30 PM."
          }
        ],
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/80398EXAMPLE/MyQueue"
      },
      "properties": {
        "QueueUrl": {
          "$ref": "#/definitions/String",
          "description": "<p>The URL of the Amazon SQS queue to take action on.</p> <p>Queue URLs are case-sensitive.</p>"
        },
        "Entries": {
          "$ref": "#/definitions/SendMessageBatchRequestEntryList",
          "description": "A list of <a>SendMessageBatchRequestEntry</a> items."
        }
      },
      "description": "<p/>"
    },
    "SendMessageBatchRequestEntry": {
      "type": "object",
      "required": [
        "Id",
        "MessageBody"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/String",
          "description": "An identifier for the message in this batch. This is used to communicate the result. Note that the <code>Id</code>s of a batch request need to be unique within the request."
        },
        "MessageBody": {
          "$ref": "#/definitions/String",
          "description": "Body of the message."
        },
[...]
