{
  "swagger": "2.0",
  "info": {
    "title": "NHL Official Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NHL Official API",
    "x-mashery-id": "5688"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NHL Official Version 4"
    }
  ],
  "paths": {
    "/nhl-ot4/league/{year}/{month}/{day}/changes{format}": {
      "get": {
        "operationId": "DailyChangeLogNHLOfficialVersion4",
        "summary": "provides information on any changes made to teams,...",
        "description": "provides information on any changes made to teams, players, game statistics, and standings",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/games/{year}/{month}/{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleNHLOfficialVersion4",
        "summary": "provides the schedule for a given day",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/league/{year}/{month}/{day}/transfers{format}": {
      "get": {
        "operationId": "DailyTransfersNHLOfficialVersion4",
        "summary": "provides information on player transfers for a giv...",
        "description": "provides information on player transfers for a given day",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/games/{game_id}/boxscore{format}": {
      "get": {
        "operationId": "GameBoxscoreNHLOfficialVersion4",
        "summary": "Get boxscore data for NHL Games",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/games/{game_id}/faceoffs{format}": {
      "get": {
        "operationId": "GameFaceoffsNHLOfficialVersion4",
        "summary": "Get faceoff data for an NHL Game",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "GamePlayByPlayNHLOfficialVersion4",
        "summary": "Get the Play-by-Play data for an NHL Game",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/games/{game_id}/summary{format}": {
      "get": {
        "operationId": "GameSummaryNHLOfficialVersion4",
        "summary": "Get the Summary data for an NHL Game",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/games/{game_id}/time_on_ice{format}": {
      "get": {
        "operationId": "GameTimeonIceNHLOfficialVersion4",
        "summary": "Get the time on ice data for an NHL Game",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "The ID of a given game, found in the schedule feeds",
            "in": "path",
            "required": true,
            "default": "af285aa3-3d80-4051-9449-5b58e5985a4e"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/league/injuries{format}": {
      "get": {
        "operationId": "InjuriesNHLOfficialVersion4",
        "summary": "Provides updated injuries for the NHL",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/league/hierarchy{format}": {
      "get": {
        "operationId": "LeagueHierarchyNHLOfficialVersion4",
        "summary": "Provides list of all NHL teams",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/seasontd/{season}/{nhl_season}/leaders/goaltending{format}": {
      "get": {
        "operationId": "LeagueLeaders-GoaltendingNHLOfficialVersion4",
        "summary": "Provides the leaders for Goaltending",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/seasontd/{season}/{nhl_season}/leaders/offense{format}": {
      "get": {
        "operationId": "LeagueLeaders-SkatersNHLOfficialVersion4",
        "summary": "Provides the leaders for Defense and Offense skate...",
        "description": "Provides the leaders for Defense and Offense skaters",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileNHLOfficialVersion4",
        "summary": "Player information for the NHL",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The given ID of a player",
            "in": "path",
            "required": true,
            "default": "42b7b605-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/seasontd/{season}/{nhl_season}/rankings{format}": {
      "get": {
        "operationId": "RankingsNHLOfficialVersion4",
        "summary": "Get ranking information for the NHL",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/games/{season}/{nhl_season}/schedule{format}": {
      "get": {
        "operationId": "ScheduleNHLOfficialVersion4",
        "summary": "Get the schedule for a given NHL Season",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST",
              "PRE"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/seasontd/{season}/{nhl_season}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeasonalStatistics-SeasontoDateNHLOfficialVersion4",
        "summary": "Get statistics on a team level",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/series/{series_id}/teams/{team_id}/faceoffs{format}": {
      "get": {
        "operationId": "SeriesFaceoffsNHLOfficialVersion4",
        "summary": "Get faceoff information for a playoff series",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "series_id",
            "type": "string",
            "description": "Playoff series ID",
            "in": "path",
            "required": true,
            "default": "6fdf1873-a327-4926-a411-ff55ef95a78a"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/series/{season}/{nhl_season}/schedule{format}": {
      "get": {
        "operationId": "SeriesscheduleNHLOfficialVersion4",
        "summary": "Get faceoff information for a playoff series",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/series/{series_id}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "SeriesStatisticsNHLOfficialVersion4",
        "summary": "Get the statistics for a playoff series",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "series_id",
            "type": "string",
            "description": "Playoff series ID",
            "in": "path",
            "required": true,
            "default": "6fdf1873-a327-4926-a411-ff55ef95a78a"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/seasontd/{season}/{nhl_season}/standings{format}": {
      "get": {
        "operationId": "StandingsNHLOfficialVersion4",
        "summary": "Get the standings for the NHL",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "number",
            "description": "The NHL Season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nhl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nhl-ot4/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfile-RosterNHLOfficialVersion4",
        "summary": "Get the roster information for a NHL team",
        "tags": [
          "NHL Official Version 4"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "A given NHL team",
            "in": "path",
            "required": true,
            "default": "4416091c-0f24-11e2-8525-18a905767e44"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format:",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}