{
  "swagger": "2.0",
  "info": {
    "title": "System Status API (Closed)",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.cokecce.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Returns system status for the CCE enterprise service bus",
    "x-mashery-id": "159"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cokecce.com",
  "basePath": "/systemstatus/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.cokecce.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "System Status Method"
    }
  ],
  "paths": {
    "/{serverCluster}": {
      "get": {
        "operationId": "StatusSystemStatusMethod",
        "summary": "Returns Server Status",
        "tags": [
          "System Status Method"
        ],
        "parameters": [
          {
            "name": "serverCluster",
            "type": "string",
            "description": "Output status for specific server cluster",
            "in": "path",
            "required": true,
            "enum": [
              "webservices"
            ]
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Content type for the response",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "text/xml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}