{
  "swagger": "2.0",
  "info": {
    "title": "KLM Travel API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.airfranceklm.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "A great place to start playing with the APIs. KLM Travel API",
    "x-mashery-id": "5373"
  },
  "schemes": [
    "http"
  ],
  "host": "api.airfranceklm.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.airfranceklm.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "password",
      "tokenUrl": "/",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Contact Informations"
    },
    {
      "name": "Locations"
    },
    {
      "name": "Flight Offers"
    },
    {
      "name": "AncilliaryShops"
    },
    {
      "name": "Ratings"
    },
    {
      "name": "Lounge"
    },
    {
      "name": "Flight Status"
    },
    {
      "name": "Check-in API"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Reservations"
    },
    {
      "name": "Inspire API"
    }
  ],
  "paths": {
    "/contactinformations": {
      "get": {
        "operationId": "GetlistofcontactinformationContactInformations",
        "summary": "",
        "tags": [
          "Contact Informations"
        ],
        "parameters": [
          {
            "name": "country.code",
            "type": "string",
            "description": "CountryCode",
            "in": "query",
            "required": true,
            "default": "NL"
          },
          {
            "name": "expand",
            "type": "string",
            "description": "provide expand=subCategories when applicable",
            "in": "query",
            "required": false,
            "default": "subCategories"
          },
          {
            "name": "city.code",
            "type": "string",
            "description": "City code",
            "in": "query",
            "required": false,
            "default": "AMS"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations/cities": {
      "get": {
        "operationId": "citiesLocations",
        "summary": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "country",
            "type": "string",
            "description": "optional country of origin",
            "in": "query",
            "required": false,
            "default": "NL"
          },
          {
            "name": "minDuration",
            "type": "string",
            "description": "optional minimum duration - default 3 days",
            "in": "query",
            "required": false,
            "default": "3"
          },
          {
            "name": "maxBudget",
            "type": "string",
            "description": "optional minimum budget - default 100000",
            "in": "query",
            "required": false,
            "default": "100000"
          },
          {
            "name": "pageSize",
            "type": "integer",
            "description": "optional - select the size of the resultset, no restriction, when the complete result set is required set this value to 2147483647 for example",
            "in": "query",
            "required": false,
            "default": 20
          },
          {
            "name": "minDepartureDate",
            "type": "string",
            "format": "date",
            "description": "optional minimum departure date",
            "in": "query",
            "required": false
          },
          {
            "name": "maxDepartureDate",
            "type": "string",
            "format": "date",
            "description": "optional maximum departure date",
            "in": "query",
            "required": false
          },
          {
            "name": "q",
            "type": "string",
            "description": "optional magical q parameter! Support for a custom filter DSL which is a the moment quite limited in functionality and supports only a single field, but its functionality will be expanded in future versions. For now it can be used as a filter to search for partial strings. Sample: /some/api/url?q=name.contains(dam) This will search the response for a field called name (nested fields can be selected by point navigation, for example airport.name). If no such field can be found the service will respond with a HTTP 400 Bad Request instead of ignoring the invalid filter. When it locates the field it will restrict the retrieved result set based on the provided query, so .contains(dam) does exactly what it suggests, it will filter the result set and return only elements that have a name field that contain dam.",
            "in": "query",
            "required": false
          },
          {
            "name": "themes",
            "type": "string",
            "description": "optional list of comma separated theme codes",
            "in": "query",
            "required": false
          },
          {
            "name": "expand",
            "type": "string",
            "description": "optional comma separated expansions (currently supports only lowest-fare)",
            "in": "query",
            "required": false,
            "default": "lowest-fare"
          },
          {
            "name": "sortOrder",
            "type": "string",
            "description": "optional - select the ordering, possible values are 'DESC' or 'ASC'",
            "in": "query",
            "required": false,
            "default": "DESC"
          },
          {
            "name": "sortField",
            "type": "string",
            "description": "optional field to be sorted, can only be string or numeric numeric",
            "in": "query",
            "required": false,
            "default": "code"
          },
          {
            "name": "origins",
            "type": "string",
            "description": "optional comma separated list of origin airport codes",
            "in": "query",
            "required": false,
            "default": "AMS"
          },
          {
            "name": "currentPage",
            "type": "integer",
            "description": "optional - select an available page",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "lang",
            "type": "string",
            "description": "optional language parameter for i18n",
            "in": "query",
            "required": false,
            "default": "nl_NL"
          },
          {
            "name": "minBudget",
            "type": "string",
            "description": "optional minimum budget - default 0",
            "in": "query",
            "required": false,
            "default": "0"
          },
          {
            "name": "maxDuration",
            "type": "string",
            "description": "optional maximum duration - default 20 days",
            "in": "query",
            "required": false,
            "default": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations/v2/cities/{code}/weather": {
      "get": {
        "operationId": "weatherLocations",
        "summary": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "code",
            "type": "string",
            "description": "ISO city code",
            "in": "path",
            "required": true,
            "default": "AMS"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations/cities/{code}/hotspots": {
      "get": {
        "operationId": "hotspotsLocations",
        "summary": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "code",
            "type": "string",
            "description": "ISO city code",
            "in": "path",
            "required": true,
            "default": "AMS"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations/cities/{code}/practical-info": {
      "get": {
        "operationId": "practical-infoLocations",
        "summary": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "code",
            "type": "string",
            "description": "ISO city code",
            "in": "path",
            "required": true,
            "default": "AMS"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations/cities/{code}/accommodations": {
      "get": {
        "operationId": "accommodationsLocations",
        "summary": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "code",
            "type": "string",
            "description": "ISO city code",
            "in": "path",
            "required": true,
            "default": "AMS"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations/countries/{code}/currencies": {
      "get": {
        "operationId": "currencyLocations",
        "summary": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "code",
            "type": "string",
            "description": "Country code",
            "in": "path",
            "required": true,
            "default": "NL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/locations/countries": {
      "get": {
        "operationId": "countriesLocations",
        "summary": "",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "q",
            "type": "string",
            "description": "optional magical q parameter! Support for a custom filter DSL which is a the moment quite limited in functionality and supports only a single field, but its functionality will be expanded in future versions. For now it can be used as a filter to search for partial strings. Sample: /some/api/url?q=name.contains(dam) This will search the response for a field called name (nested fields can be selected by point navigation, for example airport.name). If no such field can be found the service will respond with a HTTP 400 Bad Request instead of ignoring the invalid filter. When it locates the field it will restrict the retrieved result set based on the provided query, so .contains(dam) does exactly what it suggests, it will filter the result set and return only elements that have a name field that contain dam.",
            "in": "query",
            "required": false
          },
          {
            "name": "sortOrder",
            "type": "string",
            "description": "optional - select the ordering, possible values are 'DESC' or 'ASC'",
            "in": "query",
            "required": false,
            "default": "DESC"
          },
          {
            "name": "sortField",
            "type": "string",
            "description": "optional field to be sorted, can only be string or numeric numeric",
            "in": "query",
            "required": false,
            "default": "code"
          },
          {
            "name": "pageSize",
            "type": "integer",
            "description": "optional - select the size of the resultset, no restriction, when the complete result set is required set this value to 2147483647 for example",
            "in": "query",
            "required": false,
            "default": 20
          },
          {
            "name": "currentPage",
            "type": "integer",
            "description": "optional - select an available page",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "lang",
            "type": "string",
            "description": "optional language parameter for i18n",
            "in": "query",
            "required": false,
            "default": "nl_NL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/available-offers": {
      "post": {
        "operationId": "AvailableOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Please use country code. E.g. NL (overrides Accept-Language country)",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Please use 'application/hal+json;profile=com.afklm.b2c.flightoffers.available-offers.v1;charset=utf8'",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.afklm.b2c.flightoffers.available-offers.v1;charset=utf8"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Please use 'KL' or 'AF'.",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response language and country expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Please use 'application/json'.",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AvailableOffers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "CreateAvailableOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "d",
            "type": "string",
            "description": "Encrypted Flight product ID. To get the value either call POST Available offers/lowest fare offers",
            "in": "query",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response language and country expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "EN-en"
          },
          {
            "name": "minimumAccuracy",
            "type": "string",
            "description": "Specifies the minimum requested accuracy. Will override the default minimum accuracy. Low minimum accuracy will enforce TripPlanner GetDayData to be used instead of FareFlexPricerUpsell",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/lowest-fare-offers": {
      "post": {
        "operationId": "LowestFareOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "expand-suggested-flights",
            "type": "string",
            "description": "Boolean value either 'true' or 'false' (For True: Detailed suggested flight details will be displyed in response; For false, Less flight details will be displayed in response).",
            "in": "query",
            "required": true,
            "default": "false"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Accepts tells the server what formats it is allowed to send back to you. e.g. 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response language and country expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "EN-en"
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Please use 'application/json'.",
            "in": "header",
            "required": true,
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/LowestFareOffers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "CreateLowestFareOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "d",
            "type": "string",
            "description": "Encrypted Flight product ID. To get the value either call POST Available offers/lowest fare offers",
            "in": "query",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response language and country expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          },
          {
            "name": "dateInterval",
            "type": "string",
            "description": "Format: YYYY-MM-DD/YYYY-MM-DD NB Currently only support for one dateInterval, so for RETURN offers only. Maximum 60 days interval interval if Type is 'Day'",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/reference-data": {
      "get": {
        "operationId": "ReferenceDataFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "country",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false,
            "default": "NL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "station",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "host",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response language and country expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/flight-products/{id}/tax-breakdown": {
      "get": {
        "operationId": "FP/TaxBreakdownFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "id",
            "type": "string",
            "description": "Encrypted Flight product ID. To get the value either call POST Available offers/lowest fare offers",
            "in": "path",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response language and country expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/flight-products/{id}/upsell-offers": {
      "get": {
        "operationId": "FP/UpsellOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "id",
            "type": "string",
            "description": "Encrypted Flight product ID. To get the value either call POST Available offers/lowest fare offers",
            "in": "path",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response language and country expected. e.g. nl-NL indicates language=nl (Dutch) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/upsell-offers": {
      "post": {
        "operationId": "UpsellOffersFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpsellOffers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/flight-products/{id}/ticket-conditions": {
      "get": {
        "operationId": "FP/TicketConditionsFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "id",
            "type": "string",
            "description": "Encrypted Flight product ID. To get the value either call POST Available offers/lowest fare offers",
            "in": "path",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/ticket-conditions/{tripIdentifier}": {
      "get": {
        "operationId": "TicketConditions(trip)FlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "tripIdentifier",
            "type": "string",
            "description": "Provide the information in this format, origin:departuredate@time:flightnumber:selligclass>destination Eg., AMS:20150130@1630:KL1234:Y>BCN",
            "in": "path",
            "required": true
          },
          {
            "name": "discountCode",
            "type": "string",
            "description": "Internet discount code",
            "in": "query",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "ticketedDate",
            "type": "string",
            "description": "Date of ticketing when requesting conditions for reservation.",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/ticket-conditions": {
      "get": {
        "operationId": "TicketConditions(shop)FlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "reservationId",
            "type": "string",
            "description": "Id of the conversation state where the selected Flight Product is stored in.",
            "in": "query",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept: */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightoffers/flight-products/{id}/related-products": {
      "get": {
        "operationId": "FP/RelatedProductsFlightOffers",
        "summary": "",
        "tags": [
          "Flight Offers"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Country",
            "type": "string",
            "description": "Specifies the country of end-user the consumer is requesting for",
            "in": "header",
            "required": true,
            "default": "NL"
          },
          {
            "name": "id",
            "type": "string",
            "description": "Encrypted Flight product ID. To get the value either call POST Available offers/lowest fare offers",
            "in": "path",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either 'AF' (AirFrance) or 'KL' (KLM)",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use 'Accept: application/hal+json or Accept:  */*'",
            "in": "header",
            "required": true,
            "default": "application/hal+json"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "Indicates the response country and language expected. e.g. nl-NL indicates language=nl (Ducth) &amp; country=NL (Netherlands)",
            "in": "header",
            "required": true,
            "default": "en-US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}": {
      "get": {
        "operationId": "AncillaryShopAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2 letter languagecode (for instance nl)",
            "in": "header",
            "required": true,
            "default": "nl"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/carts/0/products": {
      "post": {
        "operationId": "AddproducttoCartAncilliaryShops",
        "summary": "<b><u>Cart Integrity</u></b>  It has to be prevent...",
        "description": "<b><u>Cart Integrity</u></b>  It has to be prevented that duplicate products are added to the cart. Error PRDS 0014 is returned for:  <ul>  <li>Product with productClass 'seat', 'meal' or 'lounge' when Product with same productClass already in cart for: - same Passenger and for: - same Segment</li> </ul> <ul>  <li>Product with productClass 'luggage' when Product with same productClass already in cart for: - same Passenger and for: - same Connection</li> </ul> <ul>  <li>Product with productClass 'environmental' when Product with same productClass already in cart for: - same Passenger</li>  <li>Product with productClass 'FlexibilityProduct' or 'InsuranceProduct'  when Product with same productClass already in cart.</li> </ul> <ul>  <li>Product with productClass 'MissedFlightCoverProduct' when Product with same productClass already in cart for: - same Connection</li> </ul> <ul>  <li>Product with same productName for productClass 'Connectivity' already in cart for: - same Passenger and for: - same Segment </li> </ul> <b>Seating:</b> It also has to be prevented that not-available seats are added to the cart. Only seats with status FREE can be added to the cart. Error PRDS 0015 is returned (cart update failed).  <b>Connectivity:</b> Multiple of the same product for a passenger/segment can be added to the cart. The maximum is set to 100, when it it exceeds 100 return error PRDS 0017 - <i>Maximum number of same products for a passenger/segment in cart is 100. </i>",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddproducttoCart"
            }
          },
          {
            "name": "shopId",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteproductfromCartAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/AncillaryShop": {
      "get": {
        "operationId": "SelectedProductsAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=baggage": {
      "get": {
        "operationId": "OfferedProducts-BaggageAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter language code",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=Connectivity": {
      "get": {
        "operationId": "OfferedProducts-ConnectivityAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter language code",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=environmental": {
      "get": {
        "operationId": "OfferedProducts-EnvironmentalAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter language code",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=flexibility": {
      "get": {
        "operationId": "OfferedProducts-FlexibilityAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter language code",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=mfc": {
      "get": {
        "operationId": "OfferedProducts-MissedFlightCoverAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=InsuranceProduct": {
      "get": {
        "operationId": "OfferedProducts-InsuranceAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=lounge": {
      "get": {
        "operationId": "OfferedProducts-LoungeAncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=meal&productSubClass=aLaCarte": {
      "get": {
        "operationId": "OfferedProducts-Meal-(Special-ALC)AncilliaryShops",
        "summary": "",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subFilter",
            "type": "string",
            "description": "<ul>  <li>special</li> </ul> or <ul>  <li>aLaCarte</li> </ul>",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=seat&segmentId=110&passengerId=1000": {
      "get": {
        "operationId": "OfferedProducts-SeatAncilliaryShops",
        "summary": "Seat offer is only provided when eligibility opera...",
        "description": "Seat offer is only provided when eligibility operator CHOOSESEAT is true from LAP",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ancillaryshops/{shopId}/offers?productClass=ssr": {
      "get": {
        "operationId": "OfferedProducts-SSRAncilliaryShops",
        "summary": "SSR Offer is only provided when: <ul>  <li>There i...",
        "description": "SSR Offer is only provided when: <ul>  <li>There is at least one KL operated flight in the itinerary of the reservation</li>  <li>All flight segments in the itinerary have a confirmed status (HK)</li> </ul>",
        "tags": [
          "AncilliaryShops"
        ],
        "parameters": [
          {
            "name": "filter",
            "type": "string",
            "description": "the required productClass",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;profile=com.klm.api.ancillaryShop.v1_1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;profile=com.klm.api.ancillaryShop.v1_1"
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "2-letter languagecode",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "shopId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ratings": {
      "post": {
        "operationId": "CreateNewRatingRatings",
        "summary": "",
        "tags": [
          "Ratings"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "",
            "in": "header",
            "required": true,
            "default": "en"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateNewRating"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/lounges/{id}/accesses": {
      "post": {
        "operationId": "CreateAccessfortheLoungeLounge",
        "summary": "",
        "tags": [
          "Lounge"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-User-Context",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. This functionality is currently fairly limited, but it provides a way to propagate the Customer's information to propagate over all API's.  The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "TouchPoint",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "In case requested language in not supported (see Get/lounges for supported languages), by default, system will return response in 'English'",
            "in": "header",
            "required": true,
            "default": "EN"
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-Scope",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateAccessfortheLounge"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/lounges": {
      "get": {
        "operationId": "GetLoungesLounge",
        "summary": "",
        "tags": [
          "Lounge"
        ],
        "parameters": [
          {
            "name": "Lounge.name",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": false,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-User-Context",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. This functionality is currently fairly limited, but it provides a way to propagate the Customer's information to propagate over all API's.  The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "TouchPoint",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false
          },
          {
            "name": "Location.iataCode",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": false
          },
          {
            "name": "ServicePoint.id",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "X-Mashery-Oauth-Scope",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "LoungeDevice.id",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/lounges/{id}/accesses/{id2}": {
      "patch": {
        "operationId": "UpdateLoungeAccessResourceLounge",
        "summary": "",
        "tags": [
          "Lounge"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-User-Context",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. This functionality is currently fairly limited, but it provides a way to propagate the Customer's information to propagate over all API's.  The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "TouchPoint",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "In case requested language in not supported (see Get/lounges for supported languages), by default, system will return response in 'English'",
            "in": "header",
            "required": true,
            "default": "EN"
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-Scope",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id2",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/lounges/{id}/accesses/registrations": {
      "post": {
        "operationId": "CreateAccessandRegistrationfortheloungeLounge",
        "summary": "",
        "tags": [
          "Lounge"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-User-Context",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. This functionality is currently fairly limited, but it provides a way to propagate the Customer's information to propagate over all API's.  The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "TouchPoint",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "In case requested language in not supported (see Get/lounges for supported languages), by default, system will return response in 'English'",
            "in": "header",
            "required": true,
            "default": "EN"
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-Scope",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateAccessandRegistrationforthelounge"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/lounges/{id}/registrations": {
      "post": {
        "operationId": "CreateRegistrationfortheloungeLounge",
        "summary": "",
        "tags": [
          "Lounge"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-User-Context",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. This functionality is currently fairly limited, but it provides a way to propagate the Customer's information to propagate over all API's.  The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "TouchPoint",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false
          },
          {
            "name": "Accept-Language",
            "type": "string",
            "description": "In case requested language in not supported (see Get/lounges for supported languages), by default, system will return response in 'English'",
            "in": "header",
            "required": true,
            "default": "EN"
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": false
          },
          {
            "name": "X-Mashery-Oauth-Scope",
            "type": "string",
            "description": "This context is provided by Mashery. As long as the provided token remains valid, Mashery will inject the session scoped headers into the request before passing it on to the target API. The value of this header is determined and set by the AuthServ4Cust for B2C, and B2EAuthServer for B2E, at the moment of initial request of an OAuth2 Access Token. See example on Confluence https://confluence.eden.klm.com/display/KLMAPI/Context+Parameters",
            "in": "header",
            "required": false
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CreateRegistrationforthelounge"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightstatus/{flightId}": {
      "get": {
        "operationId": "FlightStatusFlightStatus",
        "summary": "Return flight status for the given {flightId}",
        "tags": [
          "Flight Status"
        ],
        "parameters": [
          {
            "name": "flightId",
            "type": "string",
            "description": "The ID of the flight. Example: KL0641+2016-10-14",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;version=com.afkl.operationalflight.v1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;version=com.afkl.operationalflight.v1"
          },
          {
            "name": "origin",
            "type": "string",
            "description": "Flight departing from IATA station code. Example: AMS",
            "in": "header",
            "required": false,
            "default": "AMS"
          },
          {
            "name": "expand",
            "type": "string",
            "description": "Trajectory information is returned for the given {flightId}. Supported string values: trajectory",
            "in": "header",
            "required": false,
            "default": "trajectory"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightstatus": {
      "get": {
        "operationId": "FlightsFlightStatus",
        "summary": "Return a list of flights matching the given parame...",
        "description": "Return a list of flights matching the given parameters",
        "tags": [
          "Flight Status"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Use application/hal+json;version=com.afkl.operationalflight.v1",
            "in": "header",
            "required": true,
            "default": "application/hal+json;version=com.afkl.operationalflight.v1"
          },
          {
            "name": "carrierCode",
            "type": "string",
            "description": "The carrier code. Example for Air France: AF",
            "in": "header",
            "required": false,
            "default": "AF"
          },
          {
            "name": "flightNumber",
            "type": "string",
            "description": "The flight number which is four digits long, when smaller prefix with zero. Example: 0641",
            "in": "header",
            "required": false
          },
          {
            "name": "operationalSuffix",
            "type": "string",
            "description": "This parameter is currently not operational, the operational suffix. Values can be: A, D.",
            "in": "header",
            "required": false
          },
          {
            "name": "origin",
            "type": "string",
            "description": "Flights departing from IATA station code. Example: AMS",
            "in": "header",
            "required": false
          },
          {
            "name": "destination",
            "type": "string",
            "description": "Flights arriving at IATA station code. Example: JFK",
            "in": "header",
            "required": false
          },
          {
            "name": "startRange",
            "type": "string",
            "description": "The start range using pattern: yyyy-MM-dd'T'HH:mm:ssZ",
            "in": "header",
            "required": false
          },
          {
            "name": "endRange",
            "type": "string",
            "description": "The end range using pattern: yyyy-MM-dd'T'HH:mm:ssZ",
            "in": "header",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/checkingroups/{id}": {
      "post": {
        "operationId": "AddPassengertoCheckinGroupCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either AF or KL",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application.",
            "in": "header",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddPassengertoCheckinGroup"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "operationId": "UpdatePassengerinformationCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "RetrieveAlternativeflightsforSSCOPCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/checkingroups/{id}/checkindocuments": {
      "get": {
        "operationId": "CheckinDocumentsOptionsCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "include",
            "type": "string",
            "description": "if only specific checkindocuments are required, specify the required documents. Without the include/exclude parameter all available/eligible checkin documents will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "view",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true,
            "default": "checkindocuments"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "exclude",
            "type": "string",
            "description": "if specific checkindocuments are not required, specify the not required documents. Without the include/exclude parameter all available/eligible checkin documents will be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "SendOutCheckinDocumentsCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SendOutCheckinDocuments"
            }
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/checkingroups": {
      "post": {
        "operationId": "IdentifyPassengerbyReservationCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either AF or KL",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "skip",
            "type": "string",
            "description": "This optional parameter is to be set when the Create Shop flow needs to be avoided.  This will save altea calls and improve performance. Without the shop link, consumers will not be able to do seat change/buy products.  when this parameter is not passed, default behavior is that shop will be created when applicable(after checkin).",
            "in": "query",
            "required": false,
            "default": "shop"
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/IdentifyPassengerbyReservation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "RetrieveReferenceDataCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "view",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true,
            "default": "referencedata"
          },
          {
            "name": "ReferenceData.role",
            "type": "string",
            "description": "view=referencedata can be extended by a specific type of reference data if not all are required. Example view=referencedata&amp;type=Title",
            "in": "query",
            "required": false,
            "default": "<specific type>"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either KL or AF",
            "in": "header",
            "required": true
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/checkingroups/{id}/checkindocuments/{id2}/boardingpasses/{id3}": {
      "get": {
        "operationId": "PassbookBoardingpassCheck-inAPI",
        "summary": "",
        "tags": [
          "Check-in API"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Accept header for passbook",
            "in": "header",
            "required": true,
            "default": "application/vnd.apple.pkpass"
          },
          {
            "name": "AFKL-TRAVEL-Host",
            "type": "string",
            "description": "Either AF OR KL",
            "in": "header",
            "required": true,
            "default": "KL"
          },
          {
            "name": "AFKL-TRAVEL-Client-Id",
            "type": "string",
            "description": "The unique Device Id of the consuming application. Applicable Check-In Kiosks.",
            "in": "header",
            "required": false
          },
          {
            "name": "AFKL-TRAVEL-Channel",
            "type": "string",
            "description": "The consuming channel - Internet Checkin/Kiosk/Mobile et..  The channel is also required for executing business rules, and Printing Boarding and other documents.  Business rules and database settings are channel specific. And also in the formats of the printed documents are different for each channel.",
            "in": "header",
            "required": true
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id2",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "id3",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/customers/{customerId}/flight-reservations": {
      "get": {
        "operationId": "FlightReservationsCustomers",
        "summary": "",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customerId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false
          }
[...]
