{
  "swagger": "2.0",
  "info": {
    "title": "NPB Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Nippon Professional Baseball API",
    "x-mashery-id": "3949"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.us",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.us/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NPB"
    }
  ],
  "paths": {
    "/npb-t1/games/{year}/{month}/{day}/boxscore.xml": {
      "get": {
        "operationId": "DailyBoxscoreNPB",
        "summary": "Obtain Daily Boxscores for NPB for a given season....",
        "description": "Obtain Daily Boxscores for NPB for a given season.",
        "tags": [
          "NPB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The season (year)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The month (format: MM)",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The day (format: DD)",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/npb-t1/games/{year}/{month}/{day}/schedule.xml": {
      "get": {
        "operationId": "DailyScheduleNPB",
        "summary": "Obtain Schedule for the NPB for a given day.",
        "tags": [
          "NPB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The season (year)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The month (format: MM)",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The day (format: DD)",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/npb-t1/leagues/hierarchy.xml": {
      "get": {
        "operationId": "LeagueHierarchyNPB",
        "summary": "Obtain list of NPB teams.",
        "tags": [
          "NPB"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/npb-t1/games/{year}/{season}/schedule.xml": {
      "get": {
        "operationId": "ScheduleNPB",
        "summary": "Obtain Schedule for the NPB for a given season.",
        "tags": [
          "NPB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The season (year)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "season",
            "type": "number",
            "description": "The part of the season(PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "query",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/npb-t1/leagues/{year}/{season}/standings.xml": {
      "get": {
        "operationId": "StandingsNPB",
        "summary": "Obtain Standings for the NPB for a given season.",
        "tags": [
          "NPB"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The season(year)",
            "in": "path",
            "required": true,
            "enum": [
              "2015",
              "2016"
            ]
          },
          {
            "name": "season",
            "type": "number",
            "description": "The part of the season(PRE, REG, PST)",
            "in": "path",
            "required": true,
            "enum": [
              "PRE",
              "REG",
              "PST"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}