{
  "swagger": "2.0",
  "info": {
    "title": "Metadata and Search APIs",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.rovicorp.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using these I/O Docs. For detailed information about any call or parameter, please see our complete documentation.  Note: For I/O Docs to work properly, you need to be logged into your developer account. You can sign in by clicking the link on the top right of this page. World-class metadata provides rich information about TV, music, and movies.",
    "x-mashery-id": "117"
  },
  "schemes": [
    "http"
  ],
  "host": "api.rovicorp.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.rovicorp.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Search"
    },
    {
      "name": "Recommendations"
    },
    {
      "name": "Video"
    },
    {
      "name": "Movie"
    },
    {
      "name": "Movie Release"
    },
    {
      "name": "Music Album"
    },
    {
      "name": "Music Composition"
    },
    {
      "name": "Music Performance"
    },
    {
      "name": "Music Release"
    },
    {
      "name": "Music Song"
    },
    {
      "name": "Name"
    },
    {
      "name": "Descriptor"
    }
  ],
  "paths": {
    "/search/v2.1/{endpoint}/search": {
      "get": {
        "operationId": "SearchSearch",
        "summary": "Searches titles or names in Rovi Cloud Services an...",
        "description": "Searches titles or names in Rovi Cloud Services and returns results in order of popularity and similarity to the search query. Fields in bold are required.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "endpoint",
            "type": "string",
            "description": "Database to search.",
            "in": "path",
            "required": true,
            "enum": [
              "music",
              "amgvideo",
              "video"
            ]
          },
          {
            "name": "entitytype",
            "type": "string",
            "description": "Type of content to search for.",
            "in": "query",
            "required": false,
            "enum": [
              "song",
              "album",
              "artist",
              "onetimeonly",
              "movie",
              "credit",
              "tvseries"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "The search string.",
            "in": "query",
            "required": true
          },
          {
            "name": "clu",
            "type": "string",
            "description": "For an \"endpoint\" of 'video,' the service ID of the television service that will be broadcasting the movie or TV show. For example, 360861. You can get service IDs from the TV Listings API with a Services request.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the start of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and earliest time is the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "end",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the end of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and latest time is two weeks after the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "rep",
            "type": "integer",
            "description": "If you specify \"clu\", you can specify here the maximum number of broadcasts to be returned for each movie or program. Default is 1. Results are returned in an 'availabilities' object.",
            "in": "query",
            "required": false,
            "default": 1
          },
          {
            "name": "facet",
            "type": "string",
            "description": "Whether to return a count of found items by entity type or by genre. Default is no count.",
            "in": "query",
            "required": false,
            "enum": [
              "type",
              "genre"
            ]
          },
          {
            "name": "filter",
            "type": "string",
            "description": "Returns only results with fields that meet your criteria. For example: 'decade:1990s,toneid:D++1292' (replace plus signs with spaces). For a list of possible filters and values, see the documentation page for Search.",
            "in": "query",
            "required": false
          },
          {
            "name": "include",
            "type": "string",
            "description": "Additional data to include in each result. For example: 'moods,themes'. For a list of possible values, see the documentation page for Search.",
            "in": "query",
            "required": false
          },
          {
            "name": "size",
            "type": "integer",
            "description": "Number of items you want to be returned. Default is 20.",
            "in": "query",
            "required": false,
            "default": 20
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"size\" parameters to paginate available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the response language. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/search/v2.1/{endpoint}/singlestagesearch": {
      "get": {
        "operationId": "Single-StageSearchSearch",
        "summary": "Returns search results for titles or names as a us...",
        "description": "Returns search results for titles or names as a user is typing, sorted in order of popularity and the priorities specified in the request filters. Fields in bold are required.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "endpoint",
            "type": "string",
            "description": "Database to search.",
            "in": "path",
            "required": true,
            "enum": [
              "music",
              "amgvideo",
              "video"
            ]
          },
          {
            "name": "entitytype",
            "type": "string",
            "description": "Type of content to search for.",
            "in": "query",
            "required": false,
            "enum": [
              "song",
              "album",
              "artist",
              "onetimeonly",
              "movie",
              "credit",
              "tvseries"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "The search string.",
            "in": "query",
            "required": true
          },
          {
            "name": "clu",
            "type": "string",
            "description": "For an \"endpoint\" of 'video,' the service ID of the television service that will be broadcasting the movie or TV show. For example, 360861. You can get service IDs from the TV Listings API with a Services request.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the start of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and earliest time is the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "end",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the end of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and latest time is two weeks after the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "rep",
            "type": "integer",
            "description": "If you specify \"clu\", you can specify here the maximum number of broadcasts to be returned for each movie or program. Default is 1. Results are returned in an 'availabilities' object.",
            "in": "query",
            "required": false,
            "default": 1
          },
          {
            "name": "facet",
            "type": "string",
            "description": "Whether to return a count of found items by entity type or by genre. Default is no count.",
            "in": "query",
            "required": false,
            "enum": [
              "type",
              "genre"
            ]
          },
          {
            "name": "filter",
            "type": "string",
            "description": "Returns only results with fields that meet your criteria. For example: 'decade:1990s,toneid:D++1292'. For a list of possible filters and values, see the documentation page for Single-Stage Search.",
            "in": "query",
            "required": false
          },
          {
            "name": "include",
            "type": "string",
            "description": "Additional data to include in each result. For example: 'moods,themes'. For a list of possible values, see the documentation page for Single-Stage Search.",
            "in": "query",
            "required": false
          },
          {
            "name": "size",
            "type": "integer",
            "description": "Number of items you want to be returned. Default is 20.",
            "in": "query",
            "required": false,
            "default": 20
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"size\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/search/v2.1/{endpoint}/filterbrowse": {
      "get": {
        "operationId": "FilterBrowseSearch",
        "summary": "Locates content in Rovi Cloud Services based on fi...",
        "description": "Locates content in Rovi Cloud Services based on field-level criteria and returns results listed in order of relevance. Fields in bold are required.",
        "tags": [
          "Search"
        ],
        "parameters": [
          {
            "name": "endpoint",
            "type": "string",
            "description": "Database to search.",
            "in": "path",
            "required": true,
            "enum": [
              "music",
              "amgvideo",
              "video"
            ]
          },
          {
            "name": "entitytype",
            "type": "string",
            "description": "Type of content to search for.",
            "in": "query",
            "required": false,
            "enum": [
              "song",
              "album",
              "artist",
              "onetimeonly",
              "movie",
              "credit",
              "tvseries"
            ]
          },
          {
            "name": "facet",
            "type": "string",
            "description": "Whether to return a count of found items by entity type or by genre. Default is no count.",
            "in": "query",
            "required": false,
            "enum": [
              "type",
              "genre"
            ]
          },
          {
            "name": "filter",
            "type": "string",
            "description": "Returns only results with fields that meet your criteria. For example: 'decade:1990s,toneid:D++1292' (replace plus signs with spaces). For a list of possible filters and values, see the documentation page for FilterBrowse.",
            "in": "query",
            "required": false
          },
          {
            "name": "clu",
            "type": "string",
            "description": "For an \"endpoint\" of 'video,' the service ID of the television service that will be broadcasting the movie or TV show. For example, 360861. You can get service IDs from the TV Listings API with a Services request.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the start of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and earliest time is the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "end",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the end of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and latest time is two weeks after the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "rep",
            "type": "integer",
            "description": "If you specify \"clu\", you can specify here the maximum number of broadcasts to be returned for each movie or program. Default is 1. Results are returned in an 'availabilities' object.",
            "in": "query",
            "required": false,
            "default": 1
          },
          {
            "name": "include",
            "type": "string",
            "description": "Additional data to include in each result. For example: 'moods,themes'. For a list of possible values, see the documentation page for FilterBrowse.",
            "in": "query",
            "required": false
          },
          {
            "name": "size",
            "type": "integer",
            "description": "Number of items you want to be returned. Default is 20.",
            "in": "query",
            "required": false,
            "default": 20
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"size\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/recs/v2.1/{endpoint}/similar": {
      "get": {
        "operationId": "SimilarRecommendations",
        "summary": "Returns similar items in order of similarity and p...",
        "description": "Returns similar items in order of similarity and popularity. Please specify a value for albumid, trackid, amgvideoid, cosmoprogramid, or nameid. Fields in bold are required.",
        "tags": [
          "Recommendations"
        ],
        "parameters": [
          {
            "name": "endpoint",
            "type": "string",
            "description": "Database to search.",
            "in": "path",
            "required": true,
            "enum": [
              "music",
              "amgvideo",
              "video"
            ]
          },
          {
            "name": "entitytype",
            "type": "string",
            "description": "Type of content to search for.",
            "in": "query",
            "required": false,
            "enum": [
              "song",
              "album",
              "artist",
              "onetimeonly",
              "movie",
              "credit",
              "tvseries"
            ]
          },
          {
            "name": "albumid",
            "type": "string",
            "description": "Rovi Music ID for an album, consisting of the prefix MW followed by a ten-digit number. For example: MW0000111184. For a request with an album ID, specify an \"endpoint\" of 'music' and an \"entitytype\" of 'album'.",
            "in": "query",
            "required": false
          },
          {
            "name": "trackid",
            "type": "string",
            "description": "Rovi Music ID for a song, consisting of the prefix MT followed by a ten-digit number. For example: MT0009472348. For a request with a track ID, specify an \"endpoint\" of 'music' and an \"entitytype\" of 'song'.",
            "in": "query",
            "required": false
          },
          {
            "name": "amgvideoid",
            "type": "string",
            "description": "AMG database ID for a movie or TV series, consisting of a ten-character string that starts with V and is followed by 9 digits with leading spaces. For example: V+++352199 (replace plus signs with spaces). For a request with an amgvideo ID, specify an \"endpoint\" of 'amgvideo' and an \"entitytype\" of 'movie' or 'tvseries'.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoprogramid",
            "type": "string",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. For a request with a Cosmo ID, specify an \"endpoint\" of video and an \"entitytype\" of 'movie' or 'tvseries'.",
            "in": "query",
            "required": false
          },
          {
            "name": "nameid",
            "type": "string",
            "description": "Rovi Music ID for a person or group, consisting of the prefix MN followed by a ten-digit number. For example: MN0000187478. For a request with a name ID, specify an \"endpoint\" of 'music' and an \"entitytype\" of 'artist'.",
            "in": "query",
            "required": false
          },
          {
            "name": "filter",
            "type": "string",
            "description": "Returns only results with fields that meet your criteria. For example: 'releaseyear>:2009,ratingid:3'. For a list of possible filters and values, see the documentation page for Recommendations Similar.",
            "in": "query",
            "required": false
          },
          {
            "name": "clu",
            "type": "string",
            "description": "For an \"endpoint\" of 'video,' the service ID of the television service that will be broadcasting the movie or TV show. For example, 360861. You can get service IDs from the TV Listings API with a Services request.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the start of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and earliest time is the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "end",
            "type": "string",
            "description": "If you specify \"clu\", you can specify here the end of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and latest time is two weeks after the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "rep",
            "type": "integer",
            "description": "If you specify \"clu\", you can specify here the maximum number of broadcasts to be returned for each movie or program. Default is 1. Results are returned in an 'availabilities' object.",
            "in": "query",
            "required": false,
            "default": 1
          },
          {
            "name": "size",
            "type": "integer",
            "description": "Number of items you want to be returned. Default is 20.",
            "in": "query",
            "required": false,
            "default": 20
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/info": {
      "get": {
        "operationId": "InfoVideo",
        "summary": "Returns information about a movie, TV series, or T...",
        "description": "Returns information about a movie, TV series, or TV program. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "serviceid",
            "type": "string",
            "description": "Database ID of a television service for an area. For example: 360861. Returns a URL to a schedule of upcoming broadcasts of the program, if available. If you also specify 'schedule' in \"include\", the schedule returns. You can get service IDs from the TV Listings API with a Services request.",
            "in": "query",
            "required": false
          },
          {
            "name": "inprogress",
            "type": "boolean",
            "description": "If you specify \"serviceid\" for a schedule of upcoming broadcasts of the program, you can specify here whether shows that are in progress at \"starttime\" are included in the schedule.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceid",
            "type": "string",
            "description": "If you specify \"serviceid\" for a schedule of broadcasts of the program, you can limit here the channel sources, and thus the channels. For example: 5,436,429,696,873,994,1274,9426,14633,14635,27080,34396. You can get channel source IDs from the TV Listings API with GridSchedule.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceexclude",
            "type": "string",
            "description": "If you specify \"sourceid\" to select the television sources to be returned, you can specify here attributes of the channels in the source ID list that you want to eliminate from the channels returned: HD, PPV, Music.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceinclude",
            "type": "string",
            "description": "If you specify \"sourceid\" to select the television sources to be returned, you can specify here an attribute of the channels in the source ID list that you want to include in the list of channels returned: HD, PPV, Music.",
            "in": "query",
            "required": false,
            "enum": [
              "HD",
              "PPV",
              "Music"
            ]
          },
          {
            "name": "starttime",
            "type": "string",
            "description": "If you specify \"serviceid\" for a schedule of broadcasts of the program, you can specify here the start of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and earliest time is the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "duration",
            "type": "integer",
            "description": "If you specify \"serviceid\" for a schedule of upcoming broadcasts of the program, you can specify here the number of minutes the schedule will cover.",
            "in": "query",
            "required": false,
            "default": 20160
          },
          {
            "name": "titletype",
            "type": "integer",
            "description": "If you specify \"serviceid\" for a schedule of upcoming broadcasts of the program, you can specify here the type of program title to return as described in the TitleType table. For details, see the documentation of Video/Info",
            "in": "query",
            "required": false
          },
          {
            "name": "include",
            "type": "string",
            "description": "Additional data to include in each result. For example: 'moods,themes'. For a list of possible values, see the documentation page for Video/Info.",
            "in": "query",
            "required": false
          },
          {
            "name": "formatid",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the size and file format of returned images. Select the format IDs you want from the Format IDs table and specify multiple format IDs in a comma-separated list, like this: 36,44,51. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagesize",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the image sizes to be returned. Images are not dynamically resized to fit, so only available sizes are returned. Specify an exact size in width x height format, like this: 332x419. Specify a size range in width x height format, like this: 60-80x80-100. Specify multiple sizes in a comma-separated list, like this: 332x419,60-80x80-100. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagesort",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the sort order of returned images. Images can be sorted in ascending or descending order by the following properties: width, height, formatid, author, copyrightowner, url, imageorder, zoomlevel. Specify a descending sort order with a minus (-) sign, like this: -width. Specify a multilevel sort in highest-to-lowest order in a comma-separated list, like this: formatid,-height,width.",
            "in": "query",
            "required": false
          },
          {
            "name": "imagetypeid",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the image type of returned images. Select the IDs you want from the Image Type IDs table. Specify multiple image type IDs in a comma-separated list, like this: 4,6. To change the order in which image types are returned, use the imagesort parameter with the imageorder value. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagecount",
            "type": "integer",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the number of images to be returned. If fewer images are available, the available images are returned without error. The default is 25.",
            "in": "query",
            "required": false
          },
          {
            "name": "imageoffset",
            "type": "integer",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the number of images at the start of the response to skip. The default is zero.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and synopses, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/season/{season}/episode/{episode}/info": {
      "get": {
        "operationId": "EpisodeInfoVideo",
        "summary": "Returns information about an episode in a televisi...",
        "description": "Returns information about an episode in a television series. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "integer",
            "description": "Season number of the television series.",
            "in": "path",
            "required": true
          },
          {
            "name": "episode",
            "type": "integer",
            "description": "Episode number of the season.",
            "in": "path",
            "required": true
          },
          {
            "name": "video",
            "type": "string",
            "description": "Title of the television series or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "serviceid",
            "type": "string",
            "description": "Database ID of a television service for an area. For example: 360861. Returns a URL to a schedule of upcoming broadcasts of the program, if available. If you also specify 'schedule' in \"include\", the schedule returns. You can get service IDs from the TV Listings API with a Services request.",
            "in": "query",
            "required": false
          },
          {
            "name": "inprogress",
            "type": "boolean",
            "description": "If you specify \"serviceid\" for a schedule of upcoming broadcasts of the program, you can specify here whether shows that are in progress at \"starttime\" are included in the schedule.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceid",
            "type": "string",
            "description": "If you specify \"serviceid\" for a schedule of broadcasts of the program, you can limit here the channel sources, and thus the channels. For example: 5,436,429,696,873,994,1274,9426,14633,14635,27080,34396. You can get channel source IDs from the TV Listings API with GridSchedule.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceexclude",
            "type": "string",
            "description": "If you specify \"sourceid\" to select the television sources to be returned, you can specify here attributes of the channels in the source ID list that you want to eliminate from the channels returned: HD, PPV, Music.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceinclude",
            "type": "string",
            "description": "If you specify \"sourceid\" to select the television sources to be returned, you can specify here an attribute of the channels in the source ID list that you want to include in the list of channels returned: HD, PPV, Music.",
            "in": "query",
            "required": false,
            "enum": [
              "HD",
              "PPV",
              "Music"
            ]
          },
          {
            "name": "starttime",
            "type": "string",
            "description": "If you specify \"serviceid\" for a schedule of broadcasts of the program, you can specify here the start of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and earliest time is the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "duration",
            "type": "integer",
            "description": "If you specify \"serviceid\" for a schedule of upcoming broadcasts of the program, you can specify here the number of minutes the schedule will cover.",
            "in": "query",
            "required": false,
            "default": 20160
          },
          {
            "name": "titletype",
            "type": "integer",
            "description": "If you specify \"serviceid\" for a schedule of upcoming broadcasts of the program, you can specify here the type of program title to return as described in the TitleType table.",
            "in": "query",
            "required": false
          },
          {
            "name": "include",
            "type": "string",
            "description": "Additional data to include in each result. For example: 'moods,themes'. For a list of possible values, see the documentation page for Video/Season/Episode/Info.",
            "in": "query",
            "required": false
          },
          {
            "name": "formatid",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the size and file format of returned images. Select the format IDs you want from the Format IDs table and specify multiple format IDs in a comma-separated list, like this: 36,44,51. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagesize",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the image sizes to be returned. Images are not dynamically resized to fit, so only available sizes are returned. Specify an exact size in width x height format, like this: 332x419. Specify a size range in width x height format, like this: 60-80x80-100. Specify multiple sizes in a comma-separated list, like this: 332x419,60-80x80-100. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagesort",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the sort order of returned images. Images can be sorted in ascending or descending order by the following properties: width, height, formatid, author, copyrightowner, url, imageorder, zoomlevel. Specify a descending sort order with a minus (-) sign, like this: -width. Specify a multilevel sort in highest-to-lowest order in a comma-separated list, like this: formatid,-height,width.",
            "in": "query",
            "required": false
          },
          {
            "name": "imagetypeid",
            "type": "string",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the image type of returned images. Select the IDs you want from the Image Type IDs table. Specify multiple image type IDs in a comma-separated list, like this: 4,6. To change the order in which image types are returned, use the \"imagesort\" parameter with the 'imageorder' value. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagecount",
            "type": "integer",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the number of images to be returned. If fewer images are available, the available images are returned without error. The default is 25.",
            "in": "query",
            "required": false
          },
          {
            "name": "imageoffset",
            "type": "integer",
            "description": "If you specify 'images' in the \"include\" parameter, you can specify here the number of images at the start of the response to skip. The default is zero.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and descriptions, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/associatedalbums": {
      "get": {
        "operationId": "AssociatedAlbumsVideo",
        "summary": "Returns a list of albums associated with a movie, ...",
        "description": "Returns a list of albums associated with a movie, series, or program. Note: Access to this data is governed by subscription level. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "The ID for the television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and descriptions, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/associatedtracks": {
      "get": {
        "operationId": "AssociatedTracksVideo",
        "summary": "Returns a list of songs associated with a movie, s...",
        "description": "Returns a list of songs associated with a movie, series, or program. Note: Access to this data is governed by subscription level. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "The ID for the television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and descriptions, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/awards": {
      "get": {
        "operationId": "AwardsVideo",
        "summary": "Returns awards a program has been nominated for or...",
        "description": "Returns awards a program has been nominated for or won. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and descriptions, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/cast": {
      "get": {
        "operationId": "CastVideo",
        "summary": "Returns information about cast members with links ...",
        "description": "Returns information about cast members with links to images. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "ID for the television program used by the i-Guideâ¢ interactive TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "filteradultcontents",
            "type": "boolean",
            "description": "Whether to filter out cast members who are tagged as Adult.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States}.",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/clip": {
      "get": {
        "operationId": "ClipVideo",
        "summary": "Returns data you can use to construct links to tra...",
        "description": "Returns data you can use to construct links to trailers and video clips. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/crew": {
      "get": {
        "operationId": "CrewVideo",
        "summary": "Returns information about crew members with links ...",
        "description": "Returns information about crew members with links to images. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "filteradultcontents",
            "type": "boolean",
            "description": "Whether to filter out cast members who are tagged as Adult.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States}.",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/event": {
      "get": {
        "operationId": "EventVideo",
        "summary": "Returns information about a televised sporting eve...",
        "description": "Returns information about a televised sporting event. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 14363849. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States}.",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/images": {
      "get": {
        "operationId": "ImagesVideo",
        "summary": "Returns links to movie and television program imag...",
        "description": "Returns links to movie and television program images. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "formatid",
            "type": "string",
            "description": "Size and file format of returned images. Select the format IDs you want from the Format IDs table and specify multiple format IDs in a comma-separated list, like this: 36,44,51. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagesize",
            "type": "string",
            "description": "Image sizes to be returned. Images are not dynamically resized to fit, so only available sizes are returned. Specify an exact size in width x height format, like this: 332x419. Specify a size range in width x height format, like this: 60-80x80-100. Specify multiple sizes in a comma-separated list, like this: 332x419,60-80x80-100. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagesort",
            "type": "string",
            "description": "Sort order of returned images. Images can be sorted in ascending or descending order by the following properties: width, height, formatid, author, copyrightowner, url, imageorder, zoomlevel. Specify a descending sort order with a minus (-) sign, like this: -width. Specify a multilevel sort in highest-to-lowest order in a comma-separated list, like this: formatid,-height,width.",
            "in": "query",
            "required": false
          },
          {
            "name": "imagetypeid",
            "type": "string",
            "description": "Image type of returned images. Select the IDs you want from the Image Type IDs table. Specify multiple image type IDs in a comma-separated list, like this: 4,6. To change the order in which image types are returned, use the imagesort parameter with the imageorder value. Note: Returned images meet a combination of all specified filters (formatid, imagesize, and imagetypeid).",
            "in": "query",
            "required": false
          },
          {
            "name": "imagecount",
            "type": "integer",
            "description": "Number of images to be returned. If fewer images are available, the available images are returned without error. The default is 25.",
            "in": "query",
            "required": false
          },
          {
            "name": "imageoffset",
            "type": "integer",
            "description": "Number of images at the start of the response to skip. The default is zero. Use the \"imagecount\" and \"imageoffset\" parameters to paginate the available results.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/keywords": {
      "get": {
        "operationId": "KeywordsVideo",
        "summary": "Returns keywords and characteristics that apply to...",
        "description": "Returns keywords and characteristics that apply to a movie, TV series, or TV program. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "ID for the television program used by the i-Guideâ¢ interactive TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and descriptions, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/moods": {
      "get": {
        "operationId": "MoodsVideo",
        "summary": "Returns terms that describe expressive characteris...",
        "description": "Returns terms that describe expressive characteristics of a movie or television program, along with weightings that reflect the relative strength of each term. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States}.",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/parentalratings": {
      "get": {
        "operationId": "ParentalRatingsVideo",
        "summary": "Returns the parental ratings for a movie or televi...",
        "description": "Returns the parental ratings for a movie or television program. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/related": {
      "get": {
        "operationId": "RelatedVideo",
        "summary": "Returns movies, series, seasons, and programs that...",
        "description": "Returns movies, series, seasons, and programs that have a relationship with a movie, series, season, or program specified in the request. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and descriptions, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/review": {
      "get": {
        "operationId": "ReviewVideo",
        "summary": "Returns a professional review of a movie or progra...",
        "description": "Returns a professional review of a movie or program. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 62991. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country of the language of the response. This request currently supports only 'US' (United States).",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of the response data. This request currently supports only 'en' (English).",
            "in": "query",
            "required": false,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/schedule": {
      "get": {
        "operationId": "ScheduleVideo",
        "summary": "Returns a list of recent and upcoming television b...",
        "description": "Returns a list of recent and upcoming television broadcasts of a movie or program. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "video",
            "type": "string",
            "description": "Title of the movie, television program, or television series, or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the movie or television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
            "description": "An ID for a television program used by the i-Guideâ¢ interactive digital cable TV program guide.",
            "in": "query",
            "required": false
          },
          {
            "name": "serviceid",
            "type": "string",
            "description": "Database ID of a television service for an area. For example: 360861. You can get service IDs from the TV Listings API with a Services request.",
            "in": "query",
            "required": true
          },
          {
            "name": "inprogress",
            "type": "boolean",
            "description": "Whether shows that are in progress at starttime are included in the schedule.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceid",
            "type": "string",
            "description": "The channel sources, and thus the channels, to be returned. For example: 5,436,429,696,873,994,1274,9426,14633,14635,27080,34396. You can get channel source IDs from the TV Listings API with GridSchedule.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceexclude",
            "type": "string",
            "description": "If you specify \"sourceid\" to select the television sources to be returned, you can specify here attributes of the channels in the source ID list that you want to eliminate from the channels returned: HD, PPV, Music.",
            "in": "query",
            "required": false
          },
          {
            "name": "sourceinclude",
            "type": "string",
            "description": "If you specify \"sourceid\" to select the television sources to be returned, you can specify here an attribute of the channels in the source ID list that you want to include in the list of channels returned: HD, PPV, Music.",
            "in": "query",
            "required": false,
            "enum": [
              "HD",
              "PPV",
              "Music"
            ]
          },
          {
            "name": "starttime",
            "type": "string",
            "description": "Start of the schedule in UTC time in YYYYMMDDhhmmssZ format. For example 20120315140000Z. Default and earliest time is the time of the request.",
            "in": "query",
            "required": false
          },
          {
            "name": "duration",
            "type": "integer",
            "description": "Number of minutes the schedule will cover, from 1 to 20160. Default is 20160 (14 days).",
            "in": "query",
            "required": false,
            "default": 20160
          },
          {
            "name": "titletype",
            "type": "integer",
            "description": "Type of program title to return as described in the TitleType table.",
            "in": "query",
            "required": false
          },
          {
            "name": "copytexttype",
            "type": "string",
            "description": "Type of description you want returned for the movie, program, or TV series. For a short description, for example, choose 5. For a long description, choose 1. See the video/schedule documentation for other values.",
            "in": "query",
            "required": false
          },
          {
            "name": "count",
            "type": "integer",
            "description": "Number of items you want to be returned. The default is zero, which returns all items after the \"offset\".",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Number of items at the start of the response to skip. The default is zero. Use the \"offset\" and \"count\" parameters to paginate the available results.",
            "in": "query",
            "required": false,
            "default": 0
          },
          {
            "name": "country",
            "type": "string",
            "description": "Country for the language that is specified for the \"language\" parameter, stated as a two-character ISO 3166 country code.",
            "in": "query",
            "required": false,
            "enum": [
              "US",
              "AR",
              "AT",
              "BE",
              "BM",
              "BO",
              "CA",
              "CH",
              "CL",
              "CO",
              "CR",
              "DE",
              "DK",
              "DO",
              "EC",
              "ES",
              "FI",
              "FR",
              "GB",
              "GT",
              "HN",
              "IE",
              "IT",
              "JM",
              "LU",
              "MX",
              "NI",
              "NL",
              "NO",
              "PA",
              "PE",
              "PL",
              "PT",
              "SE",
              "SV",
              "VE"
            ]
          },
          {
            "name": "language",
            "type": "string",
            "description": "Language of program titles, keywords, and descriptions, stated as a two-character ISO 639 language code.",
            "in": "query",
            "required": false,
            "enum": [
              "en",
              "da",
              "de",
              "es",
              "fi",
              "fl",
              "fr",
              "it",
              "nl",
              "no",
              "pl",
              "pt",
              "sv"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Format of the returned data: JSON or XML. Default is JSON.",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/data/v1.1/video/season/{season}/info": {
      "get": {
        "operationId": "SeasonInfoVideo",
        "summary": "Returns information about a season of a TV series....",
        "description": "Returns information about a season of a TV series. Please set a value for video, cosmoid, or iguideid. Fields in bold are required.",
        "tags": [
          "Video"
        ],
        "parameters": [
          {
            "name": "season",
            "type": "integer",
            "description": "Season number of the television series.",
            "in": "path",
            "required": true
          },
          {
            "name": "video",
            "type": "string",
            "description": "Title of the television series or keywords from the title.",
            "in": "query",
            "required": false
          },
          {
            "name": "cosmoid",
            "type": "integer",
            "description": "Cosmo database ID for the television series. For example: 7903. Cosmo is a database of television information.",
            "in": "query",
            "required": false
          },
          {
            "name": "iguideid",
            "type": "string",
[...]
