{
  "swagger": "2.0",
  "info": {
    "title": "Soccer Other Trial v3",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Soccer Other API",
    "x-mashery-id": "6546"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/soccer-t3/other",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Soccer Other v3"
    }
  ],
  "paths": {
    "/{language_code}/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsSoccerOtherv3",
        "summary": "Provides match information and scoring, for all ma...",
        "description": "Provides match information and scoring, for all matches played on a given day",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleSoccerOtherv3",
        "summary": "provides match played on a certain day",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/schedules/live/results{format}": {
      "get": {
        "operationId": "LiveResultsSoccerOtherv3",
        "summary": "Provides results for live matches",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/matches/{match_id}/summary{format}": {
      "get": {
        "operationId": "MatchSummarySoccerOtherv3",
        "summary": "Provides match summary, including team statistics ...",
        "description": "Provides match summary, including team statistics and lineups",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:8602026"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/matches/{match_id}/timeline{format}": {
      "get": {
        "operationId": "MatchTimelineSoccerOtherv3",
        "summary": "Provides match information and scoring, including ...",
        "description": "Provides match information and scoring, including team statistics and a play-by-play",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:8602026"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/matches/{match_id}/lineups{format}": {
      "get": {
        "operationId": "MatchLineupsSoccerOtherv3",
        "summary": "Provides lineups for a given match",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:9612793"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/matches/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "MatchProbabilitiesSoccerOtherv3",
        "summary": "Provides match probabilities",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:8602026"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/matches/{match_id}/funfacts{format}": {
      "get": {
        "operationId": "MatchFunFactsSoccerOtherv3",
        "summary": "Provides Fun Facts for a match",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:9612793"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/{mapping}/v2_v3_id{format}": {
      "get": {
        "operationId": "PlayerMappingSoccerOtherv3",
        "summary": "Displays Player and Team IDs from the Soccer v2 AP...",
        "description": "Displays Player and Team IDs from the Soccer v2 API and the converted IDs that are used in the Soccer v3 API.",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "mapping",
            "type": "string",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "enum": [
              "teams",
              "players"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileSoccerOtherv3",
        "summary": "Provides player information",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player, found in the Team Profile",
            "in": "path",
            "required": true,
            "default": "sr:player:142990"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/leaders{format}": {
      "get": {
        "operationId": "PlayerRankingsSoccerOtherv3",
        "summary": "Provides player rankings for goals, assists, point...",
        "description": "Provides player rankings for goals, assists, points, cards, and own goals in a tournament",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a Soccer Tournament, found in the Tournaments",
            "in": "path",
            "required": true,
            "default": "sr:tournament:173"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfileSoccerOtherv3",
        "summary": "Team information, including player roster informat...",
        "description": "Team information, including player roster information",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Tournament Information",
            "in": "path",
            "required": true,
            "default": "sr:competitor:45341"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/teams/{team_id}/statistics{format}": {
      "get": {
        "operationId": "TeamStatisticsSoccerOtherv3",
        "summary": "Provides team's statistics",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Tournament for Soccer v3",
            "in": "path",
            "required": true,
            "default": "sr:tournament:174"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Tournament Information",
            "in": "path",
            "required": true,
            "default": "sr:competitor:7944"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/teams/{team_id}/versus/{team_id_2}/matches{format}": {
      "get": {
        "operationId": "Head2HeadSoccerOtherv3",
        "summary": "Provides information on team versus team results",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "The ID of the team, found in the Tournament Information",
            "in": "path",
            "required": true,
            "default": "sr:competitor:45341"
          },
          {
            "name": "team_id_2",
            "type": "string",
            "description": "Team id",
            "in": "path",
            "required": true,
            "default": "sr:competitor:199318"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments{format}": {
      "get": {
        "operationId": "TournamentsSoccerOtherv3",
        "summary": "Provides the list of Soccer tournaments",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoSoccerOtherv3",
        "summary": "Provides information for Soccer tournaments",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a Soccer Tournament, found in the Tournaments",
            "in": "path",
            "required": true,
            "default": "sr:tournament:174"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/standings{format}": {
      "get": {
        "operationId": "TournamentStandingsSoccerOtherv3",
        "summary": "Provides the standings for Soccer tournaments",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a Soccer Tournament, found in the Tournaments",
            "in": "path",
            "required": true,
            "default": "sr:tournament:174"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/live_standings{format}": {
      "get": {
        "operationId": "TournamentLiveStandingsSoccerOtherv3",
        "summary": "Provides the live standings for Soccer tournaments...",
        "description": "Provides the live standings for Soccer tournaments",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a Soccer Tournament, found in the Tournaments",
            "in": "path",
            "required": true,
            "default": "sr:tournament:174"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsSoccerOtherv3",
        "summary": "Provides the results for Soccer tournaments",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID a Soccer Tournament, found in the Tournaments",
            "in": "path",
            "required": true,
            "default": "sr:tournament:174"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleSoccerOtherv3",
        "summary": "Provides the schedule for Soccer Other tournaments...",
        "description": "Provides the schedule for Soccer Other tournaments",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a Soccer Tournament, found in the Tournaments",
            "in": "path",
            "required": true,
            "default": "sr:tournament:174"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{language_code}/tournaments/{tournament_id}/seasons{format}": {
      "get": {
        "operationId": "TournamentSeasonsSoccerOtherv3",
        "summary": "Provides info for previous seasons for a given tou...",
        "description": "Provides info for previous seasons for a given tournament",
        "tags": [
          "Soccer Other v3"
        ],
        "parameters": [
          {
            "name": "language_code",
            "type": "string",
            "description": "The Language Group for Soccer v3",
            "in": "path",
            "required": true,
            "default": "en"
          },
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The ID of a Soccer Tournament, found in the Tournaments",
            "in": "path",
            "required": true,
            "default": "sr:tournament:174"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}