{
  "swagger": "2.0",
  "info": {
    "title": "Ad Media Services",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test Macy's API using our easy to use Interactive Console! You can also view more detailed  written documentation. (Note: You must attain approval for an API key for one of the services in the drop-down menu below before being able to use the Macy's API Console.) Ad Media Services",
    "x-mashery-id": "332"
  },
  "schemes": [
    "http"
  ],
  "host": "api.macys.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Please contact us if you are having trouble getting access to keys: Click Here",
    "url": "http://developer.macys.com/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Ad Media Services"
    }
  ],
  "paths": {
    "/v2/admedia/category": {
      "get": {
        "operationId": "CategoryAdMediaAdMediaServices",
        "summary": "This service allows you to retrieve ad media speci...",
        "description": "This service allows you to retrieve ad media specific to a product category ID. Please click here for the static documentation.",
        "tags": [
          "Ad Media Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON.",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "categoryId",
            "type": "string",
            "description": "Specify one or more category Id's separated by comma. (Required) Ex. 27058",
            "in": "query",
            "required": true,
            "default": "27058"
          },
          {
            "name": "channel",
            "type": "string",
            "description": "Channel can be either SITE, REGISTRY (Required) Ex. SITE",
            "in": "query",
            "required": false,
            "enum": [
              "SITE",
              "REGISTRY"
            ]
          },
          {
            "name": "secure",
            "type": "boolean",
            "description": "By default this is set to false. If set to true links in response will be https NOT http. (Optional) Ex. true",
            "in": "query",
            "required": false
          },
          {
            "name": "callback",
            "type": "string",
            "description": "If sent, the format is JSONP (JSON with Padding) with the callback returned with the JSON response. You can put anything in the callback parameter and whatever you send is returned. (Optional) Ex. magicofmacysapi",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/admedia/global": {
      "get": {
        "operationId": "GlobalAdMediaAdMediaServices",
        "summary": "This service allows you to retrieve global ad medi...",
        "description": "This service allows you to retrieve global ad media, that is Ad's that are not for a specific Product Category ID.  You must know what the Media Pool Name of the Ad is to retrieve the Ad using this call. Please click here for the static documentation.",
        "tags": [
          "Ad Media Services"
        ],
        "parameters": [
          {
            "name": "accept",
            "type": "string",
            "description": "Output format as JSON or XML (Required) Ex. JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json",
              "application/xml"
            ]
          },
          {
            "name": "version",
            "type": "string",
            "description": "API Version (New customers should use v3)(Required) Ex. v3",
            "in": "path",
            "required": true,
            "enum": [
              "v3",
              "v2"
            ]
          },
          {
            "name": "poolName",
            "type": "string",
            "description": "Media Pool Name. Specify one or more pool names separated by comma Ex. GLOBALFOOTER,ABOVE_NAV_POOL.(Required) Ex. GLOBALFOOTER",
            "in": "query",
            "required": true,
            "default": "GLOBALFOOTER,ABOVE_NAV_POOL"
          },
          {
            "name": "secure",
            "type": "boolean",
            "description": "By default this is set to false. If set to true links in response will be https NOT http (Optional) Ex. true",
            "in": "query",
            "required": false
          },
          {
            "name": "callback",
            "type": "string",
            "description": "If sent, the format is JSONP (JSON with Padding) with the callback returned with the JSON response. You can put anything in the callback parameter and whatever you send is returned.(Optional) Ex. magicofmacysapi",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}