{
  "swagger": "2.0",
  "info": {
    "version": "",
    "title": "Transport for London Unified API",
    "description": "TODO: Add Description",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "api.tfl.gov.uk",
  "basePath": "/",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Line/Mode/tube/Disruption/2014-02-02/to/2014-03-03": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line Disruptions By Mode + Date_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line by Id_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road/All/Disruption/TIMS-37727": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_Road Disruption by Id_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/940GZZLUASL/DirectionTo/940GZZLUALP": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Direction to StopPoint_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Route/Sequence/inbound": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Route Sequence by LineId Inbound_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint by Radius_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "stopTypes",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "includeDistances",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "useStopPointHierarchy",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "modes",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road/A2/Disruption": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_Road Disruption by Corridor Id and Bounds_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "swLat",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "swLon",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "neLat",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "neLon",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Bakerloo/Timetable/9400ZZLUBST": {
      "get": {
        "description": "",
        "tags": [
          "Timetables"
        ],
        "operationId": "Get_Timetable From Station (inbound)_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Bakerloo/Timetable/9400ZZLUBST/to/9400ZZLUBST": {
      "get": {
        "description": "",
        "tags": [
          "Timetables"
        ],
        "operationId": "Get_Timetable From Station To Station_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/940GZZLUASL/FareTo/940GZZLUVIC": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Fares_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_All Corridors_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road/A2/Status/2014-02-02/to/2014-03-03": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_Corridor Status by Date_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Search": {
      "get": {
        "description": "Matches the API call made by the Search box on the Single Fare Finder pages on the website.",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Search from Fares pages_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "modes",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "faresOnly",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Route/Sequence/outbound": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Route Sequence by LineId Outbound_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Route": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Route by LineId_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Place/Meta/Categories": {
      "get": {
        "description": "",
        "tags": [
          "Place"
        ],
        "operationId": "Get_Places Property Categories Metadata_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Search/king": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Search_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "modesFilter",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "oysterOnly",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Arrivals/940GZZLULVIC": {
      "get": {
        "description": "",
        "tags": [
          "Arrivals"
        ],
        "operationId": "Get_Arrivals by Stop and Direction and Destination_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "destinationStationId",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Place": {
      "get": {
        "description": "",
        "tags": [
          "Place"
        ],
        "operationId": "Get_Places by Radius (StopPoint types)_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "lon",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "radius",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "categories",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "includeDistances",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "includeChildren",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/BikePoint": {
      "get": {
        "description": "",
        "tags": [
          "BikePoint"
        ],
        "operationId": "Get_All BikePoints_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Mode/dlr/Disruption": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Disruptions by Mode_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road/All/Disruption": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_All Road Disruptions by Severity_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "severities",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/940GZZLUASL/Route": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Serves Routes_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Status/2014-02-22/to/2014-03-22": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Future Status + Detail_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "detail",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Bakerloo/Timetable/9400ZZLUBST/inbound": {
      "get": {
        "description": "",
        "tags": [
          "Timetables"
        ],
        "operationId": "Get_Timetable PDF_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Disruption": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line Disruptions_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Mode/dlr": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint by Mode_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Bakerloo/Timetable/940GZZLUBST": {
      "get": {
        "description": "",
        "tags": [
          "Timetables"
        ],
        "operationId": "Get_Timetable From Station (outbound)_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/940GZZLUASL/CanReachOnLine/victoria": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Can Be Reached by Line_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/940GZZLUASL/Disruption": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Disruptions with hierarchy_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "getFamily",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/journey/journeyresults/51.501,-0.123/to/n225nb": {
      "get": {
        "description": "Specifying the start or end of a journey using a lattitude/longitudeor post codes is also supported, in any combination.",
        "tags": [
          "Journey Planner"
        ],
        "operationId": "Get_Journey Planning Geo to Postcode_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Mode/tube/Status/2014-02-02/to/2014-03-01": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Status by Mode + Dates + Detail_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "detail",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Status": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Status_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Status/10": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Status By Severity_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Mode/tube/Status": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Status by Mode + Detail_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "detail",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "boolean"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/940GZZLUASL/Arrivals": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Arrivals_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Mode/tube": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line by Mode_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/StopPoints": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_StopPoints by Line_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Place/JamCams_00001.01606": {
      "get": {
        "description": "",
        "tags": [
          "Place"
        ],
        "operationId": "Get_Places by Id_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Status/2014-02-02/to/2014-03-01": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Future Status_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road/A2": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_Corridor by Id_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Search": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line Search_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "modes",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Mode/national-rail/Route": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Route by Mode_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Place/Meta/PlaceTypes": {
      "get": {
        "description": "",
        "tags": [
          "Place"
        ],
        "operationId": "Get_Places PlaceTypes Metadata_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/940GZZLUEAC": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint by Id_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Meta/modes": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Modes Metadata_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/journey/journeyresults/1000266/to/1000013": {
      "get": {
        "description": "This example is showing the results of Westminster underground station to Bank underground station, the inputs are the identifiers of those stations. 3 possible journeys are returned which include all legs of the journey, the stations that the journey goes through, any reported disruptions along the route, the duration of each leg, the instructions for the customer, departure and arrival time for each leg, the mode of transport, the geographical route as a line string of lat/lons, and more.",
        "tags": [
          "Journey Planner"
        ],
        "operationId": "Get_Journey Planning with StopPoint ICS code_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Arrivals": {
      "get": {
        "description": "",
        "tags": [
          "Arrivals"
        ],
        "operationId": "Get_Arrivals_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/9400ZZLUVIC1": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint by Id (Platform level)_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Meta/Modes": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line Meta Modes_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Meta/categories": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint Categories Metadata_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/victoria/Disruption/2014-02-02/to/2014-03-03": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line Disruptions By Date_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Type/NaptanCoachBay": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint by Type_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/BikePoint/BikePoints_1": {
      "get": {
        "description": "",
        "tags": [
          "BikePoint"
        ],
        "operationId": "Get By Id_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/journey/journeyresults/westminster/to/bank": {
      "get": {
        "description": "Journey planner supports many parameters to help find the right journey given a large number of options relating to mode of transport and accessibility preferences, date/time of travel. These examples use the default preferences. In the first example the results returned offer a selection of options for start and end stations as the inputs \"bank\" and \"westminster\" are not precise enough given the number possible locations that include the words Westminster and Bank. ",
        "tags": [
          "Journey Planner"
        ],
        "operationId": "Get_Journey Planning disambiguation_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road/A2/Status": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_Corridor Status_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Road/A2/Disruption/2014-02-02/to/2014-03-03": {
      "get": {
        "description": "",
        "tags": [
          "Road"
        ],
        "operationId": "Get_Road Disruption by Corridor Id and Date_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/StopPoint/Meta/stoptypes": {
      "get": {
        "description": "",
        "tags": [
          "StopPoint"
        ],
        "operationId": "Get_StopPoint StopTypes Metadata_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    },
    "/Line/Mode/tube/Disruption": {
      "get": {
        "description": "",
        "tags": [
          "Line"
        ],
        "operationId": "Get_Line Disruptions By Mode_",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "x-is-map": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": []
      }
    }
  }
}