{
  "swagger": "2.0",
  "info": {
    "title": "Travel Advisory API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.tugo.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs.",
    "x-mashery-id": "995"
  },
  "schemes": [
    "http"
  ],
  "host": "api.tugo.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.tugo.com/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "country"
    }
  ],
  "paths": {
    "/countries": {
      "get": {
        "operationId": "countriescountry",
        "summary": "returns a list of countries",
        "tags": [
          "country"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/countries/{country}": {
      "get": {
        "operationId": "countrycountry",
        "summary": "return information about the country",
        "tags": [
          "country"
        ],
        "parameters": [
          {
            "name": "country",
            "type": "string",
            "description": "the country you want information for",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}