{
  "swagger": "2.0",
  "info": {
    "title": "NBCU News API",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.nbcuniversal.com/iodocs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our easy to use Interactive console!  You can also view our static documentation\n(Note: You have to Register and Request for an api key to try one of the services listed). This End point retrieves all the stories matching the search term submitted with the request.",
    "x-mashery-id": "6931"
  },
  "schemes": [
    "http"
  ],
  "host": "api.nbcuniversal.com",
  "basePath": "/v1/resources",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.nbcuniversal.com/iodocs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "StoryTypeahead"
    }
  ],
  "paths": {
    "/story-sem-suggests": {
      "get": {
        "operationId": "NewsStoryTypeahead",
        "summary": "News Story API",
        "tags": [
          "StoryTypeahead"
        ],
        "parameters": [
          {
            "name": "rssearchTerm",
            "type": "string",
            "description": "Search Term",
            "in": "query",
            "required": true,
            "default": "tru"
          },
          {
            "name": "rsdesc",
            "type": "string",
            "description": "Desc",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "rstags",
            "type": "string",
            "description": "Desc",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "rsboost",
            "type": "string",
            "description": "Desc",
            "in": "query",
            "required": true,
            "default": "hilary+clinton,+donald+trump,+campaign,+decision+2016"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}