{
  "swagger": "2.0",
  "info": {
    "title": "MySports Cloud",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using our API Explorer below. Simply enter the parameters and click “Try It”. You must have a valid API key for this to work (go to My Account to request a key if you do not already have one). You can also view our written documentation for Online Maps, Online Routing, Online Traffic Flow, Online Traffic Incidents and MySports Cloud. MySports Cloud is a suite of web services designed for developers to create web and mobile applications around the user data stored in MySports Cloud. Users must explicitly authorize access to their data before it can be accessed. These web services are accessed via RESTful API",
    "x-mashery-id": "4552"
  },
  "schemes": [
    "http"
  ],
  "host": "api.tomtom.com",
  "basePath": "/mysports",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.tomtom.com/io-docs/member"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Version Control and Health Checks"
    },
    {
      "name": "Activities"
    }
  ],
  "paths": {
    "/status": {
      "get": {
        "operationId": "GetStatusVersionControlandHealthChecks",
        "summary": "End to end health check",
        "tags": [
          "Version Control and Health Checks"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "GetSupportedVersionsVersionControlandHealthChecks",
        "summary": "Returns a list of currenly supported API versions",
        "tags": [
          "Version Control and Health Checks"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1/activity": {
      "get": {
        "operationId": "GetActivityListActivities",
        "summary": "Returns a list of start-stop activities for a user...",
        "description": "Returns a list of start-stop activities for a user.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "authorization",
            "type": "string",
            "description": "Authorization header of the form 'Bearer <access token>'",
            "in": "header",
            "required": true,
            "default": "Bearer access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1/resource/{resource_id}": {
      "get": {
        "operationId": "GetActivityActivities",
        "summary": "Returns the appropriate resource in an appropriate...",
        "description": "Returns the appropriate resource in an appropriate form.",
        "tags": [
          "Activities"
        ],
        "parameters": [
          {
            "name": "authorization",
            "type": "string",
            "description": "Authorization header of the form 'Bearer <access token>'",
            "in": "header",
            "required": true,
            "default": "Bearer access_token"
          },
          {
            "name": "resource_id",
            "type": "string",
            "description": "Activity identifier to retrieve",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Query parameter (temporary)",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}