{
  "swagger": "2.0",
  "info": {
    "title": "Sandbox API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Our interactive API tool allows you to easily make calls against the Production and Sandbox Carvoyant environments. ",
    "x-mashery-id": "2238"
  },
  "schemes": [
    "http"
  ],
  "host": "api.carvoyant.com",
  "basePath": "/",
  "externalDocs": {
    "description": "For detailed documentation about using our API, please see here here.If you want to make calls against the Sandbox environment, select \"Sandbox API\" from the following drop down.",
    "url": "http://docs.carvoyant.com"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Vehicle"
    },
    {
      "name": "DataPoint"
    },
    {
      "name": "DataSet"
    },
    {
      "name": "Trip"
    },
    {
      "name": "EventSubscription"
    },
    {
      "name": "GeoFence Subscription"
    },
    {
      "name": "IgnitionStatus Subscription"
    },
    {
      "name": "Waypoint Subscription"
    },
    {
      "name": "LowBattery Subscription"
    },
    {
      "name": "NumericDataKey Subscription"
    },
    {
      "name": "TimeOfDay Subscription"
    },
    {
      "name": "TroubleCode Subscription"
    },
    {
      "name": "EventNotification"
    },
    {
      "name": "GeoFence EventNotification"
    },
    {
      "name": "IgnitionStatus EventNotification"
    },
    {
      "name": "LowBattery EventNotification"
    },
    {
      "name": "NumericDataKey EventNotification"
    },
    {
      "name": "TimeOfDay EventNotification"
    },
    {
      "name": "TroubleCode EventNotification"
    }
  ],
  "paths": {
    "/account/": {
      "post": {
        "operationId": "NewAccountAccount",
        "summary": "Create a new Carvoyant account.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "ListAccountsAccount",
        "summary": "",
        "tags": [
          "Account"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/account/{accountId}": {
      "post": {
        "operationId": "UpdateAccountAccount",
        "summary": "Update a Carvoyant account.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "AccountDetailsAccount",
        "summary": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteAccountAccount",
        "summary": "THIS IS A PERMANENT OPERATION.  All account inform...",
        "description": "THIS IS A PERMANENT OPERATION.  All account information will be deleted and will be unrecoverable.  Use Caution.",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/account/{accountId}/accessToken": {
      "post": {
        "operationId": "CreateAccessTokenAccount",
        "summary": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "operationId": "GetAccessTokensAccount",
        "summary": "",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "accountId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/": {
      "get": {
        "operationId": "ListVehiclesVehicle",
        "summary": "",
        "tags": [
          "Vehicle"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "NewVehicleVehicle",
        "summary": "",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}": {
      "get": {
        "operationId": "VehicleDetailsVehicle",
        "summary": "",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "UpdateVehicleVehicle",
        "summary": "",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteVehicleVehicle",
        "summary": "",
        "tags": [
          "Vehicle"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/data/": {
      "get": {
        "operationId": "ListDataPointsDataPoint",
        "summary": "",
        "tags": [
          "DataPoint"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "key",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "mostRecentOnly",
            "type": "boolean",
            "description": "",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "sortOrder",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "searchLimit",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "searchOffset",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/dataSet/": {
      "get": {
        "operationId": "ListDataSetsDataSet",
        "summary": "",
        "tags": [
          "DataSet"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "sortOrder",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "searchLimit",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "searchOffset",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "NewDataSetDataSet",
        "summary": "",
        "tags": [
          "DataSet"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/dataSet/{dataSetId}": {
      "get": {
        "operationId": "DataSetDetailsDataSet",
        "summary": "",
        "tags": [
          "DataSet"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "dataSetId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/trip/": {
      "get": {
        "operationId": "ListTripsTrip",
        "summary": "",
        "tags": [
          "Trip"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "includeData",
            "type": "boolean",
            "description": "",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "startTime",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "endTime",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "sortOrder",
            "type": "string",
            "description": "",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "searchLimit",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          },
          {
            "name": "searchOffset",
            "type": "number",
            "description": "",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/trip/{tripId}": {
      "get": {
        "operationId": "TripDetailsTrip",
        "summary": "",
        "tags": [
          "Trip"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "tripId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/": {
      "get": {
        "operationId": "ListEventSubscriptionsEventSubscription",
        "summary": "",
        "tags": [
          "EventSubscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/{subscriptionId}": {
      "get": {
        "operationId": "EventSubscriptionDetailsEventSubscription",
        "summary": "",
        "tags": [
          "EventSubscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteSubscriptionEventSubscription",
        "summary": "",
        "tags": [
          "EventSubscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/geoFence": {
      "get": {
        "operationId": "ListGeoFenceSubscriptionsGeoFenceSubscription",
        "summary": "",
        "tags": [
          "GeoFence Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateGeoFenceSubscriptionGeoFenceSubscription",
        "summary": "",
        "tags": [
          "GeoFence Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/geoFence/{subscriptionId}": {
      "get": {
        "operationId": "GeoFenceSubscriptionDetailsGeoFenceSubscription",
        "summary": "",
        "tags": [
          "GeoFence Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteGeoFenceSubscriptionGeoFenceSubscription",
        "summary": "",
        "tags": [
          "GeoFence Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/ignitionStatus": {
      "get": {
        "operationId": "ListIgnitionStatusSubscriptionsIgnitionStatusSubscription",
        "summary": "",
        "tags": [
          "IgnitionStatus Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateIgnitionStatusSubscriptionIgnitionStatusSubscription",
        "summary": "",
        "tags": [
          "IgnitionStatus Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/ignitionStatus/{subscriptionId}": {
      "get": {
        "operationId": "IgnitionStatusSubscriptionDetailsIgnitionStatusSubscription",
        "summary": "",
        "tags": [
          "IgnitionStatus Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteIgnitionStatusSubscriptionIgnitionStatusSubscription",
        "summary": "",
        "tags": [
          "IgnitionStatus Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/waypoint": {
      "get": {
        "operationId": "ListWaypointSubscriptionsWaypointSubscription",
        "summary": "",
        "tags": [
          "Waypoint Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateWaypointSubscriptionWaypointSubscription",
        "summary": "",
        "tags": [
          "Waypoint Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/waypoint/{subscriptionId}": {
      "get": {
        "operationId": "WaypointSubscriptionDetailsWaypointSubscription",
        "summary": "",
        "tags": [
          "Waypoint Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteWaypointSubscriptionWaypointSubscription",
        "summary": "",
        "tags": [
          "Waypoint Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/lowBattery": {
      "get": {
        "operationId": "ListLowBatterySubscriptionsLowBatterySubscription",
        "summary": "",
        "tags": [
          "LowBattery Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateLowBatterySubscriptionLowBatterySubscription",
        "summary": "",
        "tags": [
          "LowBattery Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/lowBattery/{subscriptionId}": {
      "get": {
        "operationId": "LowBatterySubscriptionDetailsLowBatterySubscription",
        "summary": "",
        "tags": [
          "LowBattery Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteLowBatterySubscriptionLowBatterySubscription",
        "summary": "",
        "tags": [
          "LowBattery Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/numericDataKey": {
      "get": {
        "operationId": "ListNumericDataKeySubscriptionsNumericDataKeySubscription",
        "summary": "",
        "tags": [
          "NumericDataKey Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateNumericDataKeySubscriptionNumericDataKeySubscription",
        "summary": "",
        "tags": [
          "NumericDataKey Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/numericDataKey/{subscriptionId}": {
      "get": {
        "operationId": "NumericDataKeySubscriptionDetailsNumericDataKeySubscription",
        "summary": "",
        "tags": [
          "NumericDataKey Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteNumericDataKeySubscriptionNumericDataKeySubscription",
        "summary": "",
        "tags": [
          "NumericDataKey Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/timeOfDay": {
      "get": {
        "operationId": "ListTimeOfDaySubscriptionsTimeOfDaySubscription",
        "summary": "",
        "tags": [
          "TimeOfDay Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateTimeOfDaySubscriptionTimeOfDaySubscription",
        "summary": "",
        "tags": [
          "TimeOfDay Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/timeOfDay/{subscriptionId}": {
      "get": {
        "operationId": "TimeOfDaySubscriptionDetailsTimeOfDaySubscription",
        "summary": "",
        "tags": [
          "TimeOfDay Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteTimeOfDaySubscriptionTimeOfDaySubscription",
        "summary": "",
        "tags": [
          "TimeOfDay Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/troubleCode": {
      "get": {
        "operationId": "ListTroubleCodeSubscriptionsTroubleCodeSubscription",
        "summary": "",
        "tags": [
          "TroubleCode Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "operationId": "CreateTroubleCodeSubscriptionTroubleCodeSubscription",
        "summary": "",
        "tags": [
          "TroubleCode Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/troubleCode/{subscriptionId}": {
      "get": {
        "operationId": "TroubleCodeSubscriptionDetailsTroubleCodeSubscription",
        "summary": "",
        "tags": [
          "TroubleCode Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "operationId": "DeleteTroubleCodeSubscriptionTroubleCodeSubscription",
        "summary": "",
        "tags": [
          "TroubleCode Subscription"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification": {
      "get": {
        "operationId": "ListEventNotificationsEventNotification",
        "summary": "",
        "tags": [
          "EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/{notificationId}": {
      "get": {
        "operationId": "EventNotificationDetailsEventNotification",
        "summary": "",
        "tags": [
          "EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "notificationId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventSubscription/{subscriptionId}/eventNotification": {
      "get": {
        "operationId": "EventNotificationBySubscriptionEventNotification",
        "summary": "",
        "tags": [
          "EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "subscriptionId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/geoFence": {
      "get": {
        "operationId": "ListGeoFenceNotificationsGeoFenceEventNotification",
        "summary": "",
        "tags": [
          "GeoFence EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/geoFence/{notificationId}": {
      "get": {
        "operationId": "GeoFenceNotificationDetailsGeoFenceEventNotification",
        "summary": "",
        "tags": [
          "GeoFence EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "notificationId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/ignitionStatus": {
      "get": {
        "operationId": "ListIgnitionStatusNotificationsIgnitionStatusEventNotification",
        "summary": "",
        "tags": [
          "IgnitionStatus EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/ignitionStatus/{notificationId}": {
      "get": {
        "operationId": "IgnitionStatusNotificationDetailsIgnitionStatusEventNotification",
        "summary": "",
        "tags": [
          "IgnitionStatus EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "notificationId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/lowBattery": {
      "get": {
        "operationId": "ListLowBatteryNotificationsLowBatteryEventNotification",
        "summary": "",
        "tags": [
          "LowBattery EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/lowBattery/{notificationId}": {
      "get": {
        "operationId": "LowBatteryNotificationDetailsLowBatteryEventNotification",
        "summary": "",
        "tags": [
          "LowBattery EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "notificationId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/numericDataKey": {
      "get": {
        "operationId": "ListNumericDataKeyNotificationsNumericDataKeyEventNotification",
        "summary": "",
        "tags": [
          "NumericDataKey EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/numericDataKey/{notificationId}": {
      "get": {
        "operationId": "NumericDataKeyNotificationDetailsNumericDataKeyEventNotification",
        "summary": "",
        "tags": [
          "NumericDataKey EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "notificationId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/timeOfDay": {
      "get": {
        "operationId": "ListTimeOfDayNotificationsTimeOfDayEventNotification",
        "summary": "",
        "tags": [
          "TimeOfDay EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/timeOfDay/{notificationId}": {
      "get": {
        "operationId": "TimeOfDayNotificationDetailsTimeOfDayEventNotification",
        "summary": "",
        "tags": [
          "TimeOfDay EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "notificationId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/troubleCode": {
      "get": {
        "operationId": "ListTroubleCodeNotificationsTroubleCodeEventNotification",
        "summary": "",
        "tags": [
          "TroubleCode EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/vehicle/{vehicleId}/eventNotification/troubleCode/{notificationId}": {
      "get": {
        "operationId": "TroubleCodeNotificationDetailsTroubleCodeEventNotification",
        "summary": "",
        "tags": [
          "TroubleCode EventNotification"
        ],
        "parameters": [
          {
            "name": "vehicleId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "notificationId",
            "type": "number",
            "description": "",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}