{
  "swagger": "2.0",
  "info": {
    "version": "2010-05-08",
    "x-release": "v4",
    "title": "AWS Identity and Access Management",
    "description": "<fullname>AWS Identity and Access Management</fullname> <p>AWS Identity and Access Management (IAM) is a web service that you can use to manage users and user permissions under your AWS account. This guide provides descriptions of IAM actions that you can call programmatically. For general information about IAM, see <a href=\"http://aws.amazon.com/iam/\">AWS Identity and Access Management (IAM)</a>. For the user guide for IAM, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/\">Using IAM</a>. </p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to IAM and AWS. For example, the SDKs take care of tasks such as cryptographically signing requests (see below), managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a> page. </p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to IAM. However, you can also use the IAM Query API to make direct calls to the IAM web service. To learn more about the IAM Query API, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making Query Requests</a> in the <i>Using IAM</i> guide. IAM supports GET and POST requests for all actions. That is, the API does not require you to use GET for some actions and POST for others. However, GET requests are subject to the limitation size of a URL. Therefore, for operations that require larger sizes, use a POST request. </p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed using an access key ID and a secret access key. We strongly recommend that you do not use your AWS account access key ID and secret access key for everyday work with IAM. You can use the access key ID and secret access key for an IAM user or you can use the AWS Security Token Service to generate temporary security credentials and use those to sign requests.</p> <p>To sign requests, we recommend that you use <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. If you have an existing application that uses Signature Version 2, you do not have to update it to use Signature Version 4. However, some operations now require Signature Version 4. The documentation for operations that require version 4 indicate this requirement. </p> <p> <b>Additional Resources</b> </p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a>. This topic provides general information about the types of credentials used for accessing AWS. </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html\">IAM Best Practices</a>. This topic presents a list of suggestions for using the IAM service to help secure your AWS resources. </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing AWS API Requests</a>. This set of topics walk you through the process of signing a request using an access key ID and secret access key. </p> </li> </ul>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/iam/"
  },
  "host": "iam.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UploadSigningCertificate",
        "description": "<p>Uploads an X.509 signing certificate and associates it with the specified IAM user. Some AWS services use X.509 signing certificates to validate requests that are signed with a corresponding private key. When you upload the certificate, its default status is <code>Active</code>.</p> <p>If the <code>UserName</code> field is not specified, the IAM user name is determined implicitly based on the AWS access key ID used to sign the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users.</p> <note> <p>Because the body of a X.509 certificate can be large, you should use POST rather than GET when calling <code>UploadSigningCertificate</code>. For information about setting up signatures and authorization through the API, go to <a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing AWS API Requests</a> in the <i>AWS General Reference</i>. For general information about using the Query API with IAM, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making Query Requests</a> in the <i>IAM User Guide</i>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UploadSigningCertificateResponse"
            }
          },
          "400": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "401": {
            "description": "EntityAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/EntityAlreadyExistsException"
            }
          },
          "402": {
            "description": "MalformedCertificateException",
            "schema": {
              "$ref": "#/definitions/MalformedCertificateException"
            }
          },
          "403": {
            "description": "InvalidCertificateException",
            "schema": {
              "$ref": "#/definitions/InvalidCertificateException"
            }
          },
          "404": {
            "description": "DuplicateCertificateException",
            "schema": {
              "$ref": "#/definitions/DuplicateCertificateException"
            }
          },
          "405": {
            "description": "NoSuchEntityException",
            "schema": {
              "$ref": "#/definitions/NoSuchEntityException"
            }
          },
          "406": {
            "description": "ServiceFailureException",
            "schema": {
              "$ref": "#/definitions/ServiceFailureException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadSigningCertificateRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AccessKey": {
      "type": "object",
      "required": [
        "UserName",
        "AccessKeyId",
        "Status",
        "SecretAccessKey"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "The name of the IAM user that the access key is associated with."
        },
        "AccessKeyId": {
          "$ref": "#/definitions/accessKeyIdType",
          "description": "The ID for this access key."
        },
        "Status": {
          "$ref": "#/definitions/statusType",
          "description": "The status of the access key. <code>Active</code> means the key is valid for API calls, while <code>Inactive</code> means it is not. "
        },
        "SecretAccessKey": {
          "$ref": "#/definitions/accessKeySecretType",
          "description": "The secret key used to sign requests."
        },
        "CreateDate": {
          "$ref": "#/definitions/dateType",
          "description": "The date when the access key was created."
        }
      },
      "description": "<p>Contains information about an AWS access key.</p> <p> This data type is used as a response element in the <a>CreateAccessKey</a> and <a>ListAccessKeys</a> actions. </p> <note> <p>The <code>SecretAccessKey</code> value is returned only in response to <a>CreateAccessKey</a>. You can get a secret access key only when you first create an access key; you cannot recover the secret access key later. If you lose a secret access key, you must create a new access key.</p> </note>"
    },
    "AccessKeyLastUsed": {
      "type": "object",
      "required": [
        "LastUsedDate",
        "ServiceName",
        "Region"
      ],
      "properties": {
        "LastUsedDate": {
          "$ref": "#/definitions/dateType",
          "description": "<p>The date and time, in <a href=\"http://www.iso.org/iso/iso8601\">ISO 8601 date-time format</a>, when the access key was most recently used. This field is null when:</p> <ul> <li> <p>The user does not have an access key.</p> </li> <li> <p>An access key exists but has never been used, at least not since IAM started tracking this information on April 22nd, 2015.</p> </li> <li> <p>There is no sign-in data associated with the user</p> </li> </ul>"
        },
        "ServiceName": {
          "$ref": "#/definitions/stringType",
          "description": "<p>The name of the AWS service with which this access key was most recently used. This field is null when:</p> <ul> <li> <p>The user does not have an access key.</p> </li> <li> <p>An access key exists but has never been used, at least not since IAM started tracking this information on April 22nd, 2015.</p> </li> <li> <p>There is no sign-in data associated with the user</p> </li> </ul>"
        },
        "Region": {
          "$ref": "#/definitions/stringType",
          "description": "<p>The AWS region where this access key was most recently used. This field is null when:</p> <ul> <li> <p>The user does not have an access key.</p> </li> <li> <p>An access key exists but has never been used, at least not since IAM started tracking this information on April 22nd, 2015.</p> </li> <li> <p>There is no sign-in data associated with the user</p> </li> </ul> <p>For more information about AWS regions, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions and Endpoints</a> in the Amazon Web Services General Reference.</p>"
        }
      },
      "description": "<p>Contains information about the last time an AWS access key was used.</p> <p>This data type is used as a response element in the <a>GetAccessKeyLastUsed</a> action.</p>"
    },
    "AccessKeyMetadata": {
      "type": "object",
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "The name of the IAM user that the key is associated with."
        },
        "AccessKeyId": {
          "$ref": "#/definitions/accessKeyIdType",
          "description": "The ID for this access key."
        },
        "Status": {
          "$ref": "#/definitions/statusType",
          "description": "The status of the access key. <code>Active</code> means the key is valid for API calls; <code>Inactive</code> means it is not."
        },
        "CreateDate": {
          "$ref": "#/definitions/dateType",
          "description": "The date when the access key was created."
        }
      },
      "description": "<p>Contains information about an AWS access key, without its secret key.</p> <p>This data type is used as a response element in the <a>ListAccessKeys</a> action.</p>"
    },
    "ActionNameListType": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ActionNameType"
      }
    },
    "ActionNameType": {
      "type": "string",
      "minLength": 3,
      "maxLength": 128
    },
    "AddClientIDToOpenIDConnectProviderRequest": {
      "type": "object",
      "required": [
        "OpenIDConnectProviderArn",
        "ClientID"
      ],
      "properties": {
        "OpenIDConnectProviderArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the IAM OpenID Connect (OIDC) provider resource to add the client ID to. You can get a list of OIDC provider ARNs by using the <a>ListOpenIDConnectProviders</a> action."
        },
        "ClientID": {
          "$ref": "#/definitions/clientIDType",
          "description": "The client ID (also known as audience) to add to the IAM OpenID Connect provider resource."
        }
      }
    },
    "AddRoleToInstanceProfileRequest": {
      "type": "object",
      "required": [
        "InstanceProfileName",
        "RoleName"
      ],
      "properties": {
        "InstanceProfileName": {
          "$ref": "#/definitions/instanceProfileNameType",
          "description": "<p>The name of the instance profile to update.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name of the role to add.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "AddUserToGroupRequest": {
      "type": "object",
      "required": [
        "GroupName",
        "UserName"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name of the group to update.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the user to add.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "AttachGroupPolicyRequest": {
      "type": "object",
      "required": [
        "GroupName",
        "PolicyArn"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name (friendly name, not ARN) of the group to attach the policy to.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "AttachRolePolicyRequest": {
      "type": "object",
      "required": [
        "RoleName",
        "PolicyArn"
      ],
      "properties": {
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name (friendly name, not ARN) of the role to attach the policy to.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "AttachUserPolicyRequest": {
      "type": "object",
      "required": [
        "UserName",
        "PolicyArn"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name (friendly name, not ARN) of the IAM user to attach the policy to.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "AttachedPolicy": {
      "type": "object",
      "properties": {
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "The friendly name of the attached policy."
        },
        "PolicyArn": {
          "$ref": "#/definitions/arnType"
        }
      },
      "description": "<p>Contains information about an attached policy.</p> <p>An attached policy is a managed policy that has been attached to a user, group, or role. This data type is used as a response element in the <a>ListAttachedGroupPolicies</a>, <a>ListAttachedRolePolicies</a>, <a>ListAttachedUserPolicies</a>, and <a>GetAccountAuthorizationDetails</a> actions. </p> <p>For more information about managed policies, refer to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>Using IAM</i> guide. </p>"
    },
    "BootstrapDatum": {
      "type": "string",
      "format": "password"
    },
    "ChangePasswordRequest": {
      "type": "object",
      "required": [
        "OldPassword",
        "NewPassword"
      ],
      "properties": {
        "OldPassword": {
          "$ref": "#/definitions/passwordType",
          "description": "The IAM user's current password."
        },
        "NewPassword": {
          "$ref": "#/definitions/passwordType",
          "description": "<p>The new password. The new password must conform to the AWS account's password policy, if one exists.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of almost any printable ASCII character from the space (\\u0020) through the end of the ASCII character range (\\u00FF). You can also include the tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D) characters. Although any of these characters are valid in a password, note that many tools, such as the AWS Management Console, might restrict the ability to enter certain characters because they have special meaning within that tool.</p>"
        }
      }
    },
    "ColumnNumber": {
      "type": "integer"
    },
    "ContextEntry": {
      "type": "object",
      "properties": {
        "ContextKeyName": {
          "$ref": "#/definitions/ContextKeyNameType",
          "description": "The full name of a condition context key, including the service prefix. For example, <code>aws:SourceIp</code> or <code>s3:VersionId</code>."
        },
        "ContextKeyValues": {
          "$ref": "#/definitions/ContextKeyValueListType",
          "description": "The value (or values, if the condition context key supports multiple values) to provide to the simulation for use when the key is referenced by a <code>Condition</code> element in an input policy."
        },
        "ContextKeyType": {
          "$ref": "#/definitions/ContextKeyTypeEnum",
          "description": "The data type of the value (or values) specified in the <code>ContextKeyValues</code> parameter."
        }
      },
      "description": "<p>Contains information about a condition context key. It includes the name of the key and specifies the value (or values, if the context key supports multiple values) to use in the simulation. This information is used when evaluating the <code>Condition</code> elements of the input policies.</p> <p>This data type is used as an input parameter to <code> <a>SimulateCustomPolicy</a> </code> and <code> <a>SimulateCustomPolicy</a> </code>.</p>"
    },
    "ContextEntryListType": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ContextEntry"
      }
    },
    "ContextKeyNameType": {
      "type": "string",
      "minLength": 5,
      "maxLength": 256
    },
    "ContextKeyNamesResultListType": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ContextKeyNameType"
      }
    },
    "ContextKeyTypeEnum": {
      "type": "string",
      "enum": [
        "string",
        "stringList",
        "numeric",
        "numericList",
        "boolean",
        "booleanList",
        "ip",
        "ipList",
        "binary",
        "binaryList",
        "date",
        "dateList"
      ]
    },
    "ContextKeyValueListType": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ContextKeyValueType"
      }
    },
    "ContextKeyValueType": {
      "type": "string"
    },
    "CreateAccessKeyRequest": {
      "type": "object",
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the IAM user that the new key will belong to.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "CreateAccessKeyResponse": {
      "type": "object",
      "required": [
        "AccessKey"
      ],
      "properties": {
        "AccessKey": {
          "$ref": "#/definitions/AccessKey",
          "description": "A structure with details about the access key."
        }
      },
      "description": "Contains the response to a successful <a>CreateAccessKey</a> request. "
    },
    "CreateAccountAliasRequest": {
      "type": "object",
      "required": [
        "AccountAlias"
      ],
      "properties": {
        "AccountAlias": {
          "$ref": "#/definitions/accountAliasType",
          "description": "<p>The account alias to create.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of lowercase letters, digits, and dashes. You cannot start or finish with a dash, nor can you have two dashes in a row.</p>"
        }
      }
    },
    "CreateGroupRequest": {
      "type": "object",
      "required": [
        "GroupName"
      ],
      "properties": {
        "Path": {
          "$ref": "#/definitions/pathType",
          "description": "<p> The path to the group. For more information about paths, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes, containing any ASCII character from the ! (\\u0021) thru the DEL character (\\u007F), including most punctuation characters, digits, and upper and lowercased letters.</p>"
        },
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name of the group to create. Do not include the path in this value.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-. The group name must be unique within the account. Group names are not distinguished by case. For example, you cannot create groups named both \"ADMINS\" and \"admins\".</p>"
        }
      }
    },
    "CreateGroupResponse": {
      "type": "object",
      "required": [
        "Group"
      ],
      "properties": {
        "Group": {
          "$ref": "#/definitions/Group",
          "description": "A structure containing details about the new group."
        }
      },
      "description": "Contains the response to a successful <a>CreateGroup</a> request. "
    },
    "CreateInstanceProfileRequest": {
      "type": "object",
      "required": [
        "InstanceProfileName"
      ],
      "properties": {
        "InstanceProfileName": {
          "$ref": "#/definitions/instanceProfileNameType",
          "description": "<p>The name of the instance profile to create.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "Path": {
          "$ref": "#/definitions/pathType",
          "description": "<p> The path to the instance profile. For more information about paths, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes, containing any ASCII character from the ! (\\u0021) thru the DEL character (\\u007F), including most punctuation characters, digits, and upper and lowercased letters.</p>"
        }
      }
    },
    "CreateInstanceProfileResponse": {
      "type": "object",
      "required": [
        "InstanceProfile"
      ],
      "properties": {
        "InstanceProfile": {
          "$ref": "#/definitions/InstanceProfile",
          "description": "A structure containing details about the new instance profile."
        }
      },
      "description": "Contains the response to a successful <a>CreateInstanceProfile</a> request. "
    },
    "CreateLoginProfileRequest": {
      "type": "object",
      "required": [
        "UserName",
        "Password"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name of the IAM user to create a password for. The user must already exist.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "Password": {
          "$ref": "#/definitions/passwordType",
          "description": "<p>The new password for the user.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of almost any printable ASCII character from the space (\\u0020) through the end of the ASCII character range (\\u00FF). You can also include the tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D) characters. Although any of these characters are valid in a password, note that many tools, such as the AWS Management Console, might restrict the ability to enter certain characters because they have special meaning within that tool.</p>"
        },
        "PasswordResetRequired": {
          "$ref": "#/definitions/booleanType",
          "description": "Specifies whether the user is required to set a new password on next sign-in."
        }
      }
    },
    "CreateLoginProfileResponse": {
      "type": "object",
      "required": [
        "LoginProfile"
      ],
      "properties": {
        "LoginProfile": {
          "$ref": "#/definitions/LoginProfile",
          "description": "A structure containing the user name and password create date."
        }
      },
      "description": "Contains the response to a successful <a>CreateLoginProfile</a> request. "
    },
    "CreateOpenIDConnectProviderRequest": {
      "type": "object",
      "required": [
        "Url",
        "ThumbprintList"
      ],
      "properties": {
        "Url": {
          "$ref": "#/definitions/OpenIDConnectProviderUrlType",
          "description": "<p>The URL of the identity provider. The URL must begin with \"https://\" and should correspond to the <code>iss</code> claim in the provider's OpenID Connect ID tokens. Per the OIDC standard, path components are allowed but query parameters are not. Typically the URL consists of only a host name, like \"https://server.example.org\" or \"https://example.com\".</p> <p>You cannot register the same provider multiple times in a single AWS account. If you try to submit a URL that has already been used for an OpenID Connect provider in the AWS account, you will get an error.</p>"
        },
        "ClientIDList": {
          "$ref": "#/definitions/clientIDListType",
          "description": "<p>A list of client IDs (also known as audiences). When a mobile or web app registers with an OpenID Connect provider, they establish a value that identifies the application. (This is the value that's sent as the <code>client_id</code> parameter on OAuth requests.)</p> <p>You can register multiple client IDs with the same provider. For example, you might have multiple applications that use the same OIDC provider. You cannot register more than 100 client IDs with a single IAM OIDC provider.</p> <p>There is no defined format for a client ID. The <code>CreateOpenIDConnectProviderRequest</code> action accepts client IDs up to 255 characters long.</p>"
        },
        "ThumbprintList": {
          "$ref": "#/definitions/thumbprintListType",
          "description": "<p>A list of server certificate thumbprints for the OpenID Connect (OIDC) identity provider's server certificate(s). Typically this list includes only one entry. However, IAM lets you have up to five thumbprints for an OIDC provider. This lets you maintain multiple thumbprints if the identity provider is rotating certificates.</p> <p>The server certificate thumbprint is the hex-encoded SHA-1 hash value of the X.509 certificate used by the domain where the OpenID Connect provider makes its keys available. It is always a 40-character string.</p> <p>You must provide at least one thumbprint when creating an IAM OIDC provider. For example, if the OIDC provider is <code>server.example.com</code> and the provider stores its keys at \"https://keys.server.example.com/openid-connect\", the thumbprint string would be the hex-encoded SHA-1 hash value of the certificate used by https://keys.server.example.com.</p> <p>For more information about obtaining the OIDC provider's thumbprint, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/identity-providers-oidc-obtain-thumbprint.html\">Obtaining the Thumbprint for an OpenID Connect Provider</a> in the <i>IAM User Guide</i>.</p>"
        }
      }
    },
    "CreateOpenIDConnectProviderResponse": {
      "type": "object",
      "properties": {
        "OpenIDConnectProviderArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the new IAM OpenID Connect provider that is created. For more information, see <a>OpenIDConnectProviderListEntry</a>. "
        }
      },
      "description": "Contains the response to a successful <a>CreateOpenIDConnectProvider</a> request. "
    },
    "CreatePolicyRequest": {
      "type": "object",
      "required": [
        "PolicyName",
        "PolicyDocument"
      ],
      "properties": {
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "<p>The friendly name of the policy.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "Path": {
          "$ref": "#/definitions/policyPathType",
          "description": "<p>The path for the policy.</p> <p>For more information about paths, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes, containing any ASCII character from the ! (\\u0021) thru the DEL character (\\u007F), including most punctuation characters, digits, and upper and lowercased letters.</p>"
        },
        "PolicyDocument": {
          "$ref": "#/definitions/policyDocumentType",
          "description": "<p>The JSON policy document that you want to use as the content for the new policy.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of any printable ASCII character ranging from the space character (\\u0020) through end of the ASCII character range (\\u00FF). It also includes the special characters tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D).</p>"
        },
        "Description": {
          "$ref": "#/definitions/policyDescriptionType",
          "description": "<p>A friendly description of the policy.</p> <p>Typically used to store information about the permissions defined in the policy. For example, \"Grants access to production DynamoDB tables.\"</p> <p>The policy description is immutable. After a value is assigned, it cannot be changed.</p>"
        }
      }
    },
    "CreatePolicyResponse": {
      "type": "object",
      "properties": {
        "Policy": {
          "$ref": "#/definitions/Policy",
          "description": "A structure containing details about the new policy."
        }
      },
      "description": "Contains the response to a successful <a>CreatePolicy</a> request. "
    },
    "CreatePolicyVersionRequest": {
      "type": "object",
      "required": [
        "PolicyArn",
        "PolicyDocument"
      ],
      "properties": {
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy to which you want to add a new version.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        },
        "PolicyDocument": {
          "$ref": "#/definitions/policyDocumentType",
          "description": "<p>The JSON policy document that you want to use as the content for this new version of the policy.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of any printable ASCII character ranging from the space character (\\u0020) through end of the ASCII character range (\\u00FF). It also includes the special characters tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D).</p>"
        },
        "SetAsDefault": {
          "$ref": "#/definitions/booleanType",
          "description": "<p>Specifies whether to set this version as the policy's default version.</p> <p>When this parameter is <code>true</code>, the new policy version becomes the operative version; that is, the version that is in effect for the IAM users, groups, and roles that the policy is attached to.</p> <p>For more information about managed policy versions, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p>"
        }
      }
    },
    "CreatePolicyVersionResponse": {
      "type": "object",
      "properties": {
        "PolicyVersion": {
          "$ref": "#/definitions/PolicyVersion",
          "description": "A structure containing details about the new policy version."
        }
      },
      "description": "Contains the response to a successful <a>CreatePolicyVersion</a> request. "
    },
    "CreateRoleRequest": {
      "type": "object",
      "required": [
        "RoleName",
        "AssumeRolePolicyDocument"
      ],
      "properties": {
        "Path": {
          "$ref": "#/definitions/pathType",
          "description": "<p> The path to the role. For more information about paths, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes, containing any ASCII character from the ! (\\u0021) thru the DEL character (\\u007F), including most punctuation characters, digits, and upper and lowercased letters.</p>"
        },
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name of the role to create.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-. Role names are not distinguished by case. For example, you cannot create roles named both \"PRODROLE\" and \"prodrole\".</p>"
        },
        "AssumeRolePolicyDocument": {
          "$ref": "#/definitions/policyDocumentType",
          "description": "<p>The trust relationship policy document that grants an entity permission to assume the role.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of any printable ASCII character ranging from the space character (\\u0020) through end of the ASCII character range (\\u00FF). It also includes the special characters tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D).</p>"
        }
      }
    },
    "CreateRoleResponse": {
      "type": "object",
      "required": [
        "Role"
      ],
      "properties": {
        "Role": {
          "$ref": "#/definitions/Role",
          "description": "A structure containing details about the new role."
        }
      },
      "description": "Contains the response to a successful <a>CreateRole</a> request. "
    },
    "CreateSAMLProviderRequest": {
      "type": "object",
      "required": [
        "SAMLMetadataDocument",
        "Name"
      ],
      "properties": {
        "SAMLMetadataDocument": {
          "$ref": "#/definitions/SAMLMetadataDocumentType",
          "description": "<p>An XML document generated by an identity provider (IdP) that supports SAML 2.0. The document includes the issuer's name, expiration information, and keys that can be used to validate the SAML authentication response (assertions) that are received from the IdP. You must generate the metadata document using the identity management software that is used as your organization's IdP.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_saml.html\">About SAML 2.0-based Federation</a> in the <i>IAM User Guide</i> </p>"
        },
        "Name": {
          "$ref": "#/definitions/SAMLProviderNameType",
          "description": "<p>The name of the provider to create.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "CreateSAMLProviderResponse": {
      "type": "object",
      "properties": {
        "SAMLProviderArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the new SAML provider resource in IAM."
        }
      },
      "description": "Contains the response to a successful <a>CreateSAMLProvider</a> request. "
    },
    "CreateUserRequest": {
      "type": "object",
      "required": [
        "UserName"
      ],
      "properties": {
        "Path": {
          "$ref": "#/definitions/pathType",
          "description": "<p> The path for the user name. For more information about paths, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes, containing any ASCII character from the ! (\\u0021) thru the DEL character (\\u007F), including most punctuation characters, digits, and upper and lowercased letters.</p>"
        },
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name of the user to create.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-. User names are not distinguished by case. For example, you cannot create users named both \"TESTUSER\" and \"testuser\".</p>"
        }
      }
    },
    "CreateUserResponse": {
      "type": "object",
      "properties": {
        "User": {
          "$ref": "#/definitions/User",
          "description": "A structure with details about the new IAM user."
        }
      },
      "description": "Contains the response to a successful <a>CreateUser</a> request. "
    },
    "CreateVirtualMFADeviceRequest": {
      "type": "object",
      "required": [
        "VirtualMFADeviceName"
      ],
      "properties": {
        "Path": {
          "$ref": "#/definitions/pathType",
          "description": "<p> The path for the virtual MFA device. For more information about paths, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM Identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/).</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes, containing any ASCII character from the ! (\\u0021) thru the DEL character (\\u007F), including most punctuation characters, digits, and upper and lowercased letters.</p>"
        },
        "VirtualMFADeviceName": {
          "$ref": "#/definitions/virtualMFADeviceName",
          "description": "<p>The name of the virtual MFA device. Use with path to uniquely identify a virtual MFA device.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "CreateVirtualMFADeviceResponse": {
      "type": "object",
      "required": [
        "VirtualMFADevice"
      ],
      "properties": {
        "VirtualMFADevice": {
          "$ref": "#/definitions/VirtualMFADevice",
          "description": "A structure containing details about the new virtual MFA device."
        }
      },
      "description": "Contains the response to a successful <a>CreateVirtualMFADevice</a> request. "
    },
    "CredentialReportExpiredException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/credentialReportExpiredExceptionMessage"
        }
      },
      "description": "The request was rejected because the most recent credential report has expired. To generate a new credential report, use <a>GenerateCredentialReport</a>. For more information about credential report expiration, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting Credential Reports</a> in the <i>IAM User Guide</i>."
    },
    "CredentialReportNotPresentException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/credentialReportNotPresentExceptionMessage"
        }
      },
      "description": "The request was rejected because the credential report does not exist. To generate a credential report, use <a>GenerateCredentialReport</a>."
    },
    "CredentialReportNotReadyException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/credentialReportNotReadyExceptionMessage"
        }
      },
      "description": "The request was rejected because the credential report is still being generated."
    },
    "DeactivateMFADeviceRequest": {
      "type": "object",
      "required": [
        "UserName",
        "SerialNumber"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the user whose MFA device you want to deactivate.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "SerialNumber": {
          "$ref": "#/definitions/serialNumberType",
          "description": "<p>The serial number that uniquely identifies the MFA device. For virtual MFA devices, the serial number is the device ARN.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =/:,.@-</p>"
        }
      }
    },
    "DeleteAccessKeyRequest": {
      "type": "object",
      "required": [
        "AccessKeyId"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the user whose access key pair you want to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "AccessKeyId": {
          "$ref": "#/definitions/accessKeyIdType",
          "description": "<p>The access key ID for the access key ID and secret access key you want to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that can consist of any upper or lowercased letter or digit.</p>"
        }
      }
    },
    "DeleteAccountAliasRequest": {
      "type": "object",
      "required": [
        "AccountAlias"
      ],
      "properties": {
        "AccountAlias": {
          "$ref": "#/definitions/accountAliasType",
          "description": "<p>The name of the account alias to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of lowercase letters, digits, and dashes. You cannot start or finish with a dash, nor can you have two dashes in a row.</p>"
        }
      }
    },
    "DeleteConflictException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/deleteConflictMessage"
        }
      },
      "description": "The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities."
    },
    "DeleteGroupPolicyRequest": {
      "type": "object",
      "required": [
        "GroupName",
        "PolicyName"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name (friendly name, not ARN) identifying the group that the policy is embedded in.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "<p>The name identifying the policy document to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteGroupRequest": {
      "type": "object",
      "required": [
        "GroupName"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name of the IAM group to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteInstanceProfileRequest": {
      "type": "object",
      "required": [
        "InstanceProfileName"
      ],
      "properties": {
        "InstanceProfileName": {
          "$ref": "#/definitions/instanceProfileNameType",
          "description": "<p>The name of the instance profile to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteLoginProfileRequest": {
      "type": "object",
      "required": [
        "UserName"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name of the user whose password you want to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteOpenIDConnectProviderRequest": {
      "type": "object",
      "required": [
        "OpenIDConnectProviderArn"
      ],
      "properties": {
        "OpenIDConnectProviderArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the IAM OpenID Connect provider resource object to delete. You can get a list of OpenID Connect provider resource ARNs by using the <a>ListOpenIDConnectProviders</a> action."
        }
      }
    },
    "DeletePolicyRequest": {
      "type": "object",
      "required": [
        "PolicyArn"
      ],
      "properties": {
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to delete.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "DeletePolicyVersionRequest": {
      "type": "object",
      "required": [
        "PolicyArn",
        "VersionId"
      ],
      "properties": {
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy from which you want to delete a version.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        },
        "VersionId": {
          "$ref": "#/definitions/policyVersionIdType",
          "description": "<p>The policy version to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that consists of the lowercase letter 'v' followed by one or two digits, and optionally followed by a period '.' and a string of letters and digits.</p> <p>For more information about managed policy versions, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p>"
        }
      }
    },
    "DeleteRolePolicyRequest": {
      "type": "object",
      "required": [
        "RoleName",
        "PolicyName"
      ],
      "properties": {
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name (friendly name, not ARN) identifying the role that the policy is embedded in.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "<p>The name of the inline policy to delete from the specified IAM role.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteRoleRequest": {
      "type": "object",
      "required": [
        "RoleName"
      ],
      "properties": {
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name of the role to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteSAMLProviderRequest": {
      "type": "object",
      "required": [
        "SAMLProviderArn"
      ],
      "properties": {
        "SAMLProviderArn": {
          "$ref": "#/definitions/arnType",
          "description": "The Amazon Resource Name (ARN) of the SAML provider to delete."
        }
      }
    },
    "DeleteSSHPublicKeyRequest": {
      "type": "object",
      "required": [
        "UserName",
        "SSHPublicKeyId"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name of the IAM user associated with the SSH public key.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "SSHPublicKeyId": {
          "$ref": "#/definitions/publicKeyIdType",
          "description": "<p>The unique identifier for the SSH public key.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that can consist of any upper or lowercased letter or digit.</p>"
        }
      }
    },
    "DeleteServerCertificateRequest": {
      "type": "object",
      "required": [
        "ServerCertificateName"
      ],
      "properties": {
        "ServerCertificateName": {
          "$ref": "#/definitions/serverCertificateNameType",
          "description": "<p>The name of the server certificate you want to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteSigningCertificateRequest": {
      "type": "object",
      "required": [
        "CertificateId"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the user the signing certificate belongs to.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "CertificateId": {
          "$ref": "#/definitions/certificateIdType",
          "description": "<p>The ID of the signing certificate to delete.</p> <p>The format of this parameter, as described by its <a href=\"http://wikipedia.org/wiki/regex\">regex</a> pattern, is a string of characters that can be upper- or lower-cased letters or digits.</p>"
        }
      }
    },
    "DeleteUserPolicyRequest": {
      "type": "object",
      "required": [
        "UserName",
        "PolicyName"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name (friendly name, not ARN) identifying the user that the policy is embedded in.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "<p>The name identifying the policy document to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteUserRequest": {
      "type": "object",
      "required": [
        "UserName"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the user to delete.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "DeleteVirtualMFADeviceRequest": {
      "type": "object",
      "required": [
        "SerialNumber"
      ],
      "properties": {
        "SerialNumber": {
          "$ref": "#/definitions/serialNumberType",
          "description": "<p>The serial number that uniquely identifies the MFA device. For virtual MFA devices, the serial number is the same as the ARN.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =/:,.@-</p>"
        }
      }
    },
    "DetachGroupPolicyRequest": {
      "type": "object",
      "required": [
        "GroupName",
        "PolicyArn"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name (friendly name, not ARN) of the IAM group to detach the policy from.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to detach.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "DetachRolePolicyRequest": {
      "type": "object",
      "required": [
        "RoleName",
        "PolicyArn"
      ],
      "properties": {
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name (friendly name, not ARN) of the IAM role to detach the policy from.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to detach.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "DetachUserPolicyRequest": {
      "type": "object",
      "required": [
        "UserName",
        "PolicyArn"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name (friendly name, not ARN) of the IAM user to detach the policy from.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to detach.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "DuplicateCertificateException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/duplicateCertificateMessage"
        }
      },
      "description": "The request was rejected because the same certificate is associated with an IAM user in the account."
    },
    "DuplicateSSHPublicKeyException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/duplicateSSHPublicKeyMessage"
        }
      },
      "description": "The request was rejected because the SSH public key is already associated with the specified IAM user."
    },
    "EnableMFADeviceRequest": {
      "type": "object",
      "required": [
        "UserName",
        "SerialNumber",
        "AuthenticationCode1",
        "AuthenticationCode2"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the IAM user for whom you want to enable the MFA device.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "SerialNumber": {
          "$ref": "#/definitions/serialNumberType",
          "description": "<p>The serial number that uniquely identifies the MFA device. For virtual MFA devices, the serial number is the device ARN.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =/:,.@-</p>"
        },
        "AuthenticationCode1": {
          "$ref": "#/definitions/authenticationCodeType",
          "description": "<p>An authentication code emitted by the device.</p> <p>The format for this parameter is a string of 6 digits.</p>"
        },
        "AuthenticationCode2": {
          "$ref": "#/definitions/authenticationCodeType",
          "description": "<p>A subsequent authentication code emitted by the device.</p> <p>The format for this parameter is a string of 6 digits.</p>"
        }
      }
    },
    "EntityAlreadyExistsException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/entityAlreadyExistsMessage"
        }
      },
      "description": "The request was rejected because it attempted to create a resource that already exists."
    },
    "EntityTemporarilyUnmodifiableException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/entityTemporarilyUnmodifiableMessage"
        }
      },
      "description": "The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity."
    },
    "EntityType": {
      "type": "string",
      "enum": [
        "User",
        "Role",
        "Group",
        "LocalManagedPolicy",
        "AWSManagedPolicy"
      ]
    },
    "EvalDecisionDetailsType": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/EvalDecisionSourceType"
          },
          "value": {
            "$ref": "#/definitions/PolicyEvaluationDecisionType"
          }
        }
      }
    },
    "EvalDecisionSourceType": {
      "type": "string",
      "minLength": 3,
      "maxLength": 256
    },
    "EvaluationResult": {
      "type": "object",
      "required": [
        "EvalActionName",
        "EvalDecision"
      ],
      "properties": {
        "EvalActionName": {
          "$ref": "#/definitions/ActionNameType",
          "description": "The name of the API action tested on the indicated resource."
        },
        "EvalResourceName": {
          "$ref": "#/definitions/ResourceNameType",
          "description": "The ARN of the resource that the indicated API action was tested on."
        },
        "EvalDecision": {
          "$ref": "#/definitions/PolicyEvaluationDecisionType",
          "description": "The result of the simulation."
        },
        "MatchedStatements": {
          "$ref": "#/definitions/StatementListType",
          "description": "A list of the statements in the input policies that determine the result for this scenario. Remember that even if multiple statements allow the action on the resource, if only one statement denies that action, then the explicit deny overrides any allow, and the deny statement is the only entry included in the result."
        },
        "MissingContextValues": {
          "$ref": "#/definitions/ContextKeyNamesResultListType",
          "description": "A list of context keys that are required by the included input policies but that were not provided by one of the input parameters. This list is used when the resource in a simulation is \"*\", either explicitly, or when the <code>ResourceArns</code> parameter blank. If you include a list of resources, then any missing context values are instead included under the <code>ResourceSpecificResults</code> section. To discover the context keys used by a set of policies, you can call <a>GetContextKeysForCustomPolicy</a> or <a>GetContextKeysForPrincipalPolicy</a>."
        },
        "EvalDecisionDetails": {
          "$ref": "#/definitions/EvalDecisionDetailsType",
          "description": "Additional details about the results of the evaluation decision. When there are both IAM policies and resource policies, this parameter explains how each set of policies contributes to the final evaluation decision. When simulating cross-account access to a resource, both the resource-based policy and the caller's IAM policy must grant access. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_compare-resource-policies.html\">How IAM Roles Differ from Resource-based Policies</a> "
        },
        "ResourceSpecificResults": {
          "$ref": "#/definitions/ResourceSpecificResultListType",
          "description": "The individual results of the simulation of the API action specified in EvalActionName on each resource."
        }
      },
      "description": "<p>Contains the results of a simulation.</p> <p>This data type is used by the return parameter of <code> <a>SimulateCustomPolicy</a> </code> and <code> <a>SimulatePrincipalPolicy</a> </code>.</p>"
    },
    "EvaluationResultsListType": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/EvaluationResult"
      }
    },
    "GenerateCredentialReportResponse": {
      "type": "object",
      "properties": {
        "State": {
          "$ref": "#/definitions/ReportStateType",
          "description": "Information about the state of the credential report."
        },
        "Description": {
          "$ref": "#/definitions/ReportStateDescriptionType",
          "description": "Information about the credential report."
        }
      },
      "description": "Contains the response to a successful <a>GenerateCredentialReport</a> request. "
    },
    "GetAccessKeyLastUsedRequest": {
      "type": "object",
      "required": [
        "AccessKeyId"
      ],
      "properties": {
        "AccessKeyId": {
          "$ref": "#/definitions/accessKeyIdType",
          "description": "<p>The identifier of an access key.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that can consist of any upper or lowercased letter or digit.</p>"
        }
      }
    },
    "GetAccessKeyLastUsedResponse": {
      "type": "object",
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the AWS IAM user that owns this access key.</p> <p/>"
        },
        "AccessKeyLastUsed": {
          "$ref": "#/definitions/AccessKeyLastUsed",
          "description": "Contains information about the last time the access key was used."
        }
      },
      "description": "Contains the response to a successful <a>GetAccessKeyLastUsed</a> request. It is also returned as a member of the <a>AccessKeyMetaData</a> structure returned by the <a>ListAccessKeys</a> action."
    },
    "GetAccountAuthorizationDetailsRequest": {
      "type": "object",
      "properties": {
        "Filter": {
          "$ref": "#/definitions/entityListType",
          "description": "<p>A list of entity types used to filter the results. Only the entities that match the types you specify are included in the output. Use the value <code>LocalManagedPolicy</code> to include customer managed policies.</p> <p>The format for this parameter is a comma-separated (if more than one) list of strings. Each string value in the list must be one of the valid values listed below.</p>"
        },
        "MaxItems": {
          "$ref": "#/definitions/maxItemsType",
          "description": "<p>Use this only when paginating results to indicate the maximum number of items you want in the response. If additional items exist beyond the maximum you specify, the <code>IsTruncated</code> response element is <code>true</code>.</p> <p>This parameter is optional. If you do not include it, it defaults to 100. Note that IAM might return fewer results, even when there are more results available. In that case, the <code>IsTruncated</code> response element returns <code>true</code> and <code>Marker</code> contains a value to include in the subsequent call that tells the service where to continue from.</p>"
        },
        "Marker": {
          "$ref": "#/definitions/markerType",
          "description": "Use this parameter only when paginating results and only after you receive a response indicating that the results are truncated. Set it to the value of the <code>Marker</code> element in the response that you received to indicate where the next call should start."
        }
      }
    },
    "GetAccountAuthorizationDetailsResponse": {
      "type": "object",
      "properties": {
        "UserDetailList": {
          "$ref": "#/definitions/userDetailListType",
          "description": "A list containing information about IAM users."
        },
        "GroupDetailList": {
          "$ref": "#/definitions/groupDetailListType",
          "description": "A list containing information about IAM groups."
        },
        "RoleDetailList": {
          "$ref": "#/definitions/roleDetailListType",
          "description": "A list containing information about IAM roles."
        },
        "Policies": {
          "$ref": "#/definitions/ManagedPolicyDetailListType",
          "description": "A list containing information about managed policies."
        },
        "IsTruncated": {
          "$ref": "#/definitions/booleanType",
          "description": "A flag that indicates whether there are more items to return. If your results were truncated, you can make a subsequent pagination request using the <code>Marker</code> request parameter to retrieve more items. Note that IAM might return fewer than the <code>MaxItems</code> number of results even when there are more results available. We recommend that you check <code>IsTruncated</code> after every call to ensure that you receive all of your results."
        },
        "Marker": {
          "$ref": "#/definitions/markerType",
          "description": "When <code>IsTruncated</code> is <code>true</code>, this element is present and contains the value to use for the <code>Marker</code> parameter in a subsequent pagination request."
        }
      },
      "description": "Contains the response to a successful <a>GetAccountAuthorizationDetails</a> request. "
    },
    "GetAccountPasswordPolicyResponse": {
      "type": "object",
      "required": [
        "PasswordPolicy"
      ],
      "properties": {
        "PasswordPolicy": {
          "$ref": "#/definitions/PasswordPolicy"
        }
      },
      "description": "Contains the response to a successful <a>GetAccountPasswordPolicy</a> request. "
    },
    "GetAccountSummaryResponse": {
      "type": "object",
      "properties": {
        "SummaryMap": {
          "$ref": "#/definitions/summaryMapType",
          "description": "A set of key value pairs containing information about IAM entity usage and IAM quotas."
        }
      },
      "description": "Contains the response to a successful <a>GetAccountSummary</a> request. "
    },
    "GetContextKeysForCustomPolicyRequest": {
      "type": "object",
      "required": [
        "PolicyInputList"
      ],
      "properties": {
        "PolicyInputList": {
          "$ref": "#/definitions/SimulationPolicyListType",
          "description": "<p>A list of policies for which you want the list of context keys referenced in those policies. Each document is specified as a string containing the complete, valid JSON text of an IAM policy.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of any printable ASCII character ranging from the space character (\\u0020) through end of the ASCII character range (\\u00FF). It also includes the special characters tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D).</p>"
        }
      }
    },
    "GetContextKeysForPolicyResponse": {
      "type": "object",
      "properties": {
        "ContextKeyNames": {
          "$ref": "#/definitions/ContextKeyNamesResultListType",
          "description": "The list of context keys that are referenced in the input policies."
        }
      },
      "description": "Contains the response to a successful <a>GetContextKeysForPrincipalPolicy</a> or <a>GetContextKeysForCustomPolicy</a> request. "
    },
    "GetContextKeysForPrincipalPolicyRequest": {
      "type": "object",
      "required": [
        "PolicySourceArn"
      ],
      "properties": {
        "PolicySourceArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The ARN of a user, group, or role whose policies contain the context keys that you want listed. If you specify a user, the list includes context keys that are found in all policies attached to the user as well as to all groups that the user is a member of. If you pick a group or a role, then it includes only those context keys that are found in policies attached to that entity. Note that all parameters are shown in unencoded form here for clarity, but must be URL encoded to be included as a part of a real HTML request.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        },
        "PolicyInputList": {
          "$ref": "#/definitions/SimulationPolicyListType",
          "description": "<p>An optional list of additional policies for which you want the list of context keys that are referenced.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of any printable ASCII character ranging from the space character (\\u0020) through end of the ASCII character range (\\u00FF). It also includes the special characters tab (\\u0009), line feed (\\u000A), and carriage return (\\u000D).</p>"
        }
      }
    },
    "GetCredentialReportResponse": {
      "type": "object",
      "properties": {
        "Content": {
          "$ref": "#/definitions/ReportContentType",
          "description": "Contains the credential report. The report is Base64-encoded."
        },
        "ReportFormat": {
          "$ref": "#/definitions/ReportFormatType",
          "description": "The format (MIME type) of the credential report."
        },
        "GeneratedTime": {
          "$ref": "#/definitions/dateType",
          "description": " The date and time when the credential report was created, in <a href=\"http://www.iso.org/iso/iso8601\">ISO 8601 date-time format</a>."
        }
      },
      "description": "Contains the response to a successful <a>GetCredentialReport</a> request. "
    },
    "GetGroupPolicyRequest": {
      "type": "object",
      "required": [
        "GroupName",
        "PolicyName"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name of the group the policy is associated with.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "<p>The name of the policy document to get.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "GetGroupPolicyResponse": {
      "type": "object",
      "required": [
        "GroupName",
        "PolicyName",
        "PolicyDocument"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "The group the policy is associated with."
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "The name of the policy."
        },
        "PolicyDocument": {
          "$ref": "#/definitions/policyDocumentType",
          "description": "The policy document."
        }
      },
      "description": "Contains the response to a successful <a>GetGroupPolicy</a> request. "
    },
    "GetGroupRequest": {
      "type": "object",
      "required": [
        "GroupName"
      ],
      "properties": {
        "GroupName": {
          "$ref": "#/definitions/groupNameType",
          "description": "<p>The name of the group.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "Marker": {
          "$ref": "#/definitions/markerType",
          "description": "Use this parameter only when paginating results and only after you receive a response indicating that the results are truncated. Set it to the value of the <code>Marker</code> element in the response that you received to indicate where the next call should start."
        },
        "MaxItems": {
          "$ref": "#/definitions/maxItemsType",
          "description": "<p>Use this only when paginating results to indicate the maximum number of items you want in the response. If additional items exist beyond the maximum you specify, the <code>IsTruncated</code> response element is <code>true</code>.</p> <p>This parameter is optional. If you do not include it, it defaults to 100. Note that IAM might return fewer results, even when there are more results available. In that case, the <code>IsTruncated</code> response element returns <code>true</code> and <code>Marker</code> contains a value to include in the subsequent call that tells the service where to continue from.</p>"
        }
      }
    },
    "GetGroupResponse": {
      "type": "object",
      "required": [
        "Group",
        "Users"
      ],
      "properties": {
        "Group": {
          "$ref": "#/definitions/Group",
          "description": "A structure that contains details about the group."
        },
        "Users": {
          "$ref": "#/definitions/userListType",
          "description": "A list of users in the group."
        },
        "IsTruncated": {
          "$ref": "#/definitions/booleanType",
          "description": "A flag that indicates whether there are more items to return. If your results were truncated, you can make a subsequent pagination request using the <code>Marker</code> request parameter to retrieve more items. Note that IAM might return fewer than the <code>MaxItems</code> number of results even when there are more results available. We recommend that you check <code>IsTruncated</code> after every call to ensure that you receive all of your results."
        },
        "Marker": {
          "$ref": "#/definitions/markerType",
          "description": "When <code>IsTruncated</code> is <code>true</code>, this element is present and contains the value to use for the <code>Marker</code> parameter in a subsequent pagination request."
        }
      },
      "description": "Contains the response to a successful <a>GetGroup</a> request. "
    },
    "GetInstanceProfileRequest": {
      "type": "object",
      "required": [
        "InstanceProfileName"
      ],
      "properties": {
        "InstanceProfileName": {
          "$ref": "#/definitions/instanceProfileNameType",
          "description": "<p>The name of the instance profile to get information about.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "GetInstanceProfileResponse": {
      "type": "object",
      "required": [
        "InstanceProfile"
      ],
      "properties": {
        "InstanceProfile": {
          "$ref": "#/definitions/InstanceProfile",
          "description": "A structure containing details about the instance profile."
        }
      },
      "description": "Contains the response to a successful <a>GetInstanceProfile</a> request. "
    },
    "GetLoginProfileRequest": {
      "type": "object",
      "required": [
        "UserName"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name of the user whose login profile you want to retrieve.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "GetLoginProfileResponse": {
      "type": "object",
      "required": [
        "LoginProfile"
      ],
      "properties": {
        "LoginProfile": {
          "$ref": "#/definitions/LoginProfile",
          "description": "A structure containing the user name and password create date for the user."
        }
      },
      "description": "Contains the response to a successful <a>GetLoginProfile</a> request. "
    },
    "GetOpenIDConnectProviderRequest": {
      "type": "object",
      "required": [
        "OpenIDConnectProviderArn"
      ],
      "properties": {
        "OpenIDConnectProviderArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the OIDC provider resource object in IAM to get information for. You can get a list of OIDC provider resource ARNs by using the <a>ListOpenIDConnectProviders</a> action.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "GetOpenIDConnectProviderResponse": {
      "type": "object",
      "properties": {
        "Url": {
          "$ref": "#/definitions/OpenIDConnectProviderUrlType",
          "description": "The URL that the IAM OIDC provider resource object is associated with. For more information, see <a>CreateOpenIDConnectProvider</a>."
        },
        "ClientIDList": {
          "$ref": "#/definitions/clientIDListType",
          "description": "A list of client IDs (also known as audiences) that are associated with the specified IAM OIDC provider resource object. For more information, see <a>CreateOpenIDConnectProvider</a>."
        },
        "ThumbprintList": {
          "$ref": "#/definitions/thumbprintListType",
          "description": "A list of certificate thumbprints that are associated with the specified IAM OIDC provider resource object. For more information, see <a>CreateOpenIDConnectProvider</a>. "
        },
        "CreateDate": {
          "$ref": "#/definitions/dateType",
          "description": "The date and time when the IAM OIDC provider resource object was created in the AWS account."
        }
      },
      "description": "Contains the response to a successful <a>GetOpenIDConnectProvider</a> request. "
    },
    "GetPolicyRequest": {
      "type": "object",
      "required": [
        "PolicyArn"
      ],
      "properties": {
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the managed policy that you want information about.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "GetPolicyResponse": {
      "type": "object",
      "properties": {
        "Policy": {
          "$ref": "#/definitions/Policy",
          "description": "A structure containing details about the policy."
        }
      },
      "description": "Contains the response to a successful <a>GetPolicy</a> request. "
    },
    "GetPolicyVersionRequest": {
      "type": "object",
      "required": [
        "PolicyArn",
        "VersionId"
      ],
      "properties": {
        "PolicyArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the managed policy that you want information about.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        },
        "VersionId": {
          "$ref": "#/definitions/policyVersionIdType",
          "description": "<p>Identifies the policy version to retrieve.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that consists of the lowercase letter 'v' followed by one or two digits, and optionally followed by a period '.' and a string of letters and digits.</p>"
        }
      }
    },
    "GetPolicyVersionResponse": {
      "type": "object",
      "properties": {
        "PolicyVersion": {
          "$ref": "#/definitions/PolicyVersion",
          "description": "A structure containing details about the policy version."
        }
      },
      "description": "Contains the response to a successful <a>GetPolicyVersion</a> request. "
    },
    "GetRolePolicyRequest": {
      "type": "object",
      "required": [
        "RoleName",
        "PolicyName"
      ],
      "properties": {
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name of the role associated with the policy.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "<p>The name of the policy document to get.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "GetRolePolicyResponse": {
      "type": "object",
      "required": [
        "RoleName",
        "PolicyName",
        "PolicyDocument"
      ],
      "properties": {
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "The role the policy is associated with."
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "The name of the policy."
        },
        "PolicyDocument": {
          "$ref": "#/definitions/policyDocumentType",
          "description": "The policy document."
        }
      },
      "description": "Contains the response to a successful <a>GetRolePolicy</a> request. "
    },
    "GetRoleRequest": {
      "type": "object",
      "required": [
        "RoleName"
      ],
      "properties": {
        "RoleName": {
          "$ref": "#/definitions/roleNameType",
          "description": "<p>The name of the IAM role to get information about.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "GetRoleResponse": {
      "type": "object",
      "required": [
        "Role"
      ],
      "properties": {
        "Role": {
          "$ref": "#/definitions/Role",
          "description": "A structure containing details about the IAM role."
        }
      },
      "description": "Contains the response to a successful <a>GetRole</a> request. "
    },
    "GetSAMLProviderRequest": {
      "type": "object",
      "required": [
        "SAMLProviderArn"
      ],
      "properties": {
        "SAMLProviderArn": {
          "$ref": "#/definitions/arnType",
          "description": "<p>The Amazon Resource Name (ARN) of the SAML provider resource object in IAM to get information about.</p> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.</p>"
        }
      }
    },
    "GetSAMLProviderResponse": {
      "type": "object",
      "properties": {
        "SAMLMetadataDocument": {
          "$ref": "#/definitions/SAMLMetadataDocumentType",
          "description": "The XML metadata document that includes information about an identity provider."
        },
        "CreateDate": {
          "$ref": "#/definitions/dateType",
          "description": "The date and time when the SAML provider was created."
        },
        "ValidUntil": {
          "$ref": "#/definitions/dateType",
          "description": "The expiration date and time for the SAML provider."
        }
      },
      "description": "Contains the response to a successful <a>GetSAMLProvider</a> request. "
    },
    "GetSSHPublicKeyRequest": {
      "type": "object",
      "required": [
        "UserName",
        "SSHPublicKeyId",
        "Encoding"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/userNameType",
          "description": "<p>The name of the IAM user associated with the SSH public key.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "SSHPublicKeyId": {
          "$ref": "#/definitions/publicKeyIdType",
          "description": "<p>The unique identifier for the SSH public key.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that can consist of any upper or lowercased letter or digit.</p>"
        },
        "Encoding": {
          "$ref": "#/definitions/encodingType",
          "description": "Specifies the public key encoding format to use in the response. To retrieve the public key in ssh-rsa format, use <code>SSH</code>. To retrieve the public key in PEM format, use <code>PEM</code>."
        }
      }
    },
    "GetSSHPublicKeyResponse": {
      "type": "object",
      "properties": {
        "SSHPublicKey": {
          "$ref": "#/definitions/SSHPublicKey",
          "description": "A structure containing details about the SSH public key."
        }
      },
      "description": "Contains the response to a successful <a>GetSSHPublicKey</a> request."
    },
    "GetServerCertificateRequest": {
      "type": "object",
      "required": [
        "ServerCertificateName"
      ],
      "properties": {
        "ServerCertificateName": {
          "$ref": "#/definitions/serverCertificateNameType",
          "description": "<p>The name of the server certificate you want to retrieve information about.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "GetServerCertificateResponse": {
      "type": "object",
      "required": [
        "ServerCertificate"
      ],
      "properties": {
        "ServerCertificate": {
          "$ref": "#/definitions/ServerCertificate",
          "description": "A structure containing details about the server certificate."
        }
      },
      "description": "Contains the response to a successful <a>GetServerCertificate</a> request. "
    },
    "GetUserPolicyRequest": {
      "type": "object",
      "required": [
        "UserName",
        "PolicyName"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
          "description": "<p>The name of the user who the policy is associated with.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        },
        "PolicyName": {
          "$ref": "#/definitions/policyNameType",
          "description": "<p>The name of the policy document to get.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: =,.@-</p>"
        }
      }
    },
    "GetUserPolicyResponse": {
      "type": "object",
      "required": [
        "UserName",
        "PolicyName",
        "PolicyDocument"
      ],
      "properties": {
        "UserName": {
          "$ref": "#/definitions/existingUserNameType",
[...]
