{
  "swagger": "2.0",
  "info": {
    "version": "2016-11-28",
    "x-release": "v4",
    "title": "Amazon Lex Runtime Service",
    "description": "Amazon Lex provides both build and runtime endpoints. Each endpoint provides a set of operations (API). Your application uses the runtime API to understand user utterances (user input text or voice). For example, suppose user says \"I want pizza\", your application sends this input to Amazon Lex using the runtime API. Amazon Lex recognizes that the user request is for the OrderPizza intent (one of the intents defined in the application). Then Amazon Lex engages in user conversation on behalf of the application to elicit required information (slot values, such as pizza size and crust type), and then performs fulfillment activity (that you configured when you created the application). You use the build-time API to create and manage your Amazon Lex applications. For a list of build-time operations, see the build-time API. . ",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/lex/"
  },
  "host": "runtime.lex.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/bot/{botName}/alias/{botAlias}/user/{userId}/text": {
      "post": {
        "operationId": "PostText",
        "description": "<p>Sends user input text to Amazon Lex at runtime. Amazon Lex uses the machine learning model that the service built for the application to interpret user input. </p> <p> In response, Amazon Lex returns the next message to convey to the user (based on the context of the user interaction) and whether to expect a user response to the message (<code>dialogState</code>). For example, consider the following response messages: </p> <ul> <li> <p>\"What pizza toppings would you like?\" – In this case, the <code>dialogState</code> would be <code>ElicitSlot</code> (that is, a user response is expected). </p> </li> <li> <p>\"Your order has been placed.\" – In this case, Amazon Lex returns one of the following <code>dialogState</code> values depending on how the intent fulfillment is configured (see <code>fulfillmentActivity</code> in <code>CreateIntent</code>): </p> <ul> <li> <p> <code>FulFilled</code> – The intent fulfillment is configured through a Lambda function. </p> </li> <li> <p> <code>ReadyForFulfilment</code> – The intent's <code>fulfillmentActivity</code> is to simply return the intent data back to the client application. </p> </li> </ul> </li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PostTextResponse"
            }
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "BadRequestException",
            "schema": {
              "$ref": "#/definitions/BadRequestException"
            }
          },
          "482": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "483": {
            "description": "InternalFailureException",
            "schema": {
              "$ref": "#/definitions/InternalFailureException"
            }
          },
          "484": {
            "description": "ConflictException",
            "schema": {
              "$ref": "#/definitions/ConflictException"
            }
          },
          "485": {
            "description": "DependencyFailedException",
            "schema": {
              "$ref": "#/definitions/DependencyFailedException"
            }
          },
          "486": {
            "description": "BadGatewayException",
            "schema": {
              "$ref": "#/definitions/BadGatewayException"
            }
          },
          "487": {
            "description": "LoopDetectedException",
            "schema": {
              "$ref": "#/definitions/LoopDetectedException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostTextRequest"
            }
          },
          {
            "name": "botName",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "botAlias",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "userId",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    }
  },
  "definitions": {
    "BadGatewayException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "Either the Amazon Lex bot is still building, or one of the dependent services (Amazon Polly, AWS Lambda) failed with an internal service error."
    },
    "BadRequestException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": " Request validation failed, there is no usable message in the context, or the bot build failed. "
    },
    "BotAlias": {
      "type": "string"
    },
    "BotName": {
      "type": "string"
    },
    "Button": {
      "type": "object",
      "required": [
        "text",
        "value"
      ],
      "properties": {
        "text": {
          "$ref": "#/definitions/ButtonTextStringWithLength",
          "description": "Text visible to the user on the button."
        },
        "value": {
          "$ref": "#/definitions/ButtonValueStringWithLength",
          "description": "Value sent to Amazon Lex when user clicks the button. For example, consider button text \"NYC\". When the user clicks the button, the value sent can be \"New York City\"."
        }
      },
      "description": "Represents an option to be shown on the client platform (Facebook, Slack, etc.)"
    },
    "ButtonTextStringWithLength": {
      "type": "string",
      "minLength": 1,
      "maxLength": 15
    },
    "ButtonValueStringWithLength": {
      "type": "string",
      "minLength": 1,
      "maxLength": 1000
    },
    "ConflictException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": " Two clients are using the same AWS account, Amazon Lex bot, and user ID. "
    },
    "ContentType": {
      "type": "string",
      "enum": [
        "application/vnd.amazonaws.card.generic"
      ]
    },
    "DependencyFailedException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": " One of the downstream dependencies, such as AWS Lambda or Amazon Polly, threw an exception. For example, if Amazon Lex does not have sufficient permissions to call a Lambda function which results in AWS Lambda throwing an exception. "
    },
    "DialogState": {
      "type": "string",
      "enum": [
        "ElicitIntent",
        "ConfirmIntent",
        "ElicitSlot",
        "Fulfilled",
        "ReadyForFulfillment",
        "Failed"
      ]
    },
    "ErrorMessage": {
      "type": "string"
    },
    "GenericAttachment": {
      "type": "object",
      "properties": {
        "title": {
          "$ref": "#/definitions/StringWithLength",
          "description": "Title of the option."
        },
        "subTitle": {
          "$ref": "#/definitions/StringWithLength",
          "description": "Subtitle shown below the title."
        },
        "attachmentLinkUrl": {
          "$ref": "#/definitions/StringUrlWithLength"
        },
        "imageUrl": {
          "$ref": "#/definitions/StringUrlWithLength",
          "description": "URL of an image that is displayed to the user."
        },
        "buttons": {
          "$ref": "#/definitions/listOfButtons",
          "description": "List of options to show to the user."
        }
      },
      "description": "Represents an option rendered to the user when a prompt is shown. It could be an image, a button, a link, or text. "
    },
    "IntentName": {
      "type": "string"
    },
    "InternalFailureException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "Internal service error. Retry the call."
    },
    "LimitExceededException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      }
    },
    "LoopDetectedException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "Lambda fulfilment function returned <code>DelegateDialogAction</code> to Amazon Lex without changing any slot values. "
    },
    "NotFoundException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String"
        }
      },
      "description": "Resource (such as the Amazon Lex bot or an alias) referred is not found."
    },
    "PostTextRequest": {
      "type": "object",
      "required": [
        "inputText"
      ],
      "properties": {
        "sessionAttributes": {
          "$ref": "#/definitions/StringMap",
          "description": "<p> A session represents the dialog between a user and Amazon Lex. At runtime, a client application can pass contextual information (session attributes) in the request. For example, <code>\"FirstName\" : \"Joe\"</code>. Amazon Lex passes these session attributes to the AWS Lambda functions configured for the intent (see <code>dialogCodeHook</code> and <code>fulfillmentActivity.codeHook</code> in <code>CreateIntent</code>). </p> <p>In your Lambda function, you can use the session attributes for customization. Some examples are:</p> <ul> <li> <p> In a pizza ordering application, if you can pass user location as a session attribute (for example, <code>\"Location\" : \"111 Maple street\"</code>), your Lambda function might use this information to determine the closest pizzeria to place the order. </p> </li> <li> <p> Use session attributes to personalize prompts. For example, you pass in user name as a session attribute (<code>\"FirstName\" : \"Joe\"</code>), you might configure subsequent prompts to refer to this attribute, as <code>$session.FirstName\"</code>. At runtime, Amazon Lex substitutes a real value when it generates a prompt, such as \"Hello Joe, what would you like to order?\" </p> </li> </ul> <note> <p> Amazon Lex does not persist session attributes. </p> <p> If the intent is configured without a Lambda function to process the intent (that is, the client application to process the intent), Amazon Lex simply returns the session attributes back to the client application. </p> <p> If the intent is configured with a Lambda function to process the intent, Amazon Lex passes the incoming session attributes to the Lambda function. The Lambda function must return these session attributes if you want Amazon Lex to return them back to the client. </p> </note>"
        },
        "inputText": {
          "$ref": "#/definitions/Text",
          "description": "Text user entered (Amazon Lex interprets this text)."
        }
      }
    },
    "PostTextResponse": {
      "type": "object",
      "properties": {
        "intentName": {
          "$ref": "#/definitions/IntentName",
          "description": "Intent Amazon Lex inferred from the user input text. This is one of the intents configured for the bot. "
        },
        "slots": {
          "$ref": "#/definitions/StringMap",
          "description": " Intent slots (name/value pairs) Amazon Lex detected so far from the user input in the conversation. "
        },
        "sessionAttributes": {
          "$ref": "#/definitions/StringMap",
          "description": "Map of key value pairs representing the session specific context information."
        },
        "message": {
          "$ref": "#/definitions/Text",
          "description": " Prompt (or statement) to convey to the user. This is based on the application configuration and context. For example, if Amazon Lex did not understand the user intent, it sends the <code>clarificationPrompt</code> configured for the application. In another example, if the intent requires confirmation before taking the fulfillment action, it sends the <code>confirmationPrompt</code>. Suppose the Lambda function successfully fulfilled the intent, and sent a message to convey to the user. In that situation, Amazon Lex sends that message in the response. "
        },
        "dialogState": {
          "$ref": "#/definitions/DialogState",
          "description": "<p>Represents the message type to be conveyed to the user. For example: </p> <ul> <li> <p> <code>ElicitIntent</code> – Amazon Lex wants to elicit user intent. For example, Amazon Lex did not understand the first utterances such as \"I want to order pizza\", which indicates the OrderPizza intent. If Amazon Lex doesn't understand the intent, it returns this <code>dialogState</code>. Another example is when your intent is configured with a follow up prompt. For example, after OrderPizza intent is fulfilled, the intent might have a follow up prompt such as \" Do you want to order a drink or desert?\" In this case, Amazon Lex returns this <code>dialogState</code>. </p> </li> <li> <p> <code>ConfirmIntent</code> – Amazon Lex is expecting a yes/no response from the user indicating whether to go ahead and fulfill the intent (for example, OK to go ahead and order the pizza). In addition to a yes/no reply, the user might provide a response with additional slot information (either new slot information or changes to the existing slot values). For example, \"Yes, but change to thick crust.\" Amazon Lex understands the additional information and updates the intent slots accordingly. </p> <p> Consider another example. Before fulfilling an order, your application might prompt for confirmation such as \"Do you want to place this pizza order?\" A user might reply with \"No, I want to order a drink.\" Amazon Lex recognizes the new OrderDrink intent. </p> </li> <li> <p> <code>ElicitSlot</code> – Amazon Lex is expecting a value of a slot for the current intent. For example, suppose Amazon Lex asks, \"What size pizza would you like?\" A user might reply with \"Medium pepperoni pizza.\" Amazon Lex recognizes the size and the topping as the two separate slot values. </p> </li> <li> <p> <code>Fulfilled</code> – Conveys that the Lambda function has successfully fulfilled the intent. If Lambda function returns a statement/message to convey the fulfillment result, Amazon Lex passes this string to the client. If not, Amazon Lex looks for <code>conclusionStatement</code> that you configured for the intent. </p> <p> If both the Lambda function statement and the <code>conclusionStatement</code> are missing, Amazon Lex throws a bad request exception. </p> </li> <li> <p> <code>ReadyForFulfillment</code> – conveys that the client has to do the fulfillment work for the intent. This is the case when the current intent is configured with <code>ReturnIntent</code> as the <code>fulfillmentActivity </code>, where Amazon Lex returns this state to client. </p> </li> <li> <p> <code>Failed</code> – Conversation with the user failed. Some of the reasons for this <code>dialogState</code> are: after the configured number of attempts the user didn't provide an appropriate response, or the Lambda function failed to fulfill an intent. </p> </li> </ul>"
        },
        "slotToElicit": {
          "$ref": "#/definitions/String",
          "description": "If <code>dialogState</code> value is <code>ElicitSlot</code>, returns the name of the slot for which Amazon Lex is eliciting a value. "
        },
        "responseCard": {
          "$ref": "#/definitions/ResponseCard",
          "description": "Represents the options that the user has to respond to the current prompt. Amazon Lex sends this in the response only if the <code>dialogState</code> value indicates that a user response is expected. "
        }
      }
    },
    "ResponseCard": {
      "type": "object",
      "properties": {
        "version": {
          "$ref": "#/definitions/String",
          "description": "Version of response card format."
        },
        "contentType": {
          "$ref": "#/definitions/ContentType",
          "description": "Content type of the response."
        },
        "genericAttachments": {
          "$ref": "#/definitions/genericAttachmentList",
          "description": "An array of attachment objects representing options."
        }
      },
      "description": "If you configure a response card when creating your bots, Amazon Lex substitutes the session attributes and slot values available, and then returns it. The response card can also come from a Lambda function ( <code>dialogCodeHook</code> and <code>fulfillmentActivity</code> on an intent)."
    },
    "String": {
      "type": "string"
    },
    "StringMap": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      }
    },
    "StringUrlWithLength": {
      "type": "string",
      "minLength": 1,
      "maxLength": 2048
    },
    "StringWithLength": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
    },
    "Text": {
      "type": "string",
      "minLength": 1,
      "maxLength": 1024
    },
    "UserId": {
      "type": "string",
      "pattern": "[0-9a-zA-Z._:-]+",
      "minLength": 2,
      "maxLength": 50
    },
    "genericAttachmentList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GenericAttachment"
      },
      "minItems": 0,
      "maxItems": 10
    },
    "listOfButtons": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Button"
      },
      "minItems": 0,
      "maxItems": 5
    }
  }
}