{
  "swagger": "2.0",
  "info": {
    "title": "British Airways Flight Offers ",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.ba.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Flight offer for basic and market affiliates",
    "x-mashery-id": "1685"
  },
  "schemes": [
    "http"
  ],
  "host": "api.ba.com",
  "basePath": "/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.ba.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Flight Offer Basic"
    },
    {
      "name": "Flight Offer Market Affiliates"
    }
  ],
  "paths": {
    "/flightOfferBasic;departureCity={departureCity;arrivalCity=}{arrivalCity;cabin=}{cabin;journeyType=}{journeyType;range=}{range}{format}": {
      "get": {
        "operationId": "RetrievelowestpriceFlightOfferBasic",
        "summary": "Submit a query and the list of fields required",
        "tags": [
          "Flight Offer Basic "
        ],
        "parameters": [
          {
            "name": "departureCity",
            "type": "string",
            "description": "An IATA 3 character city code",
            "in": "query",
            "required": true
          },
          {
            "name": "arrivalCity",
            "type": "string",
            "description": "An IATA 3 character city code",
            "in": "query",
            "required": true
          },
          {
            "name": "cabin",
            "type": "string",
            "description": "Requested cabin",
            "in": "query",
            "required": true,
            "enum": [
              "economy",
              "premiumEconomy",
              "business",
              "first"
            ]
          },
          {
            "name": "journeyType",
            "type": "string",
            "description": "Journey type",
            "in": "query",
            "required": true,
            "enum": [
              "roundTrip",
              "oneWay"
            ]
          },
          {
            "name": "range",
            "type": "string",
            "description": "Range",
            "in": "path",
            "required": true,
            "enum": [
              "monthLow",
              "yearLow"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "departureCity;arrivalCity=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "arrivalCity;cabin=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabin;journeyType=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "journeyType;range=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightOfferMktAffiliates;departureDateTimeOutbound={departureDateTimeOutbound;locationCodeOriginOutbound=}{locationCodeOriginOutbound;locationCodeDestinationOutbound=}{locationCodeDestinationOutbound;cabin=}{cabin;ADT=}{ADT;CHD=}{CHD;INF=}{INF;format=}{format}": {
      "get": {
        "operationId": "RetrieveFlightOfferforMarketAffiliates-OnewayjourneyFlightOfferMarketAffiliates",
        "summary": "Submit a query and the list of fields required",
        "tags": [
          "Flight Offer Market Affiliates"
        ],
        "parameters": [
          {
            "name": "departureDateTimeOutbound",
            "type": "string",
            "description": "Departure date of outbound flight YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound",
            "type": "string",
            "description": "Location code outbound origin",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound",
            "type": "string",
            "description": "Location code outbound destination",
            "in": "query",
            "required": true
          },
          {
            "name": "cabin",
            "type": "string",
            "description": "Cabin",
            "in": "query",
            "required": true,
            "enum": [
              "Economy",
              "Business",
              "First"
            ]
          },
          {
            "name": "ADT",
            "type": "string",
            "description": "Number of Adults",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "CHD",
            "type": "string",
            "description": "Number of Child",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "INF",
            "type": "string",
            "description": "Number of Infant",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "departureDateTimeOutbound;locationCodeOriginOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound;locationCodeDestinationOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound;cabin=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabin;ADT=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "ADT;CHD=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "CHD;INF=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "INF;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightOfferMktAffiliates;departureDateTimeOutbound={departureDateTimeOutbound;locationCodeOriginOutbound=}{locationCodeOriginOutbound;locationCodeDestinationOutbound=}{locationCodeDestinationOutbound;cabin=}{cabin;cabinSubtype=}{subtype;ADT=}{ADT;CHD=}{CHD;INF=}{INF;format=}{format}": {
      "get": {
        "operationId": "RetrieveFlightOfferforMarketAffiliates-OnewayjourneywithcabinSubTypeFlightOfferMarketAffiliates",
        "summary": "Submit a query and the list of fields required",
        "tags": [
          "Flight Offer Market Affiliates"
        ],
        "parameters": [
          {
            "name": "departureDateTimeOutbound",
            "type": "string",
            "description": "Departure date of outbound flight YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound",
            "type": "string",
            "description": "Location code outbound origin",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound",
            "type": "string",
            "description": "Location code outbound destination",
            "in": "query",
            "required": true
          },
          {
            "name": "cabin",
            "type": "string",
            "description": "Cabin",
            "in": "query",
            "required": true,
            "enum": [
              "Economy"
            ]
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Cabin Subtype",
            "in": "query",
            "required": true,
            "enum": [
              "Premium"
            ]
          },
          {
            "name": "ADT",
            "type": "string",
            "description": "Number of Adults",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "CHD",
            "type": "string",
            "description": "Number of Child",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "INF",
            "type": "string",
            "description": "Number of Infant",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "departureDateTimeOutbound;locationCodeOriginOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound;locationCodeDestinationOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound;cabin=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabin;cabinSubtype=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "subtype;ADT=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "ADT;CHD=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "CHD;INF=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "INF;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightOfferMktAffiliates;departureDateTimeOutbound={departureDateTimeOutbound;locationCodeOriginOutbound=}{locationCodeOriginOutbound;locationCodeDestinationOutbound=}{locationCodeDestinationOutbound;departureDateTimeInbound=}{departureDateTimeInbound;locationCodeOriginInbound=}{locationCodeOriginInbound;locationCodeDestinationInbound=}{locationCodeDestinationInbound;cabin=}{cabin;ADT=}{ADT;CHD=}{CHD;INF=}{INF;format=}{format}": {
      "get": {
        "operationId": "RetrieveFlightOfferforMarketAffiliates-ReturnjourneyFlightOfferMarketAffiliates",
        "summary": "Submit a query and the list of fields required",
        "tags": [
          "Flight Offer Market Affiliates"
        ],
        "parameters": [
          {
            "name": "departureDateTimeOutbound",
            "type": "string",
            "description": "Departure date of outbound flight YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound",
            "type": "string",
            "description": "Location code outbound origin",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound",
            "type": "string",
            "description": "Location code outbound destination",
            "in": "query",
            "required": true
          },
          {
            "name": "cabin",
            "type": "string",
            "description": "Cabin",
            "in": "query",
            "required": true,
            "enum": [
              "Economy",
              "Business",
              "First"
            ]
          },
          {
            "name": "departureDateTimeInbound",
            "type": "string",
            "description": "Departure date of inbound flight YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeOriginInbound",
            "type": "string",
            "description": "Location code inbound origin",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeDestinationInbound",
            "type": "string",
            "description": "Location code Inbound destination",
            "in": "query",
            "required": true
          },
          {
            "name": "ADT",
            "type": "string",
            "description": "Number of Adults",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "CHD",
            "type": "string",
            "description": "Number of Child",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "INF",
            "type": "string",
            "description": "Number of Infant",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "departureDateTimeOutbound;locationCodeOriginOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound;locationCodeDestinationOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound;departureDateTimeInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDateTimeInbound;locationCodeOriginInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeOriginInbound;locationCodeDestinationInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeDestinationInbound;cabin=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabin;ADT=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "ADT;CHD=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "CHD;INF=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "INF;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/flightOfferMktAffiliates;departureDateTimeOutbound={departureDateTimeOutbound;locationCodeOriginOutbound=}{locationCodeOriginOutbound;locationCodeDestinationOutbound=}{locationCodeDestinationOutbound;departureDateTimeInbound=}{departureDateTimeInbound;locationCodeOriginInbound=}{locationCodeOriginInbound;locationCodeDestinationInbound=}{locationCodeDestinationInbound;cabin=}{cabin;cabinSubtype=}{subtype;ADT=}{ADT;CHD=}{CHD;INF=}{INF;format=}{format}": {
      "get": {
        "operationId": "RetrieveFlightOfferforMarketAffiliates-TwowayjourneywithcabinSubTypeFlightOfferMarketAffiliates",
        "summary": "Submit a query and the list of fields required",
        "tags": [
          "Flight Offer Market Affiliates"
        ],
        "parameters": [
          {
            "name": "departureDateTimeOutbound",
            "type": "string",
            "description": "Departure date of outbound flight YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound",
            "type": "string",
            "description": "Location code outbound origin",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound",
            "type": "string",
            "description": "Location code outbound destination",
            "in": "query",
            "required": true
          },
          {
            "name": "cabin",
            "type": "string",
            "description": "Cabin",
            "in": "query",
            "required": true,
            "enum": [
              "Economy"
            ]
          },
          {
            "name": "subtype",
            "type": "string",
            "description": "Cabin Subtype",
            "in": "query",
            "required": true,
            "enum": [
              "Premium"
            ]
          },
          {
            "name": "departureDateTimeInbound",
            "type": "string",
            "description": "Departure date of inbound flight YYYY-MM-DDTHH:mm:ssZ",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeOriginInbound",
            "type": "string",
            "description": "Location code inbound origin",
            "in": "query",
            "required": true
          },
          {
            "name": "locationCodeDestinationInbound",
            "type": "string",
            "description": "Location code Inbound destination",
            "in": "query",
            "required": true
          },
          {
            "name": "ADT",
            "type": "string",
            "description": "Number of Adults",
            "in": "query",
            "required": true,
            "default": "1"
          },
          {
            "name": "CHD",
            "type": "string",
            "description": "Number of Child",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "INF",
            "type": "string",
            "description": "Number of Infant",
            "in": "query",
            "required": true,
            "default": "0"
          },
          {
            "name": "format",
            "type": "string",
            "description": "mime type",
            "in": "path",
            "required": true,
            "enum": [
              ".json",
              ".xml"
            ]
          },
          {
            "name": "departureDateTimeOutbound;locationCodeOriginOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeOriginOutbound;locationCodeDestinationOutbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeDestinationOutbound;departureDateTimeInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "departureDateTimeInbound;locationCodeOriginInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeOriginInbound;locationCodeDestinationInbound=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "locationCodeDestinationInbound;cabin=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "cabin;cabinSubtype=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "subtype;ADT=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "ADT;CHD=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "CHD;INF=",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "INF;format=",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}