{
  "swagger": "2.0",
  "info": {
    "title": "Press Association Racing API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.press.net/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Welcome to the IO Docs page for the Press Association Racing API.",
    "x-mashery-id": "2292"
  },
  "schemes": [
    "http"
  ],
  "host": "api.press.net",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.press.net/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Country"
    },
    {
      "name": "Course"
    },
    {
      "name": "Meeting"
    },
    {
      "name": "Race"
    },
    {
      "name": "Runner"
    },
    {
      "name": "Jockey"
    },
    {
      "name": "Owner"
    },
    {
      "name": "Trainer"
    },
    {
      "name": "Horse"
    }
  ],
  "paths": {
    "/v1/racing/country": {
      "get": {
        "operationId": "ListallCountryCountry",
        "summary": "Returns a list of all available country",
        "tags": [
          "Country"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Limit the country list to items containing the provided string. For example: IRE.",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/country/{countryId}": {
      "get": {
        "operationId": "DetailsofspecificCountryCountry",
        "summary": "Returns the details of a specific country",
        "tags": [
          "Country"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "countryId",
            "type": "string",
            "description": "The ID of the required country, e.g.8f708753-05ba-11e4-aee5-1c6d1ea457ae",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/course": {
      "get": {
        "operationId": "ListallCoursesCourse",
        "summary": "Returns a list of all available courses",
        "tags": [
          "Course"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Limit the course list to items containing the provided string. For example: Ponte.",
            "in": "query",
            "required": false
          },
          {
            "name": "countryId",
            "type": "string",
            "description": "The ID of the required country, e.g.8f708753-05ba-11e4-aee5-1c6d1ea457ae",
            "in": "query",
            "required": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/course/{courseId}": {
      "get": {
        "operationId": "DetailsofspecificCourseCourse",
        "summary": "Returns the details of a specific course",
        "tags": [
          "Course"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "courseId",
            "type": "string",
            "description": "The ID of the required course, e.g.2b8aa722-11cc-d96b-23cb-99e81aecf395",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/meeting": {
      "get": {
        "operationId": "ListallMeetingsMeeting",
        "summary": "Returns a list of all available meetings",
        "tags": [
          "Meeting"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "countryId",
            "type": "string",
            "description": "The ID of the required country, e.g.8f708753-05ba-11e4-aee5-1c6d1ea457ae",
            "in": "query",
            "required": false
          },
          {
            "name": "date",
            "type": "string",
            "description": "The date to search for Meetings",
            "in": "query",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/meeting/{meetingId}": {
      "get": {
        "operationId": "DetailsofspecificMeetingMeeting",
        "summary": "Returns the details of a specific Meeting",
        "tags": [
          "Meeting"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "meetingId",
            "type": "string",
            "description": "The ID of the required meeting, e.g.39de9420-f958-11e4-862e-6ac51dc15c70",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/race/{raceId}": {
      "get": {
        "operationId": "DetailsofraceRace",
        "summary": "Returns the details of a specific race",
        "tags": [
          "Race"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "raceId",
            "type": "string",
            "description": "The ID of the required race, e.g. 39e78382-f958-11e4-862e-6ac51dc15c70",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/race/{raceId}/commentary": {
      "get": {
        "operationId": "RacecommentaryRace",
        "summary": "Returns the commentary for a specific race",
        "tags": [
          "Race"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "raceId",
            "type": "string",
            "description": "The ID of the required race, e.g. f4597dcc-9bdb-11e4-ada2-d7159d179004",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/runner/{runnerId}": {
      "get": {
        "operationId": "RunnerDetailsRunner",
        "summary": "Returns the details of a specific runner",
        "tags": [
          "Runner"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "runnerId",
            "type": "string",
            "description": "The ID of the runner, e.g.e4bc347a-9c1e-11e4-ada2-d7159d179004",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/runner/{runnerId}/form": {
      "get": {
        "operationId": "RunnersformRunner",
        "summary": "Returns the details of a runners form",
        "tags": [
          "Runner"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "runnerId",
            "type": "string",
            "description": "The ID of the required runner, e4bc347a-9c1e-11e4-ada2-d7159d179004",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/jockey": {
      "get": {
        "operationId": "ListallJockeysJockey",
        "summary": "Returns a list of all available jockeys",
        "tags": [
          "Jockey"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Limit the jockey list to items containing the provided string. For example: McCoy.",
            "in": "query",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/jockey/{jockeyId}": {
      "get": {
        "operationId": "DetailsofspecificJockeyJockey",
        "summary": "Returns the details of a specific jockey",
        "tags": [
          "Jockey"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "jockeyId",
            "type": "string",
            "description": "The ID of the required jockey, e.g.5cd0f4bc-603f-11e4-b74c-b86ac427c202",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/owner": {
      "get": {
        "operationId": "ListallOwnersOwner",
        "summary": "Returns a list of all available owners",
        "tags": [
          "Owner"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Limit the owner list to items containing the provided string. For example: Godolphin.",
            "in": "query",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/racing/owner/{ownerId}": {
      "get": {
        "operationId": "DetailsofspecificOwnerOwner",
        "summary": "Returns the details of a specific owner",
        "tags": [
          "Owner"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "ownerId",
            "type": "string",
            "description": "The ID of the required owner, e.g.41fc7830-5f8d-11e4-b04c-da83f7195bdf",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/trainer": {
      "get": {
        "operationId": "ListallTrainersTrainer",
        "summary": "Returns a list of all available trainers",
        "tags": [
          "Trainer"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Limit the trainer list to items containing the provided string. For example: Roger.",
            "in": "query",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/trainer/{trainerId}": {
      "get": {
        "operationId": "DetailsofspecificTrainerTrainer",
        "summary": "Returns the details of a specific trainer",
        "tags": [
          "Trainer"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "trainerId",
            "type": "string",
            "description": "The ID of the required trainer, e.g.73ffac02-6123-11e4-b04c-da83f7195bdf",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/horse": {
      "get": {
        "operationId": "ListallHorsesHorse",
        "summary": "Returns a list of all available horses",
        "tags": [
          "Horse"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "query",
            "type": "string",
            "description": "Limit the horse list to items containing the provided string. For example: Job.",
            "in": "query",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/racing/horse/{horseId}": {
      "get": {
        "operationId": "DetailsofspecificHorseHorse",
        "summary": "Returns the details of a specific horse",
        "tags": [
          "Horse"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "Output format as JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ]
          },
          {
            "name": "horseId",
            "type": "string",
            "description": "The ID of the required horse, e.g.ef6c68c8-603b-11e4-b04c-da83f7195bdf",
            "in": "path",
            "required": true
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}