{
  "swagger": "2.0",
  "info": {
    "title": "British Airways Locations",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.ba.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. returns a list of all BA destinations (including Code shares)",
    "x-mashery-id": "1901"
  },
  "schemes": [
    "http"
  ],
  "host": "api.ba.com",
  "basePath": "/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.ba.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "BA_Locations"
    }
  ],
  "paths": {
    "/balocations": {
      "get": {
        "operationId": "ReturnscompletelistofBAdestinations(inclcodeshares)BA_Locations",
        "summary": "",
        "tags": [
          "BA_Locations"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}