{
  "swagger": "2.0",
  "info": {
    "title": "Online Video and Social APIs",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.tmsapi.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our Gracenote API services using API Explorer. Simply enter the parameters and click “Try It”. You must have a valid API key for this to work. Online Video Data offers curated links to thousands of online videos, thoroughly indexed and synced to TMS Unique IDs. Online Social Data provides links to metadata and social media resources for thousands of movies and TV programs, verified for accuracy and matched to TMS Unique IDs.",
    "x-mashery-id": "1212"
  },
  "schemes": [
    "http"
  ],
  "host": "api.tmsapi.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.tmsapi.com/io-docs"
  },
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Online Video Methods"
    },
    {
      "name": "Online Social Methods"
    }
  ],
  "paths": {
    "/v2/episodes/{rootId_tmsId}": {
      "get": {
        "operationId": "SingleEpisodeInformationOnlineVideoMethods",
        "summary": "Obtain single episode information (for example tms...",
        "description": "Obtain single episode information (for example tmsId=EP006883590220)",
        "tags": [
          "Online Video Methods"
        ],
        "parameters": [
          {
            "name": "rootId_tmsId",
            "type": "string",
            "description": "rootId or tmsId of TV episode.",
            "in": "path",
            "required": true,
            "default": "EP006883590220.xml"
          },
          {
            "name": "region",
            "type": "string",
            "description": "While the API will try to automatically detect the host region based on the description language of the provided TMS ID there is also an option to add a region parameter to any OVD OnConnect query.  Using this region parameter will ensure that an API request returns content matches for the desired region. To be used only with TMS ID (alphanumeric, beginning with 'SH', 'MV', 'EP'). If not specified defaults to US.",
            "in": "query",
            "required": false,
            "enum": [
              "AU",
              "BR",
              "CA",
              "FR",
              "DE",
              "IT",
              "MX",
              "ES",
              "SE",
              "UK"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v2/episodes.xml": {
      "get": {
        "operationId": "MultipleEpisodeInformationOnlineVideoMethods",
        "summary": "Obtain multiple episode information (for example E...",
        "description": "Obtain multiple episode information (for example EP005000800081,EP005000800083)",
        "tags": [
          "Online Video Methods"
        ],
        "parameters": [
          {
            "name": "episode_id",
            "type": "string",
            "description": "The episode IDs (rootIds or tmsIds) separated by commas",
            "in": "query",
            "required": false,
            "default": "EP005000800081,EP005000800083"
          },
          {
            "name": "region",
            "type": "string",
            "description": "While the API will try to automatically detect the host region based on the description language of the provided TMS ID there is also an option to add a region parameter to any OVD OnConnect query.  Using this region parameter will ensure that an API request returns content matches for the desired region. To be used only with TMS ID (alphanumeric, beginning with 'SH', 'MV', 'EP'). If not specified defaults to US.",
            "in": "query",
            "required": false,
            "enum": [
              "AU",
              "BR",
              "CA",
              "FR",
              "DE",
              "IT",
              "MX",
              "ES",
              "SE",
              "UK"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v2/series/{seriesId}": {
      "get": {
        "operationId": "SeriesOnlineVideoMethods",
        "summary": "Obtain series information (for example, seriesId=1...",
        "description": "Obtain series information (for example, seriesId=185554)",
        "tags": [
          "Online Video Methods"
        ],
        "parameters": [
          {
            "name": "seriesId",
            "type": "string",
            "description": "seriesId of TV show",
            "in": "path",
            "required": true,
            "default": "185554.xml"
          },
          {
            "name": "region",
            "type": "string",
            "description": "While the API will try to automatically detect the host region based on the description language of the provided TMS ID there is also an option to add a region parameter to any OVD OnConnect query.  Using this region parameter will ensure that an API request returns content matches for the desired region. To be used only with TMS ID (alphanumeric, beginning with 'SH', 'MV', 'EP'). If not specified defaults to US.",
            "in": "query",
            "required": false,
            "enum": [
              "AU",
              "BR",
              "CA",
              "FR",
              "DE",
              "IT",
              "MX",
              "ES",
              "SE",
              "UK"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v2/movies/{rootId_tmsId}": {
      "get": {
        "operationId": "MoviesOnlineVideoMethods",
        "summary": "Obtain movie information (for example, rootId=1742...",
        "description": "Obtain movie information (for example, rootId=17420)",
        "tags": [
          "Online Video Methods"
        ],
        "parameters": [
          {
            "name": "rootId_tmsId",
            "type": "string",
            "description": "rootId or tmsId of movie",
            "in": "path",
            "required": true,
            "default": "17420.xml"
          },
          {
            "name": "region",
            "type": "string",
            "description": "While the API will try to automatically detect the host region based on the description language of the provided TMS ID there is also an option to add a region parameter to any OVD OnConnect query.  Using this region parameter will ensure that an API request returns content matches for the desired region. To be used only with TMS ID (alphanumeric, beginning with 'SH', 'MV', 'EP'). If not specified defaults to US.",
            "in": "query",
            "required": false,
            "enum": [
              "AU",
              "BR",
              "CA",
              "FR",
              "DE",
              "IT",
              "MX",
              "ES",
              "SE",
              "UK"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v2/specials/{rootId_tmsId}": {
      "get": {
        "operationId": "SpecialsOnlineVideoMethods",
        "summary": "Obtain specials information",
        "tags": [
          "Online Video Methods"
        ],
        "parameters": [
          {
            "name": "rootId_tmsId",
            "type": "string",
            "description": "rootId or tmsId of special",
            "in": "path",
            "required": true,
            "default": "SH016293120000.xml"
          },
          {
            "name": "region",
            "type": "string",
            "description": "While the API will try to automatically detect the host region based on the description language of the provided TMS ID there is also an option to add a region parameter to any OVD OnConnect query.  Using this region parameter will ensure that an API request returns content matches for the desired region. To be used only with TMS ID (alphanumeric, beginning with 'SH', 'MV', 'EP'). If not specified defaults to US.",
            "in": "query",
            "required": false,
            "enum": [
              "AU",
              "BR",
              "CA",
              "FR",
              "DE",
              "IT",
              "MX",
              "ES",
              "SE",
              "UK"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/social/{rootId_seriesId}": {
      "get": {
        "operationId": "Movie/SeriesInformationOnlineSocialMethods",
        "summary": "Obtain social links for a single movie or TV serie...",
        "description": "Obtain social links for a single movie or TV series. Note that this method uses the rootId of movie or seriesId from TV show.",
        "tags": [
          "Online Social Methods"
        ],
        "parameters": [
          {
            "name": "rootId_seriesId",
            "type": "string",
            "description": "Movie rootId, or TV show seriesId",
            "in": "path",
            "required": true,
            "default": "9287010.xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}