{
  "swagger": "2.0",
  "info": {
    "version": "2014-05-30",
    "x-release": "v4",
    "title": "Amazon CloudHSM",
    "description": "<fullname>AWS CloudHSM Service</fullname>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/cloudhsm/"
  },
  "host": "cloudhsm.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "format": "date-time",
      "required": true
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "RemoveTagsFromResource",
        "description": "<p>Removes one or more tags from the specified AWS CloudHSM resource.</p> <p>To remove a tag, specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromResourceResponse"
            }
          },
          "480": {
            "description": "CloudHsmServiceException",
            "schema": {
              "$ref": "#/definitions/CloudHsmServiceException"
            }
          },
          "481": {
            "description": "CloudHsmInternalException",
            "schema": {
              "$ref": "#/definitions/CloudHsmInternalException"
            }
          },
          "482": {
            "description": "InvalidRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidRequestException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveTagsFromResourceRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        }
      ]
    }
  },
  "definitions": {
    "AZ": {
      "type": "string",
      "pattern": "[a-zA-Z0-9\\-]*"
    },
    "AZList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AZ"
      }
    },
    "AddTagsToResourceRequest": {
      "type": "object",
      "required": [
        "ResourceArn",
        "TagList"
      ],
      "properties": {
        "ResourceArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag."
        },
        "TagList": {
          "$ref": "#/definitions/TagList",
          "description": "One or more tags."
        }
      }
    },
    "AddTagsToResourceResponse": {
      "type": "object",
      "required": [
        "Status"
      ],
      "properties": {
        "Status": {
          "$ref": "#/definitions/String",
          "description": "The status of the operation."
        }
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "Certificate": {
      "type": "string",
      "pattern": "[\\w :+=./\\n-]*",
      "minLength": 600,
      "maxLength": 2400
    },
    "CertificateFingerprint": {
      "type": "string",
      "pattern": "([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]"
    },
    "ClientArn": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:client-[0-9a-f]{8}"
    },
    "ClientLabel": {
      "type": "string",
      "pattern": "[a-zA-Z0-9_.-]{2,64}"
    },
    "ClientList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ClientArn"
      }
    },
    "ClientToken": {
      "type": "string",
      "pattern": "[a-zA-Z0-9]{1,64}"
    },
    "ClientVersion": {
      "type": "string",
      "enum": [
        "5.1",
        "5.3"
      ]
    },
    "CloudHsmInternalException": {
      "type": "object",
      "properties": {},
      "description": "Indicates that an internal error occurred."
    },
    "CloudHsmObjectState": {
      "type": "string",
      "enum": [
        "READY",
        "UPDATING",
        "DEGRADED"
      ]
    },
    "CloudHsmServiceException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/String",
          "description": "Additional information about the error."
        },
        "retryable": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates if the action can be retried."
        }
      },
      "description": "Indicates that an exception occurred in the AWS CloudHSM service."
    },
    "CreateHapgRequest": {
      "type": "object",
      "required": [
        "Label"
      ],
      "properties": {
        "Label": {
          "$ref": "#/definitions/Label",
          "description": "The label of the new high-availability partition group."
        }
      },
      "description": "Contains the inputs for the <a>CreateHapgRequest</a> action."
    },
    "CreateHapgResponse": {
      "type": "object",
      "properties": {
        "HapgArn": {
          "$ref": "#/definitions/HapgArn",
          "description": "The ARN of the high-availability partition group."
        }
      },
      "description": "Contains the output of the <a>CreateHAPartitionGroup</a> action."
    },
    "CreateHsmRequest": {
      "type": "object",
      "required": [
        "SubnetId",
        "SshKey",
        "IamRoleArn",
        "SubscriptionType"
      ],
      "properties": {
        "SubnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "The identifier of the subnet in your VPC in which to place the HSM."
        },
        "SshKey": {
          "$ref": "#/definitions/SshKey",
          "description": "The SSH public key to install on the HSM."
        },
        "EniIp": {
          "$ref": "#/definitions/IpAddress",
          "description": "<p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>"
        },
        "IamRoleArn": {
          "$ref": "#/definitions/IamRoleArn",
          "description": "The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf."
        },
        "ExternalId": {
          "$ref": "#/definitions/ExternalId",
          "description": "The external ID from <b>IamRoleArn</b>, if present."
        },
        "SubscriptionType": {
          "$ref": "#/definitions/SubscriptionType"
        },
        "ClientToken": {
          "$ref": "#/definitions/ClientToken",
          "description": "A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored."
        },
        "SyslogIp": {
          "$ref": "#/definitions/IpAddress",
          "description": "The IP address for the syslog monitoring server. The AWS CloudHSM service only supports one syslog monitoring server."
        }
      },
      "description": "Contains the inputs for the <a>CreateHsm</a> operation."
    },
    "CreateHsmResponse": {
      "type": "object",
      "properties": {
        "HsmArn": {
          "$ref": "#/definitions/HsmArn",
          "description": "The ARN of the HSM."
        }
      },
      "description": "Contains the output of the <a>CreateHsm</a> operation."
    },
    "CreateLunaClientRequest": {
      "type": "object",
      "required": [
        "Certificate"
      ],
      "properties": {
        "Label": {
          "$ref": "#/definitions/ClientLabel",
          "description": "The label for the client."
        },
        "Certificate": {
          "$ref": "#/definitions/Certificate",
          "description": "The contents of a Base64-Encoded X.509 v3 certificate to be installed on the HSMs used by this client."
        }
      },
      "description": "Contains the inputs for the <a>CreateLunaClient</a> action."
    },
    "CreateLunaClientResponse": {
      "type": "object",
      "properties": {
        "ClientArn": {
          "$ref": "#/definitions/ClientArn",
          "description": "The ARN of the client."
        }
      },
      "description": "Contains the output of the <a>CreateLunaClient</a> action."
    },
    "DeleteHapgRequest": {
      "type": "object",
      "required": [
        "HapgArn"
      ],
      "properties": {
        "HapgArn": {
          "$ref": "#/definitions/HapgArn",
          "description": "The ARN of the high-availability partition group to delete."
        }
      },
      "description": "Contains the inputs for the <a>DeleteHapg</a> action."
    },
    "DeleteHapgResponse": {
      "type": "object",
      "required": [
        "Status"
      ],
      "properties": {
        "Status": {
          "$ref": "#/definitions/String",
          "description": "The status of the action."
        }
      },
      "description": "Contains the output of the <a>DeleteHapg</a> action."
    },
    "DeleteHsmRequest": {
      "type": "object",
      "required": [
        "HsmArn"
      ],
      "properties": {
        "HsmArn": {
          "$ref": "#/definitions/HsmArn",
          "description": "The ARN of the HSM to delete."
        }
      },
      "description": "Contains the inputs for the <a>DeleteHsm</a> operation."
    },
    "DeleteHsmResponse": {
      "type": "object",
      "required": [
        "Status"
      ],
      "properties": {
        "Status": {
          "$ref": "#/definitions/String",
          "description": "The status of the operation."
        }
      },
      "description": "Contains the output of the <a>DeleteHsm</a> operation."
    },
    "DeleteLunaClientRequest": {
      "type": "object",
      "required": [
        "ClientArn"
      ],
      "properties": {
        "ClientArn": {
          "$ref": "#/definitions/ClientArn",
          "description": "The ARN of the client to delete."
        }
      }
    },
    "DeleteLunaClientResponse": {
      "type": "object",
      "required": [
        "Status"
      ],
      "properties": {
        "Status": {
          "$ref": "#/definitions/String",
          "description": "The status of the action."
        }
      }
    },
    "DescribeHapgRequest": {
      "type": "object",
      "required": [
        "HapgArn"
      ],
      "properties": {
        "HapgArn": {
          "$ref": "#/definitions/HapgArn",
          "description": "The ARN of the high-availability partition group to describe."
        }
      },
      "description": "Contains the inputs for the <a>DescribeHapg</a> action."
    },
    "DescribeHapgResponse": {
      "type": "object",
      "properties": {
        "HapgArn": {
          "$ref": "#/definitions/HapgArn",
          "description": "The ARN of the high-availability partition group."
        },
        "HapgSerial": {
          "$ref": "#/definitions/String",
          "description": "The serial number of the high-availability partition group."
        },
        "HsmsLastActionFailed": {
          "$ref": "#/definitions/HsmList"
        },
        "HsmsPendingDeletion": {
          "$ref": "#/definitions/HsmList"
        },
        "HsmsPendingRegistration": {
          "$ref": "#/definitions/HsmList"
        },
        "Label": {
          "$ref": "#/definitions/Label",
          "description": "The label for the high-availability partition group."
        },
        "LastModifiedTimestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time the high-availability partition group was last modified."
        },
        "PartitionSerialList": {
          "$ref": "#/definitions/PartitionSerialList",
          "description": "The list of partition serial numbers that belong to the high-availability partition group."
        },
        "State": {
          "$ref": "#/definitions/CloudHsmObjectState",
          "description": "The state of the high-availability partition group."
        }
      },
      "description": "Contains the output of the <a>DescribeHapg</a> action."
    },
    "DescribeHsmRequest": {
      "type": "object",
      "properties": {
        "HsmArn": {
          "$ref": "#/definitions/HsmArn",
          "description": "The ARN of the HSM. Either the <i>HsmArn</i> or the <i>SerialNumber</i> parameter must be specified."
        },
        "HsmSerialNumber": {
          "$ref": "#/definitions/HsmSerialNumber",
          "description": "The serial number of the HSM. Either the <i>HsmArn</i> or the <i>HsmSerialNumber</i> parameter must be specified."
        }
      },
      "description": "Contains the inputs for the <a>DescribeHsm</a> operation. "
    },
    "DescribeHsmResponse": {
      "type": "object",
      "properties": {
        "HsmArn": {
          "$ref": "#/definitions/HsmArn",
          "description": "The ARN of the HSM."
        },
        "Status": {
          "$ref": "#/definitions/HsmStatus",
          "description": "The status of the HSM."
        },
        "StatusDetails": {
          "$ref": "#/definitions/String",
          "description": "Contains additional information about the status of the HSM."
        },
        "AvailabilityZone": {
          "$ref": "#/definitions/AZ",
          "description": "The Availability Zone that the HSM is in."
        },
        "EniId": {
          "$ref": "#/definitions/EniId",
          "description": "The identifier of the elastic network interface (ENI) attached to the HSM."
        },
        "EniIp": {
          "$ref": "#/definitions/IpAddress",
          "description": "The IP address assigned to the HSM's ENI."
        },
        "SubscriptionType": {
          "$ref": "#/definitions/SubscriptionType"
        },
        "SubscriptionStartDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The subscription start date."
        },
        "SubscriptionEndDate": {
          "$ref": "#/definitions/Timestamp",
          "description": "The subscription end date."
        },
        "VpcId": {
          "$ref": "#/definitions/VpcId",
          "description": "The identifier of the VPC that the HSM is in."
        },
        "SubnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "The identifier of the subnet that the HSM is in."
        },
        "IamRoleArn": {
          "$ref": "#/definitions/IamRoleArn",
          "description": "The ARN of the IAM role assigned to the HSM."
        },
        "SerialNumber": {
          "$ref": "#/definitions/HsmSerialNumber",
          "description": "The serial number of the HSM."
        },
        "VendorName": {
          "$ref": "#/definitions/String",
          "description": "The name of the HSM vendor."
        },
        "HsmType": {
          "$ref": "#/definitions/String",
          "description": "The HSM model type."
        },
        "SoftwareVersion": {
          "$ref": "#/definitions/String",
          "description": "The HSM software version."
        },
        "SshPublicKey": {
          "$ref": "#/definitions/SshKey",
          "description": "The public SSH key."
        },
        "SshKeyLastUpdated": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time that the SSH key was last updated."
        },
        "ServerCertUri": {
          "$ref": "#/definitions/String",
          "description": "The URI of the certificate server."
        },
        "ServerCertLastUpdated": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time that the server certificate was last updated."
        },
        "Partitions": {
          "$ref": "#/definitions/PartitionList",
          "description": "The list of partitions on the HSM."
        }
      },
      "description": "Contains the output of the <a>DescribeHsm</a> operation."
    },
    "DescribeLunaClientRequest": {
      "type": "object",
      "properties": {
        "ClientArn": {
          "$ref": "#/definitions/ClientArn",
          "description": "The ARN of the client."
        },
        "CertificateFingerprint": {
          "$ref": "#/definitions/CertificateFingerprint",
          "description": "The certificate fingerprint."
        }
      }
    },
    "DescribeLunaClientResponse": {
      "type": "object",
      "properties": {
        "ClientArn": {
          "$ref": "#/definitions/ClientArn",
          "description": "The ARN of the client."
        },
        "Certificate": {
          "$ref": "#/definitions/Certificate",
          "description": "The certificate installed on the HSMs used by this client."
        },
        "CertificateFingerprint": {
          "$ref": "#/definitions/CertificateFingerprint",
          "description": "The certificate fingerprint."
        },
        "LastModifiedTimestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The date and time the client was last modified."
        },
        "Label": {
          "$ref": "#/definitions/Label",
          "description": "The label of the client."
        }
      }
    },
    "EniId": {
      "type": "string",
      "pattern": "eni-[0-9a-f]{8}"
    },
    "ExternalId": {
      "type": "string",
      "pattern": "[\\w :+=./-]*"
    },
    "GetConfigRequest": {
      "type": "object",
      "required": [
        "ClientArn",
        "ClientVersion",
        "HapgList"
      ],
      "properties": {
        "ClientArn": {
          "$ref": "#/definitions/ClientArn",
          "description": "The ARN of the client."
        },
        "ClientVersion": {
          "$ref": "#/definitions/ClientVersion",
          "description": "The client version."
        },
        "HapgList": {
          "$ref": "#/definitions/HapgList",
          "description": "A list of ARNs that identify the high-availability partition groups that are associated with the client."
        }
      }
    },
    "GetConfigResponse": {
      "type": "object",
      "properties": {
        "ConfigType": {
          "$ref": "#/definitions/String",
          "description": "The type of credentials."
        },
        "ConfigFile": {
          "$ref": "#/definitions/String",
          "description": "The chrystoki.conf configuration file."
        },
        "ConfigCred": {
          "$ref": "#/definitions/String",
          "description": "The certificate file containing the server.pem files of the HSMs."
        }
      }
    },
    "HapgArn": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hapg-[0-9a-f]{8}"
    },
    "HapgList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/HapgArn"
      }
    },
    "HsmArn": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}",
      "description": "An ARN that identifies an HSM."
    },
    "HsmList": {
      "type": "array",
      "description": "Contains a list of ARNs that identify the HSMs.",
      "items": {
        "$ref": "#/definitions/HsmArn"
      }
    },
    "HsmSerialNumber": {
      "type": "string",
      "pattern": "\\d{1,16}"
    },
    "HsmStatus": {
      "type": "string",
      "enum": [
        "PENDING",
        "RUNNING",
        "UPDATING",
        "SUSPENDED",
        "TERMINATING",
        "TERMINATED",
        "DEGRADED"
      ]
    },
    "IamRoleArn": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\\+=,\\.\\-@]{1,64}"
    },
    "InvalidRequestException": {
      "type": "object",
      "properties": {},
      "description": "Indicates that one or more of the request parameters are not valid."
    },
    "IpAddress": {
      "type": "string",
      "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}"
    },
    "Label": {
      "type": "string",
      "pattern": "[a-zA-Z0-9_.-]{1,64}"
    },
    "ListAvailableZonesRequest": {
      "type": "object",
      "properties": {},
      "description": "Contains the inputs for the <a>ListAvailableZones</a> action."
    },
    "ListAvailableZonesResponse": {
      "type": "object",
      "properties": {
        "AZList": {
          "$ref": "#/definitions/AZList",
          "description": "The list of Availability Zones that have available AWS CloudHSM capacity."
        }
      }
    },
    "ListHapgsRequest": {
      "type": "object",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "The <i>NextToken</i> value from a previous call to <a>ListHapgs</a>. Pass null if this is the first call."
        }
      }
    },
    "ListHapgsResponse": {
      "type": "object",
      "required": [
        "HapgList"
      ],
      "properties": {
        "HapgList": {
          "$ref": "#/definitions/HapgList",
          "description": "The list of high-availability partition groups."
        },
        "NextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If not null, more results are available. Pass this value to <a>ListHapgs</a> to retrieve the next set of items."
        }
      }
    },
    "ListHsmsRequest": {
      "type": "object",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "The <i>NextToken</i> value from a previous call to <a>ListHsms</a>. Pass null if this is the first call."
        }
      }
    },
    "ListHsmsResponse": {
      "type": "object",
      "properties": {
        "HsmList": {
          "$ref": "#/definitions/HsmList",
          "description": "The list of ARNs that identify the HSMs."
        },
        "NextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If not null, more results are available. Pass this value to <a>ListHsms</a> to retrieve the next set of items."
        }
      },
      "description": "Contains the output of the <a>ListHsms</a> operation."
    },
    "ListLunaClientsRequest": {
      "type": "object",
      "properties": {
        "NextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "The <i>NextToken</i> value from a previous call to <a>ListLunaClients</a>. Pass null if this is the first call."
        }
      }
    },
    "ListLunaClientsResponse": {
      "type": "object",
      "required": [
        "ClientList"
      ],
      "properties": {
        "ClientList": {
          "$ref": "#/definitions/ClientList",
          "description": "The list of clients."
        },
        "NextToken": {
          "$ref": "#/definitions/PaginationToken",
          "description": "If not null, more results are available. Pass this to <a>ListLunaClients</a> to retrieve the next set of items."
        }
      }
    },
    "ListTagsForResourceRequest": {
      "type": "object",
      "required": [
        "ResourceArn"
      ],
      "properties": {
        "ResourceArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the AWS CloudHSM resource."
        }
      }
    },
    "ListTagsForResourceResponse": {
      "type": "object",
      "required": [
        "TagList"
      ],
      "properties": {
        "TagList": {
          "$ref": "#/definitions/TagList",
          "description": "One or more tags."
        }
      }
    },
    "ModifyHapgRequest": {
      "type": "object",
      "required": [
        "HapgArn"
      ],
      "properties": {
        "HapgArn": {
          "$ref": "#/definitions/HapgArn",
          "description": "The ARN of the high-availability partition group to modify."
        },
        "Label": {
          "$ref": "#/definitions/Label",
          "description": "The new label for the high-availability partition group."
        },
        "PartitionSerialList": {
          "$ref": "#/definitions/PartitionSerialList",
          "description": "The list of partition serial numbers to make members of the high-availability partition group."
        }
      }
    },
    "ModifyHapgResponse": {
      "type": "object",
      "properties": {
        "HapgArn": {
          "$ref": "#/definitions/HapgArn",
          "description": "The ARN of the high-availability partition group."
        }
      }
    },
    "ModifyHsmRequest": {
      "type": "object",
      "required": [
        "HsmArn"
      ],
      "properties": {
        "HsmArn": {
          "$ref": "#/definitions/HsmArn",
          "description": "The ARN of the HSM to modify."
        },
        "SubnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "The new identifier of the subnet that the HSM is in. The new subnet must be in the same Availability Zone as the current subnet."
        },
        "EniIp": {
          "$ref": "#/definitions/IpAddress",
          "description": "<p>The new IP address for the elastic network interface (ENI) attached to the HSM.</p> <p>If the HSM is moved to a different subnet, and an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the new subnet.</p>"
        },
        "IamRoleArn": {
          "$ref": "#/definitions/IamRoleArn",
          "description": "The new IAM role ARN."
        },
        "ExternalId": {
          "$ref": "#/definitions/ExternalId",
          "description": "The new external ID."
        },
        "SyslogIp": {
          "$ref": "#/definitions/IpAddress",
          "description": "The new IP address for the syslog monitoring server. The AWS CloudHSM service only supports one syslog monitoring server."
        }
      },
      "description": "Contains the inputs for the <a>ModifyHsm</a> operation."
    },
    "ModifyHsmResponse": {
      "type": "object",
      "properties": {
        "HsmArn": {
          "$ref": "#/definitions/HsmArn",
          "description": "The ARN of the HSM."
        }
      },
      "description": "Contains the output of the <a>ModifyHsm</a> operation."
    },
    "ModifyLunaClientRequest": {
      "type": "object",
      "required": [
        "ClientArn",
        "Certificate"
      ],
      "properties": {
        "ClientArn": {
          "$ref": "#/definitions/ClientArn",
          "description": "The ARN of the client."
        },
        "Certificate": {
          "$ref": "#/definitions/Certificate",
          "description": "The new certificate for the client."
        }
      }
    },
    "ModifyLunaClientResponse": {
      "type": "object",
      "properties": {
        "ClientArn": {
          "$ref": "#/definitions/ClientArn",
          "description": "The ARN of the client."
        }
      }
    },
    "PaginationToken": {
      "type": "string",
      "pattern": "[a-zA-Z0-9+/]*"
    },
    "PartitionArn": {
      "type": "string",
      "pattern": "arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\\-]*:[0-9]{12}:hsm-[0-9a-f]{8}/partition-[0-9]{6,12}"
    },
    "PartitionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PartitionArn"
      }
    },
    "PartitionSerial": {
      "type": "string",
      "pattern": "\\d{6,12}"
    },
    "PartitionSerialList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PartitionSerial"
      }
    },
    "RemoveTagsFromResourceRequest": {
      "type": "object",
      "required": [
        "ResourceArn",
        "TagKeyList"
      ],
      "properties": {
        "ResourceArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the AWS CloudHSM resource."
        },
        "TagKeyList": {
          "$ref": "#/definitions/TagKeyList",
          "description": "<p>The tag key or keys to remove.</p> <p>Specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>"
        }
      }
    },
    "RemoveTagsFromResourceResponse": {
      "type": "object",
      "required": [
        "Status"
      ],
      "properties": {
        "Status": {
          "$ref": "#/definitions/String",
          "description": "The status of the operation."
        }
      }
    },
    "SshKey": {
      "type": "string",
      "pattern": "[a-zA-Z0-9+/= ._:\\\\@-]*"
    },
    "String": {
      "type": "string",
      "pattern": "[\\w :+=./\\\\-]*"
    },
    "SubnetId": {
      "type": "string",
      "pattern": "subnet-[0-9a-f]{8}"
    },
    "SubscriptionType": {
      "type": "string",
      "enum": [
        "PRODUCTION"
      ],
      "description": "<p>Specifies the type of subscription for the HSM.</p> <ul> <li><b>PRODUCTION</b> - The HSM is being used in a production environment.</li> <li><b>TRIAL</b> - The HSM is being used in a product trial.</li> </ul>"
    },
    "Tag": {
      "type": "object",
      "required": [
        "Key",
        "Value"
      ],
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "The key of the tag."
        },
        "Value": {
          "$ref": "#/definitions/TagValue",
          "description": "The value of the tag."
        }
      },
      "description": "A key-value pair that identifies or specifies metadata about an AWS CloudHSM resource."
    },
    "TagKey": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
    },
    "TagKeyList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagKey"
      }
    },
    "TagList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Tag"
      }
    },
    "TagValue": {
      "type": "string",
      "minLength": 0,
      "maxLength": 256
    },
    "Timestamp": {
      "type": "string",
      "pattern": "\\d*"
    },
    "VpcId": {
      "type": "string",
      "pattern": "vpc-[0-9a-f]{8}"
    }
  }
}