{
  "swagger": "2.0",
  "info": {
    "title": "v1 - Description",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.edgar-online.com/iodocs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. Provides a lookup functionality to search  Sectors, Companies, Industries, Countries, Ciks, States",
    "x-mashery-id": "1927"
  },
  "schemes": [
    "http"
  ],
  "host": "api.edgar-online.com",
  "basePath": "/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.edgar-online.com/iodocs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Lookup Calls"
    }
  ],
  "paths": {
    "/description": {
      "get": {
        "operationId": "PerformLookupforSectors,Companies,Industries,Countries,Ciks,StatesLookupCalls",
        "summary": "Call the description resource for lookup",
        "tags": [
          "Lookup Calls"
        ],
        "parameters": [
          {
            "name": "descriptiontype",
            "type": "string",
            "description": "Description resource allows users to perform a lookup for Sectors, Companies, Industries, Countries, CIK and States.",
            "in": "query",
            "required": false,
            "enum": [
              "Sectors",
              "Companies",
              "Industries",
              "Countries",
              "Ciks",
              "States"
            ]
          },
          {
            "name": "limit",
            "type": "string",
            "description": "Limit is used with paging. Limit defines the number of rows to return in a single call. Enter a number between 1 - 99",
            "in": "query",
            "required": false
          },
          {
            "name": "offset",
            "type": "string",
            "description": "Offset is used with paging. Offset defines which page number to retreive based on total numbers of rows and limit.",
            "in": "query",
            "required": false
          },
          {
            "name": "debug",
            "type": "boolean",
            "description": "Debug parameter helps developers investigate what happened during the call and what items were substituted if any during the call. Select true to invoke debug parameter.",
            "in": "query",
            "required": false
          },
          {
            "name": "sortby",
            "type": "string",
            "description": "Sort Parameter can be used to sort the data in ASC or DESC. For example to sort by descriptiontype enter descriptiontype in this field followed by ASC for ascending order and desc for decending order(descriptiontype asc)",
            "in": "query",
            "required": false
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Get the response in XML or JSON",
            "in": "header",
            "required": false,
            "enum": [
              "application/xml",
              "application/json"
            ]
          }
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}