{
  "swagger": "2.0",
  "info": {
    "title": "Magnus Site Search API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "490"
  },
  "schemes": [
    "http"
  ],
  "host": "api.hearst.com",
  "basePath": "/Site",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.hearst.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Site Search"
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "SearchbyargsSiteSearch",
        "summary": "Returns site data by criteria",
        "tags": [
          "Site Search"
        ],
        "parameters": [
          {
            "name": "_callback",
            "type": "string",
            "description": "The jsonp callback function name.",
            "in": "query",
            "required": false
          },
          {
            "name": "_pretty",
            "type": "boolean",
            "description": "Toggles whether returned JSON is returned in human readable format or not.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          },
          {
            "name": "organization_id",
            "type": "integer",
            "description": "The internal ID of the organization of websites to pull data from.",
            "in": "query",
            "required": false
          },
          {
            "name": "start",
            "type": "integer",
            "description": "The offset value for the starting record to return.",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of records returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "sort",
            "type": "string",
            "description": "Sort order for results returned.",
            "in": "query",
            "required": false,
            "default": "name,asc"
          },
          {
            "name": "total",
            "type": "boolean",
            "description": "Whether or not to return a total number of records in the response or not.",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "0"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}