{
  "swagger": "2.0",
  "info": {
    "title": "Emergency Information - v2.0",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. ",
    "x-mashery-id": "2433"
  },
  "schemes": [
    "http"
  ],
  "host": "api.hthworldwide.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.hthworldwide.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Emergency Numbers"
    }
  ],
  "paths": {
    "/emergencyinfo/numbers/countries/": {
      "get": {
        "operationId": "GetCountrieswithEmergencyNumbersEmergencyNumbers",
        "summary": "Retrieves the list of countries that have emergenc...",
        "description": "Retrieves the list of countries that have emergency number information available.",
        "tags": [
          "Emergency Numbers"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/emergencyinfo/numbers/country/{country_id}/cities": {
      "get": {
        "operationId": "GetCitieswithEmergencyNumbersEmergencyNumbers",
        "summary": "Retrieves the list of cities within a given countr...",
        "description": "Retrieves the list of cities within a given country that have vaccination information available.",
        "tags": [
          "Emergency Numbers"
        ],
        "parameters": [
          {
            "name": "country_id",
            "type": "string",
            "description": "The required name, ID, or ISO code for the country",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/emergencyinfo/numbers/country/{country_id}/": {
      "get": {
        "operationId": "GetEmergencyNumbersByCountryEmergencyNumbers",
        "summary": "Retrieves the emergency number information for a g...",
        "description": "Retrieves the emergency number information for a given country.",
        "tags": [
          "Emergency Numbers"
        ],
        "parameters": [
          {
            "name": "country_id",
            "type": "string",
            "description": "The required name, ID, or ISO code for the country",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/emergencyinfo/numbers/city/{city_id}/{country_id}/": {
      "get": {
        "operationId": "GetEmergencyNumbersByCityEmergencyNumbers",
        "summary": "Retrieves the emergency number information for a g...",
        "description": "Retrieves the emergency number information for a given city and country.",
        "tags": [
          "Emergency Numbers"
        ],
        "parameters": [
          {
            "name": "city_id",
            "type": "string",
            "description": "The required name, ID for the city",
            "in": "path",
            "required": true
          },
          {
            "name": "country_id",
            "type": "string",
            "description": "The required name, ID, or ISO code for the country",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/emergencyinfo/numbers/destination/{destination_id}/": {
      "get": {
        "operationId": "GetEmergencyNumbersByDestinationEmergencyNumbers",
        "summary": "Retrieves the emergency number information for a g...",
        "description": "Retrieves the emergency number information for a given destination.",
        "tags": [
          "Emergency Numbers"
        ],
        "parameters": [
          {
            "name": "destination_id",
            "type": "number",
            "description": "The required ID for the destination",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/emergencyinfo/numbers/area/": {
      "get": {
        "operationId": "GetEmergencyNumbersByAreaEmergencyNumbers",
        "summary": "Retrieves the emergency number information for a g...",
        "description": "Retrieves the emergency number information for a given combination of country, city, and state/province.",
        "tags": [
          "Emergency Numbers"
        ],
        "parameters": [
          {
            "name": "city",
            "type": "string",
            "description": "The required name or ID for the city",
            "in": "query",
            "required": true
          },
          {
            "name": "state_province",
            "type": "string",
            "description": "The name, ID, or abbreviation for the state/province",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "The required name, ID, or ISO code for the country",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}