{
  "swagger": "2.0",
  "info": {
    "title": "Greenway Health Prime Suite API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test the Greenway Health Prime Suite API services using I/O Docs.  Please note this is a set of examples and not our full listing of Prime Suite API.  You can view our written documentation. Page contains a set of Prime Suite API examples - Please reference the Prime Suite API Doc Page for full list of available Prime Suite API.",
    "x-mashery-id": "380"
  },
  "schemes": [
    "http"
  ],
  "host": "api.greenwayhealth.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.greenwayhealth.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "General Methods"
    },
    {
      "name": "Messaging"
    },
    {
      "name": "Patient"
    },
    {
      "name": "Insurance"
    },
    {
      "name": "Medication"
    },
    {
      "name": "Referrals"
    },
    {
      "name": "Schedule"
    },
    {
      "name": "Visit"
    },
    {
      "name": "Task"
    }
  ],
  "paths": {
    "/AuthenticateUser": {
      "post": {
        "operationId": "AuthenticateUserGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Prime Suite API consumers will not need to use this transaction",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/CareProvider/CareProviderSearch": {
      "post": {
        "operationId": "CareProviderSearchGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ProviderSupervisorListGet": {
      "post": {
        "operationId": "ProviderSupervisorListGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ProviderSupervisorGet": {
      "post": {
        "operationId": "ProviderSupervisorGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ClinicalNoteTypeListGet": {
      "post": {
        "operationId": "ClinicalNoteTypeListGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/clinicaltemplate/ClinicalSectionListGet": {
      "post": {
        "operationId": "ClinicalSectionListGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/clinicaltemplate/ClinicalDocumentSketchpadAppend": {
      "post": {
        "operationId": "ClinicalDocumentSketchpadAppendGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Import text into a Note and Section - you can use escape codes to format text",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Clinical/ClinicalHistoryItemSearch": {
      "post": {
        "operationId": "ClinicalHistoryItemSearchGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Careprovider/ExternalPrescriberListGet": {
      "post": {
        "operationId": "ExternalPrescriberListGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Coding/CPTSearch": {
      "post": {
        "operationId": "CPTSearchGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Coding/ICD9Search": {
      "post": {
        "operationId": "ICD9SearchGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Coding/ProblemSearch": {
      "post": {
        "operationId": "ProblemSearchICD9_ICD10GeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/LanguageLookUPGet": {
      "post": {
        "operationId": "LanguageLookUPGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PersonSearch": {
      "post": {
        "operationId": "PersonSearchGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/Billing/PostCharges": {
      "post": {
        "operationId": "PostChargesGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/Billing/PostPayments": {
      "post": {
        "operationId": "PostPaymentsGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrimeSuiteVersionGet": {
      "post": {
        "operationId": "PrimeSuiteVersionGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/SystemAdmin/SystemDefaultsGet": {
      "post": {
        "operationId": "SystemDefaultsGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Billing/SubmittedChargesGet": {
      "post": {
        "operationId": "SubmittedChargesGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Billing/SubmittedChargeUpdate": {
      "post": {
        "operationId": "SubmittedChargeUpdateGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/SystemIntKeyMapSearch": {
      "post": {
        "operationId": "SystemIntKeyMapSearchGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/FlagListGet": {
      "post": {
        "operationId": "FlagListGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Clinical/Flowsheets/FlowsheetListGet": {
      "post": {
        "operationId": "FlowsheetListGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/TrackingDetailsGet": {
      "post": {
        "operationId": "TrackingDetailsGetVisit",
        "summary": "",
        "tags": [
          "Visit"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/TrackingUpdate": {
      "post": {
        "operationId": "TrackingUpdateVisit",
        "summary": "",
        "tags": [
          "Visit"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Clinical/VocabularyConceptSearch": {
      "post": {
        "operationId": "VocabularyConceptSearchGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Clinical/VocabularyConceptDetailsGet": {
      "post": {
        "operationId": "VocabularyConceptDetailsGetGeneralMethods",
        "summary": "",
        "tags": [
          "General Methods"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Messaging/MessageAddressBookGet": {
      "post": {
        "operationId": "MessageAddressBookGetMessaging",
        "summary": "",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Messaging/MessageGet": {
      "post": {
        "operationId": "MessageGetMessaging",
        "summary": "",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Messaging/MessageListGet": {
      "post": {
        "operationId": "MessageListGetMessaging",
        "summary": "",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Messaging/MessageSave": {
      "post": {
        "operationId": "MessageSaveMessaging",
        "summary": "",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Messaging/MessageSend": {
      "post": {
        "operationId": "MessageSendMessaging",
        "summary": "",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Messaging/MessageUserSearch": {
      "post": {
        "operationId": "MessageUserSearchMessaging",
        "summary": "",
        "tags": [
          "Messaging"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientSearch": {
      "post": {
        "operationId": "PatientSearchPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientAddNew": {
      "post": {
        "operationId": "PatientAddNewPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientDemographicsGet": {
      "post": {
        "operationId": "PatientDemographicsGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Response includes full patient demographics",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientDemographicsSummaryGet": {
      "post": {
        "operationId": "PatientDemographicsSummaryGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientDemographicsUpdate": {
      "post": {
        "operationId": "PatientDemographicsUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/ClinicalSummaryGet": {
      "post": {
        "operationId": "ClinicalSummaryGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/Orders/PatientOrderListGet": {
      "post": {
        "operationId": "PatientOrderListGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Clinical/Orders/PatientResultsByOrderAdd": {
      "post": {
        "operationId": "PatientResultsByOrderAddPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientHistoryAdd": {
      "post": {
        "operationId": "PatientHistoryAddPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/ImmunizationSummaryGet": {
      "post": {
        "operationId": "ImmunizationSummaryGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientAllergyGet": {
      "post": {
        "operationId": "PatientAllergyGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientAllergyUpdate": {
      "post": {
        "operationId": "PatientAllergyUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/Billing/PatientBalanceGet": {
      "post": {
        "operationId": "PatientBalanceGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientsWithBalancesGet": {
      "post": {
        "operationId": "PatientsWithBalancesGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/FamilyBalanceGet": {
      "post": {
        "operationId": "FamilyBalanceGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientDependentsGet": {
      "post": {
        "operationId": "PatientDependentsGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientFaceSheetGet2": {
      "post": {
        "operationId": "PatientFaceSheetGet2Patient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientFamilyMedicalHistoryGet": {
      "post": {
        "operationId": "PatientFamilyMedicalHistoryGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientFamilyMedicalHistoryUpdate": {
      "post": {
        "operationId": "PatientFamilyMedicalHistoryUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Person/Patient/PatientsByFlagGet": {
      "post": {
        "operationId": "PatientsByFlagGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientFlagsGet": {
      "post": {
        "operationId": "PatientFlagsGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientFlagUpdate": {
      "post": {
        "operationId": "PatientFlagUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/FlowSheets/PatientFlowSheetGet": {
      "post": {
        "operationId": "PatientFlowSheetGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientGeneticHistoryGet": {
      "post": {
        "operationId": "PatientGeneticHistoryGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientGeneticHistoryUpdate": {
      "post": {
        "operationId": "PatientGeneticHistoryUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientHistoriesGet": {
      "post": {
        "operationId": "PatientHistoriesGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientMedicationGet": {
      "post": {
        "operationId": "PatientMedicationGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientPastMedicalHistoryGet": {
      "post": {
        "operationId": "PatientPastMedicalHistoryGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientPastMedicalHistoryUpdate": {
      "post": {
        "operationId": "PatientPastMedicalHistoryUpdateMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientPastSurgicalHistoryGet": {
      "post": {
        "operationId": "PatientPastSurgicalHistoryGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientPastSurgicalHistoryUpdate": {
      "post": {
        "operationId": "PatientPastSurgicalHistoryUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientPhotoAdd": {
      "post": {
        "operationId": "PatientPhotoAddPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientPhotoGet": {
      "post": {
        "operationId": "PatientPhotoGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PatientRenewalRequestListGet": {
      "post": {
        "operationId": "PatientRenewalRequestListGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientReproductiveHistoryGet": {
      "post": {
        "operationId": "PatientReproductiveHistoryGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientReproductiveHistoryUpdate": {
      "post": {
        "operationId": "PatientReproductiveHistoryUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientSocialHistoryGet2": {
      "post": {
        "operationId": "PatientSocialHistoryGet2Patient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/History/PatientSocialHistoryUpdate2": {
      "post": {
        "operationId": "PatientSocialHistoryUpdate2Patient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientVitalsGet": {
      "post": {
        "operationId": "PatientVitalsGetPatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientVitalsUpdate": {
      "post": {
        "operationId": "PatientVitalsUpdatePatient",
        "summary": "",
        "tags": [
          "Patient"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/InsuranceCategoryListGet": {
      "post": {
        "operationId": "InsuranceCategoryListGetInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/InsuranceClassListGet": {
      "post": {
        "operationId": "InsuranceClassListGetInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/InsuranceCompanySearch": {
      "post": {
        "operationId": "InsuranceCompanySearchInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/InsuranceCoverageAdd": {
      "post": {
        "operationId": "InsuranceCoverageAddInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/InsuranceCoverageUpdate": {
      "post": {
        "operationId": "InsuranceCoverageUpdateInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/InsuranceEmployerSearch": {
      "post": {
        "operationId": "InsuranceEmployerSearchInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/InsurancePlanSearch": {
      "post": {
        "operationId": "InsurancePlanSearchInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Patient/PatientInsuranceGet": {
      "post": {
        "operationId": "PatientInsuranceGetInsurance",
        "summary": "",
        "tags": [
          "Insurance"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ERXServiceLocationsGet": {
      "post": {
        "operationId": "ERXServiceLocationsGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationAlertGet": {
      "post": {
        "operationId": "MedicationAlertGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationContraindicationGet": {
      "post": {
        "operationId": "MedicationContraindicationGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationCounselingGet": {
      "post": {
        "operationId": "MedicationCounselingGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationDiscontinueSave": {
      "post": {
        "operationId": "MedicationDiscontinueSaveMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationDosageGet": {
      "post": {
        "operationId": "MedicationDosageGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationEducationGet": {
      "post": {
        "operationId": "MedicationEducationGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationFavoritesGet": {
      "post": {
        "operationId": "MedicationFavoritesGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationFoodInteractionGet": {
      "post": {
        "operationId": "MedicationFoodInteractionGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationFormularyGet": {
      "post": {
        "operationId": "MedicationFormularyGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationGenericEquivalentGet": {
      "post": {
        "operationId": "MedicationGenericEquivalentGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationIndicationGet": {
      "post": {
        "operationId": "MedicationIndicationGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationIndicationSearch": {
      "post": {
        "operationId": "MedicationIndicationSearchMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationInteractionGet": {
      "post": {
        "operationId": "MedicationInteractionGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationOverrideReasonGet": {
      "post": {
        "operationId": "MedicationOverrideReasonGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationOverrideReasonSave": {
      "post": {
        "operationId": "MedicationOverrideReasonSaveMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationPayerAlternativesGet": {
      "post": {
        "operationId": "MedicationPayerAlternativesGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationPrecautionsGet": {
      "post": {
        "operationId": "MedicationPrecautionsGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationPrescriberGet": {
      "post": {
        "operationId": "MedicationPrescriberGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationSearch": {
      "post": {
        "operationId": "MedicationSearchMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationSearchByIndication": {
      "post": {
        "operationId": "MedicationSearchByIndicationMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationSideEffectGet": {
      "post": {
        "operationId": "MedicationSideEffectGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationSigGet": {
      "post": {
        "operationId": "MedicationSigGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/MedicationTherapeuticAlternativesGet": {
      "post": {
        "operationId": "MedicationTherapeuticAlternativesGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PatientERXEligibilityGet": {
      "post": {
        "operationId": "PatientERXEligibilityGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PharmacyGetList": {
      "post": {
        "operationId": "PharmacyGetListMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PharmacySearch": {
      "post": {
        "operationId": "PharmacySearchMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PreferredPharmacyListGet": {
      "post": {
        "operationId": "PreferredPharmacyListGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescribeOnbehalfUsersListGet": {
      "post": {
        "operationId": "PrescribeOnbehalfUsersListGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionActionHxListGet": {
      "post": {
        "operationId": "PrescriptionActionHxListGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionConfirm": {
      "post": {
        "operationId": "PrescriptionConfirmMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionDetailInfoGet": {
      "post": {
        "operationId": "PrescriptionDetailInfoGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionHistoryGet": {
      "post": {
        "operationId": "PrescriptionHistoryGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionPrintFormatListGet": {
      "post": {
        "operationId": "PrescriptionPrintFormatListGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionRefillGet": {
      "post": {
        "operationId": "PrescriptionRefillGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionsSave": {
      "post": {
        "operationId": "PrescriptionsSaveMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionSendERX": {
      "post": {
        "operationId": "PrescriptionSendERXMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/PrescriptionTransactionsCountsGet": {
      "post": {
        "operationId": "PrescriptionTransactionsCountsGetMedication",
        "summary": "",
        "tags": [
          "Medication"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralAdd": {
      "post": {
        "operationId": "ReferralAddReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralDelete": {
      "post": {
        "operationId": "ReferralDeleteReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralGet": {
      "post": {
        "operationId": "ReferralGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralListGet": {
      "post": {
        "operationId": "ReferralListGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralOutOfNetworkReasonListGet": {
      "post": {
        "operationId": "ReferralOutOfNetworkReasonListGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralSpecialitiesListGet": {
      "post": {
        "operationId": "ReferralSpecialitiesListGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralStatusListGet": {
      "post": {
        "operationId": "ReferralStatusListGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralSubTypeListGet": {
      "post": {
        "operationId": "ReferralSubTypeListGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralTypeListGet": {
      "post": {
        "operationId": "ReferralTypeListGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralUpdate": {
      "post": {
        "operationId": "ReferralUpdateReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ReferralVisitDXCodeListGet": {
      "post": {
        "operationId": "ReferralVisitDXCodeListGetReferrals",
        "summary": "",
        "tags": [
          "Referrals"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Content type of the payload",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Scheduling/ScheduleAdminGet": {
      "post": {
        "operationId": "ScheduleAdminGetSchedule",
        "summary": "",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Response include a site's schedule configuration - this transaction is broken into ScheduleLocationsGet, ScheduleResourcesGet, ScheduleAppointmentTypesGet",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ScheduleLocationsGet": {
      "post": {
        "operationId": "ScheduleLocationsGetSchedule",
        "summary": "",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Response includes sites's schedule location configuration",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ScheduleResourcesGet": {
      "post": {
        "operationId": "ScheduleResourcesGetSchedule",
        "summary": "",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Response includes sites's schedule resource configuration - keep in mind a resource can be a person, place, or thing",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/ScheduleAppointmentTypesGet": {
      "post": {
        "operationId": "ScheduleAppointmentTypesGetSchedule",
        "summary": "",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
            "description": "Response includes sites's schedule appointment category/type configuration",
            "in": "header",
            "required": true,
            "default": "application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/Scheduling/Appointment/ScheduleAvailableSlotsGet": {
      "post": {
        "operationId": "ScheduleAvailableSlotsGetSchedule",
        "summary": "",
        "tags": [
          "Schedule"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "type": "string",
[...]
