{
  "swagger": "2.0",
  "info": {
    "title": "Prod - Product Catalog",
    "version": "2",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using I/O Docs. This Api is used to get products.",
    "x-mashery-id": "44"
  },
  "schemes": [
    "http"
  ],
  "host": "api.saks.com",
  "basePath": "/v2/products",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.saks.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Products Method"
    },
    {
      "name": "Products by Page Number Method"
    },
    {
      "name": "Product by Product Code Method"
    },
    {
      "name": "Product by UPC Code Method"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "GetProductsfromfirstpageProductsMethod",
        "summary": "make a request to our product catalog and get firs...",
        "description": "make a request to our product catalog and get first page",
        "tags": [
          "Products Method"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/page/{number}": {
      "get": {
        "operationId": "GetProductsbyPageNumberProductsbyPageNumberMethod",
        "summary": "make a request to our product page by catalog page...",
        "description": "make a request to our product page by catalog page number",
        "tags": [
          "Products by Page Number Method"
        ],
        "parameters": [
          {
            "name": "number",
            "type": "string",
            "description": "Product page number",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{product_code}": {
      "get": {
        "operationId": "GetProductbyProductCodeProductbyProductCodeMethod",
        "summary": "make a request to our product page by product code...",
        "description": "make a request to our product page by product code to get an individual product",
        "tags": [
          "Product by Product Code Method"
        ],
        "parameters": [
          {
            "name": "product_code",
            "type": "string",
            "description": "Product code number starting with 04",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/variant/{upc_code}": {
      "get": {
        "operationId": "GetProductbyUPCCodeProductbyUPCCodeMethod",
        "summary": "make a request to our product page by UPC code to ...",
        "description": "make a request to our product page by UPC code to get an individual product",
        "tags": [
          "Product by UPC Code Method"
        ],
        "parameters": [
          {
            "name": "upc_code",
            "type": "string",
            "description": "UPC code from one particular product from Product Catalog",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}