{
  "swagger": "2.0",
  "info": {
    "title": "Order Service",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.shopatron.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using I/O Docs. You can use the order service to get information pertaining to a particular shopatron order",
    "x-mashery-id": "804"
  },
  "schemes": [
    "http"
  ],
  "host": "api.shopatron.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.shopatron.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Get Order"
    }
  ],
  "paths": {
    "/{id}": {
      "get": {
        "operationId": "GetOrderGetOrder",
        "summary": "Get order information.",
        "tags": [
          "Get Order"
        ],
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "description": "The Order ID",
            "in": "path",
            "required": true,
            "default": "6969879"
          },
          {
            "name": "Authorization",
            "type": "string",
            "description": "add description here",
            "in": "query",
            "required": true,
            "default": "*/*"
          },
          {
            "name": "method",
            "type": "string",
            "description": "Method Get or POST. Default is Post",
            "in": "query",
            "required": true,
            "default": "post"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}