{
  "swagger": "2.0",
  "info": {
    "version": "2016-02-06",
    "x-release": "v4",
    "title": "Application Auto Scaling",
    "description": "<p>Application Auto Scaling is a general purpose Auto Scaling service for supported elastic AWS resources. With Application Auto Scaling, you can automatically scale your AWS resources, with an experience similar to that of Auto Scaling.</p> <p>Application Auto Scaling supports scaling the following AWS resources:</p> <ul> <li> <p>Amazon ECS services</p> </li> <li> <p>Amazon EC2 Spot fleet instances</p> </li> </ul> <p>You can use Application Auto Scaling to accomplish the following tasks:</p> <ul> <li> <p>Define scaling policies for automatically adjusting your AWS resources</p> </li> <li> <p>Scale your resources in response to CloudWatch alarms</p> </li> <li> <p>View history of your scaling events </p> </li> </ul> <p>Application Auto Scaling is available in the following regions:</p> <ul> <li> <p> <code>us-east-1</code> </p> </li> <li> <p> <code>us-west-1</code> </p> </li> <li> <p> <code>us-west-2</code> </p> </li> <li> <p> <code>ap-southeast-1</code> </p> </li> <li> <p> <code>ap-southeast-2</code> </p> </li> <li> <p> <code>ap-northeast-1</code> </p> </li> <li> <p> <code>eu-central-1</code> </p> </li> <li> <p> <code>eu-west-1</code> </p> </li> </ul>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/autoscaling/"
  },
  "host": "autoscaling.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "RegisterScalableTarget",
        "description": "<p>Registers or updates a scalable target. A scalable target is a resource that can be scaled out or in with Application Auto Scaling. After you have registered a scalable target, you can use this operation to update the minimum and maximum values for your scalable dimension.</p> <p>After you register a scalable target with Application Auto Scaling, you can create and apply scaling policies to it with <a>PutScalingPolicy</a>. You can view the existing scaling policies for a service namespace with <a>DescribeScalableTargets</a>. If you are no longer using a scalable target, you can deregister it with <a>DeregisterScalableTarget</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegisterScalableTargetResponse"
            }
          },
          "400": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "401": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "402": {
            "description": "ConcurrentUpdateException",
            "schema": {
              "$ref": "#/definitions/ConcurrentUpdateException"
            }
          },
          "403": {
            "description": "InternalServiceException",
            "schema": {
              "$ref": "#/definitions/InternalServiceException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterScalableTargetRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "AdjustmentType": {
      "type": "string",
      "enum": [
        "ChangeInCapacity",
        "PercentChangeInCapacity",
        "ExactCapacity"
      ]
    },
    "Alarm": {
      "type": "object",
      "required": [
        "AlarmName",
        "AlarmARN"
      ],
      "properties": {
        "AlarmName": {
          "$ref": "#/definitions/ResourceId",
          "description": "The name of the alarm."
        },
        "AlarmARN": {
          "$ref": "#/definitions/ResourceId",
          "description": "The Amazon Resource Name (ARN) of the alarm."
        }
      },
      "description": "An object representing a CloudWatch alarm associated with a scaling policy."
    },
    "Alarms": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Alarm"
      }
    },
    "ConcurrentUpdateException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "Concurrent updates caused an exception, for example, if you request an update to an Application Auto Scaling resource that already has a pending update."
    },
    "Cooldown": {
      "type": "integer"
    },
    "DeleteScalingPolicyRequest": {
      "type": "object",
      "required": [
        "PolicyName",
        "ServiceNamespace",
        "ResourceId",
        "ScalableDimension"
      ],
      "properties": {
        "PolicyName": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The name of the scaling policy to delete."
        },
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request."
        }
      }
    },
    "DeleteScalingPolicyResponse": {
      "type": "object",
      "properties": {}
    },
    "DeregisterScalableTargetRequest": {
      "type": "object",
      "required": [
        "ServiceNamespace",
        "ResourceId",
        "ScalableDimension"
      ],
      "properties": {
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request."
        }
      }
    },
    "DeregisterScalableTargetResponse": {
      "type": "object",
      "properties": {}
    },
    "DescribeScalableTargetsRequest": {
      "type": "object",
      "required": [
        "ServiceNamespace"
      ],
      "properties": {
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceIds": {
          "$ref": "#/definitions/ResourceIdsMaxLen1600",
          "description": "The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>. If you specify a scalable dimension, you must also specify a resource ID."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request. If you specify a scalable dimension, you must also specify a resource ID."
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "The maximum number of scalable target results returned by <code>DescribeScalableTargets</code> in paginated output. When this parameter is used, <code>DescribeScalableTargets</code> returns up to <code>MaxResults</code> results in a single page along with a <code>NextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeScalableTargets</code> request with the returned <code>NextToken</code> value. This value can be between 1 and 50. If this parameter is not used, then <code>DescribeScalableTargets</code> returns up to 50 results and a <code>NextToken</code> value, if applicable."
        },
        "NextToken": {
          "$ref": "#/definitions/XmlString",
          "description": "The <code>NextToken</code> value returned from a previous paginated <code>DescribeScalableTargets</code> request. Pagination continues from the end of the previous results that returned the <code>NextToken</code> value. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "DescribeScalableTargetsResponse": {
      "type": "object",
      "properties": {
        "ScalableTargets": {
          "$ref": "#/definitions/ScalableTargets",
          "description": "The list of scalable targets that matches the request parameters."
        },
        "NextToken": {
          "$ref": "#/definitions/XmlString",
          "description": "The <code>NextToken</code> value to include in a future <code>DescribeScalableTargets</code> request. When the results of a <code>DescribeScalableTargets</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "DescribeScalingActivitiesRequest": {
      "type": "object",
      "required": [
        "ServiceNamespace"
      ],
      "properties": {
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scaling activity is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The resource type and unique identifier string for the resource associated with the scaling activity. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>. If you specify a scalable dimension, you must also specify a resource ID."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scaling activity. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request. If you specify a scalable dimension, you must also specify a resource ID."
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "The maximum number of scaling activity results returned by <code>DescribeScalingActivities</code> in paginated output. When this parameter is used, <code>DescribeScalingActivities</code> returns up to <code>MaxResults</code> results in a single page along with a <code>NextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeScalingActivities</code> request with the returned <code>NextToken</code> value. This value can be between 1 and 50. If this parameter is not used, then <code>DescribeScalingActivities</code> returns up to 50 results and a <code>NextToken</code> value, if applicable."
        },
        "NextToken": {
          "$ref": "#/definitions/XmlString",
          "description": "The <code>NextToken</code> value returned from a previous paginated <code>DescribeScalingActivities</code> request. Pagination continues from the end of the previous results that returned the <code>NextToken</code> value. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "DescribeScalingActivitiesResponse": {
      "type": "object",
      "properties": {
        "ScalingActivities": {
          "$ref": "#/definitions/ScalingActivities",
          "description": "A list of scaling activity objects."
        },
        "NextToken": {
          "$ref": "#/definitions/XmlString",
          "description": "The <code>NextToken</code> value to include in a future <code>DescribeScalingActivities</code> request. When the results of a <code>DescribeScalingActivities</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "DescribeScalingPoliciesRequest": {
      "type": "object",
      "required": [
        "ServiceNamespace"
      ],
      "properties": {
        "PolicyNames": {
          "$ref": "#/definitions/ResourceIdsMaxLen1600",
          "description": "The names of the scaling policies to describe."
        },
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The AWS service namespace of the scalable target that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The unique resource identifier string of the scalable target that the scaling policy is associated with. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>. If you specify a scalable dimension, you must also specify a resource ID."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension of the scalable target that the scaling policy is associated with. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request. If you specify a scalable dimension, you must also specify a resource ID."
        },
        "MaxResults": {
          "$ref": "#/definitions/MaxResults",
          "description": "The maximum number of scaling policy results returned by <code>DescribeScalingPolicies</code> in paginated output. When this parameter is used, <code>DescribeScalingPolicies</code> returns up to <code>MaxResults</code> results in a single page along with a <code>NextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeScalingPolicies</code> request with the returned <code>NextToken</code> value. This value can be between 1 and 50. If this parameter is not used, then <code>DescribeScalingPolicies</code> returns up to 50 results and a <code>NextToken</code> value, if applicable."
        },
        "NextToken": {
          "$ref": "#/definitions/XmlString",
          "description": "The <code>NextToken</code> value returned from a previous paginated <code>DescribeScalingPolicies</code> request. Pagination continues from the end of the previous results that returned the <code>NextToken</code> value. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "DescribeScalingPoliciesResponse": {
      "type": "object",
      "properties": {
        "ScalingPolicies": {
          "$ref": "#/definitions/ScalingPolicies",
          "description": "A list of scaling policy objects."
        },
        "NextToken": {
          "$ref": "#/definitions/XmlString",
          "description": "The <code>NextToken</code> value to include in a future <code>DescribeScalingPolicies</code> request. When the results of a <code>DescribeScalingPolicies</code> request exceed <code>MaxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return."
        }
      }
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FailedResourceAccessException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "Failed access to resources caused an exception. This exception currently only applies to <a>DescribeScalingPolicies</a>. It is thrown when Application Auto Scaling is unable to retrieve the alarms associated with a scaling policy due to a client error, for example, if the role ARN specified for a scalable target does not have the proper permissions to call the CloudWatch <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html\">DescribeAlarms</a> API operation on behalf of your account."
    },
    "InternalServiceException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The service encountered an internal error."
    },
    "InvalidNextTokenException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The next token supplied was invalid."
    },
    "LimitExceededException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "Your account exceeded a limit. This exception is thrown when a per-account resource limit is exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_as-app\">Application Auto Scaling Limits</a>."
    },
    "MaxResults": {
      "type": "integer"
    },
    "MetricAggregationType": {
      "type": "string",
      "enum": [
        "Average",
        "Minimum",
        "Maximum"
      ]
    },
    "MetricScale": {
      "type": "number",
      "format": "double"
    },
    "MinAdjustmentMagnitude": {
      "type": "integer"
    },
    "ObjectNotFoundException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "The specified object could not be found. For any <code>Put</code> or <code>Register</code> API operation, which depends on the existence of a scalable target, this exception is thrown if the scalable target with the specified service namespace, resource ID, and scalable dimension does not exist. For any <code>Delete</code> or <code>Deregister</code> API operation, this exception is thrown if the resource that is to be deleted or deregistered cannot be found."
    },
    "PolicyName": {
      "type": "string",
      "pattern": "\\p{Print}+",
      "minLength": 1,
      "maxLength": 256
    },
    "PolicyType": {
      "type": "string",
      "enum": [
        "StepScaling"
      ]
    },
    "PutScalingPolicyRequest": {
      "type": "object",
      "required": [
        "PolicyName",
        "ServiceNamespace",
        "ResourceId",
        "ScalableDimension"
      ],
      "properties": {
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the scaling policy."
        },
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The AWS service namespace of the scalable target that this scaling policy applies to. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The unique resource identifier string for the scalable target that this scaling policy applies to. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension of the scalable target that this scaling policy applies to. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request."
        },
        "PolicyType": {
          "$ref": "#/definitions/PolicyType",
          "description": "The policy type. If you are creating a new policy, this parameter is required. If you are updating an existing policy, this parameter is not required."
        },
        "StepScalingPolicyConfiguration": {
          "$ref": "#/definitions/StepScalingPolicyConfiguration",
          "description": "The configuration for the step scaling policy. If you are creating a new policy, this parameter is required. If you are updating an existing policy, this parameter is not required. For more information, see <a>StepScalingPolicyConfiguration</a> and <a>StepAdjustment</a>."
        }
      }
    },
    "PutScalingPolicyResponse": {
      "type": "object",
      "required": [
        "PolicyARN"
      ],
      "properties": {
        "PolicyARN": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The Amazon Resource Name (ARN) of the resulting scaling policy."
        }
      }
    },
    "RegisterScalableTargetRequest": {
      "type": "object",
      "required": [
        "ServiceNamespace",
        "ResourceId",
        "ScalableDimension"
      ],
      "properties": {
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scalable target is associated with. For Amazon ECS services, the namespace value is <code>ecs</code>. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The resource type and unique identifier string for the resource to associate with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request."
        },
        "MinCapacity": {
          "$ref": "#/definitions/ResourceCapacity",
          "description": "The minimum value for this scalable target to scale in to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one."
        },
        "MaxCapacity": {
          "$ref": "#/definitions/ResourceCapacity",
          "description": "The maximum value for this scalable target to scale out to in response to scaling activities. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one."
        },
        "RoleARN": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf. This parameter is required if you are registering a new scalable target, and it is optional if you are updating an existing one."
        }
      }
    },
    "RegisterScalableTargetResponse": {
      "type": "object",
      "properties": {}
    },
    "ResourceCapacity": {
      "type": "integer"
    },
    "ResourceId": {
      "type": "string",
      "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "ResourceIdMaxLen1600": {
      "type": "string",
      "minLength": 1,
      "maxLength": 1600,
      "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "ResourceIdsMaxLen1600": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ResourceIdMaxLen1600"
      }
    },
    "ScalableDimension": {
      "type": "string",
      "enum": [
        "ecs:service:DesiredCount",
        "ec2:spot-fleet-request:TargetCapacity"
      ]
    },
    "ScalableTarget": {
      "type": "object",
      "required": [
        "ServiceNamespace",
        "ResourceId",
        "ScalableDimension",
        "MinCapacity",
        "MaxCapacity",
        "RoleARN",
        "CreationTime"
      ],
      "properties": {
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scalable target is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The resource type and unique identifier string for the resource associated with the scalable target. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scalable target. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request."
        },
        "MinCapacity": {
          "$ref": "#/definitions/ResourceCapacity",
          "description": "The minimum value for this scalable target to scale in to in response to scaling activities."
        },
        "MaxCapacity": {
          "$ref": "#/definitions/ResourceCapacity",
          "description": "The maximum value for this scalable target to scale out to in response to scaling activities."
        },
        "RoleARN": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The ARN of the IAM role that allows Application Auto Scaling to modify your scalable target on your behalf."
        },
        "CreationTime": {
          "$ref": "#/definitions/TimestampType",
          "description": "The Unix timestamp for when the scalable target was created."
        }
      },
      "description": "An object representing a scalable target."
    },
    "ScalableTargets": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScalableTarget"
      }
    },
    "ScalingActivities": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScalingActivity"
      }
    },
    "ScalingActivity": {
      "type": "object",
      "required": [
        "ActivityId",
        "ServiceNamespace",
        "ResourceId",
        "ScalableDimension",
        "Description",
        "Cause",
        "StartTime",
        "StatusCode"
      ],
      "properties": {
        "ActivityId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The unique identifier string for the scaling activity."
        },
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scaling activity is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The resource type and unique identifier string for the resource associated with the scaling activity. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scaling activity. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request."
        },
        "Description": {
          "$ref": "#/definitions/XmlString",
          "description": "A simple description of what action the scaling activity intends to accomplish."
        },
        "Cause": {
          "$ref": "#/definitions/XmlString",
          "description": "A simple description of what caused the scaling activity to happen."
        },
        "StartTime": {
          "$ref": "#/definitions/TimestampType",
          "description": "The Unix timestamp for when the scaling activity began."
        },
        "EndTime": {
          "$ref": "#/definitions/TimestampType",
          "description": "The Unix timestamp for when the scaling activity ended."
        },
        "StatusCode": {
          "$ref": "#/definitions/ScalingActivityStatusCode",
          "description": "Indicates the status of the scaling activity."
        },
        "StatusMessage": {
          "$ref": "#/definitions/XmlString",
          "description": "A simple message about the current status of the scaling activity."
        },
        "Details": {
          "$ref": "#/definitions/XmlString",
          "description": "The details about the scaling activity."
        }
      },
      "description": "An object representing a scaling activity."
    },
    "ScalingActivityStatusCode": {
      "type": "string",
      "enum": [
        "Pending",
        "InProgress",
        "Successful",
        "Overridden",
        "Unfulfilled",
        "Failed"
      ]
    },
    "ScalingAdjustment": {
      "type": "integer"
    },
    "ScalingPolicies": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScalingPolicy"
      }
    },
    "ScalingPolicy": {
      "type": "object",
      "required": [
        "PolicyARN",
        "PolicyName",
        "ServiceNamespace",
        "ResourceId",
        "ScalableDimension",
        "PolicyType",
        "CreationTime"
      ],
      "properties": {
        "PolicyARN": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The Amazon Resource Name (ARN) of the scaling policy."
        },
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the scaling policy."
        },
        "ServiceNamespace": {
          "$ref": "#/definitions/ServiceNamespace",
          "description": "The namespace for the AWS service that the scaling policy is associated with. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS Service Namespaces</a> in the Amazon Web Services General Reference."
        },
        "ResourceId": {
          "$ref": "#/definitions/ResourceIdMaxLen1600",
          "description": "The resource type and unique identifier string for the resource associated with the scaling policy. For Amazon ECS services, the resource type is <code>services</code>, and the identifier is the cluster name and service name; for example, <code>service/default/sample-webapp</code>. For Amazon EC2 Spot fleet requests, the resource type is <code>spot-fleet-request</code>, and the identifier is the Spot fleet request ID; for example, <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>."
        },
        "ScalableDimension": {
          "$ref": "#/definitions/ScalableDimension",
          "description": "The scalable dimension associated with the scaling policy. The scalable dimension contains the service namespace, resource type, and scaling property, such as <code>ecs:service:DesiredCount</code> for the desired task count of an Amazon ECS service, or <code>ec2:spot-fleet-request:TargetCapacity</code> for the target capacity of an Amazon EC2 Spot fleet request."
        },
        "PolicyType": {
          "$ref": "#/definitions/PolicyType",
          "description": "The scaling policy type."
        },
        "StepScalingPolicyConfiguration": {
          "$ref": "#/definitions/StepScalingPolicyConfiguration",
          "description": "The configuration for the step scaling policy."
        },
        "Alarms": {
          "$ref": "#/definitions/Alarms",
          "description": "The CloudWatch alarms that are associated with the scaling policy."
        },
        "CreationTime": {
          "$ref": "#/definitions/TimestampType",
          "description": "The Unix timestamp for when the scaling policy was created."
        }
      },
      "description": "An object representing a scaling policy."
    },
    "ServiceNamespace": {
      "type": "string",
      "enum": [
        "ecs",
        "ec2"
      ]
    },
    "StepAdjustment": {
      "type": "object",
      "required": [
        "ScalingAdjustment"
      ],
      "properties": {
        "MetricIntervalLowerBound": {
          "$ref": "#/definitions/MetricScale",
          "description": "The lower bound for the difference between the alarm threshold and the CloudWatch metric. If the metric value is above the breach threshold, the lower bound is inclusive (the metric must be greater than or equal to the threshold plus the lower bound). Otherwise, it is exclusive (the metric must be greater than the threshold plus the lower bound). A null value indicates negative infinity."
        },
        "MetricIntervalUpperBound": {
          "$ref": "#/definitions/MetricScale",
          "description": "<p>The upper bound for the difference between the alarm threshold and the CloudWatch metric. If the metric value is above the breach threshold, the upper bound is exclusive (the metric must be less than the threshold plus the upper bound). Otherwise, it is inclusive (the metric must be less than or equal to the threshold plus the upper bound). A null value indicates positive infinity.</p> <p>The upper bound must be greater than the lower bound.</p>"
        },
        "ScalingAdjustment": {
          "$ref": "#/definitions/ScalingAdjustment",
          "description": "The amount by which to scale, based on the specified adjustment type. A positive value adds to the current scalable dimension while a negative number removes from the current scalable dimension."
        }
      },
      "description": "<p>An object representing a step adjustment for a <a>StepScalingPolicyConfiguration</a>. Describes an adjustment based on the difference between the value of the aggregated CloudWatch metric and the breach threshold that you've defined for the alarm. </p> <p>For the following examples, suppose that you have an alarm with a breach threshold of 50:</p> <ul> <li> <p>If you want the adjustment to be triggered when the metric is greater than or equal to 50 and less than 60, specify a lower bound of 0 and an upper bound of 10.</p> </li> <li> <p>If you want the adjustment to be triggered when the metric is greater than 40 and less than or equal to 50, specify a lower bound of -10 and an upper bound of 0.</p> </li> </ul> <p>There are a few rules for the step adjustments for your step policy:</p> <ul> <li> <p>The ranges of your step adjustments can't overlap or have a gap.</p> </li> <li> <p>At most one step adjustment can have a null lower bound. If one step adjustment has a negative lower bound, then there must be a step adjustment with a null lower bound.</p> </li> <li> <p>At most one step adjustment can have a null upper bound. If one step adjustment has a positive upper bound, then there must be a step adjustment with a null upper bound.</p> </li> <li> <p>The upper and lower bound can't be null in the same step adjustment.</p> </li> </ul>"
    },
    "StepAdjustments": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StepAdjustment"
      }
    },
    "StepScalingPolicyConfiguration": {
      "type": "object",
      "properties": {
        "AdjustmentType": {
          "$ref": "#/definitions/AdjustmentType",
          "description": "The adjustment type, which specifies how the <code>ScalingAdjustment</code> parameter in a <a>StepAdjustment</a> is interpreted."
        },
        "StepAdjustments": {
          "$ref": "#/definitions/StepAdjustments",
          "description": "A set of adjustments that enable you to scale based on the size of the alarm breach."
        },
        "MinAdjustmentMagnitude": {
          "$ref": "#/definitions/MinAdjustmentMagnitude",
          "description": "The minimum number to adjust your scalable dimension as a result of a scaling activity. If the adjustment type is <code>PercentChangeInCapacity</code>, the scaling policy changes the scalable dimension of the scalable target by this amount."
        },
        "Cooldown": {
          "$ref": "#/definitions/Cooldown",
          "description": "<p>The amount of time, in seconds, after a scaling activity completes where previous trigger-related scaling activities can influence future scaling events.</p> <p>For scale out policies, while <code>Cooldown</code> is in effect, the capacity that has been added by the previous scale out event that initiated the <code>Cooldown</code> is calculated as part of the desired capacity for the next scale out. The intention is to continuously (but not excessively) scale out. For example, an alarm triggers a step scaling policy to scale out an Amazon ECS service by 2 tasks, the scaling activity completes successfully, and a <code>Cooldown</code> period of 5 minutes starts. During the <code>Cooldown</code> period, if the alarm triggers the same policy again but at a more aggressive step adjustment to scale out the service by 3 tasks, the 2 tasks that were added in the previous scale out event are considered part of that capacity and only 1 additional task is added to the desired count.</p> <p>For scale in policies, the <code>Cooldown</code> period is used to block subsequent scale in requests until it has expired. The intention is to scale in conservatively to protect your application's availability. However, if another alarm triggers a scale out policy during the <code>Cooldown</code> period after a scale-in, Application Auto Scaling scales out your scalable target immediately.</p>"
        },
        "MetricAggregationType": {
          "$ref": "#/definitions/MetricAggregationType",
          "description": "The aggregation type for the CloudWatch metrics. Valid values are <code>Minimum</code>, <code>Maximum</code>, and <code>Average</code>."
        }
      },
      "description": "An object representing a step scaling policy configuration."
    },
    "TimestampType": {
      "type": "string",
      "format": "date-time"
    },
    "ValidationException": {
      "type": "object",
      "properties": {
        "Message": {
          "$ref": "#/definitions/ErrorMessage"
        }
      },
      "description": "An exception was thrown for a validation issue. Review the available parameters for the API request."
    },
    "XmlString": {
      "type": "string",
      "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    }
  }
}