{
  "swagger": "2.0",
  "info": {
    "title": "Quantcast API",
    "version": "1",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.quantcast.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using interactive console. Quantcast API Beta",
    "x-mashery-id": "510"
  },
  "schemes": [
    "http"
  ],
  "host": "api.quantcast.com",
  "basePath": "/api/v1",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.quantcast.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Quantcast API"
    }
  ],
  "paths": {
    "/networks": {
      "get": {
        "operationId": "Network.getNetworksQuantcastAPI",
        "summary": "Returns the list of networks accessible via the AP...",
        "description": "Returns the list of networks accessible via the API for an authenticated user.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}": {
      "get": {
        "operationId": "Network.getNetworkQuantcastAPI",
        "summary": "Returns a list of all of the available top-level c...",
        "description": "Returns a list of all of the available top-level calls for the specified network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/traffic": {
      "get": {
        "operationId": "Network.getTrafficQuantcastAPI",
        "summary": "Returns the most recent assorted traffic summary d...",
        "description": "Returns the most recent assorted traffic summary data for the specified network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/traffic/pageviews": {
      "get": {
        "operationId": "Network.getPageviewsQuantcastAPI",
        "summary": "Returns the historical numbers of page-views for t...",
        "description": "Returns the historical numbers of page-views for the specified network by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/traffic/people": {
      "get": {
        "operationId": "Network.getPeopleQuantcastAPI",
        "summary": "Returns the historical numbers of people for the s...",
        "description": "Returns the historical numbers of people for the specified network by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/traffic/visits": {
      "get": {
        "operationId": "Network.getVisitsQuantcastAPI",
        "summary": "Returns the historical numbers of total visits for...",
        "description": "Returns the historical numbers of total visits for the specified network by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/traffic/cookies": {
      "get": {
        "operationId": "Network.getCookiesQuantcastAPI",
        "summary": "Returns the historical numbers of visitors (cookie...",
        "description": "Returns the historical numbers of visitors (cookies or mobile devices) for the specified network by day, week and month, if available. This metric is equivalent to the Uniques metric in the web interface.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/demographics": {
      "get": {
        "operationId": "Network.getDemographicsQuantcastAPI",
        "summary": "Returns the latest demographics data for the speci...",
        "description": "Returns the latest demographics data for the specified network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes. Cannot be GLOBAL.",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/indexes/source/": {
      "get": {
        "operationId": "Network.getGridProvidersQuantcastAPI",
        "summary": "Returns a list of all of the available audience gr...",
        "description": "Returns a list of all of the available audience grid data providers for the network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/indexes/source/{provider}": {
      "get": {
        "operationId": "Network.getGridSubjectsQuantcastAPI",
        "summary": "Returns a list of all of the available interest su...",
        "description": "Returns a list of all of the available interest subjects for the provider.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/indexes/source/{provider}/{subject}": {
      "get": {
        "operationId": "Network.getGridCategoriesQuantcastAPI",
        "summary": "Returns audience grid categories by subject.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/indexes/source/{provider}/{subject}/{category}": {
      "get": {
        "operationId": "Network.getGridIndexesQuantcastAPI",
        "summary": "Returns audience grid segments for a category.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "category",
            "type": "string",
            "description": "The category to filter indexes by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/interests": {
      "get": {
        "operationId": "Network.getInterestsQuantcastAPI",
        "summary": "Returns a list of all of the available calls for i...",
        "description": "Returns a list of all of the available calls for interests for the network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/interests/domains": {
      "get": {
        "operationId": "Network.getInterestsDomainsQuantcastAPI",
        "summary": "Returns the a list of sites and affinity index sim...",
        "description": "Returns the a list of sites and affinity index similar to specified app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/interests/categories": {
      "get": {
        "operationId": "Network.getInterestsCategoriesQuantcastAPI",
        "summary": "Returns the a list of interests categories and aff...",
        "description": "Returns the a list of interests categories and affinity index similar to specified app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps": {
      "get": {
        "operationId": "Network.getAppsQuantcastAPI",
        "summary": "Returns a list of all of the mobile apps in the sp...",
        "description": "Returns a list of all of the mobile apps in the specified network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/traffic/installs": {
      "get": {
        "operationId": "Network.getAppsInstallsQuantcastAPI",
        "summary": "Returns the historical numbers of installations of...",
        "description": "Returns the historical numbers of installations of all mobile apps within the specified network by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/traffic/upgrades": {
      "get": {
        "operationId": "Network.getAppsUpgradesQuantcastAPI",
        "summary": "Returns the historical numbers of upgrade actions ...",
        "description": "Returns the historical numbers of upgrade actions of all mobile apps within the specified network by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains": {
      "get": {
        "operationId": "Network.getDomainsQuantcastAPI",
        "summary": "Returns a list of all of the domains in the specif...",
        "description": "Returns a list of all of the domains in the specified network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes. Cannot be GLOBAL. Leaving blank will default to US.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments": {
      "get": {
        "operationId": "Network.getSegmentsQuantcastAPI",
        "summary": "Returns a list of all of the top-level segments in...",
        "description": "Returns a list of all of the top-level segments in the specified network. To traverse this list, use the Segment.getSegment call for each segment whose children you wish to see.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/syndicators": {
      "get": {
        "operationId": "Network.getSyndicatorsQuantcastAPI",
        "summary": "Returns a list of all of the syndicators within th...",
        "description": "Returns a list of all of the syndicators within the given network.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for result set.",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "Number of results to return.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}": {
      "get": {
        "operationId": "Domain.getSummaryQuantcastAPI",
        "summary": "Returns a list of all of the available top-level c...",
        "description": "Returns a list of all of the available top-level calls for the specified domain.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/subdomains": {
      "get": {
        "operationId": "Domain.getDomainsQuantcastAPI",
        "summary": "Returns a list of all of the sub-domains under the...",
        "description": "Returns a list of all of the sub-domains under the specified domain or subdomain.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/traffic": {
      "get": {
        "operationId": "Domain.getTrafficQuantcastAPI",
        "summary": "Returns the most recent assorted traffic summary d...",
        "description": "Returns the most recent assorted traffic summary data for the specified domain.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/traffic/pageviews": {
      "get": {
        "operationId": "Domain.getPageviewsQuantcastAPI",
        "summary": "Returns the historical numbers of page-views for t...",
        "description": "Returns the historical numbers of page-views for the specified domain by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/traffic/people": {
      "get": {
        "operationId": "Domain.getPeopleQuantcastAPI",
        "summary": "Returns the historical numbers of people for the s...",
        "description": "Returns the historical numbers of people for the specified domain by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/traffic/visits": {
      "get": {
        "operationId": "Domain.getVisitsQuantcastAPI",
        "summary": "Returns the historical numbers of visits for the s...",
        "description": "Returns the historical numbers of visits for the specified domain by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/traffic/cookies": {
      "get": {
        "operationId": "Domain.getCookiesQuantcastAPI",
        "summary": "Returns the historical numbers of visitors (cookie...",
        "description": "Returns the historical numbers of visitors (cookies or mobile devices) for the specified domain by day, week and month, if available. This metric is equivalent to the Uniques metric in the web interface.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/demographics": {
      "get": {
        "operationId": "Domain.getDemographicsQuantcastAPI",
        "summary": "Returns the latest demographics data for the speci...",
        "description": "Returns the latest demographics data for the specified domain.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes. Cannot be GLOBAL.",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/indexes/source/{provider}": {
      "get": {
        "operationId": "Domain.getGridSubjectsQuantcastAPI",
        "summary": "Returns a list of all of the available interest su...",
        "description": "Returns a list of all of the available interest subjects for the provider.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/indexes/source/{provider}/{subject}": {
      "get": {
        "operationId": "Domain.getGridCategoriesQuantcastAPI",
        "summary": "Returns audience grid segments by subject.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/indexes/source/{provider}/{subject}/{category}": {
      "get": {
        "operationId": "Domain.getGridIndexesQuantcastAPI",
        "summary": "Returns audience grid segments for a category with...",
        "description": "Returns audience grid segments for a category within a subject.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "category",
            "type": "string",
            "description": "The category to filter indexes by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/interests": {
      "get": {
        "operationId": "Domain.getInterestsQuantcastAPI",
        "summary": "Returns a list of all of the available calls for i...",
        "description": "Returns a list of all of the available calls for interests for the domain.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/interests/domains": {
      "get": {
        "operationId": "Domain.getInterestsDomainsQuantcastAPI",
        "summary": "Returns the a list of sites and affinity index sim...",
        "description": "Returns the a list of sites and affinity index similar to specified domain.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/domains/{domain}/interests/categories": {
      "get": {
        "operationId": "Domain.getInterestsCategoriesQuantcastAPI",
        "summary": "Returns the a list of interests categories and aff...",
        "description": "Returns the a list of interests categories and affinity index similar to specified domain.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "domain",
            "type": "string",
            "description": "A domain within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}": {
      "get": {
        "operationId": "Segments.getSummaryQuantcastAPI",
        "summary": "Returns a list of all of the available top-level c...",
        "description": "Returns a list of all of the available top-level calls for the specified segment.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/segments": {
      "get": {
        "operationId": "Segments.getSegmentsQuantcastAPI",
        "summary": "Returns a list of sub-segments within the specifie...",
        "description": "Returns a list of sub-segments within the specified segment.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": false
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/traffic": {
      "get": {
        "operationId": "Segments.getTrafficQuantcastAPI",
        "summary": "Returns the most recent assorted traffic summary d...",
        "description": "Returns the most recent assorted traffic summary data for the specified segment.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/traffic/pageviews": {
      "get": {
        "operationId": "Segments.getPageviewsQuantcastAPI",
        "summary": "Returns the historical numbers of page-views for t...",
        "description": "Returns the historical numbers of page-views for the specified segment by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/traffic/people": {
      "get": {
        "operationId": "Segments.getPeopleQuantcastAPI",
        "summary": "Returns the historical numbers of people for the s...",
        "description": "Returns the historical numbers of people for the specified segment by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/traffic/visits": {
      "get": {
        "operationId": "Segments.getVisitsQuantcastAPI",
        "summary": "Returns the historical numbers of visits for the s...",
        "description": "Returns the historical numbers of visits for the specified segment by day, week and month, if available.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/traffic/cookies": {
      "get": {
        "operationId": "Segments.getCookiesQuantcastAPI",
        "summary": "Returns the numbers of visitors (cookies or mobile...",
        "description": "Returns the numbers of visitors (cookies or mobile devices) for the specified segment by day, week and month, if available. This metric is equivalent to the Uniques metric in the web interface.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/demographics": {
      "get": {
        "operationId": "Segments.getDemographicsQuantcastAPI",
        "summary": "Returns the latest demographics data for the speci...",
        "description": "Returns the latest demographics data for the specified segment.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes. Cannot be GLOBAL.",
            "in": "query",
            "required": false,
            "default": "US"
          },
          {
            "name": "platform",
            "type": "string",
            "description": "The optional platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/indexes/source/{provider}": {
      "get": {
        "operationId": "Segment.getGridSubjectsQuantcastAPI",
        "summary": "Returns a list of all of the available interest su...",
        "description": "Returns a list of all of the available interest subjects for the provider.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/indexes/source/{provider}/{subject}": {
      "get": {
        "operationId": "Segment.getGridCategoriesQuantcastAPI",
        "summary": "Returns audience grid segments by subject.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/indexes/source/{provider}/{subject}/{category}": {
      "get": {
        "operationId": "Segment.getGridIndexesQuantcastAPI",
        "summary": "Returns audience grid segments for a category with...",
        "description": "Returns audience grid segments for a category within a subject.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "category",
            "type": "string",
            "description": "The category to filter indexes by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/interests": {
      "get": {
        "operationId": "Segments.getInterestsQuantcastAPI",
        "summary": "Returns a list of all of the available calls for i...",
        "description": "Returns a list of all of the available calls for interests for the segment.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/interests/domains": {
      "get": {
        "operationId": "Segments.getInterestsDomainsQuantcastAPI",
        "summary": "Returns the a list of sites and affinity index sim...",
        "description": "Returns the a list of sites and affinity index similar to specified segment.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "A segment within the network.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/segments/{segment}/interests/categories": {
      "get": {
        "operationId": "Segments.getInterestsCategoriesQuantcastAPI",
        "summary": "Returns the a list of interests categories and aff...",
        "description": "Returns the a list of interests categories and affinity index similar to specified app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "segment",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}": {
      "get": {
        "operationId": "MobileApps.getSummaryQuantcastAPI",
        "summary": "Returns a list of all of the top-level calls avail...",
        "description": "Returns a list of all of the top-level calls available for the specified app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "mobile_platform",
            "type": "string",
            "description": "The optional mobile platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          },
          {
            "name": "version",
            "type": "string",
            "description": "The optional app version filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/traffic": {
      "get": {
        "operationId": "MobileApps.getTrafficQuantcastAPI",
        "summary": "Returns the most recent assorted traffic summary d...",
        "description": "Returns the most recent assorted traffic summary data for the specified app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "mobile_platform",
            "type": "string",
            "description": "The optional mobile platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          },
          {
            "name": "version",
            "type": "string",
            "description": "The optional app version filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/traffic/uniques": {
      "get": {
        "operationId": "MobileApps.getUniquesQuantcastAPI",
        "summary": "Returns the historical numbers of visitors (mobile...",
        "description": "Returns the historical numbers of visitors (mobile devices) for the specified app by day, week and month.  This metric is equivalent to the Uniques metric in the web interface.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "mobile_platform",
            "type": "string",
            "description": "The optional mobile platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          },
          {
            "name": "version",
            "type": "string",
            "description": "The optional app version filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/traffic/visits": {
      "get": {
        "operationId": "MobileApps.getVisitsQuantcastAPI",
        "summary": "Returns the historical numbers of visits for the s...",
        "description": "Returns the historical numbers of visits for the specified app by day, week and month.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "mobile_platform",
            "type": "string",
            "description": "The optional mobile platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          },
          {
            "name": "version",
            "type": "string",
            "description": "The optional app version filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/traffic/installs": {
      "get": {
        "operationId": "MobileApps.getInstallsQuantcastAPI",
        "summary": "Returns the historical numbers of installations fo...",
        "description": "Returns the historical numbers of installations for the specified app by day, week and month.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "mobile_platform",
            "type": "string",
            "description": "The optional mobile platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          },
          {
            "name": "version",
            "type": "string",
            "description": "The optional app version filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/traffic/upgrades": {
      "get": {
        "operationId": "MobileApps.getUpgradesQuantcastAPI",
        "summary": "Returns the historical numbers of upgrade actions ...",
        "description": "Returns the historical numbers of upgrade actions for the specified app by day, week and month.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "mobile_platform",
            "type": "string",
            "description": "The optional mobile platform filter.",
            "in": "query",
            "required": false,
            "default": "all"
          },
          {
            "name": "version",
            "type": "string",
            "description": "The optional app version filter.",
            "in": "query",
            "required": false,
            "default": "all"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/demographics": {
      "get": {
        "operationId": "MobileApps.getDemographicsQuantcastAPI",
        "summary": "Returns the latest demographics data for all versi...",
        "description": "Returns the latest demographics data for all versions of the specified app on all mobile platforms.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes. Cannot be GLOBAL.",
            "in": "query",
            "required": false,
            "default": "US"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/indexes/source/{provider}": {
      "get": {
        "operationId": "MobileApps.getGridSubjectsQuantcastAPI",
        "summary": "Returns a list of all of the available interest su...",
        "description": "Returns a list of all of the available interest subjects for the provider.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/app/{appId}/indexes/source/{provider}/{subject}": {
      "get": {
        "operationId": "MobileApps.getGridCategoriesQuantcastAPI",
        "summary": "Returns audience grid categories by subject for a ...",
        "description": "Returns audience grid categories by subject for a mobile application.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/app/{appId}/indexes/source/{provider}/{subject}/{category}": {
      "get": {
        "operationId": "MobileApps.getGridIndexesQuantcastAPI",
        "summary": "Returns audience grid segments for a category for ...",
        "description": "Returns audience grid segments for a category for a mobile application.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "provider",
            "type": "string",
            "description": "The audience grid provider to fetch data for",
            "in": "path",
            "required": true
          },
          {
            "name": "subject",
            "type": "string",
            "description": "The subject to filter categories by.",
            "in": "path",
            "required": true
          },
          {
            "name": "category",
            "type": "string",
            "description": "The category to filter indexes by.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/interests": {
      "get": {
        "operationId": "MobileApps.getInterestsQuantcastAPI",
        "summary": "Returns a list of all of the available calls for i...",
        "description": "Returns a list of all of the available calls for interests for the app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/interests/domains": {
      "get": {
        "operationId": "MobileApps.getInterestsDomainsQuantcastAPI",
        "summary": "Returns the a list of sites and affinity index sim...",
        "description": "Returns the a list of sites and affinity index similar to specified app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "The unique ID of the app.",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/networks/{pCode}/apps/{appId}/interests/categories": {
      "get": {
        "operationId": "MobileApps.getInterestsCategoriesQuantcastAPI",
        "summary": "Returns the a list of interests categories and aff...",
        "description": "Returns the a list of interests categories and affinity index similar to specified app.",
        "tags": [
          "Quantcast API"
        ],
        "parameters": [
          {
            "name": "pCode",
            "type": "string",
            "description": "The unique identifier of the network (p-code).",
            "in": "path",
            "required": true
          },
          {
            "name": "appId",
            "type": "string",
            "description": "",
            "in": "path",
            "required": true
          },
          {
            "name": "country",
            "type": "string",
            "description": "The optional country filter http://developer.quantcast.com/docs/country_codes.",
            "in": "query",
            "required": false,
            "default": "GLOBAL"
          },
          {
            "name": "offset",
            "type": "integer",
            "description": "Starting offset for the result set.",
            "in": "query",
            "required": true
          },
          {
            "name": "limit",
            "type": "integer",
            "description": "The maximum number of results to be returned.",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
[...]
