{
  "swagger": "2.0",
  "info": {
    "title": "Editorial API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "The API Console (aka I/O Docs) is an interactive tool that enables you to interact with the Edmunds API without writing a single line of code!  Discover, learn, test and debug live API calls within seconds.  For more details on authentication, method references and special requirements, please see the API Documentation section. You must be signed in before using this tool. If you already have an account, you can sign in, otherwise, please register now. Edmunds.com's editorial content from Editor Reviews to vehicle-specific articles. PLEASE READ THE SPECIAL REQUIREMENTS NEEDED TO USE THIS DATA http://developer.edmunds.com/api-documentation/editorial/#sec-3",
    "x-mashery-id": "403"
  },
  "schemes": [
    "http"
  ],
  "host": "api.edmunds.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "http://developer.edmunds.com/api-documentation/overview/"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Editorial Content"
    }
  ],
  "paths": {
    "/v1/content/": {
      "get": {
        "operationId": "GetContentEditorialContent",
        "summary": "Get articles and editorial content by an article c...",
        "description": "Get articles and editorial content by an article category OR a vehicle's make and model niceNames. You have to specify either a category OR a vehicle to get results. You also specify both if you want to narrow down the result set.",
        "tags": [
          "Editorial Content"
        ],
        "parameters": [
          {
            "name": "category",
            "type": "string",
            "description": "The article category",
            "in": "query",
            "required": false,
            "enum": [
              "auto finance",
              "awards",
              "best cars lists",
              "car news",
              "car buying",
              "car leasing",
              "car technology",
              "driving",
              "editor reviews",
              "extended warranties",
              "fuel economy",
              "how-to advice",
              "insurance",
              "maintenance & repair",
              "road tests",
              "selling",
              "top 10 lists",
              "vehicle safety",
              "warranties"
            ]
          },
          {
            "name": "make",
            "type": "string",
            "description": "Vehicle make nicename",
            "in": "query",
            "required": false,
            "default": "toyota"
          },
          {
            "name": "model",
            "type": "string",
            "description": "Vehicle model nicename",
            "in": "query",
            "required": false,
            "default": "prius"
          },
          {
            "name": "year",
            "type": "integer",
            "description": "Vehicle year (YYYY)",
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "type": "string",
            "description": "query filter. limit=[index of article],[# of articles]",
            "in": "query",
            "required": false,
            "default": "0,5"
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format (json OR xml)",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "xml"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/content/editorreviews": {
      "get": {
        "operationId": "GetEditorReviewsEditorialContent",
        "summary": "Get the Editor Review for a vehicle. This includes...",
        "description": "Get the Editor Review for a vehicle. This includes all the itemized sections like pros, cons, what's new, ...etc.",
        "tags": [
          "Editorial Content"
        ],
        "parameters": [
          {
            "name": "make",
            "type": "string",
            "description": "Vehicle make name",
            "in": "query",
            "required": true,
            "default": "honda"
          },
          {
            "name": "model",
            "type": "string",
            "description": "Vehicle model nicename",
            "in": "query",
            "required": true,
            "default": "accord"
          },
          {
            "name": "year",
            "type": "integer",
            "description": "Vehicle year (YYYY)",
            "in": "query",
            "required": true,
            "default": 2013
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/editorial/v2/{makeNiceName}": {
      "get": {
        "operationId": "GetMakeoverviewEditorialContent",
        "summary": "Get the Editorial content for the given make simil...",
        "description": "Get the Editorial content for the given make similar with website page: http://www.edmunds.com/{make}",
        "tags": [
          "Editorial Content"
        ],
        "parameters": [
          {
            "name": "makeNiceName",
            "type": "string",
            "description": "Vehicle make niceName",
            "in": "path",
            "required": true,
            "default": "audi"
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/editorial/v2/{makeNiceName}/{modelNiceName}": {
      "get": {
        "operationId": "GetModeloverviewEditorialContent",
        "summary": "Get the Editorial content for the given make/model...",
        "description": "Get the Editorial content for the given make/model similar with website: http://www.edmunds.com/{make}/{model}",
        "tags": [
          "Editorial Content"
        ],
        "parameters": [
          {
            "name": "makeNiceName",
            "type": "string",
            "description": "Vehicle make niceName",
            "in": "path",
            "required": true,
            "default": "audi"
          },
          {
            "name": "modelNiceName",
            "type": "string",
            "description": "Vehicle model niceName",
            "in": "path",
            "required": true,
            "default": "a3"
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/editorial/v2/{makeNiceName}/{modelNiceName}/{year}": {
      "get": {
        "operationId": "GetModel/YearoverviewEditorialContent",
        "summary": "Get the Editorial content for the given make/model...",
        "description": "Get the Editorial content for the given make/model/year similar with website: http://www.edmunds.com/{make}/{model}/{year}",
        "tags": [
          "Editorial Content"
        ],
        "parameters": [
          {
            "name": "makeNiceName",
            "type": "string",
            "description": "Vehicle make niceName",
            "in": "path",
            "required": true,
            "default": "audi"
          },
          {
            "name": "modelNiceName",
            "type": "string",
            "description": "Vehicle model niceName",
            "in": "path",
            "required": true,
            "default": "a3"
          },
          {
            "name": "year",
            "type": "integer",
            "description": "Vehicle four-digit year",
            "in": "path",
            "required": true,
            "default": 2015
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/editorial/v2/{makeNiceName}/{modelNiceName}/{year}/roadtests": {
      "get": {
        "operationId": "GetRoadtestarticlesforMake/Model/YearEditorialContent",
        "summary": "Get the Road test articles content for the given m...",
        "description": "Get the Road test articles content for the given make/model/year similar with website",
        "tags": [
          "Editorial Content"
        ],
        "parameters": [
          {
            "name": "makeNiceName",
            "type": "string",
            "description": "Vehicle make niceName",
            "in": "path",
            "required": true,
            "default": "audi"
          },
          {
            "name": "modelNiceName",
            "type": "string",
            "description": "Vehicle model niceName",
            "in": "path",
            "required": true,
            "default": "a3"
          },
          {
            "name": "year",
            "type": "integer",
            "description": "Vehicle four-digit year",
            "in": "path",
            "required": true,
            "default": 2015
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/api/editorial/v2/articles": {
      "get": {
        "operationId": "GetarticlesbytagsorMake/Model/YearEditorialContent",
        "summary": "Get the articles content for the given tags or mak...",
        "description": "Get the articles content for the given tags or make/model/year",
        "tags": [
          "Editorial Content"
        ],
        "parameters": [
          {
            "name": "tag",
            "type": "string",
            "description": "Tags of the articles. Required if make or year parameters are not specified",
            "in": "query",
            "required": false,
            "enum": [
              "coupe",
              "hatchback",
              "mini",
              "minivan",
              "pickup",
              "sedan",
              "suv",
              "truck",
              "wagon",
              "autoshow",
              "awards",
              "car-buying",
              "car-news",
              "comparison-tests",
              "diesel",
              "editor-reviews",
              "features",
              "hydrogen",
              "long-term-road-tests",
              "maintenance",
              "road-tests",
              "safety",
              "top-10-lists",
              "vehicle-debuts"
            ]
          },
          {
            "name": "make",
            "type": "string",
            "description": "Vehicle make niceName. Required if tag or year parameters are not specified or model parameter is specified",
            "in": "query",
            "required": false,
            "default": "bmw"
          },
          {
            "name": "model",
            "type": "string",
            "description": "Vehicle model niceName",
            "in": "query",
            "required": false,
            "default": "3-series"
          },
          {
            "name": "year",
            "type": "integer",
            "description": "Vehicle four-digit year. Required if make or tag parameters are not specified",
            "in": "query",
            "required": false
          },
          {
            "name": "pagenum",
            "type": "integer",
            "description": "Pagination starting index",
            "in": "query",
            "required": false,
            "default": 1
          },
          {
            "name": "pagesize",
            "type": "integer",
            "description": "Pagination response size. The max value is 50",
            "in": "query",
            "required": false,
            "default": 10
          },
          {
            "name": "view",
            "type": "string",
            "description": "The response payload",
            "in": "query",
            "required": false,
            "enum": [
              "basic",
              "full"
            ]
          },
          {
            "name": "fmt",
            "type": "string",
            "description": "Response format",
            "in": "query",
            "required": false,
            "enum": [
              "json"
            ]
          },
          {
            "name": "callback",
            "type": "string",
            "description": "The callback function that the JSON response will be wrapped in if desired",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}