{
  "swagger": "2.0",
  "info": {
    "title": "Tennis v2 Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Tennis API",
    "x-mashery-id": "6755"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/tennis-t2/en",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Tennis v2"
    }
  ],
  "paths": {
    "/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsTennisv2",
        "summary": "Provides match information and scoring, for all ma...",
        "description": "Provides match information and scoring, for all matches played on a given day",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleTennisv2",
        "summary": "Provides the schedule for a given day",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016",
              "2017"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/deleted_matches{format}": {
      "get": {
        "operationId": "DeletedMatchesTennisv2",
        "summary": "Provides deleted matches",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "MatchProbabilitiesTennisv2",
        "summary": "Provides match probabilities",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:10134403"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/summary{format}": {
      "get": {
        "operationId": "MatchSummaryTennisv2",
        "summary": "Provides match summary, including scores and stati...",
        "description": "Provides match summary, including scores and statistics",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:10134403"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/timeline{format}": {
      "get": {
        "operationId": "MatchTimelineTennisv2",
        "summary": "Provides match information and scoring",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:10134403"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileTennisv2",
        "summary": "Provides player information",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player Tournament Info Endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:19578"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/{player_id_1}/versus/{player_id_2}/matches{format}": {
      "get": {
        "operationId": "PlayerVersusPlayerTennisv2",
        "summary": "Provides information on team versus team results",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "player_id_1",
            "type": "string",
            "description": "The ID of the team, found in the Tournament Information",
            "in": "path",
            "required": true,
            "default": "sr:competitor:19578"
          },
          {
            "name": "player_id_2",
            "type": "string",
            "description": "The ID of the team, found in the Tournament Information",
            "in": "path",
            "required": true,
            "default": "sr:competitor:18254"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/{player_id}/results{format}": {
      "get": {
        "operationId": "PlayerResultsTennisv2",
        "summary": "Provides the results for a given player",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player Tournament Info Endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:19578"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/{player_id}/schedule{format}": {
      "get": {
        "operationId": "PlayerScheduleTennisv2",
        "summary": "Provides the schedule for a player",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player Tournament Info Endpoint",
            "in": "path",
            "required": true,
            "default": "sr:competitor:19578"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/rankings{format}": {
      "get": {
        "operationId": "PlayerRankingsTennisv2",
        "summary": "Provides player rankings for a given tournaments",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/race_rankings{format}": {
      "get": {
        "operationId": "PlayerRaceRankingsTennisv2",
        "summary": "Provides player rankings for a given tournaments",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "query",
            "required": true,
            "default": "sr:competitor:15126"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/double_teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "Double-TeamProfileTennisv2",
        "summary": "Team information, including player roster informat...",
        "description": "Team information, including player roster information",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Do not know how we will describe this",
            "in": "path",
            "required": true,
            "default": "sr:competitor:298214"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/double_teams/{team_id}/results{format}": {
      "get": {
        "operationId": "Double-TeamResultsTennisv2",
        "summary": "Provides a Team's Results",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Do not know how we will describe this",
            "in": "path",
            "required": true,
            "default": "sr:competitor:298214"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/double_teams/{team_id}/schedule{format}": {
      "get": {
        "operationId": "Double-TeamScheduleTennisv2",
        "summary": "Provides a Team's Schedule",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Do not know how we will describe this",
            "in": "path",
            "required": true,
            "default": "sr:competitor:298214"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/double_teams/{team_id_1}/versus/{team_id_2}/matches{format}": {
      "get": {
        "operationId": "DoubleTeamVersusTeamTennisv2",
        "summary": "Provides information on team versus team results",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "team_id_1",
            "type": "string",
            "description": "The ID of the team, found in the Tournament Information",
            "in": "path",
            "required": true,
            "default": "sr:competitor:257813"
          },
          {
            "name": "team_id_2",
            "type": "string",
            "description": "The ID of the team, found in the Tournament Information",
            "in": "path",
            "required": true,
            "default": "sr:competitor:187839"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/double_teams/rankings{format}": {
      "get": {
        "operationId": "DoublesRankingsTennisv2",
        "summary": "Provides rankings for a Doubles",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/double_teams/race_rankings{format}": {
      "get": {
        "operationId": "DoublesRaceRankingsTennisv2",
        "summary": "Provides double rankings for a Doubles",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoTennisv2",
        "summary": "Provide information for a given Tournament found i...",
        "description": "Provide information for a given Tournament found in the Tournament List endpoint",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2591"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments{format}": {
      "get": {
        "operationId": "TournamentListTennisv2",
        "summary": "Provides a list of all covered Tournaments",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/ongoing{format}": {
      "get": {
        "operationId": "TournamentOngoingTennisv2",
        "summary": "Provides updated information for a given Tournamen...",
        "description": "Provides updated information for a given Tournament found in the Tournament List endpoint",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsTennisv2",
        "summary": "Provides results for a given Tournament found in t...",
        "description": "Provides results for a given Tournament found in the Tournament List endpoint",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2591"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleTennisv2",
        "summary": "Provides the schedule for a given Tournament found...",
        "description": "Provides the schedule for a given Tournament found in the Tournament List endpoint",
        "tags": [
          "Tennis v2"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:2591"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}