{
  "swagger": "2.0",
  "info": {
    "title": "Lookup",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Test our API services using API Explorer. Looks ups from National Address",
    "x-mashery-id": "3418"
  },
  "schemes": [
    "http"
  ],
  "host": "api.address.gov.sa",
  "basePath": "/lookup",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://api.address.gov.sa/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Lookup"
    }
  ],
  "paths": {
    "/districts": {
      "get": {
        "operationId": "districtsLookup",
        "summary": "Getting districts",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "It is an optional input. Our API can provide response in Arabic or English with Arabic being the default language.",
            "in": "query",
            "required": false,
            "enum": [
              "A",
              "E"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "It is an optional input. We currently support output for API in two formats Json and XML. You will be required to specify in which format you need response, default is Json.",
            "in": "query",
            "required": false,
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "cityid",
            "type": "integer",
            "description": "Id of city for which you want to get list of districts. For example for City \"Abha\" ID is \"15\". You can obtain this id by using KSA Cities API",
            "in": "query",
            "required": true,
            "default": "3"
          },
          {
            "name": "encode",
            "type": "string",
            "description": "Get response in utf-8.Pass input as 'utf8'.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/cities": {
      "get": {
        "operationId": "citiesLookup",
        "summary": "Getting cities",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "It is an optional input. We currently support output for API in two formats Json and XML. You will be required to specify in which format you need response, default is Json.",
            "in": "query",
            "required": false,
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "regionid",
            "type": "integer",
            "description": "Default value is -1 which will return all cities in KSA.",
            "in": "query",
            "required": true,
            "default": "-1"
          },
          {
            "name": "language",
            "type": "string",
            "description": "It is an optional input. Our API can provide response in Arabic or English with Arabic being the default language.",
            "in": "query",
            "required": false,
            "enum": [
              "A",
              "E"
            ]
          },
          {
            "name": "encode",
            "type": "string",
            "description": "Get response in utf-8.Pass input as 'utf8'.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/regions": {
      "get": {
        "operationId": "regionsLookup",
        "summary": "Getting regions",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "It is an optional input. Our API can provide response in Arabic or English with Arabic being the default language.",
            "in": "query",
            "required": false,
            "enum": [
              "A",
              "E"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "It is an optional input. We currently support output for API in two formats Json and XML. You will be required to specify in which format you need response, default is Json.",
            "in": "query",
            "required": false,
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "encode",
            "type": "string",
            "description": "Get response in utf-8.Pass input as 'utf8'.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/service-categories": {
      "get": {
        "operationId": "service-categoriesLookup",
        "summary": "Getting Service Categories",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "It is an optional input. Our API can provide response in Arabic or English with Arabic being the default language.",
            "in": "query",
            "required": false,
            "enum": [
              "A",
              "E"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "It is an optional input. We currently support output for API in two formats Json and XML. You will be required to specify in which format you need response, default is Json.",
            "in": "query",
            "required": false,
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "encode",
            "type": "string",
            "description": "Get response in utf-8.Pass input as 'utf8'.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/services-sub-categories": {
      "get": {
        "operationId": "services-sub-categoriesLookup",
        "summary": "Getting Service Category sub-categories",
        "tags": [
          "Lookup"
        ],
        "parameters": [
          {
            "name": "language",
            "type": "string",
            "description": "It is an optional input. Our API can provide response in Arabic or English with Arabic being the default language.",
            "in": "query",
            "required": false,
            "enum": [
              "A",
              "E"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "It is an optional input. We currently support output for API in two formats Json and XML. You will be required to specify in which format you need response, default is Json.",
            "in": "query",
            "required": false,
            "enum": [
              "JSON",
              "XML"
            ]
          },
          {
            "name": "servicecategoryid",
            "type": "integer",
            "description": "ID of service category by which its recognized in system. You can obtain service category id by using Service Category API",
            "in": "query",
            "required": true,
            "default": "101"
          },
          {
            "name": "encode",
            "type": "string",
            "description": "Get response in utf-8.Pass input as 'utf8'.",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}