{
  "swagger": "2.0",
  "info": {
    "version": "2015-12-01",
    "x-release": "v4",
    "title": "Elastic Load Balancing",
    "description": "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports two types of load balancers: Classic load balancers and Application load balancers (new). A Classic load balancer makes routing and load balancing decisions either at the transport layer (TCP/SSL) or the application layer (HTTP/HTTPS), and supports either EC2-Classic or a VPC. An Application load balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS), supports path-based routing, and can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC). For more information, see the <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>This reference covers the 2015-12-01 API, which supports Application load balancers. The 2012-06-01 API supports Classic load balancers.</p> <p>To get started with an Application load balancer, complete the following tasks:</p> <ol> <li> <p>Create a load balancer using <a>CreateLoadBalancer</a>.</p> </li> <li> <p>Create a target group using <a>CreateTargetGroup</a>.</p> </li> <li> <p>Register targets for the target group using <a>RegisterTargets</a>.</p> </li> <li> <p>Create one or more listeners for your load balancer using <a>CreateListener</a>.</p> </li> <li> <p>(Optional) Create one or more rules for content routing based on URL using <a>CreateRule</a>.</p> </li> </ol> <p>To delete an Application load balancer and its related resources, complete the following tasks:</p> <ol> <li> <p>Delete the load balancer using <a>DeleteLoadBalancer</a>.</p> </li> <li> <p>Delete the target group using <a>DeleteTargetGroup</a>.</p> </li> </ol> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/elasticloadbalancing/"
  },
  "host": "elasticloadbalancing.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "post": {
        "operationId": "SetSubnets",
        "description": "Enables the Availability Zone for the specified subnets for the specified load balancer. The specified subnets replace the previously enabled subnets.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SetSubnetsOutput"
            }
          },
          "400": {
            "description": "LoadBalancerNotFoundException",
            "schema": {
              "$ref": "#/definitions/LoadBalancerNotFoundException"
            }
          },
          "401": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          },
          "402": {
            "description": "SubnetNotFoundException",
            "schema": {
              "$ref": "#/definitions/SubnetNotFoundException"
            }
          },
          "403": {
            "description": "InvalidSubnetException",
            "schema": {
              "$ref": "#/definitions/InvalidSubnetException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetSubnetsInput"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "Action": {
      "type": "object",
      "required": [
        "Type",
        "TargetGroupArn"
      ],
      "properties": {
        "Type": {
          "$ref": "#/definitions/ActionTypeEnum",
          "description": "The type of action."
        },
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        }
      },
      "description": "Information about an action."
    },
    "ActionTypeEnum": {
      "type": "string",
      "enum": [
        "forward"
      ]
    },
    "Actions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Action"
      }
    },
    "AddTagsInput": {
      "type": "object",
      "required": [
        "ResourceArns",
        "Tags"
      ],
      "properties": {
        "ResourceArns": {
          "$ref": "#/definitions/ResourceArns",
          "description": "The Amazon Resource Name (ARN) of the resource."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags. Each resource can have a maximum of 10 tags."
        }
      },
      "description": "Contains the parameters for AddTags."
    },
    "AddTagsOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of AddTags."
    },
    "AvailabilityZone": {
      "type": "object",
      "properties": {
        "ZoneName": {
          "$ref": "#/definitions/ZoneName",
          "description": "The name of the Availability Zone."
        },
        "SubnetId": {
          "$ref": "#/definitions/SubnetId",
          "description": "The ID of the subnet."
        }
      },
      "description": "Information about an Availability Zone."
    },
    "AvailabilityZones": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AvailabilityZone"
      }
    },
    "CanonicalHostedZoneId": {
      "type": "string"
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "CertificateArn": {
          "$ref": "#/definitions/CertificateArn",
          "description": "The Amazon Resource Name (ARN) of the certificate."
        }
      },
      "description": "Information about an SSL server certificate deployed on a load balancer."
    },
    "CertificateArn": {
      "type": "string"
    },
    "CertificateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Certificate"
      }
    },
    "CertificateNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified certificate does not exist."
    },
    "Cipher": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/CipherName",
          "description": "The name of the cipher."
        },
        "Priority": {
          "$ref": "#/definitions/CipherPriority",
          "description": "The priority of the cipher."
        }
      },
      "description": "Information about a cipher used in a policy."
    },
    "CipherName": {
      "type": "string"
    },
    "CipherPriority": {
      "type": "integer"
    },
    "Ciphers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Cipher"
      }
    },
    "ConditionFieldName": {
      "type": "string",
      "maxLength": 64
    },
    "CreateListenerInput": {
      "type": "object",
      "required": [
        "LoadBalancerArn",
        "Protocol",
        "Port",
        "DefaultActions"
      ],
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "Protocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol for connections from clients to the load balancer."
        },
        "Port": {
          "$ref": "#/definitions/Port",
          "description": "The port on which the load balancer is listening."
        },
        "SslPolicy": {
          "$ref": "#/definitions/SslPolicyName",
          "description": "The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy."
        },
        "Certificates": {
          "$ref": "#/definitions/CertificateList",
          "description": "The SSL server certificate. You must provide exactly one certificate if the protocol is HTTPS."
        },
        "DefaultActions": {
          "$ref": "#/definitions/Actions",
          "description": "The default actions for the listener."
        }
      },
      "description": "Contains the parameters for CreateListener."
    },
    "CreateListenerOutput": {
      "type": "object",
      "properties": {
        "Listeners": {
          "$ref": "#/definitions/Listeners",
          "description": "Information about the listener."
        }
      },
      "description": "Contains the output of CreateListener."
    },
    "CreateLoadBalancerInput": {
      "type": "object",
      "required": [
        "Name",
        "Subnets"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/LoadBalancerName",
          "description": "<p>The name of the load balancer.</p> <p>This name must be unique within your AWS account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>"
        },
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the subnets to attach to the load balancer. You can specify only one subnet per Availability Zone. You must specify subnets from at least two Availability Zones."
        },
        "SecurityGroups": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The IDs of the security groups to assign to the load balancer."
        },
        "Scheme": {
          "$ref": "#/definitions/LoadBalancerSchemeEnum",
          "description": "<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the Internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can only route requests from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "One or more tags to assign to the load balancer."
        }
      },
      "description": "Contains the parameters for CreateLoadBalancer."
    },
    "CreateLoadBalancerOutput": {
      "type": "object",
      "properties": {
        "LoadBalancers": {
          "$ref": "#/definitions/LoadBalancers",
          "description": "Information about the load balancer."
        }
      },
      "description": "Contains the output of CreateLoadBalancer."
    },
    "CreateRuleInput": {
      "type": "object",
      "required": [
        "ListenerArn",
        "Conditions",
        "Priority",
        "Actions"
      ],
      "properties": {
        "ListenerArn": {
          "$ref": "#/definitions/ListenerArn",
          "description": "The Amazon Resource Name (ARN) of the listener."
        },
        "Conditions": {
          "$ref": "#/definitions/RuleConditionList",
          "description": "The conditions."
        },
        "Priority": {
          "$ref": "#/definitions/RulePriority",
          "description": "The priority for the rule. A listener can't have multiple rules with the same priority."
        },
        "Actions": {
          "$ref": "#/definitions/Actions",
          "description": "The actions for the rule."
        }
      },
      "description": "Contains the parameters for CreateRule."
    },
    "CreateRuleOutput": {
      "type": "object",
      "properties": {
        "Rules": {
          "$ref": "#/definitions/Rules",
          "description": "Information about the rule."
        }
      },
      "description": "Contains the output of CreateRule."
    },
    "CreateTargetGroupInput": {
      "type": "object",
      "required": [
        "Name",
        "Protocol",
        "Port",
        "VpcId"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/TargetGroupName",
          "description": "The name of the target group."
        },
        "Protocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol to use for routing traffic to the targets."
        },
        "Port": {
          "$ref": "#/definitions/Port",
          "description": "The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target."
        },
        "VpcId": {
          "$ref": "#/definitions/VpcId",
          "description": "The identifier of the virtual private cloud (VPC)."
        },
        "HealthCheckProtocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol the load balancer uses when performing health checks on targets. The default is the HTTP protocol."
        },
        "HealthCheckPort": {
          "$ref": "#/definitions/HealthCheckPort",
          "description": "The port the load balancer uses when performing health checks on targets. The default is <code>traffic-port</code>, which indicates the port on which each target receives traffic from the load balancer."
        },
        "HealthCheckPath": {
          "$ref": "#/definitions/Path",
          "description": "The ping path that is the destination on the targets for health checks. The default is /."
        },
        "HealthCheckIntervalSeconds": {
          "$ref": "#/definitions/HealthCheckIntervalSeconds",
          "description": "The approximate amount of time, in seconds, between health checks of an individual target. The default is 30 seconds."
        },
        "HealthCheckTimeoutSeconds": {
          "$ref": "#/definitions/HealthCheckTimeoutSeconds",
          "description": "The amount of time, in seconds, during which no response from a target means a failed health check. The default is 5 seconds."
        },
        "HealthyThresholdCount": {
          "$ref": "#/definitions/HealthCheckThresholdCount",
          "description": "The number of consecutive health checks successes required before considering an unhealthy target healthy. The default is 5."
        },
        "UnhealthyThresholdCount": {
          "$ref": "#/definitions/HealthCheckThresholdCount",
          "description": "The number of consecutive health check failures required before considering a target unhealthy. The default is 2."
        },
        "Matcher": {
          "$ref": "#/definitions/Matcher",
          "description": "The HTTP codes to use when checking for a successful response from a target. The default is 200."
        }
      },
      "description": "Contains the parameters for CreateTargetGroup."
    },
    "CreateTargetGroupOutput": {
      "type": "object",
      "properties": {
        "TargetGroups": {
          "$ref": "#/definitions/TargetGroups",
          "description": "Information about the target group."
        }
      },
      "description": "Contains the output of CreateTargetGroup."
    },
    "CreatedTime": {
      "type": "string",
      "format": "date-time"
    },
    "DNSName": {
      "type": "string"
    },
    "DeleteListenerInput": {
      "type": "object",
      "required": [
        "ListenerArn"
      ],
      "properties": {
        "ListenerArn": {
          "$ref": "#/definitions/ListenerArn",
          "description": "The Amazon Resource Name (ARN) of the listener."
        }
      },
      "description": "Contains the parameters for DeleteListener."
    },
    "DeleteListenerOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeleteListener."
    },
    "DeleteLoadBalancerInput": {
      "type": "object",
      "required": [
        "LoadBalancerArn"
      ],
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        }
      },
      "description": "Contains the parameters for DeleteLoadBalancer."
    },
    "DeleteLoadBalancerOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeleteLoadBalancer."
    },
    "DeleteRuleInput": {
      "type": "object",
      "required": [
        "RuleArn"
      ],
      "properties": {
        "RuleArn": {
          "$ref": "#/definitions/RuleArn",
          "description": "The Amazon Resource Name (ARN) of the rule."
        }
      },
      "description": "Contains the parameters for DeleteRule."
    },
    "DeleteRuleOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeleteRule."
    },
    "DeleteTargetGroupInput": {
      "type": "object",
      "required": [
        "TargetGroupArn"
      ],
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        }
      },
      "description": "Contains the parameters for DeleteTargetGroup."
    },
    "DeleteTargetGroupOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeleteTargetGroup."
    },
    "DeregisterTargetsInput": {
      "type": "object",
      "required": [
        "TargetGroupArn",
        "Targets"
      ],
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        },
        "Targets": {
          "$ref": "#/definitions/TargetDescriptions",
          "description": "The targets."
        }
      },
      "description": "Contains the parameters for DeregisterTargets."
    },
    "DeregisterTargetsOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeregisterTargets."
    },
    "DescribeListenersInput": {
      "type": "object",
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "ListenerArns": {
          "$ref": "#/definitions/ListenerArns",
          "description": "The Amazon Resource Names (ARN) of the listeners."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker for the next set of results. (You received this marker from a previous call.)"
        },
        "PageSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The maximum number of results to return with this call."
        }
      },
      "description": "Contains the parameters for DescribeListeners."
    },
    "DescribeListenersOutput": {
      "type": "object",
      "properties": {
        "Listeners": {
          "$ref": "#/definitions/Listeners",
          "description": "Information about the listeners."
        },
        "NextMarker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker to use when requesting the next set of results. If there are no additional results, the string is empty."
        }
      },
      "description": "Contains the output of DescribeListeners."
    },
    "DescribeLoadBalancerAttributesInput": {
      "type": "object",
      "required": [
        "LoadBalancerArn"
      ],
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        }
      },
      "description": "Contains the parameters for DescribeLoadBalancerAttributes."
    },
    "DescribeLoadBalancerAttributesOutput": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/LoadBalancerAttributes",
          "description": "Information about the load balancer attributes."
        }
      },
      "description": "Contains the output of DescribeLoadBalancerAttributes."
    },
    "DescribeLoadBalancersInput": {
      "type": "object",
      "properties": {
        "LoadBalancerArns": {
          "$ref": "#/definitions/LoadBalancerArns",
          "description": "The Amazon Resource Names (ARN) of the load balancers."
        },
        "Names": {
          "$ref": "#/definitions/LoadBalancerNames",
          "description": "The names of the load balancers."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker for the next set of results. (You received this marker from a previous call.)"
        },
        "PageSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The maximum number of results to return with this call."
        }
      },
      "description": "Contains the parameters for DescribeLoadBalancers."
    },
    "DescribeLoadBalancersOutput": {
      "type": "object",
      "properties": {
        "LoadBalancers": {
          "$ref": "#/definitions/LoadBalancers",
          "description": "Information about the load balancers."
        },
        "NextMarker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker to use when requesting the next set of results. If there are no additional results, the string is empty."
        }
      },
      "description": "Contains the output of DescribeLoadBalancers."
    },
    "DescribeRulesInput": {
      "type": "object",
      "properties": {
        "ListenerArn": {
          "$ref": "#/definitions/ListenerArn",
          "description": "The Amazon Resource Name (ARN) of the listener."
        },
        "RuleArns": {
          "$ref": "#/definitions/RuleArns",
          "description": "The Amazon Resource Names (ARN) of the rules."
        }
      },
      "description": "Contains the parameters for DescribeRules."
    },
    "DescribeRulesOutput": {
      "type": "object",
      "properties": {
        "Rules": {
          "$ref": "#/definitions/Rules",
          "description": "Information about the rules."
        }
      },
      "description": "Contains the output of DescribeRules."
    },
    "DescribeSSLPoliciesInput": {
      "type": "object",
      "properties": {
        "Names": {
          "$ref": "#/definitions/SslPolicyNames",
          "description": "The names of the policies."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker for the next set of results. (You received this marker from a previous call.)"
        },
        "PageSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The maximum number of results to return with this call."
        }
      },
      "description": "Contains the parameters for DescribeSSLPolicies."
    },
    "DescribeSSLPoliciesOutput": {
      "type": "object",
      "properties": {
        "SslPolicies": {
          "$ref": "#/definitions/SslPolicies",
          "description": "Information about the policies."
        },
        "NextMarker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker to use when requesting the next set of results. If there are no additional results, the string is empty."
        }
      },
      "description": "Contains the output of DescribeSSLPolicies."
    },
    "DescribeTagsInput": {
      "type": "object",
      "required": [
        "ResourceArns"
      ],
      "properties": {
        "ResourceArns": {
          "$ref": "#/definitions/ResourceArns",
          "description": "The Amazon Resource Names (ARN) of the resources."
        }
      },
      "description": "Contains the parameters for DescribeTags."
    },
    "DescribeTagsOutput": {
      "type": "object",
      "properties": {
        "TagDescriptions": {
          "$ref": "#/definitions/TagDescriptions",
          "description": "Information about the tags."
        }
      },
      "description": "Contains the output of DescribeTags."
    },
    "DescribeTargetGroupAttributesInput": {
      "type": "object",
      "required": [
        "TargetGroupArn"
      ],
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        }
      },
      "description": "Contains the parameters for DescribeTargetGroupAttributes."
    },
    "DescribeTargetGroupAttributesOutput": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/TargetGroupAttributes",
          "description": "Information about the target group attributes"
        }
      },
      "description": "Contains the output of DescribeTargetGroupAttributes."
    },
    "DescribeTargetGroupsInput": {
      "type": "object",
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "TargetGroupArns": {
          "$ref": "#/definitions/TargetGroupArns",
          "description": "The Amazon Resource Names (ARN) of the target groups."
        },
        "Names": {
          "$ref": "#/definitions/TargetGroupNames",
          "description": "The names of the target groups."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker for the next set of results. (You received this marker from a previous call.)"
        },
        "PageSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The maximum number of results to return with this call."
        }
      },
      "description": "Contains the parameters for DescribeTargetGroups."
    },
    "DescribeTargetGroupsOutput": {
      "type": "object",
      "properties": {
        "TargetGroups": {
          "$ref": "#/definitions/TargetGroups",
          "description": "Information about the target groups."
        },
        "NextMarker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker to use when requesting the next set of results. If there are no additional results, the string is empty."
        }
      },
      "description": "Contains the output of DescribeTargetGroups."
    },
    "DescribeTargetHealthInput": {
      "type": "object",
      "required": [
        "TargetGroupArn"
      ],
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        },
        "Targets": {
          "$ref": "#/definitions/TargetDescriptions",
          "description": "The targets."
        }
      },
      "description": "Contains the parameters for DescribeTargetHealth."
    },
    "DescribeTargetHealthOutput": {
      "type": "object",
      "properties": {
        "TargetHealthDescriptions": {
          "$ref": "#/definitions/TargetHealthDescriptions",
          "description": "Information about the health of the targets."
        }
      },
      "description": "Contains the output of DescribeTargetHealth."
    },
    "Description": {
      "type": "string"
    },
    "DuplicateListenerException": {
      "type": "object",
      "properties": {},
      "description": "A listener with the specified port already exists."
    },
    "DuplicateLoadBalancerNameException": {
      "type": "object",
      "properties": {},
      "description": "A load balancer with the specified name already exists for this account."
    },
    "DuplicateTagKeysException": {
      "type": "object",
      "properties": {},
      "description": "A tag key was specified more than once."
    },
    "DuplicateTargetGroupNameException": {
      "type": "object",
      "properties": {},
      "description": "A target group with the specified name already exists."
    },
    "HealthCheckIntervalSeconds": {
      "type": "integer",
      "minimum": 5,
      "maximum": 300
    },
    "HealthCheckPort": {
      "type": "string"
    },
    "HealthCheckThresholdCount": {
      "type": "integer",
      "minimum": 2,
      "maximum": 10
    },
    "HealthCheckTimeoutSeconds": {
      "type": "integer",
      "minimum": 2,
      "maximum": 60
    },
    "HealthUnavailableException": {
      "type": "object",
      "properties": {},
      "description": "The health of the specified targets could not be retrieved due to an internal error."
    },
    "HttpCode": {
      "type": "string"
    },
    "IncompatibleProtocolsException": {
      "type": "object",
      "properties": {},
      "description": "The specified configuration is not valid with this protocol."
    },
    "InvalidConfigurationRequestException": {
      "type": "object",
      "properties": {},
      "description": "The requested configuration is not valid."
    },
    "InvalidSchemeException": {
      "type": "object",
      "properties": {},
      "description": "The requested scheme is not valid."
    },
    "InvalidSecurityGroupException": {
      "type": "object",
      "properties": {},
      "description": "The specified security group does not exist."
    },
    "InvalidSubnetException": {
      "type": "object",
      "properties": {},
      "description": "The specified subnet is out of available addresses."
    },
    "InvalidTargetException": {
      "type": "object",
      "properties": {},
      "description": "The specified target does not exist or is not in the same VPC as the target group."
    },
    "IsDefault": {
      "type": "boolean"
    },
    "ListOfString": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/StringValue"
      }
    },
    "Listener": {
      "type": "object",
      "properties": {
        "ListenerArn": {
          "$ref": "#/definitions/ListenerArn",
          "description": "The Amazon Resource Name (ARN) of the listener."
        },
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "Port": {
          "$ref": "#/definitions/Port",
          "description": "The port on which the load balancer is listening."
        },
        "Protocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol for connections from clients to the load balancer."
        },
        "Certificates": {
          "$ref": "#/definitions/CertificateList",
          "description": "The SSL server certificate. You must provide a certificate if the protocol is HTTPS."
        },
        "SslPolicy": {
          "$ref": "#/definitions/SslPolicyName",
          "description": "The security policy that defines which ciphers and protocols are supported. The default is the current predefined security policy."
        },
        "DefaultActions": {
          "$ref": "#/definitions/Actions",
          "description": "The default actions for the listener."
        }
      },
      "description": "Information about a listener."
    },
    "ListenerArn": {
      "type": "string"
    },
    "ListenerArns": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ListenerArn"
      }
    },
    "ListenerNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified listener does not exist."
    },
    "Listeners": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Listener"
      }
    },
    "LoadBalancer": {
      "type": "object",
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "DNSName": {
          "$ref": "#/definitions/DNSName",
          "description": "The public DNS name of the load balancer."
        },
        "CanonicalHostedZoneId": {
          "$ref": "#/definitions/CanonicalHostedZoneId",
          "description": "The ID of the Amazon Route 53 hosted zone associated with the load balancer."
        },
        "CreatedTime": {
          "$ref": "#/definitions/CreatedTime",
          "description": "The date and time the load balancer was created."
        },
        "LoadBalancerName": {
          "$ref": "#/definitions/LoadBalancerName",
          "description": "The name of the load balancer."
        },
        "Scheme": {
          "$ref": "#/definitions/LoadBalancerSchemeEnum",
          "description": "<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the Internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can only route requests from clients with access to the VPC for the load balancer.</p>"
        },
        "VpcId": {
          "$ref": "#/definitions/VpcId",
          "description": "The ID of the VPC for the load balancer."
        },
        "State": {
          "$ref": "#/definitions/LoadBalancerState",
          "description": "The state of the load balancer."
        },
        "Type": {
          "$ref": "#/definitions/LoadBalancerTypeEnum",
          "description": "The type of load balancer."
        },
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "The Availability Zones for the load balancer."
        },
        "SecurityGroups": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The IDs of the security groups for the load balancer."
        }
      },
      "description": "Information about a load balancer."
    },
    "LoadBalancerArn": {
      "type": "string"
    },
    "LoadBalancerArns": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LoadBalancerArn"
      }
    },
    "LoadBalancerAttribute": {
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/LoadBalancerAttributeKey",
          "description": "<p>The name of the attribute.</p> <ul> <li> <p> <code>access_logs.s3.enabled</code> - Indicates whether access logs stored in Amazon S3 are enabled.</p> </li> <li> <p> <code>access_logs.s3.bucket</code> - The name of the S3 bucket for the access logs. This attribute is required if access logs in Amazon S3 are enabled. The bucket must exist in the same region as the load balancer and have a bucket policy that grants Elastic Load Balancing permission to write to the bucket.</p> </li> <li> <p> <code>access_logs.s3.prefix</code> - The prefix for the location in the S3 bucket. If you don't specify a prefix, the access logs are stored in the root of the bucket.</p> </li> <li> <p> <code>deletion_protection.enabled</code> - Indicates whether deletion protection is enabled.</p> </li> <li> <p> <code>idle_timeout.timeout_seconds</code> - The idle timeout value, in seconds. The valid range is 1-3600. The default is 60 seconds.</p> </li> </ul>"
        },
        "Value": {
          "$ref": "#/definitions/LoadBalancerAttributeValue",
          "description": "The value of the attribute."
        }
      },
      "description": "Information about a load balancer attribute."
    },
    "LoadBalancerAttributeKey": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9._]+$",
      "maxLength": 256
    },
    "LoadBalancerAttributeValue": {
      "type": "string",
      "maxLength": 1024
    },
    "LoadBalancerAttributes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LoadBalancerAttribute"
      },
      "maxItems": 20
    },
    "LoadBalancerName": {
      "type": "string"
    },
    "LoadBalancerNames": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LoadBalancerName"
      }
    },
    "LoadBalancerNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified load balancer does not exist."
    },
    "LoadBalancerSchemeEnum": {
      "type": "string",
      "enum": [
        "internet-facing",
        "internal"
      ]
    },
    "LoadBalancerState": {
      "type": "object",
      "properties": {
        "Code": {
          "$ref": "#/definitions/LoadBalancerStateEnum",
          "description": "The state code. The initial state of the load balancer is <code>provisioning</code>. After the load balancer is fully set up and ready to route traffic, its state is <code>active</code>. If the load balancer could not be set up, its state is <code>failed</code>."
        },
        "Reason": {
          "$ref": "#/definitions/StateReason",
          "description": "A description of the state."
        }
      },
      "description": "Information about the state of the load balancer."
    },
    "LoadBalancerStateEnum": {
      "type": "string",
      "enum": [
        "active",
        "provisioning",
        "failed"
      ]
    },
    "LoadBalancerTypeEnum": {
      "type": "string",
      "enum": [
        "application"
      ]
    },
    "LoadBalancers": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LoadBalancer"
      }
    },
    "Marker": {
      "type": "string"
    },
    "Matcher": {
      "type": "object",
      "required": [
        "HttpCode"
      ],
      "properties": {
        "HttpCode": {
          "$ref": "#/definitions/HttpCode",
          "description": "The HTTP codes. The default value is 200. You can specify multiple values (for example, \"200,202\") or a range of values (for example, \"200-299\")."
        }
      },
      "description": "Information to use when checking for a successful response from a target."
    },
    "ModifyListenerInput": {
      "type": "object",
      "required": [
        "ListenerArn"
      ],
      "properties": {
        "ListenerArn": {
          "$ref": "#/definitions/ListenerArn",
          "description": "The Amazon Resource Name (ARN) of the listener."
        },
        "Port": {
          "$ref": "#/definitions/Port",
          "description": "The port for connections from clients to the load balancer."
        },
        "Protocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol for connections from clients to the load balancer."
        },
        "SslPolicy": {
          "$ref": "#/definitions/SslPolicyName",
          "description": "The security policy that defines which ciphers and protocols are supported."
        },
        "Certificates": {
          "$ref": "#/definitions/CertificateList",
          "description": "The SSL server certificate."
        },
        "DefaultActions": {
          "$ref": "#/definitions/Actions",
          "description": "The default actions."
        }
      },
      "description": "Contains the parameters for ModifyListener."
    },
    "ModifyListenerOutput": {
      "type": "object",
      "properties": {
        "Listeners": {
          "$ref": "#/definitions/Listeners",
          "description": "Information about the modified listeners."
        }
      },
      "description": "Contains the output of ModifyListener."
    },
    "ModifyLoadBalancerAttributesInput": {
      "type": "object",
      "required": [
        "LoadBalancerArn",
        "Attributes"
      ],
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "Attributes": {
          "$ref": "#/definitions/LoadBalancerAttributes",
          "description": "The load balancer attributes."
        }
      },
      "description": "Contains the parameters for ModifyLoadBalancerAttributes."
    },
    "ModifyLoadBalancerAttributesOutput": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/LoadBalancerAttributes",
          "description": "Information about the load balancer attributes."
        }
      },
      "description": "Contains the output of ModifyLoadBalancerAttributes."
    },
    "ModifyRuleInput": {
      "type": "object",
      "required": [
        "RuleArn"
      ],
      "properties": {
        "RuleArn": {
          "$ref": "#/definitions/RuleArn",
          "description": "The Amazon Resource Name (ARN) of the rule."
        },
        "Conditions": {
          "$ref": "#/definitions/RuleConditionList",
          "description": "The conditions."
        },
        "Actions": {
          "$ref": "#/definitions/Actions",
          "description": "The actions."
        }
      },
      "description": "Contains the parameters for ModifyRules."
    },
    "ModifyRuleOutput": {
      "type": "object",
      "properties": {
        "Rules": {
          "$ref": "#/definitions/Rules",
          "description": "Information about the rule."
        }
      },
      "description": "Contains the output of ModifyRules."
    },
    "ModifyTargetGroupAttributesInput": {
      "type": "object",
      "required": [
        "TargetGroupArn",
        "Attributes"
      ],
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        },
        "Attributes": {
          "$ref": "#/definitions/TargetGroupAttributes",
          "description": "The attributes."
        }
      },
      "description": "Contains the parameters for ModifyTargetGroupAttributes."
    },
    "ModifyTargetGroupAttributesOutput": {
      "type": "object",
      "properties": {
        "Attributes": {
          "$ref": "#/definitions/TargetGroupAttributes",
          "description": "Information about the attributes."
        }
      },
      "description": "Contains the output of ModifyTargetGroupAttributes."
    },
    "ModifyTargetGroupInput": {
      "type": "object",
      "required": [
        "TargetGroupArn"
      ],
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        },
        "HealthCheckProtocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol to use to connect with the target."
        },
        "HealthCheckPort": {
          "$ref": "#/definitions/HealthCheckPort",
          "description": "The port to use to connect with the target."
        },
        "HealthCheckPath": {
          "$ref": "#/definitions/Path",
          "description": "The ping path that is the destination for the health check request."
        },
        "HealthCheckIntervalSeconds": {
          "$ref": "#/definitions/HealthCheckIntervalSeconds",
          "description": "The approximate amount of time, in seconds, between health checks of an individual target."
        },
        "HealthCheckTimeoutSeconds": {
          "$ref": "#/definitions/HealthCheckTimeoutSeconds",
          "description": "The amount of time, in seconds, during which no response means a failed health check."
        },
        "HealthyThresholdCount": {
          "$ref": "#/definitions/HealthCheckThresholdCount",
          "description": "The number of consecutive health checks successes required before considering an unhealthy target healthy."
        },
        "UnhealthyThresholdCount": {
          "$ref": "#/definitions/HealthCheckThresholdCount",
          "description": "The number of consecutive health check failures required before considering the target unhealthy."
        },
        "Matcher": {
          "$ref": "#/definitions/Matcher",
          "description": "The HTTP codes to use when checking for a successful response from a target."
        }
      },
      "description": "Contains the parameters for ModifyTargetGroup."
    },
    "ModifyTargetGroupOutput": {
      "type": "object",
      "properties": {
        "TargetGroups": {
          "$ref": "#/definitions/TargetGroups",
          "description": "Information about the target group."
        }
      },
      "description": "Contains the output of ModifyTargetGroup."
    },
    "OperationNotPermittedException": {
      "type": "object",
      "properties": {},
      "description": "This operation is not allowed."
    },
    "PageSize": {
      "type": "integer",
      "minimum": 1,
      "maximum": 400
    },
    "Path": {
      "type": "string",
      "minLength": 1,
      "maxLength": 1024
    },
    "Port": {
      "type": "integer",
      "minimum": 1,
      "maximum": 65535
    },
    "PriorityInUseException": {
      "type": "object",
      "properties": {},
      "description": "The specified priority is in use."
    },
    "ProtocolEnum": {
      "type": "string",
      "enum": [
        "HTTP",
        "HTTPS"
      ]
    },
    "RegisterTargetsInput": {
      "type": "object",
      "required": [
        "TargetGroupArn",
        "Targets"
      ],
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        },
        "Targets": {
          "$ref": "#/definitions/TargetDescriptions",
          "description": "The targets."
        }
      },
      "description": "Contains the parameters for RegisterTargets."
    },
    "RegisterTargetsOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of RegisterTargets."
    },
    "RemoveTagsInput": {
      "type": "object",
      "required": [
        "ResourceArns",
        "TagKeys"
      ],
      "properties": {
        "ResourceArns": {
          "$ref": "#/definitions/ResourceArns",
          "description": "The Amazon Resource Name (ARN) of the resource."
        },
        "TagKeys": {
          "$ref": "#/definitions/TagKeys",
          "description": "The tag keys for the tags to remove."
        }
      },
      "description": "Contains the parameters for RemoveTags."
    },
    "RemoveTagsOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of RemoveTags."
    },
    "ResourceArn": {
      "type": "string"
    },
    "ResourceArns": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ResourceArn"
      }
    },
    "ResourceInUseException": {
      "type": "object",
      "properties": {},
      "description": "A specified resource is in use."
    },
    "Rule": {
      "type": "object",
      "properties": {
        "RuleArn": {
          "$ref": "#/definitions/RuleArn",
          "description": "The Amazon Resource Name (ARN) of the rule."
        },
        "Priority": {
          "$ref": "#/definitions/String",
          "description": "The priority."
        },
        "Conditions": {
          "$ref": "#/definitions/RuleConditionList",
          "description": "The conditions."
        },
        "Actions": {
          "$ref": "#/definitions/Actions",
          "description": "The actions."
        },
        "IsDefault": {
          "$ref": "#/definitions/IsDefault",
          "description": "Indicates whether this is the default rule."
        }
      },
      "description": "Information about a rule."
    },
    "RuleArn": {
      "type": "string"
    },
    "RuleArns": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RuleArn"
      }
    },
    "RuleCondition": {
      "type": "object",
      "properties": {
        "Field": {
          "$ref": "#/definitions/ConditionFieldName",
          "description": "The name of the field. The possible value is <code>path-pattern</code>."
        },
        "Values": {
          "$ref": "#/definitions/ListOfString",
          "description": "<p>The values for the field.</p> <p>A path pattern is case sensitive, can be up to 255 characters in length, and can contain any of the following characters:</p> <ul> <li> <p>A-Z, a-z, 0-9</p> </li> <li> <p>_ - . $ / ~ \" ' @ : +</p> </li> <li> <p>&amp;amp; (using &amp;amp;amp;)</p> </li> <li> <p>* (matches 0 or more characters)</p> </li> <li> <p>? (matches exactly 1 character)</p> </li> </ul>"
        }
      },
      "description": "Information about a condition for a rule."
    },
    "RuleConditionList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RuleCondition"
      }
    },
    "RuleNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified rule does not exist."
    },
    "RulePriority": {
      "type": "integer",
      "minimum": 1,
      "maximum": 99999
    },
    "RulePriorityList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RulePriorityPair"
      }
    },
    "RulePriorityPair": {
      "type": "object",
      "properties": {
        "RuleArn": {
          "$ref": "#/definitions/RuleArn",
          "description": "The Amazon Resource Name (ARN) of the rule."
        },
        "Priority": {
          "$ref": "#/definitions/RulePriority",
          "description": "The rule priority."
        }
      },
      "description": "Information about the priorities for the rules for a listener."
    },
    "Rules": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Rule"
      }
    },
    "SSLPolicyNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified SSL policy does not exist."
    },
    "SecurityGroupId": {
      "type": "string"
    },
    "SecurityGroups": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SecurityGroupId"
      }
    },
    "SetRulePrioritiesInput": {
      "type": "object",
      "required": [
        "RulePriorities"
      ],
      "properties": {
        "RulePriorities": {
          "$ref": "#/definitions/RulePriorityList",
          "description": "The rule priorities."
        }
      },
      "description": "Contains the parameters for SetRulePriorities."
    },
    "SetRulePrioritiesOutput": {
      "type": "object",
      "properties": {
        "Rules": {
          "$ref": "#/definitions/Rules",
          "description": "Information about the rules."
        }
      },
      "description": "Contains the output of SetRulePriorities."
    },
    "SetSecurityGroupsInput": {
      "type": "object",
      "required": [
        "LoadBalancerArn",
        "SecurityGroups"
      ],
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "SecurityGroups": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The IDs of the security groups."
        }
      },
      "description": "Contains the parameters for SetSecurityGroups."
    },
    "SetSecurityGroupsOutput": {
      "type": "object",
      "properties": {
        "SecurityGroupIds": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The IDs of the security groups associated with the load balancer."
        }
      },
      "description": "Contains the output of SetSecurityGroups."
    },
    "SetSubnetsInput": {
      "type": "object",
      "required": [
        "LoadBalancerArn",
        "Subnets"
      ],
      "properties": {
        "LoadBalancerArn": {
          "$ref": "#/definitions/LoadBalancerArn",
          "description": "The Amazon Resource Name (ARN) of the load balancer."
        },
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the subnets. You must specify at least two subnets. You can add only one subnet per Availability Zone."
        }
      },
      "description": "Contains the parameters for SetSubnets."
    },
    "SetSubnetsOutput": {
      "type": "object",
      "properties": {
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "Information about the subnet and Availability Zone."
        }
      },
      "description": "Contains the output of SetSubnets."
    },
    "SslPolicies": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SslPolicy"
      }
    },
    "SslPolicy": {
      "type": "object",
      "properties": {
        "SslProtocols": {
          "$ref": "#/definitions/SslProtocols",
          "description": "The protocols."
        },
        "Ciphers": {
          "$ref": "#/definitions/Ciphers",
          "description": "The ciphers."
        },
        "Name": {
          "$ref": "#/definitions/SslPolicyName",
          "description": "The name of the policy."
        }
      },
      "description": "Information about a policy used for SSL negotiation."
    },
    "SslPolicyName": {
      "type": "string"
    },
    "SslPolicyNames": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SslPolicyName"
      }
    },
    "SslProtocol": {
      "type": "string"
    },
    "SslProtocols": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SslProtocol"
      }
    },
    "StateReason": {
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "StringValue": {
      "type": "string"
    },
    "SubnetId": {
      "type": "string"
    },
    "SubnetNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified subnet does not exist."
    },
    "Subnets": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SubnetId"
      }
    },
    "Tag": {
      "type": "object",
      "required": [
        "Key"
      ],
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "The key of the tag."
        },
        "Value": {
          "$ref": "#/definitions/TagValue",
          "description": "The value of the tag."
        }
      },
      "description": "Information about a tag."
    },
    "TagDescription": {
      "type": "object",
      "properties": {
        "ResourceArn": {
          "$ref": "#/definitions/ResourceArn",
          "description": "The Amazon Resource Name (ARN) of the resource."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "Information about the tags."
        }
      },
      "description": "The tags associated with a resource."
    },
    "TagDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagDescription"
      }
    },
    "TagKey": {
      "type": "string",
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "minLength": 1,
      "maxLength": 128
    },
    "TagKeys": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagKey"
      }
    },
    "TagList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Tag"
      },
      "minItems": 1
    },
    "TagValue": {
      "type": "string",
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "minLength": 0,
      "maxLength": 256
    },
    "TargetDescription": {
      "type": "object",
      "required": [
        "Id"
      ],
      "properties": {
        "Id": {
          "$ref": "#/definitions/TargetId",
          "description": "The ID of the target."
        },
        "Port": {
          "$ref": "#/definitions/Port",
          "description": "The port on which the target is listening."
        }
      },
      "description": "Information about a target."
    },
    "TargetDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TargetDescription"
      }
    },
    "TargetGroup": {
      "type": "object",
      "properties": {
        "TargetGroupArn": {
          "$ref": "#/definitions/TargetGroupArn",
          "description": "The Amazon Resource Name (ARN) of the target group."
        },
        "TargetGroupName": {
          "$ref": "#/definitions/TargetGroupName",
          "description": "The name of the target group."
        },
        "Protocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol to use for routing traffic to the targets."
        },
        "Port": {
          "$ref": "#/definitions/Port",
          "description": "The port on which the targets are listening."
        },
        "VpcId": {
          "$ref": "#/definitions/VpcId",
          "description": "The ID of the VPC for the targets."
        },
        "HealthCheckProtocol": {
          "$ref": "#/definitions/ProtocolEnum",
          "description": "The protocol to use to connect with the target."
        },
        "HealthCheckPort": {
          "$ref": "#/definitions/HealthCheckPort",
          "description": "The port to use to connect with the target."
        },
        "HealthCheckIntervalSeconds": {
          "$ref": "#/definitions/HealthCheckIntervalSeconds",
          "description": "The approximate amount of time, in seconds, between health checks of an individual target."
        },
        "HealthCheckTimeoutSeconds": {
          "$ref": "#/definitions/HealthCheckTimeoutSeconds",
          "description": "The amount of time, in seconds, during which no response means a failed health check."
        },
        "HealthyThresholdCount": {
          "$ref": "#/definitions/HealthCheckThresholdCount",
          "description": "The number of consecutive health checks successes required before considering an unhealthy target healthy."
        },
        "UnhealthyThresholdCount": {
          "$ref": "#/definitions/HealthCheckThresholdCount",
          "description": "The number of consecutive health check failures required before considering the target unhealthy."
        },
        "HealthCheckPath": {
          "$ref": "#/definitions/Path",
          "description": "The destination for the health check request."
        },
        "Matcher": {
          "$ref": "#/definitions/Matcher",
          "description": "The HTTP codes to use when checking for a successful response from a target."
        },
        "LoadBalancerArns": {
          "$ref": "#/definitions/LoadBalancerArns",
          "description": "The Amazon Resource Names (ARN) of the load balancers that route traffic to this target group."
        }
      },
      "description": "Information about a target group."
    },
    "TargetGroupArn": {
      "type": "string"
    },
    "TargetGroupArns": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TargetGroupArn"
      }
    },
    "TargetGroupAssociationLimitException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of load balancers per target group."
    },
    "TargetGroupAttribute": {
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/TargetGroupAttributeKey",
          "description": "<p>The name of the attribute.</p> <ul> <li> <p> <code>deregistration_delay.timeout_seconds</code> - The amount time for Elastic Load Balancing to wait before changing the state of a deregistering target from <code>draining</code> to <code>unused</code>. The range is 0-3600 seconds. The default value is 300 seconds.</p> </li> <li> <p> <code>stickiness.enabled</code> - Indicates whether sticky sessions are enabled.</p> </li> <li> <p> <code>stickiness.type</code> - The type of sticky sessions. The possible value is <code>lb_cookie</code>.</p> </li> <li> <p> <code>stickiness.lb_cookie.duration_seconds</code> - The time period, in seconds, during which requests from a client should be routed to the same target. After this time period expires, the load balancer-generated cookie is considered stale. The range is 1 second to 1 week (604800 seconds). The default value is 1 day (86400 seconds).</p> </li> </ul>"
        },
        "Value": {
          "$ref": "#/definitions/TargetGroupAttributeValue",
          "description": "The value of the attribute."
        }
      },
      "description": "Information about a target group attribute."
    },
    "TargetGroupAttributeKey": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9._]+$",
      "maxLength": 256
    },
    "TargetGroupAttributeValue": {
      "type": "string"
    },
    "TargetGroupAttributes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TargetGroupAttribute"
      }
    },
    "TargetGroupName": {
      "type": "string"
    },
    "TargetGroupNames": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TargetGroupName"
      }
    },
    "TargetGroupNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified target group does not exist."
    },
    "TargetGroups": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TargetGroup"
      }
    },
    "TargetHealth": {
      "type": "object",
      "properties": {
        "State": {
          "$ref": "#/definitions/TargetHealthStateEnum",
          "description": "The state of the target."
        },
        "Reason": {
          "$ref": "#/definitions/TargetHealthReasonEnum",
          "description": "<p>The reason code. If the target state is <code>healthy</code>, a reason code is not provided.</p> <p>If the target state is <code>initial</code>, the reason code can be one of the following values:</p> <ul> <li> <p> <code>Elb.RegistrationInProgress</code> - The target is in the process of being registered with the load balancer.</p> </li> <li> <p> <code>Elb.InitialHealthChecking</code> - The load balancer is still sending the target the minimum number of health checks required to determine its health status.</p> </li> </ul> <p>If the target state is <code>unhealthy</code>, the reason code can be one of the following values:</p> <ul> <li> <p> <code>Target.ResponseCodeMismatch</code> - The health checks did not return an expected HTTP code.</p> </li> <li> <p> <code>Target.Timeout</code> - The health check requests timed out.</p> </li> <li> <p> <code>Target.FailedHealthChecks</code> - The health checks failed because the connection to the target timed out, the target response was malformed, or the target failed the health check for an unknown reason.</p> </li> <li> <p> <code>Elb.InternalError</code> - The health checks failed due to an internal error.</p> </li> </ul> <p>If the target state is <code>unused</code>, the reason code can be one of the following values:</p> <ul> <li> <p> <code>Target.NotRegistered</code> - The target is not registered with the target group.</p> </li> <li> <p> <code>Target.NotInUse</code> - The target group is not used by any load balancer or the target is in an Availability Zone that is not enabled for its load balancer.</p> </li> <li> <p> <code>Target.InvalidState</code> - The target is in the stopped or terminated state.</p> </li> </ul> <p>If the target state is <code>draining</code>, the reason code can be the following value:</p> <ul> <li> <p> <code>Target.DeregistrationInProgress</code> - The target is in the process of being deregistered and the deregistration delay period has not expired.</p> </li> </ul>"
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "A description of the target health that provides additional details. If the state is <code>healthy</code>, a description is not provided."
        }
      },
      "description": "Information about the current health of a target."
    },
    "TargetHealthDescription": {
      "type": "object",
      "properties": {
        "Target": {
          "$ref": "#/definitions/TargetDescription",
          "description": "The description of the target."
        },
        "HealthCheckPort": {
          "$ref": "#/definitions/HealthCheckPort",
          "description": "The port to use to connect with the target."
        },
        "TargetHealth": {
          "$ref": "#/definitions/TargetHealth",
          "description": "The health information for the target."
        }
      },
      "description": "Information about the health of a target."
    },
    "TargetHealthDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TargetHealthDescription"
      }
    },
    "TargetHealthReasonEnum": {
      "type": "string",
      "enum": [
        "Elb.RegistrationInProgress",
        "Elb.InitialHealthChecking",
        "Target.ResponseCodeMismatch",
        "Target.Timeout",
        "Target.FailedHealthChecks",
        "Target.NotRegistered",
        "Target.NotInUse",
        "Target.DeregistrationInProgress",
        "Target.InvalidState",
        "Elb.InternalError"
      ]
    },
    "TargetHealthStateEnum": {
      "type": "string",
      "enum": [
        "initial",
        "healthy",
        "unhealthy",
        "unused",
        "draining"
      ]
    },
    "TargetId": {
      "type": "string"
    },
    "TooManyCertificatesException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of certificates per listener."
    },
    "TooManyListenersException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of listeners per load balancer."
    },
    "TooManyLoadBalancersException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of load balancers for your AWS account."
    },
    "TooManyRegistrationsForTargetIdException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of times a target can be registered with a load balancer."
    },
    "TooManyRulesException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of rules per load balancer."
    },
    "TooManyTagsException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of tags per load balancer."
    },
    "TooManyTargetGroupsException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of target groups for your AWS account."
    },
    "TooManyTargetsException": {
      "type": "object",
      "properties": {},
      "description": "You've reached the limit on the number of targets."
    },
    "UnsupportedProtocolException": {
      "type": "object",
      "properties": {},
      "description": "The specified protocol is not supported."
    },
    "VpcId": {
      "type": "string"
    },
    "ZoneName": {
      "type": "string"
    }
  }
}