{
  "swagger": "2.0",
  "info": {
    "version": "2014-10-31",
    "x-release": "v4",
    "title": "Amazon Relational Database Service",
    "description": "<fullname>Amazon Relational Database Service</fullname> <p> </p> <p>Amazon Relational Database Service (Amazon RDS) is a web service that makes it easier to set up, operate, and scale a relational database in the cloud. It provides cost-efficient, resizeable capacity for an industry-standard relational database and manages common database administration tasks, freeing up developers to focus on what makes their applications and businesses unique.</p> <p>Amazon RDS gives you access to the capabilities of a MySQL, MariaDB, PostgreSQL, Microsoft SQL Server, Oracle, or Amazon Aurora database server. These capabilities mean that the code, applications, and tools you already use today with your existing databases work with Amazon RDS without modification. Amazon RDS automatically backs up your database and maintains the database software that powers your DB instance. Amazon RDS is flexible: you can scale your database instance's compute resources and storage capacity to meet your application's demand. As with all Amazon Web Services, there are no up-front investments, and you pay only for the resources you use.</p> <p>This interface reference for Amazon RDS contains documentation for a programming or command line interface you can use to manage Amazon RDS. Note that Amazon RDS is asynchronous, which means that some interfaces might require techniques such as polling or callback functions to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, or during the maintenance window. The reference structure is as follows, and we list following some related topics from the user guide.</p> <p> <b>Amazon RDS API Reference</b> </p> <ul> <li> <p>For the alphabetical list of API actions, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Operations.html\">API Actions</a>.</p> </li> <li> <p>For the alphabetical list of data types, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Types.html\">Data Types</a>.</p> </li> <li> <p>For a list of common query parameters, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonParameters.html\">Common Parameters</a>.</p> </li> <li> <p>For descriptions of the error codes, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p> </li> </ul> <p> <b>Amazon RDS User Guide</b> </p> <ul> <li> <p>For a summary of the Amazon RDS interfaces, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html#Welcome.Interfaces\">Available RDS Interfaces</a>.</p> </li> <li> <p>For more information about how to use the Query API, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Using_the_Query_API.html\">Using the Query API</a>.</p> </li> </ul>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/rds/"
  },
  "host": "rds.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "parameters": {
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "format": "date-time",
      "required": true
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "RevokeDBSecurityGroupIngress",
        "description": "Revokes ingress from a DBSecurityGroup for previously authorized IP ranges or EC2 or VPC Security Groups. Required parameters for this API are one of CIDRIP, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId).",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RevokeDBSecurityGroupIngressResult"
            }
          },
          "480": {
            "description": "DBSecurityGroupNotFoundFault",
            "schema": {
              "$ref": "#/definitions/DBSecurityGroupNotFoundFault"
            }
          },
          "481": {
            "description": "AuthorizationNotFoundFault",
            "schema": {
              "$ref": "#/definitions/AuthorizationNotFoundFault"
            }
          },
          "482": {
            "description": "InvalidDBSecurityGroupStateFault",
            "schema": {
              "$ref": "#/definitions/InvalidDBSecurityGroupStateFault"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RevokeDBSecurityGroupIngressMessage"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        }
      ]
    }
  },
  "definitions": {
    "AccountAttributesMessage": {
      "type": "object",
      "properties": {
        "AccountQuotas": {
          "$ref": "#/definitions/AccountQuotaList",
          "description": "A list of <a>AccountQuota</a> objects. Within this list, each quota has a name, a count of usage toward the quota maximum, and a maximum value for the quota."
        }
      },
      "description": "Data returned by the <b>DescribeAccountAttributes</b> action."
    },
    "AccountQuota": {
      "type": "object",
      "properties": {
        "AccountQuotaName": {
          "$ref": "#/definitions/String",
          "description": "The name of the Amazon RDS quota for this AWS account."
        },
        "Used": {
          "$ref": "#/definitions/Long",
          "description": "The amount currently used toward the quota maximum."
        },
        "Max": {
          "$ref": "#/definitions/Long",
          "description": "The maximum allowed value for the quota."
        }
      },
      "description": "Describes a quota for an AWS account, for example, the number of DB instances allowed."
    },
    "AccountQuotaList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccountQuota"
      }
    },
    "AddSourceIdentifierToSubscriptionMessage": {
      "type": "object",
      "required": [
        "SubscriptionName",
        "SourceIdentifier"
      ],
      "properties": {
        "SubscriptionName": {
          "$ref": "#/definitions/String",
          "description": "The name of the RDS event notification subscription you want to add a source identifier to."
        },
        "SourceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier of the event source to be added. An identifier must begin with a letter and must contain only ASCII letters, digits, and hyphens; it cannot end with a hyphen or contain two consecutive hyphens.</p> <p>Constraints:</p> <ul> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>"
        }
      },
      "description": "<p/>"
    },
    "AddSourceIdentifierToSubscriptionResult": {
      "type": "object",
      "properties": {
        "EventSubscription": {
          "$ref": "#/definitions/EventSubscription"
        }
      }
    },
    "AddTagsToResourceMessage": {
      "type": "object",
      "required": [
        "ResourceName",
        "Tags"
      ],
      "properties": {
        "ResourceName": {
          "$ref": "#/definitions/String",
          "description": "The Amazon RDS resource the tags will be added to. This value is an Amazon Resource Name (ARN). For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\"> Constructing an RDS Amazon Resource Name (ARN)</a>."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags to be assigned to the Amazon RDS resource."
        }
      },
      "description": "<p/>"
    },
    "ApplyMethod": {
      "type": "string",
      "enum": [
        "immediate",
        "pending-reboot"
      ]
    },
    "ApplyPendingMaintenanceActionMessage": {
      "type": "object",
      "required": [
        "ResourceIdentifier",
        "ApplyAction",
        "OptInType"
      ],
      "properties": {
        "ResourceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "The RDS Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\"> Constructing an RDS Amazon Resource Name (ARN)</a>."
        },
        "ApplyAction": {
          "$ref": "#/definitions/String",
          "description": "<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>"
        },
        "OptInType": {
          "$ref": "#/definitions/String",
          "description": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>immediate</code> cannot be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>"
        }
      },
      "description": "<p/>"
    },
    "ApplyPendingMaintenanceActionResult": {
      "type": "object",
      "properties": {
        "ResourcePendingMaintenanceActions": {
          "$ref": "#/definitions/ResourcePendingMaintenanceActions"
        }
      }
    },
    "AttributeValueList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "AuthorizationAlreadyExistsFault": {
      "type": "object",
      "properties": {},
      "description": "The specified CIDRIP or EC2 security group is already authorized for the specified DB security group."
    },
    "AuthorizationNotFoundFault": {
      "type": "object",
      "properties": {},
      "description": "<p>Specified CIDRIP or EC2 security group is not authorized for the specified DB security group.</p> <p>RDS may not also be authorized via IAM to perform necessary actions on your behalf.</p>"
    },
    "AuthorizationQuotaExceededFault": {
      "type": "object",
      "properties": {},
      "description": "DB security group authorization quota has been reached."
    },
    "AuthorizeDBSecurityGroupIngressMessage": {
      "type": "object",
      "required": [
        "DBSecurityGroupName"
      ],
      "properties": {
        "DBSecurityGroupName": {
          "$ref": "#/definitions/String",
          "description": "The name of the DB security group to add authorization to."
        },
        "CIDRIP": {
          "$ref": "#/definitions/String",
          "description": "The IP range to authorize."
        },
        "EC2SecurityGroupName": {
          "$ref": "#/definitions/String",
          "description": " Name of the EC2 security group to authorize. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. "
        },
        "EC2SecurityGroupId": {
          "$ref": "#/definitions/String",
          "description": " Id of the EC2 security group to authorize. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. "
        },
        "EC2SecurityGroupOwnerId": {
          "$ref": "#/definitions/String",
          "description": " AWS account number of the owner of the EC2 security group specified in the <code>EC2SecurityGroupName</code> parameter. The AWS Access Key ID is not an acceptable value. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. "
        }
      },
      "description": "<p/>"
    },
    "AuthorizeDBSecurityGroupIngressResult": {
      "type": "object",
      "properties": {
        "DBSecurityGroup": {
          "$ref": "#/definitions/DBSecurityGroup"
        }
      }
    },
    "AvailabilityZone": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/String",
          "description": "The name of the availability zone."
        }
      },
      "description": "<p>Contains Availability Zone information.</p> <p> This data type is used as an element in the following data type:</p> <ul> <li> <p> <a>OrderableDBInstanceOption</a> </p> </li> </ul>"
    },
    "AvailabilityZoneList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AvailabilityZone"
      }
    },
    "AvailabilityZones": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanOptional": {
      "type": "boolean"
    },
    "Certificate": {
      "type": "object",
      "properties": {
        "CertificateIdentifier": {
          "$ref": "#/definitions/String",
          "description": "The unique key that identifies a certificate."
        },
        "CertificateType": {
          "$ref": "#/definitions/String",
          "description": "The type of the certificate."
        },
        "Thumbprint": {
          "$ref": "#/definitions/String",
          "description": "The thumbprint of the certificate."
        },
        "ValidFrom": {
          "$ref": "#/definitions/TStamp",
          "description": "The starting date from which the certificate is valid."
        },
        "ValidTill": {
          "$ref": "#/definitions/TStamp",
          "description": "The final date that the certificate continues to be valid."
        },
        "CertificateArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) for the certificate."
        }
      },
      "description": "A CA certificate for an AWS account."
    },
    "CertificateList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Certificate"
      }
    },
    "CertificateMessage": {
      "type": "object",
      "properties": {
        "Certificates": {
          "$ref": "#/definitions/CertificateList",
          "description": "The list of <a>Certificate</a> objects for the AWS account."
        },
        "Marker": {
          "$ref": "#/definitions/String",
          "description": " An optional pagination token provided by a previous <a>DescribeCertificates</a> request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code> . "
        }
      },
      "description": "Data returned by the <b>DescribeCertificates</b> action."
    },
    "CertificateNotFoundFault": {
      "type": "object",
      "properties": {},
      "description": " <i>CertificateIdentifier</i> does not refer to an existing certificate. "
    },
    "CharacterSet": {
      "type": "object",
      "properties": {
        "CharacterSetName": {
          "$ref": "#/definitions/String",
          "description": "The name of the character set."
        },
        "CharacterSetDescription": {
          "$ref": "#/definitions/String",
          "description": "The description of the character set."
        }
      },
      "description": " This data type is used as a response element in the action <a>DescribeDBEngineVersions</a>. "
    },
    "CopyDBClusterParameterGroupMessage": {
      "type": "object",
      "required": [
        "SourceDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupDescription"
      ],
      "properties": {
        "SourceDBClusterParameterGroupIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\"> Constructing an RDS Amazon Resource Name (ARN)</a>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same region as the copy, specify a valid DB parameter group identifier, for example <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different region than the copy, specify a valid DB cluster parameter group ARN, for example <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>"
        },
        "TargetDBClusterParameterGroupIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>"
        },
        "TargetDBClusterParameterGroupDescription": {
          "$ref": "#/definitions/String",
          "description": "A description for the copied DB cluster parameter group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      }
    },
    "CopyDBClusterParameterGroupResult": {
      "type": "object",
      "properties": {
        "DBClusterParameterGroup": {
          "$ref": "#/definitions/DBClusterParameterGroup"
        }
      }
    },
    "CopyDBClusterSnapshotMessage": {
      "type": "object",
      "required": [
        "SourceDBClusterSnapshotIdentifier",
        "TargetDBClusterSnapshotIdentifier"
      ],
      "properties": {
        "SourceDBClusterSnapshotIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>"
        },
        "TargetDBClusterSnapshotIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CopyDBClusterSnapshotResult": {
      "type": "object",
      "properties": {
        "DBClusterSnapshot": {
          "$ref": "#/definitions/DBClusterSnapshot"
        }
      }
    },
    "CopyDBParameterGroupMessage": {
      "type": "object",
      "required": [
        "SourceDBParameterGroupIdentifier",
        "TargetDBParameterGroupIdentifier",
        "TargetDBParameterGroupDescription"
      ],
      "properties": {
        "SourceDBParameterGroupIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p> The identifier or ARN for the source DB parameter group. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\"> Constructing an RDS Amazon Resource Name (ARN)</a>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB parameter group.</p> </li> <li> <p> Must specify a valid DB parameter group identifier, for example <code>my-db-param-group</code>, or a valid ARN.</p> </li> </ul>"
        },
        "TargetDBParameterGroupIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-db-parameter-group</code> </p>"
        },
        "TargetDBParameterGroupDescription": {
          "$ref": "#/definitions/String",
          "description": "A description for the copied DB parameter group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CopyDBParameterGroupResult": {
      "type": "object",
      "properties": {
        "DBParameterGroup": {
          "$ref": "#/definitions/DBParameterGroup"
        }
      }
    },
    "CopyDBSnapshotMessage": {
      "type": "object",
      "required": [
        "SourceDBSnapshotIdentifier",
        "TargetDBSnapshotIdentifier"
      ],
      "properties": {
        "SourceDBSnapshotIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier for the source DB snapshot.</p> <p>If you are copying from a shared manual DB snapshot, this must be the ARN of the shared DB snapshot.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the \"available\" state.</p> </li> <li> <p>If the source snapshot is in the same region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different region than the copy, specify a valid DB snapshot ARN. For more information, go to <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html\"> Copying a DB Snapshot</a>.</p> </li> </ul> <p>Example: <code>rds:mydb-2012-04-02-00-01</code> </p> <p>Example: <code>arn:aws:rds:rr-regn-1:123456789012:snapshot:mysql-instance1-snapshot-20130805</code> </p>"
        },
        "TargetDBSnapshotIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier for the copied snapshot.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-db-snapshot</code> </p>"
        },
        "KmsKeyId": {
          "$ref": "#/definitions/String",
          "description": "<p>The AWS Key Management Service (AWS KMS) key identifier for an encrypted DB snapshot. The KMS key identifier is the Amazon Resource Name (ARN) or the KMS key alias for the KMS encryption key.</p> <p>If you copy an unencrypted DB snapshot and specify a value for the <code>KmsKeyId</code> parameter, Amazon RDS encrypts the target DB snapshot using the specified KMS encryption key.</p> <p>If you copy an encrypted DB snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you don't specify a value for <code>KmsKeyId</code> then the copy of the DB snapshot is encrypted with the same KMS key as the source DB snapshot. </p> <p>If you copy an encrypted DB snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>.</p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        },
        "CopyTags": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "True to copy all tags from the source DB snapshot to the target DB snapshot; otherwise false. The default is false."
        }
      },
      "description": "<p/>"
    },
    "CopyDBSnapshotResult": {
      "type": "object",
      "properties": {
        "DBSnapshot": {
          "$ref": "#/definitions/DBSnapshot"
        }
      }
    },
    "CopyOptionGroupMessage": {
      "type": "object",
      "required": [
        "SourceOptionGroupIdentifier",
        "TargetOptionGroupIdentifier",
        "TargetOptionGroupDescription"
      ],
      "properties": {
        "SourceOptionGroupIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier or ARN for the source option group. For information about creating an ARN, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\"> Constructing an RDS Amazon Resource Name (ARN)</a>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid option group.</p> </li> <li> <p>If the source option group is in the same region as the copy, specify a valid option group identifier, for example <code>my-option-group</code>, or a valid ARN.</p> </li> <li> <p>If the source option group is in a different region than the copy, specify a valid option group ARN, for example <code>arn:aws:rds:us-west-2:123456789012:og:special-options</code>.</p> </li> </ul>"
        },
        "TargetOptionGroupIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier for the copied option group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-option-group</code> </p>"
        },
        "TargetOptionGroupDescription": {
          "$ref": "#/definitions/String",
          "description": "The description for the copied option group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CopyOptionGroupResult": {
      "type": "object",
      "properties": {
        "OptionGroup": {
          "$ref": "#/definitions/OptionGroup"
        }
      }
    },
    "CreateDBClusterMessage": {
      "type": "object",
      "required": [
        "DBClusterIdentifier",
        "Engine"
      ],
      "properties": {
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "A list of EC2 Availability Zones that instances in the DB cluster can be created in. For information on regions and Availability Zones, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.RegionsAndAvailabilityZones.html\">Regions and Availability Zones</a>. "
        },
        "BackupRetentionPeriod": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35</p> </li> </ul>"
        },
        "CharacterSetName": {
          "$ref": "#/definitions/String",
          "description": "A value that indicates that the DB cluster should be associated with the specified CharacterSet."
        },
        "DatabaseName": {
          "$ref": "#/definitions/String",
          "description": "The name for your database of up to 8 alpha-numeric characters. If you do not provide a name, Amazon RDS will not create a database in the DB cluster you are creating."
        },
        "DBClusterIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>"
        },
        "DBClusterParameterGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p> The name of the DB cluster parameter group to associate with this DB cluster. If this argument is omitted, <code>default.aurora5.6</code> will be used. </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul>"
        },
        "VpcSecurityGroupIds": {
          "$ref": "#/definitions/VpcSecurityGroupIdList",
          "description": "A list of EC2 VPC security groups to associate with this DB cluster."
        },
        "DBSubnetGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>"
        },
        "Engine": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid Values: <code>aurora</code> </p>"
        },
        "EngineVersion": {
          "$ref": "#/definitions/String",
          "description": "<p>The version number of the database engine to use.</p> <p> <b>Aurora</b> </p> <p>Example: <code>5.6.10a</code> </p>"
        },
        "Port": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The port number on which the instances in the DB cluster accept connections.</p> <p> Default: <code>3306</code> </p>"
        },
        "MasterUsername": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the master user for the DB cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 16 alphanumeric characters.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>"
        },
        "MasterUserPassword": {
          "$ref": "#/definitions/String",
          "description": "<p>The password for the master database user. This password can contain any printable ASCII character except \"/\", \"\"\", or \"@\".</p> <p>Constraints: Must contain from 8 to 41 characters.</p>"
        },
        "OptionGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>A value that indicates that the DB cluster should be associated with the specified option group.</p> <p>Permanent options cannot be removed from an option group. The option group cannot be removed from a DB cluster once it is associated with a DB cluster.</p>"
        },
        "PreferredBackupWindow": {
          "$ref": "#/definitions/String",
          "description": "<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>Default: A 30-minute window selected at random from an 8-hour block of time per region. To see the time blocks available, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon RDS User Guide.</i> </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Times should be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>"
        },
        "PreferredMaintenanceWindow": {
          "$ref": "#/definitions/String",
          "description": "<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>Default: A 30-minute window selected at random from an 8-hour block of time per region, occurring on a random day of the week. To see the time blocks available, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon RDS User Guide.</i> </p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>"
        },
        "ReplicationSourceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the source DB cluster if this DB cluster is created as a Read Replica."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        },
        "StorageEncrypted": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "Specifies whether the DB cluster is encrypted."
        },
        "KmsKeyId": {
          "$ref": "#/definitions/String",
          "description": "<p>The KMS key identifier for an encrypted DB cluster.</p> <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating a DB cluster with the same AWS account that owns the KMS encryption key used to encrypt the new DB cluster, then you can use the KMS key alias instead of the ARN for the KM encryption key.</p> <p>If the <code>StorageEncrypted</code> parameter is true, and you do not specify a value for the <code>KmsKeyId</code> parameter, then Amazon RDS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.</p>"
        }
      },
      "description": "<p/>"
    },
    "CreateDBClusterParameterGroupMessage": {
      "type": "object",
      "required": [
        "DBClusterParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "properties": {
        "DBClusterParameterGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>"
        },
        "DBParameterGroupFamily": {
          "$ref": "#/definitions/String",
          "description": "The DB cluster parameter group family name. A DB cluster parameter group can be associated with one and only one DB cluster parameter group family, and can be applied only to a DB cluster running a database engine and engine version compatible with that DB cluster parameter group family."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "The description for the DB cluster parameter group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CreateDBClusterParameterGroupResult": {
      "type": "object",
      "properties": {
        "DBClusterParameterGroup": {
          "$ref": "#/definitions/DBClusterParameterGroup"
        }
      }
    },
    "CreateDBClusterResult": {
      "type": "object",
      "properties": {
        "DBCluster": {
          "$ref": "#/definitions/DBCluster"
        }
      }
    },
    "CreateDBClusterSnapshotMessage": {
      "type": "object",
      "required": [
        "DBClusterSnapshotIdentifier",
        "DBClusterIdentifier"
      ],
      "properties": {
        "DBClusterSnapshotIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1-snapshot1</code> </p>"
        },
        "DBClusterIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags to be assigned to the DB cluster snapshot."
        }
      },
      "description": "<p/>"
    },
    "CreateDBClusterSnapshotResult": {
      "type": "object",
      "properties": {
        "DBClusterSnapshot": {
          "$ref": "#/definitions/DBClusterSnapshot"
        }
      }
    },
    "CreateDBInstanceMessage": {
      "type": "object",
      "required": [
        "DBInstanceIdentifier",
        "DBInstanceClass",
        "Engine"
      ],
      "properties": {
        "DBName": {
          "$ref": "#/definitions/String",
          "description": "<p>The meaning of this parameter differs according to the database engine you use.</p> <p>Type: String</p> <p> <b>MySQL</b> </p> <p>The name of the database to create when the DB instance is created. If this parameter is not specified, no database is created in the DB instance.</p> <p>Constraints:</p> <ul> <li> <p>Must contain 1 to 64 alphanumeric characters</p> </li> <li> <p>Cannot be a word reserved by the specified database engine</p> </li> </ul> <p> <b>MariaDB</b> </p> <p>The name of the database to create when the DB instance is created. If this parameter is not specified, no database is created in the DB instance.</p> <p>Constraints:</p> <ul> <li> <p>Must contain 1 to 64 alphanumeric characters</p> </li> <li> <p>Cannot be a word reserved by the specified database engine</p> </li> </ul> <p> <b>PostgreSQL</b> </p> <p>The name of the database to create when the DB instance is created. If this parameter is not specified, the default \"postgres\" database is created in the DB instance.</p> <p>Constraints:</p> <ul> <li> <p>Must contain 1 to 63 alphanumeric characters</p> </li> <li> <p>Must begin with a letter or an underscore. Subsequent characters can be letters, underscores, or digits (0-9).</p> </li> <li> <p>Cannot be a word reserved by the specified database engine</p> </li> </ul> <p> <b>Oracle</b> </p> <p>The Oracle System ID (SID) of the created DB instance.</p> <p>Default: <code>ORCL</code> </p> <p>Constraints:</p> <ul> <li> <p>Cannot be longer than 8 characters</p> </li> </ul> <p> <b>SQL Server</b> </p> <p>Not applicable. Must be null.</p> <p> <b>Amazon Aurora</b> </p> <p>The name of the database to create when the primary instance of the DB cluster is created. If this parameter is not specified, no database is created in the DB instance.</p> <p>Constraints:</p> <ul> <li> <p>Must contain 1 to 64 alphanumeric characters</p> </li> <li> <p>Cannot be a word reserved by the specified database engine</p> </li> </ul>"
        },
        "DBInstanceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens (1 to 15 for SQL Server).</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>"
        },
        "AllocatedStorage": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The amount of storage (in gigabytes) to be initially allocated for the database instance.</p> <p>Type: Integer</p> <p> <b>MySQL</b> </p> <p>Constraints: Must be an integer from 5 to 6144.</p> <p> <b>MariaDB</b> </p> <p>Constraints: Must be an integer from 5 to 6144.</p> <p> <b>PostgreSQL</b> </p> <p>Constraints: Must be an integer from 5 to 6144.</p> <p> <b>Oracle</b> </p> <p>Constraints: Must be an integer from 10 to 6144.</p> <p> <b>SQL Server</b> </p> <p>Constraints: Must be an integer from 200 to 4096 (Standard Edition and Enterprise Edition) or from 20 to 4096 (Express Edition and Web Edition)</p>"
        },
        "DBInstanceClass": {
          "$ref": "#/definitions/String",
          "description": "<p>The compute and memory capacity of the DB instance.</p> <p> Valid Values: <code>db.t1.micro | db.m1.small | db.m1.medium | db.m1.large | db.m1.xlarge | db.m2.xlarge |db.m2.2xlarge | db.m2.4xlarge | db.m3.medium | db.m3.large | db.m3.xlarge | db.m3.2xlarge | db.m4.large | db.m4.xlarge | db.m4.2xlarge | db.m4.4xlarge | db.m4.10xlarge | db.r3.large | db.r3.xlarge | db.r3.2xlarge | db.r3.4xlarge | db.r3.8xlarge | db.t2.micro | db.t2.small | db.t2.medium | db.t2.large</code> </p>"
        },
        "Engine": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the database engine to be used for this instance.</p> <p> Valid Values: <code>mysql</code> | <code>mariadb</code> | <code>oracle-se1</code> | <code>oracle-se2</code> | <code>oracle-se</code> | <code>oracle-ee</code> | <code>sqlserver-ee</code> | <code>sqlserver-se</code> | <code>sqlserver-ex</code> | <code>sqlserver-web</code> | <code>postgres</code> | <code>aurora</code> </p> <p>Not every database engine is available for every AWS region.</p>"
        },
        "MasterUsername": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of master user for the client DB instance.</p> <p> <b>MySQL</b> </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 16 alphanumeric characters.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul> <p> <b>MariaDB</b> </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 16 alphanumeric characters.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul> <p>Type: String</p> <p> <b>Oracle</b> </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 30 alphanumeric characters.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul> <p> <b>SQL Server</b> </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 128 alphanumeric characters.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul> <p> <b>PostgreSQL</b> </p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 63 alphanumeric characters.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>"
        },
        "MasterUserPassword": {
          "$ref": "#/definitions/String",
          "description": "<p>The password for the master database user. Can be any printable ASCII character except \"/\", \"\"\", or \"@\".</p> <p>Type: String</p> <p> <b>MySQL</b> </p> <p>Constraints: Must contain from 8 to 41 characters.</p> <p> <b>MariaDB</b> </p> <p>Constraints: Must contain from 8 to 41 characters.</p> <p> <b>Oracle</b> </p> <p>Constraints: Must contain from 8 to 30 characters.</p> <p> <b>SQL Server</b> </p> <p>Constraints: Must contain from 8 to 128 characters.</p> <p> <b>PostgreSQL</b> </p> <p>Constraints: Must contain from 8 to 128 characters.</p> <p> <b>Amazon Aurora</b> </p> <p>Constraints: Must contain from 8 to 41 characters.</p>"
        },
        "DBSecurityGroups": {
          "$ref": "#/definitions/DBSecurityGroupNameList",
          "description": "<p>A list of DB security groups to associate with this DB instance.</p> <p>Default: The default DB security group for the database engine.</p>"
        },
        "VpcSecurityGroupIds": {
          "$ref": "#/definitions/VpcSecurityGroupIdList",
          "description": "<p>A list of EC2 VPC security groups to associate with this DB instance.</p> <p>Default: The default EC2 VPC security group for the DB subnet group's VPC.</p>"
        },
        "AvailabilityZone": {
          "$ref": "#/definitions/String",
          "description": "<p> The EC2 Availability Zone that the database instance will be created in. For information on regions and Availability Zones, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.RegionsAndAvailabilityZones.html\">Regions and Availability Zones</a>. </p> <p>Default: A random, system-chosen Availability Zone in the endpoint's region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The AvailabilityZone parameter cannot be specified if the MultiAZ parameter is set to <code>true</code>. The specified Availability Zone must be in the same region as the current endpoint. </p>"
        },
        "DBSubnetGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>A DB subnet group to associate with this DB instance.</p> <p>If there is no DB subnet group, then it is a non-VPC DB instance.</p>"
        },
        "PreferredMaintenanceWindow": {
          "$ref": "#/definitions/String",
          "description": "<p> The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC). For more information, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBMaintenance.html\">DB Instance Maintenance</a>. </p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p> Default: A 30-minute window selected at random from an 8-hour block of time per region, occurring on a random day of the week. To see the time blocks available, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon RDS User Guide.</i> </p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>"
        },
        "DBParameterGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the DB parameter group to associate with this DB instance. If this argument is omitted, the default DBParameterGroup for the specified engine will be used.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul>"
        },
        "BackupRetentionPeriod": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The number of days for which automated backups are retained. Setting this parameter to a positive number enables backups. Setting this parameter to 0 disables automated backups.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 0 to 35</p> </li> <li> <p>Cannot be set to 0 if the DB instance is a source to Read Replicas</p> </li> </ul>"
        },
        "PreferredBackupWindow": {
          "$ref": "#/definitions/String",
          "description": "<p> The daily time range during which automated backups are created if automated backups are enabled, using the <code>BackupRetentionPeriod</code> parameter. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.BackingUpAndRestoringAmazonRDSInstances.html\">DB Instance Backups</a>. </p> <p> Default: A 30-minute window selected at random from an 8-hour block of time per region. To see the time blocks available, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\"> Adjusting the Preferred Maintenance Window</a> in the <i>Amazon RDS User Guide.</i> </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Times should be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>"
        },
        "Port": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The port number on which the database accepts connections.</p> <p> <b>MySQL</b> </p> <p> Default: <code>3306</code> </p> <p> Valid Values: <code>1150-65535</code> </p> <p>Type: Integer</p> <p> <b>MariaDB</b> </p> <p> Default: <code>3306</code> </p> <p> Valid Values: <code>1150-65535</code> </p> <p>Type: Integer</p> <p> <b>PostgreSQL</b> </p> <p> Default: <code>5432</code> </p> <p> Valid Values: <code>1150-65535</code> </p> <p>Type: Integer</p> <p> <b>Oracle</b> </p> <p> Default: <code>1521</code> </p> <p> Valid Values: <code>1150-65535</code> </p> <p> <b>SQL Server</b> </p> <p> Default: <code>1433</code> </p> <p> Valid Values: <code>1150-65535</code> except for <code>1434</code>, <code>3389</code>, <code>47001</code>, <code>49152</code>, and <code>49152</code> through <code>49156</code>. </p> <p> <b>Amazon Aurora</b> </p> <p> Default: <code>3306</code> </p> <p> Valid Values: <code>1150-65535</code> </p> <p>Type: Integer</p>"
        },
        "MultiAZ": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "Specifies if the DB instance is a Multi-AZ deployment. You cannot set the AvailabilityZone parameter if the MultiAZ parameter is set to true."
        },
        "EngineVersion": {
          "$ref": "#/definitions/String",
          "description": "<p>The version number of the database engine to use.</p> <p>The following are the database engines and major and minor versions that are available with Amazon RDS. Not every database engine is available for every AWS region.</p> <p> <b>Amazon Aurora</b> </p> <ul> <li> <p> <b>Version 5.6 (only available in AWS regions ap-northeast-1, ap-northeast-2, ap-south-1, ap-southeast-2, eu-west-1, us-east-1, us-west-2):</b> <code> 5.6.10a</code> </p> </li> </ul> <p> <b>MariaDB</b> </p> <ul> <li> <p> <b>Version 10.1 (available in all AWS regions except us-gov-west-1):</b> <code> 10.1.14</code> </p> </li> <li> <p> <b>Version 10.0 (available in all AWS regions):</b> <code> 10.0.17 | 10.0.24</code> </p> </li> </ul> <p> <b>Microsoft SQL Server Enterprise Edition (sqlserver-ee)</b> </p> <ul> <li> <p> <b>Version 11.00 (available in all AWS regions):</b> <code> 11.00.2100.60.v1 | 11.00.5058.0.v1 | 11.00.6020.0.v1</code> </p> </li> <li> <p> <b>Version 10.50 (available in all AWS regions):</b> <code> 10.50.2789.0.v1 | 10.50.6000.34.v1 | 10.50.6529.0.v1</code> </p> </li> </ul> <p> <b>Microsoft SQL Server Express Edition (sqlserver-ex)</b> </p> <ul> <li> <p> <b>Version 12.00 (available in all AWS regions):</b> <code> 12.00.4422.0.v1</code> </p> </li> <li> <p> <b>Version 11.00 (available in all AWS regions):</b> <code> 11.00.2100.60.v1 | 11.00.5058.0.v1 | 11.00.6020.0.v1</code> </p> </li> <li> <p> <b>Version 10.50 (available in all AWS regions):</b> <code> 10.50.2789.0.v1 | 10.50.6000.34.v1 | 10.50.6529.0.v1</code> </p> </li> </ul> <p> <b>Microsoft SQL Server Standard Edition (sqlserver-se)</b> </p> <ul> <li> <p> <b>Version 12.00 (available in all AWS regions):</b> <code> 12.00.4422.0.v1</code> </p> </li> <li> <p> <b>Version 11.00 (available in all AWS regions):</b> <code> 11.00.2100.60.v1 | 11.00.5058.0.v1 | 11.00.6020.0.v1</code> </p> </li> <li> <p> <b>Version 10.50 (available in all AWS regions):</b> <code> 10.50.2789.0.v1 | 10.50.6000.34.v1 | 10.50.6529.0.v1</code> </p> </li> </ul> <p> <b>Microsoft SQL Server Web Edition (sqlserver-web)</b> </p> <ul> <li> <p> <b>Version 12.00 (available in all AWS regions):</b> <code> 12.00.4422.0.v1</code> </p> </li> <li> <p> <b>Version 11.00 (available in all AWS regions):</b> <code> 11.00.2100.60.v1 | 11.00.5058.0.v1 | 11.00.6020.0.v1</code> </p> </li> <li> <p> <b>Version 10.50 (available in all AWS regions):</b> <code> 10.50.2789.0.v1 | 10.50.6000.34.v1 | 10.50.6529.0.v1</code> </p> </li> </ul> <p> <b>MySQL</b> </p> <ul> <li> <p> <b>Version 5.7 (available in all AWS regions):</b> <code> 5.7.10 | 5.7.11</code> </p> </li> <li> <p> <b>Version 5.6 (available in all AWS regions except ap-south-1, ap-northeast-2):</b> <code> 5.6.19a | 5.6.19b | 5.6.21 | 5.6.21b | 5.6.22</code> </p> </li> <li> <p> <b>Version 5.6 (available in all AWS regions except ap-south-1):</b> <code> 5.6.23</code> </p> </li> <li> <p> <b>Version 5.6 (available in all AWS regions):</b> <code> 5.6.27 | 5.6.29</code> </p> </li> <li> <p> <b>Version 5.5 (only available in AWS regions ap-northeast-1, ap-southeast-1, ap-southeast-2, eu-west-1, sa-east-1, us-east-1, us-gov-west-1, us-west-1, us-west-2):</b> <code> 5.5.40 | 5.5.40a</code> </p> </li> <li> <p> <b>Version 5.5 (available in all AWS regions except ap-south-1, ap-northeast-2):</b> <code> 5.5.40b | 5.5.41</code> </p> </li> <li> <p> <b>Version 5.5 (available in all AWS regions except ap-south-1):</b> <code> 5.5.42</code> </p> </li> <li> <p> <b>Version 5.5 (available in all AWS regions):</b> <code> 5.5.46</code> </p> </li> </ul> <p> <b>Oracle Database Enterprise Edition (oracle-ee)</b> </p> <ul> <li> <p> <b>Version 12.1 (available in all AWS regions except ap-south-1, ap-northeast-2):</b> <code> 12.1.0.1.v1 | 12.1.0.1.v2</code> </p> </li> <li> <p> <b>Version 12.1 (only available in AWS regions ap-northeast-1, ap-southeast-1, ap-southeast-2, eu-central-1, eu-west-1, sa-east-1, us-east-1, us-west-1, us-west-2):</b> <code> 12.1.0.1.v3 | 12.1.0.1.v4 | 12.1.0.1.v5</code> </p> </li> <li> <p> <b>Version 12.1 (available in all AWS regions):</b> <code> 12.1.0.2.v1</code> </p> </li> <li> <p> <b>Version 12.1 (available in all AWS regions except us-gov-west-1):</b> <code> 12.1.0.2.v2 | 12.1.0.2.v3 | 12.1.0.2.v4</code> </p> </li> <li> <p> <b>Version 11.2 (available in all AWS regions):</b> <code> 11.2.0.4.v1 | 11.2.0.4.v3 | 11.2.0.4.v4</code> </p> </li> <li> <p> <b>Version 11.2 (available in all AWS regions except us-gov-west-1):</b> <code> 11.2.0.4.v5 | 11.2.0.4.v6 | 11.2.0.4.v7 | 11.2.0.4.v8</code> </p> </li> </ul> <p> <b>Oracle Database Standard Edition (oracle-se)</b> </p> <ul> <li> <p> <b>Version 12.1 (available in all AWS regions except ap-south-1, ap-northeast-2):</b> <code> 12.1.0.1.v1 | 12.1.0.1.v2</code> </p> </li> <li> <p> <b>Version 12.1 (only available in AWS regions ap-northeast-1, ap-southeast-1, ap-southeast-2, eu-central-1, eu-west-1, sa-east-1, us-east-1, us-west-1, us-west-2):</b> <code> 12.1.0.1.v3 | 12.1.0.1.v4 | 12.1.0.1.v5</code> </p> </li> <li> <p> <b>Version 11.2 (available in all AWS regions):</b> <code> 11.2.0.4.v1 | 11.2.0.4.v3 | 11.2.0.4.v4</code> </p> </li> <li> <p> <b>Version 11.2 (available in all AWS regions except us-gov-west-1):</b> <code> 11.2.0.4.v5 | 11.2.0.4.v6 | 11.2.0.4.v7 | 11.2.0.4.v8</code> </p> </li> </ul> <p> <b>Oracle Database Standard Edition One (oracle-se1)</b> </p> <ul> <li> <p> <b>Version 12.1 (available in all AWS regions except ap-south-1, ap-northeast-2):</b> <code> 12.1.0.1.v1 | 12.1.0.1.v2</code> </p> </li> <li> <p> <b>Version 12.1 (only available in AWS regions ap-northeast-1, ap-southeast-1, ap-southeast-2, eu-central-1, eu-west-1, sa-east-1, us-east-1, us-west-1, us-west-2):</b> <code> 12.1.0.1.v3 | 12.1.0.1.v4 | 12.1.0.1.v5</code> </p> </li> <li> <p> <b>Version 11.2 (available in all AWS regions):</b> <code> 11.2.0.4.v1 | 11.2.0.4.v3 | 11.2.0.4.v4</code> </p> </li> <li> <p> <b>Version 11.2 (available in all AWS regions except us-gov-west-1):</b> <code> 11.2.0.4.v5 | 11.2.0.4.v6 | 11.2.0.4.v7 | 11.2.0.4.v8</code> </p> </li> </ul> <p> <b>Oracle Database Standard Edition Two (oracle-se2)</b> </p> <ul> <li> <p> <b>Version 12.1 (available in all AWS regions except us-gov-west-1):</b> <code> 12.1.0.2.v2 | 12.1.0.2.v3 | 12.1.0.2.v4</code> </p> </li> </ul> <p> <b>PostgreSQL</b> </p> <ul> <li> <p> <b>Version 9.5 (available in all AWS regions except us-gov-west-1):</b> <code> 9.5.2</code> </p> </li> <li> <p> <b>Version 9.4 (available in all AWS regions except ap-south-1):</b> <code> 9.4.1 | 9.4.4</code> </p> </li> <li> <p> <b>Version 9.4 (available in all AWS regions):</b> <code> 9.4.5</code> </p> </li> <li> <p> <b>Version 9.4 (available in all AWS regions except us-gov-west-1):</b> <code> 9.4.7</code> </p> </li> <li> <p> <b>Version 9.3 (only available in AWS regions ap-northeast-1, ap-southeast-1, ap-southeast-2, eu-west-1, sa-east-1, us-east-1, us-gov-west-1, us-west-1, us-west-2):</b> <code> 9.3.1 | 9.3.2</code> </p> </li> <li> <p> <b>Version 9.3 (available in all AWS regions except ap-south-1, ap-northeast-2):</b> <code> 9.3.10 | 9.3.3 | 9.3.5 | 9.3.6 | 9.3.9</code> </p> </li> <li> <p> <b>Version 9.3 (only available in AWS regions ap-northeast-1, ap-southeast-1, ap-southeast-2, eu-central-1, eu-west-1, sa-east-1, us-east-1, us-west-1, us-west-2):</b> <code> 9.3.12</code> </p> </li> </ul>"
        },
        "AutoMinorVersionUpgrade": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "<p>Indicates that minor engine upgrades will be applied automatically to the DB instance during the maintenance window.</p> <p>Default: <code>true</code> </p>"
        },
        "LicenseModel": {
          "$ref": "#/definitions/String",
          "description": "<p>License model information for this DB instance.</p> <p> Valid values: <code>license-included</code> | <code>bring-your-own-license</code> | <code>general-public-license</code> </p>"
        },
        "Iops": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The amount of Provisioned IOPS (input/output operations per second) to be initially allocated for the DB instance.</p> <p>Constraints: Must be a multiple between 3 and 10 of the storage amount for the DB instance. Must also be an integer multiple of 1000. For example, if the size of your DB instance is 500 GB, then your <code>Iops</code> value can be 2000, 3000, 4000, or 5000. </p>"
        },
        "OptionGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>Indicates that the DB instance should be associated with the specified option group.</p> <p>Permanent options, such as the TDE option for Oracle Advanced Security TDE, cannot be removed from an option group, and that option group cannot be removed from a DB instance once it is associated with a DB instance</p>"
        },
        "CharacterSetName": {
          "$ref": "#/definitions/String",
          "description": "For supported engines, indicates that the DB instance should be associated with the specified CharacterSet."
        },
        "PubliclyAccessible": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "<p>Specifies the accessibility options for the DB instance. A value of true specifies an Internet-facing instance with a publicly resolvable DNS name, which resolves to a public IP address. A value of false specifies an internal instance with a DNS name that resolves to a private IP address.</p> <p>Default: The default behavior varies depending on whether a VPC has been requested or not. The following list shows the default behavior in each case.</p> <ul> <li> <p> <b>Default VPC:</b> true</p> </li> <li> <p> <b>VPC:</b> false</p> </li> </ul> <p>If no DB subnet group has been specified as part of the request and the PubliclyAccessible value has not been set, the DB instance will be publicly accessible. If a specific DB subnet group has been specified as part of the request and the PubliclyAccessible value has not been set, the DB instance will be private.</p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        },
        "DBClusterIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier of the DB cluster that the instance will belong to.</p> <p>For information on creating a DB cluster, see <a>CreateDBCluster</a>.</p> <p>Type: String</p>"
        },
        "StorageType": {
          "$ref": "#/definitions/String",
          "description": "<p>Specifies the storage type to be associated with the DB instance.</p> <p> Valid values: <code>standard | gp2 | io1</code> </p> <p> If you specify <code>io1</code>, you must also include a value for the <code>Iops</code> parameter. </p> <p> Default: <code>io1</code> if the <code>Iops</code> parameter is specified; otherwise <code>standard</code> </p>"
        },
        "TdeCredentialArn": {
          "$ref": "#/definitions/String",
          "description": "The ARN from the Key Store with which to associate the instance for TDE encryption."
        },
        "TdeCredentialPassword": {
          "$ref": "#/definitions/String",
          "description": "The password for the given ARN from the Key Store in order to access the device."
        },
        "StorageEncrypted": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "<p>Specifies whether the DB instance is encrypted.</p> <p>Default: false</p>"
        },
        "KmsKeyId": {
          "$ref": "#/definitions/String",
          "description": "<p>The KMS key identifier for an encrypted DB instance.</p> <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating a DB instance with the same AWS account that owns the KMS encryption key used to encrypt the new DB instance, then you can use the KMS key alias instead of the ARN for the KM encryption key.</p> <p>If the <code>StorageEncrypted</code> parameter is true, and you do not specify a value for the <code>KmsKeyId</code> parameter, then Amazon RDS will use your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS region.</p>"
        },
        "Domain": {
          "$ref": "#/definitions/String",
          "description": "Specify the Active Directory Domain to create the instance in."
        },
        "CopyTagsToSnapshot": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "True to copy all tags from the DB instance to snapshots of the DB instance; otherwise false. The default is false."
        },
        "MonitoringInterval": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the DB instance. To disable collecting Enhanced Monitoring metrics, specify 0. The default is 0.</p> <p>If <code>MonitoringRoleArn</code> is specified, then you must also set <code>MonitoringInterval</code> to a value other than 0.</p> <p>Valid Values: <code>0, 1, 5, 10, 15, 30, 60</code> </p>"
        },
        "MonitoringRoleArn": {
          "$ref": "#/definitions/String",
          "description": "<p>The ARN for the IAM role that permits RDS to send enhanced monitoring metrics to CloudWatch Logs. For example, <code>arn:aws:iam:123456789012:role/emaccess</code>. For information on creating a monitoring role, go to <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Monitoring.html#USER_Monitoring.OS.IAMRole\">To create an IAM role for Amazon RDS Enhanced Monitoring</a>.</p> <p>If <code>MonitoringInterval</code> is set to a value other than 0, then you must supply a <code>MonitoringRoleArn</code> value.</p>"
        },
        "DomainIAMRoleName": {
          "$ref": "#/definitions/String",
          "description": "Specify the name of the IAM role to be used when making API calls to the Directory Service."
        },
        "PromotionTier": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>A value that specifies the order in which an Aurora Replica is promoted to the primary instance after a failure of the existing primary instance. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Aurora.Managing.html#Aurora.Managing.FaultTolerance\"> Fault Tolerance for an Aurora DB Cluster</a>. </p> <p>Default: 1</p> <p>Valid Values: 0 - 15</p>"
        }
      },
      "description": "<p/>"
    },
    "CreateDBInstanceReadReplicaMessage": {
      "type": "object",
      "required": [
        "DBInstanceIdentifier",
        "SourceDBInstanceIdentifier"
      ],
      "properties": {
        "DBInstanceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "The DB instance identifier of the Read Replica. This identifier is the unique key that identifies a DB instance. This parameter is stored as a lowercase string."
        },
        "SourceDBInstanceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier of the DB instance that will act as the source for the Read Replica. Each DB instance can have up to five Read Replicas.</p> <p>Constraints:</p> <ul> <li> <p>Must be the identifier of an existing MySQL, MariaDB, or PostgreSQL DB instance.</p> </li> <li> <p>Can specify a DB instance that is a MySQL Read Replica only if the source is running MySQL 5.6.</p> </li> <li> <p>Can specify a DB instance that is a PostgreSQL Read Replica only if the source is running PostgreSQL 9.3.5.</p> </li> <li> <p>The specified DB instance must have automatic backups enabled, its backup retention period must be greater than 0.</p> </li> <li> <p>If the source DB instance is in the same region as the Read Replica, specify a valid DB instance identifier.</p> </li> <li> <p>If the source DB instance is in a different region than the Read Replica, specify a valid DB instance ARN. For more information, go to <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\"> Constructing a Amazon RDS Amazon Resource Name (ARN)</a>.</p> </li> </ul>"
        },
        "DBInstanceClass": {
          "$ref": "#/definitions/String",
          "description": "<p>The compute and memory capacity of the Read Replica.</p> <p> Valid Values: <code>db.m1.small | db.m1.medium | db.m1.large | db.m1.xlarge | db.m2.xlarge |db.m2.2xlarge | db.m2.4xlarge | db.m3.medium | db.m3.large | db.m3.xlarge | db.m3.2xlarge | db.m4.large | db.m4.xlarge | db.m4.2xlarge | db.m4.4xlarge | db.m4.10xlarge | db.r3.large | db.r3.xlarge | db.r3.2xlarge | db.r3.4xlarge | db.r3.8xlarge | db.t2.micro | db.t2.small | db.t2.medium | db.t2.large</code> </p> <p>Default: Inherits from the source DB instance.</p>"
        },
        "AvailabilityZone": {
          "$ref": "#/definitions/String",
          "description": "<p>The Amazon EC2 Availability Zone that the Read Replica will be created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint's region.</p> <p> Example: <code>us-east-1d</code> </p>"
        },
        "Port": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The port number that the DB instance uses for connections.</p> <p>Default: Inherits from the source DB instance</p> <p>Valid Values: <code>1150-65535</code> </p>"
        },
        "AutoMinorVersionUpgrade": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "<p>Indicates that minor engine upgrades will be applied automatically to the Read Replica during the maintenance window.</p> <p>Default: Inherits from the source DB instance</p>"
        },
        "Iops": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "The amount of Provisioned IOPS (input/output operations per second) to be initially allocated for the DB instance."
        },
        "OptionGroupName": {
          "$ref": "#/definitions/String",
          "description": "The option group the DB instance will be associated with. If omitted, the default option group for the engine specified will be used."
        },
        "PubliclyAccessible": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "<p>Specifies the accessibility options for the DB instance. A value of true specifies an Internet-facing instance with a publicly resolvable DNS name, which resolves to a public IP address. A value of false specifies an internal instance with a DNS name that resolves to a private IP address.</p> <p>Default: The default behavior varies depending on whether a VPC has been requested or not. The following list shows the default behavior in each case.</p> <ul> <li> <p> <b>Default VPC:</b>true</p> </li> <li> <p> <b>VPC:</b>false</p> </li> </ul> <p>If no DB subnet group has been specified as part of the request and the PubliclyAccessible value has not been set, the DB instance will be publicly accessible. If a specific DB subnet group has been specified as part of the request and the PubliclyAccessible value has not been set, the DB instance will be private.</p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        },
        "DBSubnetGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>Specifies a DB subnet group for the DB instance. The new DB instance will be created in the VPC associated with the DB subnet group. If no DB subnet group is specified, then the new DB instance is not created in a VPC.</p> <p>Constraints:</p> <ul> <li> <p>Can only be specified if the source DB instance identifier specifies a DB instance in another region.</p> </li> <li> <p>The specified DB subnet group must be in the same region in which the operation is running.</p> </li> <li> <p>All Read Replicas in one region that are created from the same source DB instance must either:&gt;</p> <ul> <li> <p>Specify DB subnet groups from the same VPC. All these Read Replicas will be created in the same VPC.</p> </li> <li> <p>Not specify a DB subnet group. All these Read Replicas will be created outside of any VPC.</p> </li> </ul> </li> </ul> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>"
        },
        "StorageType": {
          "$ref": "#/definitions/String",
          "description": "<p>Specifies the storage type to be associated with the Read Replica.</p> <p> Valid values: <code>standard | gp2 | io1</code> </p> <p> If you specify <code>io1</code>, you must also include a value for the <code>Iops</code> parameter. </p> <p> Default: <code>io1</code> if the <code>Iops</code> parameter is specified; otherwise <code>standard</code> </p>"
        },
        "CopyTagsToSnapshot": {
          "$ref": "#/definitions/BooleanOptional",
          "description": "True to copy all tags from the Read Replica to snapshots of the Read Replica; otherwise false. The default is false."
        },
        "MonitoringInterval": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "<p>The interval, in seconds, between points when Enhanced Monitoring metrics are collected for the Read Replica. To disable collecting Enhanced Monitoring metrics, specify 0. The default is 0.</p> <p>If <code>MonitoringRoleArn</code> is specified, then you must also set <code>MonitoringInterval</code> to a value other than 0.</p> <p>Valid Values: <code>0, 1, 5, 10, 15, 30, 60</code> </p>"
        },
        "MonitoringRoleArn": {
          "$ref": "#/definitions/String",
          "description": "<p>The ARN for the IAM role that permits RDS to send enhanced monitoring metrics to CloudWatch Logs. For example, <code>arn:aws:iam:123456789012:role/emaccess</code>. For information on creating a monitoring role, go to <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Monitoring.html#USER_Monitoring.OS.IAMRole\">To create an IAM role for Amazon RDS Enhanced Monitoring</a>.</p> <p>If <code>MonitoringInterval</code> is set to a value other than 0, then you must supply a <code>MonitoringRoleArn</code> value.</p>"
        }
      }
    },
    "CreateDBInstanceReadReplicaResult": {
      "type": "object",
      "properties": {
        "DBInstance": {
          "$ref": "#/definitions/DBInstance"
        }
      }
    },
    "CreateDBInstanceResult": {
      "type": "object",
      "properties": {
        "DBInstance": {
          "$ref": "#/definitions/DBInstance"
        }
      }
    },
    "CreateDBParameterGroupMessage": {
      "type": "object",
      "required": [
        "DBParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "properties": {
        "DBParameterGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>"
        },
        "DBParameterGroupFamily": {
          "$ref": "#/definitions/String",
          "description": "The DB parameter group family name. A DB parameter group can be associated with one and only one DB parameter group family, and can be applied only to a DB instance running a database engine and engine version compatible with that DB parameter group family."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "The description for the DB parameter group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CreateDBParameterGroupResult": {
      "type": "object",
      "properties": {
        "DBParameterGroup": {
          "$ref": "#/definitions/DBParameterGroup"
        }
      }
    },
    "CreateDBSecurityGroupMessage": {
      "type": "object",
      "required": [
        "DBSecurityGroupName",
        "DBSecurityGroupDescription"
      ],
      "properties": {
        "DBSecurityGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name for the DB security group. This value is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> <li> <p>Must not be \"Default\"</p> </li> </ul> <p>Example: <code>mysecuritygroup</code> </p>"
        },
        "DBSecurityGroupDescription": {
          "$ref": "#/definitions/String",
          "description": "The description for the DB security group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CreateDBSecurityGroupResult": {
      "type": "object",
      "properties": {
        "DBSecurityGroup": {
          "$ref": "#/definitions/DBSecurityGroup"
        }
      }
    },
    "CreateDBSnapshotMessage": {
      "type": "object",
      "required": [
        "DBSnapshotIdentifier",
        "DBInstanceIdentifier"
      ],
      "properties": {
        "DBSnapshotIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The identifier for the DB snapshot.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-snapshot-id</code> </p>"
        },
        "DBInstanceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "<p>The DB instance identifier. This is the unique key that identifies a DB instance.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CreateDBSnapshotResult": {
      "type": "object",
      "properties": {
        "DBSnapshot": {
          "$ref": "#/definitions/DBSnapshot"
        }
      }
    },
    "CreateDBSubnetGroupMessage": {
      "type": "object",
      "required": [
        "DBSubnetGroupName",
        "DBSubnetGroupDescription",
        "SubnetIds"
      ],
      "properties": {
        "DBSubnetGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name for the DB subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>"
        },
        "DBSubnetGroupDescription": {
          "$ref": "#/definitions/String",
          "description": "The description for the DB subnet group."
        },
        "SubnetIds": {
          "$ref": "#/definitions/SubnetIdentifierList",
          "description": "The EC2 Subnet IDs for the DB subnet group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CreateDBSubnetGroupResult": {
      "type": "object",
      "properties": {
        "DBSubnetGroup": {
          "$ref": "#/definitions/DBSubnetGroup"
        }
      }
    },
    "CreateEventSubscriptionMessage": {
      "type": "object",
      "required": [
        "SubscriptionName",
        "SnsTopicArn"
      ],
      "properties": {
        "SubscriptionName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the subscription.</p> <p>Constraints: The name must be less than 255 characters.</p>"
        },
        "SnsTopicArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) of the SNS topic created for event notification. The ARN is created by Amazon SNS when you create a topic and subscribe to it."
        },
        "SourceType": {
          "$ref": "#/definitions/String",
          "description": "<p>The type of source that will be generating the events. For example, if you want to be notified of events generated by a DB instance, you would set this parameter to db-instance. if this value is not specified, all events are returned.</p> <p>Valid values: <code>db-instance</code> | <code>db-cluster</code> | <code>db-parameter-group</code> | <code>db-security-group</code> | <code>db-snapshot</code> | <code>db-cluster-snapshot</code> </p>"
        },
        "EventCategories": {
          "$ref": "#/definitions/EventCategoriesList",
          "description": " A list of event categories for a SourceType that you want to subscribe to. You can see a list of the categories for a given SourceType in the <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Events.html\">Events</a> topic in the Amazon RDS User Guide or by using the <b>DescribeEventCategories</b> action. "
        },
        "SourceIds": {
          "$ref": "#/definitions/SourceIdsList",
          "description": "<p>The list of identifiers of the event sources for which events will be returned. If not specified, then all sources are included in the response. An identifier must begin with a letter and must contain only ASCII letters, digits, and hyphens; it cannot end with a hyphen or contain two consecutive hyphens.</p> <p>Constraints:</p> <ul> <li> <p>If SourceIds are supplied, SourceType must also be provided.</p> </li> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>"
        },
        "Enabled": {
          "$ref": "#/definitions/BooleanOptional",
          "description": " A Boolean value; set to <b>true</b> to activate the subscription, set to <b>false</b> to create the subscription but not active it. "
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CreateEventSubscriptionResult": {
      "type": "object",
      "properties": {
        "EventSubscription": {
          "$ref": "#/definitions/EventSubscription"
        }
      }
    },
    "CreateOptionGroupMessage": {
      "type": "object",
      "required": [
        "OptionGroupName",
        "EngineName",
        "MajorEngineVersion",
        "OptionGroupDescription"
      ],
      "properties": {
        "OptionGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>Specifies the name of the option group to be created.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>myoptiongroup</code> </p>"
        },
        "EngineName": {
          "$ref": "#/definitions/String",
          "description": "Specifies the name of the engine that this option group should be associated with."
        },
        "MajorEngineVersion": {
          "$ref": "#/definitions/String",
          "description": "Specifies the major version of the engine that this option group should be associated with."
        },
        "OptionGroupDescription": {
          "$ref": "#/definitions/String",
          "description": "The description of the option group."
        },
        "Tags": {
          "$ref": "#/definitions/TagList"
        }
      },
      "description": "<p/>"
    },
    "CreateOptionGroupResult": {
      "type": "object",
      "properties": {
        "OptionGroup": {
          "$ref": "#/definitions/OptionGroup"
        }
      }
    },
    "DBCluster": {
      "type": "object",
      "properties": {
        "AllocatedStorage": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "Specifies the allocated storage size in gigabytes (GB)."
        },
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "Provides the list of EC2 Availability Zones that instances in the DB cluster can be created in."
        },
        "BackupRetentionPeriod": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "Specifies the number of days for which automatic DB snapshots are retained."
        },
        "CharacterSetName": {
          "$ref": "#/definitions/String",
          "description": "If present, specifies the name of the character set that this cluster is associated with."
        },
        "DatabaseName": {
          "$ref": "#/definitions/String",
          "description": "Contains the name of the initial database of this DB cluster that was provided at create time, if one was specified when the DB cluster was created. This same name is returned for the life of the DB cluster."
        },
        "DBClusterIdentifier": {
          "$ref": "#/definitions/String",
          "description": "Contains a user-supplied DB cluster identifier. This identifier is the unique key that identifies a DB cluster."
        },
        "DBClusterParameterGroup": {
          "$ref": "#/definitions/String",
          "description": "Specifies the name of the DB cluster parameter group for the DB cluster."
        },
        "DBSubnetGroup": {
          "$ref": "#/definitions/String",
          "description": "Specifies information on the subnet group associated with the DB cluster, including the name, description, and subnets in the subnet group."
        },
        "Status": {
          "$ref": "#/definitions/String",
          "description": "Specifies the current state of this DB cluster."
        },
        "PercentProgress": {
          "$ref": "#/definitions/String",
          "description": "Specifies the progress of the operation as a percentage."
        },
        "EarliestRestorableTime": {
          "$ref": "#/definitions/TStamp",
          "description": "Specifies the earliest time to which a database can be restored with point-in-time restore."
        },
        "Endpoint": {
          "$ref": "#/definitions/String",
          "description": "Specifies the connection endpoint for the primary instance of the DB cluster."
        },
        "ReaderEndpoint": {
          "$ref": "#/definitions/String",
          "description": "<p>The reader endpoint for the DB cluster. The reader endpoint for a DB cluster load-balances connections across the Aurora Replicas that are available in a DB cluster. As clients request new connections to the reader endpoint, Aurora distributes the connection requests among the Aurora Replicas in the DB cluster. This functionality can help balance your read workload across multiple Aurora Replicas in your DB cluster. </p> <p>If a failover occurs, and the Aurora Replica that you are connected to is promoted to be the primary instance, your connection will be dropped. To continue sending your read workload to other Aurora Replicas in the cluster, you can then recoonect to the reader endpoint.</p>"
        },
        "Engine": {
          "$ref": "#/definitions/String",
          "description": "Provides the name of the database engine to be used for this DB cluster."
        },
        "EngineVersion": {
          "$ref": "#/definitions/String",
          "description": "Indicates the database engine version."
        },
        "LatestRestorableTime": {
          "$ref": "#/definitions/TStamp",
          "description": "Specifies the latest time to which a database can be restored with point-in-time restore."
        },
        "Port": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "Specifies the port that the database engine is listening on."
        },
        "MasterUsername": {
          "$ref": "#/definitions/String",
          "description": "Contains the master username for the DB cluster."
        },
        "DBClusterOptionGroupMemberships": {
          "$ref": "#/definitions/DBClusterOptionGroupMemberships",
          "description": "Provides the list of option group memberships for this DB cluster."
        },
        "PreferredBackupWindow": {
          "$ref": "#/definitions/String",
          "description": "Specifies the daily time range during which automated backups are created if automated backups are enabled, as determined by the <code>BackupRetentionPeriod</code>. "
        },
        "PreferredMaintenanceWindow": {
          "$ref": "#/definitions/String",
          "description": "Specifies the weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC)."
        },
        "ReplicationSourceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "Contains the identifier of the source DB cluster if this DB cluster is a Read Replica."
        },
        "ReadReplicaIdentifiers": {
          "$ref": "#/definitions/ReadReplicaIdentifierList",
          "description": "Contains one or more identifiers of the Read Replicas associated with this DB cluster."
        },
        "DBClusterMembers": {
          "$ref": "#/definitions/DBClusterMemberList",
          "description": "Provides the list of instances that make up the DB cluster."
        },
        "VpcSecurityGroups": {
          "$ref": "#/definitions/VpcSecurityGroupMembershipList",
          "description": "Provides a list of VPC security groups that the DB cluster belongs to."
        },
        "HostedZoneId": {
          "$ref": "#/definitions/String",
          "description": "Specifies the ID that Amazon Route 53 assigns when you create a hosted zone."
        },
        "StorageEncrypted": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether the DB cluster is encrypted."
        },
        "KmsKeyId": {
          "$ref": "#/definitions/String",
          "description": "If <code>StorageEncrypted</code> is true, the KMS key identifier for the encrypted DB cluster."
        },
        "DbClusterResourceId": {
          "$ref": "#/definitions/String",
          "description": "The region-unique, immutable identifier for the DB cluster. This identifier is found in AWS CloudTrail log entries whenever the KMS key for the DB cluster is accessed."
        },
        "DBClusterArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) for the DB cluster."
        }
      },
      "description": "<p>Contains the result of a successful invocation of the following actions:</p> <ul> <li> <p> <a>CreateDBCluster</a> </p> </li> <li> <p> <a>DeleteDBCluster</a> </p> </li> <li> <p> <a>FailoverDBCluster</a> </p> </li> <li> <p> <a>ModifyDBCluster</a> </p> </li> <li> <p> <a>RestoreDBClusterFromSnapshot</a> </p> </li> <li> <p> <a>RestoreDBClusterToPointInTime</a> </p> </li> </ul> <p>This data type is used as a response element in the <a>DescribeDBClusters</a> action.</p>"
    },
    "DBClusterAlreadyExistsFault": {
      "type": "object",
      "properties": {},
      "description": "User already has a DB cluster with the given identifier."
    },
    "DBClusterList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DBCluster"
      }
    },
    "DBClusterMember": {
      "type": "object",
      "properties": {
        "DBInstanceIdentifier": {
          "$ref": "#/definitions/String",
          "description": "Specifies the instance identifier for this member of the DB cluster."
        },
        "IsClusterWriter": {
          "$ref": "#/definitions/Boolean",
          "description": "Value that is <code>true</code> if the cluster member is the primary instance for the DB cluster and <code>false</code> otherwise."
        },
        "DBClusterParameterGroupStatus": {
          "$ref": "#/definitions/String",
          "description": "Specifies the status of the DB cluster parameter group for this member of the DB cluster."
        },
        "PromotionTier": {
          "$ref": "#/definitions/IntegerOptional",
          "description": "A value that specifies the order in which an Aurora Replica is promoted to the primary instance after a failure of the existing primary instance. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Aurora.Managing.html#Aurora.Managing.FaultTolerance\"> Fault Tolerance for an Aurora DB Cluster</a>. "
        }
      },
      "description": "Contains information about an instance that is part of a DB cluster."
    },
    "DBClusterMemberList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DBClusterMember"
      }
    },
    "DBClusterMessage": {
      "type": "object",
      "properties": {
        "Marker": {
          "$ref": "#/definitions/String",
          "description": "A pagination token that can be used in a subsequent DescribeDBClusters request."
        },
        "DBClusters": {
          "$ref": "#/definitions/DBClusterList",
          "description": "Contains a list of DB clusters for the user."
        }
      },
      "description": "Contains the result of a successful invocation of the <a>DescribeDBClusters</a> action."
    },
    "DBClusterNotFoundFault": {
      "type": "object",
      "properties": {},
      "description": " <i>DBClusterIdentifier</i> does not refer to an existing DB cluster. "
    },
    "DBClusterOptionGroupMemberships": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DBClusterOptionGroupStatus"
      }
    },
    "DBClusterOptionGroupStatus": {
      "type": "object",
      "properties": {
        "DBClusterOptionGroupName": {
          "$ref": "#/definitions/String",
          "description": "Specifies the name of the DB cluster option group."
        },
        "Status": {
          "$ref": "#/definitions/String",
          "description": "Specifies the status of the DB cluster option group."
        }
      },
      "description": "Contains status information for a DB cluster option group."
    },
    "DBClusterParameterGroup": {
      "type": "object",
      "properties": {
        "DBClusterParameterGroupName": {
          "$ref": "#/definitions/String",
          "description": "Provides the name of the DB cluster parameter group."
        },
        "DBParameterGroupFamily": {
          "$ref": "#/definitions/String",
          "description": "Provides the name of the DB parameter group family that this DB cluster parameter group is compatible with."
        },
        "Description": {
          "$ref": "#/definitions/String",
          "description": "Provides the customer-specified description for this DB cluster parameter group."
        },
        "DBClusterParameterGroupArn": {
          "$ref": "#/definitions/String",
          "description": "The Amazon Resource Name (ARN) for the DB cluster parameter group."
        }
      },
      "description": "<p>Contains the result of a successful invocation of the <a>CreateDBClusterParameterGroup</a> or <a>CopyDBClusterParameterGroup</a> action. </p> <p>This data type is used as a request parameter in the <a>DeleteDBClusterParameterGroup</a> action, and as a response element in the <a>DescribeDBClusterParameterGroups</a> action. </p>"
    },
    "DBClusterParameterGroupDetails": {
      "type": "object",
      "properties": {
        "Parameters": {
          "$ref": "#/definitions/ParametersList",
          "description": "Provides a list of parameters for the DB cluster parameter group."
        },
        "Marker": {
          "$ref": "#/definitions/String",
          "description": " An optional pagination token provided by a previous DescribeDBClusterParameters request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code> . "
        }
      },
      "description": "Provides details about a DB cluster parameter group including the parameters in the DB cluster parameter group."
    },
    "DBClusterParameterGroupList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/DBClusterParameterGroup"
      }
    },
    "DBClusterParameterGroupNameMessage": {
      "type": "object",
      "properties": {
        "DBClusterParameterGroupName": {
          "$ref": "#/definitions/String",
          "description": "<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 255 alphanumeric characters</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>"
        }
      },
      "description": "<p/>"
    },
    "DBClusterParameterGroupNotFoundFault": {
      "type": "object",
      "properties": {},
      "description": " <i>DBClusterParameterGroupName</i> does not refer to an existing DB Cluster parameter group. "
    },
    "DBClusterParameterGroupsMessage": {
      "type": "object",
      "properties": {
        "Marker": {
          "$ref": "#/definitions/String",
          "description": " An optional pagination token provided by a previous <code>DescribeDBClusterParameterGroups</code> request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. "
        },
        "DBClusterParameterGroups": {
          "$ref": "#/definitions/DBClusterParameterGroupList",
          "description": "A list of DB cluster parameter groups."
        }
      },
      "description": "<p/>"
    },
    "DBClusterQuotaExceededFault": {
      "type": "object",
      "properties": {},
      "description": "User attempted to create a new DB cluster and the user has already reached the maximum allowed DB cluster quota."
    },
    "DBClusterSnapshot": {
      "type": "object",
      "properties": {
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "Provides the list of EC2 Availability Zones that instances in the DB cluster snapshot can be restored in."
        },
        "DBClusterSnapshotIdentifier": {
          "$ref": "#/definitions/String",
          "description": "Specifies the identifier for the DB cluster snapshot."
        },
        "DBClusterIdentifier": {
          "$ref": "#/definitions/String",
          "description": "Specifies the DB cluster identifier of the DB cluster that this DB cluster snapshot was created from."
        },
        "SnapshotCreateTime": {
          "$ref": "#/definitions/TStamp",
          "description": "Provides the time when the snapshot was taken, in Universal Coordinated Time (UTC)."
        },
        "Engine": {
          "$ref": "#/definitions/String",
          "description": "Specifies the name of the database engine."
        },
        "AllocatedStorage": {
          "$ref": "#/definitions/Integer",
          "description": "Specifies the allocated storage size in gigabytes (GB)."
        },
        "Status": {
          "$ref": "#/definitions/String",
          "description": "Specifies the status of this DB cluster snapshot."
        },
        "Port": {
          "$ref": "#/definitions/Integer",
          "description": "Specifies the port that the DB cluster was listening on at the time of the snapshot."
        },
        "VpcId": {
          "$ref": "#/definitions/String",
[...]
