{
  "swagger": "2.0",
  "info": {
    "title": "Global Basketball Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's Global Basketball API",
    "x-mashery-id": "6845"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/basketball-t1/en",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Global Basketball"
    }
  ],
  "paths": {
    "/schedules/{year-}{month-}{day}/results{format}": {
      "get": {
        "operationId": "DailyResultsGlobalBasketball",
        "summary": "Provides game results for all games played on a gi...",
        "description": "Provides game results for all games played on a given day",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/schedules/{year-}{month-}{day}/schedule{format}": {
      "get": {
        "operationId": "DailyScheduleGlobalBasketball",
        "summary": "Provides the schedule for a given day",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The calendar year",
            "in": "query",
            "required": true,
            "enum": [
              "2014",
              "2015",
              "2016"
            ]
          },
          {
            "name": "month",
            "type": "number",
            "description": "The calendar month",
            "in": "query",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12"
            ]
          },
          {
            "name": "day",
            "type": "number",
            "description": "The calendar day",
            "in": "path",
            "required": true,
            "enum": [
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17",
              "18",
              "19",
              "20",
              "21",
              "22",
              "23",
              "24",
              "25",
              "26",
              "27",
              "28",
              "29",
              "30",
              "31"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          },
          {
            "name": "year-",
            "type": "string",
            "in": "path",
            "required": true
          },
          {
            "name": "month-",
            "type": "string",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{competitor_id_1}/versus/{competitor_id_2}/matches{format}": {
      "get": {
        "operationId": "HeadtoHeadGlobalBasketball",
        "summary": "Compares past results and upcoming games given two...",
        "description": "Compares past results and upcoming games given two team IDs",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "competitor_id_1",
            "type": "string",
            "description": "The ID of the team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:3432"
          },
          {
            "name": "competitor_id_2",
            "type": "string",
            "description": "The ID of the team",
            "in": "path",
            "required": true,
            "default": "sr:competitor:3415"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/probabilities{format}": {
      "get": {
        "operationId": "MatchProbabilitiesGlobalBasketball",
        "summary": "Provides pre-match probabilities",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/summary{format}": {
      "get": {
        "operationId": "MatchSummaryGlobalBasketball",
        "summary": "Provides summarized information for a match",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:9954153"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/matches/{match_id}/timeline{format}": {
      "get": {
        "operationId": "MatchTimelineGlobalBasketball",
        "summary": "Provides an events timeline for a match",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "match_id",
            "type": "string",
            "description": "The ID of a given match, found in the Tournament Schedule feed",
            "in": "path",
            "required": true,
            "default": "sr:match:9954153"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/players/{player_id}/profile{format}": {
      "get": {
        "operationId": "PlayerProfileGlobalBasketball",
        "summary": "Provides player information",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "player_id",
            "type": "string",
            "description": "The ID of the player Tournament Info Endpoint",
            "in": "path",
            "required": true,
            "default": "sr:player:852120"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{season_id}/seasons{format}": {
      "get": {
        "operationId": "SeasonsGlobalBasketball",
        "summary": "Provides a listing of seasons",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "season_id",
            "type": "string",
            "description": "Season ID",
            "in": "path",
            "required": true,
            "default": "sr:season:33359"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/profile{format}": {
      "get": {
        "operationId": "TeamProfileGlobalBasketball",
        "summary": "Provides information and stats for a team",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Competitor ID",
            "in": "path",
            "required": true,
            "default": "sr:competitor:3501"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/results{format}": {
      "get": {
        "operationId": "TeamResultsGlobalBasketball",
        "summary": "Provides a list of match results for a given team",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Competitor ID",
            "in": "path",
            "required": true,
            "default": "sr:competitor:3501"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/teams/{team_id}/schedule{format}": {
      "get": {
        "operationId": "TeamScheduleGlobalBasketball",
        "summary": "Provides a list of scheduled matches for a given t...",
        "description": "Provides a list of scheduled matches for a given team",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "team_id",
            "type": "string",
            "description": "Competitor ID",
            "in": "path",
            "required": true,
            "default": "sr:competitor:3501"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/info{format}": {
      "get": {
        "operationId": "TournamentInfoGlobalBasketball",
        "summary": "Provides information pertaining to a given tournam...",
        "description": "Provides information pertaining to a given tournament/league",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:132"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments{format}": {
      "get": {
        "operationId": "TournamentListGlobalBasketball",
        "summary": "Provides a list of all tournaments",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/live_standings{format}": {
      "get": {
        "operationId": "TournamentLiveStandingsGlobalBasketball",
        "summary": "Provides live standings for a given tournament/lea...",
        "description": "Provides live standings for a given tournament/league",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:262"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/results{format}": {
      "get": {
        "operationId": "TournamentResultsGlobalBasketball",
        "summary": "Provides a list of results for a given tournament/...",
        "description": "Provides a list of results for a given tournament/league",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:132"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/schedule{format}": {
      "get": {
        "operationId": "TournamentScheduleGlobalBasketball",
        "summary": "Provides a list of scheduled games for a given tou...",
        "description": "Provides a list of scheduled games for a given tournament/league",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:262"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/tournaments/{tournament_id}/standings{format}": {
      "get": {
        "operationId": "TournamentStandingsGlobalBasketball",
        "summary": "Provides the current standings for a given tournam...",
        "description": "Provides the current standings for a given tournament/league",
        "tags": [
          "Global Basketball"
        ],
        "parameters": [
          {
            "name": "tournament_id",
            "type": "string",
            "description": "The Given Tournament ID, Found in the Tournament List endpoint",
            "in": "path",
            "required": true,
            "default": "sr:tournament:262"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}