{
  "swagger": "2.0",
  "info": {
    "version": "2015-08-24",
    "x-release": "v4",
    "title": "AWS WAF",
    "description": "This is the <i>AWS WAF API Reference</i>. This guide is for developers who need detailed information about the AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use the AWS WAF API, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/waf/"
  },
  "host": "waf.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "CreateByteMatchSet",
        "description": "<p>Creates a <code>ByteMatchSet</code>. You then use <a>UpdateByteMatchSet</a> to identify the part of a web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. For example, you can create a <code>ByteMatchSet</code> that matches any requests with <code>User-Agent</code> headers that contain the string <code>BadBot</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateByteMatchSet</code> request.</li> <li>Submit a <code>CreateByteMatchSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</li> <li>Submit an <a>UpdateByteMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateByteMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFDisallowedNameException",
            "schema": {
              "$ref": "#/definitions/WAFDisallowedNameException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "484": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "485": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateByteMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateIPSet": {
      "post": {
        "operationId": "CreateIPSet",
        "description": "<p>Creates an <a>IPSet</a>, which you use to specify which web requests you want to allow or block based on the IP addresses that the requests originate from. For example, if you're receiving a lot of requests from one or more individual IP addresses or one or more ranges of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that contains those IP addresses and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateIPSet</code> request.</li> <li>Submit a <code>CreateIPSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</li> <li>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateIPSetResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFDisallowedNameException",
            "schema": {
              "$ref": "#/definitions/WAFDisallowedNameException"
            }
          },
          "484": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "485": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateIPSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateRule": {
      "post": {
        "operationId": "CreateRule",
        "description": "<p>Creates a <code>Rule</code>, which contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to block. If you add more than one predicate to a <code>Rule</code>, a request must match all of the specifications to be allowed or blocked. For example, suppose you add the following to a <code>Rule</code>:</p> <ul> <li>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code></li> <li>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</li> </ul> <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to blocks requests that satisfy the <code>Rule</code>. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>.</p> <p>To create and configure a <code>Rule</code>, perform the following steps:</p> <ol> <li>Create and update the predicates that you want to include in the <code>Rule</code>. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</li> <li>Submit a <code>CreateRule</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</li> <li>Submit an <code>UpdateRule</code> request to specify the predicates that you want to include in the <code>Rule</code>.</li> <li>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. For more information, see <a>CreateWebACL</a>.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateRuleResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFDisallowedNameException",
            "schema": {
              "$ref": "#/definitions/WAFDisallowedNameException"
            }
          },
          "483": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "484": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRuleRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateSizeConstraintSet": {
      "post": {
        "operationId": "CreateSizeConstraintSet",
        "description": "<p>Creates a <code>SizeConstraintSet</code>. You then use <a>UpdateSizeConstraintSet</a> to identify the part of a web request that you want AWS WAF to check for length, such as the length of the <code>User-Agent</code> header or the length of the query string. For example, you can create a <code>SizeConstraintSet</code> that matches any requests that have a query string that is longer than 100 bytes. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSizeConstraintSet</code> request.</li> <li>Submit a <code>CreateSizeConstraintSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateSizeConstraintSet</code> request.</li> <li>Submit an <a>UpdateSizeConstraintSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSizeConstraintSetResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFDisallowedNameException",
            "schema": {
              "$ref": "#/definitions/WAFDisallowedNameException"
            }
          },
          "484": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "485": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSizeConstraintSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateSqlInjectionMatchSet": {
      "post": {
        "operationId": "CreateSqlInjectionMatchSet",
        "description": "<p>Creates a <a>SqlInjectionMatchSet</a>, which you use to allow, block, or count requests that contain snippets of SQL code in a specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure a <code>SqlInjectionMatchSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSqlInjectionMatchSet</code> request.</li> <li>Submit a <code>CreateSqlInjectionMatchSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateSqlInjectionMatchSet</a> request.</li> <li>Submit an <a>UpdateSqlInjectionMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count malicious SQL code.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateSqlInjectionMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFDisallowedNameException",
            "schema": {
              "$ref": "#/definitions/WAFDisallowedNameException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "484": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "485": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSqlInjectionMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateWebACL": {
      "post": {
        "operationId": "CreateWebACL",
        "description": "<p>Creates a <code>WebACL</code>, which contains the <code>Rules</code> that identify the CloudFront web requests that you want to allow, block, or count. AWS WAF evaluates <code>Rules</code> in order based on the value of <code>Priority</code> for each <code>Rule</code>.</p> <p>You also specify a default action, either <code>ALLOW</code> or <code>BLOCK</code>. If a web request doesn't match any of the <code>Rules</code> in a <code>WebACL</code>, AWS WAF responds to the request with the default action. </p> <p>To create and configure a <code>WebACL</code>, perform the following steps:</p> <ol> <li>Create and update the <code>ByteMatchSet</code> objects and other predicates that you want to include in <code>Rules</code>. For more information, see <a>CreateByteMatchSet</a>, <a>UpdateByteMatchSet</a>, <a>CreateIPSet</a>, <a>UpdateIPSet</a>, <a>CreateSqlInjectionMatchSet</a>, and <a>UpdateSqlInjectionMatchSet</a>.</li> <li>Create and update the <code>Rules</code> that you want to include in the <code>WebACL</code>. For more information, see <a>CreateRule</a> and <a>UpdateRule</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateWebACL</code> request.</li> <li>Submit a <code>CreateWebACL</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateWebACL</a> request.</li> <li>Submit an <a>UpdateWebACL</a> request to specify the <code>Rules</code> that you want to include in the <code>WebACL</code>, to specify the default action, and to associate the <code>WebACL</code> with a CloudFront distribution.</li> </ol> <p>For more information about how to use the AWS WAF API, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateWebACLResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFDisallowedNameException",
            "schema": {
              "$ref": "#/definitions/WAFDisallowedNameException"
            }
          },
          "484": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "485": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWebACLRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#CreateXssMatchSet": {
      "post": {
        "operationId": "CreateXssMatchSet",
        "description": "<p>Creates an <a>XssMatchSet</a>, which you use to allow, block, or count requests that contain cross-site scripting attacks in the specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure an <code>XssMatchSet</code>, perform the following steps:</p> <ol> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateXssMatchSet</code> request.</li> <li>Submit a <code>CreateXssMatchSet</code> request.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateXssMatchSet</a> request.</li> <li>Submit an <a>UpdateXssMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count cross-site scripting attacks.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateXssMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFDisallowedNameException",
            "schema": {
              "$ref": "#/definitions/WAFDisallowedNameException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "484": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "485": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateXssMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteByteMatchSet": {
      "post": {
        "operationId": "DeleteByteMatchSet",
        "description": "<p>Permanently deletes a <a>ByteMatchSet</a>. You can't delete a <code>ByteMatchSet</code> if it's still used in any <code>Rules</code> or if it still includes any <a>ByteMatchTuple</a> objects (any filters).</p> <p>If you just want to remove a <code>ByteMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li>Update the <code>ByteMatchSet</code> to remove filters, if any. For more information, see <a>UpdateByteMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteByteMatchSet</code> request.</li> <li>Submit a <code>DeleteByteMatchSet</code> request.</li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteByteMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "484": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "485": {
            "description": "WAFNonEmptyEntityException",
            "schema": {
              "$ref": "#/definitions/WAFNonEmptyEntityException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteByteMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteIPSet": {
      "post": {
        "operationId": "DeleteIPSet",
        "description": "<p>Permanently deletes an <a>IPSet</a>. You can't delete an <code>IPSet</code> if it's still used in any <code>Rules</code> or if it still includes any IP addresses.</p> <p>If you just want to remove an <code>IPSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>IPSet</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>IPSet</code> to remove IP address ranges, if any. For more information, see <a>UpdateIPSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteIPSet</code> request.</li> <li>Submit a <code>DeleteIPSet</code> request.</li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteIPSetResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "484": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "485": {
            "description": "WAFNonEmptyEntityException",
            "schema": {
              "$ref": "#/definitions/WAFNonEmptyEntityException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteIPSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteRule": {
      "post": {
        "operationId": "DeleteRule",
        "description": "<p>Permanently deletes a <a>Rule</a>. You can't delete a <code>Rule</code> if it's still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a <code>Rule</code> from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>Rule</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>Rule</code> to remove predicates, if any. For more information, see <a>UpdateRule</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRule</code> request.</li> <li>Submit a <code>DeleteRule</code> request.</li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRuleResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "484": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "485": {
            "description": "WAFNonEmptyEntityException",
            "schema": {
              "$ref": "#/definitions/WAFNonEmptyEntityException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteRuleRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteSizeConstraintSet": {
      "post": {
        "operationId": "DeleteSizeConstraintSet",
        "description": "<p>Permanently deletes a <a>SizeConstraintSet</a>. You can't delete a <code>SizeConstraintSet</code> if it's still used in any <code>Rules</code> or if it still includes any <a>SizeConstraint</a> objects (any filters).</p> <p>If you just want to remove a <code>SizeConstraintSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li>Update the <code>SizeConstraintSet</code> to remove filters, if any. For more information, see <a>UpdateSizeConstraintSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSizeConstraintSet</code> request.</li> <li>Submit a <code>DeleteSizeConstraintSet</code> request.</li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSizeConstraintSetResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "484": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "485": {
            "description": "WAFNonEmptyEntityException",
            "schema": {
              "$ref": "#/definitions/WAFNonEmptyEntityException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSizeConstraintSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteSqlInjectionMatchSet": {
      "post": {
        "operationId": "DeleteSqlInjectionMatchSet",
        "description": "<p>Permanently deletes a <a>SqlInjectionMatchSet</a>. You can't delete a <code>SqlInjectionMatchSet</code> if it's still used in any <code>Rules</code> or if it still contains any <a>SqlInjectionMatchTuple</a> objects.</p> <p>If you just want to remove a <code>SqlInjectionMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SqlInjectionMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>SqlInjectionMatchSet</code> to remove filters, if any. For more information, see <a>UpdateSqlInjectionMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSqlInjectionMatchSet</code> request.</li> <li>Submit a <code>DeleteSqlInjectionMatchSet</code> request.</li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteSqlInjectionMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "484": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "485": {
            "description": "WAFNonEmptyEntityException",
            "schema": {
              "$ref": "#/definitions/WAFNonEmptyEntityException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSqlInjectionMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteWebACL": {
      "post": {
        "operationId": "DeleteWebACL",
        "description": "<p>Permanently deletes a <a>WebACL</a>. You can't delete a <code>WebACL</code> if it still contains any <code>Rules</code>.</p> <p>To delete a <code>WebACL</code>, perform the following steps:</p> <ol> <li>Update the <code>WebACL</code> to remove <code>Rules</code>, if any. For more information, see <a>UpdateWebACL</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteWebACL</code> request.</li> <li>Submit a <code>DeleteWebACL</code> request.</li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteWebACLResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "484": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "485": {
            "description": "WAFNonEmptyEntityException",
            "schema": {
              "$ref": "#/definitions/WAFNonEmptyEntityException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWebACLRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#DeleteXssMatchSet": {
      "post": {
        "operationId": "DeleteXssMatchSet",
        "description": "<p>Permanently deletes an <a>XssMatchSet</a>. You can't delete an <code>XssMatchSet</code> if it's still used in any <code>Rules</code> or if it still contains any <a>XssMatchTuple</a> objects.</p> <p>If you just want to remove an <code>XssMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>XssMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li>Update the <code>XssMatchSet</code> to remove filters, if any. For more information, see <a>UpdateXssMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteXssMatchSet</code> request.</li> <li>Submit a <code>DeleteXssMatchSet</code> request.</li> </ol>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteXssMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "483": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "484": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "485": {
            "description": "WAFNonEmptyEntityException",
            "schema": {
              "$ref": "#/definitions/WAFNonEmptyEntityException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteXssMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetByteMatchSet": {
      "post": {
        "operationId": "GetByteMatchSet",
        "description": "Returns the <a>ByteMatchSet</a> specified by <code>ByteMatchSetId</code>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetByteMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetByteMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetChangeToken": {
      "post": {
        "operationId": "GetChangeToken",
        "description": "<p>When you want to create, update, or delete AWS WAF objects, get a change token and include the change token in the create, update, or delete request. Change tokens ensure that your application doesn't submit conflicting requests to AWS WAF.</p> <p>Each create, update, or delete request must use a unique change token. If your application submits a <code>GetChangeToken</code> request and then submits a second <code>GetChangeToken</code> request before submitting a create, update, or delete request, the second <code>GetChangeToken</code> request returns the same value as the first <code>GetChangeToken</code> request.</p> <p>When you use a change token in a create, update, or delete request, the status of the change token changes to <code>PENDING</code>, which indicates that AWS WAF is propagating the change to all AWS WAF servers. Use <code>GetChangeTokenStatus</code> to determine the status of your change token.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetChangeTokenResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetChangeTokenRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetChangeTokenStatus": {
      "post": {
        "operationId": "GetChangeTokenStatus",
        "description": "<p>Returns the status of a <code>ChangeToken</code> that you got by calling <a>GetChangeToken</a>. <code>ChangeTokenStatus</code> is one of the following values:</p> <ul> <li><code>PROVISIONED</code>: You requested the change token by calling <code>GetChangeToken</code>, but you haven't used it yet in a call to create, update, or delete an AWS WAF object.</li> <li><code>PENDING</code>: AWS WAF is propagating the create, update, or delete request to all AWS WAF servers.</li> <li><code>IN_SYNC</code>: Propagation is complete.</li> </ul>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetChangeTokenStatusResponse"
            }
          },
          "480": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetChangeTokenStatusRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetIPSet": {
      "post": {
        "operationId": "GetIPSet",
        "description": "Returns the <a>IPSet</a> that is specified by <code>IPSetId</code>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetIPSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetIPSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetRule": {
      "post": {
        "operationId": "GetRule",
        "description": "Returns the <a>Rule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRule</code> request.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRuleResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRuleRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetSampledRequests": {
      "post": {
        "operationId": "GetSampledRequests",
        "description": "<p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 100 requests, and you can specify any time range in the previous three hours.</p> <p><code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSampledRequestsResponse"
            }
          },
          "480": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSampledRequestsRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetSizeConstraintSet": {
      "post": {
        "operationId": "GetSizeConstraintSet",
        "description": "Returns the <a>SizeConstraintSet</a> specified by <code>SizeConstraintSetId</code>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSizeConstraintSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSizeConstraintSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetSqlInjectionMatchSet": {
      "post": {
        "operationId": "GetSqlInjectionMatchSet",
        "description": "Returns the <a>SqlInjectionMatchSet</a> that is specified by <code>SqlInjectionMatchSetId</code>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSqlInjectionMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSqlInjectionMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetWebACL": {
      "post": {
        "operationId": "GetWebACL",
        "description": "Returns the <a>WebACL</a> that is specified by <code>WebACLId</code>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetWebACLResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWebACLRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#GetXssMatchSet": {
      "post": {
        "operationId": "GetXssMatchSet",
        "description": "Returns the <a>XssMatchSet</a> that is specified by <code>XssMatchSetId</code>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetXssMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetXssMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListByteMatchSets": {
      "post": {
        "operationId": "ListByteMatchSets",
        "description": "Returns an array of <a>ByteMatchSetSummary</a> objects.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListByteMatchSetsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListByteMatchSetsRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListIPSets": {
      "post": {
        "operationId": "ListIPSets",
        "description": "Returns an array of <a>IPSetSummary</a> objects in the response.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListIPSetsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListIPSetsRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListRules": {
      "post": {
        "operationId": "ListRules",
        "description": "Returns an array of <a>RuleSummary</a> objects.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListRulesResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListRulesRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListSizeConstraintSets": {
      "post": {
        "operationId": "ListSizeConstraintSets",
        "description": "Returns an array of <a>SizeConstraintSetSummary</a> objects.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListSizeConstraintSetsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSizeConstraintSetsRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListSqlInjectionMatchSets": {
      "post": {
        "operationId": "ListSqlInjectionMatchSets",
        "description": "Returns an array of <a>SqlInjectionMatchSet</a> objects.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListSqlInjectionMatchSetsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListSqlInjectionMatchSetsRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListWebACLs": {
      "post": {
        "operationId": "ListWebACLs",
        "description": "Returns an array of <a>WebACLSummary</a> objects in the response.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListWebACLsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListWebACLsRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#ListXssMatchSets": {
      "post": {
        "operationId": "ListXssMatchSets",
        "description": "Returns an array of <a>XssMatchSet</a> objects.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListXssMatchSetsResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListXssMatchSetsRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#UpdateByteMatchSet": {
      "post": {
        "operationId": "UpdateByteMatchSet",
        "description": "<p>Inserts or deletes <a>ByteMatchTuple</a> objects (filters) in a <a>ByteMatchSet</a>. For each <code>ByteMatchTuple</code> object, you specify the following values: </p> <ul> <li>Whether to insert or delete the object from the array. If you want to change a <code>ByteMatchSetUpdate</code> object, you delete the existing object and add a new one.</li> <li>The part of a web request that you want AWS WAF to inspect, such as a query string or the value of the <code>User-Agent</code> header. </li> <li>The bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to look for. For more information, including how you specify the values for the AWS WAF API and the AWS CLI or SDKs, see <code>TargetString</code> in the <a>ByteMatchTuple</a> data type. </li> <li>Where to look, such as at the beginning or the end of a query string.</li> <li>Whether to perform any conversions on the request, such as converting it to lowercase, before inspecting it for the specified string.</li> </ul> <p>For example, you can add a <code>ByteMatchSetUpdate</code> object that matches web requests in which <code>User-Agent</code> headers contain the string <code>BadBot</code>. You can then configure AWS WAF to block those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li>Create a <code>ByteMatchSet.</code> For more information, see <a>CreateByteMatchSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</li> <li>Submit an <code>UpdateByteMatchSet</code> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateByteMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          },
          "483": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "484": {
            "description": "WAFNonexistentContainerException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentContainerException"
            }
          },
          "485": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "486": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "487": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateByteMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#UpdateIPSet": {
      "post": {
        "operationId": "UpdateIPSet",
        "description": "<p>Inserts or deletes <a>IPSetDescriptor</a> objects in an <code>IPSet</code>. For each <code>IPSetDescriptor</code> object, you specify the following values: </p> <ul> <li>Whether to insert or delete the object from the array. If you want to change an <code>IPSetDescriptor</code> object, you delete the existing object and add a new one.</li> <li>The IP address version, <code>IPv4</code>. </li> <li>The IP address in CIDR notation, for example, <code>192.0.2.0/24</code> (for the range of IP addresses from <code>192.0.2.0</code> to <code>192.0.2.255</code>) or <code>192.0.2.44/32</code> (for the individual IP address <code>192.0.2.44</code>). </li> </ul> <p>AWS WAF supports /8, /16, /24, and /32 IP address ranges. For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p> <p>You use an <code>IPSet</code> to specify which web requests you want to allow or block based on the IP addresses that the requests originated from. For example, if you're receiving a lot of requests from one or a small number of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that specifies those IP addresses, and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li>Submit a <a>CreateIPSet</a> request.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</li> <li>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</li> </ol> <p>When you update an <code>IPSet</code>, you specify the IP addresses that you want to add and/or the IP addresses that you want to delete. If you want to change an IP address, you delete the existing IP address and add the new one.</p> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateIPSetResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          },
          "484": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "485": {
            "description": "WAFNonexistentContainerException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentContainerException"
            }
          },
          "486": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "487": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "488": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateIPSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#UpdateRule": {
      "post": {
        "operationId": "UpdateRule",
        "description": "<p>Inserts or deletes <a>Predicate</a> objects in a <code>Rule</code>. Each <code>Predicate</code> object identifies a predicate, such as a <a>ByteMatchSet</a> or an <a>IPSet</a>, that specifies the web requests that you want to allow, block, or count. If you add more than one predicate to a <code>Rule</code>, a request must match all of the specifications to be allowed, blocked, or counted. For example, suppose you add the following to a <code>Rule</code>: </p> <ul> <li>A <code>ByteMatchSet</code> that matches the value <code>BadBot</code> in the <code>User-Agent</code> header</li> <li>An <code>IPSet</code> that matches the IP address <code>192.0.2.44</code></li> </ul> <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to block requests that satisfy the <code>Rule</code>. For a request to be blocked, the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code> <i>and</i> the request must originate from the IP address 192.0.2.44.</p> <p>To create and configure a <code>Rule</code>, perform the following steps:</p> <ol> <li>Create and update the predicates that you want to include in the <code>Rule</code>.</li> <li>Create the <code>Rule</code>. See <a>CreateRule</a>.</li> <li>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</li> <li>Submit an <code>UpdateRule</code> request to add predicates to the <code>Rule</code>.</li> <li>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. See <a>CreateWebACL</a>.</li> </ol> <p>If you want to replace one <code>ByteMatchSet</code> or <code>IPSet</code> with another, you delete the existing one and add the new one.</p> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateRuleResponse"
            }
          },
          "480": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "481": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "482": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "483": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          },
          "484": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "485": {
            "description": "WAFNonexistentContainerException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentContainerException"
            }
          },
          "486": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "487": {
            "description": "WAFReferencedItemException",
            "schema": {
              "$ref": "#/definitions/WAFReferencedItemException"
            }
          },
          "488": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRuleRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    },
    "/#UpdateSizeConstraintSet": {
      "post": {
        "operationId": "UpdateSizeConstraintSet",
        "description": "<p>Inserts or deletes <a>SizeConstraint</a> objects (filters) in a <a>SizeConstraintSet</a>. For each <code>SizeConstraint</code> object, you specify the following values: </p> <ul> <li>Whether to insert or delete the object from the array. If you want to change a <code>SizeConstraintSetUpdate</code> object, you delete the existing object and add a new one.</li> <li>The part of a web request that you want AWS WAF to evaluate, such as the length of a query string or the length of the <code>User-Agent</code> header.</li> <li>Whether to perform any transformations on the request, such as converting it to lowercase, before checking its length. Note that transformations of the request body are not supported because the AWS resource forwards only the first <code>8192</code> bytes of your request to AWS WAF.</li> <li>A <code>ComparisonOperator</code> used for evaluating the selected part of the request against the specified <code>Size</code>, such as equals, greater than, less than, and so on.</li> <li>The length, in bytes, that you want AWS WAF to watch for in selected part of the request. The length is computed after applying the transformation.</li> </ul> <p>For example, you can add a <code>SizeConstraintSetUpdate</code> object that matches web requests in which the length of the <code>User-Agent</code> header is greater than 100 bytes. You can then configure AWS WAF to block those requests.</p> <p>To create and configure a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li>Create a <code>SizeConstraintSet.</code> For more information, see <a>CreateSizeConstraintSet</a>.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateSizeConstraintSet</code> request.</li> <li>Submit an <code>UpdateSizeConstraintSet</code> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
[...]
