{
  "swagger": "2.0",
  "info": {
    "version": "2015-08-24",
    "x-release": "v4",
    "title": "AWS WAF",
    "description": "This is the <i>AWS WAF API Reference</i>. This guide is for developers who need detailed information about the AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use the AWS WAF API, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/waf/"
  },
  "host": "waf.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "format": "date-time",
      "required": true
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UpdateXssMatchSet",
        "description": "<p>Inserts or deletes <a>XssMatchTuple</a> objects (filters) in an <a>XssMatchSet</a>. For each <code>XssMatchTuple</code> object, you specify the following values:</p> <ul> <li><code>Action</code>: Whether to insert the object into or delete the object from the array. To change a <code>XssMatchTuple</code>, you delete the existing object and add a new one.</li> <li><code>FieldToMatch</code>: The part of web requests that you want AWS WAF to inspect and, if you want AWS WAF to inspect a header, the name of the header.</li> <li><code>TextTransformation</code>: Which text transformation, if any, to perform on the web request before inspecting the request for cross-site scripting attacks.</li> </ul> <p>You use <code>XssMatchSet</code> objects to specify which CloudFront requests you want to allow, block, or count. For example, if you're receiving requests that contain cross-site scripting attacks in the request body and you want to block the requests, you can create an <code>XssMatchSet</code> with the applicable settings, and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>XssMatchSet</code>, perform the following steps:</p> <ol> <li>Submit a <a>CreateXssMatchSet</a> request.</li> <li>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</li> <li>Submit an <code>UpdateXssMatchSet</code> request to specify the parts of web requests that you want AWS WAF to inspect for cross-site scripting attacks.</li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"http://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateXssMatchSetResponse"
            }
          },
          "480": {
            "description": "WAFInternalErrorException",
            "schema": {
              "$ref": "#/definitions/WAFInternalErrorException"
            }
          },
          "481": {
            "description": "WAFInvalidAccountException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidAccountException"
            }
          },
          "482": {
            "description": "WAFInvalidOperationException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidOperationException"
            }
          },
          "483": {
            "description": "WAFInvalidParameterException",
            "schema": {
              "$ref": "#/definitions/WAFInvalidParameterException"
            }
          },
          "484": {
            "description": "WAFNonexistentContainerException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentContainerException"
            }
          },
          "485": {
            "description": "WAFNonexistentItemException",
            "schema": {
              "$ref": "#/definitions/WAFNonexistentItemException"
            }
          },
          "486": {
            "description": "WAFStaleDataException",
            "schema": {
              "$ref": "#/definitions/WAFStaleDataException"
            }
          },
          "487": {
            "description": "WAFLimitsExceededException",
            "schema": {
              "$ref": "#/definitions/WAFLimitsExceededException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateXssMatchSetRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        }
      ]
    }
  },
  "definitions": {
    "Action": {
      "type": "string"
    },
    "ActivatedRule": {
      "type": "object",
      "required": [
        "Priority",
        "RuleId",
        "Action"
      ],
      "properties": {
        "Priority": {
          "$ref": "#/definitions/RulePriority",
          "description": "Specifies the order in which the <code>Rules</code> in a <code>WebACL</code> are evaluated. Rules with a lower value for <code>Priority</code> are evaluated before <code>Rules</code> with a higher value. The value must be a unique integer. If you add multiple <code>Rules</code> to a <code>WebACL</code>, the values don't need to be consecutive."
        },
        "RuleId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>The <code>RuleId</code> for a <code>Rule</code>. You use <code>RuleId</code> to get more information about a <code>Rule</code> (see <a>GetRule</a>), update a <code>Rule</code> (see <a>UpdateRule</a>), insert a <code>Rule</code> into a <code>WebACL</code> or delete a one from a <code>WebACL</code> (see <a>UpdateWebACL</a>), or delete a <code>Rule</code> from AWS WAF (see <a>DeleteRule</a>).</p> <p><code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>.</p>"
        },
        "Action": {
          "$ref": "#/definitions/WafAction",
          "description": "<p>Specifies the action that CloudFront or AWS WAF takes when a web request matches the conditions in the <code>Rule</code>. Valid values for <code>Action</code> include the following:</p> <ul> <li><code>ALLOW</code>: CloudFront responds with the requested object.</li> <li><code>BLOCK</code>: CloudFront responds with an HTTP 403 (Forbidden) status code.</li> <li><code>COUNT</code>: AWS WAF increments a counter of requests that match the conditions in the rule and then continues to inspect the web request based on the remaining rules in the web ACL. </li> </ul>"
        }
      },
      "description": "<p>The <code>ActivatedRule</code> object in an <a>UpdateWebACL</a> request specifies a <code>Rule</code> that you want to insert or delete, the priority of the <code>Rule</code> in the <code>WebACL</code>, and the action that you want AWS WAF to take when a web request matches the <code>Rule</code> (<code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>).</p> <p>To specify whether to insert or delete a <code>Rule</code>, use the <code>Action</code> parameter in the <a>WebACLUpdate</a> data type.</p>"
    },
    "ActivatedRules": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ActivatedRule"
      }
    },
    "ByteMatchSet": {
      "type": "object",
      "required": [
        "ByteMatchSetId",
        "ByteMatchTuples"
      ],
      "properties": {
        "ByteMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a <code>ByteMatchSet</code> (see <a>GetByteMatchSet</a>), update a <code>ByteMatchSet</code> (see <a>UpdateByteMatchSet</a>), insert a <code>ByteMatchSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and delete a <code>ByteMatchSet</code> from AWS WAF (see <a>DeleteByteMatchSet</a>).</p> <p><code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>."
        },
        "ByteMatchTuples": {
          "$ref": "#/definitions/ByteMatchTuples",
          "description": "Specifies the bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to search for in web requests, the location in requests that you want AWS WAF to search, and other settings."
        }
      },
      "description": "<p>In a <a>GetByteMatchSet</a> request, <code>ByteMatchSet</code> is a complex type that contains the <code>ByteMatchSetId</code> and <code>Name</code> of a <code>ByteMatchSet</code>, and the values that you specified when you updated the <code>ByteMatchSet</code>. </p> <p>A complex type that contains <code>ByteMatchTuple</code> objects, which specify the parts of web requests that you want AWS WAF to inspect and the values that you want AWS WAF to search for. If a <code>ByteMatchSet</code> contains more than one <code>ByteMatchTuple</code> object, a request needs to match the settings in only one <code>ByteMatchTuple</code> to be considered a match.</p>"
    },
    "ByteMatchSetSummaries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ByteMatchSetSummary"
      }
    },
    "ByteMatchSetSummary": {
      "type": "object",
      "required": [
        "ByteMatchSetId",
        "Name"
      ],
      "properties": {
        "ByteMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>The <code>ByteMatchSetId</code> for a <code>ByteMatchSet</code>. You use <code>ByteMatchSetId</code> to get information about a <code>ByteMatchSet</code>, update a <code>ByteMatchSet</code>, remove a <code>ByteMatchSet</code> from a <code>Rule</code>, and delete a <code>ByteMatchSet</code> from AWS WAF.</p> <p><code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>."
        }
      },
      "description": "Returned by <a>ListByteMatchSets</a>. Each <code>ByteMatchSetSummary</code> object includes the <code>Name</code> and <code>ByteMatchSetId</code> for one <a>ByteMatchSet</a>."
    },
    "ByteMatchSetUpdate": {
      "type": "object",
      "required": [
        "Action",
        "ByteMatchTuple"
      ],
      "properties": {
        "Action": {
          "$ref": "#/definitions/ChangeAction",
          "description": "Specifies whether to insert or delete a <a>ByteMatchTuple</a>."
        },
        "ByteMatchTuple": {
          "$ref": "#/definitions/ByteMatchTuple",
          "description": "Information about the part of a web request that you want AWS WAF to inspect and the value that you want AWS WAF to search for. If you specify <code>DELETE</code> for the value of <code>Action</code>, the <code>ByteMatchTuple</code> values must exactly match the values in the <code>ByteMatchTuple</code> that you want to delete from the <code>ByteMatchSet</code>."
        }
      },
      "description": "In an <a>UpdateByteMatchSet</a> request, <code>ByteMatchSetUpdate</code> specifies whether to insert or delete a <a>ByteMatchTuple</a> and includes the settings for the <code>ByteMatchTuple</code>."
    },
    "ByteMatchSetUpdates": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ByteMatchSetUpdate"
      }
    },
    "ByteMatchTargetString": {
      "type": "string"
    },
    "ByteMatchTuple": {
      "type": "object",
      "required": [
        "FieldToMatch",
        "TargetString",
        "TextTransformation",
        "PositionalConstraint"
      ],
      "properties": {
        "FieldToMatch": {
          "$ref": "#/definitions/FieldToMatch",
          "description": "The part of a web request that you want AWS WAF to search, such as a specified header or a query string. For more information, see <a>FieldToMatch</a>."
        },
        "TargetString": {
          "$ref": "#/definitions/ByteMatchTargetString",
          "description": "<p>The value that you want AWS WAF to search for. AWS WAF searches for the specified string in the part of web requests that you specified in <code>FieldToMatch</code>. The maximum length of the value is 50 bytes.</p> <p>Valid values depend on the values that you specified for <code>FieldToMatch</code>:</p> <ul> <li><code>HEADER</code>: The value that you want AWS WAF to search for in the request header that you specified in <a>FieldToMatch</a>, for example, the value of the <code>User-Agent</code> or <code>Referer</code> header.</li> <li><code>METHOD</code>: The HTTP method, which indicates the type of operation specified in the request. CloudFront supports the following methods: <code>DELETE</code>, <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, <code>PATCH</code>, <code>POST</code>, and <code>PUT</code>.</li> <li><code>QUERY_STRING</code>: The value that you want AWS WAF to search for in the query string, which is the part of a URL that appears after a <code>?</code> character.</li> <li><code>URI</code>: The value that you want AWS WAF to search for in the part of a URL that identifies a resource, for example, <code>/images/daily-ad.jpg</code>.</li> <li><code>BODY</code>: The part of a request that contains any additional data that you want to send to your web server as the HTTP request body, such as data from a form. The request body immediately follows the request headers. Note that only the first <code>8192</code> bytes of the request body are forwarded to AWS WAF for inspection. To allow or block requests based on the length of the body, you can create a size constraint set. For more information, see <a>CreateSizeConstraintSet</a>. </li> </ul> <p>If <code>TargetString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p> <p><b>If you're using the AWS WAF API</b></p> <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 50 bytes. </p> <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the value of <code>Data</code> is <code>User-Agent</code>. If you want to search the <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode <code>BadBot</code> using MIME base64 encoding and include the resulting value, <code>QmFkQm90</code>, in the value of <code>TargetString</code>.</p> <p><b>If you're using the AWS CLI or one of the AWS SDKs</b></p> <p>The value that you want AWS WAF to search for. The SDK automatically base64 encodes the value.</p>"
        },
        "TextTransformation": {
          "$ref": "#/definitions/TextTransformation",
          "description": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass AWS WAF. If you specify a transformation, AWS WAF performs the transformation on <code>TargetString</code> before inspecting a request for a match.</p> <p><b>CMD_LINE</b></p> <p>When you're concerned that attackers are injecting an operating system commandline command and using unusual formatting to disguise some or all of the command, use this option to perform the following transformations:</p> <ul> <li>Delete the following characters: \\ \" ' ^</li> <li>Delete spaces before the following characters: / (</li> <li>Replace the following characters with a space: , ;</li> <li>Replace multiple spaces with one space</li> <li>Convert uppercase letters (A-Z) to lowercase (a-z)</li> </ul> <p><b>COMPRESS_WHITE_SPACE</b></p> <p>Use this option to replace the following characters with a space character (decimal 32):</p> <ul> <li>\\f, formfeed, decimal 12</li> <li>\\t, tab, decimal 9</li> <li>\\n, newline, decimal 10</li> <li>\\r, carriage return, decimal 13</li> <li>\\v, vertical tab, decimal 11</li> <li>non-breaking space, decimal 160</li> </ul> <p><code>COMPRESS_WHITE_SPACE</code> also replaces multiple spaces with one space.</p> <p><b>HTML_ENTITY_DECODE</b></p> <p>Use this option to replace HTML-encoded characters with unencoded characters. <code>HTML_ENTITY_DECODE</code> performs the following operations:</p> <ul> <li>Replaces <code>(ampersand)quot;</code> with <code>\"</code></li> <li>Replaces <code>(ampersand)nbsp;</code> with a non-breaking space, decimal 160</li> <li>Replaces <code>(ampersand)lt;</code> with a \"less than\" symbol</li> <li>Replaces <code>(ampersand)gt;</code> with <code>></code></li> <li>Replaces characters that are represented in hexadecimal format, <code>(ampersand)#xhhhh;</code>, with the corresponding characters</li> <li>Replaces characters that are represented in decimal format, <code>(ampersand)#nnnn;</code>, with the corresponding characters</li> </ul> <p><b>LOWERCASE</b></p> <p>Use this option to convert uppercase letters (A-Z) to lowercase (a-z).</p> <p><b>URL_DECODE</b></p> <p>Use this option to decode a URL-encoded value.</p> <p><b>NONE</b></p> <p>Specify <code>NONE</code> if you don't want to perform any text transformations.</p>"
        },
        "PositionalConstraint": {
          "$ref": "#/definitions/PositionalConstraint",
          "description": "<p>Within the portion of a web request that you want to search (for example, in the query string, if any), specify where you want AWS WAF to search. Valid values include the following:</p> <p><b>CONTAINS</b></p> <p>The specified part of the web request must include the value of <code>TargetString</code>, but the location doesn't matter.</p> <p><b>CONTAINS_WORD</b></p> <p>The specified part of the web request must include the value of <code>TargetString</code>, and <code>TargetString</code> must contain only alphanumeric characters or underscore (A-Z, a-z, 0-9, or _). In addition, <code>TargetString</code> must be a word, which means one of the following:</p> <ul> <li><code>TargetString</code> exactly matches the value of the specified part of the web request, such as the value of a header.</li> <li><code>TargetString</code> is at the beginning of the specified part of the web request and is followed by a character other than an alphanumeric character or underscore (_), for example, <code>BadBot;</code>.</li> <li><code>TargetString</code> is at the end of the specified part of the web request and is preceded by a character other than an alphanumeric character or underscore (_), for example, <code>;BadBot</code>.</li> <li><code>TargetString</code> is in the middle of the specified part of the web request and is preceded and followed by characters other than alphanumeric characters or underscore (_), for example, <code>-BadBot;</code>.</li> </ul> <p><b>EXACTLY</b></p> <p>The value of the specified part of the web request must exactly match the value of <code>TargetString</code>.</p> <p><b>STARTS_WITH</b></p> <p>The value of <code>TargetString</code> must appear at the beginning of the specified part of the web request.</p> <p><b>ENDS_WITH</b></p> <p>The value of <code>TargetString</code> must appear at the end of the specified part of the web request.</p>"
        }
      },
      "description": "The bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to search for in web requests, the location in requests that you want AWS WAF to search, and other settings."
    },
    "ByteMatchTuples": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ByteMatchTuple"
      }
    },
    "ChangeAction": {
      "type": "string",
      "enum": [
        "INSERT",
        "DELETE"
      ]
    },
    "ChangeToken": {
      "type": "string"
    },
    "ChangeTokenStatus": {
      "type": "string",
      "enum": [
        "PROVISIONED",
        "PENDING",
        "INSYNC"
      ]
    },
    "ComparisonOperator": {
      "type": "string",
      "enum": [
        "EQ",
        "NE",
        "LE",
        "LT",
        "GE",
        "GT"
      ]
    },
    "Country": {
      "type": "string"
    },
    "CreateByteMatchSetRequest": {
      "type": "object",
      "required": [
        "Name",
        "ChangeToken"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>ByteMatchSet</a>. You can't change <code>Name</code> after you create a <code>ByteMatchSet</code>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "CreateByteMatchSetResponse": {
      "type": "object",
      "properties": {
        "ByteMatchSet": {
          "$ref": "#/definitions/ByteMatchSet",
          "description": "A <a>ByteMatchSet</a> that contains no <code>ByteMatchTuple</code> objects."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>CreateByteMatchSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "CreateIPSetRequest": {
      "type": "object",
      "required": [
        "Name",
        "ChangeToken"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>IPSet</a>. You can't change <code>Name</code> after you create the <code>IPSet</code>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "CreateIPSetResponse": {
      "type": "object",
      "properties": {
        "IPSet": {
          "$ref": "#/definitions/IPSet",
          "description": "The <a>IPSet</a> returned in the <code>CreateIPSet</code> response."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>CreateIPSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "CreateRuleRequest": {
      "type": "object",
      "required": [
        "Name",
        "MetricName",
        "ChangeToken"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>Rule</a>. You can't change the name of a <code>Rule</code> after you create it."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "A friendly name or description for the metrics for this <code>Rule</code>. The name can contain only alphanumeric characters (A-Z, a-z, 0-9); the name can't contain whitespace. You can't change the name of the metric after you create the <code>Rule</code>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "CreateRuleResponse": {
      "type": "object",
      "properties": {
        "Rule": {
          "$ref": "#/definitions/Rule",
          "description": "The <a>Rule</a> returned in the <code>CreateRule</code> response."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>CreateRule</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "CreateSizeConstraintSetRequest": {
      "type": "object",
      "required": [
        "Name",
        "ChangeToken"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>SizeConstraintSet</a>. You can't change <code>Name</code> after you create a <code>SizeConstraintSet</code>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "CreateSizeConstraintSetResponse": {
      "type": "object",
      "properties": {
        "SizeConstraintSet": {
          "$ref": "#/definitions/SizeConstraintSet",
          "description": "A <a>SizeConstraintSet</a> that contains no <code>SizeConstraint</code> objects."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>CreateSizeConstraintSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "CreateSqlInjectionMatchSetRequest": {
      "type": "object",
      "required": [
        "Name",
        "ChangeToken"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description for the <a>SqlInjectionMatchSet</a> that you're creating. You can't change <code>Name</code> after you create the <code>SqlInjectionMatchSet</code>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      },
      "description": "A request to create a <a>SqlInjectionMatchSet</a>."
    },
    "CreateSqlInjectionMatchSetResponse": {
      "type": "object",
      "properties": {
        "SqlInjectionMatchSet": {
          "$ref": "#/definitions/SqlInjectionMatchSet",
          "description": "A <a>SqlInjectionMatchSet</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>CreateSqlInjectionMatchSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      },
      "description": "The response to a <code>CreateSqlInjectionMatchSet</code> request."
    },
    "CreateWebACLRequest": {
      "type": "object",
      "required": [
        "Name",
        "MetricName",
        "DefaultAction",
        "ChangeToken"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>WebACL</a>. You can't change <code>Name</code> after you create the <code>WebACL</code>."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName",
          "description": "A friendly name or description for the metrics for this <code>WebACL</code>. The name can contain only alphanumeric characters (A-Z, a-z, 0-9); the name can't contain whitespace. You can't change <code>MetricName</code> after you create the <code>WebACL</code>."
        },
        "DefaultAction": {
          "$ref": "#/definitions/WafAction",
          "description": "The action that you want AWS WAF to take when a request doesn't match the criteria specified in any of the <code>Rule</code> objects that are associated with the <code>WebACL</code>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "CreateWebACLResponse": {
      "type": "object",
      "properties": {
        "WebACL": {
          "$ref": "#/definitions/WebACL",
          "description": "The <a>WebACL</a> returned in the <code>CreateWebACL</code> response."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>CreateWebACL</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "CreateXssMatchSetRequest": {
      "type": "object",
      "required": [
        "Name",
        "ChangeToken"
      ],
      "properties": {
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description for the <a>XssMatchSet</a> that you're creating. You can't change <code>Name</code> after you create the <code>XssMatchSet</code>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      },
      "description": "A request to create an <a>XssMatchSet</a>."
    },
    "CreateXssMatchSetResponse": {
      "type": "object",
      "properties": {
        "XssMatchSet": {
          "$ref": "#/definitions/XssMatchSet",
          "description": "An <a>XssMatchSet</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>CreateXssMatchSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      },
      "description": "The response to a <code>CreateXssMatchSet</code> request."
    },
    "DeleteByteMatchSetRequest": {
      "type": "object",
      "required": [
        "ByteMatchSetId",
        "ChangeToken"
      ],
      "properties": {
        "ByteMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>ByteMatchSetId</code> of the <a>ByteMatchSet</a> that you want to delete. <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "DeleteByteMatchSetResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>DeleteByteMatchSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "DeleteIPSetRequest": {
      "type": "object",
      "required": [
        "IPSetId",
        "ChangeToken"
      ],
      "properties": {
        "IPSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>IPSetId</code> of the <a>IPSet</a> that you want to delete. <code>IPSetId</code> is returned by <a>CreateIPSet</a> and by <a>ListIPSets</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "DeleteIPSetResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>DeleteIPSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "DeleteRuleRequest": {
      "type": "object",
      "required": [
        "RuleId",
        "ChangeToken"
      ],
      "properties": {
        "RuleId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>RuleId</code> of the <a>Rule</a> that you want to delete. <code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "DeleteRuleResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>DeleteRule</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "DeleteSizeConstraintSetRequest": {
      "type": "object",
      "required": [
        "SizeConstraintSetId",
        "ChangeToken"
      ],
      "properties": {
        "SizeConstraintSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>SizeConstraintSetId</code> of the <a>SizeConstraintSet</a> that you want to delete. <code>SizeConstraintSetId</code> is returned by <a>CreateSizeConstraintSet</a> and by <a>ListSizeConstraintSets</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "DeleteSizeConstraintSetResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>DeleteSizeConstraintSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "DeleteSqlInjectionMatchSetRequest": {
      "type": "object",
      "required": [
        "SqlInjectionMatchSetId",
        "ChangeToken"
      ],
      "properties": {
        "SqlInjectionMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>SqlInjectionMatchSetId</code> of the <a>SqlInjectionMatchSet</a> that you want to delete. <code>SqlInjectionMatchSetId</code> is returned by <a>CreateSqlInjectionMatchSet</a> and by <a>ListSqlInjectionMatchSets</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      },
      "description": "A request to delete a <a>SqlInjectionMatchSet</a> from AWS WAF."
    },
    "DeleteSqlInjectionMatchSetResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>DeleteSqlInjectionMatchSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      },
      "description": "The response to a request to delete a <a>SqlInjectionMatchSet</a> from AWS WAF."
    },
    "DeleteWebACLRequest": {
      "type": "object",
      "required": [
        "WebACLId",
        "ChangeToken"
      ],
      "properties": {
        "WebACLId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>WebACLId</code> of the <a>WebACL</a> that you want to delete. <code>WebACLId</code> is returned by <a>CreateWebACL</a> and by <a>ListWebACLs</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      }
    },
    "DeleteWebACLResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>DeleteWebACL</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      }
    },
    "DeleteXssMatchSetRequest": {
      "type": "object",
      "required": [
        "XssMatchSetId",
        "ChangeToken"
      ],
      "properties": {
        "XssMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>XssMatchSetId</code> of the <a>XssMatchSet</a> that you want to delete. <code>XssMatchSetId</code> is returned by <a>CreateXssMatchSet</a> and by <a>ListXssMatchSets</a>."
        },
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The value returned by the most recent call to <a>GetChangeToken</a>."
        }
      },
      "description": "A request to delete an <a>XssMatchSet</a> from AWS WAF."
    },
    "DeleteXssMatchSetResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used to submit the <code>DeleteXssMatchSet</code> request. You can also use this value to query the status of the request. For more information, see <a>GetChangeTokenStatus</a>."
        }
      },
      "description": "The response to a request to delete an <a>XssMatchSet</a> from AWS WAF."
    },
    "FieldToMatch": {
      "type": "object",
      "required": [
        "Type"
      ],
      "properties": {
        "Type": {
          "$ref": "#/definitions/MatchFieldType",
          "description": "<p>The part of the web request that you want AWS WAF to search for a specified string. Parts of a request that you can search include the following:</p> <ul> <li><code>HEADER</code>: A specified request header, for example, the value of the <code>User-Agent</code> or <code>Referer</code> header. If you choose <code>HEADER</code> for the type, specify the name of the header in <code>Data</code>.</li> <li><code>METHOD</code>: The HTTP method, which indicated the type of operation that the request is asking the origin to perform. Amazon CloudFront supports the following methods: <code>DELETE</code>, <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, <code>PATCH</code>, <code>POST</code>, and <code>PUT</code>.</li> <li><code>QUERY_STRING</code>: A query string, which is the part of a URL that appears after a <code>?</code> character, if any.</li> <li><code>URI</code>: The part of a web request that identifies a resource, for example, <code>/images/daily-ad.jpg</code>.</li> <li><code>BODY</code>: The part of a request that contains any additional data that you want to send to your web server as the HTTP request body, such as data from a form. The request body immediately follows the request headers. Note that only the first <code>8192</code> bytes of the request body are forwarded to AWS WAF for inspection. To allow or block requests based on the length of the body, you can create a size constraint set. For more information, see <a>CreateSizeConstraintSet</a>. </li> </ul>"
        },
        "Data": {
          "$ref": "#/definitions/MatchFieldData",
          "description": "<p>When the value of <code>Type</code> is <code>HEADER</code>, enter the name of the header that you want AWS WAF to search, for example, <code>User-Agent</code> or <code>Referer</code>. If the value of <code>Type</code> is any other value, omit <code>Data</code>.</p> <p>The name of the header is not case sensitive.</p>"
        }
      },
      "description": "Specifies where in a web request to look for <code>TargetString</code>."
    },
    "GetByteMatchSetRequest": {
      "type": "object",
      "required": [
        "ByteMatchSetId"
      ],
      "properties": {
        "ByteMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>ByteMatchSetId</code> of the <a>ByteMatchSet</a> that you want to get. <code>ByteMatchSetId</code> is returned by <a>CreateByteMatchSet</a> and by <a>ListByteMatchSets</a>."
        }
      }
    },
    "GetByteMatchSetResponse": {
      "type": "object",
      "properties": {
        "ByteMatchSet": {
          "$ref": "#/definitions/ByteMatchSet",
          "description": "<p>Information about the <a>ByteMatchSet</a> that you specified in the <code>GetByteMatchSet</code> request. For more information, see the following topics:</p> <ul> <li><a>ByteMatchSet</a>: Contains <code>ByteMatchSetId</code>, <code>ByteMatchTuples</code>, and <code>Name</code></li> <li><code>ByteMatchTuples</code>: Contains an array of <a>ByteMatchTuple</a> objects. Each <code>ByteMatchTuple</code> object contains <a>FieldToMatch</a>, <code>PositionalConstraint</code>, <code>TargetString</code>, and <code>TextTransformation</code></li> <li><a>FieldToMatch</a>: Contains <code>Data</code> and <code>Type</code></li> </ul>"
        }
      }
    },
    "GetChangeTokenRequest": {
      "type": "object",
      "properties": {}
    },
    "GetChangeTokenResponse": {
      "type": "object",
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The <code>ChangeToken</code> that you used in the request. Use this value in a <code>GetChangeTokenStatus</code> request to get the current status of the request. "
        }
      }
    },
    "GetChangeTokenStatusRequest": {
      "type": "object",
      "required": [
        "ChangeToken"
      ],
      "properties": {
        "ChangeToken": {
          "$ref": "#/definitions/ChangeToken",
          "description": "The change token for which you want to get the status. This change token was previously returned in the <code>GetChangeToken</code> response."
        }
      }
    },
    "GetChangeTokenStatusResponse": {
      "type": "object",
      "properties": {
        "ChangeTokenStatus": {
          "$ref": "#/definitions/ChangeTokenStatus",
          "description": "The status of the change token."
        }
      }
    },
    "GetIPSetRequest": {
      "type": "object",
      "required": [
        "IPSetId"
      ],
      "properties": {
        "IPSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>IPSetId</code> of the <a>IPSet</a> that you want to get. <code>IPSetId</code> is returned by <a>CreateIPSet</a> and by <a>ListIPSets</a>."
        }
      }
    },
    "GetIPSetResponse": {
      "type": "object",
      "properties": {
        "IPSet": {
          "$ref": "#/definitions/IPSet",
          "description": "<p>Information about the <a>IPSet</a> that you specified in the <code>GetIPSet</code> request. For more information, see the following topics:</p> <ul> <li><a>IPSet</a>: Contains <code>IPSetDescriptors</code>, <code>IPSetId</code>, and <code>Name</code></li> <li><code>IPSetDescriptors</code>: Contains an array of <a>IPSetDescriptor</a> objects. Each <code>IPSetDescriptor</code> object contains <code>Type</code> and <code>Value</code></li> </ul>"
        }
      }
    },
    "GetRuleRequest": {
      "type": "object",
      "required": [
        "RuleId"
      ],
      "properties": {
        "RuleId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>RuleId</code> of the <a>Rule</a> that you want to get. <code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>."
        }
      }
    },
    "GetRuleResponse": {
      "type": "object",
      "properties": {
        "Rule": {
          "$ref": "#/definitions/Rule",
          "description": "<p>Information about the <a>Rule</a> that you specified in the <code>GetRule</code> request. For more information, see the following topics:</p> <ul> <li><a>Rule</a>: Contains <code>MetricName</code>, <code>Name</code>, an array of <code>Predicate</code> objects, and <code>RuleId</code></li> <li><a>Predicate</a>: Each <code>Predicate</code> object contains <code>DataId</code>, <code>Negated</code>, and <code>Type</code></li> </ul>"
        }
      }
    },
    "GetSampledRequestsRequest": {
      "type": "object",
      "required": [
        "WebAclId",
        "RuleId",
        "TimeWindow",
        "MaxItems"
      ],
      "properties": {
        "WebAclId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>WebACLId</code> of the <code>WebACL</code> for which you want <code>GetSampledRequests</code> to return a sample of requests."
        },
        "RuleId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p><code>RuleId</code> is one of two values:</p> <ul> <li>The <code>RuleId</code> of the <code>Rule</code> for which you want <code>GetSampledRequests</code> to return a sample of requests.</li> <li><code>Default_Action</code>, which causes <code>GetSampledRequests</code> to return a sample of the requests that didn't match any of the rules in the specified <code>WebACL</code>.</li> </ul>"
        },
        "TimeWindow": {
          "$ref": "#/definitions/TimeWindow",
          "description": "The start date and time and the end date and time of the range for which you want <code>GetSampledRequests</code> to return a sample of requests. Specify the date and time in Unix time format (in seconds). You can specify any time range in the previous three hours."
        },
        "MaxItems": {
          "$ref": "#/definitions/ListMaxItems",
          "description": "The number of requests that you want AWS WAF to return from among the first 5,000 requests that your AWS resource received during the time range. If your resource received fewer requests than the value of <code>MaxItems</code>, <code>GetSampledRequests</code> returns information about all of them. "
        }
      }
    },
    "GetSampledRequestsResponse": {
      "type": "object",
      "properties": {
        "SampledRequests": {
          "$ref": "#/definitions/SampledHTTPRequests",
          "description": "A complex type that contains detailed information about each of the requests in the sample."
        },
        "PopulationSize": {
          "$ref": "#/definitions/PopulationSize",
          "description": "The total number of requests from which <code>GetSampledRequests</code> got a sample of <code>MaxItems</code> requests. If <code>PopulationSize</code> is less than <code>MaxItems</code>, the sample includes every request that your AWS resource received during the specified time range."
        },
        "TimeWindow": {
          "$ref": "#/definitions/TimeWindow",
          "description": "Usually, <code>TimeWindow</code> is the time range that you specified in the <code>GetSampledRequests</code> request. However, if your AWS resource received more than 5,000 requests during the time range that you specified in the request, <code>GetSampledRequests</code> returns the time range for the first 5,000 requests."
        }
      }
    },
    "GetSizeConstraintSetRequest": {
      "type": "object",
      "required": [
        "SizeConstraintSetId"
      ],
      "properties": {
        "SizeConstraintSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>SizeConstraintSetId</code> of the <a>SizeConstraintSet</a> that you want to get. <code>SizeConstraintSetId</code> is returned by <a>CreateSizeConstraintSet</a> and by <a>ListSizeConstraintSets</a>."
        }
      }
    },
    "GetSizeConstraintSetResponse": {
      "type": "object",
      "properties": {
        "SizeConstraintSet": {
          "$ref": "#/definitions/SizeConstraintSet",
          "description": "<p>Information about the <a>SizeConstraintSet</a> that you specified in the <code>GetSizeConstraintSet</code> request. For more information, see the following topics:</p> <ul> <li><a>SizeConstraintSet</a>: Contains <code>SizeConstraintSetId</code>, <code>SizeConstraints</code>, and <code>Name</code></li> <li><code>SizeConstraints</code>: Contains an array of <a>SizeConstraint</a> objects. Each <code>SizeConstraint</code> object contains <a>FieldToMatch</a>, <code>TextTransformation</code>, <code>ComparisonOperator</code>, and <code>Size</code></li> <li><a>FieldToMatch</a>: Contains <code>Data</code> and <code>Type</code></li> </ul>"
        }
      }
    },
    "GetSqlInjectionMatchSetRequest": {
      "type": "object",
      "required": [
        "SqlInjectionMatchSetId"
      ],
      "properties": {
        "SqlInjectionMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>SqlInjectionMatchSetId</code> of the <a>SqlInjectionMatchSet</a> that you want to get. <code>SqlInjectionMatchSetId</code> is returned by <a>CreateSqlInjectionMatchSet</a> and by <a>ListSqlInjectionMatchSets</a>."
        }
      },
      "description": "A request to get a <a>SqlInjectionMatchSet</a>."
    },
    "GetSqlInjectionMatchSetResponse": {
      "type": "object",
      "properties": {
        "SqlInjectionMatchSet": {
          "$ref": "#/definitions/SqlInjectionMatchSet",
          "description": "<p>Information about the <a>SqlInjectionMatchSet</a> that you specified in the <code>GetSqlInjectionMatchSet</code> request. For more information, see the following topics:</p> <ul> <li><a>SqlInjectionMatchSet</a>: Contains <code>Name</code>, <code>SqlInjectionMatchSetId</code>, and an array of <code>SqlInjectionMatchTuple</code> objects</li> <li><a>SqlInjectionMatchTuple</a>: Each <code>SqlInjectionMatchTuple</code> object contains <code>FieldToMatch</code> and <code>TextTransformation</code></li> <li><a>FieldToMatch</a>: Contains <code>Data</code> and <code>Type</code></li> </ul>"
        }
      },
      "description": "The response to a <a>GetSqlInjectionMatchSet</a> request."
    },
    "GetWebACLRequest": {
      "type": "object",
      "required": [
        "WebACLId"
      ],
      "properties": {
        "WebACLId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>WebACLId</code> of the <a>WebACL</a> that you want to get. <code>WebACLId</code> is returned by <a>CreateWebACL</a> and by <a>ListWebACLs</a>."
        }
      }
    },
    "GetWebACLResponse": {
      "type": "object",
      "properties": {
        "WebACL": {
          "$ref": "#/definitions/WebACL",
          "description": "<p>Information about the <a>WebACL</a> that you specified in the <code>GetWebACL</code> request. For more information, see the following topics:</p> <ul> <li><a>WebACL</a>: Contains <code>DefaultAction</code>, <code>MetricName</code>, <code>Name</code>, an array of <code>Rule</code> objects, and <code>WebACLId</code></li> <li><code>DefaultAction</code> (Data type is <a>WafAction</a>): Contains <code>Type</code></li> <li><code>Rules</code>: Contains an array of <code>ActivatedRule</code> objects, which contain <code>Action</code>, <code>Priority</code>, and <code>RuleId</code></li> <li><code>Action</code>: Contains <code>Type</code></li> </ul>"
        }
      }
    },
    "GetXssMatchSetRequest": {
      "type": "object",
      "required": [
        "XssMatchSetId"
      ],
      "properties": {
        "XssMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>XssMatchSetId</code> of the <a>XssMatchSet</a> that you want to get. <code>XssMatchSetId</code> is returned by <a>CreateXssMatchSet</a> and by <a>ListXssMatchSets</a>."
        }
      },
      "description": "A request to get an <a>XssMatchSet</a>."
    },
    "GetXssMatchSetResponse": {
      "type": "object",
      "properties": {
        "XssMatchSet": {
          "$ref": "#/definitions/XssMatchSet",
          "description": "<p>Information about the <a>XssMatchSet</a> that you specified in the <code>GetXssMatchSet</code> request. For more information, see the following topics:</p> <ul> <li><a>XssMatchSet</a>: Contains <code>Name</code>, <code>XssMatchSetId</code>, and an array of <code>XssMatchTuple</code> objects</li> <li><a>XssMatchTuple</a>: Each <code>XssMatchTuple</code> object contains <code>FieldToMatch</code> and <code>TextTransformation</code></li> <li><a>FieldToMatch</a>: Contains <code>Data</code> and <code>Type</code></li> </ul>"
        }
      },
      "description": "The response to a <a>GetXssMatchSet</a> request."
    },
    "HTTPHeader": {
      "type": "object",
      "properties": {
        "Name": {
          "$ref": "#/definitions/HeaderName",
          "description": "The name of one of the headers in the sampled web request."
        },
        "Value": {
          "$ref": "#/definitions/HeaderValue",
          "description": "The value of one of the headers in the sampled web request."
        }
      },
      "description": "The response from a <a>GetSampledRequests</a> request includes an <code>HTTPHeader</code> complex type that appears as <code>Headers</code> in the response syntax. <code>HTTPHeader</code> contains the names and values of all of the headers that appear in one of the web requests that were returned by <code>GetSampledRequests</code>. "
    },
    "HTTPHeaders": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/HTTPHeader"
      }
    },
    "HTTPMethod": {
      "type": "string"
    },
    "HTTPRequest": {
      "type": "object",
      "properties": {
        "ClientIP": {
          "$ref": "#/definitions/IPString",
          "description": "<p>The IP address that the request originated from. If the <code>WebACL</code> is associated with a CloudFront distribution, this is the value of one of the following fields in CloudFront access logs:</p> <ul> <li><code>c-ip</code>, if the viewer did not use an HTTP proxy or a load balancer to send the request</li> <li><code>x-forwarded-for</code>, if the viewer did use an HTTP proxy or a load balancer to send the request</li> </ul>"
        },
        "Country": {
          "$ref": "#/definitions/Country",
          "description": "The two-letter country code for the country that the request originated from. For a current list of country codes, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2</a>."
        },
        "URI": {
          "$ref": "#/definitions/URIString",
          "description": "The part of a web request that identifies the resource, for example, <code>/images/daily-ad.jpg</code>."
        },
        "Method": {
          "$ref": "#/definitions/HTTPMethod",
          "description": "The HTTP method specified in the sampled web request. CloudFront supports the following methods: <code>DELETE</code>, <code>GET</code>, <code>HEAD</code>, <code>OPTIONS</code>, <code>PATCH</code>, <code>POST</code>, and <code>PUT</code>. "
        },
        "HTTPVersion": {
          "$ref": "#/definitions/HTTPVersion",
          "description": "The HTTP version specified in the sampled web request, for example, <code>HTTP/1.1</code>."
        },
        "Headers": {
          "$ref": "#/definitions/HTTPHeaders",
          "description": "A complex type that contains two values for each header in the sampled web request: the name of the header and the value of the header."
        }
      },
      "description": "The response from a <a>GetSampledRequests</a> request includes an <code>HTTPRequest</code> complex type that appears as <code>Request</code> in the response syntax. <code>HTTPRequest</code> contains information about one of the web requests that were returned by <code>GetSampledRequests</code>. "
    },
    "HTTPVersion": {
      "type": "string"
    },
    "HeaderName": {
      "type": "string"
    },
    "HeaderValue": {
      "type": "string"
    },
    "IPSet": {
      "type": "object",
      "required": [
        "IPSetId",
        "IPSetDescriptors"
      ],
      "properties": {
        "IPSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>The <code>IPSetId</code> for an <code>IPSet</code>. You use <code>IPSetId</code> to get information about an <code>IPSet</code> (see <a>GetIPSet</a>), update an <code>IPSet</code> (see <a>UpdateIPSet</a>), insert an <code>IPSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and delete an <code>IPSet</code> from AWS WAF (see <a>DeleteIPSet</a>).</p> <p><code>IPSetId</code> is returned by <a>CreateIPSet</a> and by <a>ListIPSets</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>IPSet</a>. You can't change the name of an <code>IPSet</code> after you create it."
        },
        "IPSetDescriptors": {
          "$ref": "#/definitions/IPSetDescriptors",
          "description": "<p>The IP address type (<code>IPV4</code>) and the IP address range (in CIDR notation) that web requests originate from. If the <code>WebACL</code> is associated with a CloudFront distribution, this is the value of one of the following fields in CloudFront access logs:</p> <ul> <li><code>c-ip</code>, if the viewer did not use an HTTP proxy or a load balancer to send the request</li> <li><code>x-forwarded-for</code>, if the viewer did use an HTTP proxy or a load balancer to send the request</li> </ul>"
        }
      },
      "description": "Contains one or more IP addresses or blocks of IP addresses specified in Classless Inter-Domain Routing (CIDR) notation. To specify an individual IP address, you specify the four-part IP address followed by a <code>/32</code>, for example, 192.0.2.0/31. To block a range of IP addresses, you can specify a <code>/24</code>, a <code>/16</code>, or a <code>/8</code> CIDR. For more information about CIDR notation, perform an Internet search on <code>cidr notation</code>."
    },
    "IPSetDescriptor": {
      "type": "object",
      "required": [
        "Type",
        "Value"
      ],
      "properties": {
        "Type": {
          "$ref": "#/definitions/IPSetDescriptorType",
          "description": "Specify <code>IPV4</code>."
        },
        "Value": {
          "$ref": "#/definitions/IPSetDescriptorValue",
          "description": "<p>Specify an IPv4 address by using CIDR notation. For example:</p> <ul> <li>To configure AWS WAF to allow, block, or count requests that originated from the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</li> <li>To configure AWS WAF to allow, block, or count requests that originated from IP addresses from 192.0.2.0 to 192.0.2.255, specify <code>192.0.2.0/24</code>.</li> </ul> <p>AWS WAF supports only /8, /16, /24, and /32 IP addresses.</p> <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p>"
        }
      },
      "description": "Specifies the IP address type (<code>IPV4</code>) and the IP address range (in CIDR format) that web requests originate from."
    },
    "IPSetDescriptorType": {
      "type": "string",
      "enum": [
        "IPV4"
      ]
    },
    "IPSetDescriptorValue": {
      "type": "string"
    },
    "IPSetDescriptors": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/IPSetDescriptor"
      }
    },
    "IPSetSummaries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/IPSetSummary"
      }
    },
    "IPSetSummary": {
      "type": "object",
      "required": [
        "IPSetId",
        "Name"
      ],
      "properties": {
        "IPSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "The <code>IPSetId</code> for an <a>IPSet</a>. You can use <code>IPSetId</code> in a <a>GetIPSet</a> request to get detailed information about an <a>IPSet</a>."
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>IPSet</a>. You can't change the name of an <code>IPSet</code> after you create it."
        }
      },
      "description": "Contains the identifier and the name of the <code>IPSet</code>."
    },
    "IPSetUpdate": {
      "type": "object",
      "required": [
        "Action",
        "IPSetDescriptor"
      ],
      "properties": {
        "Action": {
          "$ref": "#/definitions/ChangeAction",
          "description": "Specifies whether to insert or delete an IP address with <a>UpdateIPSet</a>."
        },
        "IPSetDescriptor": {
          "$ref": "#/definitions/IPSetDescriptor",
          "description": "The IP address type (<code>IPV4</code>) and the IP address range (in CIDR notation) that web requests originate from."
        }
      },
      "description": "Specifies the type of update to perform to an <a>IPSet</a> with <a>UpdateIPSet</a>."
    },
    "IPSetUpdates": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/IPSetUpdate"
      }
    },
    "IPString": {
      "type": "string"
    },
    "ListByteMatchSetsRequest": {
      "type": "object",
      "required": [
        "Limit"
      ],
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you specify a value for <code>Limit</code> and you have more <code>ByteMatchSets</code> than the value of <code>Limit</code>, AWS WAF returns a <code>NextMarker</code> value in the response that allows you to list another group of <code>ByteMatchSets</code>. For the second and subsequent <code>ListByteMatchSets</code> requests, specify the value of <code>NextMarker</code> from the previous response to get information about another batch of <code>ByteMatchSets</code>."
        },
        "Limit": {
          "$ref": "#/definitions/PaginationLimit",
          "description": "Specifies the number of <code>ByteMatchSet</code> objects that you want AWS WAF to return for this request. If you have more <code>ByteMatchSets</code> objects than the number you specify for <code>Limit</code>, the response includes a <code>NextMarker</code> value that you can use to get another batch of <code>ByteMatchSet</code> objects."
        }
      }
    },
    "ListByteMatchSetsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you have more <code>ByteMatchSet</code> objects than the number that you specified for <code>Limit</code> in the request, the response includes a <code>NextMarker</code> value. To list more <code>ByteMatchSet</code> objects, submit another <code>ListByteMatchSets</code> request, and specify the <code>NextMarker</code> value from the response in the <code>NextMarker</code> value in the next request."
        },
        "ByteMatchSets": {
          "$ref": "#/definitions/ByteMatchSetSummaries",
          "description": "An array of <a>ByteMatchSetSummary</a> objects."
        }
      }
    },
    "ListIPSetsRequest": {
      "type": "object",
      "required": [
        "Limit"
      ],
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you specify a value for <code>Limit</code> and you have more <code>IPSets</code> than the value of <code>Limit</code>, AWS WAF returns a <code>NextMarker</code> value in the response that allows you to list another group of <code>IPSets</code>. For the second and subsequent <code>ListIPSets</code> requests, specify the value of <code>NextMarker</code> from the previous response to get information about another batch of <code>ByteMatchSets</code>."
        },
        "Limit": {
          "$ref": "#/definitions/PaginationLimit",
          "description": "Specifies the number of <code>IPSet</code> objects that you want AWS WAF to return for this request. If you have more <code>IPSet</code> objects than the number you specify for <code>Limit</code>, the response includes a <code>NextMarker</code> value that you can use to get another batch of <code>IPSet</code> objects."
        }
      }
    },
    "ListIPSetsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you have more <code>IPSet</code> objects than the number that you specified for <code>Limit</code> in the request, the response includes a <code>NextMarker</code> value. To list more <code>IPSet</code> objects, submit another <code>ListIPSets</code> request, and specify the <code>NextMarker</code> value from the response in the <code>NextMarker</code> value in the next request."
        },
        "IPSets": {
          "$ref": "#/definitions/IPSetSummaries",
          "description": "An array of <a>IPSetSummary</a> objects."
        }
      }
    },
    "ListMaxItems": {
      "type": "integer",
      "minimum": 1,
      "maximum": 100
    },
    "ListRulesRequest": {
      "type": "object",
      "required": [
        "Limit"
      ],
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you specify a value for <code>Limit</code> and you have more <code>Rules</code> than the value of <code>Limit</code>, AWS WAF returns a <code>NextMarker</code> value in the response that allows you to list another group of <code>Rules</code>. For the second and subsequent <code>ListRules</code> requests, specify the value of <code>NextMarker</code> from the previous response to get information about another batch of <code>Rules</code>."
        },
        "Limit": {
          "$ref": "#/definitions/PaginationLimit",
          "description": "Specifies the number of <code>Rules</code> that you want AWS WAF to return for this request. If you have more <code>Rules</code> than the number that you specify for <code>Limit</code>, the response includes a <code>NextMarker</code> value that you can use to get another batch of <code>Rules</code>."
        }
      }
    },
    "ListRulesResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you have more <code>Rules</code> than the number that you specified for <code>Limit</code> in the request, the response includes a <code>NextMarker</code> value. To list more <code>Rules</code>, submit another <code>ListRules</code> request, and specify the <code>NextMarker</code> value from the response in the <code>NextMarker</code> value in the next request."
        },
        "Rules": {
          "$ref": "#/definitions/RuleSummaries",
          "description": "An array of <a>RuleSummary</a> objects."
        }
      }
    },
    "ListSizeConstraintSetsRequest": {
      "type": "object",
      "required": [
        "Limit"
      ],
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you specify a value for <code>Limit</code> and you have more <code>SizeConstraintSets</code> than the value of <code>Limit</code>, AWS WAF returns a <code>NextMarker</code> value in the response that allows you to list another group of <code>SizeConstraintSets</code>. For the second and subsequent <code>ListSizeConstraintSets</code> requests, specify the value of <code>NextMarker</code> from the previous response to get information about another batch of <code>SizeConstraintSets</code>."
        },
        "Limit": {
          "$ref": "#/definitions/PaginationLimit",
          "description": "Specifies the number of <code>SizeConstraintSet</code> objects that you want AWS WAF to return for this request. If you have more <code>SizeConstraintSets</code> objects than the number you specify for <code>Limit</code>, the response includes a <code>NextMarker</code> value that you can use to get another batch of <code>SizeConstraintSet</code> objects."
        }
      }
    },
    "ListSizeConstraintSetsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you have more <code>SizeConstraintSet</code> objects than the number that you specified for <code>Limit</code> in the request, the response includes a <code>NextMarker</code> value. To list more <code>SizeConstraintSet</code> objects, submit another <code>ListSizeConstraintSets</code> request, and specify the <code>NextMarker</code> value from the response in the <code>NextMarker</code> value in the next request."
        },
        "SizeConstraintSets": {
          "$ref": "#/definitions/SizeConstraintSetSummaries",
          "description": "An array of <a>SizeConstraintSetSummary</a> objects."
        }
      }
    },
    "ListSqlInjectionMatchSetsRequest": {
      "type": "object",
      "required": [
        "Limit"
      ],
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you specify a value for <code>Limit</code> and you have more <a>SqlInjectionMatchSet</a> objects than the value of <code>Limit</code>, AWS WAF returns a <code>NextMarker</code> value in the response that allows you to list another group of <code>SqlInjectionMatchSets</code>. For the second and subsequent <code>ListSqlInjectionMatchSets</code> requests, specify the value of <code>NextMarker</code> from the previous response to get information about another batch of <code>SqlInjectionMatchSets</code>."
        },
        "Limit": {
          "$ref": "#/definitions/PaginationLimit",
          "description": "Specifies the number of <a>SqlInjectionMatchSet</a> objects that you want AWS WAF to return for this request. If you have more <code>SqlInjectionMatchSet</code> objects than the number you specify for <code>Limit</code>, the response includes a <code>NextMarker</code> value that you can use to get another batch of <code>Rules</code>."
        }
      },
      "description": "A request to list the <a>SqlInjectionMatchSet</a> objects created by the current AWS account."
    },
    "ListSqlInjectionMatchSetsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you have more <a>SqlInjectionMatchSet</a> objects than the number that you specified for <code>Limit</code> in the request, the response includes a <code>NextMarker</code> value. To list more <code>SqlInjectionMatchSet</code> objects, submit another <code>ListSqlInjectionMatchSets</code> request, and specify the <code>NextMarker</code> value from the response in the <code>NextMarker</code> value in the next request."
        },
        "SqlInjectionMatchSets": {
          "$ref": "#/definitions/SqlInjectionMatchSetSummaries",
          "description": "An array of <a>SqlInjectionMatchSetSummary</a> objects."
        }
      },
      "description": "The response to a <a>ListSqlInjectionMatchSets</a> request."
    },
    "ListWebACLsRequest": {
      "type": "object",
      "required": [
        "Limit"
      ],
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you specify a value for <code>Limit</code> and you have more <code>WebACL</code> objects than the number that you specify for <code>Limit</code>, AWS WAF returns a <code>NextMarker</code> value in the response that allows you to list another group of <code>WebACL</code> objects. For the second and subsequent <code>ListWebACLs</code> requests, specify the value of <code>NextMarker</code> from the previous response to get information about another batch of <code>WebACL</code> objects."
        },
        "Limit": {
          "$ref": "#/definitions/PaginationLimit",
          "description": "Specifies the number of <code>WebACL</code> objects that you want AWS WAF to return for this request. If you have more <code>WebACL</code> objects than the number that you specify for <code>Limit</code>, the response includes a <code>NextMarker</code> value that you can use to get another batch of <code>WebACL</code> objects."
        }
      }
    },
    "ListWebACLsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you have more <code>WebACL</code> objects than the number that you specified for <code>Limit</code> in the request, the response includes a <code>NextMarker</code> value. To list more <code>WebACL</code> objects, submit another <code>ListWebACLs</code> request, and specify the <code>NextMarker</code> value from the response in the <code>NextMarker</code> value in the next request."
        },
        "WebACLs": {
          "$ref": "#/definitions/WebACLSummaries",
          "description": "An array of <a>WebACLSummary</a> objects."
        }
      }
    },
    "ListXssMatchSetsRequest": {
      "type": "object",
      "required": [
        "Limit"
      ],
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you specify a value for <code>Limit</code> and you have more <a>XssMatchSet</a> objects than the value of <code>Limit</code>, AWS WAF returns a <code>NextMarker</code> value in the response that allows you to list another group of <code>XssMatchSets</code>. For the second and subsequent <code>ListXssMatchSets</code> requests, specify the value of <code>NextMarker</code> from the previous response to get information about another batch of <code>XssMatchSets</code>."
        },
        "Limit": {
          "$ref": "#/definitions/PaginationLimit",
          "description": "Specifies the number of <a>XssMatchSet</a> objects that you want AWS WAF to return for this request. If you have more <code>XssMatchSet</code> objects than the number you specify for <code>Limit</code>, the response includes a <code>NextMarker</code> value that you can use to get another batch of <code>Rules</code>."
        }
      },
      "description": "A request to list the <a>XssMatchSet</a> objects created by the current AWS account."
    },
    "ListXssMatchSetsResponse": {
      "type": "object",
      "properties": {
        "NextMarker": {
          "$ref": "#/definitions/NextMarker",
          "description": "If you have more <a>XssMatchSet</a> objects than the number that you specified for <code>Limit</code> in the request, the response includes a <code>NextMarker</code> value. To list more <code>XssMatchSet</code> objects, submit another <code>ListXssMatchSets</code> request, and specify the <code>NextMarker</code> value from the response in the <code>NextMarker</code> value in the next request."
        },
        "XssMatchSets": {
          "$ref": "#/definitions/XssMatchSetSummaries",
          "description": "An array of <a>XssMatchSetSummary</a> objects."
        }
      },
      "description": "The response to a <a>ListXssMatchSets</a> request."
    },
    "MatchFieldData": {
      "type": "string"
    },
    "MatchFieldType": {
      "type": "string",
      "enum": [
        "URI",
        "QUERY_STRING",
        "HEADER",
        "METHOD",
        "BODY"
      ]
    },
    "MetricName": {
      "type": "string"
    },
    "Negated": {
      "type": "boolean"
    },
    "NextMarker": {
      "type": "string",
      "minLength": 1
    },
    "PaginationLimit": {
      "type": "integer",
      "minimum": 1,
      "maximum": 100
    },
    "ParameterExceptionField": {
      "type": "string",
      "enum": [
        "CHANGE_ACTION",
        "WAF_ACTION",
        "PREDICATE_TYPE",
        "IPSET_TYPE",
        "BYTE_MATCH_FIELD_TYPE",
        "SQL_INJECTION_MATCH_FIELD_TYPE",
        "BYTE_MATCH_TEXT_TRANSFORMATION",
        "BYTE_MATCH_POSITIONAL_CONSTRAINT",
        "SIZE_CONSTRAINT_COMPARISON_OPERATOR"
      ]
    },
    "ParameterExceptionParameter": {
      "type": "string",
      "minLength": 1
    },
    "ParameterExceptionReason": {
      "type": "string",
      "enum": [
        "INVALID_OPTION",
        "ILLEGAL_COMBINATION"
      ]
    },
    "PopulationSize": {
      "type": "integer"
    },
    "PositionalConstraint": {
      "type": "string",
      "enum": [
        "EXACTLY",
        "STARTS_WITH",
        "ENDS_WITH",
        "CONTAINS",
        "CONTAINS_WORD"
      ]
    },
    "Predicate": {
      "type": "object",
      "required": [
        "Negated",
        "Type",
        "DataId"
      ],
      "properties": {
        "Negated": {
          "$ref": "#/definitions/Negated",
          "description": "<p>Set <code>Negated</code> to <code>False</code> if you want AWS WAF to allow, block, or count requests based on the settings in the specified <a>ByteMatchSet</a>, <a>IPSet</a>, <a>SqlInjectionMatchSet</a>, <a>XssMatchSet</a>, or <a>SizeConstraintSet</a>. For example, if an <code>IPSet</code> includes the IP address <code>192.0.2.44</code>, AWS WAF will allow or block requests based on that IP address.</p> <p>Set <code>Negated</code> to <code>True</code> if you want AWS WAF to allow or block a request based on the negation of the settings in the <a>ByteMatchSet</a>, <a>IPSet</a>, <a>SqlInjectionMatchSet</a>, <a>XssMatchSet</a>, or <a>SizeConstraintSet</a>. For example, if an <code>IPSet</code> includes the IP address <code>192.0.2.44</code>, AWS WAF will allow, block, or count requests based on all IP addresses <i>except</i> <code>192.0.2.44</code>.</p>"
        },
        "Type": {
          "$ref": "#/definitions/PredicateType",
          "description": "The type of predicate in a <code>Rule</code>, such as <code>ByteMatchSet</code> or <code>IPSet</code>."
        },
        "DataId": {
          "$ref": "#/definitions/ResourceId",
          "description": "A unique identifier for a predicate in a <code>Rule</code>, such as <code>ByteMatchSetId</code> or <code>IPSetId</code>. The ID is returned by the corresponding <code>Create</code> or <code>List</code> command."
        }
      },
      "description": "Specifies the <a>ByteMatchSet</a>, <a>IPSet</a>, <a>SqlInjectionMatchSet</a>, <a>XssMatchSet</a>, and <a>SizeConstraintSet</a> objects that you want to add to a <code>Rule</code> and, for each object, indicates whether you want to negate the settings, for example, requests that do NOT originate from the IP address 192.0.2.44. "
    },
    "PredicateType": {
      "type": "string",
      "enum": [
        "IPMatch",
        "ByteMatch",
        "SqlInjectionMatch",
        "SizeConstraint",
        "XssMatch"
      ]
    },
    "Predicates": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Predicate"
      }
    },
    "ResourceId": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
    },
    "ResourceName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
    },
    "Rule": {
      "type": "object",
      "required": [
        "RuleId",
        "Predicates"
      ],
      "properties": {
        "RuleId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>A unique identifier for a <code>Rule</code>. You use <code>RuleId</code> to get more information about a <code>Rule</code> (see <a>GetRule</a>), update a <code>Rule</code> (see <a>UpdateRule</a>), insert a <code>Rule</code> into a <code>WebACL</code> or delete a one from a <code>WebACL</code> (see <a>UpdateWebACL</a>), or delete a <code>Rule</code> from AWS WAF (see <a>DeleteRule</a>).</p> <p><code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "The friendly name or description for the <code>Rule</code>. You can't change the name of a <code>Rule</code> after you create it."
        },
        "MetricName": {
          "$ref": "#/definitions/MetricName"
        },
        "Predicates": {
          "$ref": "#/definitions/Predicates",
          "description": "The <code>Predicates</code> object contains one <code>Predicate</code> element for each <a>ByteMatchSet</a>, <a>IPSet</a>, or <a>SqlInjectionMatchSet</a> object that you want to include in a <code>Rule</code>."
        }
      },
      "description": "<p>A combination of <a>ByteMatchSet</a>, <a>IPSet</a>, and/or <a>SqlInjectionMatchSet</a> objects that identify the web requests that you want to allow, block, or count. For example, you might create a <code>Rule</code> that includes the following predicates:</p> <ul> <li>An <code>IPSet</code> that causes AWS WAF to search for web requests that originate from the IP address <code>192.0.2.44</code></li> <li>A <code>ByteMatchSet</code> that causes AWS WAF to search for web requests for which the value of the <code>User-Agent</code> header is <code>BadBot</code>.</li> </ul> <p>To match the settings in this <code>Rule</code>, a request must originate from <code>192.0.2.44</code> AND include a <code>User-Agent</code> header for which the value is <code>BadBot</code>.</p>"
    },
    "RulePriority": {
      "type": "integer"
    },
    "RuleSummaries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RuleSummary"
      }
    },
    "RuleSummary": {
      "type": "object",
      "required": [
        "RuleId",
        "Name"
      ],
      "properties": {
        "RuleId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>A unique identifier for a <code>Rule</code>. You use <code>RuleId</code> to get more information about a <code>Rule</code> (see <a>GetRule</a>), update a <code>Rule</code> (see <a>UpdateRule</a>), insert a <code>Rule</code> into a <code>WebACL</code> or delete one from a <code>WebACL</code> (see <a>UpdateWebACL</a>), or delete a <code>Rule</code> from AWS WAF (see <a>DeleteRule</a>).</p> <p><code>RuleId</code> is returned by <a>CreateRule</a> and by <a>ListRules</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "A friendly name or description of the <a>Rule</a>. You can't change the name of a <code>Rule</code> after you create it."
        }
      },
      "description": "Contains the identifier and the friendly name or description of the <code>Rule</code>."
    },
    "RuleUpdate": {
      "type": "object",
      "required": [
        "Action",
        "Predicate"
      ],
      "properties": {
        "Action": {
          "$ref": "#/definitions/ChangeAction",
          "description": "Specify <code>INSERT</code> to add a <code>Predicate</code> to a <code>Rule</code>. Use <code>DELETE</code> to remove a <code>Predicate</code> from a <code>Rule</code>."
        },
        "Predicate": {
          "$ref": "#/definitions/Predicate",
          "description": "The ID of the <code>Predicate</code> (such as an <code>IPSet</code>) that you want to add to a <code>Rule</code>."
        }
      },
      "description": "Specifies a <code>Predicate</code> (such as an <code>IPSet</code>) and indicates whether you want to add it to a <code>Rule</code> or delete it from a <code>Rule</code>."
    },
    "RuleUpdates": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RuleUpdate"
      }
    },
    "SampleWeight": {
      "type": "integer",
      "minimum": 0
    },
    "SampledHTTPRequest": {
      "type": "object",
      "required": [
        "Request",
        "Weight"
      ],
      "properties": {
        "Request": {
          "$ref": "#/definitions/HTTPRequest",
          "description": "A complex type that contains detailed information about the request."
        },
        "Weight": {
          "$ref": "#/definitions/SampleWeight",
          "description": "A value that indicates how one result in the response relates proportionally to other results in the response. A result that has a weight of <code>2</code> represents roughly twice as many CloudFront web requests as a result that has a weight of <code>1</code>."
        },
        "Timestamp": {
          "$ref": "#/definitions/Timestamp",
          "description": "The time at which AWS WAF received the request from your AWS resource, in Unix time format (in seconds)."
        },
        "Action": {
          "$ref": "#/definitions/Action",
          "description": "The action for the <code>Rule</code> that the request matched: <code>ALLOW</code>, <code>BLOCK</code>, or <code>COUNT</code>."
        }
      },
      "description": "The response from a <a>GetSampledRequests</a> request includes a <code>SampledHTTPRequests</code> complex type that appears as <code>SampledRequests</code> in the response syntax. <code>SampledHTTPRequests</code> contains one <code>SampledHTTPRequest</code> object for each web request that is returned by <code>GetSampledRequests</code>."
    },
    "SampledHTTPRequests": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SampledHTTPRequest"
      }
    },
    "Size": {
      "type": "integer",
      "minimum": 0,
      "maximum": 21474836480
    },
    "SizeConstraint": {
      "type": "object",
      "required": [
        "FieldToMatch",
        "TextTransformation",
        "ComparisonOperator",
        "Size"
      ],
      "properties": {
        "FieldToMatch": {
          "$ref": "#/definitions/FieldToMatch"
        },
        "TextTransformation": {
          "$ref": "#/definitions/TextTransformation",
          "description": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass AWS WAF. If you specify a transformation, AWS WAF performs the transformation on <code>FieldToMatch</code> before inspecting a request for a match.</p> <p>Note that if you choose <code>BODY</code> for the value of <code>Type</code>, you must choose <code>NONE</code> for <code>TextTransformation</code> because CloudFront forwards only the first 8192 bytes for inspection. </p> <p><b>NONE</b></p> <p>Specify <code>NONE</code> if you don't want to perform any text transformations.</p> <p><b>CMD_LINE</b></p> <p>When you're concerned that attackers are injecting an operating system command line command and using unusual formatting to disguise some or all of the command, use this option to perform the following transformations:</p> <ul> <li>Delete the following characters: \\ \" ' ^</li> <li>Delete spaces before the following characters: / (</li> <li>Replace the following characters with a space: , ;</li> <li>Replace multiple spaces with one space</li> <li>Convert uppercase letters (A-Z) to lowercase (a-z)</li> </ul> <p><b>COMPRESS_WHITE_SPACE</b></p> <p>Use this option to replace the following characters with a space character (decimal 32):</p> <ul> <li>\\f, formfeed, decimal 12</li> <li>\\t, tab, decimal 9</li> <li>\\n, newline, decimal 10</li> <li>\\r, carriage return, decimal 13</li> <li>\\v, vertical tab, decimal 11</li> <li>non-breaking space, decimal 160</li> </ul> <p><code>COMPRESS_WHITE_SPACE</code> also replaces multiple spaces with one space.</p> <p><b>HTML_ENTITY_DECODE</b></p> <p>Use this option to replace HTML-encoded characters with unencoded characters. <code>HTML_ENTITY_DECODE</code> performs the following operations:</p> <ul> <li>Replaces <code>(ampersand)quot;</code> with <code>\"</code></li> <li>Replaces <code>(ampersand)nbsp;</code> with a non-breaking space, decimal 160</li> <li>Replaces <code>(ampersand)lt;</code> with a \"less than\" symbol</li> <li>Replaces <code>(ampersand)gt;</code> with <code>></code></li> <li>Replaces characters that are represented in hexadecimal format, <code>(ampersand)#xhhhh;</code>, with the corresponding characters</li> <li>Replaces characters that are represented in decimal format, <code>(ampersand)#nnnn;</code>, with the corresponding characters</li> </ul> <p><b>LOWERCASE</b></p> <p>Use this option to convert uppercase letters (A-Z) to lowercase (a-z).</p> <p><b>URL_DECODE</b></p> <p>Use this option to decode a URL-encoded value.</p>"
        },
        "ComparisonOperator": {
          "$ref": "#/definitions/ComparisonOperator",
          "description": "<p>The type of comparison you want AWS WAF to perform. AWS WAF uses this in combination with the provided <code>Size</code> and <code>FieldToMatch</code> to build an expression in the form of \"<code>Size</code> <code>ComparisonOperator</code> size in bytes of <code>FieldToMatch</code>\". If that expression is true, the <code>SizeConstraint</code> is considered to match.</p> <p><b>EQ</b>: Used to test if the <code>Size</code> is equal to the size of the <code>FieldToMatch</code></p> <p><b>NE</b>: Used to test if the <code>Size</code> is not equal to the size of the <code>FieldToMatch</code></p> <p><b>LE</b>: Used to test if the <code>Size</code> is less than or equal to the size of the <code>FieldToMatch</code></p> <p><b>LT</b>: Used to test if the <code>Size</code> is strictly less than the size of the <code>FieldToMatch</code></p> <p><b>GE</b>: Used to test if the <code>Size</code> is greater than or equal to the size of the <code>FieldToMatch</code></p> <p><b>GT</b>: Used to test if the <code>Size</code> is strictly greater than the size of the <code>FieldToMatch</code></p>"
        },
        "Size": {
          "$ref": "#/definitions/Size",
          "description": "<p>The size in bytes that you want AWS WAF to compare against the size of the specified <code>FieldToMatch</code>. AWS WAF uses this in combination with <code>ComparisonOperator</code> and <code>FieldToMatch</code> to build an expression in the form of \"<code>Size</code> <code>ComparisonOperator</code> size in bytes of <code>FieldToMatch</code>\". If that expression is true, the <code>SizeConstraint</code> is considered to match.</p> <p>Valid values for size are 0 - 21474836480 bytes (0 - 20 GB). </p> <p>If you specify <code>URI</code> for the value of <code>Type</code>, the / in the URI counts as one character. For example, the URI <code>/logo.jpg</code> is nine characters long.</p>"
        }
      },
      "description": "Specifies a constraint on the size of a part of the web request. AWS WAF uses the <code>Size</code>, <code>ComparisonOperator</code>, and <code>FieldToMatch</code> to build an expression in the form of \"<code>Size</code> <code>ComparisonOperator</code> size in bytes of <code>FieldToMatch</code>\". If that expression is true, the <code>SizeConstraint</code> is considered to match."
    },
    "SizeConstraintSet": {
      "type": "object",
      "required": [
        "SizeConstraintSetId",
        "SizeConstraints"
      ],
      "properties": {
        "SizeConstraintSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>A unique identifier for a <code>SizeConstraintSet</code>. You use <code>SizeConstraintSetId</code> to get information about a <code>SizeConstraintSet</code> (see <a>GetSizeConstraintSet</a>), update a <code>SizeConstraintSet</code> (see <a>UpdateSizeConstraintSet</a>), insert a <code>SizeConstraintSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and delete a <code>SizeConstraintSet</code> from AWS WAF (see <a>DeleteSizeConstraintSet</a>).</p> <p><code>SizeConstraintSetId</code> is returned by <a>CreateSizeConstraintSet</a> and by <a>ListSizeConstraintSets</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "The name, if any, of the <code>SizeConstraintSet</code>."
        },
        "SizeConstraints": {
          "$ref": "#/definitions/SizeConstraints",
          "description": "Specifies the parts of web requests that you want to inspect the size of."
        }
      },
      "description": "A complex type that contains <code>SizeConstraint</code> objects, which specify the parts of web requests that you want AWS WAF to inspect the size of. If a <code>SizeConstraintSet</code> contains more than one <code>SizeConstraint</code> object, a request only needs to match one constraint to be considered a match."
    },
    "SizeConstraintSetSummaries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SizeConstraintSetSummary"
      }
    },
    "SizeConstraintSetSummary": {
      "type": "object",
      "required": [
        "SizeConstraintSetId",
        "Name"
      ],
      "properties": {
        "SizeConstraintSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>A unique identifier for a <code>SizeConstraintSet</code>. You use <code>SizeConstraintSetId</code> to get information about a <code>SizeConstraintSet</code> (see <a>GetSizeConstraintSet</a>), update a <code>SizeConstraintSet</code> (see <a>UpdateSizeConstraintSet</a>), insert a <code>SizeConstraintSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and delete a <code>SizeConstraintSet</code> from AWS WAF (see <a>DeleteSizeConstraintSet</a>).</p> <p><code>SizeConstraintSetId</code> is returned by <a>CreateSizeConstraintSet</a> and by <a>ListSizeConstraintSets</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "The name of the <code>SizeConstraintSet</code>, if any."
        }
      },
      "description": "The <code>Id</code> and <code>Name</code> of a <code>SizeConstraintSet</code>."
    },
    "SizeConstraintSetUpdate": {
      "type": "object",
      "required": [
        "Action",
        "SizeConstraint"
      ],
      "properties": {
        "Action": {
          "$ref": "#/definitions/ChangeAction",
          "description": "Specify <code>INSERT</code> to add a <a>SizeConstraintSetUpdate</a> to a <a>SizeConstraintSet</a>. Use <code>DELETE</code> to remove a <code>SizeConstraintSetUpdate</code> from a <code>SizeConstraintSet</code>."
        },
        "SizeConstraint": {
          "$ref": "#/definitions/SizeConstraint",
          "description": "Specifies a constraint on the size of a part of the web request. AWS WAF uses the <code>Size</code>, <code>ComparisonOperator</code>, and <code>FieldToMatch</code> to build an expression in the form of \"<code>Size</code> <code>ComparisonOperator</code> size in bytes of <code>FieldToMatch</code>\". If that expression is true, the <code>SizeConstraint</code> is considered to match."
        }
      },
      "description": "Specifies the part of a web request that you want to inspect the size of and indicates whether you want to add the specification to a <a>SizeConstraintSet</a> or delete it from a <code>SizeConstraintSet</code>."
    },
    "SizeConstraintSetUpdates": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SizeConstraintSetUpdate"
      }
    },
    "SizeConstraints": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SizeConstraint"
      }
    },
    "SqlInjectionMatchSet": {
      "type": "object",
      "required": [
        "SqlInjectionMatchSetId",
        "SqlInjectionMatchTuples"
      ],
      "properties": {
        "SqlInjectionMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>A unique identifier for a <code>SqlInjectionMatchSet</code>. You use <code>SqlInjectionMatchSetId</code> to get information about a <code>SqlInjectionMatchSet</code> (see <a>GetSqlInjectionMatchSet</a>), update a <code>SqlInjectionMatchSet</code> (see <a>UpdateSqlInjectionMatchSet</a>), insert a <code>SqlInjectionMatchSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and delete a <code>SqlInjectionMatchSet</code> from AWS WAF (see <a>DeleteSqlInjectionMatchSet</a>).</p> <p><code>SqlInjectionMatchSetId</code> is returned by <a>CreateSqlInjectionMatchSet</a> and by <a>ListSqlInjectionMatchSets</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "The name, if any, of the <code>SqlInjectionMatchSet</code>."
        },
        "SqlInjectionMatchTuples": {
          "$ref": "#/definitions/SqlInjectionMatchTuples",
          "description": "Specifies the parts of web requests that you want to inspect for snippets of malicious SQL code."
        }
      },
      "description": "A complex type that contains <code>SqlInjectionMatchTuple</code> objects, which specify the parts of web requests that you want AWS WAF to inspect for snippets of malicious SQL code and, if you want AWS WAF to inspect a header, the name of the header. If a <code>SqlInjectionMatchSet</code> contains more than one <code>SqlInjectionMatchTuple</code> object, a request needs to include snippets of SQL code in only one of the specified parts of the request to be considered a match."
    },
    "SqlInjectionMatchSetSummaries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SqlInjectionMatchSetSummary"
      }
    },
    "SqlInjectionMatchSetSummary": {
      "type": "object",
      "required": [
        "SqlInjectionMatchSetId",
        "Name"
      ],
      "properties": {
        "SqlInjectionMatchSetId": {
          "$ref": "#/definitions/ResourceId",
          "description": "<p>A unique identifier for a <code>SqlInjectionMatchSet</code>. You use <code>SqlInjectionMatchSetId</code> to get information about a <code>SqlInjectionMatchSet</code> (see <a>GetSqlInjectionMatchSet</a>), update a <code>SqlInjectionMatchSet</code> (see <a>UpdateSqlInjectionMatchSet</a>), insert a <code>SqlInjectionMatchSet</code> into a <code>Rule</code> or delete one from a <code>Rule</code> (see <a>UpdateRule</a>), and delete a <code>SqlInjectionMatchSet</code> from AWS WAF (see <a>DeleteSqlInjectionMatchSet</a>).</p> <p><code>SqlInjectionMatchSetId</code> is returned by <a>CreateSqlInjectionMatchSet</a> and by <a>ListSqlInjectionMatchSets</a>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/ResourceName",
          "description": "The name of the <code>SqlInjectionMatchSet</code>, if any, specified by <code>Id</code>."
        }
      },
      "description": "The <code>Id</code> and <code>Name</code> of a <code>SqlInjectionMatchSet</code>."
    },
    "SqlInjectionMatchSetUpdate": {
      "type": "object",
      "required": [
        "Action",
        "SqlInjectionMatchTuple"
      ],
      "properties": {
        "Action": {
          "$ref": "#/definitions/ChangeAction",
[...]
