{
  "swagger": "2.0",
  "info": {
    "title": "Cogito API 1.1",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "description": "Try Cogito API using our Sandbox. You can also read our documentation. ",
    "x-mashery-id": "3173"
  },
  "schemes": [
    "http"
  ],
  "host": "api.cogitoapi.com",
  "basePath": "/",
  "externalDocs": {
    "description": "You can also view our written documentation.",
    "url": "https://developer.cogitoapi.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Kernel"
    },
    {
      "name": "Media"
    },
    {
      "name": "Advertising"
    },
    {
      "name": "Fashion"
    },
    {
      "name": "Finance"
    }
  ],
  "paths": {
    "/1.1/kernel/categorization": {
      "post": {
        "operationId": "CategorizationKernel",
        "summary": "Kernel's Categorization adopts a broad-spectrum on...",
        "description": "Kernel's Categorization adopts a broad-spectrum one-level taxonomy. Categories are listed together with a score indicating the relevance of each category with respect to the document as a whole.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "Optional.",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/ext/people": {
      "post": {
        "operationId": "PeopleExtractionKernel",
        "summary": "Kernel's People Extraction is a generic extraction...",
        "description": "Kernel's People Extraction is a generic extraction of entities focused on people. Information about occurrences' position in text is also provided as well as properties describing inferred data like gender, role, aliases, etc.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/ext/places": {
      "post": {
        "operationId": "PlacesExtractionKernel",
        "summary": "Kernel's Places Extraction is a generic extraction...",
        "description": "Kernel's Places Extraction is a generic extraction of entities focused on places. Information about occurrences' position in text is also provided as well as georeferentiation, when available.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/ext/organizations": {
      "post": {
        "operationId": "OrganizationsExtractionKernel",
        "summary": "Kernel's Organizations Extraction is a generic ext...",
        "description": "Kernel's Organizations Extraction is a generic extraction of entities focused on organizations. Information about occurrences' position in text is provided; other data can be returned in the properties list, for instance some organizations may have an alias we commonly refer to.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/ext/additional": {
      "post": {
        "operationId": "AdditionalExtractionKernel",
        "summary": "Kernel's Additional Extraction is an extraction of...",
        "description": "Kernel's Additional Extraction is an extraction of all the entities that are not [recognized as] people, places or organizations; examples of such entities are measurements, percentages, addresses, etc. Information about occurrences' position in text is also provided.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/summary": {
      "post": {
        "operationId": "SummaryKernel",
        "summary": "Kernel's Summary selects and returns relevant conc...",
        "description": "Kernel's Summary selects and returns relevant concepts and main sentences in a document; concepts can be both common nouns (table, marriage, life, etc.) and proper nouns (Mark Twain, Jack, FriillsInc limited, etc.) that are listed together with a score indicating the relevance of each concept or sentence with respect to the document as a whole.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/extendedsentiment": {
      "post": {
        "operationId": "ExtendedSentiment(beta)Kernel",
        "summary": "Kernel's Sentiment returns information in regards ...",
        "description": "Kernel's Sentiment returns information in regards to positive and/or negative sentiment relative to the entire document and its relevant concepts.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/deeppos": {
      "post": {
        "operationId": "DeepPart-Of-SpeechTaggingKernel",
        "summary": "Kernel's Deep Part-Of-Speech Tagging  is a very de...",
        "description": "Kernel's Deep Part-Of-Speech Tagging  is a very deep linguistic analysis that shows a sentence analysis, the grammar analysis for both words and grammatical groups, and a logical analysis.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/pack": {
      "post": {
        "operationId": "PackKernel",
        "summary": "Kernel's Pack offers Categorization, Main Elements...",
        "description": "Kernel's Pack offers Categorization, Main Elements and all the extractions through one single call.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/kernel/cat/taxonomy": {
      "get": {
        "operationId": "TaxonomyKernel",
        "summary": "Kernel's Taxonomy method returns the entire taxono...",
        "description": "Kernel's Taxonomy method returns the entire taxonomy shown in the Categorization section of Kernel's responses.",
        "tags": [
          "Kernel"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/media/cat/iptc": {
      "post": {
        "operationId": "IPTCCategorizationMedia",
        "summary": "Media's IPTC Categorization returns document's cat...",
        "description": "Media's IPTC Categorization returns document's categorization based on the Media-industry standard IPTC taxonomy. Categories are listed together with a score indicating the relevance of each category with respect to the document as a whole.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/media/pack": {
      "post": {
        "operationId": "PackMedia",
        "summary": "Media's Pack highlights relevant concepts, execute...",
        "description": "Media's Pack highlights relevant concepts, executes document classification based on a proprietary small-sized Channel taxonomy, and extracts entities.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/media/cat/taxonomy/iptc": {
      "get": {
        "operationId": "IPTCTaxonomyMedia",
        "summary": "Media's IPTC Taxonomy returns the entire IPTC taxo...",
        "description": "Media's IPTC Taxonomy returns the entire IPTC taxonomy covered by the Categorization section of Media's responses.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/media/cat/taxonomy/channel": {
      "get": {
        "operationId": "ChannelTaxonomyMedia",
        "summary": "Media's Channel Taxonomy returns the entire propri...",
        "description": "Media's Channel Taxonomy returns the entire proprietary Channel taxonomy shown in the Categorization section of Media's responses.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/advertising/pack": {
      "post": {
        "operationId": "PackAdvertising",
        "summary": "Advertising's Pack highlights relevant concepts, e...",
        "description": "Advertising's Pack highlights relevant concepts, executes document classification based on a proprietary Topics taxonomy, discovers feelings, extracts entities and shows their relations.",
        "tags": [
          "Advertising"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/advertising/cat/taxonomy/feelings": {
      "get": {
        "operationId": "FeelingsTaxonomyAdvertising",
        "summary": "Advertising?s Feelings Taxonomy returns the entire...",
        "description": "Advertising?s Feelings Taxonomy returns the entire proprietary Feelings taxonomy shown in the Categorization section of Advertising?s responses",
        "tags": [
          "Advertising"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/advertising/cat/taxonomy/topics": {
      "get": {
        "operationId": "TopicsTaxonomyAdvertising",
        "summary": "Advertising?s Topics Taxonomy returns the entire p...",
        "description": "Advertising?s Topics Taxonomy returns the entire proprietary Topics taxonomy shown in the Categorization section of Advertising?s responses",
        "tags": [
          "Advertising"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/fashion/pack": {
      "post": {
        "operationId": "PackFashion",
        "summary": "Fashion's Pack offers a complete entity extraction...",
        "description": "Fashion's Pack offers a complete entity extraction, enriched of Fashion-industry specific classification and extensive detail.",
        "tags": [
          "Fashion"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/finance/pack": {
      "post": {
        "operationId": "PackFinance",
        "summary": "Finance's Pack offers a complete entity extraction...",
        "description": "Finance's Pack offers a complete entity extraction, enriched of Finance specific classification and extensive detail.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "text",
            "type": "string",
            "description": "",
            "in": "query",
            "required": true
          },
          {
            "name": "Content-Type",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/x-www-form-urlencoded"
          },
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/1.1/finance/cat/taxonomy": {
      "get": {
        "operationId": "TaxonomyFinance",
        "summary": "Finance's Taxonomy method returns the entire taxon...",
        "description": "Finance's Taxonomy method returns the entire taxonomy shown in the Categorization section of Finance's responses.",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "Accept",
            "type": "string",
            "description": "",
            "in": "header",
            "required": false,
            "default": "application/xml"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}