{
  "swagger": "2.0",
  "info": {
    "version": "2015-01-01",
    "x-release": "v4",
    "title": "Amazon Elasticsearch Service",
    "description": "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch configuration API to create, configure, and manage Elasticsearch domains.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/es/"
  },
  "host": "es.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/2015-01-01/tags": {
      "post": {
        "operationId": "AddTags",
        "description": "Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "402": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "403": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTagsRequest"
            }
          }
        ]
      }
    },
    "/2015-01-01/es/domain": {
      "post": {
        "operationId": "CreateElasticsearchDomain",
        "description": "Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateElasticsearchDomainResponse"
            }
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "DisabledOperationException",
            "schema": {
              "$ref": "#/definitions/DisabledOperationException"
            }
          },
          "402": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "403": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "404": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "405": {
            "description": "ResourceAlreadyExistsException",
            "schema": {
              "$ref": "#/definitions/ResourceAlreadyExistsException"
            }
          },
          "406": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateElasticsearchDomainRequest"
            }
          }
        ]
      }
    },
    "/2015-01-01/es/domain/{DomainName}": {
      "get": {
        "operationId": "DescribeElasticsearchDomain",
        "description": "Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainResponse"
            }
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "402": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "403": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainRequest"
            }
          },
          {
            "name": "DomainName",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2015-01-01/es/domain/{DomainName}/config": {
      "post": {
        "operationId": "UpdateElasticsearchDomainConfig",
        "description": "Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateElasticsearchDomainConfigResponse"
            }
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "402": {
            "description": "InvalidTypeException",
            "schema": {
              "$ref": "#/definitions/InvalidTypeException"
            }
          },
          "403": {
            "description": "LimitExceededException",
            "schema": {
              "$ref": "#/definitions/LimitExceededException"
            }
          },
          "404": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "405": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateElasticsearchDomainConfigRequest"
            }
          },
          {
            "name": "DomainName",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/2015-01-01/es/domain-info": {
      "post": {
        "operationId": "DescribeElasticsearchDomains",
        "description": "Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainsResponse"
            }
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          },
          "402": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DescribeElasticsearchDomainsRequest"
            }
          }
        ]
      }
    },
    "/2015-01-01/domain": {
      "get": {
        "operationId": "ListDomainNames",
        "description": "Returns the name of all Elasticsearch domains owned by the current user's account. ",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListDomainNamesResponse"
            }
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          }
        }
      }
    },
    "/2015-01-01/tags/": {
      "get": {
        "operationId": "ListTags",
        "description": "Returns all tags for the given Elasticsearch domain.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListTagsResponse"
            }
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "ResourceNotFoundException",
            "schema": {
              "$ref": "#/definitions/ResourceNotFoundException"
            }
          },
          "402": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "403": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTagsRequest"
            }
          }
        ]
      }
    },
    "/2015-01-01/tags-removal": {
      "post": {
        "operationId": "RemoveTags",
        "description": "Removes the specified set of tags from the specified Elasticsearch domain.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "description": "BaseException",
            "schema": {
              "$ref": "#/definitions/BaseException"
            }
          },
          "401": {
            "description": "ValidationException",
            "schema": {
              "$ref": "#/definitions/ValidationException"
            }
          },
          "402": {
            "description": "InternalException",
            "schema": {
              "$ref": "#/definitions/InternalException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveTagsRequest"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "ARN": {
      "type": "string",
      "description": "The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information."
    },
    "AccessPoliciesStatus": {
      "type": "object",
      "required": [
        "Options",
        "Status"
      ],
      "properties": {
        "Options": {
          "$ref": "#/definitions/PolicyDocument",
          "description": "The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": "The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. "
        }
      },
      "description": "The configured access rules for the domain's document and search endpoints, and the current status of those rules."
    },
    "AddTagsRequest": {
      "type": "object",
      "required": [
        "ARN",
        "TagList"
      ],
      "properties": {
        "ARN": {
          "$ref": "#/definitions/ARN",
          "description": " Specify the <code>ARN</code> for which you want to add the tags."
        },
        "TagList": {
          "$ref": "#/definitions/TagList",
          "description": " List of <code>Tag</code> that need to be added for the Elasticsearch domain. "
        }
      },
      "description": "Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain."
    },
    "AdvancedOptions": {
      "type": "array",
      "description": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/String"
          },
          "value": {
            "$ref": "#/definitions/String"
          }
        }
      }
    },
    "AdvancedOptionsStatus": {
      "type": "object",
      "required": [
        "Options",
        "Status"
      ],
      "properties": {
        "Options": {
          "$ref": "#/definitions/AdvancedOptions",
          "description": " Specifies the status of advanced options for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain."
        }
      },
      "description": "<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>"
    },
    "BaseException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessage",
          "description": "A description of the error."
        }
      },
      "description": "An error occurred while processing the request."
    },
    "Boolean": {
      "type": "boolean"
    },
    "CreateElasticsearchDomainRequest": {
      "type": "object",
      "required": [
        "DomainName"
      ],
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen)."
        },
        "ElasticsearchVersion": {
          "$ref": "#/definitions/ElasticsearchVersionString",
          "description": "String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>."
        },
        "ElasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": "Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. "
        },
        "EBSOptions": {
          "$ref": "#/definitions/EBSOptions",
          "description": "Options to enable, disable and specify the type and size of EBS storage volumes. "
        },
        "AccessPolicies": {
          "$ref": "#/definitions/PolicyDocument",
          "description": " IAM access policy as a JSON-formatted string."
        },
        "SnapshotOptions": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. "
        },
        "AdvancedOptions": {
          "$ref": "#/definitions/AdvancedOptions",
          "description": " Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information."
        }
      }
    },
    "CreateElasticsearchDomainResponse": {
      "type": "object",
      "properties": {
        "DomainStatus": {
          "$ref": "#/definitions/ElasticsearchDomainStatus",
          "description": "The status of the newly created Elasticsearch domain. "
        }
      },
      "description": "The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain."
    },
    "DeleteElasticsearchDomainRequest": {
      "type": "object",
      "properties": {},
      "description": "Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete."
    },
    "DeleteElasticsearchDomainResponse": {
      "type": "object",
      "properties": {
        "DomainStatus": {
          "$ref": "#/definitions/ElasticsearchDomainStatus",
          "description": "The status of the Elasticsearch domain being deleted."
        }
      },
      "description": "The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted."
    },
    "DescribeElasticsearchDomainConfigRequest": {
      "type": "object",
      "properties": {},
      "description": " Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information."
    },
    "DescribeElasticsearchDomainConfigResponse": {
      "type": "object",
      "required": [
        "DomainConfig"
      ],
      "properties": {
        "DomainConfig": {
          "$ref": "#/definitions/ElasticsearchDomainConfig",
          "description": "The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request."
        }
      },
      "description": "The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain."
    },
    "DescribeElasticsearchDomainRequest": {
      "type": "object",
      "properties": {},
      "description": "Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation."
    },
    "DescribeElasticsearchDomainResponse": {
      "type": "object",
      "required": [
        "DomainStatus"
      ],
      "properties": {
        "DomainStatus": {
          "$ref": "#/definitions/ElasticsearchDomainStatus",
          "description": "The current status of the Elasticsearch domain."
        }
      },
      "description": "The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request."
    },
    "DescribeElasticsearchDomainsRequest": {
      "type": "object",
      "required": [
        "DomainNames"
      ],
      "properties": {
        "DomainNames": {
          "$ref": "#/definitions/DomainNameList",
          "description": "The Elasticsearch domains for which you want information."
        }
      },
      "description": "Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains."
    },
    "DescribeElasticsearchDomainsResponse": {
      "type": "object",
      "required": [
        "DomainStatusList"
      ],
      "properties": {
        "DomainStatusList": {
          "$ref": "#/definitions/ElasticsearchDomainStatusList",
          "description": "The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request."
        }
      },
      "description": "The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account."
    },
    "DisabledOperationException": {
      "type": "object",
      "properties": {},
      "description": "An error occured because the client wanted to access a not supported operation. Gives http status code of 409."
    },
    "DomainId": {
      "type": "string",
      "description": "Unique identifier for an Elasticsearch domain.",
      "minLength": 1,
      "maxLength": 64
    },
    "DomainInfo": {
      "type": "object",
      "properties": {
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": " Specifies the <code>DomainName</code>."
        }
      }
    },
    "DomainInfoList": {
      "type": "array",
      "description": " Contains the list of Elasticsearch domain information.",
      "items": {
        "$ref": "#/definitions/DomainInfo"
      }
    },
    "DomainName": {
      "type": "string",
      "pattern": "[a-z][a-z0-9\\-]+",
      "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).",
      "minLength": 3,
      "maxLength": 28
    },
    "DomainNameList": {
      "type": "array",
      "description": "A list of Elasticsearch domain names.",
      "items": {
        "$ref": "#/definitions/DomainName"
      }
    },
    "EBSOptions": {
      "type": "object",
      "properties": {
        "EBSEnabled": {
          "$ref": "#/definitions/Boolean",
          "description": "Specifies whether EBS-based storage is enabled."
        },
        "VolumeType": {
          "$ref": "#/definitions/VolumeType",
          "description": " Specifies the volume type for EBS-based storage."
        },
        "VolumeSize": {
          "$ref": "#/definitions/IntegerClass",
          "description": " Integer to specify the size of an EBS volume."
        },
        "Iops": {
          "$ref": "#/definitions/IntegerClass",
          "description": "Specifies the IOPD for a Provisioned IOPS EBS volume (SSD)."
        }
      },
      "description": "Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\"> Configuring EBS-based Storage</a>."
    },
    "EBSOptionsStatus": {
      "type": "object",
      "required": [
        "Options",
        "Status"
      ],
      "properties": {
        "Options": {
          "$ref": "#/definitions/EBSOptions",
          "description": " Specifies the EBS options for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of the EBS options for the specified Elasticsearch domain."
        }
      },
      "description": " Status of the EBS options for the specified Elasticsearch domain."
    },
    "ESPartitionInstanceType": {
      "type": "string",
      "enum": [
        "m3.medium.elasticsearch",
        "m3.large.elasticsearch",
        "m3.xlarge.elasticsearch",
        "m3.2xlarge.elasticsearch",
        "m4.large.elasticsearch",
        "m4.xlarge.elasticsearch",
        "m4.2xlarge.elasticsearch",
        "m4.4xlarge.elasticsearch",
        "m4.10xlarge.elasticsearch",
        "t2.micro.elasticsearch",
        "t2.small.elasticsearch",
        "t2.medium.elasticsearch",
        "r3.large.elasticsearch",
        "r3.xlarge.elasticsearch",
        "r3.2xlarge.elasticsearch",
        "r3.4xlarge.elasticsearch",
        "r3.8xlarge.elasticsearch",
        "i2.xlarge.elasticsearch",
        "i2.2xlarge.elasticsearch"
      ]
    },
    "ElasticsearchClusterConfig": {
      "type": "object",
      "properties": {
        "InstanceType": {
          "$ref": "#/definitions/ESPartitionInstanceType",
          "description": "The instance type for an Elasticsearch cluster."
        },
        "InstanceCount": {
          "$ref": "#/definitions/IntegerClass",
          "description": "The number of instances in the specified domain cluster."
        },
        "DedicatedMasterEnabled": {
          "$ref": "#/definitions/Boolean",
          "description": "A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information."
        },
        "ZoneAwarenessEnabled": {
          "$ref": "#/definitions/Boolean",
          "description": "A boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information."
        },
        "DedicatedMasterType": {
          "$ref": "#/definitions/ESPartitionInstanceType",
          "description": "The instance type for a dedicated master node."
        },
        "DedicatedMasterCount": {
          "$ref": "#/definitions/IntegerClass",
          "description": "Total number of dedicated master nodes, active and on standby, for the cluster."
        }
      },
      "description": "Specifies the configuration for the domain cluster, such as the type and number of instances."
    },
    "ElasticsearchClusterConfigStatus": {
      "type": "object",
      "required": [
        "Options",
        "Status"
      ],
      "properties": {
        "Options": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": " Specifies the cluster configuration for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of the configuration for the specified Elasticsearch domain."
        }
      },
      "description": " Specifies the configuration status for the specified Elasticsearch domain."
    },
    "ElasticsearchDomainConfig": {
      "type": "object",
      "properties": {
        "ElasticsearchVersion": {
          "$ref": "#/definitions/ElasticsearchVersionStatus",
          "description": "String of format X.Y to specify version for the Elasticsearch domain."
        },
        "ElasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfigStatus",
          "description": "Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain."
        },
        "EBSOptions": {
          "$ref": "#/definitions/EBSOptionsStatus",
          "description": "Specifies the <code>EBSOptions</code> for the Elasticsearch domain."
        },
        "AccessPolicies": {
          "$ref": "#/definitions/AccessPoliciesStatus",
          "description": "IAM access policy as a JSON-formatted string."
        },
        "SnapshotOptions": {
          "$ref": "#/definitions/SnapshotOptionsStatus",
          "description": "Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain."
        },
        "AdvancedOptions": {
          "$ref": "#/definitions/AdvancedOptionsStatus",
          "description": "Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information."
        }
      },
      "description": "The configuration of an Elasticsearch domain."
    },
    "ElasticsearchDomainStatus": {
      "type": "object",
      "required": [
        "DomainId",
        "DomainName",
        "ARN",
        "ElasticsearchClusterConfig"
      ],
      "properties": {
        "DomainId": {
          "$ref": "#/definitions/DomainId",
          "description": "The unique identifier for the specified Elasticsearch domain."
        },
        "DomainName": {
          "$ref": "#/definitions/DomainName",
          "description": "The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen)."
        },
        "ARN": {
          "$ref": "#/definitions/ARN",
          "description": "The Amazon resource name (ARN) of an Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information."
        },
        "Created": {
          "$ref": "#/definitions/Boolean",
          "description": "The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress."
        },
        "Deleted": {
          "$ref": "#/definitions/Boolean",
          "description": "The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned."
        },
        "Endpoint": {
          "$ref": "#/definitions/ServiceUrl",
          "description": "The Elasticsearch domain endpoint that you use to submit index and search requests."
        },
        "Processing": {
          "$ref": "#/definitions/Boolean",
          "description": "The status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch Service is processing configuration changes. <code>False</code> if the configuration is active."
        },
        "ElasticsearchVersion": {
          "$ref": "#/definitions/ElasticsearchVersionString"
        },
        "ElasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": "The type and number of instances in the domain cluster."
        },
        "EBSOptions": {
          "$ref": "#/definitions/EBSOptions",
          "description": "The <code>EBSOptions</code> for the specified domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\">Configuring EBS-based Storage</a> for more information."
        },
        "AccessPolicies": {
          "$ref": "#/definitions/PolicyDocument",
          "description": " IAM access policy as a JSON-formatted string."
        },
        "SnapshotOptions": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Specifies the status of the <code>SnapshotOptions</code>"
        },
        "AdvancedOptions": {
          "$ref": "#/definitions/AdvancedOptions",
          "description": "Specifies the status of the <code>AdvancedOptions</code>"
        }
      },
      "description": "The current status of an Elasticsearch domain."
    },
    "ElasticsearchDomainStatusList": {
      "type": "array",
      "description": "A list that contains the status of each requested Elasticsearch domain.",
      "items": {
        "$ref": "#/definitions/ElasticsearchDomainStatus"
      }
    },
    "ElasticsearchVersionStatus": {
      "type": "object",
      "required": [
        "Options",
        "Status"
      ],
      "properties": {
        "Options": {
          "$ref": "#/definitions/ElasticsearchVersionString",
          "description": " Specifies the Elasticsearch version for the specified Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": " Specifies the status of the Elasticsearch version options for the specified Elasticsearch domain."
        }
      },
      "description": " Status of the Elasticsearch version options for the specified Elasticsearch domain."
    },
    "ElasticsearchVersionString": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "IntegerClass": {
      "type": "integer"
    },
    "InternalException": {
      "type": "object",
      "properties": {},
      "description": "The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500."
    },
    "InvalidTypeException": {
      "type": "object",
      "properties": {},
      "description": "An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409."
    },
    "LimitExceededException": {
      "type": "object",
      "properties": {},
      "description": "An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409."
    },
    "ListDomainNamesResponse": {
      "type": "object",
      "properties": {
        "DomainNames": {
          "$ref": "#/definitions/DomainInfoList",
          "description": "List of Elasticsearch domain names."
        }
      },
      "description": "The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account."
    },
    "ListTagsRequest": {
      "type": "object",
      "properties": {},
      "description": "Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached."
    },
    "ListTagsResponse": {
      "type": "object",
      "properties": {
        "TagList": {
          "$ref": "#/definitions/TagList",
          "description": " List of <code>Tag</code> for the requested Elasticsearch domain."
        }
      },
      "description": "The result of a <code>ListTags</code> operation. Contains tags for all requested Elasticsearch domains."
    },
    "OptionState": {
      "type": "string",
      "enum": [
        "RequiresIndexDocuments",
        "Processing",
        "Active"
      ],
      "description": "<p>The state of a requested change. One of the following:</p> <ul> <li>Processing: The request change is still in-process.</li> <li>Active: The request change is processed and deployed to the Elasticsearch domain.</li> </ul>"
    },
    "OptionStatus": {
      "type": "object",
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "properties": {
        "CreationDate": {
          "$ref": "#/definitions/UpdateTimestamp",
          "description": "Timestamp which tells the creation date for the entity."
        },
        "UpdateDate": {
          "$ref": "#/definitions/UpdateTimestamp",
          "description": "Timestamp which tells the last updated time for the entity."
        },
        "UpdateVersion": {
          "$ref": "#/definitions/UIntValue",
          "description": "Specifies the latest version for the entity."
        },
        "State": {
          "$ref": "#/definitions/OptionState",
          "description": "Provides the <code>OptionState</code> for the Elasticsearch domain."
        },
        "PendingDeletion": {
          "$ref": "#/definitions/Boolean",
          "description": "Indicates whether the Elasticsearch domain is being deleted."
        }
      },
      "description": "Provides the current status of the entity."
    },
    "PolicyDocument": {
      "type": "string",
      "description": "Access policy rules for an Elasticsearch domain service endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\">Configuring Access Policies</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>. The maximum size of a policy document is 100 KB."
    },
    "RemoveTagsRequest": {
      "type": "object",
      "required": [
        "ARN",
        "TagKeys"
      ],
      "properties": {
        "ARN": {
          "$ref": "#/definitions/ARN",
          "description": "Specifies the <code>ARN</code> for the Elasticsearch domain from which you want to delete the specified tags."
        },
        "TagKeys": {
          "$ref": "#/definitions/StringList",
          "description": "Specifies the <code>TagKey</code> list which you want to remove from the Elasticsearch domain."
        }
      },
      "description": "Container for the parameters to the <code><a>RemoveTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain from which you want to remove the specified <code>TagKey</code>."
    },
    "ResourceAlreadyExistsException": {
      "type": "object",
      "properties": {},
      "description": "An exception for creating a resource that already exists. Gives http status code of 400."
    },
    "ResourceNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "An exception for accessing or deleting a resource that does not exist. Gives http status code of 400."
    },
    "ServiceUrl": {
      "type": "string",
      "description": "The endpoint to which service requests are submitted. For example, <code>search-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code> or <code>doc-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.es.amazonaws.com</code>."
    },
    "SnapshotOptions": {
      "type": "object",
      "properties": {
        "AutomatedSnapshotStartHour": {
          "$ref": "#/definitions/IntegerClass",
          "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours."
        }
      },
      "description": "Specifies the time, in UTC format, when the service takes a daily automated snapshot of the specified Elasticsearch domain. Default value is <code>0</code> hours."
    },
    "SnapshotOptionsStatus": {
      "type": "object",
      "required": [
        "Options",
        "Status"
      ],
      "properties": {
        "Options": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Specifies the daily snapshot options specified for the Elasticsearch domain."
        },
        "Status": {
          "$ref": "#/definitions/OptionStatus",
          "description": "Specifies the status of a daily automated snapshot."
        }
      },
      "description": "Status of a daily automated snapshot."
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/String"
      }
    },
    "Tag": {
      "type": "object",
      "required": [
        "Key",
        "Value"
      ],
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "Specifies the <code>TagKey</code>, the name of the tag. Tag keys must be unique for the Elasticsearch domain to which they are attached."
        },
        "Value": {
          "$ref": "#/definitions/TagValue",
          "description": "Specifies the <code>TagValue</code>, the value assigned to the corresponding tag key. Tag values can be null and do not have to be unique in a tag set. For example, you can have a key value pair in a tag set of <code>project : Trinity</code> and <code>cost-center : Trinity</code>"
        }
      },
      "description": "Specifies a key value pair for a resource tag."
    },
    "TagKey": {
      "type": "string",
      "description": "A string of length from 1 to 128 characters that specifies the key for a Tag. Tag keys must be unique for the Elasticsearch domain to which they are attached.",
      "minLength": 1,
      "maxLength": 128
    },
    "TagList": {
      "type": "array",
      "description": "A list of <code>Tag</code> ",
      "items": {
        "$ref": "#/definitions/Tag"
      }
    },
    "TagValue": {
      "type": "string",
      "description": "A string of length from 0 to 256 characters that specifies the value for a Tag. Tag values can be null and do not have to be unique in a tag set.",
      "minLength": 0,
      "maxLength": 256
    },
    "UIntValue": {
      "type": "integer",
      "minimum": 0
    },
    "UpdateElasticsearchDomainConfigRequest": {
      "type": "object",
      "properties": {
        "ElasticsearchClusterConfig": {
          "$ref": "#/definitions/ElasticsearchClusterConfig",
          "description": "The type and number of instances to instantiate for the domain cluster."
        },
        "EBSOptions": {
          "$ref": "#/definitions/EBSOptions",
          "description": "Specify the type and size of the EBS volume that you want to use. "
        },
        "SnapshotOptions": {
          "$ref": "#/definitions/SnapshotOptions",
          "description": "Option to set the time, in UTC format, for the daily automated snapshot. Default value is <code>0</code> hours. "
        },
        "AdvancedOptions": {
          "$ref": "#/definitions/AdvancedOptions",
          "description": "Modifies the advanced option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information."
        },
        "AccessPolicies": {
          "$ref": "#/definitions/PolicyDocument",
          "description": "IAM access policy as a JSON-formatted string."
        }
      },
      "description": "Container for the parameters to the <code><a>UpdateElasticsearchDomain</a></code> operation. Specifies the type and number of instances in the domain cluster."
    },
    "UpdateElasticsearchDomainConfigResponse": {
      "type": "object",
      "required": [
        "DomainConfig"
      ],
      "properties": {
        "DomainConfig": {
          "$ref": "#/definitions/ElasticsearchDomainConfig",
          "description": "The status of the updated Elasticsearch domain. "
        }
      },
      "description": "The result of an <code>UpdateElasticsearchDomain</code> request. Contains the status of the Elasticsearch domain being updated."
    },
    "UpdateTimestamp": {
      "type": "string",
      "format": "date-time"
    },
    "ValidationException": {
      "type": "object",
      "properties": {},
      "description": "An exception for missing / invalid input fields. Gives http status code of 400."
    },
    "VolumeType": {
      "type": "string",
      "enum": [
        "standard",
        "gp2",
        "io1"
      ],
      "description": " The type of EBS volume, standard, gp2, or io1. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\">Configuring EBS-based Storage</a>for more information."
    }
  }
}