{
  "swagger": "2.0",
  "info": {
    "version": "2014-11-01",
    "x-release": "v4",
    "title": "AWS Key Management Service",
    "description": "<fullname>AWS Key Management Service</fullname> <p>AWS Key Management Service (AWS KMS) is an encryption and key management web service. This guide describes the AWS KMS operations that you can call programmatically. For general information about AWS KMS, see the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/\">AWS Key Management Service Developer Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS KMS and other AWS services. For example, the SDKs take care of tasks such as signing requests (see below), managing errors, and retrying requests automatically. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to AWS KMS.</p> <p>Clients must support TLS (Transport Layer Security) 1.0. We recommend TLS 1.2. Clients must also support cipher suites with Perfect Forward Secrecy (PFS) such as Ephemeral Diffie-Hellman (DHE) or Elliptic Curve Ephemeral Diffie-Hellman (ECDHE). Most modern systems such as Java 7 and later support these modes.</p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed by using an access key ID and a secret access key. We strongly recommend that you <i>do not</i> use your AWS account (root) access key ID and secret key for everyday work with AWS KMS. Instead, use the access key ID and secret access key for an IAM user, or you can use the AWS Security Token Service to generate temporary security credentials that you can use to sign requests.</p> <p>All AWS KMS operations require <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> <p> <b>Logging API Requests</b> </p> <p>AWS KMS supports AWS CloudTrail, a service that logs AWS API calls and related events for your AWS account and delivers them to an Amazon S3 bucket that you specify. By using the information collected by CloudTrail, you can determine what requests were made to AWS KMS, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">AWS CloudTrail User Guide</a>.</p> <p> <b>Additional Resources</b> </p> <p>For more information about credentials and request signing, see the following:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a> - This topic provides general information about the types of credentials used for accessing AWS.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary Security Credentials</a> - This section of the <i>IAM User Guide</i> describes how to create and use temporary security credentials.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> - This set of topics walks you through the process of signing a request using an access key ID and a secret access key.</p> </li> </ul> <p> <b>Commonly Used APIs</b> </p> <p>Of the APIs discussed in this guide, the following will prove the most useful for most applications. You will likely perform actions other than these, such as creating keys and assigning policies, by using the console.</p> <ul> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>Decrypt</a> </p> </li> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> </ul>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/kms/"
  },
  "host": "kms.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "format": "date-time",
      "required": true
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "UpdateKeyDescription",
        "description": "Updates the description of a key.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "NotFoundException",
            "schema": {
              "$ref": "#/definitions/NotFoundException"
            }
          },
          "481": {
            "description": "InvalidArnException",
            "schema": {
              "$ref": "#/definitions/InvalidArnException"
            }
          },
          "482": {
            "description": "DependencyTimeoutException",
            "schema": {
              "$ref": "#/definitions/DependencyTimeoutException"
            }
          },
          "483": {
            "description": "KMSInternalException",
            "schema": {
              "$ref": "#/definitions/KMSInternalException"
            }
          },
          "484": {
            "description": "KMSInvalidStateException",
            "schema": {
              "$ref": "#/definitions/KMSInvalidStateException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateKeyDescriptionRequest"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        }
      ]
    }
  },
  "definitions": {
    "AWSAccountIdType": {
      "type": "string"
    },
    "AlgorithmSpec": {
      "type": "string",
      "enum": [
        "RSAES_PKCS1_V1_5",
        "RSAES_OAEP_SHA_1",
        "RSAES_OAEP_SHA_256"
      ]
    },
    "AliasList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AliasListEntry"
      }
    },
    "AliasListEntry": {
      "type": "object",
      "properties": {
        "AliasName": {
          "$ref": "#/definitions/AliasNameType",
          "description": "String that contains the alias."
        },
        "AliasArn": {
          "$ref": "#/definitions/ArnType",
          "description": "String that contains the key ARN."
        },
        "TargetKeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "String that contains the key identifier pointed to by the alias."
        }
      },
      "description": "Contains information about an alias."
    },
    "AliasNameType": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9:/_-]+$",
      "minLength": 1,
      "maxLength": 256
    },
    "AlreadyExistsException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because it attempted to create a resource that already exists."
    },
    "ArnType": {
      "type": "string",
      "minLength": 20,
      "maxLength": 2048
    },
    "BooleanType": {
      "type": "boolean"
    },
    "CancelKeyDeletionRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>The unique identifier for the customer master key (CMK) for which to cancel deletion.</p> <p>To specify this value, use the unique key ID or the Amazon Resource Name (ARN) of the CMK. Examples:</p> <ul> <li> <p>Unique key ID: 1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> <li> <p>Key ARN: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> </ul> <p>To obtain the unique key ID and key ARN for a given CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>"
        }
      }
    },
    "CancelKeyDeletionResponse": {
      "type": "object",
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "The unique identifier of the master key for which deletion is canceled."
        }
      }
    },
    "CiphertextType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 6144
    },
    "CreateAliasRequest": {
      "type": "object",
      "required": [
        "AliasName",
        "TargetKeyId"
      ],
      "properties": {
        "AliasName": {
          "$ref": "#/definitions/AliasNameType",
          "description": "String that contains the display name. The name must start with the word \"alias\" followed by a forward slash (alias/). Aliases that begin with \"alias/AWS\" are reserved."
        },
        "TargetKeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>An identifier of the key for which you are creating the alias. This value cannot be another alias but can be a globally unique identifier or a fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        }
      }
    },
    "CreateGrantRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "GranteePrincipal"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>The unique identifier for the customer master key (CMK) that the grant applies to.</p> <p>To specify this value, use the globally unique key ID or the Amazon Resource Name (ARN) of the key. Examples:</p> <ul> <li> <p>Globally unique key ID: 12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Key ARN: arn:aws:kms:us-west-2:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        },
        "GranteePrincipal": {
          "$ref": "#/definitions/PrincipalIdType",
          "description": "<p>The principal that is given permission to perform the operations that the grant permits.</p> <p>To specify the principal, use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts (root), IAM users, federated users, and assumed role users. For examples of the ARN syntax to use for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>AWS General Reference</i>.</p>"
        },
        "RetiringPrincipal": {
          "$ref": "#/definitions/PrincipalIdType",
          "description": "<p>The principal that is given permission to retire the grant by using <a>RetireGrant</a> operation.</p> <p>To specify the principal, use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts (root), IAM users, federated users, and assumed role users. For examples of the ARN syntax to use for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>AWS General Reference</i>.</p>"
        },
        "Operations": {
          "$ref": "#/definitions/GrantOperationList",
          "description": "<p>A list of operations that the grant permits. The list can contain any combination of one or more of the following values:</p> <ul> <li> <p> <a>Decrypt</a> </p> </li> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_ReEncrypt.html\">ReEncryptFrom</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_ReEncrypt.html\">ReEncryptTo</a> </p> </li> <li> <p> <a>CreateGrant</a> </p> </li> <li> <p> <a>RetireGrant</a> </p> </li> <li> <p> <a>DescribeKey</a> </p> </li> </ul>"
        },
        "Constraints": {
          "$ref": "#/definitions/GrantConstraints",
          "description": "<p>The conditions under which the operations permitted by the grant are allowed.</p> <p>You can use this value to allow the operations permitted by the grant only when a specified encryption context is present. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        "GrantTokens": {
          "$ref": "#/definitions/GrantTokenList",
          "description": "<p>A list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        "Name": {
          "$ref": "#/definitions/GrantNameType",
          "description": "<p>A friendly name for identifying the grant. Use this value to prevent unintended creation of duplicate grants when retrying this request.</p> <p>When this value is absent, all <code>CreateGrant</code> requests result in a new grant with a unique <code>GrantId</code> even if all the supplied parameters are identical. This can result in unintended duplicates when you retry the <code>CreateGrant</code> request.</p> <p>When this value is present, you can retry a <code>CreateGrant</code> request with identical parameters; if the grant already exists, the original <code>GrantId</code> is returned without creating a new grant. Note that the returned grant token is unique with every <code>CreateGrant</code> request, even when a duplicate <code>GrantId</code> is returned. All grant tokens obtained in this way can be used interchangeably.</p>"
        }
      }
    },
    "CreateGrantResponse": {
      "type": "object",
      "properties": {
        "GrantToken": {
          "$ref": "#/definitions/GrantTokenType",
          "description": "<p>The grant token.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        "GrantId": {
          "$ref": "#/definitions/GrantIdType",
          "description": "<p>The unique identifier for the grant.</p> <p>You can use the <code>GrantId</code> in a subsequent <a>RetireGrant</a> or <a>RevokeGrant</a> operation.</p>"
        }
      }
    },
    "CreateKeyRequest": {
      "type": "object",
      "properties": {
        "Policy": {
          "$ref": "#/definitions/PolicyType",
          "description": "<p>The key policy to attach to the CMK.</p> <p>If you specify a policy and do not set <code>BypassPolicyLockoutSafetyCheck</code> to true, the policy must meet the following criteria:</p> <ul> <li> <p>It must allow the principal making the <code>CreateKey</code> request to make a subsequent <a>PutKeyPolicy</a> request on the CMK. This reduces the likelihood that the CMK becomes unmanageable. For more information, refer to the scenario in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section in the <i>AWS Key Management Service Developer Guide</i>.</p> </li> <li> <p>The principal(s) specified in the key policy must exist and be visible to AWS KMS. When you create a new AWS principal (for example, an IAM user or role), you might need to enforce a delay before specifying the new principal in a key policy because the new principal might not immediately be visible to AWS KMS. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency\">Changes that I make are not always immediately visible</a> in the <i>IAM User Guide</i>.</p> </li> </ul> <p>If you do not specify a policy, AWS KMS attaches a default key policy to the CMK. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default Key Policy</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The policy size limit is 32 KiB (32768 bytes).</p>"
        },
        "Description": {
          "$ref": "#/definitions/DescriptionType",
          "description": "<p>A description of the CMK.</p> <p>Use a description that helps you decide whether the CMK is appropriate for a task.</p>"
        },
        "KeyUsage": {
          "$ref": "#/definitions/KeyUsageType",
          "description": "<p>The intended use of the CMK.</p> <p>You can use CMKs only for symmetric encryption and decryption.</p>"
        },
        "Origin": {
          "$ref": "#/definitions/OriginType",
          "description": "<p>The source of the CMK's key material.</p> <p>The default is <code>AWS_KMS</code>, which means AWS KMS creates the key material. When this parameter is set to <code>EXTERNAL</code>, the request creates a CMK without key material so that you can import key material from your existing key management infrastructure. For more information about importing key material into AWS KMS, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The CMK's <code>Origin</code> is immutable and is set when the CMK is created.</p>"
        },
        "BypassPolicyLockoutSafetyCheck": {
          "$ref": "#/definitions/BooleanType",
          "description": "<p>A flag to indicate whether to bypass the key policy lockout safety check.</p> <important> <p>Setting this value to true increases the likelihood that the CMK becomes unmanageable. Do not set this value to true indiscriminately.</p> <p>For more information, refer to the scenario in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section in the <i>AWS Key Management Service Developer Guide</i>.</p> </important> <p>Use this parameter only when you include a policy in the request and you intend to prevent the principal making the request from making a subsequent <a>PutKeyPolicy</a> request on the CMK.</p> <p>The default value is false.</p>"
        }
      }
    },
    "CreateKeyResponse": {
      "type": "object",
      "properties": {
        "KeyMetadata": {
          "$ref": "#/definitions/KeyMetadata",
          "description": "Metadata associated with the CMK."
        }
      }
    },
    "DataKeySpec": {
      "type": "string",
      "enum": [
        "AES_256",
        "AES_128"
      ]
    },
    "DateType": {
      "type": "string",
      "format": "date-time"
    },
    "DecryptRequest": {
      "type": "object",
      "required": [
        "CiphertextBlob"
      ],
      "properties": {
        "CiphertextBlob": {
          "$ref": "#/definitions/CiphertextType",
          "description": "Ciphertext to be decrypted. The blob includes metadata."
        },
        "EncryptionContext": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "The encryption context. If this was specified in the <a>Encrypt</a> function, it must be specified here or the decryption operation will fail. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a>."
        },
        "GrantTokens": {
          "$ref": "#/definitions/GrantTokenList",
          "description": "<p>A list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      }
    },
    "DecryptResponse": {
      "type": "object",
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "ARN of the key used to perform the decryption. This value is returned if no errors are encountered during the operation."
        },
        "Plaintext": {
          "$ref": "#/definitions/PlaintextType",
          "description": "Decrypted plaintext data. This value may not be returned if the customer master key is not available or if you didn't have permission to use it."
        }
      }
    },
    "DeleteAliasRequest": {
      "type": "object",
      "required": [
        "AliasName"
      ],
      "properties": {
        "AliasName": {
          "$ref": "#/definitions/AliasNameType",
          "description": "The alias to be deleted. The name must start with the word \"alias\" followed by a forward slash (alias/). Aliases that begin with \"alias/AWS\" are reserved."
        }
      }
    },
    "DeleteImportedKeyMaterialRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>The identifier of the CMK whose key material to delete. The CMK's <code>Origin</code> must be <code>EXTERNAL</code>.</p> <p>A valid identifier is the unique key ID or the Amazon Resource Name (ARN) of the CMK. Examples:</p> <ul> <li> <p>Unique key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> </ul>"
        }
      }
    },
    "DependencyTimeoutException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The system timed out while trying to fulfill the request. The request can be retried."
    },
    "DescribeKeyRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier, a fully specified ARN to either an alias or a key, or an alias name prefixed by \"alias/\".</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias ARN Example - arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias Name Example - alias/MyAliasName</p> </li> </ul>"
        },
        "GrantTokens": {
          "$ref": "#/definitions/GrantTokenList",
          "description": "<p>A list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      }
    },
    "DescribeKeyResponse": {
      "type": "object",
      "properties": {
        "KeyMetadata": {
          "$ref": "#/definitions/KeyMetadata",
          "description": "Metadata associated with the key."
        }
      }
    },
    "DescriptionType": {
      "type": "string",
      "minLength": 0,
      "maxLength": 8192
    },
    "DisableKeyRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the CMK.</p> <p>Use the CMK's unique identifier or its Amazon Resource Name (ARN). For example:</p> <ul> <li> <p>Unique ID: 1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> <li> <p>ARN: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> </ul>"
        }
      }
    },
    "DisableKeyRotationRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        }
      }
    },
    "DisabledException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the specified key was marked as disabled."
    },
    "EnableKeyRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        }
      }
    },
    "EnableKeyRotationRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        }
      }
    },
    "EncryptRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "Plaintext"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier, a fully specified ARN to either an alias or a key, or an alias name prefixed by \"alias/\".</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias ARN Example - arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias Name Example - alias/MyAliasName</p> </li> </ul>"
        },
        "Plaintext": {
          "$ref": "#/definitions/PlaintextType",
          "description": "Data to be encrypted."
        },
        "EncryptionContext": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "Name/value pair that specifies the encryption context to be used for authenticated encryption. If used here, the same value must be supplied to the <code>Decrypt</code> API or decryption will fail. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a>."
        },
        "GrantTokens": {
          "$ref": "#/definitions/GrantTokenList",
          "description": "<p>A list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      }
    },
    "EncryptResponse": {
      "type": "object",
      "properties": {
        "CiphertextBlob": {
          "$ref": "#/definitions/CiphertextType",
          "description": "The encrypted plaintext. If you are using the CLI, the value is Base64 encoded. Otherwise, it is not encoded."
        },
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "The ID of the key used during encryption."
        }
      }
    },
    "EncryptionContextKey": {
      "type": "string"
    },
    "EncryptionContextType": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "key": {
            "$ref": "#/definitions/EncryptionContextKey"
          },
          "value": {
            "$ref": "#/definitions/EncryptionContextValue"
          }
        }
      }
    },
    "EncryptionContextValue": {
      "type": "string"
    },
    "ErrorMessageType": {
      "type": "string"
    },
    "ExpirationModelType": {
      "type": "string",
      "enum": [
        "KEY_MATERIAL_EXPIRES",
        "KEY_MATERIAL_DOES_NOT_EXPIRE"
      ]
    },
    "ExpiredImportTokenException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the provided import token is expired. Use <a>GetParametersForImport</a> to retrieve a new import token and public key, use the new public key to encrypt the key material, and then try the request again."
    },
    "GenerateDataKeyRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier, a fully specified ARN to either an alias or a key, or an alias name prefixed by \"alias/\".</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias ARN Example - arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias Name Example - alias/MyAliasName</p> </li> </ul>"
        },
        "EncryptionContext": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "Name/value pair that contains additional data to be authenticated during the encryption and decryption processes that use the key. This value is logged by AWS CloudTrail to provide context around the data encrypted by the key."
        },
        "NumberOfBytes": {
          "$ref": "#/definitions/NumberOfBytesType",
          "description": "Integer that contains the number of bytes to generate. Common values are 128, 256, 512, and 1024. 1024 is the current limit. We recommend that you use the <code>KeySpec</code> parameter instead."
        },
        "KeySpec": {
          "$ref": "#/definitions/DataKeySpec",
          "description": "Value that identifies the encryption algorithm and key size to generate a data key for. Currently this can be AES_128 or AES_256."
        },
        "GrantTokens": {
          "$ref": "#/definitions/GrantTokenList",
          "description": "<p>A list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      }
    },
    "GenerateDataKeyResponse": {
      "type": "object",
      "properties": {
        "CiphertextBlob": {
          "$ref": "#/definitions/CiphertextType",
          "description": "<p>Ciphertext that contains the encrypted data key. You must store the blob and enough information to reconstruct the encryption context so that the data encrypted by using the key can later be decrypted. You must provide both the ciphertext blob and the encryption context to the <a>Decrypt</a> API to recover the plaintext data key and decrypt the object.</p> <p>If you are using the CLI, the value is Base64 encoded. Otherwise, it is not encoded.</p>"
        },
        "Plaintext": {
          "$ref": "#/definitions/PlaintextType",
          "description": "Plaintext that contains the data key. Use this for encryption and decryption and then remove it from memory as soon as possible."
        },
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "System generated unique identifier of the key to be used to decrypt the encrypted copy of the data key."
        }
      }
    },
    "GenerateDataKeyWithoutPlaintextRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier, a fully specified ARN to either an alias or a key, or an alias name prefixed by \"alias/\".</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias ARN Example - arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias Name Example - alias/MyAliasName</p> </li> </ul>"
        },
        "EncryptionContext": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "Name:value pair that contains additional data to be authenticated during the encryption and decryption processes."
        },
        "KeySpec": {
          "$ref": "#/definitions/DataKeySpec",
          "description": "Value that identifies the encryption algorithm and key size. Currently this can be AES_128 or AES_256."
        },
        "NumberOfBytes": {
          "$ref": "#/definitions/NumberOfBytesType",
          "description": "Integer that contains the number of bytes to generate. Common values are 128, 256, 512, 1024 and so on. We recommend that you use the <code>KeySpec</code> parameter instead."
        },
        "GrantTokens": {
          "$ref": "#/definitions/GrantTokenList",
          "description": "<p>A list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      }
    },
    "GenerateDataKeyWithoutPlaintextResponse": {
      "type": "object",
      "properties": {
        "CiphertextBlob": {
          "$ref": "#/definitions/CiphertextType",
          "description": "<p>Ciphertext that contains the wrapped data key. You must store the blob and encryption context so that the key can be used in a future decrypt operation.</p> <p>If you are using the CLI, the value is Base64 encoded. Otherwise, it is not encoded.</p>"
        },
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "System generated unique identifier of the key to be used to decrypt the encrypted copy of the data key."
        }
      }
    },
    "GenerateRandomRequest": {
      "type": "object",
      "properties": {
        "NumberOfBytes": {
          "$ref": "#/definitions/NumberOfBytesType",
          "description": "Integer that contains the number of bytes to generate. Common values are 128, 256, 512, 1024 and so on. The current limit is 1024 bytes."
        }
      }
    },
    "GenerateRandomResponse": {
      "type": "object",
      "properties": {
        "Plaintext": {
          "$ref": "#/definitions/PlaintextType",
          "description": "Plaintext that contains the unpredictable byte string."
        }
      }
    },
    "GetKeyPolicyRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "PolicyName"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        },
        "PolicyName": {
          "$ref": "#/definitions/PolicyNameType",
          "description": "String that contains the name of the policy. Currently, this must be \"default\". Policy names can be discovered by calling <a>ListKeyPolicies</a>."
        }
      }
    },
    "GetKeyPolicyResponse": {
      "type": "object",
      "properties": {
        "Policy": {
          "$ref": "#/definitions/PolicyType",
          "description": "A policy document in JSON format."
        }
      }
    },
    "GetKeyRotationStatusRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        }
      }
    },
    "GetKeyRotationStatusResponse": {
      "type": "object",
      "properties": {
        "KeyRotationEnabled": {
          "$ref": "#/definitions/BooleanType",
          "description": "A Boolean value that specifies whether key rotation is enabled."
        }
      }
    },
    "GetParametersForImportRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "WrappingAlgorithm",
        "WrappingKeySpec"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>The identifier of the CMK into which you will import key material. The CMK's <code>Origin</code> must be <code>EXTERNAL</code>.</p> <p>A valid identifier is the unique key ID or the Amazon Resource Name (ARN) of the CMK. Examples:</p> <ul> <li> <p>Unique key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> </ul>"
        },
        "WrappingAlgorithm": {
          "$ref": "#/definitions/AlgorithmSpec",
          "description": "The algorithm you will use to encrypt the key material before importing it with <a>ImportKeyMaterial</a>. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys-encrypt-key-material.html\">Encrypt the Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>."
        },
        "WrappingKeySpec": {
          "$ref": "#/definitions/WrappingKeySpec",
          "description": "The type of wrapping key (public key) to return in the response. Only 2048-bit RSA public keys are supported."
        }
      }
    },
    "GetParametersForImportResponse": {
      "type": "object",
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "The identifier of the CMK to use in a subsequent <a>ImportKeyMaterial</a> request. This is the same CMK specified in the <code>GetParametersForImport</code> request."
        },
        "ImportToken": {
          "$ref": "#/definitions/CiphertextType",
          "description": "The import token to send in a subsequent <a>ImportKeyMaterial</a> request."
        },
        "PublicKey": {
          "$ref": "#/definitions/PlaintextType",
          "description": "The public key to use to encrypt the key material before importing it with <a>ImportKeyMaterial</a>."
        },
        "ParametersValidTo": {
          "$ref": "#/definitions/DateType",
          "description": "The time at which the import token and public key are no longer valid. After this time, you cannot use them to make an <a>ImportKeyMaterial</a> request and you must send another <code>GetParametersForImport</code> request to retrieve new ones."
        }
      }
    },
    "GrantConstraints": {
      "type": "object",
      "properties": {
        "EncryptionContextSubset": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "Contains a list of key-value pairs, a subset of which must be present in the encryption context of a subsequent operation permitted by the grant. When a subsequent operation permitted by the grant includes an encryption context that matches this list or is a subset of this list, the grant allows the operation. Otherwise, the operation is not allowed."
        },
        "EncryptionContextEquals": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "Contains a list of key-value pairs that must be present in the encryption context of a subsequent operation permitted by the grant. When a subsequent operation permitted by the grant includes an encryption context that matches this list, the grant allows the operation. Otherwise, the operation is not allowed."
        }
      },
      "description": "<p>A structure for specifying the conditions under which the operations permitted by the grant are allowed.</p> <p>You can use this structure to allow the operations permitted by the grant only when a specified encryption context is present. For more information about encryption context, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encrypt-context.html\">Encryption Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
    },
    "GrantIdType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
    },
    "GrantList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GrantListEntry"
      }
    },
    "GrantListEntry": {
      "type": "object",
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "The unique identifier for the customer master key (CMK) to which the grant applies."
        },
        "GrantId": {
          "$ref": "#/definitions/GrantIdType",
          "description": "The unique identifier for the grant."
        },
        "Name": {
          "$ref": "#/definitions/GrantNameType",
          "description": "The friendly name that identifies the grant. If a name was provided in the <a>CreateGrant</a> request, that name is returned. Otherwise this value is null."
        },
        "CreationDate": {
          "$ref": "#/definitions/DateType",
          "description": "The date and time when the grant was created."
        },
        "GranteePrincipal": {
          "$ref": "#/definitions/PrincipalIdType",
          "description": "The principal that receives the grant's permissions."
        },
        "RetiringPrincipal": {
          "$ref": "#/definitions/PrincipalIdType",
          "description": "The principal that can retire the grant."
        },
        "IssuingAccount": {
          "$ref": "#/definitions/PrincipalIdType",
          "description": "The AWS account under which the grant was issued."
        },
        "Operations": {
          "$ref": "#/definitions/GrantOperationList",
          "description": "The list of operations permitted by the grant."
        },
        "Constraints": {
          "$ref": "#/definitions/GrantConstraints",
          "description": "The conditions under which the grant's operations are allowed."
        }
      },
      "description": "Contains information about an entry in a list of grants."
    },
    "GrantNameType": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9:/_-]+$",
      "minLength": 1,
      "maxLength": 256
    },
    "GrantOperation": {
      "type": "string",
      "enum": [
        "Decrypt",
        "Encrypt",
        "GenerateDataKey",
        "GenerateDataKeyWithoutPlaintext",
        "ReEncryptFrom",
        "ReEncryptTo",
        "CreateGrant",
        "RetireGrant",
        "DescribeKey"
      ]
    },
    "GrantOperationList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GrantOperation"
      }
    },
    "GrantTokenList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GrantTokenType"
      },
      "minItems": 0,
      "maxItems": 10
    },
    "GrantTokenType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 8192
    },
    "ImportKeyMaterialRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "ImportToken",
        "EncryptedKeyMaterial"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>The identifier of the CMK to import the key material into. The CMK's <code>Origin</code> must be <code>EXTERNAL</code>.</p> <p>A valid identifier is the unique key ID or the Amazon Resource Name (ARN) of the CMK. Examples:</p> <ul> <li> <p>Unique key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> </ul>"
        },
        "ImportToken": {
          "$ref": "#/definitions/CiphertextType",
          "description": "The import token that you received in the response to a previous <a>GetParametersForImport</a> request. It must be from the same response that contained the public key that you used to encrypt the key material."
        },
        "EncryptedKeyMaterial": {
          "$ref": "#/definitions/CiphertextType",
          "description": "The encrypted key material to import. It must be encrypted with the public key that you received in the response to a previous <a>GetParametersForImport</a> request, using the wrapping algorithm that you specified in that request."
        },
        "ValidTo": {
          "$ref": "#/definitions/DateType",
          "description": "The time at which the imported key material expires. When the key material expires, AWS KMS deletes the key material and the CMK becomes unusable. You must omit this parameter when the <code>ExpirationModel</code> parameter is set to <code>KEY_MATERIAL_DOES_NOT_EXPIRE</code>. Otherwise it is required."
        },
        "ExpirationModel": {
          "$ref": "#/definitions/ExpirationModelType",
          "description": "Specifies whether the key material expires. The default is <code>KEY_MATERIAL_EXPIRES</code>, in which case you must include the <code>ValidTo</code> parameter. When this parameter is set to <code>KEY_MATERIAL_DOES_NOT_EXPIRE</code>, you must omit the <code>ValidTo</code> parameter."
        }
      }
    },
    "ImportKeyMaterialResponse": {
      "type": "object",
      "properties": {}
    },
    "IncorrectKeyMaterialException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the provided key material is invalid or is not the same key material that was previously imported into this customer master key (CMK)."
    },
    "InvalidAliasNameException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the specified alias name is not valid."
    },
    "InvalidArnException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because a specified ARN was not valid."
    },
    "InvalidCiphertextException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the specified ciphertext has been corrupted or is otherwise invalid."
    },
    "InvalidGrantIdException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the specified <code>GrantId</code> is not valid."
    },
    "InvalidGrantTokenException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because a grant token provided as part of the request is invalid."
    },
    "InvalidImportTokenException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the provided import token is invalid or is associated with a different customer master key (CMK)."
    },
    "InvalidKeyUsageException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the specified KeySpec parameter is not valid. The currently supported value is ENCRYPT/DECRYPT."
    },
    "InvalidMarkerException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the marker that specifies where pagination should next begin is not valid."
    },
    "KMSInternalException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because an internal exception occurred. The request can be retried."
    },
    "KMSInvalidStateException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "<p>The request was rejected because the state of the specified resource is not valid for this request.</p> <p>For more information about how key state affects the use of a customer master key (CMK), see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
    },
    "KeyIdType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 256
    },
    "KeyList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/KeyListEntry"
      }
    },
    "KeyListEntry": {
      "type": "object",
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "Unique identifier of the key."
        },
        "KeyArn": {
          "$ref": "#/definitions/ArnType",
          "description": "ARN of the key."
        }
      },
      "description": "Contains information about each entry in the key list."
    },
    "KeyMetadata": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "AWSAccountId": {
          "$ref": "#/definitions/AWSAccountIdType",
          "description": "The twelve-digit account ID of the AWS account that owns the CMK."
        },
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "The globally unique identifier for the CMK."
        },
        "Arn": {
          "$ref": "#/definitions/ArnType",
          "description": "The Amazon Resource Name (ARN) of the CMK. For examples, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">AWS Key Management Service (AWS KMS)</a> in the Example ARNs section of the <i>AWS General Reference</i>."
        },
        "CreationDate": {
          "$ref": "#/definitions/DateType",
          "description": "The date and time when the CMK was created."
        },
        "Enabled": {
          "$ref": "#/definitions/BooleanType",
          "description": "Specifies whether the CMK is enabled. When <code>KeyState</code> is <code>Enabled</code> this value is true, otherwise it is false."
        },
        "Description": {
          "$ref": "#/definitions/DescriptionType",
          "description": "The description of the CMK."
        },
        "KeyUsage": {
          "$ref": "#/definitions/KeyUsageType",
          "description": "The cryptographic operations for which you can use the CMK. Currently the only allowed value is <code>ENCRYPT_DECRYPT</code>, which means you can use the CMK for the <a>Encrypt</a> and <a>Decrypt</a> operations."
        },
        "KeyState": {
          "$ref": "#/definitions/KeyState",
          "description": "<p>The state of the CMK.</p> <p>For more information about how key state affects the use of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        },
        "DeletionDate": {
          "$ref": "#/definitions/DateType",
          "description": "The date and time after which AWS KMS deletes the CMK. This value is present only when <code>KeyState</code> is <code>PendingDeletion</code>, otherwise this value is omitted."
        },
        "ValidTo": {
          "$ref": "#/definitions/DateType",
          "description": "The time at which the imported key material expires. When the key material expires, AWS KMS deletes the key material and the CMK becomes unusable. This value is present only for CMKs whose <code>Origin</code> is <code>EXTERNAL</code> and whose <code>ExpirationModel</code> is <code>KEY_MATERIAL_EXPIRES</code>, otherwise this value is omitted."
        },
        "Origin": {
          "$ref": "#/definitions/OriginType",
          "description": "The source of the CMK's key material. When this value is <code>AWS_KMS</code>, AWS KMS created the key material. When this value is <code>EXTERNAL</code>, the key material was imported from your existing key management infrastructure or the CMK lacks key material."
        },
        "ExpirationModel": {
          "$ref": "#/definitions/ExpirationModelType",
          "description": "Specifies whether the CMK's key material expires. This value is present only when <code>Origin</code> is <code>EXTERNAL</code>, otherwise this value is omitted."
        }
      },
      "description": "<p>Contains metadata about a customer master key (CMK).</p> <p>This data type is used as a response element for the <a>CreateKey</a> and <a>DescribeKey</a> operations.</p>"
    },
    "KeyState": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled",
        "PendingDeletion",
        "PendingImport"
      ]
    },
    "KeyUnavailableException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the key was not available. The request can be retried."
    },
    "KeyUsageType": {
      "type": "string",
      "enum": [
        "ENCRYPT_DECRYPT"
      ]
    },
    "LimitExceededException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because a limit was exceeded. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a> in the <i>AWS Key Management Service Developer Guide</i>."
    },
    "LimitType": {
      "type": "integer",
      "minimum": 1,
      "maximum": 1000
    },
    "ListAliasesRequest": {
      "type": "object",
      "properties": {
        "Limit": {
          "$ref": "#/definitions/LimitType",
          "description": "<p>When paginating results, specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <code>Truncated</code> element in the response is set to true.</p> <p>This value is optional. If you include a value, it must be between 1 and 100, inclusive. If you do not include a value, it defaults to 50.</p>"
        },
        "Marker": {
          "$ref": "#/definitions/MarkerType",
          "description": "Use this parameter only when paginating results and only in a subsequent request after you receive a response with truncated results. Set it to the value of <code>NextMarker</code> from the response you just received."
        }
      }
    },
    "ListAliasesResponse": {
      "type": "object",
      "properties": {
        "Aliases": {
          "$ref": "#/definitions/AliasList",
          "description": "A list of key aliases in the user's account."
        },
        "NextMarker": {
          "$ref": "#/definitions/MarkerType",
          "description": "When <code>Truncated</code> is true, this value is present and contains the value to use for the <code>Marker</code> parameter in a subsequent pagination request."
        },
        "Truncated": {
          "$ref": "#/definitions/BooleanType",
          "description": "A flag that indicates whether there are more items in the list. If your results were truncated, you can use the <code>Marker</code> parameter to make a subsequent pagination request to retrieve more items in the list."
        }
      }
    },
    "ListGrantsRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "Limit": {
          "$ref": "#/definitions/LimitType",
          "description": "<p>When paginating results, specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <code>Truncated</code> element in the response is set to true.</p> <p>This value is optional. If you include a value, it must be between 1 and 100, inclusive. If you do not include a value, it defaults to 50.</p>"
        },
        "Marker": {
          "$ref": "#/definitions/MarkerType",
          "description": "Use this parameter only when paginating results and only in a subsequent request after you receive a response with truncated results. Set it to the value of <code>NextMarker</code> from the response you just received."
        },
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        }
      }
    },
    "ListGrantsResponse": {
      "type": "object",
      "properties": {
        "Grants": {
          "$ref": "#/definitions/GrantList",
          "description": "A list of grants."
        },
        "NextMarker": {
          "$ref": "#/definitions/MarkerType",
          "description": "When <code>Truncated</code> is true, this value is present and contains the value to use for the <code>Marker</code> parameter in a subsequent pagination request."
        },
        "Truncated": {
          "$ref": "#/definitions/BooleanType",
          "description": "A flag that indicates whether there are more items in the list. If your results were truncated, you can use the <code>Marker</code> parameter to make a subsequent pagination request to retrieve more items in the list."
        }
      }
    },
    "ListKeyPoliciesRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier, a fully specified ARN to either an alias or a key, or an alias name prefixed by \"alias/\".</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias ARN Example - arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias Name Example - alias/MyAliasName</p> </li> </ul>"
        },
        "Limit": {
          "$ref": "#/definitions/LimitType",
          "description": "<p>When paginating results, specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <code>Truncated</code> element in the response is set to true.</p> <p>This value is optional. If you include a value, it must be between 1 and 1000, inclusive. If you do not include a value, it defaults to 100.</p> <p>Currently only 1 policy can be attached to a key.</p>"
        },
        "Marker": {
          "$ref": "#/definitions/MarkerType",
          "description": "Use this parameter only when paginating results and only in a subsequent request after you receive a response with truncated results. Set it to the value of <code>NextMarker</code> from the response you just received."
        }
      }
    },
    "ListKeyPoliciesResponse": {
      "type": "object",
      "properties": {
        "PolicyNames": {
          "$ref": "#/definitions/PolicyNameList",
          "description": "A list of policy names. Currently, there is only one policy and it is named \"Default\"."
        },
        "NextMarker": {
          "$ref": "#/definitions/MarkerType",
          "description": "When <code>Truncated</code> is true, this value is present and contains the value to use for the <code>Marker</code> parameter in a subsequent pagination request."
        },
        "Truncated": {
          "$ref": "#/definitions/BooleanType",
          "description": "A flag that indicates whether there are more items in the list. If your results were truncated, you can use the <code>Marker</code> parameter to make a subsequent pagination request to retrieve more items in the list."
        }
      }
    },
    "ListKeysRequest": {
      "type": "object",
      "properties": {
        "Limit": {
          "$ref": "#/definitions/LimitType",
          "description": "<p>When paginating results, specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <code>Truncated</code> element in the response is set to true.</p> <p>This value is optional. If you include a value, it must be between 1 and 1000, inclusive. If you do not include a value, it defaults to 100.</p>"
        },
        "Marker": {
          "$ref": "#/definitions/MarkerType",
          "description": "Use this parameter only when paginating results and only in a subsequent request after you receive a response with truncated results. Set it to the value of <code>NextMarker</code> from the response you just received."
        }
      }
    },
    "ListKeysResponse": {
      "type": "object",
      "properties": {
        "Keys": {
          "$ref": "#/definitions/KeyList",
          "description": "A list of keys."
        },
        "NextMarker": {
          "$ref": "#/definitions/MarkerType",
          "description": "When <code>Truncated</code> is true, this value is present and contains the value to use for the <code>Marker</code> parameter in a subsequent pagination request."
        },
        "Truncated": {
          "$ref": "#/definitions/BooleanType",
          "description": "A flag that indicates whether there are more items in the list. If your results were truncated, you can use the <code>Marker</code> parameter to make a subsequent pagination request to retrieve more items in the list."
        }
      }
    },
    "ListRetirableGrantsRequest": {
      "type": "object",
      "required": [
        "RetiringPrincipal"
      ],
      "properties": {
        "Limit": {
          "$ref": "#/definitions/LimitType",
          "description": "<p>When paginating results, specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <code>Truncated</code> element in the response is set to true.</p> <p>This value is optional. If you include a value, it must be between 1 and 100, inclusive. If you do not include a value, it defaults to 50.</p>"
        },
        "Marker": {
          "$ref": "#/definitions/MarkerType",
          "description": "Use this parameter only when paginating results and only in a subsequent request after you receive a response with truncated results. Set it to the value of <code>NextMarker</code> from the response you just received."
        },
        "RetiringPrincipal": {
          "$ref": "#/definitions/PrincipalIdType",
          "description": "<p>The retiring principal for which to list grants.</p> <p>To specify the retiring principal, use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts (root), IAM users, federated users, and assumed role users. For examples of the ARN syntax for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>Amazon Web Services General Reference</i>.</p>"
        }
      }
    },
    "MalformedPolicyDocumentException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the specified policy is not syntactically or semantically correct."
    },
    "MarkerType": {
      "type": "string",
      "pattern": "[\\u0020-\\u00FF]*",
      "minLength": 1,
      "maxLength": 320
    },
    "NotFoundException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because the specified entity or resource could not be found."
    },
    "NumberOfBytesType": {
      "type": "integer",
      "minimum": 1,
      "maximum": 1024
    },
    "OriginType": {
      "type": "string",
      "enum": [
        "AWS_KMS",
        "EXTERNAL"
      ]
    },
    "PendingWindowInDaysType": {
      "type": "integer",
      "minimum": 1,
      "maximum": 365
    },
    "PlaintextType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 4096,
      "format": "password"
    },
    "PolicyNameList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyNameType"
      }
    },
    "PolicyNameType": {
      "type": "string",
      "pattern": "[\\w]+",
      "minLength": 1,
      "maxLength": 128
    },
    "PolicyType": {
      "type": "string",
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
      "minLength": 1,
      "maxLength": 131072
    },
    "PrincipalIdType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 256
    },
    "PutKeyPolicyRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "PolicyName",
        "Policy"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the CMK.</p> <p>Use the CMK's unique identifier or its Amazon Resource Name (ARN). For example:</p> <ul> <li> <p>Unique ID: 1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> <li> <p>ARN: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> </ul>"
        },
        "PolicyName": {
          "$ref": "#/definitions/PolicyNameType",
          "description": "<p>The name of the key policy.</p> <p>This value must be <code>default</code>.</p>"
        },
        "Policy": {
          "$ref": "#/definitions/PolicyType",
          "description": "<p>The key policy to attach to the CMK.</p> <p>If you do not set <code>BypassPolicyLockoutSafetyCheck</code> to true, the policy must meet the following criteria:</p> <ul> <li> <p>It must allow the principal making the <code>PutKeyPolicy</code> request to make a subsequent <code>PutKeyPolicy</code> request on the CMK. This reduces the likelihood that the CMK becomes unmanageable. For more information, refer to the scenario in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section in the <i>AWS Key Management Service Developer Guide</i>.</p> </li> <li> <p>The principal(s) specified in the key policy must exist and be visible to AWS KMS. When you create a new AWS principal (for example, an IAM user or role), you might need to enforce a delay before specifying the new principal in a key policy because the new principal might not immediately be visible to AWS KMS. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency\">Changes that I make are not always immediately visible</a> in the <i>IAM User Guide</i>.</p> </li> </ul> <p>The policy size limit is 32 KiB (32768 bytes).</p>"
        },
        "BypassPolicyLockoutSafetyCheck": {
          "$ref": "#/definitions/BooleanType",
          "description": "<p>A flag to indicate whether to bypass the key policy lockout safety check.</p> <important> <p>Setting this value to true increases the likelihood that the CMK becomes unmanageable. Do not set this value to true indiscriminately.</p> <p>For more information, refer to the scenario in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section in the <i>AWS Key Management Service Developer Guide</i>.</p> </important> <p>Use this parameter only when you intend to prevent the principal making the request from making a subsequent <code>PutKeyPolicy</code> request on the CMK.</p> <p>The default value is false.</p>"
        }
      }
    },
    "ReEncryptRequest": {
      "type": "object",
      "required": [
        "CiphertextBlob",
        "DestinationKeyId"
      ],
      "properties": {
        "CiphertextBlob": {
          "$ref": "#/definitions/CiphertextType",
          "description": "Ciphertext of the data to re-encrypt."
        },
        "SourceEncryptionContext": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "Encryption context used to encrypt and decrypt the data specified in the <code>CiphertextBlob</code> parameter."
        },
        "DestinationKeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key used to re-encrypt the data. This value can be a globally unique identifier, a fully specified ARN to either an alias or a key, or an alias name prefixed by \"alias/\".</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias ARN Example - arn:aws:kms:us-east-1:123456789012:alias/MyAliasName</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Alias Name Example - alias/MyAliasName</p> </li> </ul>"
        },
        "DestinationEncryptionContext": {
          "$ref": "#/definitions/EncryptionContextType",
          "description": "Encryption context to be used when the data is re-encrypted."
        },
        "GrantTokens": {
          "$ref": "#/definitions/GrantTokenList",
          "description": "<p>A list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
        }
      }
    },
    "ReEncryptResponse": {
      "type": "object",
      "properties": {
        "CiphertextBlob": {
          "$ref": "#/definitions/CiphertextType",
          "description": "The re-encrypted data. If you are using the CLI, the value is Base64 encoded. Otherwise, it is not encoded."
        },
        "SourceKeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "Unique identifier of the key used to originally encrypt the data."
        },
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "Unique identifier of the key used to re-encrypt the data."
        }
      }
    },
    "RetireGrantRequest": {
      "type": "object",
      "properties": {
        "GrantToken": {
          "$ref": "#/definitions/GrantTokenType",
          "description": "Token that identifies the grant to be retired."
        },
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key associated with the grant. This value can be a globally unique identifier or a fully specified ARN of the key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        },
        "GrantId": {
          "$ref": "#/definitions/GrantIdType",
          "description": "<p>Unique identifier of the grant to be retired. The grant ID is returned by the <code>CreateGrant</code> function.</p> <ul> <li> <p>Grant ID Example - 0123456789012345678901234567890123456789012345678901234567890123</p> </li> </ul>"
        }
      }
    },
    "RevokeGrantRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "GrantId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key associated with the grant. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        },
        "GrantId": {
          "$ref": "#/definitions/GrantIdType",
          "description": "Identifier of the grant to be revoked."
        }
      }
    },
    "ScheduleKeyDeletionRequest": {
      "type": "object",
      "required": [
        "KeyId"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>The unique identifier for the customer master key (CMK) to delete.</p> <p>To specify this value, use the unique key ID or the Amazon Resource Name (ARN) of the CMK. Examples:</p> <ul> <li> <p>Unique key ID: 1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> <li> <p>Key ARN: arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</p> </li> </ul> <p>To obtain the unique key ID and key ARN for a given CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>"
        },
        "PendingWindowInDays": {
          "$ref": "#/definitions/PendingWindowInDaysType",
          "description": "<p>The waiting period, specified in number of days. After the waiting period ends, AWS KMS deletes the customer master key (CMK).</p> <p>This value is optional. If you include a value, it must be between 7 and 30, inclusive. If you do not include a value, it defaults to 30.</p>"
        }
      }
    },
    "ScheduleKeyDeletionResponse": {
      "type": "object",
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "The unique identifier of the customer master key (CMK) for which deletion is scheduled."
        },
        "DeletionDate": {
          "$ref": "#/definitions/DateType",
          "description": "The date and time after which AWS KMS deletes the customer master key (CMK)."
        }
      }
    },
    "UnsupportedOperationException": {
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/ErrorMessageType"
        }
      },
      "description": "The request was rejected because a specified parameter is not supported or a specified resource is not valid for this operation."
    },
    "UpdateAliasRequest": {
      "type": "object",
      "required": [
        "AliasName",
        "TargetKeyId"
      ],
      "properties": {
        "AliasName": {
          "$ref": "#/definitions/AliasNameType",
          "description": "String that contains the name of the alias to be modified. The name must start with the word \"alias\" followed by a forward slash (alias/). Aliases that begin with \"alias/aws\" are reserved."
        },
        "TargetKeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>Unique identifier of the customer master key to be mapped to the alias. This value can be a globally unique identifier or the fully specified ARN of a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul> <p>You can call <a>ListAliases</a> to verify that the alias is mapped to the correct <code>TargetKeyId</code>.</p>"
        }
      }
    },
    "UpdateKeyDescriptionRequest": {
      "type": "object",
      "required": [
        "KeyId",
        "Description"
      ],
      "properties": {
        "KeyId": {
          "$ref": "#/definitions/KeyIdType",
          "description": "<p>A unique identifier for the customer master key. This value can be a globally unique identifier or the fully specified ARN to a key.</p> <ul> <li> <p>Key ARN Example - arn:aws:kms:us-east-1:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>Globally Unique Key ID Example - 12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        },
        "Description": {
          "$ref": "#/definitions/DescriptionType",
          "description": "New description for the key."
        }
      }
    },
    "WrappingKeySpec": {
      "type": "string",
      "enum": [
        "RSA_2048"
      ]
    }
  }
}