{
  "swagger": "2.0",
  "x-hasEquivalentPaths": true,
  "info": {
    "title": "NFL Official NGS Trial",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "http://developer.sportradar.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "Test our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in the box below. Sportradar's NFL Official NGS API",
    "x-mashery-id": "6429"
  },
  "schemes": [
    "http"
  ],
  "host": "api.sportradar.com",
  "basePath": "/",
  "externalDocs": {
    "description": "Note: For seasons which span multiple calendar years (e.g. 2015-16), use the earlier year as the season parameter (e.g. 2015).  The Golf API season parameter is based on the PGA official season year.",
    "url": "http://developer.sportradar.com/io-docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "NFL Official NGS"
    }
  ],
  "paths": {
    "/nfl-ngs-t1/games/{game_id}/leaders{format}": {
      "get": {
        "operationId": "GameLeadersNFLOfficialNGS",
        "summary": "Obtain complete leader information for a game.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "NFL Official Game ID",
            "in": "path",
            "required": true,
            "default": "f41e3add-034f-449d-ba4b-03bba55b2f22"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/games/{game_id}/pbp{format}": {
      "get": {
        "operationId": "GamePlay-By-PlayNFLOfficialNGS",
        "summary": "Obtain complete play-by-play narrative.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "NFL Official Game ID",
            "in": "path",
            "required": true,
            "default": "f41e3add-034f-449d-ba4b-03bba55b2f22"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/games/{game_id}/tracked_pbp{format}": {
      "get": {
        "operationId": "GamePlay-By-Play+NFLOfficialNGS",
        "summary": "Obtain complete play-by-play narrative and trackin...",
        "description": "Obtain complete play-by-play narrative and tracking information.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "NFL Official Game ID",
            "in": "path",
            "required": true,
            "default": "f41e3add-034f-449d-ba4b-03bba55b2f22"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/games/{game_id}/statistics{format}": {
      "get": {
        "operationId": "GameStatisticsNFLOfficialNGS",
        "summary": "Obtain team and player level statistics.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "NFL Official Game ID",
            "in": "path",
            "required": true,
            "default": "f41e3add-034f-449d-ba4b-03bba55b2f22"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/seasontd/{year}/{nfl_season}/leaders{format}": {
      "get": {
        "operationId": "LeagueLeadersNFLOfficialNGS",
        "summary": "Obtain complete league leader information.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/plays/{play_id}/statistics{format}": {
      "get": {
        "operationId": "PlayStatisticsNFLOfficialNGS",
        "summary": "Obtain full play details.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "play_id",
            "type": "string",
            "description": "NFL Official Play ID",
            "in": "path",
            "required": true,
            "default": "83983e8b-bdd9-46bb-b150-7d0808b827aa"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/plays/{play_id}/tracked_statistics{format}": {
      "get": {
        "operationId": "PlayStatistics+NFLOfficialNGS",
        "summary": "Obtain full play details and tracking information....",
        "description": "Obtain full play details and tracking information.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "play_id",
            "type": "string",
            "description": "NFL Official Play ID",
            "in": "path",
            "required": true,
            "default": "83983e8b-bdd9-46bb-b150-7d0808b827aa"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/tracking/{play_id}/tracking{format}": {
      "get": {
        "operationId": "PlayTrackingStatisticsNFLOfficialNGS",
        "summary": "Obtain detailed location information.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "play_id",
            "type": "string",
            "description": "NFL Official Play ID",
            "in": "path",
            "required": true,
            "default": "7f844ff2-bf53-4dd9-b68f-3bff58226978"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/participation/{game_id}/participation{format}": {
      "get": {
        "operationId": "PlayerParticipationNFLOfficialNGS",
        "summary": "Obtain all 22 players on the field for every play ...",
        "description": "Obtain all 22 players on the field for every play of the game.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "game_id",
            "type": "string",
            "description": "NFL Official Game ID",
            "in": "path",
            "required": true,
            "default": "f41e3add-034f-449d-ba4b-03bba55b2f22"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/players/{year}/{nfl_season}/{player_id}/statistics{format}": {
      "get": {
        "operationId": "PlayerSeasonalStatisticsNFLOfficialNGS",
        "summary": "Obtain complete players season statistics.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "player_id",
            "type": "string",
            "description": "NFL Official Player ID",
            "in": "path",
            "required": true,
            "default": "ab58c0ac-a747-47e6-9b3c-505e41d2bd3d"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/seasontd/{year}/{nfl_season}/{team_id}/leaders{format}": {
      "get": {
        "operationId": "TeamLeadersNFLOfficialNGS",
        "summary": "Obtain complete team leader information.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "NFL Official Player ID",
            "in": "path",
            "required": true,
            "default": "4254d319-1bc7-4f81-b4ab-b5e6f3402b69"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/teams/{year}/{nfl_season}/{team_id}/statistics{format}": {
      "get": {
        "operationId": "TeamSeasonalStatisticsNFLOfficialNGS",
        "summary": "Obtain complete team seasonal statistics.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "team_id",
            "type": "string",
            "description": "NFL Official Player ID",
            "in": "path",
            "required": true,
            "default": "4254d319-1bc7-4f81-b4ab-b5e6f3402b69"
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/nfl-ngs-t1/seasontd/{year}/{nfl_season}/{week}/leaders{format}": {
      "get": {
        "operationId": "WeeklyLeadersNFLOfficialNGS",
        "summary": "Obtain weekly leader information.",
        "tags": [
          "NFL Official NGS"
        ],
        "parameters": [
          {
            "name": "year",
            "type": "number",
            "description": "The year of the season",
            "in": "path",
            "required": true,
            "enum": [
              "2016"
            ]
          },
          {
            "name": "nfl_season",
            "type": "string",
            "description": "The type of season",
            "in": "path",
            "required": true,
            "enum": [
              "REG",
              "PRE",
              "PST"
            ]
          },
          {
            "name": "week",
            "type": "number",
            "description": "The week of the season",
            "in": "path",
            "required": true,
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "13",
              "14",
              "15",
              "16",
              "17"
            ]
          },
          {
            "name": "format",
            "type": "string",
            "description": "Desired Output Format",
            "in": "path",
            "required": true,
            "enum": [
              ".xml",
              ".json"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}
