{
  "swagger": "2.0",
  "info": {
    "title": "Fandango API",
    "version": "1.0.0",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/mashery2openapi"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "x-origin": [
      {
        "url": "https://developer.fandango.com/io-docs",
        "format": "io_docs"
      }
    ],
    "description": "If you have been assigned an API Key, you can test Fandango's API services here. You can also view written documentation for information on methods available via the Fandango API and definitions of the output associated with each. The Fandango API allows its partners to access Fandango's theater and customer data.",
    "x-mashery-id": "376"
  },
  "schemes": [
    "http"
  ],
  "host": "api.fandango.com",
  "basePath": "/",
  "externalDocs": {
    "description": "For details about the response elements, please see the specific API section page below:\nTheater Methods\nMovie Methods \nShowtime Methods\nEditorial Methods\nCity Search Method\n",
    "url": "https://developer.fandango.com/io-docs/docs"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "type": "apiKey",
      "name": "apikey",
      "in": "query"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Theater Methods"
    },
    {
      "name": "Movie Methods"
    },
    {
      "name": "Showtime Methods"
    },
    {
      "name": "Editorial Methods"
    },
    {
      "name": "City Search Method"
    },
    {
      "name": "Video Lookup Method"
    },
    {
      "name": "Content Search Method"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "ContentSearchContentSearchMethod",
        "summary": "The content search operation will search through d...",
        "description": "The content search operation will search through different repositories of data to find movies, people, and theaters based on text",
        "tags": [
          "Content Search Method"
        ],
        "parameters": [
          {
            "name": "op",
            "type": "string",
            "description": "To invoke this operation, this must always be set to the requested operation",
            "in": "query",
            "required": false,
            "enum": [
              "contentsearch"
            ]
          },
          {
            "name": "repos",
            "type": "string",
            "description": "The type of repository to search",
            "in": "query",
            "required": false,
            "enum": [
              "all",
              "movies",
              "people",
              "theaters"
            ]
          },
          {
            "name": "q",
            "type": "string",
            "description": "The text to search against",
            "in": "query",
            "required": true,
            "default": "avengers"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  },
  "definitions": {}
}