{
  "swagger": "2.0",
  "info": {
    "version": "2012-06-01",
    "x-release": "v4",
    "title": "Elastic Load Balancing",
    "description": "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered instances and ensures that it routes traffic only to healthy instances. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer and a protocol and port number for connections from the load balancer to the instances.</p> <p>Elastic Load Balancing supports two types of load balancers: Classic load balancers and Application load balancers (new). A Classic load balancer makes routing and load balancing decisions either at the transport layer (TCP/SSL) or the application layer (HTTP/HTTPS), and supports either EC2-Classic or a VPC. An Application load balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS), supports path-based routing, and can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC). For more information, see the .</p> <p>This reference covers the 2012-06-01 API, which supports Classic load balancers. The 2015-12-01 API supports Application load balancers.</p> <p>To get started, create a load balancer with one or more listeners using <a>CreateLoadBalancer</a>. Register your instances with the load balancer using <a>RegisterInstancesWithLoadBalancer</a>.</p> <p>All Elastic Load Balancing operations are <i>idempotent</i>, which means that they complete at most one time. If you repeat an operation, it succeeds with a 200 OK response code.</p>",
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    }
  },
  "x-logo": {
    "url": "https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg",
    "backgroundColor": "#FFFFFF"
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://aws.amazon.com/elasticloadbalancing/"
  },
  "host": "elasticloadbalancing.us-east-1.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "parameters": {
    "Action": {
      "name": "Action",
      "in": "header",
      "type": "string",
      "required": true
    },
    "Version": {
      "name": "Version",
      "in": "header",
      "type": "string",
      "required": true
    },
    "X-Amz-Content-Sha256": {
      "name": "X-Amz-Content-Sha256",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Date": {
      "name": "X-Amz-Date",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Algorithm": {
      "name": "X-Amz-Algorithm",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Credential": {
      "name": "X-Amz-Credential",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Security-Token": {
      "name": "X-Amz-Security-Token",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-Signature": {
      "name": "X-Amz-Signature",
      "in": "header",
      "type": "string",
      "required": false
    },
    "X-Amz-SignedHeaders": {
      "name": "X-Amz-SignedHeaders",
      "in": "header",
      "type": "string",
      "required": false
    }
  },
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Amazon Signature authorization v4",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "security": [
    {
      "hmac": []
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "SetLoadBalancerPoliciesOfListener",
        "description": "<p>Replaces the current set of policies for the specified load balancer port with the specified set of policies.</p> <p>To enable back-end server authentication, use <a>SetLoadBalancerPoliciesForBackendServer</a>.</p> <p>For more information about setting policies, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/ssl-config-update.html\">Update the SSL Negotiation Configuration</a>, <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-duration\">Duration-Based Session Stickiness</a>, and <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-sticky-sessions.html#enable-sticky-sessions-application\">Application-Controlled Session Stickiness</a> in the <i>Classic Load Balancers Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SetLoadBalancerPoliciesOfListenerOutput"
            }
          },
          "480": {
            "description": "AccessPointNotFoundException",
            "schema": {
              "$ref": "#/definitions/AccessPointNotFoundException"
            }
          },
          "481": {
            "description": "PolicyNotFoundException",
            "schema": {
              "$ref": "#/definitions/PolicyNotFoundException"
            }
          },
          "482": {
            "description": "ListenerNotFoundException",
            "schema": {
              "$ref": "#/definitions/ListenerNotFoundException"
            }
          },
          "483": {
            "description": "InvalidConfigurationRequestException",
            "schema": {
              "$ref": "#/definitions/InvalidConfigurationRequestException"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetLoadBalancerPoliciesOfListenerInput"
            }
          }
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/Action"
        },
        {
          "$ref": "#/parameters/Version"
        },
        {
          "$ref": "#/parameters/X-Amz-Content-Sha256"
        },
        {
          "$ref": "#/parameters/X-Amz-Date"
        },
        {
          "$ref": "#/parameters/X-Amz-Algorithm"
        },
        {
          "$ref": "#/parameters/X-Amz-Credential"
        },
        {
          "$ref": "#/parameters/X-Amz-Security-Token"
        },
        {
          "$ref": "#/parameters/X-Amz-Signature"
        },
        {
          "$ref": "#/parameters/X-Amz-SignedHeaders"
        }
      ]
    }
  },
  "definitions": {
    "AccessLog": {
      "type": "object",
      "required": [
        "Enabled"
      ],
      "properties": {
        "Enabled": {
          "$ref": "#/definitions/AccessLogEnabled",
          "description": "Specifies whether access logs are enabled for the load balancer."
        },
        "S3BucketName": {
          "$ref": "#/definitions/S3BucketName",
          "description": "The name of the Amazon S3 bucket where the access logs are stored."
        },
        "EmitInterval": {
          "$ref": "#/definitions/AccessLogInterval",
          "description": "<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>"
        },
        "S3BucketPrefix": {
          "$ref": "#/definitions/AccessLogPrefix",
          "description": "The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket."
        }
      },
      "description": "Information about the <code>AccessLog</code> attribute."
    },
    "AccessLogEnabled": {
      "type": "boolean"
    },
    "AccessLogInterval": {
      "type": "integer"
    },
    "AccessLogPrefix": {
      "type": "string"
    },
    "AccessPointName": {
      "type": "string"
    },
    "AccessPointNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified load balancer does not exist."
    },
    "AccessPointPort": {
      "type": "integer"
    },
    "AddAvailabilityZonesInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "AvailabilityZones"
      ],
      "example": {
        "AvailabilityZones": [
          "us-west-2b"
        ],
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "The Availability Zones. These must be in the same region as the load balancer."
        }
      },
      "description": "Contains the parameters for EnableAvailabilityZonesForLoadBalancer."
    },
    "AddAvailabilityZonesOutput": {
      "type": "object",
      "example": {
        "AvailabilityZones": [
          "us-west-2a",
          "us-west-2b"
        ]
      },
      "properties": {
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "The updated list of Availability Zones for the load balancer."
        }
      },
      "description": "Contains the output of EnableAvailabilityZonesForLoadBalancer."
    },
    "AddTagsInput": {
      "type": "object",
      "required": [
        "LoadBalancerNames",
        "Tags"
      ],
      "example": {
        "LoadBalancerNames": [
          "my-load-balancer"
        ],
        "Tags": [
          {
            "Key": "project",
            "Value": "lima"
          },
          {
            "Key": "department",
            "Value": "digital-media"
          }
        ]
      },
      "properties": {
        "LoadBalancerNames": {
          "$ref": "#/definitions/LoadBalancerNames",
          "description": "The name of the load balancer. You can specify one load balancer only."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags."
        }
      },
      "description": "Contains the parameters for AddTags."
    },
    "AddTagsOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of AddTags."
    },
    "AdditionalAttribute": {
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/AdditionalAttributeKey",
          "description": "This parameter is reserved."
        },
        "Value": {
          "$ref": "#/definitions/AdditionalAttributeValue",
          "description": "This parameter is reserved."
        }
      },
      "description": "This data type is reserved."
    },
    "AdditionalAttributeKey": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9.]+$",
      "maxLength": 256
    },
    "AdditionalAttributeValue": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9.]+$",
      "maxLength": 256
    },
    "AdditionalAttributes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AdditionalAttribute"
      },
      "maxItems": 10
    },
    "AppCookieStickinessPolicies": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AppCookieStickinessPolicy"
      }
    },
    "AppCookieStickinessPolicy": {
      "type": "object",
      "properties": {
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The mnemonic name for the policy being created. The name must be unique within a set of policies for this load balancer."
        },
        "CookieName": {
          "$ref": "#/definitions/CookieName",
          "description": "The name of the application cookie used for stickiness."
        }
      },
      "description": "Information about a policy for application-controlled session stickiness."
    },
    "ApplySecurityGroupsToLoadBalancerInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "SecurityGroups"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "SecurityGroups": [
          "sg-fc448899"
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "SecurityGroups": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The IDs of the security groups to associate with the load balancer. Note that you cannot specify the name of the security group."
        }
      },
      "description": "Contains the parameters for ApplySecurityGroupsToLoadBalancer."
    },
    "ApplySecurityGroupsToLoadBalancerOutput": {
      "type": "object",
      "example": {
        "SecurityGroups": [
          "sg-fc448899"
        ]
      },
      "properties": {
        "SecurityGroups": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The IDs of the security groups associated with the load balancer."
        }
      },
      "description": "Contains the output of ApplySecurityGroupsToLoadBalancer."
    },
    "AttachLoadBalancerToSubnetsInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "Subnets"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "Subnets": [
          "subnet-0ecac448"
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the subnets to add. You can add only one subnet per Availability Zone."
        }
      },
      "description": "Contains the parameters for AttachLoaBalancerToSubnets."
    },
    "AttachLoadBalancerToSubnetsOutput": {
      "type": "object",
      "example": {
        "Subnets": [
          "subnet-15aaab61",
          "subnet-0ecac448"
        ]
      },
      "properties": {
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the subnets attached to the load balancer."
        }
      },
      "description": "Contains the output of AttachLoadBalancerToSubnets."
    },
    "AttributeName": {
      "type": "string"
    },
    "AttributeType": {
      "type": "string"
    },
    "AttributeValue": {
      "type": "string"
    },
    "AvailabilityZone": {
      "type": "string"
    },
    "AvailabilityZones": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AvailabilityZone"
      }
    },
    "BackendServerDescription": {
      "type": "object",
      "properties": {
        "InstancePort": {
          "$ref": "#/definitions/InstancePort",
          "description": "The port on which the EC2 instance is listening."
        },
        "PolicyNames": {
          "$ref": "#/definitions/PolicyNames",
          "description": "The names of the policies enabled for the EC2 instance."
        }
      },
      "description": "Information about the configuration of an EC2 instance."
    },
    "BackendServerDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/BackendServerDescription"
      }
    },
    "Cardinality": {
      "type": "string"
    },
    "CertificateNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified ARN does not refer to a valid SSL certificate in AWS Identity and Access Management (IAM) or AWS Certificate Manager (ACM). Note that if you recently uploaded the certificate to IAM, this error might indicate that the certificate is not fully available yet."
    },
    "ConfigureHealthCheckInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "HealthCheck"
      ],
      "example": {
        "HealthCheck": {
          "HealthyThreshold": 2,
          "Interval": 30,
          "Target": "HTTP:80/png",
          "Timeout": 3,
          "UnhealthyThreshold": 2
        },
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "HealthCheck": {
          "$ref": "#/definitions/HealthCheck",
          "description": "The configuration information."
        }
      },
      "description": "Contains the parameters for ConfigureHealthCheck."
    },
    "ConfigureHealthCheckOutput": {
      "type": "object",
      "example": {
        "HealthCheck": {
          "HealthyThreshold": 2,
          "Interval": 30,
          "Target": "HTTP:80/png",
          "Timeout": 3,
          "UnhealthyThreshold": 2
        }
      },
      "properties": {
        "HealthCheck": {
          "$ref": "#/definitions/HealthCheck",
          "description": "The updated health check."
        }
      },
      "description": "Contains the output of ConfigureHealthCheck."
    },
    "ConnectionDraining": {
      "type": "object",
      "required": [
        "Enabled"
      ],
      "properties": {
        "Enabled": {
          "$ref": "#/definitions/ConnectionDrainingEnabled",
          "description": "Specifies whether connection draining is enabled for the load balancer."
        },
        "Timeout": {
          "$ref": "#/definitions/ConnectionDrainingTimeout",
          "description": "The maximum time, in seconds, to keep the existing connections open before deregistering the instances."
        }
      },
      "description": "Information about the <code>ConnectionDraining</code> attribute."
    },
    "ConnectionDrainingEnabled": {
      "type": "boolean"
    },
    "ConnectionDrainingTimeout": {
      "type": "integer"
    },
    "ConnectionSettings": {
      "type": "object",
      "required": [
        "IdleTimeout"
      ],
      "properties": {
        "IdleTimeout": {
          "$ref": "#/definitions/IdleTimeout",
          "description": "The time, in seconds, that the connection is allowed to be idle (no data has been sent over the connection) before it is closed by the load balancer."
        }
      },
      "description": "Information about the <code>ConnectionSettings</code> attribute."
    },
    "CookieExpirationPeriod": {
      "type": "integer"
    },
    "CookieName": {
      "type": "string"
    },
    "CreateAccessPointInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "Listeners"
      ],
      "example": {
        "Listeners": [
          {
            "InstancePort": 80,
            "InstanceProtocol": "HTTP",
            "LoadBalancerPort": 80,
            "Protocol": "HTTP"
          }
        ],
        "LoadBalancerName": "my-load-balancer",
        "Scheme": "internal",
        "SecurityGroups": [
          "sg-a61988c3"
        ],
        "Subnets": [
          "subnet-15aaab61"
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "<p>The name of the load balancer.</p> <p>This name must be unique within your set of load balancers for the region, must have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and cannot begin or end with a hyphen.</p>"
        },
        "Listeners": {
          "$ref": "#/definitions/Listeners",
          "description": "<p>The listeners.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html\">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>"
        },
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "<p>One or more Availability Zones from the same region as the load balancer.</p> <p>You must specify at least one Availability Zone.</p> <p>You can add more Availability Zones after you create the load balancer using <a>EnableAvailabilityZonesForLoadBalancer</a>.</p>"
        },
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the subnets in your VPC to attach to the load balancer. Specify one subnet per Availability Zone specified in <code>AvailabilityZones</code>."
        },
        "SecurityGroups": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The IDs of the security groups to assign to the load balancer."
        },
        "Scheme": {
          "$ref": "#/definitions/LoadBalancerScheme",
          "description": "<p>The type of a load balancer. Valid only for load balancers in a VPC.</p> <p>By default, Elastic Load Balancing creates an Internet-facing load balancer with a DNS name that resolves to public IP addresses. For more information about Internet-facing and Internal load balancers, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/how-elastic-load-balancing-works.html#load-balancer-scheme\">Load Balancer Scheme</a> in the <i>Elastic Load Balancing User Guide</i>.</p> <p>Specify <code>internal</code> to create a load balancer with a DNS name that resolves to private IP addresses.</p>"
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "<p>A list of tags to assign to the load balancer.</p> <p>For more information about tagging your load balancer, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/add-remove-tags.html\">Tag Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>"
        }
      },
      "description": "Contains the parameters for CreateLoadBalancer."
    },
    "CreateAccessPointOutput": {
      "type": "object",
      "example": {
        "DNSName": "internal-my-load-balancer-123456789.us-west-2.elb.amazonaws.com"
      },
      "properties": {
        "DNSName": {
          "$ref": "#/definitions/DNSName",
          "description": "The DNS name of the load balancer."
        }
      },
      "description": "Contains the output for CreateLoadBalancer."
    },
    "CreateAppCookieStickinessPolicyInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "PolicyName",
        "CookieName"
      ],
      "example": {
        "CookieName": "my-app-cookie",
        "LoadBalancerName": "my-load-balancer",
        "PolicyName": "my-app-cookie-policy"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer."
        },
        "CookieName": {
          "$ref": "#/definitions/CookieName",
          "description": "The name of the application cookie used for stickiness."
        }
      },
      "description": "Contains the parameters for CreateAppCookieStickinessPolicy."
    },
    "CreateAppCookieStickinessPolicyOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output for CreateAppCookieStickinessPolicy."
    },
    "CreateLBCookieStickinessPolicyInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "PolicyName"
      ],
      "example": {
        "CookieExpirationPeriod": 60,
        "LoadBalancerName": "my-load-balancer",
        "PolicyName": "my-duration-cookie-policy"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the policy being created. Policy names must consist of alphanumeric characters and dashes (-). This name must be unique within the set of policies for this load balancer."
        },
        "CookieExpirationPeriod": {
          "$ref": "#/definitions/CookieExpirationPeriod",
          "description": "The time period, in seconds, after which the cookie should be considered stale. If you do not specify this parameter, the default value is 0, which indicates that the sticky session should last for the duration of the browser session."
        }
      },
      "description": "Contains the parameters for CreateLBCookieStickinessPolicy."
    },
    "CreateLBCookieStickinessPolicyOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output for CreateLBCookieStickinessPolicy."
    },
    "CreateLoadBalancerListenerInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "Listeners"
      ],
      "example": {
        "Listeners": [
          {
            "InstancePort": 80,
            "InstanceProtocol": "HTTP",
            "LoadBalancerPort": 443,
            "Protocol": "HTTPS",
            "SSLCertificateId": "arn:aws:iam::123456789012:server-certificate/my-server-cert"
          }
        ],
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "Listeners": {
          "$ref": "#/definitions/Listeners",
          "description": "The listeners."
        }
      },
      "description": "Contains the parameters for CreateLoadBalancerListeners."
    },
    "CreateLoadBalancerListenerOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the parameters for CreateLoadBalancerListener."
    },
    "CreateLoadBalancerPolicyInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "PolicyName",
        "PolicyTypeName"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "PolicyAttributes": [
          {
            "AttributeName": "PublicKeyPolicyName",
            "AttributeValue": "my-PublicKey-policy"
          }
        ],
        "PolicyName": "my-authentication-policy",
        "PolicyTypeName": "BackendServerAuthenticationPolicyType"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the load balancer policy to be created. This name must be unique within the set of policies for this load balancer."
        },
        "PolicyTypeName": {
          "$ref": "#/definitions/PolicyTypeName",
          "description": "The name of the base policy type. To get the list of policy types, use <a>DescribeLoadBalancerPolicyTypes</a>."
        },
        "PolicyAttributes": {
          "$ref": "#/definitions/PolicyAttributes",
          "description": "The policy attributes."
        }
      },
      "description": "Contains the parameters for CreateLoadBalancerPolicy."
    },
    "CreateLoadBalancerPolicyOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of CreateLoadBalancerPolicy."
    },
    "CreatedTime": {
      "type": "string",
      "format": "date-time"
    },
    "CrossZoneLoadBalancing": {
      "type": "object",
      "required": [
        "Enabled"
      ],
      "properties": {
        "Enabled": {
          "$ref": "#/definitions/CrossZoneLoadBalancingEnabled",
          "description": "Specifies whether cross-zone load balancing is enabled for the load balancer."
        }
      },
      "description": "Information about the <code>CrossZoneLoadBalancing</code> attribute."
    },
    "CrossZoneLoadBalancingEnabled": {
      "type": "boolean"
    },
    "DNSName": {
      "type": "string"
    },
    "DefaultValue": {
      "type": "string"
    },
    "DeleteAccessPointInput": {
      "type": "object",
      "required": [
        "LoadBalancerName"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        }
      },
      "description": "Contains the parameters for DeleteLoadBalancer."
    },
    "DeleteAccessPointOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeleteLoadBalancer."
    },
    "DeleteLoadBalancerListenerInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "LoadBalancerPorts"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "LoadBalancerPorts": [
          80
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "LoadBalancerPorts": {
          "$ref": "#/definitions/Ports",
          "description": "The client port numbers of the listeners."
        }
      },
      "description": "Contains the parameters for DeleteLoadBalancerListeners."
    },
    "DeleteLoadBalancerListenerOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeleteLoadBalancerListeners."
    },
    "DeleteLoadBalancerPolicyInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "PolicyName"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "PolicyName": "my-duration-cookie-policy"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the policy."
        }
      },
      "description": "Contains the parameters for DeleteLoadBalancerPolicy."
    },
    "DeleteLoadBalancerPolicyOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of DeleteLoadBalancerPolicy."
    },
    "DependencyThrottleException": {
      "type": "object",
      "properties": {}
    },
    "DeregisterEndPointsInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "Instances"
      ],
      "example": {
        "Instances": [
          {
            "InstanceId": "i-d6f6fae3"
          }
        ],
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "Instances": {
          "$ref": "#/definitions/Instances",
          "description": "The IDs of the instances."
        }
      },
      "description": "Contains the parameters for DeregisterInstancesFromLoadBalancer."
    },
    "DeregisterEndPointsOutput": {
      "type": "object",
      "example": {
        "Instances": [
          {
            "InstanceId": "i-207d9717"
          },
          {
            "InstanceId": "i-afefb49b"
          }
        ]
      },
      "properties": {
        "Instances": {
          "$ref": "#/definitions/Instances",
          "description": "The remaining instances registered with the load balancer."
        }
      },
      "description": "Contains the output of DeregisterInstancesFromLoadBalancer."
    },
    "DescribeAccessPointsInput": {
      "type": "object",
      "example": {
        "LoadBalancerNames": [
          "my-load-balancer"
        ]
      },
      "properties": {
        "LoadBalancerNames": {
          "$ref": "#/definitions/LoadBalancerNames",
          "description": "The names of the load balancers."
        },
        "Marker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker for the next set of results. (You received this marker from a previous call.)"
        },
        "PageSize": {
          "$ref": "#/definitions/PageSize",
          "description": "The maximum number of results to return with this call (a number from 1 to 400). The default is 400."
        }
      },
      "description": "Contains the parameters for DescribeLoadBalancers."
    },
    "DescribeAccessPointsOutput": {
      "type": "object",
      "example": {
        "LoadBalancerDescriptions": [
          {
            "AvailabilityZones": [
              "us-west-2a"
            ],
            "BackendServerDescriptions": [
              {
                "InstancePort": 80,
                "PolicyNames": [
                  "my-ProxyProtocol-policy"
                ]
              }
            ],
            "CanonicalHostedZoneName": "my-load-balancer-1234567890.us-west-2.elb.amazonaws.com",
            "CanonicalHostedZoneNameID": "Z3DZXE0EXAMPLE",
            "CreatedTime": "2015-03-19T03:24:02.650Z",
            "DNSName": "my-load-balancer-1234567890.us-west-2.elb.amazonaws.com",
            "HealthCheck": {
              "HealthyThreshold": 2,
              "Interval": 30,
              "Target": "HTTP:80/png",
              "Timeout": 3,
              "UnhealthyThreshold": 2
            },
            "Instances": [
              {
                "InstanceId": "i-207d9717"
              },
              {
                "InstanceId": "i-afefb49b"
              }
            ],
            "ListenerDescriptions": [
              {
                "Listener": {
                  "InstancePort": 80,
                  "InstanceProtocol": "HTTP",
                  "LoadBalancerPort": 80,
                  "Protocol": "HTTP"
                },
                "PolicyNames": []
              },
              {
                "Listener": {
                  "InstancePort": 443,
                  "InstanceProtocol": "HTTPS",
                  "LoadBalancerPort": 443,
                  "Protocol": "HTTPS",
                  "SSLCertificateId": "arn:aws:iam::123456789012:server-certificate/my-server-cert"
                },
                "PolicyNames": [
                  "ELBSecurityPolicy-2015-03"
                ]
              }
            ],
            "LoadBalancerName": "my-load-balancer",
            "Policies": {
              "AppCookieStickinessPolicies": [],
              "LBCookieStickinessPolicies": [
                {
                  "CookieExpirationPeriod": 60,
                  "PolicyName": "my-duration-cookie-policy"
                }
              ],
              "OtherPolicies": [
                "my-PublicKey-policy",
                "my-authentication-policy",
                "my-SSLNegotiation-policy",
                "my-ProxyProtocol-policy",
                "ELBSecurityPolicy-2015-03"
              ]
            },
            "Scheme": "internet-facing",
            "SecurityGroups": [
              "sg-a61988c3"
            ],
            "SourceSecurityGroup": {
              "GroupName": "my-elb-sg",
              "OwnerAlias": "123456789012"
            },
            "Subnets": [
              "subnet-15aaab61"
            ],
            "VPCId": "vpc-a01106c2"
          }
        ]
      },
      "properties": {
        "LoadBalancerDescriptions": {
          "$ref": "#/definitions/LoadBalancerDescriptions",
          "description": "Information about the load balancers."
        },
        "NextMarker": {
          "$ref": "#/definitions/Marker",
          "description": "The marker to use when requesting the next set of results. If there are no additional results, the string is empty."
        }
      },
      "description": "Contains the parameters for DescribeLoadBalancers."
    },
    "DescribeEndPointStateInput": {
      "type": "object",
      "required": [
        "LoadBalancerName"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "Instances": {
          "$ref": "#/definitions/Instances",
          "description": "The IDs of the instances."
        }
      },
      "description": "Contains the parameters for DescribeInstanceHealth."
    },
    "DescribeEndPointStateOutput": {
      "type": "object",
      "example": {
        "InstanceStates": [
          {
            "Description": "N/A",
            "InstanceId": "i-207d9717",
            "ReasonCode": "N/A",
            "State": "InService"
          },
          {
            "Description": "N/A",
            "InstanceId": "i-afefb49b",
            "ReasonCode": "N/A",
            "State": "InService"
          }
        ]
      },
      "properties": {
        "InstanceStates": {
          "$ref": "#/definitions/InstanceStates",
          "description": "Information about the health of the instances."
        }
      },
      "description": "Contains the output for DescribeInstanceHealth."
    },
    "DescribeLoadBalancerAttributesInput": {
      "type": "object",
      "required": [
        "LoadBalancerName"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        }
      },
      "description": "Contains the parameters for DescribeLoadBalancerAttributes."
    },
    "DescribeLoadBalancerAttributesOutput": {
      "type": "object",
      "example": {
        "LoadBalancerAttributes": {
          "AccessLog": {
            "Enabled": false
          },
          "ConnectionDraining": {
            "Enabled": false,
            "Timeout": 300
          },
          "ConnectionSettings": {
            "IdleTimeout": 60
          },
          "CrossZoneLoadBalancing": {
            "Enabled": false
          }
        }
      },
      "properties": {
        "LoadBalancerAttributes": {
          "$ref": "#/definitions/LoadBalancerAttributes",
          "description": "Information about the load balancer attributes."
        }
      },
      "description": "Contains the output of DescribeLoadBalancerAttributes."
    },
    "DescribeLoadBalancerPoliciesInput": {
      "type": "object",
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "PolicyNames": [
          "my-authentication-policy"
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "PolicyNames": {
          "$ref": "#/definitions/PolicyNames",
          "description": "The names of the policies."
        }
      },
      "description": "Contains the parameters for DescribeLoadBalancerPolicies."
    },
    "DescribeLoadBalancerPoliciesOutput": {
      "type": "object",
      "example": {
        "PolicyDescriptions": [
          {
            "PolicyAttributeDescriptions": [
              {
                "AttributeName": "PublicKeyPolicyName",
                "AttributeValue": "my-PublicKey-policy"
              }
            ],
            "PolicyName": "my-authentication-policy",
            "PolicyTypeName": "BackendServerAuthenticationPolicyType"
          }
        ]
      },
      "properties": {
        "PolicyDescriptions": {
          "$ref": "#/definitions/PolicyDescriptions",
          "description": "Information about the policies."
        }
      },
      "description": "Contains the output of DescribeLoadBalancerPolicies."
    },
    "DescribeLoadBalancerPolicyTypesInput": {
      "type": "object",
      "example": {
        "PolicyTypeNames": [
          "ProxyProtocolPolicyType"
        ]
      },
      "properties": {
        "PolicyTypeNames": {
          "$ref": "#/definitions/PolicyTypeNames",
          "description": "The names of the policy types. If no names are specified, describes all policy types defined by Elastic Load Balancing."
        }
      },
      "description": "Contains the parameters for DescribeLoadBalancerPolicyTypes."
    },
    "DescribeLoadBalancerPolicyTypesOutput": {
      "type": "object",
      "example": {
        "PolicyTypeDescriptions": [
          {
            "Description": "Policy that controls whether to include the IP address and port of the originating request for TCP messages. This policy operates on TCP listeners only.",
            "PolicyAttributeTypeDescriptions": [
              {
                "AttributeName": "ProxyProtocol",
                "AttributeType": "Boolean",
                "Cardinality": "ONE"
              }
            ],
            "PolicyTypeName": "ProxyProtocolPolicyType"
          }
        ]
      },
      "properties": {
        "PolicyTypeDescriptions": {
          "$ref": "#/definitions/PolicyTypeDescriptions",
          "description": "Information about the policy types."
        }
      },
      "description": "Contains the output of DescribeLoadBalancerPolicyTypes."
    },
    "DescribeTagsInput": {
      "type": "object",
      "required": [
        "LoadBalancerNames"
      ],
      "example": {
        "LoadBalancerNames": [
          "my-load-balancer"
        ]
      },
      "properties": {
        "LoadBalancerNames": {
          "$ref": "#/definitions/LoadBalancerNamesMax20",
          "description": "The names of the load balancers."
        }
      },
      "description": "Contains the parameters for DescribeTags."
    },
    "DescribeTagsOutput": {
      "type": "object",
      "example": {
        "TagDescriptions": [
          {
            "LoadBalancerName": "my-load-balancer",
            "Tags": [
              {
                "Key": "project",
                "Value": "lima"
              },
              {
                "Key": "department",
                "Value": "digital-media"
              }
            ]
          }
        ]
      },
      "properties": {
        "TagDescriptions": {
          "$ref": "#/definitions/TagDescriptions",
          "description": "Information about the tags."
        }
      },
      "description": "Contains the output for DescribeTags."
    },
    "Description": {
      "type": "string"
    },
    "DetachLoadBalancerFromSubnetsInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "Subnets"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "Subnets": [
          "subnet-0ecac448"
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the subnets."
        }
      },
      "description": "Contains the parameters for DetachLoadBalancerFromSubnets."
    },
    "DetachLoadBalancerFromSubnetsOutput": {
      "type": "object",
      "example": {
        "Subnets": [
          "subnet-15aaab61"
        ]
      },
      "properties": {
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the remaining subnets for the load balancer."
        }
      },
      "description": "Contains the output of DetachLoadBalancerFromSubnets."
    },
    "DuplicateAccessPointNameException": {
      "type": "object",
      "properties": {},
      "description": "The specified load balancer name already exists for this account."
    },
    "DuplicateListenerException": {
      "type": "object",
      "properties": {},
      "description": "A listener already exists for the specified load balancer name and port, but with a different instance port, protocol, or SSL certificate."
    },
    "DuplicatePolicyNameException": {
      "type": "object",
      "properties": {},
      "description": "A policy with the specified name already exists for this load balancer."
    },
    "DuplicateTagKeysException": {
      "type": "object",
      "properties": {},
      "description": "A tag key was specified more than once."
    },
    "EndPointPort": {
      "type": "integer"
    },
    "HealthCheck": {
      "type": "object",
      "required": [
        "Target",
        "Interval",
        "Timeout",
        "UnhealthyThreshold",
        "HealthyThreshold"
      ],
      "properties": {
        "Target": {
          "$ref": "#/definitions/HealthCheckTarget",
          "description": "<p>The instance being checked. The protocol is either TCP, HTTP, HTTPS, or SSL. The range of valid ports is one (1) through 65535.</p> <p>TCP is the default, specified as a TCP: port pair, for example \"TCP:5000\". In this case, a health check simply attempts to open a TCP connection to the instance on the specified port. Failure to connect within the configured timeout is considered unhealthy.</p> <p>SSL is also specified as SSL: port pair, for example, SSL:5000.</p> <p>For HTTP/HTTPS, you must include a ping path in the string. HTTP is specified as a HTTP:port;/;PathToPing; grouping, for example \"HTTP:80/weather/us/wa/seattle\". In this case, a HTTP GET request is issued to the instance on the given port and path. Any answer other than \"200 OK\" within the timeout period is considered unhealthy.</p> <p>The total length of the HTTP ping target must be 1024 16-bit Unicode characters or less.</p>"
        },
        "Interval": {
          "$ref": "#/definitions/HealthCheckInterval",
          "description": "The approximate interval, in seconds, between health checks of an individual instance."
        },
        "Timeout": {
          "$ref": "#/definitions/HealthCheckTimeout",
          "description": "<p>The amount of time, in seconds, during which no response means a failed health check.</p> <p>This value must be less than the <code>Interval</code> value.</p>"
        },
        "UnhealthyThreshold": {
          "$ref": "#/definitions/UnhealthyThreshold",
          "description": "The number of consecutive health check failures required before moving the instance to the <code>Unhealthy</code> state."
        },
        "HealthyThreshold": {
          "$ref": "#/definitions/HealthyThreshold",
          "description": "The number of consecutive health checks successes required before moving the instance to the <code>Healthy</code> state."
        }
      },
      "description": "Information about a health check."
    },
    "HealthCheckInterval": {
      "type": "integer",
      "minimum": 5,
      "maximum": 300
    },
    "HealthCheckTarget": {
      "type": "string"
    },
    "HealthCheckTimeout": {
      "type": "integer",
      "minimum": 2,
      "maximum": 60
    },
    "HealthyThreshold": {
      "type": "integer",
      "minimum": 2,
      "maximum": 10
    },
    "IdleTimeout": {
      "type": "integer",
      "minimum": 1,
      "maximum": 3600
    },
    "Instance": {
      "type": "object",
      "properties": {
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The instance ID."
        }
      },
      "description": "The ID of an EC2 instance."
    },
    "InstanceId": {
      "type": "string"
    },
    "InstancePort": {
      "type": "integer",
      "minimum": 1,
      "maximum": 65535
    },
    "InstanceState": {
      "type": "object",
      "properties": {
        "InstanceId": {
          "$ref": "#/definitions/InstanceId",
          "description": "The ID of the instance."
        },
        "State": {
          "$ref": "#/definitions/State",
          "description": "<p>The current state of the instance.</p> <p>Valid values: <code>InService</code> | <code>OutOfService</code> | <code>Unknown</code> </p>"
        },
        "ReasonCode": {
          "$ref": "#/definitions/ReasonCode",
          "description": "<p>Information about the cause of <code>OutOfService</code> instances. Specifically, whether the cause is Elastic Load Balancing or the instance.</p> <p>Valid values: <code>ELB</code> | <code>Instance</code> | <code>N/A</code> </p>"
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "<p>A description of the instance state. This string can contain one or more of the following messages.</p> <ul> <li> <p> <code>N/A</code> </p> </li> <li> <p> <code>A transient error occurred. Please try again later.</code> </p> </li> <li> <p> <code>Instance has failed at least the UnhealthyThreshold number of health checks consecutively.</code> </p> </li> <li> <p> <code>Instance has not passed the configured HealthyThreshold number of health checks consecutively.</code> </p> </li> <li> <p> <code>Instance registration is still in progress.</code> </p> </li> <li> <p> <code>Instance is in the EC2 Availability Zone for which LoadBalancer is not configured to route traffic to.</code> </p> </li> <li> <p> <code>Instance is not currently registered with the LoadBalancer.</code> </p> </li> <li> <p> <code>Instance deregistration currently in progress.</code> </p> </li> <li> <p> <code>Disable Availability Zone is currently in progress.</code> </p> </li> <li> <p> <code>Instance is in pending state.</code> </p> </li> <li> <p> <code>Instance is in stopped state.</code> </p> </li> <li> <p> <code>Instance is in terminated state.</code> </p> </li> </ul>"
        }
      },
      "description": "Information about the state of an EC2 instance."
    },
    "InstanceStates": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/InstanceState"
      }
    },
    "Instances": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Instance"
      }
    },
    "InvalidConfigurationRequestException": {
      "type": "object",
      "properties": {},
      "description": "The requested configuration change is not valid."
    },
    "InvalidEndPointException": {
      "type": "object",
      "properties": {},
      "description": "The specified endpoint is not valid."
    },
    "InvalidSchemeException": {
      "type": "object",
      "properties": {},
      "description": "The specified value for the schema is not valid. You can only specify a scheme for load balancers in a VPC."
    },
    "InvalidSecurityGroupException": {
      "type": "object",
      "properties": {},
      "description": "One or more of the specified security groups do not exist."
    },
    "InvalidSubnetException": {
      "type": "object",
      "properties": {},
      "description": "The specified VPC has no associated Internet gateway."
    },
    "LBCookieStickinessPolicies": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LBCookieStickinessPolicy"
      }
    },
    "LBCookieStickinessPolicy": {
      "type": "object",
      "properties": {
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the policy. This name must be unique within the set of policies for this load balancer."
        },
        "CookieExpirationPeriod": {
          "$ref": "#/definitions/CookieExpirationPeriod",
          "description": "The time period, in seconds, after which the cookie should be considered stale. If this parameter is not specified, the stickiness session lasts for the duration of the browser session."
        }
      },
      "description": "Information about a policy for duration-based session stickiness."
    },
    "Listener": {
      "type": "object",
      "required": [
        "Protocol",
        "LoadBalancerPort",
        "InstancePort"
      ],
      "properties": {
        "Protocol": {
          "$ref": "#/definitions/Protocol",
          "description": "The load balancer transport protocol to use for routing: HTTP, HTTPS, TCP, or SSL."
        },
        "LoadBalancerPort": {
          "$ref": "#/definitions/AccessPointPort",
          "description": "The port on which the load balancer is listening. On EC2-VPC, you can specify any port from the range 1-65535. On EC2-Classic, you can specify any port from the following list: 25, 80, 443, 465, 587, 1024-65535."
        },
        "InstanceProtocol": {
          "$ref": "#/definitions/Protocol",
          "description": "<p>The protocol to use for routing traffic to instances: HTTP, HTTPS, TCP, or SSL.</p> <p>If the front-end protocol is HTTP, HTTPS, TCP, or SSL, <code>InstanceProtocol</code> must be at the same protocol.</p> <p>If there is another listener with the same <code>InstancePort</code> whose <code>InstanceProtocol</code> is secure, (HTTPS or SSL), the listener's <code>InstanceProtocol</code> must also be secure.</p> <p>If there is another listener with the same <code>InstancePort</code> whose <code>InstanceProtocol</code> is HTTP or TCP, the listener's <code>InstanceProtocol</code> must be HTTP or TCP.</p>"
        },
        "InstancePort": {
          "$ref": "#/definitions/InstancePort",
          "description": "The port on which the instance is listening."
        },
        "SSLCertificateId": {
          "$ref": "#/definitions/SSLCertificateId",
          "description": "The Amazon Resource Name (ARN) of the server certificate."
        }
      },
      "description": "<p>Information about a listener.</p> <p>For information about the protocols and the ports supported by Elastic Load Balancing, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html\">Listeners for Your Classic Load Balancer</a> in the <i>Classic Load Balancers Guide</i>.</p>"
    },
    "ListenerDescription": {
      "type": "object",
      "properties": {
        "Listener": {
          "$ref": "#/definitions/Listener"
        },
        "PolicyNames": {
          "$ref": "#/definitions/PolicyNames",
          "description": "The policies. If there are no policies enabled, the list is empty."
        }
      },
      "description": "The policies enabled for a listener."
    },
    "ListenerDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ListenerDescription"
      }
    },
    "ListenerNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The load balancer does not have a listener configured at the specified port."
    },
    "Listeners": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Listener"
      }
    },
    "LoadBalancerAttributeNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "The specified load balancer attribute does not exist."
    },
    "LoadBalancerAttributes": {
      "type": "object",
      "properties": {
        "CrossZoneLoadBalancing": {
          "$ref": "#/definitions/CrossZoneLoadBalancing",
          "description": "<p>If enabled, the load balancer routes the request traffic evenly across all instances regardless of the Availability Zones.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-disable-crosszone-lb.html\">Configure Cross-Zone Load Balancing</a> in the <i>Classic Load Balancers Guide</i>.</p>"
        },
        "AccessLog": {
          "$ref": "#/definitions/AccessLog",
          "description": "<p>If enabled, the load balancer captures detailed information of all requests and delivers the information to the Amazon S3 bucket that you specify.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-access-logs.html\">Enable Access Logs</a> in the <i>Classic Load Balancers Guide</i>.</p>"
        },
        "ConnectionDraining": {
          "$ref": "#/definitions/ConnectionDraining",
          "description": "<p>If enabled, the load balancer allows existing requests to complete before the load balancer shifts traffic away from a deregistered or unhealthy instance.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-conn-drain.html\">Configure Connection Draining</a> in the <i>Classic Load Balancers Guide</i>.</p>"
        },
        "ConnectionSettings": {
          "$ref": "#/definitions/ConnectionSettings",
          "description": "<p>If enabled, the load balancer allows the connections to remain idle (no data is sent over the connection) for the specified duration.</p> <p>By default, Elastic Load Balancing maintains a 60-second idle connection timeout for both front-end and back-end connections of your load balancer. For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html\">Configure Idle Connection Timeout</a> in the <i>Classic Load Balancers Guide</i>.</p>"
        },
        "AdditionalAttributes": {
          "$ref": "#/definitions/AdditionalAttributes",
          "description": "This parameter is reserved."
        }
      },
      "description": "The attributes for a load balancer."
    },
    "LoadBalancerDescription": {
      "type": "object",
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "DNSName": {
          "$ref": "#/definitions/DNSName",
          "description": "The DNS name of the load balancer."
        },
        "CanonicalHostedZoneName": {
          "$ref": "#/definitions/DNSName",
          "description": "<p>The DNS name of the load balancer.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/classic/using-domain-names-with-elb.html\">Configure a Custom Domain Name</a> in the <i>Classic Load Balancers Guide</i>.</p>"
        },
        "CanonicalHostedZoneNameID": {
          "$ref": "#/definitions/DNSName",
          "description": "The ID of the Amazon Route 53 hosted zone for the load balancer."
        },
        "ListenerDescriptions": {
          "$ref": "#/definitions/ListenerDescriptions",
          "description": "The listeners for the load balancer."
        },
        "Policies": {
          "$ref": "#/definitions/Policies",
          "description": "The policies defined for the load balancer."
        },
        "BackendServerDescriptions": {
          "$ref": "#/definitions/BackendServerDescriptions",
          "description": "Information about your EC2 instances."
        },
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "The Availability Zones for the load balancer."
        },
        "Subnets": {
          "$ref": "#/definitions/Subnets",
          "description": "The IDs of the subnets for the load balancer."
        },
        "VPCId": {
          "$ref": "#/definitions/VPCId",
          "description": "The ID of the VPC for the load balancer."
        },
        "Instances": {
          "$ref": "#/definitions/Instances",
          "description": "The IDs of the instances for the load balancer."
        },
        "HealthCheck": {
          "$ref": "#/definitions/HealthCheck",
          "description": "Information about the health checks conducted on the load balancer."
        },
        "SourceSecurityGroup": {
          "$ref": "#/definitions/SourceSecurityGroup",
          "description": "The security group for the load balancer, which you can use as part of your inbound rules for your registered instances. To only allow traffic from load balancers, add a security group rule that specifies this source security group as the inbound source."
        },
        "SecurityGroups": {
          "$ref": "#/definitions/SecurityGroups",
          "description": "The security groups for the load balancer. Valid only for load balancers in a VPC."
        },
        "CreatedTime": {
          "$ref": "#/definitions/CreatedTime",
          "description": "The date and time the load balancer was created."
        },
        "Scheme": {
          "$ref": "#/definitions/LoadBalancerScheme",
          "description": "<p>The type of load balancer. Valid only for load balancers in a VPC.</p> <p>If <code>Scheme</code> is <code>internet-facing</code>, the load balancer has a public DNS name that resolves to a public IP address.</p> <p>If <code>Scheme</code> is <code>internal</code>, the load balancer has a public DNS name that resolves to a private IP address.</p>"
        }
      },
      "description": "Information about a load balancer."
    },
    "LoadBalancerDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/LoadBalancerDescription"
      }
    },
    "LoadBalancerNames": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccessPointName"
      }
    },
    "LoadBalancerNamesMax20": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccessPointName"
      },
      "minItems": 1,
      "maxItems": 20
    },
    "LoadBalancerScheme": {
      "type": "string"
    },
    "Marker": {
      "type": "string"
    },
    "ModifyLoadBalancerAttributesInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "LoadBalancerAttributes"
      ],
      "example": {
        "LoadBalancerAttributes": {
          "ConnectionDraining": {
            "Enabled": true,
            "Timeout": 300
          }
        },
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "LoadBalancerAttributes": {
          "$ref": "#/definitions/LoadBalancerAttributes",
          "description": "The attributes of the load balancer."
        }
      },
      "description": "Contains the parameters for ModifyLoadBalancerAttributes."
    },
    "ModifyLoadBalancerAttributesOutput": {
      "type": "object",
      "example": {
        "LoadBalancerAttributes": {
          "ConnectionDraining": {
            "Enabled": true,
            "Timeout": 300
          }
        },
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "LoadBalancerAttributes": {
          "$ref": "#/definitions/LoadBalancerAttributes"
        }
      },
      "description": "Contains the output of ModifyLoadBalancerAttributes."
    },
    "PageSize": {
      "type": "integer",
      "minimum": 1,
      "maximum": 400
    },
    "Policies": {
      "type": "object",
      "properties": {
        "AppCookieStickinessPolicies": {
          "$ref": "#/definitions/AppCookieStickinessPolicies",
          "description": "The stickiness policies created using <a>CreateAppCookieStickinessPolicy</a>."
        },
        "LBCookieStickinessPolicies": {
          "$ref": "#/definitions/LBCookieStickinessPolicies",
          "description": "The stickiness policies created using <a>CreateLBCookieStickinessPolicy</a>."
        },
        "OtherPolicies": {
          "$ref": "#/definitions/PolicyNames",
          "description": "The policies other than the stickiness policies."
        }
      },
      "description": "The policies for a load balancer."
    },
    "PolicyAttribute": {
      "type": "object",
      "properties": {
        "AttributeName": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the attribute."
        },
        "AttributeValue": {
          "$ref": "#/definitions/AttributeValue",
          "description": "The value of the attribute."
        }
      },
      "description": "Information about a policy attribute."
    },
    "PolicyAttributeDescription": {
      "type": "object",
      "properties": {
        "AttributeName": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the attribute."
        },
        "AttributeValue": {
          "$ref": "#/definitions/AttributeValue",
          "description": "The value of the attribute."
        }
      },
      "description": "Information about a policy attribute."
    },
    "PolicyAttributeDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyAttributeDescription"
      }
    },
    "PolicyAttributeTypeDescription": {
      "type": "object",
      "properties": {
        "AttributeName": {
          "$ref": "#/definitions/AttributeName",
          "description": "The name of the attribute."
        },
        "AttributeType": {
          "$ref": "#/definitions/AttributeType",
          "description": "The type of the attribute. For example, <code>Boolean</code> or <code>Integer</code>."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "A description of the attribute."
        },
        "DefaultValue": {
          "$ref": "#/definitions/DefaultValue",
          "description": "The default value of the attribute, if applicable."
        },
        "Cardinality": {
          "$ref": "#/definitions/Cardinality",
          "description": "<p>The cardinality of the attribute.</p> <p>Valid values:</p> <ul> <li> <p>ONE(1) : Single value required</p> </li> <li> <p>ZERO_OR_ONE(0..1) : Up to one value is allowed</p> </li> <li> <p>ZERO_OR_MORE(0..*) : Optional. Multiple values are allowed</p> </li> <li> <p>ONE_OR_MORE(1..*0) : Required. Multiple values are allowed</p> </li> </ul>"
        }
      },
      "description": "Information about a policy attribute type."
    },
    "PolicyAttributeTypeDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyAttributeTypeDescription"
      }
    },
    "PolicyAttributes": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyAttribute"
      }
    },
    "PolicyDescription": {
      "type": "object",
      "properties": {
        "PolicyName": {
          "$ref": "#/definitions/PolicyName",
          "description": "The name of the policy."
        },
        "PolicyTypeName": {
          "$ref": "#/definitions/PolicyTypeName",
          "description": "The name of the policy type."
        },
        "PolicyAttributeDescriptions": {
          "$ref": "#/definitions/PolicyAttributeDescriptions",
          "description": "The policy attributes."
        }
      },
      "description": "Information about a policy."
    },
    "PolicyDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyDescription"
      }
    },
    "PolicyName": {
      "type": "string"
    },
    "PolicyNames": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyName"
      }
    },
    "PolicyNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "One or more of the specified policies do not exist."
    },
    "PolicyTypeDescription": {
      "type": "object",
      "properties": {
        "PolicyTypeName": {
          "$ref": "#/definitions/PolicyTypeName",
          "description": "The name of the policy type."
        },
        "Description": {
          "$ref": "#/definitions/Description",
          "description": "A description of the policy type."
        },
        "PolicyAttributeTypeDescriptions": {
          "$ref": "#/definitions/PolicyAttributeTypeDescriptions",
          "description": "The description of the policy attributes associated with the policies defined by Elastic Load Balancing."
        }
      },
      "description": "Information about a policy type."
    },
    "PolicyTypeDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyTypeDescription"
      }
    },
    "PolicyTypeName": {
      "type": "string"
    },
    "PolicyTypeNames": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/PolicyTypeName"
      }
    },
    "PolicyTypeNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "One or more of the specified policy types do not exist."
    },
    "Ports": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/AccessPointPort"
      }
    },
    "Protocol": {
      "type": "string"
    },
    "ReasonCode": {
      "type": "string"
    },
    "RegisterEndPointsInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "Instances"
      ],
      "example": {
        "Instances": [
          {
            "InstanceId": "i-d6f6fae3"
          }
        ],
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "Instances": {
          "$ref": "#/definitions/Instances",
          "description": "The IDs of the instances."
        }
      },
      "description": "Contains the parameters for RegisterInstancesWithLoadBalancer."
    },
    "RegisterEndPointsOutput": {
      "type": "object",
      "example": {
        "Instances": [
          {
            "InstanceId": "i-d6f6fae3"
          },
          {
            "InstanceId": "i-207d9717"
          },
          {
            "InstanceId": "i-afefb49b"
          }
        ]
      },
      "properties": {
        "Instances": {
          "$ref": "#/definitions/Instances",
          "description": "The updated list of instances for the load balancer."
        }
      },
      "description": "Contains the output of RegisterInstancesWithLoadBalancer."
    },
    "RemoveAvailabilityZonesInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "AvailabilityZones"
      ],
      "example": {
        "AvailabilityZones": [
          "us-west-2a"
        ],
        "LoadBalancerName": "my-load-balancer"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "The Availability Zones."
        }
      },
      "description": "Contains the parameters for DisableAvailabilityZonesForLoadBalancer."
    },
    "RemoveAvailabilityZonesOutput": {
      "type": "object",
      "example": {
        "AvailabilityZones": [
          "us-west-2b"
        ]
      },
      "properties": {
        "AvailabilityZones": {
          "$ref": "#/definitions/AvailabilityZones",
          "description": "The remaining Availability Zones for the load balancer."
        }
      },
      "description": "Contains the output for DisableAvailabilityZonesForLoadBalancer."
    },
    "RemoveTagsInput": {
      "type": "object",
      "required": [
        "LoadBalancerNames",
        "Tags"
      ],
      "example": {
        "LoadBalancerNames": [
          "my-load-balancer"
        ],
        "Tags": [
          {
            "Key": "project"
          }
        ]
      },
      "properties": {
        "LoadBalancerNames": {
          "$ref": "#/definitions/LoadBalancerNames",
          "description": "The name of the load balancer. You can specify a maximum of one load balancer name."
        },
        "Tags": {
          "$ref": "#/definitions/TagKeyList",
          "description": "The list of tag keys to remove."
        }
      },
      "description": "Contains the parameters for RemoveTags."
    },
    "RemoveTagsOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of RemoveTags."
    },
    "S3BucketName": {
      "type": "string"
    },
    "SSLCertificateId": {
      "type": "string"
    },
    "SecurityGroupId": {
      "type": "string"
    },
    "SecurityGroupName": {
      "type": "string"
    },
    "SecurityGroupOwnerAlias": {
      "type": "string"
    },
    "SecurityGroups": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SecurityGroupId"
      }
    },
    "SetLoadBalancerListenerSSLCertificateInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "SSLCertificateId"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "LoadBalancerPort": 443,
        "SSLCertificateId": "arn:aws:iam::123456789012:server-certificate/new-server-cert"
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "LoadBalancerPort": {
          "$ref": "#/definitions/AccessPointPort",
          "description": "The port that uses the specified SSL certificate."
        },
        "SSLCertificateId": {
          "$ref": "#/definitions/SSLCertificateId",
          "description": "The Amazon Resource Name (ARN) of the SSL certificate."
        }
      },
      "description": "Contains the parameters for SetLoadBalancerListenerSSLCertificate."
    },
    "SetLoadBalancerListenerSSLCertificateOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of SetLoadBalancerListenerSSLCertificate."
    },
    "SetLoadBalancerPoliciesForBackendServerInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "InstancePort",
        "PolicyNames"
      ],
      "example": {
        "InstancePort": 80,
        "LoadBalancerName": "my-load-balancer",
        "PolicyNames": [
          "my-ProxyProtocol-policy"
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "InstancePort": {
          "$ref": "#/definitions/EndPointPort",
          "description": "The port number associated with the EC2 instance."
        },
        "PolicyNames": {
          "$ref": "#/definitions/PolicyNames",
          "description": "The names of the policies. If the list is empty, then all current polices are removed from the EC2 instance."
        }
      },
      "description": "Contains the parameters for SetLoadBalancerPoliciesForBackendServer."
    },
    "SetLoadBalancerPoliciesForBackendServerOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of SetLoadBalancerPoliciesForBackendServer."
    },
    "SetLoadBalancerPoliciesOfListenerInput": {
      "type": "object",
      "required": [
        "LoadBalancerName",
        "LoadBalancerPort",
        "PolicyNames"
      ],
      "example": {
        "LoadBalancerName": "my-load-balancer",
        "LoadBalancerPort": 80,
        "PolicyNames": [
          "my-SSLNegotiation-policy"
        ]
      },
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "LoadBalancerPort": {
          "$ref": "#/definitions/AccessPointPort",
          "description": "The external port of the load balancer."
        },
        "PolicyNames": {
          "$ref": "#/definitions/PolicyNames",
          "description": "The names of the policies. This list must include all policies to be enabled. If you omit a policy that is currently enabled, it is disabled. If the list is empty, all current policies are disabled."
        }
      },
      "description": "Contains the parameters for SetLoadBalancePoliciesOfListener."
    },
    "SetLoadBalancerPoliciesOfListenerOutput": {
      "type": "object",
      "properties": {},
      "description": "Contains the output of SetLoadBalancePoliciesOfListener."
    },
    "SourceSecurityGroup": {
      "type": "object",
      "properties": {
        "OwnerAlias": {
          "$ref": "#/definitions/SecurityGroupOwnerAlias",
          "description": "The owner of the security group."
        },
        "GroupName": {
          "$ref": "#/definitions/SecurityGroupName",
          "description": "The name of the security group."
        }
      },
      "description": "Information about a source security group."
    },
    "State": {
      "type": "string"
    },
    "SubnetId": {
      "type": "string"
    },
    "SubnetNotFoundException": {
      "type": "object",
      "properties": {},
      "description": "One or more of the specified subnets do not exist."
    },
    "Subnets": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/SubnetId"
      }
    },
    "Tag": {
      "type": "object",
      "required": [
        "Key"
      ],
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "The key of the tag."
        },
        "Value": {
          "$ref": "#/definitions/TagValue",
          "description": "The value of the tag."
        }
      },
      "description": "Information about a tag."
    },
    "TagDescription": {
      "type": "object",
      "properties": {
        "LoadBalancerName": {
          "$ref": "#/definitions/AccessPointName",
          "description": "The name of the load balancer."
        },
        "Tags": {
          "$ref": "#/definitions/TagList",
          "description": "The tags."
        }
      },
      "description": "The tags associated with a load balancer."
    },
    "TagDescriptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagDescription"
      }
    },
    "TagKey": {
      "type": "string",
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "minLength": 1,
      "maxLength": 128
    },
    "TagKeyList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TagKeyOnly"
      },
      "minItems": 1
    },
    "TagKeyOnly": {
      "type": "object",
      "properties": {
        "Key": {
          "$ref": "#/definitions/TagKey",
          "description": "The name of the key."
        }
      },
      "description": "The key of a tag."
    },
    "TagList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Tag"
      },
      "minItems": 1
    },
    "TagValue": {
      "type": "string",
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "minLength": 0,
      "maxLength": 256
    },
    "TooManyAccessPointsException": {
      "type": "object",
      "properties": {},
      "description": "The quota for the number of load balancers has been reached."
    },
    "TooManyPoliciesException": {
      "type": "object",
      "properties": {},
      "description": "The quota for the number of policies for this load balancer has been reached."
    },
    "TooManyTagsException": {
      "type": "object",
      "properties": {},
      "description": "The quota for the number of tags that can be assigned to a load balancer has been reached."
    },
    "UnhealthyThreshold": {
      "type": "integer",
      "minimum": 2,
      "maximum": 10
    },
    "UnsupportedProtocolException": {
      "type": "object",
      "properties": {}
    },
    "VPCId": {
      "type": "string"
    }
  }
}